[2018-03-07 16:15] jgraham commented on #8373
I don't think this is a valid issue. I'm pretty sure it's confusion resulting from the documentation of the stdlib using  "must" to mean "must (assuming you want valid output)", which we don't in a test situation.

[2018-03-07 16:15] #8373 closed

[2018-03-07 16:19] jgraham commented on #8368
I can't see why this should hang, but possibly in `tools/wptserve/wptserve/response.py::Response.iter_content` we should have a check that the content actually is iterable before we try to iterate over it and in case it is not raise a `ValueError`.

[2018-03-07 19:00] vinicius0197 commented on #9546
@gsnedders hm, for some reason the tests aren't being skipped in pytest anymore.

That's odd. You've mentioned that this may be a problem with the test being skipped on Travis (since the test iteself, as it's written, fails). I will take a look into that.

[2018-03-07 19:07] jdm opened #9903 "Remove the use of deprecated jwt addon for TravisCI"
From a recent TravisCI build:
[code]
I don't know what it's used for, but it looks like we should stop using it.

[2018-03-07 19:48] vinicius0197 commented on #9546
Two tests were skipped on the [log](https://travis-ci.org/w3c/web-platform-tests/jobs/339482779#0-3031) of commit `040654c78f3f021512a1f22b9b3b99925bd52d37` on Travis. I suspect one of those was `test_run_chrome`.

Is it possible to make Travis output a more precise log of which tests actually run? I think that would help detecting where the problem really is.

[2018-03-07 20:18] jgraham commented on #9546
You can edit the pytest options in the `tox.ini` file. If you pass in `--verbose` and `-s` you should get a lot more helpful output.

[2018-03-07 21:28] reuben commented on #7844
Nevermind, `./wpt run` without certutil works for me with Firefox Nightly, I was trying with release.

[2018-03-07 22:30] tantek opened #9910 "cascade-import-002.xht tests g,h,q,r depend on non-feature meta http-equiv=link"
Problem: [cascade-import-002.xht](https://github.com/w3c/web-platform-tests/blob/master/css/CSS2/cascade-import/cascade-import-002.xht) tests g,h,q,r depend on the browser supporting `<meta http-equiv=link>` which was officially [removed from HTML in 2010](https://www.w3.org/Bugs/Public/show_bug.cgi?id=9797). This causes compliant browsers to [show red for those tests](https://test.csswg.org/suite

[2018-03-07 23:08] dbaron opened #9912 "images not being copied correctly for background reftests in css/vendor-imports/mozilla/mozilla-central-reftests/background/"
Gerard Talbot [reported to www-style](https://lists.w3.org/Archives/Public/www-style/2017Sep/0051.html) the following problems:

[...]

I think these are some sort of build problem.  The images are
present in the repository in
css/vendor-imports/mozilla/mozilla-central-reftests/background/
right next to the tests; they're just not in the built test suite.
I'm not sure what's supposed to cause them

[2018-03-07 23:10] dbaron commented on #9912
Would moving them to a `support/` subdirectory fix this?

[2018-03-07 23:57] teh-f00l commented on #9879
Update: So I added the files from each directory in the event that a path is specified, but adding a directory argument in the command line is still a no-op. I am thinking this is because I am not able to make use filename strings taken from checking the directory(elements of the paths list are all strings, and when a common path isn't assumed, this can be a problem)

Also when a path is specified

[2018-03-08 00:35] dbaron commented on #9912
Also, whatever was wrong here, it seems like a lint should have caught it.

[2018-03-08 03:19] kritisingh1 commented on #9657
Hi. Can I take this up? Thank you!

[2018-03-08 05:29] #9026 closed

[2018-03-08 07:33] guest271314 opened #9918 "web-platform-tests repository is over 200MB - how to contribute to the repository at a device having low disk space?"
[web-platform-tests](https://github.com/w3c/web-platform-tests) repository is over 200MB. For devices with low disk space this can prevent a user from cloning the repository at the command line when attempting to contribute to this repository.

How to clone only a specific folder, for example, https://github.com/w3c/web-platform-tests/tree/master/speech-api, and create a pull request at the comman

[2018-03-08 14:54] gsnedders commented on #9912
https://github.com/w3c/web-platform-tests/blob/master/lint.whitelist#L387 seems like the lint did catch it, but was in the long tail of things already broken when we merged csswg-test into web-platform-tests.

[2018-03-08 15:08] gsnedders commented on #9090
Hmm, this seems to still fail, but seems to be a build issue:

[code]

That said, we shouldn't be asserting here because we shouldn't be trying to uninstall unconditionally when the install fails.

[2018-03-08 15:23] gsnedders commented on #9090
Oh the install failing there is my fault, but still, it shouldn't uninstall unconditionally.

And test_run_firefox and test_install_firefox still fail on macOS:

[code]

[2018-03-08 16:33] gsnedders commented on #9546
@vinicius0197 add `RUN_JOB=1` to the env section of the job in `.travis.yml`; by default only jobs with changes get run.

[2018-03-08 16:44] Cactusmachete commented on #9090
The one in test_run_firefox should be arising from the fact that find_binary() currently only looks for the firefox binary installed in PATH, not the one in _venv. Pretty sure I've fixed this in https://github.com/w3c/web-platform-tests/pull/9900 though.

The assertion error in test_install_firefox happens because firefox is installed to a different path in Mac than linux, so we'll have to put a c

[2018-03-08 17:23] Cactusmachete commented on #9090
In fact, test_run_firefox will fail for the same reason as install, even with the find_binary function fixed.

[2018-03-08 17:40] dbaron commented on #9912
So moving them to a `support/` subdirectory would fix it?

[2018-03-08 17:52] dbaron commented on #9912
(I'll fix that in https://bugzilla.mozilla.org/show_bug.cgi?id=1444136 and then merge it over to fix this.)

[2018-03-08 18:48] gsnedders commented on #9912
When you merge it over, please remove the lines in lint.whitelist for them.

[2018-03-08 20:55] Hexcles opened #9932 "Chrome stability checks should block PR merges"
We have allowed failures in the Chrome job on Travis for a while due to bugs/instability.

We should investigate the current issues (e.g. it seems like tests aren't even running on Chrome at all, but the job is always green), make it reliable, and flip the switch. This will greatly reduce the flakiness that Chromium importer has to deal with.

[2018-03-08 20:55] Hexcles commented on #9932
cc @foolip we talked about this earlier.

[2018-03-08 20:57] Hexcles commented on #9918
If memory/storage is a constraint, perhaps try making the changes on GitHub web UI?

[2018-03-08 20:58] Hexcles commented on #9932
A quick search gives these potentially related open issues: #5407 #6293

[2018-03-08 23:04] #9910 closed

[2018-03-09 06:35] TalbotG opened #9936 "[css-fonts] font-size: 'medium' value is the user's preferred font size"
CSS2.1 and CSS2.2 have this sentence:

"
The 'medium' value is the user's preferred font size and is used as the reference middle value.
"

15.7 Font size: the 'font-size' property
https://www.w3.org/TR/CSS21/fonts.html#font-size-props
https://www.w3.org/TR/CSS22/fonts.html#font-size-props

I am convinced that a lot of web authors do not know this.

Now, in CSS3 and CSS4, such sentence was removed

[2018-03-09 07:02] Honry opened #9937 "Reconsider naming rule of test suite directories"
It's been discussed a while from https://github.com/w3c/web-platform-tests/pull/9895#issuecomment-371072181

Existing naming rule for test suite directories is defined at http://web-platform-tests.org/introduction.html.

For the purposes of auto-updating IDL it's simpler to pick a name based on the URL( https://w3c.github.io) we're getting the IDL from rather than where a snapshot might live.

But

[2018-03-09 14:32] vinicius0197 commented on #9546
@gsnedders ok. I will try again later today

[2018-03-09 15:08] fred-wang commented on #6289
Fixed by https://github.com/w3c/web-platform-tests/pull/9228

[2018-03-09 15:08] #6289 closed

[2018-03-09 15:18] fred-wang commented on #7536
It seems that the testRunner instances are now only used for css-regions tests:

    find -type f -name '*.html' | xargs grep 'testRunner\.'
    ./css/css-regions/interactivity/hit-testing/mouse-events-002.html:			testRunner.notifyDone();
    ./css/css-regions/interactivity/hit-testing/mouse-events-002.html:			testRunner.dumpAsText();
    ./css/css-regions/interactivity/hit-testing/mouse-events-00

[2018-03-09 15:24] fred-wang commented on #7536
These tests also use eventSender and that seems to be on purpose:
https://github.com/w3c/web-platform-tests/blob/master/lint.whitelist#L961

Maybe this can be closed then?

[2018-03-09 16:25] guest271314 commented on #9918
@Hexcles How to use GitHub web UI to remove a commit from a [pull request](https://github.com/w3c/web-platform-tests/pull/9642)? Or does the existing pull request need to be cancelled and resubmitted without the erroneous commit?

[2018-03-09 17:37] guest271314 opened #9947 "Add test for HTMLMediaElement.captureStream() where the media element src is set to a MediaSource object and the captured MediaStream is passed to MediaRecorder"
While attempting to use `MediaSource` set at `src` of an `HTMLMediaElement` for the purpose of creating a single `webm` video from multiple media fragments of any MIME type (without using a library; e.g., [`ts-ebml`](https://github.com/legokichi/ts-ebml) to set the duration of the recorded `webm` media file) found that the browser tab consistently crashes (at [plnkr](https://plnkr.co)) when `Media

[2018-03-09 17:58] guest271314 commented on #9947
Chromium issue https://bugs.chromium.org/p/chromium/issues/detail?id=820489

[2018-03-09 22:50] Hexcles commented on #9918
Ahh, sorry, AFAIK, this can't be done on GitHub web UI... The easiest way is of course a force push, but if you can't find a device, perhaps recreating the PR is a reasonable workaround.

[2018-03-09 23:08] foolip opened #9953 "Agree on policy on reverting"
https://github.com/w3c/web-platform-tests/pull/9718 was a bit of non-fun, and I believe we need to agree on and document when we revert things and how fast it should be. This was recently also an issue with https://github.com/w3c/web-platform-tests/pull/8614, where the time between breakage and fix was longish, although nobody then considered reverting AFAICT.

So:
- Roughly what kinds of breakage

[2018-03-09 23:20] foolip commented on #9953
What I think personally:
- Stuff that makes Travis fail (https://github.com/w3c/web-platform-tests/issues/9304)
- Stuff that makes `wpt run` fail on any browser and any platform that people are actively trying to run frequently and more reliably. (wpt.fyi)
- Stuff that breaks running wpt in browser engine repos that import wpt frequently (Chromium, Gecko, hopefully more)

As for what to bypass, Tr

[2018-03-09 23:26] foolip commented on #9953
@mrego @gsnedders @jgraham @plinss @fantasai @frivoal @r12a @Ms2ger

[2018-03-09 23:26] Hexcles commented on #9903
I believe we use Travis' JWT (JSON Web Tokens) addon to store the secrets for Sauce Labs. See this commit 66a5cc86a9f8e21e8d0e7c5b9657120ccf19461b.

We need to find an alternative, as the [official announcement](https://blog.travis-ci.com/2018-01-23-jwt-addon-is-deprecated) says:

which means all the Sauce jobs (Edge & Safari) will no longer work after April 17.

The post also says:

so... what no

[2018-03-09 23:46] TalbotG commented on #9936
Please go to

https://github.com/w3c/csswg-drafts/issues/2430

instead. Thanks.

Closing this issue

[2018-03-09 23:46] #9936 closed

[2018-03-09 23:50] #9947 closed

[2018-03-09 23:51] foolip commented on #9903
I guess the setup with short-lived tokens made sense for Sauce because they don't trust their users' input anyway, so at worst someone could get some free access to Sauce. But, yeah, that's weird, I can see why it's going away.

I think we have to move to a model where the secret isn't available to Travis either, because it (1) won't work for PRs created from other repos and (2) the many people wi

[2018-03-09 23:55] foolip commented on #9953
@boazsender @mariestaver, I imagine you don't disagree with reverting for the "actively trying to run frequently and more reliably" case?

[2018-03-09 23:58] foolip commented on #9903
To resolve the immediate problem, we should just turn off the Sauce runs. They take up time, aren't blocking, and *generally* are too noisy to actually take seriously for investigating regressions. I will admit it was useful once, though:
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12047069/

Don't know if it led to a bug that wasn't already fixed in Edge, but it *might* h

[2018-03-10 00:37] foolip commented on #9903
OK, https://github.com/w3c/web-platform-tests/pull/9954 worked. @jgraham, can you review that? I don't think we'll figure out how to get reliable results for PRs from Edge and Safari very soon, and I definitely like like having the runs is currently a net negative, the JWT deprecation notwithstanding.

[2018-03-10 13:41] foolip commented on #7536
Those cases should also be fixed ideally, using whatever kind of automation is required (@kerliuk) but I don't think we need to keep this issue open to track that, it's the same with most lints.

[2018-03-10 13:41] #7536 closed

[2018-03-10 15:48] kriti21 commented on #7570
I want to work on this.

[2018-03-10 18:41] foolip commented on #9879
The fix for this might be similar to what @domenic asked for in https://github.com/w3c/web-platform-tests/issues/2206. If it fixes that case as well, please close that one too :)

[2018-03-11 16:14] guest271314 commented on #9918
@Hexcles How to delete the erroneous commit at fork of this repository to avoid pulling the commit again?

[2018-03-12 00:32] teh-f00l commented on #9879
will do!

[2018-03-12 02:26] #9918 closed

[2018-03-12 11:16] jgraham commented on #9903
Right, the problem with Travis is that there's no way to keep infromation private in a way that ensures it can't be accessed by someone who can change the job configuration, which is everyone since it's fully defined in-tree. That's why only in-repo PRs get access to secure varaibles.

An alternative wouldn't involve travis at all; it would just learn about the PR from a webhook, do whatever, and

[2018-03-12 11:50] jgraham commented on #9953
So I think when changes to infrastructure break the ability to run tests it may be appropriate to revert changes if doing so provides the fastest path to resolving the situation. There are all sorts of edge cases here like changes that fix previously broken A but break previosuly working B, where there's some decision required as to whether A or B is more important.

I think one could formulate a

[2018-03-12 12:29] gsnedders commented on #5403
@mrego https://gist.github.com/gsnedders/6721716f6f90380ac6b76acbdbee91a2; I have no idea whether we'll standardise on 800x600 or 600x600, FWIW.

[2018-03-12 12:48] mrego commented on #5403
Hey, thanks for the link. I'll give it a try at some point.

So I thought 600x600 was agreed before, if not what I have seen is that Chromium an WebKit use 800x600, dunno what happens in Firefox or Edge.
If everybody uses already 800x600 that could be the right value to standardize.

[2018-03-12 14:07] ricea opened #9972 "Prevent slow tests from landing"
Chromium developers are spending a lot of time triaging test flakiness caused by tests that are simply too slow. I just triaged https://bugs.chromium.org/p/chromium/issues/detail?id=820334 and https://bugs.chromium.org/p/chromium/issues/detail?id=815286 back-to-back.

As a rule of thumb, a test can take 10 times longer on a bot than it takes to run locally.

It would be nice if the CI check reject

[2018-03-12 15:21] gsnedders commented on #5403
@mrego Firefox just uses wptrunner so it does use 600x600. I have no memory of what Edge does (@thejohnjansen?).

[2018-03-12 15:43] Hexcles commented on #9972
If a test takes like 5 seconds on Chromium's testing bots, I suspect the test would take much longer on Travis CI and hence be very flaky (timeouts), so if we fix #9932 (block PR merging on Chrome stability checks) then we should see some immediate improvements. cc @foolip

[2018-03-12 16:13] gsnedders commented on #5646
I *thought* we had agreed somewhere that the build system and test harness should be changed to put links with unknown anchors in an "unknown" section, which would make this less important, but I can't find any documentation of that.

[2018-03-12 16:29] foolip commented on #9903
Setting up an alternative would indeed run into those kinds of problems and require people to be responsive to breakage. In an ideal state, the browser-neutral bits would be built in the open and maintained by the same stakeholder who effectively maintain wpt infra now, and any browser-specific bits that *aren't* just open infrastructure would have to be maintained by the browser teams, with some

[2018-03-12 16:31] Hexcles commented on #9972
I looked a bit closer at the two examples. It seems like they haven't been changed for a while (they are always slow). I don't know why they became slower and flaky only recently. Perhaps just some side effects of other non-related Chromium or infra changes, or just bad luck.

@foolip and I discussed a bit. So here are my ideas of we could do in upstream to alleviate the problem for different fail

[2018-03-12 16:41] gsnedders opened #9979 "wptrunner_infrastructure test job getting no results from Chrome but passing"
See e.g. https://travis-ci.org/w3c/web-platform-tests/jobs/352408702

From end:

[code]

We install the `google-chrome-unstable` package at version 66.0.3359.22-1, which I believe to be >= 63.0.3239.0.

It's also sad that this test job passes when we get zero results.

[2018-03-12 16:41] gsnedders commented on #9979
cc/ @jgraham @foolip @kereliuk

[2018-03-12 16:43] jgraham commented on #9972
This isn't a chromium-specific problem, we have had lots of cases where tests are intermittent for want of a `<meta name=timeout content=long>` in gecko infrastructure. Probably a large number of such tests just got disabled.

Generally the situation improved since the travis infra was set up, since as noted travis is just as slow as browser infra, at least hardware wise (we don't run debug builds

[2018-03-12 16:49] #9912 closed

[2018-03-12 16:51] Hexcles commented on #9972
Yes, most of the timeout tests I've seen belong to this case. So you are saying it might be fine to reject these tests @jgraham ? (That means the test authors either have to rewrite the test or wait until at least one browser has implemented the feature before merging it.)

And what do you think about 2.b in my last comment? E.g. if a test uses 80% of the timeout to finish (and consistently so), s

[2018-03-12 16:56] jgraham commented on #9972
Sorry, I mean I don't think we want to reject such tests. If they are the majority case we probably don't want to reject-on-timeout.

I think that warning if the tests are over or close to the timeout is a good idea.

[2018-03-12 17:02] mariestaver commented on #9953
@foolip Our policy is broadly to "revert when something breaks a run that previously worked".  But as both you and @jgraham point out, there are a lot of potential edge-cases here!  So far it's made the most sense to resolve those cases in conversation, and maybe with a group decision if it's a particularly tricky case (like "this breaks A but fixes B, which is more important", for example).

We'r

[2018-03-12 18:51] #9903 closed

[2018-03-12 21:30] #9544 closed

[2018-03-12 22:39] #9657 closed

[2018-03-13 01:10] teh-f00l commented on #9879
I think I resolved the issue, but do we want to allow multiple directories to be passed into the command line? Or is only one enough?

[2018-03-13 01:22] domenic commented on #9879
For my purposes, a single directory suffices.

[2018-03-13 01:48] vinicius0197 commented on #9546
@gsnedders hm, still getting the same message: https://travis-ci.org/vinicius0197/web-platform-tests/jobs/352635350

[2018-03-13 03:00] foolip commented on #9903
@jdm, thanks for reporting! If you didn't we might have had a bad day on April 17 with all PRs blocked until we could figure it out...

[2018-03-13 03:35] foolip commented on #9972
Some kind of advice or warning that depends on the time to run seems like it would be a good idea, so the first step would be to collect that information. Is there already a flag that causes the time to be written to the results of `--log-wptreport`?

[2018-03-13 03:36] foolip commented on #9972
For tests that time out everywhere, I think that that could be rolled into https://github.com/w3c/web-platform-tests/issues/7475. It's useful to highlight these cases as an FYI just like it is for new failing tests, but PR authors and reviewers have to judge if that makes sense or not.

[2018-03-13 03:37] foolip commented on #9972
@ricea, what do you think the priority of fixing this is? Is it *the* most annoying thing about using WPT now, or is there anything else you'd rather see fixed?

[2018-03-13 03:37] foolip commented on #9972
I'm adding the roadmap label so that we get back to it when planning the next bucket of infra work, but right now nobody is signed up to do it.

[2018-03-13 03:39] foolip commented on #7475
@mariestaver, does it still make sense to have this assigned to @mattl, or should we revisit later?

[2018-03-13 03:40] foolip commented on #7444
@lukebjerring, this is the issue I mentioned today, that we could end up incidentally fixing if we need to run wpt serve for an arbitrary commit for testing that commit against an OS like Android.

[2018-03-13 03:51] foolip commented on #6193
On http://w3c-test.org/tools/runner/index.html I still see "Manifest generation failed" in the console. But given that nobody said this was part of their workflow, I'll downgrade the priority of this.

[2018-03-13 06:11] ricea commented on #9972
@foolip For me personally, it's the most annoying thing, yes.

[2018-03-13 11:00] jgraham commented on #9546
It looks like something is failing in the `tools/ci/before_install.sh` script; perhaps the `git submodule update` because `origin/master` isn't a valid ref. I think the only thing in that script that might be significant in your case is starting `xvfb` so you could replace the body of that script with

[code]

and see if that improves  things?

[2018-03-13 11:02] jgraham commented on #9972
`--log-wptreport` doesn't include the runtime; we could extend the format to include that. Alterntively the raw report does include the runtime as the time difference between the test start and test end actions.

[2018-03-13 17:59] kriti21 commented on #9874
@akshitac8 Are you still working on this one ?

[2018-03-13 18:15] jgraham commented on #9874
Sorry, I somehow missed the comments here. I think this isn't a trivial issue and probably not suitable as a first bug because I currently don't know what's required to land this.

[2018-03-13 18:45] akshitac8 commented on #9874
yes @kriti21, Its taking a little time. sorry for the inconvience:)

[2018-03-13 20:13] csnardi opened #10012 "Reland IGNORED PATH lint"
See e.g. https://travis-ci.org/w3c/web-platform-tests/jobs/352986017:

    testharness_runner.html: testharness_runner.html matches an ignore filter in .gitignore - please add a .gitignore exception (IGNORED PATH)

I think this might be because https://github.com/w3c/web-platform-tests/blob/master/tools/lint/lint.py#L151 checks if `path` is excluded but the exclusion rule is `!/testharness_runner.

[2018-03-13 20:23] TalbotG commented on #9912
Where should images go? Into the /support subdirectory? Please answer.

[2018-03-13 20:24] TalbotG commented on #9912
Is the lint supposed to detect and report broken links? Please answer.

[2018-03-13 20:39] TalbotG opened #10013 "[css-backgrounds] 4 box-shadow tests that can not fail"
http://wpt.live/css/css-backgrounds/box-shadow-inset-spread-without-border-radius.html

http://wpt.live/css/css-backgrounds/box-shadow-inset-without-border-radius.html

http://wpt.live/css/css-backgrounds/box-shadow-outset-spread-without-border-radius.html

http://wpt.live/css/css-backgrounds/box-shadow-outset-without-border-radius.html

In those 4 box-shadow tests, if you toggle off the box-shado

[2018-03-13 20:46] TalbotG opened #10015 "[css-backgrounds] 12 background-origin tests with issues"
http://wpt.live/css/css-backgrounds/background-origin/origin-border-box.html

http://wpt.live/css/css-backgrounds/background-origin/origin-border-box_with_position.html

http://wpt.live/css/css-backgrounds/background-origin/origin-border-box_with_radius.html

http://wpt.live/css/css-backgrounds/background-origin/origin-border-box_with_size.html

http://wpt.live/css/css-backgrounds/background-origi

[2018-03-13 20:49] TalbotG opened #10016 "Where should images go? Into the /support subdirectory?"
Where should images go? Into the /support subdirectory? Please answer.

[2018-03-13 21:10] dbaron commented on #9912
I don't know who you're demanding answer your questions, but what I know is this:

Moving the images into a support/ subdirectory did fix the problem here, so it seems that's the answer.  The lint did detect (see above) that there were images *not* in a support directory; I don't know of a lint that would have detected the broken links since, in the web-platform-tests repository, the links weren't

[2018-03-13 21:50] TalbotG opened #10017 "Lint tool should report broken links and documentation should reflect this"
http://web-platform-tests.org/writing-tests/lint-tool.html
does not indicate that the lint tool will report broken links. I strongly
believe lint tool should report broken links and the documentation
should be updated to indicate this, to make this explicit.

[2018-03-13 22:17] gsnedders commented on #10012
bisect points at b3b4332e7aaf7b027c11be8a0750b9136bb90a70

[2018-03-13 22:32] gsnedders commented on #10012
I have no idea how your PR failed but others didn't. But hey… :/

Will reassign to @jdm so he can try and reland after reverting.

[2018-03-13 22:34] csnardi commented on #10012
@gsnedders I'm assuming it's another example of only linting what is changed; since I changed the lint whitelist I assume that linted everything.

[2018-03-13 22:37] gsnedders commented on #10012
@csnardi Oh, I missed that the whitelist was changed in your commit. Yes, that'd do it. Still, #9902 should've had the lint run against everything (because of lint tool changes) so it's a bit weird.

[2018-03-13 22:46] gsnedders opened #10021 "Lint tool changed adding failing lint without Travis CI catching it"
See  #10012. b3b4332 landed on master, from #9902, having passed on Travis CI (the lint job took almost seven minutes, so it presumably ran), despite `./wpt lint --all` failing on both b3b4332 and at the top of the branch in #9902.

[2018-03-14 00:15] foolip commented on #10017
@TalbotG, do you mean a definition of broken that's similar to https://validator.w3.org/checklink, or what kinds of problems do you want to catch?

[2018-03-14 00:17] #6203 closed

[2018-03-14 02:04] TalbotG commented on #10017
Philip,

I meant a broken link to an image `<img src="...">` or to a script `<script src="...">` or to replaced content. https://validator.w3.org/checklink will check linkage to image and script btw.

This 10017 issue is a followup-to a comment made by D. Baron in issue 9912. Apparently, and if I understand all this correctly, the lint tool will report broken links in the tests submitted into web-

[2018-03-14 02:23] TalbotG commented on #10016
General Test Guidelines, Support Files
http://web-platform-tests.org/writing-tests/general-guidelines.html#support-files
should state that images should go into a /support subdirectory so that links to images `<img src="/support/anImage.png" alt="Image download must be enabled">` do not break in the build CSS testsuite.

[2018-03-14 02:35] TalbotG commented on #9912
David, thank you for your answer and time.
I have asked in Issue 10016 that such guideline or requirement be stated in
http://web-platform-tests.org/writing-tests/general-guidelines.html#support-files

I originally thought that tests requirements applying to web-platform-tests repository were good and sufficient for the building of CSS test suite but they are not. A correct linkage in tests in web

[2018-03-14 11:50] jgraham opened #10026 "Add test execution time to wptreport.json format"
This was suggested in # #9972.

Basically the execution time is the timestamp of the `test_end` event minus the timestamp of the `test_start` event. So to fix this look in `tools/wptrunner/wptrunner/formatters.py`, add a `time` field to the data and populate it with the execution time per test.

[2018-03-14 11:51] manikishan commented on #10026
Can I work on it?

[2018-03-14 11:54] jgraham commented on #10026
Yes.

[2018-03-14 13:27] foolip opened #10028 "Travis logs for Firefox jobs make it hard to see how far in the 10 cycles it ran"
In https://github.com/w3c/web-platform-tests/pull/8922 the Firefox job failed, but it's very hard to figure out from the logs how far in the 10 iterations it got:
https://travis-ci.org/w3c/web-platform-tests/jobs/352958109

[2018-03-14 13:37] foolip commented on #7660
@jgraham, as you can see, this is quite a common occurrence, requiring regular manual intervention, and our current setup isn't robust enough to build https://github.com/w3c/web-platform-tests/issues/7475 on top of. Are you open to revisiting the idea of running fewer iterations if we know we're going to exceed the timeout?

[2018-03-14 14:04] jgraham commented on #7660
So I'm not opposed to that, but it is a limitation of the current system that we should look to address in a better way.

But this issue seems to be about the "10m without output" problem which is different to the entire run timing out and requires  a different solution.

[2018-03-14 14:48] Hexcles commented on #9979
Yes I also noticed this when filing #9932; this is a blocking issue for disallowing Chrome failures (i.e. #9932).

I'll look into it this week.

[2018-03-14 14:48] foolip commented on #7660
I think most of the PRs I've linked to here are were actual timeouts close to 50 minutes, at least https://travis-ci.org/w3c/web-platform-tests/jobs/352958109 ended with just "The job exceeded the maximum time limit for jobs, and has been terminated".

Some of the timeouts have probably been to verbose logging (now fixed) and maybe I've misattributed some other things, but plain hangs that result

[2018-03-14 15:58] #10012 closed

[2018-03-14 16:03] mariestaver commented on #7475
@foolip we do look at this regularly, but it's been repeatedly deprioritized in favor of having stable, frequent runs.  If things go well with the current changes, we might be able to look at this by the end of the month...but given the issues that have been cropping up, I don't want to make promises.  However, I assume that even if it can't be addressed in March, we still want it on our roadmap,

[2018-03-14 17:01] jgraham opened #10035 "Stopped using wrappedJSObject in marionette executor."
Per @andreastt this may be unnecessary now

[2018-03-14 17:02] jgraham opened #10036 "Look for common implementation of WebDriver-like executors"
With the refactor of the `Protocol` object, it's starting to look like we could have a common `TestHarnessExecutor` differing only in the `Protocol` object.

[2018-03-14 19:22] kritisingh1 commented on #10035
@jgraham can I take this up? Thanks!

[2018-03-14 21:13] bzbarsky opened #10042 "Should have tests for [HTMLConstructor]"
I just realized today that `HTMLDialogElement` does not have `[HTMLConstructor]` in Firefox today, and apparently no test caught this.

Ideally we would check this in idlharness, but that requires being able to map from interfaces to tagnames so we can define the right custom elements, right?  @domenic @annevk

[2018-03-14 23:52] foolip commented on #9953
@jgraham, I agree, I'd like to have zero lints that only apply to css/, no external build system and a https://wpt.fyi/ that fulfills the needs of CSS folks. But AFAICT nobody is really spending much time working towards that goal, so what do we do in the meantime?

@plinss, do you have something like an importance-ordered list of things that this repo and https://wpt.fyi/ would have to support in

[2018-03-14 23:57] foolip commented on #10036
I have had the same thought. Would this apply to RefTestExecutor as well?

[2018-03-14 23:58] foolip commented on #10036
@kereliuk, WDYT?

[2018-03-14 23:59] foolip commented on #10026
This would be great!

[2018-03-15 03:07] vinicius0197 commented on #9546
@jgraham Yes, it worked! At least it is builds now.

I'm receiving the following output:

[code]

I've added` --verbose `to the` tox.ini` file according to [this](https://docs.pytest.org/en/latest/customize.html#adding-default-options) page. I will investigate this again tomorrow.

[2018-03-15 10:38] annevk commented on #10042
Yeah, though Apple objected to such an API per https://github.com/w3c/webcomponents/issues/566#issuecomment-371049783.

It seems that `custom-elements/builtin-coverage.html` tests this though, albeit conditionally which seems bad.

`dom/nodes/Node-cloneNode.html` also contains a map of local names to interfaces, which we could maybe reuse in some way rather than have that list in various places.

[2018-03-15 12:05] bzbarsky commented on #10042
Sure.  We would basically need to hardcode a list or something.

Ah.  That one, when run in Firefox automation, doesn't set the "enable HTMLDialogElement" pref, which is why it wasn't catching the bug.  This is good enough for my purposes, thank you!

[2018-03-15 12:05] #10042 closed

[2018-03-15 13:10] jgraham commented on #10036
Yes, it would apply to reftest executors, but they aren't fully covered by the `Protocol` abstraction yet.

[2018-03-15 14:52] gsnedders commented on #9546
@vinicius0197 I feel like this is ever less deserving of the "good first issue" label, but also yay! :)

[2018-03-15 16:20] gsnedders commented on #10016
@TalbotG

In general, it doesn't matter.

In the CSS testsuites (i.e., within `css/`) specifically, they need to be in an adjacent `support` directory to the test file or in one of the top level directories.

Your second comment here, is this not just the documentation side of #10017?

[2018-03-15 16:39] gsnedders commented on #10017
In general, we don't check links exist (primarily because this is relatively expensive, and impossible in general, and we care somewhat about the performance of the lint); it's relied on reviewers to catch it (and likely vendors noticing that the link is broken if it fails as a result).

That said, we do check that support files in `css/` are within a `support` directory (though obviously there's

[2018-03-15 16:43] gsnedders opened #10052 "Make all shared resources cacheable by default"
We should probably make everything `common`, `images`, `fonts`, `media`, and `resources` cacheable by default.

See also @jugglinmike's issue with Sauce performance and sending mplus-1p-regular.woff over the tunnel hundreds of times.

[2018-03-15 17:44] gsnedders opened #10053 "Extra CSS testsuite requirements"
#9718 broke the CSS WG's test harness. See discussion in https://github.com/w3c/web-platform-tests/pull/9718#issuecomment-371682332, #9940, and #9953, as well as [from IRC](https://w3.logbot.info/testing/20180309#c384617).

The status quo is that we have a number of lints to keep the CSS test harness (and the build system it relies on working), however these do not suffice to ensure everything kee

[2018-03-15 18:46] gsnedders commented on #10053
I think there's rough consensus across many of us that keeping the extra rules isn't workable longer term, because it stops us from doing large-scale cleanup of the CSS testsuite (most obviously, getting rid of the large number of duplicate files within it that are currently required all to be changed simultaneously), and I think 4 above is the right option (2 and 3 seem particularly unlikely, giv

[2018-03-15 19:19] TalbotG commented on #10016
Many tests have broken links to images in built CSS testsuites. Why do you think this happens? Doesn't that matter?

Does "adjacent support directory" mean "../support/foo.png" ?

[2018-03-15 22:06] mrego commented on #10053
We've been breaking the CSS Grid Layout test suite without noticing every now and then (see #9071 & #9089).
Basically until someone manually catches the issue in https://test.csswg.org/.

There are some special things on the CSS tooling that one can easily oversight/forget/miss when writing/reviewing a new test:
* You can use relative paths for `.css` files
* But you cannot use them for `.js` or `

[2018-03-15 23:38] fantasai commented on #10053
The key functionality that I've been relying on lately is the CSSWG test harness's ability to

- run manual tests (including manual reftest comparison--to work around antialiasing bugs) in most-needed order
- record results during those manual runs, and integrate them with imported results from automated harnesses
- report and analyze the test results, to help us draw up implementation reports, an

[2018-03-16 02:17] plinss commented on #10053
@gsnedders your solution #3 actually shouldn't be very hard. Removing the file format conversions and output restructuring from the build should be straightforward. The only thing the build would really need to produce would be the manifest files to feed the test harness. But getting the basic needs met by the normal wpt infrastructure would be my preference as well (#3 could be an interim step).

[2018-03-16 02:32] dbaron commented on #10053
Relative paths to the same directory didn't work for me (but `support/` did), and needed to be fixed in #9912.  (That's the sort of rule that's easy to mess up.)

[2018-03-16 08:04] mrego commented on #10053
Yes, I was mentioning that, it's quite annoying. But that's needed as you cannot use `../` in the paths.
BTW, right now 1446 tests under `css/` uses `testharness.js` which is linked as an absolute path:
[code]

Yes, but if you decide to have a subfolder for spec section (like we have in grid layout, e.g. `css/css-grid/grid-model/`), then you need to duplicate the `support` directory and helper fil

[2018-03-16 08:53] mrego commented on #10053
And checking the repository I can find more relative paths, and different outputs in test.csswg.org:
* http://test.csswg.org/harness/test/css21_dev/single/abspos-zero-width-001/format/html4/
vs
* https://test.csswg.org/shepherd/testcase/::07e433f30a88/abspos-zero-width-001/name/abspos-zero-width-001/

*harness* cannot find the `../support/abspos-zero-width-001.png` file but *shepherd* can.

Also I

[2018-03-16 08:54] kriti21 commented on #9741
I want to work on this issue. @liamquin can you please elaborate what change is needed here. I do not understand what is **spec** in your comment above.

[2018-03-16 12:09] gsnedders opened #10072 "Test DOM XPath behaviour with root element adjacent nodes"
See https://github.com/w3c/web-platform-tests/pull/10055#issuecomment-373666278

See domxpath/document.tentative.html for a similar test. The DOCTYPE and comment are easily enough tested in HTML; the PI case is probably easiest to do by adding it through the DOM.

[2018-03-16 14:00] gsnedders commented on #10016
Because the majority of people writing tests (and those automatically running the tests) only look at the unbuilt tests, where they're not broken.

It matters only really insofar as the test harness's results matter, which primarily matter for advancement to Proposed Recommendation. #10053 has discussion about this.

No, `support/anImage.png`; a parent directory from the test doesn't work.

[2018-03-16 14:20] gsnedders commented on #10053
From @fantasai's https://github.com/w3c/web-platform-tests/issues/10053#issuecomment-373556697:

I don't think we should be redefining what pass/fail mean for reftests (nor should we expect people to manually run them; there's no reason for people to manually run the majority of the testsuite, because that's just a waste of time). If tests are failing because of anti-aliasing, we should give "fail

[2018-03-16 14:24] gsnedders commented on #10053
FWIW: I think manual running tests is mostly a distraction, because nobody is really going to run many of them, and we should work towards having as much as possible automated so we have vendors actually running them regularly (and yes, there's things that are unlikely to get automated, but they're few and far between).

[2018-03-16 15:34] plinss commented on #10053
Yeah, Shepherd works against the source repo, while the harness works against the built test suites, a bit of apples and oranges.

It's been a while since I've been in the harness code, but I think the key to solving that is to have the manifest files include the path to the reference file as part of the reference id, then just remove the "reference/" prefixes in the harness. (It'll have to use a

[2018-03-16 15:46] jgraham commented on #10053
If reftests are failing but the feature is implemented correctly, we need to prioritize fixing that by some means. We certainly shouldn't sweep this under the carpet by manually overriding the results, because that's not a solution that vendors can reasonably use.

There are several possible approaches to improving things here; the most obvious is allowing specified fuzziness in reftests (N  pixel

[2018-03-16 16:27] dbaron commented on #10053
I think it's valuable to not require the server for the large numbers of tests that don't need it.  This allows things like developing the tests elsewhere and then copying them into the wpt repo at the end, or other patterns that are often useful, such as allowing reftests developed for other reftest systems to be used as wpt reftests and vice-versa.  It also sometimes allows debugging techniques

[2018-03-16 17:02] #9979 closed

[2018-03-16 17:03] gsnedders commented on #2669
So this proved to be much more painful than I expected, and I spent most of February fighting fires.

However, #9258 renamed `external_host` → `host` and `host` → `host_ip` which got rid of the most awkward part, and allowed me to write #10078 quickly this afternoon which means this finally is actually easy (and hopefully like a four-line patch).

[2018-03-16 17:04] Hexcles commented on #9932
#10064 has been merged. There should be no other infra issues AFAIK. I'd like to watch the Travis jobs for a few days before flipping the switch to make Chrome stability check blocking again.

[2018-03-16 19:08] kriti21 commented on #9741
@liamquin Please review my PR above and guide me if I have got it right. Thanks :)

[2018-03-16 19:13] teh-f00l commented on #8368
Hope y'all don't mind me working on this one!

[2018-03-16 20:26] svgeesus commented on #10053
I have also found that relative paths which go up for fonts (../) cause the font to not be loaded as this seems to trigger a not-same-source origin. At least when viewing from local disk.

[2018-03-16 20:31] svgeesus commented on #10053
Testing APIs is straightforward, automatic results are returned. testing CSS can sometimes do that, but not always; CSS is primarily used to produce a visual result, which can sometimes be automatically compared to a reference (but not always); and thus there is a need to manually run tests.

Those of us who do, frequently, manually run test appreciate being able to do so, and having the nice, aut

[2018-03-16 20:31] dbaron commented on #10053
For fonts, that should apply to a subdirectory too, since each directory is considered a separate origin.

[2018-03-16 20:37] svgeesus commented on #10053
I think that the rest of WPT does not have the requirement that the CSS tests have, of actually linking to the specific section or sections of the spec(s) being tested, is a bug and reduces the value of the WPT. If a test author can't be bothered to document, or perhaps does not even know, what precisely they are testing then the test is at best suspect (causing extra work for others to figure out

[2018-03-16 20:41] svgeesus commented on #10053
Just to note that I also very much value those features, and use them daily.

[2018-03-16 21:47] TalbotG commented on #10016
Geoffrey, this should not happen: this is not desirable. Ideally, if a test is not broken when (or while being) submitted to web-platform-tests repository, then you want that same test to behave in the same way in the built testsuite. Ideally, the brokenness of a test should be the same, in both the web-platform-tests repository and in the built testsuite . This should be a reasonable and a cohere

[2018-03-17 08:58] kriti21 commented on #8370
Could you please give a little more detail on what needs to be done here? @gsnedders @foolip

[2018-03-18 03:16] vinicius0197 commented on #9546
@gsnedders it's a bit hard to debug what's going on with Travis. I tried adding a new environment variable for pytest to show debug info, but same things as above happens: https://travis-ci.org/vinicius0197/web-platform-tests/jobs/354897859

So I tried following the hint it gives and added a new line to .travis.yml:
`install: travis_wait mvn install`

So it would wait a little more before escaping

[2018-03-18 10:03] Cactusmachete commented on #9090
I think we can mark this as closed since https://github.com/w3c/web-platform-tests/pull/9900 was merged.

[2018-03-18 11:26] kritisingh1 commented on #10072
I'm taking this up. Thanks :)

[2018-03-18 15:37] csnardi commented on #5526
I think https://github.com/w3c/web-platform-tests/commit/28cb17e68938f7abe4104c93d9af6bd9a65320dd and https://github.com/w3c/web-platform-tests/commit/9c0a4b5434db0077f37837c6fd94aa72705ddba5 added same/cross-origin testing for insertRule.

[2018-03-18 16:13] #9090 closed

[2018-03-18 18:02] akshitac8 commented on #9874
Hello,
I wanted to confirm that this [file](https://github.com/w3c/web-platform-tests/blob/18ce941a0840daaa8a17fbe54449c6acc092b442/tools/ci/check_stability.py) has to be modified?

[2018-03-19 04:46] guest271314 opened #10088 "Test requestFrame()"
The specification states

[MDN documentation](https://developer.mozilla.org/en-US/docs/Web/API/CanvasCaptureMediaStream/requestFrame)

See https://bugzilla.mozilla.org/show_bug.cgi?id=1446864

Code

`const canvasStream = ctx.canvas.captureStream(60);`

Implementations

Firefox Nightly 60

`console.log("requestFrame" in canvasStream, "requestFrame" in canvasStream.getVideoTracks()[0]); // true fals

[2018-03-19 09:54] mrego commented on #10053
Yes that's faster to review, but then you might end up with, for example, 10 duplicated helper files that start to diverge... IMHO that's not good thinking on the maintenance of those helper files in the repository and it'd be better to have just one copy of them.

[2018-03-19 12:28] gsnedders commented on #8370
@kriti21 My idea was to add a new server substitution (see http://web-platform-tests.org/writing-tests/server-features.html), something like `{{data_url['foo.png']}}`. That said, I don't think there's consensus that this is what we want to do this, so I'd recommend against working on it now.

[2018-03-19 12:30] gsnedders commented on #5469
https://github.com/w3c/web-platform-tests/issues/8370 was one idea to fix these

[2018-03-19 12:45] gsnedders commented on #9546
That hint is Java specific; I've seen us randomly time out there before in the previous build, maybe just try retrying that. We should probably just let `test_wpt` hit the remote server and deal with the potential flakes (given we're already reliant on GitHub to download the repo in the first place).

[2018-03-19 14:37] kriti21 commented on #8370
Alright I will look for some other issue. Thanks @gsnedders

[2018-03-19 14:44] gsnedders opened #10095 "Rearrange writing-modes tests by mode"
`css/css-writing-modes` has over a thousand files in a single directory. This is… somewhat unwieldy.

If we split things based on the filename excluding numbered suffixes and extensions, we're down to only a few hundred; if we group everything by htb/vlr/vrl/slr/srl we have five directories and then can subdivide them (and that makes it easier for implementations that don't support sideways writin

[2018-03-19 14:54] #9877 closed

[2018-03-19 15:36] gsnedders opened #10097 "Move server substitutions to whitelisting config variables"
Currently the server-side substitutions expose the entire config; we should just whitelist those that make any sense to reference mostly so we don't need to worry about accidentally breaking tests when changing the config (and hopefully make it harder to forget to update it).

[2018-03-19 18:08] domfarolino commented on #8654
I definitely see the motivation of wanting console output, but I don't see a feasible way of capturing its output at all. Of course we could wrap `console` methods in hooks, and store their arguments somewhere, but that doesn't get us close to actually capturing the *output*, thoughts?

[2018-03-20 00:29] frivoal commented on #10095
Grouping by htb/vlr/vrl/slr/srl  doesn't make much sense to me. That would separate tests that are variants of the same thing. Some kind of grouping would probably be nice, but I suspect it would need to be based on a manual classification to make sense.

[2018-03-20 04:31] liamquin commented on #10095
Can we also move some of the tests to a writing-modes-4 directory? I can make a pull request to do that if it's appropriate - right now writing modes 3 has tests that don't pass 'cos they're really level 4 tests, which is holding it back.

[2018-03-20 10:24] smaug---- opened #10108 "The instructions to run the server on Windows don't work"
I particular
python wpt make-hosts-file >> %SystemRoot%\System32\drivers\etc\hosts
seems to create some odd looking hosts file, with empty space between characters or something

[2018-03-20 14:31] gsnedders commented on #9694
#9391 has landed now

[2018-03-20 14:31] #9694 closed

[2018-03-20 15:48] gsnedders commented on #8581
@mikewest How do you want to enforce the "just for cookie tests" side? A lint that allows it only in `cookies/`? That said, given the tests can be run in any order, is there actually much advantage of limiting it to just `cookies/`? Ultimately, any arbitrary cookie test could've run before it and set any arbitrary cookie, so I'm not sure what the advantage of limiting it to just cookie tests is?

[2018-03-20 16:00] mikewest commented on #8581
I wasn't thinking there would be any technical constraint for non-cookie tests. It might be nice to have a non-technical constraint (like, naming it 'for-cookies' or 'this-is-mikes-domain-go-away' or 'i-promise-this-is-a-cookie-related-test' or 'cookies-only' or 'cookies-are-the-best-really' or 'tests-that-do-not-use-cookies-should-not-use-this-domain-but-could-i-guess-if-they-really-wanted-to').

[2018-03-20 17:57] #10035 closed

[2018-03-20 19:02] #9932 closed

[2018-03-20 19:17] fantasai commented on #10095
@liamquin There is no level marker on the directory; the tests are sorted by their metadata; and I'm not aware of any L4 tests that are tagged as L3.

[2018-03-20 21:44] liamquin commented on #10095
@fantasai - thank you; i'd been given to understand it was an issue - i'll check again. But i didn't know about the metadata and now i do.

[2018-03-20 21:52] Hexcles opened #10114 "ci_resources_unittest hangs when running locally"
The tox setup doesn't seem to work at all. The test passes in most builds simply because the test is usually deemed unnecessary to run.

I've spotted a few issues and will try to send a fix PR.

cc @lukebjerring who informed me of the breakage. A failing example from his PR: https://travis-ci.org/w3c/web-platform-tests/jobs/353342172

[2018-03-20 23:17] lukebjerring commented on #10114
The example you link is a successful execution of the tests (and fails because I changed functionality).

To clarify, the tox execution doesn't work at all locally (reproducibly broken on your machine too).

[2018-03-21 00:56] Hexcles commented on #10114
Thanks for the correction, Luke. Sorry I didn't read the logs carefully enough. So it seems like it does work on Travis, but it's not working locally (even after I fixed another bug I found, see below). The Python process spawns up Geckodriver & Firefox successfully, but then hangs with 100% CPU usage.

@lukebjerring the error we saw earlier when running the test locally was indeed a bug. The test

[2018-03-21 02:39] vinicius0197 commented on #9546
@gsnedders hm, it keeps giving the same error (after retrying).

Could you clarify a little bit on what `test_wpt` should do (about hitting the remote server and dealing with flakes)? Not sure if I really understood that.

[2018-03-21 11:15] jgraham commented on #10114
[code]

So apparently it's not totally broken locally. Can you attach gdb to the process when it hangs and use `py-bt` to figure out what it's doing (you may need some setup  to get the python extensions working). Alterntaively can you run it under strace to get some idea of what happened  just before it hung?

[2018-03-21 13:16] lukebjerring commented on #10114
tox issue described is in `resources/test`

[2018-03-21 15:34] gsnedders commented on #9546
@vinicius0197

Remove `--no-download` from `test_wpt.py`.

[2018-03-21 16:54] nils-ohlmeier opened #10126 "RTCDataChannel-bufferedAmount.html are flawed"
@soareschen I looked at why RTCDataChannel-bufferedAmount.html fails on all browser according to https://wpt.fyi/webrtc/RTCDataChannel-bufferedAmount.html even bufferedAmount is implemented at least in Firefox.

I'm pretty sure the problem is the fact that the test calls send() and then expects the bufferedAmount to be exactly the size of the bytes written by the send call. But because the test me

[2018-03-21 17:36] lgrahl commented on #10126
What you can check is whether the buffer increases and decreases. I suggest sending 64 KiB (since all browsers are able to cope with that) in a very tight loop (maybe up to a total amount of ~4 MiB). It will always be a race but that should be sufficient to reliably trigger buffering even in a 0-RTT environment (which you have).

Basically, during that loop, if `bufferedAmount <= 0` is true all th

[2018-03-21 17:39] Hexcles commented on #10114
Turns out the issue is really in `resources/test/wptserver.py`, namely the SSL context.

Explicitly specifying ssl.PROTOCOL_TLSv1 isn't really a good idea, as it actually involves system OpenSSL. In fact, I don't think we even need to check the HTTPS port of wptserve at all. As long as the HTTP port is up and running, wptserve should be ready.

[2018-03-21 18:07] gsnedders commented on #9007
@foolip I'm pretty sure this is all ultimately the same issue, just the unsafe fork stuff breaking everything and randomly crashing.

[2018-03-21 18:07] gsnedders commented on #6998
There's now more discussion in #9007 so closing in favour of that.

[2018-03-21 18:07] #6998 closed

[2018-03-21 18:08] gsnedders opened #10128 "Rewrite wptrunner to Python 3"
We have a number of issues with wptrunner that would be resolved by moving it to Python 3.

Most obviously #9007, which would be solved as the underlying CPython issue has been fixed on Python 3.

I recall there being other multiprocessing related issues that would be solved in Python 3, and we'd also potentially be able to move away from multiprocessing and to asyncio (if we could drop Py2 suppor

[2018-03-21 20:08] Hexcles commented on #10128
If we decide to do this, are we keeping other pieces Py 2/3 compatible? Namely manifest & serve (and their dependencies), which are used in Blink infra. And I suspect serve may have to be Py2-compatible because of the large number of custom CGI scripts?

[2018-03-21 20:41] gsnedders commented on #10128
@Hexcles Right, `serve` is practically impossible to move away from Py2 (okay, not impossible, but it would be a huge amount of work to do and make it correct). `manifest` and `lint` should in theory already be Py2/3, and there's no reason to change that.

[2018-03-22 09:55] alvestrand opened #10140 "Identity provider mock should succeed on Firefox"
this test:
webrtc/RTCPeerConnection-getIdentityAssertion.html
fails on Firefox with the message "Failure message: promise_test: Unhandled rejection with value: object "IdpError: Load failed: 2153394151"" according to the results at wpt.fyi.

According to the testing we did at the IETF hackathon, it should be possible to at least load the file successfully, so it would be good to get this test to u

[2018-03-22 13:40] lukebjerring opened #10143 "'wpt install firefox driver' fails for OSX"
`requests.exceptions.SSLError: HTTPSConnectionPool(host='github.com', port=443): Max retries exceeded with url: /mozilla/geckodriver/releases/download/v0.20.0/geckodriver-v0.20.0-macos.tar.gz (Caused by SSLError(SSLError(1, u'[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:661)'),))`

Likely due to OpenSSL version.

FWIW,
    python -c "import ssl; print(ssl.OPENSSL_VERSIO

[2018-03-22 13:50] jgraham commented on #10143
Right, I don't know what we could do here other than print a more specific error. The problem is that OSX ships with an outdated version of OpenSSL that is no longer supported by GitHub. You need to install Python via some other means to use it.

[2018-03-22 13:53] jgraham commented on #10128
I don't know if it's possible to run Py3-only in Firefox CI yet, but I would expect us to move to supporting both, with opt-in to correct multiprocess behaiour on Python 3.

I'm not convinced that moving to asyncio is necessaraily a good idea, but i haven't thought about  it much.

[2018-03-22 14:08] lukebjerring commented on #10143
I mostly opened this issue for discoverability/search reasons if others encounter the same thing.
This issue/error is essentially a dead end. There's a few possible options:

- More specific error
- instructions on where to get geckodriver manually
  - Also, we should (and might already?) bypass the install when geckodriver is already on the path
- instructions on installing python2.7 via somethin

[2018-03-22 14:22] marimeireles commented on #10026
Hey, @manikishan
Are you still working on this?
Thanks.

[2018-03-22 14:46] foolip opened #10144 "resources/test broken with Firefox stable (59.0.1) on at least macOS"
As reported by @lukebjerring in https://github.com/w3c/web-platform-tests/pull/10100#issuecomment-375328006, resources/test is broken on master.

Confirmed on Mac after installing geckodriver from https://github.com/mozilla/geckodriver/releases

[2018-03-22 14:53] foolip commented on #10144
https://github.com/w3c/web-platform-tests/issues/10114 may be related, although it doesn't hang for me.

[2018-03-22 14:55] foolip commented on #10144
Actually on macOS there are failing tests going back as far as commit eb03407caedc4847867be415db35e1bba5bdb74b.

[2018-03-22 14:56] foolip commented on #10144
@jugglinmike, is there a quick way to reset the expectations to match the actual results?

[2018-03-22 14:58] foolip commented on #10144
Created https://github.com/w3c/web-platform-tests/pull/10145 to see what the failures are like when nothing has really changed.

[2018-03-22 16:50] manikishan commented on #10026
No,sorry I would not be able to work on it now.
Sorry.

[2018-03-22 16:52] lgrahl commented on #10126
IIRC Firefox just lands the data directly in usrsctp's internal buffer if there is space. It continues doing that until it receives `EAGAIN`. To me that is an implementation detail I would not like to specify unless it is a functional requirement and I don't see that here (unless you count probing this for an exact value as a functional requirement).

To me this sounds just like: _What you haven't

[2018-03-22 16:52] marimeireles commented on #10026
I could try to fix this, if you don't mind.

[2018-03-22 17:00] jgraham commented on #10026
Go for it.

[2018-03-22 17:11] nils-ohlmeier commented on #10126
I agree with @lgrahl here that blocking network operations until JS has reached certain check points would be pretty ridiculous. That could lead us then to protocols issues of not being able to respond on the wire to message from the other side, because the network stack is blocked locally on waiting for a JS microtask to finish.

As a counter example: does sending over web sockets ever block and

[2018-03-22 20:18] #10114 closed

[2018-03-22 20:28] jdm commented on #9050
@kritisingh1 There are some tests for the createImageBitmap API in https://github.com/w3c/web-platform-tests/tree/9405e4944bcd0198ea86c761bbcdfba4f9830024/2dcontext/imagebitmap, but they only run in the regular Window environment. However, this API is also available inside of [Web Workers](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API), so it would be good to run those tests in

[2018-03-22 20:43] vinicius0197 commented on #9546
The build is now throwing a lot more helpful output. Travis is catching two errors (in `test_run_firefox` and `test_run_chrome`), but it's a different error and I suspect it's some kind of misconfiguration.

https://travis-ci.org/vinicius0197/web-platform-tests/jobs/357075576

It's getting the following error:

`ERROR: InvocationError: '/home/travis/build/vinicius0197/web-platform-tests/tools/wpt/

[2018-03-22 20:45] Hexcles commented on #10144
So there are potentially two problems:

1. #10114 happens on some platforms, and has been fixed by me.
2. #10143 is the one that's most likely happening on Mac (and unfortunately isn't easy to fix).

Could you confirm you are seeing similar errors as in #10143? If yes, we can close this issue.

[2018-03-23 02:54] vinicius0197 commented on #9546
I've tested running Travis with other commits checked out and it was fine. But it gives problems when I'm using:

[code]
On `pytest.ini` file, as in this build (with a recent commit checked out): https://travis-ci.org/vinicius0197/web-platform-tests/jobs/357204501

Without the verbose option, Travis takes too long running `test_wpt` and times out.

[2018-03-23 06:06] manikishan commented on #3703
Can I work on it?

[2018-03-23 08:37] Ms2ger commented on #9050
See also http://web-platform-tests.org/writing-tests/testharness.html#multi-global-tests

Note that we won't be able to run all the tests in a worker scope, since the DOM elements (canvas, video, img, image) are not exposed there. You could include those tests if `self.GLOBAL.isWindow()` is true.

[2018-03-23 08:39] kritisingh1 commented on #9050
@Ms2ger some of the tests in 2dcontext/imagebitmap/ fail in chrome. Is that expected or known?

[2018-03-23 09:26] foolip commented on #10144
I actually installed geckodriver manually (per resources/test/README.md) so I don't think it's either of those issues.

However, now I do remember that I had to use Firefox Nightly on Linux last time I ran these tests, so it might be the same problem on macOS.

[2018-03-23 09:34] foolip commented on #10144
OK, the tests pass on macOS with `tox -- --binary=/Applications/FirefoxNightly.app/Contents/MacOS/firefox`.

When it failed I was using Firefox 58 and Firefox Nightly is 61. When I checked the Firefox stable version it updated itself to 59, but it still fails.

@jgraham, which version of Firefox is required for these tests?

[2018-03-23 09:36] foolip commented on #10144
My Linux workstation is busted and awaiting rescue, can someone else see if it currently work on Linux and with which Firefox versions?

[2018-03-23 10:02] foolip commented on #10128
In https://github.com/w3c/web-platform-tests/issues/9007#issuecomment-368972309 @jgraham listed a "high effort (i.e. good)" option that still seems less effort and more conservative than requiring Python 3. Are there known bugs in Python 2 that will be never be fixed and for which we have no workaround?

@youennf, in WebKit infra, do you use the system-installed Python, or what would a dependency

[2018-03-23 10:06] soareschen commented on #10126
I guess I should clarify that by blocking I don't mean that no parallel tasks may be performed while JS is executing a microtask. What I mean is that the local states in the JS land should not be modified in parallel by another thread/process when a microtask is executed.

The current spec does not stop buffers being sent to the network in parallel to the microtask. What it is saying is that there

[2018-03-23 10:41] soareschen commented on #10140
I briefly debugged it and here are the main two causes I find:

- In the spec the second argument to `setIdentityProvider` is of type `RTCIdentityProviderOptions`, however in Firefox it expects the second argument to be a string as the protocol. Otherwise the `RTCIdentityProviderOptions` object gets converted into `"[object Object]"` and loads the wrong URL. We cannot work around this unless we ei

[2018-03-23 11:35] gsnedders commented on #10128
@foolip Only Gecko uses wptrunner, so WebKit infra isn't relevant here.

[2018-03-23 12:47] Ms2ger opened #10156 "Add test for Document::rootElement"
https://svgwg.org/svg2-draft/struct.html#__svg__SVGDocument__rootElement

[2018-03-23 13:37] #7492 closed

[2018-03-23 13:59] foolip commented on #10128
Sure, that's true. How would we deal with `wpt manifest` being Python 2 and `wpt run` being Python 3? Maybe `wpt` already shells out so it doesn't matter what language the individual commands are implemented using?

[2018-03-23 14:29] Hexcles commented on #10128
@foolip other pieces like manifest & lint are Py 2/3 compatible, so they can be imported and called from both Python 2 (e.g. Blink infra scripts) and Python 3 (e.g. wpt run). And `wpt serve` is Python 2 only and runs in a separate process.

[2018-03-23 14:41] Hexcles commented on #10144
@foolip we pretty much always use the cutting-edge geckodriver and Firefox Nightly, including this suite. If there's a mismatch of versions, geckodriver may complain and fail to connect (which might be what you saw).

I think I've actually fixed this very issue in #10116. `ci_resources_unittest.sh` should download Firefox Nightly to your HOME and pass the path to tox. But if you are directly using

[2018-03-23 18:03] lukebjerring opened #10162 "idlharness.js throws string, testharness asserts only objects are thrown"
Fix is simple: Define an IDLHarnessError type and throw those (with `toString` being the message).

So, without this turning into a rant about the gorgeous framework that is _testharness.js_ :
From https://github.com/w3c/web-platform-tests/blob/master/resources/idlharness.js#L586 :

    throw "Partial interface " + parsed_idl.name + " with no original interface";

From https://github.com/w3c/web-p

[2018-03-23 18:46] lukebjerring commented on #10162
Looks like this issue/confusion is WAI, and is more to do with an ambiguous choice of method name. `assert_throws` is more `assert_throws_dom_exception`, asserting that the DOMException's code matches that which is provided.

To generalize to expecting `idlharness.js` to error for a given input, we'll need to special-case an `IdlHarnessError` type.

[2018-03-23 22:47] foolip commented on #9057
Is this about replying on servers to download foodrivers and the like, not about the tests themselves pointing to external servers? How would one reduce the former meaningfully?

[2018-03-24 01:03] lgrahl commented on #10126
Having read the description a million times now, your interpretation makes more and more sense. What doesn't make sense to me is the requirement for it being that way. I had a quick look and this sentence is just copied from the WebSockets API.

In any case we should consider rephrasing that description since it has been misinterpreted by at least Randell Jesup, @nils-ohlmeier and me.

[2018-03-24 01:24] vinicius0197 commented on #9546
Ok, seems like Travis is catching the error now: https://travis-ci.org/vinicius0197/web-platform-tests/jobs/357629969#L4550

[2018-03-24 01:30] emilio opened #10165 "css/css-tables/table-model-fixup-2.html is racy, plus doesn't reflect the spec or implementations."
This was brought to my attention because of https://bugzilla.mozilla.org/show_bug.cgi?id=1445164.

The test is failing intermittently on Firefox, but I see the same intermittent behavior in WebKit too (when the system is under high load in particular). Furthermore, all browsers agree on failing different tests, yet this test doesn't reflect the changes made in https://github.com/w3c/csswg-drafts/i

[2018-03-24 01:38] emilio commented on #10165
Note that there are other tests that are very similar to that one which are in theory racy. In practice these don't fail intermittently because by the time we get to them the image has already loaded and is in the cache from the first `img` test (the one in the comment above).

[2018-03-24 02:46] dbaron commented on #10165
/cc @FremyCompany who added it in f27c868360442481c799ed9deeec6eaee665f789.

[2018-03-24 04:04] FremyCompany commented on #10165
Or I can use test_promise and wait for the image to be loaded before running the actual test.
That's probably even safer.

[2018-03-24 14:11] foolip commented on #7434
@kereliuk this will be resolved by https://github.com/w3c/web-platform-tests/pull/10113, right?

[2018-03-24 14:21] foolip commented on #9005
Since it's already possible to disable using CSS isn't that good enough? Otherwise, would we invert the default just for testing?

[2018-03-24 15:30] jgraham commented on #10165
The way this test is writted is pretty weird in general; it doesn't seem necessary to depend on `offsetTop` forcing layout if you just load everything and do the tests from the `onload` handler.

[2018-03-24 15:56] foolip commented on #7435
@kereliuk this is still on track for "soon", right? (Doing the rotation.)

[2018-03-24 16:02] gsnedders commented on #9005
@foolip I think the suggestion is to invert the default, yes. In principle, anywhere where it'd make a difference in a QoI issue (and something ideally browsers would fix), but it's not a requirement for conformance.

If we don't invert the default, we'll have people playing whack-a-mole changing tests where their impl fails tests because of QoI issues as a result. That said, to invert the default

[2018-03-24 17:42] foolip commented on #9042
Hmm, this hasn't come up as a problem since I filed this and testing for absence on non-secure contexts feels like a nice-to-have, so I'll downgrade the priority of this.

[2018-03-24 17:52] TimvdLippe commented on #9879
This was fixed in #9995 but not closed.

[2018-03-24 18:00] dbaron commented on #9005
I don't think this makes sense in general.  In general reftests and their references should have a known set of differences to be able to assert that those differences produce equivalent rendering.  I think we should be able to make reasonable assumptions about things like the same text being kerned the same way multiple times, and I think given that, there might be reasons to either (a) disable k

[2018-03-26 11:55] kereliuk commented on #7434
Yep :)

[2018-03-26 12:18] foolip commented on #9879
Thanks @TimvdLippe!

@domenic, can you see if it works for you, and reopen if not?

[2018-03-26 12:18] #9879 closed

[2018-03-26 12:20] foolip commented on #10162
`assert_throws` can also be used as `assert_throws(new TypeError, () => { .... })`, so the behavior depends on the type of the first argument.

[2018-03-26 12:50] gsnedders commented on #3703
@manikishan Go right ahead!

[2018-03-26 12:56] gsnedders commented on #9057
@foolip Yes. I was envisioning mocking out the download side of things and being able to test things in isolation from external servers.

[2018-03-26 13:24] foolip commented on #9005
@mstensho, perhaps you can comment on the necessity of disabling kerning in tests, and whether inverting the default would be an improvement?

[2018-03-26 13:26] foolip commented on #10144
OK, so it's not the case that we expect Firefox N+ to always work, but rather that Firefox Nightly is the only one that will be kept working? In that case the documentation should say that nightly is required, and something should blow up if one tries running the tests with anything else. Would that make sense?

[2018-03-26 13:59] ahmadmiz commented on #8581
#10166

[2018-03-26 14:29] lukebjerring commented on #10162
Sure, but the `idlharness.js` code is throwing a string, not a type error (or any other error) which means testing expected errors from `idlharness.js` itself is cumbersome.

[2018-03-26 14:37] jgraham commented on #10144
Geckodriver is generally backwards compatible I think. @andreastt would know if there are exceptions to that.

There is another problem though; wptrunner sets an environment variable that causes gecko to crash on external network connections. Making this work requires setting a carefully curated set of prefs to disable all the Firefox features that try to connect to the network. We download the pr

[2018-03-26 15:07] foolip commented on #10162
Uh, you're right, that is weird, I was just reacting to "assert_throws is more assert_throws_dom_exception".

[2018-03-26 15:16] gsnedders commented on #5752
This was done recently in #10004.

[2018-03-26 15:16] #5752 closed

[2018-03-26 15:19] Hexcles commented on #10144
Sounds reasonable.

The expectation (and hopefully also the reality) is that if one uses `wpt run` (without extra arguments) or scripts like `ci_resources_unittest.sh`, Firefox Nightly is always downloaded and used by the scripts (otherwise we have a bug). The only chances one might use stable/older Firefox are: 1. use `wpt serve` and open the browser themselves; 2. explicitly pass the binary path

[2018-03-26 15:24] gsnedders opened #10177 "Overhaul web-platform-tests documentation"
Given we don't have an issue for this and it appears in the Chrome team's Ecosystem Infra team's [Q1 OKRs](https://docs.google.com/document/d/1ojlLDiRruI4e95Z7JQ10JQPRMiQHd_40rBkYCL6IJqw/edit#heading=h.eklwjw99hd2u):

See also: https://github.com/w3c/csswg-drafts/issues/2438 and all the [label:docs](https://github.com/w3c/web-platform-tests/issues?q=is%3Aissue+is%3Aopen+label%3Adocs) issues.

@boa

[2018-03-26 15:36] jgraham commented on #10144
At present `wpt run firefox` with no extra arguments won't download a browser, although it will prefer a previously downloaded one if present.

We could change that, but it seems more surprising than using the one on `$PATH`. I would prefer a solution that worked for more Firefox versions e.g. downloading the correct prefs or making it possible to disable the crash-on-network feature.

[2018-03-26 15:47] lgrahl opened #10178 "Data channel ordered 'null' case"
A test exists which does the following: In case a new data channel is created with the `ordered` option set to `null`, assume `dc.ordered === false`.

I can't see this being specified and would therefore declare it as an implementation detail. The implementation may or may not interpret the value as a boolean directly - an implicit cast may or may not happen.

[2018-03-26 15:52] lgrahl commented on #10178
Regarding the spec: We could define the `null` case more properly. But if anything I would expect an exception due to a type mismatch.

[2018-03-26 16:04] lgrahl opened #10179 "Data channel 'id' -1 and 65536 cases"
`-1` is out of the scope of unsigned, `65536` is out of the scope of u16. Therefore they do not belong in the spec conformance test. A `TypeError` is not guaranteed to happen.

Having said that, I agree that it's useful to test these edge cases. But there are a lot more places where these would need to be done.

[2018-03-26 18:24] dbaron commented on #9005
How would you detect the existing tests where making sure the kerning is equivalent is part of what the existing test was trying to test?

[2018-03-26 18:53] Hexcles commented on #10144
No, but I've fixed `tools/ci/ci_resources_unittest.sh` to wire everything up correctly.  Use that to run the resource test suite.

If you prefer to run tox directly, you'd need to pass the binary path explicitly.

[2018-03-26 19:01] foolip commented on #9005
@mstensho, does the status quo also work for you,  i.e., disabling on a per-test basis as in https://github.com/w3c/web-platform-tests/pull/9093?

[2018-03-26 19:03] foolip commented on #10144
@Hexcles, do you think https://github.com/w3c/web-platform-tests/blob/master/resources/test/README.md should be updated to steer people towards the more well supported way of running the tests?

@lukebjerring, when you were trying to figure out how to run these tests, which documentation did you find and what did you end up trying first as a result?

[2018-03-26 20:29] Hexcles commented on #10144
I didn't actually know that file existed... Opened #10184.

BTW, on a second thought, `tools/ci/ci_resources_unittest.sh` isn't necessarily the "recommended" way, because it tries to install dependencies in ways that some users might not like, so I mention it as an "alternative" method instead.

[2018-03-26 21:04] foolip commented on #10144
Thanks @Hexcles, that's quite enough for me to not be confused next time I think.

[2018-03-26 21:32] gsnedders commented on #10053
You still have to update the support file for other tests, though, because all the support files must be byte-for-byte identical.

[2018-03-26 21:33] gsnedders opened #10185 "Make it possible to run tests from file:///"
This is something that has come up before, and came up again in #10053. It's come up various times before, mostly from WebKit people. So, for the sake of unifying discussion, here's one issue to rule them all.

This means:

 * No absolute paths in tests.
 * No referring to files further up the directory tree (given this violates the SOP for file:/// in some UAs).
 * No referring to a least some fi

[2018-03-26 21:34] gsnedders commented on #10053
I've opened https://github.com/w3c/web-platform-tests/issues/10185 for the ability to run tests from file:///, given that's come up again here, and we really ought to have one single issue for that rather than having it spilt across ten million places.

[2018-03-26 21:46] mstensho commented on #9005
Status quo works fine. Probably even better than fiddling with default behavior actually, when I come to think of it. @dbaron has a point, and following the principle of least surprise is a good thing.

[2018-03-26 22:50] dbaron commented on #10185
So I think it's worth clearly distinguishing issues related to the same-origin-policy (affecting fonts) from issues affecting the ability to load resources at all (inability to load things that can be loaded cross-origin, like scripts, style sheets, and images).

In Gecko, different directories are considered separate origins, so you can't load downloadable fonts (which are subject to the same ori

[2018-03-26 23:00] gsnedders commented on #10185
Okay, it might only be the SOP that's affected by going up a directory and not anything else. I had the impression from somewhere it was more general.

That said, there seems to be even less interop when it comes to the SOP on file:/// than I thought there was, which makes it awkward if we want to make it possible to run tests from file:/// (especially given it's undefined and UAs have slowly been

[2018-03-27 01:20] marcoscaceres opened #10187 "Evaluate which Payment Request tests can use testdriver"
Given:
http://web-platform-tests.org/writing-tests/testdriver.html

We need to go through all the manual tests and see which could use testdriver.js to get a "trusted" click event. Downside will be that running the tests from the web make these kinda useless... though we could reengineer them to work on both the web (as manual tests) and in an automated fashion with testdriver.html.

We would basi

[2018-03-27 02:15] gsnedders commented on #9007
It sounds like `no_proxy='*'` is a better idea than `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`, given it should have much fewer repercussions.

[2018-03-27 06:51] jgraham commented on #10185
I am pretty strongly aganst this. Basing interoperability testing on an intentionally non-interoperable part of the platform where the rules are not well understood and are subject to change at any moment seems extraodinarily ill-advised. It also imposes significant burden on test authors that typically doesn't exist for proprietary tests (even when these are run over file:// one generally only ha

[2018-03-27 06:56] annevk commented on #8371
I learned from @jyasskin that HTTP/2 header values can contain 0x0A (and presumably 0x0C and 0x00 too). It'd be good to have tests to see what that does.

https://github.com/w3c/web-platform-tests/issues/7274 is another thing I'd like to test, though that's mostly about what happens to HTTP/1 features that HTTP/2 dropped in APIs that support both.

[2018-03-27 11:44] foolip commented on #10185
I'm also not very optimistic that we could make this work. But I don't think it's really a policy question, what we need is a concrete proposal that someone would be willing to drive. Would the goal be to ensure that *all* tests can run over file: URLs and enforce it using lints, or just to allow *some* tests to be run over file: where there is no real dependency on an HTTP server? Without more sp

[2018-03-27 11:45] foolip commented on #9007
@gsnedders, what's `no_proxy`?

[2018-03-27 11:46] foolip commented on #9005
@gsnedders, I think this is a WontFix, can you close it if you agree?

[2018-03-27 13:39] #9005 closed

[2018-03-27 14:01] rsolomakhin commented on #10187
[code]

[2018-03-27 14:02] rsolomakhin commented on #10187
Is that how it works?

[2018-03-27 14:31] marcoscaceres commented on #10187
Could very much be. If so, then we could collect all the buttons and click one at a time, with hopefully not needing to touch the existing tests.

[2018-03-27 18:27] jugglinmike commented on #10052
That issue is covered in the following presentation: https://bocoup.github.io/presentation-wptd-parallelization/

[2018-03-27 22:47] thejohnjansen opened #10201 "Test names for some webaudio tests are not consistent (breaks reporting)"
If you look at this test file: https://github.com/w3c/web-platform-tests/blob/master/webaudio/the-audio-api/the-iirfilternode-interface/iirfilter-getFrequencyResponse.html

It seems as though the test names are generated based on the performance of the test itself. This means that test names are always coming up different, and there is no way to compare one run to the next (or one browser to the n

[2018-03-28 05:46] liamquin commented on #9741
@kriti21no, the working group has to decide on what to do in this case with the range property. Falling back to English outside the range is insane, and also unsupported by actual browsers.

[2018-03-28 09:07] annevk opened #10208 "trickle.py is broken"
While playing around with something today I noticed that trickle.py (nested in xhr/ and fetch/ somewhere) doesn't actually flush and instead waits for EOF before sending the content.

You can make it flush by increasing the chunk, e.g., chunk * 100.

We should make that change and see how it affects the test results.

[2018-03-28 09:28] jgraham commented on #10208
FWIW you might be better off using the trickle pipe i.e. load a resource with something like `?pipes=trickle(10:d2:r2)` meaning "Send 10 bytes, wait 2s, repeat the previous two steps until the resource is fully sent"

[2018-03-28 09:47] annevk commented on #10208
That might be interesting. I also now wonder if what I observed was instead an HTML parser thingy and not a server thingy. Where the HTML parser wants at least a 1000 bytes or so.

[2018-03-28 10:00] jgraham commented on #10208
Yeah, it looks like `flush()` is called implicitly unless you disabled that, so I think the code as written should work.

[2018-03-28 11:38] foolip commented on #10201
There are results for this here, and they look pretty funny:
https://wpt.fyi/webaudio/the-audio-api/the-iirfilternode-interface/iirfilter-getFrequencyResponse.html?sha=ecd2c46c1a

[2018-03-28 11:58] foolip commented on #10201
@rtoy, this test came from https://chromium-review.googlesource.com/c/chromium/src/+/909306, can you take a look at whether the test names are deterministic?

[2018-03-28 12:59] foolip commented on #2281
@gsnedders, it's been quite a while since this was opened. You added the acid tests and this would be a bit similar in that it doesn't target any single spec.

I'm inclined to say that we should just not do this, unless multiple browser vendors say that they'd like the shared test coverage, or something.

[2018-03-28 13:00] foolip commented on #3757
Ping @DLehenbauer @thejohnjansen @patrickkettner. Seems like this is an issue for Microsoft and not a concrete thing we can do in upstream WPT, so should we close this issue in favor of specific changes you might require?

[2018-03-28 13:26] foolip commented on #5775
It sounds like the rough consensus on ASI is that reviewers can/should ask for more semicolons, or at least that the "minimal semicolons that work" style isn't preferred.

On the linting then, having gone on and on to @lukebjerring and @rwaldron about how you can't safely parse and reserialize HTML and get the same bytes back, I tried https://github.com/BenoitZugmeyer/eslint-plugin-html to see if

[2018-03-28 13:30] foolip commented on #5789
For Chromium we have https://chromium.googlesource.com/chromium/src/+/master/docs/testing/layout_tests_tips.md which I think is pretty great, written by @pwnall.

@gsnedders, where would we put something similar in the upstream docs?

[2018-03-28 13:32] foolip commented on #5063
I'll call this a dupe of https://github.com/w3c/web-platform-tests/issues/9230, where we arrived at the conclusion that we should rename it to NOTIFY.

That's quite the opposite of being serious, and I don't know how to make the triage of any given label really work. I proposed something for a few labels on public-test-infra today, but I wonder if it'll fly:
https://lists.w3.org/Archives/Public/pu

[2018-03-28 13:32] #5063 closed

[2018-03-28 13:41] lukebjerring commented on #10128
Resolving this would also fix https://github.com/w3c/web-platform-tests/issues/10143

[2018-03-28 13:46] foolip commented on #9937
I think that the minimum effort thing we could do is to document that when https://www.w3.org/TR/* is not equal to https://w3c.github.io/*/, then either is acceptable and we don't rename from one to the other unless there's a good reason.

@alvestrand, in the case of mediacapture-streams vs. mediacapture-main, do you expect that the discrepancy will remain forever, or that one of them will be rena

[2018-03-28 13:48] foolip commented on #6266
One very concrete way of going about this is to say that if anyone is able to add a test to https://github.com/w3c/web-platform-tests/tree/master/infrastructure/assumptions and get it passing on all the configurations tested by wpt.fyi, then it's OK to use it. At least that is how I'd go about it.

[2018-03-28 13:49] foolip commented on #10108
@thejohnjansen, I assume you've had some better luck with this, do you know what's missing from the docs?

[2018-03-28 13:50] foolip commented on #5294
@gsnedders, is this about cross-linking some bits of documentation? Which bits?

[2018-03-28 14:25] foolip commented on #10028
@jgraham, I noticed this again in https://github.com/w3c/web-platform-tests/pull/10191. Seems like the test names are never printed, is that surprising? Where would be the right place to add it?

[2018-03-28 14:28] foolip commented on #7853
@thejohnjansen, is this something you've encountered and worked around?

[2018-03-28 14:31] foolip commented on #7255
I think that the long-ish term fix here would be that the status checks by themselves are useful and we don't need a separate comment. The remaining case would be FYI comments like https://github.com/w3c/web-platform-tests/issues/7475, but those would happen once the results are done and useful.

@jgraham, do you recall why we've decided to not update the original comment?

[2018-03-28 14:37] foolip opened #10212 "idlharness.js has weird annotations"
See https://github.com/w3c/web-platform-tests/pull/10164/files#r177126747

If these annotations are used for anything, we can delete them.

@Ms2ger, do you know what they are?

[2018-03-28 14:41] smaug---- commented on #10108
Actually, I guess there is something wrong with the script. Since at least I got hosts file with
space between each character in domain names. Is the script creating utf16 output or something.

[2018-03-28 14:59] jdm commented on #10212
I strongly suspect they are custom code folding region markers for some editor, but I haven't been able to determine which one.

[2018-03-28 15:12] Ms2ger commented on #10212
I have the same suspicion. Maybe some brand of emacs? Either way, given that Aryeh is not really around anymore, I wouldn't mind if they were removed.

[2018-03-28 15:34] foolip commented on #10212
OK, if nobody knows what they're for, let's say they're up for removal!

[2018-03-28 15:34] gsnedders commented on #10052
Even allowing a 304 Not Modified response would be a large improvement, I'd think?

We probably can't do it generally for everything given I expect it'd break XHR/Fetch tests (cc/ @annevk).

[2018-03-28 16:13] annevk commented on #10052
Yeah, this would have to be done quite carefully and it needs to be well documented (not sure how to go about that).

[2018-03-28 16:22] gsnedders commented on #5789
@foolip I don't know. General guidelines, maybe?

[2018-03-28 16:24] gsnedders commented on #5294
Yes. http://web-platform-tests.org/writing-tests/general-guidelines#be-self-describing to http://web-platform-tests.org/writing-tests/rendering.html, AIUI

[2018-03-28 17:32] lukebjerring opened #10214 "idlharness.js doesn't check existence of B when A : B"
For `A implements B`, idlharness errors when B is not defined.

However, for `A : B`, it does not error, and eventually manifests as a null reference, i.e.

    TypeError: Cannot read property 'has_extended_attribute' of undefined

[2018-03-28 18:58] cdumez opened #10217 "xhr/open-during-abort-processing.htm test does not seems to match the XHR spec"
xhr/open-during-abort-processing.htm test does not seems to match the XHR spec. It expects the following upload events to get fired:
    "upload.onabort 1",
    "upload.onloadend 1",

The first request looks like this:
[code]

Thus, yes, the request initially has a body so the following set in send():

Will not set the upload complete flag.

But then the test calls abort() in the loadstart event l

[2018-03-28 18:58] cdumez commented on #10217
cc @annevk

[2018-03-28 19:06] cdumez commented on #10217
To summarize, if you look at those steps:
- https://xhr.spec.whatwg.org/#request-error-steps

Step 5 (Fire an event named readystatechange) causes JS to be run, which can call open() / send() on the XHR again. If this happens, it will potentially change the value of the "upload complete flag" / "upload listener flag" before we reach Step 6.

This is an issue because step 6 relies on the "upload co

[2018-03-28 19:27] DLehenbauer commented on #3757
There is no work requested here, only a question to the community about policy.

We've likely heard from all that want to provide feedback.

[2018-03-28 19:27] #3757 closed

[2018-03-28 19:30] #10162 closed

[2018-03-28 19:43] jgraham commented on #3757
FWIW my pint of view is that improvements in test reliability are very welcome. Changing names of things can be disruptive since data about which tests are expected to fail in implemenatations are generally keyed on name. Other changes may or may not be welcome; it's hard to judge without concrete examples, but if they don't affect the test functionality or ability to run the tests, I don't forese

[2018-03-28 21:31] foolip commented on #10177
@gsnedders, right now we're not really planning anything concrete on this, and I think that maybe a first good step would be to go through all of the open docs issues and figure out what's most important. I don't think an umbrella issue will necessarily help since we already have the label.

[2018-03-28 21:31] #10177 closed

[2018-03-28 21:34] foolip commented on #6268
Just to answer the questions without documenting it anywhere:

https://github.com/w3c/web-platform-tests/issues/6565

`./wpt serve` then visit http://web-platform.test:8000/

Do you mean using virtualenv, or a VM or something that doesn't contaminate your system?

`./wpt run firefox dom/historical.html`

How do I run all the tests in a directory? (using tox?)

`./wpt run firefox dom`

[2018-03-28 21:37] foolip commented on #5943
Do you mean https://github.com/w3c/web-platform-tests/blob/master/README.md#test-review?

There are some funny lies there, like "But we look at all of them".

And in this documentation it's perhaps best to avoid upstream/downstream terminology. I always call this repo on GitHub the upstream, but don't really call Chromium downstream (or upstream).

[2018-03-28 21:38] foolip commented on #5300
http://web-platform-tests.org/writing-tests/server-features.html would be the place to write that, I guess?

[2018-03-28 21:41] foolip commented on #5299
http://web-platform-tests.org/writing-tests/lint-tool.html looks pretty complete to me. @gsnedders, can you find the missing ones?

[2018-03-28 21:42] foolip commented on #5295
Kerning is an example of "etc." and was just discussed in https://github.com/w3c/web-platform-tests/issues/9005.

Documenting that trick would be nice, maybe in http://web-platform-tests.org/writing-tests/reftests.html?

[2018-03-28 21:43] foolip commented on #4924
@gsnedders, this is unfixable while using CNAME magic and being hosted by GitHub pages, right?

[2018-03-28 21:46] foolip commented on #4313
@yoavweiss, is http://web-platform-tests.org/writing-tests/server-features.html any good?

@jgraham @gsnedders, I assume we should merge that stray server-side.md into the above?

[2018-03-28 21:47] foolip commented on #5297
http://web-platform-tests.org/writing-tests/ahem.html exists, please reopen with specifics :)

[2018-03-28 21:47] #5297 closed

[2018-03-28 21:48] foolip commented on #5298
@gsnedders, this isn't a very descriptive issue, I'll go ahead and close it, if there's a problem hopefully someone (you?) will complain again.

[2018-03-28 21:48] #5298 closed

[2018-03-28 21:50] foolip commented on #5296
I think this is about these two docs:
http://web-platform-tests.org/writing-tests/general-guidelines.html
http://web-platform-tests.org/writing-tests/lint-tool.html

I actually think the split is quite reasonable, what's the duplication or problem?

[2018-03-28 21:52] foolip commented on #6266
Oh, that's pretty much what https://github.com/w3c/web-platform-tests/pull/6333 amounts to :)

[2018-03-28 21:54] foolip commented on #8054
This was done in https://github.com/w3c/web-platform-tests/pull/8727.

[2018-03-28 21:54] #8054 closed

[2018-03-28 22:11] foolip commented on #8363
@whimboo, do you recall what you wanted this for?

[2018-03-28 22:13] foolip commented on #8358
That this worked to begin with seems kinda accidental, and to change `httpd.router.doc_root` one presumably needs to write some Python code. I'm going to close this, because it seems like complexity we should want to avoid rather than embrace. Please reopen if that's too narrow-minded of me.

[2018-03-28 22:13] #8358 closed

[2018-03-28 22:16] foolip commented on #7192
I think this must be about http://w3c-test.org/tools/runner/index.html because that's the only place the string "Show Reference" appears.

@cvrebert, do you know off hand what things to press to get into this broken state?

[2018-03-28 22:30] #5714 closed

[2018-03-29 02:35] gsnedders commented on #8551
Closing as not a test issue

[2018-03-29 02:35] #8551 closed

[2018-03-29 02:37] gsnedders commented on #6666
Just noticed this is a dupe of https://github.com/w3c/web-platform-tests/issues/5489.

[2018-03-29 02:37] #6666 closed

[2018-03-29 02:39] #9374 closed

[2018-03-29 04:54] marcoscaceres commented on #7990
@foolip you are right, it's best to go through the Github API.

[2018-03-29 04:54] #7990 closed

[2018-03-29 06:19] foolip commented on #2101
@gsnedders, you mean that this already works for reftests, and just isn't documented?

[2018-03-29 07:19] annevk commented on #10217
I think you're right that we should change this test. @wisniewskit thoughts?

[2018-03-29 08:51] foolip opened #10236 "{name}.sub.{ext} server-side substitution of domains broken on w3c-test.org"
This is about the feature documented on http://web-platform-tests.org/writing-tests/server-features.html as served on http://w3c-test.org

https://github.com/w3c/web-platform-tests/blob/master/generic-sensor/generic-sensor-feature-policy-test.sub.js has as input:
[code]

But https://w3c-test.org/generic-sensor/generic-sensor-feature-policy-test.sub.js has in its output:
[code]

Some configuration

[2018-03-29 10:34] whimboo commented on #8363
Sure. Lets say you have one instance of wptserve running for your tests, and a single test registers a handler for a specific test, but then you want to make sure the handler no longer exists for the following tests.

[2018-03-29 10:38] ahmadmiz commented on #8363
G

[2018-03-29 11:58] foolip commented on #8363
@whimboo, I guess there are bits of wptserve that I know nothing about, how does a test even register a handler? I thought all of that was just internal code in wptserve, and that the tests just talk to it as an HTTP server, plus the CGI-like mechanism using Python, which I imagine wouldn't reach into the `Router` class?

[2018-03-29 12:34] pozdnyakov commented on #9686
Fix for Chromium https://chromium-review.googlesource.com/c/chromium/src/+/980886

[2018-03-29 13:16] mdittmer commented on #7784
@dontcallmedom talked about getting [reffy](https://github.com/tidoust/reffy) to output these IDL snippets, because its analysis needs to parse and interpret the IDL anyway. Dom**inique**, when do you think publishing the IDL snippets could be integrated into report generation?

[2018-03-29 14:14] foolip commented on #8390
@gsnedders, have you accidentally fixed this recently?

[2018-03-29 14:17] foolip commented on #8365
@gsnedders, does this really make sense? Are there web platform features that we'd want to test over both IPv4 and 6? Seems to me like that layer never really appears in our tests at all?

[2018-03-29 14:44] mdittmer commented on #10236
@foolip WDYT the priority should be here? I don't have enough context to make the call myself.

[2018-03-29 15:27] wisniewskit commented on #10217
Interestingly, I have a new re-implementation of the XHR spec for Firefox in progress, and it's not failing this test. I'll have to investigate this a bit more closely to see why it's passing.

[2018-03-29 17:08] gsnedders commented on #8390
Not accidentally; deliberately. Well, accidental insofar as I didn't know this issue existed. :)

[2018-03-29 17:08] #8390 closed

[2018-03-29 17:13] gsnedders commented on #2101
@foolip this already works for everything, AFAIK? should check.

[2018-03-29 17:14] gsnedders commented on #8390
Fixed as part of #8614, seemingly.

[2018-03-29 17:56] Hexcles commented on #5407
I think with the various fixes for #9932 , this is no longer an issue.

[2018-03-29 17:56] #5407 closed

[2018-03-29 17:59] Hexcles opened #10246 "Stability check should also fail when messages aren't stable"
Sometimes the result statuses of a test are stable (e.g. all failures), but the messages are flaky (e.g. including a random string in the message), in which case stability checks should also fail.

Unstable messages make it hard for downstreams to create baselines for failed tests.

#10218 is an example https://pulls.web-platform-tests.org/job/26572.5

[2018-03-29 19:40] fantasai commented on #10053
@svgeesus Wrt support files, the CSSWG test infrastructure used to have scripts that would copy the contents of support/ directories further up in a directory structure to those further down and ensure binary compatiblity, so files shared by a set of tests would go into the support/ directory of their common ancestor directory and get copied down for use throughout, e.g. hixie's swatch-color.png f

[2018-03-29 21:42] gsnedders commented on #5296
Maybe the duplication isn't such a problem? I was mostly thinking about the fact that they largely cover the same material (the general guidelines saying "do x, not y"; the lint tool docs saying "this lint checks for y, do x instead").

[2018-03-29 22:02] foolip commented on #7183
I think the documentation of the different assertions looks pretty good, examples are useful. Maybe fold that into http://web-platform-tests.org/writing-tests/testharness-api.html?

[2018-03-29 22:06] foolip commented on #8365
@gsnedders, do you mean for testing some of the other protocols involved there? Isn't it analogous to the situation with HTTP, that we just use the protocol and that exercising for IPv4 and 6 would be a bit like testing both over Ethernet and WiFi?

[2018-03-29 22:12] foolip commented on #5296
I think the overlap is quite small, because most of our guidelines are too vague to be lints, and the lints are mostly about various kinds of mistakes that wouldn't make sense as explicit anti-guidlines.

[2018-03-29 22:12] #5296 closed

[2018-03-29 22:25] foolip commented on #10236
@mdittmer, let's call it roadmap, because it affects lots of tests and ought to be a fairly simple fix.

[2018-03-29 23:06] gsnedders commented on #8365
@foolip A fair bit of WebRTC deals with NAT transversal and whether IP addresses are publicly addressable, IIRC, not to mention exposing IP addresses and passing them over the wire in various places.

[2018-03-29 23:08] gsnedders commented on #10246
Pretty sure we don't guarantee messages are stable, and baselining should be done based on subtest name only.

[2018-03-30 01:51] sideshowbarker commented on #10236
Fixed.

The config file had the `host` key set the right value, but I guess somebody (without giving me any heads-up) at some point changed the wptserve code to now expect a `browser_host` key instead? If so, that makes me wonder if there are other changes like that which I also might never have gotten a heads-up about

[2018-03-30 01:56] gsnedders commented on #10236
@sideshowbarker it should still work with host? um. that sounds like a bug.

[2018-03-30 01:58] gsnedders commented on #10236
(maybe if the original config file has `browser_host` and the override has `host` it's broken? anyway, if it is broken then that'll be fixed in #10231 which I'm confident is right then)

[2018-03-30 02:11] Honry commented on #9686
@pozdnyakov has initialized the mock implementations of the Sensor
and SensorProvider mojo interfaces to WPT tests at https://github.com/w3c/web-platform-tests/pull/10198

[2018-03-30 16:06] inexorabletash commented on #10214
Hrm... tests that pull in `dom.idl` started failing in Chrome's CI with:
[code]
... where `dom.idl` defines EventInit and then `dictionary CustomEventInit : EventInit ....` - related to this change? (I haven't bisected yet)

[2018-03-30 16:22] foolip opened #10253 "RTCRtpHeaderExtensionParameters missing members are not tested"
https://github.com/w3c/webrtc-pc/pull/1816 made two members of [RTCRtpHeaderExtensionParameters](https://w3c.github.io/webrtc-pc/#dom-rtcrtpheaderextensionparameters) required, and this could be tested here:
https://github.com/w3c/web-platform-tests/blob/172fe9d52634f70dd2810c4a859acd1aa6dc365a/webrtc/RTCRtpParameters-headerExtensions.html#L58

(This test passes all the members, 3 tests that each

[2018-03-30 22:03] lukebjerring commented on #10214
Will roll back. WebIDL specs A : B as an interface behaviour, doesn't mention it for dictionaries. Will roll back and have a second stab at it.

[2018-03-30 22:19] foolip commented on #10214
Spec is https://heycam.github.io/webidl/#dfn-inherited-dictionaries

[2018-03-31 17:57] foolip opened #10262 "Document assert_object_equals"
I saw it used in https://chromium-review.googlesource.com/c/chromium/src/+/978128 and wasn't sure exactly what it does and didn't find it in http://web-platform-tests.org/writing-tests/testharness-api.html.

Per https://github.com/w3c/web-platform-tests/issues/2033 some think it should be removed instead, but if it's not deleted it'd be useful to know about the limitations.

[2018-03-31 19:52] foolip commented on #2033
@jgraham, is the discussion in https://critic.hoppipolla.co.uk/showcomment?chain=12186 lost forever?

[2018-03-31 20:03] foolip commented on #10262
Implementation at https://github.com/w3c/web-platform-tests/blob/355c2d77c7ec01ee18fd9c5917cc845a558551e8/resources/testharness.js#L964.

AFAICT, what it does is to check that all enumerable properties on one object are own properties on the other with the same values, recursing into other objects and dealing with cycles.

Because it isn't checked that the inputs are really objects, things like `a

[2018-03-31 21:52] foolip commented on #6293
With some recent fixes by @Hexclew the Chrome job is now blocking so I'm pretty sure this is resolved and if it did happen frequently we would have noticed.

[2018-03-31 21:52] #6293 closed

[2018-04-01 17:54] guest271314 commented on #10185
What would be helpful is not only the ability to run one or more tests at `file:` protocol, but also the ability to download/clone/upload only specific tests; given that this repository was over 200MB, when last checked https://github.com/w3c/web-platform-tests/issues/9918.

[2018-04-01 23:39] csnardi commented on #7169
I just ran into this on a CSSOM test, fixed with https://crrev.com/c/989407. Perhaps if this isn't going to be changed soon, there should be some documentation that `assert_readonly` can have side-effects it's an IDL object with the `[PutForwards]` attribute, as that mystified me for a while.

[2018-04-02 09:04] Ms2ger opened #10269 "Replace check-stability script with wpt run --stability and document how to run locally"
I'm not even sure it's intended to use locally, but it seems to assume quite heavily that it's running on TravisCI. For local use, a way to run it with a list of tests rather than revisions might be nice?

CC @foolip

[2018-04-02 09:13] Ms2ger commented on #7169
Would it be a problem if we changed it to something like `assert(Object.getOwnPropertyDescriptor(o, p).writable)`? It seems unnecessarily surprising for one of the `assert_` functions to try to mutate its argument, and not particularly likely to find additional bugs.

[2018-04-02 09:16] jgraham commented on #10269
`wpt run --stability` does something mostly equivalent. Ideally the travis job would change to use that, but there are quite a few details to get right around reporting stuff correctly.

[2018-04-02 09:24] mrego commented on #10269
JFYI, both `run --stability` and `check-stability` run fine for me locally.

[2018-04-02 13:44] Cactusmachete commented on #7853
I tried to recreate this but didn't come across any failures due to `PARSE-FAILED`

[2018-04-02 14:01] foolip commented on #10269
Is there anything that needs to be done here? Just documentation?

[2018-04-02 15:19] gsnedders commented on #10269
Documentation and making CI use `wpt run --stability`.

[2018-04-02 16:07] jgraham commented on #7169
That seems reasonable to me.

[2018-04-02 16:16] csnardi commented on #7169
I don't think `Object.getOwnPropertyDescriptor()` would work for IDL properties, since `hasOwnProperty` returns `false`.

[2018-04-02 20:21] MattMenkeGoogle commented on #1851
annevk:  I think the MIME parsing tests could still be beefed up, to poke around edges of the spec, where I think it's likely that even browsers that pass all tests may differ in behaviors.  Some suggestions:

text/html;charset= "gbk" (I don't think this should be parsed as GBK, since the pseudo code in the spec only looks for quotes immediately after the =)
text/html;charset=();charset=GBK (This

[2018-04-02 20:43] MattMenkeGoogle commented on #1851
And a couple more:

text/html;charset= ";charset=GBK (Parses as GBK - first parses as space-quote, and quotes aren't allowed in names, so it's skipped in favor of the second one)
text/html;charset=";charset=GBK (Does not parse as GBK)
text/html;charset=";charset=GBK";charset=GBK (Does parse as GBK, since semi-colons aren't allowed)
text/html;charset="";charset=GBK (Parses as GBK, since empty names

[2018-04-02 21:04] gsnedders commented on #7169
@Ms2ger @csnardi Yeah, it couldn't be just that, we'd have to walk the prototype chain until we found a property descriptor.

[2018-04-03 01:59] vinicius0197 commented on #9546
@gsnedders Sorry for not updating this those last days (I've been busy). Seems like, apart from adding a simple `export RUN_JOB1=1 ` and `travis_wait`, there's not really other differences between the original Travis log and my test log.

Do you think the issue could be related to any of those commands?

[2018-04-03 08:04] foolip commented on #9874
@jgraham, maybe https://github.com/w3c/web-platform-tests/issues/10269 is now a dupe of this? Is it `--verify` or `--stability`?

[2018-04-03 08:06] foolip commented on #7073
Closing this in favor of https://github.com/w3c/web-platform-tests/issues/7660, since it comes down to the same thing, whether there are many fast tests or fewer slow tests, it's not always possible to finish running in 50 minutes.

[2018-04-03 08:06] #7073 closed

[2018-04-03 11:18] whimboo commented on #8363
Here at Mozilla we have a tests which would have to setup individual handlers, and remove them afterward. It doesn't make sense to set those globally, also because different tests have to analyze the data as being sent to this URL by Firefox.

[2018-04-03 13:27] alijuma commented on #5671
This has priority:roadmap. Is any work planned here this quarter?

[2018-04-03 13:31] alijuma commented on #7899
This has priority:roadmap but hasn't been updated in a while. Given the comments so far, does it still make sense to try to have a cross-browser GC trigger of some sort? And if so, who's a good owner for this?

[2018-04-03 13:33] alijuma commented on #6565
This has priority:roadmap. Is this something that is going to be worked on this quarter?

[2018-04-03 13:36] alijuma commented on #7424
Is this still blocked on adding a WebDriver API?

[2018-04-03 13:38] alijuma commented on #8112
This hasn't been updated in a while. Should this still be priority:roadmap? If so, who'd be a good owner for this?

[2018-04-03 13:41] alijuma commented on #5998
@Hexcles, should this still be priority:roadmap?

[2018-04-03 13:44] alijuma commented on #7598
This has priority:roadmap. Is there any work planned here this quarter?

[2018-04-03 13:47] alijuma commented on #8434
Should this still have priority:roadmap? Who's a good owner for figuring out if something can be done here?

[2018-04-03 14:31] gsnedders commented on #7124
Fixed by #8979.

[2018-04-03 14:31] #7124 closed

[2018-04-03 14:56] gsnedders commented on #8052
We've got rid of Sauce through #9903, so this is now invalid.

[2018-04-03 14:56] #8052 closed

[2018-04-03 19:03] lukebjerring commented on #5770
This is blocking https://github.com/w3c/web-platform-tests/pull/9884

[2018-04-03 19:06] foolip commented on #5299
Yep, @lukebjerring just noticed that MISSING_LINK isn't documented anywhere.

[2018-04-03 19:54] lukebjerring opened #10288 "RE for 'valid spec links' only hits about half the spec URLs."
Related to https://github.com/w3c/web-platform-tests/issues/5770

Wrote a little script that checked the regex's against a roughly exhaustive list. Result:
https://gist.github.com/lukebjerring/01a6bc7558a23bace198e519fdacfc43

[2018-04-03 19:54] lukebjerring commented on #10288
See the following REs and usage.
- https://github.com/w3c/web-platform-tests/blob/master/tools/lint/lint.py#L163
- https://github.com/w3c/web-platform-tests/blob/master/tools/lint/lint.py#L228

[2018-04-03 19:59] lukebjerring commented on #10288
https://github.com/w3c/web-platform-tests/pull/9884 is an example that was blocked by the URL being invalid.

[2018-04-03 21:29] bmac commented on #8445
Yes. Looks like this is the same issue. The behavior I was observing was a root logger was printing the lines prefixed with `INFO:lint:` and the logger in the `lint` module was printing the un-prefixed lines.

[2018-04-03 21:40] foolip commented on #8112
I'll own the remaining piece, to fix it as described in https://github.com/w3c/web-platform-tests/issues/8112#issuecomment-360181580.

[2018-04-03 21:41] foolip commented on #6565
@kereliuk, when you've come up with a bucket of documentation issues you think we should do in Q2, can you downgrade what remains to backlog?

[2018-04-03 22:04] Hexcles commented on #5998
This, along with #8285 , should be fixed soon-ish.

Though it might be hard to find all edge cases, I suspect there are a few low hanging fruits which can cover many code paths. This would perhaps be a good first issue? @gsnedders I saw you using that label. Are there any plans for regarding these issues? (Like a GSoC or something?)

[2018-04-03 22:25] foolip commented on #8434
https://github.com/w3c/web-platform-tests/pulls?utf8=%E2%9C%93&q=is%3Amerged+is%3Apr+label%3Achromium-export+comments%3A%3E2 is the list of issues where there was maybe some non-bot activity, made hard to tell because of inconsistent number of comments by @w3c-bots.

Seems like most are us struggling to get stuff exported where we don't want to bother the original CL authors, so I think any soluti

[2018-04-03 22:41] ahmadmiz commented on #10269
T

[2018-04-03 22:46] ahmadmiz commented on #10144
Kiwait

[2018-04-03 23:48] gsnedders commented on #10288
Remember that the CSS lints are designed to keep the CSS build system working, hence there's an argument here that we should be using something even stricter here and providing an explicit whitelist of allowed specs (see https://github.com/w3c/web-platform-tests/pull/10248 for some discussion about making it allow more that this lint already does).

https://gist.github.com/gsnedders/6bb72b4e6b9550

[2018-04-03 23:57] gsnedders commented on #10288
Looking through that list, the only thing we're missing is https://drafts.fxtf.org/.

[2018-04-03 23:58] gsnedders commented on #5998
@Hexcles They've partly been used to give people planning on applying to Outreachy for Mozilla to have something to do (rather than throwing them in with no guidance) for the sake of selecting applicants.

[2018-04-04 06:54] annevk commented on #8434
I haven't been actively reviewing new commits.

[2018-04-04 15:10] foolip commented on #10236
Thanks for fixing, @sideshowbarker!

[2018-04-04 15:37] lukebjerring commented on #7146
Title updated to better reflect the work required (`dictionary Foo {};` is 'supported', but not tested in a meaningful way).

[2018-04-04 15:38] #10236 closed

[2018-04-04 15:42] foolip commented on #9874
Hmm, both `--verify` and `--stability` exist. There's presumably some difference. @kereliuk, can you take a look, and assign to yourself if this makes sense as part of fixing https://github.com/w3c/web-platform-tests/issues/7660?

[2018-04-04 15:44] foolip commented on #5947
Sauce is gone now, as of https://github.com/w3c/web-platform-tests/issues/9903, and with it Edge stability runs.

[2018-04-04 15:44] #5947 closed

[2018-04-04 17:35] jugglinmike commented on #9481
It looks like this issue should be re-opened since gh-9976 reverted the fix. I may have overlooked a follow-up patch, though. @gsnedders can you confirm that this is once again an issue in `master`?

[2018-04-05 14:03] kereliuk opened #10330 "Say something useful when someone tries to run a testdriver test with wpt serve"
Testdriver tests can only be run using wpt run. I think we should provide some sort of message indicating this is the case when someone tries to run the test using wpt serve.

cc/ @foolip @jgraham WYT?

[2018-04-05 18:07] jgraham commented on #10246
Yeah, the message shouldn't necessarily be stable, since it has to be informative about the error, which can vary (e.g. the number of pixels difference in a reftests, or the actual values when asserting some relation). The intent is that (test_id, subtest_name) is the stable identifier.

[2018-04-05 18:29] foolip commented on #8434
The volume of changes across your specs is probably too high for that, yeah.

It would be useful for someone sometime, but let's wait to see more requests then.

[2018-04-05 20:18] lukebjerring opened #10338 "Multiple 'Exposed' attributes unhandled by idlharness.js"
e.g. From https://wicg.github.io/budget-api/

    [Exposed=Window]
    partial interface Navigator {
        [SameObject] readonly attribute BudgetService budget;
    };

https://github.com/w3c/web-platform-tests/pull/10337 improved the error message somewhat, but  we should be applying the `Exposed` to the nested members and asserting that it's a subset of the original interface's exposure set.

[2018-04-05 21:10] foolip commented on #10338
[Exposed] on partial interfaces is allowed, https://heycam.github.io/webidl/#Exposed says "If [Exposed] appears on a partial interface or partial namespace, then the partial’s own exposure set must be a subset of the exposure set of the partial’s original interface or namespace."

[2018-04-06 09:29] nox opened #10343 "The various IDL tests rewriting from yesterday introduced many additional failures"
Our bot on Servo automatically creates [synchronising PRs](https://github.com/servo/servo/pull/20569) and I noticed that something weird happened yesterday: now every IDL suite with failures emit an additional failure for nothing, and many of them are "Untitled". Could this be reverted? What's the purpose of those silly tests?

https://github.com/servo/servo/pull/20569/files#diff-a7b0bfde18cbf33a6

[2018-04-06 09:29] nox commented on #10343
Cc @lukebjerring who introduced those.

[2018-04-06 12:07] foolip commented on #9686
Thread at  https://chromium-review.googlesource.com/c/chromium/src/+/980886/2/third_party/WebKit/LayoutTests/external/wpt/generic-sensor/generic-sensor-tests.js#38 is relevant to where we should go with this, and I've poked @kereliuk there.

What I think and *hope* is that the final solution can be something like:
* A WebDriver extension API defined in https://w3c.github.io/sensors/ or related spe

[2018-04-06 13:02] foolip commented on #10338
https://github.com/w3c/web-platform-tests/pull/10337 is about multiple `Exposed` extended attributes syntactically (in the AST) but the example given has just one.

So the issue may not be with duplication as such, but with how idlharness.js merges extended attributes for partial interfaces?

https://github.com/w3c/web-platform-tests/blob/89daad32c029798b7203a36f21598fcba470e07d/resources/idlharne

[2018-04-06 14:49] kereliuk commented on #9686
Here is an example of what an existing WebDriver extension looks like: `https://w3c.github.io/permissions/#automation`

We would need to specify an API and get WebDriver implementors to sign off on it. What Phillip has suggested above is the course of action I would agree with :)

[2018-04-06 15:30] lukebjerring opened #10347 "Add support for cascading IDL dependencies to idlharness.js"
For new / separate specs, often dependencies on the original interface are created, e.g. when `partial`-ing out an existing interface. Often, that interface also inherits other interfaces, and can be a nightmare to isolate/filter.

Several things can happen in attempt to resolve the problem:

- We end up with a 'mock' of the interface, e.g. `idl_array.add_untested_idls('interface Document {};');`

[2018-04-06 15:38] kriti21 commented on #9741
Should I close my PR in that case ? @liamquin

[2018-04-06 19:02] liamquin commented on #9741
On Fri, 2018-04-06 at 15:38 +0000, Kriti Rohilla wrote:

that would be fine, as it'll end up being a different approach one way
or the other - thanks!

--
Liam Quin, W3C, http://www.w3.org/People/Quin/
Staff contact for Verifiable Claims WG, SVG WG, XQuery WG
Improving Web Advertising: https://www.w3.org/community/web-adv/
Personal: awesome vintage art: http://www.fromoldbooks.org/

[2018-04-06 19:37] Hexcles commented on #10212
That's vim folding marks. Apparently I'm the only one using vim in this thread :)

[2018-04-06 21:50] rocallahan commented on #10165
That won't work because data: URIs still go through an asynchronous load path, at least in Firefox and it should be true in other browsers too per spec.

[2018-04-06 23:29] foolip commented on #10212
@Hexcles, can we still delete them? I assume that vim has fancier nodes that understand the language and fold function bodies and whatnot?

[2018-04-07 10:43] gsnedders opened #10355 "Tests failing on master"
https://github.com/w3c/web-platform-tests/pull/10335 is another case of some change having broken an unrun test and that successfully landing on master.

Should we enable a [Travis cron job](https://docs.travis-ci.com/user/cron-jobs/) and once a day run all the jobs (probably also running lint on everything, too)?

[2018-04-07 17:41] Hexcles commented on #10212
If no one is maintaining it, we should get rid of it. No folding marks is better than out-of-date folding marks IMHO.

[2018-04-07 17:49] Hexcles commented on #10355
On a side note, perhaps we can stop skipping some of the jobs?

e.g. https://travis-ci.org/w3c/web-platform-tests/builds/362774898
`ci_wpt.sh` only takes 12min. Is it forbiddenly slow to always run?

[2018-04-07 21:14] lgrahl commented on #10179
I had a look at WebIDL and I'm not amused. So, since we don't have `[EnforceRange]` in the signature, the numbers are equivalent to `number mod 65536`. Therefore, `65536 mod 65536 = 0` is in fact valid and `-1 mod 65536 = 65535` is, too.

Will move these numbers into the opposite test case (*should succeed*).

[2018-04-07 21:25] #10179 closed

[2018-04-07 21:30] lgrahl commented on #10178
Once again, I did not expect the insanity of WebIDL and this test is therefore *valid*.

[2018-04-07 21:30] #10178 closed

[2018-04-09 09:27] foolip commented on #8653
Can we not simply say that no tests at all are to be run in parallel, and that sharding across isolated machines and separate wptserve instances is required? @jgraham?

[2018-04-09 10:31] jakearchibald opened #10378 "Local imports fail in python file handlers"
[code]

The above fails with `ImportError: No module named utils`, despite `utils.py` existing in the same directory.

[2018-04-09 10:37] jakearchibald commented on #10378
To workaround, use this before importing:

[code]

[2018-04-09 13:17] jakearchibald commented on #10378
[code]

Didn't work in this case either.

[2018-04-09 17:27] lukebjerring commented on #10343
@nox - sorry for the breakage, and I'll try to keep that in mind with future changes.

[2018-04-09 17:30] nox commented on #10343
@lukebjerring No problem! Don't try to keep it too much in mind, this is our own mess that we have to fix on our side anyway. If something can be hugely simplified with new JS features, it would be wrong of us to block you from using it, so go for it! This time it was easily worked around so it was dumbed down and everything is fine in the world, I don't expect the whole repos to care about our de

[2018-04-09 19:51] foolip commented on #10378
@jakearchibald, where did you write `from utils import create_wav_header`? I can't find the string "create_wav_header" anywhere in the repo.

[2018-04-09 21:46] lukebjerring opened #10388 "./resources/test/tox fails after 10231"
Issue started after https://github.com/w3c/web-platform-tests/pull/10231

Message is

    Could not start wptserve

Running `wptserve` works fine - but not with the config used in the test suite, which produces

    KeyError: u"unknown config override 'external_host'"

[2018-04-09 22:45] lukebjerring commented on #10388
I took a stab at fixing this, but it's got a large number of issues on top of each other.

I got stuck on `TypeError: 'NoneType' object is not callable`, which is caused by the `path` function not being set, which occurs during `__enter__`. Presumably, the droped `with` statement here is the issue:
https://github.com/w3c/web-platform-tests/pull/10231/files#diff-54595105eb1b125bb44120e81a893f4eL822

[2018-04-10 06:32] domfarolino opened #10392 "More-completely test <img srcset> selection on sizes attribute"
This is meant to be a follow-up to https://github.com/w3c/web-platform-tests/pull/10167#issue-177273415 and https://github.com/whatwg/html/pull/3084. Most of the information for this issue can be found in that first comment (https://github.com/w3c/web-platform-tests/pull/10167#issue-177273415) and later in that thread, but basically the goal is to change how we test the resolving of the `sizes` at

[2018-04-10 07:24] jakearchibald commented on #10378
https://github.com/jakearchibald/web-platform-tests/commit/889cc1d092efef1a26f98a66cfbdd415dde2051f here's a reduction.

However, due to some python lifecycle stuff I don't understand (module caching?) if you visit `works.py`,  then `fails.py` will also work. Restart the WPT server, then `fails.py` will fail.

[2018-04-10 07:38] gsnedders commented on #10388
So `resources/test` has its own config for some reason, which is in an outdated format (even though we're meant to be backwards compatible there…). The only diff from the config.default.json at the time it was created is a non-standard HTTPS port? @jugglinmike do you recall why `config.test.json` does that?

[2018-04-10 07:59] gsnedders commented on #10388
It passes CI without that, so suggest we just land that PR.

[2018-04-10 08:02] #10388 closed

[2018-04-10 08:10] gsnedders commented on #10378
@jakearchibald the directory is added to `sys.path`, so after loading `works.py` that directory is in the path.

[2018-04-10 08:33] jakearchibald commented on #10378
@gsnedders that was my first thought, but `sys.path.pop(0)` doesn't seem to undo it.

[2018-04-10 09:28] gsnedders commented on #5998
So what's the scope here?

* Make sure the wptrunner logs always output in a constant, defined encoding
* Make sure our CI scripts handle the logs containing that constant, defined encoding
* Make sure prbuildbot handle the logs containing that constant, defined encoding

The last of these should probably be a prbuildbot issue handled by those working on that?

[2018-04-10 09:36] jgraham commented on #10378
Yeah, the module is added to `sys.modules` and loaded directly from there. I have a solution in mind, which I can try quickly.

[2018-04-10 09:45] gsnedders commented on #6075
Downgrading to "priority:backlog" given I don't think this will happen in Q2? Unless you want to pick it (presumably the open PR in #8748) up @foolip or @lukebjerring perhaps?

[2018-04-10 09:52] gsnedders commented on #6565
@foolip Does this need the `infra` label? I guess we might want to make the exception message clearer and point to docs?

[2018-04-10 10:43] Honry opened #10398 "Testdriver: tabs switch frequently when invokes multiple actions"
I encountered this issue when trying to automate test at https://github.com/w3c/web-platform-tests/pull/10396/files#diff-52f806f8477bda3b3246226c740e6cb9

When invokes multiple `test_driver` actions, the runner will switch tab pages between test page and testharness_runner.html immediately and frequently(one action one switch).

[2018-04-10 14:05] andreastt commented on #10144
Which Firefox versions are compatible with geckodriver is [documented in the README](https://github.com/mozilla/geckodriver#supported-firefoxen).

At the time of writing, geckodriver supports Firefox 55 and greater. Certain WebDriver conformance fixes and bug fixes are only available in more recent Firefox versions. Because geckodriver is in a pre-release state we generally advise using it with Ni

[2018-04-10 14:14] gsnedders commented on #10144
@jgraham wpt run isn't relevant here, because `resources/tests` doesn't use it, this is just using `webdriver.Firefox(firefox_binary=config.getoption("--binary"))`

[2018-04-10 14:15] lukebjerring commented on #10338
The spot you link to is correct. The issue is that the `extAttrs` for partials are copied to the main interface (not just to the members inside the partial).
Instead, they should be asserted to be a subset of the existing attribute (if present).

[2018-04-10 17:08] jugglinmike commented on #10388
I suspect I was trying to avoid collisions for folks who were running the development server locally. If a server is already running (e.g. vie `./wpt serve`), the test setup will silently fail to create a dedicated server and instead use the previously-existing instance. This would be pretty confusing for folks who were trying to run the tests.

@gsnedders Do you agree? Would you accept a patch to

[2018-04-10 17:15] lukebjerring commented on #10388
@jugglinmike - FWIW I did the equivalent in `wptserver.py` by trying to load the URL _before_ spawing the `wpt serve` subprocess - if the server's already up, it's ready to go for the `resources/test` tests.

Rolled it back because locally I was seeing a bunch of errors at the time.

[2018-04-10 17:18] jugglinmike commented on #10388
I don't believe any of these tests rely on the stateful features of wptserve (e.g. "stash"), so maybe the concern isn't worth worrying about. It feels like something that could surprise someone one day, though.

[2018-04-10 17:37] kereliuk commented on #10398
Good catch, I'll take a look at this tomorrow.

[2018-04-10 18:18] kereliuk commented on #6565
@foolip Yep, I'll do that as cleanup after I go through everything :)

[2018-04-11 07:42] gsnedders commented on #10388
@jugglinmike if that's the goal we should just set all the ports to "auto" and not explicitly set any?

[2018-04-11 07:47] gsnedders commented on #10388
@jugglinmike also the file is treated as an override, so we'd only need `ports` defined, and not the rest.

[2018-04-11 07:48] #10378 closed

[2018-04-11 13:03] faceless2 opened #10423 "[css-text-3] line-break, word-break: language unclear, and a new testcase."
### The language for line-break and (in particular) word-break, is unclear with regard to what changes are required to the UAX14  algorithm.

I've made a pull request for a new testcase we've been working up at https://github.com/w3c/web-platform-tests/pull/10420. This testcases is complete but will require review due to the ambiguities described below.

While developing this is became apparent th

[2018-04-11 20:02] #10214 closed

[2018-04-11 20:03] lukebjerring commented on #10214
Fixed by https://github.com/w3c/web-platform-tests/pull/10334

[2018-04-11 21:27] jugglinmike opened #10436 "WPT CLI: Extend Firefox logic to branch on the browser's release channel"
Currently, when the WPT CLI is used to run Firefox, it assumes that the browser
being tested is from the "Nightly" release channel. This causes it to download
a "preferences" file which is inappropriate for the stable release channel. The
logic should be extended to inspect the version of Firefox under test and
retrieve a configuration file based on the version found.

@jgraham described the probl

[2018-04-11 21:50] foolip commented on #6565
@gsnedders, keeping infra labels seem fine :)

[2018-04-12 02:28] #1505 closed

[2018-04-12 11:16] r12a commented on #9741
@liamquin I believe there's a discussion about Armenian in the CSS or i18n lists from some years ago. If memory serves, there was an unresolved disagreement about the expected format of numbers above 9,999. This is not unusual. (An in fact, resolution of that disagreement may have only extended the range, rather than produced an infinite range.)

The @range feature is normally used for counter sty

[2018-04-12 13:14] jgraham commented on #10436
I started this on the train last night, so I finished it today. #10443 should fix the problem.

[2018-04-12 18:05] liamquin commented on #9741
[closing, as if this doesn't bother i18n i'm ok with it and withdraw the comment]

[2018-04-12 18:05] #9741 closed

[2018-04-12 18:18] jgraham opened #10450 "stdlib logger doesn't work in `wpt run`"
In `wpt run` we set up a mozlog logger, which has a stdlib logging adapter. But the logger that adaptor points at isn't correctly configured and doesn't have a stream handler. This seems weird; the right setup woul have it point at the same mozlog logger we already configured. However I think it starts to work later in the process, so maybe I'm missing an impotant step.

[2018-04-12 18:48] jugglinmike opened #10451 "CLI: Download WebDriver binary according to version of browser under test"
Currently, the CLI always downloads the very latest release of the WebDriver
implementation for the browser under test. Because users may specify any
browser at any version, this may not always be appropriate.

The CLI should begin test execution by querying the browser binary for its
version and determining the WebDriver version based on that information. For
recent browser releases, the CLI coul

[2018-04-12 18:50] jugglinmike commented on #10451
I'm also curious to know what @kereliuk thinks

[2018-04-12 18:52] jugglinmike opened #10452 "WPT CLI Feature proposal: `--experimental`"
We're reporting WPT results for major browsers via https://wpt.fyi, and we'd like those results to match the results that project contributors experience (via local testing and via CI) as much as possible. To that end, [we're discussing how to promote parity between environments](https://github.com/web-platform-tests/results-collection/issues/535#issuecomment-380691344).  A new flag for the `wpt r

[2018-04-12 19:02] jgraham commented on #10451
For geckodriver this seems like unnecessary complexity. If for some reason you want to test a Firefox older than latest ESR then you are pretty much on your own. That seems fine; I  don't think we should spend effort supporting niche use cases  like that.

Chromedriver ,may be a different matter since it seems to suffer from frequent changes to CDP (if I understand correctly, which I may not). How

[2018-04-12 19:06] jgraham commented on #10452
How does this work for Chrome developers and  Chrome CI?

My initial reaction is that I'm reluctant to maintain these internal lists that  will need constant maintainance (every time a new feature is added behind a flag). For unstable/dev channel in particular it seems problematic, but that's by far the most interesting version.

[2018-04-12 20:04] jugglinmike commented on #10436
Resolved via gh-10443

[2018-04-12 20:04] #10436 closed

[2018-04-12 20:34] foolip commented on #10452
For the proposal itself, I think we're going to eventually also care about upgrading stable versions of browsers in a more principled manner, and crucially we may want some overlap in the wpt revisions tested by the old and new version, so that they may be compared directly without "test material" noise.

It's a different use case from getting wpt.fyi and Travis on the same page, but the solution

[2018-04-12 20:35] foolip commented on #10452
Worth noting is that getting the command line arguments in sync could be done without solving the versioning problems.

[2018-04-12 20:56] jgraham commented on #10452
For stable versions we shouldn't really be passing in any flags apart from those required to run tests. I appreciate that gecko isn't quite there yet since there are some feature prefs in the `prefs_general.js` file we apply; it could be worth thinking about how to solve that, but it seems low priority. In terms of drivers, I really think this data should be available externally or I don't see how

[2018-04-12 21:30] foolip commented on #10452
`prefs_general.js` is quite substantial :) For wpt.fyi we'll continue to work around some especially pressing things to unblock Chrome teams, as in https://github.com/web-platform-tests/results-collection/issues/125, where we have a fair idea of how we're going to undo it and are working on it. (@kereliuk plans to implement the permissions WebDriver API soon, that's one part of it.)

But this isn'

[2018-04-12 21:40] jugglinmike commented on #10452
I think getting these details right is important for WPT. The wpt.fyi project has received a few special handling instructions from Chromium developers, e.g.  https://github.com/web-platform-tests/results-collection/issues/81 and https://github.com/web-platform-tests/results-collection/issues/125. The Chromium team relies on their own infrastructure for validating WPT patches, so I suppose that's

[2018-04-12 22:03] jgraham commented on #10452
OK, I'm finding this pretty hard to follow. Let my try to summarise my understanding

* For stable channel browsers we want to use the released configuration, plus prefs required to actually make the tests work (e.g. disabling popup blockers). For Chrome this is basically already true, for Firefox we are currently applying the `prefs_general.js` file which contains both kinds of change.
* For unst

[2018-04-12 22:25] foolip commented on #10452
@jgraham, that understanding is correct AFAICT. Note that @jugglinmike's OP didn't say anything about pinning the browser version, I threw that into the mix.

I agree that pinning the version of experimental browsers doesn't make a whole lot of sense, even if we could occasionally be confused when we *thought* the versions were the same but they weren't.

This business of overlapping the tested co

[2018-04-12 22:27] Hexcles commented on #10452
A few minor corrections regarding @jgraham 's latest comment:

* Chrome CI always sets `--enable-experimental-web-platform-features` for all layout tests including WPT
* `VirtualTestSuite` doesn't apply specific flags to certain directories. Instead, it creates a virtual suite from a certain directory by running the same tests with additional flags. Therefore, the directory will be tested once wit

[2018-04-12 22:28] foolip commented on #10452
Pointing to `VirtualTestSuite` may have been misleading, I'm not suggesting we maintain a per-directory mapping of command line arguments, that's was just a place involving some interesting command line arguments that I was aware of.

[2018-04-12 22:32] Hexcles commented on #10452
And my point is, based on my understanding, almost none of the flags in `VirtualTestSuite` is intended to be used outside content_shell (either too premature, or content_shell testing-only). Yet I have to admit I'm not terribly familiar with those flags (or the overall philosophy).

[2018-04-12 22:35] foolip commented on #10452
FWIW, the last example in http://web-platform-tests.org/running-tests/chrome.html is what I think we need for Chrome: <code>./wpt run --binary \`which google-chrome-unstable\` --binary-arg=--enable-experimental-web-platform-features chrome</code>

(Maybe not the `which google-chrome-unstable` bit.)

[2018-04-12 22:46] jugglinmike commented on #10452
[We've also had a request for `--enable-blink-features=MojoJS,MojoJSTest`](https://github.com/web-platform-tests/results-collection/issues/81). I'm following up there to see if that is subsumed by `--enable-experimental-web-platform-features`

[2018-04-12 22:59] Hexcles commented on #10451
ChromeDriver seems to have a narrower window of supported Chrome versions, @kereliuk ?

[2018-04-13 08:13] jgraham commented on #10452
So it seems like the high impact items here might just be
* Version detect the Chrome binary and run dev/canary versions with the `--enable-experimental-web-platform-features` flag
* Produce a minimal version of the Firefox prefs file with no feature additions (in Mozilla central) and use that for stable Firefox releases.

If we need more prefs for specific tests (e.g. to enable mocks), we could c

[2018-04-13 08:49] foolip commented on #10423
@faceless2, I haven't read you issue in detail, but it looks like spec feedback and if so should be filed as an issue at https://github.com/w3c/csswg-drafts/issues/new

If you re-file it there, please close this issue. And thanks for working on https://github.com/w3c/web-platform-tests/pull/10420! If you can't manage to find a reviewer, try pinging people who have done work in the area directly. I

[2018-04-13 09:01] foolip opened #10457 ""SCHEME_DOMAIN_PORT is not defined" failures due to HTTP 500 all over websockets/"
As found in https://github.com/w3c/web-platform-tests/issues/1695#issuecomment-381071483, lots of tsets under websockets/ are failing. For example:
https://wpt.fyi/websockets/binary

In Chrome devtools I see "Failed to load resource: the server responded with a status of 500 (Internal Server Error)" so something pretty odd is happening here.

[2018-04-13 09:01] foolip commented on #10457
@jugglinmike, not sure if this will come up in your investigation, but a widespread failure like this is pretty easy to justify the time spending to fix...

[2018-04-13 09:03] foolip commented on #1694
This issue is 3 years old. https://wpt.fyi/websockets/cookies/001.html broken because of https://github.com/w3c/web-platform-tests/issues/10457 so can't investigate.

[2018-04-13 09:08] foolip commented on #1691
Just looking at the code and OP, think this was about `{handleEvent:this.unreached_func("handleEvent was called")}` as the event handler, which is a silly thing which is actually spec'd and (I think) interoperable now. So once https://github.com/w3c/web-platform-tests/issues/10457 is fixed this issue can be closed if the tests are passing in all browsers.

[2018-04-13 09:09] foolip commented on #1277
`git grep -lw noreferrer` now finds these tests, so some tests do exist now:
[code]

[2018-04-13 09:09] #1277 closed

[2018-04-13 09:13] foolip commented on #1480
http://web.archive.org/web/20160402210436/https://critic.hoppipolla.co.uk/showcomment?chain=9822

PR is https://github.com/w3c/web-platform-tests/pull/1477. Searching for `git grep -lE 'iframe.*data:'` there are other tests that load data URLs in iframes. @Ms2ger, was it just *some* test that does that which you wanted to keep, to expose differences in what the origin of the documents loaded were

[2018-04-13 09:26] foolip commented on #1295
@sideshowbarker this has been open with no activity for 3 years. Is it still relevant?

[2018-04-13 09:26] foolip commented on #1192
@sideshowbarker this has been open with no activity for 3 years. Is it still relevant?

[2018-04-13 09:27] foolip commented on #1191
@sideshowbarker this has been open with no activity for 3 years. Is it still relevant?

https://critic.hoppipolla.co.uk/showcomment?chain=4285 isn't in web.archive.org, so can't see what it was about. @jgraham FYI.

[2018-04-13 09:27] foolip commented on #1188
@sideshowbarker this has been open with no activity for 3 years. Is it still relevant?

[2018-04-13 09:27] foolip commented on #1187
@sideshowbarker this has been open with no activity for 3 years. Is it still relevant?

[2018-04-13 09:27] foolip commented on #1185
@sideshowbarker this has been open with no activity for 3 years. Is it still relevant?

[2018-04-13 09:32] foolip commented on #1273
Neither of the URLs are in web.archive.org, so can't see the old discussion, but https://github.com/w3c/web-platform-tests/pull/1227 was the PR, found by date.

The spec for this is now https://dom.spec.whatwg.org/#interface-mutationobserver

If that IDL is used, then the input array will be copied and there's no possibility of a mutate-during-iteration bug. @plehegar @annevk, would you agree, so

[2018-04-13 09:34] foolip commented on #2428
Still nothing in docs/ AFAICT. @kereliuk FYI.

[2018-04-13 10:07] faceless2 commented on #10423
Ha, quite right - I have posted this on the wrong repository. And there was me wondering why everyone had gone quiet. Reposted as https://github.com/w3c/csswg-drafts/issues/2559

[2018-04-13 10:07] #10423 closed

[2018-04-13 10:53] Ms2ger commented on #1480
I suspect I wanted some test for whatever interop issue prompted #1477. I don't think that it needs to deal with `parentNode` in particular.

[2018-04-13 11:58] foolip commented on #1480
By the title and changes in the test, then, sounds like a test for whether one can reach into `iframe.contentDocument` when the iframe src is a data URL is what's needed.

`git grep -l data: | xargs grep -l contentDocument | xargs grep -l iframe` finds these tests:
[code]

This one in particular is interesting:
https://wpt.fyi/html/browsers/origin/origin-of-data-document.html

There's a try/catch

[2018-04-13 13:13] foolip commented on #1066
Spec is https://html.spec.whatwg.org/multipage/embedded-content.html#the-img-element

3 years later, looks like this is still missing. semantics/embedded-content/the-img-element/relevant-mutations.html does involve the attribute, but it a tangential way, and I can't find any others, just a bunch of tests for the script element with the crossorigin attribute.

[2018-04-13 13:54] foolip commented on #993
A few tests for setCustomValidity were moved into place in #7554, but none involving `<output>`, so this issue is still relevant ~4 years later :)

[2018-04-13 14:24] annevk commented on #1273
Yes. Though testing this would ensure the binding is indeed implemented as such.

[2018-04-13 19:45] kereliuk commented on #10451
ChromeDriver does historically have a pretty narrow window (especially recently). We can easily create a mapping between ChromeDriver versions and Chrome versions from the documentation on the releases so this doesn't seem to hard to support for ChromeDriver at least (I'm not sure how often we will run into this though).

I agree @foolip in that I think the browser and driver version should be inc

[2018-04-13 19:52] jgraham commented on #10451
FWIW if we want to log the browser and driver version, the right place to put that is in the `run_info` dict; it's logged as part of the `test_start` action and is used to do things like set the right expectation data where that's being used.

That data isn't currently in the `wptreport.json` files but there's no reason it couldn't be.

[2018-04-14 03:12] sideshowbarker commented on #1192
No, it’s not necessary to keep it open

[2018-04-14 03:12] #1192 closed

[2018-04-14 03:13] sideshowbarker commented on #1185
No, not necessary to keep open

[2018-04-14 03:13] #1185 closed

[2018-04-14 03:14] sideshowbarker commented on #1187
No, closing

[2018-04-14 03:14] #1187 closed

[2018-04-14 06:17] #1188 closed

[2018-04-14 06:17] #1191 closed

[2018-04-14 12:52] TimvdLippe opened #10471 "HTML5_FORM_ASSOCIATED_ELEMENTS should include img"
Per https://html.spec.whatwg.org/multipage/forms.html#form-associated-element the HTML5_FORM_ASSOCIATED_ELEMENTS list as defined in `common.js` should include the `img` tag. https://github.com/w3c/web-platform-tests/blob/e4efc10a82630de47f920a737aa8ea94845191af/html/resources/common.js#L33-L35

Per https://github.com/whatwg/html/issues/294#issuecomment-377991637 the tests using this list actually

[2018-04-14 20:37] foolip opened #10475 "http://w3c-test.org/ has a segment-break-* and text-emphasis-* tests in the root"
https://github.com/w3c/web-platform-tests/issues/7773 has happened again but with more files.
<details>
<summary>Directory listing for /:</summary>

[code]
</details>

[2018-04-14 20:38] foolip commented on #10475
@sideshowbarker, if you can quickfix it that'd be nice, but can you also file a bug for why it can happen?

BTW, should the code that deploys this also end up in https://github.com/web-platform-tests/, you think?

[2018-04-14 21:26] #1295 closed

[2018-04-14 22:08] sideshowbarker opened #10476 "Figure out what causes untracked *.html files to end up in the root of the w3c-test.org repo clone"
When browsing the root of http://w3c-test.org/ and the backing local filesystem on the host, a number of different untracked *.html files sometimes end up there — files that are under version control in subdirectories of the root. The problem is apparently caused by the https://github.com/w3c/github_sync script that we use for syncing w3c-test.org with the repo master branch and for syncing the ht

[2018-04-14 22:11] sideshowbarker commented on #10475
Quickfixed and filed #10476.

We have it at https://github.com/w3c/github_sync and the last time (several years ago) I recall discussion about moving it into the wpt repo itself, @jgraham had a reason for not doing it

[2018-04-14 22:43] foolip commented on #10475
Thanks!

Can you take a look at https://bit.ly/wpt-transition and suggest what we should do with https://github.com/w3c/github_sync? Now there will be an org, so no need to merge into the main wpt repo.

[2018-04-14 22:44] foolip commented on #10475
https://github.com/w3c/web-platform-tests/issues/10476 is the follow-up so closing this.

[2018-04-14 22:44] #10475 closed

[2018-04-15 06:32] foolip commented on #10144
Oh, so there's something curious here I didn't pay attention to before: we're using marionette for wpt run, but geckodriver for these tests. Anyone know why? Is this our only dependency on geckodriver?

[2018-04-16 07:57] foolip commented on #7853
Thanks @Cactusmachete, I'll close this and we'll see if it comes up again.

[2018-04-16 07:57] #7853 closed

[2018-04-16 08:57] foolip commented on #206
Sounds like this was about bugs in the tests at https://wpt.fyi/webmessaging to begin with? I've taken a look at it seems like all tests pass in at least one browser, which is better than expected. Are there still bugs to be fixed here?

@mdittmer @lukebjerring this is a typical case where the interop view would have come in handy :)

[2018-04-16 08:58] foolip commented on #547
They are also listed in html/semantics/embedded-content/the-canvas-element/historical.html so the remaining work is to remove the test I think. I'll send a PR.

[2018-04-16 23:48] gsnedders commented on #10451
The narrowest case is Edge, where MicrosoftWebDriver is *build* specific.

I remember talking to @InstyleVII about that this at TPAC, and about providing some machine-readable index as https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/ does. The awkward case here is this only lists "Insiders" supporting "Current Insiders Fast Ring Build".

[2018-04-16 23:53] gsnedders opened #10498 "Add more css-syntax tests"
We currently have very few tests in css/css-syntax. We should *definitely* have more. (The majority of syntax tests we currently have are in css/CSS2/syntax.)

https://codereview.chromium.org/1015303002/ changes a bunch of Blink's LayoutTests when the new CSS Syntax 3 parser landed in Chromium. We should probably at least upstream those tests, given they test changed behaviour compared with CSS2 (

[2018-04-16 23:57] gsnedders commented on #8613
#9545 ran into problems with codecov.io's own behaviour; we should at least report those issues.

[2018-04-17 00:56] gsnedders commented on #9007
@foolip `OBJC_DISABLE_INITIALIZE_FORK_SAFETY` disables various safety checks in Obj-C code generally, which makes it a pretty bad workaround generally; the issue that we're hitting is things looking up proxy configuration during forking and we can disable that specifically without losing any safety guarantees.

If I'm not mistaken, the places where we create processes with `multiprocessing` are:

[2018-04-17 01:03] #547 closed

[2018-04-17 07:05] marcoscaceres opened #10501 "MISSING-TESTDRIVER-VENDOR is not documented"
The linter tells me to go to:
http://web-platform-tests.org/writing-tests/lint-tool.html

But MISSING-TESTDRIVER-VENDOR doesn't seem to be documented.

[2018-04-17 08:09] gsnedders commented on #10053
Someone (@fantasai? @frivoal?) asked what other people's IRs based on wpt were like; http://w3c.github.io/test-results/IndexedDB/ is an example of this (generated using [wptreport](https://github.com/w3c/wptreport)).

[2018-04-17 09:37] #8181 closed

[2018-04-17 09:41] foolip opened #10503 "Run PRs on Taskcluster"
If https://github.com/w3c/web-platform-tests/pull/9226 works out, it's an obvious next step to also run some subset of the tests for PRs, probably replacing the Travis runs that so often time out: https://github.com/w3c/web-platform-tests/issues/7660

[2018-04-17 11:51] #2162 closed

[2018-04-17 12:43] zcorpan commented on #6944
Sounds OK to me. @jgraham any objection?

[2018-04-17 14:29] zcorpan commented on #10457
I'm assuming that a 500 can happen if there's no port defined for `wss`. `constants.js` contains:

[code]

[2018-04-17 15:57] zcorpan commented on #10457
[config.default.json](https://github.com/w3c/web-platform-tests/blob/master/config.default.json) (read by tools/wptserve/wptserve/config.py) has:
[code]
I don't know what isn't working, though...

[2018-04-17 18:43] gsnedders commented on #10457
Labelling this as roadmap and not urgent on the assumption that this has been broken a while.

[2018-04-17 18:46] gsnedders commented on #10457
[code]

[2018-04-17 18:54] gsnedders commented on #10457
More breakage from bfef1f20a419d24633e48d24c14e6a7503e1d48c (#10231) it would seem.

[2018-04-17 18:55] gsnedders commented on #10457
So not broken for so long, and my fault…

[2018-04-17 19:02] gsnedders commented on #10457
@zcorpan `constants.js` seems to be fine.

[2018-04-17 19:14] gsnedders commented on #10457
OK, so it is `/websockets/constants.js?pipe=sub` that is failing with `500` (which makes sense in the case of `001.html`). This is wptrunner specific, seemingly, so presumably our override config is broken.

[2018-04-17 19:15] gsnedders commented on #10457
The bug here is:

[code]
in `environment.py`.

[2018-04-17 20:24] foolip opened #10511 "Include more metadata in wptreport JSON"
This came up in [Design Doc: WPT Results Receiver](https://docs.google.com/document/d/1F3GWJ6lA8C3S5WgyJgXxmTFzu92mqF-1ddGije67ork/edit?disco=AAAAB3EPiyA) with @jgraham and @Hexcles.

The format is currently:
[code]

Add something like a `metadata` field at the top level, another object with something like:
- The wpt commit being tested
- Full `wpt run` command line (which would include sharding c

[2018-04-17 21:12] gsnedders opened #10512 "wpt run --log-*-level doesn't get passed through to wptserve"
e.g., `./wpt run --log-mach-level debug firefox websockets/binary/001.html`

server.py includes:

[code]

As such, we should have log output for every HTTP request made to the server.

[2018-04-17 21:13] gsnedders commented on #10512
21:59 < jgraham> gsnedders: I'll investigate more at some point

(If @jgraham doesn't, feel free to steal this issue from him)

[2018-04-17 21:34] gsnedders commented on #10511
I'd like to see the UA string, too?

[2018-04-17 21:55] gsnedders commented on #10511
See also #10026.

[2018-04-17 21:56] #10246 closed

[2018-04-17 23:58] jugglinmike opened #10513 "[wptrunner] Sauce Labs assets are handled unsafely"
System configuration scripts for Windows and macOS are uploaded to Sauce Labs' internal storage location prior to test execution. Currently, these files are sourced from the local file system, and each upload operation over-writes any previously-uploaded file with the same name. This makes it unsafe to run multiple tests in parallel using the same Sauce Labs account. If the two test executions rel

[2018-04-18 04:33] foolip commented on #10511
The UA string couldn't be trusted for the version number, as Safari's is frozen, but sure, if it's already known then including it seems fine.

[2018-04-18 05:43] InstyleVII commented on #10451
@gsnedders is correct, it can be build specific (but not always). It's a good rule of thumb to match the build/branch/flavor of Windows and MicrosoftWebDriver.exe.

That said in our next release (RS5) which is due sometime this fall we are changing how we ship WebDriver (more detailed message [here](https://blogs.windows.com/windowsexperience/2018/04/12/announcing-windows-10-insider-preview-build-

[2018-04-18 14:41] jugglinmike commented on #10511
What do you think about a vendor-defined build identifier?

The arguments passed to the WPT CLI may be overly specific to our current needs. They may include a lot of irrelevant information (`--yes`, `--log-tbpl`, etc.). Other folks don't use that tool, so they would have to take extra steps to interpret that information. This could be inconvenient when comparing datasets across time because the C

[2018-04-18 14:58] jugglinmike commented on #10511
Other than being potentially more stable over time, I agree that my suggested additions won't be of particular use to the wpt.fyi website. For this generic test results format, I'm interested in promoting reproducibility.

[2018-04-18 15:02] foolip commented on #10511
I guess the various config dicts might also make sense to include, if we're to maximize debugability and reproducibility.

[2018-04-18 16:48] foolip commented on #10511
We could include both the driver and browser paths, and maybe derive stable vs. experimental from that, but I suspect that won't be different on Windows Insider Preview.

[2018-04-18 18:52] jgraham commented on #10511
So, in wptrunner implementation terms there are a few things to consider:
* The most natural place to put this information in the structured log is in the `suite_start` message. We should always pass things though the structured logger and never add information directly in the formatter.
* `suite_start` currently takes four parameters of interest. `run_info` is approximately information produced b

[2018-04-19 08:16] marcoscaceres opened #10529 "support test_driver in Safari/Webkit"
What needs to happen to get test_driver in WebKit?

cc @aestes

Allows us to land https://github.com/w3c/web-platform-tests/pull/10500

[2018-04-19 17:43] gsnedders commented on #10529
What doesn't work? It should all work?

[2018-04-19 17:45] jgraham commented on #10457
I need to fix this to unbreak a gecko sync, so there will be a patch soon.

[2018-04-19 17:48] marcoscaceres commented on #10529
Sorry, maybe it does. The docs said Chrome and Firefox only.

[2018-04-19 18:44] gsnedders commented on #10529
It appears to work in Safari TP but not Safari, presumably because of changes in safaridriver.

[2018-04-19 19:48] zcorpan commented on #10208
So this bug affects these 11 tests:

[code]

The HTML parser waiting for 1024 bytes or encoding declaration sounds plausible but I haven't tested to confirm that is what is happening here...

[2018-04-19 19:53] zcorpan commented on #10208
On irc
[code]

[2018-04-20 12:38] jgraham opened #10547 "/html/browsers/browsing-the-web/scroll-to-fragid/replacement-enabled.html is flaky in Gecko"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1402081

@domenic

[2018-04-20 15:09] alijuma commented on #8152
Should this still be priority:roadmap?

[2018-04-20 15:09] alijuma commented on #9345
Should this be priority:roadmap? Is there any work on this planned this quarter?

[2018-04-20 15:56] zcorpan commented on #5915
I updated the first comment with the current state. I've created PRs for a few CSS directories, getting names from the spec's editors.

[2018-04-20 15:58] zcorpan opened #10552 "Idea for new lint check: missing OWNERS for new top-level directory"
Related to https://github.com/w3c/web-platform-tests/issues/5915

It'd be nice if new top-level directories have OWNERS files from the start when they are created (or subdirectory of css/).

cc @gsnedders

[2018-04-20 20:09] tabatkins opened #10555 "[lint] SUPPORT_WRONG_DIR error not documented, no idea what it means"
I got a SUPPORT_WRONG_DIR lint error on the Travis build <https://travis-ci.org/w3c/web-platform-tests/jobs/369285418>, but that error isn't documented at <http://web-platform-tests.org/writing-tests/lint-tool.html>, so I have no idea what it means or how to fix it.

[2018-04-20 20:50] jgraham commented on #10555
That's a CSSWG specific lint rule. I think the support files have to be in a directory called `support`.

[2018-04-21 01:11] jugglinmike opened #10560 "`nonexistent-origin` exists in GNU/Linux"
[The documentation on WPT server features](https://github.com/w3c/web-platform-tests/blob/0628e2e73489ddd075f273d2555e504e97e28ce6/docs/_writing-tests/server-features.md) states:

However, following the instructions for system configuration causes requests to the domain `nonexistent-origin.web-platform.test` to resolve to `web-platform.test`:

    $ curl nonexistent-origin.web-platform.test:8000 -

[2018-04-21 02:04] csnardi commented on #10555
It looks like the actual issue is a missing close angle bracket at https://github.com/w3c/web-platform-tests/pull/10539/files#diff-ca9e8553c942492217d49b1375dbdab5R5 -- that probably broke some identification of "is this a test?".

[2018-04-21 04:14] bzbarsky commented on #7583
At this point is this more or less blocking tests being created for https://github.com/w3c/csswg-drafts/pull/437 and to some extent UAs updating to that spec change...

[2018-04-21 15:41] BigBlueHat commented on #8367
@foolip I've reapplied the commit to this new consolidated repo. Thanks!

[2018-04-22 04:49] gterzian opened #10565 "Navigation: invoking event listeners vs activation behavior of <a>"
@jgraham @gsnedders

I have a question regarding a test that you wrote three years ago:

1. https://github.com/w3c/web-platform-tests/blob/f6d0423be24252f8d31c3f4810ad9e6392a38ea0/html/browsers/browsing-the-web/navigating-across-documents/007.html
2. Perhaps others like navigating-across-documents/006.html...

I looked at  [#concept-event-dispatch](https://dom.spec.whatwg.org/#concept-event-dispat

[2018-04-23 04:03] gregwhitworth commented on #7955
Specifically this section: https://drafts.csswg.org/css-flexbox-1/#placement
And the file we currently have that you'll want to mimic in functionality is `flexbox_first-line.html`

[2018-04-23 04:36] gterzian commented on #10565
EDIT: the reason I asked this question is because I couldn't get that test to pass, and off-course the first reflex is to look for a reason outside of your own code, such as whether the test matches the spec :)

I have now gotten the test to pass(the reason for the previous failure had to do with finding the right browsing context using the name of the "target").

I'm still wondering why the click

[2018-04-23 04:38] #10565 closed

[2018-04-23 04:51] marcoscaceres commented on #10529
@gsnedders, thanks for checking. Leaving this open as we need to update the documentation, at least.

[2018-04-23 09:12] foolip opened #10572 "Travis manifest_upload job occasionally fails to create merge_pr_* tags or upload manifest"
Running a variation of the script in https://github.com/foolip/ecosystem-infra-stats/issues/6#issuecomment-375731858 to make sure that all PRs merged after 2017-07-01 have been tagged, in particular ones created well before that point, I noticed that some recently merged PRs have also not been tagged.

https://github.com/w3c/web-platform-tests/pull/10543 is the most recent. The PR and GitHub API s

[2018-04-23 10:56] zcorpan opened #10573 "Fix tests that are disabled in Gecko"
https://searchfox.org/mozilla-central/search?q=disabled%3A&case=true&regexp=false&path=testing%2Fweb-platform%2Fmeta

Number of results: 574

There are probably bugs filed for some of these, pointing to them in a comment or editing this comment would be appreciated.

[2018-04-23 11:08] jgraham commented on #10573
In theory there should be gecko bugs filed for all of them (not it's not enforced), e.g. in
`https://searchfox.org/mozilla-central/source/testing/web-platform/meta/2dcontext/drawing-paths-to-the-canvas/drawFocusIfNeeded_001.html.ini` we see

[code]
So this is test is problematic on Windows and the corresponding bug has a lot of reports  of flake. In this case  I guess focus might be the problem; i

[2018-04-23 12:16] zcorpan commented on #10052
Number of instances referencing something from those folders:
[code]

[2018-04-23 12:26] zcorpan commented on #10052
@annevk do you know offhand of any tests in particular that assume non-cacheable resources?

[2018-04-23 12:35] annevk commented on #10052
No, sorry. Perhaps things are okay. I guess you could look at how often they are referenced from fetch/xhr and see if any of those are problematic. If they're not, then...

[2018-04-23 12:44] zcorpan opened #10576 "Fix tests that are disabled in WebKit"
https://github.com/WebKit/webkit/blob/master/LayoutTests/TestExpectations

* Search for "flaky"
* Filter lines that have >1 token (e.g. [ Pass Timeout ])
* Filter lines that have [ Skip ]

[code]

[2018-04-23 13:40] zcorpan opened #10580 "Improve stability checker to better detect flaky tests with timeouts"
From IRC
<blockquote>

&lt;jgraham> zcorpan: setTimeout is probably causing flake

&lt;jgraham> Or at least I've seen at least two recent cases where a timeout was responsible for totally unnecessary flake

&lt;jgraham> (both setTimeout rather than step_timeout, and step_timeout with a too-short timeout)

&lt;jgraham> (but if you find tests that flake and have any kind of timeout, that's the first

[2018-04-23 14:24] zcorpan commented on #10052
Matches under fetch and xhr (excluding `<link` and `<script`) :
[code]

[2018-04-23 14:53] zcorpan commented on #5526
Nice! Closing.

[2018-04-23 14:53] #5526 closed

[2018-04-23 14:57] Ms2ger commented on #5915
I can take `acid` and `js`

[2018-04-23 15:13] zcorpan commented on #5915
annevk on IRC
[code]

[2018-04-23 15:16] alijuma commented on #10457
Pinging for an update since this is marked Priority:urgent.

[2018-04-23 15:27] foolip commented on #10457
Assigning to @jgraham as the urgency is on part of Gecko sync.

[2018-04-23 16:07] jugglinmike commented on #10513
Sauce Labs technical support has verified my theory regarding the unavailability of the proxy. Here's the latest:

I've asked the technician to make that request on our behalf, but it sounds like we shouldn't get our hopes up. That makes the second option described above our best bet, unless anyone can offer a simpler solution.

[2018-04-23 16:07] gsnedders commented on #10457
I reviewed a patch last week by @jgraham. Should we not fix it upstream soon, even if the Gecko sync doesn't land?

[2018-04-23 16:15] gsnedders commented on #10457
fixed in #10557 (which sadly didn't link here)

[2018-04-23 16:15] #10457 closed

[2018-04-23 16:26] jgraham commented on #9180
I think the conclusion is that this is supported by existing constructs using the right patterns?

[2018-04-23 16:27] jgraham commented on #8391
March happened, is there any update here?

[2018-04-23 16:36] gsnedders commented on #10529
I'm pretty sure I saw it working in Safari before, so I'm a bit confused. I wonder if it's some setup thing not working properly…

[2018-04-23 16:46] annevk commented on #10052
That'd be great and I'd have no hesitation then about any of this.

[2018-04-23 17:33] Hexcles commented on #8391
Oops, unfortunately no... This has been deprioritized since our strategic planning in March regarding the running infra.We'll be focusing on wpt.fyi and its supporting APIs for now.

(But I do wish to get back to this at some point.)

[2018-04-23 17:49] annevk opened #10588 "encoding/utf-32.html seems wrong"
In particular not defaulting to UTF-8 for XML doesn't seem like something that standard supports.

cc @inexorabletash

[2018-04-23 19:31] zcorpan commented on #10052
Supporting 304 Not Modified sounds like it would be good I think. Is that something that is already trivial to do, or does it require changes to wptserve or so? @jgraham ?

[2018-04-23 19:32] jugglinmike commented on #10580
@jgraham Are debug builds of Firefox publicly available? Or is this something that would have to take place within the Gecko infrastructure?

I may be able to give this a shot later this week

[2018-04-23 19:44] inexorabletash commented on #10588
Without paging all the algorithms in... I believe that the content is not being interpreted as either XML or HTML - it ends up treated as plain text. (Which is non- or under- specified?)

* Big Endian BOM: `00 00 FE FF` - no UTF-8 or -16 BOM, doesn't sniff, so plain text, windows-1252
* Little Endian BOM: `FF FE 00 00` - UTF-16LE BOM, so UTF-16, doesn't sniff?, so plain text
* Big Endian no BOM: `

[2018-04-23 19:45] inexorabletash commented on #10588
i.e. agreed that the expectations encoded in the file are non-obvious, and more investigation is needed

[2018-04-23 20:37] fantasai commented on #5915
I think Tab and I would be happy to hand off ownership to anyone who wants it, but in the meantime it's probably fine to have us added to unowned modules we edit. (I can try to be more responsive wrt reviews going forward, but tbh I've been shit at responding to review requests in general.)

[2018-04-23 21:34] gsnedders commented on #10052
@zcorpan no support currently; shouldn't be too hard to implement it.

[2018-04-23 21:35] jgraham commented on #10580
Debug builds are public, but there aren't convenient CDN links afaik; you  have to get them directly from CI; mozdownload supports this.

I wouldn't increase the iterations in any tets until we sort the problem where we do too many iterations and tests time out. It would also be intersting to see if running Firefox with `--verify` is more effective at finding issues because it enables chaos mode t

[2018-04-23 23:15] csnardi commented on #10572
The changes made in #10543 were already made in #10502 -- I assume GitHub when rebasing & merging created an empty commit and so that was swallowed up somehow (not sure how git actually deals with that, but it would make sense).

[2018-04-24 08:41] foolip commented on #10572
Oh, that would explain it indeed. @jgraham, in this situation, it seems like rather than treat the PR as merged, it would be better to close it? In any case it's appropriate that no merge_pr_* tag was created, because nothing on master actually happened, or at least commit 0628e2e73489ddd075f273d2555e504e97e28ce6 is no better a place to put the tag than some of the previous commits.

[2018-04-24 09:39] annevk commented on #5915
@grorg @junov thoughts on how to deal with all the canvas tests? Should we try to move those into html/ as they are part of that specification or is keeping them in separate top-level directories preferable for some reason? Any of you willing to review incoming PRs?

[2018-04-24 10:52] annevk commented on #10208
Adding `;charset=UTF-8` definitely changes things in Firefox when loading this in a browsing context, but Chrome doesn't seem to be affected and doesn't display anything faster.

It probably doesn't affect any of the 11 tests above though, even though they could use some improvements...

[2018-04-24 11:08] annevk commented on #10208
It seems to affect Chrome for `xhr/response-data-progress.htm`.

[2018-04-24 11:17] #4210 closed

[2018-04-24 11:52] foolip commented on #2669
@gsnedders do you have an update? https://github.com/w3c/web-platform-tests/pull/10078 is merged, looks like action is now in https://github.com/w3c/web-platform-tests/pull/10166?

[2018-04-24 12:06] foolip commented on #7434
https://github.com/w3c/web-platform-tests/pull/10113 has been merged \o/

[2018-04-24 12:06] #7434 closed

[2018-04-24 12:36] domenic opened #10597 "Clean up our custom multi-global solution for streams tests"
There's a new way to do things!!

See http://web-platform-tests.org/writing-tests/testharness.html

/cc @ricea @MattiasBuelens

We'll probably need to update my https://github.com/domenic/wpt-runner to preserve our Node.js workflow, but that's a small price to pay.

[2018-04-24 12:45] #9092 closed

[2018-04-24 14:03] Ms2ger opened #10603 "Support multiple META lines for cases where we accept multiple values"
In particular, the `global` key: http://web-platform-tests.org/writing-tests/testharness.html#multi-global-tests . Code for that was added in #6792; the multi-line approach was added in #10599.

[2018-04-24 14:03] #7210 closed

[2018-04-24 14:12] junov commented on #5915
@annevk I agree these should not be top level. I volunteer to review PRs.  There's a bunch of canvas tests in html/semantics/embedded-content/the-canvas-element, which IMHO should be closer to the other canvas tests in the directory structure.

[2018-04-24 14:50] annevk commented on #2557
Reopening in case we want to tackle the sub directories. And the couple tests that have `<meta name=variant>`.

https://github.com/w3c/web-platform-tests/pull/5148#issuecomment-286692280 can be used for conversion.

[2018-04-24 20:11] Hexcles opened #10611 "Some service worker tests broken by a wptserve change"
#10397 added the handler directory to Python import paths so that handlers can use relative imports more easily.

This unfortunately broke an existing test because of name clashing:
https://github.com/w3c/web-platform-tests/commit/6fe36d79072d5261ea504435b0dfedaf39f5805a#diff-a8fe3de8baad11a6bfc16616e86e0f11R3

[code]

I think #10397 is good to have. I'm gonna fix the test.

cc @jgraham

[2018-04-25 03:00] #9119 closed

[2018-04-25 05:09] jan-ivar opened #10622 "Two RTCRtpSender.replaceTrack tests seem incorrect."
Two of the tests added in https://github.com/w3c/web-platform-tests/pull/8814 seem incorrect.

 * replaceTrack() rejects when invoked after removeTrack().
 * replaceTrack() rejects after a subsequent removeTrack().

In Firefox these fail with "Expected replaceTrack() to be rejected with InvalidModificationError", but I find no support in the spec for this. A code comment says:
[code]
But the [spec

[2018-04-25 05:12] marcoscaceres commented on #10187
So, didn't work exactly like that... there is no way to detect it... so we have to write them one way or the other. The good news is, the test_driver works (mostly) across all browsers.

[2018-04-25 05:12] #10187 closed

[2018-04-25 06:38] marcoscaceres commented on #10529
Sounds like "it just works"... or, "will just work" based on Safari Tech Preview. Sorry for the noise, @gsnedders.

@aestes, I'll keep landing ones like #10500. Please take a look that and let me know if it's Apple Pay compatible.

[2018-04-25 06:39] marcoscaceres commented on #10529
Actually, leaving this open to update the docs.

[2018-04-25 06:43] marcoscaceres commented on #10529
Must be getting old... I could have sworn [the documentation](https://github.com/w3c/web-platform-tests/blob/master/docs/_writing-tests/testdriver.md) talked about only being supported in Chrome and Firefox. Re-reading it, seems it's all fine.

[2018-04-25 06:43] #10529 closed

[2018-04-25 12:48] annevk opened #10634 "Cleanup encoding/legacy-* folders"
It would be good to separate tests from resources (put those in a subdirectory).

[2018-04-25 13:04] annevk opened #10635 "euckr-encode-form-errors-hangul.html does not run"
And https://github.com/w3c/web-platform-tests/blob/master/encoding/legacy-mb-korean/euc-kr/euckr-encode-form-errors-hangul.html even admits it in a comment at the top.

@domenic @r12a should this be removed or can it be fixed somehow? I tried to figure out what was going on, even diffing it against similar files, but no luck thus far.

[2018-04-25 13:05] annevk opened #10636 "Code cleanup of encoding/legacy-*"
Related to #10634, what might also be useful here is to do some code deduplication, to make this easier to maintain. Currently there's a lot of copy-and-paste.

[2018-04-25 15:23] zcorpan opened #10639 "Investigate repeated restarts in chrome build"
Chrome build https://travis-ci.org/w3c/web-platform-tests/jobs/370733513 for https://github.com/w3c/web-platform-tests/pull/10606 errored. What happened?

The log repeats this many times
[code]
then at the end
[code]

I'll restart the job to see if it happens again. Pasted the full log below for investigation.

<details>
<summary>Full job log</summary>

[code]

</details>

[2018-04-25 15:33] jgraham commented on #10639
That "error" is just printed by chromedriver on startup. The frequent restarts *might* be an error; you can probaly figure out what's going on by running `wpt check-stability chrome websockets` locally.

[2018-04-25 15:33] jugglinmike commented on #10639
The "Only local connections are allowed" message is expected (see, e.g. [this explanation on Stack Overflow](https://stackoverflow.com/a/25088200)).

That said, the repetition here is concerning. It indicates that the Chromedriver binary is being restarted a large number of times. I can't comment on that, but we should re-name this issue to avoid confusion and help others find it in the future.

[2018-04-25 16:47] henbos commented on #10622
You're right, it should only reject if the transceiver is stopped, but removeTrack() doesn't stop the transceiver it only changes its [[Direction]]. I either mixed up the two concepts of "removing" or the bit about ignoring the [[Direction]] changed since the tests were written.

[2018-04-25 16:56] henbos commented on #10622
What does "ignore if the sneder already needs negotiation"? Does it mean "if it already needs negotiation, then don't reject the promise"?

And "ignore transceiver's [[Direction]] slot in this determination"? What does that mean, does that mean to perform [check if negotiation is needed](https://w3c.github.io/webrtc-pc/#dfn-update-the-negotiation-needed-flag) but skip the substeps of the algorithm

[2018-04-25 17:53] gregwhitworth commented on #7956
And here is an example of how I would test them, in this case using `sidways-lr`
http://jsbin.com/geqigacaqa/1/edit?html,css,js,console,output

[2018-04-25 17:59] claytron5000 commented on #7958
relevant link: https://drafts.csswg.org/css-flexbox-1/#pagination

[2018-04-25 19:55] claytron5000 commented on #7958
I'm having trouble understanding what the expectation is on this specification. Specifically, the idea that the `break-after` and `break-before` properties propagate to the container. This sounds like a reverse cascade.

Consider the following example:

[code]
Does this mean, `.item:first-child { break-before: avoid; }` will "propagate" to the container element? So, the container will then have th

[2018-04-25 21:53] claytron5000 commented on #7954
I'm having trouble identifying what we're testing here. I find no reference to "transition order" in the (draft specification)[https://drafts.csswg.org/css-flexbox-1/]. I thought maybe this has to do with animating (`transition`) the order of elements, but that doesn't seem quite right.

[2018-04-26 01:01] jan-ivar commented on #10622
It means determine if the new track can be sent immediately by a negotiated sender, i.e. without violating its negotiated envelope, and if not, reject. I find the green note under [replaceTrack](http://w3c.github.io/webrtc-pc/#dom-rtcrtpsender-replacetrack) clarifying about the kinds of things replaceTrack is meant to reject on. These are all rare (unimplemented AFAIK).

When the sender is not yet

[2018-04-26 06:43] alvestrand commented on #8301
seems we are having the same discussion in https://bugs.chromium.org/p/chromium/issues/detail?id=836871

[2018-04-26 09:54] foolip commented on #10572
I have created the merge_pr_10194 and merge_pr_10445 tags, and deleted the untagged-9aa6616bd18782ef19ad that was automatically created.

https://github.com/w3c/web-platform-tests/pull/10543 is still an odd case that will need @jgraham's input.

[2018-04-26 10:39] Ms2ger opened #10652 "resources_unittests fails intermittently"
Output:

[code]

Seen on #10650.

[2018-04-26 10:50] Ms2ger commented on #10652
CC @jugglinmike

[2018-04-26 11:02] foolip commented on #10572
@jgraham the problem is that the PR claims to be merged at commit 0628e2e73489ddd075f273d2555e504e97e28ce6, but that's just what master happened to be when the rebase happened. And https://github.com/w3c/web-platform-tests/pull/10543/files still lists changes that weren't made as part of that PR.

Seems to me that the rebase must have resulted in no commits on the branch (not an empty commit), and

[2018-04-26 11:55] foolip opened #10653 "Taskcluster master runs fail very often"
https://github.com/w3c/web-platform-tests/pull/9226 landed yesterday so we have some finished runs now. The most recent from https://github.com/w3c/web-platform-tests/commits/master:
* https://github.com/w3c/web-platform-tests/commit/16c3c0730390a2e1b6bc2919dfeedc159e2b6a01 &rarr; https://tools.taskcluster.net/task-group-inspector/#/W6qbW3yQQ-udvC3EfCbIWA
* 3e538e72b8f12de065612862486c3fc24beb9c53

[2018-04-26 11:56] foolip commented on #10653
@jgraham, in addition to fixing this, what monitoring do you think we should put in place? If this is on track to become critical infrastructure, then I'd like something in https://foolip.github.io/ecosystem-infra-rotation/ to go red when Taskcluster is consistently failing. What API should I look at?

[2018-04-26 12:42] zcorpan opened #10655 "Fix tests that are disabled in Edge"
@thejohnjansen can you provide a list of web-platform-tests that are disabled or marked as flaky or slow in Edge?

[2018-04-26 12:45] zcorpan opened #10656 "Fix tests that are disabled/flaky/slow in >1 browser"
The following issues
https://github.com/w3c/web-platform-tests/issues/10576
https://github.com/w3c/web-platform-tests/issues/10574
https://github.com/w3c/web-platform-tests/issues/10573
https://github.com/w3c/web-platform-tests/issues/10655

Find tests that are disabled or flaky or slow in more than one browser and investigate why and fix.

Report for Mozilla/Chromium/WebKit is available at http:/

[2018-04-26 13:58] zcorpan commented on #10639
It happened again after restart it seems.

https://travis-ci.org/w3c/web-platform-tests/jobs/370733513

(I have now force-pushed a squashed commit to restart all checks.)

<details>
<summary>Log</summary>
[code]
</details>

[2018-04-26 14:43] r12a commented on #10635
This is another file that was not intended to be a test, and was copied over in error. It should be deleted.

I combed through the other files in the kr directory and i believe it's just this and its headers file that need to be removed.

I'll also comb through the other directories.

[2018-04-26 16:27] gsnedders commented on #10652
(Maybe a dupe of #10144, though that doesn't say what fails? @foolip @lukebjerring)

Is this actually intermittent? Locally they *always* fail.

[2018-04-26 16:29] gsnedders commented on #10144
@foolip @lukebjerring We now also have #10652 about these failing, and I don't know how to tell if it's a dupe or not; do either of you know what was failing? https://github.com/w3c/web-platform-tests/pull/10100#issuecomment-375328006 doesn't link to any Travis run, and given there's no failing Travis run on that PR any more I don't know how to reasonably find it.

[2018-04-26 16:33] #10635 closed

[2018-04-26 16:47] Hexcles commented on #10652
A direct link to the Travis failure: https://travis-ci.org/w3c/web-platform-tests/jobs/371483793

Sorry I restarted the job to see if it was really intermittent, and now it can't run anymore because the PR has been merged and we lost the raw logs...

@Ms2ger why did you think it was intermittent?

[2018-04-26 16:47] Hexcles commented on #10652
@gsnedders FWIW, I don't think this is a dupe of #10144, which only happens locally and is caused by some setup/dependency issues that shouldn't exist on Travis.

[2018-04-26 17:00] jugglinmike commented on #10652
Consistently failing on my machine, too. I'll have a patch ready shortly

[2018-04-26 17:01] jugglinmike commented on #10652
Or maybe not, since @gsnedders you've already self-assigned

[2018-04-26 18:05] Hexcles commented on #10652
Asserting almost the whole output seems a bit brittle to me. @lukebjerring also had some thoughts regarding these tests a while ago.

[2018-04-26 19:02] lukebjerring commented on #10652
Yeah, unit tests for the harness that assert the exact output are _way_ too brittle.
There's also some bugs with the `stack` use in the harness anyway (the original error is discarded, so the stack is only from inside the `promise_test` down to the assert.)

[2018-04-26 21:20] Hexcles opened #10667 "wptserve sometimes throws IndexError when {{sub}} is used"
Example test: `html/semantics/scripting-1/the-script-element/module/crossorigin.html`
which refers to this resource that uses server-side substitution: [`html/semantics/scripting-1/the-script-element/module/crossorigin-root-wrongheader.sub.html`](https://github.com/w3c/web-platform-tests/blob/master/html/semantics/scripting-1/the-script-element/module/crossorigin-root-wrongheader.sub.html)

Loadin

[2018-04-26 21:35] tabatkins commented on #10555
Fixed the syntax error, we'll see how that goes.

But the underlying problem that this error isn't documented still needs to be fixed. ^_^

[2018-04-27 08:06] foolip opened #10672 "ci_manifest.sh failed to upload MANIFEST.json for merge_pr_10605"
https://github.com/w3c/web-platform-tests/pull/10605 landed as commit 8e66eb476c019bc90ca345faf2c7178dab0c0837 and was tagged as merge_pr_10605 in this Travis build:
https://travis-ci.org/w3c/web-platform-tests/builds/371536851.

However, https://travis-ci.org/w3c/web-platform-tests/jobs/371536852 failed, ending like this:
[code]

As a result, no MANIFEST.json was uploaded. Compare to previously t

[2018-04-27 08:10] foolip commented on #10672
@jgraham seems like this was a network problem.

https://docs.travis-ci.com/user/common-build-problems/ mentions `travis_retry`, but: "Note that travis_retry only works within the script step. It will not work in other steps, like deploy."

And we are using the deploy step:
[code]

[2018-04-27 08:11] foolip commented on #10672
I will try restarting https://travis-ci.org/w3c/web-platform-tests/jobs/371536852 and hope we don't have a bug where that'll upload the manifest to the wrong release...

[2018-04-27 08:13] foolip commented on #10672
@lukebjerring @Hexcles FYI, until this kind of issue is very rare relying on these assets as the only source of MANIFEST.json files might not be enough. A fix for this within the existing Travis setup would of course be a good way forward, not saying that a workaround is necessary.

[2018-04-27 08:42] foolip commented on #10572
It just happened again. untagged-f360b6391e175d60f813 was created for commit 4f397167b4ed552a02201c92d363cfaecfe2c7f0 which is from https://github.com/w3c/web-platform-tests/pull/10663, and the build was https://travis-ci.org/w3c/web-platform-tests/builds/371818852.

This time the log says:
[code]

Don't know why that is, maybe a GitHub API problem.

[2018-04-27 08:43] foolip commented on #10572
https://github.com/w3c/web-platform-tests/pull/10673 is to make the Travis job fail if no merge_pr_* tag could be created, but it won't help with the problem just reported in https://github.com/w3c/web-platform-tests/issues/10572#issuecomment-384906224.

[2018-04-27 08:46] foolip commented on #10572
I restarted https://travis-ci.org/w3c/web-platform-tests/jobs/371818853 but that didn't fix the problem, now it says "ERROR:\_\_main\_\_:No PR found for master" instead.

[2018-04-27 08:52] foolip commented on #10572
I have deleted untagged-f360b6391e175d60f813 and created merge_pr_10663 instead.

[2018-04-27 08:58] foolip commented on #10653
Actually, failure rate is not 100%, yay! 5 have succeeded since runs began:
https://tools.taskcluster.net/groups/BJzrvu9gRN6vjLhFrvWk8g
https://tools.taskcluster.net/groups/dejBi8nIReeNeb_g86-fUQ
https://tools.taskcluster.net/groups/KmOaDWNPQ1eNkLf4mnCWaw
https://tools.taskcluster.net/groups/Xe2wHC-IQT2WP2KIUpIgOw
https://tools.taskcluster.net/groups/Bv2TZUgeSyGhXblM8UU0aA

[2018-04-27 08:59] foolip commented on #10653
@Hexcles @lukebjerring , even for the failing ones there will be *some* results. I guess we will have to decide whether we require all tasks to have succeeded, or if we collect and submit partial results to wpt.fyi and treat it as a processing or frontend problem what runs to show. WDYT?

[2018-04-27 12:53] mattto commented on #10667
I'm not sure what @wanderview saw but in Chrome I'm seeing many recent flaky failures with output like get_host_info or base_path is undefined, and they are supposed to be defined by importScripts. So sounds likely to be the same thing.

[2018-04-27 12:57] foolip commented on #10672
Looks like the error is the same after a restart. Having the full error would be nice.

[2018-04-27 13:12] foolip commented on #10572
https://github.com/w3c/web-platform-tests/pull/10673 worked, because we just had a broken build from master: https://travis-ci.org/w3c/web-platform-tests/jobs/372015780, which is for https://github.com/w3c/web-platform-tests/pull/10678.

That PR doesn't show up in https://api.github.com/search/issues?q=type:pr+is:merged+repo:w3c/web-platform-tests+438f2694a95cb9c7f329ef89c1d37fa7140106f0 even now,

[2018-04-27 13:14] jgraham opened #10682 "Intermittent failures on TaskCluster"
Seems like we are seeing some intermittent failures, particular ly in reftests. This appears to be mostly timeouts.

[2018-04-27 13:15] foolip commented on #10572
The PR merged immediately before it is https://github.com/w3c/web-platform-tests/pull/10675 and https://api.github.com/search/issues?q=type:pr+is:merged+repo:w3c/web-platform-tests+cc29a15b5c00d90149d8f60f96ca4f77a989a2d7 does find that, but I can't see what the difference could be.

The temptation to blame everything odd on GitHub is strong, should we call this "search indexing is broken"? dunno

[2018-04-27 13:16] annevk commented on #10572
Right, per https://github.com/w3c/web-platform-tests/commits/master it's been broken for a while.

[2018-04-27 13:26] foolip commented on #10572
Note that `travis_retry` probably won't fix this problem unless it also has waiting built in. Otherwise it'll just try n times fast and fail anyway.

[2018-04-27 13:27] foolip commented on #10672
Keeping this open with the backlog label to collect more cases if it keeps happening. If it doesn't happen again in a few weeks/months/years I think we should close this.

[2018-04-27 13:29] jgraham commented on #10653
Re: the API you want the GitHub (combined) status API.

[2018-04-27 13:31] foolip commented on #10653
@jgraham you mean just to know that Taskcluster has finished?

[2018-04-27 13:38] foolip commented on #10572
OK, job restart worked and created merge_pr_10678 + merge_pr_10671, I didn't do those manually.

[2018-04-27 13:59] jgraham commented on #10653
Yes. If you want to know specifics about the task statuses, you use e.g. https://queue.taskcluster.net/v1/task-group/Jvlwi0jnR-68F5eUlfcfgg/list where the random string is the taskgroup id that you can get from the URL in the status messge.

[2018-04-27 14:29] kereliuk opened #10684 "Dedupe all docs"
No more confusing two places of the same thing!

[2018-04-27 14:42] gsnedders commented on #10684
I think just a dupe of #5289. 😁

[2018-04-27 14:42] #10684 closed

[2018-04-27 14:44] gsnedders commented on #5289
Note that https://github.com/jekyll/jekyll/issues/5728 or something similar could allow us to include the README.md (in its entirety), which is probably not ideal (given we don't want, e.g., the header).

[2018-04-27 20:00] nox opened #10695 "Dubious cross-origin document.origin test"
[code]

https://freenode.logbot.info/whatwg/20180427#c1520584

Cc @annevk

[2018-04-28 06:12] foolip commented on #10695
Also shows up in https://master-dot-wptdashboard.appspot.com/interop/html/browsers/origin/relaxing-the-same-origin-restriction and https://wpt.fyi/html/browsers/origin/relaxing-the-same-origin-restriction

@zcorpan has this showed up in any of your error reports? Seems like there should be cases like sprinkled across wpt and some fraction of them might reveal some interesting interop problem if fi

[2018-04-28 17:59] Cactusmachete commented on #10653
I've intermittently come across this issue myself when messing around with `./wpt run`. Not sure where it stems from, but it doesn't seem to be Taskcluster specific.

[2018-04-29 20:05] zcorpan commented on #10695
The only html/browsers/origin/ test I see in https://bocoup.github.io/wpt-disabled-tests-report/ is this one:

/html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_setter_null.tentative.html | webkit | [ Pass Failure ] | webkit.org/b/177440
-- | -- | -- | --

In https://bocoup.github.io/wpt-error-report/ this test shows (I'll defer to @rwaldron on how to interpret the below)

[2018-04-29 20:42] foolip opened #10706 "IndexedDB/keypath-special-identifiers.htm failure in Edge is misleading"
https://wpt.fyi/IndexedDB/keypath-special-identifiers.htm

Here it looks like there's a different test in Edge than in the other browsers. Actually, for some reason it seems like the test has been treated as `file_is_test`, probably at this line:
https://github.com/w3c/web-platform-tests/blob/62c85b4892519965b4e15f4291a4f7acc6e13ab5/resources/testharness.js#L2915

This should arguably have been a

[2018-04-29 20:45] foolip commented on #10706
@pwnall, can you take a look? Test is from https://github.com/w3c/web-platform-tests/commit/279eb98482d80bbe76cdb30a491c11d45c83ed65 (one of our earliest exports)

@jugglinmik, is this the category of weirdness you mentioned last week? The behavior we have here sure doesn't seem very good.

[2018-04-29 20:46] foolip commented on #10706
As for the reason for the failure, it's that Edge doesn't seem to support the File constructor.

[2018-04-30 03:36] frivoal opened #10707 "Automatically apply the "wg-css" label"
There's a wg-css label, presumably to label tests that cover specs produced by the css working group.

I believe that at some point, this label was automatically applied to any pull request that contains tests  under the css directory, but either that broke down at some point, or it never worked and I just imagined it.

Either way, it would be good to fix that, as that's a useful label, and it wou

[2018-04-30 03:38] frivoal commented on #10707
Or maybe it works, but not reliably. Here's a PR where this had to be added manually: https://github.com/w3c/web-platform-tests/pull/10700

[2018-04-30 11:01] gsnedders commented on #10707
@frivoal The labelling is done by https://github.com/tobie/ganesh. The fundamental problem is that `tr.rdf` doesn't consistently include versionless URLs (it mostly does for non-CSS specs, oddly) and it uses that data to attribute directories to WGs; there's some bunch of emails on www-archive somewhere about that omission.

cc/ @tobie

[2018-04-30 11:25] tobie commented on #10707
Yeah. Version/edition numbers at W3C are inconsistent even within each WG. Little we can do here except completely rethink Specref to handle it automatically (which no one seems ready to fund) or fix those manually by adding an alias to Specref. I recommend the latter.

[2018-04-30 12:05] #8367 closed

[2018-04-30 12:42] jgraham commented on #10653
I think the biggest issues here are now fixed. I see occasonal timeouts still, which warrant investigation because I'm not sure it should take so long to run tests, and there seems to be a race condition when merging PRs that we sometimes get "Reference is not a tree".

[2018-04-30 12:42] gsnedders commented on #10667
@Hexcles I've now loaded that file thousands of times on both Linux and macOS and I haven't seen it fail once?

[2018-04-30 18:14] kereliuk opened #10716 "Testdriver calls cannot return any values"
Currently there is no capability in the infrastructure for testdriver to return any information after the call.

For instance, if we want to use testdriver to get the current window size, there is no way to return that information to the testharness.

[2018-04-30 18:16] jgraham commented on #10716
I agree that could be a problem, but the motivating example isn't very covincing. In particular, why is a test changing the browser window size? What's the use case that you're trying to solve?

[2018-04-30 21:08] Hexcles commented on #10667
@gsnedders ahh sorry, I just realized the exception only occured when loading the test (`html/semantics/scripting-1/the-script-element/module/crossorigin.html`), not when loading the resource alone. It's quite easy to reproduce on Debian (sid) with Chrome (beta).

I think I traced down (close to) the root cause: `wptserve.Config.ports` is flaky and returns random stuff when there are concurrent re

[2018-04-30 21:55] #10667 closed

[2018-05-01 02:00] frivoal commented on #10707
csswg has standardized to used unversioned shortnames for test directories. Does that mean we just need to add an unversionned alias to every versioned shortname in specref to workaround the problem?

[2018-05-01 03:33] frivoal commented on #9113
I am not convinced this is actually a good idea. Yes, it has obvious benefits, but it would also have downsides. CSS, unlike JS, is not a general purpose language, and there are not that many ways you can detect and recover from lack of support. The ones we do have (using the cascade, `@supports`) work well, but they totally rely on things working when they parse.

Adding tests (especially large a

[2018-05-01 05:32] tobie commented on #10707
Yes.

[2018-05-01 13:09] #2669 closed

[2018-05-01 14:29] jdm opened #10734 "How to deal with tests for obsolete specs?"
Specifically, consider https://w3c.github.io/navigation-timing/#obsolete which has the text "kept here for backwards compatibility". There are a bunch of tests that use the obsolete `performance.timing` attribute: https://github.com/w3c/web-platform-tests/search?utf8=%E2%9C%93&q=%22performance.timing%22&type= . It's not totally clear if browsers are expected to implement backwards-compatible level

[2018-05-01 14:59] lddubeau opened #10736 "The Python requirements for running Firefox are broken"
What I describe below happens with `master` at a0b855086f1e4b386d0514dd0a0bbd716be8abfb

About an hour ago I cloned WPT for the first time and tried to run the tests with my local Firefox installation. After performing the necessary setup, I immediately ran into a problem while running `./wpt run firefox dom/nodes/Node-normalize.html` I got this error:

[code]

`DMError` is indeed not provided by

[2018-05-01 15:47] jugglinmike commented on #10736
Confirmed. This has also interrupted results collection for https://wpt.fyi, but only the most recent builds (i.e. those scheduled for 8:00 EST). Now bisecting...

[2018-05-01 16:02] jugglinmike commented on #10736
The regression was introduced in commit 8b9f853fd06ca887b340e77e342d323c32635a13:

    commit 8b9f853fd06ca887b340e77e342d323c32635a13
    Author: pyup-bot <github-bot@pyup.io>
    Date:   Mon Apr 30 21:55:58 2018 +0100

        Update mozrunner from 7.0.0 to 7.0.1

    diff --git a/tools/wptrunner/requirements_firefox.txt b/tools/wptrunner/requirements_firefox.txt
    index 0eb26e7..e9c79d0 10064

[2018-05-01 16:43] jugglinmike commented on #10736
I haven't been able to find [any relevant bugs filed againsst mozrunner](https://bugzilla.mozilla.org/buglist.cgi?resolution=---&resolution=FIXED&resolution=INVALID&resolution=WONTFIX&resolution=DUPLICATE&resolution=WORKSFORME&resolution=INCOMPLETE&resolution=SUPPORT&resolution=EXPIRED&resolution=MOVED&query_format=advanced&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPE

[2018-05-01 17:05] jugglinmike commented on #10736
It appears that we are able to use `mozrunner` at version 7.0.0 because there are no references to `mozdevice` throughout all of WPT:

    $ git log -n1
    commit a77f2be0145f9a1fceeab3cdf11071095d84704b
    Merge: 6b65b4b 757f74c
    Author: Servo WPT Sync <32481905+servo-wpt-sync@users.noreply.github.com>
    Date:   Tue May 1 10:26:14 2018 -0400

        Merge pull request #10733 from w3c/sync

[2018-05-01 17:06] jugglinmike commented on #10736
Looks like @gsnedders beat me to the punch!

[2018-05-01 19:35] thejohnjansen opened #10741 "Python checks for hosts file are not working anymore"
After @gsnedders recent changes to run.py, tests no longer work on Windows. During the check for the hosts file, it throws an error suggesting you should create the hosts entries. However, doing so does not help.

When the entries are created, there is an additional space character injected between each char

eg:  1 2 7 . 0 . 0 . 1 	 w e b - p l a t f o r m . t e s t

So then later, the checks fai