[2018-09-07 22:09] Hexcles commented on #12880
Found the issue when helping @clelland to troubleshoot a feature-policy test.

It was worked around by automating the test (using `testdriver.js`, woohoo!), so the test isn't manual any more. However, I can't think of any viable workaround to tell `wptserve` to add headers to a manual test, so let's call it roadmap.

[2018-09-07 23:59] gsnedders commented on #12880
Fundamentally, I don't think many people are relying on what the manifest lists as manual tests, so it's arguably not even `roadmap` but should be `backlog`.

It shouldn't stop the `.headers` from working, though? `wptserve` doesn't look at the type the manifest gives it (it doesn't have any knowledge of the manifest).

[2018-09-08 23:56] TalbotG commented on #12419
**Several test suites have not been rebuilt** on the server:

The **last time** these 3 test suites

http://test.csswg.org/suites/css-backgrounds-3_dev/

http://test.csswg.org/suites/css-multicol-1_dev/

http://test.csswg.org/suites/css-writing-modes-3_dev/

have been built was **on August 7th** while the zip file (nightly-unstable.zip) is built on every day.

[2018-09-09 14:37] foolip commented on #10908
Resolved by https://github.com/web-platform-tests/wpt/pull/12679 \o/

[2018-09-09 14:37] #10908 closed

[2018-09-09 14:40] foolip commented on #12116
This was done in https://github.com/web-platform-tests/wpt/pull/12679.

[2018-09-09 14:40] #12116 closed

[2018-09-09 14:42] foolip opened #12907 "Update epochs/* branch from reliable infrastructure"
In [Run stable and beta releases on TaskCluster](https://github.com/web-platform-tests/wpt/pull/12679) epochs/daily and epochs/weekly branches are used to trigger runs. These are created by https://github.com/foolip/wpt-epochs-branch-updater and that script is run on a loop on my workstation.

That branch management should either be made part of https://github.com/web-platform-tests/wpt.fyi/tree/m

[2018-09-09 14:43] foolip commented on #12116
I've filed https://github.com/web-platform-tests/wpt/issues/12907 about the branch maintenance.

[2018-09-09 14:46] foolip opened #12908 "Use --enable-experimental-web-platform-features for chrome-dev on Taskcluster"
Results from Taskcluster are now being submitted to wpt.fyi staging:
https://staging.wpt.fyi/test-runs?labels=taskcluster,experimental

However, unlike the Buildbot runs, they don't have experimental web platform features enabled.

[2018-09-10 14:10] gsnedders commented on #11476
@jgraham how do you feel about changing behaviour here?

[2018-09-10 14:19] RByers commented on #7156
Note that [some support for automation](https://web-platform-tests.org/writing-tests/testdriver.html) is currently available and in regular use.  /cc @foolip

[2018-09-10 14:58] jgraham commented on #11476
Nervous. It makes us incompatible with gecko reftests, so even if we fix any cases where we get different results because of this change, we will likely have people expecting the old behaviour. I also wonder how stable the tests will be if we require the screenshot between `DOMContentLoaded` and `load`; for WebDriver implementations there's a full round trip before the screenshot itself is taken,

[2018-09-10 16:12] plinss commented on #12419
Normally the test suites get rebuilt every night around midnight pacific time. A while back I added the svg test suite to the build (by request) and apparently it's been breaking the build. I turned the svg test suite off until I have time to figure out why it's breaking the build.

[2018-09-10 17:38] foolip commented on #12725
It looks like there is no support in https://w3c.github.io/webdriver/ for controlling the viewport zoom level, https://w3c.github.io/webdriver/#set-window-rect just allows you to set a size.

https://github.com/GoogleChrome/puppeteer/blob/v1.8.0/docs/api.md#puppeteerconnectoptions does support a `deviceScaleFactor` setting, so this is clearly something that's possible to do in principle.

[2018-09-10 17:41] foolip commented on #9686
@Honry as a PR for this in the spec at https://github.com/w3c/sensors/pull/369.

[2018-09-10 17:44] foolip commented on #7156
It's fun to see this old issue and that we've actually resolved half of it now. [doNextStepWithUserGesture](https://code.google.com/p/chromium/codesearch#search/&sq=package:chromium&type=cs&q=doNextStepWithUserGesture) is now supported. [`test_driver.bless()`](https://web-platform-tests.org/writing-tests/testdriver.html#bless) is the shorthand for it, but that's built on [`test_driver.click()`](ht

[2018-09-10 17:44] #7156 closed

[2018-09-10 18:29] gsnedders opened #12934 "tools/wpt testsuite exceptionally slow on Windows"
This is largely down to https://github.com/web-platform-tests/wpt/issues/11386; it could possibly be worked around by using a more up-to-date revision after #12182 landed which means in the common-case we don't actually read all the files.

[2018-09-10 18:30] gsnedders opened #12935 "tools/wpt testsuite failures on Windows"
Excluding the tests mentioned in #12934, running this gets the following:

[code]

[2018-09-10 19:59] clelland commented on #12880
When running `foo-manual.html`, the `foo-manual.html.headers` file *does* get correctly found and used as the headers for the test.

The trouble is that `foo-manual.html.headers` is then *also* run as if it were a test of its own, and of course that test fails.

[2018-09-10 21:18] gsnedders commented on #12880
FWIW: I think the fix is literally just special-casing ".headers" in the code in the original comment, if anyone wants to try fixing this.

[2018-09-11 02:08] foolip commented on #7784
This is now done, PRs will be automatically created to reflect any changes that happen in reffy-reports.

[2018-09-11 02:08] #7784 closed

[2018-09-11 13:19] EdgarChen opened #12947 "custom-elements/connected-callbacks-html-fragment-parsing.html has incorrect expectation"
See
https://github.com/web-platform-tests/wpt/blob/7e6d78de85f3fe71cc7c46fbaed17a8cd76f7d44/custom-elements/connected-callbacks-html-fragment-parsing.html#L40
And
https://github.com/web-platform-tests/wpt/blob/7e6d78de85f3fe71cc7c46fbaed17a8cd76f7d44/custom-elements/connected-callbacks-html-fragment-parsing.html#L25-L29

The test expects the `<x-parent>` has `<x-child>` appended when the connected

[2018-09-11 14:45] gsnedders opened #12949 "tools/tox.ini fails on Windows"
[code]

[2018-09-11 15:26] EdgarChen commented on #12947
And it turns out this is a spec bug, we should expect the script to be executed after fragment tree is built.

[2018-09-12 10:06] jgraham commented on #12908
There's basically three possible ways to do this; either pass in `--binary-arg=--enable[…]` in the taskcluster shell script (although note that #12657 removes this), or enable it by default in `wptrunner` (maybe only if the channel is specified as dev), or in the `wpt run` frontend (again if the channel is specified as something nightly. For Firefox we effectively do this in wptrunner because we h

[2018-09-12 11:13] mrego commented on #12421
I guess these kind of tests are already covered by `contain-layout-ink-overflow-*`.
Should we just remove `contain-layout-015.html`?

CC @frivoal

[2018-09-12 11:14] foolip commented on #12908
@Hexcles, do you have preferences?

Any of those seem fine to me, with perhaps a slight preference for putting it in the Taskcluster setup, because dev *without* the extra features is a real thing and it'd be odd if it's not even possible to run that.

[2018-09-12 12:11] jgraham commented on #12908
It is a real thing, but if Chromium developers are running wpt via wpt run, I *assume* the most useful default would be to run with experimental features enabled, matching wpt.fyi. Making them pass a flag like `--binary-arg=--enable-experimental-web-platform-features` to reproduce those results seems unfriendly.

Another options is to add `--chrome-experimental` and `--no-chrome-experimental` flag

[2018-09-12 13:48] frivoal commented on #12421
I think we should indeed remove it.

As it is, it doesn't show any red regardless of support for css-contain. The presence of scrollbars should make it fail, but since many modern browsers/OSes have transient scrollbars, that's might not work.

However, if we fix that test to take care of that issue, then it is redundant with the contain-layout-ink-overflow-* tests from Gérard.

[2018-09-12 13:52] frivoal commented on #12421
If you want to submit a PR to remove it, I'll gladly approve it. Otherwise, I'll get to it myself eventually.

[2018-09-12 15:52] jugglinmike commented on #12908
gh-10452 proposes a generic flag that could enable experimental features for any browser

[2018-09-12 15:59] jdm opened #12971 "Lint failure on master"
[code]

[2018-09-12 15:59] jdm commented on #12971
This came from #12954.

[2018-09-12 15:59] jdm commented on #12971
Which of course had a fine travisCI check: https://travis-ci.org/web-platform-tests/wpt/builds/427339452?utm_source=github_status&utm_medium=notification

[2018-09-12 16:32] #12971 closed

[2018-09-12 16:34] #10503 closed

[2018-09-12 17:04] #12421 closed

[2018-09-12 23:18] gsnedders commented on #7598
@dbaron did you see https://github.com/web-platform-tests/wpt/issues/7598#issuecomment-417618025?

[2018-09-13 15:08] mdittmer commented on #12874
@gsnedders has this issue recurred or is it safe to close it?

[2018-09-13 16:46] MatsPalmgren commented on #8615
@foolip I'm [told](https://bugzilla.mozilla.org/show_bug.cgi?id=1490969#c1) that we're blocked on WPT reftests not working on Android.

[2018-09-13 20:08] mdittmer commented on #12166
With  #12824 and #12679 merged, should this be closed @jgraham and @whimboo?

[2018-09-13 20:10] whimboo commented on #12166
If the latest logs don't show the debug and trace output anymore, we can close it.

[2018-09-14 08:11] Ms2ger opened #13003 "#12975 should have failed CI with NON-EXISTENT-REF"
[code]

but the only-check-changed-files approach failed to notice this error running on #12975.

CC @jgraham @gsnedders

[2018-09-14 09:10] foolip commented on #10716
Demoting this to backlog as it's not clear which APIs we need it for. Existing PR is at https://github.com/web-platform-tests/wpt/pull/11080 and can be revived when needed for some other work.

[2018-09-14 12:44] foolip opened #13005 "WPT CLI: --headless / --no-headless"
Spinoff from https://github.com/web-platform-tests/results-collection/issues/603.

As a user of `./wpt run`, it would be great to be able to not have a lot of windows be created, as it makes it hard to do other work while the tests are running.

I would propose that `--headless` is the eventual default with `--no-headless` as the opt-out, but having the ability to enable it is the first step.

[2018-09-14 14:52] foolip commented on #12907
Work tracked in these two issues:
https://github.com/web-platform-tests/wpt.fyi/issues/551
https://github.com/web-platform-tests/wpt-pr-bot/issues/41

[2018-09-14 23:04] jugglinmike opened #13013 "Restarting after test failures"
By default, the WPT CLI responds to "unexpected" results by restarting the browser. In the absence of a test expectations file, this means restarting following every failing tests. That extends the time required to run the tests, but it also improves the fidelity of the results.

[The results-collection project allows this behavior when testing Firefox and Chrome](https://github.com/web-platform-t

[2018-09-14 23:59] TimothyGu commented on #13003
Fixed the issue-on-master for now by merging https://github.com/web-platform-tests/wpt/pull/12999.

[2018-09-15 14:34] vatsalanarang commented on #5294
I am interested in solving this issue.how can I do this?

[2018-09-15 15:06] foolip commented on #5294
@gsnedders can you give guidance?

[2018-09-15 21:27] foolip commented on #13013
For the 94 tests that were affected, did they tend to go from failing to passing, or was it a mixed bag?

[2018-09-16 00:54] wisniewskit commented on #7933
@annevk, it's been quite a while with no response; should we ping someone else about this?

[2018-09-16 06:54] fantasai opened #13019 "Test combination of white-space: pre-wrap and centering / right-alignment"
What the title says.

[2018-09-17 08:51] foolip commented on #7933
https://wpt.fyi/results/xhr/open-during-abort-processing.htm?label=experimental shows that Edge is now also passing the test.

Comparing that to https://wpt.fyi/results/xhr/open-during-abort-processing.htm?label=stable, it's interesting that Firefox and Safari are now failing in the same way, where previously they did not. (Safari has changed.)

[2018-09-17 08:53] foolip commented on #7933
@wisniewskit, how did you come across this, is it a compat issue that has affected real web sites?

[2018-09-17 08:53] annevk commented on #7933
FWIW, I think I'd prefer to keep the specification as-is, as changing it is always rather involved, and file bugs against Chrome and Edge.

[2018-09-17 08:55] foolip commented on #7933
@thejohnjansen might you be able to help figure out why Edge has apparently changed here?

[2018-09-17 08:57] foolip commented on #9346
@gsnedders, before I try this, does testdriver.js work with reftests?

[2018-09-17 09:29] foolip opened #13024 "Update affected tests heuristic to handle changes in interfaces/*.idl"
https://github.com/web-platform-tests/wpt/pull/13015 is an example of a PR that changed an IDL file, but where no test was taken to be affected. The [Taskcluster log](https://taskcluster-artifacts.net/B4EejmHXSwiaz9GPkLlGZg/0/public/logs/live_backing.log) said:
[code]

This needs to be fixed to avoid manually testing all PRs created from reffy-reports.

[2018-09-17 13:55] wisniewskit commented on #7933
@foolip, I found this simply because I was trying to explain why Gecko was failing this, as it seemed to be following the spec. I'm unaware of any live sites being affected, but I feel it's still an interop issue worth resolving.

[2018-09-17 21:47] Hexcles commented on #13005
Or `Xvfb`

[2018-09-18 01:09] yutakahirano commented on #7933
Sorry that I didn't notice. I will take a look.

[2018-09-18 02:11] yutakahirano commented on #7933
I'm confused. step 6 says

So we should fire upload.abort and upload.loadend if the upload complete flag is false, right?

[2018-09-18 14:05] wisniewskit commented on #7933
@yutakahirano

Oh! Sorry for the typo. I meant to say that the flag will be set to *true*, as during step 5 of `request error steps` the test's readystatechange handler calls `client.send(null)`, which causes `send` step 9 to set the flag to true (since the req's body is null). So by the time we resume at step 6, it will see the flag is true, and not fire the events as the test expects.

[2018-09-18 14:53] foolip opened #13052 "Include date of Firefox Nightly in wpt_report.json"
The Firefox Nightly version will be something like "64.0a1" but that doesn't change for each build. In the UI the date is included.

@jgraham, is there any way we could get this information?

[2018-09-18 22:18] foolip commented on #7435
@NavidZ @SummerLW should this be assigned to one of you?

[2018-09-19 00:09] jugglinmike commented on #13013
First off, I was a bit sloppy with my methods. The number "94" is the result of
comparing the "no restarts" dataset with just one of the "with restarts"
dataset. Comparing all three yields a total of 117 discrepancies, 81 of which
were consistent between both experiments. Sorry about that!

To see if there was a trend for "improved" or "worsened" results, I assigned a
score to each as follows:

-

[2018-09-19 01:37] yutakahirano commented on #7933
I see. Then, as the upload complete flag is set (spec-wise),

on this point the test is correct, right?

[2018-09-19 03:55] TalbotG opened #13066 "[css-contain] quote-scoping-002 "AZZ" to be replaced with "A9Z""
@frivoal

In [quote-scoping-002](http://test.csswg.org/suites/css-contain-1_dev/nightly-unstable/html/quote-scoping-002.htm) test, "AZZ" should be replaced with "A9Z" .
The [quote-scoping-002-ref](http://test.csswg.org/suites/css-contain-1_dev/nightly-unstable/html/reference/quote-scoping-002-ref.htm) reference file is correct.

[2018-09-19 10:01] jgraham commented on #13052
Yeah, [mozversion](https://firefox-source-docs.mozilla.org/mozbase/mozversion.html) can get it from the application.ini file, assuming we know the path to the actual firefox binary (which we do in our setup, but don't in general e.g. if `firefox` is actually a shell script)

[2018-09-19 10:17] tripu opened #13072 "Spin off testharness?"
ie, maintain `testharness.js` as a separate project and publish releases on npm.

(I think that's a minimum requirement if the authors want it to be adopted by others.)

cf https://github.com/w3c/nodejs/issues/4

[2018-09-19 10:42] foolip commented on #13052
@Hexcles, I realize there might be an existing and somewhat serious problem here. If the results receiver uses the version to reject cases where the different chunks got different versions of the browsers, it's possible we have already accepted runs that are for a mix of browser version. WDYT, what's the priority of fixing this?

[2018-09-19 10:46] gsnedders commented on #12874
@mdittmer I've seen it somewhat infrequently, but given we don't really have any decent way to notice it at the moment (as it doesn't fail the jobs).

[2018-09-19 11:09] gsnedders opened #13073 "Critical TestManager errors should cause non-zero exit"
e.g. https://github.com/web-platform-tests/wpt/issues/12874 which exceeds max restarts should be a critical error which should then cause a non-zero exit (and a job failure on TC etc.), given we haven't actually run all tests requested.

[2018-09-19 11:19] gsnedders commented on #13003
This is fundamentally the same as #9171, right? Or is this different given it's a lint for a single file that has an undeclared dependency (so we can't invalidate our "cache")?

[2018-09-19 11:20] gsnedders commented on #9346
@foolip I think we decided to punt on that until we actually had a need for it?

[2018-09-19 11:41] Ms2ger commented on #13003
Similar, certainly. Sadly special-casing changed in css/ doesn't help here.

[2018-09-19 12:03] gsnedders commented on #13003
I'm not really sure how to fix this except as part of #11388 and doing proper caching and proper dependencies?

[2018-09-19 12:17] tripu commented on #13072
@jgraham: I actually agree with you. I was filing this issue &ldquo;on behalf&rdquo; of others who had expressed interest in bringing `testharness.js` to a wider audience, and who were defending its virtues as a generic JS testing tool (as opposed to just for WPT and the browser).

I'm waiting to see if somebody steps forward to defend the merits of this idea&nbsp;&mdash;&nbsp;otherwise, I'm happy

[2018-09-19 15:36] foolip commented on #13052
Yep, that's the problem I meant.

[2018-09-19 16:38] NavidZ commented on #7435
Sure. Keep it assigned to me. I guess I need to add some documentation about the synthetic pointer actions as well. I remember there was a test driver documentation some where around here.

[2018-09-19 17:51] Hexcles opened #13081 "wptrunner sometimes falsely reports "Servers failed to start" and fails to start"
Symptoms: sometimes after starting `wptrunner` using `./wpt run ...`, the process gets stuck here:

[code]

And after a short while the following exception is raised:

[code]

However, a manual check (before the process exits) shows that the server is up and running on 8889.

I've double checked there are no processes listening on these ports before starting `./wpt run`. The failure seems flaky, o

[2018-09-19 18:08] jdm commented on #13081
This sounds like what we've been dealing with in https://github.com/servo/servo/issues/20734, which we tracked down to a locked mutex in https://github.com/servo/servo/pull/21741. We were planning on upstreaming that change once we've kicked the tires in servo and gecko for a bit.

[2018-09-19 18:09] jdm commented on #13081
That being said, we have not observed the failure at all in Servo since merging that change, so we're pretty optimistic at this point.

[2018-09-19 18:17] Hexcles commented on #13081
Interesting. Thanks, @jdm !

The issue you linked to doesn't quite fit the symptoms I observed. In my case, the servers seemed to be alive and respond just fine, whereas the issue you linked to seemed to be non-responsiveness (possibly because of deadlocks).

That said, this is a flaky failure, and I've only managed to reproduce a couple times and my observation might not be totally accurate.

[2018-09-19 19:03] foolip commented on #7435
Documentation is at https://web-platform-tests.org/writing-tests/testdriver.html

[2018-09-20 12:26] foolip opened #13112 "All new PRs are blocked on failing Chrome stability job"
Lots of recently opened PRs are blocked on failing Travis checks.

This is the earliest I can find, from https://travis-ci.org/web-platform-tests/wpt/jobs/430913594:
[code]

Affected PRs:
https://github.com/web-platform-tests/wpt/pull/13092
https://github.com/web-platform-tests/wpt/pull/13093
https://github.com/web-platform-tests/wpt/pull/13094
https://github.com/web-platform-tests/wpt/pull/13095

[2018-09-20 12:30] foolip commented on #13112
I sent https://github.com/web-platform-tests/wpt/pull/13111 because https://github.com/web-platform-tests/wpt/pull/13091 was the PR immediately before the problems started happening, and it says "[ci skip]". I don't know if it is really the cause yet.

[2018-09-20 12:38] foolip commented on #13112
https://github.com/web-platform-tests/wpt/pull/13113 by @jgraham will probably fix this.

If that's right, then https://github.com/web-platform-tests/wpt/pull/13091 was the cause. @jdm, did that PR bypass Travis, is that what "[ci skip]" means? If so, can you file an issue for Servo syncs to not bypass checks?

[2018-09-20 12:39] jdm commented on #13112
Yes, this is the perfect moment to pull the switch on our new system that will not bypass them.

[2018-09-20 12:40] foolip commented on #13112
@jdm, sweet, is that ready for action right now?

[2018-09-20 12:41] jdm commented on #13112
As far as I know, yes.

[2018-09-20 12:52] foolip commented on #13112
Reopening until it's clear that new PRs aren't affected, and the listed affected ones recovered.

[2018-09-20 17:44] jugglinmike opened #13127 "[cookie-store] Integrate with async cleanup"
Many tests for async cookies need to perform asynchronous "test cleanup" logic.  Previously, testharness.js did not offer support for this use case, so various workarounds were implemented here, e.g.

gh-6075 was recently resolved, meaning testharness.js now honors promise values returned by `add_cleanup` functions. The tests should be refactored to use this API. One of the design decisions for th

[2018-09-20 17:58] jugglinmike opened #13128 "[indexeddb] Integrate with async cleanup"
Many tests for IndexedDB need to perform asynchronous "test cleanup" logic.  Previously, testharness.js did not offer support for this use case, and this could cause problems in automation contexts. @pwnall discussed this in gh-6075:

gh-6075 was recently resolved, meaning testharness.js now honors promise values returned by `add_cleanup` functions. The IndexedDB tests should be refactored to use

[2018-09-20 18:48] pwnall commented on #13127
I don't care enough about this to maintain custom logic. Happy to have cleanup errors cause the test to fail. We'll be switching to `add_cleanup` as soon as someone finds some time to do that.

Thank you very much for your awesome work, @jugglinmike!

[2018-09-20 18:53] jugglinmike opened #13132 "[service-workers] `skip-waiting-installed.https.html` is flaky in Firefox"
Flakiness was originally observed while making a documentation change in gh-13064. From the relevant build log:

Subtest | Results | Messages
--------|---------|---------
 `/service-workers/service-worker/skip-waiting-installed.https.html` | `Test skipWaiting when a installed worker is waiting` | **FAIL: 9/10, PASS: 1/10** | `assert_equals: skipWaiting promise should be resolved with undefined exp

[2018-09-21 00:16] mfoltzgoogle commented on #11233
Looks good - I left a couple of minor comments on the tests. I will look forward to verifying them in Chrome.

[2018-09-21 00:16] #11233 closed

[2018-09-21 03:16] wisniewskit commented on #7933
@yutakahirano, yes, looking over that paragraph again, I think you're right.

The test is basically just mis-expecting those events from steps 6 that won't happen (abort and loadend on the upload). So the test should not be expecting those events.

That is, per spec the test should get this:
[code]
Whereas it expects this right now:
[code]

[2018-09-21 04:59] yutakahirano commented on #7933
Thanks. What is missing in Chrome implementation seems

in https://xhr.spec.whatwg.org/#the-send()-method. I'm happy to change the implementation, but it would be good if I can hear Edge's voice.

[2018-09-21 08:54] henbos commented on #10126
Thanks!

[2018-09-21 08:54] #10126 closed

[2018-09-21 09:50] foolip commented on #13112
OK, it's clear now the problem is fixed. @jdm, I'll close this, if you need another issue to track "ci skip" please file one :)

[2018-09-21 09:50] #13112 closed

[2018-09-23 03:14] kritisingh1 commented on #13066
Hi @TalbotG , may I fix this?

[2018-09-23 17:04] TalbotG commented on #13066
@kritisingh1 : Yes!

[2018-09-24 00:24] GPHemsley opened #13180 "http://w3c-test.org/submissions/ not working"
It looks like the automatic postings of pull requests to http://w3c-test.org/submissions/ is no longer working. The last listing there is #11169, which is from May 25, 2018.

Could this be fallout from the project move?

[2018-09-24 09:45] #12693 closed

[2018-09-24 10:08] gsnedders opened #13183 "Support testdriver.js in reftests"
Previously, when testdriver.js we decided to punt on supporting it in reftests; we now have an actual use for it (#9346), so this needs done.

This will need changes in all the executors: the Python code needs to handle various messages to interact with the document before eventually taking a screenshot, and the JavaScript callbacks needs to deal with passing the testdriver.js messages. The right

[2018-09-24 10:08] gsnedders commented on #9346
https://github.com/web-platform-tests/wpt/issues/13183 filed for that.

[2018-09-24 10:58] foolip commented on #12166
https://travis-ci.org/web-platform-tests/wpt/jobs/432302789 is a recent stability run, for https://github.com/web-platform-tests/wpt/pull/13181. It's fairly noisy, but it's not "for every single DOM event and script loading, etc." Treating this as fixed.

[2018-09-24 11:30] gsnedders opened #13186 "Add assert_not_own_property"
See #12976

[2018-09-24 16:40] Hexcles opened #13192 "/css/css-text/i18n/{ja,zh} fail on Taskcluster (but pass on BuildBot)"
These tests consistently fail on Taskcluster. Originally I thought #13159 was the problem, but the tests continue to fail after the fix landed.

Example (BuildBot on the left and Taskcluster on the right): https://staging.wpt.fyi/results/css/css-text/i18n/ja?sha=3d117ae126&product=chrome[buildbot,experimental]&product=chrome[experimental,taskcluster]&diff=true

The tests pass on all platforms I ha

[2018-09-24 19:26] jugglinmike opened #13194 "Verify correctness of Taskcluster PR checks"
In gh-12657, we configured TaskCluster to validate patches submitted via pull request on GitHub.com. Typically, failing validation jobs prevent reviewers from merging pull requests. The new TaskCluster integration was unproven, and we recognized that it may have bugs. To avoid interrupting ongoing work with spuriously-failing jobs, we integrated it to allow failures.

TravisCI has been running equ

[2018-09-24 19:29] jugglinmike commented on #13194
Forgot to mention the goals:

- allow the TaskCluster tasks to influence whether pull requests can be merged
- remove the equivalent jobs from the TravisCI configuration

[2018-09-24 19:41] jugglinmike commented on #13005
Resolved via gh-13076

[2018-09-24 19:41] #13005 closed

[2018-09-24 19:55] foolip commented on #13081
@Hexcles, https://github.com/web-platform-tests/wpt/pull/13091 and follow-ups have been merged. Can you try to repro this again? If it does repro, can you set a priority?

[2018-09-24 19:55] foolip commented on #13073
@jugglinmike, thoughts on the priority of this?

[2018-09-24 20:07] foolip opened #13195 "Make --headless the default for Chrome"
Support for `--headless` and `--no-headless` was added in https://github.com/web-platform-tests/wpt/issues/13005 / https://github.com/web-platform-tests/wpt/pull/13076. It's enabled by default for Firefox but not for Chrome.

For Chrome, some tests are failing with `--headless`. Fix those and flip the default.

[2018-09-24 20:07] foolip commented on #13195
@jgraham do you recall which the failing tests were? Some in infrastructure/ perhaps?

[2018-09-24 20:58] Hexcles commented on #13195
@jgraham what are the "smoke tests" broken by headless on Chrome?

[2018-09-24 20:59] Hexcles commented on #13081
I just tried a dozen times locally and haven't been able to reproduce the issue. The reliability of test startup is at least drastically improved, if not completely fixed. Closing the issue.

[2018-09-24 20:59] #13081 closed

[2018-09-24 21:40] jugglinmike commented on #12874
To estimate how frequently this issue occurs, I downloaded the logs for the 10 most recent commits to `master` along with those from the commit that @gsnedders reported above:

    $ for n in $(seq 0 9); do git rev-parse b040cb2a0726~$n; done
    b040cb2a07264d35b9f47cd9deb2fb2889fca6d4
    b9acbf4eaac436ee7386415e396ad6cade57bab8
    68d63d516e6bc4b83934d71616b2aa82d8efe2af
    f6de5f7d5d50b1ad30

[2018-09-24 21:47] jugglinmike commented on #13073
It's tough to say without an understanding of the frequency. [I posted some research on the original issue](https://github.com/web-platform-tests/wpt/issues/12874#issuecomment-424135171), and that suggests it will only effect contributors running tasks from their own forks of WPT.

If that's right, it reduces the priority for a fix, but we should still fix this. For one, [we explicitly support the

[2018-09-25 01:11] tomoyukilabs commented on #11233
Thanks, @mfoltzgoogle!

[2018-09-25 08:52] foolip commented on #6565
Unassigning again. @nomadtechie, please feel free to send a PR still if you like. (Came here by doing the issue triage in https://foolip.github.io/ecosystem-infra-rotation/.)

[2018-09-25 09:11] foolip commented on #11075
@jgraham, in https://github.com/web-platform-tests/wpt/issues/11075#issuecomment-393267147, was it this piece of code you tried changing?

https://github.com/web-platform-tests/wpt/blob/020e53ba4c7c35bbcfa80699d160b76c482880f2/tools/wptserve/wptserve/sslutils/openssl.py#L211

How do you run `_generate_ca()` to test out changes? Seems like it's only called implicitly, so you have to delete cacert.p

[2018-09-25 09:12] foolip commented on #12374
Reopening to also track this being the default. @gsnedders what's the plan for that?

[2018-09-25 09:13] foolip commented on #9007
@gsnedders can you provide a status update on this? This is tracked in [Resolve known important infra issues](https://docs.google.com/document/d/1uh7A24pT6P70Lb9CeFCKga3RrrdzLK7tSAR7o8C7No0/edit#heading=h.3sszqdrf0hk7) and Q3 is almost at an end.

[2018-09-25 10:31] jgraham commented on #11075
I think you need to set the ssl type to `openssl` in the `config.json` file.

[2018-09-25 10:32] jgraham commented on #11075
And yes, that's the code I tried changing.

[2018-09-25 10:58] jgraham commented on #13195
[code]

[code]

[2018-09-25 13:19] gsnedders commented on #12874
Annoying though, given we did want it to be possible to run on people's own forks.

[2018-09-25 15:55] gsnedders commented on #12374
I've been trying to get Windows CI up and running again, and got somewhat side-tracked. :)

I think the plan is to just try landing it, at this point?

[2018-09-25 16:17] gsnedders commented on #12374
#13200

[2018-09-25 16:22] whimboo commented on #12166
Yes, that looks fine. We can't prevent the Firefox logs to appear in the logs for now.

[2018-09-25 16:49] gsnedders commented on #9007
Did we ever reach any agreement as to how to solve this? Just exit quickly if some environment variable isn't set?

[2018-09-25 17:01] gsnedders commented on #12374
So, one the above to-do is done, this leaves just IE and Sauce; I think we should probably just drop support for everything except wdspec tests for IE (cc @jimevans), given almost all will just break horribly, and Sauce we can't do anything about until they support the W3C protocol.

[2018-09-25 17:17] gsnedders commented on #13192
My guess would be fonts.

[2018-09-25 17:26] gsnedders commented on #13192
@jgraham do we have any documentation as to how to run as on TC locally?

[2018-09-25 17:38] jgraham commented on #13192
I'm not sure. I did

[code]

And then realised that these aren't reftests, so we don't get screenshots :p

But then I did
`sudo apt install  fonts-noto-cjk` and ran the tests again and lots of passes appeared. So these tests are officially broken since they rely on non-ahem, non-webfonts. I can add fonts-noto-cjk to the image ofc, but that seems like a suboptimal solution.

[2018-09-25 17:39] Hexcles commented on #13192
These tests are testharness.js tests. Besides, the elements have `display:none`.

[2018-09-25 17:41] jgraham commented on #13192
Given that the tests are (at least arguably) broken, I don't think this ought to block transitioning.

[2018-09-25 17:47] gsnedders opened #13203 "Depended upon font coverage"
https://github.com/web-platform-tests/wpt/issues/13192 has brought up again that we have a variety of tests that fail if you don't have fonts covering certain scripts installed.

As far as I'm aware, the general policy is currently:

 * sans-serif and serif generics must resolve to different fonts within the visible ASCII range
 * probably rely on `monospace` resolving to something with monospace

[2018-09-25 17:48] Hexcles commented on #13194
I changed the title to clarify that this issue is mostly about PR checks on Taskcluster.

On the other hand, I'm verifying the master builds on Taskcluster against BuildBot.

[2018-09-25 17:52] Hexcles commented on #13192
The tests use `/fonts/mplus-1p-regular.woff`, which I think contains all the characters used in the tests. That said, the fact that installing `fonts-noto-cjk` makes many of them pass suggests the issue is with the tests themselves, so I agree this is not blocking showing Taskcluster on wpt.fyi.

[2018-09-25 17:53] jgraham commented on #13203
I don't know what the status of fonts on gecko is, but given the diffiuclty of getting Ahem into all environments (c.f. https://github.com/web-platform-tests/results-collection/issues/218) I am reluctant to add other mandatory non-webfonts. For the case in hand I think having an appropriate font in the repo and using it as a webfont would be sufficient? The only case where that doesn't work is whe

[2018-09-25 17:53] Hexcles opened #13204 "Many tests in /cookies/http-state consistently time out on Taskcluster but not on BuildBot"
https://staging.wpt.fyi/results/cookies/http-state?sha=b040cb2a07&product=firefox[experimental,taskcluster]&product=firefox[buildbot,experimental]&diff=true
https://staging.wpt.fyi/results/cookies/http-state?sha=b040cb2a07&product=chrome[experimental,taskcluster]&product=chrome[buildbot,experimental]&diff=true

Presumably, the tests are a bit slow. I'll try to give them long timeout.

[2018-09-25 17:57] gsnedders commented on #13203
cc/ @frivoal is probably the right person to ask about that

[2018-09-25 17:58] Hexcles commented on #13203
In Chromium, we strive to check in all (especially on Linux) font dependencies into the tree: https://cs.chromium.org/chromium/src/third_party/test_fonts/README.chromium (well, technically, we don't directly check in the binaries into the repo, but we're doing something to that effect.)

However, I don't think there is any mechanism to prevent tests from accidentally relying on system fonts. The o

[2018-09-25 18:01] gsnedders commented on #13203
@Hexcles what distro are you using? is the setup code for VMs/containers/whatever anywhere?

[2018-09-25 18:09] Hexcles commented on #13203
@gsnedders that does not seem to be public AFAIK. Right now a Ubuntu 14.04 variant is most widely used for layout tests.

[2018-09-25 18:18] gsnedders commented on #13203
@Hexcles  `ubuntu-desktop` in 14.04 seems to rely on `fonts-dejavu-core` and `fonts-freefont-ttf`, the latter of which should provide coverage for a large part of Unicode. Can you check if `fonts-freefont-ttf` at least is installed? There's a bunch more in the recommended packages, but they'll just provide higher quality fonts rather than extra coverage I think.

That said, even the Chromium test

[2018-09-25 20:39] foolip commented on #13013
Added the priority:backlog label as this is more of a report/discussion than a concrete suggestion at this point.

[2018-09-25 22:41] Hexcles commented on #13204
Looks like the root cause is a Unicode error from wptserve when there are non-ASCII characters in headers (cookies in this case).

To reproduce:
1. Start wptserve and open localhost:8000
2. Set a cookie with non-ASCII characters
[code]
3. Refresh the page

Traceback:

[code]

cc @jgraham @gsnedders

[2018-09-25 22:49] Hexcles commented on #13204
Is there a spec/RFC that says what encoding HTTP headers should use? UTF-8?

[2018-09-26 05:43] frivoal commented on #13203
I am unsure what the policy should be. Certainly, we should not depend on particularities of any individual system font, but it is that crazy to depend on decent Unicode coverage? I believe the tests that caused https://github.com/web-platform-tests/wpt/issues/13192 would pass with any font covering the required code points. Could we just adopt the policy of installing the noto fonts?

[2018-09-26 09:40] foolip commented on #12374
@gsnedders, can I suggest comparing Taskcluster runs before/after the change, finding the commit where this landed in https://staging.wpt.fyi/test-runs?label=taskcluster. Example diff URL:
https://staging.wpt.fyi/results/?product=firefox@59bed3508c&product=firefox@ddb3e30ef4&diff=true

[2018-09-26 09:41] foolip commented on #12374
Also, a similar comparison for the Buildbot runs on prod would be good. Although that'll also include test changes as it's not run per push to master.

[2018-09-26 09:45] foolip commented on #12374
https://staging.wpt.fyi/results/?product=chrome@9bc71d422a&product=chrome@1e7408fcd3&diff=true

[2018-09-26 10:11] gsnedders commented on #13204
and

So, uh, not really.

[2018-09-26 10:14] bernhardf-ro opened #13216 "FontWithFancyFeatures.otf can not be used in Java"
When using the following font in Java the following exception is thrown making multiple tests unusable for our Java based products:

http://test.csswg.org/suites/css-fonts-3_dev/nightly-unstable/html/support/fonts/FontWithFancyFeatures.otf

java.awt.FontFormatException: Font name not found

One of the affected tests: http://test.csswg.org/suites/css-fonts-3_dev/nightly-unstable/html/font-variant-e

[2018-09-26 11:01] foolip commented on #9007
If having an environment variable set before invoking `./wpt` is required, then that would be one way.

But I am curious if @jugglinmike has found it necessary to work around this issue in the Buildbot setup for Safari?

[2018-09-26 11:11] gsnedders opened #13219 "Widespread breakage with WebDriver executor"
https://staging.wpt.fyi/results/?product=chrome@1e7408fcd3&product=chrome@9bc71d422a&diff=true shows a lot vanishing. Interesting that this didn't show up on earlier comparison runs…

[2018-09-26 12:51] #13219 closed

[2018-09-26 13:00] foolip commented on #12374
@gsnedders, Safari 12.0 was just released with macOS 10.14 Mojave, can you check if the accompanying SafariDriver is updated so that we can use ExecutorWebDriver?

[2018-09-26 13:29] foolip commented on #12374
Excellent! @gsnedders, can you give it a try to enable, and coordinate with @jugglinmike who is trying to set up runs for Safari stable?

[2018-09-26 14:35] Hexcles commented on #13204
Okay... so, what do we do? I mean, hard crashing the server and indefinitely hanging the test are probably not we want in any case...

Why does wptserve need to decode all header strings?

[2018-09-26 14:44] tripu commented on #13072
Okay by me; whatever the maintainer(s) find most appropriate :)

[2018-09-26 14:50] gsnedders commented on #13204
I agree. 🙂

That would be my thought.  Is there any reason not to just give a bunch of bytes to the handler?

[2018-09-26 14:50] gsnedders commented on #13204
@annevk @mnot thoughts?

[2018-09-26 15:00] annevk commented on #13204
Looking at blame this is @FHorschig and @mikewest.

[2018-09-26 15:12] jdm opened #13222 "Duplicate file name for contain-size-fieldset-001-ref.html"
https://github.com/web-platform-tests/wpt/pull/13198 introduced a reference file that duplicates one in https://github.com/web-platform-tests/wpt/tree/master/css/vendor-imports/mozilla/mozilla-central-reftests/contain. This makes the lint complain, and wasn't caught in #13198. This is blocking Servo's nightly sync process, and is becoming tiresome to clean up when it keeps happening.

[2018-09-26 15:15] gsnedders commented on #13204
@annevk this isn't about that specific test, it's about the wptserve behaviour

[2018-09-26 15:17] gsnedders commented on #13204
@Hexcles actually is this just a regression from #11769? (cc/ @Ms2ger)

[2018-09-26 15:17] gsnedders commented on #13222
Caused by #9171.

[2018-09-26 15:31] jgraham commented on #13204
Not decoding stuff seems reasonable but it's going to need a full test run to find all the cases it breaks. Does someone have time to work on that?

[2018-09-26 15:51] annevk commented on #13204
It's probably more reasonable to do isomorphic decoding since consumers likely want strings anyway as they're easier to operate on.

[2018-09-26 15:52] gsnedders commented on #13204
@jgraham pretty sure this is just a regression from #11769 and we didn't use to decode at all?

@annevk we should probably expose the raw bytes somewhere, given there are cases of other encoding being used, no?

[2018-09-26 16:01] gsnedders opened #13225 "Re-enable ExecutorWebDriver in Chrome"
#13200 enabled it, but this was reverted in #13220.

See [wpt-chrome-dev-testharness-5](https://tools.taskcluster.net/groups/HuC12DhIShShqh7UcovreA/tasks/J9HbAmKwQSuyfn-3f-TEmw/runs/0/logs/public%2Flogs%2Flive.log) and [wpt-chrome-dev-testharness-6](https://tools.taskcluster.net/groups/HuC12DhIShShqh7UcovreA/tasks/Pn2YWHFYRuWDpl3y1bWEAA/runs/0/logs/public%2Flogs%2Flive.log) logs both of which cont

[2018-09-26 17:11] Hexcles commented on #13204
Given that this is a regression and we don't run wptserve with Python3 in any critical places, shall we revert #11769 for now?

[2018-09-26 19:48] burg commented on #12374
This is correct. JSONWP has been dropped entirely in safaridriver for Safari Technology Preview.

[2018-09-27 09:20] whimboo commented on #12166
Well, both the Travis CI and TaskCluster jobs for https://github.com/web-platform-tests/wpt/pull/13232 still show debug and trace output. :(

[2018-09-27 09:40] foolip commented on #12166
That's odd. https://travis-ci.org/web-platform-tests/wpt/jobs/433928918 is a recent job for https://github.com/web-platform-tests/wpt/pull/13235 opened around the same time where the logs weren't as noisy.

@jgraham, who can investigate?

[2018-09-27 09:42] whimboo commented on #12166
Maybe we should check the commands used to start the tests. There might be a difference?

[2018-09-27 09:42] qiuzhong commented on #12880
Hi, I'm interested in taking this task.

Here's my proposal:

Just treat all ".headers" files as non-test items.
[code]

Then they'll be considered as support files (as **name_is_non_test** checking comes first).

[code]

@gsnedders, WDYT?

[2018-09-27 09:49] jgraham commented on #12166
I have a vauge memory that @andreastt made the log levels case sensitive? If I'm not totally mistaken about that, I guess we might be passing in the wrong string? (I'm not sure what the argument is for making them case sensitive, but it seems like a dubious idea on the face of it).

[2018-09-27 09:52] whimboo commented on #12166
The level is case-sensitive now but in Marionette we compare it still after running `lowerCase()` on it. So there shouldn't be a problem.

[2018-09-27 10:01] whimboo commented on #12166
I see different invocations of Firefox.

Case 1: No trace / debug output:
https://travis-ci.org/web-platform-tests/wpt/jobs/433928918#L628

Case 2: trace / debug output:
https://travis-ci.org/web-platform-tests/wpt/jobs/433942495#L914

So the problem here is that the working case is for non-wdspec tests, while the 2nd case with trace output is for wdspec tests.

[2018-09-27 10:14] whimboo commented on #12166
So what makes us wonder is why there is no debug output for `webdriver::server` from the webdriver crate, but only from Marionette.

[2018-09-27 10:34] whimboo commented on #12166
Ok, so there are two issues here.

First geckodriver incorrectly stores "INFO" instead of "Info" in the `marionette.logging.level` preference. And as such Marionette fails somehow and just prints all debug and trace lines (https://bugzilla.mozilla.org/show_bug.cgi?id=1494611).

We will fix the geckodriver issue immediately because we have to release a new version anyway at latest early next week.

[2018-09-27 11:44] andreastt commented on #12166
To clarify, we _did_ fix this issue in https://bugzilla.mozilla.org/show_bug.cgi?id=1482829, but it regressed a few days after due to a faulty rebase. We had put in a backwards compatibility fallback in Marionette, but due to another bug this didn’t kick in. See https://bugzilla.mozilla.org/show_bug.cgi?id=1494613#c0 for the full extent of this shitshow.

Sorry about all of this.

[2018-09-27 13:38] #13222 closed

[2018-09-27 23:32] gsnedders commented on #13204
@Hexcles yeah, that was my kinda implicit suggestion before

any objection @Ms2ger?

[2018-09-27 23:48] gsnedders commented on #12880
@qiuzhong yeah, that looks like the right thing to do here, if you want to open a PR with that. please add a test to `test_sourcefile.py` too!

[2018-09-28 05:47] frivoal opened #13252 "[css-contain] Incorrect tests: contain:size does not suppress baselines"
@mrego These 3 tests are incorrect, because they assume that `contain:size` affects baseline alignements, but that't not true.

The spec says this:

https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-button-001.html
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-flexbox-001.html
https://github.com/web-platform-tests/wpt/blob/maste

[2018-09-28 05:49] frivoal commented on #13252
They were introduced by this commit: https://github.com/web-platform-tests/wpt/commit/af6293eecd7db39b8f696be1b051f329db7cc87f

[2018-09-28 08:27] mrego commented on #13252
I'll fix this in Chromium directly while updating the code to the new behavior.
PR #13254 contains the changes on the tests and it'll be automatically merged, once the Chromium change is approved and landed.

[2018-09-28 10:18] Sylvia23 opened #13256 "Fix the links to the `data-tests` in the spec"
-The tests that are in the spec but are not present in or are wrongly addressed in the payment directory are:
Line 640:

    active-document-cross-origin.https.sub.html
    active-document-same-origin.https.html
    removing-allowpaymentrequest.https.sub.html
    setting-allowpaymentrequest-timing.https.sub.html
    setting-allowpaymentrequest.https.sub.html

Line 904:

    payment-request-show-me

[2018-09-28 10:19] #13256 closed

[2018-09-28 12:58] #12880 closed

[2018-09-28 15:36] foolip commented on #13204
This regression is blocking https://chromium-review.googlesource.com/c/chromium/src/+/1249141. Gecko automatically imported the change in https://github.com/mozilla/gecko-dev/commit/0ad26e7e37dd3eb1300d7aa1ab1f5e426fedb576 although I don't know if also broke the tests.

Per https://web-platform-tests.org/appendix/reverting.html I think reverting this back in https://github.com/web-platform-tests/w

[2018-09-28 15:38] gsnedders commented on #13204
#13248 is a PR to revert it.

[2018-09-28 15:40] foolip commented on #13204
OK, I've reopened and approved. @Ms2ger, can you take a look?

[2018-09-28 15:54] #11554 closed

[2018-09-28 16:28] foolip opened #13263 "Ability to run all tests for some PRs"
In https://github.com/web-platform-tests/wpt/pull/11769 a handful of tests were broken accidentally. This was reported in https://github.com/web-platform-tests/wpt/issues/13204 and also some of the same tests were found to fail in an [attempt to roll into Chromium](https://chromium-review.googlesource.com/c/chromium/src/+/1249141/1).
<details>
<pre>
 cookie-store/http_cookie_and_set_cookie_headers

[2018-09-28 16:37] mrego commented on #13252
This should be fixed now by #13254.

[2018-09-28 16:37] #13252 closed

[2018-09-28 16:37] jgraham commented on #13263
This is probably implementable right away, but reasonably we should make a proper decision task if we're going to introduce this kind of complexity.

[2018-09-28 16:52] foolip commented on #13263
Ah. And that requires switching away from .taskcluster.yml and using code to create tasks, I guess?

[2018-09-28 16:54] zcorpan commented on #9180
Reopening to reconsider this per

https://groups.google.com/a/chromium.org/forum/m/#!topic/ecosystem-infra/HuqN39mcBNk

[2018-09-28 23:31] foolip commented on #11473
I've put together https://github.com/foolip/rfcs as a strawman for how an RFC process might look.

That question was for @jgraham, but this is still TBD in my RFC repo. I think the core team would also be the group that somehow resolves RFC that do not reach a consensus.

[2018-09-29 13:36] akansha2608 commented on #12445
Hi @foolip , i would like to work on it , can you please tell me how to proceed with this ?

Thanks

[2018-09-30 17:46] wisniewskit opened #13273 "xhr/setrequestheader-content-type.htm no longer matches spec"
In the XHR spec, `send()` step 4.4 currently says this:
[code]

Note that only Documents and USVStrings have their charsets normalized to UTF-8. This contradicts the test-expectation `"URLSearchParams request keeps setRequestHeader() Content-Type, with charset adjusted to UTF-8"` in [xhr/setrequestheader-content-type.htm](https://github.com/web-platform-tests/wpt/blob/master/xhr/setrequestheader-c

[2018-09-30 17:47] foolip opened #13274 "mozdownload sometimes fails on Taskcluster and Travis"
At least twice some of the Firefox tasks for pushes to master have failed in mozdownload:

https://tools.taskcluster.net/groups/AGupAeh6TrSdyNlDxcqZXw (for commit 2df7f9ff620cbdaa2928464892fb1dfb880fd6c6, now only discoverable via [API](https://api.github.com/repos/web-platform-tests/wpt/commits/2df7f9ff620cbdaa2928464892fb1dfb880fd6c6/statuses))
https://tools.taskcluster.net/groups/eRtqwYxjTfeob0

[2018-09-30 17:49] foolip commented on #13274
The reason I noticed is that in https://wpt.fyi/test-runs?label=taskcluster, the row for 2df7f9ff62 has *only* stable results, but I expected stable + experimental. @Hexcles FYI.

[2018-09-30 18:49] #3622 closed

[2018-09-30 19:12] wisniewskit commented on #7567
@annevk, what should we do about this? It's still causing spurious test-failures. Changing a line in [inspect_headers.py](https://github.com/web-platform-tests/wpt/blob/master/xhr/resources/inspect-headers.py#L11) seems to do the trick, but I'm not 100% sure if that's what we'd want to do:
[code]

[2018-09-30 21:44] gsnedders commented on #13225
So I think the underlying problem is that we were raising ERROR instead of INTERNAL-ERROR and therefore not restarting the browser after this happened?

[2018-09-30 21:57] foolip commented on #11473
@jgraham, I've incorporated https://github.com/web-platform-tests/wpt/issues/11473#issuecomment-413583544 into https://github.com/foolip/rfcs by referencing a core team which does not exist yet, and using some of your phrasing.

[2018-09-30 22:06] gsnedders opened #13276 "TestRunnerManager AssertionError assert isinstance(self.state, RunnerManagerState.restarting)"
[wpt-chrome-dev-testharness-6](https://tools.taskcluster.net/groups/HuC12DhIShShqh7UcovreA/tasks/Pn2YWHFYRuWDpl3y1bWEAA/runs/0/logs/public%2Flogs%2Flive.log) ends with:

[code]

This is just after we've had the browser fail to respond on several occasions. This looks like we aren't cleaning up properly when exiting abnormally.

[2018-09-30 22:52] sideshowbarker commented on #11473
Sounds good to me

[2018-09-30 22:55] akansha2608 commented on #10212
Hi can i take this up as my first contribution? can anyone please tell me how to proceed with it @foolip @Hexcles @Ms2ger

[2018-09-30 23:30] gsnedders commented on #9007
OK, I'm very confused right now. I can't reproduce it failing now?!

[code]

[2018-10-01 00:08] jugglinmike commented on #9007
[macOS 10.13.6 was released on 2018-08-12](https://support.apple.com/en-us/HT208864), so this may have been fixed at the operating system level. Any chance you've recently upgraded?

[2018-10-01 05:45] marcoscaceres commented on #6565
Got a new Mac! 🎉 But now after I tried:

[code]

I get:

[code]

I get the same error for all "browser" arguments.

[2018-10-01 05:52] marcoscaceres commented on #11473
You might want the [top 100 in last 12 months](https://github.com/web-platform-tests/wpt/graphs/contributors?from=2017-10-19&to=2018-10-01&type=c) maybe? From the full list, lots of  people are inactive.

[2018-10-01 08:28] foolip commented on #11473
That might be better, yeah, although I hope no voting will be required. I'd leave that decision to the trusted volunteer.

[2018-10-01 08:29] foolip commented on #10212
Sure, just delete those comments from the file and send a pull request :)

[2018-10-01 08:30] foolip commented on #10212
Please `Fixes https://github.com/web-platform-tests/wpt/issues/10212.` in the commit message so that it's linked to this issue.

[2018-10-01 09:34] foolip opened #13280 ""No Taskcluster jobs started for this pull request" comments are noisy"
All PRs submitted by people who are not members on the web-platform-tests org are getting comments on their PRs like this one:
https://github.com/web-platform-tests/wpt/pull/13275#issuecomment-425749320

One comments is posted per failure. This is noisy, and also doesn't tell people what they need to do to resolve the issue.

@jgraham, do we need to restrict Taskcluster to collaborators? If we do,

[2018-10-01 09:53] jgraham commented on #13280
Per https://docs.taskcluster.net/docs/manual/using/github we can set up the permissions to allow anyone to start PR tasks. What it doesn't say at least on the main page is how to do that :)

[2018-10-01 09:58] foolip commented on #13280
Using https://tools.taskcluster.net/quickstart/ it seems like "allowPullRequests: public" is how. I'll send a PR.

[2018-10-01 10:01] foolip commented on #13280
Send https://github.com/web-platform-tests/wpt/pull/13282.

[2018-10-01 10:06] #13280 closed

[2018-10-01 10:07] foolip commented on #12445
@akansha2608, sure you'll just have to remove that single line of code I linked. I think it's probably find to not add an historical test to check for the absence of `window.XRStageBoundsPoint` actually, because it looks like the interface didn't reach the stable version of any browser. (Checked using http://web-confluence.appspot.com/#!/)

[2018-10-01 10:59] jgraham commented on #11473
I think that procedure is acceptable, although I was imagining something less complex.

Appointing a trusted volunteer is challenging for theoretical and practical reasons. The theoretical reasons are just that the appointment of such a person is itself a fiat decision that needs to be made by someone or some group of people. Therefore it doesn't really reduce the number of meta decisions that nee

[2018-10-01 11:42] #13225 closed

[2018-10-01 12:13] gsnedders commented on #9007
@jugglinmike that seems… unlikely? this was a deliberate behaviour change at the OS level to avoid race-condition.

[2018-10-01 14:45] #12289 closed

[2018-10-01 15:37] jugglinmike commented on #9007
In that case, "fixed" is the wrong word. I'm still curious if you're using a different OS version, though.

[2018-10-01 15:49] gsnedders commented on #9007
I'm on 10.13.6 (17G65), to be clear.

[2018-10-01 16:05] gsnedders commented on #13263
Note that if we want to alert people to regressing tests (#7475) this may end up noisy for tools changes as long as there are flaky tests (and noisy to a far bigger degree than for normal PRs, given it'll expose flake in *any* test).

That said, I think this is probably worthwhile doing, given it's mostly the same work as needed to migrate the rest of our testing infrastructure to TC.

[2018-10-01 16:08] gsnedders opened #13289 "TypeError when formatting error in executorwebdriver.py"
[code]

This is a minor issue given we're already in the process of handling an ERROR, so it doesn't cause a bogus result.

[2018-10-01 16:13] gsnedders commented on #11473
Doing it by voting alone seems likely to end up with @foolip, myself, and @jgraham among others on the core team; in a sense that's less than ideal because it means the majority of users of the project are essentially underrepresented (how many tests for the three of us write?). There's also the question of whether we want to encourage those currently less involved to become moreso.

[2018-10-01 17:06] #13289 closed

[2018-10-01 20:27] foolip opened #13299 "Run affected tests in Edge and Safari for PRs"
One upon a time we had Chrome, Edge, Firefox and Safari all running some tests for PRs. It was never robust enough to be truly useful, but we had it until we had to remove Edge and Safari in https://github.com/web-platform-tests/wpt/issues/9903.

We are now in the process (https://github.com/web-platform-tests/wpt/issues/13194) of moving Chrome and Firefox to Taskcluster and we'll use the results

[2018-10-01 22:13] foolip commented on #13299
https://github.com/travis-ci/travis-ci/issues/7187 as some discussion on Safari in Travis.

[2018-10-01 23:18] foolip commented on #13299
In https://github.com/foolip/web-platform-tests/pull/3 I've experimented with macOS on Travis to the point where I got Safari TP installed, do nothing with it, and then run a lint that fails:
https://travis-ci.org/foolip/web-platform-tests/builds/435885997

(For Safari 12 stable, the Travis macOS image wasn't new enough, "[This update requires macOS version 10.13.6 or later](https://travis-ci.org/

[2018-10-02 08:31] jdm opened #13310 "shape-outside-inset-010.html test triggers colliding test name lint"
[code]
This breaks Servo's nightly sync.

[2018-10-02 08:41] jdm commented on #13310
Another instance of #9171.

[2018-10-02 10:20] akansha2608 commented on #8408
Hi @gsnedders @plehegar i would like to work on it , can you please guide me how to go ahead?

Thanks

[2018-10-02 10:42] annevk commented on #7567
So it seems Chrome and Firefox are doing this differently. Firefox always ends with a space, but Chrome does not. E.g., I wanted to change this to the more strict
[code]
but that fails in Chrome as it won't include a space after the colon if the value is the empty string (but will otherwise).

I guess your fix is acceptable for now (though I'd change the `1` to `0` for clarity), but it would seem

[2018-10-02 12:05] #13310 closed

[2018-10-02 12:57] MattMenke2 commented on #7567
How do other browsers behave?  I don't have a strong opinion on what the behavior should be, but agree it should be standardized.  I'd be happy to make the changes in Chrome, if needed (At least assuming it's a behavior within the network stack, as I suspect it is).  If Edge and Safari share behavior, I'd suggest going with that one, just because I assume it would be easier to get all browsers to

[2018-10-02 13:09] annevk commented on #7567
I think apart from Chrome, every other browser always serializes a header line as `[header-name]: [header-value]`, whereas in Chrome the space after the colon is only serialized if there is a non-empty value, as far as I can tell.

Since it seems you're okay with aligning that I'll update the test to enforce that serialization more strictly.

[2018-10-02 13:19] annevk commented on #7567
I filed https://bugs.chromium.org/p/chromium/issues/detail?id=891251 against Chrome.

[2018-10-02 13:38] foolip commented on #13299
I've also experimented briefly with Cirrus CI. Their macOS support is ultimately backed by https://www.macstadium.com/, which I recall @jugglinmike has mentioned at some point.

Cirrus CI has macOS 10.13.5, and in https://github.com/foolip/web-platform-tests/pull/4 I got it as far as with Travis, namely I got STP 65 installed.

There's also https://circleci.com/build-environments/xcode/osx/ but I

[2018-10-02 13:43] foolip commented on #13299
Also worth noticing is that https://cirrus-ci.org/guide/macOS/ points to https://github.com/cirruslabs/osx-images and that perhaps custom images are possible. It's probably not necessary though, installing STP didn't take long.

[2018-10-02 14:57] #12445 closed

[2018-10-02 18:07] wisniewskit commented on #8049
@annevk, what do you think here?

[2018-10-02 18:57] #7567 closed

[2018-10-02 18:58] wisniewskit commented on #10217
Funny enough, I had forgotten at the time I first read this issue that I had filed this bug already as #7933, and worked around it in my new XHR implementation. So yes, I agree with @cdumez, and the fix is already being considered in #7933. I'll close this as a duplicate. Sorry for not noticing sooner!

[2018-10-02 18:58] #10217 closed

[2018-10-03 08:15] frivoal opened #13329 "incorrect thai phrase in an test case"
As discussed in https://github.com/w3c/csswg-drafts/issues/2455#issuecomment-374437766, the text used in [`word-break-keep-all-003.html`](https://github.com/w3c/web-platform-tests/tree/master/css/css-text/word-break/word-break-keep-all-003.html) seems off.
An english approximation of the Thai "แและ แและแและ" would be "aand aandaand" in Thai. The double "a" seems to be a typo, and the word "and" is

[2018-10-03 13:56] foolip commented on #13180
@sideshowbarker, do you think this could be fallout from the move? Does w3c-test:mirror still work?

[2018-10-03 15:17] gsnedders commented on #6565
@marcoscaceres

Hmm. That implies `pip` isn't callable. What do you get as `which pip`?

[2018-10-03 15:30] gsnedders opened #13342 "Re-enable Windows CI"
We should get CI running on Windows again.

The first stage of this should be getting all the tools/ unit tests and infrastructure/ tests running, even if we have to mark large amounts of these as XFAIL.

[2018-10-03 20:20] plehegar commented on #8408
I believe this case was addressed in https://github.com/web-platform-tests/wpt/commit/dbab6933d28f439e745bd526d9a4a768f9200ab1#diff-f073c159cbd93b1bcf143c6fd7e6034b

It's now testing the video/source and audio/source case.

[2018-10-03 20:20] #8408 closed

[2018-10-03 23:59] jugglinmike opened #13349 "Document WPT's system requirements"
Some of WPT's more exciting tests require technical resources that may exceed the capacity available to some users. Recent examples:

- [web-platform-tests/wpt gh-7598: Consistently use one viewport size for reftests](https://github.com/web-platform-tests/wpt/issues/7598) (viewport size)
- [web-platform-tests/wpt gh-12763: storage size limitations?](https://github.com/web-platform-tests/wpt/issues

[2018-10-04 13:05] mdittmer commented on #13274
@Hexcles could you please add a priority label to this? I think it's your call because you are managing priority/urgency of shipping TaskCluster runs on wpt.fyi.

[2018-10-04 13:11] mdittmer commented on #12166
@andreastt looks like there's been progress in gecko on this. Has it been fixed? What's the best way to verify?

[2018-10-04 13:13] andreastt commented on #12166
@mdittmer It is fixed in Firefox 64 and you can verify by checking the stdout from geckodriver does not contain any log entries below INFO level.

[2018-10-04 13:14] mdittmer commented on #9345
Friendly ping on this stale issue. Looks like no one has addressed @alijuma's comment: Is there plan to work on this or should it be demoted to backlog?

[2018-10-04 13:17] mdittmer commented on #10981
Friendly ping. If this is priority:roadmap it should probably have an assignee. @foolip who would be a suitable owner for this?

[2018-10-04 13:18] mdittmer commented on #11278
@foolip any movement from Travis?

[2018-10-04 14:58] henbos opened #13363 "Test getUserMedia non-applicable constraints are ignored"
See https://github.com/w3c/mediacapture-main/pull/542

[2018-10-04 15:02] annevk commented on #8049
Hmm yeah, you're correct. It probably makes sense that it terminates before that even is a thing as headers received is a success signal of sorts. Do you want to fix or should I?

[2018-10-04 15:04] wisniewskit commented on #8049
I won't have time to fix it right in the next couple of days, so feel free to beat me to it :)

[2018-10-04 15:07] henbos opened #13364 "Add tests for getSynchronizationSources for both audio and video."
Video was added here: https://github.com/w3c/webrtc-pc/pull/1986.
getSSRCs is definitely testable. getCSRCs requires a media server and is not testable in WPT.

[2018-10-04 15:22] annevk commented on #8049
I created a PR, but it turns out other browsers still have other issues and I didn't have time to verify whether those failures are against the standard.

[2018-10-05 06:36] whimboo commented on #12166
We have released geckodriver 0.23.0 yesterday. So the problem should be fixed now for wdspec tests. @foolip can you have a look if that version of geckodriver is already used?

[2018-10-05 07:49] hugoholgersson opened #13379 "No testdriver.js method for sequential navigation"
To be able to test sequential navigation (and also [spatial navigation](https://github.com/WICG/spatial-navigation/issues/45)) in WPT, we need a testdriver.js method for moving focus: forward, backward (and also up, down, left, right).

We cannot use `test_driver.send_keys()` because:
1. Browsers might use different key-mappings even though [_typically_](https://html.spec.whatwg.org/#sequential-fo

[2018-10-05 12:05] foolip commented on #13379
My strawman API would be `test_driver.focus_next()` and `test_driver.focus_previous()` methods. Under the hood it might send tab characters in some implementations, so it this should also be documented, so that tests don't react to those events and break. To maintain the possibility of *not* using tab keys to trigger this, it would actually be good if some browsers didn't. Probably accessibility A

[2018-10-05 12:48] foolip commented on #9345
Let's stick it in the backlog until the next poor person trips on it.

[2018-10-05 15:01] nox opened #13393 "Test /2dcontext/pixel-manipulation/2d.imageData.put.nonfinite.html is wrong"
This test checks that passing `Infinity` etc to `ctx.imageData` raises a `TypeError`, but this method takes `long` values, not `unrestricted double` ones.

[2018-10-05 15:31] foolip commented on #12166
I defer to @jgraham. FWIW, it doesn't look like the geckodriver version is pinned in wpt.

[2018-10-05 15:35] foolip commented on #10981
Ping @nils-ohlmeier and @jan-ivar for thoughts on how to fix. This is a problem for Firefox that would probably be best dealt with by Mozilla. Since the priority: labels are used *mostly* (but not only) to track Google priorities, I'll mark this as backlog priority until there's someone to work on it.

[2018-10-05 16:03] andreastt commented on #12166
I believe @jugglinmike or @jgraham fixed it so that the latest version of geckodriver is now always picked up.

[2018-10-05 17:09] foolip opened #13399 "Include driver version in wpt_report.json (Taskcluster and Travis)"
In https://github.com/web-platform-tests/wpt/issues/12166 it would have been useful to be able to tell which version of geckodriver is being used in https://tools.taskcluster.net/groups/XK5HAxQRTZOFTlE3N5lBgQ (for https://github.com/web-platform-tests/wpt/commit/8e9df70029090145da7c2d2e78af4d65dd9caa8b, the current master). Unfortunately, the logs say only "Downloading geckodriver" and in the wpt_

[2018-10-05 17:12] foolip commented on #12166
I've filed https://github.com/web-platform-tests/wpt/issues/13399 about the difficulty of determining what geckodriver version is used.

https://taskcluster-artifacts.net/D1rcmB07QXG_T1lClSfh8w/0/public/logs/live_backing.log is still very verbose, but only ~12% of the lines have "Marionette" in them so I'll assume this is now fixed.

[2018-10-05 17:12] #12166 closed

[2018-10-05 17:19] andreastt commented on #12166
Thanks for the link to a log. The `INFO` level and above entries we see in this log are to be expected. The log level can be raised to `WARN`, `ERROR`, or `FATAL` if we want to see even less output from geckodriver.

[2018-10-05 20:51] foolip commented on #6565
FWIW, I'm having trouble with this myself right now. `pip install virtualenv` tells me "Requirement already satisfied: virtualenv in /usr/local/lib/python2.7/site-packages".

Aside: I think things are complicated by the fact that I installed python@2 in brew once, to see if that might fix https://github.com/web-platform-tests/wpt/issues/9007, and now... I don't know what's going on :)

[2018-10-05 21:04] foolip commented on #6565
So, it's not from a freshly installed Mac, but here's what worked after I got rid of my brew Python:
[code]

Then add `$HOME/Library/Python/2.7/bin` to path. I think that last part is the bit that doesn't just happen automatically. With `sudo pip install virtualenv` I'm not sure where it ends up.

@marcoscaceres how did you install `pip`, and after that how `virtualenv`?

[2018-10-05 21:20] marcoscaceres commented on #6565
No. Fresh clone.

Can try.

[2018-10-05 21:27] foolip commented on #6565
It's not. Figuring out how to best install it and documenting this is this issue. @gsnedders, can we also check if `virtualenv` is in the path and if not point to the documentation?

[2018-10-05 21:41] foolip commented on #12697
I found my way here while playing with https://github.com/foolip/wpt/pull/5, by googling for "wpt update-expectations" :)

For infrastructure/metadata we'll need product-specific expectations, so unless the script would need all expectations as its input I presume.

@Hexcles it may interest you to have a look at this analogue to Chromium's expectations and baselines.

[2018-10-05 21:46] foolip commented on #12697
FWIW, the first thing I looked for was something like `./wpt run --update-expectations`, since Chromium has `run_web_tests.py --reset-expectations`. @jgraham would that be complicated to support, even if it doesn't solve the problem of merging expectations?

[2018-10-05 22:44] youennf commented on #12621
I cced some folks on bugs.webkit.org.
What is the impact of failing these infra tests?

[2018-10-05 22:49] foolip commented on #12621
@youennf it's not a big problem, but in order to run infrastructure/ tests in CI (https://github.com/foolip/wpt/pull/5) to ensure that Safari doesn't regress, we'll need to check in expectations about every failure in infrastructure/. That in turn is in service of https://github.com/web-platform-tests/wpt/issues/13299, i.e., preventing regressions of non-infrastructure tests in Safari before they

[2018-10-05 23:33] foolip commented on #12621
For bless.html, this is the failing test:
[code]

And the failure is `Unhandled rejection with value: object "NotSupportedError: The operation is not supported."` That's because of /media/counting.ogv, Safari doesn't support Ogg Theora, so https://github.com/web-platform-tests/wpt/issues/9354.

Switching to /media/counting.mp4 *seems* to fix the problem.

However, with the same fix, I've also seen

[2018-10-05 23:36] foolip commented on #10398
I came across this in https://github.com/web-platform-tests/wpt/issues/12621. It makes it hard to see what's happening, and all that switching back and forth must have effects that may interfere with the tests. It's also the reason for https://github.com/web-platform-tests/wpt/issues/7281.

@gsnedders, I'm wondering if we should bump the priority of this to "real soon now" and perhaps do together

[2018-10-05 23:53] foolip commented on #12621
I've sent https://github.com/web-platform-tests/wpt/pull/13403 to fix bless.html.

[2018-10-07 12:15] foolip opened #13406 "Unify `./wpt check-stability` and `./wpt run --verify`"
Previous issues and PRs (now closed/merged) on the topic of stability checking:
- [Move stability checking to `wpt run --verify`](https://github.com/web-platform-tests/wpt/issues/9874)
- [Replace `check-stability` script with `wpt run --stability` and document how to run locally](https://github.com/web-platform-tests/wpt/issues/10269)
- [Make `--stability` just use the `--verify` code](https://git

[2018-10-07 13:14] foolip opened #13407 "`Command left in command_queue during cleanup: u'runner_teardown', ()` warning always emitted from `./wpt run`"
Taking https://github.com/web-platform-tests/wpt/pull/13405 as a recent example, you can find `WARNING u'runner_teardown': ()` is the logs of everything that involves `./wpt run`:
https://travis-ci.org/web-platform-tests/wpt/builds/438107535 (the stability jobs)
https://tools.taskcluster.net/groups/aPHmZD1kRSGHHPHE8S1iTg (all 4 results/stability tasks)

The source must be from here:
https://github

[2018-10-07 13:19] foolip commented on #13407
This is how the string ends up emitted as a warning:
https://github.com/web-platform-tests/wpt/blob/08d0c7d0de6c135b8f11364f6d0175981524f530/tools/wptrunner/wptrunner/testrunner.py#L720

[2018-10-07 16:13] foolip commented on #12166
@andreastt where should we raise the level to `WARN`?  In https://travis-ci.org/web-platform-tests/wpt/jobs/438265534 there is an unreasonable amount of the logging that comes from Marionette.

[2018-10-07 17:19] jugglinmike commented on #13406
This is more than just interface design. The semantics of the two commandsdiffer in a way that influences what passes for "stable". More on this here:

https://github.com/web-platform-tests/wpt/pull/12657#issuecomment-418220606

[2018-10-07 23:00] foolip opened #13413 "Naming of queues in testrunner.py is confusing"
There is a pair of queues used to communicate between `TestRunnerManager` and `TestRunner` in testrunner.py, created here, where `self` is the `TestRunnerManager` instance:
https://github.com/web-platform-tests/wpt/blob/08d0c7d0de6c135b8f11364f6d0175981524f530/tools/wptrunner/wptrunner/testrunner.py#L302-L303

`TestRunner` has slightly different names, and initializes them here:
https://github.com

[2018-10-07 23:08] foolip commented on #13413
Ideas:
 - name the queues `command_queue` and `result_queue` in both classes, and have them match up
 - use a [Pipe](https://docs.python.org/2/library/multiprocessing.html#multiprocessing.Pipe)

[2018-10-08 03:04] akansha2608 commented on #8044
Hi @foolip i would like to work on it , can you help me how to tackle this one?

Thanks

[2018-10-08 08:36] jgraham commented on #13406
No.

[2018-10-08 08:56] foolip commented on #13406
Alright! @jugglinmike, how are things looking for making Taskcluster stability task failures blocking?

[2018-10-08 10:04] jgraham commented on #13413
FWIW the logic is that the name is always true from the point of view of the object. So basically the `command_queue` is always the one that you `get()` messages from in your event loop. That doesn't mean it's not confusing of course, but it does have an internal logic, and reusing the same name across the two objects would break that.

Using a `Pipe` also seems like a bad idea; a `Queue` is liter

[2018-10-08 10:05] foolip commented on #13407
With https://github.com/web-platform-tests/wpt/pull/13408 merged, the warning will be `WARNING Command left in command_queue during cleanup: u'runner_teardown', ()` instead.

[2018-10-08 10:31] foolip commented on #13413
I did suspect this *after* I realized my mistake of equating the two `command_queue`s. Is it accurate, though, to say that `TestRunnerManager` is getting commands from `TestRunner`? It should just be sending results and logs, is there any "do this for me" sort of communication in the runner&rarr;manager direction?

Whether named the same across the two classes or not, do you have names you think w

[2018-10-08 10:37] foolip commented on #8044
@akansha2608 it was perhaps an overstatement on my part to say this is a good first issue. In this repository, the change is simple, because it be just deleting the tests. But to do that, first they must be moved into the other repo, which is tracked by this issue and https://github.com/KhronosGroup/WebGL/issues/2537.

So, for each test, work out where in the webgl test suite those tests would bel

[2018-10-08 10:56] gsnedders commented on #12621
@youennf *probably* nothing; https://bugs.webkit.org/show_bug.cgi?id=187052 is the most annoying given it makes it hard to verify behaviour is correct.

[2018-10-08 11:01] jgraham commented on #10398
I"m not 100% sure that's necessary. What's undoubtedly required is to stop sending commands to the parent window as the test runs. But it looks like that's possible without merging the windows into one. Maybe I'm missing something though.

[2018-10-08 11:07] gsnedders commented on #10398
@jgraham if we're sending all the messages to the current window, what use does the parent window have?

[2018-10-08 11:14] gsnedders commented on #13073
Once #13407 is fixed, maybe that should be CRITICAL too, given it implies we didn't actually complete running everything?

[2018-10-08 12:01] #13407 closed

[2018-10-08 12:02] jgraham commented on #10398
Not having the window is possible but it's a larger change than required to fix this, with a different set of tradeoffs.

[2018-10-08 12:10] gsnedders commented on #10398
@jgraham the parent window is used to receive the results of the testsuite, which would then need to go to the test window (given WebDriver would be listening to messages on the test window), what else?

[2018-10-08 12:36] gsnedders commented on #10398
@jgraham responded to the above question at https://w3.logbot.info/testing/20181008#c446175

[2018-10-08 12:43] gsnedders opened #13418 "Avoid window.open in the test runner"
From https://github.com/web-platform-tests/wpt/pull/12885#issuecomment-419240394 (@domenic, @TimothyGu).

See also discussion in https://github.com/web-platform-tests/wpt/issues/10398#issuecomment-427525644.

Note this is complicated for executors using WebDriver by the lack of any window management (beyond `close`) in WebDriver; see https://github.com/w3c/webdriver/issues/1138.

[2018-10-08 13:52] gsnedders commented on #13274
https://github.com/web-platform-tests/wpt/commit/300f8e2c89abc98917b40e95c14f2edf1d354f99 failed with this on https://tools.taskcluster.net/groups/TKPIsqzARXyy88H0_n8bLw

[2018-10-08 14:45] foolip commented on #13274
@jgraham, can you take a look? Needs more retry?

[2018-10-08 21:14] jgraham commented on #13274
I fairly strongly suspect that this is happening when a new nightly is being released (maybe some platforms are available and some are not?). But we are already handling that badly; it's possible to end up with some tests run in the previous nightly and some in the new one. Really we need a single decsion task that picks a binary URL and makes it available to the subsequent tasks to ensure that th

[2018-10-08 21:22] foolip commented on #13274
Enter, stage left, @jugglinmike to say something about how this is done in https://github.com/web-platform-tests/results-collection

[2018-10-09 06:17] qiuzhong commented on #8368
Is anyone still working on this issue?

In `tools/wptserve/wptserve/response.py::Response.iter_content` it doesn't check if `self.content` is iterable. However, the following code then uses it to iterate directly:
https://github.com/web-platform-tests/wpt/blob/434ca4744845966d5f3f87355f41ccc6f777376f/tools/wptserve/wptserve/response.py#L214

If a bad handler assigns inappropriate type that is not

[2018-10-09 11:14] gsnedders commented on #12374
@jugglinmike do you want to try flipping us over to safari_webdriver for a build or two on wpt.fyi? or should we try (pretty blindly!) to do that upstream?

[2018-10-09 12:48] foolip commented on #12374
I've tried enabling safari_webdriver in https://github.com/foolip/wpt/pull/5:
https://travis-ci.org/foolip/wpt/jobs/439114299

So at least the infrastructure/ tests work. Also curious to hear how @jugglinmike would like to roll this out. I suspect it depends on the status of Safari 12 runs?

[2018-10-09 16:46] jugglinmike commented on #12374
Thanks for the offer, @gsnedders. I would like to take you up on that, but I'm still working through [an intermittent error in testing Safari](https://github.com/web-platform-tests/results-collection/issues/615).  Resolving that is my top priority, and I hope to have it licked before the end of the week. You can refer to that issue for progress updates.

[2018-10-09 19:53] foolip commented on #10572
It has happened once in the past month or so that a untagged-* tag was created, which I then deleted. In https://github.com/web-platform-tests/wpt/releases a lot of "Draft" releases with no assets are listed, and some with assets. Why this happens I don't know, but I'll delete them. I'm also writing a script to check if recent merged PRs have tags and releases with assets.

[2018-10-09 21:16] foolip commented on #10572
Wrote this script, but it hasn't finished running :) (needs nodejs 10)
[code]

[2018-10-09 21:33] foolip commented on #10572
However, it's run long enough that I can tell that the latest trouble was just 15 days ago with https://github.com/web-platform-tests/wpt/pull/13187. That was tagged but there's no release, because Travis failed due to `Octokit::BadGateway`:
https://travis-ci.org/web-platform-tests/wpt/jobs/432494382

There are more like that.

The most recent with no tags is https://github.com/web-platform-tests/

[2018-10-09 21:35] foolip commented on #10572
Ah, wait, I've made a mistake! https://github.com/web-platform-tests/wpt/pull/12824 wasn't targeting the master branch, so that explains the weirdness. My script should skip PRs that target anything but master.

[2018-10-09 21:55] foolip commented on #10572
https://github.com/web-platform-tests/wpt/pull/11452 is like https://github.com/web-platform-tests/wpt/issues/10572#issuecomment-383751931 so that case still happens.

[2018-10-09 22:02] foolip commented on #10877
Given that we'll stop running stability checks in Travis in favor results+stability in Taskcluster, this issue isn't quite accurate. I'll change the title to reflect that it might not involve Travis.

[2018-10-10 00:35] jugglinmike opened #13446 "[wptrunner] Tests which output large amounts of data cause process to hang"
[While collecting results for Safari, the WPT CLI frequently stalls.](https://github.com/web-platform-tests/results-collection/issues/615) This always occurs while executing WebDriver specification tests, specifically tests concerning user prompts. This suggested that the problem is related to the browser's WebDriver implementation, but it appears to actually concern wptrunner itself.

The WebDriv

[2018-10-10 15:14] progers opened #13454 "Circleci is failing due to missing configuration"
I have my first WPT pull request: https://github.com/web-platform-tests/wpt/pull/13441

It is failing circleci:
https://circleci.com/gh/web-platform-tests/wpt/8?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Here's the error:
[code]

I think this error is in the circleci integration and not with the patch.

[2018-10-10 22:21] foolip commented on #13454
Sorry about that, I've commented in all affected PRs about my mishap, and that the failure can be ignored. If you touch that PR in any way that retrigger checks, then CircleCI will not show up. It's also fine to merge with the failing check in place, as it's not blocking.

[2018-10-10 22:21] #13454 closed

[2018-10-11 06:59] johanneswilm opened #13464 "webdriver broken for contenteditable - not possible to create tests for the Input Events spec"
For the **Input Events spec** [1], we need to write tests on whether the `beforeinput` and `input` events are triggered given certain user actions. We cannot just write these tests in JavaScript, as the events should only be triggered upon user interaction.

This would usually mean that one would use Selenium webdriver tests. But unfortunately, there are a number of bugs which mean that webdriver

[2018-10-11 09:41] annevk opened #13465 "Arbitrary subdomains"
In order to test what code points are allowed in domain name labels (and how they end up in `Host`, `Origin`, and `Referrer` headers) I need arbitrary subdomains. (See https://github.com/httpwg/http-extensions/issues/702.)

This would also make #4880, #8581, and #11219 easier as we'd simply route all requests.

The flipside is that this would make deployment of wpt more involved as it requires run

[2018-10-11 09:41] foolip commented on #13465
@jugglinmike

[2018-10-11 09:48] jgraham commented on #13465
The localhost thing wouldn't help with running this on w3c-test.org or equivalent. Setting up custom DNS in browser CI infrastructure also seems daunting given that typically test jobs don't have root access. Maybe DoH could help here if that gets widespead adoption? I'm not sure.

[2018-10-11 10:03] jgraham commented on #13465
I think it solves the problem for Chromium but not for other browsers :) It's probably possible to make development builds of Firefox do something similar, but I'm not sure that there's an equivalent workaround available for e.g. testing stable releases of Safari, or mobile browsers where you actually don't want localhost but the address of the host machine.

[2018-10-11 10:33] mikewest commented on #13465
I wasn't at all clear, apologies. In my head, I added a sentence like "Other browsers should be able to do the same without much effort."

But I didn't think about testing against stable releases, and you're entirely correct that that would require more work. We can either put that work on browser vendors (by designing and implementing a webdriver flag for this kind of wildcarding), or put it on f

[2018-10-11 13:36] annevk opened #13470 "Fetch/HTTP: more WWW-Authenticate parsing tests"
http://test.greenbytes.de/tech/tc/httpauth/ has tests that could be converted to some JSON structure. https://github.com/web-platform-tests/wpt/pull/13189 has a basic template (manual unfortunately).

But given that implementers are somewhat reluctant per https://github.com/httpwg/http-core/issues/136 this is not a priority. (I think implementers are wrong here, FWIW, there's value in having consi

[2018-10-11 17:54] jugglinmike commented on #13465
@foolip mentioned me because I'm maintaining http://web-platform-tests.live, an installation we'd like to replace w3c-test.org. I can speak to some of the deployment concerns, but I'm new to this domain (note the fantastic pun), so please bear with me.

[Wikipedia derides wildcard DNS records as underspecified and inconsistently implemented.](https://en.wikipedia.org/wiki/Wildcard_DNS_record) Does

[2018-10-11 19:52] foolip commented on #5671
I've downgraded this to backlog priority, because we aren't currently working on the chromedriver side or the testdriver.js API, and it does not seem very urgent. I think we should do this together with https://github.com/web-platform-tests/wpt/issues/12046 down the line.

[2018-10-11 19:55] foolip commented on #9546
Included in [Ecosystem Infra 2018 Q4 OKRs](https://docs.google.com/document/d/1UKuPaQm2YGHYEfbrrYBHoCUGAVhyQZEp8nE09qT7vYg/edit#heading=h.jwokykbtd9cq)

[2018-10-11 19:55] foolip commented on #7928
Included in [Ecosystem Infra 2018 Q4 OKRs](https://docs.google.com/document/d/1UKuPaQm2YGHYEfbrrYBHoCUGAVhyQZEp8nE09qT7vYg/edit#heading=h.jwokykbtd9cq)

[2018-10-11 19:56] foolip commented on #10021
Included in [Ecosystem Infra 2018 Q4 OKRs](https://docs.google.com/document/d/1UKuPaQm2YGHYEfbrrYBHoCUGAVhyQZEp8nE09qT7vYg/edit#heading=h.jwokykbtd9cq)

[2018-10-11 19:56] foolip commented on #10330
Included in [Ecosystem Infra 2018 Q4 OKRs](https://docs.google.com/document/d/1UKuPaQm2YGHYEfbrrYBHoCUGAVhyQZEp8nE09qT7vYg/edit#heading=h.jwokykbtd9cq).

I think we can use `navigator.webdriver` for this, somehow.

[2018-10-11 19:57] foolip commented on #10355
Included in [Ecosystem Infra 2018 Q4 OKRs](https://docs.google.com/document/d/1UKuPaQm2YGHYEfbrrYBHoCUGAVhyQZEp8nE09qT7vYg/edit#heading=h.jwokykbtd9cq)

[2018-10-11 19:57] foolip commented on #7660
@jugglinmike, I'll go ahead and assign this to you, as simply taking these jobs off of Travis will resolve this issue in Q4.

[2018-10-11 20:05] jugglinmike commented on #13446
Resolved via https://github.com/web-platform-tests/wpt/pull/13447

[2018-10-11 20:05] #13446 closed

[2018-10-12 05:48] mnot commented on #13465
There are a lot of moving parts here; not only browsers, but also system resolvers, dns proxies, dns recursives, roots, registrars, web servers, CDNs, etc. all are going to make a difference here.

I.e., even if we determine that all browsers allow a particular character, set of characters or encodings as input (in various places), doesn't mean that it'll be interoperable or even usable on the ope

[2018-10-12 11:18] zcorpan commented on #2831
I think probably new tests similar to https://github.com/web-platform-tests/wpt/blob/master/css/css-content/attr-case-insensitive.html but with these cases:

http://software.hixie.ch/utilities/js/live-dom-viewer/saved/4036 (should not match)
http://software.hixie.ch/utilities/js/live-dom-viewer/saved/4037 (only casematch should match)

[2018-10-12 11:32] zcorpan commented on #6301
1. Check out the branch `zcorpan/window-open-top-vs-screeny`
2. Create a new branch on top of that
3. In each "// The last specified feature is used even if the value is 0 or error" test, add tests where the last value is `-1`, and add a comment saying that it should be like 0 due to clamping.
4. Submit PR, say that it's on top of #5553.

[2018-10-12 12:01] foolip commented on #10572
#10605  had no manifest, again because of a network error in the deploy step. It was recent, so I restarted https://travis-ci.org/web-platform-tests/wpt/jobs/440405376, but that then fails with "HTTP Error 422: Unprocessable Entity" because the tag already exists...

[2018-10-12 12:14] foolip commented on #10572
Note that there are some tags for which releases exist but the assets (manifest file) do not. Those are merge_pr_10605 and merge_pr_10247, and I'll just delete the releases to put them in the same category as 'no release'.

[2018-10-12 13:14] gsnedders commented on #13464
@johanneswilm Do you have any links to any bugs on browsers' WebDriver implementations? AFAIK there's no reason per spec for it to not work. Those Selenium bugs don't link to any bugs in the actual WD implementations, and we soonish shouldn't be using Selenium at all for any browser any more (#12374).

[2018-10-12 13:20] gsnedders commented on #13464
Is this what is tested in webdriver/tests/element_send_keys/content_editable.py? https://wpt.fyi/results/webdriver/tests/element_send_keys/content_editable.py?label=experimental shows this failing in Chrome and Safari (and passing in Edge and Firefox.

[2018-10-12 13:28] johanneswilm commented on #13464
@gsnedders Firefox/Edge are the two browsers that have not implemented the Input Events spec. Chrome and Safari have. Looking quickly at those 5-6 lines of tests, they don't seem to be related to the input events.

If you use any search engine and look for "Webdriver contenteditable" you will see this has been a painpoint for many people over a long time, and bugs filed in this regard have always

[2018-10-12 13:35] gsnedders commented on #13464
@johanneswilm But they are related to contentEditable being modified by WebDriver, no? Or is this specifically about selection (i.e., https://github.com/w3c/webdriver/issues/388)?

[2018-10-12 14:23] johanneswilm commented on #13464
I don't know what the purpose of that test is. It seems to put the selection into contenteditable element without specifying where exactly, and then it tests whether the selection happens to have ended up at the end of the content. I could be wrong though.
I don't think there is any relation to the Input Events spec other than that both have something to do with contenteditable.

[2018-10-12 14:30] johanneswilm commented on #13464
https://github.com/w3c/webdriver/issues/388 seems to address at least some of the issues with trying to test contenteditable. Setting the selection is a huge part of it, but also things like IME input, context menus, checking for wavy spell checker lines, have at least in the recent past been issues.

[2018-10-13 08:30] foolip commented on #7136
I wonder if this might be why I'm seeing a failure when I invoke `./wpt run` twice in CI: https://github.com/foolip/wpt/pull/5

The second time it seems the port is taken and it just fails to connect.

[2018-10-13 11:37] foolip commented on #2191
@hillbrad, this issue has been inactive for 3 years. Do you still plan to work on it?

[2018-10-13 11:39] foolip commented on #5487
@gsnedders, should this really be assigned, given that no active work is being done? And what is this issue blocked on?

[2018-10-13 11:42] foolip commented on #6002
@jugglinmike, what should we do with this issue? This behavior is known, intentional, but possibly not well documented. Can you file issues with suggestions for improvement and close this one?

[2018-10-13 11:49] foolip commented on #7437
Can we fold this into into a "get rid of css/vendor-imports/" issue? Seems like there's not much point in just consolidating Ahem here.

[2018-10-13 11:51] foolip commented on #7437
Found https://github.com/web-platform-tests/wpt/issues/8615, closing in favor of that.

[2018-10-13 11:51] #7437 closed

[2018-10-13 12:46] foolip commented on #6533
`instanceof RTCTrackEvent` added to a test in https://github.com/web-platform-tests/wpt/pull/12069

[2018-10-13 12:46] #6533 closed

[2018-10-13 12:47] foolip commented on #5475
@svgeesus was this work finished, or is there more to do in this issue?

[2018-10-13 12:48] foolip commented on #5225
Ping @ricea, have tests for this been added yet?

[2018-10-13 13:44] foolip commented on #2887
Is this issue still relevant? Have we not synced with html5lib in 2+ years?

[2018-10-13 13:58] foolip commented on #4195
Spec bug is now https://github.com/whatwg/html/issues/1055.

[2018-10-13 14:10] foolip commented on #7459
@marcoscaceres does this still need doing? (Looking through old issues...)

[2018-10-13 14:29] zcorpan commented on #2887
I'm afraid so :-/

[2018-10-13 14:44] marcoscaceres commented on #7459
No, we can do this internally for each engine. For WPT, we will just stick to showing interoperability.

[2018-10-13 14:44] #7459 closed

[2018-10-13 15:39] foolip commented on #2887
Alright, so as part of an upcoming documentation drive we should probably document what all of the third-party does are and how they are updated. Ideally we should have auto-updates from source like for interfaces/ now.

[2018-10-13 16:37] kevlened opened #13502 "Non-spec-compliant webdriver find_element test"
The [`test_invalid_selector_argument` test](https://github.com/web-platform-tests/wpt/blob/6d430e9d2dbc770f66c40e944928f5ec4f6cbccb/webdriver/tests/find_element/find.py#L33-L37) assumes any non-string argument is invalid. The [spec indicates in step 4 of Find Element](https://w3c.github.io/webdriver/#find-element) that only undefined arguments are invalid. In step 8, all other selectors are passed

[2018-10-13 17:10] wisniewskit commented on #7933
@thejohnjansen, could you check if someone from the Edge team can chime in on this one?

[2018-10-14 03:27] frivoal opened #13505 "Incorrect "tip" in text transform tests"
As discussed in https://bugzilla.mozilla.org/show_bug.cgi?id=1498148#c40, a [bunch of text transform tests](https://searchfox.org/mozilla-central/search?q=Tip%3A%20To%20identify%20the%20characters%20where%20differences%20occur) give the suggestion to copy and paste the result of the transform to in some unicode tool to check if the correct characters have been produced. However, text-transform is

[2018-10-14 10:38] dpino commented on #13505
Beside the copy & paste trick, the tip also states that:

"To identify the characters where differences occur, in order to report problem characters,either mouse over to reveal a tooltip"

For this reason many tests have a `title` attribute in an `span` element. However, at least in the browsers I tested (Firefox and Chrome), when I hover a glyph or character the title's tooltip doesn't show up.

[2018-10-14 11:09] dpino commented on #13505
It seems the tooltip indeed shows up when opening the test in a browser using the `web-platform-test` tooling (`wpt serve`). However, tooltips don't show up when launching a test using Firefox's `mach wpt`. So this seems to be an issue on Firefox's tooling I suspect.

[2018-10-15 03:35] ricea commented on #5225
Sorry, no, I dropped the ball here.

[2018-10-15 07:41] sideshowbarker opened #13513 "Stability checker causing Travis CI to time out"
See https://travis-ci.org/web-platform-tests/wpt/builds/440987637

[2018-10-15 10:53] svgeesus commented on #5475
@foolip the tests I wrote were merged to WPT. The @font-face OM stuff was moved to CSS Fonts 4, and still needs tests.I think this old tracking issue/wishlist can be closed now.

[2018-10-15 10:55] #5475 closed

[2018-10-15 12:31] foolip commented on #5475
Thanks @svgeesus!

[2018-10-15 12:34] foolip commented on #13513
This is different from https://github.com/web-platform-tests/wpt/issues/7660 in that the job only took 16 minutes, but it timed out due to no output. From the end of the logs:
[code]

@jgraham, can you investigate?

[2018-10-15 12:36] jgraham commented on #13513
I wonder if this is related to the change in default formatter; I tried to ensure that the PR jobs were unaffected, but maybe missed this one.

[2018-10-15 13:53] #13513 closed

[2018-10-15 14:12] foolip commented on #13192
It looks like the tests are failing on Buildbot runs now as well:
https://wpt.fyi/results/css/css-text/i18n/ja?product=chrome%5Bbuildbot,experimental%5D&product=chrome%5Bexperimental,taskcluster%5D&aligned&diff

@Hexcles @jugglinmike do either of you know why this might be? (When this issue was filed, they passed on Buildbot.)

[2018-10-15 14:19] foolip commented on #7211
@jugglinmike I stumbled into this issue. It probably doesn't repro anymore, but is the intersection of Safari and cleanup and so might be of interest for you to try reproducing.

[2018-10-15 14:22] foolip commented on #13192
From a look at the tests, it seems like they just don't wait for the webfont to load, so fixing them would be a matter of adding a step to wait for that.

[2018-10-15 14:25] foolip opened #13522 "Support async setup()"
https://github.com/web-platform-tests/wpt/issues/7188 added async cleanup for testharness.js.

There are also cases where it makes sense to delay the start of tests:
 - `idl_test` loads resources from interfaces/ in a dummy "idl_test setup" test
 - https://github.com/web-platform-tests/wpt/issues/13192 depends on webfonts being loaded
 - many tests wait for the window load event

For such cases, t

[2018-10-15 14:36] Loirooriol opened #13523 "cssom/shorthand-values.html is wrong"
https://github.com/web-platform-tests/wpt/blob/780c03bd757ee85581fece3e5e2f4434de7a1014/css/cssom/shorthand-values.html#L31

It says that

[code]

should serialize as

[code]

But that's not right because the `border` shorthand also sets `border-*-style` and `border-*-color` longhands, so according to https://drafts.csswg.org/cssom/#serialize-a-css-declaration-block I expect something like

[code]

[2018-10-15 14:54] kojiishi commented on #13192
Is there anyway to see the actual screenshot of the bot? It's a bit hard to diagnose what is happening without seeing the output log and/or screenshots. Maybe tests ran before fonts were downloaded. Maybe fonts were downloaded but sub-pixel failures happening.

I checked a few other tests randomly, this test passes locally too:
http://w3c-test.org/css/css-writing-modes/bidi-embed-002.html
this use

[2018-10-15 16:56] foolip commented on #13192
Indeed it is! This has become quite obvious when asking people to look at engine-specific failures, and it's being discussed in https://github.com/web-platform-tests/wpt.fyi/issues/57.

[2018-10-15 17:36] emilio commented on #13523
Yeah, I agree that that entry is wrong. A browser that passes that subtest is clearly bogus.

Maybe the test should read something like: `border-width: 1px; border-top-width: 1px !important;`?

I think this behavior is wrong. Resetting to the initial value is not the same as resetting to the initial keyword.

All in all I agree with your analysis.

[2018-10-15 17:41] foolip commented on #13192
@jgraham I'm trying this. Should I be able to use https://github.com/Gankro/live-reftest-analyzer?

[2018-10-15 17:43] jgraham commented on #13192
idk what Gankro's thing is exactly, but you can certainly use https://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml

[2018-10-15 17:45] jgraham commented on #13192
Ah reading the desciption there, no that's way less helpful than the thing in m-c I linked.

[2018-10-15 19:39] jugglinmike commented on #6002
[This is documented via a sentence in the middle of the section on Promise tests](https://github.com/web-platform-tests/wpt/blob/8c024e160ccff17edde16ed3989689d36e6ca085/docs/_writing-tests/testharness-api.md#promise-tests):

I'm not sure if we should consider this "well-documented," but I haven't seen much in the way of confusion or complaint (and no one has replied to this issue in the 18 months

[2018-10-15 19:39] #6002 closed

[2018-10-15 20:19] jugglinmike commented on #13522
@foolip has mentioned two strategies for asynchronous test setup. The first, "waiting in every test individually" works for `async_test`:

[code]

The second, "have an initial dummy test" relies on serial sub-test execution and therefore only works for `promise_test`:

[code]

There's a third alternative for test authors looking to use asynchronous setup logic today, one that works for both APIs a

[2018-10-15 20:34] gsnedders commented on #13192
Per the above, there's no screenshot happening here because they're testharness.js tests.

[2018-10-15 20:38] foolip commented on #13192
Alright, well I actually wanted to use reftest-analyzer for something else and just asked about it here :)

[2018-10-15 20:44] foolip commented on #13522
Ah, right, I didn't consider the third option, that might come in handy to fix https://github.com/web-platform-tests/wpt/issues/13192.

If we made this a built-in behavior of setup(), then we would still have to do something non-obvious for async_test that are created while the async setup is happening, either fall over with a harness error, or just not invoke the first step until later. Neither w

[2018-10-15 20:45] foolip commented on #5225
Just checking in on old issues, if this isn't very important it's fine to leave it sitting :)

[2018-10-15 20:50] gsnedders commented on #2887
This would be easier to do if we had something to parse the tests in html5lib-tests. Say, like, as part of a linter https://github.com/html5lib/html5lib-tests/pull/83 (PR opened over two years ago!).

[2018-10-15 20:51] jugglinmike commented on #13522
My cold robot-like solution would be to disallow `async_test` whenever a setup function returned a promise.

[2018-10-15 21:44] Loirooriol commented on #13523
Adding this subtest seems a good idea, but given the issues with the existing one, I would also keep it (fixing the expected output).

[2018-10-15 21:50] JosephPecoraro opened #13532 "[HTTP/2.0] Writing tests that use HTTP/2"
Now that there is a prototype implementation of HTTP/2.0 support in wptserve, and some limited documentation, how do test authors take advantage of it?

* It seems in order to enable it you would currently need to include a `--h2` switch. Does this enable `http1` and `http2` support within the same server just at different ports? That would enable a single test to issue requests that test both htt

[2018-10-15 21:51] JosephPecoraro commented on #13532
CC @dhdavvie given his past work on this.

[2018-10-15 22:05] foolip commented on #13522
Right, that's be the "fall over with a harness error" option I had in mind.

[2018-10-15 22:55] youennf commented on #9180
There has been some similar concerns in WebKit since this is one thing that js-test harness is supporting. Wrapping every assertion in a test() would do the trick.

[2018-10-16 08:16] whimboo commented on #12166
@foolip I don't see that much logging output. So which lines are you referring to?

[2018-10-16 08:32] foolip commented on #12166
@whimboo search for "marionette" in the logs and you see a fair bit of stuff that I'd consider redundant.

[2018-10-16 08:42] andreastt commented on #12166
Probably setting `marionette.log.level` to `Warn` here would do the trick for all non-wdspec test types:
https://searchfox.org/mozilla-central/rev/c9272ef398954288525e37196eada1e5a93d93bf/testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/firefox.py#235-242

[2018-10-16 09:48] foolip opened #13539 "css-flexbox-row-* tests fail on Chrome in Buildbot+Taskcluster"
These four tests are failing in Chrome only, and only in wpt's infrastructure, not in Chromium:
* /css/css-flexbox/css-flexbox-row-reverse-wrap-reverse.html
* /css/css-flexbox/css-flexbox-row-reverse-wrap.html
* /css/css-flexbox/css-flexbox-row-wrap-reverse.html
* /css/css-flexbox/css-flexbox-row-wrap.html

Screenshots in https://github.com/web-platform-tests/wpt/issues/13539#issuecomment-43080369

[2018-10-16 10:03] jgraham commented on #13532
So the work is a little stalled. The first problem is that we can't run the HTTP/2 server on Travis because their machine images are so outdated. So this is blocked on migrating our testing away from Travis. It's also likely to cause problems for people running tests locally on OSX who are quite likely to have an out of date OpenSSL installed, and will need to install an update via homebrew or sim

[2018-10-16 10:19] foolip commented on #13539
Context: [web-platform-tests that fail only in Chrome (from wpt.fyi data)](https://groups.google.com/a/chromium.org/d/msg/blink-dev/Met12DiCxVE/sQfo5UHQBgAJ) thread on blink-dev.

[2018-10-16 11:06] dhdavvie commented on #13532
@jgraham has covered everything pretty well, the current status of the H2 prototype server is stalled due to not being able to have it on by default.

There is a little bit of [documentation](https://web-platform-tests.org/writing-tests/server-features.html) at the bottom and links to more specific stuff, for some reason the link doesn't get auto-hosted so it downloads the .md file. Please let me

[2018-10-16 11:54] foolip commented on #11473
@jgraham has sent out [web-platform-tests Governance](https://lists.w3.org/Archives/Public/public-test-infra/2018OctDec/0008.html) to public-test-infra, drafted by him, @marcoscaceres and me. The process is a little bit different (simpler) than what I described in https://github.com/web-platform-tests/wpt/issues/11473#issuecomment-425756781, so please read there and if you are interested fill out

[2018-10-16 12:02] tobie commented on #11473
Don't you want to extend this to the end of TPAC to make sure everyone sees it? Just a thought.

[2018-10-16 12:04] foolip commented on #12480
@nhiroki is there someone working on this in Chromium who would champion (implement) this change? I believe there aren't too many options for how to implement it, so it's mostly a matter of writing the code and making sure that the changes won't cause trouble for downstream users of WPT (Edge, Gecko, WebKit).

[2018-10-16 12:10] foolip commented on #11473
If someone shows up at TPAC that missed this discussion/announcement and would like to self-nominate, then sure, we'll include them in our effort to form a core team. But we'll want to do the "If possible a mutually agreeable decision is made from the pool of nominees" step during TPAC, so I don't think we should wait until the end to close the self-nomination form.

[2018-10-16 13:00] foolip commented on #5471
Noticed this today and generated a list of attributes and functions that don't appear at all in a grep of css/cssom-view:
* convertPointFromNode
* convertQuadFromNode
* convertRectFromNode
* devicePixelRatio
* moveBy
* moveTo
* offsetX
* offsetY
* outerHeight
* outerWidth
* pageX
* pageXOffset
* pageY
* pageYOffset
* resizeBy
* resizeTo
* screenX
* screenY

[2018-10-16 13:29] nhiroki commented on #12480
@foolip  I'm interested to implement this, but I'm not sure I can start it soon. Could you provide guidance how to implement this (e.g., files to be changed) so that I or someone can work on this in spare time?

Regarding [domenic's comment](https://github.com/web-platform-tests/wpt/issues/12480#issuecomment-413312496),

our use case is to run existing classic worker tests as modules, that is, ((c

[2018-10-16 14:13] annevk commented on #11473
I got this clarified: there will be a 1 month objection period following any decision about who the core team should be with objections handled by @marcoscaceres: https://lists.w3.org/Archives/Public/public-test-infra/2018OctDec/0009.html. So whatever happens at TPAC is subject to scrutiny. This seems fairly reasonable to me.

[2018-10-16 15:28] whimboo commented on #12166
This looks like a fixed value to me, so a better place is https://searchfox.org/mozilla-central/source/testing/profiles/web-platform/user.js, unless you want to make is configurable via a command line option.

[2018-10-16 15:59] r12a commented on #13505
There are two reasons i think we should keep the tip:

1. The suggestion to copy into a tool for identification is not expected to rerun the test, it's simply a way of finding out what characters are in the code.  So the advice remains valid.

2. I develop these tests for use in the i18n test suite and then copy them to WPT. I try very hard to make tests work both for people who use WPT and in the

[2018-10-16 18:44] Loirooriol commented on #13523
Thinking more about this, Firefox seems right about setting `border-image` to `none 100% / 1 / 0 stretch` instead of `initial`, but not all these values should appear in the serialization according to https://drafts.csswg.org/cssom/#serialize-a-css-value,

The syntax of [`border-image`](https://drafts.csswg.org/css-backgrounds-3/#border-image) is

[code]

So there are three possible minimal serial

[2018-10-16 19:33] foolip commented on #13532
Would it make sense to add some infrastructure tests for this, so that I can see if I can get them passing on macOS? Hopefully we'd also see them passing on Taskcluster already?

[2018-10-16 19:41] foolip commented on #12455
Here I am, nagging about progress :)

@jdm is this something you're still pursuing? FWIW, I might want to add safari to precisely the code you're touching in that diff, so if there's a PR out there might be conflicts for one of us. Trivial ones, though.

[2018-10-16 19:42] foolip commented on #8581
@gsnedders can you provide an update on this issue? Thanks!

[2018-10-16 19:51] dhdavvie commented on #13532
@foolip Do you mean unit tests for the server? These already exist, and if memory serves correct, will run automatically if you have the correct environment.

[2018-10-16 20:11] jdm commented on #12455
It's not something that I'm actively pursuing right now given some results I had in https://github.com/servo/servo/pull/21398. Still something I'd like to make happen.

[2018-10-16 20:18] foolip commented on #12455
Alright, I'll downgrade the priority to save you another bag in 60 days :)

[2018-10-16 20:18] foolip commented on #12455
Sorry, you already did :)

[2018-10-16 20:46] foolip commented on #13532
@dhdavvie not quite, I mean tests under https://github.com/web-platform-tests/wpt/tree/master/infrastructure/server. Integration tests, I guess we'd call them.

[2018-10-16 22:12] Hexcles commented on #10572
Briefly discussed this with Philip today. We need some better deploy mechanisms. We can keep pushing the limits of the CI system, by adding more retries to each step, and making sure later steps only happen when earlier steps succeed (e.g. make sure we have "set -e"). Or rather, it'd be good if there's a better system to define such workflow or pipeline. GitHub just announced [Actions](https://git

[2018-10-17 07:33] hsivonen opened #13557 "Single-byte encoding tests time out in Firefox"
`textdecoder-fatal-single-byte.*.html` tests time out in the Firefox runs reported at wpt.fyi. It appears to me that the underlying functionality being tested should pass the tests, so it would be good to adjust the harness not to time out.

[2018-10-17 11:46] gsnedders commented on #8581
We landed extra subdomains, reverted them, and we now have #13272 open to reland.

[2018-10-17 12:19] emilio opened #13563 "Reftest screenshots are taken on inactive windows on Firefox at least."
The test http://w3c-test.org/css/selectors/selection-image-001-noref.html fails on Firefox only on the wpt harness because the screenshot is taken on an inactive window, and we don't respect ::selection for inactive windows.

[2018-10-17 12:19] emilio commented on #13563
cc @jgraham

[2018-10-17 12:38] foolip commented on #10452
I've recently discovered we already have `--channel=experimental` which combined with `--install-browser` should do the right thing. @jugglinmike, is there still something in this issue you'd like to pursue?

[2018-10-17 12:42] foolip opened #13564 "`./wpt run` runs all tests by default, no clear way to run just affected tests"
When making test changes in a wpt checkout, `./wpt run`'s default behavior of running all tests is not very useful. I'd go further and say that to a human operator, running all tests is *very* seldom the right thing. Two ideas to improve upon this:
- `--all` to really run all tests
- `--affected` to only run affected tests

The default behavior could be to do nothing, or run the affected tests. Ma

[2018-10-17 13:01] Hexcles commented on #10452
@foolip FWIW, right now we don't differentiate between `experimental` and `dev` channels. Both will lead to extra flags/perfs in browsers that enable experimental features.

[2018-10-17 13:12] foolip commented on #10452
Yep. Another bug in the code surrounding this is that it doesn't know about Chrome Canary existing on macOS and Windows, which arguably would be the right thing to use for `--channel=experimental` on those platforms.

[2018-10-17 13:45] jdm opened #13568 "resources/tests CI job is intermittently failing"
https://github.com/web-platform-tests/wpt/pull/13567, https://github.com/web-platform-tests/wpt/pull/13551, https://github.com/web-platform-tests/wpt/pull/13562, and https://github.com/web-platform-tests/wpt/pull/13561 are showing the following unrelated failure:
[code]

This is preventing merging PRs.

[2018-10-17 13:47] jdm commented on #13568
Oh, I just saw https://github.com/web-platform-tests/wpt/pull/13565.

[2018-10-17 13:47] #13568 closed

[2018-10-17 14:04] gsnedders commented on #13564
Note this of course runs into the same issue as with everything else using "affected tests": what's the baseline branch?

[2018-10-17 14:31] jgraham commented on #13564
Right, I agree; `--affected` isn't really something that makes sense unless it's `--affected=revish` or something.

As for running nothing rather than running everything, it seems like a matter of taste; I think I sometimes do `wpt run firefox` just to see if things work at all. I also think that if `--totalChunks` and `--thinkChunk` are passed then the harness should certainly run some tests; run

[2018-10-17 14:49] beaufortfrancois commented on #6565
Note that https://github.com/web-platform-tests/wpt/issues/6565#issuecomment-427498278 worked nice for me from a fresh install.

[2018-10-17 15:46] gsnedders commented on #13564
I mean, presumably it could do the same as `./wpt tests-affected` by default. I still don't like the idea of expanding the weird heuristics.

[2018-10-17 15:53] foolip commented on #6565
Thanks for confirming, @beaufortfrancois! Let's have that in the documentation, then :)

[2018-10-17 18:04] szager-chromium opened #13581 "[css-text] css/css-text/text-indent/text-indent-percentage-001.xht checks for deprecated behavior"
This commit:

https://github.com/web-platform-tests/wpt/pull/11373

... added tests to verify the newly-spec'ed behavior, but it didn't update the pre-existing test that verifies the deprecated behavior.

[2018-10-17 20:40] foolip commented on #13564
I don't have very specific preferences about what an `--affected` would do by default, perhaps we can  make no guesses, explicit options, and have a bare `./wpt run` show a short help text. A first-time user of `./wpt run` asked me just today if it's possible to run a single test, so it's not entirely clear to people at first what to do.

I agree that having the use of chunking parameters bypass s

[2018-10-17 21:17] foolip commented on #12766
Concrete proposal: a `.optional.` test name flag similar to [`.tentative.`](https://web-platform-tests.org/writing-tests/file-names.html) which can be used for the explicitly-optional-in-spec case, and nothing else until we find a reason to cover other cases. It should be obvious from the test what the behavior under test is, with a comment or spec link.

[2018-10-17 21:55] foolip commented on #13539
In that same thread, after the discovery of a nice accident, we can actually view the results:
https://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml#logurl=https://taskcluster-artifacts.net/cHFVBzPHR1ylzr6MpVl7_A/0/public/results/log_tbpl.log

Here's the test and ref image extracted:
![image](https://user-images.githubusercontent.com/498917/47118442-89ca48

[2018-10-18 05:48] marcoscaceres opened #13591 "WPT test runner links to http test instead of https tests"
In the results table, the links generated for each test that is run seem to default to http://. It would be nice if, it the test is ".https.html", it correctly links to "http://".

[2018-10-18 05:50] marcoscaceres commented on #13591
To be clear, talking about:
https://w3c-test.org/tools/runner/index.html

And:

<img width="861" alt="screenshot 2018-10-18 16 50 16" src="https://user-images.githubusercontent.com/870154/47133768-eaa06200-d2f5-11e8-8f93-8b25c682909a.png">

[2018-10-18 06:12] marcoscaceres commented on #6565
Ok, it's still busted for me... but important to do:

[code]

Before:
[code]

Otherwise, "$HOME/Library/Python/2.7/bin" won't point to the right thing.

Now I get (good... I guess):
[code]

But still busted:

[code]

Halp? I'm stuck as now I can run any tests that require marionette 😭

[2018-10-18 12:54] beaufortfrancois opened #13598 "WorkerGlobalScope is checked in Picture-in-Picture idlharness tests"
According to https://wpt.fyi/results/picture-in-picture/idlharness.window.html?label=stable&aligned=true, it looks like `WorkerGlobalScope` interface is checked. This seems like a bug as the Picture-in-Picture API is not exposed to workers.

[code]

cc: @lukebjerring

[2018-10-18 16:53] lukebjerring commented on #13598
Will take a look when I get a chance - likely the `add_dependency_idls` making a mistake.
cc @foolip who is also and `idlharness` wizard.

[2018-10-18 17:03] lukebjerring commented on #13598
OK, so this is because all dependencies are considered equal.
Consider us A having defined `A : B`, and B is defined in another file.

    interface B {};
    B includes Z;
    C includes Z;

The code knows B is a dep, sees `B includes Z` and says `Z` is now a dependency.
Then it sees `C`, which includes dep `Z`, so `C` must be a dep too (wrong!)

[2018-10-18 20:12] szager-chromium commented on #13581
Also this test:

external/wpt/css/CSS2/text/text-indent-percent-001.xht

[2018-10-18 20:50] foolip commented on #13591
@marcoscaceres the in-browser runner isn't really well maintained. May I ask what you're using it for, if it's something we should support in `./wpt run` directly?

[2018-10-19 09:03] #12766 closed

[2018-10-19 09:44] annevk commented on #8372
This doesn't affect much:
[code]
I think I can fix both by simply writing out the headers myself. It seems to me the header API could be reimplemented on  top of the "output bytes asis" mode as well, but I'll leave that to someone else.

[2018-10-19 10:13] annevk commented on #8372
Unfortunately that simple fix does not work. The problem is that request header parsing is dropping these bytes and I'm not interested in meddling with that.

[2018-10-19 10:54] akansha2608 opened #13613 "Duplicate line in docs for running the tests"
We can merge these lines into line
[code]

in docs for running the tests https://github.com/web-platform-tests/wpt/blob/master/docs/_running-tests/index.md

Discussed with @marcoscaceres about it on slack

[2018-10-19 11:55] rachelandrew commented on #7470
I've been going through these. The majority of the legacy tests are now added to the multicol spec using the Bikeshed wpt functionality. While doing that I had to figure out what all the tests were, so it made sense to add the assert lines as I went, which are in PR https://github.com/web-platform-tests/wpt/pull/13616

If I've misrepresented anything let me know.

[2018-10-19 12:49] foolip opened #13620 "Clarify assumptions on video autoplay (causes Chrome-only failures)"
There are a number of Chrome-only timeouts in the test suite:
https://gist.github.com/foolip/cd74fc04bcb0b32d012d71da0bf7048c

The Chrome failures here are most likely because of Chrome's autoplay restrictions.

We should add tests in /infrastructure/assumptions documenting what we assume here, and make sure that we configure Chrome to match that.

@jugglinmike

[2018-10-19 12:50] foolip commented on #13620
The command line argument to fix this would be `--autoplay-policy=no-user-gesture-required`.

[2018-10-19 12:56] foolip commented on #13620
In a previous issue which I can't find now I've argued for just changing the tests, but I've changed my mind :)

[2018-10-19 13:49] #13620 closed

[2018-10-19 13:59] #13024 closed

[2018-10-19 14:51] #13613 closed

[2018-10-19 15:52] bzbarsky opened #13625 "htmlallcollection test fails when loaded directly"
The test has a `<div id="log">` that comes _after_ the `<script>` that runs the tests.   That means that when logging is enabled (e.g. loading the test directly) testharness doesn't find the log container, since it hasn't been parsed yet when the test runs.  It then creates a new `<div id="log">` and inserts it into the DOM, which changes the contents of document.all and the test fails.  On the ot

[2018-10-19 16:48] dholbert opened #13626 "flex-flexitem-percentage-prescation.html fails in Firefox because it improperly makes assumptions about font/text metrics without specifying a font"
The WPT test http://w3c-test.org/css/css-flexbox/flex-flexitem-percentage-prescation.html (reference http://w3c-test.org/css/css-flexbox/reference/flex-flexitem-percentage-prescation-ref.html ) mistakenly has a dependency on precise text sizing (and specifically, it assumes the width of the string "damer" is less than 50.5px)

The testcase has a 101px wide flex container with two items that it ass

[2018-10-19 17:46] foolip commented on #13625
Oh, now I understand, and this is a difference between running manually and understand automation that I was not aware of. I'm pretty sure I might have made this mistake elsewhere too, I guess one could look for it by check if two elements with `id=log` exist at the end of testing.

Context: https://groups.google.com/forum/m/#!topic/mozilla.dev.platform/LMnQq-yqbxg

[2018-10-19 17:48] foolip commented on #13625
This seems like the kind of mishap that might amuse or inspire @jugglinmike.

[2018-10-19 18:33] bzbarsky commented on #13625
Fwiw, I suspect  just moving the log container before the script and adjusting test expectations would work here, but I have not had a chance to verify that.

[2018-10-19 19:46] foolip commented on #13620
Sweet, my fix did fix the relevant tests in https://gist.github.com/foolip/cd74fc04bcb0b32d012d71da0bf7048c:
* [/html/semantics/embedded-content/media-elements/event_order_canplay_playing.html](https://wpt.fyi/results/html/semantics/embedded-content/media-elements/event_order_canplay_playing.html?sha=cf1873d8e4)
* [/html/semantics/embedded-content/media-elements/event_playing.html](https://wpt.fyi

[2018-10-19 20:06] foolip commented on #13625
As I feared, the test depends on the number of divs in the document, and that's probably why the div is at the end in the first place. Putting it at the beginning affects most of the tests. @jgraham, is there a way to prevent the logging div from being created at all? I could rejig things to work with it, but presumably this isn't the only test that could react badly to a div being inserted...

[2018-10-20 00:20] #13626 closed

[2018-10-20 08:43] bzbarsky commented on #13625
I would put it right before the `<script>`.  That will only affect a few of the tests; you can find the relevant ones by searching for "23"  and "24" in the test.

[2018-10-20 09:42] foolip commented on #13557
Is the test just a bit slow perhaps? @annevk

[2018-10-20 17:52] foolip commented on #12621
The test infrastructure/assumptions/allowed-to-play.html test I added in https://github.com/web-platform-tests/wpt/pull/13622 is also failing in Safari Technology Preview 67.

[2018-10-20 17:56] foolip commented on #12621
I've filed https://bugs.webkit.org/show_bug.cgi?id=190775 for that.

[2018-10-22 12:53] wseltzer commented on #11009
Per conversation with @foolip I'm filing two pull requests against license.md, one dropping from the dual license to the W3C 3-clause BSD; the other replacing with the straight 3-clause BSD (which differs only in not having the named copyright holder W3C). PSIG has given non-objection to the W3C 3-clause BSD. If that would still cause legal hiccups, then we can probably persuade them of the vanill

[2018-10-22 13:13] gsnedders commented on #9599
See also https://github.com/pypa/pip/tree/master/src/pip/_vendor for how `pip._vendor` is maintained.

[2018-10-22 14:54] cbiesinger opened #13656 "external/wpt/css/css-flexbox/percentage-heights-003.html does not test the right thing"
https://github.com/web-platform-tests/wpt/blob/master/css/css-flexbox/percentage-heights-003.html

@gregwhitworth fyi

This test has a column flexbox with an indefinite size, but expects that the flex item size is considered definite. I am fairly sure this is incorrect, per https://drafts.csswg.org/css-flexbox/#definite-sizes item 2 the flexbox needs a definite main size.

[2018-10-22 18:31] jugglinmike opened #13661 "[service-workers] Potential timeouts from unhandled error"
Many Service Worker tests use a MessageChannel to facilitate worker-document
communication. In many cases, they bind to the `onmessage` event of one
MessagePort and pause until a message is received. If a message cannot be
de-serialized, then the `messageerror` event is triggered instead. In `master`
today, the tests are not authored to react to this event, so they will time
out.

Generally, tests

[2018-10-22 18:38] dholbert opened #13662 "beacon-error.window.html makes (unjustified?) assumptions about the max beacon size"
The test https://wpt.fyi/results/beacon/beacon-error.window.html has the following hardcoded value in a JS helper file:
[code]
https://github.com/web-platform-tests/wpt/blame/master/beacon/beacon-common.sub.js#L7

...and then it has two subtests (in beacon-error.window.js) that depend on that value:
- "Verify calling 'navigator.sendBeacon()' with a large payload returns 'false'"
- "Verify the beha

[2018-10-22 18:48] dholbert commented on #13662
(also CC @bakulf who's touched the Firefox impl and may know what our too-large-payload threshold is, if we have one [or if we don't have one, which I guess would be a bug])

[2018-10-22 22:59] gsnedders commented on #13656
Argh, I am the worst reviewer. I'd forgotten too much detail by the time someone wrote a test for the issue.

[2018-10-22 23:37] foolip commented on #10572
There was a problem today again: https://github.com/web-platform-tests/wpt/pull/13638

[2018-10-22 23:40] gsnedders commented on #13539
Is there any reason why these tests are using the full-width glyphs anyway? Just for the sake of deterministic character widths?

[2018-10-23 04:53] nils-ohlmeier commented on #10981
By default Firefox starts with a user profile with no OpenH264 in it. For legal/licensing reasons we can't change that.

The two alternative are:
1) Wait for the download of OpenH264 to happen. Firefox waits by default I believe a couple of minutes of idle time (note: if the browser is actively used, e.g. with tests, the download won't happen as we don't want to affect what the user is actively do

[2018-10-23 05:42] CalebRouleau commented on #10451
Hi, for ChromeDriver we have what I think is a perfect solution for you. See this email for details

https://groups.google.com/forum/#!topic/chromedriver-users/HvlKWqv34es

John Chen is owning this work.

I think we could potentially also backfill ChromeDriver versions for M69, M68, etc simply by copying the ChromeDriver binary that we think is most suitable for those versions over to a properly-n

[2018-10-23 06:59] lukebjerring opened #13675 "Use GitHub's duplicated 3dbc08a982 results to audit for flaky tests"
GitHub's issues yesterday resulted in [major run duplication](https://wpt.fyi/test-runs?sha=3dbc08a982), which is a good chance to try and spot potentially flaky tests.

Example:
https://wpt.fyi/results/2dcontext/line-styles/lineto_a.html?sha=3dbc08a982&max-count=10&label=experimental&product=firefox

[2018-10-23 07:00] mkruisselbrink commented on #13661
The other reason most tests don't account for the messageerror event is that the vast majority of tests was written before that event even existed.

[2018-10-23 08:15] agouaillard commented on #10981
Alexs-MacBook-Air:KITE cosmo$ grep -R OpenH264 *

third_party/firefox-h264-profiles/h264-mac/gmp-gmpopenh264/1.7.1/gmpopenh264.info:Description:
GMP Plugin for OpenH264.

Binary file
third_party/firefox-h264-profiles/h264-mac/gmp-gmpopenh264/1.7.1/libgmpopenh264.dylib
matches

third_party/firefox-h264-profiles/h264-linux/gmp-gmpopenh264/1.7.1/gmpopenh264.info:Description:
GMP Plugin for OpenH264.

[2018-10-23 09:54] #13656 closed

[2018-10-23 12:02] littledan opened #13683 "How should timezone changes be tested?"
Across multiple browsers, changing the timezone of the browser changes the observed JavaScript interfaces for dates: both through the `Date` class, and through `Intl.DateTimeFormat().resolvedOptions().timeZone`. I [am proposing](https://github.com/whatwg/html/pull/3047) an event to observe this change without polling. It's unclear to me how the event should be tested. Is there way to simulate/forc

[2018-10-23 13:53] youennf commented on #9180
Talking with @jgraham, we might want to promote this issue as RFC issue once there will be RFC issues.

[2018-10-23 14:08] mdittmer commented on #12578
_friendly ping_ @gsnedders did 3b99513 get merged?

[2018-10-23 14:10] mdittmer commented on #12379
_friendly ping_; this is roadmap, but doesn't have an owner :thinking:

[2018-10-23 14:12] mdittmer commented on #10990
_friendly ping_. Looks like this issue has already gone through multiple candidate fixes that are still open. @jugglinmike and @gsnedders has there been any progress on this since August?

[2018-10-23 14:14] mdittmer commented on #7444
_friendly ping_. Linked dashboard suggests that there are still reliability issues here. @sideshowbarker are there plans to work on this during this quarter?

[2018-10-23 14:14] mdittmer commented on #12603
_friendly ping_ to @dhdavvie. Are there plans to dedup this quarter?

[2018-10-23 15:23] Hexcles opened #13686 "Assign only one reviewer automatically at a time, in a round-robin fashion"
Currently the @wpt-pr-bot assigns all owners of the affected tests as reviewers for a PR, which often becomes a long list. During the TPAC F2F, @lukebjerring raised the point that having too many reviewers might reduce the likelihood of a PR getting reviewed (everyone thinks someone else will review), and it's very noisy for everyone.

Hence, @lukebjerring proposed to change wpt-pr-bot so that we

[2018-10-23 15:25] boazsender opened #13687 "Complete 2019 plan"
WIP doc here: https://docs.google.com/document/d/1UE2KB7gvaEw5gvp4aAQNS9TrFYmnzgDzh5Sr4LQqaQo/edit

[2018-10-23 15:38] andreastt commented on #13686
I appreciate being notified on all new changes to the tests I’m primarily responsible for, even if it means I don’t get around to doing the review first.

If it really is a problem that too many people get notified and those notified have no intention of performing reviews, perhaps they should not be reviewers?

A middle way solution would be to have a syntax that allows certain people to always b

[2018-10-23 15:43] jugglinmike commented on #10990
There has not. My aforementioned preference for gh-11202 has not changed.

[2018-10-23 16:03] dhdavvie commented on #12603
@mdittmer Thanks for the ping. I should have some time to give this a quick look, and see if I am able to manually upgrade Hyper's version of H2. There is maybe an alternative solution where we downgrade the server's version of H2 to match Hyper's, but this seems less favorable.

[2018-10-23 16:15] dhdavvie commented on #13532
@foolip pardon my ignorance, but what advantage do these have over unit tests? Or am I misunderstanding their purpose?

[2018-10-23 16:36] sideshowbarker commented on #7444
Yes, after this week

[2018-10-23 21:55] foolip commented on #13532
We'd see the results on wpt.fyi and can tell by those result if the setup is working in the system that run wpt for wpt.fyi. Having the unit tests pass on some machine presumably does not ensure that it actually works, given some openssh system dependency that @jgraham has told me about.

[2018-10-23 22:52] foolip commented on #9180
@youennf, I think that would make sense, yes. https://github.com/foolip/rfcs is the proposal for how that will look. A concrete change proposal to evaluate would be great even before that process is in place, though.

[2018-10-23 23:02] foolip commented on #12379
I'll downgrade to backlog, it doesn't seems like a particularly serious problem, more a nice-to-fix.

[2018-10-23 23:32] foolip commented on #10451
This is great, thanks @CalebRouleau! The oldest Chrome that we run for wpt.fyi is 70, so no need to backfill for us at least.

[2018-10-24 08:06] lukebjerring commented on #10451
While not strictly necessary, having those legacy browsers/drivers, for major releases, could prove useful in weird edge-cases or information hunting.

[2018-10-24 08:53] bernhardf-ro opened #13699 "Some "Shapes" script test results cannot be read because they are displayed using the "Ahem" font"
Some "Shapes" script test results cannot be read because they are displayed using the "Ahem" font.
"font-family: Ahem" is set in the style attribute of the body, apparently via JavaScript.
Example test: http://test.csswg.org/harness/details/css-shapes-1_dev/shape-outside-inset-003
![image](https://user-images.githubusercontent.com/43403851/47418707-f28b5680-d77a-11e8-863b-a7503c30810c.png)

[2018-10-24 09:57] emilio commented on #13581
FWIW @MatsPalmgren is fixing these in https://bugzilla.mozilla.org/show_bug.cgi?id=1453298.

[2018-10-24 11:39] gsnedders opened #13702 "Consider removing reviewers who haven't reviewed in over a year"
We currently have 63 reviewers who have had a review requested of them on a PR created in the past year but who haven't reviewed anything; some of these looking quickly are people who no longer work on the web platform.

If we want to look at new ways of assigning reviews, we should probably start looking into trimming the META.yml lists.

[2018-10-24 11:54] gsnedders commented on #13699
This is css/css-shapes/shape-outside/values/shape-outside-inset-003.html, to be clear.

[2018-10-24 12:28] #5504 closed

[2018-10-24 19:37] jugglinmike opened #13710 "Users without write access listed as "suggested reviewers""
[The wpt-pr-bot](https://github.com/web-platform-tests/wpt-pr-bot) is currently reporting that some users referenced in WPT's `META.yml` file do not have write access to the repository. This means that their approval will now allow pull requests to be merged. These users should be removed from the lists.

[2018-10-24 21:40] foolip commented on #10981
@nils-ohlmeier is there an URL or API for downloading those plugins, and will they always work with the latest Firefox Nightly? (IOW, will there be times when everything fails because of a transient mismatch in ABI, or something like that?)

[2018-10-24 22:55] TalbotG opened #13713 "[css-values] calc-unit-analysis test execution"
@dbaron

It seems to me that

[calc-unit-analysis test](http://w3c-test.org/css/css-values/calc-unit-analysis.html)

[calc-unit-analysis test](http://test.csswg.org/suites/css-values-3_dev/nightly-unstable/html/calc-unit-analysis.htm)

are not providing the standard expected output, like test results. All I see is

[2018-10-25 10:20] yutakahirano commented on #13662
See https://fetch.spec.whatwg.org/#http-network-or-cache-fetch.

[2018-10-25 15:18] KyleJu commented on #7660
@foolip I think its a timeout issue. Thanks for the quick response :)

[2018-10-25 19:37] jugglinmike commented on #13710
<details>
  <summary>This Node.js script retrieves the repository's collaborators</summary>

[code]
</details>

<details>
  <summary>And this Python script retrieves all the GitHub handles listed as "suggested reviewers"</summary>

[code]

</details>

<details>
  <summary>Comparing the two results yields the following list:</summary>

- addyosmani
- alexshalamov
- aogilvie
- atanassov
- boggydigit

[2018-10-25 20:31] dholbert commented on #13662
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1502168

[2018-10-26 11:17] foolip commented on #13710
This is just a lack of tooling to keep things in sync, as we have no way of adding people to the org.

https://github.com/web-platform-tests/wpt/issues/11915 was a previous idea to fix this, but I didn't do anything since a GitHub API token would have to be available in Travis, and that's a broken model I don't want to keep spreading.

[2018-10-26 11:18] foolip commented on #13710
https://github.com/web-platform-tests/wpt/issues/13702 is also relevant.

[2018-10-26 11:29] gsnedders commented on #13702
And the following people haven't reviewed in the past year, but have had less than four reviews requested of them:

@BenjaminSchaaf @bigbluehat @chaals @ChumpChief @cptvitamin @darrnshn @farre @g-ortuno @gkellogg @joedow-42 @jtangelder @musingvirtual @robman @SummerLW @szager-chromium @theres-waldo @titzer @wolenetz

Ideally, can these people indicate as to whether they remain interested?

And fin

[2018-10-26 11:33] wafflespeanut commented on #13702
I'm sorry. When I signed up, I thought I could spend time for this, but I literally can't (at least for now). You can remove me. Thanks :)

[2018-10-26 11:34] jeisinger commented on #13702
would we lose coverage for some directories? e.g. for referrer policy, there just haven't been more changes..

[2018-10-26 11:35] foolip commented on #13710
I wrote some scripts for https://github.com/web-platform-tests/wpt/issues/11293 which should produce roughly the same lists as reported here. All who have had some activity in wpt in the past year I think we should just add to the reviewers team. The rest we should probably ping to see if they are even reachable by GitHub notifications.

[2018-10-26 11:39] tschneidereit commented on #13702
I won't be able to spend meaningful amounts of time on WPT reviews in the
foreseeable future, so it makes sense to remove me from the reviewer list.

[2018-10-26 11:49] foolip commented on #13710
I can confirm that ewilligers is in the reviewers team like everyone else, nothing unusual. Indeed the explanation must be that org membership isn't public. (This also suggests that a bot to fix this problem would need admin rights, which isn't great.)

[2018-10-26 11:55] tomalec commented on #13702
I'm sorry, I'm also not able to dedicate much time for reviewing, so it makes lot of sense to remove me from the list. Thanks.

[2018-10-26 12:42] gsnedders commented on #13702
@jeisinger right, which is why we won't want to remove all the people with few requests, but quite where we draw the line is pretty much arbitrary

[2018-10-26 14:35] domenic opened #13736 "Un-.tentative the with-options postMessage() tests"
https://github.com/web-platform-tests/wpt/tree/5a792b6bf4e0d39f2b65301b592dffffa8bd9b15/webmessaging/with-options should not have .tentative as https://github.com/whatwg/html/pull/3800 got merged.

[2018-10-26 14:54] dtapuska commented on #13736
Chromium tentative change:
https://chromium-review.googlesource.com/c/chromium/src/+/1301841

[2018-10-26 15:13] staktrace commented on #13702
Feel free to remove me as well. Thanks!

[2018-10-26 16:38] #13736 closed

[2018-10-26 16:53] fmarier commented on #13702
You can also remove me. I don't think I'll have much time for reviews in the foreseeable future.

[2018-10-26 21:40] foolip commented on #9647
[Prototype of ExecutorCDP](https://docs.google.com/document/d/1UKuPaQm2YGHYEfbrrYBHoCUGAVhyQZEp8nE09qT7vYg/edit#heading=h.9yr2s36iuyfp) is on our planning for this quarter, experiment to be done by @jugglinmike.

[2018-10-27 15:34] andrenatal commented on #13702
You can remove me too. I won't have enough time to dedicate to wpt. Thanks!

On Fri, Oct 26, 2018, 9:53 AM Francois Marier <notifications@github.com>
wrote:

[2018-10-27 18:38] chrislo commented on #13702
You can also remove me, I'm afraid I don't have the time available to review at the moment.

[2018-10-27 21:45] foolip opened #13747 "`./wpt run` can exit successfully even when "Max restarts exceeded""
This happened in https://github.com/foolip/wpt/runs/26798499. The [log](https://gist.github.com/foolip/f47d07edbac85e63fcc8010a6033951b) ends like this:
[code]

And yet the exit code was 0. It looks like this is because this failure mode caused wptrunner to not know what the total number of tests should be.

The failure point:
https://github.com/web-platform-tests/wpt/blob/f6bca7b6218f591edc1bcb87

[2018-10-28 01:56] gkellogg commented on #13702
Please remove me, I’m not involved in web platform.

Gregg Kellogg
Sent from my iPhone

[2018-10-29 09:56] qiuzhong commented on #7125
@gsnedders , PR #9806 was submitted to fix this and had been merged long ago. Can we close this issue now?

[2018-10-29 10:00] gsnedders commented on #13747
This is what prompted #13073 too. Basically a dupe.

[2018-10-29 10:50] foolip commented on #13747
Alright, treating as dupe.

[2018-10-29 10:50] #13747 closed

[2018-10-29 11:00] foolip commented on #13073
https://github.com/web-platform-tests/wpt/issues/13747 has another instance of this, and in https://github.com/foolip/wpt/pull/7/checks?check_run_id=26935477 I've done some debugging. So far I see two options, not mutually exclusive:
* Ignore what the TestRunnerManager and TestRunner claims about total number of tests, instead check if we got results for (or explicitly skipped) every test we wante

[2018-10-29 18:14] gsnedders commented on #12578
@mdittmer No, was waiting on responses from some on #7598 (need to ping them), and needs changes in Gecko to actually work everywhere.

[2018-10-29 18:37] gsnedders commented on #7125
Yeah, this works for most browsers now.

[2018-10-29 18:37] #7125 closed

[2018-10-29 18:39] gsnedders commented on #13073
Basically I think we want to turn that error into a CRITICAL error, and exit with failure if there are any CRITICAL errors.

[2018-10-29 20:24] foolip commented on #13073
Yeah, that would obviate the need to move information through multiple layers, and also would make sense.

[2018-10-29 21:09] gsnedders commented on #13713
Ah, the problem is the `run` function gets called twice (once at the end of the script, once on load).

We should probably also make it more obvious when `testharness.js` has new tests created once it believes it has already completed, rather than this behaviour!

[2018-10-30 01:59] wisniewskit commented on #8000
@annevk, I just ran into this again while doing some more work on [refactoring Firefox's XHR implementation](https://bugzilla.mozilla.org/show_bug.cgi?id=1449613).

But I don't really think this is an issue anymore. Gecko is currently passing because it does very little between receiving the notification that the XHR should timeout and actually dispatching the timeout/etc events.

By contrast my n

[2018-10-30 01:59] #8000 closed

[2018-10-30 04:06] marcoscaceres commented on #13591
Until just before I filed this bug, we had an issue in Gecko where it was not possible to start other browsers from `./mach wpt`:
https://bugzilla.mozilla.org/show_bug.cgi?id=1500001

That's fixed now, tho I've not tried it yet.

Further,  #6565 is preventing me from doing `./wpt run` still - so that's another thing that leads me to the online version.

Additionally, it's challenging to get people

[2018-10-30 04:08] marcoscaceres commented on #13591
(instructions for running on mobile devices would be awesome too - if anyone has done that. Particularly interested in running the marionette tests on mobile or on the Android SDK or iOS Simulator, so to get an accurate result set for mobile devices)

[2018-10-30 08:51] beaufortfrancois commented on #13598
https://wpt.fyi/results/picture-in-picture/idlharness.window.html?products=chrome&label=experimental does not show `WorkerGlobalScope interface: existence and properties of interface object` anymore. I think we can close this issue.

[2018-10-30 11:12] akansha2608 commented on #2391
Hi @gsnedders can you please provide some guidance about it how to go ahead with this issue?

[2018-10-30 11:16] jdm commented on #2391
The best place to start would be rebasing https://github.com/web-platform-tests/wpt/issues/3660 and addressing the review comments from it.

[2018-10-30 11:47] akansha2608 commented on #10843
Hi @foolip I would like to work on it , can you help me how to proceed with this issue?

Thanks

[2018-10-30 11:51] #13598 closed

[2018-10-30 13:54] lukebjerring opened #13785 "keypath-exceptions.htm is flaky"
e.g.
https://wpt.fyi/results/IndexedDB/keypath-exceptions.htm?product=chrome[experimental]&max-count=10&to=2018-10-30T00:00:00Z

[2018-10-30 14:48] foolip commented on #13710
<details>
<summary>Node script that gets all reviewer team members</summary>

[code]
</details>

It list 249 usernames, which is the correct number.

[2018-10-30 16:15] foolip commented on #13710
249 is now not the right number, as I've gone ahead and added all suggested reviewers to the reviewers mean, one by one manually.

There remain 5 users with invites to the org+team which means that the correspondence isn't perfect still.

[2018-10-30 16:16] foolip commented on #13710
There are also 46 people in the reviewers team who aren't listed as a suggested reviewer in any directory.

Next I'll write a script to check for activity over the past N months, to see if it makes sense to remove inactive people from the reviewers team.

[2018-10-30 16:31] foolip commented on #11915
In light of https://github.com/web-platform-tests/wpt/issues/13710 I've changed the suggestion to check the reviewers team. Given the naming, people naturally assume they should match up, and that suggested reviewers can give green checkbox reviews and merge.

[2018-10-30 17:05] foolip commented on #13675
@AutomatedTester you might be interested in this as well.

[2018-10-30 17:06] foolip commented on #12635
@gsnedders, should this be assigned to you, do you plan to work on it? I'm going to assume not, so I'll downgrade priority, leaving assigned to you just in case.

[2018-10-30 17:08] foolip commented on #12696
@jgraham, have you seen this error? I ran into the same thing, and used @gsnedders' workaround.

[2018-10-30 17:21] foolip commented on #10843
Sure, that would be great! The source is at https://github.com/web-platform-tests/wpt/blob/master/tools/runner/index.html, so you'll need to add some prominent warning there about this runner not supporting everything that `./wpt run` does. Linking to https://github.com/web-platform-tests/wpt/labels/runner as known issues would be good.

[2018-10-30 18:21] musingvirtual commented on #13702
Hello. So someone just added me to the organization and then I got 20 review requests in 3 hours.

I do have the time to review the occasional request specifically for the set of tests I'm responsible for, which is what I believed I was signing up for.

I do not have the time to review 6 requests an hour that apply to the entire project, and if that's the only option then I'm going to have to decl

[2018-10-30 18:32] mastahyeti commented on #13702
Feel free to remove me.

[2018-10-30 18:58] foolip commented on #13702
@gsnedders, can you share the script you used? Perhaps we can set that up to be run on an ongoing basis. I'll prepare a PR to remove the people who have explicitly asked to be removed in this issue.

[2018-10-30 19:11] gsnedders commented on #13702
@foolip https://gist.github.com/gsnedders/6049409ca4e35f420db2b157d39c07c4 and then just doing various things with the data it creates

[2018-10-30 19:11] foolip commented on #13702
As added context, in a [WPT survey](https://docs.google.com/document/d/1b3suZ9TAZ2Y0nn5X6_bgEoIAYG5j2v_ap473ZF1SeaU/edit?usp=sharing), getting PRs reviewed came up as a major pain point. This was discussed at [TPAC](https://github.com/web-platform-tests/wpt/wiki/TPAC-2018) and we decided we would try [Assign only one reviewer automatically at a time, in a round-robin fashion](https://github.com/we

[2018-10-30 19:14] gsnedders commented on #13702
@musingvirtual I can only see one review requested of you, looking with  `review-requested:user` `reviewed-by:user`; are you sure you aren't watching the repo and getting notifications for everything?

[2018-10-30 19:17] foolip commented on #13702
Oh, no, I wonder if that's just the default and everyone has been getting a torrent of email? Everyone, please let us know if you got subscribed to everything too. https://web-platform-tests.org/reviewing-tests/email.html has a tip for how to filter review requests.

[2018-10-30 19:21] Hexcles commented on #13702
Reviewers have write access, right?

https://blog.github.com/2012-08-06-notifications-stars/#auto-watch

I do remember un-watching the wpt repo manually.

[2018-10-30 19:22] foolip commented on #13702
Ah, so at least it's "just" reviewers, not everyone who has joined the org, and just wpt, not all other repos.

[2018-10-30 19:30] foolip commented on #13702
I've asked GitHub support this:

[2018-10-30 21:37] foolip commented on #13591
@Hexcles has run Chrome and UC on Android. Not clear if it still works, but docs here: https://web-platform-tests.org/running-tests/chrome_android.html

[2018-10-30 21:46] foolip opened #13800 "infrastructure/ tests don't work with Safari Technology Preview 68"
In https://github.com/web-platform-tests/wpt/pull/13769, STP is being pinned to 67, because STP 68 doesn't seem to work. The configuration was developed in https://github.com/foolip/wpt/pull/7, and https://dev.azure.com/foolip/wpt/_build/results?buildId=112&view=logs is a build from when STP 68 was used. The logs contain this over and over:
[code]

@burg, are you aware of any trouble with SafariDr

[2018-10-30 22:00] Hexcles commented on #13591
@jgraham do you know the status of marionette (or Gecko in general) on Android?

[2018-10-30 22:28] foolip commented on #6788
I've got `./wpt run` working on a bunch of CI systems in https://github.com/foolip/wpt/pull/5 in macOS that didn't have anything special installed, so I'm closing this. @shs96c, please reopen if you're still having trouble running wpt on a Mac.

[2018-10-30 22:28] #6788 closed

[2018-10-30 23:03] burg commented on #13800
I am not aware of any issues. Is there anything interesting in the Console.app log related to WebDriver? Are you able to launch safaridriver manually from this release?

[2018-10-30 23:46] foolip commented on #13800
@burg is there a way to enable logging for SafariDriver? I can run `/Applications/Safari\ Technology\ Preview.app/Contents/MacOS/safaridriver -p 4444` locally and `curl http://localhost:4444/status` suggests that it works, but it's not behaving the same in CI. One thing that *could* explain it is if the `--enable` bit has changed, since I've already run that locally long ago, but it's done every t

[2018-10-31 00:00] foolip opened #13803 "`./wpt run --install-fonts` doesn't reliably work in macOS CI"
@jgraham has had this problem in Gecko's CI, and it's happening in Azure Pipelines too:
https://dev.azure.com/foolip/wpt/_build/results?buildId=122&view=logs

The failure there manifested as:
▶ FAIL [expected PASS] /infrastructure/assumptions/ahem.html

This probably has something to do with when the ~/Library/Fonts/ directory is created and when it begins being monitored. Installing to /Library/F

[2018-10-31 01:08] marcoscaceres commented on #13591
@foolip thanks for the link to the docs! Sorry for not spotting that.

[2018-10-31 09:35] foolip commented on #10672
Closing this in favor of https://github.com/web-platform-tests/wpt/issues/10572.

[2018-10-31 09:35] #10672 closed

[2018-10-31 11:04] #10843 closed

[2018-10-31 11:05] foolip commented on #10843
Thanks for working on this, @akansha2608!

[2018-10-31 12:49] #5294 closed

[2018-10-31 14:01] foolip opened #13818 "Enable and monitor Azure Pipelines"
Once https://github.com/web-platform-tests/wpt/pull/13769 has landed, the next step will be to enable it in the Azure DevOps control panel: https://dev.azure.com/web-platform-tests/wpt

Once enabled, it has the potential to block PRs if anything breaks, and unlike with Travis it will not be possible for anyone with write access to this repo to restart builds. This means we need to monitor it caref

[2018-10-31 14:27] foolip commented on #13818
I've enabled it now, and as part of that there was a first run, which did almost nothing:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=1&view=logs
https://api.github.com/repos/web-platform-tests/wpt/commits/1fb4c5a78d1af72228e9371845aa1bbadbb7b3aa/statuses (events can be seen there)

[2018-10-31 15:03] foolip commented on #13686
My suggestion for a first version of this is to keep assigning reviewers as we have been, and to additionally assign one of the reviewers as the assignee. Then, document in https://web-platform-tests.org/reviewing-tests/email.html how to write mail filters for all reviews vs. just the ones you've been assigned.

[2018-10-31 17:34] foolip commented on #13818
It's run on a number of PRs now, some including the infrastructure/ tests. If it starts misbehaving, here's how to disable it:
1. Go to https://dev.azure.com/web-platform-tests/wpt
1. Click Pipelines, then "Azure Pipelines" (that's the name of the pipeline that I chose)
1. Click Edit and then Triggers
1. Under "Pull request validation", select "Override YAML Pull Request trigger from here" and the

[2018-10-31 17:40] lukebjerring commented on #7475
This is now a wpt.fyi Project (https://github.com/web-platform-tests/wpt.fyi/projects/6)

[2018-10-31 17:52] foolip commented on #13702
GitHub support replies:

So no setting on the side of the inviter :/

[2018-10-31 19:03] wolenetz commented on #13702
Please keep me as a reviewer, for wpt in /media-source but not other portions of this repo.

[2018-10-31 22:03] foolip commented on #13818
<details>
<summary>Node script to list Azure Pipelines status of all PRs opened since it was enabled</summary>

[code]
</details>

It currently only lists success and "no status", for PRs that have had comments but no new commits. Nothing has failed or gotten stuck yet.

https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1 lists the builds in the Azure Pipelines UI, but I didn't want

[2018-11-01 00:08] burg commented on #13800
You can set `defaults write com.apple.WebDriver ProtocolTracingEnabled -bool YES` to get protocol spew sent to a log file and to Console.app. However, anything interesting is probably already being logged to Console (i.e., sandbox problem, sudden termination, crashing).

[2018-11-01 00:11] foolip commented on #13800
@burg what log file will it get written to?

[2018-11-01 00:15] burg commented on #13800
"""
Opt-in to generating diagnostic logs by running the following in Terminal.app:

    defaults write com.apple.WebDriver ProtocolTracingEnabled 1

After setting this, safaridriver will create diagnostic logs in ~/Library/Logs/com.apple.WebDriver/. These logs contain all the HTTP traffic between safaridriver and your test so that we can see the exact WebDriver commands that failed. If you have ex

[2018-11-01 00:51] TalbotG opened #13834 "vh-support-margin test incorrect"
@FremyCompany

[vh-support-margin.html](http://w3c-test.org/css/css-values/vh-support-margin.html)

[vh-support-margin.html](http://test.csswg.org/suites/css-values-3_dev/nightly-unstable/html/vh-support-margin.htm)

I propose to
a) add html, body {height: 100%;}
or
b) add #target {height: 100vh;}
to your test.

[2018-11-01 07:49] qiuzhong commented on #12452
If nobody takes this task, I'm interested in working on this. The following handles in `tools/serve/server.py` needs unit tests for testing coverage.
* HtmlWrapperHandler
* WorkersHandler
* WindowHandler
* AnyHtmlHandler
* SharedWorkersHandler
* ServiceWorkersHandler
* AnyWorkerHandler

[2018-11-01 14:15] gsnedders commented on #12452
@qiuzhong You're more than welcome to; I don't think any of us are going to get around to this soon!

[2018-11-01 14:21] #13186 closed

[2018-11-01 16:15] kaylangan commented on #13818
Hey @foolip! I'm a Program Manager for Azure Pipelines. It looks like you've been able to get up and running in other PRs. If you have any questions or suggestions, please don't hesitate to reach out!

[2018-11-01 16:55] foolip commented on #13818
Thanks @kaylangan! I have an email thread with @thejohnjansen about some issues I've seen, but I'll paste it here verbatim for all to see:
[code]

[2018-11-01 16:59] frivoal commented on #13581
This is handled by PR #13721

[2018-11-01 16:59] #13581 closed

[2018-11-01 17:13] foolip opened #13853 "Manifest download in `./wpt run` sometimes fails to find a generated manifest"
From https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=25&view=logs, a run for https://github.com/web-platform-tests/wpt/pull/13832:
[code]

This seems to be a bug of some sort. In download.py we list 50 commits and look in https://api.github.com/repos/web-platform-tests/wpt/releases for a match. A match should have been found.

@jgraham, any clues for what might be the root caus

[2018-11-01 21:07] foolip commented on #13818
Good news! With the help of @DavidStaheli I was able to change the authentication method of the Azure Pipelines project so that the [Checks API](https://developer.github.com/v3/checks/) integration is used instead. That means we get the "Checks" tab nicely populated: https://github.com/web-platform-tests/wpt/pull/13856/checks

(And it'll get even nicer: https://github.com/foolip/wpt/pull/11/checks

[2018-11-01 23:04] foolip commented on #13818
So, given that output, I'm wondering if I should try moving these tests from Travis to Azure Pipelines for Linux. @jgraham our plan was to move stuff to Taskcluster, but maybe we can leverage Azure Pipelines for the bits it seems especially good for?

[2018-11-02 09:44] foolip commented on #13194
@jugglinmike does the script for this exist yet? I'm sort of eager to turn off ci_stability.py in Travis :)

[2018-11-02 09:49] foolip commented on #8154
We currently run flake8 as part of tox, together with pytest. I have found this a bit hard to understand. @jgraham, what would you think of having a dedicated test job for flake8, invoking it once?

[2018-11-02 10:43] foolip commented on #8154
I've sent https://github.com/web-platform-tests/wpt/pull/13865 to do that.

[2018-11-02 15:34] cvazac opened #13874 "Remove setTimeout when RT entries are sync delivered to the timeline"
Fix/remove TODO here:
https://github.com/web-platform-tests/wpt/blob/master/common/performance-timeline-utils.js#L48

cc @gsnedders

[2018-11-02 16:43] jgraham opened #13876 "Move wptrunner testharness implementation into a single browsing context"
We have some tests like /html/browsers/the-windowproxy-exotic-object/windowproxy-prototype-setting-goes-cross-origin-domain.sub.html that alter the browser window in such a way that `window.opener` appears to be cross-origin. These tests end up throwing a security error. To fix this we probably need to put all the harness code in a single browsing context, mostly using `testharnessreport.js` to en

[2018-11-02 16:53] foolip commented on #13818
Oh no, first sign of infra trouble!

In https://github.com/web-platform-tests/wpt/pull/13875/checks?check_run_id=28469086 there was this failure:
[code]

I presume it will go away if I retry. This was my own PR so no big problem.

@kaylangan @thejohnjansen could you look into why this might be happening? Is there an automatic retry mechanism we can use? Taskcluster retries each task (=job in Azure

[2018-11-02 17:11] foolip commented on #13342
Plan A is to use Azure Pipelines. Basic tests can be run on Windows Server, but Windows 10 would be needed to test that Edge works.

[2018-11-02 18:53] foolip commented on #13818
Oh, that's two. If it was just the GitHub outage, wouldn't Travis and Taskcluster also fail?

If it keeps happening, then everyone feel free to disable per the steps above.

[2018-11-02 22:28] jugglinmike opened #13882 "[webdriver] "Execute Script" test is flaky in Firefox"
While validating [a set of new tests](https://github.com/web-platform-tests/wpt/pull/13880), [TravisCI reported that `test_abort_by_user_prompt_twice[confirm]` is flaky in Firefox](https://travis-ci.org/web-platform-tests/wpt/jobs/450032894):

    ERROR:/home/travis/build/web-platform-tests/wpt/tools/ci:## Unstable results ##
    ERROR:/home/travis/build/web-platform-tests/wpt/tools/ci:|

[2018-11-03 00:01] foolip commented on #13818
After switching from statuses to checks (https://github.com/web-platform-tests/wpt/issues/13818#issuecomment-435187608) the script in https://github.com/web-platform-tests/wpt/issues/13818#issuecomment-434863817 no longer works.

<details>
<summary>Updated script that checks (ha) for checks instead</summary>

[code]
</details>

Right now it lists only #13875 as failing, which seems right.

[2018-11-03 00:18] foolip commented on #12699
In https://dev.azure.com/foolip/wpt/_build/results?buildId=150&view=logs I had them all passing in Firefox Nightly without doing anything in particular. @gsnedders, does it still fail for you?

[2018-11-03 03:44] #9048 closed

[2018-11-03 07:54] foolip commented on #13818
OK, another problem. On some PRs Azure Pipelines wasn't triggered at all. https://github.com/web-platform-tests/wpt/pull/13884 and https://github.com/web-platform-tests/wpt/pull/13886 are examples.

[2018-11-03 11:15] alvestrand opened #13890 "Documentation: Need advice on MUST vs SHOULD vs MAY"
It seems from https://web-platform-tests.org/writing-tests/file-names.html that we've reached a common practice of treating MUST and SHOULD requirements as "we write WPT tests expecting those to pass - those who find that they have to violate a SHOULD requirement will just have to live with being listed as failing".

Also that MAY requirements should be tested in tests with the ".optional" metadat

[2018-11-05 04:06] marcoscaceres opened #13913 "w3c-test.org not updating"
I've tried to check the mirror service a few times, but it doesn't seem to be updating:

http://w3c-test.org/submissions/

For instance, I just submitted 13912, but it ain't showing up.

[2018-11-05 04:15] FremyCompany commented on #13834
I agree.
Option "a" seems the best since it doesn't involve using vh units (and prevents two failures to lead to a right)

[2018-11-05 15:51] gsnedders commented on #13342
And to be clear, for those not following along with what I say in multiple different places: I don't view testing Edge so high priority, because the majority of Windows-specific bugs we've historically had have been in the lower level code than the browser-specific code.

[2018-11-05 15:53] gsnedders commented on #12699
I think it might be a HiDPI or hardware acceleration issue?

[2018-11-05 16:56] TalbotG commented on #13834
François,
Unfortunately, I am not be able to create+submit a pull request or approve one because I do not know how to do this. But I presume that @frivoal can help you with that.

[2018-11-05 18:52] foolip commented on #13890
@zcorpan FYI, I think this is one issue we'll want to include in the docs overhaul.

[2018-11-05 19:34] FremyCompany commented on #13834
You fork the repo, clone it locally, make the change, push to your fork, then return to GitHub that will propose you to create a pull request for the change you just pushed. Just did it, but anyone should be able to do that.

[2018-11-05 23:56] foolip opened #13936 "Research: `./wpt test-jobs` and `./wpt affected-tests` stats"
Travis does not support making decisions in one job that affects another. Instead we start 10 jobs ([example](https://travis-ci.org/web-platform-tests/wpt/builds/451115990)) and exit early in each if there's nothing to do. Both Azure Pipelines and Taskcluster supports making decisions, with build-wide variables and decision tasks respectively.

This issue is about how to set up such dependent jobs

[2018-11-06 00:05] foolip opened #13937 "`./wpt affected-tests` can list tests when `./wpt test-jobs` doesn't list stability"
An oddity discovered in https://github.com/web-platform-tests/wpt/issues/13936 which by the looks of it isn't accidental, but still probably worth addressing.

Among the PRs I looked at, these didn't trigger `stability` but did have affected tests.

#13611 and #13877 (its revert) both modified idlharness.js, but all of resources/ is excluded:
https://github.com/web-platform-tests/wpt/blob/3422a5df

[2018-11-06 01:15] #13834 closed

[2018-11-06 09:07] foolip commented on #13913
@sideshowbarker FYI

But try web-platform-tests.live. It's not yet ready to depend on, but probably works better than w3c-test.org on average.

[2018-11-06 09:57] sideshowbarker commented on #13913
I’ll take a look and see if there’s any chance to get it working again. But the fact is it’s been completely broken for quite a long time now, as far as I know.

[2018-11-06 09:57] sideshowbarker commented on #13913
There’s no http://w3c-test.org/submissions/ equivalent on web-platform-tests.live, and no immediate plans for an equivalent.

[2018-11-06 10:15] marcoscaceres commented on #13913
Ok, maybe we should remove mention of it from the README?

[2018-11-06 10:51] sideshowbarker commented on #13913
Actually I think I managed to fix it. It should be working as expected now — both in that it should once again automatically create new directories in http://w3c-test.org/submissions/ for every new PR, and also on-demand if you do a `w3c-test:mirror` comment to any existing PR

[2018-11-06 10:52] marcoscaceres commented on #13913
Awesome, thank you!

[2018-11-06 10:52] #13913 closed

[2018-11-06 17:07] foolip commented on #13818
I've fixed the "PRs from forks" problem and documented how in https://github.com/web-platform-tests/wpt/pull/13952.

[2018-11-06 17:22] gsnedders commented on #13937
I can't find where this comes from originally (it predates the `wpt` tool IIRC), but it was because `testharness.js` caused every single testharness.js to be rerun. You can imagine that didn't work well…

[2018-11-06 18:16] Hexcles commented on #12632
@KyleJu can you take a look at this?

[2018-11-07 01:10] jugglinmike commented on #13194
The script is available in a standalone project which includes some documentation on installation and running:

https://github.com/bocoup/wpt-validate-taskcluster

The initial results were a little shaky, so [I reported them to the Taskcluster maintainers](https://bugzilla.mozilla.org/show_bug.cgi?id=1499576). They got back to me yesterday. The biggest takeaway is that that many of those "shaky" r

[2018-11-07 02:11] #9438 closed

[2018-11-07 07:50] qiuzhong opened #13963 "Local files opened not closed while testing handlers"
While testing the functions of handlers, `document.txt` is used for reading and comparison:

https://github.com/web-platform-tests/wpt/blob/e0e8196c242c8fb1d2a62c13f23455a9d03bd4bb/tools/wptserve/tests/functional/test_handlers.py#L19

https://github.com/web-platform-tests/wpt/blob/e0e8196c242c8fb1d2a62c13f23455a9d03bd4bb/tools/wptserve/tests/functional/test_handlers.py#L37

https://github.com/web-

[2018-11-07 09:47] foolip commented on #13818
<details>
<summary>Updated script that only includes problematic "no check" cases</summary>

[code]
</details>

Overall, things seem to be working just fine.

[2018-11-07 11:39] gsnedders commented on #12632
I think this is pytest's underlying behaviour, having noticed it again later. We probably need to do something to avoid the duplicate test name.

[2018-11-07 12:03] gsnedders commented on #13963
Given CPython closes a file when the refcount goes to 0, this is a pretty minor issue, though it would be nice to fix.

[2018-11-07 15:51] foolip commented on #13818
In https://github.com/web-platform-tests/wpt/runs/29626821 the /infrastructure/assumptions/ahem.html failed on macOS Chrome Dev, but not Firefox Nightly or Safari Technology Preview. That suggests there might still be a problem with font installation on macOS :/

[2018-11-07 18:31] gsnedders commented on #13686
I think there's a few somewhat awkward issues here:

* Deciding when to reassign,
* How to deal with people being unavailable (either OOO short-term on vacation or longer parental leave etc.), and
* What to do with people who repeatedly don't review (which is somewhat linked to the previous item, given there may be good reasons for them not to!).

[2018-11-07 20:06] foolip commented on #13686
As a first cut, never. The person who sent the review will have to make noise until someone takes notice.

Low tech solution is to remove from META.yml when leaving and add back when coming back. Any in-tree solution would cause the same amount of churn, so only other option is to maintain this state somewhere else, like maybe in a wiki page.

Remove from `suggested_reviewers`.

[2018-11-08 01:55] jugglinmike commented on #13882
The behavior under test is currently being discussed:

https://github.com/w3c/webdriver/issues/1153

Improvements to this test should probably wait until consensus is reached

[2018-11-08 15:47] henbos opened #13982 "Add test that make sure local and remote track IDs don't match"
As per https://github.com/w3c/webrtc-pc/pull/2029 we must no longer have local and remote track IDs matching.

[2018-11-08 18:30] lukebjerring commented on #13686
FYI, https://github.com/web-platform-tests/wpt-pr-bot/pull/51 is an open PR to match @foolip's proposed change (use the assignee field). It won't be merged if there's any objections to the proposal.

[2018-11-08 21:27] foolip opened #13989 "Taskcluster Chrome runs for commit 71fe0a6c3d (epochs/daily) failed"
Commit 71fe0a6c3d286faafc6c5c9849d7f28d2f14ee20 was the previous epochs/daily commit, and Taskcluster did run for it:
https://tools.taskcluster.net/groups/FJTQgT1GQ1qVCsAwYXVKzg

However, it failed, so no Taskcluster results are available in wpt.fyi:
https://wpt.fyi/test-runs?sha=71fe0a6c3d

The Chrome Dev runs (found [via API](https://api.github.com/repos/web-platform-tests/wpt/commits/71fe0a6c3d

[2018-11-09 10:17] foolip opened #14003 "css/selectors/attribute-selectors/attribute-case/syntax.html test has inconsistent names of subtests"
https://wpt.fyi/results/css/selectors/attribute-selectors/attribute-case/syntax.html?sha=71fe0a6c3d

In Edge, in addition to the failures, the subtests names are different, some are missing and there's an extra "[foo='bar' i" test at the end which I cannot find in the source.

This seems likely to be a test bug.

@jugglinmike is this a sort of anomaly that shows up in any report we have?

[2018-11-09 10:34] jgraham commented on #13989
This is the same as https://github.com/web-platform-tests/results-collection/issues/625

Looking at the logs it seems like we are seeing Chrome crash on startup (historically that's where I've seen the BadStatusLine error) and then we aren't handling it properly. But there are also some worrying errors earlier in the log that look like maybe the stash is failing or something. It's not impossible t

[2018-11-09 11:53] jgraham commented on #13989
https://taskcluster-artifacts.net/OFUJ8juCTeW4ZJ8xksovXw/0/public/logs/live_backing.log is a Firefox failure, which suspiciously comes in the same CSP tests. It looks a lot like the server died in that case. Which could be a bug in the server or, again, could be OOM or similar.

[2018-11-12 05:31] frivoal commented on #13505
@r12a: see previous comment. I'd prefer updating the message as suggested above. Is that OK from the point of view of the i18n group, and of keeping things in sync?

[2018-11-12 09:47] foolip commented on #13818
I've run the script in https://github.com/web-platform-tests/wpt/issues/13818#issuecomment-436566009 again, no new failures.

[2018-11-12 10:38] #10588 closed

[2018-11-12 10:38] annevk commented on #10588
(This issue was supposed to be closed from 315b16be16977448d33165f0dc538f00dac0ecd5 but that did not work, at least not as quick as I wanted.)

[2018-11-12 12:37] gsnedders commented on #13937
Arguably, once we move stability on to something with more capacity, we *should* run everything using testharness.js for every change of it.

[2018-11-12 13:48] jgraham commented on #13937
That seems a bit academic at the moment; not only would we need more capacity we'd need some good way to figure out how many chunks to run to get the results in a reasonable amount of time (and certainly less than the timeout of the runner). Irrespective of capacity, we haven't got any good solution for that at the moment, and getting one is some way off.

[2018-11-12 14:55] gsnedders commented on #13937
@jgraham Definitely. That said, at least doing one run so regressions could be surfaced would be useful.

[2018-11-12 14:57] gsnedders commented on #13937
(Though I guess that's basically just #13263.)

[2018-11-12 20:54] foolip commented on #13853
I had this happen locally now, and added logging until I figured out that we're using the 50 most recent commits from HEAD, and looking for a match in https://api.github.com/repos/web-platform-tests/wpt/releases, so in my case the problem was my checkout isn't up to date.

What could fix this case is to instead use https://api.github.com/repos/web-platform-tests/wpt/releases/tags/merge_pr_13957 an

[2018-11-12 21:01] jugglinmike commented on #13989
This appears to be a race condition in wptserver's "Stash" feature. [I've filed a pull request to fix the bug](https://github.com/web-platform-tests/wpt/pull/14024) and included mode detail there.

[2018-11-13 05:12] qiuzhong commented on #11120
I'm interested in working on this issue.

@foolip, I didn't find any strings like `{timeout: 1234}` in the html tests above. How did you get this list?

[2018-11-13 09:19] foolip commented on #13989
Results for commit fc1a5b73230225faf32bfb85f3928ce154211b0a are also missing. It was triggered 3 times:
* master: https://tools.taskcluster.net/groups/Z3yVp6OJS8-7MnNkBtg7qg
* epochs/daily: https://tools.taskcluster.net/groups/dQZqm60lTvagxmKggDsRJw
* epochs/weekly: https://tools.taskcluster.net/groups/NbgtLtGzSK6koii6xOfZOQ

[2018-11-13 09:31] foolip commented on #12934
@gsnedders, is this a necessary part of https://github.com/web-platform-tests/wpt/issues/13342, or why priority:roadmap?

[2018-11-13 09:31] foolip commented on #12935
I think this is blocking https://github.com/web-platform-tests/wpt/issues/13342.

[2018-11-13 09:31] foolip commented on #12949
I think this is blocking https://github.com/web-platform-tests/wpt/issues/13342.

[2018-11-13 09:32] foolip commented on #7598
@gsnedders, do you have an update on this? When do we change the viewport size?

[2018-11-13 09:40] foolip commented on #11120
@qiuzhong, that's great! Try `git grep -P "timeout:\s*\d+"` in the root of the repository, that matches 223 files, most of which look like this: `async_test("getCurrentPosition success callback tests", {timeout:20000})`. The first step is to update those tests to look like this instead: `async_test("getCurrentPosition success callback tests")`.

[2018-11-13 09:43] foolip commented on #11120
It would be a good idea to split those changes into multiple PRs since otherwise a lot of reviewers will get pulled in. Maybe one PR for each of html, IndexedDB, websockets, mediacapture-streams and cookies, and then one for everything else?

Once we think all uses are gone, I'll run a change similar to https://chromium-review.googlesource.com/1070155 through Chromium's CQ to see if anything was m

[2018-11-13 13:16] foolip commented on #10572
A novel type of failure in https://travis-ci.org/web-platform-tests/wpt/jobs/454430391, where the deploy step failed with "No output has been received in the last 10m0s".

I wonder if anyone is actually using Travis to deploy stuff at any significant scale :/

As @Hexcles says, this seems like a thing we should eventually migrate to the new Actions.

[2018-11-13 13:17] foolip commented on #10572
I clicked some buttons as soon as Actions was announced, and the enrollment page now says "This account is already on the waitlist for the GitHub Actions Beta!"

[2018-11-13 15:50] Hexcles commented on #10572
@foolip that's new for this particular task, but not really novel for Travis in general. Travis often has large-scale task timeouts like this, which seems like transient infra issues. In fact, a bunch of stability checks failed yesterday for the same reason.

[2018-11-13 16:34] gsnedders commented on #12949
My plan was to enable Windows CI with lots of stuff marked as xfail. which after #12951 it should be okay.

[2018-11-13 18:36] gsnedders commented on #12934
It's technically not necessary, *but* if we actually want decent test coverage (versus skipping large amounts) it is needed.

[2018-11-13 18:39] jgraham commented on #12934
We could also port the caches from #12553 to the case where we use git hashes. In particular the mtime cache still makes sense in that case and will likely be faster than starting the git binary on windows. But that would need to be tested empircally of course.

[2018-11-13 19:17] andreas-butler opened #14041 "allow_uncaught_exception flag does not work as expected for worker.html promise_test in Chrome"
In Chrome 72 it appears that the allow_uncaught_exception flag does not behave as expected during promise_test execution for worker.html tests, but rather still allows the testharness to error as a result of an uncaught exception.

To test this, copy the following small test case into a .any.js file and and run it as a worker.html test:

[code]

The output result on chrome 72 should be similar to

[2018-11-14 01:14] jugglinmike commented on #13194
There are a few unknowns that make me reluctant to answer:

- Will Taskcluster's reliability improve? When and by how much?
- What is TravisCI's reliability?

I was content to wait for an answer to the former, but we can answer the latter ourselves, and [that may be all we need to know](https://www.youtube.com/watch?v=WmuJ0us63GQ&t=23).

...which made me realize my report above made a faulty assum

[2018-11-14 02:09] qiuzhong commented on #11120
@foolip, thanks for your good advice. It's really a good idea to split this update into several PRs.

I tried the `git grep -P "timeout:\s*\d+"` command and the output list differ from the one you provided above.  Anyway, I'll update these test cases in serveral PRs. Now I'll list the submodules of these tests:
- [ ] IndexedDB
- [ ] cookies
- [ ] cors
- [ ] css
- [ ] custom-elements
- [ ] encrypte

[2018-11-14 03:40] jugglinmike commented on #14041
Thanks for the report! Here's a further reduced test case that ought to demonstrate the problem in most browsers:

[code]

The issue is that the uncaught exception is triggering the worker's `onerror` handler, which [testharness.js (as running in the parent context) reports as a harness error](https://github.com/web-platform-tests/wpt/blob/53ef64dc2983dce0efe37016cdaee3b3ad279305/resources/testhar

[2018-11-14 10:05] foolip commented on #13005
If it wasn't clear from this issue and linked issues, we currently don't use headless, `--no-headless` is passed in tools/ci/taskcluster-run.py and in the [Buildbot setup](https://github.com/web-platform-tests/results-collection/blob/c9bcecc592404f5cb0a6dd31163e9e9e6d0ec7c4/src/master/wpt_run_step.py#L102).

But it sounds like if we want to test using headless, we have command line arguments that

[2018-11-14 10:34] whimboo commented on #13005
Oh ok. Then some other environmental settings might cause those problems. Sorry for bothering you on this issue then, and thanks for clarifying!

[2018-11-14 13:37] foolip commented on #11120
@qiuzhong when you create the PRs, can you link to this issue so that's it easy to find them all? Thanks!

[2018-11-14 19:50] jugglinmike commented on #13194
Taskcluster missed 3 commits over the past seven days:

pull request URL | pull request author | commit | TravisCI: Chrome | Taskcluster: Chrome | TravisCI: Firefox | Taskcluster: Firefox
-----------------|---------------------|--------|------------------|---------------------|-------------------|---------------------
[gh-14004](http://github.com/web-platform-tests/wpt/pull/14004) | qiuzhong | f4b

[2018-11-14 23:19] KyleJu opened #14064 "Travis does not produce output"
https://travis-ci.org/web-platform-tests/wpt/jobs/455082483

Travis doesn't produce any output from the tests in the CL above. As a result, it blocks the export PRs queue. I suspect the process is hanging when running these tests from Travis.

If running it locally, it does show results and the process does not hang at all. Sample output looks like

requests 2.19.1 has requirement urllib3<1.24,>=1

[2018-11-15 08:56] foolip commented on #7281
After https://github.com/web-platform-tests/wpt/pull/13419 it's probably possible to use `test_driver.bless` to automate some fullscreen tests, at least the ones that don't involve iframes.

[2018-11-15 09:31] #14041 closed

[2018-11-15 17:44] hsivonen opened #14082 "unsupported-encodings.any.js expects XHR text response to default to windows-1252"
Fails in Gecko:
https://wpt.fyi/results/encoding/unsupported-encodings.any.worker.html?label=experimental
https://wpt.fyi/results/encoding/unsupported-encodings.any.html?label=experimental

The test uses XHR:
https://github.com/web-platform-tests/wpt/blob/master/encoding/unsupported-encodings.any.js

XHR spec says the default is UTF-8:
https://xhr.spec.whatwg.org/#text-response

Test wrongly expec

[2018-11-15 17:44] hsivonen commented on #14082
CC @annevk, @inexorabletash

[2018-11-15 19:10] jugglinmike opened #14083 "[service-workers] performance-timeline.https.html is flaky in Firefox"
[The test `service-workers/service-worker/performance-timeline.https.html`](https://github.com/web-platform-tests/wpt/blob/a218e2f1678badf75722fd444524d98cd5996b3f/service-workers/service-worker/performance-timeline.https.html) produces inconsistent results in Firefox. This can be observed locally via the following command:

    ./wpt run --no-manifest --verify --log-mach - firefox service-workers

[2018-11-15 19:42] jugglinmike commented on #14083
The test makes assertions in a couple files, but the flaky one is the simplest since [it involves only `Promise` and `setTimeout`](https://github.com/web-platform-tests/wpt/blob/a218e2f1678badf75722fd444524d98cd5996b3f/service-workers/service-worker/resources/performance-timeline-worker.js#L3-L30):

[code]

[2018-11-15 19:53] inexorabletash commented on #14082
Yeah, even the passing "${label} with no BOM should decode as windows-1252" cases are probably actually decoding as UTF-8 in Gecko, and the data (effectively ASCII) doesn't distinguish.

I have a resource loader decoding fix for blink for the other incorrect default issue poked at recently, but it doesn't handle the XHR case - different code paths. I'd be happy with a WPT fix here and a crbug.

[2018-11-16 05:15] sideshowbarker commented on #14064
This seems like a duplicate of #7660. See also #14033. And #13984 (the PR affected by the Travis failures) has since been merged to master, so I’m gonna go ahead and close this issue.

[2018-11-16 05:15] #14064 closed

[2018-11-16 08:06] qiuzhong commented on #11120
@foolip,  There're promise_tests used in `cookies` tests and they have the `{timeout: 1234}` parameter as well. Should I remove them all?

https://github.com/web-platform-tests/wpt/blob/706ee77bda06b58f4e317bc317bc0e7c25d34f12/cookies/http-state/attribute-tests.html#L21

https://github.com/web-platform-tests/wpt/blob/706ee77bda06b58f4e317bc317bc0e7c25d34f12/cookies/http-state/attribute-tests.html#

[2018-11-16 09:09] foolip commented on #11120
@FHorschig wrote that test. Given the use of an explicit timeout, I suspect that if we remove the test-level timeouts, then if any test doesn't finish, then the whole test would fail when wptrunner stops waiting for it. (This is different from testharness.js internally reaching a timeout and telling wptrunner.)

Can you start by checking what the effect on the test is of removing both of the lines

[2018-11-16 12:54] foolip commented on #13194
@jugglinmike other than the 3% failure rate, which I think we can tolerate if it's being improved, is there anything else that would favor continuing with Travis instead of making the Taskcluster stability runs blocking?

[2018-11-16 13:44] lukebjerring commented on #13989
What's the status of this issue? It's labelled urgent.

[2018-11-16 13:46] lukebjerring commented on #12907
I believe the pr-bot work's been done - @mdittmer, status update?

[2018-11-16 16:54] foolip commented on #13818
From https://github.com/web-platform-tests/wpt/pull/14096 I learned that to be blocking, we also need to make the Azure Pipelines check required in the GitHub settings. I won't do that right away, but should be done before this issue is closed.

[2018-11-16 16:57] foolip commented on #13818
I've run the script again. https://github.com/web-platform-tests/wpt/pull/14074 is the single new failure, but appears to be correct, the failures are in the modified code and unittests are also failing on Travis. Overall, things seems to be working pretty well.

[2018-11-16 17:06] foolip commented on #7660
Finally, after tons of affected PRs and much frustration, stability checks on Travis are no longer blocking, see https://github.com/web-platform-tests/wpt/pull/14096. Thanks @jgraham and @jugglinmike for working on the Taskcluster setup!

[2018-11-16 17:09] foolip commented on #13194
With https://github.com/web-platform-tests/wpt/issues/7660 closed, as part of this task should also include finally removing the stability jobs from Travis entirely, which should free up some capacity.

[2018-11-16 17:33] emilio commented on #12580
This is fixed there.

[2018-11-16 17:33] #12580 closed

[2018-11-16 17:45] foolip commented on #13989
It's presumably still happening and causing missing results. @Hexcles I'll assigned to you since you have the end-to-end knowledge of how Taskcluster runs end up on wpt.fyi and can verify when it works. @jgraham will you be able to help investigate?

[2018-11-16 18:41] jugglinmike commented on #13194
3% only describes the performance over the past seven days. We have no reason to expect any improvements yet, so a more accurate picture should include the previously-reported data. That indicates a 6% failure rate.

I'm not convinced that silently allowing 6% of commits to go unverified is acceptable. The acceptance of gh-14096 shows a difference of opinion. I was hoping to get some clarity aroun

[2018-11-16 18:54] jgraham commented on #13194
I think we can find out what happens if a required status check is missing; if that blocks landing then we don't get 5±2% of PRs landing whilst missing status checks, but need action in those cases. I think that's comparable to the rate of PRs that need admin access due to travis having errors that TaskCluster won't have (and in almost all cases the admin action for travis problems has been "merge

[2018-11-16 21:43] foolip commented on #13194
In my view, https://github.com/web-platform-tests/wpt/issues/7660 has been a low-level emergency since I filed it over a year ago. I've had to work around it and apologize about it in blocked PRs over and over and over again. It has occasionally detected flaky tests, which I haven't counted and made a long list of, but certainly my experience has been more occurrences of trouble than catching of r

[2018-11-16 21:50] foolip commented on #13194
I think the difference here is how valuable we're guessing the stability checks have been. I have felt them to be a net negative for the past year but knew I couldn't get away with just disabling them. Assuming that flakiness is detected one something like maybe 0.1% or 1% of PRs, if we did miss 6% of those it wouldn't end up causing much trouble in practice, 94% of the trouble already averted!

T

[2018-11-16 22:29] jugglinmike commented on #13194
I agree that if the Checks API requires a response, then the behavior we're seeing from Taskcluster is far more acceptable. And I recognize that I have *not* had to help folks understand irrelevant TravisCI failures, so I probably underestimate the value of disabling those jobs.

[2018-11-17 08:14] #14082 closed

[2018-11-18 21:30] foolip commented on #13803
It happened in https://dev.azure.com/foolip/wpt/_build/results?buildId=220&view=logs too, where I was making unrelated changes. "Run infrastructure/ tests (Chrome Dev)" failed on /infrastructure/assumptions/ahem.html.

[2018-11-19 05:50] qiuzhong opened #14118 "geolocation-API/getCurrentPosition_IDL.https.html async_test failed after removing the timeout"
In #11120, `timeout` is suggested to remove from `async_test`.

As part of this goal, PR #14094 was filed. However, a geolocation-realated [test](https://github.com/web-platform-tests/wpt/blob/master/geolocation-API/getCurrentPosition_IDL.https.html) failed after `timeout` was removed. To make that PR pass in CI, this test was reverted. This issue is filed specially for this test.

[2018-11-19 08:45] annevk commented on #12580
Thanks @emilio, sorry for missing your question!

[2018-11-20 14:53] christian-bromann commented on #13194
@foolip I've seen that we once did those stability tests using Sauce Labs. Is there any value to bring this back now? I can provide the necessary account capabilities so we have enough concurrency to efficiently run these tests.

[2018-11-20 15:18] foolip commented on #13194
@christian-bromann unfortunately we had to remove that when JWT was deprecated, see https://github.com/web-platform-tests/wpt/issues/9903. The trouble we'd face if trying to add it back is that we can't put any secrets in our CI setup, because they can be extracted with anyone with write access to the repo. Or, to put it differently, however we authenticate we have to be OK with that being availab

[2018-11-20 15:23] jgraham commented on #13194
Also, managing our own infrastructure has generally worked better and been more flexible; our needs are not always straightforward and it's useful to be able to run arbitary code rather than just having WebDriver access. With a combination of TaskCluster and Azure we covered all our requirements except Edge. If we could make Edge work on Sauce without the problems @foolip mentioned, that would be

[2018-11-20 17:13] gsnedders commented on #14003
I don't really understand how this could be a test bug? It's a pretty simple sequence of sync tests…

[2018-11-20 23:05] domenic opened #14158 "Need a way to click without any JS code on the stack"
In writing the tests in https://github.com/web-platform-tests/wpt/pull/14157, I need to trigger clicks. However, I need to trigger them specifically like a user does, _with no JavaScript code on the stack_.

I'm unclear from the documentation whether that's possible. I can't figure out how to run my Chrome install in "testdriver mode" to figure it out myself. And, @gsnedders indicated in https://g

[2018-11-21 00:01] TalbotG opened #14160 "lh-rlh-on-root-001.html : 3 corrections to make"
@frivoal

The 3 corrections to make are emboldened.

line 48 is:
 assert_approx_equals( f_s, initial_f_s, 1, "the lh unit on the root element's font-size property uses font metrics corresponding to the initial values of the font or line-height properties");

line 48 should be instead:
 assert_approx_equals( f_s, initial_**l_h**, 1, "the lh unit on the root element's font-size property uses font me

[2018-11-21 09:15] foolip opened #14165 "Taskcluster status checks not finishing and blocking PRs"
In https://github.com/web-platform-tests/wpt/pull/14088#issuecomment-440577561 @qiuzhong reported that Taskcluster isn't finishing and that they have seen this often recently. I made Taskcluster required just after I merged https://github.com/web-platform-tests/wpt/pull/14096, so that's why this has been happening only recently.

In https://github.com/web-platform-tests/wpt/issues/13194#issuecomme

[2018-11-21 09:16] foolip commented on #14165
@jugglinmike have you heard back from the Taskcluster folks about this problem? Do you have up-to-date stats about how many PRs are affected?

[2018-11-21 09:17] foolip commented on #13194
I've filed https://github.com/web-platform-tests/wpt/issues/14165, turns out missing required checks are blocking, and Taskcluster isn't reliably starting.

[2018-11-21 09:17] foolip commented on #14165
The status will be "Expected — Waiting for status to be reported" when this occurs.

[2018-11-21 11:18] foolip commented on #14165
After consulting with @jgraham on IRC I've made the check not required while this is being resolved, and will assign to James.

[2018-11-21 12:48] gsnedders commented on #14158
@foolip @Hexcles do you know if there's any way to do this currently in Blink, or would this potentially be adding something to testdriver.js that can't be immediately implemented in Blink's runner?

[2018-11-21 12:56] foolip commented on #14158
With `test_driver.click()` backed by WebDriver there would already be no JS code on the stack. Maybe we can just add a test in infrastructure/ verifying that it is so, and eventually finding a way to support it in Blink too? It would become possible if @LukeZielinski's investigations into `./wpt run` in Chromium pan out, or if we control content_shell using WebDriver/CDP in some other manner.

[2018-11-21 15:55] Hexcles commented on #14158
IIUC, `test_driver.click()` doesn't create a new stack frame because the function simply posts a message and then return; the parent window receives the message and asks WebDriver to click? Whereas the Blink internal API is a blocking JS call?

[2018-11-21 18:00] jugglinmike commented on #13194
gh-14096 changes the way Taskcluster statuses should be interpreted. [I've updated the script to account for this](https://github.com/bocoup/wpt-validate-taskcluster/commit/cc03904da6f28f5dfde593d313c061968254da7a) and ran it through the period since my previous report (from 2018-11-15 to 2018-11-21):

<details>
  <summary>Full listing of discrepancies</summary>

pull request URL | pull request au

[2018-11-21 18:36] jugglinmike commented on #13194
I spoke too soon. The following commits were validated correctly:

pull request URL | pull request author | commit | TravisCI: Chrome | Taskcluster: Chrome | TravisCI: Firefox | Taskcluster: Firefox
-----------------|---------------------|--------|------------------|---------------------|-------------------|---------------------
[gh-14096](http://github.com/web-platform-tests/wpt/pull/14096) | foo

[2018-11-21 18:39] jugglinmike commented on #14165
No, but you can keep an eye on [the bug I filed](https://bugzilla.mozilla.org/show_bug.cgi?id=1507254) to get the latest.

Sure. To keep things organized, [I've reported the new stats in the original issue](https://github.com/web-platform-tests/wpt/issues/13194#issuecomment-439491149). I've also posted the new failures on that Taskcluster ticket.

[2018-11-21 19:09] foolip commented on #14165
Thanks @jugglinmike!

[2018-11-21 20:23] jugglinmike opened #14179 "[wpt] `test_wpt.py` is flaky"
The test titled `test_run_firefox` in `tools/wpt/tests/test_wpt.py` intermittently fails. I can't reproduce the failure locally, but we witnessed it in TravisCI during the review of gh-14178.

<details>
  <summary>Output of failing test</summary>

    tests/test_browser.py ..                                                 [  5%]
    tests/test_run.py .................

[2018-11-21 20:29] foolip commented on #14179
I've seen something like this involving `SystemExit` on Travis as well, but I don't know which PR it was.

[2018-11-21 21:15] jugglinmike commented on #14179
While re-trying the job for that pull request, TravisCI timed out:

    tests/test_browser.py ..                                                 [  5%]
    tests/test_run.py .................                                      [ 48%]
    tests/test_wpt.py .....
    No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.

[2018-11-22 02:55] jugglinmike commented on #13013
After a little more investigation in differences between the two CI environments, I found another case where restarting improved result accuracy: [`cookies/http-state` in Firefox](https://wpt.fyi/results/cookies/http-state?sha=e340f910d3&labels=taskcluster,firefox).

On the one hand, these examples make restarting seem more appealing because they improve result accuracy. However, the practice does

[2018-11-22 07:08] qiuzhong opened #14186 "wpt run command line could be too long in tools/ci/taskcluster-run.py"
tools/ci/taskcluster-run.py could be used for running the affected tests between commits only. It gets the affected test list and converts it to a string:

https://github.com/web-platform-tests/wpt/blob/579140910974daa5394f741197b0b68179882490/tools/ci/taskcluster-run.py#L16

and passes the string to wpt command line:

https://github.com/web-platform-tests/wpt/blob/579140910974daa5394f741197b0b681

[2018-11-22 09:52] #13363 closed

[2018-11-22 13:00] foolip commented on #13013
If we invert the default, which seems reasonable at least in the absence of expectations data, how would we keep discovering these discrepancies? Maybe set up a weekly run that differs only in this flag?

[2018-11-22 13:01] foolip commented on #14158
That's right.

[2018-11-22 15:17] #10597 closed

[2018-11-22 22:44] sideshowbarker opened #14199 "Stale chromium-export PRs/branches"
https://github.com/web-platform-tests/wpt/labels/stale-chromium-export lists 30 PRs created by @chromium-wpt-export-bot that are more than 6 months old (many are more than a year old) but that are still open and unmerged — and so that we still have a branch for in the repo.

@foolip @Hexcles @KyleJu @lukebjerring it would be great if those could be evaluated and closed as needed — and the branches