[2019-09-26 11:09] lukebjerring commented on #19297
This issue is likely also causing infrastructure/ test failures on PRs, like https://tools.taskcluster.net/groups/Ob8TSf1GTFm2vIddmPEvfg/tasks/KI7gmJRqSgKQdVdpegKnPw/runs/0/logs/public%2Flogs%2Flive.log#L1754

[2019-09-26 11:50] foolip opened #19322 "Simplify maintenance of epochs/* branches"
Background: The epochs/* branches in this repository are used to synchronize runs across Azure Pipelines, Taskcluster, Buildbot, and potentially other CI systems to produce results for the same commit. Concretely, the epochs/daily branch triggers [revision-aligned stable runs](https://wpt.fyi/runs?label=master&label=stable&aligned), and the epochs/six_hourly branch is what triggers Azure Pipelines

[2019-09-26 12:08] r12543 opened #19324 "While installing chrome browser, get NotImplementedError"
[code]

Any ideas? How to install chrome using wpt?

[2019-09-26 12:33] foolip commented on #19201
I agree, approving the changes only when they're actually landed elsewhere seems clearer. It also makes it harder to accidentally merge a PR, although I don't think that's happened.

@Hexcles WDYT for Chromium?

[2019-09-26 12:46] zcorpan commented on #19208
cc @isaacdurazo (who made the logo)

[2019-09-26 12:56] zcorpan opened #19326 "WPT logo: differences in size between with-background and without-background"
https://github.com/web-platform-tests/wpt/tree/master/images/wpt-logo

The ones with a background have spacing around the logo, but the ones with transparent background do not. This makes them not so interchangeable. (This is probably my fault.)

Should we make this consistent? cc @foolip @gsnedders @isaacdurazo

[2019-09-26 13:28] foolip commented on #19326
Yes please :)

Also we can delete the orange one if we don't plan to use it anywhere.

[2019-09-26 15:08] foolip commented on #19322
@lukebjerring @Hexcles thoughts on the impact of this on wpt.fyi? Continuing to provide /api/revisions/latest would be fine, but we could instrument it and remove it if usage drops to something very low.

[2019-09-26 16:37] lukebjerring commented on #19322
I would prefer that wpt.fyi not be a source of Truth for the epochs, so I'm all for it.

[2019-09-26 17:08] isaacdurazo commented on #19326
The background color is not intended to be "part" of the logo, it just shows us how it looks in such context. We included a file without background so you could maybe add the background color using CSS, and we have a file with the background color so we know how to use it and how it would look.

[2019-09-26 19:47] LukeZielinski commented on #9647
As of today, I don't think we'd use ExecutorCDP in wptrunner inside Chromium. One goal of integrating WPT into Chromium CI is to maintain consistency between tests run in Chromium and "upstream", so seems like using different executors wouldn't be a good idea.

[2019-09-26 20:02] foolip commented on #9647
Yep, and much to my surprise the test automation use cases that might require ExecutorCDP (plus some spec side abstraction matching it) haven't materialized.

At think point I think the best thing will be to close this and not land the code. This bugs me because it means I misprioritized and we did this work without a very clear use case, but doing more work on it right now would be to continue mi

[2019-09-26 20:02] #9647 closed

[2019-09-26 22:55] foolip commented on #19297
Some investigation happening in https://github.com/web-platform-tests/wpt/pull/19332.

[2019-09-27 09:03] foolip opened #19362 "Postmortem: Chrome Dev 78→79 broke PR and master runs"
**Owner**: @stephenmcgruer
**Postmortem Created**: 2019-09-27 05:03 EST
**Status**: Published
**Issue**: https://github.com/web-platform-tests/wpt/issues/19297

**Impact**: When the Chrome Dev channel moved from 78 to 79, full runs on Taskcluster (for wpt.fyi) stopped working, and infrastructure/ tests on PRs that trigger those began failing. This led to 2.5 days of a complete outage for Chrome De

[2019-09-27 09:10] foolip commented on #19297
I think https://github.com/web-platform-tests/wpt/pull/19360 will have "fixed" this, and I've started a postmortem in https://github.com/web-platform-tests/wpt/issues/19362.

The root cause is still unknown.

[2019-09-27 11:12] foolip commented on #19297
Closing this to open a new issue about getting Chrome Dev unpinned again.

[2019-09-27 11:12] #19297 closed

[2019-09-27 11:14] foolip opened #19367 "Upgrade to Chrome Dev 79 (pinned to 78)"
[Postmortem: Chrome Dev 78→79 broke PR and master runs](https://github.com/web-platform-tests/wpt/issues/19362) tracks breakage triggered by the Chrome Dev version bumping from 78 to 79.

https://github.com/web-platform-tests/wpt/pull/19360 pinned the version to 78, and this issue tracks getting it unpinned again.

@JohnChen0

[2019-09-27 11:16] foolip commented on #19362
With infrastructure/ working again in https://github.com/web-platform-tests/wpt/pull/18830#issuecomment-535895032 I'll go around and tell people on PRs if they need to retry Taskcluster.

[2019-09-27 12:02] foolip commented on #19362
`is:pr is:open updated:>2019-09-24T00:00:00Z -status:success` is the search to go through...

[2019-09-27 20:20] foolip opened #19378 "update-pr-preview often failing"
The "Synchronize the Pull Request Preview / update-pr-preview" check has been failing on many pull requests lately:
https://github.com/web-platform-tests/wpt/pull/19048
https://github.com/web-platform-tests/wpt/pull/19209#issuecomment-535913794
https://github.com/web-platform-tests/wpt/pull/19323#issuecomment-535924311
https://github.com/web-platform-tests/wpt/pull/19370#issuecomment-536018168

Al

[2019-09-27 20:22] foolip commented on #19378
@jugglinmike we've already decided to improve the visibility of the the deployment in Q4 which will involve touching this job, so assigning to you.

If it keeps failing like this, since it's not possible to discover where it's been deployed to even when successful, then I'd like to disable it until that work starts.

[2019-09-27 20:39] foolip opened #19380 "manifest-build-and-tag spends most time in Docker build step"
The manifest-build-and-tag jobs on GitHub Actions ([example](https://github.com/web-platform-tests/wpt/runs/239302415)) are what add merge_pr_* tags and upload the manifest as a release asset for that tag.

These jobs seem to usually take more than 4 minutes, almost all of it spend building the [Docker image](https://github.com/web-platform-tests/wpt/blob/master/tools/docker/github/Dockerfile).

I

[2019-09-27 20:40] foolip commented on #19380
If we skip the Docker layer here we should also do that for update-pr-preview.

[2019-09-28 06:56] foolip opened #19385 "manifest-build-and-tag silently failed to tag #19160"
The [manifest-build-and-tag job](https://github.com/web-platform-tests/wpt/runs/238845170) after merging #19160 as commit f029c61dfca5439cef3daa1f77c2542fa40704b7 ended like this:

No tag was created and no manifest assets released.

Here's the relevant code:
https://github.com/web-platform-tests/wpt/blob/19dc5b5b3c743ceae813ae6195958ce0b0ce035f/tools/ci/manifest_build.py#L160-L171

The `GITHUB_EV

[2019-09-28 06:59] foolip commented on #19385
Hmm, `"action": "rerequested"` is probably relevant, this might have been me retrying a check. If so the original failure cause was something else. I'll just fix it up.

[2019-09-28 06:59] #19385 closed

[2019-09-28 07:00] foolip commented on #19385
@jugglinmike it may still interest you that this can happen, that the payload is different when you rerequest.

[2019-09-28 21:41] foolip opened #19386 "Mechanism to pin browser versions"
For both Chrome Dev and Safari Technology Preview, new versions have occasionally had so serious bugs that we've had to revert to using an older version in Taskcluster and Azure Pipelines respectively. See, https://github.com/web-platform-tests/wpt/issues/17186 + https://github.com/web-platform-tests/wpt/issues/19362 for those cases, and https://github.com/web-platform-tests/wpt/pull/17187 + https

[2019-09-30 07:06] annevk commented on #15692
Thanks @domfarolino for pointing me here.

This effort is a little concerning to me as there are many Fetch tests that do care about the distinction between cross-origin and cross-site and I'm worried that this will lead to accidental regressions. And it also doesn't really help as WebKit will still need to create some infrastructure to test cross-origin (but same-site).

[2019-09-30 23:02] fantasai commented on #19105
The discussions at TPAC concluded that we should just use plinss's harness for manual test runs, since the underlying data structures for wpt.fyi don't work well for manual test runs (which are generally incomplete runs whose data is then patched together into a report).

What that means is:
* modifying the manual testharness to work off of unbuilt tests, or ones served by WPT infra, and increasin

[2019-10-01 08:29] psaavedra commented on #19322
To understand well enough what is your idea, @foolip, I have to questions:

* What you mean  for *list tagged revisions* . Tagged revisions of ... ?
* What means *to push branches* in this context?. Commit and push in the  _epochs/* branches_,  Run tests based on the WPT revisions listed by the `./wpt rev-li` command?

[2019-10-01 08:38] karstenw-ro opened #19432 "[css-grid] Absolutely positioned content alignment tests seem to show volatile behavior"
The tests in [./abspos/grid-positioned-items-content-alignment-001.html](https://github.com/web-platform-tests/wpt/blob/master/css/css-grid/abspos/grid-positioned-items-content-alignment-001.html) and [./grid-positioned-items-content-alignment-rtl-001.html](https://github.com/web-platform-tests/wpt/blob/master/css/css-grid/abspos/grid-positioned-items-content-alignment-rtl-001.html) yield differin

[2019-10-01 08:38] karstenw-ro opened #19433 "[css-grid] The documentation of ./grid-definition/grid-inline-auto-repeat-001.html contradicts the assertions that are actually tested."
In the JavaScript contained in the [documents](https://github.com/web-platform-tests/wpt/blob/master/css/css-grid/grid-definition/grid-inline-auto-repeat-001.html) body, the second block claims to test cases where an extra track is required. However, as opposed to the other cases, 'autoFitColumns' only checks for 2 tracks.

[2019-10-01 08:46] #17599 closed

[2019-10-01 10:21] foolip opened #19438 "Experiment: run Gecko's mochitests with some adapter code"
This is from discussion with @wisniewskit, @tdsmith and @zcorpan at https://2019.viewsourceconf.org.

As a way to understand what can be learned from all vendor-specific tests and specifically Gecko's mochitests, we could try something like this **on a branch**:
- Find a bunch of mochitests and put them in a directory of wpt
- Hack something in the manifest code to detect them and the executors to

[2019-10-01 10:27] Cwiiis opened #19439 "Test ImageBitmap [Serializable] property"
This property isn't explicitly tested (though it is covered, seemingly accidentally, in OffscreenCanvas tests).

[2019-10-01 10:43] foolip commented on #19438
https://wpt.fyi/results/css/vendor-imports/mozilla/mozilla-central-reftests?q=is%3Adifferent&run_id=320630013&run_id=332270002&run_id=328590003 is another vendor test suite that we do have results, and the differences there suggest that there could be value in stuff like this. That test suite reveals a lot of Safari-specific failures and Firefox-only passes, both of which are interesting categorie

[2019-10-01 11:04] gsnedders commented on #5381
@stephenmcgruer yes

[2019-10-01 11:40] foolip commented on #19322
@psaavedra when a PR is merged into wpt's master branch there's a script that runs to tag master with a merge_pr_* tag. Those are the tagged revisions, effectively the commits that master had pointed to at some time. This matters because it's possible to merge multiple commits in a PR but the intermediate ones shouldn't be candidates for full runs.

To push branches is simply to move an epochs/* b

[2019-10-01 15:41] jgraham commented on #19438
I think there is some value here, but I have in the past raised the concern that if we provide too much support for vendor testsuites, we don't end up with a shared testsuite but a collection of mutually-unintelligable testsuites contributed by each vendor, such that anyone wanting to modify them has to learn N different testing formats.

So, as an experiment I'm happy to do this on a branch and g

[2019-10-01 17:26] burg commented on #17186
I have fixed bugs for the normal and sudo case. The normal case, where the preference change does not sync immediately, will be fixed in STP93. The sudo case, which simply does not work at all, will be fixed in STP94.

[2019-10-01 19:06] foolip commented on #19438
These are all good concerns I think, to have another read-only directory like css/vendor-imports wouldn't be great. And even if the tests aren't actually in the tree and are just run via some "extra stuff" mechanism some of the same issues apply. I hope that if we identify some part of mochitests that surface especially many browser inconsistencies, then converting/upstreaming those might be prior

[2019-10-01 19:08] foolip commented on #17186
Thanks @burg! For STP93, do you think some workaround by writing the appropriate files to disk will be possible, or did the fixes you made not have anything to do with why that stopped working between 91 and 92? Waiting for 94 wouldn't be a huge deal, but the sooner we can have a full run the sooner we'll know if there are more issues affecting results that also need to be reported.

[2019-10-01 19:50] jugglinmike commented on #19378
It appears that the permissions model of the GitHub Actions feature has changed and that the new implementation is fundamentally incompatible with the solution we designed. I believe we'll need to re-implement the "git tag" and "Pull Request label" operations on an external server.

Comparing [the pull requests which have received the `pull-request-has-preview` label](https://github.com/web-platfo

[2019-10-01 20:50] foolip commented on #19378
A token with read-only access to the target repository makes good sense for PRs from forks, and I can understand why GitHub changes it to work like that.

Without write access we could still deploy (by polling open pull requests) but can't in any way point to it from the pull request. I agree it seems like we need to have an external service doing the commenting/tagging/whatever.

Pending a new so

[2019-10-01 20:57] foolip commented on #19378
Whether we post comments or use GitHub's deployments API I'm inclined to say that the same code that monitors for open PRs in need of deployment would also post back when the deployment is done. That there are multiple instances for load balancing probably complicates this somewhat, but it has to be possible to answer the question "will the URL load" somehow.

[2019-10-01 22:55] domfarolino commented on #15692
To answer @foolip, yes it seems that at least https://github.com/web-platform-tests/wpt/pull/16568 and I think some others have been uploaded, however I think it is safe to block them on resolution in this thread, as the effort seems controversial.

[2019-10-02 00:11] jugglinmike commented on #19105
Thanks, @fantasai. It sounds like @foolip might have different expectations. When he writes, "In order to retire @plinss's harness," I get the sense that he expects a new implementation.  @foolip is that an accurate interpretation?

For what it's worth, I was starting to expect integration with wptserve (which is built in Python, motivating a rewrite in that language), but I wasn't at TPAC and hav

[2019-10-02 15:20] foolip commented on #19105
I filed this issue with a pretty specific idea of how running manual tests could work, namely `./wpt run --manual` at the command line. That's assuming too much about what would satisfy the needs in the CSSWG and would remove the need for the existing harness.

https://github.com/web-platform-tests/wpt.fyi/issues/1497 is the issue for "making sure wpt.fyi can accept manual test result data" althou

[2019-10-02 15:22] foolip commented on #15824
@jugglinmike should this issue be closed now?

[2019-10-02 15:24] foolip commented on #6615
@jugglinmike what's the state of this now?

[2019-10-02 17:31] jugglinmike commented on #6615
The list of assertions referenced above is available online at: https://web-platform-tests.org/writing-tests/testharness-api.html#list-of-assertions

In keeping with our recent efforts to reduce duplication and avoid rot, it would be nice to generate this information from the testharness.js source code itself. We could do that with a tool like [sphinx-js](https://pypi.org/project/sphinx-js/). That

[2019-10-02 17:36] jugglinmike commented on #15824
Among the improvements we identified here, there's still one that hasn't been merged: gh-17189. It's in the late stage of review, though, so I don't think there's any value in keeping this issue open.

[2019-10-02 17:36] #15824 closed

[2019-10-02 19:19] foolip commented on #6615
I think that'd be OK, but as the first node dependency we should probably ask widely.

[2019-10-02 22:26] foolip commented on #17186
STP 93 was just released, attempting upgrade now in https://github.com/web-platform-tests/wpt/pull/19482.

[2019-10-03 07:56] r12543 commented on #19324
Hi guys, i am still getting this error. Can anyone please clarify this?

[2019-10-03 12:44] foolip commented on #17567
Current results:
https://wpt.fyi/results/pointerevents?run_id=316730006&run_id=343870004

I think this is a matter of a specific feature not working, possibly a problem in safaridriver, but not affecting overall results, so I'll remove this from https://github.com/web-platform-tests/wpt/projects/4 again.

[2019-10-03 13:41] foolip commented on #19324
@r12543 from the paths it looks you're on macOS, is that right?

I'm pretty sure installing Chrome on macOS has never worked, and probably not on Linux either. Instead you'll need to install Chrome on the system.

@jgraham is this the intended failure mode for `./wpt install`, or should there be a nicer message?

[2019-10-03 15:05] jgraham commented on #17913
I wonder if the Chromium sync differentiates here? I know they don't update all the infrastructre every time it changes in GitHub.

Generally I have the same understanding of the distinction as @gsnedders; `resources/` is project infrastructure, `common/` is useful helper utilities that aren't essential infrastructure. I fully agree that some of the things that have subsequently been added to `res

[2019-10-03 15:05] fantasai commented on #19105
@foolip The issue discussed at TPAC was that wpt.fyi can't handle partial test runs, and manual tests are not really suitable for all being run at a single session.

[2019-10-03 16:03] foolip commented on #19438
@wisniewskit is this something you'd like to work on? Wondering what priority to set and whether to assign you :)

[2019-10-03 16:12] Hexcles commented on #17913
Are you referring to code ownership? If we decide to review `resources/` specially, then I can add rules in Chromium accordingly (to require review from our team); so please keep me in the loop (FWIW, I think it's a good idea). Regarding the latter part, we only treat Python infra code a bit differently (but that'll hopefully go away soon).

[2019-10-03 18:38] zcorpan commented on #17913
This seems like a useful distinction.

Stuff that should probably move out of `resources` (probably not into `common` as they seem to be specific to one feature):

* resources/check-layout-th.js
* resources/SVGAnimationTestCase-testharness.js
* resources/sriharness.js

As for `common`, some things there should probably also be moved out or removed (like canvas-*), and then it would be nice to have

[2019-10-03 22:01] jugglinmike commented on #13522
We can see the need for this feature in a handful of tests related to service workers which define a subtest titled, "initialize global state" (or put differently, "setup"):

    $ git grep -li 'initialize global state'
    fetch/api/request/destination/fetch-destination-iframe.https.html
    fetch/api/request/destination/fetch-destination-no-load-event.https.html
    fetch/api/request/destination

[2019-10-03 23:58] jugglinmike commented on #13522
Here's a WPT RFC for this feature https://github.com/web-platform-tests/rfcs/pull/32

[2019-10-04 05:18] fred-wang opened #19500 "Don't use asynchronous test to check MathMLElement onevent attributes"
cc @rwlbuis @bkardell

In mathml/relations/html5-tree/clipboard-event-handlers.tentative.html
and  mathml/relations/html5-tree/math-global-event-handlers.tentative.html

@bzbarsky suggested we used the following instead:

    var callbackCalled = false;
    function callback() {
          callbackCalled = true;
    }
    doStuffThatShouldCallCallback();
    assert_true(callbackCalled);

[2019-10-04 05:25] bzbarsky commented on #19500
So concretely, in `math-global-event-handlers.tentative.html` the code could be:

        test(() => {
          const element = document.createElementNS(
            "http://www.w3.org/1998/Math/MathML",
            "math"
          );
          let target = undefined;
          element[name] = (e) => {
            target = e.currentTarget;
          });

          element.dispatchEvent(new Event

[2019-10-04 14:32] zcorpan commented on #17913
When trying to implement the above reorg I changed my mind a bit and left some files as top-level.

I'm also not certain yet how/where to best write documentation for these.

https://github.com/web-platform-tests/wpt/pull/19514

[2019-10-04 15:31] zcorpan opened #19518 "Lint: reject lone .headers files"
See https://github.com/web-platform-tests/wpt/pull/19514/commits/843c7ff4dd8a21fe030e229ea8a8917185678596 - a file was renamed but the `.headers` file was not renamed. This seems not ideal, but we can create a lint to catch this mistake.

For each `*.headers` file that is not a `__dir__.headers` file, check that there exist a file with the same name sans `.headers` suffix.

[2019-10-04 15:35] jdm opened #19519 "Disable all test timeouts when a debugger is active"
It's really annoying when using a debugger and stepping through an implementation to have testharness.js subtest timeouts make it harder to determine the actual implementation behaviour. wptrunner is already aware that a debugger is active, so it should be able to signal to testharness.js not to set JS timeouts for tests to finish executing.

[2019-10-04 15:44] jgraham commented on #19519
I think the reason we didn't do this is that subtest timeouts are not really a supported feature and I'd much rather remove them than spend time working out how to make them indefinite.

[2019-10-04 15:52] gsnedders commented on #8820
@jayvdb Yeah, we should, just never got around to writing one because it's so far from passing (and it never has). Can't regress something that never worked. :)

[2019-10-04 15:59] jdm commented on #19519
Maybe I'm using the wrong terminology? I'm talking about individual `async_test`s timing out in a test file when debugging it.

[2019-10-04 16:27] Cwiiis commented on #19439
Fixed by https://github.com/web-platform-tests/wpt/commit/da1d683ea14b5b0372af113b4bae6e05d01adea0

[2019-10-04 16:27] #19439 closed

[2019-10-04 16:48] LanWei22 opened #19523 "Should allow python wpt tests have different test results for different browsers"
For some key codes, Chrome and Firefox have different values,
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code/code_values

In third_party/blink/web_tests/external/wpt/webdriver/tests/perform_actions/key_events.py, the reason it fails on Chrome but not Firefox is they have different code value for key "Meta", we should allow to get the browser name in the python wpt tests and ex

[2019-10-04 18:07] Hexcles commented on #19523
Looping in some authors of the file @whimboo @jimevans

If the key codes are not standardized across browsers (or the discrepancy is recognized in some spec?), it makes sense to plumb the product into `key_events.py`. I'm not familiar with that code so it's not obvious to me what's the best flow to plumb that data. Could you provide some suggestions?

[2019-10-05 12:28] psaavedra commented on #19322
Implemented `wpt rev-list`: List tagged revisions (aka  `merge_pr_*` tags ) by a configurable interval which works like this:

[code]
(aka `git rev-list --tags=merge_pr_* --no-walk --max-count 5 --until yesterday`)

[code]

[2019-10-05 12:48] psaavedra commented on #19322
pushes each hash listed by `./wpt rev-list` in:

*  upstream/epochs/daily
*  upstream/epochs/six_hourly
*  upstream/epochs/twelve_hourly
*  upstream/epochs/weekly

is this OK?

[2019-10-05 13:08] foolip commented on #19322
@psaavedra looks great! In order to filter the revisions to the ones matching a certain "epoch length" like daily, weekly or every 6 hours, what extra argument do you think is needed?

[2019-10-05 13:40] psaavedra commented on #19322
[code]

or

[code]

[2019-10-05 16:00] foolip commented on #19322
I think that would allow listning the latest revision for each epoch, but not multiple revisions, right?

To make it very concrete, the lists of revisions in https://wpt.fyi/api/revisions/list?num_revisions=10 should be possible to reproduce using this command. For all except weekly I think giving an epoch length would suffice. For weekly the cutoff time should be on UTC midnight between Sunday an

[2019-10-05 16:33] psaavedra commented on #19322
On Sat, Oct 5, 2019, 18:00 Philip Jägenstedt <notifications@github.com>
wrote:

The command returns a reverse sorted  list of revision for a given min/max
timestamp interval. Not only the lastest revision

To make it very concrete, the lists of revisions in

You mean, something like this:

./wpt rev-list --weekly/--daily/...
sha1
sha1
sha1
...

?

[2019-10-05 17:06] foolip commented on #19322
Right, something like `--daily` or `--epoch-size=86400`, that matches the list of commits that https://wpt.fyi/api/revisions/list?num_revisions=10 currently returns, for one epoch at a time.

The important epochs that we currently actually use are weekly, daily and six_hourly. Whether the epochs are given as a string (prefined) or numerical isn't super important I think.

[2019-10-05 18:43] psaavedra commented on #19322
On Sat, Oct 5, 2019, 19:06 Philip Jägenstedt <notifications@github.com>
wrote:

Aye. I see.

Just a question. Sorry coz this question is due to I am not so used with
the workflow of the integration infrastructure.

Those --daily/--epoch-size args must to be aligned with:
- the on going day/week. For example: command launched 2019-10-9 12:17:45
UTC then the --daily means tagged revisions  for day:

[2019-10-05 19:30] foolip commented on #19322
Perhaps an ASCII diagram in the style of https://git-scm.com/docs/git-log will help:

[code]

`A` through `N` represents (tagged) commits on the master branch spaced out over time. The master branch currently points to `N`. To list the daily revisions we list the first revisions *before* each vertical line, which are midnight UTC. Those are the commits that master pointed to at those points in tim

[2019-10-05 19:36] foolip commented on #19322
There are multiple ways one could implement this, but the approach taken in [wpt.fyi](https://github.com/web-platform-tests/wpt.fyi/blob/eb318d50547f31b8b0d76da0584c67aea7d50b02/revisions/announcer/announcer.go#L220) is to check for each pair of candidate revisions if an UTC midnight (or other epoch boundary) is between the two revisions.

[2019-10-05 19:39] foolip commented on #19322
@psaavedra you also asked about "since a concrete revision" and I think using the currently checked out revision is probably fine. It would be trivial to pipe through another revision, but I don't see a need.

[2019-10-06 06:33] annevk commented on #17913
Some feedback:

* If top-level resources/ is for infrastructure, it's weird that we have many non-top-level resources/ that are not.
* I don't like making common/ less flat as it'll make it harder to remember the URLs then. No need for these to end up like doctypes before `<!doctype html>`.

Documenting and expanding upon common is greatly appreciated though.

[2019-10-06 09:44] foolip commented on #17913
If a lot of renaming is proposed, then that may well affect Chromium's use of WPT, and I'd suggest going through the RFC process.

[2019-10-06 11:36] psaavedra commented on #19322
I just rewrote the command. Now, it looks like this:

[code]

[code]

[code]

Basically, the `rev-list` command now follows this logic:

[code]

**... so**:  the command gets the more recent revision closer to to each epoch step.

The current implementation also can be pointed,  not only to `now`,  but also to any other *epoch time* value using the ` --epoch-until` parameter. For example: ` --epoc

[2019-10-06 13:48] foolip commented on #19322
Cool, can you verify that it returns the same most recent 100 commits as the wpt.fyi API for all supported epochs?

I see `--no-merges` in there and pull requests can still be merged with regular merge commits, so I expect that would miss some commits.

[2019-10-06 13:52] foolip commented on #19322
I also expect that the use of `epoch_now` will lead to the results varying depending on when the command is run, even if no midnight or equivalent epoch divider was passed in between.

[2019-10-06 15:13] foolip commented on #16316
Resolved with some help from GitHub support: https://github.com/web-platform-tests/wpt/pull/13902#issuecomment-538756277

[2019-10-06 15:13] #16316 closed

[2019-10-06 15:42] foolip commented on #19322
@psaavedra also it sounds like your subcommand is far enough a long that you could upload it in a pull request and we can review corner cases there.

[2019-10-06 20:53] psaavedra commented on #19322
I already created https://github.com/web-platform-tests/wpt/pull/19536

[2019-10-06 20:54] psaavedra commented on #19322
verified.

Removed

[2019-10-06 20:57] psaavedra commented on #19322
can you provide an example?

[2019-10-07 07:57] foolip commented on #15412
Ping @owlishDeveloper, is a way to supply arbitrary markdown for the Taskcluster integration using GitHub Checks planned?

[2019-10-07 07:59] foolip commented on #17726
@Hexcles I downgraded the priority since there's nobody assigned, but if this is an easy fix and there's a volunteer then fixing it sure sounds like a good idea.

[2019-10-07 08:01] foolip commented on #13183
I've downgraded the priority. We'll probably want this to convert manual tests in the future, but at this point the request for it isn't coming from outside, it's just those of us working on wpt infra that think it's a good idea.

[2019-10-07 08:05] #19500 closed

[2019-10-07 08:37] foolip commented on #19322
@psaavedra I'll go ahead and review https://github.com/web-platform-tests/wpt/pull/19536, testing locally to see if there is an issue with `epoch_now` and local time elapsing.

Also, we discussed last week about a tagging "race condition" that the overall setup for needs to deal with. The state of the repo right now is a good example of this:

[code]

Whether to handle this in the `./wpt rev-list`

[2019-10-07 10:59] zcorpan commented on #17913
Thanks for the feedback. The restructuring turned out to be much more involved than I first thought, and considering the cost+risk/benefit again I think we shouldn't follow through with it. I will create new PRs for documentation and moving things out of `common` that don't belong there.

Top-level `resources` being special is weird, but I think it's best to explain this with documentation.

[2019-10-07 12:56] psaavedra commented on #19322
How this is possible ? aren't the tags and the commits in master pushed at the same time?

I don't see how the rev-list command can distinguish between a  commit with a missing tag associated ( like 643548a2e0cef9324a67e61534d2105c8e6b4c34 - tag: merge_pr_19501) and other like 96ff703e400e669c37877c01cad02e3c597776d7 which actually  belongs to the (tag: merge_pr_19535)

Maybe .... `rev-list` must

[2019-10-07 16:01] foolip commented on #19322
No, https://github.com/web-platform-tests/wpt/blob/master/.github/workflows/push-build-release-manifest.yml runs in response to a push to master and will push the tag afterwards, usually quickly but it if downloading an existing manifest fails it could take over 4 minutes, and if anything in the process fails the tag won't be created at all, but could be created by hand some time later.

[2019-10-07 16:04] foolip commented on #19322
One way to think about this is that the candidates are all the commits that the master branch has ever pointed to. The merge_pr_* tags are those commits, but the commit that master is *currently* pointing at is one of those commits as well, even if it's not tagged yet.

A wrinkle remains, however. Many commits might be pushed in succession and the might not be tagged in order. Rather than special-

[2019-10-07 16:38] jugglinmike commented on #17798
Resolved via gh-19303.

[2019-10-07 16:38] #17798 closed

[2019-10-07 17:37] psaavedra commented on #19322
So, something like this?:

[code]

where  `--epoch-threshold 600` establish a safety threshold respect `now`  of 600 seconds.

Then, if `now = 1570469449`, the result of this command:

[code]
it will be equivalent  to:

[code]

In other words, the `rev-list` command will ask for revisions with a commit time not older than `now - epoch-threshold`.

WDYT?

[2019-10-07 22:32] foolip commented on #19322
I've taken a look at how long it's taken recently to tag commits, and it looks like it occasionally takes more than 10 minutes still.

In https://github.com/web-platform-tests/wpt/runs/248373304 the first try timed out after 45 minutes and the second succeeded.

In https://github.com/web-platform-tests/wpt/runs/235662622 it took 24 minutes but succeeded.

I'm not sure yet how best to deal with thi

[2019-10-08 01:12] jugglinmike commented on #19378
[GitHub Actions supports triggering Workflow events on a pre-defined schedule.](https://help.github.com/en/articles/events-that-trigger-workflows#scheduled-events-schedule) A quick experiment on the wpt-actions-test project proved that the token supplied to these executions has write permissions.

By querying the GitHub API, we could implement issue labeling and commit tagging completely in-reposi

[2019-10-08 05:25] foolip commented on #19378
Rather than mirroring pull requests from forks automatically, perhaps we can trigger it by a special label being added and reacting to that event? Can you check if the token for those actions has write access?

[2019-10-08 07:29] foolip commented on #19311
In https://github.com/web-platform-tests/wpt/settings/branch_protection_rules/1493 I just tried checking this checkbox:
![image](https://user-images.githubusercontent.com/498917/66375251-36d42e80-e9ad-11e9-9b1b-34592a092a75.png)

However, as a result it's not longer possible to admin merge a PR, that is the following UI no longer appears on a PR like https://github.com/web-platform-tests/wpt/pull/

[2019-10-08 07:29] #19311 closed

[2019-10-08 08:28] psaavedra commented on #19322
yes, not too much reliable.  ideally, we need some kind of semaphore file or index file pointing to the a valid hash which 1) is already pushed in upstream/master 2) is already tagged and pushed in upstream/master as well. it seems easy but apparently not :-/.

[2019-10-08 08:44] foolip commented on #19322
What we perhaps could do is to maintain a much simpler set of refs that would effectively be the reflog of master, which doesn't involve creating tags and would have less ways of failing. Perhaps refs/reflog/master/$n or similar. However, whatever creates those refs could still have a bad day and it's not foolproof. I think only having a commit bot that pushes first the tag and then the master bra

[2019-10-08 08:53] foolip commented on #19322
https://github.com/web-platform-tests/wpt/issues/19380 is also relevant as to why tagging can take so long.

[2019-10-08 09:14] psaavedra commented on #19322
Yeah. I think we will falling into the same trap twice.

It's OK every time we accept this like a eventually-consistent service :-)

[2019-10-08 09:21] foolip commented on #19322
Alright, so let's start with the assumption that tags appears within 10 minutes after push to master, and then when that inevitable results in some incorrect push of an epochs/* branch we can decide how serious that problem is. Maybe fixing https://github.com/web-platform-tests/wpt/issues/19380 will be the best way to go about it.

[2019-10-08 11:05] psaavedra commented on #19322
Added:

[code]

[code]

[2019-10-08 15:51] foolip commented on #14564
Closing this, work is underway to not block on known flakiness.

[2019-10-08 15:51] #14564 closed

[2019-10-08 15:54] foolip commented on #19206
We've had successful beta runs for the past 3 weeks now:
https://wpt.fyi/runs?label=master&label=beta

[2019-10-08 16:03] foolip commented on #13710
I won't be doing any more work on this, unassigning.

[2019-10-08 16:03] foolip commented on #11049
@zcorpan back to you, I didn't do anything :)

[2019-10-08 16:07] foolip commented on #18669
@mustjab did you hear back from the Azure Pipelines team?

[2019-10-08 16:08] foolip commented on #13710
Actually, closing in favor of https://github.com/web-platform-tests/wpt/issues/11915, which would be the fix for this.

[2019-10-08 16:08] #13710 closed

[2019-10-08 16:24] mustjab commented on #18669
@foolip I filled an internal ticket with Pipeline team to investigate this issue, haven't heard back yet. Do you have a list of recent jobs that failed due to this issue?

[2019-10-08 17:27] jugglinmike commented on #19378
[The documentation for the "Pull Request Event" in GitHub Actions](https://help.github.com/en/articles/events-that-trigger-workflows#pull-request-event-pull_request) has the following note about "pull request" Events for forked repositories:

The referenced document shows that "Access by forked repos" is read-only for all available Events.

[2019-10-08 20:15] jugglinmike opened #19578 "Update single-page tests to explicitly opt in to the feature"
In [WPT RFC 28](https://github.com/web-platform-tests/rfcs/blob/master/rfcs/single_test.md), we decided to introduce a new requirement for testharness.js tests which use the "single-page test" feature: they must enable the feature explicitly. To accomplish this, we first introduced an API for opting in--see gh-19449. Now, we plan to update all tests to use the new API.

(Once we resolve this issue

[2019-10-08 20:33] Hexcles commented on #13183
My research only looked at existing tests / test history. And of course, there is zero testdriver usage in reftests as it doesn't work, but I don't know how many people attempted to do that.

[2019-10-08 22:33] foolip commented on #18669
@mustjab I haven't been monitoring the Safari results as closely lately, but here are the 3 failures I can find in October:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=32949
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=33184
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=33783

[2019-10-08 22:34] foolip commented on #18669
Looking for gaps in https://wpt.fyi/runs?label=master&label=azure is another way to gauge how much it's happening. Note that there have been failing Edge runs too, in case you want to look into that.

[2019-10-09 07:51] foolip commented on #19378
Alright, I guess that does make sense, it'd be a more complicated model to reason about if what I suggested did work.

Since the workflow no longer exists I'm going to close this issue. @jugglinmike can you file another, if there isn't one already, for getting deployments to wptpr.live working and reported on PRs? We can discuss there what the tradeoffs are, and I'd like to get @Hexcles's feedback

[2019-10-09 07:51] #19378 closed

[2019-10-09 10:34] foolip commented on #12559
Over a year later and I've been running a script to check if manifests are complete and match what would be generated with a full rebuild, and releases between the merge of https://github.com/web-platform-tests/wpt/pull/12381 and https://github.com/web-platform-tests/wpt/pull/12563 show up, 130 of them.

I'm going to recreate those releases. Apologies to @jdm for the notifications this will cause.

[2019-10-09 11:11] psaavedra commented on #19322
WDYT, should I jump into this?

[2019-10-09 11:43] foolip commented on #19322
I've been working on some improvements to manifest_build.py today and https://github.com/web-platform-tests/wpt/pull/19580 is my suggestion for making it faster, but I think we can proceed with the 10 minute grace period. I'll review https://github.com/web-platform-tests/wpt/pull/19536 again now under that assumption.

[2019-10-09 14:39] mustjab commented on #18669
@foolip The Mac run issues appear to be due to machine running out of resources. The Azure pipeline team is going to add more logging to confirm that, but would it be possible to break down the failing step to small ones to workaround this issue?

[2019-10-09 16:24] foolip commented on #18669
Do you know what kind of resource exhaustion would cause this to happen? Is it running out of memory? Or is there some kind of watchdog in place, where pegging the CPU for a long time would cause this?

We could try just increasing the number of chunks from 5 to 10, but I think we "only" have 20 parallel VMs so we'd run out of capacity of we're running both Safari stable and preview at the same ti

[2019-10-09 17:12] mustjab commented on #18669
Initial investigation appears to point to machines running out of memory. Is there anything we can do on test end to reduce memory footprint?

[2019-10-09 18:56] foolip commented on #18669
@mustjab, interesting! Does Azure Pipelines collect any stats from the agents as they're running that we could look at, or would we have to start a background process to monitor memory usage and regularly print it to stdout? If we could know if it's the python process or Safari that's growing large, that'd give clues for what to investigate next.

[2019-10-09 18:58] foolip commented on #18669
@mustjab also, I'm curious if it's possible to get artifacts out of an agent that has run out of memory, or if printing things to the logs before OOM is the only way? If we could "stream" artifacts then we could take screenshots of the Activity Monitor over time :)

[2019-10-09 20:19] jdm opened #19604 "idl_test is not mentioned in documentation for idlharness.js"
https://web-platform-tests.org/writing-tests/idlharness.html describes various APIs, but not the ones used in actual tests like https://github.com/web-platform-tests/wpt/blob/9bd69017a2c73af9902c9d5556770cbde0a26bbc/css/cssom-view/idlharness.html#L24.

[2019-10-09 21:51] jugglinmike opened #19607 "Automatically mirror pull requests on wptpr.live"
We've been building wpt.live (previously web-platform-tests.live) as a replacement for w3c-test.org. The latter provides two distinct services:

1. publishing WPT at the latest version of the repository's `master` branch
2. publishing a "mirror" of pull requests filed against WPT's GitHub.com project

The first is relatively straightforward, and we completed it without any integration with the WPT

[2019-10-09 21:51] jugglinmike commented on #19607
I'm in favor of the second of the two approaches. The lower responsiveness is only drawback I find concerning, but it's possible that actual delay is acceptable for our use case.

[2019-10-09 21:52] jugglinmike commented on #19378
Sure! See gh-19607.

[2019-10-09 22:22] foolip commented on #19607
https://help.github.com/en/articles/workflow-syntax-for-github-actions#usage-limits says these are the current usage limits, subject to change of course:
- You can execute up to 20 workflows concurrently per repository.
- You can execute up to 1000 API requests in an hour across all actions within a repository.
- Each job in a workflow can run for up to 6 hours of execution time.
- You can run up

[2019-10-10 09:24] jgraham commented on #11717
We are planning to add CI for running gecko on android x86 emulators, which should provide some of the requirements here.

[2019-10-10 10:56] #19296 closed

[2019-10-10 12:27] foolip commented on #18769
@jugglinmike are you going to use the deployments API for wptpr.live deployments, i.e., can I assign this to you? There might be some stuff to copy from https://github.com/web-platform-tests/wpt/pull/18773.

[2019-10-10 13:03] gsnedders opened #19620 "Restart Safari after timeout/error"
At the moment we fail to even send delete session if the HTTP client has hung because httplib fails to send it because it's already waiting on a response. We should do better.

[2019-10-10 16:23] gsnedders commented on #7182
Yeah, I think arrow functions essentially make this a non-issue now. If anyone disagrees, comment.

[2019-10-10 16:23] #7182 closed

[2019-10-10 16:35] gsnedders commented on #19233
Pretty sure in theory the certificate should cover everything. Given regenerating it has historically been painful I'm not surprised if it doesn't match up!

In principle, running with `acceptInsecureCerts` should be fine (Chrome always does, Firefox does if there's no `certutil` available). Otherwise, `server_config.domains_set` should be a set of all the domains it should cover.

[2019-10-10 16:46] gsnedders commented on #19233
#19626 to update them

[2019-10-10 20:24] stephenmcgruer commented on #19367
I've been trying to work on this in https://github.com/web-platform-tests/wpt/pull/19609. So far my main finding is that we seem to get stuck in our self.wait_script:

[code]

I've not been able to figure out why yet.

Attempts to reproduce locally have failed, even using the docker image. For the record, this was my setup for docker WPT:

[code]

Doing this seems as close to Taskcluster as I can

[2019-10-10 21:02] stephenmcgruer commented on #19367
[Log with chromedriver --verbose enabled](https://github.com/web-platform-tests/wpt/files/3714598/live_backing.log.txt). @JohnChen0 - from that log I'm pretty sure that Chromedriver sent the contents of [reftest-wait_webdriver.js](https://github.com/web-platform-tests/wpt/blob/221380dbd61b501ec6e580f7cfc0d43e8372064a/tools/wptrunner/wptrunner/executors/reftest-wait_webdriver.js) to Chrome, and jus

[2019-10-10 22:33] foolip commented on #19367
If it seems like it's Chrome that's not well behaved, then bisecting Chrome while holding ChromeDriver constant should be pretty doable. If only it would repro locally, that is...

In Taskcluster, you could try to pin the ChromeDriver version to the old or new version, to figure out if it's Chrome or ChromeDriver that's gone bad. After that... I guess one could bisect in a very slow manner on Task

[2019-10-10 23:33] stephenmcgruer commented on #19367
That's pretty much my next idea :). I'm going to start by getting logs out of Chrome, should be fairly easy to pump them to a file and then dump the file after the run. If that doesn't bear fruit, a bit of bisecting will be so much fun... :D

[2019-10-10 23:41] gsnedders commented on #6615
I think adding whatever dependencies in the container we use for the documentation generation is fine.

[2019-10-11 00:08] gsnedders commented on #13183
I think there was some discussion at TPAC suggesting this was needed for a whole bunch of tests, but I think it's pretty low priority still.

[2019-10-11 11:01] StarveTheEgo commented on #1855
Test when

[2019-10-11 13:27] stephenmcgruer commented on #19367
Woah, the Chrome logs on the failing taskcluster are interesting...

[code]

A few notes:

* The logs encode date/time; the format is `process_id:thread_id:month/dayhhmmss.fractions`
* Therefore, we can see that from the first log to the last, the self.wait_for script takes only a few fractions of a second. Cross-referencing with Chromedriver logs (which, with `--verbose`, also log JS console logg

[2019-10-11 13:41] stephenmcgruer commented on #19367
This gets stranger and stranger. I hacked `ready_for_screenshot()` to just call `callback()` immediately and chromedriver fails to take a screenshot o.o.

[code]

So we have some weird thing where rAF doesn't appear to be firing, and some weird thing where Page.captureScreenshot just isn't working.

I think it's time to bisect :(. This may be painful.

[2019-10-11 18:50] reillyeon commented on #5671
The Permissions API now includes [WebDriver extensions](https://w3c.github.io/permissions/#automation) and they have been [recently implemented](https://chromium-review.googlesource.com/c/chromium/src/+/1666438) in Chromium.

Can this be moved off the backlog?

[2019-10-11 19:17] stephenmcgruer commented on #19367
Bisected chrome at a pinned Chromedriver version;

[code]

[2019-10-11 19:19] stephenmcgruer commented on #19367
From   https://chromium.googlesource.com/chromium/src/+log/af8e5c0e26dcb4ba200ea0664065b1cc45225bd1..b4f3df4e77ba1f79717d44b5068cb36f7537332f, I would suspect https://chromium.googlesource.com/chromium/src/+/b4f3df4e77ba1f79717d44b5068cb36f7537332f

Note that on a number of runs I saw: `[491:502:1011/191621.730263:WARNING:gpu_process_host.cc(1218)] The GPU process has crashed 1 time(s)`

I'm going

[2019-10-11 19:51] foolip commented on #5671
We still not to wrap that in testdriver.js. This is on the [Ecosystem Infra Q4 OKRs](https://docs.google.com/document/d/1sMaQt616EZ5jBUc36_V7wJphEGvfRhTAn6at89A-3g8/edit#heading=h.5l58vfrewt7j), so I'll assign this to @LukeZielinski and set priority (roadmap) accordingly.

[2019-10-11 19:52] foolip commented on #19367
Excellent and exciting debugging there, hope it bears fruit!

[2019-10-14 00:51] alejandroguardiola opened #19663 "Hello-edit.png"
#😋🕹🎾

[2019-10-14 00:54] alejandroguardiola commented on #19663
Titles are not important it's just gonna slow down effectiveness

[2019-10-14 00:54] #19663 closed

[2019-10-14 10:14] foolip commented on #19620
This should resolve https://github.com/web-platform-tests/wpt/issues/18634 and https://github.com/web-platform-tests/wpt/issues/18635.

[2019-10-14 11:30] #19380 closed

[2019-10-14 18:53] graouts commented on #17567
When I follow this link STP 82 is still shown. Is that expected? I thought this would somehow show a recent STP.

[2019-10-14 19:00] foolip commented on #17567
@graouts see https://github.com/web-platform-tests/wpt/issues/17186, upgrading to a more recent version of STP has been blocked on a long series of issues, currently `sudo safaridriver --enable` not working.

More details in my failed attempts https://github.com/web-platform-tests/wpt/pull/18925, https://github.com/web-platform-tests/wpt/pull/19142 and https://github.com/web-platform-tests/wpt/pul

[2019-10-14 19:06] foolip commented on #17567
Since this was about Safari stable, these diffs between Safari 12.1 and 13 might be interesting:
https://wpt.fyi/results/?diff&filter=ADC&run_id=311390003&run_id=330280040
https://wpt.fyi/results/?diff&filter=ADC&run_id=307790006&run_id=342180031

(Either will do, they should differ only due to flakiness.)

The tests in pointerevents/ seem to be doing much better now. The pointerevent_movementxy.h

[2019-10-14 19:40] zcorpan commented on #19275
Should instead test in https://github.com/web-platform-tests/wpt/blob/master/IndexedDB/historical.html that this property is not supported.

[2019-10-14 20:59] zcorpan commented on #19181
The test is `offscreen-canvas/the-offscreen-canvas/size.attributes.parse.empty.html`?

cc @xidachen

[2019-10-14 21:01] zcorpan commented on #19180
cc @xidachen

[2019-10-14 21:06] zcorpan commented on #19039
cc @AutomatedTester @shs96c

[2019-10-14 21:23] aestes commented on #18635
I believe the crash @rsolomakhin observed in `/payment-request/payment-is-showing.https.html` is due to the same underlying bug that was interrupting the test run.

That was fixed in https://trac.webkit.org/r246345 and I'm able to run /payment-request/ tests to completion on https://www.w3c-test.org/tools/runner/ in the latest Safari Technology Preview (93).

[2019-10-14 21:32] foolip commented on #18635
@aestes great, it sounds like there's hope of this being fixed with STP 94 then. See https://github.com/web-platform-tests/wpt/issues/17186 for why we're stuck on an old version of STP. (If anyone has successfully installed and run STP 93 in a public CI system, I'd love to know how.)

[2019-10-15 07:04] Cwiiis commented on #19181
That's correct.

[2019-10-15 08:33] zcorpan opened #19688 "[cssom-view] Followup: use promise_rejects_* in matchMediaAddListener-handleEvent.html"
cc @shvaikalesh

in #18390 I left [this comment](https://github.com/web-platform-tests/wpt/pull/18390#discussion_r332909260)

https://web-platform-tests.org/writing-tests/testharness-api.html#promise-tests
(The docs don't yet reflect this change: #19054 )

For `css/cssom-view/matchMediaAddListener-handleEvent.html`

[2019-10-15 08:40] gsnedders commented on #17577
This is a bug in Chrome or ChromeDriver.

Output from ChromeDriver:

[code]

That JSON message:

[code]

[2019-10-15 08:44] gsnedders commented on #17577
See https://bugs.chromium.org/p/chromedriver/issues/detail?id=3169 for ChromeDriver bug.

[2019-10-15 10:26] gsnedders commented on #17577
Hmmmmmm. So actually every browser fails here. (Firefox only passes because it doesn't pass back the assertion failed messages… because it passes.)

[2019-10-15 16:54] stephenmcgruer commented on #19367
A little note to make sure I dont forget:

I see this on successful runs too, as it turns out. Likely a red-herring.

[2019-10-15 19:19] stephenmcgruer commented on #19367
Filed https://crbug.com/1014629

[2019-10-15 20:47] inexorabletash commented on #19275
Oops, thanks for catching this. I thought I'd checked for lastModifiedDate usage in WPT, guess I failed.

[2019-10-15 20:48] #19275 closed

[2019-10-15 21:30] Hexcles opened #19711 "Run tests in Android emulator on Taskcluster"
This is a tracking issue for adding emulator support to Taskcluster as I realized we didn't have one yet.

(@jgraham do you have any related links / tracking issues regarding this work?)

[2019-10-15 21:30] Hexcles commented on #11717
Filed https://github.com/web-platform-tests/wpt/issues/19711

[2019-10-15 22:35] brettz9 commented on #19275
No worries on my account! Thanks!

[2019-10-16 11:01] gsnedders commented on #19105
What are our motivating goals here? This issue started with "in order to retire the harness" and now it's "in order to maintain the harness", so it's hard to know how to evaluate whether we're meeting those goals.

I still have concerns about ongoing maintenance of any CSS WG specific infrastructure, given by and large most of it has been unmaintained for years, and it's not clear anyone is actual

[2019-10-16 18:11] tabatkins commented on #17577
So would I be able to work around this by changing the test messages to not include surrogates? Or would the fact that a surrogate is in the input still mess things up due to auto-generated messages?

[2019-10-16 18:14] tabatkins commented on #17577
(I note that the wpt.fyi page seems to serialize the surrogate in the test message as `U+d800`, but it doesn't do the same for the nulls, which is definitely a bit confusing.)

[2019-10-16 22:11] foolip commented on #19438
@Hexcles this is the issue I mentioned to you.

While I haven't mentioned it here, getting results into wpt.fyi from Test262, the WebGL test suites or other things that we can't easily just merge into WPT might use a "some adapter code" approach as well. But I think in each case an experiment to show value is needed before considering landing code for long term support of something like it.

[2019-10-17 09:03] foolip commented on #6268
@jugglinmike can you check if everything here has been documented, file issues for anything substantial left and then close this issue?

[2019-10-17 09:10] foolip commented on #17238
@gsnedders the dependency is in tools/wpt/requirements.txt, renamed in c6f022f773255fc5f723bf1c3236dedc7a6d8e8e and originally added in eb03407caedc4847867be415db35e1bba5bdb74b.

It's also in tools/wptrunner/requirements.txt, added in 6c2ffe0cb9b5cb1a31bd362ad10ae9c3b6873869.

Since the issue ended in a question mark I'm closing :)

[2019-10-17 09:10] #17238 closed

[2019-10-17 09:27] foolip opened #19753 "Instructions for getting started on macOS are very error-prone"
I have a new MacBook Pro running macOS 10.14.6 and I've tried to follow https://web-platform-tests.org/running-tests/from-local-system.html to run https://github.com/web-platform-tests/wpt/pull/19750 locally.

The way you first notice that there's a problem is the "virtualenv must be installed and on the PATH" error. Attempting `pip install virtualenv` reveals that `pip` is missing, so I start fro

[2019-10-17 09:28] foolip commented on #19753
A good example of `./wpt run` telling you clearly what to do is when you haven't updated /etc/hosts. It says:

[code]

Similar messages for missing `pip` and `virtualenv` that work on Windows, macOS and Debian/Ubuntu would be *great*.

[2019-10-17 10:46] foolip commented on #17186
STP 94 was just released and it finally worked. https://github.com/web-platform-tests/wpt/pull/19750 has been merged and we should hopefully have a master run with STP 94 in ~3 hours.

[2019-10-17 10:52] jgraham commented on #12697
Making `wpt run` take `--update-expectations` seems weird. I think the way this works for Chromium is likely different since that (aiui) has a single expectation file per platform, whereas we have one per test covering all platforms. So you can't (typically) update the expectations from a single run, but need to update using the logs from the full set of platforms (unless you happen to know that a

[2019-10-17 12:16] foolip commented on #12697
Maintaining expectations when we have different CI systems, browsers and platform involved definitely has its complications, and if there's something in Gecko that could be moved to WPT to help manage that, that'd be great.

However, this issue was filed about the tooling that does exist not working at all, and throwing an exception. I could reproduce it at the time and haven't tried using it sinc

[2019-10-17 13:58] foolip commented on #17186
Success! We now have results for STP 94 aligned with experimental Chrome and Firefox:
https://wpt.fyi/results/?run_id=315080029&run_id=315020045&run_id=317160019

We were stuck for a long time, let's hope STP 95 is a smooth upgrade :)

[2019-10-17 13:58] #17186 closed

[2019-10-17 14:19] clopez commented on #17186
Cool! :)

[2019-10-17 15:23] jdm opened #19763 "Expose number of different pixels for reftests in WPT logs"
When creating fuzziness annotations, right now it is necessary to run the failing test locally to see the output about how many pixels are different. If this information were exposed in the raw WPT logs, it would be a lot easier to create fuzziness annotations for tests that are run on CI platforms that are inconvenient to replicate.

cc @jgraham

[2019-10-17 16:06] foolip commented on #19753
I'm self-assigning this to fix the documentation, then @Hexcles will try the instructions on a new MacBook Pro.

[2019-10-17 16:44] Hexcles commented on #19763
This is a great idea! Once this is done, I'll surface the information in the reftest analyzer on wpt.fyi.

[2019-10-17 19:06] jgraham commented on #19763
I'm happy to mentor a patch for this. You basically want to add a `reftest_differences` key to the `extra` field of the log [1], with a format like `{max_difference: X, total_pixels: Y}`. You will also need to modify `is_pass` to return the observed differences [2] so they can be passed in. To get it into the `wptreport.json` file handle it at [3]. For bonus points also update the marionette execu

[2019-10-17 21:35] foolip opened #19772 "Edge Dev runs are not very reliable"
Looking at https://wpt.fyi/runs, Edge Dev runs have often been missing lately. Because Edge Dev is in the set that we use for the wpt.fyi front page, this is pretty serious, each failure delays the front page updating by 6 hours.

https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34764 is the most recent failure, and it looks from the logs of "all tests: Edge Dev 9" like Edge nev

[2019-10-17 22:02] foolip commented on #14618
Well, this didn't keep happening.

[2019-10-17 22:02] #14618 closed

[2019-10-17 22:02] foolip commented on #14617
This didn't keep happening, closing.

[2019-10-17 22:02] #14617 closed

[2019-10-17 22:02] foolip commented on #14602
https://github.com/web-platform-tests/rfcs/pull/33 should resolve this.

[2019-10-17 22:03] foolip commented on #13413
I'm not gonna fix this :)

[2019-10-17 22:03] #13413 closed

[2019-10-17 22:04] foolip commented on #12515
Fixed now.

[2019-10-17 22:04] #12515 closed

[2019-10-17 22:04] foolip commented on #11548
Documented in https://web-platform-tests.org/admin/.

[2019-10-17 22:04] #11548 closed

[2019-10-17 22:06] foolip commented on #4772
This could be tested now: https://web-platform-tests.org/writing-tests/file-names.html?highlight=.optional

[2019-10-17 22:11] foolip commented on #19772
This seems a lot like https://github.com/web-platform-tests/wpt/issues/18044 which just went away. Now it's back :)

[2019-10-17 22:11] foolip commented on #18583
This happened just once, or at leat I only saw it once.

[2019-10-17 22:11] #18583 closed

[2019-10-17 22:16] foolip commented on #19772
It is also a lot like https://github.com/web-platform-tests/wpt/issues/19005...

[2019-10-17 22:17] mustjab commented on #19772
@foolip It does look like on that machine Edge kept crashing, do we save any of the dump files into run artifacts?

When i look at the cleanup script, i see that we're failing to find uninstaller for Edge Dev channel:
Failed to unstall Edge from C:\Program Files (x86)\Microsoft\Edge Dev\Application. ERROR= Cannot bind argument to parameter 'Path' because it is null.

While on machines where Dev ch

[2019-10-17 22:19] foolip commented on #19772
@mustjab other than the logs and things we move into `$(Build.ArtifactStagingDirectory)` I don't think anything can be recovered.

Is there more verbose logging to files that we should enable? We could then make sure they are saved even on failure.

[2019-10-17 23:53] jan-ivar opened #19778 "Investigate upstreaming simulcast loopback test page as WPT test"
[TPAC ACTION](https://www.w3.org/2019/09/18-webrtc-minutes.html#ActionSummary): Florent to investigate upstreaming his simulcast loopback test page as WPT test

cc @Orphis

[2019-10-17 23:56] jan-ivar opened #19779 "Upload simple validation tests from webkit to WPT"
[TPAC ACTION](https://www.w3.org/2019/09/18-webrtc-minutes.html#ActionSummary): Youenn to upload simple validation tests from webkit to WPT

cc @youennf

[2019-10-18 00:05] grorg opened #19780 "Requiring cairo for 2dcontext tests is annoying"
The tool that generates the 2dcontext tests requires a python API for cairo, which of course requires the cairo library to be available. This is quite annoying (and I couldn't find good instructions on how to install the library, and even when I did I struggled to get the python virtual environment to load the library).

It seems it is mostly used to generate reference images. Why don't we use the

[2019-10-18 08:04] foolip commented on #19311
Oops, I just produced two more commits. I was using the VS Code GitHub integration and had set my upstream to 'master' when I tried to push the branch and create a pull request. I reverted immediately but it resulting in these two commits: 9e1d0a26f155ccb088d342b0036e535d033423c1, f3c657a4d9410c25f0e3c54149cb0e16a0d8c2d6

Sorry!

[2019-10-18 08:07] foolip commented on #18634
Because of the mishap described in https://github.com/web-platform-tests/wpt/issues/19311#issuecomment-543584515 there's now a commit on master that I could use to trigger a run to see if the `--exclude` arguments are still needed:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34808

(I had meant to do that test from a branch.)

[2019-10-18 08:07] foolip commented on #18635
Because of the mishap described in https://github.com/web-platform-tests/wpt/issues/19311#issuecomment-543584515 there's now a commit on master that I could use to trigger a run to see if the `--exclude` arguments are still needed:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34808

(I had meant to do that test from a branch.)

[2019-10-18 15:39] #18635 closed

[2019-10-18 17:13] mustjab commented on #19772
@foolip I was able to login to failing machine and inspect it's state and found that it had an instance of Edge process running that we couldn't close. This blocked uninstall of Edge to cleanup the folder properly, which affected Edge setup in subsequent runs.

I'll send a PR to add more logging and copy setup log files to artifacts folder to help us debug failures in the future.

[2019-10-18 19:31] foolip commented on #19772
Thanks @mustjab for the quick diagnostics and fix! I've already merged it, but leaving this open to see it working as intended for a few days before closing.

[2019-10-18 19:40] mustjab commented on #19772
@foolip Let me know if it doesn't work and i can investigate again on Monday.

[2019-10-19 00:20] jugglinmike commented on #6268
@foolip Sure. You've already answered the questions; I'll add pointers to the existing documentation.

This is today documented in [Running Tests from the Local System](https://web-platform-tests.org/running-tests/from-local-system.html):

See gh-16670 for the surprising amount of research necessary to produce that.

This is covered on the same page referenced above, under the heading "Via the bro

[2019-10-19 00:20] #6268 closed

[2019-10-19 06:33] foolip commented on #19753
There's some great background in https://github.com/web-platform-tests/wpt/pull/16670 on the current docs. @jugglinmike and @gsnedders should probably review any fix for this issues to make sure I do t mess it up.

[2019-10-19 06:33] foolip commented on #6268
Thanks @jugglinmike!

[2019-10-19 06:42] foolip commented on #19772
Unfortunately, the next build after this fix still failed:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34848

[2019-10-19 06:46] foolip commented on #19772
I've started https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34854 to retry it.

[2019-10-19 06:49] foolip commented on #19772
I think perhaps what happened there is that the restart logic kicked in, because the cleanup step failed.

[2019-10-19 12:29] foolip opened #19796 "WebKit exports remain open"
I just approved and merged https://github.com/web-platform-tests/wpt/pull/18756, but that should have been handled by the WebKit export process. Exports for WebKit changes that have landed in WebKit should be merged, and any abandoned ones should be closed.

There are also many [WebKit exports without the `webkit-export` label](https://github.com/web-platform-tests/wpt/pulls?utf8=%E2%9C%93&q=is%3A

[2019-10-20 05:52] foolip commented on #18669
Saw it happen again now on https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34864.

[2019-10-20 13:51] foolip commented on #19796
Note that I've manually added the webkit-export label to a bunch of PRs now, so the [linked query](https://github.com/web-platform-tests/wpt/pulls?utf8=%E2%9C%93&q=is%3Apr+%22WebKit+export+of%22+-label%3Awebkit-export) will be empty or have just a few PRs.

[2019-10-20 14:15] foolip commented on #19438
https://github.com/web-platform-tests/wpt/issues/8308 is similar to this, I didn't remember that there was an issue. Some work was done for it in https://github.com/web-platform-tests/wpt/pull/8980, but not merged.

[2019-10-20 14:20] foolip commented on #19772
The restart kicked in in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34870, manifesting as "w10c000009 lost communication with the server". That led to the wpt.fyi hook not being run, but all the results were collected.

I got the results into wpt.fyi by running `curl -f -s -S -d "artifact=edge-dev-results" -X POST https://wpt.fyi/api/checks/azure/34870` manually.

Not sure

[2019-10-20 14:23] foolip commented on #19796
A related problem has also occurred, where the export PR has been closed without being merged:
https://github.com/web-platform-tests/wpt/pull/13606#issuecomment-544255228

In either case the tests haven't ended up in the wpt repository.

[2019-10-21 03:18] guest271314 opened #19799 "[OffscreenCanvasRenderingContext2D] the-offscreen-canvas/2d.getcontext.exists.html contains redundant code that will not be reached when OffscreenCanvasRenderingContext2D is undefined"
At https://github.com/web-platform-tests/wpt/blob/master/offscreen-canvas/the-offscreen-canvas/2d.getcontext.exists.html the current code is

[code]
If `OffscreenCanvasRenderingContext2D` is `undefined` an exception will be thrown at Firefox and Nightly

`[Exception... "Method not implemented"  nsresult: "0x80004001 (NS_ERROR_NOT_IMPLEMENTED)"  location: "JS frame :: debugger eval code :: <TOP_LEV

[2019-10-21 10:16] foolip commented on #19796
Turns out those changes were exported in another PR: https://github.com/web-platform-tests/wpt/pull/13805#issuecomment-544447969

@youennf given that there can be multiple WebKit commits for a single bug, I wonder if there's any bookkeeping or audit script to ensure that no changes are accidentally lost in either direction? https://crbug.com/754619 is a Chromium issue about auditing our import/exp

[2019-10-21 13:09] foolip commented on #19201
This proposal actually won't work as-is for WebKit, because their export flow is different. There, the expectation is that the WPT PR is merged before the WebKit change. Using the draft state for these might not be natural. @youennf thoughts?

Aside: in https://github.com/web-platform-tests/wpt/issues/19796 it turned out that some PRs remaining open and unmerged after the WebKit change, but that's

[2019-10-21 14:50] mustjab commented on #19772
Looks like when we hit this issue then the results from that machine are unreliable. I'll login to failed machine and collect memory dump to see if we can identify the root cause of this issue.

[2019-10-21 16:21] foolip commented on #19772
OK, let's not automatically submit those results to wpt.fyi then. https://wpt.fyi/results/?run_id=346070001 is the run that I manually poked the endpoint for.

[Comparing it with the previous run](https://wpt.fyi/results/?q=is%3Adifferent&run_id=322960001&run_id=346070001) shows that mostly it's regressions, and some I checked are in the form of missing results.

I'll rename the product of that ru

[2019-10-21 16:22] foolip commented on #19772
Anyway, the good news is that Edge Dev runs have been pretty reliable over the weekend, and with the change https://github.com/web-platform-tests/wpt/pull/19792 seem capable of recovering from a bad state. So I'll resolve this. Many thanks, @mustjab!

[2019-10-21 16:25] foolip commented on #19772
Alright, the suspect run no longer appears in https://wpt.fyi/runs/?sha=43aa377085.

[2019-10-21 16:25] #19772 closed

[2019-10-22 11:51] foolip commented on #18669
Happened in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=34944 too, also in chunk 2 after about the same amount of time. Maybe there's some test there that uses a lot of memory...

[2019-10-22 16:09] Ms2ger opened #19829 "websockets/Create-Secure-extensions-empty.any.js is failing in all browsers"
Yes. The test is wrong or outdated. It needs to either use a new wsh handler which disables the permessage-deflate extension, or expect permessage-deflate to be present.

_Originally posted by @ricea in https://github.com/web-platform-tests/wpt/pull/19066#issuecomment-532114808_

[2019-10-22 23:24] marmeladema opened #19836 "Bytes vs str incompatibility between manifest and gitignore tools"
Hello everyone,

I am trying to improve compatibility for Python3 in servo (see https://github.com/servo/servo/issues/23607) and that leads me to also improve compatibility in wpt too.
I noticed that `tools/manifest` uses `tools/gitignore` to parse `.gitignore` files but the former expects to receive path as `bytes` whereas the latter expects path as `str`.
In Python2 those two types are the same

[2019-10-23 03:17] jdm commented on #19836
cc @gsnedders

[2019-10-23 07:16] foolip opened #19844 "Implement assert_precondition (RFC)"
This issue is to implement [RFC #16: 'PRECONDITION_FAILED' subtest result (status)
](https://github.com/web-platform-tests/rfcs/blob/master/rfcs/assert_precondition.md)

There are at least two parts to this:
- [mozlog needs to support PRECONDITION_FAILED test and subtest status](https://bugzilla.mozilla.org/show_bug.cgi?id=1589056) in mozilla-central
- [Add assert_precondition helper and PRECONDIT

[2019-10-23 07:20] foolip commented on #19844
The wpt side of this change should also update the documentation added in https://github.com/web-platform-tests/wpt/pull/19628.

[2019-10-23 08:16] foolip opened #19845 "`sudo safaridriver --enable` not working for Safari stable"
Just as [not running latest release of Safari Technology Preview](https://github.com/web-platform-tests/wpt/issues/17186) was resolved, the same [underlying issue with `sudo safaridriver --enable`](https://github.com/web-platform-tests/wpt/issues/17186#issuecomment-529862851) has begun affecting the daily Safari stable runs.

The [first failing build](https://dev.azure.com/web-platform-tests/wpt/_

[2019-10-23 08:35] foolip commented on #19845
[Manual build to double check that it's really broken on master](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35036) &ndash; it is.

[Manual build to check if upgrading to macOS Mojave fixes the problem](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35037) &ndash; it doesn't.

[2019-10-23 08:52] foolip commented on #19845
In [this test](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35038), `safaridriver --version` says "Included with Safari 13.0.1 (13608.2.11.1.10)". That is exactly the same as for the [last successful run](https://wpt.fyi/results/?run_id=324930001), so now I don't have any hypothesis for what's changed. I can't find any detailed information about the agent (VM) in Azure Pipel

[2019-10-23 09:19] foolip commented on #19845
I brought back an old plist hack in https://github.com/web-platform-tests/wpt/pull/19846 and it seems to be working.

[2019-10-23 09:26] foolip commented on #19845
https://github.com/web-platform-tests/wpt/pull/19846 has been merged and https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35044 is a manually triggered run of master for both Safari stable and TP. That should reveal if we're in a good state again.

[2019-10-23 10:39] foolip commented on #19844
The mozlog changes are up for review in https://phabricator.services.mozilla.com/D50175

[2019-10-23 11:35] foolip commented on #19845
Alright, we're good again. https://wpt.fyi/results/?diff&filter=ADC&run_id=324930001&run_id=313710016 shows no major regression between the old and new runs, probably mostly explained by actual changes to the tests and flakiness.

Downgrading the priority and updating title to match.

[2019-10-23 11:38] foolip commented on #19845
@burg do you have some idea of what happened here, and how likely it is that the safaridriver for Safari stable will get into the same state as STP was between 92 and 93, where no workaround at all for `sudo safaridriver --enable` seemed possible?

[2019-10-23 12:13] rhea1380 opened #19848 "handler.cc.com"

[2019-10-23 12:48] foolip commented on #17551
@saschanaz does your validator in webidl2.js cover this, or could it?

[2019-10-23 12:49] #19848 closed

[2019-10-23 13:04] saschanaz commented on #17551
It currently does not but the feature can be implemented.

[2019-10-23 13:16] zcorpan commented on #10655
The file linked above is no longer available. I had a local copy. I converted it back to csv and uploaded as a gist here

https://gist.github.com/zcorpan/b1a3272da3cca52e208b643416d10967

[2019-10-23 13:59] foolip commented on #17551
@saschanaz that would be great, collecting all validation in that single "idl_test validation" makes more sense to me than having a lot of subtests which will usually all pass.

Is a webidl2.js issue needed?

[2019-10-23 14:07] saschanaz commented on #17551
That would be great 👍

[2019-10-23 15:15] foolip commented on #17551
I've filed https://github.com/w3c/webidl2.js/issues/449, let's treat this issue as blocked on that.

[2019-10-23 15:17] #206 closed

[2019-10-23 15:24] burg commented on #19845
The next major release will include both fixes for —enable.

Sent from my Apple IIc

[2019-10-23 15:56] foolip commented on #19845
That's great, thanks @burg! I guess that'll be Safari 13.1 in ~6 months? Will safaridriver remain unchanged until then, or at least not roll in the changes that caused the problem in STP 92?

[2019-10-23 19:19] zcorpan commented on #10655
The file is available again. Weird :)

[2019-10-23 20:01] foolip commented on #18669
This happened in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35048 and https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35068 as well.

I've triggered https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35073 to run `vm_stat` every minute to see what memory growth looks like.

[2019-10-23 20:03] foolip commented on #18669
I've also manually retriggered the failed runs to see if we can get results to fill in the gaps:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35074
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35075

[2019-10-24 08:52] zcorpan commented on #19201
I wonder if it would be good to also have one common `export` label for all exports?

[2019-10-24 09:03] foolip commented on #19796
@zcorpan has filed https://bugs.webkit.org/show_bug.cgi?id=203359 consistently adding the label.

[2019-10-24 09:35] foolip commented on #19201
That would come in handy for filtering, yes.

[2019-10-24 13:46] jan-ivar opened #19866 "Don't queue ICE candidates in tests (remove coupleIceCandidates)"
[coupleIceCandidates](https://github.com/web-platform-tests/wpt/blob/c7cc6fdae3d7b44e5fa6c9950b9b8b4a4b395746/webrtc/RTCPeerConnection-helper.js#L218) is a wpt webrtc helper with this comment:
[code]
I see no spec support for needing to queue ice candidates to avoid intermittents. AFAIK this is only a problem in Chrome. If I'm wrong, and there's a spec flaw, I'm happy to be shown it, but no-one ha

[2019-10-24 13:58] henbos commented on #19866
So what is the time when addIceCandidate should be called? I don't think I understand the issue well enough.

I'm working on implementing an operations chain at the moment. I had SLD/SRD/createOffer/createAnswer in mind for this, but I should make use of the chain in addIceCandidate as well.

[2019-10-24 14:01] henbos commented on #19866
"That is: addIceCandidate gets queued behind any pending setRemoteDescription."

That would only be true if addIceCandidate is invoked before setRemoteDescription. Are we talking about the offer or answer? Different PCs have different operations chains, right?

[2019-10-24 15:37] henbos commented on #19866
If I understand correctly, one must not invoke addIceCandidate when we are in 'stable' state, is that correct?

[code]

I might imagine the answer to 1) is "no" due to promise magic, and pc2.SRD happening immediately on pc1.SLD resolving, before onicecandidate has had a chance to fire?

But what about 2)?

Anyway, I see this comment:

There may possibly be a Chrome bug here, I'm not sure. The WebR

[2019-10-24 15:40] henbos commented on #19866
@jan-ivar, @alvestrand
We should verify, but this would be a possible explanation.

[2019-10-24 16:16] foolip commented on #18669
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35073 reproduced the problem in job 2 and 5, with the `vm_stat` logging, yay!

A sample of the output from "all tests Safari Technology Preview 1":
[code]

The "Pages free:" number is probably a good place to start. 1714166 pages is ~7GB free.

The initial values:
[code]

And the final values:
[code]

So... I don't think this is a

[2019-10-24 16:29] foolip commented on #18669
Looking at the timestamps instead:
<table>
<tr><th>job</th><th>first</th><th>last</th><th>delta</th></tr>
<tr><td>1</td><td>2019-10-23T20:03:04.7903630Z</td><td>2019-10-23T21:43:05.4066580Z</td><td>100 min</td></tr>
<tr><td>2</td><td>2019-10-23T20:00:10.9870590Z</td><td>2019-10-23T20:18:25.4154710Z</td><td>18 min</td></tr>
<tr><td>3</td><td>2019-10-23T19:59:49.0202120Z</td><td>2019-10-23T21:38:14.

[2019-10-24 16:30] foolip commented on #18669
There mere size probably isn't the problem, the logs for job 2 and 5 where they end is still smaller than the full logs of the successful jobs.

[2019-10-24 16:43] mustjab commented on #18669
Thanks for this info! Updated ticket with pipeline team with info, they're still investigating and i'll let you know as soon as i hear back from them.

[2019-10-24 19:02] foolip commented on #18669
Thanks @mustjab! I'll keep monitoring this to see if things always seem to hang at the same point or not. If they do, then that's something to start from.

[2019-10-24 19:15] foolip commented on #18669
@mustjab one thing I've had in the back of my mind for a while and which might also help mitigate this issue is to increase runs of Edge and Safari from every 6 hours to every 3. Since we only trigger if something has changed that wouldn't be a 2x increase in load but actually 1.5, going by the commit distribution since mid-2017.

It's wouldn't change the required parallel builds, but still, do yo

[2019-10-24 21:39] jan-ivar commented on #19866
If Chrome is missing the [operations chain](https://w3c.github.io/webrtc-pc/#dfn-operations-chain) here, that would explain it!

Yes, it's [required by the spec](https://w3c.github.io/webrtc-pc/#dom-peerconnection-addicecandidate).

No, thanks to the chain, the state at time of invocation isn't important, order is. What matters is: one mustn't invoke addIceCandidate(candidate) before SRD(descripti

[2019-10-24 21:42] jan-ivar commented on #19866
Speaking of operations queue, [something else we should test](https://jsfiddle.net/jib1/4vhur53e/), but currently only works in Firefox.

[2019-10-24 21:47] alvestrand commented on #19866
"What matters is: one mustn't invoke addIceCandidate(candidate) before SRD(description) of the description the candidate belongs to."

How do we guarantee that? Queueing candidates until SRD is complete accomplishes it, but is overkill and not required by spec; queueing candidates until SRD starts would be according to spec; ensuring that candidates aren't created until SRD starts would also accom

[2019-10-24 22:18] foolip commented on #19322
@psaavedra I've submitted a PR to update just one branch, a new epochs/three_hourly, using `./wpt rev-list`, in https://github.com/web-platform-tests/wpt/pull/19873.

That's because I actually want to try using it on Azure Pipelines, and if it works it should be pretty simple to migrate the rest as detailed in this issue.

[2019-10-24 22:23] foolip commented on #19844
https://bugzilla.mozilla.org/show_bug.cgi?id=1589056 is now done, and the next step is for @jgraham to release mozlog 5.0.

[2019-10-24 22:39] Hexcles commented on #19322
Sorry for being late to the party. #19536 looks great to me, which however makes me wonder why we initially decided to implement this on the server side? I don't see this approach (implementing a subcommand in `wpt`) was discussed in the [original design](https://docs.google.com/document/d/1hh6aRMvn5PgiXI_afJg3biS4iXeuWXhOXmt01EPFDG0/edit). Did we simply miss it, or am I forgetting something?

[2019-10-24 22:40] smfr opened #19874 "css/css-values/calc-integer.html makes assumptions about z-index behavior"
css/css-values/calc-integer.html relies Gecko returning the specified value for z-index on a non-positioned element. Blink and WebKit don't support that, so return 'auto' from getComputedStyle(testElement).zIndex.

The test should make the element positioned, or choose a different integer property to test.

[2019-10-24 22:40] smfr commented on #19874
@emilio

[2019-10-24 23:19] mustjab commented on #18669
Sounds good, the machines that we maintain are running 24/7 so don't expect much increase in cost.

[2019-10-24 23:48] smfr commented on #19874
I filed webkit.org/b/203390 to fix webkit.

[2019-10-25 00:58] emilio commented on #19874
@smfr from https://drafts.csswg.org/cssom/#resolved-values, I don't see z-index in the list of properties that have special getComputedStyle behavior, so I think Gecko (and thus the test) is correct.

But I'm happy to tweak it so it tests what it wants to test, if that's better, ideally adding a separate test for the getComputedStyle z-index stuff.

[2019-10-25 01:42] jugglinmike opened #19875 "[WebCryptoAPI] Tests in worker contexts define zero subtests"
The tests in the `derive_bits_keys/` subdirectory are defined as ["multi-global" test](https://web-platform-tests.org/writing-tests/testharness.html#multi-global-tests), so they are run in Window and Worker contexts. They use a generative technique to define subtests, but in the Worker context, zero subtests are defined. Because no assertion is made about the number of subtests which should be cre

[2019-10-25 05:01] foolip commented on #18669
Great, let's try it!

[2019-10-25 06:46] alvestrand commented on #19866
the following code is legal, but will (I think) always fail:

pc1.oncandidate = (c) => pc2.setIceCandidate(c.candidate)
offer = await pc1.createOffer()
pc1.setLocalDescription()
setTimeout(pc2.setRemoteDescription(offer), 1)

there are multiple ways for someone to get the effect of the timeout without being very clear in his mind that this is going to happen. Using coupleIceCandidates() helps them

[2019-10-25 07:42] #4625 closed

[2019-10-25 07:42] foolip opened #19878 "Edge Canary runs failing on installation step"
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35156 failed all the Edge Canary jobs quickly on the installation step.

The logs say:
[code]

[2019-10-25 07:49] foolip commented on #19878
I've manually triggered https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35171 to try just Edge Canary again. That failed in the same way, so this is probably persistent.

@mustjab since the Edge Canary runs aren't the ones that show up on wpt.fyi by default (should they be?) I don't know what the priority of this should be, but not calling it urgent for now.

[2019-10-25 07:52] foolip commented on #19878
@stephenmcgruer this is the latest case of me looking at wpt.fyi/runs many times a day where we'd need better monitoring to keep things in shape if I were to look away.

[2019-10-25 09:35] foolip commented on #19878
Same failure in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35179, so by now I think we can confidently say this is persistent.

[2019-10-25 10:01] foolip commented on #19322
@Hexcles although I can't find the original public context, I was able to dig out from my inbox and notes a claim by me that @jgraham had said this somewhere:

This wasn't captured in the design doc as an alternative considered, but I know that @mdittmer and I discussed it. At the time, the running infrastructure was different, and in particular some part of https://github.com/web-platform-tests/r

[2019-10-25 10:04] foolip commented on #19322
Oh, also, at the time we didn't have Azure Pipelines or GitHub Actions to schedule actions at precise times of day, so we would still have needed some service running to perform that job. Before the announcer I had https://github.com/foolip/wpt-epochs-branch-updater running on my machine and that wasn't very robust :)

[2019-10-25 10:23] foolip commented on #18588
This has stopped happening.

[2019-10-25 10:23] #18588 closed

[2019-10-25 10:27] foolip commented on #6980
@cvazac I see that you did https://github.com/web-platform-tests/wpt/pull/13789 last year, does that cover the suggestions in this issue?

[2019-10-25 11:39] stephenmcgruer commented on #19367
Update: a fix was developed and landed in Chromium, it will be in the `79.0.3945.10` release. It is expected to come on the dev channel sometime next week.

[2019-10-25 11:43] foolip commented on #19367
Excellent, thanks @stephenmcgruer!

[2019-10-25 11:44] foolip commented on #19845
This is fixed now with a workaround, I'll close this and revert the workaround when it's no longer needed, probably when the runs break because it no longer works.

[2019-10-25 11:44] #19845 closed

[2019-10-25 11:47] foolip commented on #19844
https://pypi.org/project/mozlog/5.0/ is now released, thanks @jgraham!

[2019-10-25 12:43] foolip commented on #19844
Oops, we're going to get these errors:
[code]

@jgraham how can we resolve this? Do those also need new releases to fix this? Shall I send a mozilla-central patch that bumps the minor version of each?

[2019-10-25 12:58] foolip commented on #19844
Discussed on IRC. I've sent https://phabricator.services.mozilla.com/D50595.

[2019-10-25 13:43] henbos commented on #19866
My take:
- There MAY be a bug in Chrome where onicecandidate fires too early due to our threading model, this needs to be confirmed. There should definitely be a test that catches this out explicitly if this is the case, failing Chrome.
- (Assuming correct implementation) exchangeIceCandidates is only ever _not_ flaky under assumptions that pc2.SRD follows IMMEDIATELY after pc1.SLD. This seems lik

[2019-10-25 13:55] henbos commented on #19866
It doesn't have one, but it almost has one. It has a weird threading model that most of the time does the trick anyway. Basically, if you call SRD followed by addIceCandidate, this will _ALWAYS_ execute SRD before addIceCandidate. Why? Both SRD and addIceCandidate are executed, one after the other, on the same thread. Sometimes we block JS, and sometimes we don't, but we always get the same order.

[2019-10-25 14:05] jan-ivar commented on #19866
The above was in response to @alvestrand's *"How do we guarantee that?"*

[2019-10-25 15:23] Hexcles commented on #19322
That makes a lot of sense! Thanks, Philip!

[2019-10-25 15:42] jan-ivar opened #19890 "doSignalingHandshake"

[2019-10-25 15:45] zcorpan opened #19891 "[docs] no template for testdriver.js test"
https://web-platform-tests.org/writing-tests/test-templates.html should include a template similar to this one https://web-platform-tests.org/writing-tests/testdriver-tutorial.html#write-an-infra-test

cc @gsnedders @jugglinmike @foolip

[2019-10-25 15:47] zcorpan opened #19892 "[docs] Rename "testdriver.js Tutorial""
For https://web-platform-tests.org/writing-tests/testdriver-tutorial.html I expected to find a tutorial about how to use testdriver.js, but it's a tutorial about how to extend testdriver.js. This is explained at the top, but maybe the page title could be more specific? "How to extend testdriver.js" ?

cc @gsnedders @jugglinmike @foolip

[2019-10-25 15:52] jgraham commented on #19892
I think an even more pressing problem is that there isn't a tutorial on how to write a testdriver test. Although extending testdriver is a thing that people may reasonably want to do, you'd have to hope that it's not the common case compared to writing a test. The generated docs don't talk about how to use the `Actions` api at all (unless I'm missing something).

But yes, I agree with the premise

[2019-10-25 15:57] #19688 closed

[2019-10-25 15:57] #14429 closed

[2019-10-25 16:27] shvaikalesh commented on #5493
This was fixed by #19841 (please see https://github.com/web-platform-tests/wpt/pull/19841#discussion_r338567740).

//cc @jdm

[2019-10-25 16:35] jan-ivar commented on #19866
I'm happy to have identified the Chrome bug. Let's get that fixed, and *then* remove the helper that wallpapered over it for a year.

As to the benefits of helpers, that's subjective. I'm not against all helpers. I'm sympathetic to not having every test fail on behavior Y—the above is my compromise here—but my experience is that asynchronous helpers are problematic when done wrong, basically when

[2019-10-25 17:02] #5493 closed

[2019-10-25 17:19] mustjab commented on #19878
I'm testing a fix to this. The change is in cleanup code, so will require two runs to confirm it:

Run1 (expect failures): https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35216
Run2 (expect it to pass): https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35218

[2019-10-25 17:37] jan-ivar commented on #19890
Ironically, the spec provides an API for this: `pc.onnegotiationneeded`, which we're not using in tests.

What do I recommend? Options I see are:
1. Remove `doSignalingHandshake()` and let tests fend for themselves. It's not that much to write:
[code]
2. Adopt [doSignalingHandshakeEndOnFirst()](https://github.com/web-platform-tests/wpt/blob/98f4cb23e0c4e16c821721601f1c94c837803ee8/webrtc/RTCPeerCo

[2019-10-25 17:45] jan-ivar commented on #19866
For those, why not use the spec's abstraction for negotiation: perfect negotiation? Option 3 in https://github.com/web-platform-tests/wpt/issues/19890#issuecomment-546444576.

[2019-10-25 17:54] jgraham opened #19899 "Make wpt run pick the channel from the binary where possible and none is supplied"
Currently various bits of behaviour depends on the channel e.g. which prefs/flags are supplied to the browser (and in Chrome's case the WebDriver). However we don't attempt to figure out the correct channel from the binary so unless a user supplies the channel we can fail to do the right thing.

Firefox has `get_version_and_channel(self, binary)` in its `Browser` subclass. We should make this part

[2019-10-25 17:56] Hexcles commented on #19899
I like this idea! A saner default avoids problems like https://github.com/web-platform-tests/wpt/pull/19893#pullrequestreview-307353532

[2019-10-25 18:13] foolip commented on #19892
@LukeZielinski thoughts?

[2019-10-25 18:25] LukeZielinski commented on #19892
Renaming sgtm.

@jgraham This talks (albeit briefly) about what testdriver is for, and also mentions the `Actions` api: https://web-platform-tests.org/writing-tests/testdriver.html?highlight=testdriver

Happy to take suggestions for how to expand that doc as well.

[2019-10-25 18:37] jgraham commented on #19892
Oh right. I saw `action_sequence`— which is something you shouldn't use — in big letters and didn't notice that the text underneath suggested using a different API. I think not mentioning `action_sequence` at all would help or at least just making the docs say something like "this is an internal API; authors are expected to use the Actions builder instead", and have a seperate page or section for

[2019-10-25 18:39] LukeZielinski commented on #19892
Ahh ok. Cool, I can make these changes.

[2019-10-25 18:56] foolip commented on #19891
@LukeZielinski

[2019-10-25 20:58] jimsch commented on #19875
I have not any idea how to go about fixing this, but I believe from what I read in the pointers that the first statement is correct.  The tests are expected to be run in both contexts and they are expected to be independently validated in both.

[2019-10-25 21:44] gsnedders commented on #17577
@tabatkins we should fix this more generally than just here, really; test names we sanitize lone surrogates in but we don't seem to in assertion messages.

[2019-10-25 22:56] javifernandez opened #19903 "[css-text] Should word-break property be applied to wrapped line-boxes ?"
Let's consider the following test case (which is extracted from the word-break-break-all-inline-006.html test):

`<div style="font-family: monospace; width: 6.1ch;">aaaa<span stylle=" word-break: break-all;">bbbbbbbbbbb</span>ccccc</div>
`

This DOM implies the generation of 3 inline-boxes, one for each word ('aaaa', 'bbbbbbbbbbb' and 'ccccc'). Before applying the line-breaking rules, all the inli

[2019-10-26 00:48] jugglinmike opened #19908 "Worker completion conditions are inconsistent"
When testharness.js executes in a dedicated worker or a shared worker, it behaves as though configured with the `explicit_done` setting. That is: it requires test authors to invoke the global `done` function once all tests are defined.

However, [this function is *automatically* invoked in the code generated for "multi-global" tests](https://github.com/web-platform-tests/wpt/blob/b1e94422f865fe7aa

[2019-10-26 00:49] jugglinmike commented on #19875
This seems to result from a peculiarity of WPT's "multi-global" feature. The `done` function is invoked immediately from the code generated to run these tests, so the harness reports results before all the subtests have been declared.

There's an ad-hoc solution to correct this test, but the right solution may be to modify the infrastructure instead. I've submitted a patch to correct these tests (

[2019-10-26 06:48] foolip commented on #19311
Hah, I did it again! This time I blame the GitHub web UI:
https://github.com/web-platform-tests/wpt/commit/4c854cc5c691210bf631bfce23a0f50ddb06f4b8#commitcomment-35674629

[2019-10-26 07:54] foolip commented on #16081
This was fixed in https://github.com/web-platform-tests/wpt/pull/16136.

[2019-10-26 07:54] #16081 closed

[2019-10-26 07:55] foolip commented on #16081
I would like to keep gzip indefinitely, because it simplifies any tooling that needs all manifests if you can always assume that exists.

[2019-10-26 08:32] kojiishi commented on #19903
I think Gecko and Blink (ng) are correct. We resolved not to define before the last "b" or after, but "c" should not overflow.

[2019-10-26 09:22] foolip commented on #19753
I tried to builds to compare [`sudo easy_install pip`](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35271), which is now used on Azure Pipelines, to [`sudo python -m ensurepip`](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35272), which is what the docs recommend modulo the `sudo`.

It looks like they both install the binary at `/usr/local/bin/pip` and

[2019-10-26 09:24] foolip commented on #19753
https://setuptools.readthedocs.io/en/latest/easy_install.html says that `easy_install` is deprecated and that you should use `pip`. That's funny when trying to install `pip`, but it suggests we should keep recommending `python -m ensurepip`. I'll try switching Azure Pipelines to that to ensure that it works.

[2019-10-26 09:56] jfkthame commented on #19903
The [spec for `break-all`](https://drafts.csswg.org/css-text-3/#valdef-word-break-break-all) says that:

My interpretation is that in this example, all the _b_'s have the `break-all` value, so the boundary between the last _b_ and the first _c_ is treated as <ID, AL>, and a break is permitted. It's as if the _b_'s were CJK ideographs.

However, there was debate about this, with the alternative vie

[2019-10-27 21:44] foolip commented on #19753
@Hexcles helped try `python -m ensurepip` in https://github.com/web-platform-tests/wpt/pull/19927#issuecomment-546733677.

Can you also try it with `--user` and see if that does anything useful?

[2019-10-27 21:46] Hexcles commented on #19753
https://github.com/web-platform-tests/wpt/pull/19932#issuecomment-546735156

[2019-10-27 22:25] foolip opened #19936 "wptrunner getting started docs are no longer correct/relevant"
https://web-platform-tests.org/tools/wptrunner/docs/usage.html is very stale, suggesting to clone https://github.com/w3c/wptrunner.git. It's from before the repos were merged.

[2019-10-28 08:24] javifernandez commented on #19903
I have two questions:

1- What does "undefined" exactly means in this case ? is there or now a breaking opportunity after the last 'b' ? I guess the spec needs some edit to clarify this in any case, as the issue #3897 still has the NeedsEdits label.

2- What part of the spec I should take as reference to implement the "but 'c' should not overflow' part ?

[2019-10-28 08:44] Ms2ger commented on #19908
Background:

When adding `any.js` tests, the problem was the inconsistency between window and other variants. Doing nothing special would cause the window variant to finish on receiving the "load" event, while the worker variants would time out unless `done()` was called manually. I'd hit the failure mode of trying to figure out whyever my tests were timing out a bunch of time, so I ended up decid

[2019-10-28 09:09] Ms2ger opened #19944 "Consider running update-built-tests.sh job unconditionally"
See https://github.com/web-platform-tests/wpt/pull/19888#pullrequestreview-307230672

CC @jugglinmike @foolip @jgraham

[2019-10-28 11:36] foolip commented on #19944
Unconditionally seems OK with me, but it's Mozilla's CI resources :)

[2019-10-28 12:10] foolip commented on #19844
Those three packages now have updated releases. Thanks @jgraham!

[2019-10-28 12:13] foolip commented on #19844
mozlog itself updated in https://github.com/web-platform-tests/wpt/pull/19884

[2019-10-28 12:59] jfkthame commented on #19903
I believe the spec is currently unclear, as discussed in w3c/csswg-drafts#3897. By my interpretation of `break-all`, there is a break opportunity after the last "b", but by the alternative interpretation some people favored, there isn't; and the most recent CSS WG discussion resolved to leave it undefined for now, per https://github.com/w3c/csswg-drafts/issues/3897#issuecomment-532057510.

https:/

[2019-10-28 14:14] #19878 closed

[2019-10-28 15:57] foolip commented on #19878
@mustjab it looks like there's now some other problem, with jobs not starting at all. Can you take a look?

https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35328
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=35341

[2019-10-28 18:25] mustjab commented on #19878
@foolip Looks like our job to re-create Windows VMs, which we run 3 times a week, failed early this morning and we ended up with no agents in the Windows machine pool.

I'm re-running the VM creation job right now, will let you know when it completes.

[2019-10-28 20:26] foolip commented on #19878
Thanks @mustjab! If it isn't a quick fix can you file an issue to track it?

[2019-10-28 20:26] mustjab commented on #19878
New VMs are generated now. The error was due to us changing ownership of the Azure subscription, which led to us not able to delete old set of VMs, so creation of new VMs failed.

[2019-10-28 20:37] mustjab commented on #19878
The issue is already fixed with an update to our pipeline for creating new VMs. Next scheduled VM refresh is on Wednesday, i'll keep an eye on it to make sure it goes smoothly.

[2019-10-28 20:58] foolip commented on #19878
Does that mean there won't be any Edge Dev/Canary runs before Wednesday? The Edge Dev runs in particular hold back the wpt.fyi frontpage, so if manually triggering VM creation is possible that'd be great. Sorry if this is a hassle :/

[2019-10-28 21:19] mustjab commented on #19878
No, all runs should be back to normal now, I've manually triggered the pipeline and we have 25 VMs up and running.

[2019-10-28 22:54] clopez opened #19961 "Timeouts with WebKitGTK tests on taskcluster"
Runs with WebKitGTK on taskcluster time out from time to time (Maybe a 40% of the runs).

This is a summary of the last runs with the nightly channel for webkitgtk from branch ```epochs/daily```
* Oct 27 [TC run](https://tools.taskcluster.net/groups/WQvdvH3fRzCXwcFmiMwI3Q) for 2a8f52c037: Timeout in testharness-16
* Oct 26 [TC run](https://tools.taskcluster.net/groups/RdSCO0lKRuCj-J3WWtMh3g) for 5

[2019-10-28 23:21] foolip commented on #19878
@mustjab thank you, that's great!

[2019-10-29 00:12] clopez commented on #19961
After landing the match logger in #19814 that adds timestamps I can see that its timing out  because the whole step is taking too long, but not because some specific test hangs.

For example, let's analyze the first two logs for testharness-16:

[code]

The first one failed due to timeout, and the second one finished OK, but with a very small margin (7115 seconds vs 7200 timeout)

To dig further i

[2019-10-29 00:26] clopez commented on #19961
I have opened https://bugs.webkit.org/show_bug.cgi?id=203544 on the WebKit side to track and fix this issue

[2019-10-29 06:33] foolip commented on #19961
Great find! Those tests have a huge number of subtests, so that may have something to do with it..

[2019-10-29 09:17] marmeladema commented on #19836
Friendly ping :-)
Has anyone had time to look at this?
Maybe @jgraham ?

[2019-10-29 14:33] foolip opened #19975 "Edge Dev runs failing due to MSEdgeDriver/MSEdge version mismatch"
The Edge Dev runs have been failing persistently for ~24h, starting just as https://github.com/web-platform-tests/wpt/issues/19878 was resolved and possibly related to the fix for that, which included https://github.com/web-platform-tests/wpt/pull/19898 and [regenerating the VMs](https://github.com/web-platform-tests/wpt/issues/19878#issuecomment-547130813).

Failures so far from oldest to newest:

[2019-10-29 15:43] mustjab commented on #19975
Looks like our Canary runs downloaded WebDriver binary v80 and subsequent runs on the same machine for Dev channel, which is still at v79, are failing. We'll need to add removal of msedgedriver.exe to our cleanup script.

[2019-10-29 15:47] foolip commented on #19975
Ah, that makes sense. So much to clean up :)

[2019-10-29 15:56] stephenmcgruer commented on #19975
Ah excellent, this lets me test a theory. https://ecosystem-infra-rotation.appspot.com/ has a section for wpt.fyi stable runs (and experimental), but I can see atm that it is green. Looks like it doesn't check for Edge, that should be a reasonably straight-forward fix.

Which is still not automated alerting; that's still on my further-out radar

[2019-10-29 16:16] henbos commented on #19866
I've documented the problem here:
https://bugs.chromium.org/p/chromium/issues/detail?id=1019232

[2019-10-29 19:03] gsnedders commented on #19836
See also #8820.

I don't think it makes sense to really look at `gitignore` in isolation here.

So there's a few bits that make this complex here:

*  The manifest loads the paths from either `os.listdir` (`str`, practically) or from the existing JSON file (`unicode`/`str`).
 * These paths get compared with gitignores (which are parsed from the file as `str`).
 * We also have the paths in `vcs.Git

[2019-10-29 20:24] psaavedra commented on #19322
New PR related to the task defined in this issue:  https://github.com/web-platform-tests/wpt/pull/19977

... based on the previous conversation here https://github.com/web-platform-tests/wpt/pull/19536#issuecomment-543065572

[2019-10-30 22:13] foolip commented on #19322
@psaavedra with https://github.com/web-platform-tests/wpt/pull/19984 merged I think all that remains here is removing the code in wpt-pr-bot and monitoring that all branches continue to be updated once that change is deployed.

(I would expect that wpt-pr-bot currently usually beats the epochs workflow, so only by turning it off will we see all branches really modified by the workflow.)

[2019-10-30 22:36] foolip commented on #19975
@mustjab https://wpt.fyi/runs has recovered now, did you do something or was it the weekly VM refresh that got things back on track?

[2019-10-31 05:54] foolip opened #20014 "[docs] published docs require horizontal scrolling on mobile"
Attempting to read through https://web-platform-tests.org/writing-tests/making-a-testing-plan.html on a Pixel 3 is hard because the page is just a little bit wider than the viewport, requiring scrolling. Scrolled to the rightmost edge in this screenshot to demonstrate:

![Screenshot_20191031-065409](https://user-images.githubusercontent.com/498917/67922538-48bf8080-fbab-11e9-96af-ee6e843be772.png)

[2019-10-31 10:35] #19367 closed

[2019-10-31 10:55] psaavedra commented on #19322
Not sure if I catch you all but what I understood is a PR like this one that I created a moment ago: https://github.com/web-platform-tests/wpt-pr-bot/pull/111. Not sure about the *monitoring* a part of keep tuned watching how the epoch branches are  being updated.

[2019-10-31 11:33] foolip commented on #19322
https://github.com/web-platform-tests/wpt-pr-bot/pull/111 looks great!

For monitoring, keeping an eye on https://github.com/web-platform-tests/wpt/actions?query=workflow%3Aepochs in the week following

[2019-10-31 13:54] zcorpan commented on #19039
https://web-platform-tests.org/writing-tests/making-a-testing-plan.html#sequence cites a drag and drop bug as an example of where it would have been good to have an automated test. There are some [manual tests in wpt for drag and drop events](https://github.com/web-platform-tests/wpt/tree/master/html/editing/dnd/events). Can they be automated with webdriver mouse commands? Or does webdriver need t

[2019-10-31 14:55] de-robat commented on #19039
Well, i've written a showcase that does exactly that. Describing how a drag operation is supposed to be run and which events should be run in which order.

I'm using the performAction function of webdriver to do so.

https://github.com/de-robat/example-wdio5-cucumber-tests/tree/master/tests/1st-scenario-dnd

But as shown, the expectations are not met. So i figured that maybe the mouse move is not

[2019-10-31 15:08] foolip opened #20019 "Don't require virtualenv to be on PATH"
When working on https://github.com/web-platform-tests/wpt/pull/19940 I had this question: do `pip` and `virtualenv` really need to be on PATH, or could the instructions be simplified by using them as modules instead?

It looks like `./wpt run` never invokes `pip` internally, and running without `pip` on PATH works.

For `virtualenv`, however, not having it on PATH runs into this code:
https://gith

[2019-10-31 15:21] graouts opened #20020 "css/css-animations/keyframes-remove-documentElement-crash.html causes a harness failure"
The test at [css/css-animations/keyframes-remove-documentElement-crash.html](http://web-platform-tests.live/css/css-animations/keyframes-remove-documentElement-crash.html) causes a harness failure because it removes the `<body>` element:

[code]

I'm not sure what the right way would be to address this given the test design. It does seem somewhat arbitrary that this test exists in the WPT suite th

[2019-10-31 16:01] de-robat commented on #19039
I can most certainly take a look if i can transform the test into testdriver.js . Don't know it yet so will take a while to figure it out.

The aformentioned bug is an issue, but not the cause of my problem. There are way more defined events than dragstart > drop > dropend, wich happen before the dragend but are not provoked by testautomation - which is the problem im after. But thanks for pointin

[2019-10-31 16:11] foolip commented on #20019
Actually, that `pip_path` helper is not analogous to what I'm suggesting. That'll be the `_venv/bin/pip` binary, it doesn't find `pip` outside of PATH, like in ~/Library/Python/2.7/bin/pip.

[2019-10-31 16:45] mustjab commented on #19975
Yes, I've re-created VMs and also ran my change to cleanup Edge driver binaries (PR: https://github.com/web-platform-tests/wpt/pull/20023).

[2019-10-31 17:08] LukeZielinski commented on #20019
In Chromium, we set --skip-venv-setup and also set --venv to a directory with an already-setup venv.

[2019-10-31 17:23] foolip commented on #20019
I tried https://github.com/web-platform-tests/wpt/pull/20026 and for me locally on macOS, it means `PATH` doesn't need to be modified.

[2019-10-31 18:35] jugglinmike commented on #19578
We're done! Here are the relevant pull requests:

- [#20031 - [preload] Opt-in to single-page test feature](https://github.com/web-platform-tests/wpt/pull/20031)
- [#19925 - [FileAPI] Opt-in to single-page test feature](https://github.com/web-platform-tests/wpt/pull/19925)
- [#19924 - [compat] Refactor test](https://github.com/web-platform-tests/wpt/pull/19924)
- [#19923 - [content-security-policy

[2019-10-31 18:56] foolip opened #20035 "`./wpt` commands won't work on Fedora which has no `python` binary"
In https://github.com/web-platform-tests/wpt/pull/19940#discussion_r341174482, it became clear that the documentation we have wouldn't work for Fedora, and to get `./wpt run` working would require having `python` on the path, which apparently no Fedora package provides.

@clopez wrote:

Python 3 is tracked by https://github.com/web-platform-tests/wpt/issues/8820.

[2019-10-31 19:00] jugglinmike commented on #19578
Following up in gh-20036

[2019-10-31 19:00] #19578 closed

[2019-10-31 23:31] foolip commented on #19039
@LukeZielinski can you take a look at this? I'm pretty sure we have some drag'n'drop tests in Blink, maybe this would allow them to be shared?

[2019-11-01 02:03] foolip commented on #17186
For anyone following along here, you may be happy to know that the upgrade from STP 94 to 95 was fast and smooth. The only point of human intervention there was in approving/merging https://github.com/Homebrew/homebrew-cask-versions/pull/8076.

[2019-11-01 16:57] foolip commented on #19961
@clopez this is persistent, right? Is there no workaround that'd give us results back? @smfr was asking today at https://webkit.org/meeting/ how often WebKitGTK is run, and I had to admit there's a problem right now. But target is daily WebKitGTK experimental and weekly WebKitGTK stable. (STP runs 8 times a day, and Safari stable runs daily.)

[2019-11-01 20:03] jugglinmike opened #20052 "[WebCryptoAPI] Stability job unable to run tests to completion"
The stability of the tests in the `WebCryptoAPI/derive_bits_keys/` directory cannot be verified on Taskcluster because they require too much time to complete. This makes it difficult for contributors to submit modifications to these tests via the WPT repository directly.

@foolip [reported this](https://github.com/web-platform-tests/wpt/pull/19904#issuecomment-548744717) in gh-19904:

cc @jimsch

[2019-11-01 22:55] foolip commented on #19796
@rniwa this is the issue I mentioned at https://webkit.org/meeting/ with strange things happening with WPT exports. https://github.com/web-platform-tests/wpt/pull/18756 was one case.

[2019-11-01 23:46] foolip commented on #19844
This came up at our [improving interop with WPT](https://drive.google.com/open?id=1MsgJLrBxMtBL1bqC4wPCY2Xf45NM5wU5) talk at https://webkit.org/meeting/ today.

When this is resolved, if there are tests that pass spuriously in WebKit, or that fail when they shouldn't have been run, then `assert_precondition` could be used to allow filtering out those cases in wpt.fyi.

@cdumez @othermaciej @smfr @

[2019-11-02 01:33] foolip opened #20057 "Enable more features in STP"
https://github.com/web-platform-tests/wpt/blob/ac527a6087fc4c16a81ab001470d9e4e114c94b9/tools/ci/azure/install_safari.yml#L11

@smfr what addition things should we enable here?

[2019-11-02 03:05] smfr commented on #19844
Any test in ambient-light, battery-status, bluetooth, vibration on Safari.

[2019-11-02 03:27] smfr opened #20058 "Many tests fail on Safari and Edge because of font antialiasing differences"
Digging into Safari CSS test failures, many of them are caused by differences in font rendering in tests that assume that Ahem glyphs will produce sharp-edged boxes that can be compared with CSS backgrounds. Some random examples:

https://wpt.fyi/results/css/CSS2/text/painting-order-underline-001.xht?label=master&label=experimental&aligned
https://wpt.fyi/results/css/CSS2/text/white-space-applies-

[2019-11-02 03:28] smfr commented on #20058
@foolip since we were talking about this at the webkit contributors meeting.

[2019-11-02 17:48] smfr opened #20060 "Remove reftest.list files?"
I think reftest.list files are a [vestige of Mozilla imports](https://developer.mozilla.org/en-US/docs/Mozilla/QA/web-platform-tests#Metadata) and aren't used any more. Should they be removed to avoid confusion?

wpt % find . -name reftest.list
./css/vendor-imports/mozilla/mozilla-central-reftests/background/reftest.list
./css/vendor-imports/mozilla/mozilla-central-reftests/color4/reftest.list
./c

[2019-11-02 17:53] smfr commented on #20058
See also issue #5498

[2019-11-02 17:53] smfr commented on #20058
@litherum does https://github.com/web-platform-tests/wpt/issues/5498#issuecomment-292548863 apply to Cocoa platforms?

[2019-11-02 18:55] foolip commented on #17856
I discussed this to varying degrees at https://webkit.org/meeting/ with @dcrousso and Jonathan Bedard (handle?).

I think `man safaridriver` has a lot more useful detail than in any of the online docs, so I've exported it here: https://gist.github.com/foolip/a0d7ac345a67a09a709ef7b28b3924ce

[2019-11-02 19:24] smfr commented on #10808
These also have missing images in the refs:
css/css-backgrounds/css3-border-image-repeat-repeat.html
css/css-backgrounds/css3-border-image-repeat-stretch.html

[2019-11-02 21:16] jgraham commented on #20060
There is a plan to remove the vendor-imports directory but it would help not to make other changes to it in the interim. AFAIK it's OK to remove the other `reftest.list` files.

[2019-11-02 21:53] TalbotG commented on #10808
[css-backgrounds-3] border-image-slice-007 bad linkage to its border-image-source
http://lists.w3.org/Archives/Public/public-css-testsuite/2016Dec/0000.html
December 1st 2016

[css-backgrounds-3] border-image-slice-005 bad linkage to its border-image-source
http://lists.w3.org/Archives/Public/public-css-testsuite/2016Dec/0004.html
December 1st 2016

[css-backgrounds] css3-border-image-repeat-stret

[2019-11-02 22:42] foolip commented on #17856
I had this slide in https://trac.webkit.org/wiki/ImprovingInteropwithWPT:
![2019 WebKit Contributors Meeting - Improving interop with WPT 028](https://user-images.githubusercontent.com/498917/68076526-e44f1d80-fd72-11e9-8124-e61945d206c9.jpeg)

My wish immediately came true, with the clues I got and just using `{"platformName": "iOS"}` as a constraint I got `./wpt run` churning through tests on a

[2019-11-03 00:05] foolip commented on #20058
https://github.com/web-platform-tests/wpt/issues/5498 is about hidpi and our Safari runs on Azure Pipelines actually have a 1:1 pixel ratio, but perhaps there’s another connection?

Is there a way to disable font antialiasing in Safari or in macOS system-wise? If so we could to a trial run and compare how many tests are affected by it.

Do WebKit layout tests with any extra settings to avoid this

[2019-11-03 13:18] jgraham commented on #20058
We spent a bumch of time looking at this for Firefox runs on macos. I think the final approach was to disable antialiasing specificaly for Ahem in test runs:

https://searchfox.org/mozilla-central/source/testing/profiles/web-platform/user.js#26
https://searchfox.org/mozilla-central/source/gfx/thebes/gfxFont.cpp#795

@gsnedders and I also spent some time looking at modifying Ahem itself to disable

[2019-11-04 08:29] psaavedra commented on #19322
For the record: https://github.com/web-platform-tests/wpt-pr-bot/pull/111#issuecomment-549232537 .

[2019-11-04 09:01] foolip commented on #19322
@psaavedra I think this issue can be closed now, or do you know of any loose ends that should be tied up?

[2019-11-04 09:55] psaavedra commented on #19322
No. I think everything is done right now. Let's close it.

On Mon, Nov 4, 2019, 10:01 Philip Jägenstedt <notifications@github.com>
wrote:

[2019-11-04 10:52] #19322 closed

[2019-11-04 10:52] foolip commented on #19322
Thanks @psaavedra! This all went well as I'd hoped :)

[2019-11-04 11:11] #20060 closed

[2019-11-04 11:11] foolip commented on #20060
I closed this with https://github.com/web-platform-tests/wpt/pull/20066, but @jgraham is there an issue that @smfr can follow about vendor-imports being merged into wpt proper?

[2019-11-04 13:08] foolip commented on #19844
Thanks @smfr, I've included one spurious vibration pass in https://github.com/web-platform-tests/wpt/pull/19993 to show how it works, and *that* it works.

[2019-11-04 15:20] foolip commented on #19975
Edge Dev runs in https://wpt.fyi/runs have recovered, so I'll close this issue now. Thanks @mustjab!

[2019-11-04 15:24] #19975 closed

[2019-11-04 15:39] #19892 closed

[2019-11-04 15:40] #10716 closed

[2019-11-04 17:14] ericlaw1979 opened #20070 "README.md says "Run lint described below""
...but there's no lint described below.

[2019-11-04 18:24] Hexcles commented on #20070
Darn, it should be *above*.

[2019-11-04 18:34] #19891 closed

[2019-11-04 19:11] #20070 closed

[2019-11-05 10:17] Ms2ger commented on #8820
CC @ericlaw1979; help is welcome.

[2019-11-05 17:00] EdgarChen opened #20091 "Some tests for define() in CustomElementRegistry.html doesn't match spec"
Like,

https://github.com/web-platform-tests/wpt/blob/fee4534917ef1f0a38706a9975c0348088edb2c4/custom-elements/CustomElementRegistry.html#L220-L230

Test expects only "prototype" property is getting from constructor, but according to the spec,

https://html.spec.whatwg.org/multipage/custom-elements.html#dom-customelementregistry-define

"disabledFeatures" and "formAssociated" are also from the con

[2019-11-05 17:59] clopez commented on #19961
This has been consistently timing out, but I hope it will get better now that https://bugs.webkit.org/show_bug.cgi?id=203544 have been fixed. If it doesn't get better I'm afraid I will ask just for raising the taskcluster timeout value. Let's wait a few days to see how it behaves now that it has landed.

[2019-11-05 18:21] domenic commented on #20091
These tests were likely not updated when those new features were added. Updating them would be great.

[2019-11-05 21:18] EdgarChen commented on #20091
I will send a PR to udpate the tests. Thanks.

[2019-11-05 23:43] foolip commented on #19875
@jugglinmike https://github.com/web-platform-tests/wpt/pull/19904 is merged, so I'll close this. https://github.com/web-platform-tests/wpt/issues/19908 is the potential follow-up.

Please reopen if this was not right.

[2019-11-05 23:43] #19875 closed

[2019-11-06 02:38] stephenmcgruer commented on #20020
Interestingly, it seems to work ok under `wpt run` (I presume, based on https://wpt.fyi/results/css/css-animations/keyframes-remove-documentElement-crash.html?label=master&label=experimental&aligned&q=css%2Fcss-animations%2Fkeyframes-remove-documentelement-crash.html).

I think it's worth taking a quick look at it from the infra side, to understand what the difference is there.

In terms of whethe

[2019-11-06 05:00] clopez opened #20106 "TaskCluster is not running tests from branches other than master"
Meanwhile checking if the issue with #19961 was resolved or not, I have notified that TaskCluster is not running anymore the tests from any of the ```epochs/*``` or ```triggers/*``` branches.

You can see this for example [on the daily branch](https://github.com/web-platform-tests/wpt/commits/epochs/daily): if you click on the last commit you will see taskcluster run, but if you pay attention that

[2019-11-06 08:36] #20091 closed

[2019-11-06 11:17] foolip commented on #10552
@zcorpan is this something you're planning to tackle? It looks like I end up adding them more often that I'd like:
- https://github.com/web-platform-tests/wpt/pull/13791
- https://github.com/web-platform-tests/wpt/pull/19729
- https://github.com/web-platform-tests/wpt/pull/19860

[2019-11-06 12:08] zcorpan commented on #10552
I can try to fit this in as part of the review velocity work.

[2019-11-06 13:15] foolip commented on #20106
@stephenmcgruer I guess this is why stable builds are gone, and also a case where better monitoring might have identified the cause earlier. (Because the severity would have been more obvious if notes WebKitGTK runs also missing.)

@jgraham I've assigned to you, are you able to look into this?

[2019-11-06 14:31] foolip commented on #20020
https://github.com/web-platform-tests/rfcs/pull/33 is adding proper support for crash tests in WPT and then this could probably be rewritten to not use testharness.js and thus avoid the problem entirely.

There are differences between `./wpt run` and navigating to a test on wpt.live, but exactly what the relevant difference is here I don't know.

[2019-11-06 15:02] foolip commented on #19836
@Hexcles

[2019-11-06 18:07] Hexcles opened #20133 "Chrome crashes on Community-TC"
We started Taskcluster migration (https://bugzilla.mozilla.org/show_bug.cgi?id=1574668) and now we are seeing widespread Chrome crashes on the new Community-TC instance.

Example: https://community-tc.services.mozilla.com/tasks/aMcaEBP4RIKa_EbrE30xJw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FaMcaEBP4RIKa_EbrE30xJw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs

[2019-11-06 18:09] Hexcles commented on #20133
cc @jgraham

[2019-11-06 18:59] stephenmcgruer commented on #20106
I think the monitoring that would have worked here would have had to be reacting to (or checking for) expected taskcluster events. We knew that stable was missing; @Hexcles just thought it was the github outage since that was going on at the same time. I don't think knowing that WebKitGTK was missing too would have caused us to assume anything else than the github outage took that out too.

That s

[2019-11-06 21:58] Hexcles commented on #20133
We are *certain* that Chrome is failing to start in Docker:

which is a rather common problem, c.f. [Puppeteer troubleshooting doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker).

We have a few **workarounds on the Docker side** as seen [here](https://forums.docker.com/t/dockerizing-chrome-security-questions/45614):

Our understanding is

[2019-11-06 22:04] Hexcles commented on #20133
None of the aforementioned workarounds were used previously. We are not sure why it used to work, but have a theory that a different sandboxing mechanism was used because of old kernel version.

On the old taskcluster.net instance, github-worker runs a 14.04-based image. According to [Chromium docs](https://chromium.googlesource.com/chromium/src.git/+/master/docs/linux_sandboxing.md#sandbox-types-

[2019-11-06 22:53] Hexcles commented on #20133
We have two immediate fix candidates:

* https://github.com/web-platform-tests/wpt/pull/20134 turn on priviledged mode
* https://github.com/web-platform-tests/wpt/pull/20136 disable Chrome sandboxing

[2019-11-07 16:33] gsnedders commented on #20058
[Here's a run](https://wpt.fyi/results/?diff&filter=ADC&run_id=345030013&run_id=337300017) where the gasp table is set to not do grayscale or grid-fitting, which clearly makes no difference here.

[2019-11-07 19:11] #20133 closed

[2019-11-07 19:14] stephenmcgruer commented on #20133
We believe that bc83451 should resolve this, by disabling the Chrome sandbox when running under the new taskcluster instances. Long term, we should investigate adding support to TaskCluster for custom seccomp profiles, but hopefully this puts out the fire for now.

🔥 <-- 🚒

[2019-11-07 20:28] davidben opened #20159 "Cannot test TLS or TLS-adjacent platform features"
Filing this issue per @foolip's request since this [routinely](https://groups.google.com/a/chromium.org/d/msg/blink-dev/HgDaX3qW0IY/AYg6t_oaDwAJ) [comes](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/KeQ2s0z6ZkM/YQK_MUuXBgAJ) [up](https://github.com/w3c/resource-timing/issues/199). I don't have permissions to add labels, so could someone add type:untestable to this?

WPT doesn't h

[2019-11-07 20:44] foolip commented on #20159
Paging @web-platform-tests/wpt-core-team for thoughts. See also https://github.com/web-platform-tests/wpt/issues/8391, although I don't think we have a clear idea of *how* slow compared to other stacks and *why*.

[2019-11-07 20:54] davidben commented on #20159
Oh, interesting. When I say Python is too slow for crypto, I usually mean that it's unsuitable for production uses. That may not directly effect WPT, but it has the second-order effect that the Python crypto ecosystem is largely native bindings, so WPT cannot draw on that.

But, yeah, if WPT is already slow even with native bindings for TLS, adding a pure-Python TLS with pure-Python crypto primiti

[2019-11-07 21:34] burg commented on #17856
This should work. Please file a bug.

[2019-11-07 21:44] foolip commented on #17856
I think actually that last problem is just because I wasn’t pointing the device at the wptserve instance that is started by `./wpt run`, so it boils down to the first DNS problem.

[2019-11-08 12:48] #19844 closed

[2019-11-08 18:05] jugglinmike opened #20180 "[offscreen-canvas] Procedurally-generated tests are invalid"
Many of the tests which are generated programmatically report results before any assertions are made. The tests' "template" code defines a single subtest:

    var t = async_test("%(escaped_desc)s");
    t.step(function() {

    var offscreenCanvas = new OffscreenCanvas(100, 50);
    var ctx = offscreenCanvas.getContext('2d');

    %(code)s
    t.done();

    });

Although declared using the `asyn

[2019-11-08 18:07] clopez commented on #20106
This seems to have worked now that i pushed master again to [branch triggers/webkitgtk_minibrowser_nightly](https://github.com/web-platform-tests/wpt/commits/triggers/webkitgtk_minibrowser_nightly)
Let's wait to see if it gets fixed also for the ```epochs/daily``` branch

[2019-11-09 01:04] guest271314 commented on #20180
Another issue, as described at https://github.com/web-platform-tests/wpt/issues/19799 and https://github.com/web-platform-tests/wpt/pull/19818 is that

[code]
throws an error at Firefox due to `OffscreenCanvasRenderingContext2D` not being implemented. As suggested, for completeness, the exisitence of `OffscreenCanvasRenderingContext2D` could be checked before executing `getContext()`. The result o

[2019-11-10 20:47] guest271314 commented on #20180
@annevk If in fact the specification does mandate that the return value for `getContext("2d")` MUST be `null` https://github.com/web-platform-tests/wpt/pull/19818#issuecomment-544839988 should not the relevant `OffscreenCanvasRenderingContext2D` tests actually test https://bugzilla.mozilla.org/show_bug.cgi?id=801176#c147 for that output?

[2019-11-11 02:45] stephenmcgruer commented on #19874
Filed https://crbug.com/1023232 to fix Chrome

[2019-11-11 12:44] stephenmcgruer commented on #20159
I'm marking this `priority:roadmap`, because I think this is something we need to consider some sort of story for in 2020. The ultimate answer might be that TLS/TLS-adjacent platform features are out of our scope, or it might mean developing a better network stack for wpt, but we need to figure out what that answer is.

I believe @Hexcles mentioned having had historical thoughts on this, which the

[2019-11-11 13:39] clopez commented on #20106
Unfortunately this issue continues to happen on the `epochs/daily` branch:

On [the last commit from yesterday](https://github.com/web-platform-tests/wpt/commit/f291a09ba5cb8db34f801d03cf5f98cf0c507a9a#comments) on that branch there are 2 errors from taskcluster logged (`data.metadata.owner should match format "email"`) and there are not runs registered for chrome/stable firefox/stable or webkitgt

[2019-11-11 13:44] jgraham commented on #20106
I'm assuming the problem here is that the method of creating those branches changed and it actually doesn't provide a valid email address. So the question is, which process now pushes those branches?

[2019-11-11 13:47] clopez commented on #20106
Trying to guess what can cause this error this may be because the one (the bot doing that) that pushes commits to the epochs branches has an invalid e-mail for its account?? The [taskcluster definition sets data.metadata.owner = ${event.pusher.email}](https://github.com/web-platform-tests/wpt/blob/e55cca7a/.taskcluster.yml#L76)

[2019-11-11 13:50] jgraham commented on #20106
Yes, exactly. So either we fix the pusher (which seems to be a GH action) to have something like a valid email address or we handle the case where we don't have an email address in the taskcluster definition.

[2019-11-11 14:45] clopez commented on #20106
Right, this points to be an issue with GH actions.
The pusher for the action seems to be [pushing as the special user x-access-token user](https://github.com/web-platform-tests/wpt/blob/e55cca7a/tools/ci/epochs_update.sh#L44)

[2019-11-11 15:36] foolip commented on #20106
We could use a wpt-pr-bot token just to get an email address, but that would be unfortunate when GitHub Actions provides a way to avoid storing a long-term token even as a secret.

[2019-11-11 15:39] foolip commented on #20106
@jgraham can you help find where to file an issue for this? I've come up empty with a [search for "should match format" in taskcluster](https://github.com/taskcluster/taskcluster/search?q=%22should+match+format%22&unscoped_q=%22should+match+format%22)...

[2019-11-11 15:39] clopez commented on #20106
I was trying to test something like this
[code]

But I'm finding difficult to test it, the new community-tc is failing to work as expected on my wpt fork

[2019-11-11 15:43] foolip commented on #20106
@clopez that's a promising workaround! Can you try it on a branch in this repo instead?

I don't know what `${event.pusher.name}` will resolve to, but it'd probably be best to use a fixed email address and not that of the person committing. A large fraction of commits will be the head of a triggers branch at some point, and notifications of failures there should go to wpt infra maintainers, not th

[2019-11-11 15:44] jgraham commented on #20106
The "should match format" is presumably generated by the json schema validation library. So that string isn't going to appear in the taskcluster source.

I think @clopez's fix is the easiest thing to do in the short term. But I don't know that `in` is valid jsone; I remember this stuff being hard to do.

[2019-11-11 15:55] jgraham commented on #20106
Oh, it's in the docs, so either that changed or I misremembered. So I think that patch is reasonable and will happily approve it if there's some evidence it actually works.

[2019-11-11 16:20] clopez commented on #20106
I can try, but I would need the `GITHUB_TOKEN` password to push as `x-access-token`. If you can share that with me, then I can try here in a branch.

[2019-11-11 16:23] jgraham commented on #20106
If you push to a trigger branch and things run I'm confident we won't break master and so we can merge and at the worst we don't fix the problem.

[2019-11-11 16:29] foolip commented on #20106
@clopez the token that's causing the problem is one from GitHub Actions. To know it works before landing a change you would need to arrange for GitHub Actions to push a change to a branch that would trigger a Taskcluster run. But as @jgraham says it's probably fine to experiment directly on master since things are already broken.

[2019-11-11 16:34] Hexcles commented on #20106
@clopez no one has access to the token. It's a black box. https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token

[2019-11-11 17:29] clopez commented on #20106
I have opened PR #20199 with the above patch.

I [tested it on the branch ```triggers/webkitgtk_minibrowser_nightly``` and it seems to work as expected](https://github.com/web-platform-tests/wpt/commit/f838a6ffaf88b65cc6438b60578ebbbf485f4109).

I also tested that it works on the else condition (metadata.owner = clopez@users.noreply.github.com)

But until the github action triggers I can't be 100%

[2019-11-12 08:53] foolip commented on #20106
Looks like it didn't work: https://github.com/web-platform-tests/wpt/commit/dfb9b28271#commitcomment-35904695

New error is "InterpreterError at template.tasks[0].metadata.owner: Infix: in expects Array, string, or object on right side"

[2019-11-12 08:54] foolip commented on #20106
@clopez I've reassigned to you since you've already begun working on this.

[2019-11-12 10:28] iVanlIsh opened #20204 "Tests failed because of the difference between DNS and `/etc/hosts` lookups."
Several tests for testing the fetch method with trailing dot failed due to `/etc/hosts` setting issues and should work with actual DNS lookup.

Failed tests: https://wpt.fyi/results/fetch/metadata/trailing-dot.tentative.https.sub.html?label=experimental&label=master&aligned

Explanation of the failing: https://bugs.chromium.org/p/chromium/issues/detail?id=1022788#c4

[2019-11-12 10:29] iVanlIsh commented on #20204
cc: @mikewest

[2019-11-12 14:20] clopez commented on #20106
I opened PR #20211 with a second attempt at fix this

[2019-11-12 17:49] mugdhalakhani opened #20215 "Infrastructure needs for testing Periodic Background Sync API"
Periodic Background Sync (https://github.com/WICG/BackgroundSync/blob/master/explainers/periodicsync-explainer.md) has been in Origin Trial since Chrome 77.

In order to enable creating a shared test suite for the API, additional testing infrastructure would be necessary for the following non-comprehensive list of items:

- Influencing the status of the permission required by the feature: Not havi

[2019-11-12 18:43] clopez commented on #19233
That works as expected. I have opened PR #20213 with a patch that implements passing that list.

[2019-11-13 00:48] rayankans opened #20222 "Infrastructure needs for testing GetInstalledRelatedApps"
GetInstalledRelatedApps ([spec](https://wicg.github.io/get-installed-related-apps/spec)) is an API for checking whether a _related_ native app is installed on the device.

It's hard to create a useful shared test-suite right now without the ability to install apps in the testing environment. I'm not sure how feasible that would be though.

[2019-11-13 01:23] stephenmcgruer commented on #20106
Still... failing... I think? (Caveat: jetlagged)

https://github.com/web-platform-tests/wpt/commit/29675aba0993eb9543825568753a1b01385c7c28#commitcomment-35924646

"data.metadata.owner should match format "email""

Note: we're now at 10 days without a stable run. I am getting more concerned. @foolip

[2019-11-13 01:45] clopez commented on #20106
Let's try again.. I opened PR #20224 this time modiying the taskcluster config to trigger also on the branch ```epochs/three_hourly``` to speed up testing (this will be reverted once things work as expected)

[2019-11-13 02:30] jugglinmike opened #20226 "[content-security-policy] `script-src-strict_dynamic_in_img-src.html` is imprecise"
[This test](https://github.com/web-platform-tests/wpt/blob/760485a4f652813d1f195ee28042c391cf2fdc02/content-security-policy/script-src/script-src-strict_dynamic_in_img-src.html) includes an assertion that the `securitypolicyviolation` is not fired at the window. Chromium incorrectly fires the event, but because it does so *after* testing is completed, the failure is not reported.

The harness shou

[2019-11-13 03:12] clopez commented on #20058
Related: #13010

[2019-11-13 08:14] foolip commented on #20106
I just did `git push --force-with-lease origin origin/epochs/daily:triggers/firefox_stable` and might do a few more. Mentioning this to not confuse anyone, it's not the epochs/* triggers that have suddenly begun working.

[2019-11-13 08:19] foolip commented on #20106
Triggered task groups: [Chrome stable](https://community-tc.services.mozilla.com/tasks/groups/LQqRXE3HRqKtlAWZNGJDpg) and [Firefox stable](https://community-tc.services.mozilla.com/tasks/groups/Ns8UXQYcTk2jS1-eBjFf1A)

Chrome/Firefox beta didn't work however, 500 InternalServerError: https://github.com/web-platform-tests/wpt/commit/f291a09ba5#commitcomment-35928798

[2019-11-13 12:34] clopez commented on #20106
I see that branches triggers/chrome_beta and triggers/firefox_beta are currently on f291a09ba5 which is previous to 689b968cd1. Likely that explains it

I hope that if they are updated to current master, then taskcluster run will work.
Note: I have merged beff32767b on master.

[2019-11-13 13:54] clopez commented on #20058
A possible solution for Safari is disabling font antialiasing with the non-standard CSS ```-webkit-font-smoothing``` property.

The following patch makes the test `css/CSS2/text/painting-order-underline-001-ref.xht` pass on Safari TP

[code]

It is needed to set ```-webkit-font-smoothing: none``` both on the test and the reference because
once you set it on the test (to the whole document) it not

[2019-11-13 14:14] clopez commented on #20058
Note that the WebKit layout test test-runner ```run-webkit-tests``` [does something like that](https://trac.webkit.org/browser/webkit/trunk/Tools/WebKitTestRunner/TestController.cpp?rev=252365#L967).
So it happens that any of this test will pass on on WebKit if run as layout test, but fail if run with the WPT test runner

[2019-11-13 15:33] jgraham commented on #20058
If we could set a pref or an environment variable to disable font smoothing — for all text or Ahem in particular — that seems better to me than trying to hack the CSS provided to the tests, in case the latter has unexpected side effects. The fact that the layout test runner already does that does seem like evidence that this should be exposed to wpt as well.

[2019-11-13 15:33] Hexcles commented on #20106
Here's another idea. Can we hard code in `.taskcluster.yml` an email address (e.g. a bot account) as the owner of the `epochs/*` pushes?

[2019-11-13 16:11] clopez commented on #20106
Good idea. I have opened PR #20232 with that

[2019-11-13 16:23] clopez commented on #20106
Hopefully once we get the first runs from github actions this can be improved, as taskcluster shows you the json from github when you click on "_View task definition_" for a given task (at the end of the json it shows it includes an ``` "extra": { "github_event":``` with all the details)

[2019-11-13 18:23] clopez commented on #20106
It seems [it worked! ](https://github.com/web-platform-tests/wpt/commits/epochs/three_hourly) \o/
And now I know why it was failing before:
* event.sender.login is ```github-actions[bot]``` which likely is not valid for as uid of an e-mail (because of the ```[]``` characters)
* event.pusher.email is ```null```

[2019-11-13 18:34] Hexcles commented on #20106
Darn!

So I'm in favour of keeping #20232 as the permanent solution.

[2019-11-13 20:35] foolip commented on #20106
https://github.com/web-platform-tests/wpt/pull/20232 seems fine to keep permanently, but could we check event.pusher.email directly? Or was that one of the attempts that didn’t work out?

Let’s wait until we have the next daily runs triggered before closing this.

[2019-11-13 20:42] jgraham commented on #20106
Once we land the decision task we can write more complex logic here in Python rather than in json-e, and so fix this in a better way.

[2019-11-13 21:56] clopez commented on #20106
It was the first attempt: 689b968cd1f8848dc2c62928ffd1b20598be3537

And [it failed](https://github.com/web-platform-tests/wpt/commit/dfb9b282712436e313020da5871ab2bdca44e7c2#comments) with:
[code]

Maybe I should have null-checked it? ```'event.pusher.mail && "@" in event.pusher.email'```

[2019-11-13 22:00] clopez commented on #20106
Other useful thing (IMHO) would be that the errors that taskcluster writes as comments on the commits to be more verbose and to include more helpful debugging information like the whole json it has received that caused the error.

[2019-11-14 11:06] foolip commented on #20058
@smfr if we had a way to disable font smoothing with `defaults write com.apple.SafariTechnologyPreview WebKitSomethingSomething something` I think that could resolve this issue.

[2019-11-14 11:32] foolip commented on #17856
@burg per https://stackoverflow.com/a/3648775 it looks like for the iOS simulator it might work to just edit `/etc/hosts` of the macOS machine running it. Have you found that to work, or is it controlling the DNS of a real device that you've wanted to do before?

[2019-11-14 11:50] clopez commented on #20106
I have opened another PR doing this check #20249
I tested it with another variable that is null when i push (event.base_ref) and it worked on my tests.

[2019-11-14 11:56] clopez commented on #19233
Fixed in 513f82848f14ce777702a819f91c9f41c132af91

[2019-11-14 11:56] #19233 closed

[2019-11-14 15:56] smfr commented on #20058
That's the plan. We'll implement this in WebKit.

[2019-11-14 17:11] MatsPalmgren commented on #7760
It makes me sad that we can't write print mode WPTs to test UA interoperability in this area.
Given that both Chrome and Firefox are currently actively working on improving fragmentation support in general it would really benefit both teams if it would be possible to write WPTs for this.
CC @dbaron

[2019-11-14 17:15] jgraham commented on #7760
As documented in this thread, @gsnedders has a plan. I don't know what their schedule looks like, but if this is a priority for gecko layout developers we should talk because I think we could plan to do the work early next year.

[2019-11-14 18:11] clopez commented on #20106
Nice, it worked as expected on the branch [epochs/three_hourly](https://github.com/web-platform-tests/wpt/commits/epochs/three_hourly)

I think we can remove now the temporal trigger for this branch that was added to speed up testing and then close this issue.

[2019-11-14 18:13] stephenmcgruer commented on #20106
That's awesome! Thank you for your work resolving this, it has been a hard issue but so important to get fixed. Here's to getting our stable runs back!

[2019-11-14 18:19] clopez commented on #20106
Thanks! It has been time consuming fix this because of the lack of data that I had about what was happening between github and taskcluster and the difficulty to test changes. But in the end things are working back, so that's nice. stable runs back and webkitgtk nightlies also! ;)

I have opened PR #20255 for removing the temporal trigger on epochs/three_hourly

[2019-11-14 18:32] clopez opened #20256 "TaskCluster has a big queue and its slowing down processing the checks on pull requests"
This issue comes from: https://github.com/web-platform-tests/wpt/pull/20232#issuecomment-553491703

Since the move to the new community taskcluster it has been observed that it has a bigger queue and that processing pull-requests takes more time than desired.

A possible solution to this is to give more [priority on taskcluster](https://community-tc.services.mozilla.com/docs/manual/tasks/priority)

[2019-11-14 18:33] clopez commented on #20256
@jgraham I'm assigning this to you by request of @foolip.

[2019-11-14 20:07] jugglinmike commented on #5299
We just merged gh-17189, so the online documentation of the lint tool now describes every available rule (including MISSING-LINK):

https://web-platform-tests.org/writing-tests/lint-tool.html

And because that list is programatically generated, we can have more confidence that the documentation will remain up-to-date as the rule set changes.

[2019-11-14 20:07] #5299 closed

[2019-11-14 20:08] jugglinmike commented on #10501
We just merged gh-17189, so the online documentation of the lint tool now describes every available rule (including MISSING-TESTDRIVER-VENDOR):

https://web-platform-tests.org/writing-tests/lint-tool.html

And because that list is programmatically generated, we can have more confidence that the documentation will remain up-to-date as the rule set changes.

[2019-11-14 20:09] jugglinmike commented on #11479
We just merged gh-17189, so the online documentation of the lint tool now describes every available rule (including CONTENT-VISUAL):

https://web-platform-tests.org/writing-tests/lint-tool.html

And because that list is programmatically generated, we can have more confidence that the documentation will remain up-to-date as the rule set changes.

[2019-11-14 20:09] #11479 closed

[2019-11-14 20:10] #10501 closed

[2019-11-14 20:15] jgraham commented on #20256
@djmitche Is reduced capacity an expected effect of the transition? Is there some way to quantify it (obviously we could try to use historical timings from the tasks themselves, but maybe there's something easier)?

[2019-11-14 20:32] djmitche commented on #20256
Is the issue that jobs are taking longer, or that there are fewer works?

[2019-11-14 21:04] foolip commented on #20256
What we observe is that it takes longer for tasks to start, which might be because there are fewer workers overall, a limit on the number of parallel tasks, or something like that.

[2019-11-14 21:09] djmitche commented on #20256
An easy fix might be to increase the [number of workers](https://github.com/mozilla/community-tc-config/blob/master/config/projects.yml#L433).  A good indication of that would be seeing 40 running workers simultaneously

[2019-11-14 23:09] clopez commented on #20256
How that can be seen? If you go to https://community-tc.services.mozilla.com/provisioners/proj-wpt/worker-types/ci and you click on sort worker by "task state", it only sorts the current page.. you have to go through all the pages to see the ones running...  and there are many pages.

[2019-11-14 23:14] djmitche commented on #20256
Yeah, it's pretty bad, sorry.  We're working on that :)

Here's a short script that can list all of the workers via the API.  This can be tweaked or its output filtered through `jq` to find the running workers.

[code]

[2019-11-14 23:20] clopez commented on #20256
Nice!
[code]
It seems its full

[2019-11-14 23:22] djmitche commented on #20256
Cool -- want to make a PR to bump that to, say, 80?

[2019-11-14 23:23] clopez commented on #20256
I prefer to leave that to @jgraham
I don't know the implications (on resources spent/etc) of raising the number of works

[2019-11-14 23:44] djmitche commented on #20256
Sounds good.

[2019-11-14 23:53] foolip commented on #20256
The maximum number of parallel builds we have should be the weekly runs, when if there was also just a commit to master we’d have 3 Chrome channels, 3 Firefox channels and 2 WebKitGTK channels running. With 22 tasks per build (task group) that’s... 176.

To also be able to keep testing PRs at the same time we’d need at least 180.

[2019-11-15 01:00] clopez commented on #20106
And the final check worked: the [trigger on `epochs/daily`](https://github.com/web-platform-tests/wpt/commit/97717bdf67db429edf1bdd80daeaed63a2735091) went [as expected](https://community-tc.services.mozilla.com/tasks/groups/BbkmFrTlR0WTqVpdFayJFw). !
So I'm closing this.

However, I want to comment also that one of the runs for WebKitGTK failed for an issue [with pip that looks like related to un

[2019-11-15 01:00] #20106 closed

[2019-11-15 06:18] foolip commented on #20106
Yep, network errors frequently cause Taskcluster runs to fail. What I think we should do is monitor runs and figure out which causes of failure are most common, then fix those until the rate of failure is acceptable. @stephenmcgruer FYI.

[2019-11-15 06:42] litherum commented on #20058
Ah yes, the good old `WebKitSomethingSomething` default. That one’s my favorite. Very powerful.

[2019-11-15 10:17] jgraham commented on #20256
So the question is how the capacity compares to the previous capacity — which I think we agree was fine — not what's the theoretical maximum we might use. I don't remember if the old setup had a limit other than the global limits applying to Firefox CI.

In any case I'm happy to make a PR to raise the maximum capacity to 80.

[2019-11-15 10:24] jgraham commented on #20256
There are a few other things that will help here:
* Finish the decision task work so we are using the workers more efficiently (not spinning up workers for jobs that won't run)
* Ensure that periodic runs are scheduled for times when there aren't many PRs i.e. weekends

[2019-11-15 11:06] foolip opened #20269 "Avoid the use of BroadcastChannel (global state) in scroll-to-text-fragment tests"
In https://github.com/web-platform-tests/wpt/pull/20184 the scroll-to-text-fragment.html test was found to be flaky, which @stephenmcgruer and @nickburris discussed in the [Chromium CL](https://chromium-review.googlesource.com/c/chromium/src/+/1903624/7#message-dc718a7b6310caf8e945d29d2c465475aa032809).

It sounds like the problem is with the use of BroadcastChannel. Filing this issue to track usi

[2019-11-15 11:07] foolip commented on #20269
@nickburris also, can you add a META.yml to this directory? And maybe rename https://wicg.github.io/ScrollToTextFragment/ to https://wicg.github.io/scroll-to-text-fragment/?

[2019-11-15 11:24] foolip commented on #20256
The peak demand is at UTC midnight between Sunday and Monday, at which time there might be some people who are getting to work in APAC, but I'd guess is probably still a pretty good time. If we have trouble we could look at some stats for when during the weekend PR activity is at its lowest and pick that time.

[2019-11-15 11:28] foolip commented on #20256
At every UTC midnight there will be 3 parallel builds in addition to whatever was triggered by master commits, so 80 will probably make the queuing time acceptable.

However, if we want to budget the peak usage (as opposed to total usage as before) then we should probably run Taskcluster on a schedule as well to not trigger lots of runs when many PRs are quickly. This can happen when Chromium's ex

[2019-11-15 11:39] jgraham commented on #20256
One idea I had, which is a little engineering work, but possible, is to make the epoch builds run in series rather than in parallel; you'd set things up so that the Firefox jobs would depend on the Chrome jobs and the WebKit jobs would depend on the Firefox jobs (and the dependency would be just that they had run, not that they had succeeded). So there are a bunch of options here, just need to wor

[2019-11-15 12:09] zcorpan commented on #20159
Switching away from Python for `wptserve` I think would also impact https://github.com/web-platform-tests/rfcs/pull/23 (cc @louaybassbouss)

[2019-11-15 12:14] foolip commented on #20058
That's great, thanks @smfr!

@clopez can you follow that issue and see how the same thing might be exposed in WebKitGTK?

[2019-11-15 14:00] djmitche commented on #20256
Some thoughts based on my experience:
* Things tend to "just work out" and within an order of approximation you (well, Mozilla) are paying for the time the tasks take, whether in parallel or series.
* Workers are started dynamically, so a maxCapacity is really just a limit on total dollars per minute spent.  If your load is spiky, it's fine to have a maxCapacity that suits the spikes (say 80%), an

[2019-11-15 14:22] jgraham commented on #20256
I had fully forgotten about the priority field. Yes, we should definitely arrange things so that the priority of PR jobs is higher than master runs is higher than epoch runs, or something like that (maybe master and epoch should be the same).

[2019-11-15 20:09] jgraham commented on #20159
We had this conversation at TPAC relating Quic [1].

The summary of that discussion is that whilst people would like to move away from Python for various things (I'd love to rewrite some components in Rust, for example; the manifest update is a clear example of where we've reached the limits of pure-Python performance), there are significant deployment challenges with adding compiled components to

[2019-11-15 20:30] bzbarsky opened #20281 "idlharness.js does not check that default value types make sense"
If you do something like:

    dictionary Foo {
      boolean x = null;
    };

or

    interface Foo {
      void foo(optional DOMString arg = 27);
    };

idlharness.js happily parses those.  Ideally it would fail on the type mismatches...

[2019-11-15 20:55] jan-ivar opened #20282 "test_driver.click(button) doesn't work in iframes"
The awesome user gesture automation tool `test_driver.click()` added in web-platform-tests/wpt#6897, unfortunately doesn't work in iframes, which blocks us from testing the ["display-capture"](https://w3c.github.io/mediacapture-screen-share/#feature-policy-integration-0) feature-policy, because [getDisplayMedia](https://w3c.github.io/mediacapture-screen-share/#dom-mediadevices-getdisplaymedia) req

[2019-11-15 21:32] gsnedders commented on #20282
#17260 should have made it work, I thought. Maybe it doesn't, maybe we regressed it. :(

[2019-11-15 21:41] gsnedders commented on #20058
Someone (me?) should probably sit down and go through all the prefs Gecko sets and figure out what we need as prefs to alter behaviour and ensure we have them all documented.

[2019-11-15 21:54] gsnedders opened #20284 "Check what preferences need to be set to run tests reliably"
See also #20068

Per https://searchfox.org/mozilla-central/source/testing/profiles/profiles.json, Firefox applies a bunch of different pref files: [base](https://searchfox.org/mozilla-central/source/testing/profiles/base/user.js), [common](https://searchfox.org/mozilla-central/source/testing/profiles/common/user.js), [unittest-required](https://searchfox.org/mozilla-central/source/testing/profiles

[2019-11-15 22:05] gsnedders commented on #20284
@jgraham this certainly used to set `layout.css.dpi` but it doesn't seem to nowadays? (cf #5498)

[2019-11-15 22:14] jugglinmike commented on #8420
Resolved via gh-11011.

[2019-11-15 22:14] #8420 closed

[2019-11-15 22:29] jugglinmike commented on #14003
@foolip We never did come to a conclusion for unprintable characters in test names, but now that Edge has a new WebDriver implementation which tolerates that case ([as evidenced by recent test
results](https://wpt.fyi/results/css/selectors/attribute-selectors/attribute-case/syntax.html?label=experimental&label=master&aligned)), the issue is less relevant. I'm going to un-assign myself and recommen

[2019-11-15 23:00] jugglinmike commented on #6574
@jgraham It's been a few years since you reported this, and I'm not aware of any recent problems with stability. Do you think it's safe to close?

[2019-11-15 23:36] foolip commented on #14003
Alright, I'll just go ahead and close this because without something to surface the problem it won't ever be a priority for anyone.

[2019-11-15 23:36] #14003 closed

[2019-11-16 02:13] nickburris commented on #20269
Thanks for filing this! Sure, I'll also add a META file and I'll look into renaming the wicg repo.

[2019-11-16 18:55] smfr opened #20287 "[css-values] min() and max() tests don't follow the spec unit ordering"
css/css-values/minmax-length-percent-serialize.html has, for example:

``
test_valid_length_percent('min(1px + 1%)', 'min(1px + 1%)');
``

https://drafts.csswg.org/css-values-4/#sort-a-calculations-children says that units are sorted with % before lengths, so the output should be ``min(1% + 1px)``

[2019-11-16 18:55] smfr commented on #20287
@xiaochengh

[2019-11-17 20:37] guest271314 opened #20293 "Display browser preferences/flags used at wpt.fyi"
Navigate to the page https://wpt.fyi/interop/offscreen-canvas/the-offscreen-canvas/2d.getcontext.exists.html?diff&filter=ADC&run_id=358480001&run_id=343560004.

Hover mouse over

which displays, in pertinent part

Is `/testing/profiles/` publicly stored and accessible?

Implement a means to display the preferences/flags launch settings for the browsers used at the wpt.fyi page.

[2019-11-19 02:39] gsnedders commented on #7760
From my point of view: I have a plan, it's not a priority as far as those funding me are currently concerned (as print remains relatively niche and not a significant interop issue for users, and other fragmentation cases like multicol can be tested with those features), and therefore it's likely to remain a plan for the foreseeable future unless someone pays me to do it.

[2019-11-19 02:49] dbaron commented on #7760
I should note that the Gecko reftest harness renamed what used to be called `reftest-print` to [`reftest-paged`](https://searchfox.org/mozilla-central/rev/131338e5017bc0283d86fb73844407b9a2155c98/layout/tools/reftest/README.txt#650-679) to avoid confusion with a newer [print testing mechanism](https://searchfox.org/mozilla-central/rev/131338e5017bc0283d86fb73844407b9a2155c98/layout/tools/reftest/R

[2019-11-19 03:00] gsnedders commented on #20159
Above and beyond @jgraham's comment above:

I think we need to have a clear definition of what we expect the scope for WPT to be.

Originally, it didn't include any network layer tests (okay, it relied on HTTP semantics in places, but certainly nothing lower level). Later we added tests for an API that was directly wedded to a protocol (WebSocket) by introducing a server for that. HTTP/2 has a ver

[2019-11-19 03:02] gsnedders commented on #7760
That makes it sound like we probably want to have *both* paged and print output tests?

[2019-11-19 03:37] davidben commented on #20159
Error conditions is not an accurate characterization of the scope here. Random web platform features may cross the divide. For instance, the resource timing APIs need to have defined interaction with 0-RTT, which is where this most recently came up.

If the answer is any web platform feature which interacts with modern features of bits under HTTP is out of scope for WPT, that's a fine answer. It's

[2019-11-19 04:06] dbaron commented on #7760
I think the newish print testing mechanism is currently used mainly for pretty implementation-specific things... although that's also because it's currently pretty limited in how it does comparisons.  It's likely possible to design a single mechanism that has the advantages of both.

[2019-11-19 11:20] zcorpan commented on #8355
The WebDriver spec is getting some new primitives here: https://github.com/w3c/webdriver/pull/1444

We could [extend testdriver.js](https://web-platform-tests.org/writing-tests/testdriver-extension-tutorial.html) to use the new WebDriver commands, which would enable testing computed role and computed label.

cc @alice @jugglinmike @spectranaut @AutomatedTester

[2019-11-19 15:04] jan-ivar commented on #20282
@gsnedders [We're hitting](https://github.com/web-platform-tests/wpt/pull/20314/files#diff-3d959b7cd0491e20b2de4f01f05f680cR16) this line: https://github.com/web-platform-tests/wpt/blob/bdad828b7b7d796eaa4e8ecdcf0156d7172d8ce7/resources/testdriver.js#L99

[2019-11-19 15:14] gsnedders commented on #17792
cc/ @Honry who wrote these tests, admittedly years ago. (also @domenic and @annevk in case they know)

[2019-11-19 15:14] jan-ivar commented on #20282
And I tried removing that line, but it then causes timeouts—presumably from missing buttons?
[code]
They used to pass before we [added user gesture](https://bugzil.la/1580944) in Firefox.

[2019-11-19 15:48] foolip commented on #16229
I've confirmed that https://github.com/web-platform-tests/wpt/issues/18634 is all that remains.

These runs all have results from 36411 tests: https://wpt.fyi/results/?run_id=362500002 https://wpt.fyi/results/?run_id=364420003 https://wpt.fyi/results/?run_id=362520001 https://wpt.fyi/results/?run_id=352740005

And only the inert tests differ between Safari preview and failure: https://wpt.fyi/resu

[2019-11-19 15:48] #16229 closed

[2019-11-19 16:04] annevk commented on #17792
The other problem with this test is the `if ('capture' in HTMLInputElement.prototype) {` conditional. If this is a tentative test it should be marked as such, but it shouldn't contain optional parts.

[2019-11-19 16:09] foolip commented on #17027
https://wpt.fyi/results/html/dom?run_id=352740001&run_id=376000001 shows that this works in WebKitGTK but not Safari.

@clopez could you look into this and file an issue for safaridriver, or for WebKit if you can spot the problem there?

[2019-11-19 16:18] foolip commented on #18669
This continues to happen, https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=36734 is a recent case. Running more often means it's not a huge problem when one fails, but when Safari stable fails it's more noticeable.

@mustjab have you heard anything on the internal issue tracking this?

[2019-11-19 16:22] domenic commented on #17792
Yes, I think it should be null instead of empty string. And also the file should be renamed to something like `HTMLInputElement-capture`, and the conditional-ness removed.

[2019-11-19 16:24] mustjab commented on #18669
The ticket with pipeline team is still active and is under investigation. They haven't been able to repro this issue yet and it looks like by the time we share failed runs they don't have enough info to determine the root cause.

[2019-11-19 16:26] foolip commented on #18669
It reproduces for us regularly, so if there's any debugging we can add to our live jobs to help find the cause, we can absolutely do that.

[2019-11-19 16:31] foolip opened #20324 "Safari stable runs are failing within Azure Pipelines startup"
Safari stable builds have begun failing since last Saturday:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=36673
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=36682
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=36694
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=36760

The failure is in the "all tests: Safari 5

[2019-11-19 16:33] gsnedders commented on #20204
From @ricea on the Chromium issue:

Presumably we should just generate the dot-suffixed forms when generating `/etc/hosts` too?

[2019-11-19 16:37] gsnedders commented on #19961
@clopez does this look better now?

[2019-11-19 16:49] gsnedders commented on #20282
Well that doesn't seem very useful. We should fix this more usefully. 🙃

[2019-11-19 16:50] gsnedders commented on #17027
IIRC, @burg filed a Radar issue for this.

[2019-11-19 16:52] burg commented on #17027
I have filed an issue and haven't looked into it yet.

[2019-11-19 16:57] javifernandez opened #20325 "[css-text] trailing-ideographic-space-003 test is incorrect"
The [trailing-ideographic-space-003](https://github.com/web-platform-tests/wpt/blob/master/css/css-text/white-space/trailing-ideographic-space-003.html) test defines an incorrect expected result, according to the resolution of the [ICU issue 20843](https://unicode-org.atlassian.net/browse/ICU-20843).

The tests tries to verify that the trailing ideographic spaces hang when the text overflows. Howe

[2019-11-19 17:13] gsnedders commented on #20159
FWIW, I'm not opposed to having it all in WPT, we just need to address who will maintain the requisite infrastructure and how we'll get that running across all browser CI systems.

[2019-11-19 17:30] mustjab commented on #20324
Forwarded this issue to Azure Pipelines Mac team. I suspect that it is due to 10.13 but can't confirm yet.

[2019-11-19 17:31] mustjab commented on #18669
Do you have data on how often we see this issue in Mac runs? They do have a capacity issue on Macs that they're working to address.

[2019-11-19 17:33] foolip commented on #20324
Thanks! I’ll self-assign this to keep track of it.

[2019-11-19 18:57] jugglinmike commented on #20159
Well-said, @gsnedders

[2019-11-19 19:37] foolip commented on #17027
Alright, great! Is there a public ID for it in case I want to reference it?

[2019-11-19 19:41] foolip commented on #18669
I don’t have a script, but every time I look I can find instances in the past few days, so I would estimate it happens with at least 5% of runs.

@stephenmcgruer monitoring might help answer questions like this, although realistically distinguishing different failure causes would be more work than it’s worth. Still, I’m pretty sure this is the most common cause right now, so just counting successf

[2019-11-19 20:04] burg commented on #17027
It's tracked internally as rdar://problem/55240821 <rdar://problem/55240821>

[2019-11-20 05:45] Honry commented on #17792
I just drop the PR https://github.com/web-platform-tests/wpt/pull/20330, PTAL, thanks!

[2019-11-20 05:59] xiaochengh commented on #20287
The test expectation has been fixed. We can close the issue now.

[2019-11-20 09:43] jgraham commented on #20159
I'm not so concerned about scope creep. I think the point of web-platform-tests is to have a shared testsuite for the features that are required to implement a web-compatible browser. There's no expectation that only includes things above the network layer; it's just that those were the lowest hanging fruit when the project started. Indeed one of the key design goals of wptserve was to allow writi

[2019-11-20 12:43] stephenmcgruer commented on #20057
Marking priority roadmap based on our current focus of getting useful, reliable data for Safari - and part of that is knowing the 'correct' set of flags to turn on for Safari TP.

[2019-11-20 12:48] foolip commented on #19961
@clopez is out for a few weeks. @psaavedra who should we poke instead?

[2019-11-20 13:03] stephenmcgruer commented on #19944
Tentatively marking `backlog` since I'm not sure anyone is working on this. Feel free to remark as roadmap if someone is actively owning this in the near (quarter-ish) future.

[2019-11-20 13:03] stephenmcgruer commented on #19899
Tentatively marking `backlog` as I don't think anyone is actively working on this (good) idea.

[2019-11-20 13:10] stephenmcgruer commented on #17518
Given that Chrome/Edge have one result, and Firefox/Safari another, I suspect this may be a browser bug rather than anything infra related (given that Chrome/Firefox run on the same infra, and Edge/Safari run on the same infra, though different OSes for the latter two).

Marking `backlog` anyway, since we're unlikely to do anything as long as we believe its just O(few) tests affected.

[2019-11-20 13:11] stephenmcgruer commented on #20284
Tentatively marking `roadmap` since this seems to have an owner and activity happening. Feel free to downgrade to `backlog` if we aren't intending to work on it.

[2019-11-20 13:35] zcorpan opened #20336 "testharness.js: Calling setup() and promise_setup() after tests are created should be a harness error"
From https://github.com/web-platform-tests/wpt/pull/20187#issuecomment-555187502

I said:

@jugglinmike responded:

https://github.com/web-platform-tests/wpt/blob/295f22bfeb7e6db748e6b0e28c31adfeb498b55d/resources/testharness.js#L2478-L2482

I think we should make it a harness error, but this doesn't need to block `promise_setup()` I think.

[2019-11-20 14:07] stephenmcgruer commented on #20215
@LukeZielinski will the first of these bullet points be addressed with the work you're doing on the Permissions API in testdriver?

[2019-11-20 15:10] LukeZielinski commented on #20215
Sounds like it will, yes, since we can use the SetPermission API to grant the `periodic-background-sync` permission.

[2019-11-20 15:54] mugdhalakhani commented on #20215
Can you please point me to existing WPT tests that use it?

On Wed, Nov 20, 2019, 3:10 PM Luke Zielinski <notifications@github.com>
wrote:

[2019-11-20 16:10] gsnedders commented on #20284
Related: #20057.

[2019-11-20 17:11] LukeZielinski commented on #20215
None yet, but I'll add an infra test as part of fixing https://github.com/web-platform-tests/wpt/issues/5671

[2019-11-20 17:32] mugdhalakhani commented on #20215
Thanks. I've added myself to the watchlist for that Issue.

[2019-11-20 23:30] #5473 closed

[2019-11-21 05:29] shaivydesouza commented on #10636
Hello!
I am new to web development area.
I know only editing in HTML responsive templates with SEO..
I would like to know that how can I take benefit from this tool for my website http://www.kochiescorts.co.in

[2019-11-21 05:32] shaivydesouza commented on #10636
I mean to say how I can I cleanup code of encoding legacy. By using Google web developer tools or Firefox mdn.
I would be really thankful to you

[2019-11-21 21:54] Hexcles commented on #20256
BTW, do we have an issue tracking this?

[2019-11-22 03:30] litherum commented on #20058
By the way, @smfr landed his [patch](https://trac.webkit.org/changeset/252701). We now unconditionally disable antialiasing for Ahem.

[2019-11-22 08:36] mrego opened #20392 "[infra] Getting errors related to epochs workflow on my personal fork"
This week I updated my WPT fork with the usual commands:
[code]

Since then I'm getting notifications via mail with subject `[mrego/wpt] Run failed: epochs - master (8e98be7)` every 3 hours more or less.
They point to things like https://github.com/mrego/wpt/runs/315387152

It seems that workflow was added somehow recently (see #19873), but I don't get why it's running on my personal fork, or why

[2019-11-22 09:52] foolip commented on #16175
Another case of this in https://github.com/web-platform-tests/wpt/pull/20304#issuecomment-557466708.

[2019-11-22 16:40] foolip commented on #20058
That's great! Do you know which STP release this will be in?

[2019-11-22 17:04] foolip commented on #20256
https://github.com/web-platform-tests/wpt/pull/19401 was just merged, so no tracking required :)

Giving higher priority to PR tasks would be great though. @jgraham can you do a thing?

[2019-11-22 17:12] foolip commented on #20159
Thanks @jgraham that all aligns with how I see this. In principle I'd be happy for one test suite for everything that can affect web developers, but how to *actually* test TLS or TLS-adjacent I don't know.

[2019-11-22 19:16] stephenmcgruer commented on #19362
Eugh, this is why one should do postmortems as soon as possible afterwards. @foolip @Hexcles can you take a look and see if any other action items come to mind for you? All the things I can think of seem a little 'one off' as opposed to addressing a structural issue.

[2019-11-22 19:59] Hexcles commented on #20392
Looks like the epoch update action isn't behind a flag checking the main repo. This is indeed very annoying for people forking the repo (we have 1.8k forks FWIW).

[2019-11-23 07:31] #20392 closed

[2019-11-25 21:03] jugglinmike opened #20440 "Fetch Metadata tests use a default value which may hide failures"
Many of the Python scripts for Fetch Metadata report the same value for two different Request header states. These scripts report the empty string if one of the headers under test is unspecified *or* if the header under test is empty.

For example, in [`resources/echo-as-json.py`](https://github.com/web-platform-tests/wpt/blob/29cfeaf1ea98a1d05378bfb735575e3e9dbbc72b/fetch/metadata/resources/echo-

[2019-11-26 09:44] mrego commented on #20392
I'm still getting this kind of errors: https://github.com/mrego/wpt/commit/3f54787efedc027ed449961173ffd572d79de46e/checks

Do I need to do anything special on my fork? Thanks.

[2019-11-27 03:26] Hexcles commented on #20324
@foolip is this still urgent?

[2019-11-27 12:30] foolip commented on #19362
@stephenmcgruer I'd say a release process for Chrome+ChromeDriver Dev, so that web developers can rely on Chrome Dev for their testing if they like. What happened here is that we started getting the tip-of-tree chromedriver and while the mismatch wasn't the cause of the breakage, we might have had more time if there was a dev channel for chromedriver. The flip side, however, is that we would have

[2019-11-27 15:04] foolip commented on #20324
No, it's recovered. I'll close this and send https://github.com/web-platform-tests/wpt/pull/18927 for review to get off 10.13.

[2019-11-27 15:04] #20324 closed

[2019-11-27 17:06] jugglinmike opened #20484 "Fetch Metadata utility functions produce misleading results"
The utility functions in [`resources/helper.js`](https://github.com/web-platform-tests/wpt/blob/29cfeaf1ea98a1d05378bfb735575e3e9dbbc72b/fetch/metadata/resources/helper.js) do not directly make assertions. Instead, they define additional subtests which themselves contain assertions. The pattern has two unfortunate consequences for the reported results.

The containing subtest doesn't necessarily d

[2019-11-27 20:39] stephenmcgruer commented on #19362
Sorry, it's not clear to me why having a release process'd chromedriver would have helped here. The bug was in chrome, not chromedriver, and we were able to pin chrome to avoid the problem. I didn't feel a time pressure (indeed, I think lack of time pressure was a bug here that caused us to let this lie for too long), can you explain further?

[2019-11-28 09:09] psaavedra commented on #19961
Sorry for the delay in the reply. I didn't see the message until few moments ago. I think those issues was related with timeouts triggered by  the WebDriver for WebKitGTK and related with what  @carlosgcampos was working on  during the last week:

* https://bugs.webkit.org/show_bug.cgi?id=204503  (landed)

Basically, he switched the remote inspector to plain sockets because  the current implementa

[2019-11-28 09:50] carlosgcampos commented on #19961
I think this was about the system fonts fallbacks, which already landed. The WebDriver switch to plain sockets will help too for sure. WebDriver tests with many subtests that were timing out before should be super fast now.

[2019-11-28 13:22] #17821 closed

[2019-11-28 13:36] foolip commented on #19362
OK, so the mismatched chromedriver was merely a red herring in my initial investigation and not really part of them problem. Let's wait for it to actually break something before calling it out as an action item :)

By "might have had more time" I mean that if chromedriver breaks then having a chromedriver dev release channel would cause us to notice later.

[2019-11-28 13:51] frivoal opened #20501 "[css-text] test depending on undefined behavior"
Unless I am misunderstanding something, [word-break-break-all-inline-010](https://github.com/web-platform-tests/wpt/blob/master/css/css-text/word-break/word-break-break-all-inline-010.html) seems to depend on undefined behavior. https://drafts.csswg.org/css-text-3/#line-break-details says:

Based on that, the behavior expected by the test is allowed (it assumes that the at the start of the span br

[2019-11-28 14:19] foolip commented on #20392
@mrego you'll need to rebase as well if your branch was started before the problem was fixed on wpt master, which it looks like it was.

[2019-11-28 20:25] pshaughn opened #20515 "html/semantics/scripting-1/the-script-element/execution-timing/116 is broken"
It looks like the main script expects the helper script to inspect the tagName of document.body and return it, but the helper script just checks if document.body is null and returns BODY if it isn't. There's no conceivable way for the string FRAMESET to end up where the main script wants it.

[2019-11-28 21:19] pshaughn opened #20517 "fetch/api/cors/cors-preflight-redirect is broken"
All browsers fail and I think it's just because the function inside promise_test is missing a return statement.

[2019-11-29 00:25] stephenmcgruer commented on #20517
Thanks for the report and the analysis! https://github.com/web-platform-tests/wpt/pull/20518 does seem to take all browsers from 0/10 to 5/10 passes, so an improvement but the other 5 might still need looked at.

Firefox: https://wpt.fyi/results/fetch/api/cors?diff&filter=ADC&run_id=357030004&run_id=374370007

Chrome: https://wpt.fyi/results/fetch/api/cors?diff&filter=ADC&run_id=359070005&run_id=3

[2019-11-29 00:59] pshaughn opened #20521 "WPT wants HTMLIFrameElement.allow"
WPT xhr/xmlhttprequest-sync-block-scripts (via feature-policy/resources/featurepolicy.js) expects an "allow" attribute to exist on an iframe that just came out of document.createElement. I don't see this attribute in the IDL so it must be fairly new, but other browsers are passing this test.

[2019-11-29 01:03] pshaughn opened #20522 "WPT wants document.featurePolicy"
xhr/sync-xhr-supported-by-feature-policy tests for document.featurePolicy, which is not yet in IDL and of course not in Servo; Chrome and Edge pass this test, Firefox and Safari fail.

[2019-11-29 01:07] pshaughn commented on #20521
sorry! this is the wrong repo! I am embarrassed now

[2019-11-29 01:07] #20521 closed

[2019-11-29 01:07] pshaughn commented on #20522
Whoops, I just posted this to the wrong repo, I am sorry.

[2019-11-29 01:07] #20522 closed

[2019-11-29 02:52] stephenmcgruer opened #20523 "Postmortem: Taskcluster Decision Task PR broke master commit checks (multiple times)"
**Owner**: @stephenmcgruer
**Postmortem Created**: 2019-11-28 21:45 EST
**Status**: In Review
**Issue**: No specific issue for landing the Taskcluster Decision Graph change exists. See [here](https://github.com/web-platform-tests/wpt/issues/20256#issuecomment-557289766).

**Impact**: Medium. Approximately 14 (4 for the first landing, 10 for the second) commits to master did not run Taskcluster suc

[2019-11-29 16:25] zcorpan commented on #20440
@mikewest says this sounds reasonable to change.

[2019-11-29 16:30] guest271314 commented on #20284
Related https://github.com/web-platform-tests/wpt.fyi/issues/1648.

What is the WPT policy or practice relevant to preferences and tests?

If the feature is not enabled by default, rather requires being enabled, is the policy or practice simply to print the result as the object or function not being defined?

[2019-11-29 16:32] iVanlIsh commented on #20204
@gsnedders

Yes, please. Thank you.

[2019-11-29 16:32] zcorpan commented on #20484
@mikewest says he's OK with changing it so the number of tests is consistent, but wants all assertions to be run even if one fails.

[2019-11-29 16:40] jgraham commented on #20284
For experimental runs we are using whatever set of flags the vendor wants. For stable and beta runs, it's only about correctness.

I agree that better understanding what's actually required here would be good.

[2019-11-29 16:56] guest271314 commented on #20284
@jgraham The policy and practices should be clear.

Was not aware that the preferences for experimental runs are what the vendor wants, implying those are not, or at least should not be changed by WPT, unless otherwise clearly stated that is what is occurring.

Arrived at this issue by way of independent and WPT `OffscreenCanvas` tests for Firefox, which prints `undefined` at WPT tests, which is n

[2019-11-29 16:58] guest271314 commented on #20284
@jgraham Re

https://bugzilla.mozilla.org/show_bug.cgi?id=1390089

[2019-11-29 20:07] Hexcles commented on #20523
I'm proposing an action item: more tests for https://github.com/web-platform-tests/wpt/blob/master/tools/ci/tc/tests/test_valid.py

https://github.com/web-platform-tests/wpt/pull/20533#issuecomment-559873813

[2019-12-01 05:12] gsnedders commented on #20284
Things from the m-c prefs that I think we want equivalents of:

[code]

I'm not sure there's much else?

[2019-12-01 14:16] frivoal commented on #20501
Same comment about [overflow-wrap/overflow-wrap-anywhere-inline-003](https://github.com/web-platform-tests/wpt/blob/master/css/css-text/overflow-wrap/overflow-wrap-anywhere-inline-003.html)

[2019-12-01 15:37] guest271314 commented on #20284
@gsnedders

At least

- `gfx.offscreencanvas.enabled`
- `gfx.webrender.force-disabled`

and

- `javascript.options.writable_streams`
- `media.hardware-video-decoding.enabled`

[2019-12-02 09:31] mrego commented on #20392
I rebased the master branch on my fork, but I'm still getting the mails with the errors, this is very weird so probably I'll kill my fork and create it again. :-)

The mails I get look like this:

The *View results* link they point too doesn't show any error.

[2019-12-02 12:18] rakuco opened #20551 "Missing Chrome and Firefox stable wpt.fyi runs"
The latest wpt.fyi run that included Safari, Chrome and Firefox is [1df8c00](https://wpt.fyi/results?label=master&label=stable&max-count=1&product=chrome&product=firefox&product=safari&sha=1df8c00a83).

Since then, there have been [20bb1ca](https://wpt.fyi/results?label=master&label=stable&max-count=1&product=chrome&product=firefox&product=safari&sha=20bb1ca5db), [5df56b2](https://wpt.fyi/results?

[2019-12-02 12:21] rakuco opened #20552 "Missing WebKitGTK experimental wpt.fyi runs"
The latest WebKitGTK run is [1df8c00](https://wpt.fyi/results/?sha=1df8c00a83&label=master&label=experimental&max-count=1&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk) from November 29 at the time of writing.

[2019-12-02 12:53] stephenmcgruer commented on #20552
Is suspect this is related to https://github.com/web-platform-tests/wpt/issues/20551 and likely has the same root cause (I think the decision task work broke `refs/heads/epochs/daily`).

cc @jgraham

[2019-12-02 12:53] stephenmcgruer commented on #20551
These should be triggered from `refs/heads/epochs/daily` I believe; I suspect the decision task graph work broke this.

[2019-12-02 13:10] stephenmcgruer commented on #20551
Hrm, I am somewhat confused. If we go [back to November 26th](https://github.com/web-platform-tests/wpt/commits/epochs/daily?after=9c100c390010017d95b2295c1b126f4378171b14+69), we can see a commit ([5454021b](https://github.com/web-platform-tests/wpt/commit/5454021b2ea6f85014606a2178a8fd26f1fa5f40)) which ran a [taskcluster push](https://community-tc.services.mozilla.com/tasks/groups/FE3nWU7hSEKXh

[2019-12-02 13:40] stephenmcgruer commented on #20551
I just pushed to `triggers/chrome_stable` to see what would happen. Monitoring https://github.com/web-platform-tests/wpt/commits/triggers/chrome_stable; I would expect to see a TC run happen for `refs/heads/triggers/chrome_stable`.

[2019-12-02 14:00] stephenmcgruer commented on #20551
As far as I can tell, nothing happened. https://github.com/web-platform-tests/wpt/commits/triggers/chrome_stable shows a bunch of Azure Pipeline runs going (which I think are from the actual master commit), but the TaskCluster run that [is listed](https://community-tc.services.mozilla.com/tasks/groups/Br3MDJ3BTE6AsggT_WGexw) is also old and appears to be for `refs/head/master`.

[2019-12-02 14:02] stephenmcgruer commented on #20551
Pushing `triggers/firefox_nightly` to see.

[2019-12-02 14:05] stephenmcgruer commented on #20551
Firefox nightly works?!

https://github.com/web-platform-tests/wpt/commits/triggers/firefox_nightly shows https://community-tc.services.mozilla.com/tasks/ZGai_M8ZSxa9T3k3AQJBRg which has a ref of `refs/heads/triggers/firefox_nightly` ...

[2019-12-02 14:23] stephenmcgruer commented on #20551
This is interesting. If we look at the commit for 5df56b25e1, it has an error [in a comment](https://github.com/web-platform-tests/wpt/commit/5df56b25e1cb81f81fe16c88be839f9fd538b41e/#commitcomment-36206673) at 7:36pm EST November 30th. That is the same time as the [action that pushed that sha to the epoch branches](https://github.com/web-platform-tests/wpt/commit/5df56b25e1cb81f81fe16c88be839f9fd

[2019-12-02 14:30] stephenmcgruer commented on #20551
I managed to find a log of the events github has sent, by looking at the dispatched events for [one of our webhooks](https://github.com/web-platform-tests/wpt/settings/hooks/33233499) (that only listens to pushes).

`event.sender.login` for the epoch push is `github-actions[bot]`, and I'll bet my hat Taskcluster won't accept that as an email...

[2019-12-02 18:09] stephenmcgruer commented on #20552
This was hopefully fixed by https://github.com/web-platform-tests/wpt/pull/20561, we will see from today's daily push to epochs.

[2019-12-02 18:09] stephenmcgruer commented on #20551
This was hopefully fixed by https://github.com/web-platform-tests/wpt/pull/20561, we will see from today's daily push to epochs.

[2019-12-03 05:00] frivoal commented on #20325
No, actually I think this test is right.

You are correct about the position of the wrapping opportunities (marked with a |):
`あ|あ&#x3000;|あ|あ`

However, in [css-text-3 section 4.1.3](https://drafts.csswg.org/css-text-3/#white-space-phase-2) bullet point 4 subpoint 2, there is also the requirement to hang any sequence of "white space, and/or other space separators". U+3000 is an "other space separ

[2019-12-03 06:19] frivoal commented on #19903
Sorry for staying silent this long on this bug.

I agree with https://github.com/web-platform-tests/wpt/issues/19903#issuecomment-546934290, the two allowed renderings are:

    aaaabb
    bbbbbb
    bbb
    ccccc

and

    aaaabb
    bbbbbb
    bb
    bccccc

The reftest should be modified to allow both, I'll make a PR.

[2019-12-03 06:22] frivoal commented on #19903
https://github.com/web-platform-tests/wpt/pull/20576 should solve this.

[2019-12-03 10:00] rakuco commented on #20551
Looks like it -- [28b0967](https://wpt.fyi/results?label=master&label=stable&max-count=1&product=chrome&product=firefox&product=safari&sha=28b096731f) includes Safari, Firefox and Chrome.

[2019-12-03 10:00] #20551 closed

[2019-12-03 10:02] rakuco commented on #20552
[28b0967](https://wpt.fyi/results?label=master&label=experimental&max-count=1&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk&sha=28b096731f) includes WebKitGTK again, so I guess it worked!

[2019-12-03 10:02] #20552 closed

[2019-12-03 11:21] javifernandez commented on #20501
I'll take a look.

[2019-12-03 11:51] javifernandez commented on #20325
The problem is that in order to determine the portion of the text susceptible of being hung we need to select the breaking opportunity, so that the rest of the text overflows. Actually, at the end of the [4.1.1. Phase I](https://drafts.csswg.org/css-text-3/#white-space-phase-1) it's stated that the text should be wrapped before running the trimming phase:

Maybe I'm not interpreting that statement

[2019-12-03 11:55] javifernandez commented on #19903
I agree on closing this issue thanks to #20576

[2019-12-03 12:43] stephenmcgruer opened #20581 "Firefox on Taskcluster reports failure for canPlayType('video/mp4')"
Looking at results for [html/semantics/embedded-content/the-video-element/resize-during-playback.html](https://wpt.fyi/results/html/semantics/embedded-content/the-video-element/resize-during-playback.html?label=experimental&label=master&aligned) on wpt.fyi, Firefox is failing the
'mp4 video' case with 'PRECONDITION_FAILED message: mp4 supported'.

This means that [this line](https://github.com/web

[2019-12-03 12:44] stephenmcgruer commented on #20581
@jgraham Not sure who is best to own this; assigning you for now as someone who knows both Firefox and Taskcluster :)

[2019-12-03 14:57] stephenmcgruer commented on #20287
Closing based on https://github.com/web-platform-tests/wpt/issues/20287#issuecomment-555852138; @smfr please re-open if you think it's still wrong.

[2019-12-03 14:57] #20287 closed

[2019-12-03 15:02] stephenmcgruer opened #20584 "Edge canary has not run since Dec 1st"
Based on https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk, Edge Canary last ran for 9c100c3 on Dec 1st. (It is expected to run daily).

[2019-12-03 15:12] stephenmcgruer commented on #20584
Did some reading, I believe Edge canary is meant to run from `epochs/three_hourly`. Looking at https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1, every run on branch `epochs/three_hourly` since Dec 1st is showing a spinny blue pending icon.

Looking at an example run, the Edge Dev part is just spinning saying 'Waiting for an available agent'.

[2019-12-03 15:25] mustjab commented on #20584
We have an automated job that runs every Sunday to re-create Windows VMs and the job succeeded, but looks like installation of the Azure pipelines agents on these VMs failed, so none of them appear on as available. I've manually re-run the job to recreate VMs and will ensure that we have them ready to handle queued jobs today.

[2019-12-03 15:28] stephenmcgruer commented on #17403
@mustjab was this fixed by https://github.com/web-platform-tests/wpt/pull/17540 ?

[2019-12-03 15:33] stephenmcgruer commented on #15660
Closing due to lack of activity.

[2019-12-03 15:33] #15660 closed

[2019-12-03 15:43] mustjab commented on #17403
@stephenmcgruer Yes, should be fixed now with that change and #20023 , let me know if you still see this fail.

[2019-12-03 15:44] #17403 closed

[2019-12-03 16:04] stephenmcgruer commented on #10028
We no longer use Travis, this seems obsolete.

[2019-12-03 16:04] #10028 closed

[2019-12-03 16:20] stephenmcgruer commented on #8285
@Hexcles Is this relevant anymore? We no longer use Travis, but not sure if it's still applicable to Taskcluster or Azure Pipelines.

[2019-12-03 16:23] stephenmcgruer commented on #12256
@foolip Can this be closed since we no longer use Travis, or is it still an issue with Taskcluster?

[2019-12-03 16:50] stephenmcgruer commented on #13687
2019 is now over :)

[2019-12-03 16:50] #13687 closed

[2019-12-03 16:57] stephenmcgruer commented on #13557
There's still a crazy number of subtests there (~7k), but looking at wpt.fyi it looks like these no longer time out on Firefox. Please re-open if I'm wrong!

[2019-12-03 16:57] #13557 closed

[2019-12-03 16:57] jgraham commented on #12256
Not an issue with TC, but we haven't updated the default configuration to actually enable H2 yet.

[2019-12-03 17:24] gsnedders opened #20587 "Moving PR from draft to ready to review doesn't trigger TC"
cc/ @jgraham

[2019-12-03 17:28] mustjab commented on #20584
Jobs should be running now, our token used to add agents to the pool has expired, so i've renewed it and re-created all Windows VMs. Let me know if you still see issues.

[2019-12-03 17:28] #20584 closed

[2019-12-03 17:55] #20180 closed

[2019-12-03 18:03] stephenmcgruer commented on #2521
I believe this was fixed in https://github.com/web-platform-tests/wpt/pull/3135, feel free to re-open if I'm wrong.

[2019-12-03 18:03] #2521 closed

[2019-12-03 18:46] LukeZielinski opened #20591 "[Chromium log formatter] handle harness fail + subtest fails better"
The chromium log formatter keeps track of which tests have subtest failures in a set (keyed by test name) and will flip the status of a test to failure if the test passes but has subtest failures. When this flip happens we also clean up the entries in the set.

However, a test can have subtest failures while also itself not having a pass status (eg: timeout or error). In this case, the set won't b

[2019-12-03 18:53] pshaughn opened #20592 "html/syntax/parsing/html5lib_menuitem-element.html might be checking for the wrong number of whitespaces"
Every browser seems to be failing this test on the same one case (shown as three because of calling it different ways), with a string that differs from expectation only by whitespace. This leads me to think the test might just not be expecting the right amount of whitespace.

[2019-12-03 20:47] LukeZielinski commented on #20215
For posterity, permissions API was added to testdriver in https://github.com/web-platform-tests/wpt/pull/20461

[2019-12-03 20:55] #6776 closed

[2019-12-03 22:25] pshaughn opened #20598 "html/browsers/browsing-the-web/navigating-across-documents/012.html has, at least, either a misleading title or misleading comment"
There's been a comment in https://github.com/web-platform-tests/wpt/blob/master/html/browsers/browsing-the-web/navigating-across-documents/012.html pointing out a possible problem for a few years, but I'm not finding any corresponding issue. All browsers are doing the opposite of what the test wants them to do, and given the comment I'm not sure if that's good or bad.

[2019-12-03 23:50] #19903 closed

[2019-12-04 12:43] jfkthame opened #20604 "[css-text-decor] Reftest text-decoration-underline-position-vertical-ja fails due to language-dependent font differences"
This test fails as a reftest (even though the browser is behaving correctly for the issue being tested) because the testcase uses lang=ja, while the corresponding content in the reference uses lang=en; this is likely to result in different default fonts being used.

[2019-12-04 14:33] stephenmcgruer opened #20607 "Safari stable runs produce duplicate, conflicting results for some tests"
There is no Safari stable run for December 3rd, 2019 (https://wpt.fyi/runs?label=master&label=stable&from=2019-12-02&to=2019-12-05).

Looking at azure pipelines, the build for epochs/daily for that day was https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=37728

wpt.fyi shows that as INVALID in the status page (having grabbed the run id from internal logs): https://wpt.fyi/status

[2019-12-04 14:36] stephenmcgruer commented on #20607
[code]

Checking with vim, there are two entries for `/webrtc/RTCRtpParameters-rtcp.html` beside each other:

[code]

[2019-12-04 14:54] foolip commented on #20607
This is the first time I've seen this. @Hexcles have you ever come across it?

My initial guess for how this could happen is if the manifest generated in each job isn't identical, but even then hashing should be by test name...

[2019-12-04 14:56] foolip commented on #20607
Oh wait, the duplication was in a single report. Then I don't have a guess.

[2019-12-04 14:58] foolip commented on #20607
The message "TestRunner hit external timeout (this may indicate a hang)" was added in https://github.com/web-platform-tests/wpt/pull/20321 so adding @jgraham @LukeZielinski who were on that PR in addition to @Hexcles.

Was it expected from those changes that it could result in duplicate entries in the report?

[2019-12-04 14:58] stephenmcgruer commented on #20607
According to stackdriver, duplicate "/webrtc/RTCRtpParameters-rtcp.html", was first seen 8 days ago. There have been 8 instances in that time.

Duplicate 'browser_name' was first seen on the 25th June 2019. There have been 2 instances in the last 30 days.

[2019-12-04 14:59] foolip commented on #20607
@stephenmcgruer do we have an easy way to see when the browser or OS version has changed in the history of runs?

[2019-12-04 16:16] pshaughn opened #20609 "Accessing a child frame's contentWindow.location.href during parent frame's onload is getting SecurityError in WPT html/webappapis/dynamic-markup-insertion/opening-the-input-stream/url.window"
The SecurityError has no Javascript stack trace, but trial and error reveals the  assert_equals(childWin.location.href, blankURL);` of frame.onload is where it happens. childWin.location is itself accessible, but childWin.location.href is not. Everything involved is same-origin.

[2019-12-04 16:16] pshaughn commented on #20609
sorry I did it again, wrong repo

[2019-12-04 16:16] #20609 closed

[2019-12-04 16:20] Hexcles commented on #20607
This looks like a race condition related to #20321 , but I'm not sure why it only happens to that particular test.

[2019-12-04 16:31] Hexcles opened #20613 "Different versions of Edge Canary are sometimes used in a run"
Example: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=37596
wpt.fyi run ID: 361130003
`Conflicting 'browser_version' found in the merged report`

I suspect we also need to have a "decision task", a single task to download the binaries, on Azure.

I'm tentatively marking this as roadmap, but will raise the priority if this happens often.

[2019-12-04 16:31] Hexcles commented on #20607
That's an Edge Canary run. Filed #20613.

[2019-12-04 16:34] Hexcles commented on #20607
Actually, this is happening to other tests as well. Here's a list of tests with conflicting results we've seen so far:

[code]

[2019-12-04 16:36] Hexcles commented on #20607
Reverting #20321 is difficult -- we have tests that can hang Firefox and wptrunner indefinitely, at least #20245 and probably more. We'd need to revert them all.

[2019-12-04 18:25] stephenmcgruer commented on #20607
Offhand I'm not sure; what is your underlying thought here @foolip?

[2019-12-04 18:26] stephenmcgruer commented on #20607
Agreed, I think we want to come up with a fix instead. Do we understand yet what the race condition is? ('No' is a reasonable answer here!)

[2019-12-04 19:38] domenic opened #20617 "Write tests for interaction of <label> and :active"
From https://github.com/whatwg/html/issues/5009#issuecomment-543055621, by @annevk:

This originally came up in the context of form-associated custom elements but I don't believe they're special in this regard; this is a general test that could be written for any labeled control.