[2019-03-05 18:52] thejohnjansen commented on #15675
My suggestion was based on the statement that the test is determined to be flaky and is not fixed immediately. During the interim there should be a very easy way to stop running it. In order to avoid the issue where tests get disabled and are never re-enabled, that's what the keyword would be used for: easy tracking and followup. I'm confident that for some flaky tests, the fix will not be obvious

[2019-03-05 20:44] whimboo commented on #15676
What I forget to say is that in this case I don't propose to use the `New Window` command, given that still not all drivers and browsers support it. But this could easily be changed later once that support landed everywhere.

[2019-03-05 22:27] andreastt commented on #15676
Why can’t we use the New Window command where supported?

[2019-03-06 00:48] youennf opened #15692 "WebKit CI cannot resolve URLs like www.localhost"
This issue stems from discussions that started at https://github.com/web-platform-tests/wpt/pull/15191.
It is a follow-up to https://github.com/web-platform-tests/wpt/issues/3243.

WebKit is currently not supporting the resolution of URLs like www.localhost or www1.localhost as part of WebKit CI. WebKit is also not requiring WebKit developers to change etc/hosts to do local WPT testing with Safari

[2019-03-06 00:48] youennf commented on #3243
Closing in favor of https://github.com/web-platform-tests/wpt/issues/15692

[2019-03-06 00:48] #3243 closed

[2019-03-06 13:41] whimboo commented on #15676
We would have to send an extra command to fallback to the current solution if it reports a not supported operation. Also it could happen that the `new window` command returns a not supported operation if the browser doesn't support it, and in such a case we should not fallback. I find it too much logic for now, and better would do it step by step.

[2019-03-06 19:31] Hexcles commented on #15660
Doesn't seem to happen again in the past few days. Setting the priority to backlog until it happens again.

[2019-03-07 06:04] Honry opened #15713 "[web-nfc] Add tests for serialNumber"
Reflects to spec change in https://github.com/w3c/web-nfc/pull/213/
cc/@kaixinjxq

[2019-03-07 15:02] #15625 closed

[2019-03-07 20:24] gsnedders opened #15728 "infrastructure Firefox tests failing on Travis"
#15721 ([Travis job](https://travis-ci.com/web-platform-tests/wpt/jobs/183097178)), #15723 ([Travis job](https://travis-ci.com/web-platform-tests/wpt/jobs/183119872)), and #15726 ([Travis job](https://travis-ci.com/web-platform-tests/wpt/jobs/183122570)) have all failed on the infrastructure tests on Travis CI in Firefox, all getting one unexpected error:

[code]

[2019-03-07 20:30] gsnedders commented on #15728
Awkwardly, I can't manage to reproduce this locally.

This seems to have started earlier today though…

[2019-03-08 16:42] Hexcles commented on #15728
Also #15730 ([job](https://travis-ci.com/web-platform-tests/wpt/jobs/183227311#L790))

[2019-03-08 23:11] alcooper91 commented on #15728
I'm hitting this with #15735 ([Job](https://travis-ci.com/web-platform-tests/wpt/jobs/183509540)) as well.

[2019-03-09 02:01] jugglinmike opened #15749 "Removing `-support` naming convention"
When identifying tests, the WPT infrastructure ignores files whose name (not including extension) ends in `-support`. Today, only 13 files meet that criteria:

<details>
  <summary><code>$ git ls-files | grep '\-support\.'</code></summary>

    WebIDL/ecmascript-binding/constructors-support.html
    css/css-values/vh-calc-support.html
    css/css-values/vh-support.html
    css/css-values/vh-zero-s

[2019-03-10 03:48] jdm opened #15753 "idle-detection tests use Blink-only features"
From https://github.com/web-platform-tests/wpt/pull/14539:
[code]
And mock.js has this comment:
[code]
But it's not clear to me how other engines are supposed to override the blink-specific implementation that exists in that file.

It would be nice to add a lint check for things like this. @foolip The author isn't associated with a github account; who is an appropriate party to tag in here?

[2019-03-10 19:04] wisniewskit commented on #7933
@yutakahirano, is your concern about this issue with respect to Edge obsolete now?

[2019-03-10 20:21] guest271314 commented on #15525
`fetch()` should "work" for "filesystem:" protocol when `--allow-file-access-from-files` flag is set at instance of Chromium/Chrome.

[2019-03-10 21:33] guest271314 commented on #15525
@annevk This used to work at some point at Chromium/Chrome with `--allow-file-access-from-files` flag set [Javascript read file without using input](https://stackoverflow.com/a/43576543)

[code]

This also used to work [Using File System as source of videos for playing offline](https://stackoverflow.com/q/44849531)

[code]

[2019-03-10 22:57] guest271314 commented on #15525
Test of requesting `filesystem:` URL scheme using fetch. To test create local file "file.html", launch Chromium/Chrome, visit URL at `file:` protocol while online to set files at local filesystem directory, go offline, reload file at local `file:` protocol, try to request resolved filesystem URL of previously created directory and file(s), note error messages.

[code]

[2019-03-11 02:26] qiuzhong commented on #15013
I can reproduce this issue.
The wpt is based on [`mozlog`  utility](https://firefox-source-docs.mozilla.org/mozbase/mozlog.html). If the log formatter is not indicated in the command line explicitly, it's `None`. Maybe that's why all debug output was not printed. When `--log-mach -` is passed, the logger is set `mach`(Means human-readable output) and its value is `sys.stdout`.

Agreed. However, `m

[2019-03-11 09:27] annevk commented on #15525
Thanks, with https://web-platform-tests.org/writing-tests/testharness.html you could maybe turn it into a wpt test that we can include. Note that passing the test means non-support for this feature.

[2019-03-11 14:40] guest271314 commented on #15525
@annevk Should the test be in the form of Asynchronous Tests or Promise Tests at https://web-platform-tests.org/writing-tests/testharness-api.html?

[2019-03-11 15:32] gsnedders commented on #15749
Yeah, this seems a bit surprising. Totally happy to drop this.

[2019-03-11 16:01] annevk commented on #15525
Either is fine. https://github.com/whatwg/fetch/issues/846 has the reason for removing `filesystem`.

[2019-03-11 17:06] gsnedders commented on #11473
We now have a process and an RFC repo, so we can close this!

[2019-03-11 17:06] #11473 closed

[2019-03-12 00:00] guest271314 commented on #15525
[code]

[2019-03-12 00:17] guest271314 commented on #15525
@annevk Tried to post an issue at `fetch` here at GitHub, issue was deleted and redirected to this message

Is that the case?

In any event the issue was to request that for developers that also use Chromium/Chrome locally, without a server have a flag created for the ability to use `fetch()` for `file:` protocol and `filesystem:` URL schemes. To avoid adding an additional step to use `fetch` in t

[2019-03-12 18:05] guest271314 commented on #15525
@annevk Downloaded testharness.js and testharnessreport.js and tested locally at `file:` protocol using `promise_test()` and `promise_rejects()`

[code]

[2019-03-12 19:51] gsnedders commented on #15728
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1534765 for this, no idea how to debug this :/

[2019-03-12 22:17] zcorpan commented on #15680
One consideration is that substitution could be combined with other pipes (e.g. `trickle`), and we should verify that it works to combine them when mixing the file name convention for `sub` and query string for other pipes. (I recall that this didn't work a few years ago, but I don't know if it does now.)

[2019-03-12 22:17] zcorpan commented on #15680
cc @jgraham

[2019-03-13 07:13] yutakahirano commented on #7933
Right.

[2019-03-13 09:24] foolip opened #15804 "Misleading documentation of .asis feature"
The *Tests Requiring Full Control Over The HTTP Response* section in https://web-platform-tests.org/writing-tests/server-features.html says:

This makes it sound like one could use `.asis` files to write Python scripts, which doesn't seem to be the case.

@jugglinmike FYI.

[2019-03-13 09:34] foolip opened #15805 "Documentation of {{headers[]}} feature in .sub. is very hard to find"
I was looking at https://web-platform-tests.org/writing-tests/server-features.html to see if there was a way to insert a request header in the response with the .sub. feature, and even followed the link to https://wptserve.readthedocs.io/en/latest/ to look some more there.

I couldn't find it, but did eventually find it in the code:
https://github.com/web-platform-tests/wpt/blob/bbed5ce4e3696466e0

[2019-03-13 11:24] gsnedders commented on #15728
https://bugzilla.mozilla.org/show_bug.cgi?id=1533539 makes it sound like it's a Firefox without Pulseaudio issue. So installing Pulseaudio should fix this?

[2019-03-13 12:07] #15728 closed

[2019-03-13 15:20] guest271314 opened #15816 "How to write a test that verifies the tab crashes when code is run?"
Revisited https://github.com/w3c/media-source/issues/190 after activity at https://github.com/w3c/mediacapture-record/issues/4. Cannot recollect what did to avoid tab crashing at Chromium re https://bugs.chromium.org/p/chromium/issues/detail?id=820997, was several OS's ago. However, the issue persists when running code that does not crash the tab at Firefox https://github.com/guest271314/MediaFrag

[2019-03-13 15:33] thejohnjansen commented on #7933
I am really sorry for not responding for the last 5 months on this... It looks like I had some very poor rules setup for github notifications and I missed a LOT of them. Based on my preliminary research, it looks like we changed in order to match Chrome here. I cannot find a live site impacted, though.

I agree the concern is moot going forward given that we are Chromium based now and would not se

[2019-03-13 15:33] jdm commented on #15816
I'm confused; why do we want a test that a) causes a crash, b) verifies that a crash occurred? Shouldn't the purpose of the test be to verify the behaviour of the browser when it does not crash, and the fact that the browser crashes is treated as a failure?

[2019-03-13 15:39] wisniewskit commented on #7933
Ah, thanks John!

@yutakahirano, would you still rather alter Chrome to match the spec? If so, I don't mind altering this WPT to match the spec.

[2019-03-13 15:45] bzbarsky opened #15819 "hostinfo should expose NOTSAMESITE_HOST"
Right now it doesn't seem to.

@jgraham

[2019-03-13 16:41] jugglinmike commented on #4922
gh-5699 has since been merged, so the requested documentation is now available (although not on the "Server Features" page itself as suggested by @annevk).

[2019-03-13 16:41] #4922 closed

[2019-03-13 16:44] jugglinmike commented on #5839
wpt.org is currently owned and operated by Wisconsin Public Television, so I believe this issue is no longer relevant.

[2019-03-13 16:50] xfq commented on #5839
I guess what it meant was web-platform-tests.org?

[2019-03-13 17:40] quasicomputational commented on #11320
I ran into this after this approximate sequence of steps:

* `git clone -o upstream https://github.com/web-platform-tests/wpt`
* `cd wpt`
* `git remote add origin git@github.com:quasicomputational/wpt.git`
* `git checkout -b foo`
* `./wpt lint`

As noted, pulling from `origin` fixed it.

[2019-03-13 18:27] jugglinmike opened #15824 "Reorganizing documentation (2019)"
The project's documentation (available online at https://web-platform-tests.org) has grown somewhat disorganized over the past few years. @zcorpan and I are planning to reorganize the content to address some of [the issues that have been filed](https://github.com/web-platform-tests/wpt/issues?q=is%3Aissue+is%3Aopen+label%3Adocs) and recognize the perspective gained from [the 2018 WPT survey](https

[2019-03-13 18:52] mkruisselbrink opened #15825 "Windows instructions in README.md for hosts file are incorrect"
The windows specific instructions for updating the hosts file say to run:
`python wpt make-hosts-file | Out-File $env:systemroot\System32\drivers\etc\hosts -Encoding ascii -Append`

This appears to be wrong though, as at least in my case the existing etc\hosts file is encoded in little endian UCF-2, and this would append the created lines in ascii, which of course won't work. No idea if my setup i

[2019-03-13 20:05] gsnedders commented on #15825
@mkruisselbrink Ergh. We had a problem before because my `hosts` file was ASCII.

@thejohnjansen You wouldn't happen to know what the right thing to do here is? Presumably detect if it's ASCII/UCS-2 somehow?

[2019-03-13 20:13] annevk commented on #15819
FWIW, you should feel free to modify `common/get-host-info.sub.js` to expose new constants.

[2019-03-13 21:00] thejohnjansen commented on #15825
Interesting... @mkruisselbrink are you actually seeing an issue with the hosts file? I see that on my laptop the file is UTF-8 and after I run the command to append, the file encoding remains UTF-8.

@gsnedders if this is causing an issue, maybe one of two avenues:

1. Do you know what your issue was that meant adding the -Encoding parameter? Maybe we could detect that...
2. Detecting encoding of

[2019-03-13 21:07] mkruisselbrink commented on #15825
Appending ascii to an UTF-8 file will still result in a valid UTF-8 file, so that's not surprising. Appending ascii to a USC-2 file did result in a file in which most of the file is invalid USC-2 and thus none of the appended lines actually worked. The file in my case is USC-2 with BOM, so the first two bytes should be enough to reliably at least detect that encoding, no idea what possible other e

[2019-03-13 21:13] thejohnjansen commented on #15825
@mkruisselbrink thanks for that.

@gsnedders, instead of detecting different encodings, perhaps just checking for the BOM, and if none, then use the -Encoding ASCII, else, don't dictate the encoding at all?

I haven't tested that.

[2019-03-13 23:15] guest271314 commented on #15816
@jdm However you want to phrase the test is fine. The fact is that the code described at the OP causes Chromium to crash. Filed a Chromium bug and an issue at MediaSource repository at GitHub. The issue persists. Yes, the tab crashing should be treated as a failure. The question is does wpt have a procedure to verify that the tab crashes when the code is run?

[2019-03-14 00:20] na-g opened #15828 "RTCPeerConnection-track-stats.https.html voiceActivityFlag test needs to be made optional"
The voiceActivityFlag is optional to implement. Additionally, there is no concrete implementation guidance within RFC6464 as to what data could be used to insure the flag was set during the test.

[2019-03-14 03:28] jdm commented on #15816
@guest271314 WPT does recognize when crashes occur. It's not a property of the test, but the test harness.

[2019-03-14 13:07] foolip commented on #15753
@samuelgoto, this issue is about the tests from https://chromium-review.googlesource.com/c/chromium/src/+/1371186.

Is the purpose of the mocking to change what `navigator.idle.query` resolves with? If so, this is probably a case where a WebDriver extension command in the style of https://w3c.github.io/reporting/#generate-test-report-command could work.

If there are reasons why Mojo mocking has t

[2019-03-14 14:25] gsnedders commented on #15825
The fact that on every computer I looked at it was ASCII, and the default is Unicode (UCS-2), so `hosts` files were getting broken by appending UCS-2 data to an ASCII file.

If we can rely on it having a BOM (and Windows Unicode files do, AFAIK?), then that's quite easy. The only problem is it ceases being a single-liner!

[2019-03-14 14:25] gsnedders commented on #15825
@mkruisselbrink what version of Windows are you on? have you upgraded from any earlier version? wondering what might've caused the difference in encoding!

[2019-03-14 15:39] youennf opened #15840 "Add a test for https://github.com/w3c/webrtc-pc/pull/2113"
Add a test for https://github.com/w3c/webrtc-pc/pull/2113

[2019-03-14 16:21] #13702 closed

[2019-03-14 16:26] mkruisselbrink commented on #15825
I'm on windows 10, Enterprise (10.0.16299). Afaik this was a fresh install, at least I haven't done any big upgrades. Just whatever our corp windows machines are provisioned with...

[2019-03-14 16:35] thejohnjansen commented on #15825
I'm not an expert in how this all works (I know I work at Microsoft, I should know :-)). But I did see some issues with UCS-2 encoding causing the HOSTS file to be ignored. The recommedations I've seen all point to having it be UTF-8 (WITHOUT a BOM, which confuses me) or ANSI.

@mkruisselbrink it sounds like this is an edge case that may not actually be supported.

[2019-03-14 16:44] gsnedders commented on #15825
@thejohnjansen here I was hoping you might at least know who to ask 😜

[2019-03-14 16:46] thejohnjansen commented on #15825
I'm looking, I'm looking. It's a big place. :-)

[2019-03-14 19:21] jan-ivar opened #15846 "RTCRtpTransceiver.https.html - check that stop() fires mute and removetrack events."
Tests https://github.com/w3c/webrtc-pc/issues/1812.

[2019-03-14 21:53] hawkinsw opened #15849 "Use eventFired in buffer-full-add-after-full-event test to avoid flakiness"
@yoavweiss

I have been looking at buffer-full-add-after-full-event test for a while today and realized that it might be possible to fight the test's flakiness by using the eventFired flag a second time as a more robust way to wait for the random resource to be loaded in clearAndAddAnotherEntryToBuffer. I made the change locally and it seems to work decently. If you would be amenable to fixing the

[2019-03-14 22:02] yoavweiss commented on #15849
The change you have in mind is not 100% clear to me, but a PR of your change might be the best and easiest way to explain it :)

On my end, I haven't seen flakiness since I added an extra task, but admittedly, that's not ideal. Are you still seeing flakiness in the current version? If so, I agree that fixing it is important.

[2019-03-15 00:09] whh8b commented on #15849
Adding @mstange is a person to watch this.

[2019-03-15 00:10] whh8b commented on #15849
Unfortunately we are still seeing some oddity with the tests. It seems to be timing-related, but honestly I don't know since I'm relatively new to this code.

I am going to send you a quick little PR and see what you think. Like you said, seeing the code is probably the best way to explain :-)

[2019-03-15 06:25] yutakahirano commented on #7933
If you are going to make a PR to the WPT I'll be happy to review (and probably fix the implementation altogether).

[2019-03-15 07:02] qiuzhong opened #15854 "Consider adding default log configurations for some options"
There are needs to set default log configurations before passing them to [`setup_logging`](https://github.com/web-platform-tests/wpt/blob/8ab29ab9f6ccec92deb35fff33fceb0862916852/tools/wpt/run.py#L485) for `./wpt run`. Here are some examples:

* #7846: make `--verbose` to be an alias of `--log-mach-level debug`.
* #15013: when running `./wpt run --verify` failed, there is no detailed output for st

[2019-03-15 09:43] foolip commented on #15159
@gsnedders no, I haven't checked.

[2019-03-15 09:49] foolip commented on #13052
With `browser_build_id` and `browser_changeset` now included in the reports for Firefox I consider this fixed. We could detect runs with mixed versions in wpt.fyi using this.

[2019-03-15 09:49] #13052 closed

[2019-03-15 10:30] foolip commented on #14467
@gsnedders I'll downgrade the prioritiy of this since it hasn't shown up in our planning and doesn't have an assignee.

[2019-03-15 15:16] guest271314 commented on #15525
@annevk Does the above test meet the requirement?

[2019-03-15 15:33] danyao opened #15861 "'unhandledrejection' in payment-request/updateWith-method-pmi-handling-manual.https.html"
The individual test cases in [payment-request/updateWith-method-pmi-handling-manual.https.html](https://github.com/web-platform-tests/wpt/blob/master/payment-request/updateWith-method-pmi-handling-manual.https.html) seem to pass all test assertions, but still end up with a test harness error due to an `unhandledrejection` event firing.

I can't figure out where the unhandled rejection comes from.

[2019-03-15 16:31] foolip commented on #14210
In https://github.com/web-platform-tests/wpt/pull/15820 Taskcluster again didn't start, so this is an error condition we really should monitor for.

[2019-03-15 20:21] foolip commented on #15749
@gsnedders is this straightforward? Can I assign to you and plan to fix in the coming months?

[2019-03-15 20:22] foolip commented on #15680
https://github.com/web-platform-tests/wpt/issues/9345 is an issue where the combination didn't work as expected. In light of that and https://github.com/web-platform-tests/wpt/issues/15805 I'd be happy to remove this.

[2019-03-16 16:19] guest271314 commented on #15816
@jdm

Can you link to how to compose or an example of such a WPT test where the crash is recognized?

[2019-03-16 17:15] jdm commented on #15816
It is automatic. It is not a specific property of the test.

[2019-03-16 20:42] guest271314 commented on #15816
@jdm This code https://plnkr.co/edit/K21jI533alufdgwabQN2?p=preview will output expected result (a `<video>` element where the `.src` is set to a `Blob URL` where the underlying data is a `webm` file consisting of the recorded media fragements) at Firefox 65, crash the tab at Chromium 72.

The relevant API's tested are `MediaSource` and `MediaRecorder`.

Should the test be composed as Asynchronous

[2019-03-16 22:14] guest271314 commented on #15816
@jdm Here is the test with `"normal"` property of `harness_timeout` set to `60*10000`

[code]

The issue is the after `click` on element the HTML redirects to test report document which crashes.

[2019-03-17 05:22] marcoscaceres commented on #15861
Yes, that's definitely a bug... but not *the bug*.

Looking into it.

[2019-03-17 05:52] marcoscaceres commented on #15861
This is really odd.... it's also as if Chrome is throwing an exception on `updateWith()`, but it's not actually throwing one. Testing in Safari, the test seems to work ok (they don't actually support the RangeError, but aborting works as expected).

Firefox is sadly broken still so can't even test the first part.

Sending a patch... but it doesn't seem to help. But at least the test runs in Safari

[2019-03-17 05:54] marcoscaceres commented on #15861
Ok, sent https://github.com/web-platform-tests/wpt/pull/15891 ... at least it fixes the `done()` one.

[2019-03-17 19:38] foolip commented on #14254
https://github.com/web-platform-tests/wpt/pull/15896 too.

[2019-03-18 10:10] annevk commented on #15525
Thanks, it seems the test times out in Chrome however, which isn't ideal as it should fail there, right?

[2019-03-18 12:39] gsnedders commented on #14467
@foolip I've expanded the description here; I'd probably say it's something we should definitely do as part of the Chrome/CDP work (so it's a command line argument rather than a separate product).

[2019-03-18 14:00] marcoscaceres commented on #15861
If you figure it out, I’d be super interested to hear what is wrong. It’s likely the test, but I’m also at a loss.

[2019-03-18 14:16] jdm commented on #15816
@guest271314 If the test does not crash, the assertion will be checked and the test will pass or fail based on it. If the browser crashes at any point during test execution, the test will report an unexpected crash result.

[2019-03-18 15:37] foolip commented on #14467
Will it still be possible to have separate expectations in infrastructure/ for different executors?

[2019-03-18 15:44] jgraham commented on #14467
We may need to change things so that the expectations can be per-browser or per-executor, but that's possible to do.

[2019-03-18 17:12] guest271314 commented on #15525
@annevk The test does not time out at Chromium 72 when testing locally. If the test is run in a cross-domain `iframe`, e.g., plnkr.co, the test will time out.

The test as currently composed _passes_ as the `Promise` is asserted to be rejected.

[2019-03-18 17:16] guest271314 commented on #15816
@jdm How to reproduce the result you describe? Due to recent autoplay policy updates at browsers to commence the test requires user action, in the current test a click on an element. The test report page (redirect to from test page) is not reached.

Did consider launching Chromium and Firefox with autoplay policies disabled so the test would automatically run. Would that be feasible? Or would that

[2019-03-18 17:18] annevk commented on #15525
Did you use https://github.com/web-platform-tests/wpt#running-tests-manually?

[2019-03-18 17:27] guest271314 commented on #15525
@annevk May have previously browsed that document. Did not install the full wpt program to run the tests locally. Only downloaded `testharness.js` and `testharnessreport.js` and ran the test at `file:` protocol.

Not sure what the source of the timeout issue that you described is? Is a `DOMException` error thrown?

[2019-03-18 17:30] jdm commented on #15816
When running tests via https://github.com/web-platform-tests/wpt#running-tests-automatically instead of http://w3c-test.org/ (or similar in-browser testing), it happens automatically.

[2019-03-18 17:39] guest271314 commented on #15816
@jdm Ok. How to create a pull request which adds the test to each of the relevant wpt directories (see https://github.com/w3c/mediacapture-record/issues/4#issuecomment-474023431.)?

[2019-03-18 17:40] jdm commented on #15816
@guest271314 Duplicating the test isn't valuable. It's best to choose which one is most relevant and put it there.

[2019-03-18 17:50] guest271314 commented on #15816
@jdm Am not certain if the issue is `MediaSource` or `MediaRecorder`. Though if `MediaRecorder` is not included in the code to record the stream rendered at `<video>` element where `.src` is set to special `MediaSource` `Blob URL`  the tab does not crash. That leaves https://github.com/web-platform-tests/wpt/tree/master/mediacapture-fromelement and/or https://github.com/web-platform-tests/wpt/tree

[2019-03-18 18:19] jdm commented on #15816
@guest271314 If you're looking for assistance with creating a pull request, I recommend the [github documentation](https://help.github.com/en/articles/creating-a-pull-request).

[2019-03-18 18:28] gsnedders opened #15912 "Rewrite manifest include/exclude support"
Currently, `wpt run`'s `--include` and `--exclude` are processed within `wptrunner` by `wptrunner.manifestinclude` (via `wptrunner.testloader.TestFilter`); this essentially implements inclusion/exclusion based on a trie where the longest prefix wins (i.e., if you exclude "/" and include "/foobar/", "/foobar/*" is included as a longer prefix).

`--include` and `--exclude` are a bit weird insofar as

[2019-03-18 18:37] jgraham commented on #15912
I think this sounds sensible. Generic wildards seem like they come at substantial cost and the only use case for generic wildcards not expanded by the shell would be where there is a URL/path mismatch like `webrtc/*.worker.any.html`. Which seems possibly useful but probably requires a slow path working like today's path where we construct everything in order to match against it.

[2019-03-18 18:53] guest271314 commented on #15816
@jdm The issue that causes the crash appears to be setting `.timestampOffset` of `MediaSource`, not media capture from element

`Uncaught DOMException: Failed to set the 'timestampOffset' property on 'SourceBuffer': The timestamp offset may not be set while the SourceBuffer's append state is 'PARSING_MEDIA_SEGMENT'.`

[2019-03-18 19:48] guest271314 commented on #15816
@jdm Read the document. Still not sure what to do at this point.  The pull request is at https://github.com/guest271314/web-platform-tests/commit/0da0c1e93f7994b57391f321ffdfed0eb3328575

[2019-03-18 19:59] jdm commented on #15816
You will probably want to follow the steps at https://help.github.com/en/articles/creating-a-pull-request-from-a-fork.

[2019-03-18 20:25] guest271314 commented on #15816
@jdm It looks as though the commit was merged into an existing pull request https://github.com/web-platform-tests/wpt/pull/9963?

[2019-03-18 20:29] jdm commented on #15816
@guest271314 That happened automatically because you had an open PR based off of the master branch of your fork, and you made a pull request from the guest271314-patch-1 branch of your fork to your master branch and merged it. You will need to run `git reset --hard 4ec675380896ad787270e4a46430d691fbb6f786` on your master branch and force push it to your fork in order to remove the extra commits fr

[2019-03-18 20:32] guest271314 commented on #15816
@jdm Been a while since used `git` at terminal. Will try.

[2019-03-18 21:39] gsnedders commented on #15912
By "generic wildcards" do you mean anywhere in the path, or even on the final path component? Because there's still a substantial cost regardless of how we implement wildcards, though I do think they're useful.

[2019-03-18 22:05] jugglinmike commented on #15824
Here's an affinity diagram which groups the 2018 survey responses according to theme:

![affinity-annotated](https://user-images.githubusercontent.com/677252/54566770-3429d180-49a8-11e9-8a73-6cf03f1daa52.png)

Each item includes a number prefixed with the letter "U". This is a user identifier and describes the row in [the survey response spreadsheet](https://docs.google.com/spreadsheets/d/1HFFXXxV

[2019-03-18 22:10] gsnedders commented on #15861
@danyao pinning seems to be some global thing, which isn't that useful for a single test bug :)

[2019-03-18 22:54] guest271314 commented on #15816
@jdm Used the suggested code. Will read the documents before trying to create pull request again.

FYI Ironically while attempting to reduce the code that produced the crash created a version which outputs the same expected result at Firefox and Chromium/Chrome without crashing.

The occurred when 1) the `SourceBuffer.mode` is set to `"segments"` 2) a buffer is appended to `SourceBuffer` 3) `times

[2019-03-18 23:18] guest271314 commented on #15816
@jdm Using code that outputs first part of expected result (playback of media fragments recorded using `MediaRecorder` is sequence at a single `<video>` element) still using `SourceBuffer.mode` set to `"sequence"` still crashes browser tab at Chromium when `HTMLMediaElement.captureStream()` is called with `<video>`  `.src` set to `MediaSource`. There are two separate issues. Will try to separate t

[2019-03-19 08:52] guest271314 commented on #15816
@jdm Created test for `HTMLMediaElement.captureStream()` where `.src` is set to `MediaSource`. When `addtrack` event of `MediaStream` is dispatched the tab crashes.

Not sure if the issue is related to Issue 141906: Disable 'Save Video As' option in right-click menu for elements using Media Source API https://bugs.chromium.org/p/chromium/issues/detail?id=141906, https://src.chromium.org/viewvc/chr

[2019-03-19 09:50] guest271314 commented on #15816
Chromium issue  https://bugs.chromium.org/p/chromium/issues/detail?id=943484&q=component%3AInternals%3EMedia%3ESource

[2019-03-19 10:04] Pehrsons commented on #15816
FWIW this is how it looks when the harness comes across a crash in Mozilla's infra:
https://treeherder.mozilla.org/#/jobs?repo=try&selectedJob=229277411&revision=91e87e10c3e3e78ad839364be244d66ac5705024

[2019-03-19 10:13] guest271314 commented on #15816
@Pehrsons  This bug has been ongoing for some time now. The code at the linked Chromium issue narrows code down to `MediaStream` (`HTMLMediaElement.captureStream()`) portion of the bug. When first tried at plnkr the tab crashed at first `addtrack` event. Just tried again and the tab crashed at second `addtrack` event.

Not entirely sure if the tab crashing is due to `MediaSource` or `MediaStream`

[2019-03-19 10:15] guest271314 commented on #15816
@Pehrsons Can you reproduce the tab crash described at Chromium/Chrome using this code https://bugs.chromium.org/p/chromium/issues/attachmentText?aid=384847?

[2019-03-19 11:35] jdm commented on #15816
@guest271314 You will want to follow the second instructions that I linked which opens a full request against this repository instead of your fork.

[2019-03-19 15:32] danyao commented on #15861
Oops sorry I didn't realize this. Thanks @gsnedders!

[2019-03-19 20:02] jugglinmike commented on #11009
We may be able to resolve these issues using WPT's new RFC process:

https://github.com/web-platform-tests/rfcs/pull/18

[2019-03-20 03:37] guest271314 commented on #15816
@jdm Tried again https://github.com/guest271314/web-platform-tests/pull/3/commits

[2019-03-20 09:10] foolip commented on #15692
I think option 1 is already possible, although it's not easy to find the documentation for how to change the hosts. @jugglinmike has recently done this for web-platform-tests.live, perhaps they can point at the right docs?

On option 2, does that amount to a shorthand for any non-same-origin host? If you don't require /etc/hosts to be changed, what would you replace it with? I'm guessing both `127

[2019-03-20 09:11] foolip commented on #15692
@youennf can I assign this to you to resolve one way or another? I came here while triaging the infra label, will mark it as backlog to get it out of my triage queue.

[2019-03-20 16:23] gsnedders commented on #7206
Now:

[code]

[2019-03-20 17:08] jgraham commented on #7206
`tools/` is irrelevant since that's hard skipped in the manifest code. So this is 30-40 lines of `.gitignore` rules outside the root.

[2019-03-20 17:22] gsnedders commented on #7206
As I posted in https://github.com/web-platform-tests/rfcs/pull/19:

I'm also in general against adding further constraints to how we do things in WPT which aren't generally needed. Really the only reason we reimplement this all ourselves is for projects that use Mercurial (mozilla-central) and SVN (WebKit). I'd also somewhat like to move to using Dulwich's implementation rather than maintain our o

[2019-03-20 17:34] jgraham commented on #7206
Yes, I agree, but those are real constraints that we have to work with, even as we may wish it wasn't so.

I created https://github.com/web-platform-tests/wpt/pull/15952 to clean up some of the existing mess and unsurprisingly it turns out that this is mostly cruft; files in subdirectories ignoring things that are already ignored in the root file, or adding yet more editor cruft that certainly oug

[2019-03-20 17:40] jugglinmike commented on #15692
web-platform-tests.live is using wptserve's default configuration for subdomains.

[There's a code path which suggests that the names may be overridden](https://github.com/web-platform-tests/wpt/blob/81bfcdbf4e6c2b6fba3d18befc64538a01f4a2cb/tools/serve/serve.py#L785-L788), but I haven't been able to find how that is exposed to end users. Even if it is, though, that won't address @youennf's use cas

[2019-03-20 17:46] jgraham commented on #15692
In general I'm wary of unlintable rules that test authors are expected to apply in order to make things work on vendor infrastructure; apart from being difficulty to maintain, it seems like it's passing on costs from the vendor wanting special consideration to all test authors. In this case it seems even worse because there are still a subset of tests that simply won't work for WebKit developers u

[2019-03-20 18:08] jugglinmike commented on #15692
We would definitely encourage contributors to prefer `{{hosts[alt][]}}` where possible, but the burden would ultimately fall on WebKit developers. Assuming this solution would even satisfy their use case. Still curious to hear from @youennf about that.

@jgraham do you have any ideas for how we could help out?

[2019-03-20 22:37] guest271314 commented on #15816
@jdm This is the commit that is the pull request https://github.com/guest271314/web-platform-tests/blob/20ee21bb602846e4335a7e4e72835a85a193b9de/media-source/mediasource-htmlmediaelement-capturestream.html. How to proceed?

[2019-03-20 22:50] jdm commented on #15816
@guest271314 https://github.com/web-platform-tests/wpt/compare/master...guest271314:master will allow you to create a pull request against this repository from any branch that exists on your fork.

[2019-03-20 22:58] guest271314 commented on #15816
@jdm This is the pull request https://github.com/web-platform-tests/wpt/pull/15963. There is probably an issue. Can you review the request and suggest the necessary changes?

[2019-03-20 23:08] jdm commented on #15816
I am not a good person to review it, since I am not familiar with the APIs being tested.

[2019-03-20 23:17] guest271314 commented on #15816
@jdm  Was referring to the pull request itself, not the API's being tested. This code https://github.com/web-platform-tests/wpt/pull/15963/commits/4ec675380896ad787270e4a46430d691fbb6f786 is essentially a duplicate of https://github.com/web-platform-tests/wpt/pull/15963/commits/cc69d844995a973785df73ab6157253a239ac8a4. The latter is the code that should be incorporated into `media-source` and/or `

[2019-03-20 23:25] guest271314 commented on #15816
@jdm Your feedback has been helpful.

[2019-03-21 02:36] youennf commented on #15692
127.0.0.1 and localhost are considered cross-origin.

Sure, I would really like to come to a conclusion as it causes issues on WebKit side.

Agreed.

This is very close to option 1. Given that there is already support in WPT infra, I would go with it.

I am unsure how you can encourage contributors to prefer `{{hosts[alt][]}}`.
I guess the best encouragement is for existing tests to mostly use `{{

[2019-03-21 05:37] marcoscaceres opened #15970 "Expired certificate at https://w3c-test.org/"
Seems the cert at https://w3c-test.org/ has expired.

[2019-03-21 07:22] sideshowbarker commented on #15970
oops, sorry about that — fixed now

[2019-03-21 07:22] #15970 closed

[2019-03-21 12:21] gsnedders opened #15975 "wpt run fails without requests installed globally"
[code]

[2019-03-21 12:25] gsnedders commented on #15975
Hmm, maybe just something odd going on with PyPy?

[2019-03-21 12:31] gsnedders commented on #15975
Oh, no, it's virtualenv's `activate_this.py` not supporting PyPy till recently.

[2019-03-21 12:31] #15975 closed

[2019-03-21 15:48] jugglinmike commented on #15692
Yes, exemplifying the preferred use is one way to encourage it. Another would be to describe it in the project documentation. A third way would be to post to the public-test-infra mailing list.

[2019-03-21 16:45] docfaraday commented on #10140
So we're up-to-spec on setIdentityProvider as of https://bugzilla.mozilla.org/show_bug.cgi?id=1446880, but this test-case is still failing with the same error. We're tracking this over at https://bugzilla.mozilla.org/show_bug.cgi?id=1534692

[2019-03-21 17:58] youennf commented on #15692
OK, if everybody agrees, we will start doing this, probably starting with resource-timing and referrer policy tests.

[2019-03-21 20:54] jgraham commented on #15692
I don't have a better suggestion because, fundamentally, I don't understand why the need to configure hosts, either in the system or in the test setup for the browser, is an insurmountable problem for WebKit but not for anyone else. Encouraging people to bandaid fixes so that only some tests are broken seems like it's avoiding addressing the fundamental issue here.

[2019-03-22 01:07] Hexcles opened #15994 "Taskcluster fails when PR description contains single quotes"
We do not escape `even_str` properly when storing it into `TASK_EVENT` env var:
https://github.com/web-platform-tests/wpt/blob/023f87586a2f4b64b02c8a1eaada053408d109f0/.taskcluster.yml#L80

So when the string contains single quotes, we might get Bash syntax errors. Example:
https://tools.taskcluster.net/groups/KQbrBjJ6RFWoJJkQb0dtQg/tasks/Dgs3C5lyS2eobL0By4YazA/details

[2019-03-22 02:36] wisniewskit commented on #7933
@yutakahirano, just so you know the WPT change is incoming in via PR #16010 (already reviewed by @annevk).

[2019-03-22 10:07] foolip commented on #15692
@youennf I'm not entirely clear on what the conclusion was here. Is something new in wptserve needed, or will you just replace some pattern in tests with an equivalent and simpler pattern that you can special-case in WebKit?

[2019-03-22 10:20] foolip commented on #13349
@jugglinmike this came up in triage today, is this among the issues to be fixed in your current work?

[2019-03-22 10:20] foolip commented on #14648
@jugglinmike will this be fixed by https://github.com/bocoup/wpt-docs/issues/2?

[2019-03-22 10:22] foolip commented on #10877
This is something I think we might still want to do, leaving as roadmap but probably won't get done in Q2 because @lukebjerring is OOO.

[2019-03-22 10:23] foolip commented on #9007
Ping @gsnedders. I think all we need here is a check that `no_proxy` is set and otherwise exit with a message saying it has to be set.

[2019-03-22 10:24] foolip commented on #12374
@gsnedders ExecutorWebDriver has been a thing for a while now. Can you mark the important follow-up as roadmap priority and close this issue?

[2019-03-22 10:25] foolip commented on #9546
@gsnedders any chance of getting this fixed before the end of the quarter?

[2019-03-22 10:25] foolip commented on #10355
@gsnedders any chance of getting this fixed before the end of the quarter?

[2019-03-22 10:26] foolip commented on #14654
Calling this backlog unless there are volunteers to be assigned. We'll finish the work on wpt.live/web-platform-tests.live in Q2, and maybe then we can do this.

[2019-03-22 10:26] foolip commented on #13183
@gsnedders any chance of getting this fixed before the end of the quarter?

[2019-03-22 10:29] foolip commented on #14707
@csharrison is this something you'd be interested in submitting a PR for? If so can I assign the issue to you? (Trying to have assignees for all priority:roadmap issues.)

[2019-03-22 12:07] youennf commented on #15692
The plan is to:
- special case {{hosts[alt][]}} to resolve to 127.0.0.1 in WebKit configuration
- replace some use of "{{hosts[][www]}}" or equivalent to {{hosts[alt][]}}
This does not require any wptserve change.

I still think that it is a bit tedious to have to write something like https://{{hosts[alt][]}}:{{ports[https][0]}}.
But this could be left to another day.

[2019-03-22 12:22] mikewest opened #16019 "Testing browser-initiated navigation."
https://github.com/mikewest/sec-metadata/issues/20 aims to specify a feature which would distinguish between browser-initiated navigation (e.g. a user clicks on a bookmark, or types into the address bar). https://mikewest.github.io/sec-metadata/#directly-user-initiated spells out the rationale. This seems difficult to test.

For example:

*   https://github.com/web-platform-tests/wpt/pull/15806 is

[2019-03-22 12:51] foolip commented on #16019
@LukeZielinski, what do you think about extending https://w3c.github.io/webdriver/#navigate-to to support this? Assuming WebDriver could do this, how could you write tests using it? (The challenge is that you can't navigate away from the test itself, and if you `window.open` that window isn't entirely like a normal window.)

[2019-03-22 12:57] foolip commented on #15692
@youennf if "{{hosts[][www]}}" doesn't work currently, could you map that to 127.0.0.1 instead? It couldn't work less than it currently does, right?

Switching from "{{hosts[][www]}}" to "{{hosts[alt][]}}" would switch from a same-site (for cookies) to a non-same-site host. For many tests it won't matter, but if you're going to map *something* 127.0.0.1, isn't the behavior of "{{hosts[][www]}}" cl

[2019-03-22 13:09] mikewest commented on #16019
I think that something like the following could work:

The harness navigates to `test.html` in whatever way makes sense. `test.html` calls `window.open()` to a puppet page, and drives it via `postMessage()` commands. That page can use the webdriver APIs to navigate itself in various ways, and `postMessage()` content back to `test.html`.

That needs some thought, though, as I worry that that will b

[2019-03-22 13:18] foolip commented on #16019
If nothing else, the test page could poll the window by sending messages to it. That would not be elegant, of course.

@LukeZielinski this is a case of the type I've mentioned where it seems like the ability to write tests from the outside of the browser might be useful. Could something derivative of the WebDriver tests work? @KyleJu may also have ideas.

[2019-03-22 15:04] chlily1 opened #16024 "--channel flag is confusing"
Running `./wpt run --help` shows the following info about the `--channel` flag:
[code]
I was somehow expecting it to select the correct binary based on the specified channel, probably because of the "For WebDriver installs, we attempt to select..." parenthetical, so I didn't realize that you actually have to provide a `--binary` flag as well in order to use a different version of the browser. This

[2019-03-22 15:08] #15994 closed

[2019-03-22 16:13] jugglinmike commented on #13349
@foolip no, it is not.

[2019-03-22 16:15] jugglinmike commented on #14648
That's my intention, but I'd like feedback from the interested parties before I say for certain.

[2019-03-22 17:09] LukeZielinski commented on #16019
Maybe this is similar to what Mike suggested about using window.open(), but there is a webdriver command to [open a new window](https://w3c.github.io/webdriver/#dfn-new-window). So `test.html` would open a new window, switch to it, and then navigate to the puppet page (all via webdriver)?

Would that perhaps avoid some of the issues with `window.opener`?

[2019-03-22 17:13] guest271314 commented on #15525
@annevk Is `setup({explicit_timeout: true})` https://web-platform-tests.org/writing-tests/manual.html necessary to prevent timeout of the test?

[2019-03-22 17:18] Hexcles opened #16026 "Taskcluster isn't running any jobs on master after switching to Checks API"
All jobs are empty no-op because `./wpt test-job` only produces `lint` and `manifest_upload`.

Example:
https://tools.taskcluster.net/groups/US_q1KYrQwCC4iA1taLBMw/tasks/CF899lETREeQKJdH9GZQZQ/runs/0/logs/public%2Flogs%2Flive.log#L122
(from https://github.com/web-platform-tests/wpt/runs/83097404)

[2019-03-22 17:19] Hexcles commented on #16026
I can also confirm this is NOT caused by #16021 . Runs before that also had the same issue.

[2019-03-22 17:22] guest271314 commented on #15560
Note, `onactive` and `oninactive` are still properties of `MediaStream` instance at Chromium 72.

[2019-03-22 17:54] Hexcles commented on #16026
Still broken after the revert. Perhaps #15724 was the culprit? cc @gsnedders

[2019-03-22 17:58] Hexcles commented on #16026
The tricky thing is: how do verity a setup would work on master? Shall we make a fork of wpt with everything (checks, apps, etc.) wired up to verify CI changes?

[2019-03-22 18:27] jgraham commented on #16026
That's basically what I did to test out the migration of manifest upload to the actions API (although that case was even harder because not everywhere has actions enabled).

[2019-03-22 19:31] jgraham commented on #16026
Should be fixed by #16030

[2019-03-22 19:35] mikewest commented on #16019
There needs to be a communication channel between the opened window, and the window that did the opening. As noted above, we could route messages through the server (perhaps by delivering a token to the newly-opened window in the URL as a query parameter or fragment?), or we could `BroadcastChannel` for same-origin windows. Either of those paths seem viable, if somewhat complicated.

That said, it

[2019-03-22 19:44] guest271314 commented on #15816
@Pehrsons https://github.com/w3c/mediacapture-record/issues/166

[2019-03-22 20:07] LukeZielinski commented on #16019
Does the communication channel need to go both ways, or just from parent to child?

The new-window webdriver command does return the handle of the newly-opened window, so could probably use that directly. It seems possible to extend navigate-to to take a window handle as a param as well (so you don't need to switch windows, although that seems minor), and then have a new webdriver endpoint to do t

[2019-03-22 20:49] youennf commented on #15692
Currently, WebKit has no way to run tests relying on hierarchical URLS, which is useful for some tests like cookies.  These tests should remain as is. As pointed out by @jgraham, I hope we can work on a solution on WebKit side to run those tests.

In the meantime, WebKit can benefit of running those other tests that do not care about differences between hosts[alt][] or hosts[][www] as long as it i

[2019-03-23 07:03] mikewest commented on #16019
We need to tell the page we're opening what to do (which, as noted above, could just be encoded in the URL in some way), and we need to get information back to the test so that we can verify the results.

The scheme you're laying out seems like it would be reasonable, but just to call out one bit that's glossed over: we need to define the way in which the webdriver API opens the window so that we

[2019-03-23 08:59] #8049 closed

[2019-03-23 09:07] dontcallmedom opened #16035 "Add test for `RTCCertificate.getSupportedAlgorithms`"
Marked as TODO in `webrtc/RTCCertificate.html`

[2019-03-23 20:16] guest271314 commented on #10088
@gsnedders Is this also an interop issue?

[2019-03-24 12:23] #14633 closed

[2019-03-24 15:58] wisniewskit commented on #7933
Actually, I just realized that I may have been partly wrong here, @annevk. In `send() step 5`, we check if there are any upload listeners, but *not* if there is actually anything being uploaded in the first place (if there is a `body` is null). As such we should send an `upload.loadend` event, just not the `upload.abort` event.

Based on this, I think I should revise the patch in PR #16010 before

[2019-03-24 16:14] annevk commented on #7933
@wisniewskit I'm not sure I understand. Aren't all these events conditional upon the upload complete flag as well, which is set to true in step 9 for a null body?

[2019-03-24 16:28] wisniewskit commented on #7933
Hmm. I'll take another look, maybe I'm just confusing myself.

[2019-03-24 19:39] yoavweiss commented on #7140
On Tue, Feb 19, 2019, 16:48 Philip Rogers <notifications@github.com> wrote:

I believe we tested those with internal layout tests. Since the actual
selection algorithm is not strictly defined, that seems OKish. (E.g. the
browser can intervene and request a lower resolution image)
It would still be better to have baseline WPTs that make sure the
non-intervention case is working as expected.

Regard

[2019-03-25 00:50] wisniewskit commented on #7933
Ah, so what's happening is that in the test-case, we hit process request end-of-body, which fires the upload.loadend event based only on whether there were upload listeners (it doesn't care whether upload-complete is true at the time, it just sets it to true).

So per spec-as-written, the upload.loadend event is supposed to fire (but not the upload.onabort).

That leaves me unsure of what to do he

[2019-03-25 12:09] #12374 closed

[2019-03-25 12:11] gsnedders opened #16054 "Move Edge to edge_webdriver by default"
Split from https://github.com/web-platform-tests/wpt/issues/12374:

I don't know if we should flip the switch now? I know @foolip has been having problems, but I don't know if they're actually worse with this than Selenium.

[2019-03-25 12:12] gsnedders opened #16055 "Move Opera to ExecutorWebDriver by default"
Split out of https://github.com/web-platform-tests/wpt/issues/12374.

This is low priority given we don't actually run Opera anywhere, and those who had been working on this on the Opera side are currently away as far as I'm aware.

[2019-03-25 12:13] foolip commented on #16054
This is the setup we use in Azure Pipelines anyway, so I say let's do it. The only reason I could see not to is if @mustjab or @thejohnjansen think the trouble we're having in Azure Pipelines wouldn't occur if we used Selenium instead.

[2019-03-25 12:13] gsnedders opened #16056 "Move chrome_android to ExecutorWebDriver by default"
Split out of https://github.com/web-platform-tests/wpt/issues/12374. Primarily waiting for someone with `chrome_android` working to test this all works before changing the default.

[2019-03-25 12:14] gsnedders commented on #9546
Given I've not even started looking into this again, no.

[2019-03-25 12:14] gsnedders commented on #16054
Or if we care about older releases of Edge, I guess.

[2019-03-25 12:16] gsnedders commented on #10355
I don't think we ever got a clear idea as to what to do here. I remain in favour of running unit tests on master, which we currently don't, and @jgraham is against doing so as far as I'm aware.

[2019-03-25 12:17] foolip commented on #10355
@jgraham don't you want to do that because of capacity? How about if we just do it once a day?

[2019-03-25 12:19] foolip commented on #16054
I don't think that would be worth keeping working, but I'll let @mustjab and @thejohnjansen speak to that.

[2019-03-25 12:19] gsnedders opened #16057 "Move to running Python 3 unit tests on 3.7"
Given the goal is still the vague notion of supporting Python 3 eventually, there's little point at targetting anything less than the latest release.

[2019-03-25 12:22] gsnedders commented on #16026
https://wpt.fyi/runs?label=master&max-count=100&from=2019-03-18T00%3A00 shows plenty of TC runs again, closing.

[2019-03-25 12:22] #16026 closed

[2019-03-25 12:27] gsnedders commented on #10088
An interop issue in what sense? Certainly it's evidence of there not being interop. But prioritisation of issues for each spec is a concern for those working on each spec.

Note we at least have some coverage from `mediacapture-fromelement/idlharness.window.html`, though we should probably have some coverage for the `"requestFrame" in ctx.canvas.captureStream(60)` case, probably in `historical.htm

[2019-03-25 13:14] annevk commented on #7933
I think the intention is to not fire events, right. If you fire `loadend` there, you'd also fire `progress` and `load`, right?

[2019-03-25 14:13] thejohnjansen commented on #16054
I have no reason to believe that the issues with Azure Pipelines would not occur if we used Selenium instead, and I also don't think we should worry about older releases of Edge... :-)

[2019-03-25 14:13] thejohnjansen commented on #16054
So, I think this should be fine.

[2019-03-25 14:15] foolip commented on #16054
@gsnedders please go ahead :)

[2019-03-25 14:28] foolip commented on #16019
@LukeZielinski returning window handled back to the test and letting the test then issue other WebDriver commands with those handles sounds like it would work, anything that's possible to do with WebDriver should ultimately be possible with this approach.

@mikewest for testing all those cases, is it WebDriver commands to open new windows in that way that are missing? Would it suffice to add enoug

[2019-03-25 14:39] foolip commented on #13349
Backlog it is :)

[2019-03-25 14:41] foolip commented on #16024
@jugglinmike FYI, another to the pile of things that aren't that well documented.

An alternative to documenting this better would be to actually change the binary we try to use based on the argument. @jgraham WDYT?

[2019-03-25 14:44] #15303 closed

[2019-03-25 14:50] guest271314 commented on #10088
@gsnedders Probably just do not gather the purpose of labels at an issue or PR, here. From perspective here "interop" means "interoperability": "_is a characteristic of a product or system, whose interfaces are completely understood, to work with other products or systems, at present or in the future, in either implementation or access, without any restrictions._".  In this case, _interoperability

[2019-03-25 15:08] wisniewskit commented on #7933
Yes, those are fired in the order given in process request end-of-body. So if we're ok with firing load instead of abort, that's what's happening right now.

If we don't want to fire any upload events on aborts, it seems that just adding a step 0.5 to process end-of-request "if the upload complete flag is set to true, return" does the trick in my reference implementation, as I would expect.

[2019-03-25 15:36] annevk commented on #7933
@wisniewskit so I think we should change the specification to not fire events there if that flag is set, as that's the intention of that flag. I'm a little surprised this callback is even called when there's no body.

[2019-03-25 15:49] wisniewskit commented on #7933
Alright, then my patch in [PR #16010](https://github.com/web-platform-tests/wpt/pull/16010) should be fine to land as-is, and we'll just need to alter the spec to match it.

[2019-03-25 16:24] anforowicz commented on #16019
Yes, the "open as if from context menu for this element" is important.  See https://crbug.com/925322#c10 and https://crbug.com/925322#c11 for some context (currently internal, but should become public eventually + I've added you to CC so you should have access to the bug).  I believe this bug highlights the importance of opening a new window by interacting with a _specific element/link_ and _via c

[2019-03-25 17:15] gsnedders opened #16064 "Reimport css/CSS2/tables/table-anonymous-objects-* tests from Gecko"
Almost all of these come from Gecko. They all have references there. The tests here are more complex (they have overlayed tables because they needed to have a clear visual pass condition because they predate the CSS WG accepting reftests) and only some have references (and some of those references are wrong).

See also #8881.

[2019-03-25 17:16] Hexcles commented on #16056
I can take a look. Do I just need to change the base class?

[2019-03-25 17:30] gsnedders commented on #16056
See caf4aa367ef. This is probably roughly similar.

[2019-03-26 13:09] gsnedders opened #16081 "Support downloading the manifest in other compressed formats"
Per discussion on IRC:

11:16 < jgraham> https://github.com/web-platform-tests/wpt-actions-test/releases/tag/merge_commit_01d8001cd1172d07239760d8be2cf980ff743924 I made some compressed manifests for you, if you want to benchmark download and extract time (all made using the latest version of the relevant tool on Ubuntu using the highest compression setting but without additional tricks like prebu

[2019-03-26 17:32] Hexcles opened #16089 "web-platform-tests.org should feature wpt.fyi"
Recently, I learned from a few Chromium developers that they were not aware of wpt.fyi, only web-platform-tests.org.

Apparently, web-platform-tests.org has done a good SEO job so it's relatively easy to find. We should feature wpt.fyi on web-platform-tests.org in a dominant place.

[2019-03-26 20:40] samuelgoto commented on #15753
We (@reillyeon and I) originally had in mind something along the lines of the following:

https://wicg.github.io/webusb/test/

So, some type of specification that we write that (a) is only implemented in tests and (b) gives other engines the ability to make these assertions on their implementation.

I haven't yet gotten to the point where that's written down, but I believe it would look similar to

[2019-03-26 20:58] foolip commented on #15753
@samuelgoto do you have a rough idea of what the testing API would look like in this case? Something like this?
[code]

Perhaps more arguments for `set` are needed, but the key question is if information only flows in one direction, or if there's also test-only information being returned, somehow, by the API?

If the API would look something like the above, then a setup along the lines of https://

[2019-03-26 21:00] reillyeon commented on #15753
Mojo mocking doesn't have to be used here but for an API that is still under active development the overhead of implementing WebDriver extension commands will add significant overhead which is why a lighter-weight approach has been taken here. The tests here originally isolated the Blink-specific code more thoroughly but that was reverted before the patch landed and should be fixed. (AI for @samue

[2019-03-27 04:25] estark37 opened #16105 "Integrate manual tests for URL display?"
Chromium maintains a tool called Trickuri (pronounced "trickery") for testing how web browsers display URLs (https://github.com/chromium/trickuri) and I'm wondering if there would be interest in having this tool be part of web-platform-tests.

Trickuri is a proxy that serves various unusual URLs (e.g., URLs with super long domains, domains with RTL labels, etc.). The intended usage of Truckuri is

[2019-03-27 11:41] foolip opened #16111 "Test failures on macOS due to failing to download ChromeDriver"
In https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=11342 the "infrastructure/ tests (macOS)" and "tools/wpt/ tests (macOS)" jobs failed because of this error:

I haven't seen this before, and it seems likely to have been caused by https://github.com/web-platform-tests/wpt/pull/15493, so poking @JohnChen0 @Hexcles @jgraham who participated in that review.

The same jobs did pass

[2019-03-27 13:17] jayvdb commented on #8820
I see that some of these sdists do not have tests included.

It will be much easier for packagers to do tests on Python 3 if the sdist for each has the tests included.

[2019-03-27 15:06] JohnChen0 commented on #16111
This appears to be a problem in Chromium's build process. For some reason the ChromeDriver binary is not saved at the end of Mac builds. I'll need to look into our build script to see what is wrong.

[2019-03-27 15:17] foolip commented on #16111
@JohnChen0 do you think this was caused by https://github.com/web-platform-tests/wpt/pull/15493, or would we have tried to fetch this URL before as well?

Short of reverting https://github.com/web-platform-tests/wpt/pull/15493, is there any quickfix for this?

[2019-03-27 15:20] Hexcles commented on #16111
This is definitely caused by #15493 . I thought I verified all platforms (Linux, Mac & Win) but apparently Mac doesn't save chromedriver as an artifact. Hopefully it'd be an easy fix by tweaking the build configuration in Chromium. If John can't spot anything obvious, we can revert #15493 .

[2019-03-27 15:30] jayvdb commented on #11009
I note that the PyPI source distributions do not contain a `LICENSE` file (at least two I checked).  It is highly desirable that they are included, usually by adding it to `MANIFEST.in`.

[2019-03-27 15:32] jgraham commented on #8820
The PyPI packages are in general not actively maintained (although speserve is sometimes updated) and aren't actually used by any wpt infrastructure or by browser vendors who import this stuff (afaik).

[2019-03-27 15:33] jayvdb commented on #8820
I ran into them because http://pypi.org/project/mozfile is using `wptserve` in its test rig.

[2019-03-27 15:33] foolip commented on #16089
We should probably also link it in the README.md prominently, unless that is collapsed into just a pointed to web-platform-tests.org.

[2019-03-27 19:25] JohnChen0 commented on #16111
I've found the bug in the Mac build config. Will prepare a fix shortly.

[2019-03-27 21:16] foolip opened #16121 "Collect screenshots from Edge on Azure Pipelines"
https://github.com/web-platform-tests/wpt/pull/16107 is merged, but did not include the `--log-wptscreenshot` bit needed to save screenshots.

Since this hasn't been tested on Windows or with Edge before, some validation is probably a good idea before just merging a change for that to master.

[2019-03-27 21:16] foolip commented on #16121
@Hexcles

[2019-03-27 21:19] Hexcles commented on #16121
Isn't `--log-wptscreenshot` already there before that change? https://github.com/web-platform-tests/wpt/pull/16107/files#diff-79a889188c51195ad1884f90e264f03cR189 I think it was added by me.

[2019-03-27 21:20] foolip commented on #16121
Oh. So, maybe this will work already? I guess we'll see after the first scheduled run that succeeds.

[2019-03-27 21:29] gsnedders commented on #7760
I don't think adding support for this in Firefox would be overly hard, at least if we're happy to accept an array of PNGs (and really I think that's fine).

Don't know about Chromium (@Hexcles? @LukeZielinski?); IIRC the current testing there relies on `testRunner.setPrinting()` which doesn't exist in Chromium builds.

[2019-03-27 21:41] foolip commented on #16105
@estark37 thanks for filing this issue, interesting stuff!

A directory of manual tests in web-platform-tests is definitely possible. In your description, the only thing that stands out as possibly problematic is the domains themselves, "super long domains, domains with RTL labels, etc." It looks like Trickuri depends on [proxy configuration](https://github.com/chromium/trickuri#proxy-configuratio

[2019-03-27 22:38] Hexcles opened #16123 "Clarify reftest screenshot timing in docs (e.g. the double rAF)"
Here's our current documentation regarding the default reftest timing (i.e. without `reftest-wait`) https://web-platform-tests.org/writing-tests/reftests.html#controlling-when-comparison-occurs:

This is perhaps too vague and I have had a few people asking about more detailed guarantees regarding layout, rasterization, etc. I'm not a layout expert and I don't know if the load event guarantees any

[2019-03-27 23:27] JohnChen0 commented on #16111
The fix has been checked into Chromium source repo (https://crrev.com/645038), and we should have a Mac build with ChromeDriver within a few hours.

[2019-03-28 00:15] gsnedders opened #16125 "wpt manifest -r produces different result to updating from current download"
[code]

This should produce an empty diff, it doesn't (not by a long shot!). We have bugs.

[2019-03-28 00:18] gsnedders commented on #16125
I think removing `meta_key` might've broken this…

[2019-03-28 00:20] gsnedders commented on #16125
It made it worse, but reverting it doesn't solve everything. I think we might have had some changes to `sourcefile` that never got picked up because the files have never had their manifest items regenerated.

[2019-03-28 00:53] JohnChen0 commented on #16111
The first Mac build with ChromeDriver has been created, with ChromeDriver binary at https://storage.googleapis.com/chromium-browser-snapshots/Mac/645088/chromedriver_mac64.zip.

[2019-03-28 02:27] Honry opened #16126 "[presentation-api] Test window.reload() on a presentation receiver page"
Correspond to spec change at https://github.com/w3c/presentation-api/issues/449

[2019-03-28 02:32] Honry commented on #16126
@tomoyukilabs, would you like to take it?

[2019-03-28 07:17] jayvdb commented on #8820
You can tick `manifest`.

https://build.opensuse.org/package/show/home:jayvdb:wpt/python-wptmanifest

`test_manifest_to_json` is failing a lot, mostly because the test case generation is too slow.  I've disabled that test on all platforms atm.

`test_manifest_idempotent` is also failing most of the time on arm arch, for the same reason.

I note that http://pypi.org/project/manifest/ was pre-alpha,

[2019-03-28 09:27] annevk commented on #16105
It sounds terrific to have (shared) tests for this. As noted, I think the main problem here will be the infrastructure.

We have some other tests that cannot be written due to lack of flexibility in domain names (e.g., #13465), but it's also true that the required setup for those kind of tests could raise the bar for the remainder of the tests too much.

Perhaps a temporary measure would be a stan

[2019-03-28 11:40] gsnedders commented on #16123
There are limits to what we can control over WebDriver and JS.

With regards to `rAF`, see https://html.spec.whatwg.org/#update-the-rendering. While I believe we can guarantee layout will have occurred, we can't guarantee that it has been rasterized (as that's not observable; it just so happens in the Blink case that the double-rAF guarantees it).

[2019-03-28 11:48] foolip commented on #16111
@JohnChen0 cool, thanks! Should this fix the problem right away, or does it have to reach the dev channel somehow first?

[2019-03-28 11:50] foolip commented on #16111
I've reopened https://github.com/web-platform-tests/wpt/pull/14887 to see if tests are passing now.

[2019-03-28 14:17] LukeZielinski opened #16132 "No recent stable Firefox runs on wpt.fyi"
https://wpt.fyi/runs?max-count=100&label=stable

There haven't been any Firefox runs since March 12.

[2019-03-28 14:17] LukeZielinski commented on #16132
@jgraham Hi James, are you able to take a look?

[2019-03-28 14:27] jgraham commented on #16132
So there are at least two problems here. One is that we accidentially broke running epoch branches for a while; that was https://github.com/web-platform-tests/wpt/pull/16117. The other issue seems to be that we're trying to download geckodriver from the wrong location on beta/stable c.f. https://tools.taskcluster.net/groups/cG42DIXlS8qiHTMF0P5jSQ/tasks/fj5cgxa4QE66yuZqgIDEeQ/runs/0/logs/public%2Fl

[2019-03-28 14:28] jgraham commented on #16132
Sorry, not geckodriver, the test prefs.

[2019-03-28 14:46] gsnedders commented on #16125
No, `meta_key` was purely a distraction. Making this urgent because we're actively broken and ignoring at least some manifest updates.

[2019-03-28 15:00] gsnedders commented on #16125
So, there's several parts to this:

 * We should've forced a regen after #14728 landed (because we need to actually expel all the old tests of the wrong type).
 * 7cc1301eaf9 made things worse, but the underlying bug was already there (we're supposed to have an invariant that paths exist in `json_data` or `data`, never both).

[2019-03-28 15:09] foolip commented on #16132
https://tools.taskcluster.net/groups/cG42DIXlS8qiHTMF0P5jSQ is the most recent run, found via https://api.github.com/repos/web-platform-tests/wpt/commits/ea8b7ff29a15265e3bf73364f49e22426a5b97d5/statuses.

[2019-03-28 15:22] foolip commented on #16121
It worked!

https://staging.wpt.fyi/results/css/css-tables/border-conflict-resolution.html?run_id=5662320726376448&run_id=6029620302315520&run_id=6076783594045440&run_id=6735801362677760

[2019-03-28 15:22] #16121 closed

[2019-03-28 15:32] Hexcles commented on #16111
@foolip it should and does work right away. Closing as fixed.

[2019-03-28 15:32] #16111 closed

[2019-03-28 16:28] Hexcles commented on #16123
For a reftest, wouldn't waiting until layout is observable a desirable default? Even if we can't guarantee it, it's usually the case in practice. Shall we say we try to make sure layout is observable, and discourage test authors from writing double-rAF simply for this purpose themselves?

[2019-03-28 17:40] LukeZielinski commented on #15753
We don't have formal documentation on the process, but there is pretty decent guidance in the form of an example [here.](https://docs.google.com/document/d/18BpD41vyX1cFZ77CE0a_DJYlGpdvyLlx3pwXVRxUzvI/edit#) This runs through the case of adding the generateTestReport API and covers each of the four major steps required.

But you're right, the process is fairly involved (and likely hasn't changed m

[2019-03-28 18:11] gsnedders commented on #16123
Yeah, we should probably just make it obvious that the intention is very much to guarantee it, nothing else makes sense…

[2019-03-28 18:53] LukeZielinski commented on #16019
@anforowicz Would you be able to cc me on that bug as well? Apologies if any of the following is covered in there.

Just to clarify - are we concerned with how windows are opened, or just how they are navigated (or both)? My reading of [mikewest/sec-metadata#20](https://github.com/mikewest/sec-metadata/issues/20) is that the Sec-Fetch-Site header is sent when some already-open window is navigated.

[2019-03-28 18:55] davidsgrogan opened #16140 "Feature Request: access a box's _device pixels_ for testing"
We'd like to test pixel snapping/rounding behavior where engines agree on behavior. Some of these can be reftests but others might need to directly test the dimensions. Something like getBoundingClientRect that returns either device pixels or device pixels translated back to CSS pixels (e.g. on a 2x device it would return only whole and half CSS pixel values).

Maybe this belongs on the open web p

[2019-03-28 19:07] anforowicz commented on #16019
Done.

Both - these things are quite interconnected.  We want to know how a navigation was initiated (through the trusted browser user interface VS through web content - e.g. through links) and this _probably_ means that we want to know how windows are opened (via ctrl-clicking VS right-click-context-menu-open-in-new-tab VS right-click-in-tab-strip-duplicate).

Not really.  Sec-Fetch-Site should i

[2019-03-28 20:13] reillyeon commented on #15753
Which errors do you want to prevent? I filed web-platform-tests/results-collection#81 a while back to have Chrome run with the right flags so that if we check in all the generated Mojo bindings (as is done for  the Generic Sensors and WebUSB tests) then the tests should pass on wpt.fyi. Without those flags enabled an official Chrome build as is used for upstream WPT won't work. Do you mean that or

[2019-03-29 09:57] mikewest opened #16147 "Testing hostnames with trailing dots."
https://wpt.fyi/results/fetch/sec-metadata/iframe.tentative.https.sub.html?label=master&product=chrome%5Bexperimental%5D&product=edge&product=firefox%5Bexperimental%5D&product=safari%5Bexperimental%5D&aligned aims to test the behavior of `{{host}}.` (note the trailing dot). It looks like that fails to load in the test harness.

[2019-03-29 15:19] guest271314 commented on #16019
@mikewest

Have no experience using webdriver. Though this pattern using `SharedWorker` https://stackoverflow.com/a/38939251 might be able to be adjusted to suit the requirement?

[2019-03-29 15:52] guest271314 opened #16153 "Add TaskWorklet tests"
[`TaskWorklet`](https://cs.chromium.org/chromium/src/third_party/blink/renderer/core/workers/experimental/task_worklet_global_scope.idl) (see also https://github.com/developit/task-worklet) has landed in Chromium. Some tests are located at [taskqueue](https://cs.chromium.org/chromium/src/third_party/blink/web_tests/http/tests/workers/taskqueue/) and https://github.com/developit/task-worklet/blob/m

[2019-03-29 16:17] gsnedders commented on #16140
This is entangled with CSS rounding behaviour, right? Which the CSS WG has been historically reluctant to standardise in any way…

[2019-03-29 16:43] chrishtr commented on #16140
The proposal is not to standardize pixel snapping behavior, but allow the developer to observe it.
See also https://github.com/w3c/csswg-drafts/issues/3554.

[2019-03-29 19:40] LukeZielinski commented on #15753
I was referring to the Chrome failures, which (as you described) are because of the missing flags/bindings in WPT. Mostly because it's not as nice that we have the test failing in wpt.fyi.

I'd like to log an issue to keep track of whether we can upgrade this to use WebDriver at some point down the road. Can you describe what the testing API would look like for this feature? Is it as simple as wha

[2019-03-29 19:50] reillyeon commented on #15753
I've filed samuelgoto/idle-detection#6 to track this work.

[2019-04-01 09:39] foolip opened #16175 "Taskcluster wpt-firefox-nightly-stability timeout when touching interfaces/html.idl"
https://github.com/web-platform-tests/wpt/pull/15515 touched only interfaces/html.idl, and in https://tools.taskcluster.net/groups/Zc9ENg6NRfekkyxpI35AWw the wpt-firefox-nightly-stability task ended with "Task timeout after 7200 seconds. Force killing container."

In the logs I also see "Identified 154 affected tests", which doesn't seem like that many tests, although they will be pretty slow beca

[2019-04-01 10:35] #16125 closed

[2019-04-01 11:53] Ms2ger opened #16178 "Rename 'async' argument to BaseProtocolPart.execute_script()"
Per <https://docs.python.org/3/whatsnew/3.7.html>, 'async' became a reserved keyword in Python 3.7.

[2019-04-01 14:47] gsnedders commented on #7760
I think we should at least agree how we're going to label these so we can rename everything in #5381 and not have things bounce between different filenames.

I think we've had two suggestions:

 * `:root.reftest-paged` class
 * `.paged.` meta flag

I don't think I have a strong opinion here.

[2019-04-01 14:53] jgraham commented on #7760
The former is how gecko does things but doesn't really match any pattern we have; the design in wpt is that we use functional elements to identify test types where possible and metadata in filenames where it isn't. In this case I don't think there's an appropriate functional element to use, so filename metadata is the consistent design.

[2019-04-01 15:49] gsnedders commented on #11046
@birtles we should land what you've already fixed, no?

[2019-04-01 17:55] Hexcles opened #16187 "edge_webdriver includes '\r' (CR) in some test names"
Failure examples are mostly from [WebCryptoAPI/generateKey](https://wpt.fyi/results/WebCryptoAPI/generateKey), especially those with query params. e.g. `successes_RSA-OAEP.https.any.html?1-10` becomes `successes_RSA-OAEP.https.any.html?1-10\r` in edge_webdriver.

This is preventing wpt.fyi from ingesting the run because [GCS doesn't allow CR or LF in paths](https://cloud.google.com/storage/docs/na

[2019-04-01 18:17] jan-ivar opened #16188 "Check that createOffer() rejects outside of "stable" and "have-local-offer""
Tests https://github.com/w3c/webrtc-pc/issues/2145.

[2019-04-01 18:28] Hexcles commented on #16132
Any updates? Looks like we are still not getting any Firefox stable runs.

[2019-04-01 19:17] csharrison commented on #14707
I am happy to own this, but I'm not sure there's consensus that this is something we even want to ship, especially if it would end up being very complicated. Maybe there are alternatives we should explore instead?

My requirement is to allow dynamic content / templating on files with fixed paths (.well-known addresses). The only reason I need this is to construct valid origins, since ports are not

[2019-04-01 19:19] jgraham commented on #16132
I landed https://github.com/web-platform-tests/wpt/pull/16176 but since we only get stable runs once a day, it's hard to be sure if it made a difference.

[2019-04-01 20:14] foolip commented on #16132
We're running Edge and Safari stable every 6 hours on Azure Pipelines now, perhaps we should increase the cadence for Taskcluster as well just to iterate more quickly in cases like this? Also makes a fluke missing run less serious.

[2019-04-02 00:56] birtles commented on #11046
I should finish fixing a few more tests first I guess. Let me bring it up at our Web Animations telcon tonight.

[2019-04-02 01:55] Hexcles commented on #16132
Looks like we have stable runs https://wpt.fyi/results/?run_id=5818496017498112&run_id=5378137953140736&run_id=5279026683838464&run_id=5419764172193792

Thanks, @jgraham !

[2019-04-02 01:55] #16132 closed

[2019-04-02 02:43] Honry opened #16200 "[wake-lock] Add tests for requestPermission method"
Reflects to spec change in https://github.com/w3c/wake-lock/pull/167

[2019-04-02 07:34] guest271314 opened #16206 "Add tests for mediacapture-screen-share/screen-capture CursorCaptureConstraint"
Add tests for [Screen Capture](https://w3c.github.io/mediacapture-screen-share) [CursorCaptureConstraint](https://w3c.github.io/mediacapture-screen-share/#cursorcaptureconstraint)

[code]

https://github.com/w3c/mediacapture-screen-share/pull/58

[2019-04-02 07:37] Ms2ger opened #16207 "Run wptrunner tests on python 3 on macOS"
Ref #10128.

The macOS bot on Azure has python 3.7 installed, but wptrunner is broken (even more) there because of #16178. Once that's fixed, it should be as simple as adding `py37-*` to the `envlist` in `tools/wptrunner/tox.ini`.

[2019-04-02 07:37] Ms2ger commented on #16207
CC @foolip

[2019-04-02 07:37] Ms2ger commented on #16178
Ref #10128.

[2019-04-02 12:01] louaybassbouss opened #16214 "Integration of CTA WAVE Test Suite for Embedded Devices with WPT"
The [Web Media API Test Suite](https://github.com/cta-wave/WMAS) is a fork of the WPT Test suite to cover embedded devices like TVs and STBs which are not supported by the current WPT Test Runner. The main limitation of the WPT test runner on embedded devices is that it requires multiple browser windows, one for the test runner itself and one for running individual tests as depicted in the high-le

[2019-04-02 13:50] foolip commented on #16132
Yay, thanks @jgraham!

[2019-04-02 19:37] marcoscaceres opened #16223 "https://w3c-test.org is down"
I repeat! https://w3c-test.org is down 🚨 :)

[2019-04-02 19:38] marcoscaceres commented on #16223
And it's back ...

[2019-04-02 19:38] #16223 closed

[2019-04-02 19:40] KyleJu opened #16224 "WPT Lint Failed due to OSError: [Errno 2] No such file or directory"
Exported CL failed at the Lint task - https://github.com/web-platform-tests/wpt/pull/16165

The Lint failures are as follow:
https://tools.taskcluster.net/groups/akeNchveQKal63tO-kI8HQ/tasks/eGOFUk-7SWu7zBnQ6bOfHA/runs/0/logs/public%2Flogs%2Flive.log

Seems to be an infrastructure issue

[2019-04-02 19:40] KyleJu commented on #16224
@Hexcles

[2019-04-02 19:52] Hexcles commented on #16207
I'm not a Mac power user. What is the de-facto/recommended way to get Python 3 on macOS? Homebrew?

[2019-04-02 20:32] whh8b commented on #15849
@yoavweiss Just FYI: I proposed a change that *should* resolve the issue. I'd love your thoughts.

[2019-04-02 21:30] fantasai commented on #7760
Firefox is able to generate PDFs through the print dialog, at least here on Linux. I think it'd be better if we can hook things up with PDFs, because then we can get a lot more CSS engines into WPT.

I don't have an opinion about how to flag these tests in WPT. I do have an opinion that the Firefox reftest convention for default page sizes and margins is the one we want to use.

[2019-04-02 21:37] foolip opened #16229 "Missing results from Safari on Azure Pipelines"
Not all tests are being run in Safari or Safari Technology Preview on Azure Pipelines, as some of the jobs are ending without running all of the tests. This is causing ~12% of all test results to be missing, with more towards the end of the A-Z listing, as tests are run in alphabetical order.

----

Original report:

I noticed via [Intent to Ship: AnimationEffect and KeyframeEffect (except composi

[2019-04-02 22:51] hawkinsw opened #16232 "[wptrunner] option to --binary-arg cannot accept argument containing leading dash"
If the user wants to give an argument to `--binary-argument` that contains a leading dash (e.g., `-devtools`), it is not recognized (thanks to argparse). No amount of escape characters help -- they make argparse happy, but wptrunner copies them verbatim to the command it issues when starting the binary.

The fix is easy and I have a patch that I will be publishing immediately after filing this bug

[2019-04-03 00:40] jugglinmike opened #16236 "[webaudio] Unstable test names"
The webaudio tests define tests whose titles change from one execution to the next. I haven't experienced this when testing locally, but it's apparent in the results collected via Taskcluster and published to wpt.fyi. For example, [here's a comparison of results from `cors-check.https.html` between two consecutive commits to WPT](https://wpt.fyi/results/webaudio/the-audio-api/the-mediaelementaudio

[2019-04-03 07:34] Ms2ger commented on #16207
`brew install python` (which means python3) was the suggestion I got, but that failed because it was already installed.

[2019-04-03 12:09] foolip commented on #16207
Does that mean the `python3` binary already exists? If so I guess it's installed by Azure Pipelines, and some steps to make it the default python is all that's needed?

[2019-04-03 12:29] Ms2ger commented on #16207
No, what's needed is fixing #16178, so we don't hit SyntaxErrors when running the tests under python 3.7. Once that's done, it should be as simple as adding py37-* to the envlist in tools/wptrunner/tox.ini. (TC runs python 3.6, which isn't affected.)

[2019-04-03 15:21] Hexcles opened #16245 "`wpt manifest` requires git even when `--work` is used"
I've only observed the problem in the following setup: in a test root that is not a git repo and does not have an existing `MANIFEST.json`, running `wpt manifest --work --test-root` would produce the following error:

[code]

Adding `--no-download` or `--rebuild` would work around the problem.

[2019-04-03 15:21] Hexcles commented on #16245
cc @gsnedders

[2019-04-03 15:31] gsnedders commented on #7760
Firefox can certainly generate PDFs, but it's harder to implement generally given all the reftest tooling assumes PNGs.

I guess the question is whether we gain much by using the actual PDFs, assuming PDF->PNG conversion is deterministic (which I'd hope most rasterisers are?). It doesn't really matter what the actual output from the UA is provided we can convert it.

[2019-04-03 15:42] gsnedders commented on #10128
Current dependencies that don't support Py3:

tools/wptrunner/requirements.txt: `mozdebug`

tools/wptrunner/requirements_firefox.txt: `marionette_driver`, `mozleak`, `mozdownload`

`mozdebug` is only actually imported when we're running with `--debugger`, so at least in principle there's nothing blocking us from getting wptrunner running on Python 3 now.

[2019-04-03 15:51] jgraham commented on #10128
`mozdebug` is not that much code [1] and neither is `mozleak` [2]; a project to port wptrunner could port those without much difficulty.

`mozdownload` we only really use for downloading geckodriver, and we can easily replace that with something that accesses taskcluster directly.

`marionette_driver` is more work and somewhat discontinued; I think it would be a good idea to replace the bits of ma

[2019-04-03 16:06] guest271314 commented on #16123
@Hexcles What is the test trying to achieve?

[2019-04-03 17:57] Hexcles commented on #16123
@guest271314 fairly simple: set the layout via CSS, change the layout via JavaScript in body (before `load`), and hope the screenshot would capture the new layout. The current docs only say that we wait for `load` which would guarantee that the script has completed and the relayout has happened, but IIUC technically there's no guarantee whether it's observable/rasterized.

This is such a simple an

[2019-04-03 18:18] KyleJu commented on #16224
#h16210  another instance related to this bug

[2019-04-03 19:42] guest271314 commented on #16123
@Hexcles Which `load` event is being referenced? `window`, `document.body`, an `img` element?

How is the layout changed in JavaScript? Directly at the `styleSheet`, using `style` property of an `HTMLElement`, or changing text within a `<style>` element?

Is this test and context related to a headless browser taking a screenshot of a requested `document`?

There are several approaches which can be

[2019-04-03 20:09] guest271314 commented on #16123
@Hexcles

Can you link to the actual test which raised this issue?

Some similar inquiries and related code that might be helpful (can include the code here if necessary)

`PerformanceObserver`

- [Get actual image url after redirect](https://stackoverflow.com/q/43960770)

[code]

- [Handling <?xml-stylesheet> similar to <link rel=“stylesheet”>?](https://stackoverflow.com/q/41497274)

[code]

`Mut

[2019-04-03 20:34] guest271314 commented on #16123
@Hexcles From what gather `<link rel="import">` has been deprecated in lieu of `import` and dynamic `import()`, where `load` event of `<link>` element could be used, though `MutationObserver()` could alternatively be used, see [Is there a way to know if a link/script is still pending or has it failed](https://stackoverflow.com/q/39824927); http://plnkr.co/edit/mDMGGC75JQFZR6R206qG?p=preview

[code

[2019-04-03 20:38] Hexcles commented on #16123
I'm a bit confused. I haven't linked to any example. Which test are you referring to?

Here's one example: https://crrev.com/c/1542305/5/third_party/blink/web_tests/external/wpt/css/css-tables/toggle-row-display-property-001.html

The author was not sure if any extra step was needed to ensure that screenshots are taken after the layout change caused by the script becomes observable, since the doc

[2019-04-03 20:49] guest271314 commented on #16123
@Hexcles

"Test File" and "Reference File" at  "Example Reftests" at the link https://web-platform-tests.org/writing-tests/reftests.html#controlling-when-comparison-occurs.

No `load` event is used for the `<link>` element at the example test linked to at last comment. The simplest solution would be to await `load` event of the "Reference File" at `<link>` element, or alternatively use `fetch()` a

[2019-04-03 21:00] guest271314 commented on #16123
@Hexcles Does the test currently actually rely on `requestAnimationFrame` and not observing changes to the elements before taking the screenshot?

[2019-04-03 21:00] Hexcles commented on #16123
Hmm looks like you're not familiar with the implementation of WPT reftests.

Those `<link>` tags are parsed and used by our Python test runner, not the browser. The runner controls the browser (via WebDriver) to take screenshots of the test and the reference separately and compares them. That's what a reftest is in WPT.

This issue isn't about that. We are only talking about within a page (be it t

[2019-04-03 21:04] Hexcles commented on #16123
Test authors want whatever changes to the layout done before the `load` event (usually in a `<script>` tag in `<body>`) to be captured in the screenshot. That's the most intuitive and also matches our current implementation, but the documentation doesn't strictly say so.

[2019-04-03 21:05] guest271314 commented on #16123
@Hexcles Why is `load` event of `window` and `requestAnimationFrame` used? Or, relevant to this issue, why does the make the claim that `load` event of `window` is a "guarantee" for when to take the screenshot? Instead, for the linked example test `style="display:none"` can be set at the `<tr>` elements within the HTML, instead of a `<style>` element, then use `MutationObserver` to check if `rows.

[2019-04-03 21:16] Hexcles commented on #16123
That's the default of our reftest implementation. We need to define a sensible default timing for screenshots. Do you have better suggestions?

And of course, one might be able to essentially implement a reftest using a worker and a canvas without relying on the external screenshot comparison functionality provided by wptrunner, but having to implement all of that in every single reftest is not ve

[2019-04-03 21:31] guest271314 commented on #16123
@Hexcles Right now `requestAnimationFrame` does not "guarantee" anything related to the claim made, as no check is performed to verify that imported content has loaded or the elements' have been changed in some way by JavaScript. Even when changed by JavaScript, e.g., if one were to place the code which executes screenshot after `for` loop, the changes still might not have been made.

You are corr

[2019-04-03 21:39] guest271314 commented on #16123
@Hexcles See MutationObserver watching for style change only firing once https://stackoverflow.com/q/54639719. Note the `style` attribute set at the actual HTML. The linked Chromium test mixes setting `style` attribute at HTML and text of a `<style>` element, which could reflect different values in some cases; see the last question and code at this comment https://github.com/web-platform-tests/wpt

[2019-04-03 21:41] guest271314 commented on #16123
@Hexcles  https://plnkr.co/edit/j7nx5A?p=preview

[2019-04-03 21:43] Hexcles commented on #16123
No, it doesn't. It's a non-interoperable hack that works on Chrome: if you have a nested double `requestAnimationFrame`, the innermost callback would happen before the second animation frame and after the first animation frame, which would (on Chrome) guarantee that any previous layout change has been flushed to the frame.

The problem is that we are talking about external screenshots, not inside

[2019-04-03 21:51] guest271314 commented on #16123
@Hexcles No, the different applications of `style` and what is reflected at the DOM is not "off-topic", given the linked test changes the `style`. That is, if the concern is actually determining how/when the layout changes using different means. In any event, if you omit that consideration, that is your choice.

The problem is that we are talking about external screenshots, not inside JavaScript.

[2019-04-03 21:56] Hexcles commented on #16123
This is the key question. Fundamentally, if you only rely on JavaScript to assert DOM properties, you'd never be able to test the rendering stack of a browser. Reftests are end-to-end, blackbox tests that cover both the layout calculation and graphic rendering. That's why an external screenshot of the window is needed.

In some cases, the layout calculation is correct, but there can be a graphic g

[2019-04-03 21:59] guest271314 commented on #16123
@Hexcles Using CSS animation and/or Web Animation API you could check `window.getComputedStyle()` and/or `.getBBoundingClientRect()` during the animation and after the animation. Taking screenshots during the entire procedure. And/or simply capture the entire procedure using `.getDisplayMedia()`. There are several options available.

[2019-04-03 22:00] guest271314 commented on #16123
@Hexcles Taking a single screenshot at an arbitrary point in time in the future does not appear to convey the entire procedure and actual results.

[2019-04-03 22:07] Hexcles commented on #16123
These, again, do not necessarily reflect the graphics in case there are bugs in the rendering pipeline.

This is not available on all the browsers WPT runs on.

If you're re-stating the docs that I quoted in the original issue and expressing your dissatisfaction of it, I totally agree. The statement is too vague. And changing it to better reflect the implementation and reduce confusion is exactly

[2019-04-03 22:29] guest271314 commented on #16123
@Hexcles

How do you know that without trying? Find and fix those bugs as well?

Have not tried the wpt server. `.getDisplayMedia()` is available at the latest, ostensibly, FOSS browsers Chromium and Firefox (Nightly). There is a Chrome specific exploit being used as mentioned earlier above, therefore `.getDisplayMedia()` could be used for the tests at those two browsers, to capture the entire pro

[2019-04-03 23:15] jugglinmike commented on #12698
[As of April 2019, wpt.fyi visualizes reftest results.](https://groups.google.com/a/chromium.org/forum/#!topic/ecosystem-infra/MMW95aswgOo) A local workflow is still important to get immediate feedback on work-in-progress, but the documentation @gsnedders has requested ought to also reference wpt.fyi.

[2019-04-03 23:47] jugglinmike opened #16254 ""wdspec" test type is undocumented"
Tests for the WebDriver specification are written in Python using the Pytest framework. As such, the process of writing them is substantially different than any of WPT's other test types. There is currently no written explanation for these tests, although [the documentation does draw attention to the deficit](https://github.com/web-platform-tests/wpt/blob/b8669365b81965f5400d6b13a7783415b44e679d/d

[2019-04-03 23:49] jugglinmike opened #16255 ""jsshell" test environment is undocumented"
gh-10769 introduced a new environment for multi-global tests named "jsshell". This environment is not referenced in any of the project documentation.

We should write new content that explains what the environment is and when a contributor may want to use it.

[2019-04-03 23:51] jugglinmike commented on #15825
@thejohnjansen's lucky because he gets to call everything an "edge case".

[2019-04-04 00:39] thejohnjansen commented on #15825
The person I asked is on Parental leave, but I posted this question to an internal networking alias...

[2019-04-04 15:12] Hexcles commented on #16187
Raising to "urgent" as this is now *always* happening.

[2019-04-04 15:12] Hexcles commented on #16187
cc @foolip

[2019-04-04 19:49] thejohnjansen commented on #15825
After a conversation with some internal folks, I think it's best to rely on the BOM here (of course, as you say, that increases the change ...). Alternatively, you can punt on this because it seems extremely unlikely others will be in this same situation as @mkruisselbrink .

[2019-04-04 21:34] bzbarsky opened #16267 "idlharness does not enforce constraints on nullable unions"
Per IDL spec, a nullable union is not allowed to contain a dictionary type.  idlharness doesn't seem to enforce that.

In fact, it enforces none of the requirements around what types are allowed to be in nullable unions.  The actual IDL spec rules around what's disallowed are:

Furthermore, nullable dictionary-typed _arguments_ are disallowed, and idlharness doesn't check for that either.

[2019-04-04 23:57] jugglinmike commented on #16024
Extending the flag with additional functionality may make other interactions confusing. For instance, if `./wpt run --channel experimental firefox` downloads Firefox Nightly, what should it do if `--browser-binary` is also specified? What should happen if a subsequent command uses `--channel stable`?

Another way to address this may be to reduce the capabilities of `./wpt run`. If it didn't downlo

[2019-04-05 13:38] bzbarsky opened #16276 "idlharness seems to have no enforcement of overload sanity"
Per IDL spec, overloads are supposed to be distinguishable, with various rules at https://heycam.github.io/webidl/#idl-overloading (search for "distinguishing argument index" and the prose around it).  I don't see anything in idlharness that verifies that the IDL it's fed satisfies those requirements, though maybe I just missed it?

[2019-04-05 17:11] guest271314 commented on #16123
@Hexcles Re

Chromium, Firefox and Edge support the Screen Capture API as `getDisplayMedia()`. Have not tried Edge implementation. adapter.js https://webrtc.github.io/adapter/adapter-latest.js is available if necessary. Safari evidently supports the API behind a flag see https://bugs.webkit.org/show_bug.cgi?id=186294, https://bugs.webkit.org/show_bug.cgi?id=181333. There is also html2canvas https:

[2019-04-05 17:24] guest271314 commented on #16123
@Hexcles Some code which could be adapted/adjusted to perform the test https://github.com/guest271314/MediaFragmentRecorder/blob/getdisplaymedia-webaudio/MediaFragmentRecorder.html. Chromium/Chrome does not include cues in the resulting webm video file, though ts-ebml https://github.com/legokichi/ts-ebml can be used to insert the timestamps for the ability to get an approximation of when the paint

[2019-04-08 03:03] Honry opened #16285 "[wake-lock] Add tests for `query()` method"
See spec change at https://github.com/w3c/wake-lock/pull/172

[2019-04-08 08:26] zcorpan opened #16288 "Document output formats from `wpt run`"
https://web-platform-tests.org/running-tests/from-local-system.html says how to run tests but doesn't say how to see the results. Currently when running tests the output in the console is:

[code]

I want to know how which tests passed/failed. The docs doesn't say how to get this information. It does say this at the end

From there I can learn about output logging options. I wouldn't know which of

[2019-04-08 15:12] KyleJu commented on #7660
#16219 caused by test timeout on Firefox Nightly. @Hexcles please admin merge

[2019-04-08 21:14] Hexcles commented on #16224
Whatever the bug was, it seems someone has fixed it. All the blocked PRs passed lints after being rebased.

[2019-04-08 21:14] #16224 closed

[2019-04-09 00:23] Manishearth opened #16294 "Figure out cross-browser webxr testing story"
Currently the webxr tests use an `XRTest` interface from Chromium, which wraps Chromium's internal `MockVRService` implementation

(which eventually goes through `mojo` APIs that I haven't yet been able to fully chase down)

Currently Chromium's `XRTest` only allows for spinning up and shutting down XR devices, but presumably it will need more stuff, like pose emulation.

Perhaps we should work to

[2019-04-09 17:48] gsnedders commented on #16232
wontfix for the reason described in #16233

[2019-04-09 17:48] #16232 closed

[2019-04-09 18:41] Manishearth commented on #16294
Ah, this is being done at https://github.com/immersive-web/webxr-test-api

Probably should be mentioned in a readme somewhere

[2019-04-09 21:47] dholbert opened #16304 "The testcase "flex-vertical-align-effect.html" has unwarranted requirements for radio button sizing/positioning"
This web platform test...
  http://w3c-test.org/css/css-flexbox/flex-vertical-align-effect.html
  http://w3c-test.org/css/css-flexbox/reference/flex-vertical-align-effect.html
..."fails" in both Firefox and Edge (pre-chromium) -- in Firefox and Edge, the radio button is placed lower (looking vertically centered, but technically 'stretched') in the testcase, vs. higher in the reference case.

I thi

[2019-04-09 21:52] dholbert commented on #16304
The test dates back this 2012 commit:
https://github.com/web-platform-tests/wpt/commit/6c8fc84f6871583fa7317e3076d60adb090ce385
Commit message: "vertical-align property has no effect when set the display property to flex"

Note that the testcase uses "vertical-align:middle" on the radio control, and it's trying to assert that this has no effect (and it does have no effect, but align-self:stretch e

[2019-04-09 22:15] dholbert commented on #16304
Looks like I filed a bug on this a while back, actually -- this is:
https://bugs.chromium.org/p/chromium/issues/detail?id=768999

[2019-04-10 13:49] henbos opened #16310 "Test that transceivers are stopped after negotiation"
See https://github.com/w3c/webrtc-pc/pull/2160.

[2019-04-10 17:57] nils-ohlmeier commented on #8301
I think with all the improvements landed this has reached now decent stability level that we can close this.

[2019-04-10 17:57] #8301 closed

[2019-04-11 08:01] Ms2ger commented on #2613
https://github.com/web-platform-tests/wpt/pull/13271

[2019-04-11 08:01] #2613 closed

[2019-04-11 14:20] #12696 closed

[2019-04-11 14:33] alvestrand opened #16316 "Infra: Can't close a PR"
This CL doesn't close when I close it:

https://github.com/web-platform-tests/wpt/pull/13902

Can someone figure out why?
Tagging @foolip

[2019-04-11 14:59] gsnedders commented on #16229
@foolip I don't know, but there are plenty of errors/warnings that we don't treat as reasons to cause a non-zero exit code. Hard to tell what's going on without more verbose logs, though.

[2019-04-11 15:08] gsnedders commented on #13183
Is there any reason to believe this is so high priority? Does it affect more tests than other untestable issues?

[2019-04-11 15:20] gsnedders commented on #7543
Fixed by #12187.

[2019-04-11 15:20] #7543 closed

[2019-04-11 23:35] guest271314 commented on #10140
Is the test fixed? Does there exist example code which implements this without errors?

[2019-04-12 04:45] estark37 commented on #16105
Thanks for the replies @annevk and @foolip! And doh, I completely lost track of this issue and forgot to follow up. :(

I agree that the current wpt server setup is not a good fit for this. We test all sorts of different domains and I anticipate that new ones will be added fairly regularly, so modifying /etc/hosts doesn't seem viable.

I was imagining that the URL display tests would be sort of a

[2019-04-12 07:47] Honry commented on #14389
Fixed by #15616, #15646, #15647, #15648, #15666.

[2019-04-12 07:47] #14389 closed

[2019-04-12 07:50] Honry commented on #14327
Fixed by https://github.com/web-platform-tests/wpt/pull/15646, https://github.com/web-platform-tests/wpt/pull/15647.

[2019-04-12 07:50] #14327 closed

[2019-04-12 08:44] annevk commented on #16105
Thanks, that makes sense to me.

@jgraham @gsnedders your input is probably needed at this point.

[2019-04-12 12:04] foolip commented on #16105
A variant of `./wpt run` that requires more setup and lets the user run manual tests and say whether they passed sounds like a good idea to me. Right now I think http://w3c-test.org/tools/runner/index.html is the only way to run manual tests.

[2019-04-12 12:10] gsnedders commented on #16316
I would guess some GitHub bug, or a dodgy connection (on either end!) meaning the close button press didn't get processed?

[2019-04-12 16:53] Hexcles commented on #16214
How does the Node.js server control DUT? The graph seems to suggest that 13 is the response of request 10. If so, when DUT receives the new URL, how does it navigate to there? And what happens if there are errors and the browser on DUT hangs?

[2019-04-12 20:15] #16255 closed

[2019-04-12 21:29] dholbert commented on #16304
Fixed by https://github.com/web-platform-tests/wpt/commit/27231aa79fb5223bf5838d8809b1a184c74f3d58

[2019-04-12 21:29] #16304 closed

[2019-04-13 03:00] foolip commented on #16316
I also can't close it. One thing that's unusual about the PR is the number of commits and files touched. Seems like there's a GitHub bug here.

[2019-04-13 03:03] foolip commented on #16316
I've sent this message to GitHub:

[2019-04-15 15:14] gsnedders commented on #16187
In the *test names* in wptreport.json?

[2019-04-15 15:18] gsnedders commented on #16187
Looking at the wptreport.json data in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=11520 I can't find `successes_RSA-OAEP.https.any.html?1-10\r`?

[2019-04-15 15:26] Hexcles commented on #16187
@gsnedders yes, the `"test"` field in `wptreport.json. That was probably a bad example; try searching for "successes_RSA-OAEP.https.any.html?101-110\r" (it's in `wpt_report_16.json`).

[2019-04-15 15:38] gsnedders commented on #16187
I still can't find that in that Azure job? Only "test": "/WebCryptoAPI/generateKey/successes_RSA-OAEP.https.any.html?101-110"?

[2019-04-15 16:24] jugglinmike opened #16352 "[docs] Encourage new contributors to use `wpt run` instead of `wpt serve`"
From @jgraham (via gh-16339):

[2019-04-15 16:28] Hexcles commented on #16187
I might've lost myself among multiple Azure tabs and pasted the wrong link.

Here's a newer build where you can also see the issue: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=12809&view=results

[2019-04-15 16:36] Hexcles commented on #16187
Found some stack trace when `\r` was seen in test names:

[code]

[2019-04-15 16:38] Hexcles commented on #16187
FWIW, Edge stable on BuildBot is working fine: https://wpt.fyi/results/WebCryptoAPI/generateKey?q=successes_RSA-OAEP.https.any.html&run_id=5637912473370624&run_id=5103254845259776&run_id=5136145704812544&run_id=5729575162085376

[2019-04-15 22:42] jugglinmike opened #16359 "Policy for "Back/Forward Cache" (aka "bfcache" or "Page Cache")"
[Firefox](https://developer.mozilla.org/en-US/docs/Archive/Misc_top_level/Working_with_BFCache) and [Safari](https://webkit.org/blog/427/webkit-page-cache-i-the-basics/) implement a cache which drastically alters the behavior of `history.back` and `history.forward`. [Chrome is experimenting with a similar feature.](https://developers.google.com/web/updates/2019/02/back-forward-cache)

The optimize

[2019-04-15 22:42] jugglinmike commented on #16359
I'd prefer to assume absence because the feature isn't standardized, but I don't know if/how it can be disabled in the browsers we support.

[2019-04-16 09:24] #15849 closed

[2019-04-16 12:19] gsnedders commented on #16359
In principle, the bfcache is just an optimisation that's only sorta observable. I think @annevk was planning on updating how HTML sorta acknowledges the existence of bfcaches in plenty of browsers to actually be more accurate (because with Blink implementing a bfcache we'll then have every major browser having one).

We'll want to run some tests with the bfcache enabled (though it's a bit awkward,

[2019-04-16 14:38] annevk commented on #16359
It is standardized, no? It's the `pagehide` / `pageshow` events, the salvageable state on documents, session history entries being able to point directly to `Document` objects, the fully active concept, etc. It might not be great, but it's better than a lot of things.

[2019-04-16 17:01] jugglinmike commented on #16359
It's hard to discuss observability in relative terms. More concretely: the feature directly undermines the expectations of the test I referenced above. That test sets `window.location` to trigger navigation to another document. The new document invokes `history.back()` and expects the following:

- the scripts in the first document are evaluated a second time
- the timers created from the prior ev

[2019-04-16 18:56] fred-wang commented on #6873
cc @rwlbuis @bkardell

[2019-04-17 00:44] Honry opened #16376 "[wake-lock] Replace AbortSignal with abort()"
Tests need update to reflect the spec change at https://github.com/w3c/wake-lock/pull/178/.

[2019-04-17 01:31] Honry commented on #15613
Close it since `AbortSignal` has been replaced with `abort()` at latest spec(https://github.com/w3c/wake-lock/pull/178).

[2019-04-17 01:31] #15613 closed

[2019-04-17 09:37] annevk commented on #16359
I don't understand what documenting an assumption means. `history.back()` may trigger a navigation if there's no `Document` object on the prior session history entry, as per https://html.spec.whatwg.org/multipage/browsing-the-web.html#traverse-the-history.

[2019-04-17 15:12] jugglinmike commented on #16359
@annevk I'm referring to [the "Assumptions" document in the project's guide for writing tests](https://github.com/web-platform-tests/wpt/blob/b950323536430dfe4174dd900462b57797220d6d/docs/_writing-tests/assumptions.md). For the purposes of consistency, I think we have to instruct test authors to assume that navigation will not occur because the presence of the Document in the session history entry

[2019-04-17 17:38] LukeZielinski opened #16387 "Manifest expected in metadata directory?"
I ran into a strange (to me at least) side-effect of #16335 today. If you run WPT with all three of `--no-manifest-update`, `--no-manifest-download` and `--metadata` then WPT expects the manifest file to live in the metadata directory. If run in a non-git environment, then you crash out as follows (because the manifest doesn't exist there):
[code]
Fixed easily enough by also passing `--manifest` b

[2019-04-17 19:42] gsnedders commented on #16387
`--metadata` has always been the base path of the manifest, since before I was involved. @jgraham might know the history, but I'm pretty sure this is relied on for Gecko/Servo (which actually use the metadata!).

We should definitely have a clearer error, though!

[2019-04-17 20:23] anforowicz commented on #8790
A slightly different (but probably not different enough to warrant a separate bug) scenario is triggering a download through browser UI (e.g. right click -> Save Link As...) - in this case the resource request should be *browser initiated* and therefore should be 1) treated as same-origin by Cross-Origin-Resource-Policy and SameSite cookies and 2) should specify `Sec-Fetch-Site: none` (see [here](

[2019-04-17 23:38] guest271314 commented on #8790
@anforowicz Not gathering what the issue is at the linked Chromium bug? How to reproduce without a server? For example, at plnkr? What is the JavaScript and HTML used?

[2019-04-18 01:16] jugglinmike opened #16402 "SVG test flaky in Safari due to bug in internal component implementation"
The shadow DOM for the controls of Safari's media elements throw a runtime exception in some circumstances, and this can trigger a harness error.

Test: [`svg/interact/scripted/tabindex-focus-flag.svg`](https://github.com/web-platform-tests/wpt/blob/20424e735a5e6ac7a474ae35d86c714272aea0e8/svg/interact/scripted/tabindex-focus-flag.svg)

![2019-04-17-safari-shadow-bug-1](https://user-images.githubu

[2019-04-18 01:28] eric-carlson commented on #16402
@jugglinmike I filed <rdar://problem/50001165>.

Thanks for the detailed report!

[2019-04-18 08:55] jgraham commented on #6873
Now that we have reftest analyzer functionality in wpt.fyi there might be some way to provide a url to invoke that directly (could involve supporting having the wpt.fyi url contain the image directly, if that's not already possible). @Hexcles

[2019-04-18 09:29] jgraham commented on #16387
So originally there was only `--metadata` and it was assumed that all of the expectation data and the manifest would live under the same directory. Then later we added `--manifest`, mostly to handle the case where the manifest is downloaded and you don't want the download to live in the source tree (since it's not a source file).

For gecko we actually have a checked-in configuration file with all

[2019-04-18 13:13] annevk commented on #16359
That document reads more to me like "expected configuration", not "assumptions". Whether `back()` navigates or swaps with an existing `Document` object is quite different from that. It's much more of a cache thing which we shouldn't expect anything of in general, but might be okay within a set of delineated tests.

[2019-04-18 14:08] graouts opened #16406 "[pointerevents] pointerlock/pointerevent_coordinates_when_locked.html assumes pointerlockchange event is synchronous"
Cc'ing @EiraGe as the author of this test.

I wonder if there is an issue in the way the test at pointerevents/pointerlock/pointerevent_coordinates_when_locked.html is written. The pointer commands (via `new test_driver.Actions()`) are all dispatched in one command and thus rely on the `pointerlockchange` events to be delivered synchronously after calling `div1.requestPointerLock()` in the `pointe

[2019-04-18 14:09] graouts commented on #16406
This was found as part of https://bugs.webkit.org/show_bug.cgi?id=197007.

[2019-04-18 16:03] jugglinmike opened #16407 "Missing coverage: "pen" and "touch" pointer types"
A naive heuristic suggests that the test suite lacks coverage for [the "pen" and "touch" pointer types](https://w3c.github.io/webdriver/#dfn-pointer-input-state):

    $ git grep -E '\b(pen|touch)\b' -- webdriver
    $

/cc @andreastt

[2019-04-18 16:25] jugglinmike commented on #16359
@annevk Essentially, I want to update the referenced test to set `window.location` instead of invoking `history.back`. That alone will make the test behave consistently in Safari, but future tests could just as easily make the same mistake.

The reason I've raised this in terms of WPT policy is that the flaky test seems like a symptom of a larger problem: the bfcache behavior can subvert the expec

[2019-04-18 17:02] anforowicz commented on #8790
@guest271314

Does my comment in https://bugs.chromium.org/p/chromium/issues/detail?id=952834#c30 help?

I think this is not possible - the problem is closely related to the fact that the response from the http server includes a `Cross-Origin-Resource-Policy: same-origin` response header.

Does plnkr (and/or jsfiddle / jsbin / etc.) allow specifying http response headers.

HTML: `<a href="resource

[2019-04-18 19:27] guest271314 commented on #8790
@anforowicz Is there an example URL in the wild that was tested? Does the `<a>` element at HTML have a `download` attribute?

[2019-04-18 19:34] anforowicz commented on #8790
@guest271314

No.

No.

[2019-04-18 19:51] guest271314 commented on #8790
@anforowicz How was this tested if not in the wild?

[2019-04-18 19:57] anforowicz commented on #8790
@guest271314

Why does an answer to this question matter for the WPT framework issue at hand?

The bottomline is that WPT framework doesn't support testing this kind of scenario today and the issue we are discussing here (https://github.com/web-platform-tests/wpt/issues/8790) tracks adding this kind of support to the WPT framework, right?

[2019-04-18 20:11] guest271314 commented on #8790
@anforowicz If gather your comment at https://github.com/web-platform-tests/wpt/issues/8790#issuecomment-484246813 correctly from your perspective a resource served with  header `Cross-Origin-Resource-Policy: same-origin` should be downloadable?

Am still trying to determine what the Chromium bug report is actually describing and how that bug is related to this issue?

In general, it is not possib

[2019-04-18 20:19] guest271314 commented on #8790
@anforowicz  See the code at https://github.com/web-platform-tests/wpt/issues/8790#issuecomment-354032643. Essentially the test would create a unique file name for a `File` object (`lastModified` attribute value or other means of creating a unique value can be used), which can be programmatically set in JavaScript (at `<input type="file">` element, if necessary, see How to set File objects and len

[2019-04-18 20:28] guest271314 commented on #8790
@anforowicz The immediacy of the download <-> upload procedure is imperative, that is, use of the `lastModified` attribute of a `File` instance/object, as a `File` object `name` can be changed using `FormData.set()` (see https://github.com/w3c/FileAPI/issues/126#issuecomment-480971351), though the `lastModified` property value will remain the same (https://github.com/w3c/FileAPI/issues/126#issueco

[2019-04-18 20:34] anforowicz commented on #8790
@guest271314

Correct - a resource served with `Cross-Origin-Resource-Policy: same-origin` should be downloadable.

Can you clarify which part of https://crbug.com/952834#c30 is unclear?

Ideally the regression test for https://crbug.com/952834 should be part of WPT.  Currently this is not possible.  Having a regression test within WPT is desirable so that all browsers can benefit from the test (r

[2019-04-18 20:55] guest271314 commented on #8790
If read the Fetch specification correctly https://fetch.spec.whatwg.org/ the resource should NOT be downloadable?

Which specification states that a resource served with `Cross-Origin-Resource-Policy: same-origin` should be downloadable? If a specification states that, why does the HTML above and at the linked Chromium bug not have a `download` attribute? The linked Chromium bug appears to attempt

[2019-04-18 21:37] guest271314 commented on #8790
@anforowicz

How do you propose to achieve the requirements? An API for read/write access to user local filesystem (https://github.com/WICG/native-file-system)?

Can you clearly define "verify" within the scope of the prospective wpt tests?

[2019-04-18 22:05] anforowicz commented on #8790
@guest271314

@anforowicz

WebDriver probably.

No, as [I said before](https://github.com/web-platform-tests/wpt/issues/8790#issuecomment-484680678),  I think that it is not desirable to observe downloads from web pages.

Verify that the contents of the local file (i.e. the file resulting from the download) match test expectations.  For example - compare that the contents of the file match a given

[2019-04-18 23:59] guest271314 commented on #8790
@anforowicz

The question about the term "verify" or "verification" was not asking which code would be used to verify, but rather, what is the _criteria_ for verification; that is `===` comparing two strings? How can any individual conclusively determine the difference, if any, between two or more files having the same metadata and content data?

A rudimentary template for testing download of a fi

[2019-04-19 00:09] guest271314 commented on #8790
@anforowicz As to relying on an automated tool to perform this type of test, it is nearly impossible to conceive of and program to a machine the actual actions of a user within the context of downloading a file, as the variations of machines, RAM, disk space, OS, etc. varies widely. Testing with  an automated coding tool involves the tool, not the user; thus can provide false positives as to the a

[2019-04-19 00:17] anforowicz commented on #8790
@guest271314

[DownloadTest](file:download_browsertest VerifyFile) in Chrome seems to work just fine... :-P

[2019-04-19 00:20] guest271314 commented on #8790
@anforowicz Drag and drop type downloads would also need to be tested.

[2019-04-19 00:39] guest271314 commented on #8790
@anforowicz Is `FilePath` the actual path component https://w3c.github.io/html/sec-forms.html#path-components of a user directory or a temporary location in memory created for the procedure https://cs.chromium.org/chromium/src/content/browser/download/download_browsertest.cc?rcl=fda44632071bd2c4feb54afc3004e5166b6eb4e9&l=2629 ? The path component of a user filesystem location should not be exposed

[2019-04-19 00:50] guest271314 commented on #8790
@anforowicz FWIW this is an example of a similar concept, that is, checking that each byte of an uploaded file is written to server, which appears to be, at least in part what the requirement is How to read and echo file size of uploaded file being written at server in real time without blocking at both server and client? https://stackoverflow.com/q/42475492. If the Chromium test does achieve the

[2019-04-19 19:25] xtuc opened #16420 "Question about testing function's instance length"
In WebAssembly JS API tests, we usually ensured that the functions had the correct length (number of arguments).

However, I'm not able to find similar length tests for other JS APIs. For instance `fetch.length` seems to vary across implementation and it's not tested here.

Is there are reason about it? Otherwise I'm happy to add that specific test.

[2019-04-20 02:34] jugglinmike commented on #16402
Certainly!

[2019-04-20 02:40] jugglinmike commented on #16402
(discovered while [researching discrepancies in test results for Safari between WPT's various results collectors](https://github.com/web-platform-tests/results-collection/issues/646))

[2019-04-22 10:21] annevk commented on #16359
So looking at the test I think it's actually testing bfcache behavior (it's affected by WebSocket), so I'd be opposed to changing it. This might show a bug in Safari.

[2019-04-22 12:01] frivoal commented on #8961
These tests have been removed.

[2019-04-22 12:01] #8961 closed

[2019-04-22 13:12] gsnedders commented on #16420
Is this not tested by idlharness.js? Specifically in this case, the test it generates with the name "Window interface: operation fetch(RequestInfo, RequestInit)" contains a test for this.

[2019-04-22 16:43] jugglinmike commented on #16359
Can you elaborate on what text you feel the test is verifying?

[2019-04-22 23:10] jugglinmike opened #16437 "[IndexedDB] Tests prone to state leakage"
[`IndexedDB/support.js` attempts to automatically delete test databases using the testharness.js-provided `add_completion_callback` function.](https://github.com/web-platform-tests/wpt/blob/83d93704f0cb36dd9fa3f45dd3e4b34990e934e6/IndexedDB/support.js#L5-L15) The harness expects code registered in this way to be fully synchronous. Because database deletion is an asynchronous operation, it may be i

[2019-04-22 23:59] frivoal commented on #5463
Converting into a check list:

* [ ] css-fonts-3/reference/ref-if-there-is-no-red.xht from css-fonts-3/font-size-adjust-005.xht
* [ ] css-fonts-3/reference/ref-filled-green-100px-square.xht from css-fonts-3/font-size-adjust-006.xht
* [ ] css-fonts-3/reference/ref-if-there-is-no-red.xht from css-fonts-3/font-size-adjust-007.xht
* [ ] css-fonts-3/reference/ref-filled-green-100px-square.xht from css-

[2019-04-23 00:11] frivoal commented on #5463
untagging css-text, since all cases there have been addressed.

[2019-04-23 14:13] annevk commented on #16359
Well, that `WebSocket` causes unsalvageable to be set and that therefore going back cannot ever go to a cached ddocument.

[2019-04-23 15:04] gsnedders opened #16448 "TaskCluster Chrome builds failing"
We last got a master run for Chrome in 4131304.

Ever since, we've got:

[code]

We seem to be running ChromeDriver 76.0.3775.0; but the google-chrome-unstable package is only 75.0.3766.2-1. Canary is currently 76, but given we're running dev on Linux (where there is no canary package), and dev is 75, we end up with this error. Presumably we're downloading ChromeDriver for canary and not dev, and

[2019-04-23 15:05] gsnedders commented on #16448
This is also causing any PR that runs `infrastructure` to fail.

[2019-04-23 15:14] Hexcles commented on #16448
This is basically correct. The only caveat is that technically in this case we are downloading ChromeDriver for the tip of the tree (which is roughly Canary).

We do try to download the correct version of ChromeDriver by following this [algorithm](http://chromedriver.chromium.org/downloads/version-selection), which works well for Stable & Beta. The problem is that ChromeDriver [does not release on

[2019-04-23 16:30] inexorabletash commented on #16437
Comfortable: yes. Have cycles to do it: no. Happy to review it: absolutely!

[2019-04-23 16:50] gsnedders commented on #16448
@Hexcles I think we need ChromeDriver Dev (it doesn't really make sense it's available for every other channel!), but we need to workaround this in the short term. Use the hidden flag?

[2019-04-23 20:33] jugglinmike opened #16455 "Tests rely on missing infrastructure"
Tests for a few proposals rely on files in a top-level directory named `/gen/`:

    $ git grep -l '/gen/'
    idle-detection/interceptor.https.html
    shape-detection/resources/shapedetection-helpers.js
    webxr/resources/webxr_util.js

[Further references have recently been proposed for tests of the "sms" proposal.](https://github.com/web-platform-tests/wpt/pull/16452)

This directory does not

[2019-04-23 21:03] jdm commented on #16455
I brought up the idle-detection issue in #15753.

[2019-04-23 21:11] Hexcles commented on #16455
These are all Mojo stuff. These tests won't work even on Chrome unless 1. generated Mojo JS files are available (this is non-trivial and I'll explain further); 2. a few test flags are turned on (see https://github.com/web-platform-tests/results-collection/pull/582).

Mojo JS stubs are generated from source code at compile time so technically we need the Mojo files generated from the specific revis

[2019-04-23 21:22] Hexcles commented on #16187
Downgrading this to backlog because although we haven't figured out why this is happening, it's been worked around on the wpt.fyi side by https://github.com/web-platform-tests/wpt.fyi/pull/1274

[2019-04-23 22:15] jugglinmike commented on #16455
That's helpful information for getting results from Chromium, but it doesn't seem like it will help others run these tests.

In the issue that Josh created for idle-detection, there's been some discussion about documenting a testing API. That's just the kind of contract I had in mind. It seems essential for the tests to be shared. @jdm would you agree?

I can't find instruction like that for idle-

[2019-04-23 22:24] Hexcles commented on #16455
There's https://github.com/immersive-web/webxr-test-api/blob/master/explainer.md for WebXR.
(From https://chromium-review.googlesource.com/c/chromium/src/+/1070778/15#message-f47cb5752847daa0e0c550d4a033d9fc21103c74)

[2019-04-23 23:19] reillyeon commented on #16455
Are you looking for documentation on how to run these tests or documentation of the API that the tests expect to be provided by a browser implementation?

[2019-04-24 00:09] jugglinmike commented on #16455
The latter--something along the lines of the document @Hexcles shared for WebXR

[2019-04-24 01:35] jugglinmike commented on #16359
Ahah, [the unloading document cleanup steps](https://html.spec.whatwg.org/#unloading-document-cleanup-steps):

However, in that test, the document is being unloaded from the WebSocket's `close` event handler, which is nested in the `open` handler. In other words, the WebSocket connection has been established and the closing handshake has been started, so ["make disappear a WebSocket" does nothing]

[2019-04-24 08:56] squapp commented on #16214
The Node.js server has no direct control over the DUT. To avoid manipulating the original tests, we added some calls to the testharnessreport.js. When a result is registered by the testharnessreport.js, the same data is sent to the Node.js server using an ajax POST request. Then, in a separate ajax request, we ask the Node.js server what the next test is. The server sends back the url to the next

[2019-04-24 10:07] annevk commented on #16359
Interesting, though that would mean it's showing a Firefox bug as for some reason Firefox does seem to set salvageable to false, right?

[2019-04-24 15:03] sideshowbarker opened #16471 "Bring manifest parsing in the web-based runner up to date"
http://web-platform.test:8000/tools/runner/index.html is currently failing to actually run any tests, due to it failing internally to parse the manifest.

The manifest parsing needs to be brought up to date so that it’s in sync with the manifest parsing used by the command-line runner and other parts of the system.

[2019-04-24 15:22] gsnedders commented on #16471
So I think there are two bugs here:

[code]

This is ultimately caused by it finding no tests, but we should handle the case whereby it finds no tests better. (Bug 1)

The actual cause of it finding no tests is fixing all the cases in the manifest generation where we encoded the `url_base` in the item URLs (which it never should have been!), and the JS runner assuming the item URLs are absolute pa

[2019-04-24 15:23] foolip commented on #16387
@LukeZielinski is there a one-liner better error message that would resolve this?

[2019-04-24 15:31] jugglinmike commented on #16359
Well, Firefox does seem to discard the document, but I don't know if that's because it has incorrectly set salvageable to false. Isn't it also possible that it has removed the document from the session history (or informally, "cleared the bf cache")? Would it be violating any spec text for doing that?

[2019-04-24 15:52] annevk commented on #16359
Perhaps, but it's suspect that it always does so and never fails the test. That makes it much more deterministic than it ought to be, no?

[2019-04-24 16:23] #16471 closed

[2019-04-24 16:55] jugglinmike commented on #16359
Definitely hinky. [I've reported it on Mozilla's bug tracker](https://bugzilla.mozilla.org/show_bug.cgi?id=1546729), but the validity of this test is still questionable. As long as the BF cache *might* be active, I don't think we can assert any specific behavior.

[2019-04-24 17:14] annevk commented on #16359
Well, we want to test salvageable given it's going to be implemented everywhere and given that I suspect we actually want to assume that it works within WPT. And I wouldn't really want to rewrite existing tests that might be testing it so they're no longer testing it (and might not be testing anything relevant anymore).

[2019-04-24 22:27] jugglinmike commented on #16359
Although I'd be reluctant to maintain tests that are expected to be flaky in conforming runtimes, that seems like a theoretical risk at this point. [Safari behaves inconsistently on this test](https://wpt.fyi/results/websockets/unload-a-document/002.html%3Fwss?diff&filter=ADC&run_id=5739205250514944&run_id=6211458513764352), but the reason is out of scope of this test and possibly of the bfcache.

[2019-04-25 00:35] zcorpan commented on #16359
Then the implementation is not conforming to the spec. The spec requires to set the salvageable state to false on the document on navigation if it has any open `WebSocket`s.

https://html.spec.whatwg.org/multipage/browsing-the-web.html#unloading-documents:make-disappear

This is exactly what the test is intending to test.

[2019-04-25 00:53] zcorpan commented on #16359
No, wait,

* 001.html is testing navigation with an open websocket, so expects "no bfcache"
* 002.html is testing navigation after the websocket has been closed, so expects "bfcache" with the exception of "this test can fail if the document is unloaded on navigation e.g. due to OOM". Yes, this is inevitably flaky for browsers that have bfcache but can sometimes evict entries from the bfcache while

[2019-04-25 08:51] foolip commented on #15692
@youennf did you end up sending any PRs to rewrite some tests?

[2019-04-25 12:24] #11009 closed

[2019-04-25 12:25] foolip commented on #11009
Finally resolved via https://github.com/web-platform-tests/rfcs/pull/18 and https://github.com/web-platform-tests/wpt/pull/11191, thanks everyone!

[2019-04-25 13:05] foolip commented on #14210
<details>
<summary>I refreshed my script a bit today to look for PRs with to Taskcluster status.</summary>

[code]

</details>

Result is:
[code]

The first two are IDL sync PRs that don't matter, and I've commented on https://github.com/web-platform-tests/wpt/pull/10420 to explain what's wrong.

So it's good news, it doesn't look like Taskcluster is missing PRs at a high rate at least. I haven't

[2019-04-25 13:07] foolip commented on #14210
@Hexcles do you think any of this monitoring could be incorporated with your work on results receiver validation? There's a big difference between a CI system failing to start at all and the results being bad, but we're interested in the overall system working to deliver results, so it'd be great to not have to monitor the different parts separately. I don't know how practical that is though.

[2019-04-25 15:09] jugglinmike commented on #16359
See also https://github.com/whatwg/html/issues/1931

[2019-04-25 17:32] sefeng211 opened #16540 "testharness resends messages that we've seen"
Had this conversation with jgraham on IRC. It looks like https://searchfox.org/mozilla-central/rev/75294521381b331f821aad3d6b60636844080ee2/testing/web-platform/tests/resources/testharness.js#106-114 may possibly resend some messages that we've already seen.

## Steps to reproduce
1) Modify [this line](https://searchfox.org/mozilla-central/rev/75294521381b331f821aad3d6b60636844080ee2/testing/web-p

[2019-04-25 22:03] EiraGe commented on #16406
My understanding is the test are sending 10 moves after the down, so it will still work if the lock change happen in the middle. But feel free to change it to whatever you think is correct.

[2019-04-26 05:27] sideshowbarker opened #16551 "Automate testing that http://web-platform.test:8000/tools/runner/index.html works and runs tests as expected"
We should have a (infra) test that checks http://web-platform.test:8000/tools/runner/index.html to make sure it actually runs wpt tests without throwing or hanging.

Context: We have evidence that there are a number of groups working on specs who rely on the web-based runner as part of their workflow. Even though we encourage them to move to using the command-line runner, and give them how-to guid

[2019-04-26 12:23] rakuco commented on #16448
Reopening. See https://tools.taskcluster.net/task-group-inspector/#/Xz1EYlhoRDuk_mWUN7G5hg from #16559:

[code]

https://omahaproxy.appspot.com/deps.json?version=75.0.3770.9 (the latest stable version at the time of writing) has `"chromium_base_position": "652427"`, but according to https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Linux_x64/ there are releases

[2019-04-26 12:40] gsnedders commented on #16448
See also https://bugs.chromium.org/p/chromedriver/issues/detail?id=2656#c21 for some further comments, including:

[2019-04-26 12:50] gsnedders commented on #16448
So, to workaround, we have two options now:

* Get the parts of the Chrome team who care about WPT to convince other parts of the Chrome team to release ChromeDriver alongside Chrome for all channels.
* Pass the undocumented override flag to ignore the version check and hope it works.

[2019-04-26 12:55] jgraham commented on #16448
We should 100% do the hacky thing in the short term. The situation where Chrome is failing on all macOS jobs and making it look like all PRs fail is pretty untenable, and option 1 is not something we can fix in a period of days.

[2019-04-26 15:34] EiraGe commented on #16406
Ok, I think I figure something out.
As @graouts pointed out:
On Safari, requestPointerLock doesn't work within a "pointerdown" event handler.
On Firefox, the additional moves must be send separately.

And also the target area seems too large that I got "move target out of bounds" error with Safari

I'll send a PR to fix the test.

[2019-04-26 20:58] #16448 closed

[2019-04-26 21:02] rakuco commented on #16448
@Hexcles will the existing Chromium PRs that failed due to Taskcluster all need to be retriggered manually?

[2019-04-26 21:09] Hexcles commented on #16448
@rakuco yeah I'm in the middle of it

[2019-04-26 21:33] Hexcles commented on #16448
Well I think I've handled the bulk of it, but may have missed a few. Apologies in advance. If anyone suspects their PR was affected by this and hasn't been restarted, please try closing and reopening the PR.

[2019-04-26 22:04] youennf commented on #15680
See also https://github.com/web-platform-tests/wpt/pull/16569 where ?pipe=sub was sometimes not used when including referrer-policy-test-case.js

[2019-04-29 13:46] foolip commented on #16540
@sefeng211 is the resulting in some tests being broken, or how did you stumble upon this?

cc @jgraham

[2019-04-29 13:56] jgraham commented on #16540
Yes, it results in tests being broken when you change the timing of `postMessage`. I made a patch but it broke the selftests, so I need to spend some more time on it.

[2019-04-29 14:54] #16406 closed

[2019-04-30 01:22] jugglinmike opened #16602 "Encourage the use of testharness.js for testing layout"
In gh-16360, @gsnedders observed that, "more and more of our layout tests are testharness.js tests." This is in contrast to the project documentation, which [currently states](https://github.com/web-platform-tests/wpt/blob/d73b07b850fa51f23e846518bb6e8c59c58eef19/docs/_writing-tests/index.md):

This statement should be updated to reflect current practices, likely including additional guidance on h

[2019-04-30 12:36] gsnedders commented on #16602
I don't. But the documentation being contrary to what people are actually doing seems silly. It may just be that we shouldn't express an opinion.

I know there are certainly people in the CSS WG who'd rather reftests be used given it tests more than just layout computation, but the reality most vendors prefer layout tests using CSSOM to validate the pass condition because they run quicker.

[2019-04-30 16:29] jugglinmike commented on #16602
I'm scheduling interviews with a handful of CSS WG folks as we speak. I'll be sure to ask them about this.

[2019-05-01 18:32] jugglinmike commented on #12698
@gsnedders It occurs to me that the only way I know to view reftest screenshots is *not* fit for documentation:

1. Run the following command

    ./wpt run --log-tbpl - firefox test-names | \
      grep -Eo 'data:.*' | \
      sed 's/\(.*\)/<img src=\1>/g' > screenshots.html

2. Open `screenshots.html` in a browser

It works for me, but it's a hassle, and it doesn't translate to Windows.

Do you

[2019-05-02 11:07] gsnedders commented on #12698
Is this just a dupe of #6873? I think that contains the responses to @jugglinmike's question.

(Run with either `--log-tbpl` or `--log-raw` and then load the output file in https://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml or https://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer-structured.xhtml respectively.)

[2019-05-02 15:00] KyleJu commented on #7660
#16596 aused by test timeout on Firefox Nightly. @Hexcles please admin merge

[2019-05-02 16:47] jugglinmike commented on #12698
@gsnedders Maybe, though I try to avoid development workflows that require an Internet connection. It sounds like we don't have a good offline solution currently, but wpt.fyi also needs work to support this. Given the choice of where to devote time and energy, would you agree that an offline solution is
preferable?

[2019-05-02 17:03] jgraham commented on #12698
If you want an offline solution wpt.fyi should be merged into this repo, and the viewer there repurposed. I'm not sure anyone will particularly appreciate that suggestion :) But the alternative is really duplication of the code (or you can download the gecko reftest analyzer onto your local computer, it's literally a single HTML file).

That said I think that wpt.fyi should grow the ability to acc

[2019-05-02 17:06] #16254 closed

[2019-05-02 18:22] jugglinmike commented on #12698
What about a solution which doesn't involve a UI? A command like

    $ ./wpt run --log-screenshots path/to/directory firefox css/

Could write `.png` files to disk, named according to the document from which they were captured. It could also generate a third "diff" image, though just giving access to screenshot files may be sufficient to resolve this issue.

[2019-05-03 09:36] aardgoose opened #16659 "createImageBitmap test ambiguous results"

[2019-05-03 14:35] wilaw commented on #16214
+1

These proposed extensions allow W3C Web platform tests to be executed on Smart TVs. These devices constitute one of the largest playback surfaces of OTT content, especially UHD content. TV API support is historically weak compared to laptops, desktops and mobile phones. To move web forward to the point where it provides the de facto common media playback environment across all devices, we need

[2019-05-03 14:39] mbergman42 commented on #16214
WPT is great for downloadable browsers on e.g. laptops.  It can be used on embedded devices (e.g., smart TVs, STBs, media sticks) as well.  But WPT-on-embedded requires a lot of work to port WPT and make it easy to use.  These extensions for embedded devices are being developed and maintained through the CTA WAVE Project.

What should happen next?  _These embedded tests should be merged with the m

[2019-05-03 15:34] Ms2ger commented on #16214
After skimming the comments here, a few high-level questions (sorry if they're answered already):

* Is this completely automated?
* By "current WPT Test Runner", do you mean the one at https://w3c-test.org/tools/runner/index.html?
* Have you considered using [`wptrunner`](https://github.com/web-platform-tests/wpt/tree/master/tools/wptrunner)?
* Can you show the difference between your fork and up

[2019-05-03 15:45] jgraham commented on #16214
So my understanding is that this is for devices where remote control via webdriver or similar isn't possible. I think that's important, because the wptrunner code as of recently allow you to run in a single window (or could be easily modified to do so), so if it's about devices we can remote control but which can't open a new window, I'd say we can use that.

Assuming that assumption is correct, I

[2019-05-03 15:46] Hexcles commented on #16214
Thanks for the replies. I think I have a better understanding of this now.

First of all, I can see the motivation behind this feature and it's potentially also useful in other scenarios (e.g. mobile testing on iOS where automation isn't easy).

I have some questions/concerns regarding some technical details:

1. We don't really want to have a whole new language + toolchain (Node) in the mostly Py

[2019-05-03 17:00] KyleJu commented on #7660
#16653 caused by test timeout on Firefox Nightly. @Hexcles please admin merge

[2019-05-07 05:32] Honry commented on #16285
Close it since `query` method has been removed in https://github.com/w3c/wake-lock/pull/200/.

[2019-05-07 05:32] #16285 closed

[2019-05-07 05:37] Honry commented on #16376
Close it since `abort()` method has been removed in https://github.com/w3c/wake-lock/pull/194/.

[2019-05-07 05:37] #16376 closed

[2019-05-07 08:54] louaybassbouss commented on #16214
reply to @Ms2ger comments

Yes. Exception: If the browser on the embedded device crashes, you can continue the last session after a manual restart. The test that crashed the browser will be skipped.

Yes

In our case, we are considering devices like TVs and STBs without webdriver support. This is why 'wptrunner' is not an option for us.

Yes, we will create a PR soon.

We can do it if there is a n

[2019-05-07 09:03] louaybassbouss commented on #16214
Thanks @jgraham for your feedback. I made a mistake in the architecture diagram above we only updated `testharnessreport.js` and NOT `testharness.js` :). What is your proposal to proceed with the RFC and what are the next steps for us?

[2019-05-07 09:13] louaybassbouss commented on #16214
Thanks @Hexcles for your comments.

Agree.

Correct If the browser on the DUT crashes you need to restart manually but you can continue the last session and the test that caused the crash will be automatically skipped. The number of crashes depends on the DUT. For example, on a TV set from 2017 or 2018 we may need to exclude around 5-10 tests.

[2019-05-08 19:39] zcorpan commented on #11222
I think there isn't anything more to do for this issue for now. That WebKit doesn't support nested workers is tracked in https://bugs.webkit.org/show_bug.cgi?id=22723

[2019-05-08 19:39] #11222 closed

[2019-05-08 19:48] zcorpan commented on #11188
Filed https://bugs.webkit.org/show_bug.cgi?id=197705 to get the test enabled in WebKit.

[2019-05-08 19:48] #11188 closed

[2019-05-08 19:53] zcorpan commented on #11185
It looks like it has been enabled in chromium by now. (Fixed in https://bugs.chromium.org/p/chromium/issues/detail?id=721219 I think.)

I commented in the WebKit bug again.

[2019-05-08 19:53] #11185 closed

[2019-05-08 19:59] zcorpan commented on #10794
Commented in https://bugs.webkit.org/show_bug.cgi?id=182396

[2019-05-08 19:59] #10794 closed

[2019-05-08 20:07] zcorpan commented on #10655
I changed the priority for this issue since EdgeHTML is no longer being developed. Though the tests might still need fixing.

[2019-05-09 18:18] georgeroman opened #16754 "Possible race condition in get_free_port"
I am experimenting with WebDriver in Servo and came across with what might be a race condition in the [`get_free_port`](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/tools/wptrunner/wptrunner/browsers/base.py#L39) function. That is, sometimes when `wptrunner` runs the tests in parallel, two webdriver instances get assigned the same port.
You can find all the details here:

[2019-05-09 18:32] jdm commented on #16754
This may be a symptom of how Servo's integration with the webdriver server is different from other browsers. My understanding is that other browsers have a separate server that spawns instances of the browser, whereas Servo has the server integrated directly into each instance of the browser. If there are multiple threads starting multiple browsers, maybe we could use a mutex inside [this code](ht

[2019-05-10 11:53] foolip commented on #16105
Ping @gsnedders on the "`./wpt run_url_proxy product` (or something)" idea.

[2019-05-10 13:05] foolip commented on #10990
@LukeZielinski do you know the current state of what happens when you try multiple `test_driver.foo()` calls in parallel? Does it depend on the command and details of the implementation, or does it always work/fail?

It seems to me that as long as the WebDriver HTTP requests initiated by ExecutorWebDriver are blocking and no code up the stack to testdriver.js has unreliable message delivery order,

[2019-05-10 13:06] foolip commented on #14621
@KyleJu @lukebjerring I think this is now in scope of the metadata project, would you agree?

[2019-05-10 13:08] foolip commented on #6565
This came up in triage, but there's a recent PR in https://github.com/web-platform-tests/wpt/pull/16670 so this ought to soon be resolved.

[2019-05-10 13:11] foolip commented on #14533
I've reviewed/merged https://github.com/web-platform-tests/wpt/pull/15634, closing this.

[2019-05-10 13:11] #14533 closed

[2019-05-10 13:11] foolip commented on #14199
@KyleJu is the branch cleanup now running somewhere reliably, so that this can be closed?

[2019-05-10 13:19] foolip commented on #15485
@LukeZielinski can you take a look at this? Does touching testdriver.js currently cause stability checks to time out, or how much margin do we have?

A similar case is idlharness.js where @lukebjerring added code to run more affected tests, but in that case we don't expect the number of tests to ever go much beyond the total number of specs/directories.

[2019-05-10 13:23] foolip commented on #10572
This was moved to GitHub Actions in https://github.com/web-platform-tests/wpt/pull/15781, so I'll close this.

GitHub Actions is probably not 100% reliable either, but I'll file another issue when it becomes a problem.

[2019-05-10 13:23] #10572 closed

[2019-05-10 13:25] foolip commented on #15174
This is blocked on https://github.com/web-platform-tests/wpt/pull/16118.

[2019-05-10 20:59] KyleJu commented on #14199
@foolip it is being run manually but script should take care of everything

[2019-05-11 00:41] bzbarsky opened #16786 "html/browsers/browsing-the-web/unloading-documents/004.html test seems to be a bit bogus"
This test seems to assume that calling document.open fires beforeunload events on various documents, fires pagehide and unload events on the document `open()` is called on, and so forth.  Maybe this matched the spec at some point, but it sure doesn't now...

[2019-05-13 13:43] lukebjerring commented on #15485
https://github.com/web-platform-tests/wpt/pull/13392 is the change mentioned

[2019-05-13 15:47] gsnedders commented on #10990
That assumes everything is using wptrunner and ExecutorWebDriver, which we currently don't guarantee. :)

[2019-05-13 16:11] gsnedders opened #16805 "Sort out browser termination in wptrunner"
See https://github.com/web-platform-tests/wpt/pull/16118#discussion_r269775862

Trying to add logging into various places demonstrates the current racy nature of our code; in the Firefox case we just hope we wait on the right thing (the browser quitting!), for example.

When I was trying to figure out what we going on showed `browser.stop` getting called at unexpected times, long after messages sh

[2019-05-13 16:16] gsnedders commented on #16805
Putting this as backlog, though it might be worth fixing as it's a potential cause of flakiness.

[2019-05-13 22:04] zcorpan opened #16809 "Cross-browser test results of tests in a PR are not very discoverable"
So I wanted to find out what the test results were for https://github.com/web-platform-tests/wpt/pull/14824 and clicked around in the links from the PR's status checks.

https://github.com/web-platform-tests/wpt/pull/14824/checks?check_run_id=50686531

The last link there ("Latest results for c70defa") is what I wanted, but I didn't get to that one before I gave up and asked @jugglinmike if he kne

[2019-05-14 18:57] gsnedders commented on #16754
I do wonder if every usage of `get_free_port` is racy in the face of parallel test execution?

This code has annoyed me for a long time, because it seems prone to raciness and there are multiple ways this could fail (heck, some other process could open that port!). It would definitely be nice to fix this more generally, though I don't really know how…

[2019-05-14 19:56] Zirro opened #16825 "domparsing/innerhtml-01.xhtml fails in all browsers"
The test [domparsing/innerhtml-01.xhtml](https://github.com/web-platform-tests/wpt/blob/master/domparsing/innerhtml-01.xhtml) fails with the [same error](https://wpt.fyi/results/domparsing/innerhtml-01.xhtml) in all browsers, so it is presumably not correct.

[2019-05-14 20:04] Zirro opened #16826 "domparsing/innerhtml-05.xhtml fails in all browsers"
The test [domparsing/innerhtml-05.xhtml](https://github.com/web-platform-tests/wpt/blob/master/domparsing/innerhtml-05.xhtml) fails with [similar errors](https://wpt.fyi/results/domparsing/innerhtml-05.xhtml) in all browsers, so it is presumably not correct. The reason for the failures appears to be separate from what the test was originally designed to cover.

[2019-05-14 21:31] dcrousso opened #16830 "get_element_tag_name tests should expect uppercase tag name as result"
In chapter [12. Elements](https://w3c.github.io/webdriver/#dfn-get-element-tag-name#x12-elements), section [12.3 State](https://w3c.github.io/webdriver/#dfn-get-element-tag-name#x12-3-state), subsection [12.3.6 _Get Element Tag Name_](https://w3c.github.io/webdriver/#dfn-get-element-tag-name):

The definition for [tagName in the HTML spec](https://dom.spec.whatwg.org/#dom-element-tagname) is:

whe

[2019-05-15 11:32] foolip commented on #14254
This happens when SVG.idl is updated as well: https://github.com/web-platform-tests/wpt/pull/16765

[2019-05-15 14:10] gsnedders commented on #16754
From @georgeroman in #16819:

So reopening for everywhere else.

[2019-05-15 14:14] gsnedders commented on #16830
`test_get_element_tag_name` in `webdriver/tests/get_element_tag_name/get.py` seems to pass in Chrome/Firefox, and for whatever reason didn't successfully run in Safari. If we already have interop here, it may simply be a case that we should change the spec.

[2019-05-15 14:35] Ms2ger commented on #15749
I guess this is fine, though I don't think we particularly need to start moving these tests. I expect the actual support files will end up in the default case in `SourceFile.manifest_items()` and be treated as support files anyway.

[2019-05-15 14:37] Ms2ger commented on #16826
Problem seems to be the data URL (*sigh*). Let's put the document in a file of its own.

[2019-05-15 14:39] Ms2ger commented on #16825
I believe this test matched the spec when it was written, but nobody implemented the spec. Worth checking if the spec got changed since.

[2019-05-15 15:11] AutomatedTester opened #16849 "idlharness.js tests not obvious from top level of docs site"
I needed to find out how to debug idlharness tests having never done it before and the site didnt make it obvious where to find the docs as they are hidden under testharness docs.

I think it needs to be on the top level for easier finding

[2019-05-15 19:32] LukeZielinski commented on #15485
So empirically (https://github.com/web-platform-tests/wpt/pull/16852) the stability checks were not run for a no-op change to testdriver.js. Although it's kind of surprising, since (as you said) only `resources/testharness*` is excluded in `testfiles.py`.

Is there some other configuration at play here?

[2019-05-16 16:34] LukeZielinski commented on #10990
@foolip I wasn't sure how this worked so I tried it by changing the [infra test for clicking](https://github.com/web-platform-tests/wpt/blob/master/infrastructure/testdriver/click.html) to have multiple async sub-tests that all call testdriver methods. The test times out in that case. I can see the commands running and completing in the webdriver layer, so probably something is failing up in testd

[2019-05-16 16:47] jugglinmike commented on #10990
gh-11202 is a fix for this; reviewing the patch may help folks understand the technical limitation. In sort: the current implementation is only capable of tracking one testdriver.js "command" at a time. As @LukeZielinski's experimentation suggests, if some previous command is pending at the moment another command is sent, the first will be forgotten.

[2019-05-20 17:46] #16754 closed

[2019-05-20 17:49] gsnedders commented on #16754
And for those wondering why we don't just use port "0" (i.e., let the system assign us a port): this is used when we need to pass an argument in (typically as a subprocess command-line argument) giving the port to use.

[2019-05-21 12:51] annevk opened #16933 "step_timeout for "noopener" subresources"
This is vaguely related to #10911.

There's a class of tests where you have a need for a timeout in a window that doesn't have access to the test instance. It would still be good for that window to use a slower timeout as Cloud infrastructure might require.

For this specific use case it might be good if this function was available in a standalone library you could pull in.

(I've seen folks pull

[2019-05-21 13:09] jgraham commented on #16933
Also pulling in `testharness.js` doesn't work and will end up with the multiplier always set to 1 i.e. it's a no-op compared to just using setTimeout directly. So a better solution is needed here.

[2019-05-21 17:23] gsnedders opened #16938 "stash tests fail on Windows"
The tests from https://github.com/web-platform-tests/wpt/pull/14024 fail on Windows because `multiprocessing` on Windows uses its "spawn" start method which relies on being able to pickle everything (as there is no `fork` on Windows), and they currently can't be pickled.

Found in https://github.com/web-platform-tests/wpt/pull/16936, filing mostly to have something to link to from xfail definition

[2019-05-21 18:45] AmeliaBR commented on #9113
We still need the tests for parsing at some point, so I take it that your concern (@frivoal) was that parsing tests will get added easily and automatically, and function/rendering tests will lag far behind?

I agree that this is a concern, we have far too many examples of properties that parse but are badly implemented, so that `@supports` tests are useless (`display: contents` breaking accessibil

[2019-05-22 15:14] foolip commented on #16933
https://github.com/web-platform-tests/wpt/issues/5547 is relevant as well.

[2019-05-22 18:02] #13342 closed

[2019-05-23 09:14] foolip commented on #16316
GitHub support asked me if there were any errors in the console when trying to close the PR, and I just got back to them saying there isn't. Still unable to close the PR.

[2019-05-23 12:13] Ms2ger opened #16971 "Add tests for HTMLMediaElement.crossOrigin"
Spec: https://html.spec.whatwg.org/multipage/media.html#concept-media-load-resource

[2019-05-23 18:30] LukeZielinski opened #16979 "TearDown function for testharness tests"
In #16475 we ran into a case where state was leaking between tests. A newly added test used the testdriver Actions API to send mouse events while a keyboard key was pressed. We found that any test that ran *after* the new test would fail.

The underlying Chromedriver error was [fixed](https://chromium-review.googlesource.com/c/chromium/src/+/1626676).

It was also brought up that there should be a

[2019-05-23 18:32] Hexcles commented on #16979
testharness.js has [`add_cleanup`](https://web-platform-tests.org/writing-tests/testharness-api.html#cleanup), so the missing piece here is to expose `release` in `testdriver.js`.

[2019-05-25 15:15] guest271314 opened #17011 "Streams: Add test for ReadableStreamDefaultController.close() always executes WritableStream.close() when ReadableStream.pipeTo() is used"
Add test for `ReadableStreamDefaultController.close()` always executes `WritableStream.close()` when `ReadableStream.pipeTo()` is used; e.g.

[code]

Related https://github.com/web-platform-tests/wpt/issues/5225

[2019-05-25 15:23] guest271314 commented on #5225
@ricea cc @MattiasBuelens see https://github.com/web-platform-tests/wpt/issues/17011

[2019-05-26 15:55] graouts opened #17016 "Unclear why pointerevents/pointerevent_suppress_compat_events_on_drag_mouse.html checks timestamp equality"
The test at [pointerevents/pointerevent_suppress_compat_events_on_drag_mouse.html](https://github.com/web-platform-tests/wpt/blob/master/pointerevents/pointerevent_suppress_compat_events_on_drag_mouse.html) has this assertion:

[code]

However, I don't find anything in the Pointer Events specification that discusses that pointer events and compatibility mouse events should have the same timestamp.

[2019-05-27 06:15] frivoal opened #17022 "what can rel=help links point to?"
https://web-platform-tests.org/writing-tests/css-metadata.html#specification-links says that:

However, some tests, like http://web-platform-tests.live/css/css-values/calc-ch-ex-lang.html for instance, point to anchors within the spec which are not sections, but individual definitions, or even things that aren't in the spec, like bugzilla entries.

From the point of view of a human reading these,

[2019-05-27 08:02] Ms2ger commented on #17022
AFAIK, there's only two ways these are used:
* the CSSWG's tooling, which (I believe) only recognizes links to sections, as documented in the css-metadata doc,
* people reading the test and needing some extra background.

I guess the latter doesn't particularly need to be machine-readable.

As far as linting goes – I'd be concerned that the check would break because of out-of-tree changes, like sp

[2019-05-27 09:32] foolip opened #17027 "Variant tests with parens and pipes in URL fail to run on Safari"
https://wpt.fyi/results/html/dom?run_id=264030002&run_id=248260003&run_id=262080001&run_id=234440001 has the four variants of Safari on macOS that we currently run: stable + preview on Azure Pipelines and Buildbot.

All of them fail `/html/dom/interfaces.https.html?exclude=(Document|Window|HTML.*)` and `/html/dom/interfaces.https.html?include=(Document|Window)` like this:

[code]

Python on macOS

[2019-05-27 12:28] lukebjerring commented on #14621
Part of the metadata flakiness project will be instructions (and eventually a UI) for manually flagging a test with known flakiness, and attaching the relevant external bug.
We intend to surface an API for metadata (i.e. known flaky tests) that we can consume from the stability jobs and prevent blocking failure when only known flakes occur.

[2019-05-27 13:27] annevk commented on #16786
It seems this would require solving https://github.com/whatwg/html/issues/4611 if we don't want to completely remove the test meanwhile. If you think removing the test is the way to go, I'd be happy to do that.

[2019-05-27 16:18] TalbotG commented on #17022
These useful bits of information should be inside HTML comment blocks when creating HTML5 tests.
When I was creating XHTML1 tests, I also used to link bugzilla bug reports into
`<link rel="bookmark" href="..." title="Bug report: text summary" />`

but now rel="bookmark" is not valid in HTML5.

Maybe it would suffice to just warn/notify a few persons (like @emilio , @csnardi ) that link to spec sho

[2019-05-27 16:34] gsnedders commented on #17022
The questioning of linting is #5646. As I said there, and as @Ms2ger said above:

I'm totally happy to have something that checks on a daily basis and files bugs for new broken anchors, if someone wants to write that.

That said, @Ms2ger:

Quickly reading the code makes me think that it does recognise all anchors?

[2019-05-27 16:44] gsnedders commented on #17027
That's not Python on macOS not liking that, it's the WebDriver server (in this case in SafariDriver) responding with 400 Bad Request. @burg? I presume it's something like using a URL parser that treats the pipe character as invalid (which it is per RFC3986, for example).

[2019-05-27 18:23] LukeZielinski commented on #10716
A use-case recently came up in the context of WebAuthN - to be able to inspect the credentials that exist on a test device and that authenticating with the wrong key fails.

Still backlog priority, will revisit once such tests are closer to reality.

[2019-05-27 19:20] Hexcles opened #17034 "payment-handler/change-payment-method.https.html behaves differently on master"
payment-handler/change-payment-method.https.html passes on Taskcluster when running by itself in PRs ([example](https://tools.taskcluster.net/groups/foH6jJTTTXSv4xOk6SOKmw/tasks/Urx-tDgxSV2QsQFzGl4dAg/runs/0/logs/public%2Flogs%2Flive.log#L808), but it is currently failing on master: https://wpt.fyi/results/payment-handler/change-payment-method.https.html?run_id=248340003&run_id=236380006

One theo

[2019-05-27 19:20] Hexcles commented on #17034
cc @rsolomakhin

[2019-05-27 19:21] Hexcles commented on #17034
In the debugging process, I noticed a [typo](https://github.com/web-platform-tests/wpt/pull/17001) but unfortunately it's not causing the inconsistency of results.

[2019-05-27 19:26] zcorpan commented on #17027
From what I understand of https://url.spec.whatwg.org/#query-state the pipe character is a validation error but does not return failure (i.e., it should parse successfully).

So I think there are multiple ways to address this problem, not mutually exclusive:

* Fix SafariDriver's URL parser
* URL-encode the URL so that invalid characters are URL-escaped before entering the manifest
* Change tests

[2019-05-27 21:19] guest271314 commented on #17011
Chromium issue https://bugs.chromium.org/p/chromium/issues/detail?id=967459

[2019-05-27 23:54] TalbotG commented on #17022
Please, can someone answer:

or

Thank you.

[2019-05-28 15:21] #6565 closed

[2019-05-28 16:17] #17016 closed

[2019-05-28 18:58] fantasai commented on #17022
Wrt extra non-spec anchors as rel="help" for reviewers to reference... I think it's ok if these are marked up the same way as spec links. No good reason to disallow them, except we'd need to make sure they are ignored by the linter.

Wrt linking to sections or more specific points... I don't have a strong opinion, as long as tooling is able to pick it up correctly and if I'm looking for all tests

[2019-05-29 00:09] TalbotG commented on #17022
Thank you for your quick answer, Elika.

Exactly 94 CSS tests have, use
`<link rel="help" href="https://bugzilla.mozilla.org/show_bug.cgi?id=`

grep command I used:
`/web-platform-tests/css$ grep --files-with-matches --recursive "<link rel=\"help\" href=\"https://bugzilla.mozilla.org/show_bug.cgi?id=" * `

0 test have, use
`<link href="https://bugzilla.mozilla.org/show_bug.cgi?id=`

4 css-values t

[2019-05-29 01:59] TalbotG commented on #17022
`<link rel="help" href="https://drafts.csswg.org/css-values/#funcdef-calc">`
Such link leads to the Working Draft CSS**4** and not to CSS**3** ... even though the calc() function was defined in CSS3.

[2019-05-29 12:29] gsnedders commented on #17022
Is there really any problem with rel=help pointing to things that aren't specs? Provided they're, uh, "context-specific help" it seems reasonable.

The important thing as far as the build system is concerned that there is at least one link it is aware of. See https://github.com/web-platform-tests/wpt/issues/10288, https://github.com/web-platform-tests/wpt/pull/10248, and https://github.com/web-pla

[2019-05-29 16:15] gsnedders opened #17074 "--install-browser firefox doesn't work on Windows"
Currently, we assume that `mozinstall` puts the binary directly within the destination folder; however, it is written to a subdirectory returned by `mozinstall.install` (as documented), and this causes `test_install_firefox` to fail.

Additionally, if you try to run tests with `--install-browser`, we seem to end up calling the system certutil.exe:

[code]

[2019-05-29 16:23] gsnedders opened #17075 "python ./wpt run firefox tries to run system certutil.exe"
Unlike #17074, having a system installed Firefox, it's still trying to run `C:\WINDOWS\system32\certutil.exe`.

This is `python wpt run --log-mach - --log-mach-level debug --manifest .\MANIFEST.json --metadata .\infrastructure\metadata\ firefox .\infrastructure\`

[2019-05-29 16:31] gsnedders opened #17076 "Default output in Powershell includes escape sequences"
Running tests in Powershell with no logging arguments gets lots of output like the following:

[code]

`mozlog` should be doing better than that… :/

[2019-05-29 16:34] gsnedders commented on #17074
OK, so the `certutil.exe` issue is solely #17075.

It might actually be only the `test_install_firefox` itself that's broken?

[2019-05-29 16:37] gsnedders opened #17077 "wpt run chrome fails on Windows (cannot find version of Chrome)"
[code]

We don't seem to have ever implemented this.

[2019-05-30 04:21] frivoal commented on #17022
I think so too, but the documentation suggest that's not what you're supposed to do, since it asks that we link to "anchors from the specification's Table of Contents".

Within the spec, I think more accurate links are nice too (unless it breaks shepherd), but there again the documentation seems to say that it is not what you're supposed to do.

If it's OK to do these things (or even encouraged),

[2019-05-30 04:40] plinss commented on #17022
The CSSWG tooling recognizes any link anywhere in a spec tracked by Shepherd, it also knows what section each anchor is in. So the tooling doesn't care.

As Sam said, as long as there's at least one link to a spec that Shepherd knows, the build is happy (and will include the test in the test suite for that spec, and each spec linked to).

Of course the anchor needs to be kept stable, but it doesn'

[2019-05-30 04:47] TalbotG commented on #17022
Such link leads to the Working Draft CSS4 and not to CSS3 ... even though the calc() function was defined in CSS3.
The tests should link to the versioned URL for the spec. So https://drafts.csswg.org/css-values-3/... in that instance.

Correct. So, I have to edit 6 tests now...

[2019-05-31 10:48] gsnedders commented on #17022
@plinss

I'm aware. However, I'm both weary about making the lint rely on network access and about making it rely on an externally maintained list (though AFAIK it should be additive only? which would at least mean it wouldn't regress ever). I'd much rather just have some script that ensures we keep our data in-sync with Shepherd on a daily basis or similar.

[2019-05-31 16:35] rakuco opened #17118 "Azure Pipelines checks have been failing"
See e.g. https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=17805&view=results from #17084 -- most Azure Pipeline checks today have been failing with an error that looks like

[code]

with the file in `/tools/ci/azure/` that fails to be found changing randomly.

[2019-05-31 16:36] rakuco commented on #17118
@foolip @Hexcles et al

[2019-05-31 19:44] gsnedders commented on #17118
This is AFAIK a GitHub/Azure issue.

Note, however, the Azure jobs are not blocking (partly due to occasional unreliability like this) and in general PRs can be merged with them failing.

[2019-06-03 09:32] foolip commented on #17118
@mustjab are you able pass along this failure to someone on the Azure Pipelines team? Would it help if we collect statistics and lists of failures, or can you easily get those internally too?

[2019-06-03 14:36] foolip commented on #10990
Alright, https://github.com/web-platform-tests/wpt/pull/11202 indeed explains the current behavior.

@LukeZielinski sounds like you had to edit an existing test to test this, do you know if there are real tests that do parallel requests? If there aren't, maybe we should just quickfix this by making parallel requests fail, precisely as the issue title suggests. Could be a 3-liner fix?

[2019-06-03 15:03] gsnedders commented on #17027
If I'm reading the URL spec correctly, there's no valid URL equivalent to `https://web-platform.test:8443/html/dom/interfaces.https.html?include=(Document|Window)` (escaping it doesn't provide an equivalent URL, which is part of https://github.com/whatwg/url/issues/369).

[2019-06-04 13:10] foolip commented on #17118
In https://github.com/web-platform-tests/wpt/pull/16720/checks?check_run_id=141447864 I saw another type of failure. Seems like things are a little bit on fire between Azure and GitHub?

[2019-06-04 13:22] gsnedders opened #17165 "Look at sphinx-js for JS API docs"
It might be worth considering using [sphinx-js](https://pypi.org/project/sphinx-js/) for our docs of JS APIs, given we have decent comments in our JS files.

I don't know if this would actually be an improvement, but it's probably worth considering.

cc/ @jugglinmike

[2019-06-04 13:26] #17075 closed

[2019-06-04 13:26] #17077 closed

[2019-06-04 13:42] gsnedders opened #17167 "quotes-036 relies on br being styleable"
`css/CSS2/generated-content/quotes-036.xht` tries to style the `br` element, but it interoperably fails everywhere.

See also https://github.com/whatwg/html/issues/2291.

[2019-06-04 13:54] foolip commented on #17027
@gsnedders in this instance does it matter if the URL is considered equivalent, as long as the code that parses `include=(Document|Window)` (where?) handles the URL correctly?

Regardless, if the bug is in SafariDriver and it only affects a few tests, leaving this blocked on a SafariDriver fix might be reasonable. @burg can you file a bug, or should one be filed through https://feedbackassistant.a

[2019-06-04 17:34] jugglinmike commented on #17165
Could be! sphinx-js has a hard requirement on a Node.js module (jsdoc), and that's something we've generally tried to avoid. It might be more acceptable for a niche task like documentation generation, but I don't have any evidence that synchronizing the JS source and its documentation is a significant source of work or confusion.

That's in contrast to the documentation for the linting tool. Exper

[2019-06-04 17:41] gsnedders commented on #17165
For infra we don't expect to be run in browser vendor's CI systems, we can use whatever we want, I'm pretty sure.

[2019-06-04 17:48] faceless2 opened #17170 "Problem with several newish tests in css-values"
There are several tests recently added to css-values that I think are incorrect - including at least:

* css/css-values/ex-unit-002.html
* css/css-values/ex-unit-003.html
* css/css-values/ch-unit-017.html

These are all testing font-based units from particularly crafted fonts, eg "ExTest.woff" or "ChTestZeroWidthZero.woff" amongst others.

font-based units are defined to take their values from the

[2019-06-05 00:28] burg commented on #17027
Please file via the feedback assistant. I’m on parent leave until August.

Sent from my Apple IIc

[2019-06-05 10:12] foolip commented on #16267
There is quite a bit that could be checked about Web IDL semantics and many places one could put such validation:
- Bikeshed (https://github.com/tabatkins/bikeshed/issues/1452)
- ReSpec (https://github.com/w3c/respec/issues/2235)
- idlharness.js (this issue)
- Browser engine bindings generators (https://crbug.com/949672, https://crbug.com/948139, etc.)

Something maintained together with webidl2.j

[2019-06-05 11:08] foolip commented on #14707
@csharrison it seems indeed like something simpler might be possible: hard-wire a certain path in wptserve to be handled by a specific file, with comments in both places explaining what's going on. If we gain a second and a third case of the same, then we can generalize.

[2019-06-05 11:10] foolip commented on #16024
@jugglinmike requiring an explicit `./wpt install` sounds pretty reasonable to me, as long as it's also trivial to then `./wpt run` the same thing that was installed.

@jgraham opinions?

[2019-06-05 11:11] foolip commented on #13183
@Hexcles having dug into test writing patterns in Chromium a bit, do you have a hunch for how often this would be useful? I'm inclined to agree with @gsnedders that maybe this isn't very high prio, but don't know.

[2019-06-05 11:13] foolip commented on #15485
@jgraham do you know why touching testdriver.js won't end up running any tests? I'm pretty sure it once did, and I haven't changed it or been aware of a change.

[2019-06-05 11:24] saschanaz commented on #16267
Sounds good 👍

[2019-06-05 12:23] foolip commented on #16267
@saschanaz, is there an existing webidl2.js issue for validation? I have questions which I'd ask there :)

[2019-06-05 12:30] saschanaz commented on #16267
@foolip I think you can open a new one.

[2019-06-05 15:44] jugglinmike opened #17186 "Azure Pipelines not running latest release of Safari Technology Preview"
[Apple released version 83 of Safari Technology Preview last Wednesday](https://webkit.org/blog/8967/release-notes-for-safari-technology-preview-83/). However, according to the results published on [wpt.fyi](https://wpt.fyi), this project continues to use version 82.

This is surprising because [the URL referenced by the Azure Pipelines configuration](https://github.com/web-platform-tests/wpt/blob

[2019-06-05 16:40] Hexcles commented on #17186
Where is 63 documented?

The formula (or whatever Homebrew calls it) has been updated to point to 83 last week: https://github.com/Homebrew/homebrew-cask-versions/pull/7417

[2019-06-05 16:48] jugglinmike commented on #17186
Oh, pardon me. My original message has a typo. The text "a script that's documented to install version 63" ought to read, "a script that's documented to install version 83"

I'll update the description to avoid more confusion.

[2019-06-05 20:12] foolip commented on #17186
I think the problem is that https://github.com/Homebrew/homebrew-cask-versions/commit/55b3c016358c28322b0844041142dc3902127771 didn't update the URL for `if MacOS.version <= :high_sierra`.

https://github.com/foolip/safari-technology-preview-updater hasn't been running correctly in a while, the scheduled builds silently stopped. I'll see if getting it back and running will produce a PR fixing this

[2019-06-05 20:22] jugglinmike commented on #17186
Good eye!

[2019-06-05 20:41] foolip commented on #17186
Also, https://developer.apple.com/safari/download/ now has packages for Mojave + Catalina. As long as our VMs are on High Sierra we just won't be able to run new Safari TP I think :(

[2019-06-05 20:44] foolip commented on #17186
Oh wait, look at this good news! https://devblogs.microsoft.com/devops/azure-pipelines-now-supports-additional-hosted-macos-versions/

[2019-06-06 14:40] gsnedders commented on #17186
Yeah, I was about to ask why we're on High Sierra. :)

[2019-06-06 16:45] georgeroman opened #17210 "Possible missing capabilities parameter"
A w3c compliant WebDriver server [expects](https://w3c.github.io/webdriver/#dfn-capabilities-processing) a `capabilities` field in the parameters for a `New Session` command. [Here](https://github.com/web-platform-tests/wpt/blob/3840f46213d9a991acc9288e3863530f7502c05e/tools/webdriver/webdriver/client.py#L405), if `requested_capabilities` is `None` the new session request will be sent without any

[2019-06-06 20:31] foolip commented on #13803
https://github.com/web-platform-tests/rfcs/pull/22 will make this not matter.

[2019-06-06 20:32] #13803 closed

[2019-06-06 20:35] foolip commented on #15174
With https://github.com/web-platform-tests/wpt/pull/16920 merged this will probably soon be possible to resolve. We should have results every 6 hours if the setup is reliable.

[2019-06-07 13:25] faceless2 opened #17231 "[css-text] hanging-punctuation: full-width quotes, "last formatted line" clarification required"
I've got a few issues with the hanging-punctuation tests in web-platform-tests, which have led to some questions on the spec.

First, the test [hanging-punctuation-last-001.xht](https://github.com/web-platform-tests/wpt/blob/master/css/css-text/hanging-punctuation/hanging-punctuation-last-001.xht) seems to presuming that the "closing brackets" should hang. But I don't think the case. The spec says

[2019-06-07 20:57] gsnedders opened #17238 "Dependency on requests?"
This looks questionable:

[code]

[2019-06-07 20:57] gsnedders commented on #17238
Or maybe something else is broken with our virtualenv stuff with PyPy?

[2019-06-08 19:05] guest271314 commented on #15560
@eric-carlson The results of the various `MediaStreamTrack` and `MediaStream` events vary widely at the front-end between Chromium (76) and Firefox (69).

For example, at Chromium 76 `mute` event is dispatched at `MediaStreamTrack` of `canvas.captureStream()` when images are not longer set at source `<canvas>` element; Firefox (Nightly) does not dispatch `mute` event.

Specification https://w3c.gi

[2019-06-10 12:30] foolip commented on #17118
Assigned to self to check in on this issue in a few months to see if it's still a problem.

[2019-06-10 13:30] foolip commented on #9647
@jugglinmike just for the public record, this is still on track to be merged into this repo, right?

[2019-06-10 13:32] foolip commented on #14566
@Hexcles is it still appropriate that this is assigned to you? FWIW, I haven't seen it come up again since I filed this issue, so it's not on fire :)

[2019-06-10 13:32] foolip commented on #14763
I still need to do this.

[2019-06-10 13:49] foolip commented on #14564
This keeps being the main time sink when monitoring https://ecosystem-infra-rotation.appspot.com/, showing up as "blocked export PRs."

@lukebjerring @KyleJu do you think anything beyond the currently planned work on flakiness metadata will be needed to resolve this? More concretely, will the flakiness still show up as blocked exports and require us to add the metadata, or do we need to block Chro

[2019-06-10 13:51] foolip commented on #15137
@gsnedders we've discussed it offline, but can you update this thread with the current plan to make things faster?

[2019-06-10 13:52] foolip commented on #10877
@lukebjerring is this something we should look at again in Q2? I don't know how big of a problem it is that tests with new harness errors land vs. the effort required to prevent it. I guess it'd just be a failing wpt.fyi check, and a new action for "I really mean it"?

[2019-06-10 13:53] foolip commented on #16054
@gsnedders given that we're now using edgechromium on Azure Pipelines it won't matter all that much, but this would probably still be nice cleanup. Lowering prio though.

[2019-06-10 16:38] jugglinmike commented on #9647
This issue could definitely use an update; Thanks for the reminder, @foolip

The latest on the technical implementation is discussed in this Google Document:

https://docs.google.com/document/d/1X3EiMRQ60eOtEDCXAUhvY-c5sVKY5ntc9xxqjem-enI/edit

The completed work is available at:

https://github.com/web-platform-tests/wpt/compare/bocoup/wptrunner-cdp

This patch must be approved via the WPT RFC pr

[2019-06-10 20:30] TalbotG opened #17259 "absolute_length_units.html test in the nightly-unstable css-values test suite"
@plinss
Peter,
I have modified (with many corrections and improvements) the absolute_length_units.html test in the [pull request 17017](https://github.com/web-platform-tests/wpt/pull/17017) which was merged 6 days ago. Yesterday, I checked the [css values test suite](http://test.csswg.org/suites/css-values-3_dev/) and http://test.csswg.org/suites/css-values-3_dev/nightly-unstable/html/absolute_len

[2019-06-10 20:31] rtoy commented on #10201
Sorry for the long delay!  I need better filters for my wpt emails.

Yes, the tests include bits of the actual test output (frequency response) as part of the message. (A hold-over from porting our audit system to testharness.)

The test output should be consistent for each browser, but not between browsers because the actual frequency response values may differ between browsers.  And they could b

[2019-06-11 09:33] louaybassbouss commented on #16214
All, we created a [PR](https://github.com/louaybassbouss/rfcs/pull/1) to the RFC GitHub Repository as you recommended. Looking forward to your support and get the new features integrated into WPT.

[2019-06-11 09:53] foolip commented on #10201
@rtoy I take it knowing the expected frequency is helpful even if the test passes? If not, it could simply be moved to an assertion with a good message.

If you want extra information even when passing, I think what would fix it is additional per-subtest metadata that has no effect on passing or failing, but is shown on wpt.fyi and Chromium's baselines.

P.S. https://web-platform-tests.org/reviewi

[2019-06-11 18:26] jugglinmike commented on #7760
For these tests to be automated, we'll need to generate reference PDFs. Is that possible for features like paged media? Or will we be limited to `rel=mismatch`?

[2019-06-11 22:29] gsnedders commented on #7760
@jugglinmike Why would they be any different to any other reftest? We just have another HTML file as a reference, also rendered in print mode (to PDFs or PNGs or whatever). (We already have a fair number in the CSS test suite, though they aren't currently run anywhere as far as I'm aware.)

[2019-06-11 23:30] jugglinmike commented on #7760
@gsnedders With reftests for screen rendering, we generally write reference documents that simulate advanced features using simpler/older features (e.g. simulating flexbox layout with absolutely-positioned elements).

I don't know how we can simulate something like `break-before`. If we're able to control for enough aspects of the printed page, can absolute positioning be used to simulate this, to

[2019-06-12 09:58] foolip opened #17286 "Taskcluster "tools/ unittests (Python 3)" failing on all PRs"
Example: https://tools.taskcluster.net/groups/Xy9azuGlT1Oke4HBMbGS_g

This is blocking everything :/

[2019-06-12 09:59] foolip commented on #17286
Once the cause is fixed, we'll also have to retrigger all PRs affected by this.

[2019-06-12 10:03] gsnedders commented on #17286
[code]

[2019-06-12 10:09] gsnedders commented on #17286
Basically, we're using an out of date apt database (presumably only updating when we update the image), and we're running into the eviction of old packages from the archive.ubuntu.com pool.

That said, given the installs are in `.taskcluster.yml`, we run into the fact that TC only supports using the config in `pull/xxx/head` (https://bugzilla.mozilla.org/show_bug.cgi?id=1539523), and therefore aff

[2019-06-12 10:16] #17286 closed

[2019-06-12 10:21] gsnedders commented on #7760
@jugglinmike Right, so I think it's true we can't test the *really* simple case (note that we have the same problem elsewhere; we don't ever actually test that color: green outputs something in green, because we'd need some external reference format). In practice, relying on manual testing for a few super-simple cases is good enough.

[2019-06-12 10:52] foolip commented on #17286
Oh, we need to rebase, opening and closing won't help? Can you comment on the PRs where the author has to rebase?

[2019-06-12 11:06] gsnedders commented on #17286
@foolip Yes. If the issue is in `.taskcluster.yml`, it needs a rebase. :/

[2019-06-12 11:10] foolip commented on #17286
Sad face reaction emoji.

[2019-06-12 15:29] georgeroman opened #17296 "Chrome fails infrastructure/testdriver/actions/actionsWithKeyPressed.html on Mac"
https://github.com/web-platform-tests/wpt/pull/17212 fails the infrastructure tests due to an unrelated test failure occurring in [`actionsWithKeyPressed.html`](https://github.com/web-platform-tests/wpt/blob/81fc948a5e4138c0aba22e3f670789f7ac0f99c1/infrastructure/testdriver/actions/actionsWithKeyPressed.html). It seems that this test was added quite recently: https://github.com/web-platform-tests/

[2019-06-13 18:08] jungkees opened #17317 "Add tests for using ASCII serialization for origins in Service Workers"
If someone can help add tests for https://github.com/w3c/ServiceWorker/pull/1151, it'd be great.

[2019-06-14 07:57] jakearchibald opened #17339 "Allow standalone serviceworker tests"
If you want to create a test with boilerplate, it seems like you need to create a file like `whatever.https.any.js`, and then:

[code]

It seems a bit weird to go from `.any.` to "just service worker please". Should `whatever.serviceworker.js` imply "run this test as a service worker only"?

[2019-06-14 09:09] foolip opened #17342 "Azure Pipelines scheduled triggers need to be migrated to YAML"
Looking at triggers in the pipeline editor today I see this:
![image](https://user-images.githubusercontent.com/498917/59497921-abcaa800-8e94-11e9-809c-8d4d33c9432e.png)

However, the link leads to https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema and I can't see any documentation on how to migrate the schedule triggers to YAML.

@mustjab @thejohnjan

[2019-06-14 09:11] foolip commented on #17342
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?tabs=yaml&view=azure-devops#scheduled-triggers says:

Hopefully this isn't true :)

[2019-06-14 18:12] whimboo commented on #9007
I can still reproduce this crash with MacOS Mojave (latest patch level). When I add `no_proxy` the crash of Python is gone, but I see the hang as also mentioned before. So if there is a crash or hang doesn't make a difference. We might want to find out which multiprocessing usage is causing the hang. For me it always hangs right after `Using 1 client processes`.

[2019-06-15 16:29] TalbotG commented on #17259
The test that I modified in pull request 17017 had an assert text but the test that is currently in the test suite has no text assert. So, that is odd and unexpected.

[2019-06-17 09:24] foolip commented on #9007
That's interesting, I've had the crash a bunch of times but never the hanging IIRC. But maybe I don't recall correctly.

@whimboo can you print `python --version` and the relevant bits of `sw_vers`?

[2019-06-18 01:31] jugglinmike commented on #14648
I believe we resolved this via gh-17039. @Hexcles as the reporter, would you mind confirming whether that patch satisfies your expectations?

[2019-06-18 01:33] TalbotG commented on #17259
Duh! Please ignore this. I misread the source code. There is a text assert in the test in the test suite right now.

[2019-06-18 09:45] zcorpan opened #17378 "/content-security-policy/securitypolicyviolation/targeting.html is slow/disabled in mozilla chromium webkit edge"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/content-security-policy/securitypolicyviolation/targeting.html | mozilla chromium webkit edge |     disabled: [ Timeout ] [ Skip ] disabled | https://bugzilla.mozilla.org/show_bug.cgi?id=1404842 https://crbug.com/626703 None None

Test result history for: <

[2019-06-18 10:20] gsnedders commented on #9007
@whimboo What happens with `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`? I presume still a hang?

[2019-06-18 10:31] gsnedders commented on #14648
We still have some things in `tools/wptserve/docs/`, mostly API docs. Given we're now using Sphinx, I feel like we should put them somewhere on WPT.org, even if not directly linked from the main page (some infrastructure development section on something).

[2019-06-18 14:16] foolip commented on #17339
Perhaps all the keywords in https://web-platform-tests.org/writing-tests/testharness.html#multi-global-tests should be supported as part of the filename?

[2019-06-18 14:21] foolip commented on #13276
Per @gsnedders this was the cause behind https://github.com/web-platform-tests/wpt/pull/17219#issuecomment-501272482 so perhaps this issue is more important than we thought :)

@LukeZielinski it seems that a lot of issues around TestRunnerManager might be incidentally fixed by refactoring the executor to live in another process and communicate over some protocol. Would you guess this is one of the

[2019-06-18 14:24] jakearchibald commented on #17339
Seems reasonable.

[2019-06-18 14:51] LukeZielinski commented on #13276
Yeah, seems likely that this would have to be rewritten if those were split into different processes. But we'd likely need to handle such a scenario (abnormal exit + cleanup) in the split world too.

[2019-06-18 17:12] guest271314 commented on #16971
Should the tests be designed based on what is described should occur at

and

https://html.spec.whatwg.org/multipage/urls-and-fetching.html#cors-settings-attribute

that is, whether or not an image from `<video>` can be drawn onto a `<canvas>` and whether or not Web Audio API can use cross-origin media data (https://stackoverflow.com/a/31907336)? Should the tests also include how `MediaRecorder` a

[2019-06-18 18:15] Hexcles opened #17384 "WebDriver tests: Module already imported so cannot be rewritten"
We are seeing `PytestAssertRewriteWarning` (see [assertion rewrite](https://docs.pytest.org/en/latest/assert.html#assert-introspection)) thrown by `pytest` from some files `webdriver/tests/`.

One example:
[code]

In the logs, you'll see:
[code]

[2019-06-18 19:31] Hexcles opened #17385 "test_file_protocol has one too many slash in the expected file URI?"
https://github.com/web-platform-tests/wpt/blob/376e2a8250c3824b794ec518ab320d8a82cedf95/webdriver/tests/navigate_to/navigate.py#L37

e.g. if doc root is `/var/wpt`, the expected URI would be `file:////var/wpt`, but if I'm reading the Appendix B & D.1 of [RFC 8089](https://tools.ietf.org/html/rfc8089) correctly, it should be `file:///var/wpt` instead?

[2019-06-18 19:32] Hexcles commented on #17385
@whimboo who wrote that test

[2019-06-18 19:39] Hexcles commented on #17385
also `test_get_current_url_file_protocol` in `webdriver/tests/get_current_url/get.py`

[2019-06-18 20:31] Hexcles commented on #14648
Agreed.

Also, it seems that the only way to get to the newly structured wptserve doc is: homepage -> server features -> Python handlers (the link is near the end of the page). Shall we perhaps increase the depth of the ToC?

[2019-06-18 20:33] jugglinmike commented on #5300
gh-17039 got us part of the way there, but it could still use a little more detail. I've opened gh-17386 in the hopes of resolving this.

[2019-06-18 22:05] saschanaz opened #17387 "Add a test for DOMMatrix precision"
Currently Firefox uses floats to DOMMatrix so `new DOMMatrix([.9, .8, .7, .6, .5, .4])` produces `a: 0.8999999761581421` and so on. This will be fixed, but there doesn't seem to be a test for this.

[2019-06-19 00:48] jugglinmike commented on #14360
Could we support the first and second use case with something like `<html class="reftest-poll">`? @dholbert only mentioned the need to wait for a match, but this could be interpreted according to whatever passing conditions the test defines.

[2019-06-19 12:08] foolip commented on #17339
@annevk you made some pretty big changes in https://github.com/web-platform-tests/wpt/pull/6792, and I think the code that would have to be updated was added in that PR. Did you have reasons then for not supporting `.serviceworker.js`?

[2019-06-19 12:30] annevk commented on #17339
Not particularly, it was not a use case I was accounting for I suspect.

[2019-06-19 12:44] foolip commented on #17339
@jakearchibald do you want to give this a go? I think at the very least you'd have to do some tinkering with `path_replace` in `ServiceWorkersHandler`, and probably a bunch of other places by trial and error.

[2019-06-19 13:59] jakearchibald commented on #17339
I tried briefly before filing this issue and got a bit stuck, but I can give it another go.

[2019-06-19 15:07] foolip commented on #17339
@jakearchibald cool, please shout if it doesn't pan out, I've marked it backlog for now so that it doesn't regularly show up in triage.

[2019-06-19 17:26] Hexcles commented on #17296
I checked out #17212 and couldn't find this failure. Did it go away after you retried/rebased?

[2019-06-19 17:32] georgeroman commented on #17296
It’s in the second failed build (Azure Pipelines (infrastructure/ tests: macOS)) from here: https://github.com/web-platform-tests/wpt/pull/17212/checks?check_run_id=149123620

[2019-06-19 22:18] Hexcles opened #17403 "Edge Chromium has incompatible browser & driver versions on Azure"
Currently, Edge Chromium isn't running any tests on Azure because:

[code]

For reference, we use the latest dev channel of Edge Chromium on Azure:
https://github.com/web-platform-tests/wpt/blob/b6343fc17a3035a0c2170f44fb63df2356aa2cb9/tools/ci/azure/install_edge.yml#L2

Supposedly the problem is in `install_webdriver`:
https://github.com/web-platform-tests/wpt/blob/b6343fc17a3035a0c2170f44fb63df2

[2019-06-19 22:25] Hexcles commented on #17403
cc @mustjab

[2019-06-20 08:57] foolip commented on #17403
@Hexcles I've merged your quickfix, and will rename the bad runs we got on wpt.fyi so far. Before this is closed, can you check if any more trickled in?

@mustjab I'll go ahead and assign this to you, is that OK?

[2019-06-20 08:57] foolip commented on #17403
@Hexcles I've merged your quickfix, and will rename the bad runs we got on wpt.fyi so far. Before this is closed, can you check if any more trickled in?

@mustjab I'll go ahead and assign this to you, is that OK?

[2019-06-20 08:57] foolip commented on #17403
@Hexcles I've merged your quickfix, and will rename the bad runs we got on wpt.fyi so far. Before this is closed, can you check if any more trickled in?

@mustjab I'll go ahead and assign this to you, is that OK?

[2019-06-20 09:41] foolip commented on #13276
Changing to roadmap since @gsnedders says this a bug in the handling of the state machine, fix not obvious but it's affecting runs. @jgraham might have ideas.

Not assigning to anybody though, yet.

[2019-06-20 14:09] foolip commented on #17403
https://wpt.fyi/results/?run_id=242900005 was good again, so there aren't any more runs to rename. (I renamed them to brokenedge.)

[2019-06-20 17:24] Hexcles commented on #17296
`infrastructure/testdriver/actions/elementPosition.html` also fails on Chrome for macOS.

[2019-06-21 00:42] hyspace opened #17420 "Help needed about 2 tests in URL"
Hi all,

I'm running the URL tests in this repository of an implementation of *WHATWG URL Living Standard*.

I have question about 2 URL tests.

1.
[code]
https://github.com/web-platform-tests/wpt/blob/master/url/resources/urltestdata.json#L4689

In this test, expected output of the hostname is `xn--n3h`. It is output of [Host parsing](https://url.spec.whatwg.org/#host-parsing) section.
In this se

[2019-06-21 00:53] dholbert commented on #14360
That sounds good to me.

[2019-06-21 15:57] #5293 closed

[2019-06-21 16:02] gsnedders commented on #13276
Fundamentally, `TestRunnerManager.error` will always throw because it calls `restart_runner` which asserts we're in the restart state. I'm not entirely sure if the right fix is just:

[code]

And testing this isn't that easy.

[2019-06-22 09:15] #17210 closed

[2019-06-23 01:52] TimothyGu commented on #5667
We need to be able to test `window.print()` for https://github.com/whatwg/html/pull/4690. For now I've added a manual test in https://github.com/web-platform-tests/wpt/pull/17439.

[2019-06-24 14:17] #16420 closed

[2019-06-24 14:21] gsnedders commented on #17420
cc @annevk

[2019-06-24 14:32] #5300 closed

[2019-06-24 21:43] youennf commented on #16229
I am not sure whether this is the same issue but I also spotted the same issue with XHR tests.
For instance  https://wpt.fyi/results/xhr?run_id=266850013&run_id=247030003&run_id=237070002&run_id=231300008
First two runs have something like 1200 tests, third run has 2000 runs.

[2019-06-25 05:53] whimboo commented on #9007
Sorry, I have seen the problem with Fennec but not Chrome, so maybe my hang is not that closely related.

But we got more insight on the hang via [bug 1560960](https://bugzilla.mozilla.org/show_bug.cgi?id=1560960) and James landed a patch for it which will soon reach mozilla-central. Reason here was that the HTTP servers at port 8000/8001 could not be started and as such `s.connect()` was hanging

[2019-06-25 06:37] domenic opened #17489 "Consider ways of advancing virtual time"
In C++ tests we have the ability to advance a virtual clock to test time-dependent things. In Web Platform Tests, e.g. testing default timeout behaviors or similar, we do not.

It's conceivable this virtual-clock infrastructure could be exposed as a test-only API. It would presumably affect setTimeout, Date.now, and various other related things.

The specific case that brought this up is wanting t

[2019-06-25 06:56] whimboo commented on #17385
Thanks for filing the issue! I'm going to fix that via https://bugzilla.mozilla.org/show_bug.cgi?id=1561196.

[2019-06-25 09:29] whimboo commented on #9007
There is also https://bugzilla.mozilla.org/show_bug.cgi?id=1561224 now, which I will use to do some investigation around the crash or hang. `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` doesn't actually help in all the cases.

[2019-06-25 11:28] whimboo commented on #9007
Is anyone still able replicate this issue with https://github.com/web-platform-tests/wpt/pull/17488 being merged? I have a hard time to do so.

[2019-06-26 01:30] inexorabletash opened #17518 "Non-printable characters filtered by collection lead to MISSING results on wpt.fyi"
Not sure this is the right repo for this, but...

https://wpt.fyi/results/FileAPI/blob/Blob-constructor.html?label=master&label=experimental contains two cases where platforms end up with different names for the same test, leading to confusing MISSING lines:

![image](https://user-images.githubusercontent.com/771547/60140881-0521b980-9768-11e9-9015-f0ab0c209c63.png)

NOTE: The "function" case towa