[2020-06-29 21:47] stephenmcgruer commented on #24180
Ok, it seems like we should maybe not be too worried about re-generating the SignedExchange certs automatically for now (though I'm still happy to do so if that would be useful), and should use the command-line flags instead.

So this seems like a larger issue. Is there a path here to not hard-code the URLs?

[2020-06-30 00:20] marcoscaceres opened #24389 "link[rel=manifest] test plan"
Create a document using JS + add an iframe, try to install

1. Let context be node document 's browsing context Firefox None
2. If context is null, then return false.
3. If context is not a top-level browsing context , return false.
Testing plan for https://github.com/whatwg/html/pull/5581

cc @aarongustafson

Fetching test

1. Set request 's initiator to " manifest ".
2. Set request 's destinatio

[2020-06-30 16:01] stephenmcgruer commented on #23579
Sadly the js part of this was reverted in https://github.com/web-platform-tests/wpt/pull/24394 due to breaking Chromium's importer. What we need to do is roll the tooling into Chrome, and only then re-land the js part.

[2020-06-30 21:50] alastor0325 opened #24403 "http://w3c-test.org/ is broken"
STR.
1. go to http://w3c-test.org/

Expect.
2. page exists

Actual.
2. Can't connect to the website

[2020-07-01 10:44] foolip commented on #23148
If no specs currently use `LegacyNoInterfaceObject` then probably none ever will. The only spec left in reffy-reports (ed) using `NoInterfaceObject` (the "legacy" name of `LegacyNoInterfaceObject` :D) is svg-paths.idl, being added in https://github.com/web-platform-tests/wpt/pull/23869. It'd probably be best to fix that at the source and then just drop support for `NoInterfaceObject` from WPT.

[2020-07-01 10:49] foolip commented on #23148
I've sent https://github.com/w3c/svgwg/pull/802 for that.

[2020-07-01 14:37] stephenmcgruer commented on #21751
Bringing in some updates from https://github.com/web-platform-tests/wpt/pull/21628:

stephenmcgruer, 12th June 2020:

Hexcles, 12th June 2020:

Also on June 12th there was an attempt to use the old hacky method of copying a working plist file from another Mac device, but it appeared to still have problems (https://github.com/web-platform-tests/wpt/pull/21628#issuecomment-643479930). This was not f

[2020-07-03 09:59] #18827 closed

[2020-07-03 09:59] foolip commented on #18827
Thanks @shvaikalesh for fixing this! :D

[2020-07-04 12:05] stephenmcgruer commented on #7206
It seems like we're still not interested in working on this (based on lack of activity), so I'm downgrading it back to backlog.

[2020-07-04 12:07] stephenmcgruer commented on #21529
@Hexcles can you summarize the outcome of the internal investigations (if appropriate), and then we can close this out?

[2020-07-04 17:52] burg commented on #21751
Hexcles wrote:

It's protected in the same way that file paths for contacts, photos, etc. are more locked down starting in Catalina. This is to mitigate the risk of malware trying to enable WebDriver by writing an magic plist to disk. safaridriver has special sandbox access to ~/Library/WebDriver/. The --enable codepath has been designed to create any files/directories as the real user rather than

[2020-07-06 07:08] marcoscaceres opened #24448 "Invite christianliebel as collaborator"
@christianliebel is part of:

https://github.com/web-platform-tests/wpt/blob/master/appmanifest/META.yml

But he is not a collaborator of this repo at the moment. @sideshowbarker, could you add him?

[2020-07-06 07:48] marcoscaceres commented on #24448
Never mind... it works...

[2020-07-06 07:50] marcoscaceres commented on #24448
Actually, no... @christianliebel can't approve things.

[2020-07-06 08:53] sideshowbarker commented on #24448
Invitation sent

[2020-07-06 09:24] christianliebel commented on #24448
Works! Thank you, @sideshowbarker.

[2020-07-06 09:24] #24448 closed

[2020-07-06 18:17] stephenmcgruer commented on #14846
This is now ready; https://github.com/web-platform-tests/wpt/pull/24151

My plan currently is to attempt the migration on the (EST) morning of Tuesday, July 7th. I will send an announcement to the reviewers team on web-platform-tests, as well as on IRC, before I do so. After flipping the required bit, I will be going through active PRs and re-triggering their checks as necessary.

[2020-07-06 20:55] miketimofeev commented on #21751
Hey folks @stephenmcgruer @foolip! We're working on building and delivering AzDO macOS images. How can we help you debug this issue?
Unfortunately, we can't provide any access to VMs like ssh yet we're able to run any commands on those VMs and come back with the results.
cc @al-cheb @maxim-lobanov

[2020-07-06 21:11] stephenmcgruer commented on #21751
Thanks @miketimofeev , appreciate the help! To summarize the problem;

1. We currently install [Safari Tech Preview](https://developer.apple.com/safari/technology-preview/) on Azure Pipelines via a [yml task](https://github.com/web-platform-tests/wpt/blob/master/tools/ci/azure/install_safari.yml) that installs it [via homebrew](https://github.com/web-platform-tests/wpt/blob/master/tools/ci/azure/s

[2020-07-06 21:30] miketimofeev commented on #21751
@stephenmcgruer basically each VM contains [azure-pipelines agent](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser), which receives a signal and start the job so it's a non-interactive session with some level of abstraction as you can see from logs like these(I've tried to install STP with your brew formula)
![image](https://user-images.githubus

[2020-07-06 21:40] Hexcles commented on #21751
Hopefully this also works for Safari Technology Preview.

Looking at this, I'm wondering if the "launcher" app (the agent?) needs to be given full disk access permission.

[2020-07-06 21:47] miketimofeev commented on #21751
@Hexcles I think it should work, but STP version needs to be preinstalled on the clean image for this.
We came across some issues related to the disk access and granted the launcher full access permission.

[2020-07-06 21:56] #23579 closed

[2020-07-07 13:28] al-cheb commented on #21751
Hello, @stephenmcgruer, @foolip ,@burg
I have created a small repository to reproduce the issue - https://github.com/al-cheb/test with the script https://stackoverflow.com/questions/44006628/how-to-enable-allow-remote-automation-in-safari-programmatically which enables checkbox.

[code]

![image](https://user-images.githubusercontent.com/47745270/86788054-6a440680-c06e-11ea-9b68-24f8198f8d89.png)

[2020-07-07 13:40] stephenmcgruer commented on #14846
The PR has landed, and the expected checks have been updated.

We have hit one snag - I overlooked the fact that `.taskcluster.yml` has changed so PRs need **rebased** rather than close/opened to retrigger the CI. This is obviously a much more painful bar, so we're considering our options for folks atm.

[2020-07-07 13:45] Hexcles commented on #21751
So `allowremote` is the AppleScript in the SO link?

[2020-07-07 13:45] stephenmcgruer commented on #21751
Looks like its https://github.com/al-cheb/test/blob/master/allowremote

[2020-07-07 13:48] Hexcles commented on #21751
Alright, same script. @al-cheb it looks like `allowremote` itself should suffice. Could you try just running `allowremote` without `safaridriver --enable`? Also, maybe try running only `safaridriver --enable` without `allowremote` to confirm.

[2020-07-07 13:55] al-cheb commented on #21751
@Hexcles,

1. safaridriver --enable without allowremote
**
![image](https://user-images.githubusercontent.com/47745270/86791577-5b5f5300-c072-11ea-8bcd-a7103c95bb29.png)
**

2. allowremote without safaridriver --enable
![image](https://user-images.githubusercontent.com/47745270/86791988-b2fdbe80-c072-11ea-9dc2-b2b6aa656a79.png)

[2020-07-07 15:13] #24089 closed

[2020-07-07 15:17] Hexcles commented on #21529
Unfortunately, the internal investigation has somewhat stalled.

The current consensus is that something is wrong with Docker's iptables configurations w.r.t. NAT into the containers. The "workaround" we applied should have been the default configuration. This workaround is being applied on a ad-hoc basis in various places.

[2020-07-07 15:17] Hexcles commented on #21529
Since there is nothing actionable on our side, I'm closing this issue.

[2020-07-07 15:17] #21529 closed

[2020-07-07 16:35] stephenmcgruer commented on #14846
Update: so far things are looking good on the GitHub side, and pull request integration with wpt.fyi appears to be working, but for some reason full pushes to wpt.fyi are missing data. https://wpt.fyi/results/?diff&filter=ADC&run_id=593330004&run_id=593410002 is a diff from a run yesterday to today; we appear to be dropping shards.

https://github.com/web-platform-tests/wpt.fyi/pull/2044 has added

[2020-07-07 17:34] stephenmcgruer commented on #14846
We believe we have identified the problem and have a fix: https://github.com/web-platform-tests/wpt.fyi/pull/2045

[2020-07-07 19:35] stephenmcgruer commented on #14846
The latest runs look good; we're now looking at a problem with manifest actions but we think it may be unrelated.

[2020-07-07 21:41] carlosame opened #24501 "conformance-checkers/html/media-queries/source-isvalid.txt contains invalid ratio value"
Line 24 of `conformance-checkers/html/media-queries/source-isvalid.txt` contains this:

`screen and (device-aspect-ratio: -16/-9)`

which is invalid according to the recently approved [definition in values-4 draft](https://drafts.csswg.org/css-values-4/#ratio-value):

`<ratio> = <number [0,∞]> [ / <number [0,∞]> ]?`

See also [Definition of &lt;ratio&gt; should probably be in css-values #4908](/w3

[2020-07-07 22:23] stephenmcgruer opened #24504 "epochs_update.sh badly handles `./wpt rev-list --epoch ${EPOCH}` failing"
In https://github.com/web-platform-tests/wpt/runs/845502245?check_suite_focus=true, there was a bug in wpt that caused it to crash when called:

[code]

However `epochs_update.sh` does not notice this crash - instead it does pretty much the worst thing it can. Because the sub-shell failed, this:

`git branch ${EPOCH_BRANCH_NAME} $(./wpt rev-list --epoch ${EPOCH})`

Becomes:

`git branch ${EPOCH_BR

[2020-07-07 23:11] sideshowbarker commented on #24403
https://w3c-test.org/ is back now

[2020-07-07 23:11] #24403 closed

[2020-07-08 01:55] heycam commented on #18549
To follow up, we discussed this in the CSSWG in csswg-drafts#4165 and resolved that image-orientation does apply to those decorative images. I've written a PR for those changes in csswg-drafts#5294 with test updates in https://phabricator.services.mozilla.com/D82471 which hasn't landed yet.

The tests I changed / added aren't completely comprehensive (I didn't write one for `feImage` for example)

[2020-07-08 02:00] heycam commented on #18549
To be clear, after my test changes land, the items from @zcorpan's list that still remain untested includes:

And `feImage` is worth testing too.

[2020-07-08 13:16] stephenmcgruer commented on #14846
The manifest problem turned out to be unrelated (and has been corrected); we also discovered an unrelated problem with the epochs generation (https://github.com/web-platform-tests/wpt/issues/24504).

There are two outstanding problems:
  * The sink-task can require >100 dependencies for daily epoch runs, which is higher than what Taskcluster supports. The office workaround is to shard your sink-ta

[2020-07-10 12:59] stephenmcgruer commented on #15412
The WPT Taskcluster Checks migration is (mostly) complete, so this should now be possible to address. https://docs.taskcluster.net/docs/reference/integrations/github/checks#custom-text-output-in-checks lays out the approach for producing an 'output' object for GitHub Checks:

[code]

One can also override `task.extra.github.customCheckRun.textArtifactName` to change the directory that is checked.

[2020-07-10 14:21] stephenmcgruer commented on #15412
First experiment on lint: https://github.com/web-platform-tests/wpt/pull/24556/checks?check_run_id=858217231

We'll probably want to do some legwork to dump something a bit more readable (this is just log to file) but not bad.

[2020-07-10 15:27] Hexcles opened #24561 "test_verify_taskcluster_yml fails on Windows in Python 3"
Note that this only happens on Windows with Python 3.6 or 3.8.

Examples:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51123&view=logs&j=f004df5f-f2f4-549d-78c2-3c60702bc2c8&t=586ef36c-9a2d-569c-1ba9-263112987f84&l=63
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51123&view=logs&j=47b03e2b-d31e-537f-c8cf-66c80d147ca1&t=67b19343-5bc4-57b8-71e9-6c31e5bc25

[2020-07-10 15:27] Hexcles commented on #24561
Maybe relevant: https://github.com/pyexcel/pyexcel/issues/180

[2020-07-12 15:28] stephenmcgruer commented on #24257
Is anyone owning the next steps on this issue? I'm downgrading from urgent to roadmap as it has no clear owner, has had no activity for multiple weeks, and we've survived since March without Servo runs. (Which is not to say that's ok, but to acknowledge that its difficult to consider this 'urgent' if 4 months can pass with the issue existing).

[2020-07-12 15:29] stephenmcgruer commented on #24360
To keep things synced - it seems like nobody currently owns https://github.com/web-platform-tests/wpt/issues/24257, so if there's a desire to get WebKitGTK back on wpt.fyi someone needs to step up and add 'skip if not supported' logic or something similar to that.

[2020-07-12 15:33] stephenmcgruer commented on #7660
Update: unfortunately there was disagreement on the proposed approach for avoiding CI timeout and I haven't had the time/energy to drive it to a successful conclusion. I still hope to address this, hopefully sometime in Q3 once the Taskcluster Checks migration is comfortably landed.

[2020-07-12 15:36] stephenmcgruer commented on #14210
We started to look at this in Q2, and did land some monitoring setup in https://github.com/ecosystem-Infra/wptmon that monitored Taskcluster runs. However:

1. It never progressed past an experiment,
1. it hasn't been updated for the switch to the Checks API, and
1. we aren't scheduling anymore time on this currently.

As such, dropping to backlog and removing Luke.

[2020-07-12 15:37] stephenmcgruer commented on #14763
We did some work on monitoring in Q2 (see https://github.com/ecosystem-Infra/wptmon), but we never added Azure Pipeline support and do not currently have plans to move wptmon past an experiment. As such, dropping to backlog and removing Luke.

[2020-07-13 12:48] clopez commented on #24360
Thanks for the heads up. There is definitively a desire to get WebKitGTK back on wpt.fyi. I have a patch that I think it can work. .. will upload the PR now

[2020-07-13 15:09] #24360 closed

[2020-07-13 15:15] #24257 closed

[2020-07-13 21:13] emilio opened #24581 "document-fullscreen-enabled.html is broken."
It tests that `<iframe></iframe>` gets `document.fullscreenEnabled == false`, but per spec it should get fullscreen, as it is same-origin with the top document.

I was going to fix this test but it is annoying and it is actually superseded by `html/semantics/embedded-content/the-iframe-element/iframe-allowfullscreen.html`.

I was going to just remove the test, but I'm confused because the test was

[2020-07-14 13:27] stephenmcgruer commented on #21751
So I tried this today for the Catalina upgrade PR (https://github.com/web-platform-tests/wpt/pull/21628/files), and it had trouble launching (I think?) STP: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51229&view=logs&j=af75b4de-b26f-5d4d-58e8-b41258076d44&t=b085271b-ff6b-573d-7913-4d96cb782bdc

[code]

I haven't done any investigation yet.

[2020-07-14 13:44] foolip opened #24588 "Can `imp.load_source` be avoided?"
Moving a question in https://github.com/web-platform-tests/wpt/pull/24274#discussion_r443547297 to its own issue.

Python's [`imp.load_source`](https://docs.python.org/2.7/library/imp.html#imp.load_source) is used in a small number of places in tools/ and in tests. Representative cases:

https://github.com/web-platform-tests/wpt/blob/3637298f9c5198cdf6a91f0a4920f6c1836eb614/tools/wptrunner/wptrunn

[2020-07-14 15:47] jdm opened #24590 "Docker image is missing libxcb-shap0-dev required by Servo"
Servo recently updated a dependency and now requires libxcb-shape0-dev. Otherwise wpt.fyi test runs fail with:
[code]

[2020-07-14 19:02] stephenmcgruer commented on #14846
At this point, I believe we have addressed all outstanding issues relating to the Taskcluster Checks migration. Checks are here, hopefully to stay!

[2020-07-14 19:02] #14846 closed

[2020-07-14 22:28] Hexcles commented on #23436
@jdm has #24184 fixed this issue?

[2020-07-14 23:26] jdm commented on #23436
Yep.

[2020-07-14 23:26] #23436 closed

[2020-07-15 07:46] al-cheb commented on #21751
@stephenmcgruer You should always install the latest Safari Technology Preview  otherwise the update popup window prevents running the apple script.

[2020-07-15 10:14] foolip commented on #24590
@jdm is this something you can send a PR for, or is it more involved than it seems?

[2020-07-15 10:22] foolip commented on #21751
@stephenmcgruer can you try throwing https://github.com/web-platform-tests/wpt/pull/24393 on top of the changes and seeing if that works?

If it does, I guess that's good, but it's not good that this workaround will start failing every time there's a new release of STP which hasn't been merged into WPT yet. If that's the case we might as well not pin STP, since it will break anyway.

[2020-07-15 12:43] stephenmcgruer commented on #21751
I see, thanks both. That [works](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51312&view=logs&jobId=af75b4de-b26f-5d4d-58e8-b41258076d44&j=af75b4de-b26f-5d4d-58e8-b41258076d44&t=b085271b-ff6b-573d-7913-4d96cb782bdc), so we now have two workarounds (the other being the [known-good-plist](https://github.com/web-platform-tests/wpt/pull/21628#issuecomment-643472141)) to the fact

[2020-07-15 13:06] stephenmcgruer commented on #21435
@frehner Hi Anthony; just wanted to check in and see if you're still working on this issue. If not, no worries, we just want to make sure it doesn't accidentally get double-work on it :)

[2020-07-15 13:31] Hexcles commented on #21751
If that's the case, then the AppleScript workaround might be a bit too finicky; it'd break every time STP gets a new version but we haven't updated ours.

[2020-07-15 13:37] jdm commented on #24590
This was fixed by #24591.

[2020-07-15 13:37] #24590 closed

[2020-07-15 13:39] al-cheb commented on #21751
I will take a look at that moment with update window popup.

[2020-07-15 15:16] jdm opened #24607 "Servo's glibc and glibcxx dependencies are missing in docker"
[code]
I'll keep tinkering with the docker image locally and figure out how to address this.

[2020-07-15 15:22] stephenmcgruer commented on #24607
Is there a `servo` package we could install directly that could take care of this for us? We do this for `firefox` IIRC since it turned out to be too difficult to keep track of the dependencies it needed.

[2020-07-15 15:28] jdm commented on #24607
There is no such thing at the moment, unfortunately.

[2020-07-15 15:29] frehner commented on #21435
Not currently working on it, no. :)

[2020-07-15 16:40] stephenmcgruer commented on #21751
Full run timed out: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51318&view=logs&j=d41515ed-d71e-5e8d-de88-940c2a934d56&t=ba7296eb-ba60-59d0-62db-869842eecc2d

This almost definitely means something is very broken, because its probably caused by wpt trying to retry tests that are erroring out. Looking at the logs from Azure, definitely seeing many of the :

`JavascriptErrorE

[2020-07-15 17:59] al-cheb commented on #21751
@Hexcles @stephenmcgruer , I have added the statement `key code 53` to the script - https://github.com/al-cheb/test/blob/master/allowremote , should work for STP-108 version.

[2020-07-15 23:26] TalbotG opened #24620 "Continuous Integration checks (wpt-decision-task and Community-TC) do not end or do not execute"
**Continuous Integration checks (wpt-decision-task and Community-TC) do not end or do not execute**

Dear fellow advanced GitHub colleagues and @foolip ,

Please visit
https://github.com/web-platform-tests/wpt/pull/23880

You will see:
"
Some checks haven’t completed yet
1 expected, 1 pending, and 18 successful checks
wpt-decision-task Expected — Waiting for status to be reported
Required
@communi

[2020-07-16 00:17] stephenmcgruer commented on #24620
Hi Talbot,

Your change was unfortunately caught in the migration of our CI system, Taskcluster, to use the GitHub Checks API. As part of the migration I went through every PR that appeared to have recent activity, but your PR was overlooked. Apologies for the inconvenience; I have now admin-merged your PR.

For future reference, you can always '@' mention '@web-platform-tests/admins' in a PR if i

[2020-07-16 00:42] TalbotG commented on #24620
Bravo! Thank you, Stephen!

I will from now on. Thank you for your quick and helpful assistance here, @stephenmcgruer . This is appreciated :)

[2020-07-16 00:44] TalbotG commented on #23748
https://github.com/web-platform-tests/wpt/pull/23880
has been approved and has been merged. Therefore, I am closing this issue here.

[2020-07-16 00:44] #23748 closed

[2020-07-16 16:51] burg commented on #21751
Following up on the file write failure... If this is automation being run over SSH or Remote Desktop, how is remote access being enabled on the bots? If this is enabled via System Preferences, then sshd should have full disk access. If it's enabled some other way, then perhaps full disk access needs to be enabled separately in order for safaridriver to write out the plist to disk.

[2020-07-16 18:01] #24504 closed

[2020-07-16 18:23] stephenmcgruer commented on #21751
@miketimofeev @al-cheb are either of you able to answer Brian's comment above? (Noting that I believe the 'remote access' he refers to here is remote access to the actual MacOS system itself, not Safari's remote access.

@burg is there some API we can call to detect whether full disk access is enabled?

[2020-07-16 20:02] al-cheb commented on #21751
@stephenmcgruer @burg

All scripts are being run via runprovisioner.sh:
![image](https://user-images.githubusercontent.com/47745270/87716855-1f399a00-c7b8-11ea-8d81-0fe5435ef870.png)

@burg, Could you please provide steps/script to validate from our side?

[2020-07-16 21:23] Hexcles opened #24636 "Pin the major version of pip to 20 in Python 2"
I noticed that pip would drop support for Python 2 starting from v21: https://github.com/pypa/pip/issues/6148

We've been seeing the deprecation warnings when running `wpt run` without `--py3`:

The timeline seems to be January 2021. And we need to pin the version of pip everywhere we run Python 2 (including the `wpt` frontend and various `tox` tests).

[2020-07-17 06:16] whimboo opened #24643 "Installing Ahem font on MacOS causes warnings for each installed font to appear in the log"
When I run the web-platform-tests I can see a dozen of pages of warnings in the console when the Ahem font is getting installed. Entries that exist for each installed font on my system look like:

[code]

The [causing line](https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/font.py#L80) is that one:

[code]

That code has been added via PR #10983. @gsnedders or @jgraha

[2020-07-17 13:21] foolip commented on #23969
I came here to file an issue and found this existing one. I don't have anything to contribute about how to solve it, but adding another "too slow" comment for priority. In https://github.com/web-platform-tests/wpt/pull/24606 the lint took over 7 minutes, and I was still waiting for the lint to finish after the tests (including stability!) had already finished running. That seems somehow unreasonab

[2020-07-17 16:58] TalbotG commented on #24620
@web-platform-tests/admins
I am reopening because I have been gettting (yesterday and today) the same symptoms again this time in
https://github.com/web-platform-tests/wpt/pull/21503

[2020-07-18 17:46] foolip commented on #23335
@stephenmcgruer this came up on the rotation tool.

With the GitHub redesign I can't see a deployment count anywhere, but https://github.com/web-platform-tests/wpt/deployments still has a lot. It's also worth noting the many pending deployments, which aren't really pending, but cases where something went wrong.

[2020-07-18 17:46] foolip commented on #23312
@stephenmcgruer this came up in the rotation tool. Have you continued to see this happen?

[2020-07-19 15:42] aardgoose opened #24659 "2d Canvas drawImage test correct?"
My reading of the current standard is that this case should not through an exception, just return without drawing anything. Is this an obsolete test or does the standard need correcting?

https://github.com/web-platform-tests/wpt/blob/master/html/canvas/element/drawing-images-to-the-canvas/2d.drawImage.zerosource.image.html

[2020-07-20 15:21] simoncent opened #24666 "Add coverage for `audioBitrateMode` property of `MediaRecorder`."
The specification was updated with a new property for `MediaRecorder` and `MediaRecorderOptions` which allows the bitrate mode  to be specified as either constant or variable. https://w3c.github.io/mediacapture-record/#mediarecorder-api

It would be great if the test could be extended to cover the update. Thanks!

[2020-07-20 18:48] halimnadergrace opened #24669 "Validation of CLOC risk score system"

[2020-07-21 11:58] samanthacorrea opened #24683 "Exception: unable to find test window"
Could anybody help me, please?

I did some tests in a Raspberry Pi and it shows this result:

  �^v� ERROR [expected OK] /css/css-ui/parsing/box-sizing-computed.html
  �^t^t   �^f^r unable to find test window
Traceback (most recent call last):
  File "/sandbox/wpt/tools/wptrunner/wptrunner/executors/executorwebdriver.py", line 345, in run_func
    self.result = True, self.func(self.protocol, self.

[2020-07-22 11:37] stephenmcgruer commented on #24669
[Appears to be spam, based on users past GitHub activity]

[2020-07-22 11:37] #24669 closed

[2020-07-22 11:42] stephenmcgruer commented on #24683
@samanthacorrea can you give us the exact command-line instruction you are using, and the full log output?

[2020-07-22 16:39] jdm opened #24699 "Add automation for updating webgpu testsuite"
https://github.com/web-platform-tests/wpt/tree/master/webgpu#webgpu-conformance-test-suite mentions that the tests are generated from another repository, but doesn't explain how to do that. Now that other browsers are implementing WebGPU (independently, Firefox and Servo in particular), it would be preferable if we didn't have to wait for someone on the Chromium team to perform an update so we cou

[2020-07-22 16:41] jdm commented on #24699
@austinEng You seem to have performed previous WebGPU CTS rolls in the past. Is it feasible to adapt https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/web_tests/webgpu/roll_webgpu_cts.sh;l=1?q=oll_webgpu_cts.sh%20&sq=&ss=chromium&originalUrl=https:%2F%2Fcs.chromium.org%2F as a more general automation for making a PR to web-platform-tests/wpt, independent of any particula

[2020-07-22 16:43] jdm commented on #24699
cc @kunalmohan

[2020-07-22 20:10] stephenmcgruer commented on #23312
I have not seen it recently. But I suspect you are still right and it's a race condition between Taskcluster and GitHub internals. My suggestion would be the same as yours was in April - retrying the `get_paths` call in `get_run_jobs` (in tools/ci/tc/decision.py) a few times with a small back-off.

@jgraham any opinions on this?

[2020-07-22 20:18] stephenmcgruer commented on #24620
Reading over https://github.com/web-platform-tests/wpt/pull/21503, it looks like the issue was an old PR which had real conflicts with current master, and so the decision was taken to close it and pull the changes into a new PR.

As such, I think this can be closed again.

[2020-07-22 20:18] #24620 closed

[2020-07-23 01:01] austinEng commented on #24699
I think it would definitely be possible. I think the only Chromium specific bits are the source and destination directories. fyi: @kainino0x

[2020-07-23 01:03] burg commented on #21751
Sorry for dropping off, things have been hectic. We continue to investigate this issue internally.

Based on my testing, the nuclear workaround is to disable SIP (you can check the status with `csrutil status`). This should avoid file access issues, but I wouldn't recommend it for general purpose computing because security. And it's unlikely that you'd be able to configure a bot for it unless Azur

[2020-07-23 01:36] kainino0x commented on #24699
see also: #23693

Sorry that I haven't spent any time on this issue. The reason I haven't tried to tackle this is I still want to dig into whether we can move the source code into WPT. But we should continue punting on that and try to find a better solution here.

There's very little to the Chromium roll script - the meat of the generation is inside the gpuweb/cts project, and the only important r

[2020-07-23 01:38] kainino0x commented on #24699
Do firefox and servo have "internal" wpt tests like [Chromium](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/web_tests/wpt_internal/) - tests which run using the wpt harness but are not exported to upstream wpt? If so, they could maintain copies of whatever version they want and completely avoid autoimporting headaches. Maybe we could even delete the copy from wpt un

[2020-07-23 01:47] jdm commented on #24699
Servo certainly does. It's not entirely clear to me why that's preferable compared to a single shared source of truth, though.

[2020-07-23 13:43] Hexcles opened #24719 "[wptserve] Remove ResponseWriter.flush() and explicit_flush"
From https://github.com/web-platform-tests/wpt/pull/24617#pullrequestreview-449339779:

[2020-07-23 13:48] Hexcles commented on #24719
We'd need to
1. Add return statements to a few write* methods to surface caught errors from `_wfile.write`.
2. Change handlers to check the return values of write instead of flush. And drop the use of flush or explicit_flush.
3. Remove flush/explicit_flush from Response.

[2020-07-23 14:12] stephenmcgruer commented on #23300
Just noting that as https://github.com/web-platform-tests/wpt/pull/24114 has evolved, we've moved away from `foo.tentative` and towards `foo/tentative/`. The former uncovered strange pain like renaming `css-tables/tentative/` to `css-tables/tables.tentative/`, which seemed not great.

[2020-07-23 18:19] kainino0x commented on #24699
Because the WebGPU CTS tests are constantly having breaking changes, and we can't expect all implementations to stay exactly in lock step with one another (not to mention the test developers). It would make a lot more sense for each browser to control its exact version dependency on the tests.

[2020-07-24 07:19] frivoal commented on #23980
Agreed, for the **UA** layer, it doesn't matter if it's coming from an actual stylesheet or if it has the same results through some other way, as long as the effects are the same, and that can be tested today, by checking if the expected effects are there. There's limited interest in inserting different UA stylesheet to see if it would be well behaved.

Do you think there's anything aout the `appe

[2020-07-24 09:30] ziransun opened #24733 "[Python3] Make HTTP/2.0 support Python 3 compatible"
Running HTTP/2.0 related tests, e.g. http2 tests in `infrastructure/server/ `,  got

 `WARNING Cannot start HTTP/2.0 server as the environment is not compatible. Requires Python 2.7.10+ (< 3.0) and OpenSSL 1.0.2+`

Tests returned with
[code]
and

[code]

We might need to check if all our HTTP/2.0 dependencies are Python3 compatible.

[2020-07-24 11:16] stephenmcgruer commented on #24733
cc @jgraham who added http2 support - I vaguely recall at the time that it was explicitly py2 only, but can't recall the reason. (Or maybe I'm just totally misremembering! :D)

[2020-07-24 13:06] jgraham commented on #24733
I don't remember either :) It may just be that we didn't support Py 3 at all when that was added. I'm pretty sure the underlying libraries will support 3, so I'd try just changing he condition to allow any Py ≥ 3.6, which I think matches the OpenSSL requirements.

[2020-07-24 13:14] stephenmcgruer commented on #24733
Sounds good - @ziransun can you try changing `http2_compatible` in `tools/wptserve/wptserve/utils.py` to allow Py >= 3.6 and see if that works?

[2020-07-24 17:55] #24607 closed

[2020-07-25 00:01] zcorpan commented on #23980
Yes, this: https://github.com/whatwg/html/pull/4857/files#diff-36cd38f49b9afa08222c0dc9ebfe35ebR112457

For example, with this user stylesheet:

[code]

does it result in a "none" widget or "textfield" widget

[2020-07-25 05:39] frivoal commented on #23980
That's an example of needing the User origin, for which I agree. Is there an need to access the UA origin?

[2020-07-25 08:55] zcorpan commented on #23980
No

[2020-07-25 15:50] jdm opened #24752 "webkitgtk nightly test runs failed"
In particular, the logs show that it stalled while installing packages:
[code]
This is likely a regression from the docker image update in https://github.com/web-platform-tests/wpt/pull/24673.

[2020-07-25 15:52] jdm opened #24753 "chrome nightly test runs failed"
[code]
This is likely a regression from the changes in #24673.

[2020-07-25 15:55] jdm commented on #24753
Then again, https://github.com/web-platform-tests/wpt/commits/epochs/daily shows that the first test run that failed was on https://github.com/web-platform-tests/wpt/commit/d047c507f134899be6f0bde7a48c630ab67fe34a, rather than https://github.com/web-platform-tests/wpt/commit/f50b52910ea6db5d8306f6653fcd1bf752f23698.

[2020-07-26 06:29] ewilligers opened #24755 "Force transient activation in iframes"
We would like a way to test API usage in iframes where those APIs require transient activation.

testdriver.js `bless` and `click` only work with top level windows.

Example use case: Web Share `share()` requires transient activation. We would like to test permissions policy in first party and third party iframes.

[2020-07-27 13:01] stephenmcgruer commented on #24753
cc @LukeZielinski as an fyi (since they are eco-infra rotation sheriff this week).

@Hexcles - could this relate to the changes you made to webdriver? It seems to be consistent; there were epochs/daily branches over the weekend (e.g. 5ccde40) that failed with the same error.

[2020-07-27 13:21] stephenmcgruer commented on #24752
[Log from a failing run](https://github.com/web-platform-tests/wpt/files/4982168/live_backing.log.txt)

Looks like we're trying to select `keyboard-configuration` (not sure why yet), which is then prompting input. https://askubuntu.com/questions/876240/how-to-automate-setting-up-of-keyboard-configuration-package implies you can pass `DEBIAN_FRONTEND=noninteractive` to that specific package to avoi

[2020-07-27 13:48] #23300 closed

[2020-07-27 14:50] Hexcles commented on #24753
This was an incidental regression caused by #24702 and probably only affects Chrome Stable. Fix is on the way.

[2020-07-27 14:52] #14560 closed

[2020-07-27 14:52] #15485 closed

[2020-07-27 20:06] #24753 closed

[2020-07-27 23:00] kainino0x commented on #24699
@jdm I was about to come back here and ask if you had any feedback on that approach - looks like you've already started working on it! Do you anticipate this approach will work well for you?

cc @kvark @jdashg @litherum @grorg what do you think of the suggestion above: have each browser vendor its copy of the CTS build, so that we can work toward conformance unhindered by trying to synchronize tes

[2020-07-27 23:07] jdm commented on #24699
I do not anticipate any issues vendoring the testsuite in Servo's repository.

[2020-07-28 11:06] clopez commented on #24752
That install-dependencies script is not optimized to install only the minimum dependencies and installs a bunch of stuff that is not strictly needed for running webkitgtk.

I'm working on the generation of improved bundles that will be more light and require less dependencies.

For now, I have modified that install-dependencies script that is shipped in those bundles to use ```DEBIAN_FRONTEND=noni

[2020-07-28 13:24] ziransun commented on #24733
I had changed the condition with the above line and also some minor changes at wptserve side, e.g. `H2Headers` and `H2HandlerCopy` in `server.py` etc. to get rid of some complaints during the run. Unfortunately, tests still ended up with similar errors:

[code]

[2020-07-28 15:25] LukeZielinski opened #24784 "Missing safari stable runs on wpt.fyi - unable to locate safaridriver"
Last successful run was on July 19, so over a week of missing runs.

Here is an example of the error: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51813&view=logs&j=9f79e71d-035e-5d82-255d-685df306f83d&t=b21de8b3-fd08-5869-a849-131ec765500e

Stack trace copied for convenience:
[code]

[2020-07-28 15:26] stephenmcgruer commented on #24784
Last good run was on the 19th. On the 20th, https://github.com/web-platform-tests/wpt/pull/24651 landed - @Hexcles do you think that could be related?

[2020-07-28 15:27] stephenmcgruer commented on #24784
cc @gsnedders as an FYI

[2020-07-28 15:37] stephenmcgruer commented on #23292
Ping @Hexcles again, but also @foolip does this still not work for you?

[2020-07-28 15:40] Hexcles commented on #23292
I screwed up my local Python setup, too and forgot to check back after I fixed it. Sorry.

And the answer is no; I am seeing the same error.

[2020-07-28 15:43] Hexcles commented on #23292
I don't think Cairo is available on macOS by default. And the official installation instruction uses MacPort: https://www.cairographics.org/download/

[2020-07-28 15:55] stephenmcgruer commented on #24784
So `.azurepipelines.yml` for stable doesn't specify `--channel=stable`. Which means it should get the default, which should always have been nightly. For some reason, that previously didn't work and it was getting the stable channel. After @Hexcles refactoring, it now 'works', which breaks Safari stable.

I've sent a fix for this, but we should figure out what changed as well cause that's really s

[2020-07-28 16:04] stephenmcgruer commented on #23292
So this is essentially a dupe of https://github.com/web-platform-tests/wpt/issues/19780 then?

[2020-07-28 16:09] Hexcles commented on #23292
There might be more issues after that. From the looks of it, not many
people ever run this on macOS...

On Tue, Jul 28, 2020 at 12:04 PM Stephen McGruer <notifications@github.com>
wrote:

[2020-07-28 16:14] stephenmcgruer commented on #23292
Reasonable. I don't think we're going to prioritize fixing this, so marking backlog. Anyone interested is of course welcome to pick this up and fix it :)

[2020-07-28 21:09] kevers-google opened #24789 "[idlharness] Handling of interface changes between versions of a spec"
In the web-animations-1 spec Animation.timeline is readonly, whereas in web-animations-2 it is mutable. Timelines were previously mutable in v1 of the spec, but this feature got deferred.  Presently Firefox and Safari support mutable timelines behind a feature flag and Blink is expected to follow shortly.  How do we determine which version of the spec to use for generating the IDL?  Do we support

[2020-07-28 21:55] gsnedders commented on #24784
Why shouldn't it have worked? Historically we did default to the stable release (because it was most likely to be installed), and we often didn't pay attention to the channel unless we needed to (which with Safari having differing binaries for everything, and safaridriver shipping with it there was no need to).

[2020-07-28 22:00] stephenmcgruer commented on #24784
That's not what the code said? https://github.com/web-platform-tests/wpt/pull/24651/commits/3a94bf2b9a3b138cb81efb9470e5eb06e5e1dea3 moved the code, but the default value for `channel` was already `nightly`. The code before that was added in 41d8548ced361d2f40996cc5ad27f06bc9e56da7, which seems to imply that nightly-by-default was the intended behavior?

[2020-07-28 22:01] Hexcles commented on #24784
I might have misunderstood the original intention (which was arguably a bit confusing) in my #24651 then.

Looks like both `wpt install` and `wpt run --install-browser` have always defaulted to `--channel=nightly`, but `wpt run` (without `--install-browser`) itself did not really have a global default but defaults to nightly for at least Chrome and Firefox.

[2020-07-28 23:00] xiaochengh opened #24791 "Test expectation of css/css-pseudo/selection-intercharacter-011/012.html seems wrong"
The test adds highlight only to the selected text, while the ref adds background color the entire `div`, including the empty part. See screenshot below.

<img width="898" alt="selection-intercharacter-011" src="https://user-images.githubusercontent.com/19384155/88730644-66def080-d0eb-11ea-9e12-1c7d4afda7c4.png">

The ref should be changed to highlight only the text.

[2020-07-28 23:00] xiaochengh commented on #24791
@TalbotG test author.

[2020-07-28 23:03] xiaochengh commented on #24791
Same for selection-intercharacter-012.html

[2020-07-28 23:32] TalbotG commented on #24791
@xiaochengh Xiaochengh ,

Thank you for reporting these 2 problems. I also noticed these 2 problems this week and noticed another problem with a reference in another test ( active-selection-031.html ). They (3 tests) were on my todo-list.

I want to come up with a correction for those 2 references in the next 24 hours. Again, thank you for reporting these, for including a screenshot and notifying

[2020-07-29 00:11] TalbotG commented on #24791
Xiaocheng, I have created
https://github.com/web-platform-tests/wpt/pull/24794
Now, it is a matter of
- waiting for Continuous Integration checks to succeed and then
- waiting for a reviewer to approve the change.

[2020-07-29 01:27] TalbotG commented on #24791
Xiaocheng,
These 2 have now been fixed thanks to
https://github.com/web-platform-tests/wpt/pull/24794

Therefore, closing this issue now.

Thank you again for your reporting, screen shot and notifying me.

[2020-07-29 01:27] #24791 closed

[2020-07-29 12:55] noamr commented on #7140
I'm currently writing tests that truly need this: https://github.com/web-platform-tests/wpt/pull/23789, otherwise they don't test a lot of the functionality.

I tried to fix this myself but got lost in the complexities of the python infrastructure... any help with this would be appreciated.

[2020-07-29 15:49] stephenmcgruer commented on #24789
cc @domenic as my idl expert (:D) - Domenic, is what web-animations-2 is doing valid WebIDL?

https://drafts.csswg.org/web-animations-2/#the-animation-interface
[code]

(Overriding https://drafts.csswg.org/web-animations-1/#the-animation-interface)

In any case, how to support this for idlharness is tricky... I wonder if the best way is to use https://web-platform-tests.org/writing-tests/idlharnes

[2020-07-29 16:09] domenic commented on #24789
No, this is invalid. Level 2 specs should totally replace level 1 specs, not use partial interfaces to patch them.

[2020-07-29 16:14] stephenmcgruer commented on #24789
Oh, so the correct thing for a level 2 spec to do is include the entire level 1 spec, and then additional wording? That seems really difficult to keep in sync if the level 1 space changes :/. (And still doesn't solve the problem here of 'if you implement the level 2 spec correctly, you violate the level 1 spec').

[2020-07-29 16:15] domenic commented on #24789
Right, there should be only one version of a spec which browsers track, and that version should define the whole API. Older levels are process artifacts for IPR-collection purposes.

[2020-07-29 16:23] stephenmcgruer commented on #24789
@flackr @graouts @birtles as an FYI; this documentation is likely relevant to you as web-animations editors. It seems like if mutable timelines are becoming a thing that vendors agree on for Web Animations, it should either be brought into web-animations-1 or web-animations-2 should replace web-animations-1.

[2020-07-29 19:31] xiaochengh opened #24803 "css/css-pseudo/active-selection-018.html has wrong reference"
@TalbotG

The text in active-selection-018.html is "Test passes if each glyph of "Selected Text" is green and if there is no red".

Its reference in active-selection-011-ref.html says "Test passes if each glyph of "Selected Text" is green and not red while background color of each glyph of "Selected Text" is white."

[2020-07-29 20:03] gsnedders commented on #24784
FWIW, I think being consistent is good, but we should also give the user guidance in the case we can't install anything ourselves.

[2020-07-29 20:05] Hexcles commented on #24784
That's a good point. On that note, @stephenmcgruer was surprised about another channel aliasing today. We do have `logger.info` for "interpreting ... as ...", but it's hidden by default. We'd have to raise it all the way to `logger.error` to show it by default, which is probably wrong semantically.

[2020-07-29 22:40] TalbotG commented on #24803
Okay. I will correct this in a few min...

[2020-07-29 23:03] TalbotG commented on #24803
Correction is in
https://github.com/web-platform-tests/wpt/pull/24807
Now, it's a matter of waiting for 19 Continuous Integration checks to pass+succeed and then waiting for a reviewer to approve correction.

[2020-07-29 23:30] birtles commented on #24789
CSS commonly uses delta specs while the prior level is still stabilizing. Once it has stabilized (e.g. gone to CR) then we import the whole text into the next level so that it is no longer a delta spec. Ultimately web-animations-2 will replace web-animations-1 but for that we need to finish off web-animations-1.

[2020-07-29 23:51] TalbotG opened #24809 "css/css-pseudo/active-selection-031.html incorrect"
http://wpt.live/css/css-pseudo/active-selection-031.html

http://wpt.live/css/css-pseudo/reference/active-selection-031-ref.html

**My goal is to adjust or fix this test and/or its reference before August 5th.**

I have already a correction for the reference:

http://www.gtalbot.org/BrowserBugsSection/CSS4Pseudo/reference/active-selection-031-ref-newest.html

but I need to figure out why the soft

[2020-07-30 00:21] TalbotG commented on #24809
I have downloaded the latest nightly build of Firefox (Firefox 81.0a1 buildID=20200729213824) and Chromium 86.0.4217.0 and I must take a pause to examine more carefully the test and the reference.

I may have to split this test into 6 smaller tests too...

I wish I would get rid of the wrapping div in the test...

[2020-07-30 01:06] TalbotG commented on #24809
I think both browsers highlight the vertical character advance when `'text-orientation: upright'` is declared and when a line-wrapping opportunity occurs. This has more to do with vertical writing-mode than with ::selection.

[2020-07-30 01:40] TalbotG commented on #24809
I can split the test into 6 smaller tests and also test with "Selected" instead of "Selected Text" which would work around the line-wrapping opportunity issue. After all, the submitted active-selection-031 test is strictly and solely aiming at testing `::selection` for vertical writing modes.

[2020-07-30 10:53] stephenmcgruer commented on #24561
I'm not sure I'm reading the logs right, but it looks like this caused a fail in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=51916&view=logs&j=85f2ffec-1d6e-5253-c3dd-62d5cd43e221&t=a9a637ac-afdf-5c9e-e3a0-6b959a0fc833, which shouldn't happen because its XPASS?

The step failed, and this is the only test failure I see. There is also this, but not clear what it's caused by:

[2020-07-30 13:27] Hexcles commented on #24561
Great! XPASS means "unexpected passing". *Perhaps* one of the underlying dependency has upgraded and the issue now goes away. This is also why I prefer XFAIL over SKIP.

The last error you saw simply meant the `pytest` command failed, because of the unexpected pass.

[2020-07-30 19:32] #24561 closed

[2020-07-31 16:50] Hexcles opened #24829 "Manage venv in a more consistent way in tools/wpt/tests"
This is from https://github.com/web-platform-tests/wpt/pull/24813#issuecomment-667177197

There are currently at least three different ways venvs are set up:
1. `tools/wpt/tox.ini` creates a venv itself that contains the dependencies to run *some* tests. This kind of defeats the purpose of integration tests as we are not managing the venv in the same way as the `wpt` command and could hide issues

[2020-08-01 11:40] stephenmcgruer commented on #24784
I believe Safari runs are happening now, so I'm dropping this to roadmap. I still want to briefly (locally) revert the refactor PR and see why it previously picked stable, but after that will close this.

[2020-08-01 22:53] halimnadergrace commented on #24669
I reply need help

[2020-08-02 12:17] stephenmcgruer opened #24846 "Edge runs stuck since ~July 31st"
Noticed yesterday when I tried to issue a trigger run on both Edge Stable and Edge Dev. All Edge runs appear to be stuck:

https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1&_a=summary&view=branches

In all cases where the pipeline is meant to be running Edge, it just says "Queued" for the Edge runners.

Example runs:

* https://dev.azure.com/web-platform-tests/wpt/_build/results?b

[2020-08-02 20:07] PlayerMPark opened #24847 "Beginner question"
How do i run perform_actions? I keep getting ImportError

[2020-08-03 12:07] stephenmcgruer commented on #24847
@PlayerMPark - what command exactly are you trying to run, and from what directory? Also, please make sure you have followed the setup steps in https://web-platform-tests.org/running-tests/index.html

From your mention of `tests.perform_actions.support.refine`, that implies you are trying to run a webdriver test (it's the only place I can see that mentioned). These appear to work for me - to pick

[2020-08-03 14:00] stephenmcgruer commented on #7140
So today, Edge (the Chromium-base one), Chrome, and Safari have their reftest-support in [tools/wptrunner/wptrunner/executors/executorwebdriver.py](https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/executors/executorwebdriver.py#L475), and Firefox has it in [tools/wptrunner/wptrunner/executors/executormarionette.py](https://github.com/web-platform-tests/wpt/blob/maste

[2020-08-03 14:04] stephenmcgruer commented on #24752
@clopez looks from wpt.fyi that we still don't have webkitgtk runs - can you check out the latest [epochs/daily](https://github.com/web-platform-tests/wpt/tree/epochs/daily) run and see what is going on now?

[2020-08-03 14:06] stephenmcgruer commented on #23898
@zouhir - are you still interested in pursuing using Saucelabs here?

[2020-08-03 14:06] stephenmcgruer commented on #23918
@jgraham - have you been able to determine any cause for this, particularly as I believe you've now ported some real print reftests over to WPT?

[2020-08-03 14:18] jgraham commented on #7140
There are a couple of hooks here to help. `settings` is for things that require a full browser restart because of a change in the test setup e.g. [1]. If the settings dictionary changes from one test to the next the runner will arrange for a full restart, passing in the settings dictionary [2].

If the pref can be changed at runtime without a restart, it can form part of the test "environment" [3]

[2020-08-03 14:20] jgraham commented on #23918
I think it ended up being the default margin on body.

[2020-08-03 14:20] #23918 closed

[2020-08-03 14:27] noamr commented on #7140
WebKit internal tests can modify the dpr before loading a page using Javascript (`setBackingScaleFactor`). It's used by internal srcset tests.

[2020-08-03 14:30] jdm commented on #24752
[code]

[2020-08-03 14:32] noamr commented on #7140
I think the following issue in WebDriver is about this: https://github.com/w3c/webdriver/issues/1378

[2020-08-03 15:16] stephenmcgruer commented on #7140
I suspect that feature is likely not exposed in main Safari though, I presume? (Similar to Chromium's internals testing API, which only exists in our `content_shell` not `chrome`) As such it would present the problem that runners using Safari (e.g. what we do here in wpt) would never pass those tests.

[2020-08-03 17:34] xiaochengh commented on #24791
Thanks for fixing!

[2020-08-03 17:35] fantasai commented on #24809
Afaict the test is correct. If Chrome is failing because of a bug, that's their problem. Recommend to close no change.

[2020-08-03 17:40] noamr commented on #7140
When wpt is imported to webkit it uses the internal testing API rather than what's exposed to Safari. I'm not sure what's exposed in Safari, I don't know the Safari WebDriver code.
But in any case, I think WebDriver is the way to go, something simple-ish like setting scale-factor for a WebDriver context that would affect subsequent navigations in a window.

[2020-08-03 17:52] xiaochengh commented on #24803
Thanks for fixing!

[2020-08-03 19:03] jgraham commented on #7899
I've started https://jgraham.github.io/browser-test/ for APIs like this which don't make sense in WebDriver, can't be exposed to content, but are needed to write tests. Assuming there's interest in progressing that approach I'll figure out how to move the spec somewhere more official so that we can collaborate on it.

In terms of fallback I just don't expect that to be possible for this kind of th

[2020-08-03 19:10] domenic commented on #7899
That's awesome! /cc @hiroshige-g as it would be a much easier way to unblock our work on import map testing.

[2020-08-03 19:23] #24803 closed

[2020-08-03 19:46] stephenmcgruer commented on #24846
This appears to no longer be stuck, so dropping to roadmap. Would love to know why it happened, but if we can't find that out then we should just close this.

[2020-08-03 20:05] PlayerMPark commented on #24847
`

is what gets to me

[2020-08-03 20:09] stephenmcgruer commented on #24847
You still have not provided us with the command you are running or the steps you are taking to get that error. I'm afraid without that information we will not be able to help.

[2020-08-03 20:12] mustjab commented on #24846
We schedule a weekly VM re-creation on a Sunday, which usually takes Edge runners down for 30 minutes or so. I've double checked our pipeline and it looks like that happened without errors.

[2020-08-03 20:15] stephenmcgruer commented on #24846
I guess we won't be able to see what happened then - it looks like the VM re-creation went back and caught up the old pending jobs too. Note that these were definitely pending *before* the VM re-creation, it was not the re-creation itself that caused the pending state

[2020-08-03 20:15] #24846 closed

[2020-08-03 20:20] mustjab commented on #24846
The re-creation of VMs happens on Sunday at 9PM PST. I can disable it, if we don't think it's needed anymore. We should be cleaning up VM state after every run.

[2020-08-03 20:22] PlayerMPark commented on #24847
I did the instructions from [here](https://web-platform-tests.org/running-tests/from-local-system.html#windows-setup). I believe that `python wpt serve` worked fine because it gave me

DEBUG:web-platform-tests:Going to use port 55956 for stash
DEBUG:web-platform-tests:Using ports: defaultdict(<type 'list'>, {'h2': [9000],
'http': [8000, 55694], 'wss': [55693], 'ws': [55692], 'https': [8443, 8444]}

[2020-08-03 22:24] PlayerMPark commented on #24847
Basically it cant do absolute imports

[2020-08-04 00:31] PlayerMPark opened #24864 "How to import webdriver?"
In \wpt-master\webdriver\tests\support\asserts there is this script:

But there is no module called webdriver, atleast in `tests.support.asserts`

[2020-08-04 00:33] #24847 closed

[2020-08-04 09:55] gsnedders commented on #24864
There's… far too much magic with import paths in WPT. It assumes that `tools/webdriver` is on the path, which contains a `webdriver` package. I think otherwise it assume relatively "standard" things like pytest.

[2020-08-04 09:59] gsnedders opened #24869 "testharness.js reuses an existing #log"
see e.g. http://wpt.live/cookies/http-state/domain-tests.html (cookies/http-state/domain-tests.html)

looking at the testharness.js source this has always been the case, though? this does make these tests rather hard to read however…

[2020-08-04 11:04] clopez commented on #24752
That log above is for the stable runs, which has a different problem than nightlies. Let's try to fix first the nightlies as they are more interesting and also I'm planning to revamp how the stable bundles are generated to use tarballs like nightlies instead of deb packages.

Regarding the failure for nightlies [I see this](https://community-tc.services.mozilla.com/tasks/LfEGRpD1T4uoWWqjb9eUrw/run

[2020-08-04 11:14] stephenmcgruer commented on #21430
Closing due to lack of activity.

[2020-08-04 11:14] #21430 closed

[2020-08-04 11:15] stephenmcgruer commented on #24847
Thank you for giving more complete reproduction steps. I am not sure why you closed this, but I see you opened https://github.com/web-platform-tests/wpt/issues/24864 so I am going to consider that new issue your current question.

[2020-08-04 11:23] stephenmcgruer commented on #24864
For completeness, in the case of `wpt run` it adds `tools/webdriver` to the path automatically by importing `tools/localpaths.py` (in `tools/wpt/wpt.py`), which sets up the python path with various libraries including pytest.

[2020-08-04 15:49] stephenmcgruer commented on #15412
https://github.com/web-platform-tests/wpt/pull/24741 just added this output for stability checks (woo). It looks like:

![Screenshot 2020-08-04 at 10 44 49](https://user-images.githubusercontent.com/153264/89314341-888a2b80-d647-11ea-8cf9-c23d69c61c77.png)

[2020-08-04 20:24] Hexcles opened #24880 "Python unit tests using multiprocessing fail/hang on macOS + Python 3.8"
I'm seeing these (new?) failures in both tools/ and tools/wpt tests on Azure:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=52012&view=logs&jobId=1d360f5f-cec3-58ac-12a7-7f135bf134d9&j=1d360f5f-cec3-58ac-12a7-7f135bf134d9&t=a042d866-5c9d-573a-d81c-85b65eaf66e4
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=52012&view=logs&jobId=1d360f5f-cec3-58ac-12a7-7f1

[2020-08-04 20:25] Hexcles commented on #24880
(I'm trying to repro locally but will first need to get py3.8.)

[2020-08-05 02:08] zouhir commented on #23898
yes we are -- we'd really love to delete all these custom server & webdriver we have here: https://github.com/flackr/scroll-timeline/tree/master/test

[2020-08-05 12:28] clopez commented on #24752
Found the issue. The bundle was not working on Ubuntu-20.04 because it was built for Ubuntu-18.04 and for running on Ubuntu-20.04 it missed some libraries, so it was not starting. I fixed this by adding this extra libraries to the bundle.

Should work now. Let's keep this open until I can verify it works on the WPT CI

[2020-08-05 12:51] ziransun opened #24888 "@pytest.mark.parametrize handles escape characters differently for Python2 and Python 3"
When calling `@pytest.mark.parametrize` in tests, if argument contains escape characters (e.g. `\n`, `\t `etc.), it produces different test names in PY2 and PY3.

Examples:
[code]

_https://wpt.fyi/results/webdriver/tests/send_alert_text/send.py?diff&filter=ADC&run_id=632440001&run_id=619000003
https://wpt.fyi/results/webdriver/tests/find_element/find.py?diff&filter=ADC&run_id=632440001&run_id=619

[2020-08-05 14:02] Hexcles commented on #24888
cc @jgraham could you take a look?

I think these test names are generated by pytest, so whatever escaping happens there. Is there anything we can do? Or would you (and other folks working on WebDriver) be fine with the change of test names? (To me, the PY3 representation seems more user-friendly.)

[2020-08-05 14:30] Hexcles commented on #24880
I can confirm locally this only happens in Python 3.8.

[2020-08-05 15:29] Hexcles commented on #24880
More digging suggests the root cause is due to a change in the default multiprocessing start method:
https://docs.python.org/3.8/library/multiprocessing.html#contexts-and-start-methods

which has some additional requirements: https://docs.python.org/3.8/library/multiprocessing.html#the-spawn-and-forkserver-start-methods

The ImportError *seems* to suggest that the pytest entrypoint doesn't satisfy

[2020-08-05 15:45] kvark commented on #24699
We are going to be vendoring the testsuite separately in Gecko as well. There doesn't seem to be any other way around this.

[2020-08-05 19:01] kainino0x commented on #24699
I agree, and thanks for the info. If there are no objections, I'm intending to delete WPT's copy, for now, during our next update in Chromium. Should avoid confusion in the various browsers between the wpt version and the vendored version.

[2020-08-05 22:58] saschanaz opened #24901 "Reevaluate manual tests that requires mouse/keyboard input"
Some tests are written before webdriver and thus requires manual input. We might want to get a list to eventually automate them.

Some early examples:

* https://github.com/web-platform-tests/wpt/blob/master/selection/dir-manual.html
* https://github.com/web-platform-tests/wpt/blob/master/html/editing/activation/click-manual.html

[2020-08-05 23:16] gsnedders commented on #24880
Oddly, the spawn server was already in use on Windows, so it's surprising this wasn't already failing on Windows.

[2020-08-05 23:18] gsnedders commented on #24888
I think this was a change in pytest after it went Python 3 only?

[2020-08-06 12:34] clopez commented on #24752
It didn't worked. It turns out there were other issue on top of the previous:

From log https://community.taskcluster-artifacts.net/ZemInQXHTVWB4uMwbPMo1w/0/public/logs/live_backing.log
[code]

It seems there is an issue on Debian/Ubuntu where the system version of python-virtualenv conflicts with the one installed via pip. See https://github.com/pypa/virtualenv/issues/1873

And it only happens on

[2020-08-07 17:30] itayperry opened #24921 "Cannot install and serve wpt on Windows"
Hi :)
I followed the instructions on the [guide](https://web-platform-tests.org/running-tests/from-local-system.html#system-setup), yet when I write this command: ` python ./wpt serve` it doesn't work..
can anyone please help me? I have Python 2.7 (I deleted 3.8 cause I understand it's not supported).

![wpt-error](https://user-images.githubusercontent.com/37377389/89671980-9f04e100-d8ec-11ea-83cc

[2020-08-07 17:45] itayperry commented on #24921
Now I get it..
this command: `python wpt make-hosts-file | Out-File $env:SystemRoot\System32\drivers\etc\hosts -Encoding ascii -Append` didn't work because it needed to be run when you're **in the project's folder** (obviously as administrator).

Sorry for the hassle :)

[2020-08-07 17:45] #24921 closed

[2020-08-07 19:27] stephenmcgruer opened #24924 "Firefox stable daily runs are failing with NoSuchWindowException"
See https://github.com/web-platform-tests/wpt/commits/epochs/daily

Example run: https://community-tc.services.mozilla.com/tasks/groups/X50KGIpZSMq0Ag7vQhbM6A

Example task log: https://community-tc.services.mozilla.com/tasks/T13biD2PSOWC73kPlvymBw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FT13biD2PSOWC73kPlvymBw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2

[2020-08-10 12:19] gsnedders commented on #9007
It's doing guaranteed-to-be-unsafe things at the OS level; regardless, this will be fixed by moving to Python 3, and the rare occurrences nowadays I think further suggests this is a backlog that will remain as such till we drop Python 2 support.

[2020-08-10 16:22] stephenmcgruer commented on #23364
Domenic and I chatted about this today. In general `noopener` 'should' work, but Domenic put forward the reasonable argument that artificially severing the opener relationship is a little bit dicey when one is trying to test things at the window.open() and noopener layer itself.

Refreshing my mind on how this works - we actually reuse the same testharness harness tab where possible between **all*

[2020-08-11 02:00] saschanaz opened #24944 "How to test between pointer actions via test_driver?"
I want to test that an event fires between pointer actions:

[code]

Basically this is what a Gecko mochitest does, but it seems this does not do what I want. Running this on Firefox makes the pointer stuck as pushed while Chrome does not keep the pointer pushed at all after the first line.

Is there a good way to do this with test_driver? @annevk

[2020-08-11 15:37] Hexcles commented on #24924
This only seems to happen in some shards; I've not yet determined whether it's deterministic.

[2020-08-11 15:44] jgraham commented on #24924
That change wouldn't be my first guess; this code isn't actually using geckodriver. I vaugely recall seeing this error in some other context but I can't remember any details right now.

[2020-08-11 17:43] gsnedders commented on #7660
FWIW, my view is still the ideal solution is to do something in the decision task that chooses to shard based on number of files changed (I don't think we have tests affected in the decision task?)

[2020-08-11 17:45] Hexcles commented on #7660
Well, even if we do that, we still have widely used resource files that affect way too many tests (such that we can't afford to run 10x).

[2020-08-11 17:46] gsnedders commented on #24643
cc @litherum

[2020-08-11 17:47] gsnedders commented on #24784
@stephenmcgruer can you change the title of the issue if it's not true now?

[2020-08-11 17:58] stephenmcgruer commented on #24784
I'm just going to close it fixed instead :). Me doing a code spelunk to figure out the previous reason doesn't require this to be open.

[2020-08-11 17:58] #24784 closed

[2020-08-11 21:20] clopez commented on #24752
The issue its still not fixed, but I suspect there is a new problem now somewhere on the taskcluster logic (perhaps from a recent change).
For some reason I don't know I can't see anymore the ```wpt-webkitgtk_minibrowser-nightly-*``` runs on the commits of the [epochs/daily](https://github.com/web-platform-tests/wpt/tree/epochs/daily) branch. Neither a failed run, neither a good run.
For example o

[2020-08-11 21:31] stephenmcgruer commented on #24752
I wonder if that's a GitHub UI problem. If one looks at https://community-tc.services.mozilla.com/tasks/groups/JNm1aj4fSlCJxgvByPlkHQ, which I believe is the Taskcluster group for the latest `epochs/daily` push, it looks like `wpt-webkitgtk_minibrowser-nightly-*` did happen and all passed.

But also, if one looks in wpt.fyi, it isn't there on the runs view! But it is there (I think?) on https://wp

[2020-08-11 21:51] Hexcles commented on #24752
webkitgtk isn't a default product. Try https://wpt.fyi/runs?label=master&from=2020-08-04T00%3A00&product=webkitgtk

[2020-08-11 22:00] stephenmcgruer commented on #24752
They appear to be missing the 'experimental' label.

[2020-08-11 22:08] Hexcles commented on #24752
Ahh sorry that's a regression from my https://github.com/web-platform-tests/wpt.fyi/pull/2081
(not surprisingly, as we didn't have a test for webkitgtk)

[2020-08-12 12:56] foolip commented on #9007
OK, let's just leave this open to make it easier to find for anyone who runs into it until we drop Python 2.

[2020-08-12 23:15] TalbotG commented on #22261
Since #23276 has been merged, then we can safely close this issue.

[2020-08-12 23:15] #22261 closed

[2020-08-13 07:58] foolip commented on #20282
In https://chromium-review.googlesource.com/c/chromium/src/+/2283968/14/third_party/blink/web_tests/external/wpt/resources/chromium/webxr-test.js there's a workaround for this issue, making the setup non-cross-browser.

That seems unfortunate.

@stephenmcgruer have you come across other tests working around this? I'm wondering if we might have accumulated enough cases to make this worth prioritizi

[2020-08-13 10:06] ziransun opened #24991 "wpt run crashes on tests with firefox"
Codebase: master commit header e9e85e67994df01673a8eb55c47d1b6f5eb6c18a
Command: `./wpt  run --yes --no-manifest-update --manifest MANIFEST.json  --log-mach-level=debug --log-mach=- firefox dom/historical.html`

Logs:
[code]

[2020-08-13 11:02] stephenmcgruer commented on #24991
Hrm, I cannot reproduce *but* I notice I am using a locally installed version of Firefox:

[code]

(Versus your /usr/bin/firefox).

One thing that's interesting here is the log line: `0:00.06 WARNING Supplied channel doesn't match binary, using supplied channel`. Notably, Firefox 79 is the stable release, but the default for `channel` nowadays is nightly (see `0:00.06 INFO Using cached test prefs

[2020-08-13 11:02] stephenmcgruer commented on #24991
Ahah, yes, I can reproduce by forcing a stable binary for Firefox but letting the channel auto-select nightly:

[code]

[2020-08-13 11:03] stephenmcgruer commented on #24991
I suspect this is likely a duplicate of https://github.com/web-platform-tests/wpt/issues/24924, but let me be sure before we close anything.

[2020-08-13 11:04] stephenmcgruer commented on #24991
Hrm ok, it's not a mismatch problem given that even adding `--channel=stable` doesn't fix it.

[2020-08-13 11:05] stephenmcgruer commented on #24924
FTR, I can reproduce this on Linux with

`./wpt run --channel=stable --binary=~/firefox-stable/firefox --no-manifest-update --manifest MANIFEST.json --log-mach-level=debug --log-mach=- firefox dom/historical.html`

(Where `~/firefox-stable` is a fresh install of Firefox 79 downloaded from Mozilla's website)

Ziran also reported what I believe to  be the same issue in https://github.com/web-platfor

[2020-08-13 12:02] stephenmcgruer commented on #24924
Bisecting: `git bisect start 1fdbfcc68156cd8d8a74a6cfd859b43adc3ca502 d62995e62ca8653b4cf565e61c309471b544fab8`

[code]

Confirmed reverting this on master fixes the problem.

[2020-08-13 12:35] Hexcles commented on #24991
Oh, thanks for pinning down a concrete example that triggers the crash consistently!

[2020-08-13 12:36] Hexcles commented on #24924
Great job, Stephen!

Is the marionette-driver not backward compatible? Do we need to manage it the same way we manage webdriver binaries (i.e. depending on the browser version)?

[2020-08-13 12:40] jgraham commented on #24924
Let's do
[code]
marionette_driver is in maintaince mode and I think it's sometimes forgotten that wpt is an out of tree consumer. We could get this fixed on the gecko side but I think it's better in the long term to reduce our dependence on the marionette_driver package. With some luck this will all eventually be replaced by webdriver-bidi.

[2020-08-13 12:42] Hexcles commented on #24924
Can we just switch to geckodriver alone?

[2020-08-13 13:04] jgraham commented on #24924
No, that won't work. Not using geckodriver has various advantages for gecko devs (faster, they don't need to build geckodriver), plus we are using some APIs that aren't exposed in geckodriver for doing things like reftests.

[2020-08-13 14:52] #24924 closed

[2020-08-13 14:52] stephenmcgruer commented on #24991
@ziransun I believe I just fixed this in https://github.com/web-platform-tests/wpt/issues/24924 - can you try sync-ing to HEAD and re-running, to see if you still get a crash?

[2020-08-13 19:02] klausw commented on #20282
FWIW, I had copied this non-cross-browser setup from Chromium's [web_tests/fullscreen/trusted-click.js](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/web_tests/fullscreen/trusted-click.js), it's used by [several fullscreen tests](https://source.chromium.org/search?q=trusted_click&sq=&ss=chromium%2Fchromium%2Fsrc:third_party%2Fblink%2Fweb_tests%2Ffullscreen%2F) there.

[2020-08-13 19:13] klausw commented on #20282
Correction, my workaround was based on a simplified version that just uses eventSender to click at coordinates (0, 0) which was good enough for this specific use case. A more general solution would get more complicated if it needs to calculate specific coordinates for elements, especially since AFAIK a cross-origin iframe can't portably determine its position within the parent. The Chromium truste

[2020-08-14 06:33] zcorpan opened #25007 "TPAC 2020 meeting for wpt"
IRC discussion

https://w3.logbot.info/testing/20200811#c572981
https://w3.logbot.info/testing/20200812

I'm hearing "yes we should have a meeting". The deadline for group meetings was yesterday, but we're not a W3C group, and maybe it's still possible to schedule.

* [TPAC group meeting schedule](https://www.w3.org/2020/10/TPAC/group-schedule.html#schedule)
* [TPAC wiki to organize group meetings

[2020-08-14 06:51] ziransun commented on #24991
@stephenmcgruer: it runs fine now. Thank you!

[2020-08-14 07:09] ziransun commented on #24991
Close the issue as it's fixed in  #24924

[2020-08-14 07:09] #24991 closed

[2020-08-14 12:41] annevk commented on #24944
@jgraham might be able to help out here.

[2020-08-14 13:06] Hexcles commented on #24752
This has been fixed in https://staging.wpt.fyi/runs?label=master&label=experimental&max-count=100&product=webkitgtk

The fix will be released into prod next week.

[2020-08-14 13:06] #24752 closed

[2020-08-14 15:15] stephenmcgruer opened #25012 "Marionette driver throws uncaught exception for connection failures"
Discovered in https://community-tc.services.mozilla.com/tasks/groups/JpLXfa2_SsmdnWHaKNLpiw , the following command throws an uncaught exception:

[code]

It is true that the test should fail in python 3, because the h2 server cannot be brought up, but this shouldn't cause the runner to crash.

cc @jgraham

[2020-08-14 17:49] tabatkins opened #25014 "[WebIDL] 'void' type is changing to 'undefined'"
As part of efforts to finally add an 'undefined' type to WebIDL (so methods/etc don't have to generalize their type to 'any'), it was decided to actually add 'undefined' as the type name, and so the previous function return signature 'void' is being removed for redundancy.

See https://github.com/heycam/webidl/pull/906 for details on the change.

This change will be merged shortly; this bug is a h

[2020-08-14 17:49] tabatkins opened #25015 "[idlharness] 'void' type is changing to 'undefined'"
As part of efforts to finally add an 'undefined' type to WebIDL (so methods/etc don't have to generalize their type to 'any'), it was decided to actually add 'undefined' as the type name, and so the previous function return signature 'void' is being removed for redundancy.

See https://github.com/heycam/webidl/pull/906 for details on the change.

This change will be merged shortly; this bug is a h

[2020-08-14 20:58] stephenmcgruer commented on #25007
Wow, I find that scheduling page and wiki page really hard to understand -_-.

I assume we should aim for week of the 12-16th Oct? Albeit the only meetings on those pages so far are mostly on the 19th - 23rd which is sorta weird given the claims about when TPAC is...

[2020-08-14 23:29] thejohnjansen opened #25023 "Intersection Observer tests are returning incorrect results in Edge 86"
I'm not sure exactly where is the best place to log this kind of an issue, but since it looks like it might be an infra issue, starting here.

I noticed that for the Intersection Observer [test results](https://wpt.fyi/results/intersection-observer?label=master&label=experimental&aligned), it appears that Edge is failing a significant number of tests. However, when I run them manually, Edge passes

[2020-08-15 02:12] stephenmcgruer commented on #25023
Going back to late 2019 I don't see any regression here: https://wpt.fyi/results/intersection-observer?diff&filter=ADC&run_id=410000005&run_id=623520006

So this likely always happened. Are you able to reproduce via `wpt run`? E.g. on Windows:

`python wpt run --log-mach=- --channel=dev edgechromium [test name]`

[2020-08-15 02:13] stephenmcgruer commented on #25023
See also https://web-platform-tests.org/running-tests/from-local-system.html#windows-setup for the basic Windows setup.

[2020-08-17 08:32] foolip commented on #21435
I keep seeing `async_test(async () => { ... })` in code review, today it was https://chromium-review.googlesource.com/c/chromium/src/+/2355390 that prompted me to look at this issue again.

This is a very natural thing to attempt given the naming, and plenty of cases of it have slipped through code review.
<details>
<summary>The string "async_test(async" appears in these tests:</summary>

content-

[2020-08-17 12:25] foolip commented on #25012
@stephenmcgruer would you mind giving this a priority label?

[2020-08-17 12:43] foolip opened #25036 "assert_implements appends "undefined" to the failure message"
An example of this:
https://wpt.fyi/results/largest-contentful-paint/toJSON.html?run_id=661940001&run_id=657990002&run_id=657990003

[2020-08-17 12:48] foolip commented on #25036
@stephenmcgruer can you give this a priority label, since you added `assert_implements`?

[2020-08-17 13:49] foolip commented on #23362
@Hexcles this came up in the infra issue triage. What's the remaining work here, and is anyone assigned to do it?

[2020-08-17 13:52] foolip commented on #23896
@zouhir were you able to make any progress on this? What was the command line you tried? We used to run WPT over Sauce Labs for wpt.fyi so this code has definitely worked at one point, but it might have bitrotted since we stopped doing that. (All runs are now performed directly on the VMs with the browsers.)

[2020-08-17 16:29] gsnedders commented on #25007
AIUI:

* Individual group meetings to be happening throughout September/October _except_ 12th–16th and 26th–30th (though most are arranged for the week between them, 19th–23rd)
* Joint group meetings to be happening 12–16th October
* Breakout sessions to be happening 26th–30th October

Presumably therefore the question is whether we want to try and arrange something on the same week as most other

[2020-08-17 16:41] jgraham commented on #25007
I think there's value in meeting remotely, and TPAC provides a convenient excuse to do that. I think we should figure out what the most valuable sessions were from previous TPACs and try to prioritise those; I don't think anyone is going to want to do 16 hours of video calls, but a few hours of focused discussion on topics like 2021 priorities seem like they might be high value.

I also found the

[2020-08-18 11:54] #10165 closed

[2020-08-18 22:11] gsnedders opened #25083 "Use better asserts in WebCryptoAPI"
Currently WebCryptoAPI has a lot of `assert_true(equalBuffers(…))` and a bunch of `assert_true(equalJwk(…))`. Specifically:

[code]

All of these are a bit of an anti-pattern; they mean that the error messages are little more descriptive than "assert_true: Post-wrap export matches original export expected true got false". This is rather little information to go on!

Note that in Safari some of the

[2020-08-18 22:13] gsnedders opened #25084 "Use better asserts in css/css-text/i18n"
There's a lot of tests that call a `spansNearEnough` function within `assert_true`; this gives a relatively poor user experience as the output ends up being just "got false, expected true". It would be better to use the built-in `assert_approx_equals` function.

cc/ @frivoal

[2020-08-19 15:37] stephenmcgruer commented on #25012
This is a bit of a pain. When using webdriver (for Chrome/etc), we actually run into the same problem (the page can't load) but don't notice during `setup()`. Instead we discover it later when running the test, at which point we convert it to a test ERROR result. Marionette is smarter, however, and fails during `setup()` when we don't have the ability to do such a thing, we just bail.

That said,

[2020-08-20 09:38] foolip commented on #15412
That is sweet, thanks @stephenmcgruer! I've used this view a few times this week already.

[2020-08-20 09:51] foolip commented on #24581
This test predates the changes to not require the `allowfullscreen` attribute in same-origin iframes. I've sent https://github.com/web-platform-tests/wpt/pull/25140 to trim the test down, to still have some coverage of `fullscreenEnabled` in the fullscreen/ directory.

[2020-08-20 15:29] foolip commented on #25023
@thejohnjansen @mustjab do you know if the Edge setup we have is running headless or "headfull"? That's a difference that one might expect to lead to this.

[2020-08-20 21:10] thejohnjansen commented on #25023
@foolip great callout! I have been trying to repro and not seeing issues, so I will try headless.

[2020-08-20 21:55] thejohnjansen commented on #25023
@foolip @mustjab it looks like this might be linux vs windows, not headless vs headfull. When I run the tests manually, they all pass every time. When I run them automated via webdriver, they fail. Even if I try to refresh the page automatically, they still fail. If I refresh the page manually, they Pass. I'm going to play around with this now.

I know you didn't intend to, but thank you for remin

[2020-08-20 23:26] thejohnjansen commented on #25023
I made a patch for this, but it's not pretty. I added a few setTimeout() functions to the intersection-observer/resources/intersection-observer-test-utils.js file in the function checkLastEntry().

Is there a recommended way to slow down a test like this without using a bunch of setTimeouts()?

[2020-08-23 20:09] stephenmcgruer commented on #23335
I wonder if https://github.com/web-platform-tests/wpt/pull/24768 may have fixed this? I see only ~30 deployments when I query the list-deployments API for wpt now, but I haven't dug further to confirm that everything is working correctly yet.

[2020-08-24 13:11] rakuco commented on #20035
@clopez is this still valid for you? Fedora provides a `python-unversioned-command` that ships a `python` symlink to `python3`. I've been running `wpt` here on Fedora with no issues related to this.

[2020-08-24 16:03] clopez commented on #20035
Its not an issue for me anymore.
However, perhaps is worth documenting that package on the wpt docs ( docs/running-tests/from-local-system.md ) and recommend to install it on fedora.

[2020-08-24 16:47] emilio commented on #24581
Thank you!

[2020-08-24 21:08] #24809 closed

[2020-08-25 00:05] #25012 closed

[2020-08-25 17:06] #2428 closed

[2020-08-25 18:44] #24581 closed

[2020-08-25 19:19] Hexcles commented on #2428
Here is the auto-generated pydoc: https://web-platform-tests.org/admin/pywebsocket3.html

[2020-08-25 19:49] npm1 opened #25233 "Allow hiding the page in WPT"
I would like to add a new API to expose the visibility state of the page to PerformanceObserver: see the [explainer](https://docs.google.com/document/d/1l5kHiJRkdQwEN-CYI5_mUNODhQVB5rCyjN4jHDdXDHA/edit#). But it looks like it's not possible to properly test hiding the test page in WPTs. I looked at existing tests for [page-visibility](https://github.com/web-platform-tests/wpt/tree/master/page-visi

[2020-08-25 19:59] Hexcles commented on #25233
So there is a WebDriver command to [minimize window](https://w3c.github.io/webdriver/#minimize-window), but we need to expose it in `testdriver.js`.

There is the other question of whether our environment supports such window management -- at least on Taskcluster we use Fluxbox so we should be fine, but I'm not sure about Azure (Windows and macOS).

[2020-08-26 20:47] #17259 closed

[2020-08-27 09:51] #20035 closed

[2020-08-27 12:07] umairaziz112221 opened #25260 "Broken link"
Broken link

[2020-08-27 17:16] thejohnjansen commented on #25023
Would it be possible to merge this and discuss the possibility of a re-write to promises with the Working Group? I don't like that wpt.fyi shows inaccurate test results for this. I'm sure there are probably other places as well that I am going to start looking into.

[2020-08-27 20:19] szager-chromium commented on #25023
I'm pretty firmly against adding setTimeout's for this. We went through a pretty strenuous process to make sure these tests are deterministic and as exacting as possible about the timing of IntersectionObserver notifications. Adding a setTimeout fudge factor just papers over legitimate web compatibility issues, and it also makes the tests inherently slow (which is something we try hard to avoid).

[2020-08-27 22:16] Hexcles commented on #19362
Update: we now have landed https://github.com/web-platform-tests/wpt/pull/24904 , which will hopefully help us detect such issues sooner.

[2020-08-27 22:35] KyleJu commented on #24752
Also fixed in prod after the [release](https://github.com/web-platform-tests/wpt.fyi/issues/2129)

[2020-08-28 01:47] clopez commented on #24752
I submitted a PR for using this new bundles at #25263

[2020-08-28 16:34] #25260 closed

[2020-08-31 12:32] umairaziz112221 opened #25291 "Broken link"

[2020-08-31 12:32] #25291 closed

[2020-08-31 14:21] stephenmcgruer opened #25294 "Safari stable runs failing since Aug 27th"
[wpt.fyi view](https://wpt.fyi/runs?label=master&label=stable&max-count=100&product=chrome&product=firefox&product=safari)

Safari stable runs have failed since August 27th. The failing epoch/daily runs:

* [27th](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=53486&view=logs&s=96ac2280-8cb4-5df5-99de-dd2da759617d)
* [28th](https://dev.azure.com/web-platform-tests/wpt/_build/r

[2020-08-31 21:39] jugglinmike opened #25304 "Centralize infrastructure for collecting HTTP reports"
Many new standards use [the Reporting draft](https://w3c.github.io/reporting/) to provide developers with insight about how they have integrated their own application code. Verifying HTTP requests issued in this way is somewhat tricky though because such requests are made at the browser's discretion.

To date, test authors for each spec have largely addressed this by writing custom logic to collec

[2020-09-01 09:33] gsnedders commented on #25294
`/is-input-pending/security/cross-origin-subframe-masked-pointer-events-none.sub.html` is the last test run, so at least that seem suspicious.

[2020-09-01 09:39] rakuco opened #25319 "testharness.js: Promise check in test() is broken"
The `test()` function fails when the function it runs returns a value. It then tries to determine if the value is a Promise to suggest using `promise_test()` instead. To do so, it checks if the returned value has an own property called "then".

This does not work correctly, as `then()` is defined in `Promise.prototype`, not `Promise` itself. Quick way to reproduce:

[code]

The harness error is _"

[2020-09-01 09:40] rakuco commented on #25319
Tentatively assigning to @jugglinmike because the code was introduced in #12958.

[2020-09-01 13:55] stephenmcgruer commented on #24180
Ping @irori for the question in my comment above :)

[2020-09-01 15:04] stephenmcgruer commented on #25007
Coming back to this, I would suggest we do probably two 4-hour breakout sessions (with the caveat that we should draft an agenda and make sure that this is both enough and not too much time), and consider doing a single joint group meeting too **if** there is some other group that wants to engage with us for future planning (most likely the CSSWG, but perhaps other WGs will want to talk testing).

[2020-09-01 15:30] sideshowbarker commented on #25007
I’ve not been working on the details — so if you’re able to make time to drive it, that’d be great

[2020-09-02 18:22] stephenmcgruer commented on #25007
My current proposal is:

* **Week of October 12th**: a joint meeting with interested WGs. (CSSWG?)
  * This is likely to be a short meeting, 1-2 hours in length.
  * Day/time will depend on the other WG.
* **October 19th and October 21st**, 1400-1730 UTC: WPT meetings.
  * These are intended to be the primary meetings for WPT business.
* **Week of October 26th**: ad-hoc organized breakout sessions

[2020-09-02 19:19] stephenmcgruer commented on #25294
It appears that we have another test causing problems, as shard 4 is now failing in the latest runs. I took a guess at a new webaudio test (https://github.com/web-platform-tests/wpt/pull/25361/commits/6ae59e82cb67421c18b71169d54872dd4282ae0d), but [looks like I was wrong](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=53743&view=logs&jobId=9f79e71d-035e-5d82-255d-685df306f83d&

[2020-09-02 22:40] gsnedders commented on #25294
You want to take a look at the second last TEST_START line, so TEST_START: /web-share/share-url-invalid.https.html

[2020-09-03 15:43] sleevi commented on #24180
@jyasskin as FYI

[2020-09-03 17:40] stephenmcgruer opened #25394 "[Azure Pipelines] `tools/wpt/ tests: Windows` broken for all PRs"
This is the Python 2 version of `tools/wpt/ tests`, the Python 3.6 and 3.8 versions are not failing.

I've seen this fail across two different PRs, so I suspect its unrelated to those particular PRs.

Examples:
* https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=53880&view=logs&jobId=802ce073-f5e3-5667-fac8-56b586b322fa
* https://dev.azure.com/web-platform-tests/wpt/_build/result

[2020-09-06 19:34] stephenmcgruer commented on #16455
To keep folks updated: @Hexcles has completed the majority of the work to make MojoJS work in upstream WPT, and is currently in clean-up + follow-through mode. We expect to close this issue soon.

[2020-09-06 19:42] stephenmcgruer opened #25415 "Firefox stable broken since September 1st"
There have been no Firefox stable runs on wpt.fyi since September 1st ([list of runs](https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk)).

Checking the `epochs/daily` branch, looks like all reftests fail; [latest run](https://community-tc.services.mozilla.com/tasks/groups/N-qzAWqJQV-StLOtoR3KIQ).

Lookin

[2020-09-06 19:45] stephenmcgruer commented on #25415
Regression range in WPT would be 7da1d06...17f8f00 .

As a random guess, https://github.com/web-platform-tests/wpt/commit/c911d7f3d04d090514119ae80011098df9f6add1 mentions marionette and seems like it could break things. I'll see if I can reproduce locally and try reverting that if so.

[2020-09-06 19:51] stephenmcgruer commented on #25415
Yep, able to reproduce with Firefox stable locally, and reverting https://github.com/web-platform-tests/wpt/commit/c911d7f3d04d090514119ae80011098df9f6add1 fixes it.

@jgraham - should we just revert that PR entirely, or would you like to pursue a different fix?

[2020-09-06 20:09] stephenmcgruer opened #25416 "Edge Dev and Canary broken since September 3rd"
There have been no successful Edge Dev or Canary runs since September 3rd ([wpt.fyi runs view](https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk)). (In fact, I'm not clear when the last successful Edge Canary run was - can't get the wpt.fyi UI to show me one.

[This seems to be one of the failing runs in

[2020-09-06 20:29] stephenmcgruer opened #25417 "No Safari Tech Preview runs since September 3rd"
There have been no successful STP runs since September 3rd ([wpt.fyi view](https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk)).

Based on [a `epochs/three_hourly` Azure Pipeline run](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=53958&view=logs&jobId=fb986504-a3b0-5067-98f7-ae723bcc0

[2020-09-06 20:50] stephenmcgruer commented on #25416
Based on https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=53958&view=logs&jobId=fb986504-a3b0-5067-98f7-ae723bcc030f&j=2b376673-b6b7-55d3-67e2-e8305abf5c1e&t=57b916e7-31b3-59d4-7b57-37a252ccf828, Edge 86 is being installed. This is done by `tools/ci/azure/install_edge.yml`, which installs it from https://go.microsoft.com/fwlink/?linkid=2069324&Channel=Dev&language=en-us

Edgedri

[2020-09-06 23:29] emilio commented on #25415
cc @whimboo

[2020-09-07 05:52] irori commented on #24180
Sorry for the silence.

Ideally, we should be able to generate SignedExchanges dynamically in tests, so that WPT server address can be embedded into SignedExchanges.

Currently there's no Python implementation of SignedExchange generator ([Go](https://github.com/WICG/webpackage/tree/master/go/signedexchange) and [C](https://github.com/google/libsxg) implementations are available), so we'll need to

[2020-09-07 10:40] jgraham commented on #25415
Bleh. We removed an assert on the marionette side that's going to fail until that patch reaches stable. I think this requires a hack in wptrunner to just set the chrome context for older Firefox versions :(

[2020-09-07 12:32] stephenmcgruer commented on #25394
So looks like in https://github.com/web-platform-tests/wpt/blob/master/tools/wpt/browser.py#L651 we just assume that on Windows Chrome will be installed in `"$SYSTEMDRIVE\Program Files (x86)\Google\Chrome\Application\chrome.exe"`. On Azure, this is expanding (I assume) to `C:\Program Files (x86)\Google\Chrome\Application\chrome.exe`, and I assume that doesn't exist (either because the browser is n

[2020-09-07 12:53] #25417 closed

[2020-09-08 07:17] whimboo commented on #25415
Sorry for having caused this trouble. But good to see that @jgraham has already a fix ready. I will remember to test with stable whenever I do changes to the marionette reftest harness.

[2020-09-08 11:44] stephenmcgruer commented on #25416
Drat, I was hoping the VM refresh on Sunday would have made this go away for now, but it hasn't. Instead, I think we're going to need to land a proper fix that checks the edgedriver version and invalidates it if it doesn't match.

[2020-09-08 16:24] jgraham commented on #12781
So the generated test names in audit.js-using tests are something of a problem because they end up doing things like dumping arrays of floats in the test name, and those are both hard for a human to read, and not necessarily consistent on every run or platform. Test names are really part of the public API for testharness.js tests and are expected to be consistent between runs, platforms and browse

[2020-09-08 16:44] mustjab commented on #25394
Based on this doc, Chrome should be installed on windows-2019 images: https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md and I'm not aware of any recent changes to this image, you can find all announcements here: https://github.com/actions/virtual-environments/labels/Announcement

If run a powershell task on the VM to search for chrome.exe, are you able to f

[2020-09-08 19:48] hoch commented on #12781
@rtoy I would love to have your thoughts on this.

[2020-09-09 11:03] ziransun opened #25449 "Some tests wpt run in firefox crashes and throws "marionette_driver.errors.InsecureCertificateException""
Example:

`wpt   run --yes --no-manifest-update --manifest MANIFEST.json  --log-mach-level=debug --log-mach=-  --channel=stable firefox cookies/samesite/img.https.html?legacy-samesite`

full log -
[firefox_log.txt](https://github.com/web-platform-tests/wpt/files/5207590/firefox_log.txt)

`Linux 18.04  firefox 80.0.1
`
WPT HEAD: [15ea2b](https://github.com/web-platform-tests/wpt/commit/15ea2bb29faf

[2020-09-09 11:56] stephenmcgruer commented on #25449
@ziransun - two quick questions:

i. Can you confirm you're at WPT HEAD (i.e. 7ee662b1b or later)
ii. Can you try specifying the channel precisely, i.e. passing `--channel=stable`? (since you seem to be running with Firefox 80 which is the stable release)

[2020-09-09 12:15] ziransun commented on #25449
Thanks @stephenmcgruer! Updated HEAD. Tried with `--channel=stable` and it didn't seem making any difference.

[2020-09-09 14:37] stephenmcgruer commented on #25449
That is weird; I can't reproduce at all. I ran:

`./wpt run --yes --no-manifest-update --manifest MANIFEST.json --log-mach-level=debug --log-mach=- --binary=~/firefox-stable/firefox --channel=stable firefox cookies/samesite/img.https.html?legacy-samesite 2>&1 | tee /tmp/log.txt
...

Unexpected Results
------------------
/cookies/samesite/img.https.html?legacy-samesite
  FAIL Cross-site redirecting

[2020-09-09 15:01] stephenmcgruer opened #25454 "update-built-tests CI step doesn't catch new files"
See https://github.com/web-platform-tests/wpt/pull/25429 where @zcorpan had to manually run it to add some new files that someone missed.

Currently the logic in `tools/ci/ci_built_diff.sh` is:

[code]

This doesn't check for new files, e.g.:

[code]

We likely need to parse `git status --porcelain` or similar.

[2020-09-09 16:22] stephenmcgruer commented on #25007
Two updates:

i. I have reached out to the CSSWG to see if they have any topics they wish to discuss in a joint meeting.
ii. I have added WPT to the 'Community Groups' section of https://www.w3.org/wiki/TPAC/2020/GroupMeetings, currently with an ON HOLD status for the dates described above.

Given there have been no objections to the dates, I intent to mark them CONFIRMED on **Monday September 14t

[2020-09-09 20:21] stephenmcgruer commented on #15412
https://github.com/web-platform-tests/wpt/pull/24556 added one for lint too:

![image](https://user-images.githubusercontent.com/153264/92648917-37113400-f2b8-11ea-8f38-7f3b67b927f6.png)

The various unittest setups could probably also do with some sort of output like this, but sadly they are much harder to integrate with (afaik), so I won't be tackling them currently. This issue can remain to tra

[2020-09-10 08:19] ziransun commented on #25449
Yes, It happens for both.

[2020-09-10 08:22] ziransun commented on #25449
Full log -

[code]

[2020-09-10 09:22] ziransun commented on #25449
@stephenmcgruer : Just tried run the test against a local Firefox binary (80.0.1), it works fine. The run is similar to yours

`./wpt run --yes --no-manifest-update --manifest MANIFEST.json --log-mach-level=debug --log-mach=- --binary=/home/ziran/Downloads/firefox/firefox/firefox --channel=stable firefox cookies/samesite/img.https.html?legacy-samesite`

I will use this local binary for now.

[2020-09-10 10:51] whimboo commented on #25449
Can you please run the tests again with the following arguments set?

It should help to better diagnose this problem.

[2020-09-10 13:33] ziransun commented on #25449
Full log with command line

`wpt run --yes --no-manifest-update --manifest MANIFEST.json --log-mach-level=debug --log-mach=- --setpref="marionette.log.level=trace" --setpref="marionette.log.truncate=false" --channel=stable firefox cookies/samesite/img.https.html?legacy-samesite`

Full log -
[code]

Thank you!

[2020-09-10 14:17] stephenmcgruer commented on #25394
Looks like we're assuming it's in the x86 location, whereas from the PR @mustjab has awesomely figured out that it is at `C:\Program Files\Google\Chrome\Application\chrome.exe`. (Not `C:\Program Files (x86)\Google\Chrome\Application\chrome.exe`).

I'll send a workaround PR to check both locations, though ultimately I would really like to do something better than guess at file paths -_-.

[2020-09-10 14:19] stephenmcgruer commented on #25394
In fact, I just found the Chrome issue that was fixed and caused this to happen! https://crbug.com/380177#c63

[2020-09-10 17:10] gsnedders commented on #5381
This has now come to pass, so it'd be nice to try and do this sometime soon. I guess we need an RFC at this point (it's a sufficiently large change), but that doesn't seem too problematic.

If anyone wants to take stab at moving paged tests to reftests for those that aren't already, there's a list at https://gist.github.com/gsnedders/cf0ac1e1b97f6955ff530a683ee6481d (note this naïvely just looks f

[2020-09-10 20:05] Hexcles commented on #25394
Amazing find!

[2020-09-10 20:09] #25394 closed

[2020-09-10 20:10] stephenmcgruer commented on #25394
Hexcles and I discussed, and we think the fix in #25467 is good enough to consider this issue closed.

[2020-09-10 20:32] stephenmcgruer commented on #25083
I would be happy to see some convenience methods in testharness.js for this; whilst it would increase the API space it seems like they would be fairly clear in their usage.

cc @annevk who put a *lot* of good thought into `assert_array_equals` when they reworked it, as it turns out producing useful output for differing array-like objects is tricky.

For a start, we're trying to get rid of (well, a

[2020-09-10 20:54] stephenmcgruer commented on #25416
A few runs have happened now, because I've been playing with the same VMs for another project and so have ended up clearing their `_venv`s for that. It is not a long term fix, and I expect this problem to reoccur shortly. (It's unclear to me why it hasn't bit us many times before.)

[2020-09-10 21:15] #21968 closed

[2020-09-10 23:19] gsnedders commented on #2033
https://web.archive.org/web/20160402125934/https://critic.hoppipolla.co.uk/showcomment?chain=12186 has it, edited OP.

[2020-09-10 23:25] gsnedders commented on #2033
@stephenmcgruer pointed out to me we wanted to get rid of assert_object_equals in #25083, which I'd totally forgotten about. https://web-platform-tests.org/writing-tests/testharness-api.html doesn't give it as deprecated, either.

[2020-09-11 07:28] whimboo commented on #25449
So this is not a bug coming from Firefox / Marionette. Instead it seems to be wptrunner related. Check the following output:

[code]

The new session is getting created without setting the `acceptInsecureCerts` capability to `true` that means that no certificate override handler will be installed by Marionette. Which as result means that the local page served via HTTPS causes a `nssBadCert` error.

[2020-09-11 08:31] rakuco commented on #15713
Quick triage: w3c/web-nfc#227 moved `serialNumber` around, and NDEFReadingEvent_constructor.https.html and NDEFReader_scan.https.html seem to test it at least a bit.

@riju @arskama can you take a look and see if this issue can be closed?

[2020-09-11 08:35] annevk commented on #25083
`assert_array_equals([].slice.call(encoded), bytes)` is something https://github.com/web-platform-tests/wpt/blob/master/encoding/api-basics.any.js does and it seems reasonable to have assert_view/buffer_equals that does that for you. Or make `assert_array_equals` also accept a buffer/view on either side, maybe that's even better.

[2020-09-11 08:48] rakuco commented on #15753
FWIW, @arskama's #25426 has recently improved the situation in that the `idle-detection/interceptor.https.html` no longer directly includes Blink-specific JS files and per https://wpt.fyi/results/idle-detection/interceptor.https.html?run_id=667290001 the test is passing in wpt.fyi.

Spec and documentation for other implementations likely still need to work on though (I'm not working on this API my

[2020-09-11 08:49] jgraham commented on #25449
We don't pass the `acceptInsecureCerts` capability when we have `certutil` available; instead we are using that to actualy create a certificate database with the relevant certs and then validate them. In the original logs we are finding `/usr/bin/certutil` and appear to be running it. But I seem to recall there can be issues with the version of certutil being different from the firefox version; it

[2020-09-11 13:20] stephenmcgruer commented on #25415
Fixed by https://github.com/web-platform-tests/wpt/pull/25423

[2020-09-11 13:20] #25415 closed

[2020-09-11 14:14] stephenmcgruer commented on #20282
This came up in discussion with @jgraham today too. It seems like at some point some support was added specifically for actions in `testdriver.js` - a9d6d1b058f9d37cabaf735ea60f9b87acc8a02b - but not for any other sort of interaction.

I may be over-looking something important, but it seems like we could just naively do a switch-to-frame, do-command, switch-back approach for every testdriver.js in

[2020-09-11 15:50] jgraham commented on #20282
Yes, I think for frames that would work. For windows it's a bit more complex because currently it's a pain to get the window handle for a given dom window (WebDriver supports this but implementations don't). It's also a pain to start an interaction from outside the main window; if we want to support that we'll probably need some API surface for postMessaging actions up to the main window.

[2020-09-11 17:09] Hexcles opened #25495 "Smoke test stability checks when tools/ are changed"
Recently we had a bug in wptrunner that broke Firefox stability checks (fixed in #25486 ). This resulted in all PRs being blocked from merging during the interim.

We can run stability checks (perhaps against some of `infrastructure/` tests that don't time out) whenever we change `tools/` as a smoke test to prevent this from happening again.

[2020-09-11 17:09] Hexcles commented on #25495
cc @stephenmcgruer @jgraham

[2020-09-11 17:13] rtoy commented on #12781
I think it's possible to change the default not to print out any part of the array.

But as one who writes a lot of tests, seeing the array output as part of the test has been really helpful.  It's easy to make mistakes where the test passes, but when you see the array output, you can often tell that what you've tested isn't what you expected to test.

Tests are already hard to write and debug; I'

[2020-09-14 07:00] foolip commented on #15412
@stephenmcgruer I would consider the original problem I reported here resolved. Closing this issue in celebration would be appropriate I think, and maybe open new issues for the case that remains? That'll probably be less important than what you've already addressed.

[2020-09-14 11:15] stephenmcgruer commented on #25416
Note: we're back to missing runs again, unsurprisingly.

[2020-09-14 14:44] stephenmcgruer commented on #25007
The TPAC time-slots have now been marked CONFIRMED.

[2020-09-14 15:21] Hexcles opened #25520 "Create a reusable helper to communicate across origins or with noopener"
Without being able to postMessage, the state of the art is using Stash, e.g.

HTTP query: https://github.com/web-platform-tests/wpt/blob/master/scroll-to-text-fragment/stash.js
WebSocket long polling (useful if the parent page has no event to listen to): https://github.com/web-platform-tests/wpt/commit/f1639d2ccded22de43be810b86d2b1c5a04e61fe

This seems common enough that we might want to create

[2020-09-14 15:30] jgraham commented on #25520
We could also support a solution on the server side that's more efficient than polling a stash e.g. having a dedicated queue that handles the specific use case of recieve and rebroadcast rather than the generic use case of "store a bit of data for the life of the server".

[2020-09-15 10:35] gsnedders commented on #12781
Nobody is saying you _can't_ print it out, just that to print it out it should be part of the assertion description rather than the test name. The test names are, as @jgraham says, part of the public API, whereas assertion descriptions are there to purely assist with debugging and no guarantee is given for stability between test runs or expected to be the same cross browser.

[2020-09-15 14:34] jgraham commented on #24888
I'm not very worried by a small number of changes here.

[2020-09-15 14:34] stephenmcgruer commented on #24888
Given that this is just a few (~10?) tests in `webdriver/`, and since the Py3 names are nicer than the Py2 names, I'm inclined to say this is WAI and accept the difference in test names until we're Py3-only (which is a long time away).

[2020-09-15 14:56] hsivonen opened #25541 "Add tests for focusing different-site iframes by click"
We should have some tests for the event sequence when focusing a different-site iframe by clicking inside it.

At present, my hypothesis is that the Web doesn't require the JS-observable `focus` event to fire from the same event loop task as the JS-observable user input event that caused the focusing, e.g. `mousedown`.

@mfreed7, do you know if Chrome guarantees anything about same or different ta

[2020-09-15 15:31] stephenmcgruer commented on #24888
Yep; closing working as intended.

@ziransun - please note but ignore any diffs caused by this problem in your Py2/Py3 analysis work.

[2020-09-15 15:31] #24888 closed

[2020-09-16 08:16] ziransun commented on #24888
Updated the analysis worksheets.

[2020-09-16 14:51] zcorpan opened #25569 "Testing plan for :dir() pseudo-class"
Relevant spec sections:

https://drafts.csswg.org/selectors-4/#the-dir-pseudo
https://html.spec.whatwg.org/multipage/semantics-other.html#selector-ltr

The interesting cases to test are from the definition of "directionality" in HTML:
https://html.spec.whatwg.org/multipage/dom.html#the-directionality

- element with `dir="ltr"` matches `:dir(ltr)`
- root element without `dir` attribute matches `:d

[2020-09-16 15:01] zcorpan commented on #25569
The `html/semantics/selectors/pseudo-classes/dir.html` test seems suitable to extend with additional cases.

[2020-09-16 16:08] youennf opened #25571 "Upstream Blink OscillatorNode tests"
Blink has some useful OscillatorNode tests that WebKit recently imported directly in https://bugs.webkit.org/show_bug.cgi?id=216569.
It might be interesting to upstream them in WPT so that they can be kept in synced and shared with other platforms.

[2020-09-16 16:09] youennf commented on #25571
Tests are located in chromium repo at https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/web_tests/webaudio/Oscillator/

[2020-09-16 16:11] gsnedders commented on #25571
cc @rtoy

[2020-09-16 17:57] rtoy commented on #25571
It's been a while since I looked, but I do think they work everywhere.  My concern, IIRC, is that there are experimentally determined error thresholds that increased quite a bit on other browsers.  (The current reference file was created long ago on a linux machine.  If a different machine were used to create the reference, the thresholds would be different.)

And I didn't want to increase them so

[2020-09-16 18:20] Hexcles commented on #23539
This has been resolved by db9a10cb04de8883c4c04dd57683436f6bb47917.

[2020-09-16 18:20] #23539 closed

[2020-09-16 19:11] Hexcles commented on #16455
Alright, I'm happy to announce that we've officially finished the cleanup. Here's the full list of tests that use MojoJS:

https://github.com/web-platform-tests/wpt/blob/70f1fc9aa9519abd3f4ca5d114d02c004b4764b3/lint.ignore#L714-L729

All of them use the newly introduced https://github.com/web-platform-tests/wpt/blob/master/resources/test-only-api.js to load Chrome-specific resources, which are als

[2020-09-16 19:11] #16455 closed

[2020-09-16 19:13] Hexcles commented on #16455
And huge thanks to our friends from Intel @rakuco @arskama for migrating many device-related tests!

[2020-09-17 04:19] karlt commented on #10201
Some discussion has resumed on https://github.com/web-platform-tests/wpt/issues/12781.

[2020-09-18 01:23] marcoscaceres opened #25610 "Sink task failing for unclear reason"
I'm wondering if someone can check why the sink task is failing in:
https://github.com/web-platform-tests/wpt/pull/25560

The taskcluster log doesn't seem to provide anything actionable (at least that I can see :( ):
https://community-tc.services.mozilla.com/tasks/UKR9mDn2TRyaynTB1U17rQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FUKR9mDn2TRyaynTB1U17rQ%2

[2020-09-18 07:59] youennf commented on #25571
So far, it seems the tests run in WebKit without having to change the thresholds.

[2020-09-18 15:08] jgraham opened #25625 "Make testdriver work cross origin"
testdriver currently doesn't allow interacting with browsing contexts with a different origin to the test. This is basically because it's not possible to get a reference to elements in those contexts.

For cases where we *can* get a window reference (i.e. not the rel=noopener case) the solution here is a simple extension of the existing system; we just need to allow invoking an action via `postMes

[2020-09-18 16:19] rtoy commented on #25571
On Fri, Sep 18, 2020 at 12:59 AM youennf <notifications@github.com> wrote:

Most likely because WebKit and Chrome have essentially the same Oscillator
implementation. I think Firefox has a slightly different implementation.
But let me check a bit later and I'll let you know since I can test with
Firefox easily.

--
Ray

[2020-09-18 16:43] rtoy commented on #25571
I didn't check to which Blink oscillator tests were imported, but I just ran [osc-sweep-snr-custom.html](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/web_tests/webaudio/Oscillator/osc-sweep-snr-custom.html;l=1?q=osc-sweep-snr-cu&sq=&ss=chromium) with Firefox 79.0. The expected SNR is at least 130.47, but Firefox got 30.96.  I think this is why I didn't move these th

[2020-09-18 18:46] stephenmcgruer commented on #25610
The `sink-task` is just how we make our dynamic task graph work with GitHub's requirement that we name a specific task as 'blocking' for PRs. (Sounds like I should document that clearer in the checks view!).

The actual failure will be the other failing Taskcluster checks. In your case, looks like that's `wpt-firefox-nightly-stability`. Clicking through to the [details](https://github.com/web-plat

[2020-09-18 20:06] jgraham commented on #25610
We should make the sink task produce an artifact that explains this and links to the actual failures.

[2020-09-18 20:06] jgraham commented on #25610
Oh you said that, never mind me.

[2020-09-19 03:45] marcoscaceres commented on #25610
@stephenmcgruer, thanks for clarifying - that makes sense. I didn't realize they were dependent on each other. Would appreciate the merge of #25560, as we've updated the HTML spec and Payment Request Spec already.

[2020-09-19 17:55] samweinig opened #25641 "performance-timeline/po-observe.html should not hardcode entry types"
The test `performance-timeline/po-observe.html` currently hardcodes the list of entry types it needs to observe (see https://github.com/web-platform-tests/wpt/blob/master/performance-timeline/po-observe.html#L81) but really should be filtering that list by `PerformanceObserver.supportedEntryTypes` so that the test limits itself to only testing performance-timeline defined things and is not reliant

[2020-09-21 11:41] stephenmcgruer commented on #24636
At this point we're hoping to be Py3-first by Jan 2021, but we will likely have a few Py2 bots (infra/ tests, some unittests) to help with backwards compatibility, which will still have to be pinned.

Leaving this roadmap, because we'll want a reminder before the end of the year to get this done! :)

[2020-09-21 11:42] stephenmcgruer commented on #23312
Ping @jgraham for their thoughts, but also marking `backlog` because this doesn't seem to have happened *too* much.

[2020-09-21 12:36] jgraham commented on #23312
Feels like we should look at `get_fetch_rev` as the place to ensure the revs we get are actually sensible. And also that we should probably run that command once rather than once per scheduled task. If we ran that as soon as we've parsed the event, and had some backoff and retry solution for stale merge refs, I think that would fix things.

[2020-09-21 14:34] emilio opened #25650 "[resource-timing] Some tests assume synchronous performance entries"
And I don't think that's guaranteed?

All the callers of [`xhrScript`](https://searchfox.org/mozilla-central/rev/b58ca45005fe02077c92779483d1b60e9a49687c/testing/web-platform/tests/resource-timing/resources/buffer-full-utilities.js#9-13) seem to rely on the entry being available synchronously, which doesn't happen in Firefox's implementation and I don't think is guaranteed by the spec unless I'm m

[2020-09-21 14:47] mjzffr opened #25651 "WebDriver action sequence should use global default input sources"
Whenever a new action sequence is constructed, the input source id is incremented. This means that the input state isn't preserved, which is problematic when a test has actions equivalent to:

[code]
Really, what is wanted is for input 1 to go back to (0,0). However, because of the new source id, the second action sequence is actually saying _move from (0,0) to (0,0)_, a no-op which should get ign

[2020-09-21 14:58] stephenmcgruer commented on #25651
cc @LanWei22

I'm not clear from the OP if this is reporting a bug with the `wpt/pointerevents/pointerevent_setpointercapture_inactive_button_mouse.html` test or if it is a feature request for the testdriver framework to change in some way. Can you clarify @mjzffr ?

[2020-09-21 15:05] yoavweiss commented on #25650
Thanks for catching that. I don't think there are such guarantees. Seems like we'd need to rewrite these using PerformanceObserver (under the assumption that entries delivered to the observer were similarly delivered to the Performance Timeline).

/cc @npm1

[2020-09-21 15:24] npm1 commented on #25650
The spec is not very clear about this, as the processing model is written as if everything happens synchronously but it does not because it depends on the fetch result. I think it's fine for entries to be dispatched async, and we should modify the tests. PR is welcome, otherwise we can take a stab at it as part of the WebPerf hackathon which is happening Tuesdays for a couple of weeks!

[2020-09-21 15:27] Hexcles opened #25653 "Error installing webkit2gtk-driver (stable) on Taskcluster"
Example: https://community-tc.services.mozilla.com/tasks/ZLj3LIVnQ9iEGXOs7Wktvg/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FZLj3LIVnQ9iEGXOs7Wktvg%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L752

[2020-09-21 15:27] Hexcles commented on #25653
cc @clopez

[2020-09-21 15:48] mjzffr commented on #25651
Sorry! I see this as a bug in the testdriver framework.

[2020-09-21 21:14] stephenmcgruer commented on #25653
Assuming that this is blocking runs, marking `urgent`. Feel free to downgrade if it isn't.

[2020-09-21 21:23] stephenmcgruer opened #25663 "Add GitHub checks summary to all Taskcluster tasks"
https://github.com/web-platform-tests/wpt/issues/15412 oversaw the addition of GitHub checks output to the major Taskcluster checks (stability and lint). This issue exists to track the other tasks, which are less important but could still do with some improvements:

* [ ] `sink-task` : requires both [clearer documentation](https://github.com/web-platform-tests/wpt/issues/25610) and could also link

[2020-09-21 21:23] stephenmcgruer commented on #15412
Seems reasonable. https://github.com/web-platform-tests/wpt/issues/25663 can be its successor

[2020-09-21 21:23] #15412 closed

[2020-09-21 22:26] gsnedders commented on #20282
And as @jgraham pointed out on IRC, `noopener` also makes windows harder.

[2020-09-22 14:06] foolip commented on #25416
@stephenmcgruer I see you're assigned and this is labeled urgent, so... ping :)

When I've had trouble with Edge in the past I've often gotten help from @mustjab.

[2020-09-22 14:08] foolip commented on #24719
@Hexcles do you plan to work on this yourself? It's labeled roadmap priority, but with nobody assigned it seems unlikely anything will happen :) Perhaps it was already fixed by some of the PRs that landed in July?

[2020-09-22 14:08] foolip commented on #23969
Ping @stephenmcgruer, this came up in the rotation. Is this something that is on your radar?

[2020-09-22 14:08] stephenmcgruer commented on #25416
Yeah, this is in a weird semi-urgent state, where it will come and go as the VMs are re-created. There's no work for @mustjab here - we need to fix WPT to stop using incompatible msedgedriver versions. I have a chromedriver equivalent PR in the works atm, and a near identical version will be able to be used for msedgedriver too.

So, err, soon.

[2020-09-22 15:50] yoavweiss commented on #25650
I tried to fix this and realized that the tests rely on sync XHR for a reason.
All the tests that still use `syncXHR` after https://github.com/web-platform-tests/wpt/pull/25673 are testing what happens when buffering entries that are added *while* the buffer is full and *before* the `resourcetimingbufferfull` event is done.

Adding asynchronicity to those tests results in the event running in poin

[2020-09-22 16:09] rtoy commented on #25571
FWIW, osc-440hz test fails on Firefox because it looks like a custom wave with a single component at 440 applied to an oscillator with frequency 1 is not the same as an oscillator with a component at 1 and a frequency of 440.  Both of these should produce a sine wave with a frequency of 440 Hz.

The difference between the two is probably caused by an oscillator with a frequency of 1 Hz not being w

[2020-09-22 16:40] stephenmcgruer opened #25678 "[Python3] encoding import error with threaded calls to Python file handlers"
In investigating Python 3, @ziransun came across an interesting case where wptserve throws when trying to call `encode` in a Python file handler. The problem has been seen on Linux + Chrome, MacOS + Safari, and Windows + Edge, but I will stick to Linux + Chrome here as the easiest setup for me to test.

As it appears to be a threading issue, it is flaky to reproduce, but a failing run looks like:

[2020-09-22 16:43] stephenmcgruer commented on #25678
Note that historically speaking doing imports (including the implicit imports from calling `encode`) whilst threading was problematic in Python 2.7 - https://docs.python.org/2/library/threading.html#importing-in-threaded-code - but that this is meant to be resolved in Python 3. So there's a world where this is still a Python 3 bug, but I do give @Hexcles theory some credence.

[2020-09-22 16:43] stephenmcgruer commented on #25678
cc @jgraham @gsnedders

[2020-09-22 18:09] stephenmcgruer commented on #25651
I don't know much about the testdriver framework, but does it suffice to make use of the methods like `addPointer`?

[code]

That seems like it supports reusing a specific source name, but I may be misunderstanding the problem! (@jgraham or @LanWei22 likely know better than I)

[2020-09-22 20:13] stephenmcgruer commented on #21435
There are now PRs landed or out for every `async_test(async` that I am aware of in WPT, and I've fixed all the cases in downstream Chromium too. So it's time to revive the work frehner did in https://github.com/web-platform-tests/wpt/pull/24021 to make it a harness error to return a promise in an async_test, and see what breaks!

[2020-09-22 20:29] gsnedders commented on #23969
If we loosen the guard from `type != "testharness"` to something that tries to statically determine the set of possible types without reading the file, we introduce 46 failures:

<details>
ERROR:lint:dom/nodes/Document-createElement-namespace-tests/xhtml_ns_changed.html: File has identical basename path (path excluding extension) as other file(s) (found extensions: .html, .svg, .xml, .xhtml) (DUPL

[2020-09-22 21:21] foolip commented on #23969
That's a pretty huge difference, so paying some small cost for getting that speedup sounds like a great idea!

[2020-09-22 21:28] clopez commented on #25653
This failed log is for the webkitgtk stable runs, not for the nightlies.

The packages for the stable channel we currently provide are deprecated (very likely not even working anymore on Ubuntu-20.04) and I intend to revamp that on PR #25263

I'm currently on holidays until next Monday (28th sept). I will try to push that PR to land it as soon as I get back to work.. and this will get fixed once t

[2020-09-23 19:17] josepharhar commented on #25541
Are the focus and mousedown events of interest being fired on the iframe element in the parent page, or being fired on the document/window inside the cross origin iframe?

I don't think we have any historical context on this functionality right now.

[2020-09-23 19:32] jgraham commented on #25678
Right, so I guess there are a couple of problems here. In multithreaded code it's pretty obviously unsafe to do the edit-and-restore thing with the caches. That's where @gsnedders suggestion of a mutex would help. But that's really problematic and I think is likely to lead to random timeouts in tests. A python handler that did e.g. `time.sleep(5)` would block any other handlers running. So we real

[2020-09-23 19:45] Hexcles commented on #25678
Sigh, re `sys.modules`: "However, replacing the dictionary will not necessarily work as expected and deleting essential items from the dictionary may cause Python to fail." https://docs.python.org/3/library/sys.html#sys.modules

Reading https://docs.python.org/3/library/functions.html#exec, I wonder if we can pass a separate `globals` to `exec` (an empty one or perhaps a deep copy of `globals()`)?

[2020-09-23 20:10] jgraham commented on #25678
I think we're already passing in `globals`. I don't think that's enough.

[2020-09-24 10:53] #23969 closed

[2020-09-25 10:27] jgraham commented on #12781
We're already storing each step that the test takes. We can also figure out which test is running for each assert since only one test can be running at a time (no multithreading etc.). We can therefore log all the steps that ran and all the asserts that they ran. We could store this and make it possible to view it as part of the output (probably constructing the actual message lazilly for performa

[2020-09-25 15:51] rtoy commented on #12781
I've been working with @padenot to see what we can do about this, since they have a change for audit.js they're interested in.  No news yet on the results.

[2020-09-25 17:50] #21435 closed

[2020-09-25 17:51] stephenmcgruer commented on #25319
I fixed this (I believe) in a drive-by in https://github.com/web-platform-tests/wpt/pull/25703

[2020-09-25 17:51] #25319 closed

[2020-09-26 00:10] #25416 closed

[2020-09-26 00:27] stephenmcgruer opened #25800 "[wpt] Specifying `--channel` for EdgeChromium on Windows does not affect the binary chosen"
In `tools/wpt/browser.py` for EdgeChromium we have:

[code]

This will always pick the first match, regardless of the channel flag, so if you have Edge Stable installed you're always getting stable.

We should probably just use the flag to filter the paths we look in.

[2020-09-26 03:24] TalbotG commented on #10808
September 26th 2020 recap

Corrections and improvements in
css/css-backgrounds/css3-border-image-repeat-repeat.html
css/css-backgrounds/reference/css3-border-image-repeat-repeat-ref.html
css/css-backgrounds/css3-border-image-repeat-stretch.html
css/css-backgrounds/reference/css3-border-image-repeat-stretch-ref.html
have been done in the **merged PR** https://github.com/web-platform-tests/wpt/pull/

[2020-09-27 03:39] CHOWYANYAN opened #25806 "Api"
gfEPBAdDOIJw0pD1YctwqbXW73YsAcB2R2F2HHvvCwuDjSF3emaOmxWMO7t70ajvQgOMenVWd21WzfUg7etfXEQ1ttPjknldRMKTVg0iXImFgwqsmA43v3ituaNIn5RjMxT8AV4ZQJLW8hg8XF8dRvSZ3pLPgMMjzvlmo2MFg0PnwHSH8CxowyDsBjvNixm2K1fwr2Miw15KHUzAitAgMPsgw7hWXIkdJ1SdJOVqBim8Ybg4WeTYnqdFd7WC8Vqu

[2020-09-27 12:20] stephenmcgruer commented on #10451
I've recently landed code for both Chrome and EdgeChromium to detect when the webdriver version doesn't match the selected browser binary version, and to offer to install the matching webdriver if it doesn't match.

Above @jgraham mentions this isn't relevant for Firefox, and I believe it isn't relevant for Safari either (we seem to pull the browser version from the safaridriver, so they sorta hav

[2020-09-27 12:23] #25806 closed

[2020-09-28 09:26] jgraham commented on #10451
No objections.

[2020-09-28 13:02] zcorpan commented on #25007
I've proposed an agenda item [in the doc](https://docs.google.com/document/d/1XhUwVbitdV03eX2GefmokCliWjQdAxBgblwITwNqsgc/edit#): Screen reader automation

[2020-09-28 21:20] Hexcles commented on #10451
IIUC, Firefox does have the same issue; James is just saying that it's a minor annoyance (apologies if I misunderstood). I'd say the severity is no different from Chrome/Edge's cases, and might in fact be more annoying when compared with Chrome/Edge which can now download the appropriate version of webdriver binaries without having to purge _venv.

Maybe we can leave this open and perhaps add a no

[2020-09-29 00:43] TalbotG opened #25826 "PR25825 and "Bash exited with code '22'" CI failure message"
@web-platform-tests/admins

Dear fellow advanced GitHub colleagues,

2 Continuous Integration checks fail in
https://github.com/web-platform-tests/wpt/pull/25825
{
Error analysis
Invoke staging.wpt.fyi hook (CmdLine)
Bash exited with code '22'.
}
What's code '22'?
How to fix whatever is wrong with PR25825?
What needs to be fixed and how? I wish I could be autonomous when confronting these kinds of

[2020-09-29 00:53] TalbotG commented on #25826
"Check failure on line 16 in Build log" : how to do that?
Check failure on line 16 in Build log is a link pointing to
https://github.com/web-platform-tests/wpt/pull/25825/files#annotation_466502915
but when activting such link/following it, it does not reach anything specific that can help me.

[2020-09-29 02:04] Hexcles commented on #25826
Sorry for the obscure error message. In short, this is not a blocking issue and you didn't do anything wrong.

Longer version: we run affected tests with and without changes in a PR, upload the results to wpt.fyi as well as its staging instance (staging.wpt.fyi) to show the diff. The staging instance isn't very stable and can sometimes have transient issues as it's meant for the development of wpt

[2020-09-29 02:05] sideshowbarker commented on #25826
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=55222&view=logs&j=2b63212d-7e76-5e21-f7e5-91768f02360d&t=05da1352-d1c9-5025-5088-2741052b071f is what it‘s actually referring to

…but I don’t think you or other contributors not working on the infrastructure bits could be expected to know that’s where.

You can’t yourself — as far as I can see, the cause is not a problem with any

[2020-09-29 02:31] TalbotG commented on #25826
Okay @Hexcles and @sideshowbarker . I see that CI checks in
https://github.com/web-platform-tests/wpt/pull/25825
have all successfully passed now. I am relieved and happy about this. I have been working on rehabilitating border-image-slice-005 and 007 tests **for 3 years and 10 months** now:

[css-backgrounds-3] border-image-slice-007 bad linkage to its border-image-source
http://lists.w3.org/Arch

[2020-09-29 03:19] sideshowbarker commented on #25826
Closing now per https://github.com/web-platform-tests/wpt/issues/25826#issuecomment-700388906

[2020-09-29 03:19] #25826 closed

[2020-09-30 22:00] Hexcles commented on #25653
#25263 has landed (woohoo!). Thanks, @clopez !

Please feel free to close this if anyone can verify that WebGTK reappears **tomorrow** on https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk (maybe cc @KyleJu )

[2020-09-30 22:05] KyleJu commented on #25653
Yep, I will keep an eye on it tomorrow.

[2020-09-30 23:16] tabatkins opened #25905 "Need a way to test forced-colors mode"
In order to test the features of <https://drafts.csswg.org/css-color-adjust/#forced>, we need to be able to switch on the OS-level features that trigger it. In Windows, that's High Contrast Mode, in Color Settings.

(Unsure what, if anything, activates it in Mac or Linux.)

[2020-10-01 05:10] TalbotG commented on #10808
I closed #21445 and now I'm closing this Issue.

[2020-10-01 05:10] #10808 closed

[2020-10-01 11:08] jgraham commented on #10451
I think release geckodriver will support all versions of the browser that it's reasonable to test. So from that point of view it's not an issue for Firefox. We have occasionally seen issues where the (quasi-unsupported) marionette library we're using makes a backwards-incompatible change in the way it invokes specific commands, but that's not really solvable in the same way.

[2020-10-01 12:36] stephenmcgruer opened #25923 "No Edge runs scheduled since ~September 24th"
This looks like an infra issue on the Azure Pipelines side. If you check the `epochs/three_hourly` and `epochs/daily` lists, every run since September 24th shows as 'pending' with all Edge Dev/Canary jobs listed as 'Queued'.

* https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1&_a=summary&repositoryFilter=1&branchFilter=9077%2C9077
* https://dev.azure.com/web-platform-tests/wpt/_bu

[2020-10-01 12:37] stephenmcgruer commented on #25923
Note: for recovery, I'd be happy to cancel all old jobs and just skip it up to the most recent runs, rather than trying to catch up with a weeks worth of runs!

[2020-10-01 13:21] Hexcles commented on #10451
Ahh thanks for the explanation! Yeah let's close this issue then.

On Thu, Oct 1, 2020 at 7:08 AM jgraham <notifications@github.com> wrote:

[2020-10-01 16:20] mustjab commented on #25923
Sorry about this, look like scheduled runs to rebuild Windows VMs didn't run for a few weeks and existing VM pool expired. I've kicked off run to re-create the VMs and will monitor runs to make sure they complete. I think it makes sense to cancel all of the old jobs and just focus on getting new Edge runs to complete.

[2020-10-01 17:10] svgeesus opened #25933 "Update to more recent Safari?"
wpt.fyi reports that the Webkit tests are using **Safari 112 preview**, on macOS 10.15.

The current is **113 preview,** and [the release notes](https://developer.apple.com/safari/technology-preview/release-notes/) show a bunch of improvements in Web Audio API.

So, is it possible to get the version run by wpt.fyi updated?

[2020-10-01 17:12] svgeesus commented on #25933
Huh, the version number has updated to 113, but a few hours ago it was 112. Awesome!

[2020-10-01 17:12] #25933 closed

[2020-10-01 17:15] stephenmcgruer commented on #25933
It's been 113 for ~3 weeks now (https://github.com/web-platform-tests/wpt/pull/25469). We update mostly-automatically (with human review), so we're generally not very far behind at all.

Looking at wpt.fyi's recent runs for Safari (https://wpt.fyi/runs?label=master&from=2020-09-24T00%3A00&product=safari), I don't see any 112 either (though it is a pain to mouseover for the tooltip!)

But glad its

[2020-10-02 16:08] KyleJu commented on #25653
WebGTK is back running. I will close this bug @Hexcles

[2020-10-02 16:08] #25653 closed

[2020-10-03 12:25] stephenmcgruer commented on #25923
@mustjab It looks like things are running, but the old jobs weren't cancelled so its still churning through builds from about a week ago (and is likely to take a long time to catch-up). I tried to find a way to cancel jobs on Azure Pipelines but wasn't able to (perhaps I don't have the right permissions). Can you cancel all the old pending `epochs/three_hourly` and `epochs/daily` runs?

[2020-10-04 22:41] mustjab commented on #25923
Canceled all of the queued jobs that were waiting only on Edge run, see only two left, one that's still running and one that's queued but is still running non-Edge jobs, so left it alone.

[2020-10-05 11:27] stephenmcgruer commented on #25923
Thanks @mustjab , we appear to be at almost-HEAD now. Looks like we're processing a run from last night, with another one from this morning queued up.

I do wonder if we need to either increase the machine pool or lower Edge Dev runs to every-6-hours however; it feels like at best we are only *just* keeping up with runs each day, probably relying on quieter overnight periods to catch up... :/.

Bu

[2020-10-05 11:27] #25923 closed

[2020-10-05 21:41] stephenmcgruer commented on #24180
(cc @web-platform-tests/wpt-core-team  )

We've generally avoided including binaries in the WPT project (e.g. for quic we ended up agreeing on [a Py3-only server](https://github.com/web-platform-tests/rfcs/blob/master/rfcs/quic.md)) Is there a feasible path to a Python SignedExchange generator?

[2020-10-06 20:58] k-j-kim opened #26013 "user-timing/structured-serialize-detail.any.js missing toJSON() tests"
In all wpt-tested browsers, `detail` is missing from `toJSON()` output of `mark` and `measure`:
[code]
I'm not sure if this should be part of:
- https://wpt.fyi/results/user-timing/structured-serialize-detail.any.html?label=experimental&label=master&aligned
OR
- https://wpt.fyi/results/user-timing/user-timing-tojson.html?label=experimental&label=master&aligned

[2020-10-06 22:13] k7z45 opened #26015 "Need WebSocket library for WebDriver BiDi tests"
[WebSocket BiDi protocol](https://w3c.github.io/webdriver-bidi/#establishing) relies on WebSocket to initialize connection.
We would need a WebSocket client for python to write client code to connect to WebDriver webSocketUrl.
The initial [Bidi](https://github.com/w3c/webdriver-bidi/blob/master/proposals/core.md#establishing-a-bidirectional-session
)(bidirectional) tests will focus on making the c

[2020-10-07 03:26] irori commented on #24180
Thanks for the pointer, I think we can take a similar approach to quic. SignedExchange generation requires cryptography support, but it seems [quic depends on openssl via pica/cryptography](https://github.com/web-platform-tests/rfcs/blob/master/rfcs/quic.md#notable-dependencies) so SignedExchange generator could do the same.

[2020-10-07 12:26] stephenmcgruer commented on #26015
Thanks for filing this! cc @web-platform-tests/wpt-core-team

The main things we will need here are to bring a websocket client library into WPT, and to extend the client in `tools/webdriver/` to be able to talk to BiDi as well. This will likely ultimately require [an RFC](https://github.com/web-platform-tests/rfcs), but we should have a good idea in mind of our plan before we file that :)

For a

[2020-10-07 22:00] jgraham commented on #26015
Making a decision here definitely requires an RFC about any new dependency and about the proposed API surface.

On the library question, I would take the position that we can accept Py3-only dependencies at this time. I think given the relevant timescales and the fact that vendors can already support both Py2 and Py3 we should choose the library we want rather than the one that happens to work wit

[2020-10-07 22:53] muodov commented on #21163
This looks like a good one to get familiar with how tests files are processed and executed.
I'd like to work on this. @annevk any pointers or hints where to start would be appreciated :)

[2020-10-08 08:47] annevk commented on #21163
@muodov reading https://web-platform-tests.org/writing-tests/testharness.html#tests-for-other-or-multiple-globals-any-js would go a long way. Adding `// META: global=window,worker` to existing `.any.js` tests and converting `.html` tests (if any) to `.any.js` tests would be most of the work change-wise, I think. And then verifying that the tests still function in these additional environments and

[2020-10-08 14:42] stephenmcgruer commented on #26015
@k7z45 - do you have the time to own doing some experimentation with some of the websocket libraries above in WPT, to see what a client might look like? In particular it seems like deciding whether the `asyncio`-using library is fundamentally better or not would be most useful.

I'm happy to support you from the WPT side with getting setup, consulting on any problems you have with our infrastructu

[2020-10-08 17:56] gsnedders commented on #26015
I think myself and @jgraham are strongly in favour of a library using `asyncio`, FWIW.

[2020-10-08 21:34] stephenmcgruer commented on #25678
I don't know if I'm holding this wrong, but the copying/restoration of `sys.modules` doesn't seem to work for the simplest case I can think of today:

[code]

Did I do something silly here?

[2020-10-08 22:21] miketaylr opened #26055 "Create testdriver API for clearing cookie state"
It seems desirable to have an API that can be called to clear browser cookies to make sure there's no leftover state before running new tests.

It's mostly possible to do this today (https://github.com/web-platform-tests/wpt/blob/5a589f8f2c132560b64665d1f17b0b747d6f19be/cookies/resources/cookie-helper.sub.js#L307-L311), but it's awkward and inferior to browser internal methods (i.e., it won't work

[2020-10-09 05:19] marcoscaceres commented on #18487
Fixed a while ago

[2020-10-09 05:19] #18487 closed

[2020-10-09 08:22] hiroshige-g commented on #12480
Started.
Draft CL: https://chromium-review.googlesource.com/c/chromium/src/+/2455766

[2020-10-09 09:01] jgraham commented on #12480
I think this sort of API change requires an RFC. I'd assume it's not going to be very controversial, but nevertheless I think we should go through the correct process.

[2020-10-09 11:55] stephenmcgruer commented on #25678
Based on `find . -type d \( -path ./tools -o -path ./webdriver \) -prune -false -o -name '*.py' | xargs grep -rl "def main" | xargs grep -rh from.*import | sort | uniq -c | sort -n`, we seem to have exactly one relative-path imported file in the entire tree today, `cookies/resources/helpers.py`.

[code]

[2020-10-09 12:33] stephenmcgruer commented on #25678
So given the above, I think I would actually propose making it part of the contract that relative imports are known to collide, and solve this one of two ways:

* Allow relative imports in a python file handler, but acknowledge they might collide and have a PRESUBMIT to try to sniff out collision cases, **or**
* Allow relative imports in a python file handler, but only from a known directory that

[2020-10-09 14:35] #25610 closed

[2020-10-09 20:26] saschanaz opened #26071 "`wpt serve` fails on Python 3.9 with ImportError"
[code]

This line seems relevant in the [changelog](https://docs.python.org/release/3.9.0/whatsnew/3.9.html):

[2020-10-10 11:42] lringnes commented on #13299
HTML.

[2020-10-12 02:43] sideshowbarker commented on #25641
dunno who’s responsible for the Performance Timeline test suite these days, but maybe @plh @caribouW3 can help

[2020-10-12 02:46] sideshowbarker commented on #26013
cc @maxlgu @tommckee1 @plh @caribouW3

[2020-10-12 02:50] sideshowbarker commented on #24666
cc @Pehrsons  @handellm

[2020-10-12 08:30] hsivonen commented on #25541
@josepharhar, I meant the events fired in the document/window inside the cross-origin iframe.

[2020-10-12 09:17] hiroshige-g commented on #12480
Thanks for letting me know, sounds reasonable > RFC

[2020-10-12 10:13] ziransun commented on #24733
https://github.com/web-platform-tests/wpt/pull/25929

[2020-10-12 11:46] #24733 closed

[2020-10-12 11:58] stephenmcgruer commented on #21751
To keep folks updated here: we managed to update to macOS Catalina using the 'known-good plist' workaround, but as far as I know the bug is still present. @gsnedders and @burg are, I believe, attempting to resolve the underlying issue for Big Sur. (But upgrading to Big Sur is likely quite a long way out, since it depends on Azure Pipelines having Big Sur machines generally available).

[2020-10-12 12:00] stephenmcgruer commented on #7660
So we're in a better place to do this now, since we switched to repeat-only stability checks for the CI. We can check for an impending timeout between each iteration of the tests run (using previous runs to estimate running time), and bail if we're over our time limit.

Now just needs me (or someone) to put the time in to create a PR ;)

[2020-10-13 00:43] k7z45 commented on #26015
@stephenmcgruer
Sure, I can try out the websocket libraries above.
1. I can try following their documentation to create examples for connecting, sending and receiving messages.
2. I can try to create an example that does use asyncio when asyncio is supported.
3. I can try to create an example that does NOT use asyncio even when asyncio is supported.
I think these examples will be standalone(outsid

[2020-10-13 08:16] zcorpan commented on #26015
Right now we have pywebsocket3 as a websocket *server* in wpt. Is there a desire to replace pywebsocket3?

[2020-10-13 11:31] stephenmcgruer commented on #26015
@k7z45 - I think the more useful thing would be to try them within WPT, basically building a prototype for the RFC to point at. Given the multiple requests for using `asyncio`, I would suggest taking https://github.com/aaugustin/websockets/ and adding support for it to `tools/webdriver/` . Does that make sense? I'm happy to sync offline about a plan here :).

@zcorpan - At the moment, I consider t

[2020-10-13 11:51] stephenmcgruer opened #26097 "No results for webkitgtk nightly since Oct 10th"
[wpt.fyi shows](https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk) no results for webkitgtk nightly since October 10th.

Looking at `epochs/daily`, looks like one task failed yesterday at least: https://community-tc.services.mozilla.com/tasks/groups/Ou6NP7O3RNiZH8248bBncg

[Log file](https://community.tas

[2020-10-13 11:51] stephenmcgruer commented on #26097
cc @clopez

[2020-10-13 12:53] stephenmcgruer commented on #25678
Argh, thanks to discussion with @jgraham I realize I was mixing up relative and absolute imports in my head. I am editing all my comments above to avoid confusion from this mistake -_-.

For clarity, this **is** a relative import: `from .utils import myfunc`. This is **not** a relative import: `from utils import myfunc`.

Based on this, I have a new proposal: ban relative imports entirely in Pytho

[2020-10-13 12:55] jgraham commented on #25678
If we do `from utils import helper_func` in two different directories, do they end up with different keys in sys.modules (i.e. will the second one end up trying to import `helper_func` from the `utils` module provided by the first)?

[2020-10-13 13:19] jgraham commented on #25678
Ah, I see, a global directory. The ergonomics of that seem pretty poor. Unless we made wpt itself a module and you could do something like `from wpt.css.images3 import my_helper`, which would mean having `__init__.py` files in lots of intermediate paths (unless there's some import hackery we could do to make that work).

[2020-10-13 13:59] gsnedders commented on #25678
Does https://www.python.org/dev/peps/pep-0420/ not solve that (shipped Py 3.3 and later)?

[2020-10-13 14:08] miketaylr commented on #26055
I found some more code trying to do something useful related to clearing cookies between runs (but I think it fails for the domain-related tests because it's not `domain` attribute aware).

https://github.com/web-platform-tests/wpt/blob/9df1f873a7d7739579642b6826955cb981181330/cookies/http-state/resources/cookie-http-state-template.js#L76-L98

[2020-10-13 15:05] maxlgu commented on #26013
@tdresser @npm1

[2020-10-13 21:02] styk-tv commented on #22511
@guest271314 thank you for your detailed explanation. I sincerely appreciate it.

[2020-10-14 01:33] Hexcles commented on #25678
It seems that the party has moved on to discussing restricting relative imports, etc., but I wanted to circle back to the original issue at hand: restoring `sys.modules`.

I found this [SO answer](https://stackoverflow.com/a/42147789) and verified that it's still true as of Python 3.9 (part of the import system is implemented in C and holds onto a reference to the original `sys.modules` so replaci

[2020-10-14 04:48] k7z45 commented on #26015
Got it, will sync with you.
cc @JohnChen0

[2020-10-14 09:26] jgraham commented on #25678
I fully support trying that approach; it seems simpler than anything else.

[2020-10-14 09:55] jgraham commented on #25678
https://github.com/web-platform-tests/wpt/pull/26111 although I realised whilst I was writing it that it doesn't address the underlying problem that we have multiple threads making possibly conflicting changes to a shared data structure. But it does at least make the code work as it was originally intended to.

[2020-10-14 11:27] stephenmcgruer commented on #25678
Wow, that's an amazing find! Great job on discovering why replacing sys.modules doesn't work.

Right, this potentially makes things worse in the presence of threads because we've gone from a 'simple' variable assignment (not necessarily simple in Python!) to a more complex interaction. That said, if this change unblocks our Py3 move and we're still intending to address the wider broken situation w

[2020-10-14 12:00] jgraham commented on #20282
This is now fixed for all cases where the test window and window where the interaction is taking place can get handles to each other (i.e. excluding rel=noopener and similar).

[2020-10-14 12:00] #20282 closed

[2020-10-14 14:11] npm1 commented on #26013
Filed crbug.com/1138437 (AFAIK only chromium-based browsers support the `detail` field right now) and will update the toJSON test when this is fixed.

[2020-10-14 14:42] stephenmcgruer commented on #25678
Based on @Hexcles comment in the PR, it unfortunately does not fix the original problem of *this* issue, which was the exception in Py3. It may still be an improvement worth landing because it (in theory) makes local absolute imports not incorrectly cache between handlers.

[2020-10-14 15:02] stephenmcgruer opened #26115 "New func.toString test name fallback can lead to duplicate subtest names"
The fallback added in https://github.com/web-platform-tests/wpt/pull/25853 (and modified in https://github.com/web-platform-tests/wpt/pull/26100) can cause problems if tests register multiple 'identical-looking' subtests. This most likely comes up in the presence of helper functions (where it was discovered in a recent [Chromium import](https://test-results.appspot.com/data/layout_results/linux-re

[2020-10-14 17:08] stephenmcgruer commented on #26115
I'm happy to fix Chromium's set of tests, but more broadly I have two concerns here:

1. This requires boilerplate where previously we didn't need any. It is a regression in supported behavior, even if it didn't (to my knowledge) cause any regression in WPT today.
1. Trying to imagine the perspective of test authors whom you landed #25853 for (i.e. who strongly object to testharness.js' "verbosity

[2020-10-14 19:31] clopez commented on #26097
As far as I see there has been two runs missing, on october 12 and october 13

* List of runs (nightly/experimental channel) which should be daily: https://wpt.fyi/runs?label=master&label=experimental&from=2020-10-07T00%3A00&product=webkitgtk

The run failed for october 13 is the one you point here. However, I have been unable to find the failed run for october 12.
Finding the exact sha1 commit of

[2020-10-14 20:59] DCtheTall opened #26123 "CookieStore API test should not set a domain property on localhost"
I noticed recently that cookie-store/cookieListItem_attributes.tentative.https.any.js will assert that the `cookie.domain` property is set even when the tests are being run on localhost.

I am not sure if this expectation makes sense on localhost. Since localhost has no subdomains, it doesn't make sense to set a domain cookie. I know that in Chromium (at least) it is not possible to create a domai

[2020-10-15 05:43] #9664 closed

[2020-10-15 14:01] Hexcles opened #26131 ""tools/wpt/ tests: Windows" and "tools/ unittests: Windows + Python 3.8" fail on Azure Pipelines"
These two tests have been failing consistently on Azure Pipelines. e.g.
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=56032&view=logs&j=47b03e2b-d31e-537f-c8cf-66c80d147ca1
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=56041&view=logs&j=802ce073-f5e3-5667-fac8-56b586b322fa

The failures all seem similar.

"tools/wpt/ tests: Windows":

"tools/ unittests:

[2020-10-15 14:24] gsnedders opened #26132 "resources.test doesn't work with pytest>=6"
this is due to https://docs.pytest.org/en/stable/deprecations.html#node-construction-changed-to-node-from-parent

[2020-10-15 18:03] #26115 closed

[2020-10-16 15:42] stephenmcgruer commented on #25007
Reminder: WPT at TPAC is happening next week!

**When**: Monday 19th October and Wednesday 21st October, 14:00-17:30 UTC
(hopefully-correct calendar event attached)
**What**: [Agenda](https://docs.google.com/document/d/1XhUwVbitdV03eX2GefmokCliWjQdAxBgblwITwNqsgc/edit#)
**How**: IRC (#testing on irc.w3c.org) and video conferencing (link to be announced via IRC and on the agenda doc on Monday).

Lo

[2020-10-16 16:14] miketaylr commented on #20932
I'm going to attempt to implement this (wish me luck...).

[code]

[2020-10-16 17:49] stephenmcgruer commented on #26097
We have successful runs on October 14th and October 15th. Given that I'm going to drop to `roadmap` priority, but would also be ok if this was just closed.

The big shift in time is suspicious though - notice that a passing run takes only 1hr15, whilst a timeout has to take 2 hours I think.

[2020-10-18 10:22] muodov commented on #21163
One complication of this is that service workers implies https, and this breaks some tests with cross-scheme errors ("Mixed Content" and such).
I am going to try and add serviceworker global wherever I can, and then go and fix the new failures caused by Mixed Content one by one. I guess it will be similar to [this pr](https://github.com/web-platform-tests/wpt/pull/14907)

[2020-10-18 12:51] foolip commented on #20932
Good luck!

[2020-10-19 03:55] marcoscaceres commented on #15434
Closed via https://github.com/web-platform-tests/wpt/issues/15434

[2020-10-19 03:55] #15434 closed

[2020-10-19 09:50] letitz opened #26166 "Cannot reliably test against different IP addresses"
Hi there, I believe this issue deserves the `type:untestable` tag but I am not empowered to tag it myself.

[CORS-RFC1918](https://wicg.github.io/cors-rfc1918/) is a spec aiming to prevent malicious public websites (e.g. `http://evil.com`) from attacking users' devices on the local network (e.g. smart fridge) or companies' intranet services.

It does so by partitioning IP addresses into 3 address

[2020-10-19 10:21] faceless2 opened #26168 "SVG pserver "invalid context" tentative tests don't match spec."
I don't agree with the the following tentative tests:
* https://github.com/web-platform-tests/wpt/blob/master/svg/pservers/reftests/pattern-inheritance-not-in-rendertree-01.tentative.svg
* https://github.com/web-platform-tests/wpt/blob/master/svg/pservers/reftests/gradient-inheritance-not-in-rendertree-01.tentative.svg

They seem to be based on the premise that pservers are not valid inside a `<te

[2020-10-19 11:25] stephenmcgruer commented on #26166
cc @web-platform-tests/wpt-core-team

[2020-10-19 13:15] stephenmcgruer commented on #19114
What is the status of this issue? The QUIC RFC and server landed long ago; are we done here @yutakahirano / @Hexcles .

If not what are the concrete steps left to close this out?

[2020-10-19 13:29] Hexcles commented on #19114
The server has been "added", but not enabled by default, which is still blocked by finalizing the API design https://github.com/WICG/web-transport/issues/125

Shall we close this one and open a new issue for enabling QUIC by default?

[2020-10-19 13:37] stephenmcgruer commented on #19114
No that's fine, this can just stay and be blocked on w3c/webtransport#125 - as long as we know the next steps

[2020-10-19 13:51] stephenmcgruer commented on #25007
A meeting link has now been added to the agenda.

[2020-10-19 20:06] stephenmcgruer commented on #25233
@npm1 - fyi if you'd like to try contributing this yourself we do have [a guide](https://docs.google.com/document/d/18BpD41vyX1cFZ77CE0a_DJYlGpdvyLlx3pwXVRxUzvI/edit#). The testdriver.js side is explained [in this tutorial](https://web-platform-tests.org/writing-tests/testdriver-extension-tutorial.html).

[2020-10-19 20:08] stephenmcgruer commented on #24755
@ewilligers - there has been some recent work to make testdriver work across all frames that aren't `rel=noopener`. See [the new documentation](https://web-platform-tests.org/writing-tests/testdriver.html#using-testdriver-in-other-browsing-contexts). Can you see if this new support works for your usecase, or if not what else is required?

[2020-10-19 20:41] stephenmcgruer commented on #16147
I believe this test is now https://wpt.fyi/results/fetch/metadata/iframe.https.sub.html, which has a harness-level failure but no clear use of `{{host}}.` (with the trailing dot).

If you happen to still remember, could you explain what the issue was here mikewest? (I'm not sure what 'fails to load in the test harness' means.)

[2020-10-20 07:17] annevk commented on #21163
Ah yeah, that's right. Sorry for not giving a fair warning about that. I think it's also fine to leave any such tests alone for the moment.

[2020-10-20 15:43] miketaylr opened #26190 "Re-write (parts of?) cookie directory test infrastructure"
Right now a large portion of cookies/http-state/ is broken due to clearing of cookies not working. And the domain and path tests just don't work as designed (because they are hard-coded for `example.org` domains).

Rather than fix that, it seems nicer to just re-write them.

@annevk gave a nice suggestion for how this might be achieved

files, we instead have a JSON representation for input and ex

[2020-10-20 17:25] gsnedders opened #26191 "Status of test automation and usage of cross-browser testing APIs"
From TPAC 2020: https://www.w3.org/2020/10/19-testing-minutes.html#t02

We have a number of action items:

- [ ] reach out to [Browser Tools & Testing WG to find out anything about usage of WebDriver endpoints added for browser testability by the general developer community]
- [ ] reach out to selenium [to do likewise]
- [ ] partner with browser engineering team(s) to find out where the process [o

[2020-10-20 19:52] miketaylr commented on #20932
Here's a sketch of a plan, based my loose understanding of how this all works:

* [ ] 1. define a `subdomain` getter in the `URLManifestItem` in [item.py](https://github.com/web-platform-tests/wpt/blob/master/tools/manifest/item.py#L106)
(Note: `SourceFile` will then have the subdomain stuff in the `meta_flags` property in [sourcefile.py](https://github.com/web-platform-tests/wpt/blob/master/tools

[2020-10-20 22:57] Hexcles commented on #26166
With some rare exceptions (e.g. mobile testing), tests are almost always served from localhost in an automated system (wpt.live is for manual testing only).

To support private and public addresses from the infra side, we could bind additional IPs to a loopback device, which of course requires root permissions. I think we can do this on Taskcluster and Azure Pipelines, but not sure whether it's po

[2020-10-21 11:42] stephenmcgruer commented on #26166
Forgive my networking ignorance, but are the domains we bind to in `/etc/hosts` treated as localhost by the browser (aka `local` scope) in these scenarios? See the output of `./wpt make-hosts-file`:

[code]

If someone were to set a URL as those (via [server-side substitution](https://web-platform-tests.org/writing-tests/server-pipes.html#sub), e.g. using `{{hosts[alt][]}}` I think?), would it cou

[2020-10-21 13:03] mikewest commented on #26166
@stephenmcgruer: Yes. Anything bound to loopback (127.0.0.0/8) is considered to be a "local" endpoint, regardless of name. We look at the IP address associated with the socket, not at the domain.

@Hexcles: An alternative could be to teach the test driver some new tricks to classify some IP addresses as local and others as public. That would put the burden on the browsers to do the categorization

[2020-10-21 20:44] stephenmcgruer commented on #26166
I would personally lean towards a webdriver extension, since 'buying a public IP address' seems future-brittle, but in either case @Hexcles is correct and the next step is likely [an RFC](https://github.com/web-platform-tests/rfcs). Please feel free to pick your favorite solution to the problem and write up a short RFC with summary/details/risk sections, then browser vendors/etc can chime in :)

[2020-10-22 08:42] yutakahirano commented on #19114
I think now it's unblocked. @jan-ivar

[2020-10-22 09:03] annevk commented on #26190
One thing to keep in mind while designing this is that (if we end up standardizing on Chrome's model of cookies, which seems to be the most web-compatible) there are effectively two data models at play:

* `Set-Cookie`: takes bytes as per [header value](https://fetch.spec.whatwg.org/#concept-header-value). (Not entirely defined in detail.)
* `document.cookie`: takes a scalar value string and UTF-8

[2020-10-22 12:32] letitz commented on #26166
Alright, thanks! I'll read up on webdriver and how we could leverage that, and come back with an RFC in hand :)

[2020-10-22 12:52] jgraham commented on #20932
I don't think it actually needs to be part of the environment these days. It used to be that we loaded some code in the initial window and postMessaged from the test window to the harness window. But these days the harness window is just a placeholder so you can just make it part of the test url and not part of the environment.

[2020-10-22 12:55] jgraham commented on #20932
Apart from that (which I hope results in a simplification) I think that sounds reasonable.

[2020-10-22 13:06] mrrichardli opened #26233 "chrome_android Max restarts exceed error"
Hi, guys! I encounterd a problem as described below when I try to run the web platform tests for a android chrome .  I have idea what is going wrong , so I search for help here.

![image](https://user-images.githubusercontent.com/9251803/96873928-21428180-14a8-11eb-9b21-70bfc87ddd67.png)

![image](https://user-images.githubusercontent.com/9251803/96874052-4800b800-14a8-11eb-95d2-16af6828fe55.png)

[2020-10-22 20:22] miketaylr commented on #20932
Great, thanks -- that does simplify things.

[2020-10-22 20:35] #6266 closed

[2020-10-22 21:53] miketaylr commented on #20932
Note to self, figuring out how to run relevant tests was tricky. This does the trick (at least for test_item.py):

`tox -epy27 -- manifest/tests/test_item.py `

[2020-10-23 00:53] arai-a commented on #24659
dupe of https://github.com/web-platform-tests/wpt/issues/2835 I think

[2020-10-23 08:01] #2835 closed

[2020-10-23 08:03] #24659 closed

[2020-10-23 13:24] foolip opened #26257 "[css-flexbox] table-as-item-specified-width.html fails in the same way in all browsers"
Behold: https://wpt.fyi/results/css/css-flexbox/table-as-item-specified-width.html?run_id=711240001&run_id=697770002&run_id=737900001&run_id=715540002&run_id=705490001&run_id=720530001

The actual screenshot look something like this for all browsers, this one being from Firefox:
![image](https://user-images.githubusercontent.com/498917/97008682-6ebffc80-1543-11eb-80cd-394a0fa5d438.png)

The test w

[2020-10-23 13:27] clopez commented on #26097
Good point.
I checked the timestamps on that run and I couldn't spot any specific test that took too much time to complete. No one of the tests ran there took more than 20 seconds and only 4 took more than 10 seconds. It just looks like everything took a bit more in general.

Maybe there was some issue on the CI that caused that job to run slower, don't know

The last daily run today (oct 23) for

[2020-10-23 13:27] #26097 closed

[2020-10-23 17:14] #26071 closed

[2020-10-23 17:19] saschanaz opened #26264 "`wpt run` fails on Python 3.9 on Windows, needs pillow 8.0.0"
[code]

Currently WPT is using pillow 6.2.2 which only supports Python 3.8. Version 8.0.0 added 3.9 support: https://github.com/python-pillow/Pillow/issues/4953

[2020-10-23 18:41] saschanaz opened #26266 "Specify what `.pointerMove(0, 0, {origin: foo})` supposed to do"
Gecko interprets the zero coordination as the center of the `foo` element while Blink seems to do it differently.

This difference has been quite painful for me, so it would be great if we document this. Currently [testdriver.md](https://github.com/web-platform-tests/wpt/blob/32c3c8c5d65295b74eb8415d09ca382c4df1dfe8/docs/writing-tests/testdriver.md) does not say anything about it.

[2020-10-23 18:49] stephenmcgruer commented on #26266
cc @LanWei22

[2020-10-23 18:52] stephenmcgruer commented on #26266
`.pointerMove` is part of the `testdriver-actions.js` helper library I think - is this difference coming from that wrapper, or is there an actual different in the `testdriver.js` or `webdriver` layers?

There are various tests in `webdriver/` that call `pointer_move`, do we know if any of them have differing results on Chrome/Firefox that show this off?

[2020-10-23 18:55] jgraham commented on #26266
The WebDriver spec is the authority here:
https://w3c.github.io/webdriver/#pointer-actions
[code]

So I'm pretty sure Gecko's behaviour is correct unless there's some weirdness with the element not being in view.

[2020-10-23 19:16] stephenmcgruer commented on #26266
At a stab, https://wpt.fyi/results/webdriver/tests/perform_actions/pointer_origin.py?label=experimental&label=master&aligned would probably be the right test if a test existed, and its 10/10 in Chrome and Firefox.

@saschanaz - can you explain what you've seen in terms of 'Blink seems to do it differently' ?

[2020-10-23 19:20] saschanaz commented on #26266
Given this DOM tree:

[code]

and this script:

[code]

I see Gecko moves from the center of the `foo` to the center of the `bar` (as expected) but Chrome moves from the start of the `foo` to somewhere beyond `bar`.

[2020-10-23 19:57] stephenmcgruer commented on #26266
I may be holding it wrong, but I don't visually see a difference for me (Linux, Chrome 88.0.4292.2 dev and Firefox 84.0a1):

[code]

`./wpt run --log-mach=- --channel=dev chrome css/test.html`

![Screenshot 2020-10-23 at 15 53 49](https://user-images.githubusercontent.com/153264/97048443-6f0ec680-1548-11eb-9c09-be7a7730c3a5.png)

`./wpt run --log-mach=- --no-headless --channel=nightly --binary=$HO

[2020-10-23 20:12] saschanaz commented on #26266
That's weird, could it be Windows-only thing? 🤔

I just uploaded the full patch so you can access it here: https://hg.mozilla.org/try/rev/1bbb16e55d5e8b65b74767c885b140941a274827 (should be visible soon)

[2020-10-23 20:53] Hexcles commented on #26131
There are a bunch of issues.

1. Re the `requests` library: virtualenv created by tox wasn't being respected in the test. This is likely https://bugs.python.org/issue38905 and I have a tentative fix in #26267 which replaces the hardcoded `python` with `sys.executable`.
2. Re the more mysterious `tools/wpt` failure, I have the full logs from wptrunner: https://dev.azure.com/web-platform-tests/wpt/_

[2020-10-24 00:09] davidsgrogan commented on #26257
The test matches the spec (as far as I understand), but tests an apparently uncommon situation, as evidenced by the fact that no one complained when Chrome 84 broke the rendering (literally 0 bugs reported, I didn't know 84 broke it until 85 broke a similar case and I was poking around)

@atotic checked in some TablesNG code yesterday that will fix this in Blink.

Firefox's bug about this is https

[2020-10-24 00:10] davidsgrogan commented on #26257
Oh, just for reference, Chrome's bug for this case is https://crbug.com/1128262

[2020-10-24 16:33] foolip commented on #26257
Thanks @davidsgrogan, if the spec makes sense and there's low risk in any behavior, then keeping this as-is seems OK. I'm always suspicious of tests that fail everywhere in the same way and changing the spec is usually the best fix, but not in every single case :)

I've gone ahead and linked https://bugs.chromium.org/p/chromium/issues/detail?id=1128262 and https://bugzilla.mozilla.org/show_bug.cgi

[2020-10-24 16:33] #26257 closed

[2020-10-24 17:05] foolip commented on #26257
I think https://bugs.webkit.org/show_bug.cgi?id=210102 is the most relevant WebKit bug for this, linked on wpt.fyi now too.

[2020-10-24 21:59] gsnedders commented on #26264
Need to make the requirements  pin to <7 on Py2 and a bumpable, up-to-date version on Py3.

[2020-10-25 03:54] atotic commented on #26257
As a general rule, tables inside flex/grid are trouble, and cross-browser compatibility is poor right now. Clear standards are also missing. This is an area that could use an explicit standard.

The root of the problem is computing table's intrinsic maximum size. It's value differs depending on table's parent: block layout parent produces one value, grid/flexbox/table cell another.

[2020-10-25 07:36] foolip commented on #26257
@atotic I see, I suppose the test coverage for it is also not great then?

And which spec should define this?

[2020-10-26 11:31] stephenmcgruer commented on #23362
I don't think this is roadmap at this time. This is code-health cleanup work, so dropping to backlog.

[2020-10-26 11:32] #23335 closed

[2020-10-26 11:33] stephenmcgruer commented on #23335
Assuming fixed by https://github.com/web-platform-tests/wpt/pull/24768

[2020-10-26 11:45] #26264 closed

[2020-10-26 12:43] muodov opened #26285 "Generic metadata in .any.js tests"
At the moment, .any.js tests support just a few `// META: ` entries such as `title`, `timeout`, and a few specific entries such as `script`. Other metadata entries seem to be silently ignored.

Window tests widely use `<meta>` tags such as "author" and "help", and it's currently not clear from the docs whether it's safe to use `// META: author=John Doe`.

So my questions are:
- what should be the

[2020-10-26 21:48] Hexcles opened #26295 "infrastructure/testdriver/click_iframe_crossorigin.sub.html fails on Chrome macOS"
cc @stephenmcgruer @jgraham this is a somewhat mysterious macOS-only failure.

https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=56544&view=logs&j=af75b4de-b26f-5d4d-58e8-b41258076d44&t=052839da-7227-5391-fe2d-4b66ec169a0c&l=465
[code]

"The GPU process has crashed 1 time(s)" seems suspicious, but could be a red herring.

I'm going to create a metadata for this to temporarily sup

[2020-10-26 22:46] Hexcles commented on #26295
Well, it's actually flaky: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=56551&view=logs&j=af75b4de-b26f-5d4d-58e8-b41258076d44&t=052839da-7227-5391-fe2d-4b66ec169a0c&l=468

[2020-10-26 22:47] Hexcles commented on #26295
And yes, that's with Stephen's https://crrev.com/c/2481347 already merged.

[2020-10-27 11:35] stephenmcgruer commented on #26295
Yeah, the tracking https://crbug.com/1137228 has also continued to receive reports even after my attempted fix :(.

I haven't had time to dig in yet however.

[2020-10-27 13:42] #26131 closed

[2020-10-27 23:58] miketaylr commented on #20932
OK, this is a thing now.

[2020-10-27 23:58] #20932 closed

[2020-10-28 08:39] annevk commented on #26285
FWIW, I don't mind removing this metadata. I don't think recording authorship was ever a good idea and the help stuff is routinely out-of-date and I'm not aware of people actively using that in their workflow.

[2020-10-29 09:09] #21163 closed

[2020-10-29 11:54] foolip opened #26326 "[css-flexbox] issue with the references for gap-006-*?"
These are the tests in question: [gap-006-lr.html](https://wpt.fyi/results/css/css-flexbox/gap-006-lr.html?run_id=721050002&run_id=736480001&run_id=728600003&run_id=738380003&run_id=730670002&run_id=747840008), [gap-006-ltr.html](https://wpt.fyi/results/css/css-flexbox/gap-006-ltr.html?run_id=721050002&run_id=736480001&run_id=728600003&run_id=738380003&run_id=730670002&run_id=747840008), [gap-006-

[2020-10-29 12:02] muodov commented on #26285
Are there other more important tags? I guess "help" links to the relevant spec sections might be worth keeping?

[2020-10-29 13:05] stephenmcgruer commented on #26266
Assuming https://github.com/web-platform-tests/wpt/pull/26278 is the patch, it looks like it passed 22/22 on Chrome + Safari? Can this issue be closed then?

[2020-10-29 14:49] annevk commented on #26285
Maybe, but historically at least that often got out-of-date. Perhaps things are more stable these days,  but I'd still be a bit wary.

[2020-10-29 15:08] 123mansha commented on #2831
hii!! I would like to work on this issue if it is still not assigned
i am a newbie and want you to guide me over this project

[2020-10-29 15:10] 123mansha commented on #2611
Hii!! I am a newbie and want to work on this issue.
Please guide me how to resolve this issue and also if possible give me some references to solve this issue

[2020-10-29 16:54] argyleink commented on #26326
afaict, this is an interop issue that's unrelated to gap and is closer to flex alignment

[2020-10-29 17:00] foolip commented on #26326
Can the references here be turned into test (for flex alignment) in themselves and the references changes to use some other technique that will be consistent?

[2020-10-29 17:47] stephenmcgruer opened #26329 "Azure Pipelines jobs being cancelled due to errors provisioning resources"
This is affecting PRs, which aren't getting results for Safari.

Based on https://dev.azure.com/web-platform-tests/wpt/_settings/agentqueues?queueId=21&view=jobs, this started around 5:30am this morning.

It also will be affecting full test-suite runs, e.g. the last four `three_hourly` runs have failed: https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1&_a=summary&repositoryFilter=

[2020-10-29 18:25] zcorpan commented on #2831
@123mansha great, thank you!

The documentation has a tutorial on how to write reftests that might help: https://web-platform-tests.org/writing-tests/reftest-tutorial.html

Ask in IRC if you get stuck: http://irc.w3.org/?channels=testing

[2020-10-29 19:06] mustjab commented on #26329
Can you try to enable system.debug variable (set the value to true), then trigger a build to capture and share the complete logs.

This seems to happen every now and then: https://developercommunity.visualstudio.com/content/problem/946259/an-error-occurred-while-provisioning-resources-azu.html

Can you report this issue to Azure Pipelines on the developer community page. Let me know if you don't g

[2020-10-29 19:17] davidsgrogan commented on #26326
So what we need to do is

(1) Take the current gap-006-ltr reference, make it a separate wpt and figure out why engines don't render it the same.
(2) Change the gap-006-* tests to not be affected by this difference.

@argyleink do you want to do this or do you want me to?

[2020-10-29 20:23] argyleink commented on #26326
![image](https://user-images.githubusercontent.com/1134620/97628205-a0284480-19e9-11eb-8d42-e266af20dea2.png)

Firefox Nightly not showing the issue for me, and it should be right? I can't make any of my browser versions reproduce the issue shown in the WPT tests reference. Is anyone able to recreate the issue in a local environment?

[2020-10-29 21:16] davidsgrogan commented on #26326
Yeah, I see the problem in Firefox nightly. Maybe that means it's a text measurement thing that is environment dependent.
![Screen Shot 2020-10-29 at 2 15 37 PM](https://user-images.githubusercontent.com/1801875/97633461-5fccc480-19f1-11eb-970b-e1b89549c8e3.png)

[2020-10-29 21:45] argyleink commented on #26326
confirmed, i can reproduce only with Firefox Nightly on Linux

[2020-10-29 22:27] argyleink commented on #26326
![nightly-flexbox](https://user-images.githubusercontent.com/1134620/97639129-31ec7d80-19fb-11eb-8e4f-908982318d77.gif)

[2020-10-29 22:34] foolip commented on #26326
@stephenmcgruer is there a straightforward way to tell if this test has always been failing in Firefox, to rule out that it's just a regression in Nightly? (If it is then maybe the test could be left unchanged.)

[2020-10-29 22:44] davidsgrogan commented on #26326
I recall that this has always been failing, but I am interested to hear how to query for that info :)

[2020-10-29 22:45] davidsgrogan commented on #26326
And, I'm 99% sure this isn't a bug in Firefox, just an unfortunate effect of Chrome and Firefox giving the default font different sizes.

We'll fix the reference to work in both browsers.

[2020-10-29 23:09] TalbotG opened #26335 ""epochs", "pr-preview-sync", "Regenerate WPT certificates" scheduled workflows disabled"
@web-platform-tests/admins

Dear fellow advanced GitHub colleagues,

I received today 3 short auto-generated emails notifying me of the disability of 3 scheduled workflows and inviting me to restart these, then to click a link:

{
[GitHub] The "epochs" workflow in TalbotG/web-platform-tests has been disabled
From 	GitHub <noreply@github.com>
Date 	Today 09:51 AM

Scheduled workflows are disabled a

[2020-10-30 13:43] stephenmcgruer commented on #26335
These are all [GitHub Actions](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/introduction-to-github-actions) run on the WPT repository to perform various automated tasks.

Historically, GitHub has done a bad job of handling actions in forks of respositories - they often tried to run but broke (e.g. if they rely on [GitHub Secrets](https://docs.github.com/en/free-pro-

[2020-10-30 13:43] #26335 closed

[2020-10-31 18:29] saschanaz commented on #26266
It still fails hard on my Windows machine, using Chrome 88.0.4302.0 dev channel.

![image](https://user-images.githubusercontent.com/3396686/97786931-1924c900-1baf-11eb-89a5-8d23a9fa4755.png)

Which suggests this is a Windows-specific Chrome bug. Could someone from Google confirm this?

Anyhow, I think we should still specify it, at least a link to webdriver spec.

[2020-10-31 18:36] saschanaz opened #26353 "`wpt run` fails to run on Python 3.9"
It fails to run both Firefox and Chrome.

<details>
<summary>Log</summary>

[code]

</details>

[2020-10-31 19:15] saschanaz commented on #26353
This is fixed in upstream, it just needs a new release. https://bugzilla.mozilla.org/show_bug.cgi?id=1670130

[2020-11-01 13:41] 123mansha commented on #2831
okk sure!! Thanks @zcorpan

[2020-11-02 13:47] stephenmcgruer commented on #26329
@mustjab - debug PR is https://github.com/web-platform-tests/wpt/pull/26363, https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=56820&view=results is a reproduction with system.debug set to true. Doesn't seem to affect the logs I get.

Will file a developer report (though note that https://developercommunity.visualstudio.com/content/problem/946259/an-error-occurred-while-provision

[2020-11-02 13:55] stephenmcgruer commented on #26329
Filed https://developercommunity.visualstudio.com/content/problem/1241184/an-error-occurred-while-provisioning-resources-azu-1.html

[2020-11-02 14:01] stephenmcgruer commented on #26285
cc @web-platform-tests/wpt-core-team since this seems to be heading towards the meta question of what metadata we want to support (pun intended).

[2020-11-02 14:01] lilles opened #26364 "Cannot test ::target-text rendering"
There are a lot of limitations on when we are allowed to use text fragment for navigation:

https://wicg.github.io/scroll-to-text-fragment/#security-and-privacy

I have not found a way to make a ref-test within these limitations with the current wpt framework. Testing locally, I am able to do so by adding support for meta variants for reftests. That is, add <meta name="variant" content="#:~:text=m

[2020-11-02 14:12] Ms2ger commented on #26285
Do we not lint against invalid keys? We might need to document that.

Help links can be in plain comments - that also allows matching them to subtests or specific assertions, rather than just the entire file. Git already does better at authorship information. I definitely don't think either of those are compelling use cases to complicate the META feature.

[2020-11-02 16:57] mustjab commented on #26329
There is a known incident with MacOS provisioning: https://status.dev.azure.com/_event/212096467

[2020-11-03 12:38] stephenmcgruer commented on #26329
The incident is marked resolved as of 2020/11/02 8pm EST. Most of our pipeline jobs are now running, but I see a few recently cancelled in https://dev.azure.com/web-platform-tests/wpt/_settings/agentqueues?queueId=21&view=jobs

Keeping this open for now to monitor, but will close later today if the pipeline continues to flow correctly.

[2020-11-03 14:13] lilles commented on #26364
I made this patch to allow me to work on test-cases, but it's by no means PR-ready:

https://chromium-review.googlesource.com/c/chromium/src/+/2517060

It introduces support for a meta tag for fragments:

[code]

[2020-11-03 14:43] Cwiiis opened #26381 "OffscreenCanvas RTL tests don't seem to set RTL anywhere"
OffscreenCanvas duplicates a bunch of tests from canvas element, including some RTL tests, but none of these tests actually set text direction.

You can see an example of this in the test `offscreen/text/2d.text.draw.align.end.rtl.html`, which is derived from the test of the same name in the `drawing-text-to-the-canvas` tests for the Canvas element.

I suppose text direction could be set using the

[2020-11-03 14:48] Cwiiis commented on #26381
A note, adding 'rtl' to the end of the font string in the test mentioned above does fix the test (in that it passes with the expected result).

[2020-11-03 20:26] muodov commented on #26285
Makes sense. Should we discourage no-op meta tags in html tests then?

[2020-11-04 02:42] #26326 closed

[2020-11-04 13:55] stephenmcgruer commented on #26329
Everything looking good now, closing.

[2020-11-04 13:55] #26329 closed

[2020-11-04 14:46] graouts opened #26393 "Safari and STP fail to run ~3000 url tests"
Some of the url WPT tests fail to run as reported by WPT.fyi:

* [url/a-element-origin-xhtml.xhtml](https://wpt.fyi/results/url/a-element-origin-xhtml.xhtml?label=experimental&label=master&aligned)
* [url/a-element-origin.html](https://wpt.fyi/results/url/a-element-origin.html?label=experimental&label=master&aligned)
* [url/a-element-xhtml.xhtml](https://wpt.fyi/results/url/a-element-xhtml.xhtml?l

[2020-11-04 14:47] graouts commented on #26393
This is tracked by rdar://70996055 internally at Apple.

[2020-11-04 14:53] jgraham commented on #26393
So `result` here comes from `result = protocol.base.execute_script(self.script_resume % format_map, asynchronous=True)` in `executorwebdriver.py`. `script_resume` is https://github.com/web-platform-tests/wpt/blob/32c3c8c5d65295b74eb8415d09ca382c4df1dfe8/tools/wptrunner/wptrunner/executors/testharness_webdriver_resume.js which ends up calling https://github.com/web-platform-tests/wpt/blob/32c3c8c5d

[2020-11-04 18:32] graouts commented on #26393
This could be due to me manually quitting Safari because the test completes and the window remains open.

[2020-11-04 19:43] Hexcles commented on #26393
I was able to reproduce the error after all (after rebooting my Macbook, which could totally just be a coincidence).

I did bisecting and found the culprit
https://github.com/web-platform-tests/wpt/commit/4e15edcc3ca51c72c3846133c7b175ecd94b3a9b#diff-760122a1234231092e5a1a2ca8655bffdda80ff57f58327f69823cf31423c39aR4638
**specifically** this input: `"http://example.com/\uD800\uD801\uDFFE\uDFFF\uFDD

[2020-11-04 20:07] stephenmcgruer commented on #25007
Thanks all for a very successful TPAC 2020 meeting! I have put together a summary document, which should be world-readable.

[WPT TPAC 2020 - Summary](https://docs.google.com/document/d/1RxENU4lhLyF9xtgUja9DbghmQmNX8ur0zF-1nHD7Ic4/edit#)

I have also created a wiki page: https://github.com/web-platform-tests/wpt/wiki/TPAC-2020

[2020-11-04 20:07] #25007 closed

[2020-11-04 21:10] gsnedders commented on #26393
Containing lone surrogates most notably, which seems plausibly problematic with JSON.

[2020-11-05 01:02] burg commented on #26393
I investigated the safaridriver side of things. It looks the the decoding error comes from trying to decode a UTF-8 buffer as JSON using Foundation's +[NSJSONSerialization JSONObjectWithData:options:error:]. I'm pretty sure that the JSON string is being created via JSC's JSON.stringify in WebKit. I haven't investigated whether this is part of the test JS or as part of safaridriver's helper JS.

It

[2020-11-05 08:12] gsnedders commented on #26393
This very much looks like we've just run into https://github.com/web-platform-tests/wpt/issues/17577 again. So dupe of that?

[2020-11-05 12:36] hsivonen opened #26412 "Add a third site"
Currently, tests can depend on only two distinct sites: default and `alt`. Please add a third one for testing more complex frame hierarchies where each level is process-isolated from the others.

[2020-11-05 12:38] jgraham commented on #26285
I agree in principle, but I also note that we lint CSS tests for `<link rel=help>`, so it kind of makes sense to support that one. Otherwise we should lint for things that have no effect since they could be errors.

[2020-11-05 14:47] ziransun opened #26417 "Missing file fetch/connection-pool/resources/network-partition-about-blank-checker.html"
This file is called by test `fetch/connection-pool/network-partition-key.html`

[2020-11-05 15:36] MattMenke2 commented on #26417
Thanks!  Fortunately, I still have that file locally, so just need to figure out github again and create a CL with it.

[2020-11-06 00:36] yiyix opened #26425 "test textRendering"
testRendering can be set to auto, optimizeSpeed, optimizeLegibility and geometricPrecision. How to test these settings? I found the explanation in mozilla website, https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering, the examples shows differently in chrome and firefox.

Thank you for the help.

[2020-11-06 09:40] ziransun commented on #26417
Great!

[2020-11-06 10:55] zcorpan commented on #2611
@123mansha great, thank you! 🎉

The test would be a testharness.js test, using the `test()` function, and doing the same thing as http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3912 (but using `assert_equals()` instead of logging with `w()`). The documentation has a [testharness.js tutorial](https://web-platform-tests.org/writing-tests/testharness-tutorial.html) which might help.

If

[2020-11-06 11:38] ziransun opened #26429 "Some tests in html/cross-origin-opener-policy/reporting/navigation-reporting reported "badly formed hexadecimal UUID string""
Some test in html/cross-origin-opener-policy/reporting/navigation-reporting, e.g.

[code]

end with TIMEOUT due to `"badly formed hexadecimal UUID string" `

Traceback is as follow:

[code]
@Hexcles: Is this expected?

[2020-11-06 15:31] Hexcles commented on #26429
Based on https://wpt.fyi/results/html/cross-origin-opener-policy/reporting/navigation-reporting/reporting-popup-same-origin.https.html?label=master&label=experimental&aligned&q=html%2Fcross-origin-opener-policy%2Freporting%2Fnavigation-reporting, it seems that the test behaves well in Python 2 so this is a Py3-only issue.

It definitely shouldn't happen.

Could you log before this line what `key`

[2020-11-06 17:22] stp-ekioh opened #26434 "Python generates TypeError in pickle.dump when using wpt update-expectations"
Hi - I've been trying to use "wpt update-expectations" to generate some test expectation data for our Flow browser and have run into a couple of problems.  Having run some tests (in this case using Firefox for illustration) I'm running the following command on Ubuntu 20.10 to generate the new expectation data:

    ./wpt update-expectations --product firefox firefox.log

which produces the followi

[2020-11-06 19:09] KyleJu opened #26435 "Edge Canary broken since Nov 4"
There have been no successful Edge  Canary runs since Nov 4([view here](https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk))

[The Azure Pipelines](https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=57120&view=logs&j=2b376673-b6b7-55d3-67e2-e8305abf5c1e&t=898f303f-4a65-539a-fe97-199939e2ae

[2020-11-06 19:12] KyleJu commented on #26435
On a side note, it appears that https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1&_a=summary&view=runs requires login now but I can still view individual runs directly

[2020-11-06 19:14] KyleJu commented on #26435
cc @mustjab @stephenmcgruer

[2020-11-06 19:43] mustjab commented on #26435
This is due to python38 installer tests that we've been running on Windows machines. I've rebuilt the Windows images to clean state, which should resolve this issue.

[2020-11-06 20:11] KyleJu commented on #26435
Thanks for the quick reply! I will keep an eye on the run today

[2020-11-07 20:06] KyleJu commented on #26435
Runs are back. Closing this bug

[2020-11-07 20:06] #26435 closed

[2020-11-09 10:03] #26381 closed

[2020-11-09 10:21] mbrodesser opened #26445 "Update "Running Tests from the Web" documentation to mention non-edge case tests which can't be run in-browser"
[The documentation for running tests from the web](https://web-platform-tests.org/running-tests/from-web.html) doesn't mention that some tests can't be run from the web (e.g. [this one](http://wpt.live/html/interaction/focus/focus-01.html)). For the given example, that's because the test calls `send_keys`.

It would be nice, if this would be included in above mentioned documentation. Something lik

[2020-11-09 12:38] stephenmcgruer commented on #26434
cc @jgraham as the most knowledgeable about `update-expectations`

[2020-11-09 12:40] #21040 closed

[2020-11-09 12:51] stephenmcgruer commented on #26425
Not an expert, but reading https://svgwg.org/svg2-draft/painting.html#TextRenderingProperty there doesn't seem to be any testable behavior here? All of the described behavior is non-mandatory, e.g. 'shall make appropriate tradeoffs', 'shall emphasize geometric precision', 'This option will _usually_ cause' (emphasis mine).

You could perhaps write a [mismatch reftest](https://web-platform-tests.or

[2020-11-09 16:03] stephenmcgruer opened #26448 "`wpt test-jobs` can silently fail on Azure Pipelines"
Examples:
* https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=57167&view=logs&j=3a8a797a-cea8-5b38-08dd-c96687b91c17&t=4ef2e921-1fd4-56ed-4613-9c718b9f4b92
* https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=57172&view=logs&jobId=3a8a797a-cea8-5b38-08dd-c96687b91c17&j=3a8a797a-cea8-5b38-08dd-c96687b91c17&t=4ef2e921-1fd4-56ed-4613-9c718b9f4b92

The problem is tha

[2020-11-09 16:12] #26353 closed

[2020-11-09 18:03] #26448 closed

[2020-11-09 19:03] LukeZielinski commented on #24880
Looks like this has been mitigated...should we downgrade from roadmap to backlog, or are we expecting to fix any time soon?

[2020-11-09 19:48] Hexcles commented on #24880
I think we should keep it at roadmap given that we're moving to py3-only and we should start fixing & unskipping tests in PY3.

[2020-11-09 23:09] stephenmcgruer commented on #26266
I am unable to reproduce on Windows, using Chrome Dev 88.0.4315.5 :(

Seems reasonable, happy to review a doc PR to wherever seems reasonable (code comment, or https://web-platform-tests.org/writing-tests/testdriver.html ?)

[2020-11-10 00:58] tabatkins opened #26461 "`wpt serve` should have an option to suppress the debug messages on startup"
Currently, when you start `wpt serve`, it spews out a *ton* of debug messages, interspersed with a small handful of useful info messages. This makes those useful info messages (like what port is being used for each service) hard to find (or impossible, as it blows my console's textbuffer and I simply *can't* see the start of the messages).

These debug messages also simply aren't useful for ordina

[2020-11-10 15:17] #26445 closed

[2020-11-10 17:02] gsnedders commented on #26393
Closed, dupe of #17577.

[2020-11-10 17:02] #26393 closed

[2020-11-10 22:16] stephenmcgruer commented on #23081
@ziransun - can you start looking at how compatible our document generation is with Py3? (Low priority, but since the RFC is ongoing).

I believe `wpt build-docs` will run it, but you'll need to make sure that it's actually using py3 all the way down. Very high level list of things I think will likely need to happen:

1. Make sure that Python3 is being used all the way down when running `wpt build

[2020-11-11 07:53] atotic commented on #26257
I think it belongs in the table spec, where GRIDMIN is defined:
https://www.w3.org/TR/css-tables-3/#computing-the-table-width
Current definition of GRIDMIN is incomplete. It does not specify how table's intrinsic width is related to cells with percentage width.
The percentage width handling differs depending on whether container chain contains grid/flexbox/table cell.

[2020-11-11 15:34] gsnedders commented on #10451
You have to be using the same safaridriver version as you are Safari, and safaridriver isn't distributed separately to Safari, so there's never anything to download.

[2020-11-11 16:31] #17577 closed

[2020-11-11 21:44] Hexcles commented on #26364
Sorry for the late reply. To capture the discussion on Slack, there are three approaches considered so far:

1. Set `window.location` or use `window.open`, both of which require `testdriver.bless` to make scrolling to text work due to the security limitations. See #13183 for supporting testdriver in reftests.
2. Use `http-equiv=refresh` which seems to break the test runner.
3. Add a new meta tag f

[2020-11-12 14:13] jgraham commented on #26434
https://github.com/web-platform-tests/wpt/pull/26503 fixes this for me using Py3 on linux. Can you try that branch and let me know what further errors you see?

[2020-11-12 15:38] stp-ekioh commented on #26434
Thanks for the update - with that change in place the update-expectations command appears to work on Ubuntu 20.10 using Python 3, and generates a bunch expectation data for both Firefox and Flow.  However, If I try on my Mac I get the following error:

[code]
Annoyingly I've not been able to convince Firefox to run the tests at all on my Mac, and so can't prove that it's not just a Flow specific p

[2020-11-13 10:31] jgraham commented on #26434
@gsnedders does this ring any bells to you?

[2020-11-13 11:39] lilles commented on #26364
It looks like this should be possible with <meta name="variant"> if we add support for adding variant in ref-tests, instead of adding the new fragment meta. I ran into some issues, but I don't remember what that was now.

[2020-11-13 12:08] gsnedders commented on #26434
@jgraham no, it doesn't

IIRC unpickling issues are really awkward to figure out given the implementation is a bit opaque…

@stp-ekioh my best suggestion is to add `sys.modules['_pickle'] = None` at the top of `wpt/wpt` (probably right after the `sys` import before we import anything else; this disables the C extension module and makes pickle use its more easily debugged Python impl) and try runni

[2020-11-13 13:53] zcorpan commented on #7650
It would be good to automate this test with [testdriver.js](https://web-platform-tests.org/writing-tests/testdriver.html) as well.

[2020-11-13 14:05] lilles commented on #26364
This currently works for testharness tests, at least in Chrome:

[code]

Adding a loop over RefTests adding the variants at the end of the url like we do for TestHarness makes us run the reftests correctly in Chrome, but with missing expectation file. There's probably a simple fix for that.

[2020-11-13 14:45] stp-ekioh commented on #26434
Thanks for the info - looking at `load_newobj` in pickle.py, it seems as though as the class is `<class 'wptrunner.update.state.SavedState'>` which has got an empty argument list.  Looking at class BaseState it seems to be expecting to receive a logger.  I don't know if that helps at all.  Also no idea why this should be different on macOS.

[2020-11-13 16:09] gsnedders commented on #26434
Potentially something multiprocessing related, as nowadays it uses pickle to move things between processes.

But `wptrunner.update.state` does look broken; I can't see how it could ever succeed on any platform. I think the contents of that `__new__` should just be in the `__init__`?

[2020-11-13 16:46] davidvancleve opened #26528 "spec.src.json files contain comments"
@annevk points out that json files cannot contain comments

Perhaps the extension for these config files should be json5 instead

[2020-11-13 16:47] annevk commented on #26528
I'd rather we change them to be actual JSON.

cc @domfarolino

[2020-11-13 17:49] stephenmcgruer commented on #25449
@jgraham , @whimboo - have you two been able to determine whether or not we should be setting `acceptInsecureCerts`?

[2020-11-13 19:46] lilles commented on #26364
I just needed to strip the query off the path for references to make it work with variants: https://chromium-review.googlesource.com/c/chromium/src/+/2537679

[2020-11-14 21:22] davidsgrogan commented on #26257
I filed a spec issue about this 2 years ago https://github.com/w3c/csswg-drafts/issues/3336

[2020-11-16 14:19] ziransun commented on #24880
I have some findings and would appreciate your thoughts -

"console_main()" was introduced to pytest [here](https://github.com/pytest-dev/pytest/commit/73448f265d8c680c35dc66dfe65c3cc14fc337eb), about six months ago. Source code in tools/third_party/pytest/ is older and doesn't have `console_main()`.

In a local run with `tox` command, for Py38 it creates wpt/tools/.tox/py38/bin/pytest which calls

[2020-11-16 19:01] lilles commented on #26364
Added an RFC PR here: https://github.com/web-platform-tests/rfcs/pull/71

[2020-11-16 23:18] Hexcles commented on #24880
I took a deeper look and this is a bit convoluted.

First of all, it's important to note that the `ImportError` comes from Stash which runs in a separate process via `multiprocessing.manager` instead of the main process (`pytest` started by `tox`). `tox` always starts the latest version of `pytest` in its venv, without any issue. However, in Stash, `multiprocessing` tries to spawn a new process, u

[2020-11-17 14:41] gsnedders commented on #24880
This is kinda why I'd like us to end up with us importing `third_party.pytest` or similar rather than the status-quo if we want to be ensuring things are using our vendored copies.

[2020-11-17 15:29] ziransun commented on #23081
Thanks @stephenmcgruer! I will take a look.

[2020-11-17 17:36] stephenmcgruer opened #26552 "Cleanup unnecessary `__init__.py` files once Py3-only"
In https://github.com/web-platform-tests/wpt/pull/26328 we added `__init__.py` files at the root level of WPT as well as into the test directories, to support Python file handler local imports.

These files are necessary to define modules in Python 2, but their addition comes with a cost - pytest is no longer able to automatically identify the top-level directory for unittests and so we now have a

[2020-11-19 22:24] pwnorbitals commented on #4267
Afaik, all browsers mark this test as expected-failure. What is the process to make progress on this issue ? Thanks

[2020-11-19 22:51] jdm commented on #4267
https://wpt.fyi/results/html/syntax/parsing/DOMContentLoaded-defer.html?label=experimental&label=master&aligned

[2020-11-20 07:44] Ms2ger commented on #4267
The process is:
* figure out if the spec agrees the test is wrong
* if so, find a way to test what the test was trying to test
* create a PR to update the test
* :tada:

[2020-11-23 17:29] adroitwhiz opened #26618 "Parts of canvas tests relating to generating an annotated spec should be removed"
Previously, running the canvas tests' `build.sh` generated an annotated version of the HTML canvas spec.

This functionality has been removed in https://github.com/web-platform-tests/wpt/pull/23070/commits/dadd0856c672d47dabcbbea23d58d028a99285b1, but some cruft has been left behind:

- `html/canvas/tools/current-work-canvas.xhtml`, which is a stripped-down version of the canvas spec previously us

[2020-11-23 20:16] miketaylr opened #26620 "Broken links in testharness.html (links to testharness-api.md not testharness-api.html)"
STR:

1. go to https://web-platform-tests.org/writing-tests/testharness.html#without-html-boilerplate-window-js
2. click on "single thing", "asynchronous", or "promise tests"

Expected: it works
Actual: 404

You end up at https://web-platform-tests.org/writing-tests/testharness-api.md#asynchronous-tests, instead of https://web-platform-tests.org/writing-tests/testharness-api.html#asynchronous-test

[2020-11-24 00:16] sweetascherri opened #26630 "Tenedra Sample"
https://play.google.com/store/apps/details?id=com.google.android.apps.adwords

[2020-11-24 00:17] sweetascherri commented on #26630
https://github.com/web-platform-tests/wpt/issues/26630