[2020-03-23 14:30] jfkthame commented on #22355
Oh, one other thing you might want to look into: I notice that if I change the order of a range descriptor, replacing for example

    font-style: oblique -67.5deg -45deg;

with

    font-style: oblique -45deg -67.5deg;

the test no longer passes in Chrome canary, while it does pass in Firefox. In other words, Chrome doesn't allow the range to be expressed in decreasing rather than increasing orde

[2020-03-23 14:53] youennf commented on #22298
"Origin header and POST same-origin fetch cors mode with Referrer-Policy no-referrer" is passing in all browsers and expects an Origin header.

I guess your suggestion would be to update https://fetch.spec.whatwg.org/#append-a-request-origin-header to use request mode instead of request response tainting mode.

[2020-03-23 15:08] rwlbuis commented on #22298
Yes that sounds good. @annevk WDYT?

[2020-03-23 15:38] drott commented on #22355
That was when opening the test file from disk when using Nightly on Mac - but now I saw an update indicator on the Nightly and after restarting for the update I no longer see this issue.

[2020-03-23 15:38] annevk commented on #22298
Yeah, I think that's a good idea. I vaguely recall discussing something similar with @JuniorHsu, but I can't find where we discussed that unfortunately.

[2020-03-23 15:42] drott commented on #22355
Thanks for the heads-up, filed as [Chromium bug #1063867](https://bugs.chromium.org/p/chromium/issues/detail?id=1063867).

[2020-03-23 18:36] stephenmcgruer commented on #14602
That rfc merged a while ago, and https://web-platform-tests.org/writing-tests/crashtest.html exists, so I think this is fixed?

[2020-03-23 18:36] #14602 closed

[2020-03-24 00:38] #22113 closed

[2020-03-24 09:28] drott commented on #22355
I reopened this as it still does not seem to pass in Safari - if you have any feedback, @litherum - I'd be happy to hear what we can do in this regard.

[2020-03-24 19:01] #22358 closed

[2020-03-25 13:30] drott commented on #22355
And this is now fixed.

[2020-03-26 10:27] rwlbuis commented on #22298
@annevk the bug leading to this discovery landed but it still assumes the old behavior:
https://bugs.webkit.org/show_bug.cgi?id=209066
For the new behavior, what do you propose? Do you want to make a patch for the spec/test change or should I take a a stab?

[2020-03-26 16:24] gsnedders opened #22473 "Store passing screenshots for reftests"
During spec development especially, it can at times be useful to be able to look at passing screenshots for reftests, especially if there's any doubt as to whether the reference was itself rendered correctly. I think it would be worthwhile revisiting whether or not we should store passing screenshots, too.

[2020-03-26 16:29] Hexcles commented on #22473
Transferred this issue to wpt because on the wpt.fyi side we're totally capable of storing all screenshots. The change needs to happen in wptrunner and IIRC for Marionette reftest runner this might require a bit of work as it doesn't return the screen capture if a test passes (I'm not sure). And then there's the question of whether the CI platforms (Azure & Taskcluster) can store the screenshots t

[2020-03-26 17:01] inexorabletash commented on #13785
Resolved in 0f6860b863dd90ea1580de7f11d0cd2872f1713c

[2020-03-26 17:01] #13785 closed

[2020-03-26 17:02] inexorabletash commented on #10793
Deflaked in 0f6860b863dd90ea1580de7f11d0cd2872f1713c

[2020-03-26 17:02] #10793 closed

[2020-03-26 20:38] chlily1 opened #22481 "No way to fast-forward time in a test"
I would like to test a feature with a timeout of 2 minutes, with different behavior before and after the timeout. It would probably work best to have a mock time that could be arbitrarily fast-forwarded, but unfortunately it seems there is no way to do this in a WPT.

[2020-03-26 21:58] gsnedders commented on #22473
We have all the support needed in wptrunner for this, just a question of passing the right flags and storing the right screenshots.

[2020-03-26 22:19] Hexcles commented on #22473
Hmm, I guess my memory was about the default behaviour, which can probably be changed here:

https://github.com/web-platform-tests/wpt/blob/906031fb2e88a47cf77b34ad1d7f3915da6343f9/tools/wptrunner/wptrunner/executors/executormarionette.py#L893-L901

Also IIRC @jgraham previously expressed concerns about performance regressions (especially in Firefox where not all screenshots are dumped to the runn

[2020-03-26 22:20] Hexcles commented on #22473
A few numbers FWIW: so far we have about 68k images in total, less than 1GB for all failing screenshots across all browsers

[2020-03-26 22:45] stephenmcgruer commented on #20215
Looks like with the permissions API fixed, this is now a dupe of https://github.com/web-platform-tests/wpt/issues/17489 ?

[2020-03-26 22:45] stephenmcgruer commented on #22481
Seems like a dupe of https://github.com/web-platform-tests/wpt/issues/17489 ?

[2020-03-26 22:47] chlily1 commented on #22481
Oh, yup. Thanks!

[2020-03-26 22:47] #22481 closed

[2020-03-27 08:23] annevk commented on #22298
If you could take a stab that'd be great. I think we basically want to include the `Origin` header

* once we've gone across origins at least once for CORS requests
* or if the method is not HEAD/GET (CSRF defense)

[2020-03-27 08:32] JuniorHsu commented on #22298
Please see [here](https://github.com/whatwg/fetch/pull/908#issuecomment-499477191 ) for the previous discussion but I'm happy to see if we have better idea.

[2020-03-27 10:18] jgraham commented on #22473
The support exists here, but we don't have any way to only generate the screenshots we don't have. And in general that seems tricky because we can't hash a screenshot we haven't generated to know if it's been seen before. So having this on by default (even just for GitHub runs) ends up doing a lot of extra work.

If we do a push to a trigger branch with the flags set to generate screenshots always

[2020-03-27 15:15] Hexcles commented on #22473
So your main concern is about performance (specifically, run time), right? We should try and see how much slower it actually is to generate all screenshots.

[2020-03-28 08:12] styk-tv opened #22511 "[QUESTION] Js + WebAudio without browser?"
is there a WebAudio standalone (no browser) implementation out there that would pass or get close to passing the wpt/webaudio tests?

[2020-03-29 15:12] guest271314 commented on #22511
Can you provide details of what you mean by "standalone" and "(no browser)"?

[2020-03-30 09:33] rwlbuis commented on #22298
I created https://github.com/whatwg/fetch/pull/1013 for this.
BTW it does not seem I can push to the fetch repo.

[2020-03-31 13:54] LukeZielinski commented on #20256
Periodic checkin: glancing at https://community-tc.services.mozilla.com/worker-manager I see ~40 pending tasks for `proj-wpt/ci` which seems reasonable. This issue (as stated) seems resolved, but maybe we can carve off a new backlog issue for setting task priority?

[2020-03-31 13:58] LukeZielinski commented on #20591
Resolved by #22011

[2020-03-31 13:58] #20591 closed

[2020-03-31 15:58] Hexcles commented on #20256
I remember we reached out to TaskCluster. I forget whether we determined it was a one-off hiccup or added more resources to the pool, but the backlog was indeed resolved.

[2020-03-31 15:58] #20256 closed

[2020-03-31 21:37] dholbert opened #22580 "WPT test css/css-flexbox/overflow-auto-006.html has a number of problems"
This recently-added WPT test has a number of problems.

WPT.fyi link to view results:
https://wpt.fyi/results/css/css-flexbox/overflow-auto-006.html?label=experimental&label=master&aligned

WPT.live link to run the test directly:
https://wpt.live/css/css-flexbox/overflow-auto-006.html

(1) While it passes in Chrome, it fails if you view it with 200% zoom level, which is a sign that it might have s

[2020-03-31 21:39] dholbert commented on #22580
CC @cbiesinger @davidsgrogan @tonikitoo

[2020-03-31 21:47] dholbert commented on #22580
(2) Pieces of the test are too small for scrollbars to show up in, on some platforms

(On my machine at least, category (2) is responsible for subtests 1, 2, 5, 6, 11, and 12 failing in Firefox, I'm pretty sure. I noticed that all of these subtests fail in Firefox 76 as well as [chromium-based] Edge 83, according to WPT.fyi, so this isn't just a Firefox-specific problem, too.)

[2020-04-01 15:18] guest271314 commented on #22511
Are you looking for https://rustwasm.github.io/wasm-bindgen/examples/web-audio.html?

[2020-04-01 17:14] tonikitoo commented on #22580
just to be sure, (1)(2) could be addressed on the test itself, being (2) more important than (1), whereas (3) needs UA to be "fixed" by the engine itself, in case it is wanted/agreed, right?

[2020-04-01 17:19] Hexcles commented on #22580
Re (3) if the spec explicitly says the behaviour is UA-dependent, tests should not assert one way or another -- in other words, we probably want to remove those tests.

[2020-04-01 17:45] davidsgrogan commented on #22580
I'm only seeing (3) failures, 3,4,9,10,13,14 in Firefox, both locally and on wpt.fyi, no (2) failures at all, and no (1) failures at any zoom level. And it appears Edge passes all the tests on wpt.fyi.

Are (2) failures only visible in firefox's test-runner on a hidpi machine?

Was there an update to the test since @dholbert posted his findings yesterday?

[2020-04-01 17:46] Hexcles commented on #22580
Note that is the Chromium-based Edge.

[2020-04-01 17:49] davidsgrogan commented on #22580
Agreed, but it was chromium-based Edge mentioned in https://github.com/web-platform-tests/wpt/issues/22580#issuecomment-606894495

[2020-04-01 17:53] Hexcles commented on #22580
Ahh sorry I missed that.

I think @dholbert filed this issue before @tonikitoo 's fix 53531853234b44c8ced9e2e6c4b4a3ab381b6279

Before fix:
https://wpt.fyi/results/css/css-flexbox/overflow-auto-006.html?sha=1e0302fe&label=master&label=experimental
After fix:
https://wpt.fyi/results/css/css-flexbox/overflow-auto-006.html?sha=82d8c52&label=experimental&label=master

[2020-04-01 17:57] davidsgrogan commented on #22580
Ah, and I missed that that fix was for this issue. Sorry, and thanks for pointing it out.

[2020-04-01 21:53] dholbert commented on #22580
Thanks everyone - looking at the "After fix" wpt.fyi link, it does indeed look like the only remaining failures here are the "category (3)" failures (3/4/9/10/13/14), and per https://github.com/web-platform-tests/wpt/issues/22580#issuecomment-607381316 those tests should probably be removed or relaxed.

[2020-04-02 08:46] frivoal commented on #20325
@javifernandez The spec has now been clarified. I think we can close. Can you confirm?

[2020-04-02 10:29] javifernandez commented on #20325
Yes, we can close this issue now.
Thanks.

[2020-04-02 14:58] stephenmcgruer opened #22657 "`tools/wpt/ tests: macOS` sometimes fails on Azure Pipelines"
See https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=44791&view=logs&j=bb98340e-f707-5914-e9cf-18e0789e0d67 for a case where `tools/wpt/ tests: macOS` failed. It fails across all versions of Python run (2.7, 3.6, 3.8).

Two tests fail: `test_run_failing_test` and `test_run_verify_unstable`

Based on the logs, it looks like the tests that fail launch Chrome Dev, and it either nev

[2020-04-02 19:09] Hexcles commented on #22580
@tonikitoo could you take care of moving the subtests in category 3 back to Chromium? Thanks!

[2020-04-02 19:33] tonikitoo commented on #22580
yes, sir. will handle it shortly

[2020-04-03 08:55] #20325 closed

[2020-04-03 13:27] stephenmcgruer commented on #21971
https://github.com/web-platform-tests/rfcs/pull/48 has now landed, which splits `assert_precondition` into `assert_implements` and `assert_implements_optional`. I'll start working on a set of PRs to update WPT code; @Hexcles we may also wish to do some work on the wpt.fyi side at some point to change how we represent `PRECONDITION_FAILED` in the UI.

[2020-04-03 15:31] LukeZielinski opened #22692 "Missing Safari stable runs since April 1, 2020"
No Safari stable run for 1 day so far: https://wpt.fyi/runs?label=master&label=stable&max-count=100&product=chrome&product=firefox&product=safari

SHA fd15aa3 is the run where Safari was missing. Here it is on Azure Pipelines: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=45005&view=logs&j=e8032fe0-b3da-5a76-081d-ec1db1bea50b

At first glance, the logs are showing: `CRITICAL

[2020-04-03 17:50] tonikitoo commented on #22580
category 3 should be fixed by PR #22094

@dholbert I believe we might need to mark the test in FF as PASS'ing as a follow up, eventually (once the sync-bot syncs).

[2020-04-03 20:58] styk-tv commented on #22511
@guest271314 - well as light as possible and isolated from all the other unnecessary elements that are not audio related. I'm interested in isolation of WebAudio elements only + JavaScript interpreter. Such a construct would pull a manifest or a higher level abstraction like ToneJs for example and execute javascript against webaudio elements only. In hope this would reduce size and memory requirem

[2020-04-04 00:42] gsnedders commented on #22692
13.1 release?

[2020-04-04 00:59] gsnedders commented on #22692
No, unrelated. Same issue as previous Safari hangs: a context menu being opened. At least one of those cases is just #18995 occurring again, just on stable this time.

[2020-04-04 01:00] guest271314 commented on #22511
Are you trying to test a web platform feature? Or run WebAudio API tests in this repository on your own or third party implementation of Web Audio API?

Can you describe what

includes and excludes? Are you trying to trace the output of your current code? See Profiling Web Audio Apps in Chrome https://docs.google.com/document/d/1A3AnN_-fh7aoyTBeUMTvJvLfQb68QSd913sZgndr46Y/edit for "How to capture

[2020-04-04 01:21] gsnedders commented on #22692
/pointerevents/pointerevent_pointercapture_in_frame.html needs ignored as well (c.f. #22175)

[2020-04-04 03:34] #22345 closed

[2020-04-05 22:00] styk-tv commented on #22511
as per my initial questions I was imply curious if you (anyone here) know of standalone webaudio implementation that would pass webaudio tests you host here

[2020-04-05 22:11] monzturreminem commented on #22511
Wave.node.php.md.audio.stle
Or just screen shoot it scan it write new code for it(™️monzturr)

[2020-04-05 22:53] guest271314 commented on #22511
Am not sure. Have you tried testing any standalone Web Audio API implementation passes the tests in Web Audio API in this repository?

Have not tried https://rustwasm.github.io/wasm-bindgen/examples/web-audio.html or used that implementation to to test Web Audio API tests in this repository; though that implementation does exist, and given adequate effort could probably be configured to run the We

[2020-04-06 12:19] #22692 closed

[2020-04-06 13:05] jgraham opened #22719 "Logging not correctly configured in WebSocketDaemon subprocess"
Throwing an exception in this process leads to
[code]

We actually want this process to have access to the mozlog logger.

[2020-04-06 16:58] Hexcles commented on #22580
#22688 has been merged, so I'm closing this issue.

@dholbert : I'm sorry for the recent hiccups in our effort to upstream some Chromium-internal flexbox tests, which unfortunately have caused quite some extra work for you. We did intend to keep an eye on the test results on other browsers and investigate any failure before landing a test. However, due to an oversight and bad UI of our wpt.fyi Git

[2020-04-06 16:58] #22580 closed

[2020-04-06 17:05] dholbert commented on #22580
Understood. I'm glad there's an improved process to catch these sorts of issues up-front going forward.  Thanks to you folks for you responsiveness over the past week!

[2020-04-07 19:47] Hexcles opened #22758 "Hypothesis health checks frequently fail on Windows Python 3.8"
Example: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=45217&view=logs&j=47b03e2b-d31e-537f-c8cf-66c80d147ca1&t=67b19343-5bc4-57b8-71e9-6c31e5bc256c&l=64

According to Azure: "This task has failed 12 times across 1042 pipeline runs in the last 14 days."

[2020-04-07 19:49] Hexcles commented on #22758
I'm going to temporarily disable this health check on Windows.

[2020-04-07 22:17] Hexcles commented on #22657
Tentatively mark as "roadmap" based on "sometimes". Feel free to downgrade or upgrade.

[2020-04-07 22:45] Hexcles commented on #22758
This fails on Mac, as well. In fact, it fails frequently only on Azure. Perhaps a performance issue?

[2020-04-07 22:54] #14883 closed

[2020-04-08 12:15] stephenmcgruer opened #22784 "Have a regular 'epoch' run of Python 3 on TaskCluster CI"
As of 2020/04/08, we are approaching the point where we could have a regular epoch run of WPT that uses Python 3. Currently ~75% of top-level WPT directories are believed to run identically in Python 2 and Python 3, with the majority of the remaining blocked on the [wptserve RFC](https://github.com/web-platform-tests/rfcs/pull/49). Running regularly on TaskCluster would allow us to more easily com

[2020-04-08 13:25] ziransun commented on #22784
Hi @stephenmcgruer, so far what I did was running tests by directories. I haven't run ALL tests in one go. Having said that, all the directory runs gave report (e.g. number of checks in total, expected results, unexpected result and the list of failed tests.) rather than stopping wptrunner execution in the case of ERROR. I can do the "all in one" run during the coming weekend if it makes sense.

[2020-04-08 13:42] stephenmcgruer commented on #22784
No need to subject your laptop to that, I think. The fact that all the individual directory runs ran successfully gives a good probability that a full run would work too (and if not, we can figure it out and fix it!).

@Hexcles if we setup these as proper TaskCluster epoch runs that push to wpt.fyi, we'll probably need to tag them somehow to stop wpt.fyi thinking they're 'proper' runs, I believe.

[2020-04-08 16:33] Hexcles commented on #22758
Actually, it also failed on Taskcluster (Linux)...

I've merged the workaround to disable the health check in Python 3, so I'm downgrading this to roadmap. @svillar could you investigate why Python 3 is slower when running these hypothesis tests?

[2020-04-08 16:35] Hexcles commented on #22758
It might be possible that the data generation has always been slow, and Python 3 implementation only pushed us a tad over the threshold. It'd be good if we can get the generation rates and compare them.

[2020-04-08 21:01] burg commented on #17027
Sorry about the crazy wait on this one. If all goes well, the fix should be out with Safari Technology Preview 106.

[2020-04-08 21:27] frehner commented on #1273
came across this as I was looking for some issues to work on.

almost 2 years to the date :D

[2020-04-09 11:36] foolip commented on #17027
Sweet, thanks for fixing this, Brian!

[2020-04-09 14:34] faceless2 opened #22820 "Wrong font path, but file is automatically generated so can't patch"
https://github.com/web-platform-tests/wpt/blob/master/css/WOFF2/support/available-002a.xht

This file references "support/available-002.woff2", but it's in the support subdirectory already. The font should be "available-002.woff2", as it already is in the second part of this test, https://github.com/web-platform-tests/wpt/blob/master/css/WOFF2/support/available-002b.xht

As the file has "THIS FILE

[2020-04-09 15:08] stephenmcgruer commented on #22820
Thanks for the report! This is strange indeed, I don't think there should be test files at all in the `support/` directory. In fact, wpt.fyi doesn't even seem to pick it up - https://wpt.fyi/results/css/WOFF2?label=experimental&label=master&aligned (no support/ directory) - and `wpt run` doesn't find it either:

[code]

cc @svgeesus as the only person listed in the WOFF2 META.yml file.

[2020-04-09 15:11] stephenmcgruer commented on #22820
Looks like its included from a test at `css/WOFF2/available-002.xht` (in an iframe), so maybe it is meant to be a support file. The lack of any reference file/etc for `css/WOFF2/available-002.xht` however means it will be basically ignored by WPT infrastructure as well.

[2020-04-09 15:37] #1273 closed

[2020-04-09 16:30] foolip opened #22824 "No tests for <link rel=preload as=style>"
https://stackoverflow.com/questions/45321043/preload-css-file-not-supported-on-firefox-and-safari-mac is a Stack Overflow question about `<link rel=preload as=style>`  and I checked if there's any test for that in WPT but have come up short.

@snuggs @yoavweiss is this right, or am I just bad at searching?

https://bugzilla.mozilla.org/show_bug.cgi?id=1583604 is the Gecko bug where such tests woul

[2020-04-09 17:22] faceless2 commented on #22820
Definitely a support file for available-002, sorry I should have pointed that out. I can't speak for it's location being correct or not, but I understand what the "available-002" test is trying to ascertain and, despite the lack of reftest it's still a useful test (and the last WOFF2 test we're failing, which is why the report!)

[2020-04-09 18:23] Hexcles commented on #22784
Regarding wpt.fyi, we only have an additive filtering model -- we can only say include these labels, but not exclude some labels. I'd say the easiest way is to drop the `master` label on this branch.

For Taskcluster, we'd need to tweak this code to exclude this branch:
https://github.com/web-platform-tests/wpt.fyi/blob/65dc39a3818cd2f4e86e481b9fb8b62736a82fbf/api/taskcluster/webhook.go#L141

For

[2020-04-09 18:27] stephenmcgruer commented on #22784
@Hexcles - just so I'm clear, your suggestion would require spinning up a new epochs branch solely for Python 3?

[2020-04-09 18:45] Hexcles commented on #22784
Oh I misread the question.

Either way would work; a new epoch branch isn't required.

And on a second thought, there's a better way to drop the `master` label for these runs, which will work regardless of whether we have a new epoch branch. If we run this on Taskcluster and give the tasks a new name (e.g. `wpt-python3-N`), we can filter the tasks here https://github.com/web-platform-tests/wpt.fyi

[2020-04-09 18:51] stephenmcgruer commented on #22784
That also sounds good. In either case, sounds like we have a plan for wpt.fyi so will make sure to incorporate that once we start working on this.

[2020-04-09 19:35] Hexcles commented on #21529
I think we have a more general problem regarding network. Anecdotally, I'm seeing more failures due to network errors recently (though I don't have any real stats). I think it makes sense to implement a generic retry mechanism for all the downloads.

[2020-04-09 19:37] Hexcles commented on #22330
This seems reasonable. AFAIK, `virtualenv` is a requirement that users need to install themselves: https://web-platform-tests.org/running-tests/from-local-system.html

On which setup do we get a `virtualenv` that's not recent enough? Azure?

[2020-04-10 13:26] mayhemer commented on #22824
Note that part of my work on preload support in Firefox may be adding more WPT coverage.  Although, there currently are tests using as=style, there is some coverage.

[2020-04-10 13:45] guest271314 commented on #22824
See also https://github.com/web-platform-tests/wpt/issues/21352.

[2020-04-10 19:35] syg commented on #7899
Resurrecting discussion here on @domenic's suggestion. JS WeakRefs are close to shipping and there are some HTML integration tests that would be good to add. It is impossible to write `WeakRef` or `FinalizationRegistry` tests without ability to trigger gc. Currently there are some [tests in flight](https://chromium-review.googlesource.com/c/chromium/src/+/2145160) in Chrome that are Chrome-only.

[2020-04-11 15:37] guest271314 opened #22871 "fetch() not exposed in AudioWorkletGlobalScope untestable: Impossible to verify blocking the worklet (rendering) thread"
[audioworklet] Expose fetch() in AudioWorkletGlobalScope. #1439 https://github.com/WebAudio/web-audio-api/issues/1439 includes several assumptions re the potential for `fetch()` or `XMLHttpRequest()` to block the Worklet rendering thread. (See also Is defining fetch() in AudioWorkletGlobalScope an implementer choice?
#73 https://github.com/WebAudio/web-audio-api-v2/issues/73).

However, it does no

[2020-04-11 15:39] guest271314 commented on #22871
cc @hoch @padenot @rtoy @karlt

[2020-04-11 16:07] jdm commented on #22871
These seems like the wrong repository for this. If fetch is not currently exposed in those global scopes, we can't write tests about its behaviour.

[2020-04-11 16:07] #22871 closed

[2020-04-11 16:19] guest271314 commented on #22871
@jdm There are assumptions made in the linked issues that cannot be verified. From perspective here, this repository is precisely for the purpose of testing and verifiying technical assumptions or theories.

See OP at

Are you suggesting that the matter is settled?  That assumptions not based on verifiable scientific results must be accepted simply because there is no _current_ means to test the t

[2020-04-11 16:26] guest271314 commented on #22871
@jdm

There  are ways to test the assumptions and theories made. One way is to use `WebAssembly` to define `fetch()` in `AudioWorkletGlobalScope`. However, that is probably not the only way to perform the tests. Thus, this issue specifically asks to find a way to construct the tests. Methods that are not exposed in a particular scope by default could later be exposed based on results of tests, rat

[2020-04-11 16:49] jdm commented on #22871
The purpose of this repository is testing implementations against the specifications. For an issue with a specification where a decision was made and you wish to revisit that decision, continuing to discuss it in the repository for that specification makes more sense than filing a new issue in the testing repository about how to verify the claims from the original issue.

[2020-04-11 17:36] guest271314 commented on #22871
@jdm

Already did that. Linked at OP.

Am not satisfied with the reasoning presented by authors of the specification.

Specifically, there is no evidence presented other than assumptions - without any accompanying tests providing supporting basis for the assumptions made.

If Salk were to have stopped research due to the conjecture of fellow scientists, detractors, or even errors, omissions or fai

[2020-04-11 17:55] jdm commented on #22871
I have no comment on whether the change you want makes sense or not, and I have no comment on how that decision was made. This is the wrong repository to continue discussing that, however.

[2020-04-11 21:50] #2277 closed

[2020-04-12 02:38] frehner commented on #22205
from what I can tell, this issue was fixed in #22245 and could be closed now, correct?

[2020-04-12 19:01] TalbotG commented on #22205
@frehner
Yes, Anthony. Closing now.

[2020-04-12 19:01] #22205 closed

[2020-04-13 03:01] stephenmcgruer commented on #7899
@syg can you summarize what guarantees or functionality JS WeakRefs provide, with regards to the HTML integration?

From my side, summarizing what I take away from reading this thread:

GC semantics are in general an implementation detail. This includes:
* What objects get collected during any given garbage collection 'run'.
* Whether the collection can be synchronous or not.

Things atotic noted

[2020-04-13 03:05] stephenmcgruer opened #22879 "No Chrome stable runs since April 7th"
According to https://wpt.fyi/runs?label=master&label=stable&max-count=100&product=chrome&product=firefox&product=safari, wpt.fyi has not received a Chrome stable run since April 7th. Firefox and Safari seem fine.

Similarly (but not necessarily related), there have been no Chrome experimental runs since April 9th.

[2020-04-13 03:13] stephenmcgruer commented on #22879
https://community-tc.services.mozilla.com/tasks/groups/Cxf23J2FT9GLA-nlF506ug is the TC run for `epochs/daily` for April 11th. It contains multiple Chrome task failures, all of which occur whilst downloading Chrome:

[code]

I suspect this is https://github.com/web-platform-tests/wpt/issues/21529 and we're seeing either TaskCluster's network or dl.google.com becoming badly flaky.

cc @Hexcles and

[2020-04-13 03:14] stephenmcgruer commented on #22879
Confirmed the same problem affected the runs on April 12th, 10th, and 9th, so I'm confident in the network issues hypothesis.

[2020-04-13 03:39] guest271314 commented on #22879
Could "extra scrutiny of M83 release" be a possible reason?

[2020-04-13 07:45] svillar commented on #22330
You can reproduce this locally. When I found the bug there was no fix for the issue. It came quickly after reporting the issue to `virtualenv` package. I opened this to ensure that any user gets the proper version to be able to use python3 in windows to run `wpt`.

[2020-04-13 08:31] svillar commented on #22758
I've run the test_manifest_to_json*` tests with health checks on (`--hypothesis-show-statistics`) measuring the time required to complete the execution and it turns out that I'm consistently getting lower figures for python3 executions (7.2s vs 4.6s) so not sure what's going on.

[2020-04-13 16:47] Manishearth opened #22898 "[webxr][hit-test] Tests seem to be missing some intersections"
https://github.com/web-platform-tests/wpt/blob/f2e918abb4b8711afb28c8b98d98be3bffc9fa9a/webxr/hit-test/ar_hittest_subscription_refSpaces.https.html#L110-L130

In this test, the viewer is at (0, 1, 0) and looking straight ahead (the default XRRay). This should intersect with both of [the faces](https://github.com/web-platform-tests/wpt/blob/f2e918abb4b8711afb28c8b98d98be3bffc9fa9a/webxr/resources/w

[2020-04-13 17:00] Manishearth opened #22900 "[hit-test][webxr] Floor transform is inverted in ar_hittest_subscription_refSpaces"
https://github.com/web-platform-tests/wpt/blob/f2e918abb4b8711afb28c8b98d98be3bffc9fa9a/webxr/hit-test/ar_hittest_subscription_refSpaces.https.html#L18-L22

https://github.com/web-platform-tests/wpt/blob/f2e918abb4b8711afb28c8b98d98be3bffc9fa9a/webxr/hit-test/ar_hittest_subscription_refSpaces.https.html#L27

This is incorrect, the testing API spec defines this as the origin of the floor, which mea

[2020-04-13 17:07] Manishearth opened #22901 "[hit-test][webxr] pointerOrigin is native-relative, even for screen spaces"
https://github.com/web-platform-tests/wpt/blob/f2e918abb4b8711afb28c8b98d98be3bffc9fa9a/webxr/hit-test/ar_hittest_subscription_inputSources.https.html#L118-L129

https://github.com/web-platform-tests/wpt/blob/f2e918abb4b8711afb28c8b98d98be3bffc9fa9a/webxr/hit-test/ar_hittest_subscription_inputSources.https.html#L12-L27

This  test is written assuming that the supplied parameters set a pointer orig

[2020-04-13 17:26] syg commented on #7899
@stephenmcgruer Sure, I can provide background on the HTML integration parts:

### `WeakRef`

- When a `weakRef.deref()` observes a non-`null` object (that is, a live referent), that referent is guaranteed to stay live until the end of the event loop. For HTML, that means until just after the current task's microtask checkpoint.

### `FinalizationRegistry`

`FinalizationRegistry` is a way to regis

[2020-04-13 17:30] stephenmcgruer commented on #7899
Thanks for the great overview!

Ok; I'm happy to help anyone who is working on making an RFC (by looking at drafts, suggesting how the API would fit into existing WPT infra, etc). Feel free to reach out to me (either via GH tagging or by email at smcgruer@chromium.org).

[2020-04-13 18:41] bialpio commented on #22898
Intersection with both of the faces results in exactly the same pose, so in Chrome's mock implementation I am deduplicating those kinds of results. Both faces that intersect the ray belong to the same mesh that is supposed to represent a single, contiguous surface, so it made no sense to me to return 2 results in this case. Let me know if you think we should revisit this approach.

[2020-04-13 19:11] jgraham commented on #7899
IMO this needs more than an RFC since it's proposing to add a native API in browsers. We can use the RFC as a consensus-building process, but the output of the RFC should be something that looks like a spec rather than a code change in web-platform-tests (although the latter may also be required).

[2020-04-13 20:11] stephenmcgruer commented on #7899
That's a fair point. Traditionally our two ways of doing that have been webdriver extensions (established, but can be a difficult process to go through given the many layers involved) or test-only APIs (much newer, no general agreement yet though webxr has cross-browser support I think, but are also much easier to write). Do you think this would follow one of those paths, or are you thinking of a

[2020-04-13 21:25] stephenmcgruer commented on #21529
^ there is some data, @Hexcles . I just triaged 11 blocked Chromium exports, and 8 of them had red tasks due to network failure downloading Chrome. Will see how many of the 8 fail again on retry...

[2020-04-13 21:53] stephenmcgruer commented on #21529
(I'm going to stop linking PRs to this issue because it just creates useless spam, but generally note that this is causing big pain for me sheriffing Chromium exports atm).

For a retry mechanism, we already have `download_url_to_descriptor` in `run_tc.py`, that might just work for Chrome too.

[2020-04-13 21:55] Manishearth commented on #22898
This isn't mentioned in the spec anywhere. I think it's not a good idea to make the test dependent on such an implementation detail, perhaps the ray should be shifted up a little bit.

[2020-04-13 23:00] alcooper91 commented on #22901
I think pointer origin is something that we probably want to make an exception to (it looks like we've not really sketched/fully specced out the algorithms for input since Chrome's been the only one implementing it so far). Pointer origin's don't make sense to be a fixed point in the *device's* reference space, they really only make sense in the input source's reference space (since they move with

[2020-04-13 23:06] Manishearth commented on #22901
We've had the input algorithms implemented for a while.

I don't see how this is different from any other origin.

The pointer origin is being used to _set_ the input source's reference space, it's a bit weird to define that as relative to input source's reference space.

I'd rather not have complexity in the test API, the test API should give us a way to mock specific values in a straightforward

[2020-04-14 00:50] stephenmcgruer commented on #21529
For the record: I ran a `urllib2.urlopen(...); resp.read()` loop on my machine for a while and couldn't get dl.google.com to flake, so it seems related to the TaskCluster infrastructure *somehow*.

[2020-04-14 01:22] Manishearth commented on #22901
It's also not guaranteed that gaze input will be exactly the same as the viewerspace, gaze might choose a more natural "center of screen" vector that is not the nose vector. The screen input is similarly offset based on where you tap. Making the origin modify these transforms seems like pointless complexity to me.

[2020-04-14 16:06] stephenmcgruer commented on #21529
May not be relevant, but it was pointed out to me that the flake happens during SSL work:

[code]

Could there be something wrong with TaskCluster's cert or HTTPS stack?

[2020-04-14 16:40] Hexcles commented on #21529
Sweet!

Although I wanted to say not likely, the flake rate is really high. Note that these machines are on GCP, so they really shouldn't have a hard time reaching Google...

[2020-04-14 16:42] Hexcles opened #22936 "webdriver/tests/support should trigger infrastructure tests"
https://github.com/web-platform-tests/wpt/pull/22927 did not trigger infra tests https://community-tc.services.mozilla.com/tasks/groups/KLQpcAtAQyyheGz5K9Bo-w so the regression (caused by a non-ASCII character in the comment) was not caught: https://github.com/web-platform-tests/wpt/pull/22935

[2020-04-14 16:50] Hexcles commented on #21529
This is definitely higher than my anecdotal data. Is it getting worse somehow?

[2020-04-14 16:54] alcooper91 commented on #22901
We've had the API text there, but haven't had full spec text for the input. I was under the impression that Chrome was the only ones running the input tests at the moment?

I think there's really just a spec bug, because I had always intended pointerOrigin to be "grip_from_pointer." This is the way it's currently implemented in Chrome/all of the tests that use it, or in other words, it *is* that m

[2020-04-14 16:59] alcooper91 commented on #22900
Hmm, If I invert our implementation such that the assigned values are mojo_from_floor
I get three tests that fail (e.g. are making the assumption that this floorOrigin is floor_from_mojo):
    external/wpt/webxr/hit-test/ar_hittest_subscription_refSpaces.https.html
    external/wpt/webxr/xrReferenceSpace_originOffsetBounded.https.html
    external/wpt/webxr/xrStationaryReferenceSpace_floorlevel_up

[2020-04-14 17:14] Manishearth commented on #22900
We currently don't do bounded/unbounded spaces. We fail the hit-test one and the floorlevel_updates one for this reason.

[2020-04-14 17:17] Manishearth commented on #22901
No, we run them too, and have been for a while.

This feels weird to me, because now you cannot simulate devices without grip but with targetRay.

It doesn't need to be required, though. We should just have pointerOrigin and gripOrigin directly reflect into the native target ray and grip origins, and if unset it's untracked.

----

Basically, as a mock API I think it should be as direct to spec co

[2020-04-14 17:19] stephenmcgruer commented on #22784
@ziransun as we discussed earlier today, I took a brief look at what would probably be needed here and wrote up some (very) high level steps. Feel free to read them through, look at the files and explore the flow, then I'm happy to answer questions (it is non-trivial!) :)

`tools/ci/tc/tasks/test.yml` is a yaml file that is used by our 'decision graph' code for TaskCluster to decide what to run. I

[2020-04-14 18:18] jgraham commented on #21529
@djmitche Do you have any idea what might be going on here?

[2020-04-14 19:42] jfkthame opened #22944 "[css-text-decor] Decoration in text-underline-position-from-font-variable specified on wrong element"
The testcase text-underline-position-from-font-variable specifies `text-decoration: underline` on a `<div>`, then adjusts font settings on a child `<span>`, and expects the child's font settings to be reflected in the decoration line painted by its parent.

This works "as expected" in webkit-based browsers, but only because webkit handles inheritance and painting of decorations incorrectly per spe

[2020-04-14 21:45] djmitche commented on #21529
I think you are referring to the worker infrastructure here, as from what I can tell the issue in https://github.com/web-platform-tests/wpt/issues/22879 is downloading from dl.google.com.  I can't see any problems after clicking a few other linked PRs above, and the comments earlier in this issue seem to be about something unrelated, so #22879 is all I've got to go on.

The proj-wpt/ci workers run

[2020-04-14 21:51] Hexcles commented on #21529
@stephenmcgruer was most likely referring to our Docker image (e.g. having out-of-date root CAs or OpenSSL), but I don't think such issues would end up causing transient failures.

And yes we are talking about connecting to external network (dl.google.com in recent examples, and mozilla.org in earlier incidents) from within a Docker worker here.

[2020-04-14 21:51] stephenmcgruer commented on #21529
I think some terminology is misaligned here; we tend to say 'TaskCluster' to refer to anything that happens in the TaskCluster checks, including any worker tasks they contain/etc.

Sorry, I didn't capture specific links to the taskcluster groups and was aggressively retrying those PRs to unblock Chromium exports (you may notice some of them were close/opened - our retry mechanism - many times befo

[2020-04-15 06:53] ziransun commented on #22784
@stephenmcgruer Thanks very much! I will start looking into it.

[2020-04-15 08:25] drott commented on #22944
Thanks for the suggestion, PR up.

[2020-04-15 11:09] stephenmcgruer commented on #21529
We now have a 3-retry policy for downloading Chrome, and **it is still failing for some PRs**. See https://github.com/web-platform-tests/wpt/pull/22959#issuecomment-613942905

This is bad. I think we have two big action items here:

1. Get a better handle on scope of impact. We can use the GitHub API to scrape all PRs for all checks, but would then need to dive into TaskCluster results to pull log

[2020-04-15 11:35] stephenmcgruer commented on #22936
Oh wow, I had totally misunderstood what happened in that PR. It *did* run the `webdriver/` tests, we just didn't notice because people ignore the wpt.fyi results because they're green even when they regress...

https://community-tc.services.mozilla.com/tasks/MkeeXKwgSdmZvwuBgP6UkQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FMkeeXKwgSdmZvwuBgP6UkQ%2Fruns

[2020-04-15 13:16] #22944 closed

[2020-04-15 13:22] djmitche commented on #21529
We ran into something vaguely like this with downloads from a Debian server (not one of the things automatically mirrored into EC2) for Firefox CI.  Debian's server was blacklisting entire /24's of EC2's public address space when abused by a single /32, and that added up to some nontrivial portion of EC2 not allowed to access the server.  If I recall, that abuse mechanism just blackholed traffic,

[2020-04-15 14:00] stephenmcgruer commented on #21529
I've reached out to the dl.google.com team internally to ask about any outages or if we might be being rate limited.

[2020-04-15 19:36] Hexcles commented on #22936
This one:
https://github.com/web-platform-tests/wpt/blob/751ceadd296ff816cbcff15c5f508840bce08a41/tools/ci/tc/tasks/test.yml#L434

Whenever we change `tools/`, among other things, we run that directory specifically (not as part of `affected_test`) and check the results against the [in-tree metadata](https://github.com/web-platform-tests/wpt/tree/master/infrastructure/metadata/infrastructure).

[2020-04-15 19:36] mysteryDate opened #22979 "Refactor and reorganize canvas 2d tests"
Currently the folders `2dcontext` and `offscreen-canvas` have a ton of repeated tests and code. They each have a `/tools` folder that is _almost_ identical (stuff like [this](https://github.com/web-platform-tests/wpt/blob/master/offscreen-canvas/tools/gentest.py#L2) obviously isn't ideal). Each tools folder contains a 10,000 line `tests2d.yaml` file with auto-generated test code.
   A few things c

[2020-04-15 19:40] stephenmcgruer commented on #22936
Right, that runs the `infrastructure/` tests - how do they lead to us spotting encoding errors in a random file in `webdriver/`?

[2020-04-15 20:04] Hexcles commented on #22936
Ahh sorry I forgot to include a link to the original failure that led me to discover this bug, and I can no longer find it.

Basically, your PR changed `tools/`, which triggered `infrastructure/`, and `infrastructure/webdriver/tests/test_load_file.py` failed because it failed to import `webdriver/tests/support` via the test fixture. The culprit PR landed because even though it touched `webdriver/t

[2020-04-15 20:38] mysteryDate commented on #22979
Also, what about these tests: https://github.com/web-platform-tests/wpt/tree/master/html/semantics/embedded-content/the-canvas-element

I'd prefer to put everything in the new directory.

[2020-04-15 21:13] fserb commented on #22979
I'm not sure about calling the inner directory `HTML`. Maybe we could have all the top level types of tests as subdirectories (attached/element/dom, detached, offscreen, offscreen.worker, transferred, transferred.worker), instead of adding them on the test name.

Otherwise, I think this is a great idea.

Does anyone know if there's anything we should be looking for when moving a large number of te

[2020-04-15 21:14] fserb commented on #22979
I'd also be okey with keeping the `2dcontext` name as the top level one, moving OffscreenCanvas inside it, and moving the current subdirs one nested directory in.

[2020-04-15 21:59] mysteryDate commented on #22979
Ah, good point about the `html` subdirectory.
I'm +1 for the subdirectory structure instead of the intensely long names. This would also be an obvious way to break up the `tests2d.yaml` files.

What do you mean by detatched? An HTMLCanvas that's not been added to the dom?

[2020-04-15 22:25] Hexcles commented on #21529
I did some local testing, and couldn't reproduce the failure. Although it still does not rule out the possibility in https://github.com/web-platform-tests/wpt/issues/21529#issuecomment-614037541, it's becoming increasingly likely that we are hitting some kind of rate limit. I'm going to add exponential backoff to the retry logic to make it more robust, as well as update the Docker image just in ca

[2020-04-15 23:40] Hexcles commented on #21529
(looping back from an internal channel)

@djmitche does Taskcluster use Cloud NAT on GCE? If so, do we manually configure NAT addresses? https://cloud.google.com/nat/docs/overview#specs-addresses-ports Another possibility is that we might be running out of outbound NAT connections.

[2020-04-15 23:48] #22936 closed

[2020-04-16 02:39] djmitche commented on #21529
@imbstack can you answer that ^^?

[2020-04-16 03:18] imbstack commented on #21529
It doesn't look like we're using Cloud NAT in the project with the wpt workers.

[2020-04-16 06:51] ag-eitilt opened #22988 "Extract standalone test data out from JavaScript"
Before I get into the body of the issue, I know that it's not going to be of any major importance; I'm mainly hoping to get some thought in its direction rather than expecting to result in any fast changes.  That said, I'm tired and coming off of wrestling with the code, so I'm maybe not smoothing things over as much as I might otherwise.

WPT seems a great tool for evaluating how close a browser

[2020-04-16 06:56] annevk commented on #22979
Overall this sounds great, thanks for taking this on!

I wonder if we should take this opportunity to move all of this into `/html/canvas/...` as it's technically part of the HTML Standard.

cc @domenic

[2020-04-16 11:56] stephenmcgruer commented on #21529
In https://community-tc.services.mozilla.com/tasks/ObeRTrD-SQGhkdTeKpdE0A/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FObeRTrD-SQGhkdTeKpdE0A%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log we just saw a similar error, but when trying to install something via pip:

[code]

Could be a red-herring, of course.

[2020-04-16 12:39] djmitche commented on #21529
There's a high probability that's a red herring, it's true -- perhaps a pypi node was rebooted while you were connected to it, etc.  But that traceback is in the HTTP receive codepath, meaning that at least a few RTT's to the server had been successful (to set up TLS, at least, and depending on timing to send the HTTP request).

Would it be helpful to use urllib3 in the chrome downloads, in hopes

[2020-04-16 15:12] Hexcles commented on #21529
Here's another example with a different symptom: https://community-tc.services.mozilla.com/tasks/Xz4dfEvHRsSsItvXi8dfPw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FXz4dfEvHRsSsItvXi8dfPw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L558

[code]

[2020-04-16 15:16] Hexcles commented on #21529
For the record (I forgot to link to the issue from the PR), I landed #22983 trying to make the retry more robust (ironically, the failure above happened right afterwards in a different network transaction).

[2020-04-16 16:17] djmitche commented on #21529
That looks like a partial download -- more than just headers at any rate.  For that to occur, rather than a timeout, requires some positive traffic from the remote side (or from some intervening box on the network): either a RST or a FIN.  But, that could be an unrelated error, too.

[2020-04-16 17:49] stephenmcgruer commented on #21529
https://community-tc.services.mozilla.com/tasks/JgGhdIl1Rvqo0VfhdPowZw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FJgGhdIl1Rvqo0VfhdPowZw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log contains another failed DL of webdriver; this one uses urllib3 apparently (based on the stack) but I don't see much more than another connection being reset.

[2020-04-16 17:52] djmitche commented on #21529
So for webdriver at least, the errors seem to be resetting *during* the connection, vs. some more permanent inability to connect.

[2020-04-16 19:01] guest271314 commented on #22988
Have you tried testing Lynx implementation of a specifcation?

Currently https://wpt.fyi/results/?label=experimental&label=master&aligned does not render the markup `<wpt-app labels="[&quot;experimental&quot;,&quot;master&quot;]" aligned="" page="results"></wpt-app>` and child element `<table>` at Lynx. That output could probably be adjusted to at least output and HTML version of results for text

[2020-04-16 19:12] mysteryDate commented on #22979
I'm for moving into `html/canvas`, it seems to be compatible with the guideline here: https://github.com/web-platform-tests/wpt/tree/master/html

In that case, I don't think it makes a ton of sense to keep these tests here: https://github.com/web-platform-tests/wpt/blob/master/2dcontext/tools/name2dir.yaml#L35

[2020-04-16 19:21] stephenmcgruer commented on #21529
@imbstack - want to double-check something I'm not sure about. Above, @Hexcles asked about Cloud NAT and about running out of NAT connections. You replied saying you didn't think Cloud NAT was being used. Does that also imply that you think we are not running out of NAT connections?

[2020-04-16 19:23] Hexcles commented on #21529
Looking at worker logs, it seems that they all have public IPs ([example](https://community-tc.services.mozilla.com/tasks/Xz4dfEvHRsSsItvXi8dfPw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FXz4dfEvHRsSsItvXi8dfPw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L6)) which implies no NAT.

[2020-04-16 19:25] iBicha opened #23030 "[webxr] Bug in webGLCanvasContext create xrcompatible"
https://github.com/web-platform-tests/wpt/blob/c3c1ea4f28db4925e961b9b61fb079b98671b483/webxr/webGLCanvasContext_create_xrcompatible.https.html#L19

Should be `let offscreenGl = offscreenCanvas.getContext( `

[2020-04-16 20:12] imbstack commented on #21529
Yeah, I think we have the most simple networking setup in that project. I admit I'm not an expert in gcloud networking though. If there are other things you'd like me to check, I'm happy to help!

I didn't dig very deep into the precise meaning of these metrics but the network performance dashboard for packet loss looks pretty unremarkable for that project over the last 6 weeks.

![image](https://

[2020-04-16 20:51] guest271314 commented on #22979
The automated tests should not be automated. An extra unecessary step when a test needs to be modified to look up and change or delete the automated test https://github.com/web-platform-tests/wpt/pull/19818, https://github.com/web-platform-tests/wpt/pull/21686.

Last that checked `OffscreenCanvas` (and `transferControlToOffscreen()`) at Firefox is WIP https://bugzilla.mozilla.org/show_bug.cgi?id=1

[2020-04-16 21:46] mysteryDate commented on #22979
I'm not looking to change any tests with this PR, just re-organize them in hopefully a more helpful way.

Though I agree that it makes modification irritating, it does help a lot when we want to test the same behaviour for dom/detatched/offscreen/worker canvases, etc. Again, I don't really want to get into large scale test changes with this issue, just some reorganization/refactoring.

What's both

[2020-04-16 21:55] alcooper91 commented on #22900
Thanks for the heads up. I filed https://crbug.com/1071630 to track the issue in Chrome, since it seems like you are correct.

[2020-04-16 22:02] alcooper91 commented on #22901
Spoke with Manish offline. We're going to define that the pointerOrigin is relative to another object (the specific object of which depends on the target ray mode that is set). Tracking this via a spec bug in the test api repo, so closing.

[2020-04-17 13:06] foolip opened #23059 "[css-flexbox] justify-content: start/end/left/right not tested"
Going through https://css-tricks.com/snippets/css/a-guide-to-flexbox/ to learn me some basic flexbox (blush) this is the first thing I came across where I could get different rendering cross browser. Smallest case that shows it is:
[code]
Try it at https://software.hixie.ch/utilities/js/live-dom-viewer/saved/7980

I've tested in recent Chrome, Edge 18, Firefox and Safari and found that only Firefo

[2020-04-17 13:06] foolip commented on #23059
@tabatkins do you know what the correct behavior is?

[2020-04-17 16:53] tabatkins commented on #23059
'flex-end' is identical to either 'start' or 'end', depending on 'flex-direction'. In this case, it must be identical to 'end'.  (And when used outside of flex contexts, it's always equivalent to 'end'.

See <https://drafts.csswg.org/css-align/#valdef-self-position-flex-start> for definitions.

[2020-04-17 20:21] foolip commented on #23059
Thanks @tabatkins! If that's the case, then adding these missing tests should be quite trivial.

[2020-04-17 20:43] ag-eitilt commented on #22988
Even if the output is tweaked to render correctly, a lot of text browsers, Lynx included, don't actually process the JavaScript required to generate the results -- loading up `encoding/sniffing.html`, say, in the Chromium-derived browser I primarily use displays a summary with harness status, the test successfully passing, etc., but loading it in Lynx, Elinks, or for that matter, Chromium with NoS

[2020-04-17 22:57] Hexcles opened #23081 "Run Sphinx doc generation in Python 3"
We use Sphinx to parse arguments from a few `wpt` commands and generate docs automatically. It's currently running in Python 2. This is a reminder that once we switch our primary supported version to Python 3, we should upgrade Sphinx and run it with Python 3.

[2020-04-17 22:58] Hexcles commented on #23081
Code is in https://github.com/web-platform-tests/wpt/tree/master/docs

[2020-04-18 00:24] guest271314 commented on #22988
A `<form>` could be used at Lynx to at least run HTML and accesibility tests.

From perspective here, the test _results_ should at least be accessible at text-based browsers, whether as plain text, JSON or HTML, etc.

What is the "data"  and "test data" that you are referring to? The test itself, to be run at a custom text-based browser with JavaScript enabled?

A custom version of Chromium could

[2020-04-18 00:56] #17011 closed

[2020-04-18 14:01] guest271314 opened #23084 "window.speechSynthesis.speak() audio output is untestable at Chromium or Chrome [type: untestable][Missing coverage]"
There is no way (without non-standard workarounds) to programmatically test if `window.speechSynthesis.speak()` outputs audio at all at Chromium or Chromium browsers.

It _is_ possible to programmatically test if `window.speechSynthesis.speak()` outputs audio at Firefox and Nightly.

AFAICT there is currently no manual WPT test for audio output for `window.speechSynthesis.speak()`.

This issue is

[2020-04-18 14:09] guest271314 commented on #23084
cc @foolip @sjdallst

[2020-04-18 17:38] frehner commented on #20014
this looks like it's an issue with the default theme being used. https://github.com/bitprophet/alabaster/issues/139

the fix appears to be simple -

[code]

are you ok with me adding that inside a `custom.css` file in the `/docs/assets/` folder?

[2020-04-19 03:54] guest271314 opened #23090 "Add test for speechSynthesis.cancel() ceasing audio output immediately and pending is set to false when executed from a different window [missing-coverage][speech-api]"
Web Speech API does not include language mandating that audio output cease when the `window`  which called `window.speechSynthesis.speak()` is closed. Nightly stops audio output when the `window` which calls `speak()` is closed, Chromium does not https://bugs.chromium.org/p/chromium/issues/detail?id=1066812. Both implementations appear to be in conformance with the specification.

`cancel()` metho

[2020-04-19 11:11] stephenmcgruer commented on #23084
Can you explain, or give a short code snippet showing, how one can programmatically test this in Firefox?

[2020-04-19 13:42] stephenmcgruer commented on #20014
@frehner I am far from a web developer, but assuming that it doesn't affect rendering on wider screens that seems fine to me, and I would happy review such a patch, thanks! :)

[2020-04-19 14:45] guest271314 commented on #23084
@stephenmcgruer

At Firefox or Nightly it is possible to select a `Monitor of <device>` source at `navigator.mediaDevices.getUserMedia()`

https://wiki.archlinux.org/index.php/PulseAudio/Examples

[code]
Chrome, Chromium do not provide selection of `Monitor of <device>` at `getUserMedia()` prompt and there is no way to select that device with constraints, TL;DR

- https://github.com/w3c/mediacaptu

[2020-04-19 15:00] guest271314 commented on #23084
@stephenmcgruer For completeness, note, voices are loaded asynchronously from a socket connection to `speech-dispatcher`, the call to `getVoices()` at the above code should probably look more like

[code]

https://bugs.chromium.org/p/chromium/issues/detail?id=959362#c4

[2020-04-19 15:02] frehner commented on #20014
PR created! Added an additional selector to help prevent the video from being wider than 100%.

[2020-04-19 15:09] guest271314 commented on #23084
Note also the *oogle Chrome is shipped with custom voices created by *oogle - not Chromium - which requires enabling `speech-dispatcher` and having a local speech synthesis engine installed, and Firefox and Chrome do not both set `lang` attribute of voice, so `/^English_(America)/.test(name)` may not be applicable where that is an `espeak` or `espeak-ng` voice, and if neither of those native appli

[2020-04-19 16:57] stephenmcgruer opened #23095 "Parallel manifest generation with `--tests-root` broken on Windows"
Steps to reproduce:

[code]

I think in general `wpt.py` has always been broken when called from outside the tree, but we've just never noticed it. Chromium happens to call `manifest` with `--tests-root` and so with the 'new' (well, months old, but we're only now getting around to v8...) parallel code, we hit this for the first time.

One fix would just be to add the following to `wpt.py`:

[code]

[2020-04-19 18:32] guest271314 opened #23097 "speech-api/SpeechSynthesis-speak-ownership.html is incomplete; renders inaccurate results; should be removed from WPT pending specification clarification [type:untestable]"
https://github.com/web-platform-tests/wpt/blob/master/speech-api/SpeechSynthesis-speak-ownership.html links to https://github.com/WICG/speech-api/issues/8 which does not settle at all precisely what the concept of "ownership" is in the Web Speech API specification, where the term used exactly once

`speak(utterance)` method

with no accompanying definition of the term or algorithm clearly describi

[2020-04-19 19:58] frehner opened #23099 "CSS transform and stacking contexts"
This is my first issue opened here - let me know if I missed anything or misunderstood anything.

### Issue
I've noticed different behavior between Firefox vs Safari/Chrome/Edge in the following situation:

If an element has `transform: translate` it [should create](https://www.w3.org/TR/2020/WD-css-transforms-2-20200303/#individual-transforms) a new stacking context without needing any other prop

[2020-04-19 20:27] guest271314 commented on #23097
Re the current ambiguity of language in the current Web Speech API specification, and why it is presently impossible to refer to that draft or specification for clarity at the primary source document, consider

and

where the term _the_ is used, dissimilar from language at `speak()`

which does not in implementation occur at Chromium, as there is really only one `speechSynthesis` object or instanc

[2020-04-19 20:44] guest271314 commented on #23097
For completeness, to check the possibility of Chromium actually following the specification, not outputting audio because the implementation somehow, without reference thereto at the specification, _is_ recognizing `utter` as an instance of `SpeechSynthesisUtterance` that was previously passed to `iframe.contentWindow.speechSynthesis.speak()`, and flagged as having "owership" by some other `speech

[2020-04-19 21:29] stephenmcgruer commented on #23099
cc @flackr and @kevers (Chromium animation team) who likely can determine the correct behavior for the codepen and whether there is (a) an existing Chrome bug for it, and (b) an existing WPT for it.

[2020-04-19 22:55] birtles commented on #23099
@hiikezoe has done a bunch of tests for stacking context behavior with regards to animations so he might know if there is an existing test for this.

[2020-04-20 01:37] stephenmcgruer commented on #21529
Keeping up the record from our side; on Friday afternoon, @Hexcles was able to SSH into a TaskCluster VM (well, into the Docker container running on the VM). They were able to easily reproduce the issue by pointing `curl` at dl.google.com, and have captured a tcpdump and some traceroutes for the Google-internal team to look at. Will update when we get a reply back from them.

[2020-04-20 01:59] hiikezoe commented on #23099
I haven't written such test cases ever. And it seems to me that the case is not related to animation stuff.  You can see the different behavior even if you replace the CSS animation style with `transform: translateX(0px)` or some such.

[2020-04-20 03:39] birtles commented on #23099
I was thinking of all the tests you did for stacking contexts in [CSS animations](https://searchfox.org/mozilla-central/source/layout/reftests/css-animations) and [Web Animations](https://searchfox.org/mozilla-central/source/layout/reftests/web-animations) but it looks like none of those ever made their way into WPT.

[2020-04-20 03:49] frehner commented on #20014
actually, I just realized that I solved the horizontal scrolling on the homepage, but not on the actual page that is linked in the original issue.

I'll look into fixing that as well.

[2020-04-20 04:21] frehner commented on #23099
great point - that simplifies things a bit. I've updated the title and the description to reflect this. Thanks!

[2020-04-20 04:35] birtles commented on #23099
Should the title refer to transforms instead of transitions?

[2020-04-20 04:59] hiikezoe commented on #23099
Sorry for the confusion. "Such cases" I meant is cases using "z-index".  To me the test is quite normal, what I've written are a bunch of corner cases on interactions with animations as you know.

Yeah. We have a plan to migrate our in-tree _pagination_ reftests into WPT, if I have enough time I will migrate some animation related reftests into WPT as well.

[2020-04-20 09:33] #23095 closed

[2020-04-20 11:20] stephenmcgruer commented on #23099
I can find 5 tests in `css/css-transforms` which refer to stacking context in their name, all of which pass on both Chrome and Firefox: https://wpt.fyi/results/css/css-transforms?label=master&label=experimental&aligned&q=stacking

That said, there are definitely known bugs in Chromium for stacking context, e.g. https://bugs.chromium.org/p/chromium/issues/list?q=stacking%20context&can=2, and stacki

[2020-04-20 12:36] annevk opened #23111 "*.any.js global defaulting is confusing"
It's not clear to me that folks reading or writing `global=worker,jsshell` expect this to also apply to `window`.

https://web-platform-tests.org/writing-tests/testharness.html#multi-global-tests is quite clear on this, but I would rather have folks explicitly state their expected environments.

I could see making an exception when the `global` keyword is missing entirely though.

[2020-04-20 13:06] kevers commented on #23099
Not me y'all. Wrong person. Good luck though!

On Sun, Apr 19, 2020, 17:30 Stephen McGruer <notifications@github.com>
wrote:

[2020-04-20 13:06] flackr commented on #23099
I'm not sure if Firefox's behavior here is correct to spec. The spec indicates that [z-index](https://www.w3.org/TR/CSS2/visuren.html#z-index) only applies to positioned elements but the element #one has not been positioned even though it is a stacking context.

[2020-04-20 13:20] stephenmcgruer commented on #21625
I know I asked you to file this, and I'm so sorry, but I just found https://github.com/web-platform-tests/wpt/issues/16551 -_-. As usual, we had all the forewarning we needed - from us - that we should have had testing for this.

[2020-04-20 13:20] #21625 closed

[2020-04-20 13:22] stephenmcgruer commented on #21623
Do you consider this fixed with the work @jgraham did in https://github.com/web-platform-tests/wpt/pull/21633/commits/5c557bbb2fbeace98edf2efd76079f4830a818ed ?

(Which doesn't cover the automated testing part, but that should be covered by https://github.com/web-platform-tests/wpt/issues/16551)

[2020-04-20 13:38] flackr commented on #23099
Doing a quick scan of wpt/css/css-transform it looks like we don't have any tests which set z-index without also setting position to something other than static.

Curiously, if we look at the computed style of z-index, we can see some really inconsistent behaviors when [transform and z-index are applied](https://jsbin.com/jojacik/1/edit?html,css,js,output).

getComputedStyle of z-index given input

[2020-04-20 13:40] stephenmcgruer commented on #7570
Incidentally, this hit us again the other day in Chrome with `dom/nodes/Document-createCDATASection.xhtml` and `dom/nodes/Document-createCDATASection.html`.

[2020-04-20 13:49] stephenmcgruer commented on #8445
https://github.com/web-platform-tests/wpt/pull/10148 was merged aeons ago, and I can't reproduce any duplicate logging. Closing.

[2020-04-20 13:49] #8445 closed

[2020-04-20 14:04] stephenmcgruer commented on #23111
To clarify for anyone else reading this, I believe today the behavior is that you **always** run in the `default` (window and dedicated worker) scopes, unless you specify `!default`, `!window`, and/or `!dedicatedworker`.

Which is quite non-intuitive to me; if you write any `global=` then I think I'd expect it to run only in those cases. I can find *many* cases of `global=window,worker` in the cod

[2020-04-20 14:08] stephenmcgruer commented on #21890
Note that https://github.com/web-platform-tests/wpt/pull/22037 didn't work as expected, so if we wanted to make this easier there would be more work needed. In the meantime, the echo-ing `.py` handler approach should work - did you get a chance to try that @jcjones ?

[2020-04-20 14:12] annevk commented on #23111
Yes, correct.

I think we should get rid of `default` and the `!` variants, and do a couple of replace operations as you suggest. If you omit all you still get `window,dedicatedworker` going forward.

I don't think this kind of cleanup should need an RFC, but happy to defer that question to @jgraham.

[2020-04-20 14:19] #23097 closed

[2020-04-20 15:35] Ms2ger commented on #23111
This seems fine, but I do think it needs an rfc.

[2020-04-20 16:43] frehner commented on #23099
ah interesting, good test.

But I think I get different results than you do for safari?

|           | zindex | chrome 83.0.4103.14 | firefox 76.0b5 | safari 13.1 + STPreview 104 |
|-----------|--------|---------------------|----------------|-----------------------------|
| static    | 1      | auto                | 1              | 1                           |
| transform | auto   | auto

[2020-04-20 16:50] snuggs commented on #22824
Good eye @foolip. Unless my searching is worse than yours I can't seem to find as well.
That being said i'm familiar with wpt tests but not ones with side effects like preloading.
Where would you point to in existing tests that can get this going? Possibly `prefetch` `prerender` etc. ? Thanks in advance!

[2020-04-20 18:01] stephenmcgruer commented on #21022
RFC filed - https://github.com/web-platform-tests/rfcs/pull/51

[2020-04-20 19:48] flackr commented on #23099
Interesting, I tested on Safari 13.0.2, perhaps the behavior has changed quite recently.

[2020-04-20 22:24] Hexcles commented on #21529
So it turns out there's no RST at all in the captured packets.

Looking at the packet lengths, they are much bigger than MTU, which suggests TCP segmentation offloading is in effect. It's possible that this could contribute to the networking issues. @imbstack are you aware of any special NIC setup on the hosts?

To further investigate, we can try disable offloading. However, we don't have the righ

[2020-04-21 01:08] emilio commented on #23099
getComputedStyle should be just the specified value, that is a chrome bug that Safari fixed. https://bugs.chromium.org/p/chromium/issues/detail?id=1023232

[2020-04-21 01:12] hiikezoe commented on #23099
I found there is [a bug in Gecko](https://bugzilla.mozilla.org/show_bug.cgi?id=1256980), it looks like the same root cause.

[2020-04-21 02:06] djmitche commented on #21529
@imbstack is going to look more into the machine configuration.  Can you share the tcpdump with me?

[2020-04-21 02:13] guest271314 commented on #22824
@snuggs

See the code at the link. Does `load` event fire for the given attributes (locally)? Is the result in conformance with the relevant specifications?

[2020-04-21 03:19] imbstack commented on #21529
We don't explicitly set anything about networking in our images afaict. It is pretty much an image from gcloud with docker and our worker stuff on top.

So with that the settings on an instance from one of these images are:
[code]

I'll try to reproduce this behavior shortly both on the host directly and in a container. I'd like to dig a bit deeper and show what exactly is wrong before we start ch

[2020-04-21 05:09] Hexcles commented on #21529
Definitely! I was thinking about changing the setting on only the WPT workers temporarily (perhaps for a few hours) and collecting some before/after stats.

This is the script I used for reproducing the issue and capturing packets: https://gist.github.com/Hexcles/f957d7406036ff20e5397ab94fb5e70c
(Note that for some reason I found it easier to reproduce the issue right after the container became in

[2020-04-21 10:23] koddsson opened #23136 "Firefox is run with some feature flags turned on"
I've been working on preloading some scripts with the `Link` header and soon discovered that this feature is implemented behind a feature flag in Firefox.

[The WPT results for link preload however states that the test is passing in Firefox 75](https://wpt.fyi/results/preload/link-header-preload.html?label=master&label=stable&aligned). If you open up the [`wpt.live` site for that result](https://w

[2020-04-21 11:10] yoavweiss commented on #22824
Locally grepping in https://github.com/web-platform-tests/wpt/tree/master/preload gives me:
[code]

[2020-04-21 14:04] guest271314 commented on #23136
See https://github.com/web-platform-tests/wpt.fyi/issues/1648

[2020-04-21 14:11] stephenmcgruer commented on #23136
I'm going to tentatively close this as a dupe of https://github.com/web-platform-tests/wpt/issues/20284; I agree it is concerning that Firefox stable is running with flags on that aren't turned on for an average user.

[2020-04-21 14:11] #23136 closed

[2020-04-21 14:13] stephenmcgruer commented on #20284
In https://github.com/web-platform-tests/wpt/issues/23136, @koddsson discovered that the `network.preload` preference is being enabled for Firefox stable in the CI runs, whereas it is disabled for a 'normal' user of Firefox stable I believe.

Unfortunately at the same time I have to downgrade this to backlog, as @gsnedders is no longer working on it and it's not clear to me that anyone else is wil

[2020-04-21 14:18] guest271314 commented on #22824
Is this https://github.com/web-platform-tests/wpt/blob/master/preload/onload-event.html the test being referenced for `preload` and `onload` of `<link>` element? If yes, how exactly are the results intended to be observed and verified? Only Firefox 77 passes the test. There are at least 10 `<link>` tests bundled into one `preload`, `onload` test, however, the displayed result is either pass or fai

[2020-04-21 14:19] koddsson commented on #23136
Thanks! I didn't find that issue previously 🙏🏻

[2020-04-21 14:21] guest271314 commented on #20284
Why cannot the flags set for the browser simply be printed at wpt.fyi?

That does not appear to be an unsolvable issue, particularly since the entire process is programmatic, the code that executes `firefox` must also set flags?

[2020-04-21 14:24] stephenmcgruer commented on #20284
@guest271314 - this issue is not about communicating what flags are being used, it is about determining which flags **should** be used. Please keep any comments on showing which flags are being used to https://github.com/web-platform-tests/wpt.fyi/issues/1648, thanks.

[2020-04-21 14:47] guest271314 commented on #20284
Posted in incorrect issue. Two side of the same coin.

[2020-04-21 15:27] domenic commented on #20284
Maybe a good next step is to post a Mozilla Bugzilla bug asking them to turn off the preload preference when running WPT? Or, is that something we can control in this repository?

[2020-04-21 17:42] asurkov opened #23146 "ariaColIndexText/ariaRowIndexText is missing in AriaAttributes tests"
https://github.com/web-platform-tests/wpt/blob/master/dom/nodes/aria-attribute-reflection.tentative.html misses ariaColIndexText/ariaRowIndexText, added in https://github.com/w3c/aria/pull/994

cc'ing @joanmarie

[2020-04-21 18:01] Manishearth commented on #16455
I think one thing is being missed when these things are being discussed: The tests _do not rely on missing infra_ here.

Browsers are expected to implement the [WebXR Test API](https://immersive-web.github.io/webxr-test-api/) and enable it when running WPT. In Chrome's case, they've put their implementation in some autogenerated code, and for some reason references to that code are in WPT, but tho

[2020-04-21 18:44] djmitche commented on #21529
Summarizing those:

## capture (curl)

Starts off like a normal TLS connection: SYN/SYN+ACK/ACK, a few chunks of data back and forth to negotiate TLS, and then transmitting data:
[code]
..and that connection is still going when the capture ends, with about half of the chrome download transmitted:
[code]

So, I don't see any error here at all.  Did something go wrong in the capture script?  Wrong c

[2020-04-21 18:46] asurkov commented on #23146
ariaInvalid (https://rawgit.com/w3c/aria/master/#AriaAttributes) is also missing

[2020-04-21 18:56] jgraham commented on #16455
@Manishearth I don't think that's being missed; https://github.com/web-platform-tests/wpt/issues/16455#issuecomment-532040838 sets that out in detail, and has followup actions for @Hexcles to ensure that things continue to work as expected. I'm not sure if those actions are complete.

My comment at https://github.com/web-platform-tests/wpt/issues/16455#issuecomment-601646486 was specifically about

[2020-04-21 18:57] Manishearth commented on #16455
@jgraham It seemed like this issue was misinterpreted in https://github.com/web-platform-tests/wpt/pull/22836 , and I recently had another ping that misunderstood the status quo, hence this comment 😄

[2020-04-21 18:59] stephenmcgruer opened #23148 "idlharness.js does not handle newly renamed extended attributes"
WebIDL just renamed a bunch of attributes in https://github.com/heycam/webidl/pull/870, and the upstream changes have started rolling in:

- https://github.com/web-platform-tests/wpt/pull/23124
- https://github.com/web-platform-tests/wpt/pull/23128

Since idlharness doesn't know about these, these changes introduce errors.

My plan is to tackle the attributes as they appear in imported IDL files,

[2020-04-21 19:10] jgraham commented on #16455
Oh OK then. The current situation is suboptimal and confusing, just not actualy broken.

[2020-04-21 19:40] Hexcles commented on #21529
Thanks for the detailed investigation, @djmitche !

Regarding `capture.pcap`, yes I didn't see any error in the captured packets, either. `curl` failed due to `curl: (56) OpenSSL SSL_read: SSL_ERROR_SYSCALL, errno 104` and the download was only about half the size. This might be a red herring (the error might have occurred on a higher layer, e.g. TLS or HTTP/2). I suggest not investigating this on

[2020-04-21 21:05] Hexcles commented on #21529
Alright, with the new [script](https://gist.github.com/Hexcles/f957d7406036ff20e5397ab94fb5e70c), I finally managed to capture some RST packets :)
https://github.com/Hexcles/temp/blob/master/capture3.pcap

[2020-04-21 21:49] jdm opened #23156 "XHR and fetch tests for redirect-to-cors behaviour don't match"
https://github.com/web-platform-tests/wpt/pull/5070 introduced tests for making an XHR to a cross-origin URL that redirects when there is a POST body with a non-default Content-Type present. These tests (in [xhr/send-redirect-to-cors.html](https://github.com/web-platform-tests/wpt/blob/master/xhr/send-redirect-to-cors.htm)) assert that the Content-Type remains unmodified after the redirection.

Fo

[2020-04-21 22:02] djmitche commented on #21529
Interesting!  I turned off the relative sequence numbers here.

It starts off pretty normally:

[code]
and things seem to go along swimmingly until about half of the data has been transferred, then:
[code]

It turns out the exception is telling the truth: the remote end is resetting the connection.  So I guess the next step is to figure out where that's coming from.  Is it from dl.google.com?  If

[2020-04-21 22:07] Hexcles commented on #21529
On a freshly started interactive task (using the WPT Docker image), it usually fails within ~5 retries, based on my ~10 experiments with various different IPs. However, if I wait for say 10min and then run the script, I can't observe any failure even after dozens of retries.

[2020-04-21 22:33] djmitche commented on #21529
Thanks!  I ran it a few hundred times on my ec2 host.  I'm trying running it in a bare `python:2` docker container now, on the same EC2 host.

[2020-04-21 22:55] imbstack commented on #21529
Really great work, @Hexcles. Thanks for making it way easier to track this down.

I was unable to get this to reproduce after running that script for quite a while on a bare host in gcloud based on the machine image that our workers run on.

_However_ after a mere two tries inside a docker container of `ubuntu:latest` it failed with a nice `[Errno 104] Connection reset by peer`. So that nicely rul

[2020-04-21 22:59] Hexcles commented on #21529
Woohoo! Progress!

I noticed that, too; and we do exponential backoff now. 4e6974bfdfe6171d3f35c615ebc1a3c815b852ae Unfortunately, it doesn't seem to help much.

I can try increasing the initial delay and the number of retries.

[2020-04-21 23:53] guest271314 commented on #20284
Setting and verifying preferences for tests set should be under control of WPT. Is there any reason why this cannot be done? Here, perform the tests by hand. WPT downloads an entire browser, therefore the browser running the test is under complete control of WPT.

[2020-04-22 01:28] djmitche commented on #21529
Brian did some further investigation and was able to reproduce quite frequently -- https://community-tc.services.mozilla.com/tasks/groups/UyRo436cTXC-Zez_lMgzPQ (the green are the reproductions).  So, that's pretty common!

Some random googling revealed [this article](https://medium.com/swlh/fix-a-random-network-connection-reset-issue-in-docker-kubernetes-5c57a11de170).  It's a slow start, but get

[2020-04-22 06:06] annevk commented on #23156
@rwlbuis @JuniorHsu @yutakahirano this might interest you. Safari is consistent in not stripping in either place. (This is a bug, but maybe once fixed it'll fix both at once.) Both Chrome and Firefox seem buggy in that they have different behaviors between fetch and XHR. I'll send a PR for the XHR test and file bugs.

[2020-04-22 15:35] #23156 closed

[2020-04-23 04:09] imbstack commented on #21529
Just to update we've reproduce on a host where we captured traces inside the container and on the host as well. We're looking into them will update more tomorrow. Sorry again this is causing troubles. I hope that increase in retries and wait time will help for the time being!

[2020-04-23 15:57] domenic opened #23206 "In the future, make assert_class_string and idlharness class string tests stricter"
For a long time, Web IDL "class string" behavior was non-interoperable. As such, currently `assert_class_string` only tests the interoperable subset: basically, does `Object.prototype.toString()` produce the right result on instances. This is good, because if it tested the full spec semantics, then every idlharness-based test would get a bunch of noisy failures for areas outside the interoperable

[2020-04-23 21:25] djmitche commented on #21529
Well, there are a bunch of things wrong there.  Top three:

First, toward the end of the download, the sequence numbers pushed from dl.google.com break into two streams:
![Screenshot from 2020-04-23 17-06-14](https://user-images.githubusercontent.com/28673/80149569-e0af8d00-8584-11ea-8e54-a13c50e6da7e.png)
(x axis is seconds, y axis is sequence number of the first octet in each packet from dl.goog

[2020-04-24 04:38] Hexcles commented on #21529
So what's our takeaway here?

IIUC, this sounds somewhat similar to https://github.com/moby/libnetwork/issues/1090 where suprious retransmits out of the TCP window cannot be NAT'ed into the container and the host considers them invalid hence sending RST.

Shall we try one of the workarounds on the host?

[2020-04-24 05:33] imbstack commented on #21529
Hey @Hexcles,

Yeah, I think it is time to just try one of the workarounds you mentioned. I'm in the process of baking an image with the offloading settings you mentioned disabled now. If it helps in my testing, you can try using it asap.

p.s. for my own learning for next time, how did you figure to point the blame at  TCP segmentation offloading? Is there a troubleshooting doc you found it in?

[2020-04-24 05:39] imbstack commented on #21529
Ah, now that I read the bug you linked to tonight I see what they suggest to do there. I'll bake an image with that and send it your way tonight or tomorrow!

[2020-04-24 05:40] Hexcles commented on #21529
@imbstack oh I'm sorry that wasn't clear. I was referring to the workarounds in https://github.com/moby/libnetwork/issues/1090 , which seems to directly tackle the the symptom that we are seeing -- either accepting the spurious retransmits into the Docker container (hopefully it will handle them better) or dropping them completely on the host to stop the host from sending RSTs.

[2020-04-24 06:21] imbstack commented on #21529
Tried this out on `projects/taskcluster-imaging/global/images/docker-worker-gcp-community-googlecompute-2020-04-24t05-52-00z` and it appears to work. I'll update this bug after we land the patch and have an official image with the fix (should happen tomorrow first thing) but if you want to try that image out, it should be functionally the same to the one we release.

Thanks again for all of the he

[2020-04-24 09:16] mrego opened #23224 "[docs] Add documentation for check-layout-th.js script"
This script is used quite a lot in CSS layout related tests, but I believe it's not documented at https://web-platform-tests.org/

Having a page simliar to https://web-platform-tests.org/writing-tests/testharness-api.html would be ideal explaining how people can use it to write tests and the few special behaviors it provides (mostly the optional argument `callDone` in `checkLayout()` function).

A

[2020-04-24 11:23] foolip commented on #21751
I just tried rebasing/retrying https://github.com/web-platform-tests/wpt/pull/21628 and it still fails for the same reason.

@burg https://bugs.webkit.org/show_bug.cgi?id=207617 was closed as fixed, but maybe that wasn't the problem? Once macOS 10.16 is released and supported on Azure Pipelines, 10.14 will likely be dropped. This has been the pattern in the past. If this issue still affects 10.16,

[2020-04-24 11:57] stephenmcgruer commented on #23224
I actually wonder if it should be moved from `resources/` to `common/`, or even into `css/support` given it's vast majority of uses are in `css/`.

The distinction of what goes in `resources/` is loose, of course, but I tend to view it as a place that 'harness' code goes, and even then only if it will used by many places across the codebase. For example, there is a service worker 'harness' floatin

[2020-04-24 18:03] burg commented on #21751
Where is the invocation of `sudo safaridriver --enable` ? I can't locate it in the pipeline run, just the part where Safari Technology Preview Webdriver tests are erroring out.

Taking a sysdiagnose after it fails should include logs for safaridriver --enable as well as the preference check when running tests. Can you file a new issue at feedbackassistant.apple.com <http://feedbackassistant.apple.

[2020-04-24 19:50] mrego commented on #23224
Probably it can go into a different folder, I don't have a strong opinion regarding that.
This issue was more about documenting this script and letting other people know about it and how to use it.

[2020-04-24 20:50] Hexcles commented on #7206
I stumbled upon another side effect of this.

If you ever run things like building `docs/_build` and then run `wpt lint --all`, you'd get tons of errors like this:

This is because
https://github.com/web-platform-tests/wpt/blob/a7b88cb7b8ba75a5399aee54540f03bb88924672/tools/lint/lint.py#L87-L89
would include paths that are ignored by `.gitignore` in subdirectories.

I'm tentatively promoting this

[2020-04-24 22:03] imbstack commented on #21529
Ok, looks like this will be pushed out Monday morning instead. I'll update here when that happens.

[2020-04-25 22:19] guest271314 opened #23251 "Test that it is possible to disable sending terms typed in address bar to google.com at latest Chrome and Chromium builds [type:missing-coverage][type:untestable]"
Unless mistaken the latest Chromuium dev build disabled the ability to configure the browser to _not_ send whatever is typed in the address bar to google . com by virtue of disabling support for setting a search engine other than google . com.

The user literally has no security against sending a remote web site any and all data typed into the address bar, or "Omnibox".

At previous versions of Ch

[2020-04-25 22:21] guest271314 commented on #23251
![Screenshot_2020-04-25_22-12-57](https://user-images.githubusercontent.com/4174848/80292114-20bc6e80-8743-11ea-8a04-772ceccbce0d.png)
![Screenshot_2020-04-25_22-13-47](https://user-images.githubusercontent.com/4174848/80292116-21550500-8743-11ea-8444-93b594a61c6e.png)
![Screenshot_2020-04-25_22-14-18](https://user-images.githubusercontent.com/4174848/80292118-21ed9b80-8743-11ea-9c4b-f514f23c1e98.

[2020-04-25 22:28] guest271314 commented on #23251
Actually, this can be tested manually.

[2020-04-25 22:32] jdm commented on #23251
This feels to me like it falls outside the scope of testing the web platform.

[2020-04-25 22:37] guest271314 commented on #23251
Not at all.

"feels" is irrelevant.

Open Chromium or Chrome, try to searching, by any means, type "test" in the address bar.

The expected result is that an error should be thrown for a search engine that does not exist.

The problem is that at latest version of Chromium dev build it is not possible to _not_ send data to a remote service. Clearly, that is a security issue for the entire Web itsel

[2020-04-26 01:36] TalbotG opened #23253 "Lint and svg flag"
@foolip Philip,

I presume you are one of the wpt maintainers.
Is the svg flag valid or deprecated?
`<meta content="svg" name="flags">`
I have declared the svg flag in 2 tests
and in 2 reference files so far:
https://github.com/web-platform-tests/wpt/pull/20033
https://github.com/web-platform-tests/wpt/pull/21450
**svg** is not in the list of **valid flags**
http://web-platform-tests.org/writing-t

[2020-04-26 04:05] #20014 closed

[2020-04-26 04:38] guest271314 commented on #23251
It appears there is no way to disable default search engine provider or set a default search engine provider at UI Settings at Chromium 84.0.4122.7 dev channel.

Reading similar issues and revisiting previous experiments disabled search engine provider

[code]

and set default search engine provider as a Policy at command line

[code]

and verify result at chrome://policy
<pre>
Policy name
Default

[2020-04-26 12:18] jdm commented on #23251
Testing Chrome-specific UI behaviour is not part of this repisitory's goals.

[2020-04-26 12:18] #23251 closed

[2020-04-26 16:34] guest271314 commented on #23251
If that is the case testing _any_ browsers' UI behaviour is not part of this repository's goals, e.g. `getUserMedia()` UI, https://github.com/web-platform-tests/wpt/search?q=UI&type=Issues, and all issues or PR relating to UI of any browser should be similarly closed.

[2020-04-26 18:52] stephenmcgruer commented on #23251
Do you have any specific issues in mind? You linked to a list of 234 issues, the first page of which at least are (at first glance) for web-exposed, web-standardized behavior.

The Chrome address bar (not any browser's address bar) is not part of the standardized web (nor does anyone have, to my knowledge, a serious proposal for it to be). As such, it is out of scope for this project.

[2020-04-26 20:08] guest271314 commented on #23251
From the first page of results for "UI" https://github.com/web-platform-tests/wpt/issues/8670. Examples at other pages  of results https://github.com/web-platform-tests/wpt/issues/18492, https://github.com/web-platform-tests/wpt/issues/8278.

Manual tests exist in WPT.

When the new tab page is loaded and set to `about:blank`, typing "test" in navigation field should not result in a cross-origin r

[2020-04-26 22:58] gsnedders commented on #23251
We have to draw some line as to what is and isn't in scope; from an interoperability point of view, browser UI is largely irrelevant (certainly some parts of UI do clearly interact with web-exposed features, including, yes, any way that navigates the document), and is something relatively that can be vastly more easily changed.

How applications, including web browsers, running outwith the web pla

[2020-04-27 10:50] johanneswilm commented on #13464
I believe this issue is still current. I see there are webdriver tests, but they are only to test webdriver functionality, there is no option to use webdriver instead of testharness.js to test other specs using webdriver merely as a tool to mimic human interaction (not a test to test webdriver itself). Is that correct?

[2020-04-27 10:52] johanneswilm commented on #13464
@marcoscaceres I believe this is what currently prevents me from converting [these input events tests ](https://github.com/johanneswilm/input-events-testing/blob/master/tests/basic.test.js) to tests that can be included in WPT.

[2020-04-27 10:53] johanneswilm commented on #13464
I'll create a new issue as part of this issue seems to not be relevant any more.

[2020-04-27 10:53] #13464 closed

[2020-04-27 11:01] johanneswilm opened #23261 "Use webdriver to mimic human interaction in tests"
According to the list of test types [1], webdriver tests are only there to test the webdriver protocol. It's not possible to use webdriver to mimic human interaction to test other things. For Input Events and contenteditable, it would be very helpful if we could create webdriver tests to test whether browsers adhere to the relevant specification.

For example, I have written these automated tests

[2020-04-27 11:12] stephenmcgruer commented on #23261
You are correct that `wdspec` tests (which mostly live in `webdriver/`) exist to test WebDriver implementations in browsers.

[testdriver.js](https://web-platform-tests.org/writing-tests/testdriver.html) is our mechanism for allowing tests to use the WebDriver protocol to perform tasks that cannot be performed via web platform APIs, including human input. It either provides or can be extended to p

[2020-04-27 11:31] johanneswilm commented on #23261
@stephenmcgruer Indeed, looking at that, it seems to do all we need. I'll close this issue and reopen only in case there is something missing. Thanks!

[2020-04-27 11:31] #23261 closed

[2020-04-27 13:27] foolip commented on #23253
@TalbotG I am indeed still active in WPT, but to get the attention of a wider group of people maintaining it, you can mention @web-platform-tests/wpt-core-team.

It looks like the problem is that there are no lints for any flags at all, valid or invalid. I've renamed the issue to reflect this.

Is the "svg" flag useful for you to add to tests? If so I'd say you can simply keep doing so, and perhap

[2020-04-27 14:54] TalbotG commented on #23253
I used to add the "svg" flag for tests that were using an svg object. This was the normal procedure before.

"svg | Requires support for vector graphics (SVG)"
https://wiki.csswg.org/test/format#requirement-flags

There are some web-capable softwares that want to be and/or strive to become (now or in the future) W3C-web-standards-compliant (at least regarding CSS) which may not have support for SV

[2020-04-27 16:05] RReverser opened #23268 "No way to add .headers for .any.js tests"
I'm trying to add an `[testname].any.js` test that relies on certain headers set on the page, but struggling.

It seems that `[testname].any.js.headers` applies to `[testname].any.js` itself, and even manual expansions to `[testname].any.html.headers` and `[testname].any.worker.html.headers` are ignored even though match names of autogenerated HTMLs.

/cc @Ms2ger

[2020-04-27 16:22] TalbotG commented on #23253
I wrote down this (useful!) information. Thank you Philip

[2020-04-27 17:26] TalbotG opened #23271 "Not found (MISSING) textpath-selection-011 test"
@web-platform-tests/wpt-core-team
Dear fellow wpt colleagues,

[textpath-selection-011 test result](https://wpt.fyi/results/css/css-pseudo/textpath-selection-011.html?label=experimental&label=master&aligned)
reports "MISSING" but
[textpath-selection-011.html](http://wpt.live/css/css-pseudo/textpath-selection-011.html)
[textpath-selection-011-ref.html](http://wpt.live/css/css-pseudo/textpath-select

[2020-04-27 17:47] stephenmcgruer commented on #23253
If this is a flag that the css folks feel is useful, I think that documenting it (the file is `docs/writing-tests/css-metadata.md, PRs are welcome ;)) is a good idea.

Additionally, a lint for `css/` against deprecated flags seems reasonable too.

I'm not clear what other lints would be both practical and useful. Meta tags are author-defined, and some authors may with to use them with different `n

[2020-04-27 19:06] stephenmcgruer commented on #23271
The text appears to be missing a 'match' link element; see https://web-platform-tests.org/writing-tests/reftests.html#components-of-a-reftest

So in this case, `textpath-selection-011.html` would need a link in it something like:

`<link rel="match" href="textpath-selection-011-ref.html">`

Without this, wpt infra cannot tell that this test is a reftest (or any type of test), so it doesn't attempt

[2020-04-27 19:15] TalbotG commented on #23271
@stephenmcgruer Thank you, thank you and thank you! I stared at this for hours and never saw the obvious.
By the way, I am from Québec, Canada :)

[2020-04-27 19:15] #23271 closed

[2020-04-27 19:19] stephenmcgruer commented on #23271
No problem - looking at the documentation I think it could be clearer (and I also discovered we have two pages for documenting writing reftests...). Documentation is such a tricky thing :)

[2020-04-27 19:36] TalbotG commented on #23253
I do not know.
I have checked the documentation of some web-aware and CSS-capable user agents like [Prince 13](https://www.princexml.com/doc/graphics/#scalable-vector-graphics-svg) and [Antenna House 7](https://www.antenna.co.jp/AHF/help/v70e/ahf-gra.html#SVG) and to my surprise, they appear to support (at least partially) SVG objects.
Some other newer web-aware and CSS-capable user agents (eg [gn

[2020-04-27 22:08] imbstack commented on #21529
Images with this fix are deployed now. My testing of them so far in our workers seems to indicate the workaround fixes things. Please let me know if this either breaks something else or doesn't fix your initial issue!

[2020-04-28 00:49] TalbotG commented on #23253
With more research, even gngr is looking, planning to support svg objects:
[Support for SVG images in gngr](https://github.com/UprootLabs/gngr/issues/210)

[2020-04-28 07:44] Ms2ger commented on #23268
The autogenerated "files" are produced by `tools/serve`'s `WrapperHandler`, with headers added here: https://github.com/web-platform-tests/wpt/blob/896db568c3008976ce9754c0cfd8b3362f8ed9d9/tools/serve/serve.py#L74-L76

The `.headers` support is in `tools/wptserve`'s FileHandler here: https://github.com/web-platform-tests/wpt/blob/896db568c3008976ce9754c0cfd8b3362f8ed9d9/tools/wptserve/wptserve/han

[2020-04-28 08:45] foolip commented on #22879
This has been resolved.

[2020-04-28 08:45] #22879 closed

[2020-04-28 08:47] foolip commented on #19207
This was too long ago to be useful as an open issue.

[2020-04-28 08:47] #19207 closed

[2020-04-28 08:49] foolip commented on #15171
I'll close this in favor of https://github.com/web-platform-tests/wpt/issues/15412.

[2020-04-28 08:49] #15171 closed

[2020-04-28 10:11] foolip opened #23292 "update-built-tests.sh doesn't work on macOS"
On macOS 10.15.4 with the system python (2.7.16) and python3 (3.7.3) I get the following error trying to run `./update-built-tests.sh`:
[code]

@Hexcles could you check if it works for you? I used to have python3 installed via Homebrew so it could also be that my system is messed up, although here the problem seems to be in the python2 bits...

[2020-04-28 10:16] foolip opened #23293 "update-built-tests.sh locally"
On a Linux machine (not macOS as in https://github.com/web-platform-tests/wpt/issues/23292) running `./update-built-tests.sh` from a completely clean  (`git clean -fdx`'d) repo results in a bunch of changes. `git status` shows:
[code]

The problems are:
- PNGs with differences
- generated-mime-types.json is written to the wrong location, should be mimesniff/mime-types/resources/generated-mime-type

[2020-04-28 10:30] foolip commented on #18608
I don't know if it's been fixed, but I haven't seen it in a while. Closing, if it happens again I suspect it would be a new problem next time, with the infra constantly evolving.

[2020-04-28 10:30] #18608 closed

[2020-04-28 11:10] foolip commented on #22979
@web-platform-tests/wpt-core-team please note that some big renames are coming. I think this is a borderline case of needing the https://github.com/web-platform-tests/rfcs process but ultimately I'll not suggest it, since it only affects one (or two) features and is mainly a problem of handling the rename.

@stephenmcgruer @Hexcles is there any prep needed for this to roll smoothly into Chromium?

[2020-04-28 14:27] #23111 closed

[2020-04-28 14:33] guest271314 commented on #22979
@foolip `OffscreenCanvas` is WIP in Firefox, currently not implemented that last time that checked.

[2020-04-28 16:03] foolip opened #23300 "Document tentative directories"
https://github.com/web-platform-tests/wpt/pull/7663 introduced the .tentative file name flag, and since then lots of files have begun to use this convention.

However, we also have 3 directories containing "tentative":
- [css/css-grid/masonry.tentative](https://github.com/web-platform-tests/wpt/tree/3320205a9d70636efc03cfff340edecd0bee4694/css/css-grid/masonry.tentative) added in https://github.co

[2020-04-29 07:50] foolip opened #23312 "wpt-decision-task can fail due to git race condition"
In https://github.com/web-platform-tests/wpt/pull/23283, [wpt-decision-task](https://community-tc.services.mozilla.com/tasks/DsABju6HStOsvffovetJig) failed like this:
[code]

Right now, fetching the repo both commit 56c273203cb250902022702481d56539963ea2ff and 6303b9e57674d4d60b182d81779bf4b4257c4e59 can be found.

The Taskcluster run was triggered by [a force push](https://github.com/web-platform

[2020-04-29 09:54] jgraham commented on #23300
I don't think I mind these existing; I might start using the tentative flag to change the `implementation-status` default from `implementing` to `backlog` (which in practice will mean that gecko CI doesn't run the tests by default in try and on the pre-integration branches).

[2020-04-29 10:44] foolip opened #23313 "No WebKitGTK runs since Apr 23"
https://wpt.fyi/results/?run_id=493030003 is the most recent WebKitGTK run on wpt.fyi currently, see them all at https://wpt.fyi/runs?max-count=100&product=webkitgtk.

@clopez can you take a look?

[2020-04-29 11:32] clopez commented on #23313
I see the runs still happening without issue, the problem is that the results are not longer being updated to wpt.fyi

Example:

* On the [last run with results (0084aa71d4)](https://github.com/web-platform-tests/wpt/commit/0084aa71d4) you can see how there is an action triggered for  [wpt.fyi - webkitgtk[experimental]](https://github.com/web-platform-tests/wpt/runs/610686195)

* However in a [rec

[2020-04-29 11:56] stephenmcgruer commented on #23300
I also recently instructed someone working on a large rework of a spec to use a `tentative` directory (in this case, I suggested `css/css-tables/tentative/`!) until they could get the spec changes in.

We should document *something*, though tentative is such a unique word (unlikely to be used by accident) that I'm tempted to just say "if 'tentative' is in the WPT-root-relative path at any point, t

[2020-04-29 12:12] clopez commented on #23313
Opened PR https://github.com/web-platform-tests/wpt.fyi/pull/1925

[2020-04-29 13:15] stephenmcgruer commented on #23312
cc @jgraham who has previously worked on tricky issues with wpt-decision-task and missing revisions/etc

[2020-04-29 13:34] jgraham commented on #23300
The literal directory name `tentative` seems closest to the solutions we currently support for other things (e.g. support). But in that case we'd want to move the existing tests which are using the `foo.tentative` directories to `foo/tentative`

[2020-04-29 15:22] stephenmcgruer commented on #21751
@burg sorry for the delay here, I missed that you had replied.

I'm not an expert here, but we call `sudo "/Applications/Safari Technology Preview.app/Contents/MacOS/safaridriver" --enable` in [`tools/ci/azure/install_safari.yml`](https://github.com/web-platform-tests/wpt/blob/master/tools/ci/azure/install_safari.yml). This is the 'Install Safari Technology Preview' step of https://dev.azure.com/w

[2020-04-29 16:31] foolip commented on #22979
I'll go ahead and merge https://github.com/web-platform-tests/wpt/pull/23070 now. If it does end up creating trouble for someone, please accept my apologies for not waiting longer. A huge PR like this will accumulate conflicts, so letting it sit for a long time also has its downsides. I'm confident from the positive reactions in this thread that the end result will be an improvement in everyone's

[2020-04-29 16:45] foolip commented on #23293
https://github.com/web-platform-tests/wpt/pull/23070 renamed some things so annotated-spec.html will be elsewhere now.

[2020-04-29 19:21] stephenmcgruer commented on #21751
@burg FB7681340 should be the feedbackassistant.apple.com report, which includes the sysdiagnose taken from this run: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=47155&view=logs&j=c092c851-ddde-53a1-8da2-b0c5715821df&t=dbea33bd-3dc2-5085-1162-71b50606b5b5

(Note that it looks green, that's because I stuck a `|| true` at the end of the wpt script as a quick hack to get to th

[2020-04-29 19:31] #23313 closed

[2020-04-29 20:27] jugglinmike opened #23326 "[testharness.js] Deferring timeouts while subtest results are being produced"
Currently, testharness.js tests are labeled as "timed out" if they do not finish running subtests within one of [two possible durations: "normal" and "long"](https://github.com/web-platform-tests/wpt/blob/31da90bff3d6fd5cd8169b924125b3253b438ec4/resources/testharness.js#L22-L25). This has a couple negative consequences.

Actual testing durations are not as consistent as these two options suggest,

[2020-04-29 21:06] stephenmcgruer commented on #23326
This feels like it should be an RFC issue (not important, we can transfer it there later if we want), but more importantly it feels like a /cc @web-platform-tests/wpt-core-team rather than an explicit list of folks :)

[2020-04-29 21:43] domenic opened #23328 "Incorporate latest webidl2.js updates into idlharness"
This is a tracking issue. In particular, I am interested in https://github.com/w3c/webidl2.js/commit/4d22d721fa2cc12ca3058d4be79e26e69c736421 and the not-yet-merged https://github.com/w3c/webidl2.js/pull/466 . Presumably once those are finished there will be a new release of webidl2.js, and we can roll that in.

/cc @saschanaz.

[2020-04-29 21:45] domenic opened #23329 "Unrecognized type "Function" in my idlharness tests"
In #22982, I have the IDL

[code]

but idlharness gives me

CountQueuingStrategy interface: new CountQueuingStrategy({ highWaterMark: 5 }) must inherit property "size" with the proper type | Unrecognized type Function
-- | --

errors. `Function` is [built in to Web IDL](https://heycam.github.io/webidl/#Function). How do I get idlharness to recognize it?

[2020-04-29 21:57] burg commented on #21751
Great, thanks! I'll take a look when it comes through.

[2020-04-30 08:09] foolip opened #23335 "Deployments are not cleaned up when they're taken down"
https://github.com/web-platform-tests/wpt/deployments lists many deployments for pull requests, some of which don't exist any more. For example:
![image](https://user-images.githubusercontent.com/498917/80687453-9c634600-8aca-11ea-8a8a-43e77855a937.png)

This links to https://wptpr.live/22524 which is 404.

This shows up as "254 environments" in https://github.com/web-platform-tests/wpt:
![image](

[2020-04-30 08:24] foolip commented on #17027
It looks like this was already fixed in STP 105:
https://wpt.fyi/results/html/dom?run_id=510170002&run_id=503710001

Yay!

[2020-04-30 08:24] #17027 closed

[2020-04-30 09:02] foolip commented on #19780
In https://github.com/web-platform-tests/wpt/issues/23292 I ran into a failure related to cairo on macOS, so I agree this is annoying :)

@grorg did you get it to work at all?

[2020-04-30 09:02] foolip commented on #19780
Also see https://github.com/web-platform-tests/wpt/issues/22979 about reorganizing the tests, maybe there will be appetite for more changes there if there's a concrete suggestion.

[2020-04-30 09:35] foolip opened #23340 "Issues with signal detection in RTCPeerConnection-helper.js"
This issue is to track two things from https://github.com/web-platform-tests/wpt/pull/22779.

 1. Using `OffscreenCanvas` works, but it's not enabled in Firefox or Safari yet, so the tests will fail because of that. It's probably possible to use a canvas element instead, with a TODO to replace it later.
 2. The signal detection allows only for an error of 1, but due to quantization error in video

[2020-04-30 10:11] mikkorantalainen commented on #8650
Any progress on this issue?

[2020-04-30 10:16] saschanaz commented on #23328
Just published a new release 👍

[2020-04-30 10:54] alvestrand commented on #23340
On signal: humans are usually seen to be better able to percieve luma (brightness) than color - so codecs tend to optimize for luma fidelity. It's been suggested that instead of taking the average across the R/G/B values, we should use the ITU luma formula:

      // Use Luma as in Rec. 709: Y′709 = 0.21R + 0.72G + 0.07B;
      luma += 0.21 * data[i] + 0.72 * data[i + 1] + 0.07 * data[i + 2];

(co

[2020-04-30 11:38] stephenmcgruer commented on #23329
Looks like this comes from `IdlArray.prototype.assert_type_is` - `Function` might not be in the big list of accepted types there. (I don't see it offhand). I can get to this sometime in the next week, or PRs welcome (though idlharness is quite intimidating, at least to me!)

[2020-04-30 11:46] stephenmcgruer commented on #23335
Tch, fun. [The deployment script](https://github.com/web-platform-tests/wpt/blob/master/tools/ci/pr_preview.py) in theory was meant to clean up after itself, though I must admit right now I am having trouble finding where...

Setting roadmap - I may not get to this until mid-May, but we should look at it. Let me know if there's an urgency to this I'm unaware of.

[2020-04-30 13:24] stephenmcgruer commented on #23300
Moving them SGTM; there are only 3 such directories today (the ones Philip mentioned) so it would be good to get out ahead of more being added.

Do you think needs a short RFC @jgraham ?

(cc @MatsPalmgren @tkent-google @ricea as an FYI that we're discussing slightly renaming the tentative directories y'all recently added. Feel free to object :))

[2020-04-30 13:42] Ms2ger commented on #23300
Would we then end up with only a `tentative` folder in `css/css-grid/masonry/`, or have a `css/css-grid/tentative` that only contains masonry tests, or put masonry tests and random other tests directly in `css/css-grid/tentative`?

Perhaps it would make sense to keep the `foo/bar.tentative` dirs for a new `bar` feature in an existing `foo` spec, and also support `foo/tentative` for cases where `fo

[2020-04-30 14:27] burg commented on #17027
Oops, yes this was recently fixed.

Brian (he/him)

[2020-04-30 17:20] inexorabletash opened #23346 "idlharness.js's assert_type_is needs to be taught about each interface"
As noted in e.g. https://github.com/web-platform-tests/wpt/pull/23323#issuecomment-621677647 the idlharness assertion `assert_type_is()` needs to be explicitly made aware of interfaces like Float32Array and DataView. If an interface isn't listed, it leads to unexpected failures.

We likely haven't noticed this much because most idlharness tests are boilerplate and don't provide sample values. Even

[2020-04-30 17:53] foolip commented on #21529
Should the new images have led to a fix without any extra work on our part?

https://community-tc.services.mozilla.com/tasks/QpzzvdbIQlSWamTGOyX4kg is a recent failure due to network issues, 10 hours ago.

[2020-04-30 18:16] Hexcles commented on #21529
It should. That error came from a different place with a different exception (`Connection broken`) but it's possible that it was also a connection reset.

[2020-04-30 19:59] Manishearth commented on #22900
https://github.com/web-platform-tests/wpt/pull/23272

[2020-04-30 19:59] #22900 closed

[2020-04-30 20:00] Manishearth commented on #22898
@bialpio do you agree with shifting the ray up a little bit? if not this needs to be a spec bug

[2020-04-30 20:06] #22901 closed

[2020-04-30 20:10] Manishearth commented on #22898
We can also tweak the test to allow both one and two hit test results, and then tweak the spec to allow this optimization.

[2020-04-30 20:14] bialpio commented on #22898
Shifting it up SGTM, as long as it makes the manual calculations still feasible - I usually calculate the expected results by hand before codifying them in order to avoid setting the expected data to whatever makes the tests pass.

If we were to spec it out, some questions we'd have to answer:
- Is the intersection of ray with triangle defined on triangle's edges / vertices? if so, what should be

[2020-04-30 20:34] imbstack commented on #21529
Is the `connection broken` issue happening as frequently as the reset issues from before? Also did those errors seem to reduce in frequency this week? We don't have any empirical data to show any success other than our direct testing before release.

[2020-04-30 21:11] Manishearth commented on #22898
Yeah, most of the vectors are along the axes so shifting up is easy.

If we were to spec it out I'd imagine that we just spec that we filter out duplicates.

I'll fix this once https://github.com/web-platform-tests/wpt/pull/23350 lands to avoid test conflicts.

[2020-04-30 21:34] Hexcles commented on #21529
Anecdotally, I think it's a lot better this week. We are trying to chase
down the root cause internally, too. I'll follow up here once we have an
update. Thanks again, everyone!

On Thu, Apr 30, 2020 at 4:34 PM Brian Stack <notifications@github.com>
wrote:

[2020-05-01 01:24] ricea commented on #23300
I support this. Either `websockets/stream/tentative/` or `websockets/tentative/` would be fine. I have a mild preference for the former as it is more explicit.

[2020-05-01 14:58] Hexcles opened #23362 "[wptserve] Figure out which string type URLs should be"
This is probably one of the last few properties on `Request` that are still using native strings and it is widely used.

We probably want to use binary strings / bytes for this.

[2020-05-01 17:27] domenic opened #23364 "origin-isolation tests need to be run in separate browsing context groups"
[Origin isolation](https://github.com/WICG/origin-isolation) has a browsing-context-group wide scope, for the reasons discussed [here](https://github.com/WICG/origin-isolation#the-browsing-context-group-scope-of-isolation).

This means that if one of the [origin isolation tests](https://github.com/web-platform-tests/wpt/tree/master/origin-isolation) runs, and then the test runner navigates to a se

[2020-05-01 17:31] Hexcles commented on #23364
I'd assume that's the case. @jgraham can you confirm?

[2020-05-01 17:32] Hexcles commented on #23364
(But for sure we don't restart the browser.)

[2020-05-01 17:34] domenic commented on #23364
It appears to not always be the case when using `vpython third_party/blink/tools/run_web_tests.py` in Chromium though, so perhaps this would become a crbug.

[2020-05-01 17:36] Hexcles commented on #23364
That's highly possible. `content_shell --run-web-tests` manages lifecycles in a completely different and messy way...

[2020-05-01 18:19] stephenmcgruer commented on #20670
cc @annevk @jdm as two folks listed in `xhr/META.yml`

Looks like a bug in the handler, which is test-author written.

[2020-05-01 18:52] jdm commented on #20670
Agreed. It should pretty clearly be `setState(token, "Deny Ignored")`.

[2020-05-01 19:49] #20670 closed

[2020-05-01 20:21] Hexcles commented on #8285
I don't think this is relevant anymore.

[2020-05-01 20:21] #8285 closed

[2020-05-01 20:33] domenic commented on #23300
My minor preference is for directories with `.tentative` in their name. A lot of tests these days are being written by adding a directory with entirely `.tentative.html` tests. That could be cleaned up by allowing tentative directories, but I think `spec/feature.tentative` is simpler than `spec/feature/tentative` where `spec/feature/` is otherwise-empty.

So, I think I am seconding @Ms2ger.

[2020-05-01 20:35] domenic commented on #23346
This is similar to (but not quite the same as) https://github.com/web-platform-tests/wpt/issues/23329, in particular your reference to the built-in types like Float32Array.

Note that those types aren't interfaces, though.

[2020-05-01 20:36] #21854 closed

[2020-05-01 23:09] inexorabletash commented on #23346
Yeah, cc: @stephenmcgruer too

[2020-05-03 01:12] stephenmcgruer commented on #23312
Tentatively marking roadmap, but this has blocked a half-dozen or so Chromium exports over the last week so maybe it should be 'urgent'.. Not sure if something has changed to make this more common or if its just bad luck.

[2020-05-04 12:31] upsuper opened #23386 "ruby-position tests upstreamed from Chromium are incorrect"
The tests upstreamed in #23221 fails on Firefox, and after inspecting the test, I believe there are two tests that are actually incorrect.

According to the [spec](https://drafts.csswg.org/css-ruby-1/#rubypos), `ruby-position` only applies to ruby annotation containers, but there are two tests try to check it on `<rt>` which is ruby annotation, and thus should not be effective.

Please take a look

[2020-05-04 14:15] stephenmcgruer commented on #21529
Tentatively switching to `roadmap` since we seem to be in a better place re connection resets.

[2020-05-04 14:15] zcorpan commented on #23326
Why did we go with 10s / 60s originally? The proposal here seems more robust, and removes the need for splitting tests with many subtests.

We could still have the `long` indicator, for cases where a single subtest takes a long time.

To tackle the infinite subtests scenario, maybe there could be a fixed maximum timeout of a few minutes?

[2020-05-04 14:20] stephenmcgruer commented on #17296
So the entire directory was skipped in https://github.com/web-platform-tests/wpt/pull/18934 (Sep 2019), due to https://bugs.chromium.org/p/chromedriver/issues/detail?id=3114

Then https://bugs.chromium.org/p/chromedriver/issues/detail?id=3114 was fixed in https://github.com/web-platform-tests/wpt/pull/19555 (Oct 2019) and the tests re-enabled in https://github.com/web-platform-tests/wpt/pull/19497

[2020-05-04 14:20] #17296 closed

[2020-05-04 18:39] evilpie opened #23391 "class-string-named-properties-object.window.js using [DefineOwnProperty]"
This test introduced with #23140 by @domenic seems to call `[[DefineOwnProperty]]` on the window named properties object. Per [this spec](https://heycam.github.io/webidl/#named-properties-object-defineownproperty) and the implementation in Firefox this will always throw.

[code]

[2020-05-04 18:41] domenic commented on #23391
Thanks! I guess we should delete that test; sorry about that.

[2020-05-04 18:53] stephenmcgruer commented on #16979
Marking `backlog` based on lack of action (and lack of apparent concern about inaction).

[2020-05-04 18:59] stephenmcgruer commented on #17770
Tentatively marking backlog, given lack of activity (and apparently lack of concern about said activity).

[2020-05-04 19:51] stephenmcgruer commented on #18405
Marking backlog due to inactivity (and lack of concern about inactivity).

[2020-05-04 19:54] stephenmcgruer commented on #14199
For the record, I just did a cleanup (~7 months after the last one as far as I know) and closed 31 PRs. So still not many/month, but I think the script may miss Chromium CLs that were entirely deleted.

There are also of course CLs that are still open and still have exportable changes, but haven't been touched in a long time (effectively abandoned). Not sure off-hand if we should do anything about

[2020-05-04 20:07] stephenmcgruer commented on #18769
The wptpr.live code was launched (albeit for same-repo - no forks - only atm), and uses the deployment API. So this doesn't seem relevant anymore.

[2020-05-04 20:07] #18769 closed

[2020-05-04 20:09] stephenmcgruer commented on #19607
Same-repo PR mirroring has launched, and cross-fork mirroring is being tracked in https://github.com/web-platform-tests/wpt.live/issues/27, so I'm closing this.

[2020-05-04 20:09] #19607 closed

[2020-05-04 20:10] stephenmcgruer commented on #14763
This falls under @LukeZielinski 's monitoring/metrics efforts, but I'm not sure what the priority is for Azure Pipelines runs. Luke - feel free to downgrade to backlog.

[2020-05-04 20:10] stephenmcgruer commented on #19763
Downgrading to backlog back on inactivity (and lack of concern about inactivity).

[2020-05-04 20:12] stephenmcgruer commented on #20057
I think without evidence that there are more preferences we should turn on here (which we haven't got), 6 months later is a reasonable time to close this.

Of course we'd still love to hear if there are preferences we are missing, and would be happy to turn them on :).

[2020-05-04 20:12] #20057 closed

[2020-05-04 20:13] stephenmcgruer commented on #21277
Downgrading to backlog given inactivity (and lack of concern about inactivity).

[2020-05-04 20:16] stephenmcgruer commented on #20336
Marking roadmap due to inactivity (and lack of concern about inactivity)

[2020-05-04 20:21] stephenmcgruer commented on #15485
Marking roadmap due to inactivity (and lack of concern about inactivity)

[2020-05-04 20:22] stephenmcgruer commented on #20742
Archiving as inactive; I don't think we're going to take any action here (aside from the retry logic clopez added)

[2020-05-04 20:22] #20742 closed

[2020-05-04 20:24] #21216 closed

[2020-05-04 20:35] stephenmcgruer commented on #20866
We updated mozlog to 6.0, and I cannot reproduce using the command line in the original comment. I assume this is fixed.

[2020-05-04 20:35] #20866 closed

[2020-05-04 20:49] stephenmcgruer commented on #20587
This is 100% reproducible, as far as I know. https://github.com/web-platform-tests/wpt/pull/23396 is an example; TaskCluster just stays at `Community-TC (pull_request) Expected — Waiting for status to be reported`.

I can't see the logs for what is sent to TaskCluster because it's an app, but from another webhook that PR dumped the following event payload:

[code]

[2020-05-04 20:56] stephenmcgruer commented on #14210
This falls under @LukeZielinski 's monitoring/metrics efforts, but I'm not sure what the priority is for TaskCluster runs. Luke - feel free to downgrade to backlog.

[2020-05-04 21:07] stephenmcgruer commented on #20058
So as far as I can tell from this discussion, we are now in a position where Safari is fixed but Edge is not. That is borne out by the wpt.fyi URLs in the original report now showing fails for just Edge.

[2020-05-04 21:09] stephenmcgruer commented on #7206
Do you intend to work on this in the coming months? If not, I would suggest that it's still roadmap because we aren't actively working on it :)

[2020-05-04 21:13] stephenmcgruer commented on #23328
So it looks like we just manually roll `webidl` in a built format only (which is sorta weird). `resources/webidl2/lib/README.md` says:

[code]

That said, I'm not opposed to just doing that procedure again. The last updates were 0d9fecceac869018c2b54b6251600f3d184d98c0, which looks like a cherry-pick of a fix, and before that 10368fa5582b6eeb6ee4556b4a6d0fc7ec896aa4 which brought us to webidl mast

[2020-05-04 21:33] stephenmcgruer commented on #21022
This has been done.

[2020-05-04 21:33] #21022 closed

[2020-05-04 21:34] stephenmcgruer commented on #21623
Tentatively closing based on previous comment.

[2020-05-04 21:34] #21623 closed

[2020-05-04 22:41] stephenmcgruer commented on #21971
The last PR to remove assert_precondition just landed (https://github.com/web-platform-tests/wpt/pull/23324).

I'm closing this as fixed; @Hexcles we may want a wpt.fyi issue to track changing the UI if that's something you feel is warranted.

[2020-05-04 22:41] #21971 closed

[2020-05-05 18:06] #23329 closed

[2020-05-05 18:17] Hexcles commented on #21971
I took a quick look around and didn't find any special logic for `PRECONDITIONED_FAIL` on the wpt.fyi UI, but we do have a somewhat related issue for checks: https://github.com/web-platform-tests/wpt.fyi/issues/1620.

[2020-05-05 18:49] #23328 closed

[2020-05-05 20:11] iBicha opened #23415 "[webxr][testharness] xrSession_visibilityState: EventWatcher constructor called with duplicate events"
`xrSession_visibilityState` has multiple events of the same name in the `EventWatcher`.

https://github.com/web-platform-tests/wpt/blob/f9709adf63adb8c316209e7826f67f3f9c2bf2f2/webxr/xrSession_visibilityState.https.html#L21

yet the `EventWatcher` does not handle events of the same name correctly.

for recorded events, `EventWatcher`, events must be deduplicated.
Additionally, `xrSession_visibilit

[2020-05-06 07:56] evilpie commented on #23391
Can someone open a Chrome bug for this? Seems like Chrome's implementation of tne named properties object doesn't follow the spec in some other places. Chrome apparently implements expando properties. ([per](https://phabricator.services.mozilla.com/D72179#inline-423307) @TimothyGu)

[2020-05-06 10:34] foolip opened #23426 "GitHub Actions manifest workflow occasionally fails to create merge_pr_* tags and upload manifest"
This is a continuation of https://github.com/web-platform-tests/wpt/issues/10572, which tracked the same issue occasionally happening with Travis. In https://github.com/web-platform-tests/wpt/pull/15781 the responsibility for tagging master and uploading manifests was moved to GitHub actions and it has been fairly reliable, but not 100%.

[check.js](https://gist.github.com/foolip/21391a51977d199fa

[2020-05-06 12:42] stephenmcgruer commented on #12850
This was fixed in c46ec78846335260f32954bcafa1676d600836f0, I believe.

[2020-05-06 12:42] #12850 closed

[2020-05-06 13:45] stephenmcgruer commented on #21751
@burg - any luck in getting access to the sysdiagnose? (I'm not clear how long feedbackassistant reports take to reach you, so sorry if this is too soon a ping :))

[2020-05-06 15:26] domenic commented on #23391
I think the first step would be to write (or find?) some web platform tests so we can get a more complete picture of browser behavior and what bugs there are on file...

[2020-05-06 15:33] #23391 closed

[2020-05-06 17:13] jdm opened #23436 "Eventsource tests are broken under python3"
Judging by the comment in https://github.com/web-platform-tests/wpt/pull/23284 this is expected. It broke Servo's nightly sync, however, since we're running a small set of tests (/eventsource) under python3 to verify the rest of our test infrastructure still works.

[2020-05-06 17:38] stephenmcgruer commented on #23436
cc @Hexcles @jgraham as an FYI

This will eventually be fixed as we upgrade handlers to Python 3, but perhaps we could fix the `eventsource/` ones ahead of https://github.com/web-platform-tests/rfcs/pull/49 being ratified given that we're sort of regressing here?

@jdm - does it need to be those tests you run, or could you run some that don't depend on the python file handler support?

[2020-05-06 17:50] jdm commented on #23436
Running any small set of tests is fine for our purposes. I nearly have all of the handlers fixed to get the tests passing again, but there are a couple stragglers that do special things with encodings, of course.

[2020-05-06 18:58] burg commented on #21751
@stephenmcgruer I got it yesterday, thanks! I'll let you know when I take a look.

[2020-05-06 19:55] foolip opened #23441 "tools/wpt/ tests failing on Python 3.6 and 3.8 on Windows"
I've seen this from time to time, it's probably been happening for weeks or months already.

https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=47560&view=logs&jobId=b6659cb1-662e-592d-54c4-23e3f3bef39a&j=b6659cb1-662e-592d-54c4-23e3f3bef39a&t=10fc34cb-585f-5af5-e547-ad012e9553b8 (for https://github.com/web-platform-tests/wpt/pull/18830) shows this happening:
[code]

So things don

[2020-05-07 01:02] tkent-google commented on #23386
You're right.  it should be applied to ruby annotation **container** boxes (`<rtc>`), not ruby annotation boxes (`<rt>`).  I'll fix this.

[2020-05-07 06:29] #23386 closed

[2020-05-07 14:03] sefeng211 opened #23459 "dialog element centering test needs adjustment."
I think this [margin: 0](https://github.com/web-platform-tests/wpt/blob/master/html/semantics/interactive-elements/the-dialog-element/centering-iframe.sub.html#L17) can be removed because `margin` supposes to be `auto` (which is the default in [Chrome](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/core/html/resources/html.css;l=1160;drc=42267a718b56e0da01b82

[2020-05-07 14:49] annevk commented on #13465
This blocks https://github.com/whatwg/url/issues/390 a bit.

[2020-05-07 16:01] sefeng211 commented on #23459
In addition to that, I think [this test](https://github.com/web-platform-tests/wpt/blob/master/html/semantics/interactive-elements/the-dialog-element/centering.html#L25) is also a bit problematic.

In Firefox, we use [inset-inline](https://searchfox.org/mozilla-central/rev/dc4560dcaafd79375b9411fdbbaaebb0a59a93ac/layout/style/res/html.css#815-816) to respect writing-mode, and since this is vertica

[2020-05-07 16:19] foolip commented on #23441
@stephenmcgruer would you consider this part of the Python 3 work? Is there someone who could try fixing it, or should we disable these jobs?

[2020-05-07 16:21] stephenmcgruer commented on #23441
Assigning to Ziran, who is currently working on Py3 support included Windows support currently.

cc @svillar who looked at this briefly

[2020-05-07 18:06] svillar commented on #23441
Is it a windows only failure @foolip ?

[2020-05-07 19:33] sefeng211 commented on #23459
I just learned the top layer spec says `Unless overridden by another specification, its static position for left, right, and top is zero. `, perhaps that's the reason

[2020-05-07 20:19] domenic commented on #23459
Can you state more what the issue is with this? Are you saying that it's incorrect to add `margin: 0`, or is it just redundant? I think having it there makes the tests nice and explicit, so that you know there are no margins impacting things.

top and bottom here? because the inline start and inline end suppose to be left and right and they are set to 0?

Those tests should be the same as https://

[2020-05-07 21:21] sefeng211 commented on #23459
I was saying that `margin: 0` has no impact to the test result, if it's for making tests explicit, that's fine.

I don't think they are the same, because these 2 tests didn't set the writing mode for the dialog element explicitly, so the dialog element got vertical writing mode, and the link I posted set the dialog writing mode explicitly which was horizontal.

For this test case, similar to what

[2020-05-07 21:24] domenic commented on #23459
I see. Yes, I think you're right then.

I'm happy to approve a pull request fixing these tests, although I admit I still feel shaky. @zcorpan can probably help confirm and review.

[2020-05-08 14:28] CYBAI opened #23482 "domains for cookies/http-state tests are mismatched"
Currently, we're using `home.example.org` or some other similar domains for testing the `cookies/http-state/domain-tests.html`.

For example, for the `domain0001`, it has same domain from `Set-Cookie` and `Location`

https://github.com/web-platform-tests/wpt/blob/df7fc2ece226676b8398ece13ddfd31b4f1eca5c/cookies/http-state/resources/test-files/domain0001-test#L1-L2

But, it's run under `localhost:8

[2020-05-08 18:12] sefeng211 opened #23488 "Shouldn't dialog element always use viewport despite where the containing block's position?"
Consider [this test](https://github.com/web-platform-tests/wpt/blob/master/html/semantics/interactive-elements/the-dialog-element/abspos-dialog-layout.html#L200-L210), if I understand the test correct, it expects the dialog element to use it's containing block's position, which is the `absolute-div`'s position, to calculate where it supposes to be.

My question is, I don't think this is what the s

[2020-05-08 18:56] stephenmcgruer commented on #7660
I wrote a brief document that summarizes the (I believe) generally agreed upon solution: https://docs.google.com/document/d/1dAlCSHUQldtgWDDTrGJR-ksm19FZZ3k8ppqc5-kSwIk/edit# . It's world-readable, comment-able by @chromiums, and I'm happy to give comment access to anyone else who wants it (just can't make it world comment-able due to spam).

[2020-05-11 14:38] #7760 closed

[2020-05-11 18:09] koddsson commented on #20284
[My patch](https://bugzilla.mozilla.org/show_bug.cgi?id=1631816#c12) got rejected since Firefox is going to ship the preload functionality soon. I feel a bit weird about it since WPT will then continue to show the tests passing on Firefox even though `preload` doesn't work at all on Firefox stable with the default settings, and therefore isn't a correct representation of the browsers capabilities.

[2020-05-11 18:15] domenic commented on #20284
To me this demonstrates that there are conflicting priorities between wpt.fyi and browsers' internal WPT runs, which makes letting browsers configure the options they use for wpt.fyi a bad choice. I.e., it's understandable that Firefox wants more coverage of features, but doing so shouldn't cause wpt.fyi to become inaccurate.

So I'd suggest the wpt.fyi infra folks figure out a way to separate Fir

[2020-05-11 18:22] jgraham commented on #20284
There is a separation. In this case a pref got set in the global config rather than in one of the configs that's only applied to nightly or in gecko CI. It's difficult to ensure that never happens.

Allowing browsers to set prefs is necessary; there are a bunch of prefs that have to be set for gecko to reliably run tests. We also end up setting some prefs for Chrome.

[2020-05-11 18:59] stephenmcgruer commented on #20284
Agreed, but as far as I know *for stable* Firefox is the only browser where we download a general set of preferences from a server, rather than explicitly setting flags with quite specific purposes. It's true that Chrome could change the meaning of [one of the flags we set](https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/browsers/chrome.py#L61) to do something diffe

[2020-05-11 21:04] jugglinmike commented on #23326
Thanks for the advice, @stephenmcgruer. In the interest of promoting discussion (and starting the 1-week RFC process), I've submitted this as [RFC 53: Introduce more robust mechanism for testharness.js timeout detection](https://github.com/web-platform-tests/rfcs/pull/53). That makes this issue superfluous. (Not to worry, @zcorpan: I've carried over your feedback.)

[2020-05-11 21:04] #23326 closed

[2020-05-12 07:23] svgeesus commented on #22820
Correct, but this is not a stand-alone test file which is why it s in the support directory. It is instead part of [this test](https://github.com/web-platform-tests/wpt/blob/master/css/WOFF2/available-002.xht). This is one of several tests which use iframes linking to support files.

Yes, this is a visual test; the pass criteria require a human to look at the result. This is indicated by the

[cod

[2020-05-12 08:54] faceless2 commented on #22820
That's the pointer I needed, thanks!

I've patched and re-run the generator; it fixed the required file, but also modified all the WOFF2 files too. They're binary so I can't see what's changed - it's probably just the generated timestamp, but as I'm unsure I haven't included the regenerated `*.woff` in https://github.com/web-platform-tests/wpt/pull/23524.

[2020-05-12 13:34] stephenmcgruer commented on #22330
So it looks like for Azure Pipelines we attempt to get `virtualenv` via `./tools/ci/azure/pip_install.yml`, passing it `parameters: packages: virtualenv`.

For Safari, that results in us getting virtualenv-20.0.20:

[code]

In a random log for Windows, however, I found that we already have virtualenv, and think it's of a valid version:

[code]

It's not clear to me where we would specify the versi

[2020-05-12 13:34] stephenmcgruer commented on #22330
cc @ziransun

[2020-05-12 14:34] LukeZielinski opened #23532 "Safari stable run timed out"
Haven't seen such a failure recently so logging this bug just in case this is a real issue.

https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=47829&view=results

The first shard of the Safari run executed for 3 hours and then was cancelled. Normally this seems to run in about half the time. Logs suggest the job was actively working (didn't seem to be stuck). Could it be that som

[2020-05-12 14:36] LukeZielinski commented on #23532
@foolip as FYI for now, lets see if tomorrow's run works. Unless you see something obviously wrong above.

[2020-05-12 15:29] foolip commented on #23441
@svillar yes, I've seen this only on Windows.

[2020-05-12 15:32] foolip commented on #23441
To scratch another itch, that I suspected might affect this, I sent https://github.com/web-platform-tests/wpt/pull/23536. Seems like that passes, will verify the tests are actually running and then send out for review.

[2020-05-12 16:11] svillar opened #23539 "xrWebGLLayer_framebuffer_scale.https.html depends on chromium-only stuff"
It's currently using `fakeDeviceController.displayInfo_.webxrDefaultFramebufferScale` which is defined [here](https://github.com/web-platform-tests/wpt/blob/cdd4b43f2f89422f36d81546df70eb09f6aa8ed0/resources/chromium/webxr-test.js#L462) in `resources/chromium/webxr-test.js`. If we want other vendors to be able to run the test then we should either replace it or add new api to [the test API](https:

[2020-05-12 20:26] #23441 closed

[2020-05-12 20:26] foolip commented on #23441
Fixed by https://github.com/web-platform-tests/wpt/pull/23536.

[2020-05-13 11:03] foolip commented on #23415
@iBicha it looks to me like the problem is that "visibilitychange" is listed twice in the `EventWatcher` constructor call. That'll cause two event listeners to be added. The API shape is pretty unintuitive IMHO, but the idea is that in the constructor you list all the (unique) events that might be fired, and in the `wait_for` call you say which (possibly repeated) events that should be fired. Any

[2020-05-13 11:04] foolip commented on #23030
@iBicha this should be a pretty simple fix, do you want to send a pull request?

[2020-05-13 11:18] foolip commented on #23532
@LukeZielinski I downloaded the raw logs of the "Run tests" step, and it ends like this:
[code]

So it look like `./wpt run` got through all of the tests, but then hanged until it was canceled.

I haven't seen this failure mode before.

[2020-05-13 11:23] foolip commented on #23532
Comparing that to a case that succeeded, there shouldn't be any more output after "INFO Tolerating 29638 unexpected results", so it's not clear that this got stuck inside `./wpt run`. It might have, but another possibility is some glitch on the Azure Pipelines side.

[2020-05-13 11:25] foolip commented on #23532
@LukeZielinski do we have numbers for how many of the last *n* daily Safari runs got posted to wpt.fyi? Eyeballing https://wpt.fyi/runs?label=master&label=stable&max-count=100&product=safari it looks pretty good lately, but both May 11 and 12 were missed.

[2020-05-13 11:41] foolip commented on #22988
@ag-eitilt as you've found there are some places where the test data is already factored out in a way that makes it possible in principle to use in other contexts. [/url/resources/urltestdata.json](https://github.com/web-platform-tests/wpt/blob/e9a106175a02a192a7239f42a94235fbe0f0c7a3/url/resources/urltestdata.json) is another such case I'm aware of.

If there is test data that's close to being re

[2020-05-13 11:47] foolip commented on #21526
@pshaughn have you had this test fail on some browser?

https://wpt.fyi/results/dom/events/Event-timestamp-safe-resolution.html?label=experimental&label=master&aligned shows it passing in the browsers we test for wpt.fyi.

[2020-05-13 15:01] iBicha commented on #23415
Got it, thank you for the explanation. So this is considered a bug in `xrSession_visibilityState`.
Changed the title to reflect that.

[2020-05-13 17:26] LukeZielinski commented on #23532
We do have numbers but they only go back to May 1. But agreed with your link, it's been good except for May 11 and 12.

Either way I think the issue was intermittent - today's safari run succeeded. So I'll close this.

[2020-05-13 17:26] #23532 closed

[2020-05-13 19:21] thejohnjansen opened #23574 "Enable test_driver to interact with frames and new tabs/windows"
According to the readme (https://github.com/web-platform-tests/wpt/blob/57f28f89273e2f75324441948fefde94dda537f1/docs/writing-tests/testdriver.md):

"NB: presently, testdriver.js only works in the top-level test browsing context (and not therefore in any frame or window opened from it)."

And I cannot find any tests in WPT that have unique implementations/work-arounds for this issue. This feels li

[2020-05-13 20:00] jgraham commented on #23574
What are the tests actually trying to do? Do you need to run testdriver commands in the opened window?

[2020-05-13 20:14] mysteryDate commented on #19780
Yeah, Cairo is used to generate reference images. Using the 2d context itself would be a bit funny, because then we'd just be comparing the result to itself. What we do in chromium often is have a "reference page" that generates the same image in a different way to test the behaviour.

https://github.com/web-platform-tests/wpt/blob/master/html/canvas/tools/tests2d.yaml#L1710

I guess we could do t

[2020-05-13 20:21] Hexcles commented on #23574
"Switching to" (focusing on) the newly opened window is an OS/desktop-level action. IIRC, we use Flexbox and the newly opened window is focused by default.

(That said, you can't use testdriver in that new window at the moment.)

[2020-05-13 20:43] thejohnjansen commented on #23574
@jgraham that's exactly right: we want to then interact with the content in the new window by running testdriver commands.

It's analogous to something like:
`driver.SwitchTo().Window(driver.WindowHandles.Last())
WebElement element = driver.findElement(By.id("foo"));`

[2020-05-13 21:23] domenic opened #23579 "Add another HTTPS port"
I'd like to test that two different-port-same-host origins can be isolated from each other using [origin isolation](https://github.com/WICG/origin-isolation). Since this is a HTTPS-only feature, this requires two separate HTTPS ports.

Web platform tests only provides one, thus preventing me from writing these tests :(.

Some draft tests that fail for trying to access an out-of-bounds `{{ports[htt

[2020-05-14 16:53] Hexcles opened #23607 "Some set-cookie.py handlers will expire in 2021"
https://github.com/web-platform-tests/wpt/blob/66e875b5d6bbd71ab24af9ca27d341f242f7a7cb/content-security-policy/reporting/support/set-cookie.py#L23-L26

https://github.com/web-platform-tests/wpt/blob/66e875b5d6bbd71ab24af9ca27d341f242f7a7cb/cookies/resources/set-cookie.py#L24-L27

Looks like these cookies will stop working after Jun 9, 2021.

cc authors @g-k @andypaicu

[2020-05-14 19:11] domenic opened #23615 "Allow writing tests against the default ports (80 and 443)??"
In Chromium it turns out we have bugs that only manifest on the default ports. E.g. https://chromium-review.googlesource.com/c/chromium/src/+/2199909 passes currently, but would not pass if it was run against 443.

I imagine this is a tricky infra task, but I thought I'd file a feature request for completeness.

[2020-05-14 19:31] domenic commented on #23364
I'll close this, since it seems like WPT is probably not at fault. On the blink side, I've resorted to using `--restart-shell-between-tests=always` when running the tests locally. On the test bots, they seem to not need that.

[2020-05-14 20:57] #7570 closed

[2020-05-15 06:50] svgeesus commented on #22820
Thanks for that, merged.

[2020-05-15 06:50] #22820 closed

[2020-05-15 10:31] foolip commented on #23539
@Hexcles you were going to have a look at Mojo and WebXR this quarter, right?

[2020-05-15 10:33] foolip commented on #17856
Unassigning since I'm not actively working on this.

[2020-05-15 10:36] foolip commented on #19753
Closing, https://web-platform-tests.org/running-tests/from-local-system.html#macos-setup is actually pretty short and OK now.

[2020-05-15 10:36] #19753 closed

[2020-05-15 10:51] foolip opened #23630 "pointer_tripleclick.py causes Safari runs to get stuck and fail"
https://github.com/web-platform-tests/wpt/pull/23456 added webdriver/tests/perform_actions/pointer_tripleclick.py and both Safari stable and preview runs are now failing to run to completion:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=48148&view=logs&j=e30964c2-2c6e-5f59-e489-a5a5f8e06cce&t=6d7e717c-8e8e-5068-9023-6945313ee227&l=16586
https://dev.azure.com/web-platform-tes

[2020-05-15 11:05] foolip commented on #23630
Running the test locally with `./wpt run --channel preview safari webdriver/tests/perform_actions/pointer_tripleclick.py` (using STP 106) I see it get stuck like this:
![image](https://user-images.githubusercontent.com/498917/82043950-c1e87600-96ac-11ea-9daf-dfab9bbd553a.png)

That doesn't really provide much of a clue, however.

[2020-05-15 11:11] foolip commented on #23630
Running with `--webdriver-arg=--diagnose` produces a [safaridriver.81562.ptlpke.txt](https://gist.github.com/foolip/6fc12fb994c4cb39088ff477aecf3f5d). That also doesn't provide much of a clue, it just ends with the action command being received, and then nothing.

[2020-05-15 14:42] Hexcles commented on #23539
Yes, I will.

[2020-05-15 16:04] burg commented on #17856
Internally, I have set up port forwarding on the device for the webserver port, so tests can just send requests to localhost. For public consumption, editing the hosts file, or being able to load files from the webserver over a local hostname rather than localhost would be better.

[2020-05-15 16:06] burg commented on #17856
Phillip wrote:

Addressed in previous comment.

The resize endpoints should return "not supported" for MobileSafari as it doesn't support changing the window size.

It is supported to create and switch between tabs in iOS WebDriver. So if this is failing via WebDriver commands, please file a bug at feedbackassistant.apple.com <http://feedbackassistant.apple.com/>

[2020-05-15 16:15] burg commented on #23630
I've created a radar to track investigation of this internally.

<rdar://63276006 <rdar://63276006>>

Some other click tests are failing/hanging due to some known issues, most notably clicking at absolute coordinates and clicking after implicitly scrolling. We are actively investigating these issues.

[2020-05-15 19:15] stephenmcgruer commented on #20587
We started running Taskcluster on draft reviews, so this is no longer relevant.

[2020-05-15 19:15] #20587 closed

[2020-05-15 19:41] #18634 closed

[2020-05-15 19:51] foolip commented on #23630
Thanks @burg, that's great! Please let me know if you need any additional info, if you're not able to reproduce locally.

[2020-05-15 19:52] foolip commented on #23630
https://github.com/web-platform-tests/wpt/pull/23631 worked, so this is no longer urgent in wpt.

[2020-05-16 10:43] foolip commented on #17856
Some code I experimented with is in https://github.com/web-platform-tests/wpt/pull/20097.

@burg, some follow-up questions, which might help if anyone would like to pick it up in the future.

Is it possible to set up such port forwarding on a real iPhone or in the simulator? For the hosts file, I guess you mean the hosts file of the mac computer controlling the iOS device? So if the hosts file nam

[2020-05-16 15:42] ExE-Boss commented on #19836
This was fixed in commits [`b402397`](https://github.com/web-platform-tests/wpt/commit/b4023970550ce0d454e700fad25e957ad1366ceb#diff-9c76a08d73cbcbaa19c0adedcaa3242e) and [`d4cdf40`](https://github.com/web-platform-tests/wpt/commit/d4cdf4021ab48c66b052fb62d91da1a06c8cbcf7#diff-9c76a08d73cbcbaa19c0adedcaa3242e).

[2020-05-17 19:09] foolip commented on #21751
Some good news here. Per https://github.com/web-platform-tests/wpt/pull/21628#issuecomment-629845122 it looks like `sudo safaridriver --enable` for Safari stable does work on macOS Catalina. But for STP 106 it still does not.

This is sort of good news, because the problem should then be fixable in STP. And we won't be stuck on macOS 10.14 for stable runs, which would be a big problem when Azure P

[2020-05-17 19:31] foolip commented on #21751
In https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=48296 I tried pinning to STP 94 to see if this might have been due a recent regression in STP, but that still failed.

To be clear, I am not looking into this any further, I just wanted to see if https://github.com/web-platform-tests/wpt/pull/23654 had unblocked this, but it hasn't. Hopefully the sysdiagnose @stephenmcgruer sub

[2020-05-18 08:49] foolip commented on #19836
I'll go ahead and close. If there's some remaining work, everyone feel free to reopen or file another issue.

[2020-05-18 08:49] #19836 closed

[2020-05-18 08:54] foolip commented on #23312
This happened in https://github.com/web-platform-tests/wpt/pull/21553 too.

[2020-05-18 09:19] #23415 closed

[2020-05-18 10:00] foolip commented on #22824
Thanks @yoavweiss, looks like it was just me failing to search after all. I was searching for `as="style"` but there's a match for that too. I was probably in the wrong repo entirely or something like that.

[2020-05-18 10:00] #22824 closed

[2020-05-18 10:21] foolip commented on #23300
`feature.tentative` sounds good to me. I'll send a PR to rename `websockets/stream-tentative`, but this still needs to be documented.

[2020-05-18 13:54] foolip commented on #23335
There's no urgency, it's just something I noticed.

[2020-05-18 15:16] frehner commented on #23099
I created a PR to add a test for this. See #23663

:)

[2020-05-18 15:51] #14909 closed

[2020-05-18 21:51] smfr commented on #23099
Agreed that z-index should not apply to transformed elements that have static position.

[2020-05-19 16:42] Hexcles commented on #21751
Does #23654 fix this?

[2020-05-19 17:05] Ms2ger opened #23693 "Ensure generated webgpu tests are not modified manually"
Perhaps this could be integrated in <https://github.com/web-platform-tests/wpt/blob/master/update-built-tests.sh>.

See #18285 and #18414.

CC @kainino0x

[2020-05-19 19:04] kainino0x commented on #23693
Is that script run automatically during CI? Does it happen in the browsers as well so auto-imports won't violate it?

The check needs to be as follows: If any generate file changes, then `webgpu/common/framework/version.js` must also be modified.

[2020-05-19 19:59] stephenmcgruer commented on #21751
No; it works only in Safari stable, but not STP 106. My understanding from @burg is that there will be some more logging in ~STP 107 and we'll hopefully learn more about the issue then!

[2020-05-19 20:18] jdm commented on #2968
This continues to be the case, and HTTPS->HTTP tests appear to be intentionally excluded in https://github.com/web-platform-tests/wpt/blob/b62bd4a22154756bc021bdad08aafe9b57bb17f6/referrer-policy/spec.src.json#L551-L569, and it's not clear to me why that is the case.

[2020-05-19 20:40] jdm commented on #2968
I guess step 2.4 of https://fetch.spec.whatwg.org/#concept-main-fetch and https://w3c.github.io/webappsec-mixed-content/#should-block-fetch does actually lay out a pretty clear reasoning - in a testing situation, an HTTPS context making an HTTP request will block it unless it's a top-level document navigation.

It's confusing to me what the [no-referrer-when-downgrade](https://w3c.github.io/webapp

[2020-05-19 20:40] #2968 closed

[2020-05-19 20:44] jdm commented on #12455
I believe this work happened in https://github.com/web-platform-tests/wpt/pull/20677.

[2020-05-19 20:44] #12455 closed

[2020-05-20 10:38] foolip commented on #9007
Does anyone still have `no_proxy=*` in their environment? Could you test if you still need it? I see I don't have it, and I haven't come across this problem in a long time despite running `./wpt run` with all browsers from time to time. I'm now on macOS 10.15.4 and using the built-in Python 2.7.16.

[2020-05-21 21:48] #23030 closed

[2020-05-22 00:54] masayuki-nakano opened #23738 "Split tests may cause new failure if you insert new tests instead of append to the end"
When I try to insert new tests into editing/data/delete.js and editing/data/forwarddelete.js, I see new error because of dependency between subtests.  For example,
[code]
https://searchfox.org/mozilla-central/rev/df4c90d4b8c92c99f76334acfe4813c573c12661/testing/web-platform/tests/editing/data/delete.js#728-737
The latter test checks `defaultparagraphseparator` command value before running its test

[2020-05-24 01:31] TalbotG opened #23748 "[css-backgrounds] border-radius-clipping test has issues"
zhouli ,

I hope you will read this (I will send you an email in a few min.).

Right now,
[border-radius-clipping.html test](http://wpt.live/css/css-backgrounds/border-radius-clipping.html)
has several issues:

- [border-radius-clipping.html is currently failed by all browsers](https://wpt.fyi/results/css/css-backgrounds/border-radius-clipping.html?label=master)
- in the test, there is in fact 2 s

[2020-05-25 10:24] foolip commented on #23574
@Hexcles you meant Fluxbox there, right?

[2020-05-25 13:16] stephenmcgruer commented on #22473
Tentatively marking backlog, but feel free to upgrade to roadmap @Hexcles if you are planning to work on this anytime soon.

[2020-05-25 13:17] stephenmcgruer commented on #23292
Ping for @Hexcles to check please :)

[2020-05-25 13:27] stephenmcgruer commented on #23293
This is what I see:

[code]

`./tools/ci/ci_built_diff.sh` returns clean, looks like it explicitly excludes some files:

[code]

And indeed they appear to be ignored:

[code]

This seems to be a deliberate ignoring, so cc @jgraham and @Hexcles who have modified the diff-checker tool and may have some background, but otherwise marking backlog.

[2020-05-25 13:28] stephenmcgruer commented on #23346
That seems like a reasonable default to me; I can own landing that change.

[2020-05-25 13:30] stephenmcgruer commented on #23426
@foolip I'm not clear scanning the original issue - what is the impact of these being missing?

[2020-05-25 13:32] stephenmcgruer commented on #23574
Tentatively marking backlog, since nobody is currently looking at this. Happy to upgrade to roadmap if we get someone to drive it forward.

[2020-05-25 13:35] stephenmcgruer commented on #15412
Nobody currently owns driving this, so dropping to backlog. Note that we do have a Q2 OKR to try to migrate to the Taskcluster Checks API, but that alone will only reduce this flow by at most one click. We need the ability mentioned in https://github.com/web-platform-tests/wpt/issues/15412#issuecomment-538882616 to push text to the GitHub Checks description.

[2020-05-25 13:48] stephenmcgruer commented on #17567
Looking at our `.azure-pipelines.yml`, we still have a lot of tests marked as excluded, though each seem to have their own issue filed:

[code]

This includes two pointerevents tests, which (according to wpt.fyi) pass on Safari Tech Preview 106. We obviously don't know their results on Safari Stable because they are excluded.

Based on 5edc0088ebe748262a057a48f948dd6711399b49, `/pointerevents/poin

[2020-05-25 13:50] stephenmcgruer commented on #21275
Do we know if this has happened again? Nobody owns this, so `roadmap` is the wrong priority; downgrading to backlog - but I'm tempted to close it.

[2020-05-25 13:51] stephenmcgruer commented on #18995
Similar to the other issue I commented on today, it's not clear to me we should be tracking this. The bug here is that we can't handle Safari crashing during runs - the actual testing crashing is a WebKit bug to be filed, surely? The real issue here is https://github.com/web-platform-tests/wpt/issues/19620 (which tracks handling Safari crashing).

[2020-05-25 13:52] stephenmcgruer commented on #21968
We are missing the information we need to proceed here, and nobody is looking at this. Marking backlog.

[2020-05-25 13:54] stephenmcgruer commented on #19796
I'm downgrading to backlog because nobody appears to own driving this forward (the assignee has never commented on this), but cc @clopez who has recently been doing work on the export process.

[2020-05-25 14:04] foolip commented on #17567
Yes, that's https://github.com/web-platform-tests/wpt/issues/19620. If we handled crashes, then we wouldn't need to add `--exclude` to recover from new breakage.

These are all WPT issues because it's been urgent in every case to fix it. I think that someone one the WebKit team has been made aware in each case though, but didn't double check now.

[2020-05-25 14:05] npm1 commented on #21275
I haven't seen this recently. Closing.

[2020-05-25 14:05] #21275 closed

[2020-05-25 14:09] stephenmcgruer commented on #17567
Right, but assuming we filed a WebKit bug for each (did we?), the idea would be to close the WPT issue once the problem is not causing pain on our end (currently when we add `--exclude`, but in a bright future they'd just never cause us pain because we could actually handle Safari crashing in the CI).

[2020-05-25 14:35] stephenmcgruer commented on #23300
In terms of infra changes; we currently use `tentative` in one file lint (I added it recently), and that is it for WPT. wpt.fyi does have an `is:tentative` search atom that would also need updated (cc @Hexcles ).

It seems like by force of @foolip caring to do something about it, we're settled on `foo/bar.tentative/`? Any objections to that being the *only* supported way to name tentative director

[2020-05-25 14:48] foolip commented on #17567
Check each bug still linked in `.azure-pipelines.yml`:
- https://github.com/web-platform-tests/wpt/issues/18995: no bug
- https://github.com/web-platform-tests/wpt/issues/20887: no bug (and issue closed)
- https://github.com/web-platform-tests/wpt/issues/22175: no bug (and issue closed)
- https://github.com/web-platform-tests/wpt/issues/23630: rdar://63276006

So not as good as I thought. Perhaps

[2020-05-25 14:48] #17567 closed

[2020-05-25 15:01] foolip commented on #18995
Yes, given a WebKit bug we could link to that instead and close this.

[2020-05-25 15:04] foolip commented on #23426
The tags are used by `./wpt rev-list` so two things can happen there:
- If the commit was going to be the next points for an `epochs/*` branch, either a run will be missed, or an earlier commit will be used, depending on whether there have been other tagged commits since the last point. In either case, it's adding some amount of latency from commit to full results on wpt.fyi.
- When the tag is add

[2020-05-25 15:33] stephenmcgruer commented on #23426
Thanks, that's a great overview of the problem!

[2020-05-26 02:20] TalbotG commented on #10808
"I will remove the test, the reference and the
yy.png image [and yyy.png] from the repository in 1 week from now (on May 30th 2020)."
https://lists.w3.org/Archives/Public/public-css-testsuite/2020May/0000.html

[2020-05-26 04:08] TalbotG commented on #10808
It's most likely/probably a correct filename. The "red" and "lime" most likely refer to the center of the border-image itself. Therefore...

I will soon (before May 30th 2020) fix the tests
[css-backgrounds-3] border-image-slice-005
[css-backgrounds-3] border-image-slice-007
by replacing them with:
http://www.gtalbot.org/BrowserBugsSection/CSS3Backgrounds/border-image-slice-005-GT.html
http://www.

[2020-05-26 13:30] foolip commented on #23426
I revived an old script (a `tools/ci/manifest_build.py` tweaked to live out-of-tree) to fill in missing tags and releases and ran that, so that we don't have any missing ones now.

A good way to assess the impact of this in the future is to take a look at https://github.com/foolip/wpt-stats/actions and see if more tags and releases are missing. Knowing that it's complete up to the present time sho

[2020-05-27 19:29] Hexcles commented on #23293
This is what @stephenmcgruer pointed to. Essentially, these automatically generated assets include text which vary subtly depending on system fonts and rendering settings, so they are intentionally ignored.

Perhaps we could expand "# Exclude tests that rely on font rendering" to include more explanation, but I'm not sure what.

Meanwhile, we should ask someone more familiar with these canvas/2dco

[2020-05-27 22:20] TalbotG commented on #10808
https://github.com/web-platform-tests/wpt/pull/23808

[2020-05-27 22:31] syafiq575 opened #23809 "Hacke"
Log in

[2020-05-27 22:32] #23809 closed

[2020-05-28 00:09] TalbotG commented on #10808
I am working on fixing those too right now and also make those tests more precise:

http://www.gtalbot.org/BrowserBugsSection/CSS3Backgrounds/css3-border-image-repeat-repeat-GT.html

http://www.gtalbot.org/BrowserBugsSection/CSS3Backgrounds/reference/css3-border-image-repeat-repeat-GT-ref.html

[2020-05-28 00:58] TalbotG commented on #10808
http://www.gtalbot.org/BrowserBugsSection/CSS3Backgrounds/css3-border-image-repeat-stretch-GT.html

http://www.gtalbot.org/BrowserBugsSection/CSS3Backgrounds/reference/css3-border-image-repeat-stretch-GT-ref2.html

[2020-05-28 01:10] frehner commented on #21435
I would like to work on this if that's ok.

I (locally) applied a patch to `async_test` that pretty much matches the test outlined in `test`, but running all the tests locally to get a list of places that need to update is taking a long time :)

Should I just wait out the test results or is there a more efficient way of finding all the places that need to be corrected? (e.g. I did a search for `as

[2020-05-28 08:56] foolip opened #23824 "Expose lint errors as annotations"
(Dropping an idea I came across when looking into GitHub Actions for Bikeshed.)

GitHub Checks has support for [annotations](https://developer.github.com/v3/checks/runs/#annotations-object), and GitHub Actions has an integration for this using something called [problem matchers](https://github.com/actions/toolkit/blob/master/docs/commands.md#problem-matchers).

If we ran the lint on GitHub Actions

[2020-05-28 11:47] stephenmcgruer commented on #21435
@frehner that would be great! If you can create a pull request with your patch, I can set off a 'trigger' run for you which will run all the tests in the suite and should give us good coverage (see https://web-platform-tests.org/running-tests/from-ci.html). Then we can iterate on the patch to fixup the problematic tests.

[2020-05-28 17:38] #23346 closed

[2020-05-28 23:24] frehner commented on #21435
Thanks, I should be able to get a PR up around the weekend and we can go from there.

[2020-05-29 11:16] benjamingr opened #23858 "Events test and EventTarget in Node.js"
Hey,

It would be super helpful to run the WPTs for EventTarget directly in Node.js as we are adding experimental support for EventTarget in Node.js.

I want to pass the WPTs for EventTarget. Currently a lot of the event tests are not very friendly towards consumers who want to implement EventTarget but not Document or other parts of the spec. For example:

 - Tests use `document` and not `new Eve

[2020-05-29 11:16] foolip commented on #23300
I'd prefer just a single way to name tentative directories: `foo/bar.tentative/`

One doubt I have is whether we should allow top-level directories to be called `foo.tentative` in case there's not a single normative test inside.

[2020-05-29 11:35] annevk commented on #23858
I think using `EventTarget` if we're not testing node tree things is fine. We could also abstract the target and have a test wrapper pass in the target to allow for more shared infrastructure while not changing the actual tests.

[2020-05-29 22:09] zouhir opened #23875 "SauceLabs runner: undocumented & redundant product name requirements"
as per the [WPT CLI documentation](https://web-platform-tests.org/running-tests/command-line-arguments.html?highlight=sauce#run), `sauce` should in theory be a sufficient product name, valid example:

[code]

However, the above command fails (runtime error), because the product name is split on colons `:` in the following line:
https://github.com/web-platform-tests/wpt/blob/9e09dd05f83b7cdd89e0714

[2020-05-29 22:56] zouhir opened #23877 "Saucelabs runner: can't connect to selenium on @localhost"
WPT sauce runner fails to connect to Selenium on `@localhost` URL.

https://github.com/web-platform-tests/wpt/blob/0074395edcbcf30dcf8530080299c99137612626/tools/wptrunner/wptrunner/browsers/sauce.py#L83

This causing a connection error, according to Saucelabs docs, the URL needs to be something like:

- `<datacenter-endpoint>.saucelabs.com` such as `eu-central-1.saucelabs.com`

- `ondemand.saucel

[2020-05-30 11:48] benjamingr commented on #23858
Sounds good, my current plan is:

 - Port all the WPTs (where applicable) to Node.js under our tests folder (and not using our existing WHATWG infrastructure in Node).
 - Open PRs for issues I find one by one to discuss them.
 - Eventually open an issue here with suggested changes and ask what if at all you would like upstreamed.

I am fine with doing a few hours of extra work for compatibility he

[2020-05-30 12:38] stephenmcgruer commented on #23877
@zouhir apologies as I am being lazy and not reading through the docs you have linked, but is this something where we should hard-code the URL, or should this be something the user passes in?

(We can also of course do both, if there's a reasonable default.)``

[2020-05-31 15:41] frehner commented on #21435
Forgive me for my newness / ignorance, I'm still trying to fully understand test harness's api:

I wanted to be sure I was migrating the tests in the right way; after playing around with various methods, this is the way that I've found that works - but I'm not sure if it's the "best" way.

Say we have this test:

https://github.com/web-platform-tests/wpt/blob/c99723afe33bc5b265e41c1a9446eaff7f8e0d

[2020-06-01 13:06] #23875 closed

[2020-06-01 13:14] stephenmcgruer commented on #21435
Hey @frehner, thanks for looking at this :)

The reason that test wouldn't work (as written) as a promise test is that the promise isn't going to wait for window.onmessage. So:

[code]

The tricky part here is that the test is written to handle multiple `onmessage` events, and just look for the one that matches what they are trying to assert. So trying to wrap that in a single promise chain of eve

[2020-06-01 14:23] frehner commented on #21435
Ah that makes sense - removing the awaits with t.step_func where possible and just removing the async func.

Thanks.

[2020-06-01 14:35] stephenmcgruer commented on #21751
@burg STP 107 has now made it to WPT. The issue appears to still reproduce; I just grabbed another sysdiagnose in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=48981&view=logs&j=af75b4de-b26f-5d4d-58e8-b41258076d44 and have uploaded it as a comment to feedback report FB7681340 .

Let me know if there's any more information you need from this end :).

[2020-06-01 18:28] zouhir commented on #23877
each Saucelabs customer get a datacenter, and in my case, I can't switch from US-West for example (photo below)
<img width="282" alt="Screen Shot 2020-06-01 at 11 19 34 AM" src="https://user-images.githubusercontent.com/5052316/83440450-d4c3b000-a3f9-11ea-8831-7dc2b22ac682.png">

What you mentioned above is amazing idea, we should do both with fallback to a reasonable default:

[code]

and any val

[2020-06-01 19:24] zouhir opened #23895 "Saucelabs: remove custom selenium version for Microsoft Edge"
Currently, there seem to be a check for when the `--sauce-browser` passed in the runner CLI args is MicrosoftEdge and it makes it use older selenium version, I am not aware of any issues preventing Chromium based MS Edge to work on `selenium@latest` so I believe it's safe to remove.

https://github.com/web-platform-tests/wpt/blob/d3ea88514a93b7b69687837de19b1ca6da15cf91/tools/wptrunner/wptrunner/b

[2020-06-01 21:08] zouhir opened #23896 "Saucelabs: SSL connection issues to my Saucelabs selenium hub"
Saucelabs provided me with the following URL to create a test:

`https://<sauce_user>:<sauce_key>@ondemand.us-west-1.saucelabs.com:443/wd/hub`

WPT's sauce runner is unable to connect to that URL, and it throws the following error:

[code]

This issue is not too rare in selenium-web driver world, and usually people attempt to do the following for situations of self-signed certs, **I tried but no l

[2020-06-01 21:22] stephenmcgruer commented on #23895
@zouhir quick question - this code was developed when MicrosoftEdge meant EdgeHTML as far as I am aware. I assume Sauce now interprets 'MicrosoftEdge' as Chromium-based edge?

[2020-06-01 21:28] zouhir opened #23898 "Web Platform Use Case: Test new platform APIs shims and polyfills using WPT and Saucelabs"
**The What**
Help client-side polyfills for new Web platform features get tested via WPT and Saucelabs.

**The Why**
Not all browsers implement a feature at the exact same time and developers tend to rely a lot on client-side shims & polyfills until a feature is available in the browser their customers are using.

While polyfills are heavily used and sometimes for an extended period of time, they

[2020-06-01 22:19] zouhir commented on #23895
@stephenmcgruer I confirm your assumption is correct.

I found this good reference for the support matrix in Webdriver+Saucelabs: https://wiki.saucelabs.com/display/DOCS/Platform+Configurator#/

*MicrosoftEdge* is used for both EdgeHTML and Chromium, the version decides which one to launch:
<img width="844" alt="Screen Shot 2020-06-01 at 3 18 03 PM" src="https://user-images.githubusercontent.com/5

[2020-06-02 02:20] gsnedders opened #23905 "Vertical alignment of inline-table"
It seems like we have a bunch of issues here, and we probably need to do a deeper look into this.

 - `css/CSS2/linebox/vertical-align-applies-to-014.xht` claims to test vertical-align does not apply to inline-table (but the spec says ["The baseline of an 'inline-table' is the baseline of the first row of the table"](https://www.w3.org/TR/CSS21/visudet.html#propdef-vertical-align)). Furthermore, i

[2020-06-02 11:53] stephenmcgruer commented on #23896
@zouhir I want to make sure I understand the flow here, since I'm unfamiliar with Saucelabs. My understanding is that you have a copy of WPT, and a copy of Selenium running on the localhost (e.g. your desktop). Selenium is then controlling a browser that is running inside a VM in the Saucelabs CI system, and it ultimately is pointing that browser at test files that are... where? Is there a separat

[2020-06-02 13:42] stephenmcgruer commented on #17650
This appears to still reproduce, though it's unclear to me if the bug should be filed here or on whatever repository test.csswg.org's harness is hosted. Tentatively labeling infra, but that's likely wrong :)

[2020-06-02 14:17] #23895 closed

[2020-06-02 18:56] jgraham opened #23918 "Unclear why infrastructure print reftest ref has specified height"
https://github.com/web-platform-tests/wpt/blob/master/infrastructure/reftest/reftest_match-print-ref.html#L5-L6 specifies a div height of `180px` which is supposed to correspond to 2 inches on the printed paper. But a simple calculation of 96 pixels per inch x 2 suggests it ought to be `192px`. It's somewhat unclear what accounts for the the other `12px`.

[2020-06-02 19:32] Hexcles commented on #23693
The check runs on any PR on GitHub ([example](https://community-tc.services.mozilla.com/tasks/groups/NwWY_5lITtiZdT3EMZn46A): "update-built"), which also means that any auto-export PRs from browsers need to pass it as well, but the auto imports do not run the check.

The "update-built" check first runs a set of build scripts, and then examines `git status` to see nothing changes (with a few except

[2020-06-02 19:38] Hexcles commented on #23896
The server cert looks good to me.

Are you running on macOS by the way?

Could you try in Python 2:
[code]
and see if there's any error?

[2020-06-02 19:57] samweinig opened #23923 "css/css-color/color-function-parsing.html incorrect for "Unknown color space" subtest"
css/css-color/color-function-parsing.html includes the following subtest:

`testColorFunction("Unknown color space should fallback", "color(unknown 1 2 3, red)", "color(unknown 1 2 3, red)");
`

I don't believe the expected value here is correct based on my reading of https://drafts.csswg.org/css-color-4/#color-function. Specifically, this sentence:

This seems to indicate the expected value shoul

[2020-06-03 09:34] mstensho commented on #23905
This test seems to assert that computed height is affected by min-height, but that doesn't seem right at all.

But whether or not we do that will affect the baseline (which to me seems sufficiently well defined):

The used border-box height of the table cell will indeed be stretched to 1in, since it's the only cell in a table with a used height of 1in (but its computed height is auto). But what ab

[2020-06-03 17:20] Hexcles opened #23952 "Document print reftests (reftest-pages)"
Basically, convert https://github.com/web-platform-tests/rfcs/blob/master/rfcs/print_test.md into a doc in writing-tests/.

Note that the RFC might have been out-of-date / inconsistent with the implementation (`reftest-pages` vs `page-ranges`, etc.), so one needs to double check. cc @jgraham

[2020-06-04 02:03] gsnedders commented on #23905
I seemly keep digging and getting more confused by baselines around tables. Whole bunch of tests soon forthcoming (some of which get different results in every browser!).

Also, FYI: @MatsPalmgren this brings the fourth table in `css/css-align/baseline-rules/synthesized-baseline-table-cell-001.html` into question; both @mstensho's comment above and talking to @fantasai and @dbaron leads me to beli

[2020-06-04 02:30] stephenmcgruer commented on #23952
I believe that @jgraham did this already in https://github.com/web-platform-tests/wpt/pull/23921

@jgraham  - can you double check the bit that Hexcles mentioned (reftest-pages vs page-ranges, etc.) and then close this? Thanks!

[2020-06-04 03:13] gsnedders opened #23969 "lint is super slow"
In e29608a4345 (from #23239, by @stephenmcgruer) `check_unique_testharness_basenames` was added. However, because it calls `SourceFile.items` it results in files being parsed a second time (after `check_parsed`), which significantly increases the time taken to run the lint.

[2020-06-04 04:35] dbaron commented on #23905
I believe you're correct and the fourth *and sixth* tables in that test are wrong in Firefox and correct in Chromium, and the reference needs to be adjusted.  In those tests, per this text in [17.5.3 Table height algorithms](https://www.w3.org/TR/CSS21/tables.html#height-layout):

This means the height of the cell box is 0, and based on the rules later in that section:

those 0-height cells end up

[2020-06-04 07:37] hrj commented on #5483
@TalbotG

Thanks for looking. Since I am not the creator of the issue (in this repo), I don't have the rights to close. Someone with the rights, please do the honors.

[2020-06-04 11:03] zcorpan opened #23980 "Unable to test CSS User Origin in an automated way"
As far as I know, it's not possible to automate tests to exercise https://drafts.csswg.org/css-cascade-4/#cascade-origin-user

This affects the 'appearance' property, which has special handling with the User Agent Origin and User Origins. https://github.com/whatwg/html/pull/4857

cc @stephenmcgruer @frivoal

[2020-06-04 12:02] stephenmcgruer commented on #23980
So I'm clear: would a workable solution to this be a webdriver extension which could tell the browser what style to provide, probably for both the User Origin and User Agent Origin?

[2020-06-04 12:38] stephenmcgruer commented on #23969
I'm not sure how to solve this problem (maybe the solution is we remove the baselines check and go back to breaking Chromium and WebKit occasionally). When we landed the PR, we knew that it would be slow for `--all` but agreed that mostly only the CI runs that, and the speed impact for individual PRs that folks were working on would be minor (assuming anyone actually runs lint locally).

We can't

[2020-06-04 13:55] TalbotG commented on #5483
Okay, I am closing this issue now.

[2020-06-04 13:55] #5483 closed

[2020-06-04 18:57] Hexcles opened #23997 "Consider linting files for +x bit"
Chromium has very strict rules for what files should or should not have +x (the executable bit) set:  https://source.chromium.org/chromium/chromium/src/+/master:tools/checkperms/checkperms.py

The WPT repo does not check for that, and we've had many violations and ad-hoc fixes in the past ([example](https://github.com/web-platform-tests/wpt/pull/15334)).

Currently, our importer uses a non-exhaust

[2020-06-04 19:26] graouts commented on #17567
Please file bugs with repro steps on bugs.webkit.org and I'll be sure to investigate.

[2020-06-05 11:17] zcorpan commented on #23980
I believe that would work, yes. cc @AutomatedTester @shs96c

[2020-06-05 11:21] zcorpan commented on #23980
For User Agent Origin, the UA stylesheet already exists (and is specified in the HTML standard), and anything that could theoretically be affected by UA origin but isn't in the UA stylesheet seems to me it's in the realm of things that are not interesting to test, and could interfere with what is possible to optimize. So it might be better to *not* provide anything for User Agent Origin.

[2020-06-05 14:45] gsnedders commented on #23969
It looks like it should be linear, FWIW. We're dominated by html5lib anyway (but I'll make release soon that we can vendor in and get a decent speed bump). The other thing that should make a decent perf jump is moving to Py3.7+ (c.f. https://gist.github.com/gsnedders/89cb4852b0a0466287f4c45c9ce60462#file-html5lib_perf_2-md for html5lib perf in isolation compared with slightly older, but still more

[2020-06-05 22:37] samweinig commented on #23923
Nevermind, I misunderstood how the fallback was supposed to work. The test is fine.

[2020-06-05 22:37] #23923 closed

[2020-06-05 23:33] frehner commented on #21435
Ok, so, based on your feedback above, I went ahead and tried to fix another test that had this issue, and created a draft PR #24021

I'm still not very confident in my understanding of the test framework - though my confidence is growing - so I wanted to push this one up to see if you think I've done it right. If so, then I'll feel good about progressing without asking for as much feedback. I just

[2020-06-08 12:38] stephenmcgruer commented on #22657
We were never able to reproduce this, and it doesn't seem to be causing continued pain. Closing as unreproducible.

[2020-06-08 12:38] #22657 closed

[2020-06-08 12:40] stephenmcgruer commented on #22316
Downgrading to backlog as currently the wptserve work is taking up all of our available Python 3 bandwidth. Once that's done we may return to windows issues.

[2020-06-09 06:48] frivoal opened #24054 "false positives on shaping-arabic-diacritics-001"
`css/css-text/shaping/shaping-arabic-diacritics-001.html` passes as a reftest even in browsers that do not comform to the test's expectation.

Firefox nightly 79 (2020-06-08) passes correctly, as per the description.
But Firefox stable 77.0.1, Safari and Chrome all pass, even though the rendering doesn't match the description.

I suspect that might be meant to capture some of that, but it too pass

[2020-06-10 17:37] sefeng211 opened #24089 "testharness itself may interfere the result of first contentful paint tests?"
Hello!

I am debugging something related to contentful paint tests in Firefox and I think I might find a problem.

The [assertFirstContentfulPaint](https://github.com/web-platform-tests/wpt/blob/dddc29524981e7b6c21b9ab403efc07c1d201a98/paint-timing/resources/utils.js#L28-L31) function uses `step` and `step_timeout`, which will invoke [show_status](https://github.com/web-platform-tests/wpt/blob/ddd

[2020-06-11 02:46] stephenmcgruer commented on #23300
Sounds good to me. I'm happy to add a lint enforcing this (e.g. for all non-file components in a path, if it contains the word 'tentative' it must end with `.tentative`... which will allow `tentative.tentative` but I really don't care that much :p).

Let's just say 'sure' for now, and cross that bridge if we ever actually come to it. I suspect folks will generally shy away from such naming.

[2020-06-11 08:14] gsnedders commented on #24089
Correct, there's no visual output by default in automation.

Making it possible to only output at the test end seems sane.

[2020-06-11 18:53] sefeng211 commented on #24089
@npm1 hmm, I still think this is a problem. Does your test also invoke the `step` function call?
Can you try this ?
[code]
I tried the follow code by using the wpt runner on Chrome as `./wpt run --binary /usr/bin/chromium chrome <path>`, and it passed.
[code]

[2020-06-12 13:21] stephenmcgruer commented on #21751
Ping @burg - have you been able to look at the results from STP 107? STP 108 just hit WPT so I will be attempting a reproduction on that in the next week, but hopefully you can get some more details from STP 107 too.

[2020-06-12 14:51] noamr commented on #24089
Yea, I've encountered this... The oriignal commit didn't use `step_timeout` for this reason. @npm1 There was a later [commit](https://github.com/web-platform-tests/wpt/commit/4f3baa465e7f7eb460a5bf2f052ca78fbc1b50aa#diff-3813b6cfb75a0d2eab5b80577faf981a) that makes use of `step_timeout` again. I'm not sure how come it hadn't created the same issue (the output DIV triggering FCP).

I believe the ri

[2020-06-12 16:11] npm1 commented on #24089
I do think we need to use either `step_timeout` to poll until found, because before it would assume that FCP must occur within a given timeframe, and that will produce flaky results. The alternative would be to use PerformanceObserver, but that's not supported in all major browsers yet.

[2020-06-12 16:40] npm1 commented on #24089
Interesting, so with the runner in Chromium it times out but with wpt run it passes. This seems like incorrect behavior from wpt run.

[2020-06-12 16:51] sefeng211 commented on #24089
I agree with @noamr that the right approach should be only displaying the test result at the end of test.

I don't understand why it timed out in Chromium runner, perhaps it's configured to not display the test results when the test is running?

This is might be a naive question,  which major browsers don't support `PerformanceObserver`? It seems well supported now.

[2020-06-12 16:54] npm1 commented on #24089
Oh looking at https://developer.mozilla.org/en-US/docs/Web/API/PerformanceObserver looks like I'm wrong? I'm happy to see the tests change to use `PerformanceObserver` instead of `step` and `step_timeout` if that's ok with everyone. Though such a test will use `step_func`or `step_func_done`.

[2020-06-12 16:56] zouhir commented on #23896
@Hexcles using my current device, I currently get from the snippet above:
`{"ready":true,"message":"Sauce Labs automated testing is fully operational"}`

[2020-06-12 17:39] Hexcles commented on #23896
Yet in the same environment you got the stacktrace above? That's really not expected and I don't have any great clue at the moment.

[2020-06-12 17:41] stephenmcgruer commented on #23896
Would it be exactly the same environment? In the wpt case we'd be using our virtualenv I guess?

[2020-06-12 23:38] sefeng211 commented on #24089
Cool! I'll submit a PR to use `PerformanceObserver`, then we can discuss if there are other issues :)

[2020-06-14 03:41] gterzian opened #24139 "Server-side support for chunked requests"
`fetch/api/basic/request-upload.any.js` introduces streaming request bodies(using a `ReadableStream`), and it's not clear to me if the server supports these types of requests.

Also note that the "Transfer-Encoding: chunked" header will be set for such requests, as per Step 4.2 of https://fetch.spec.whatwg.org/#concept-http-network-fetch.

I was trying this out in Servo, which in theory should pas

[2020-06-14 08:26] annevk commented on #24139
cc @yutakahirano @yoichio

[2020-06-14 14:58] stephenmcgruer commented on #22784
To be revisited once we're closer to switching to Python 3 as our 'main' Python. For now we will rely on periodical trigger runs to get comparative results.

[2020-06-14 14:58] #22784 closed

[2020-06-15 00:37] yoichio commented on #24139
Yes. I'm seeing exact same response, or empty body with fetch upload streaming feature on Chromium.
I don't know WPT server implementation. What component is supposed to update?

[2020-06-15 04:07] gterzian commented on #24139
I believe the code is in `/tools/wptserve`

[2020-06-15 04:49] gterzian commented on #24139
Ok so looking at https://en.wikipedia.org/wiki/Chunked_transfer_encoding#Encoded_data

I'm pretty sure the `4` is the first line, indicating a four bytes chunk, in our case the "Test" body sent via the `ReadableStream`.

So I think on my side, the library I was using to do this is using chunked encoding by default when using their "stream" API(which I plugged into the `ReadableStream`), and the se

[2020-06-15 14:53] stephenmcgruer commented on #14846
Forgot to assign this to myself. We started working on this a few weeks ago; I have an [overview document](https://docs.google.com/document/d/1rMgrxewvywcFQ2_vc0bBWIP1kykWJlHSfZRn6D_ww1M/edit#) that tracks the work.

At this point, wpt.fyi (and staging.wpt.fyi) should be able to receive `check_suite` events via the normal webhook, and parse them similarly to the `status` events used today. This [h

[2020-06-15 20:01] sefeng211 commented on #24089
So..I looked into the test a bit more and I am not sure if we can avoid calling `step` at all because `test`, `async_test` and `promise_test` all use `step` to invoke the test function underneath. Even if we've converted it ito `PerformanceObserver`, we'd still need to call `step` once. Although, in my local test, this `step` seemed fine because the [document hadn't loaded](https://github.com/web-

[2020-06-16 09:07] noamr commented on #24089
Yes I think that would be a good solution.

[2020-06-16 22:51] mkruisselbrink opened #24174 "idlharness does not support async iterators"
Currently idlharness seems to treat async iterator definitions the same as regular iterators, expecting a @@iterator rather than an @@asyncIterator. (this effects at least native-file-system/idlharness.https.any.js)

[2020-06-17 00:02] domenic commented on #24174
There are likely portions of https://github.com/web-platform-tests/wpt/blob/master/streams/readable-streams/async-iterator.any.js, especially toward the top of the file, that are amenable to being generalized and moved to idlharness.

[2020-06-17 04:24] irori opened #24180 "SignedExchange tests failing in wpt.fyi"
Currently, Signed Exchange tests are [not passing](https://wpt.fyi/results/signed-exchange?label=experimental&label=master&aligned) in wpt.fyi, because [pre-generated test certs / signed exchanges are expired](https://github.com/web-platform-tests/wpt/blob/master/signed-exchange/README.md).

To make them pass, we wave two options:

- Run Chrome with command-line flags that allows to ignore certifi

[2020-06-17 18:03] faceless2 commented on #18549
So we've got a few tests now from @heycam and @schenney-chromium - thank you! But sadly they're contradictory.

1. [image-orientation-none-content-images.html](https://github.com/web-platform-tests/wpt/blob/master/css/css-images/image-orientation/image-orientation-none-content-images.html) - images 9..12 seem to be asserting that the EXIF orientation is _not_ honored on images used in `background-

[2020-06-17 19:18] schenney-chromium commented on #18549
On Wed, Jun 17, 2020 at 2:03 PM Mike Bremford <notifications@github.com>
wrote:

respected.

image-orientation: none but the reference is an image that has already been
rotated as if exif is applied. It should be
using ../support/exif-orientation-1.jpg

This has the same issue in using a pre-rotated image when it should be
using something without image orientation.

All browsers are converging to

[2020-06-17 22:02] faceless2 commented on #18549
| _(re images 9..12) These tests have image-orientation: none applied, so the exif is not respected._

I'm afraid I disagree on this. There are two points here:

* Does EXIF orientation apply to all images by default? I think we agree that it does.

* Can `image-orientation: none` override this for the `background-image`, `border-image` and other "decorative" images? The current draft [says](https

[2020-06-19 20:36] stephenmcgruer opened #24260 "print-reftest results missing from wpt.fyi?"
https://wpt.fyi/results/?label=master&label=experimental&aligned&q=infrastructure%2Freftest%2Freftest_match-print.html currently shows no results, but running the same test locally in WPT I see it passing in Chrome at least.

We should figure out if its missing from our input data, or if we're dropping it on the client side somehow.

[2020-06-19 20:47] jdm opened #24257 "Latest Servo run on wpt.fyi is from March 6"
I don't really know where the code that triggers those runs lives, or where logs are stored from those runs, so I'm filing this here.

[2020-06-19 21:55] Hexcles commented on #24260
Need to schedule `print-reftest` in `tools/ci/tc/tasks/test.yml`

[2020-06-22 13:07] jdm opened #24280 "Support for comma-separated origins in xhr/resources/access-control-allow-lists.py looks broken"
[code]
I think the intention is to pass `origin` as the second argument in the "origins" else block - it's not used, and we've already established that there is no "origin" property in request.GET by taking the elif.

[2020-06-22 13:09] jdm commented on #24280
The fact that [all browsers pass](https://wpt.fyi/results/xhr/allow-lists-starting-with-comma.htm?label=master&label=experimental&aligned&q=xhr%2Fallow-lists-starting-with-comma.htm) the test that uses access-control-allow-lists.py isn't particularly reassuring.

[2020-06-22 13:34] jgraham commented on #24257
Seems like everything is running, but the wdspec jobs time out, and we therefore don't ingest the results. I'm not sure what the fix is here. We could increase the number of chunks for wdspec, or change the configuration so servo doesn't run them, or disable tests we don't expect servo to support in that directory.

[2020-06-22 19:32] stephenmcgruer commented on #23364
From https://crbug.com/1097980 (and the associated PR https://github.com/web-platform-tests/wpt/pull/24259), it seems like maybe we are not putting tests in a separate browsing context, at least for stability checks? This needs to be investigated (unless @jgraham happens to know).

If its just stability checks (as opposed to between different tests), it may not be too bad.

[2020-06-22 21:03] stephenmcgruer commented on #23364
Right, so for stability checks we run:

`./wpt run --no-restart-on-unexpected --rerun=2 --channel=experimental chrome origin-isolation/removing-iframes.sub.https.html`

The `-no-restart-on-unexpected` means we do the following:

1. Open https://web-platform.test:8443/testharness_runner.html in the browser
1. Call `window.open('about:blank', '%s', 'noopener')" % self.window_id)`
1. Load the test UR

[2020-06-22 21:10] #24174 closed

[2020-06-22 22:19] Hexcles commented on #23364
Noob question: doesn't `noopener` mean the new tab doesn't have an opener?

[2020-06-23 02:19] gsnedders opened #24304 "Update vendored html5lib"
1.1 is now out and provides decent perf gains with moderately small inputs (like, say, many of our test files), which should make a clean manifest gen a fair bit quicker.

[2020-06-23 15:51] stephenmcgruer commented on #24260
I can take care of this.

@Hexcles I did see we have a `TEST_TYPES` array in `webapp/views/wpt-results.js` for wpt.fyi, may be worth checking if that will be relevant in any way.

[2020-06-23 18:33] #24260 closed

[2020-06-24 00:07] #24304 closed

[2020-06-24 01:48] stephenmcgruer commented on #24139
At this point in time, we do not support chunked encoding. I believe doing so would be a non-trivial amount of work, though we would likely welcome outside contributions towards such a goal (note that a change of that magnitude would likely have to go through the [RFC process](https://github.com/web-platform-tests/rfcs) first, essentially an initial design step).

If someone were to look towards i

[2020-06-24 06:13] annevk commented on #24139
Note that we only need to do this if we decide that we want H/1 support for request body streams, which isn't a settled discussion. And if we support request body streams, the browser would be responsible for the framing, which means the server can be as strict as can be I think as it only needs to consume conforming data and explicitly reject/fail on non-conforming data.

[2020-06-24 16:54] jugglinmike opened #24327 "Addressing the uncertainty in Reporting API"
[The Reporting API does not make any guarantee about if or when reports are delivered via HTTP](https://w3c.github.io/reporting/#report-delivery), making it difficult to write authoritative tests against the feature.

Despite this, tests have already been written against this interface. For example: [CSP](https://github.com/web-platform-tests/wpt/blob/8e2d134568150ab920a8ddf303a2f0ef7a7cba6d/conte

[2020-06-24 18:05] stephenmcgruer commented on #24180
We can definitely do this; we already pass `--ignore-certificate-errors` (https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/browsers/chrome.py#L70). What flag is needed for signed-exchange?

We do have https://github.com/web-platform-tests/wpt/issues/21968 open already to setup a cron-job to regenerate the certs we use today, so I think we could do that for this too.

[2020-06-24 18:08] stephenmcgruer commented on #21968
Reading https://web-platform-tests.org/tools/certs/README.html, is this just a case of running `./wpt serve --config tools/certs/config.json` in a regular GitHub Action?

[2020-06-24 18:11] stephenmcgruer commented on #24180
Note: When I run that script myself, I get:

[code]

Expected warnings?

[2020-06-24 18:24] stephenmcgruer commented on #16455
To keep folks updated: @Hexcles continues to work on making MojoJS work in upstream WPT. We believe we now have a workable solution that will involve publishing the necessary mojom files alongside Chromium builds, which WPT can then fetch and make available (similar to Chromedriver today). We expect to be MVP-ing this in Q3, with an eye to turning the MVP into the real thing if/when we get sign of

[2020-06-24 18:47] dcreager commented on #24327
For Chromium, the Reporting API's "delivery interval" is configurable, along with a [few other settings](https://source.chromium.org/chromium/chromium/src/+/master:net/reporting/reporting_policy.proto).  When running WPT tests, that interval is [set to 100ms](https://source.chromium.org/chromium/chromium/src/+/master:content/shell/browser/shell_content_browser_client.h;l=219-221).  Then (at least

[2020-06-24 18:59] stephenmcgruer commented on #23148
So LegacyNoInterfaceObject is not supported still, but all the rest are and we have no specs that use `LegacyNoInterfaceObject`. I'm happy to leave that until we someday get a spec that uses it.

[2020-06-24 18:59] #23148 closed

[2020-06-25 00:19] jugglinmike commented on #24327
Thanks @dcreager, that sounds promising

@Hexcles, `--run-web-tests` doesn't show up in WPT. Is that only available in content_shell? Do you know if we'll be able to enable similar behavior for wpt.fyi? (Also, hi Robert!)

[2020-06-25 20:35] Hexcles opened #24348 "Add Windows coverage for Chrome"
Some APIs are only available on Windows, e.g. part of WebXR, so it'd be nice to have coverage for Chrome on Windows.

[2020-06-25 21:28] Hexcles commented on #24327
That's right, `--run-web-tests` isn't available outside of content_shell. Is that a requirement for these tests? Could we expose the necessary settings via Chrome CLI flags and/or ChromeDriver prefs?

[2020-06-25 21:29] Hexcles commented on #24348
cc @alcooper91

[2020-06-25 21:35] alcooper91 commented on #24348
I should clarify that I don't believe it's any of the WebXR API surface (at this time), but rather some of the mojo interface that we wouldn't necessarily test for external tests (e.g. some GPU related information).

[2020-06-25 21:55] Hexcles commented on #21968
I believe so. Then commit and create a PR.

[2020-06-25 21:57] Hexcles commented on #24257
Now we have: "ERROR Unsupported test type print-reftest for product servo"

https://community-tc.services.mozilla.com/tasks/CazHj1g_RPed14tUaGwErw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FCazHj1g_RPed14tUaGwErw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L404

[2020-06-25 22:49] jdm commented on #24257
Ah, we worked around that locally by only running with a fixed set of supported test-types.

[2020-06-26 01:14] jugglinmike commented on #24327
Reporting is a cross-cutting feature, so it's tough to answer this generally.

- [Chrome is failing the NEL tests on wpt.fyi](https://wpt.fyi/results/network-error-logging?run_id=584960003&run_id=608080002&run_id=596800001&run_id=596780004), so it seems necessary there.
- [Chrome is doing just fine on the CSP reporting tests](https://wpt.fyi/results/content-security-policy/reporting?run_id=5849600

[2020-06-26 15:13] LukeZielinski opened #24360 "Missing WebKitGTK runs since June 22"
As per https://wpt.fyi/runs?label=master&label=experimental&max-count=100&product=chrome&product=edge&product=firefox&product=safari&product=webkitgtk the last successful WebKitGTK run was June 22 (4 days ago).

Any idea what's going on?

[2020-06-26 16:03] jdm commented on #24257
That being said, it's not clear to me why Safari and Edge are not affected by that problem, because I don't see any support in their executors for the new print-reftest test type.

[2020-06-26 16:32] jdm commented on #24257
Looks like webkitgtk is actually hitting the same issue:
[code]

[2020-06-26 16:32] jdm commented on #24360
This is the same as #24257:
[code]

[2020-06-26 16:36] jdm commented on #24257
Ok, so there are only explicit print-reftest jobs for 1) servo, 2) firefox, 3) chrome, 4) webkitgtk.

[2020-06-26 16:43] faceless2 opened #24362 "Not sure about test for text-transform: fullwidth behaviour"
@frivoal

There's a couple of lines in some of your tests I'm not totally convinced are correct. But, it's white-space, so frankly I could be wrong :-)

[text-transform-fullwidth-009.html](https://github.com/web-platform-tests/wpt/blob/master/css/css-text/text-transform/text-transform-fullwidth-009.html) and also [text-transform-fullwidth-008.html](https://github.com/web-platform-tests/wpt/blob/ma

[2020-06-26 17:16] stephenmcgruer commented on #24257
Safari and Edge run on Azure Pipelines (so we can access Windows and MacOS). They use a totally different way of choosing their runs and uploading the results, see `.azure-pipelines.yml` and the `results_edge_dev`/etc jobs.

In short they run:

`python ./wpt run --yes --no-manifest-update --no-restart-on-unexpected --no-fail-on-unexpected --install-fonts --this-chunk $(System.JobPositionInPhase) -

[2020-06-26 19:23] jgraham commented on #24257
We should probably change the taskcluster yml to only run print reftests for browsers that support them. Unfortunately that's quite a lot of duplication right now. We could add more logic to make it easier or just live with a big copy&paste job

[2020-06-28 21:02] fantasai opened #24375 "Mark box-shadow-blur-definition-001.xht as manual test"
I think css/css-backgrounds/box-shadow/box-shadow-blur-definition-001.xht (which is imho one of the more brilliant tests in the test suite despite requiring manual evaluation) needs to be renamed to make it a manual test?

[2020-06-29 06:24] irori commented on #24180
Thanks for the reply @stephenmcgruer!

This is expected, but it reminds me that we use dummy OCSP / SCT for the test SignedExchange cert. So we have to ignore cert errors by command-line flags anyway. :confused:

To ignore SignedExchange certificate errors in Chrome, two flags are needed:

- `--ignore-certificate-errors-spki-list=<SPKI fingerprints>`
- `--user-data-dir=<directory>` (this is requir

[2020-06-29 14:16] clopez commented on #24360
Yes.. same issue.

We need to avoid failing the taskcluster CI run if the browser doesn't support the print-reftest tests (or skip those tests)