[2018-05-01 23:06] gsnedders commented on #10741
@thejohnjansen did you not have this happen some point previously?

[2018-05-02 01:14] fantasai commented on #7958
@claytron5000 Added some clarifications to the specs in https://github.com/w3c/csswg-drafts/issues/2614 Please let me know if you think further edits are necessary!

[2018-05-02 07:01] annevk opened #10754 "nonexistent-origin is confusing"
Presumably this is a domain, so `nonexistent-domain` or `nonexistent-host` would be more accurate. Could we rename this?

Can one use the subdomains here too?

(` docs/_writing-tests/server-features.md`)

[2018-05-02 09:29] foolip commented on #10653
@jgraham it looks like all recent runs are still failing?

[2018-05-02 09:52] #10695 closed

[2018-05-02 11:43] gsnedders commented on #4924
Current status:

[2018-05-02 12:52] foolip commented on #4924
Does that mean that it should now be possible, but isn't working?

[2018-05-02 13:49] zcorpan commented on #5915
There are now PRs for everything. If somebody feels they're missing or don't want to be listed, please comment in the PR. If you are added and approve, please mark as approved using GitHub's review feature.

[2018-05-02 13:51] annevk opened #10790 "-manual.window.js does not work with manifests"
Needed for https://github.com/w3c/web-platform-tests/pull/10778 at least.

[2018-05-02 13:53] #10736 closed

[2018-05-02 13:55] annevk commented on #10790
From @Ms2ger:

[2018-05-02 14:12] zcorpan commented on #10580
Is that #7660 or a separate issue? If the latter, is there an issue filed already?

[2018-05-02 15:25] zcorpan opened #10792 "/IndexedDB/idbdatabase-createObjectStore-exception-order.htm is disabled in Mozilla and flaky in WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/IndexedDB/idbdatabase-createObjectStore-exception-order.htm | mozilla webkit | disabled [ Pass Failure ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1336639 https://webkit.org/b/172243

[2018-05-02 15:26] kereliuk commented on #6866
@makotoshimazu Sorry this slipped through my notifications :( but no excuses.

WebDriver can [execute scripts](https://w3c.github.io/webdriver/#dfn-execute-script), so I think we should be able to get a handle to a given service worker with WebDriver that way if its possible with the regular js API, but correct me if I'm making an incorrect assumption here :)

[2018-05-02 15:29] zcorpan opened #10793 "/IndexedDB/keypath-exceptions.htm is disabled in Mozilla and WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/IndexedDB/keypath-exceptions.htm | mozilla webkit | disabled: feature is incomplete [ Skip ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1404274 None

[2018-05-02 15:30] zcorpan opened #10794 "/WebCryptoAPI/generateKey/* are disabled/flaky in Mozilla Chromium WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/WebCryptoAPI/generateKey/test_successes_RSA-OAEP.https.html | mozilla chromium webkit | disabled [ Pass Timeout ] [ Pass Failure ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1279799 https://crbug.com/787971 None

Edit: also:

* /WebCryptoAPI/generateKey

[2018-05-02 15:31] gsnedders commented on #10560
If I'm not mistaken there's no comparable IP address on any other platform… (Which causes problems if there's some DNS server in use that rewrites everything to a search page…)

I guess we should only emit the entry on Windows, and add an assumptions test that it doesn't exist?

[2018-05-02 15:31] zcorpan opened #10795 "/html/dom/dynamic-markup-insertion/opening-the-input-stream/010.html is disabled in Mozilla and flaky in WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/dom/dynamic-markup-insertion/opening-the-input-stream/010.html | mozilla webkit | disabled [ Failure Timeout ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1139795 None

[2018-05-02 15:49] zcorpan opened #10796 "/html/dom/reflection-forms.html is disabled in Mozilla and WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/dom/reflection-forms.html | mozilla webkit |  [keygen.disabled: typeof IDL attribute] [ Skip ] | None https://webkit.org/b/154310

[2018-05-02 15:49] zcorpan opened #10797 "/html/semantics/scripting-1/the-script-element/module/instantiation-error-8.html is disabled in Mozilla and WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/semantics/scripting-1/the-script-element/module/instantiation-error-8.html | mozilla webkit | disabled: unstable [ Skip ] | None None

[2018-05-02 15:50] zcorpan opened #10798 "/resource-timing/resource-timing.html is disabled in Mozilla and flaky in WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/resource-timing/resource-timing.html | mozilla webkit | disabled [ Pass Failure ] | https://bugzilla.mozilla.org/ https://show_bug.cgi?id=1290858webkit.org/b/161088

[2018-05-02 15:52] zcorpan opened #10799 "/workers/semantics/structured-clone/* are disabled in Mozilla and WebKit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/workers/semantics/structured-clone/dedicated.html | mozilla webkit | disabled: true [ Skip ] | None None
/workers/semantics/structured-clone/shared.html | mozilla webkit | disabled: true [ Skip ] | None None

Possibly these tests are doing too many things a

[2018-05-02 16:40] gsnedders commented on #10741
So:

`python wpt make-hosts-file | Format-Hex -Encoding Ascii` shows what I'd expect (ASCII output).

`python wpt make-hosts-file > foo` and then `Format-Hex foo` shows the same thing, but encoded as UTF-16?! Um.

[2018-05-02 16:44] gsnedders commented on #10741
Oh, duh, that's because PowerShell's default output is UTF-16.

[2018-05-02 17:04] gsnedders commented on #10741
So yeah, you want:

[code]

[2018-05-02 17:15] gsnedders commented on #10108
Closing this as a dupe of #10741 given that's where I looked at it.

[2018-05-02 17:15] #10108 closed

[2018-05-02 17:48] jdm opened #10801 "Import localpaths in every __init__ at top of packages in tools/"
https://github.com/w3c/web-platform-tests/commit/dfeea56c848137e18c75e1f931f4b3e1497ea61b#diff-91a3a73ee529ef6adddf10e2e1d045afR16 broke Servo's manifest update tools with this error:
[code]
I fixed it locally by adding the `tools` directory to the import path in our local code before importing from wptrunner, but it would be nice to not keep encountering problems like this.

[2018-05-02 18:58] Hexcles commented on #10511
I completely agree with @jgraham 's proposed list of extra fields.

In terms of the priorities, git commit, browser & OS versions are the most important. I'd like to have them in the report before the result receiver launches, since they will affect whether runners need to include extra fields in the requests when uploading new results. I'll take a stab at adding them to the JSON report. @foolip ,

[2018-05-02 20:16] jgraham commented on #4924
I changed the IP addresses in the DNS record, and gsnedders did the other bits; this works now.

[2018-05-02 20:16] #4924 closed

[2018-05-02 20:39] gsnedders commented on #4924
We don't have HSTS, but oh well.

[2018-05-02 21:01] TalbotG commented on #6960
'padding-left: auto; padding-right: auto'  are 2 invalid (invalid both in CSS1 and in CSS2.x) declarations. So, this definitely looks like an error to me.

I must have reviewed that test because I made the reference file for it; so I may have reported something about that test in public-css-testsuite mailing list...

The "Three of the seven properties can be set to 'auto'" statement from
https://w

[2018-05-02 21:32] TalbotG commented on #5483
@wpt-issue-mover and @hrj

Please take note that there is no minimum font size for tests and reference files.

If the minimum font size is set to none (or to less than 11px) in your browser, then the reference file is correct.

Please close this issue.

[2018-05-02 22:19] TalbotG opened #10806 "[css-writing-modes] 4 tests with incorrect linkage to a script"
http://test.csswg.org/suites/css-writing-modes-3_dev/nightly-unstable/html/logicalprops-block-size.htm

http://test.csswg.org/suites/css-writing-modes-3_dev/nightly-unstable/html/logicalprops-block-size-vlr.htm

http://test.csswg.org/suites/css-writing-modes-3_dev/nightly-unstable/html/logicalprops-inline-size.htm

http://test.csswg.org/suites/css-writing-modes-3_dev/nightly-unstable/html/logicalp

[2018-05-02 22:42] TalbotG opened #10807 "[css-backgrounds] background-size-aspect-ratio test has bad linkage to cat.png image"
Bad linkage of cat.png in

http://test.csswg.org/suites/css-backgrounds-3_dev/nightly-unstable/html4/background-size-aspect-ratio.htm

[2018-05-02 22:46] TalbotG opened #10808 "[css-backgrounds] 2 border-image-slice-00[ 5 | 7 ].htm tests with bad linkage to 9grid40-30-20-10-lime.png"
http://test.csswg.org/suites/css-backgrounds-3_dev/nightly-unstable/html4/border-image-slice-005.htm
(wrong filename!): it should be 9grid40-30-20-10-lime.png and not 9grid40-30-20-10-red.png

http://test.csswg.org/suites/css-backgrounds-3_dev/nightly-unstable/html4/border-image-slice-007.htm
This test is currently the only test in the CSS3 Backgrounds and
Borders test suite testing the 'fill' res

[2018-05-03 00:03] TalbotG commented on #6960
Tony,

I propose to change
 'padding-left: auto; padding-right: auto'
for
 'padding-left: 0; padding-right: 0'

Otherwise I propose to add invalid flag to the test and then to add a comment between line 25 and 26 saying:
/*
'padding-left' and 'padding-right' can only be specified with a <length> or a <percentage>; 'auto' is not a valid property value for 'padding-left' and 'padding-right' properti

[2018-05-03 01:40] TalbotG commented on #8407
Regarding
http://w3c-test.org/css/CSS2/normal-flow/replaced-intrinsic-001.xht

[CSS2.2, section 10.6.2 Inline replaced elements, block-level replaced elements in normal flow, 'inline-block' replaced elements in normal flow and floating replaced elements
](https://www.w3.org/TR/CSS22/visudet.html#inline-replaced-height) states:

    (used width) / (intrinsic ratio)

and this appears to be the case

[2018-05-03 02:00] Hexcles commented on #10511
The browser information is a blocker that we need to address before relying on that in the results receiver of wpt.fyi.

I'm proposing:
* browser: {chrome, edge, firefox, safari, etc.}
* browser_version: "version string preferably from `binary --version` but without the product name"
* experimental: {true, false}
* os: {linux, windows, osx, android, ios}

### `browser` & `os` are really enums

We

[2018-05-03 03:56] annevk commented on #4924
Did we update all links?

[2018-05-03 06:37] TalbotG commented on #10095
What are the negative consequences (problems, issues, difficulties, whatever...) of a test suite of over a thousand files in a single directory?

CSS2.1 test suite has over 10,000 tests. How come - suddenly - writing-modes test suite is too big but CSS2.1 is not?

I do not even understand what the problem really is to begin with. &lt;shrug&gt; And we've been over a thousand for well over 2 years n

[2018-05-03 09:12] tgraham-antenna commented on #6960
It's been a while since I opened this issue, but I suspect that I found the possible rationale from CSS1 only because I was casting around for a reason for the test to be as it was.  Personally, I'm happy for the values to change to '0'.

[2018-05-03 09:47] tgraham-antenna commented on #6604
I am just the (English speaking) messenger, but I'm glad that we agree.

[2018-05-03 10:31] zcorpan commented on #10799
Doesn't look very good for Chromium either:

https://test-results.appspot.com/dashboards/flakiness_dashboard.html#testType=webkit_layout_tests&tests=external%2Fwpt%2Fworkers%2Fsemantics%2Fstructured-clone%2F

[2018-05-03 13:11] gsnedders commented on #10095
It's harder to find related tests if you have to look through thousands of filenames for something related to what you're working on versus looking at a much smaller number of directories. Finding a test in `html/` is easy because it's all split up by section; finding a test in `css/css-writing-modes` means looking through all the filenames.

The majority of directories in `css/CSS2` have up to a

[2018-05-03 13:19] Ms2ger commented on #10734
We should either have tests that they are supported, or that they aren't. Which of those depends on browser vendors.

[2018-05-03 15:35] zcorpan commented on #10796
For Mozilla, the [relevant lines](https://searchfox.org/mozilla-central/source/testing/web-platform/meta/html/dom/reflection-forms.html.ini#1617) are:
[code]
i.e., "disabled" is in the test name, and that subtest is expected to fail. But the test is not disabled.

The test *is* skipped for WebKit though. The [patch](https://trac.webkit.org/changeset/196710/webkit) says

@cdumez do you think the re

[2018-05-03 16:00] jugglinmike opened #10823 "Facilitating automation with browser-specific configuration"
In gh-10742, @jgraham wrote:

Since this will expose less authentic behavior, I presume the functionality should be opt-in. Two implementations come to mind:

- Enable all known automation-enabling flags (regardless of the test being executed) via a new command-line option (e.g. `wpt run --max-automation firefox`)
- Via per-test metadata (e.g. `<meta name="automation" content="autoplay,usermedia">

[2018-05-03 20:19] claytron5000 commented on #7956
https://drafts.csswg.org/css-flexbox-1/#alignment

[2018-05-03 23:32] thejohnjansen commented on #10655
Sorry about the delay. I'm working to verify that what I think is correct :-)

[2018-05-04 01:51] jugglinmike commented on #10452
I reported gh-10823 as a separate feature because that use case (enabling automation) seemed distinct from this one (enabling experimental functionality). That may have been wrong, though. Are there any use cases where one would want one of those two things but not the other?

For example, would someone testing Chrome want to specify the `--autoplay-policy=no-user-gesture-required` option, but *no

[2018-05-04 01:52] jugglinmike commented on #10823
On second thought, this functionality may not be sufficiently distinct from the feature being discussed at gh-10452. I've asked folks there to help decide.

[2018-05-04 01:57] jugglinmike commented on #10754
You might be interested in gh-10560, too. If @gsnedders supports your idea of renaming, then I would be happy to resolve both issues by renaming the domain, updating the hostfile generation logic, and changing existing references in the docs/tests.

[2018-05-04 08:02] foolip opened #10837 "Directory naming scheme for IETF specs?"
We have at least 3 directories for IETF specs:
https://github.com/w3c/web-platform-tests/tree/master/cookies
https://github.com/w3c/web-platform-tests/tree/master/http
https://github.com/w3c/web-platform-tests/tree/master/x-frame-options

Perhaps more. @alvestrand is considering adding tests for https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-24 but what should the directory be called?

[2018-05-04 08:04] foolip commented on #10837
Pinging owners of those existing directories: @inikulin @mikewest @annevk @mnot

[2018-05-04 08:05] alvestrand commented on #10837
Possibilities I've considered include webrtc/jsep/test (linking it to the w3c spec that uses it), rtcweb/jsep/test (making more room for other rtcweb WG-related specs) and jsep/test.

[2018-05-04 08:10] mikewest commented on #10837
*shrug* Call it whatever makes it most clear to developers what it's actually testing? It doesn't make much sense to me to lean too much on the place where the spec was written. We already have a `webrtc` directory. Throwing it under there seems fine? Having both `webrtc` and `rtcweb` would seem strange.

[2018-05-04 08:12] foolip commented on #10837
Sent https://github.com/w3c/web-platform-tests/pull/10838 (needs review) and https://github.com/w3c/web-platform-tests/pull/10839 to add a READMEs to at least point to the IETF specs under test, probably got it wrong :)

[2018-05-04 09:28] foolip commented on #9109
https://wpt.fyi/navigation-timing/po-navigation.html is now passing in Chrome, thanks @plehegar! (So that there can be no misunderstanding, I'd be even happier if it passed in 2, 3 or 4 browsers, Chrome or not.)

[2018-05-04 09:58] alvestrand commented on #10837
When actually writing a test to be put into the proposed directory, I thought that "webrtc/protocol" looked like a fine directory name - it's protocol specs rather than API specs, and its strictly related to WebRTC.
https://chromium-review.googlesource.com/c/chromium/src/+/1043886 - I guess the bot will come up with a github review CL soon.

[2018-05-04 10:00] annevk commented on #10837
FWIW, I think that's reasonable.

[2018-05-04 10:09] jgraham opened #10842 "Taskcluster tasks sometimes hang at the end"
It looks like we have tasks that do all the work but don't exit properly. I guess it's some race condition during shutdown that may be exacerbated by printing a lot of logs about unexpected failures at the end. For example:

https://tools.taskcluster.net/groups/HbE1r6PHR-K6dVfjVBCyyg/tasks/EyHx_c0rTKeGvgSTyLeJBw/runs/0/logs/public%2Flogs%2Flive.log

[2018-05-04 10:27] foolip opened #10843 "Add big red warning to /tools/runner/index.html"
I've heard from multiple people who have tried to use http://w3c-test.org/tools/runner/index.html and run into various problems, without realizing it's not a well-supported way to run WPT.

We should discourage its use with a warning, so that people only use it if they really want to.

[2018-05-04 10:38] jgraham commented on #10837
Yeah, I don't have a strong opinion here. I don't know of any generic tooling that particularly relies on the naming (CSS specific tools aren't generic), so we should focus on clarity.

[2018-05-04 10:57] yoavweiss commented on #4313
@foolip yeah, that looks good! Maybe merge the above into server-side.md, to make the content more findable?

[2018-05-04 11:17] annevk commented on #10837
(And it does seem useful to put URLs to the specification in a README, ideally the same URLs used to reference the standard from other standard, so you can grep for it.)

[2018-05-04 11:56] foolip commented on #9346
@kereliuk, do you think that [`test_driver.send_keys`](https://github.com/w3c/web-platform-tests/blob/8f93a78175a1c98e6d36bd8293ff5525edd0da91/resources/testdriver.js#L100) is now enough to support writing tests for this? Are there any other tests yet that send tab keys to move focus around?

[2018-05-04 13:01] annevk opened #10847 "Make any.js and friends easier to debug"
I might have raised this before.

Could we perhaps inline the JavaScript directly in the HTML (and maybe also the worker template) rather than making it a separate request?

That makes debugging easier.

cc @Ms2ger @jgraham @smaug----

[2018-05-04 14:45] henbos commented on #10622
Yes thank you.

[2018-05-04 14:48] henbos commented on #10622
I assigned this on myself but I don't know when I will have the time to fix it so anyone that is up for it is free to re-assign to themselves.

[2018-05-04 18:15] jugglinmike opened #10853 "Disambiguating uncaught errors"
Single page tests are convenient because they shorten test code by two lines (i.e. `test(function(){` and `});`). However, they also introduce an ambiguity which makes differentiating harness errors and harness errors difficult (or maybe impossible).

The ambiguity is apparent any time a test produces an uncaught error without defining any tests. This may represent one of two states:

- a valid "s

[2018-05-04 18:26] jugglinmike commented on #10706
It would be nice if the harness could identify this as a faulty test. I don't think this is possible as long as we support "single page tests," at least in the way we do today. I've filed gh-10853 to talk about resolving that.

Separately, if code in a `setup` function throws an error, testharness.js assigns the status "ERROR" to the test. Do you think that should change?

If we wanted this partic

[2018-05-04 18:32] jugglinmike commented on #10853
Would you consider requiring metadata as undermining the motivation for the feature?

[2018-05-04 19:56] smaug---- opened #10854 "Sort out what "Reset if relatedTarget pointed to a shadow tree pre-dispatch" test in dom/events/relatedTarget.window.js actually should test"
I'm changing the test to actually get the listener called in https://bugzilla.mozilla.org/show_bug.cgi?id=1449560 but it isn't clear to me how to change the test to test what it apparently tries to test.

[2018-05-04 19:56] smaug---- commented on #10854
@annevk

[2018-05-04 20:54] jgraham commented on #10853
Yes, I would expect people to forget, it is by definition impossible to lint for (or we could just use that criteria rather than the metadata), and in any case requiring extra verbosity in the mode specifically designed to reduce verbosity seems to defeat the point.

[2018-05-04 21:53] jugglinmike commented on #10853
As part of this change, `testharness.js` could report a harness error for any test that did not define at least one sub-test. If a contributor expecting single-page test behavior forgot to include metadata, their test would not receive an "OKAY" status in any browser.

As a side-benefit, this would also improve results accuracy for tests that only define sub-tests if the implementation is availabl

[2018-05-04 22:08] TalbotG commented on #10808
https://w3c-test.org/css/css-backgrounds/border-image-slice-005.htm

https://w3c-test.org/css/css-backgrounds/border-image-slice-007.htm

[2018-05-04 22:09] TalbotG commented on #10807
The cat.png is fetched and loading in

https://w3c-test.org/css/css-backgrounds/background-size-aspect-ratio.htm

[2018-05-05 19:33] foolip commented on #10572
The previous and probably continued unreliability of this came up in https://github.com/web-platform-tests/wpt.fyi/pull/101, where @lukebjerring's adding a wpt.fyi API endpoint to get the manifest, backed by the GitHub tags/releases. https://github.com/web-platform-tests/wpt.fyi/pull/101#issuecomment-386246656 has a list of tags for which there's no manifest.

@lukebjerring, elsewhere (can't find

[2018-05-06 12:01] zcorpan commented on #10853
We could have an easier to remember opt in like `single()`

[2018-05-06 14:01] lukebjerring commented on #10572
Yes, that was my suggestion (try all commits since the last successful tag).

It is a bit weird (write-on-read kind of vibe) to have master trigger those changes, but unless we want an arbitrarily timed cron job, commits to master still makes the most sense (they're quite regular).

Note that the change would still sometimes succeed the race condition anyway, so you'd see equivalent to current beh

[2018-05-07 09:08] foolip commented on #10682
Closing in favor of https://github.com/w3c/web-platform-tests/issues/10653

[2018-05-07 09:08] #10682 closed

[2018-05-07 09:10] foolip commented on #10653
After https://github.com/w3c/web-platform-tests/pull/10762, based on visual inspection of https://github.com/w3c/web-platform-tests/commits/master Taskcluster has succeeded more often, maybe 80% of the time, but it's not rock solid. @jgraham, do you think this tracking issue is still useful, or does https://github.com/w3c/web-platform-tests/issues/10842 account for all of the remaining issues?

[2018-05-07 09:25] foolip commented on #10511
Awesome, with https://github.com/w3c/web-platform-tests/pull/10811 merged, https://taskcluster-artifacts.net/H11pXovsRiyOOgBcxbDHow/0/public/results/wpt_report.json now begins like this:
[code]

Looks like we have *most* of the information mentioned in this issue already.

@Hexcles, was it deliberate that the timestamps are not inside run_info? And do you think it would be an improvement to format

[2018-05-07 09:35] smaug---- commented on #10854
ah, right.
Or, should retargeting not do anything if B is not a node or not a node in same (shadow including) tree

[2018-05-07 09:44] annevk commented on #10854
@smaug---- B could be `Window` in which case we do want to do something I think. Covering that case also makes the same-tree check more complicated, which is why @hayatoito ended up with the current model I think.

[2018-05-07 09:51] annevk commented on #10854
I think it's probably easiest if we leave the specification unchanged for this. I'll work on a PR for the affected tests.

[2018-05-07 09:59] annevk commented on #10854
@smaug---- #10863 has my suggested fix for the test. Firefox Nightly fails it (and also the acvication one, as I think you already knew).

[2018-05-07 10:57] #10741 closed

[2018-05-07 12:36] foolip commented on #10572
I think tagging retroactively is fine. For generating the manifest we'd need to check out earlier revisions, and then revert back to the commit originally checked so that later Travis steps aren't confused, so that introduced some small risk of breaking things in novel ways.

@jgraham, WDYT about this approach for tags and/or manifest upload? The only other option is something cron-like, perhaps a

[2018-05-07 13:46] zcorpan commented on #4884
This test is skipped in WebKit as well:

[code]
From https://raw.githubusercontent.com/WebKit/webkit/master/LayoutTests/TestExpectations (found via https://bocoup.github.io/wpt-disabled-tests-report/ )

[2018-05-07 15:39] gsnedders commented on #10754
If we can get away with renaming it, I guess we may as well?

[2018-05-07 15:46] gsnedders commented on #10511
@foolip Given it just uses the pre-existing `run_info`, from the [`mozlog` docs](https://firefox-source-docs.mozilla.org/mozbase/mozlog.html#data-format):

So, uh, it's whatever `mozinfo` does. And [its docs](https://firefox-source-docs.mozilla.org/mozbase/mozinfo.html) don't seem to say what fields it provides and what they mean… :/

[2018-05-07 15:46] Hexcles commented on #10511
@foolip Yes, the timestamps were intentionally put outside of `run_info`. The rationales are: 1. jgraham and I prefer having the original `run_info` from `mozlog` in the report; 2. I don't want to add timestamps to `run_info` because they already exist as a top-level field in all mozlog entries. Regarding the format, this is milliseconds since UNIX epoch. Since the report is mostly consumed by mac

[2018-05-07 15:54] foolip commented on #10511
@Hexcles if not all information will make sense in `run_info`, I wonder if we should put all of the metadata in a single top-level attribute like `metadata` or... something? Unfortunately `run_info` is a pretty good name, but it's taken :)

And will the `run_info` stuff be stable enough to use in the results receiver, or should we have code in `wpt run` that derives the information we need from it

[2018-05-07 15:58] gsnedders commented on #10511
@foolip filed https://bugzilla.mozilla.org/show_bug.cgi?id=1459651 for the lack of documentation of any of the fields in run_info, FWIW.

[2018-05-07 16:42] jugglinmike commented on #10511
@Hexcles I know that [you would prefer to hold off on documenting the data structure for now](https://github.com/w3c/web-platform-tests/pull/10811#issuecomment-386369382), but given that `run_info` is itself undocumented and other system will depend on this data, it seems wise to at least assert the presence of the required contents. What do you think?

[2018-05-07 16:51] jugglinmike commented on #5915
@zcorpan Way to go! Do you think we can lint for this once all those patches land?

[2018-05-07 17:54] gsnedders opened #10875 "Lint didn't catch ../../testharness.js"
https://github.com/xfq/web-platform-tests/blob/42287024b971a699c458978df1a781f356479f59/css/css-text/i18n/zh/css-text-line-break-zh-po-loose.html passes lint. This is wrong. Probably a simple bug.

[2018-05-07 18:42] zcorpan opened #10877 "Make harness errors fail in Travis"
@jugglinmike made a list of tests producing harness errors in https://github.com/web-platform-tests/results-collection/issues/478#issuecomment-384131457

@foolip do we want to make harness errors fail in Travis?

[2018-05-07 19:11] zcorpan commented on #5915
Yep, that is https://github.com/w3c/web-platform-tests/issues/10552

[2018-05-07 19:14] zcorpan commented on #10853
I made an issue for that, https://github.com/w3c/web-platform-tests/issues/10877

[2018-05-07 20:36] jugglinmike commented on #10754
I couldn't ask for a more enthusiastic endorsement :P gh-10878

[2018-05-07 20:37] jugglinmike commented on #10560
Sounds good to me gh-10878

[2018-05-07 21:30] foolip commented on #10877
I think we should try to make all harness errors fail the Travis jobs, unless while trying to do that we discover some reason why harness errors really should be allowed. I imagine that @jgraham has thoughts on this.

[2018-05-07 23:46] InstyleVII opened #10881 "WebDriver test:extension capability tests should be removed"
The tests validating that a WebDriver imlpementation can support extension capabilities should be removed. These tests are currently located in the webdriver/tests/sessions/new_session/create_firstMatch and create_alwaysMatch files.

The argument for removing them is that they are only validating that the browsers support parsing test extension capabilities which don't match the prefix a browser w

[2018-05-07 23:46] InstyleVII commented on #10881
@AutomatedTester and @shs96c thoughts on this?

[2018-05-08 01:35] jugglinmike commented on #8420
I'm on the case

[2018-05-08 06:52] #10854 closed

[2018-05-08 10:07] jgraham commented on #10580
Yes, that's #7660 although strictly it doesn't have to be "lots" of tests; 5 affected tests taking 1 minute each would exceed the 49½ minute timeout we get on Travis.

[2018-05-08 10:59] jgraham opened #10888 "Remove localpaths.py"
Localpaths was more or less added so that people didn't have to worry about installing virtualenv and pip, and installing packages. But these days we have the `wpt` frontend, and it doesn't make sense to use `sys.path` hacks when we could instead just `pip install -e` all the components. This would have the advantage of being way less confusing.

One thing to be careful of is that this is likley t

[2018-05-08 11:03] annevk commented on #4934
https://bugzilla.mozilla.org/show_bug.cgi?id=1427268 per location.search (not other location setters) is different per browsers.

[2018-05-08 11:15] annevk opened #10890 "Document <meta name=variant>"

[2018-05-08 11:45] foolip commented on #7660
I think the next step for this issue is to fix https://github.com/w3c/web-platform-tests/issues/10269. Does that sound right, @kereliuk?

[2018-05-08 11:54] gsnedders commented on #10888
Does it actually make sense to use `-e`? It probably makes it slightly easier given changes, but it does still make it slightly odd (and more likely to work in spite of hardcoding paths we shouldn't).

[2018-05-08 12:46] annevk commented on #4103
https://github.com/w3c/web-platform-tests/pull/10891

[2018-05-08 13:07] annevk commented on #8707
It seems we should extract #6446 (and similar tests) and basically only run them for `URL`.

[2018-05-08 13:07] annevk commented on #8707
cc @GPHemsley

[2018-05-08 13:50] #1480 closed

[2018-05-08 14:27] gsnedders commented on #9874
@jgraham

We have both:

[code]

What's the difference between these?

[2018-05-08 14:43] jgraham commented on #9874
`--stability` does exactly what travis does right now (except the ci command has extra integration with Travis) and `--verify` is the new thing that we should use instead.

[2018-05-08 14:53] gsnedders commented on #9874
@jgraham do we want to support both? should we drop support for one? we should at least document the difference somewhere, because at the moment the `--help` doesn't give any indication as to which to use!

[2018-05-08 15:02] gsnedders commented on #10716
From IRC:

15:05 < gsnedders> kereliuk: what's the plan with https://github.com/w3c/web-platform-tests/issues/10716?
15:30 < kereliuk> gsnedders: I have something on a local branch that works at least for the window commands I've sent PRs for
15:31 < kereliuk> I have the protocol method return a python thing. Serialize that with json.dumps and throw it in the completion message.
15:31 < kereliuk>

[2018-05-08 15:04] thejohnjansen commented on #10655
Here is a CSV of the tests we have disabled currently. Of course, we run these on a regular cadence to see if they have become stable, and we add to the list and new tests become unstable.

[NotRunFiles.xlsx](https://github.com/w3c/web-platform-tests/files/1984479/NotRunFiles.xlsx)

[2018-05-08 15:04] thejohnjansen commented on #10655
GitHub does not support .CSV, so it's actually an .XLSX, but it really is just a csv.

[2018-05-08 15:18] Hexcles opened #10898 "Stress test wptserve"
In light of the tricky race condition we encountered a while ago (#10667), I'm thinking maybe we should at least stress test `wptserve`.

It's hard to write unit tests to verify multi-threading and catch race conditions, but stress testing should help to some extent. The reason why #10667 wasn't discovered was because of the relatively low load on both Travis and Mozilla testing infra (both of the

[2018-05-08 15:25] foolip opened #10899 "config.default.json still referenced in many files"
After #10850 was merged, at commit 347227e8944d0ab10ff5e7fc71e1b8888d343bd9:
[code]

I have a failure in resources/test/wptserver.py in https://travis-ci.org/w3c/web-platform-tests/jobs/376375341 (for https://github.com/w3c/web-platform-tests/pull/10198) but it doesn't seem like all PRs are failing in the same way, which is why I'm not reverting right away.

@jgraham, can you take a look?

[2018-05-08 15:26] foolip commented on #10899
@gsnedders pointed to https://travis-ci.org/w3c/web-platform-tests/jobs/376305073 on IRC, and that may be the same problem, not sure.

[2018-05-08 15:30] foolip commented on #10899
Perhaps partially reverting https://github.com/w3c/web-platform-tests/pull/10393 would do the trick.

But it overall seems a bit odd that code which shells out to start wpt serve also parses it config file. With the recent changes, that code would have to import the serve module to get the config, making the layering oddity even more severe.

[2018-05-08 16:08] foolip commented on #10898
I think this is a great idea. We could hit some subset of files in the manifest where we know what the response is supposed to be over and over in parallel, and just see if it breaks. Not sure how to do that in Python though :)

[2018-05-08 16:35] Hexcles commented on #10888
@jgraham Did you mention some downsides of `localpaths.py` other than "it doesn't make sense" somewhere else (probably on IRC)? We have a few things that "don't make sense", so more context regarding the rationales / priorities would be great.

As far as the Blink infra goes, we are already doing some `PYTHONPATH` hacking before starting `wptserve` anyways (e.g. we don't use the `pywebsocket` in `

[2018-05-08 17:34] jgraham commented on #10888
I think that the localpaths thing creates as many problems as it solves. For example gecko was using the `wptserve` module for some tests, and when wptserve was changed to depend on `localpaths` this all broke because it wasn't really an independent component. Except that in reality it broke /later/ when some imports were moved around so that the bits depending on the rest of wpt ended up being lo

[2018-05-08 20:09] zcorpan commented on #10655
It looks like the file got mangled. :-( Can you attach it as a .txt, or create a [gist](https://gist.github.com/), or put it on OneDrive or something?

[2018-05-08 20:13] zcorpan commented on #10655
Oh I see, it's actually .xlsx, not just a file rename. OK, that works. Thanks!

[2018-05-08 20:44] #10899 closed

[2018-05-08 21:37] foolip opened #10906 "Many tests may be flaky after #10198"
https://github.com/w3c/web-platform-tests/pull/10198 was blocked for a long time because of being flaky in Chrome Dev, which was never resolved. It was finally force merged because the changes had been reverted in Chromium by automatic import, and the best way to recover was to merge the PR.

The last Travis job showing the flakiness:
https://travis-ci.org/w3c/web-platform-tests/jobs/376549386

[2018-05-08 21:42] foolip commented on #10801
@gsnedders this is marked urgent and assigned to you. Is it really urgent?

[2018-05-08 21:58] foolip opened #10908 "Run stable Chrome and Firefox on Taskcluster daily or weekly"
https://github.com/w3c/web-platform-tests/pull/9226 added Chrome and Firefox experimental to run on every push to master, and https://github.com/w3c/web-platform-tests/issues/10503 is about maybe running Taskcluster for PRs.

This issue is for potentially running stable (and beta?) browsers on Taskcluster on a slower cadence, daily or weekly as that will be a useful point of comparison for the exp

[2018-05-09 07:16] jgraham commented on #10653
#10842 accounts for everything that I have specifically noticed. I'll file more issues as I figure out more things.

[2018-05-09 07:16] #10653 closed

[2018-05-09 07:30] annevk opened #10911 "Timeouts in tests"
I've seen folks use this as a global outside of single-page tests too and it's not causing a problem. I suppose the result is that any failure is not attributed to the test, but that otherwise there's no issue?

[2018-05-09 07:44] jgraham commented on #10877
What do you mean "harness errors"? Do you mean errors in testharness.js or in wptrunner?

Assuming you mean the former, there is an already-discussed ambiguity between single page tests which are likely to produce `ERROR` if the feature in question isn't implemented, and tests that unintentionally error due to a bug. One could certainly look for cases where multiple browsers produce `ERROR`. This

[2018-05-09 08:33] jgraham commented on #9874
The intent of this issue is to move to using `--verify` exclusively.

[2018-05-09 08:34] jgraham commented on #10801
It's no longer urgent, because #10850 landed which solves the underlying problem here. I am going to say that this is WONTFIX, in favour of reducing our dependence on localpaths (e.g. via #10888)

[2018-05-09 08:34] #10801 closed

[2018-05-09 08:52] foolip commented on #9874
There's a great deal of overlap with https://github.com/w3c/web-platform-tests/issues/10269 and perhaps they'll be fixed by the same PR, but for now I'll just align the labels and assign both to @gsnedders.

[2018-05-09 08:57] foolip commented on #7475
@lukebjerring, what do you think is currently the most likely way this will be achieved? Does it depend on https://github.com/w3c/web-platform-tests/issues/10503, or just on https://github.com/w3c/web-platform-tests/issues/9874, or some other path to the same goal?

[2018-05-09 09:00] foolip commented on #10877
We're talking about testharness.js harness errors. We can make progress on this even if https://github.com/w3c/web-platform-tests/issues/10853 remains unresolved, it just means that if https://github.com/w3c/web-platform-tests/issues/10853 is fixed, we might need to fix a bunch of new harness errors at the same time. I would slightly prefer the other order of fixing though.

[2018-05-09 10:50] annevk commented on #8707
This went bad due to 90efdbecfe3c457b36c71cf3e01a72cd5301c163 by @GPHemsley (and reviewed by @domenic). I guess I can look at cleaning it up though...

[2018-05-09 11:13] annevk opened #10918 "Reorganizing url/"
@mikewest @rubys @xiaojunwu @smola @domenic @Sebmaster @annevk @GPHemsley @TimothyGu would any of you mind if I move `a-element-origin.js`, `a-element.js`, `setter_tests.json`, `toascii.json`, and `urltestdata.json` into a `resources/` directory?

If it helps I'll also document the other JSON resources as part of this to make it clearer how they can be consumed in non-HTML software projects.

[2018-05-09 11:52] zcorpan commented on #10798
@toddreifsteck you wrote this test. Do you have any thoughts on how to fix it?

cc @igrigorik

[2018-05-09 12:04] zcorpan commented on #10794
@andypaicu @foolip @Hexcles any thoughts on what, if anything, we can do with this test?

The test has this warning
[code]

[2018-05-09 12:08] zcorpan opened #10919 "/media-source/mediasource-activesourcebuffers.html is disabled in Mozilla & Edge and flaky in Chromium"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/media-source/mediasource-activesourcebuffers.html | mozilla chromium edge | disabled [ Failure Pass ] disabled | https://bugzilla.mozilla.org/show_bug.cgi?id=1301409 https://crbug.com/715718 None

[2018-05-09 12:09] gsnedders commented on #10716
@jgraham I don't know about size, but certainly other things related to window management are necessary for testing things like the Page Visibility API.

[2018-05-09 12:26] zcorpan commented on #10919
@tidoust @wolenetz any thoughts on how to fix this test?

[2018-05-09 12:33] foolip commented on #10794
How long does it take to generate a single RSA key? Is the test just trying to generate too many and needs to be split?

[2018-05-09 12:35] gsnedders opened #10921 "Make --stability just use the --verify code"
To roughly quote @jgraham:

So basically `--stability` is a subset of the behaviour and should probably cease being a separate codepath.

Note that `--stability` is currently a feature of `wpt run` and *not* `wptrunner`.

We need to make sure the output doesn't change when we move this over.

[2018-05-09 12:37] gsnedders commented on #10269
Per https://github.com/w3c/web-platform-tests/issues/10921 `--stability` is just a subset of behaviour of `--verify` and should really cease being separate, so let's close this in favour of https://github.com/w3c/web-platform-tests/issues/9874.

[2018-05-09 12:37] #10269 closed

[2018-05-09 12:50] domenic commented on #10918
Works for jsdom/whatwg-url. We're pinned to specific git commits and roll tests periodically; this will just make a tiny bit more work next roll.

[2018-05-09 12:51] kereliuk commented on #9346
@foolip I think it should probably work now!

[2018-05-09 12:52] foolip commented on #9346
@kereliuk do you have an example of a test that's already manipulating focus using tab?

[2018-05-09 12:57] gsnedders commented on #10888
Note we've somewhat forked `pywebsocket`, so I'd strongly recommend using the in-tree copy. (We'll probably end up forking it more given I think there's tests we can't write against it currently. And if we ever start supporting Py3 obviously that'll be a bigger fork.)

[2018-05-09 12:58] foolip commented on #9346
@kereliuk, cool, I've assigned this to myself to give it a try!

[2018-05-09 12:59] gsnedders opened #10922 "Move tools/html5lib and tools/six into tools/third_party"
It would be nice to move these so all the upstream projects we have live in tools/third_party (plus resources/webidl2); note I'm not considering `pywebsockets` as upstream as we've already forked it, upstream is unmaintained, and we're likely to fork it further, hence it should live in tools/.

[2018-05-09 13:13] gsnedders opened #10923 "PR dashboard rarely commenting"
The PR dashboard has stopped commenting on most PRs since 6 April. That said, nobody has complained about it in over a month so maybe it's not very valuable?

See https://github.com/w3c/web-platform-tests/pulls?page=1&q=is%3Apr+-commenter%3Aw3c-bots+created%3A%3E2017-04-05+-status%3Apending&utf8=✓ for everything where it has failed to comment since it started being run.

It seems like this might'v

[2018-05-09 13:17] annevk opened #10924 "Consider a non-.org domain to host the test suite on"
See https://github.com/w3c/web-platform-tests/pull/10891#issuecomment-387649102 for rationale.

[2018-05-09 13:17] annevk commented on #10924
(This is for the public-facing version, i.e., `http://w3c-test.org/`.)

[2018-05-09 13:27] zcorpan commented on #10795
@jgraham any idea on how to fix this test?

[2018-05-09 13:44] foolip commented on #6866
Since we didn't actually assign an owner for this in Q2 and though there were more serious infra/automation issues to tackle first, downgrading the priority to be transparent about that.

@kereliuk, I wonder if adding testdriver.js API that *isn't* backed by WebDriver is something we'd ever consider? It would mean that the semantics would have to be defined in some other way, and maybe there would

[2018-05-09 13:46] foolip commented on #7424
@jugglinmike if we go with something like https://github.com/w3c/web-platform-tests/pull/10746, I wonder what you think we should do for testing of `getUserMedia` itself, i.e., the mediacapture-streams directory. @guidou, WDYT?

[2018-05-09 13:48] foolip commented on #4313
Yes, that documentation is stray and should be consolidated. Assigning to @kereliuk who's signed up for at least some light consolidation this quarter.

[2018-05-09 13:49] foolip commented on #10026
@marimeireles do you still intend to work on this?

[2018-05-09 13:57] zcorpan commented on #10794
For me it seems to take around 1s per subtest, and this has 156 subtests, so yeah, splitting it up to multiple files (or `variant`s) seems reasonable.

[2018-05-09 14:00] gsnedders commented on #10144
OK, so #10652 was a dupe, and this issue was fixed there.

[2018-05-09 14:00] #10144 closed

[2018-05-09 14:05] foolip commented on #10330
@kereliuk, what do you think we should do, concretely?

[2018-05-09 14:06] gsnedders opened #10928 "stability checker tries to run all testharness.js tests when testharness.js is modified"
this invariably times out, @jgraham has apparently almost fixed this now

[2018-05-09 14:07] foolip commented on #7598
@gsnedders and I discussed this today. Next step is probably to try run all reftests in Chrome and Firefox with the current default size 600x600 and with 800x600, and list any tests where the results changed. If there are only a handful, then maybe sticking with 600x600 will be fine, and otherwise we'll see. So work is still planned this quarter.

[2018-05-09 14:14] foolip commented on #10928
I'd say this is a dupe of https://github.com/w3c/web-platform-tests/issues/7660. The right fix, IMHO, would be to have a CI which is able to run all testharness.js tests if testharness.js is modified, even if it doesn't do it by default.

[2018-05-09 14:30] annevk commented on #10924
That's our long term plan for Encoding defaulting. Rather than letting it be locale-dependent.

[2018-05-09 14:36] Hexcles commented on #10794
This is also tracked in Chromium by the way: https://crbug.com/787971

Splitting the tests seems a reasonable way. Apparently `timeout: long` isn't enough.

[2018-05-09 14:47] gsnedders opened #10931 "Pregenerated certificates not updated for new hosts"
We need to re-generate them.

[2018-05-09 14:49] #10875 closed

[2018-05-09 15:13] zcorpan commented on #10794
I think it would work to use `<meta name="variant" content="?1-10">` to run the first 10 tests, and 11-20 and so on.

[2018-05-09 15:14] zcorpan commented on #10794
@Hexcles yep, my report picked that up :)

[2018-05-09 16:10] foolip commented on #10906
OK, "good", https://github.com/w3c/web-platform-tests/pull/10907 is still flaky when touching the tests, so this is possible to investigate.

[2018-05-09 16:17] marimeireles commented on #10026
Hey,
Not in the moment, sorry!

[2018-05-09 16:30] TimothyGu commented on #10918
I'm fine.

[2018-05-09 21:39] lukebjerring commented on #7475
Neither; Depends on https://github.com/web-platform-tests/wpt.fyi/issues/118

[2018-05-10 00:02] inexorabletash commented on #10793
Is it flaky or just disabled?

If flaky, if you can give me a couple logs (pass/fail) I can probably puzzle it out.

[2018-05-10 06:32] foolip commented on #5630
@beverloo, that sounds doable using WebDriver and testdriver.js. @kereliuk, can you share your tutorial for adding automation here when it's landed?

[2018-05-10 09:16] zcorpan commented on #10793
" disabled: feature is incomplete " for mozilla, and "skip" for webkit. But it seems nicer to have the tests fail if the feature is not supported so it doesn't need to be disabled. I haven't yet investigated this test, I can take a closer look next week.

[2018-05-10 12:38] smola commented on #10918
@annevk Sure. My tests do not depend directly on this repository, so nothing broken on my side.

[2018-05-10 13:03] GPHemsley commented on #8707
To clarify: Are we saying the tests are bad, or the test runner is bad?

[2018-05-10 13:16] GPHemsley commented on #10918
@annevk My tests are gonna break, but I can change the URL(s) when that happens.

[2018-05-10 14:29] foolip commented on #5293
Current URL is https://web-platform-tests.org/writing-tests/css-metadata.html#requirement-flags

[2018-05-10 14:30] foolip commented on #5293
Are the flags extracted by some tool, so that we could generate a table of which are used how many times? Presumably we can just remove a bunch of them.

[2018-05-10 14:40] foolip commented on #5301
Current URL is https://web-platform-tests.org/appendix/github-intro.html

I think it's pretty ok, but has outdated images of how GitHub's UI looks and still assumes that submodules are needed.

"Your pull request will go into a queue and will be reviewed soon" is often not true...

I doubt that many people find their way to these docs. Cleaning it up seems low priority, just deleting it fine too I

[2018-05-10 14:42] foolip commented on #10911
I see that a lot too, more than `test.step_timeout` probably. I guess there will be a harness error if the callback throws?

[2018-05-10 15:53] Hexcles commented on #10511
@jugglinmike yes I will.

Status update: I think the last piece of crucial information missing in wptreport is the revision (we don't have #10452 yet so there'll be no "experimental" field for now).

[2018-05-10 16:02] gsnedders commented on #5292
Some of the original issue is gone since we got rid of versions, with the exception of CSS2.

The other half of it is https://github.com/w3c/web-platform-tests/issues/10288 I think?

[2018-05-10 16:39] gsnedders commented on #7598
@foolip My big concern isn't where the result is changed currently, but say we have some test that currently passes, but then we regress something in the bottom right (outside of the viewport) and we don't catch it.

[2018-05-10 16:59] jgraham commented on #8581
How important is it that we get the exact list of [sub]domains above (we can't have `.org` in any case)? It seems messy to add a lot of additional subdomains if we could instead add e.g. `child1.www` and `child2.www` and otherwise just use the existing domain set.

[2018-05-10 17:53] foolip commented on #7598
Overall, would you guess that regressions are more likely to be caught at 600x600 or 800x600, if they originally pass at both resolutions? Seems this depends on what size they were authored for, and can we know/guess that?

[2018-05-10 18:36] jugglinmike commented on #10511
Thanks, Robert!

[2018-05-10 18:52] foolip commented on #5292
Sure, let's close in favor of https://github.com/w3c/web-platform-tests/issues/10288

[2018-05-10 18:52] #5292 closed

[2018-05-11 02:06] frivoal commented on #5292
Actually, it's not quite clear that this is resolved. For directories, we got rid of versions, and that is good.

* This does not tell us whether we should point to TR or to the ED
* For spec links, shepherd currently only supports leveled names. I presume this is in order to map it back to the correct section of that spec. This mapping is useful when looking for tests that pertain to a particular

[2018-05-11 02:14] frivoal commented on #5301
I agree that improving this is probably low priority, but I would strongly disagree with deleting it. It was written because people had specifically asked that it be written, and has been used as a reference by them since.

Many people can write simple HTML/CSS/JS, and therefore have sufficient skills to write tests (if they have the inclination to). The subset of these who can already use github

[2018-05-11 07:36] foolip commented on #5293
I was thinking we'd just rename/remove the flags in old tests. If we can find the flags to begin with, then we can also do that. (Not sure we can find them with existing code though.)

[2018-05-11 09:27] frivoal commented on #5293
At least for  `animated`, `interact`, `font` and `userstyle`, you cannot remove then without renaming the file to match manual tests naming conventions, and renames are considered disruptive.

For the rest, I don't know. The flags are not very useful, but they're also not wrong. Also, if that invalidates many stored results in shepherd, that's not the end of the world, but if we can avoid that, th

[2018-05-11 09:40] foolip commented on #5293
Oh, there's no "manual" flag to collapse these into? I guess then I'd pick one and use that for all of them.

Renames outside of css/ are fine, although huge ones can create a bit of trouble. Is it the results in shepherd that makes things different for CSS?

[2018-05-11 11:35] frivoal commented on #5293
Either than, or rename every foo-001.html into foo-001-manual.html

For css, I think renaming of changing the content of the test has the same effect: the test is considered new/different, and old results don't apply. This is not necessarily a blocker, so we can do it, but we should not do it for no reason, as there is a cost.

However, I had heard that renames were bad in general, not due to css

[2018-05-11 12:29] foolip commented on #5293
Renames have caused trouble in the past, but the import systems of Blink and Gecko now handle them just fine, and I think WebKit's will too as it's based on Blink's.

But links to wpt.fyi and such can still break, so renames should have *some* benefit.

[2018-05-11 12:35] gsnedders commented on #5292
This would be solved by #10288, by actually explicitly whitelisting URLs.

Realistically, I don't think people will do this: they'll add a link to the ED they're reading, and not add any other URLs (i.e., they won't see it as beneficial to spend their time looking through each versioned spec to see if their test also applies there, especially when the text could be dramatically different—esp. in C

[2018-05-11 12:36] gsnedders commented on #5292
For the anchors case, I guess we could occasionally import the anchors DB JSON into the WPT repo and check against that stable list of anchors, but that'll likely be annoying when someone wants to write tests along with adding a new section to the spec, given it would fail the lint until the spec change has landed and the anchors DB has been updated.

[2018-05-11 12:39] gsnedders commented on #5293
In principle it was up to each vendor as to what they wanted to run manually (e.g., with a small amount of manual work the userstyle tests could all be automated, the print tests are really just a variant of the normal test you just need to opt-in to a different rendering codepath and then do everything the same).

[2018-05-11 12:44] gsnedders commented on #7598
@foolip I think the majority of tests we have were authored for either 800x600 (which I believe is what happens with content_shell in WebKit/Blink) or 800x1000 (in the old Gecko reftest infra). So I'd guess 800x600 is a better bet than 600x600.

[2018-05-11 13:41] dbaron commented on #9113
I've been meaning to upstream the Gecko `test_{value,inherit,initial}_{storage,computation}.html` tests for ages -- probably by merging them all into a single JS library that could be applied to a property database, so that we could have separate per-spec property databases.  Those tests were very valuable in catching common errors in parsing, computation, and serialization, and while they don't c

[2018-05-11 13:43] foolip commented on #9113
@dbaron, that would be great! I didn't know something like this existed already.

[2018-05-11 15:00] gsnedders commented on #10931
@jgraham Can you do this, and add to the README.md some instructions on how to update them? (Esp. given I think we want them to have longer validity periods than normal?)

[2018-05-11 15:06] #10928 closed

[2018-05-11 15:17] Honry commented on #10906
@foolip, the flakiness disappeared in my PR https://github.com/w3c/web-platform-tests/pull/10962, I didn't do much change, but it's magic.  :)

But most tests still failed in my local, so I did an investigation and have some findings.

1.  See following code snippet from [generic-sensor-tests.js](https://github.com/w3c/web-platform-tests/blob/master/generic-sensor/generic-sensor-tests.js#L47
), th

[2018-05-11 16:32] gsnedders commented on #10269
Also starting to look into this, we already use `--stability`.

[2018-05-11 16:44] gsnedders commented on #9874
OK, so in short, the current flow is:

1. tools/ci/ci_stability.sh does little more than start tools/ci/check_stability.py
2. tools/ci/check_stability.py sets stuff up, calls `tools.wpt.stability.run`, aggregates results, and posts to pulls.wpt.org
3. tools/wpt/stability.py is the old thing we want to replace here (and in #10921)

The hardest part is that we need to get the data structure that `to

[2018-05-11 18:14] burg opened #10967 "WebDriver: scripts in documents loaded via inline.py are blocked by WebKit's XSS Auditor"
This is intended to block reflected XSS. To opt out of this, we need to send the header X-XSS-Protection: 0 with the main document response.

I have not had luck yet figuring out where to insert this header. inline.py has a main() function which seems to take a list of headers, but altering this didn't seem to have any effect.

[2018-05-11 21:20] #10967 closed

[2018-05-12 00:54] davidsgrogan opened #10972 "Make scrollbars visible on mac screenshots"
Tests that exercise layout's response to scrollbars can [bogusly pass](https://wpt.fyi/css/css-tables/height-distribution/percentage-sizing-of-table-cell-children-002.html) on mac because mac doesn't show scrollbars even with overflow:scroll.

I discovered this when looking at a test @mrego [added](https://bugs.chromium.org/p/chromium/issues/detail?id=837408) with a Blink bugfix. The bug was when

[2018-05-12 01:53] gsnedders commented on #10972
cc/ @youennf

[2018-05-12 03:38] sahil107 commented on #9546
8614

[2018-05-12 03:54] frivoal commented on #5292
So we would whitelist leveld urls? Sounds good to me. Btw, where to we get the whitelist from (in other words, are you likely to run into a gap in the white list every time you start the test suite for a new spec, or is that handled automatically)?

Typically, that should be enough. Most features are not being defined in multiple levels simultaneously. For those that are, having links to all the l

[2018-05-12 11:54] foolip commented on #5292
@frivoal, in conclusion, do you think that there is any technical work here beyond https://github.com/w3c/web-platform-tests/issues/10288?

[2018-05-12 12:54] frivoal commented on #5292
No, the rest is just documenting what the best practice is.

[2018-05-12 14:12] foolip commented on #5292
OK, I'll leave this closed and comment to that effect on the other issue.

[2018-05-12 14:12] foolip commented on #10288
Fixing this should also include documenting what is allowed/encouraged, see https://github.com/w3c/web-platform-tests/issues/5292#issuecomment-388237997 for discussion on that.

[2018-05-14 08:52] foolip commented on #7543
I came across https://wpt.fyi/css/css-masking/clip-path today, where it seems like many of the failures are due to anti-aliasing differences.

[2018-05-14 10:05] alvestrand opened #10981 "WebRTC: Firefox test doesn't load H.264 modem"
This test result:

https://wpt.fyi/webrtc/protocol/video-codecs.html

indicates that Firefox is being run in a mode that doesn't allow it to download the H.264 codec implementation that it usually uses. This makes Firefox fail a test that I think it should pass.
Tagging @nils-ohlmeier for more knowledge.

[2018-05-14 11:50] foolip commented on #10981
The current results are from https://github.com/web-platform-tests/results-collection (@jugglinmike) but I asked to file the issue here because it presumably also affects the new Taskrunner setup. @jgraham, is this something you've worked around in Gecko testing infra?

[2018-05-14 12:18] foolip commented on #9874
@gsnedders, could `./wpt run --verify` not simply write a wptreport? If that format doesn't currently support recording multiple runs, how could we make it do that?

@lukebjerring @Hexcles, is that what we'd want for https://github.com/web-platform-tests/wpt.fyi/issues/118?

[2018-05-14 12:19] foolip commented on #7475
I see. Asked on https://github.com/w3c/web-platform-tests/issues/9874#issuecomment-388419187 if there's some necessary work to get it into a form suitable to submitting to wpt.fyi.

[2018-05-14 12:26] gsnedders commented on #9874
@foolip Without having tested, I would assume it would support any of wptrunner's output formats, given it's part of wptrunner? That said, pulls.web-platform-tests.org expects to get data POSTed in a specific format, so somewhere we need to convert the data into that form (or kill the dashboard entirely; see #10923) before making the request there.

[2018-05-14 12:38] foolip commented on #9874
If, as a part of the work on this issue, posting to pulls.web-platform-tests.org no longer happens (because it would require additional work) I think that'd be fine, since it's no longer commenting, and when it was it was incredible hard to figure out if there were regressions or not. If we want to revive it before solving the same problem with wpt.fyi, lumping that into the same work seems OK. @j

[2018-05-14 14:20] mdittmer commented on #7444
I followed the link in the fist comment here. It was fast. @marcoscaceres and @foolip is this still an issue?

[2018-05-14 15:26] foolip commented on #9874
I mean "regressions [in the WPT pull request being validated]".

[2018-05-14 15:30] gsnedders commented on #9874
I'm pretty sure the immediate state after we fix this isn't going to stop posting results, FWIW.

[2018-05-14 15:32] jugglinmike commented on #9874
Got it, @foolip. I was preparing to file a new issue to discuss simplifications to debugging the integration, but since you were referring to the test review process, I think that's documented by gh-7475

[2018-05-14 15:33] Hexcles commented on #9874
@foolip I don't know how multiple runs will interact with wptreprot. Even if they end up in the report, I don't think various readers on the wpt.fyi project can understand multiple runs of a same test.

However, the whole code path shouldn't be too hard to fix. And using wptreport is the right way to go IMHO.

[2018-05-14 16:07] foolip commented on #9874
@Hexcles, I suppose the options are N wptreport JSON files, or 1 wptreport JSON files representing all runs. I take it you prefer separate files? But how would one represent a run with AABB test order? (I'm guessing that's possible to achieve with some combination of flags.)

[2018-05-14 16:52] kereliuk opened #10990 "Make testdriver blow up sooner with a nice message when trying to do two calls at the same time."
As far as I know this isn't really enforced in a descriptive way at the moment.

[2018-05-14 17:09] gsnedders commented on #9874
So what I haven't done so far is move over to running the multi-part verify (with/without restarts, with/without chaos mode in Firefox), but it does now use the verify code.

At the moment, it's still calling into the code through Python, rather than letting it run separately and then reading the logs. If we want to avoid going through the logs, we'd need to either make `check_stability` (in tools

[2018-05-14 17:48] #8707 closed

[2018-05-14 18:22] kereliuk opened #10992 "wpt run chrome does not use the correct default OSX binary location when getting version string"
**What happens**

Fails out before launching the browser when I try to run wpt run on my mac.

**How to reproduce**

`./wpt run chrome infrastructure/testdriver/click.html  --log-mach-level=debug`

  File "./wpt", line 5, in <module>
    wpt.main()
  File "/Users/jonathonkereliuk/0101/web-platform-tests/tools/wpt/wpt.py", line 132, in main
    rv = script(*args, **kwargs)
  File "/Users/jonathonke

[2018-05-14 18:48] zcorpan opened #10995 "Remove webgl tests from web-platform-tests"
https://github.com/w3c/web-platform-tests/pull/10760#issuecomment-388826747

cc @foolip @kenrussell @RafaelCintron

[2018-05-14 19:00] toddreifsteck commented on #10798
I'll follow up with the dev who is working on some bug fixes in Resource Timing in Edge 17.

It appears that there are 2 classes of issue here:
- Universal failure: Setting 'document.domain' does not effect same-origin checks
- A number of tests use small 250 ms python server delays to ensure client Resource Timings are accurate. For some reason, the browsers seem to occasionally get these timings

[2018-05-14 19:07] jgraham commented on #10853
I really dislike the idea of forcing an opt-in syntax on people who are intentionally using the features designed to reduce verbosity. From a global perspective I think it makes sense to favour the needs of test authors over the needs of people working on infrastructure.

I can imagine putting information about whether the test used single-page mode in the results, so sufficiently clever infrastru

[2018-05-14 19:16] toddreifsteck commented on #10798
Follow up--
Took a minute more to debug the first issue. It appears that the document.domain test was checked in with broken code. That particular test needs a tiny bit of work to do what is intended.

I'll follow up with the dev.

[2018-05-14 21:28] Hexcles commented on #10992
Oops.

So first things first: the method should return `None` instead of raising an exception when not able to find the browser binary (or fail for whatever reasons).

Secondly, the default paths... It looks like I'd need to pretty much reimplement this [C++ class from Chromedriver](https://cs.chromium.org/chromium/src/chrome/test/chromedriver/chrome/chrome_finder.cc) in WPT in Python...

[2018-05-14 21:31] Hexcles commented on #10922
@gsnedders  Can I take the chance and ask what customization have we done to `pywebsockets`? The [history](https://github.com/w3c/web-platform-tests/commits/master/tools/pywebsocket) isn't very helpful...

We switched to upstream `pywebsockets` in Blink without knowing this, and so far we haven't observed any new failures.

[2018-05-14 23:02] gsnedders commented on #10922
@Hexcles I think https://github.com/w3c/web-platform-tests/commit/70f1c91935512d14a3d7bd91203a3fd899d8063a is it.

[2018-05-15 06:55] jgraham commented on #10794
Make sure you test this in Firefox; iirc the generation is slower in Gecko for some (I think intentional) reason.

[2018-05-15 08:26] foolip commented on #7598
I've confirmed that 800x600 is the size in Blink's LayoutTests, ~99% of the 27k *-expected.png files have that size, 100+ are 1600x1200 because of scaling, and then there's a mix of other sizes because of use of `testRunner.dumpDragImage()`, some SVG test, etc.

So 800x600 would be a handy default in WPT for us.

@jgraham, do you have a way to check how many of Gecko's tests would change their res

[2018-05-15 09:13] zcorpan opened #11005 "Improve correctness of /media-source/mediasource-duration.html"
See https://github.com/w3c/web-platform-tests/issues/10920#issuecomment-388936540 from @jyavenard

cc @acolwell

[2018-05-15 10:17] foolip opened #11007 "svg/extensibility/foreignObject/stacking-context-ref.html looks different on Edge than Chrome, Firefox and Safari"
Added in https://github.com/w3c/web-platform-tests/pull/8747 and renamed in https://github.com/w3c/web-platform-tests/pull/11004.

In https://wpt.fyi/svg/extensibility/foreignObject/stacking-context.html?sha=2ec5e07ed5 the test passes only in Firefox, but the reason it fails in Edge is different: the ref itself looks different from other browsers.

@chrishtr

[2018-05-15 10:38] foolip commented on #10995
Dupe of https://github.com/w3c/web-platform-tests/issues/8044, where "move" implies "remove".

[2018-05-15 10:39] #10995 closed

[2018-05-15 11:43] foolip commented on #10972
@davidsgrogan do you know what is that causes scrollbars to be visible in content_shell? In Safari, is the problem that the scrollbars are visible to a user, but not captured in the screenshot? Or that they aren't visible at all?

[2018-05-15 12:57] #10560 closed

[2018-05-15 12:57] #10754 closed

[2018-05-15 12:58] plehegar opened #11009 "Revisit LICENSE.md?"
The current [LICENSE.md](https://github.com/w3c/web-platform-tests/blob/master/LICENSE.md) comes from history in W3C around test suites and hasn't been looked at in the past 4 years at least.

We should look at it again and see if it still makes sense. If not, we need to figure out what would make sense. and then a transition path from the current one to a new one.

[2018-05-15 13:05] gsnedders commented on #7598
@foolip https://bugzilla.mozilla.org/show_bug.cgi?id=1128211 is open on making the old Gecko reftest harness use something smaller.

[2018-05-15 13:08] gsnedders commented on #10972
@foolip They're not visible to the user; scrollbars on macOS by default disappear except when scrolling.

[2018-05-15 13:39] zcorpan commented on #10794
For me it seems slightly faster in Firefox, but of course it can depend on the device under test. If 10 subtests is still too much we can do 5 or so. But let's try 10 first.

[2018-05-15 14:11] zcorpan commented on #10919
cc @jyavenard

[2018-05-15 14:18] jgraham commented on #11009
(I am not an expert, etc.)

The only transition path in terms of changing licences would be to adopt the only the BSD variant currently allowed. Relicensing wpt is effectively impossible, since there is no copyright assignment and there are such a large number of contributors.

I'm all in favour of dropping the W3C Test License part though; I don't think anyone uses that in practice.

[2018-05-15 14:33] zcorpan commented on #10799
This should be fixed by @surma's PR https://github.com/w3c/web-platform-tests/pull/9218

[2018-05-15 15:49] fantasai commented on #7760
Antenna House has tooling to compare PDFs, which they use for regression testing. Just talked to their AC rep, Michael Miller `mike@antennahouse.com`; he says they'd be willing to license the tool in exchange for publicity. If we can get the browser engines to spit out PDFs (which they can all do, just not sure about programmatically), should be possible to set up automated reftests for print that

[2018-05-15 15:50] fantasai commented on #7760
This would also mean that we can set up CSS-to-PDF engines to run reftests in general, fwiw.

[2018-05-15 15:59] zcorpan commented on #10792
cc @inexorabletash and @pwnall

[2018-05-15 16:11] foolip commented on #10972
Ah, right. @youennf, any way to change the default?

[2018-05-15 16:26] gsnedders commented on #10972
@foolip `defaults write -g AppleShowScrollBars -string Always` will set it to always be visible; can also set it on a per-app basis (drop the `-g`, specify the bundle identifier instead)

Of course, that moves us away from the configuration that most users run with, which might also be problematic (e.g., if we want to test disappearing scrollbar interaction with things like percentage widths and t

[2018-05-15 17:14] jugglinmike commented on #10853
As noted above, the implicit behavior also allows people to use the feature *unintentionally*. In other words: this would also serve the needs of test authors.

That said, it seems like an over-simplification to label this issue a conflict between test authors and infrastructure maintainers. That suggests that the issue is a subjective matter of convenience between the two groups. The issue we're

[2018-05-15 17:44] gsnedders commented on #11007
cc/ @boggydigital @dstorey

[2018-05-15 19:16] mrego commented on #10972
There's a custom "theme" special for form controls and scrollbars:
https://cs.chromium.org/chromium/src/content/shell/test_runner/mock_web_theme_engine.cc?type=cs&sq=package:chromium&l=28

[2018-05-15 19:51] zcorpan commented on #10853
I'll also note that an opt-in makes the feature discoverable and searchable, which serves test authors yet unfamiliar with the feature.

[2018-05-15 21:24] zcorpan opened #11015 "/encoding/* are disabled in Chromium and WebKit"
https://bocoup.github.io/wpt-disabled-tests-report/

/encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-extBa.html

and

/encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-extBb.html

should be split up, maybe similarly to how it was done in https://github.com/w3c/web-platform-tests/pull/10984

[2018-05-15 21:25] zcorpan commented on #11015
Maybe also many other encoding tests.

[2018-05-15 21:30] jugglinmike commented on #7424
I have some ideas about this, but I'll need a little more space to explain. I'll follow up with you offline before elaborating here on GitHub.

[2018-05-15 22:30] gsnedders commented on #10972
@mrego that's all `#if !defined(OS_MACOSX)`, so none of that is used on macOS.

[2018-05-16 00:55] davidsgrogan commented on #10972
Some digging around content_shell reveals:

https://cs.chromium.org/chromium/src/content/shell/browser/layout_test/blink_test_controller.cc?l=528&rcl=db5a7efe37ac6f283f8dfc411f5f0fe57cc082a9

`mock_scrollbars_enabled = true;`

Eventually checked by https://cs.chromium.org/chromium/src/third_party/blink/renderer/platform/scroll/scrollbar_theme.cc?l=384&rcl=6156ddee9c553723c0bdbfb2bae14865cecca53f

[2018-05-16 07:10] domfarolino opened #11023 "Test referrer-policy on static and dynamic script `import`s"
The current and plentiful `/referrer-policy` tests are generated from a handy JSON, but as per the HTML Standard PR that allows a referrer policy to be used when fetching scripts, it seems that we'll need to add support here to test for referrer policy support when statically and dynamically importing scripts.

As per https://github.com/whatwg/html/pull/3678#discussion_r188355238, the current fram

[2018-05-16 08:49] jgraham commented on #10853
I think that something like #11024 achieves what you want here.

[2018-05-16 08:54] mrego commented on #10972
There are similar things on WebKit:
https://trac.webkit.org/browser/trunk/Source/WebCore/platform/mock/ScrollbarThemeMock.cpp

This is a screenshot of how scrollbars are visible when running tests in WebKit on Mac platform,
while they're not visible if you open the same page in Safari.
![Scrollbars are visible on WebKit when running tests](https://user-images.githubusercontent.com/11602/40106961-6

[2018-05-16 09:00] zcorpan commented on #5915
I intend to go over the PRs tomorrow and remove non-responders and merge.

[2018-05-16 09:18] mrego commented on #10972
As a somehow related note I've found this property:
https://drafts.csswg.org/css-overflow-4/#scollbar-gutter-property
That comes out of this discussion: https://github.com/w3c/csswg-drafts/issues/92

This should allow to know what to do with scrollbars sizes on the test,
but until we don't have this I don't know what we should do regarding overly scrollbars in Mac.

[2018-05-16 09:31] frivoal commented on #10972
Right. The property that rego pointed to are meant precisely for that kind of thing. Since there's both user demand for this, and they would solve the problem for tests, I'd suggest trying to implement that.

[2018-05-16 09:41] frivoal commented on #10972
Until now, nothing defined what the scrollbars should look like or how much space, if any, they should take. This css property gives some control over that

[2018-05-16 11:54] foolip commented on #10853
As @zcorpan said on the PR, it's an improvement, but the ability to actually have tests fail when there are exceptions that *should* fail the test would be even better. I think a one-liner opt-in like `single()`, `file_is_test()` or `<meta something>` would be better overall. Perhaps this is because I never liked single-page tests and was always confused when I saw them in review, but how many peo

[2018-05-16 12:11] foolip opened #11029 "Declare timeout in test and extract it into manifest"
https://bugs.chromium.org/p/chromium/issues/detail?id=843213 is about how the information in `async_test(undefined, { timeout: 10000 })` isn't machine readable, and so the test runner still can't increase the external timeout based on it.

To make that work, I think the information would have to be in `<meta something=somethin>` and we should extract it into the manifest for `./wpt run` to use.

[2018-05-16 12:12] foolip commented on #11029
@jgraham, how do you deal with slow tests in Gecko?

[2018-05-16 12:40] foolip commented on #11029
OK, so we already have `<meta name=timeout content=long>`. Is that information extracted into the manifest and used by the runner already?

[2018-05-16 12:41] jgraham commented on #11029
Yes.

[2018-05-16 12:45] foolip commented on #11029
Should the per-test timeout be nuked? Nothing about `var timeout = properties.timeout ? properties.timeout : settings.test_timeout` looks deprecated.

[2018-05-16 12:50] jgraham commented on #11029
The indicaton that it's deprecated is that that it's not in the documentation. I admit it's not a *great* signal, as there are lots of other things that aren't deprecated and aren't in the documentation. Anyway I would welcome a PR to remove the feature and all the instances of per-test timeouts in existing tests.

[2018-05-16 13:45] jgraham commented on #11029
wptrunner makes a distinction between an internal timeout ("browser still respodng enough to signal a timeout occurred; keep using the same instance for the next test") and an external timeout ("things are so broken we should kill the browser and restart"). It's possible to just have an external timeout everywhere, but the distinction is meaningful. Also it is helpful for people running tests dire

[2018-05-16 13:47] foolip commented on #11029
OK, I agree that's a meaningful distinction and useful when running manually. I presume the external timeout is always a bit longer, to not make it entirely racy?

[2018-05-16 13:52] jgraham commented on #11029
Yes. We set the selenium/marionette timeout to the test timeout + 5s and the "give up waiting for the driver to return" timeout to the test timeout + 10s.

[2018-05-16 14:04] foolip commented on #11029
OK, nothing to be done here.

[2018-05-16 14:04] #11029 closed

[2018-05-16 14:38] Hexcles commented on #11029
This matches my understanding ("timeouts in tests" are discouraged).

Shall we remove that section from https://web-platform-tests.org/writing-tests/testharness-api.html, or at least mark it as deprecated?

[2018-05-16 14:45] #10992 closed

[2018-05-16 15:37] #10890 closed

[2018-05-16 16:17] gsnedders opened #11034 "Import w3ctestlib into WPT"
cc/ @plinss

As far as I can tell, w3ctestlib was only ever used by the CSS build system and Shepherd; given Shepherd isn't actively syncing any more, it seems like we could reasonably import w3ctestlib and fork it within the WPT repo without causing any issue.

This would allow us to make it start relying on the manifest, and therefore get rid of many of the differences in how the two find tests.

[2018-05-16 17:33] gsnedders commented on #10716
@kereliuk yeah, that probably seems as reasonable as anything else (sorry, I got distracted by getting off the train a week ago!)

[2018-05-16 17:55] progers commented on #10972
@davidsgrogan, sometimes we want to test behavior on mac as it would be in the default configuration (with scrollbar hiding), and sometimes we want to force scrollbars on. The testrunner supports both configurations. I don't quite understand your question; do you want to change something in this area?

[2018-05-16 18:18] davidsgrogan commented on #10972
@progers Sorry, I was asking if you could confirm that the code I linked to in https://github.com/w3c/web-platform-tests/issues/10972#issuecomment-389360424 is indeed how layout tests force scrollbars on when we want them to.

I did not realize we have the option to run layout tests with or without scrollbars forced on, but it makes total sense. How is that controlled? Do individual layout tests s

[2018-05-16 19:37] foolip commented on #10972
Hmm, if this needs to be controlled dynamically, I wonder if it could be a WebDriver API. @kereliuk, WDYT?

[2018-05-16 20:21] progers commented on #10972
@davidsgrogan, I think these are the two flags:
// controls the platform-specific scrollbars vs the mock ones
if (window.testRunner)
  testRunner.setUseMockTheme(false);

// controls the overlay behavior where scrollbars do not take up space.
if (window.internals)
  internals.runtimeFlags.overlayScrollbarsEnabled = true;

As far as I l know, these are set individually in tests. I think the default

[2018-05-17 13:37] zcorpan commented on #5915
These are still not merged now:
* [Add .well-known/idp-proxy/OWNERS](https://github.com/w3c/web-platform-tests/pull/10761)
* [Add keyboard-lock/OWNERS](https://github.com/w3c/web-platform-tests/pull/10782)
* [ Move x-frame-options/ into content-security-policy/](https://github.com/w3c/web-platform-tests/pull/10594)

[2018-05-17 14:25] zcorpan opened #11046 "/css/css-transitions/* are disabled/flaky in mozilla chromium"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with these tests:

Path | Products | Results | Bugs
-- | -- | -- | --
/css/css-transitions/transitions-animatable-properties-01.html | mozilla chromium |   disabled [ Timeout Failure ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1356224 https://crbug.com/626703
/css/css-transitions-1/__dir__ | mozilla | disabled | https:/

[2018-05-17 14:31] zcorpan opened #11048 "/css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/* are disabled/flaky in mozilla chromium"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with these tests:

Path | Products | Results | Bugs
-- | -- | -- | --
/css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-010.html | mozilla chromium |   disabled: [ Failure Pass ] | None https://crbug.com/467127
/css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-0

[2018-05-17 14:35] csnardi commented on #11046
Most of the tests disabled in Chromium are because they are manual tests, and thus can't be automatically run by CI.

[2018-05-17 14:37] zcorpan opened #11049 "/html/browsers/the-window-object/* are disabled/slow in mozilla chromium"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with these tests:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/browsers/the-window-object/window-open-noopener.html | mozilla chromium |   disabled: [ Timeout ] | None https://crbug.com/626703
/html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/close_script_defer.html | mo

[2018-05-17 15:17] zcorpan commented on #10552
@gsnedders says

[2018-05-17 19:48] foolip commented on #10452
Yeah, that would be nice. At the same cadence as stable would make sense, I guess weekly?

[2018-05-17 22:37] foolip commented on #10923
@lukebjerring @jugglinmike and I have discussed this. Conclusion is that we're OK with these comments not happening, because they were not terribly actionable, and we expect the responsibility of collecting/showing PR results to move to wpt.fyi in a matter of months.

So, we should do as little as possible, but probably should remove the bit of code that notifies the PR dashboard.

[2018-05-17 22:47] foolip commented on #9972
OK, so we're currently not working on this, and it depends on a few other pieces falling in place before it makes sense to prioritize.  Leaving it as priority:roadmap so that it will come up again in 60 days.

[2018-05-18 03:09] AmeliaBR commented on #11007
The reason the reference file fails in MS Edge is because it is using the `isolation` property to force a stacking context and containing block, and Edge does not support that property. It could easily be fixed by using `position: relative; z-index: 0;` to force the stacking context instead.

That said, I'm not sure this test is backed up by any spec:
The [SVG 2 spec](https://svgwg.org/svg2-draft/

[2018-05-18 03:15] AmeliaBR commented on #11007
Sorry, I was wrong. I found the reference part of the SVG spec in the "intent to ship" post attached to the original commit: https://svgwg.org/svg2-draft/render.html#EstablishingStackingContex (sic)

OK, so the test matches the spec, but the reference link in the test's `help` meta tag should probably be updated. *(Or I could update the SVG section on `foreignObject` to cross-reference the section

[2018-05-18 09:28] zcorpan opened #11066 "/html/semantics/embedded-content/media-elements/track/track-element/track-cue-rendering-after-controls-added.html is disabled/disabled in mozilla chromium"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/semantics/embedded-content/media-elements/track/track-element/track-cue-rendering-after-controls-added.html | mozilla chromium |   disabled [ Skip ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1433462 https://crbug.com/832157

Maybe the ref needs to

[2018-05-18 09:36] foolip commented on #11066
This test came from https://github.com/w3c/web-platform-tests/commit/506cf5bac9c79c03ae489e0b7a63580670e3ed54. @srirama179 @fsoder, any ideas?

There's already a lot of rAF here. Would be interesting to look at a failing case.

[2018-05-18 09:38] foolip commented on #11066
It's linked to https://crbug.com/832157 in TestExpectations, so also poking @rebeccahughes and @mounirlamouri

[2018-05-18 09:52] srirama179 commented on #11066
After changing the controls state, there is one rAF just before taking screenshot. Probably adding one more rAF should work fine though. If i remember correctly it was passing locally when i run 1000 times. I will try to reproduce the issue locally again with latest build.

[2018-05-18 10:13] zcorpan commented on #11066
I mean rAF in the *reference*, not more in the test.

[2018-05-18 10:49] foolip commented on #11009
There is also [CONTRIBUTING.md](https://github.com/w3c/web-platform-tests/blob/master/CONTRIBUTING.md), which I do not fully understand. @plehegar, can you explain in lay terms what that means, and how it relates to the license, if at all?

[2018-05-18 11:00] foolip commented on #11066
Ah, I see.

[2018-05-18 12:03] mounirlamouri commented on #11066
It's related to https://crbug.com/832157. It may be resolved if we run the wpt in "test mode" for the controls because it otherwise may be dependant on the timing of the animation.

[2018-05-18 14:52] gsnedders commented on #5915
Running the command in the initial issue gives:

[code]

I think `css` and probably `css/vendor-imports` are the only things that *shouldn't* have OWNERS files.

[2018-05-18 15:10] zcorpan commented on #5915
.well-known should have OWNERS in subdirs.

[2018-05-18 15:47] cdumez commented on #10799
@zcorpan Sure, will try.

[2018-05-18 16:35] annevk opened #11075 "Is the Certificate Authority name-constrained somehow?"
I wonder if the Certificate Authority we have to add to root stores to work with web-platform-tests is name-constrained somehow or if an attacker can use it mint certificates.

[2018-05-18 16:43] annevk commented on #11075
As far as I can tell this is not the case and therefore everyone that has added this root certificate is susceptible to attacks... https://tools.ietf.org/html/rfc5280#section-4.2.1.10 describes name constraints, but I'm not really familiar enough with them to fix this myself.

[2018-05-18 17:10] fsoder commented on #11066
"Needs moar rAF (in the ref)" sounds like a good guess without having seen how it fails. (And since this is Skip, there no easily accessible data.)

[2018-05-18 17:51] cdumez commented on #10799
Test is flaky for us:
/Volumes/Data/cdumez/WebKit/OpenSource/WebKitBuild/Debug/layout-test-results/imported/w3c/web-platform-tests/workers/semantics/structured-clone/dedicated-actual.txt
8585PASS Object Blob object, Blob paired surrogates (invalid utf-8)
8686PASS Object Blob object, Blob empty
8787PASS Object Blob object, Blob NUL
88 FAIL File basic assert_equals: lastModified expected 42 but got

[2018-05-18 17:51] cdumez commented on #10799
Printing out lastModified like this does not give stable results.

[2018-05-18 18:06] #10923 closed

[2018-05-18 18:58] zcorpan commented on #10799
Ok. Did you import from today i.e. including #9218?

It seems the test expects 42 and webkit gives something else. Bug?

[2018-05-18 19:14] cdumez commented on #10799
Yes it is the latest version of the tests. Yes it is a bug in WebKit that the value is not 42). Still the test is flaky when it fails in WebKit because it prints out a timestamp when failing.

[2018-05-18 19:35] plehegar commented on #11009
The first is the grant of license, which basically gives us the right to relicense under the original BSD license, effectively replacing the current LICENSE.md if we'd like to. I could check to see if we still need to have it but I would guess so, except that we could give the right to relicense to more than just W3C.
The second part is a disclaimer. not sure if we need this.

[2018-05-18 20:08] zcorpan commented on #10799
I see. We could make it not flaky by doing an if check and calling assert_unreached instead of assert_equals. Or by fixing the bug. ☺

[2018-05-18 20:45] cdumez commented on #10799
Yes, I am looking into fixing the WebKit bug.

[2018-05-18 21:54] jugglinmike commented on #11046
@zcorpan

[I suggested something similar elsewhere](https://github.com/web-platform-tests/results-collection/issues/548), but @gsnedders discouraged such changes:

[2018-05-19 08:12] zcorpan commented on #11046
I think we should be moving towards a single convention for wpt. Having special rules in css/ makes it harder for newcomers to contribute.

[2018-05-19 17:19] TalbotG commented on #7470
Some tests in the multicol test suite give some indication (hint) of what they are testing in their filenames. Normally, unless the test is really basic, all the multicolumn tests that I reviewed and approved have useful comments or explicit assertion.

    https://github.com/w3c/web-platform-tests/blob/5b857bf79ede0c99761aca3d5562e86ba979e49f/css/css-multicol-1/multicol-rule-shorthand-2.xht

I di

[2018-05-19 17:34] TalbotG commented on #7469
Yes. There are tests with unrelated, irrelevant, pointless and/or useless declarations.

What most likely happened is that the original Opera author of those tests just copied and pasted a previous test and then only added a few declarations to it, therefore saving time. But that makes tests not streamlined, less compact and as you noted less clear.

[2018-05-19 17:38] TalbotG commented on #5494
Move `display:run-in` tests out of CSS2.1 tests: **yes**.

'display: run-in' tests should have their spec link updated: **yes**.

[2018-05-19 18:03] TalbotG commented on #5484
Yes. I assumed, presumed and postulated that all browsers running tests would be using and relying on browser default font size (of default font face) which is 16px in the user agent style sheet of all mainstream browsers. Is such assumption posing a problem? And why would that be a problem?
The documentation originally remained silent on this precise issue although all of the built test suites ar

[2018-05-19 18:46] rachelandrew commented on #7469
@gregwhitworth and I are currently doing a review of all the tests, so I'll identify stuff like this and deal with it once we get onto cleaning them up.

[2018-05-19 18:48] rachelandrew commented on #7470
I have a spreadsheet that identifies the ones that need a description and/or assertion so aim to fix this. Thanks for the info re that specific test.

[2018-05-19 19:28] zcorpan commented on #10655
@thejohnjansen my priority right now is to process the tests that are common for 2 or more browsers. Can someone at Microsoft go through and fix tests (if they need fixing) the tests from my report that are disabled in only Edge?

[2018-05-19 19:31] zcorpan commented on #10576
@cdumez my priority right now is to process the tests that are common for 2 or more browsers. Can someone at Apple go through and fix tests (if they need fixing) the tests from my report that are disabled in only WebKit?

https://bocoup.github.io/wpt-disabled-tests-report/

[2018-05-19 19:33] zcorpan commented on #10573
@jgraham my priority right now is to process the tests that are common for 2 or more browsers. Can someone at Mozilla go through and fix tests (if they need fixing) the tests from my report that are disabled/flaky/slow in only Gecko?

https://bocoup.github.io/wpt-disabled-tests-report/

[2018-05-19 23:47] #8684 closed

[2018-05-19 23:53] svgeesus commented on #9300
Correct

The origin was https://github.com/w3c/woff2-tests which in turn were reviewed by the WebFonts WG. That is the canonical source (but they need to be built, they can't be used as-is).

That gives you a bootstrapping problem, you are testing webfonts and relying on webfont support to do so.

[2018-05-20 00:19] fred-wang commented on #9300
@svgeesus The idea is to rely on the now widely supported WOFF1 format to test the WOFF2 format as you commented in https://github.com/w3c/web-platform-tests/issues/8440#issuecomment-351769574

[2018-05-20 01:30] svgeesus commented on #9300
@fred-wang ah okay, fair enough.

[2018-05-20 03:10] hrj commented on #5484
When I raised the issue, I was trying to develop and debug a [non-mainstream browser](https://gngr.info) using this test suite. Since a new browser (new layouting engine specifically) and a new team have a ton of things to figure out, it would help immensely if assumptions are documented.

Thanks for all the tests!

[2018-05-20 03:30] TalbotG commented on #7470
line 23:  `orphans: 1;`
line 24:  `widows: 1;`

should be removed from that specific test. Because it is not needed, not necessary and not relevant in that specific test.

There are other tests (eg /CSS3Multi-Columns/Opera/multicol-columns-005-GT.xht is one) where both ` orphans: 1; widows: 1; ` can (and should) also be removed. **Only a minority of tests in the current test suite may require `wid

[2018-05-20 04:26] TalbotG commented on #5484
Okay: assumptions should be documented.Here is my proposed list:

default font-size for unstyled body text: 'medium' which should correspond to `16px`.
`body {background-color: white; color: black; margin: 8px;}`
`h1 {font-size: 2em; margin: 0.67em 0; font-weight: bold;}`
`h2 {font-size: 1.5em; margin: 0.83em 0;}`
`h3 {font-size: 1.17em;}`
`p {margin: 1em 0em;}`
`table {border-spacing: 2px;}  /* b

[2018-05-21 03:07] marcoscaceres commented on #8053
@tobie, @foolip, I saw recently that IDL from specs was being periodically automagically imported into the appropriate files in the `/interfaces/` folder.

Given all specs were fixed to no longer use `implements` ([except this one](w3c/webappsec-credential-management#111 ), which hopefully will be fixed soon!), does that mean all of the above tasks are implicitly done also?

[2018-05-21 03:08] marcoscaceres commented on #8053
fixed link above.

[2018-05-21 07:54] tobie commented on #8053
@foolip knows the details of this. I don’t.

[2018-05-21 08:09] foolip commented on #8053
That's an effort that @lukebjerring has been driving, but is now in a bit of a hiatus as we figure out what the source of IDL snippets should really be, see https://github.com/tidoust/reffy-reports/issues/3.

[2018-05-21 09:41] foolip opened #11090 "No tests for window.stop()"
https://html.spec.whatwg.org/multipage/window-object.html#dom-window-stop is untested inside html/

There are two tests that use it but aren't testing it directly:
eventsource/eventsource-request-cancellation.htm
xhr/abort-after-stop.htm

[2018-05-21 09:47] foolip commented on #11090
One test in particular that is needed is to check if the load event is fired after calling window.stop(). It should not, because [`window.stop()`](https://html.spec.whatwg.org/#dom-window-stop) calls [abort a Document](https://html.spec.whatwg.org/#abort-a-document) which calls [abort a parser](https://html.spec.whatwg.org/#abort-a-parser), so the [stops parsing](https://html.spec.whatwg.org/#stop

[2018-05-21 09:48] foolip commented on #11090
The problem with testing this is that testharness.js needs the load event...

[2018-05-21 11:49] foolip commented on #11009
@plehegar, by "the original BSD license", do you mean something other than the "W3C 3-clause BSD License" in LICENSE.md?

[2018-05-21 14:10] gsnedders commented on #10552
@foolip @Hexcles this seems like it would be awkward for people introducing new directories through the Blink sync, as OWNERS files aren't sync'd (given normal Chromium OWNERS files are present in the Chromium tree)

[2018-05-21 14:11] gsnedders commented on #11075
Do we actually add a CA? I thought we just added individual certificates, and not a root cert?

[2018-05-21 14:16] foolip commented on #11090
@thejohnjansen, can you find an Edge contact to look into the Edge-only `window.stop()` oddity? I have no evidence that this is a web compat problem, just something I discovered.

[2018-05-21 14:19] jgraham commented on #11075
Hmm, so the urgent part of this is probably updating the README to note that you should never use the certificates in a profile you use for other browsing. I thought it said that already, but I was wrong.

[2018-05-21 14:21] gsnedders commented on #11075
I would have assumed we didn't set the cA boolean, in which case I thought none of this applied? (Like, we can't even set name constraints if cA is false/omitted.)

[2018-05-21 14:22] gsnedders commented on #11075
Or does that only affect intermediate certs?

[2018-05-21 14:28] gsnedders commented on #11075
That doesn't work for browsers that rely on the OS cert store (Chrome, Edge, Safari); you can't create a separate profile short of creating a new OS user account.

[2018-05-21 14:30] jgraham commented on #11075
I mean I agree we should fix the bug; I had no idea that this feature even existed. But yeah, you shouldn't test those browsers except in a VM, unless you use `wpt run` which avoids the problem by disabling certificate checking.

[2018-05-21 14:33] gsnedders commented on #11075
(We only do that in Firefox, so for other browsers you still need to install it.)

[2018-05-21 14:35] jgraham commented on #11075
That isn't true.

[2018-05-21 14:36] jgraham commented on #11075
https://github.com/w3c/web-platform-tests/pull/11094 for the warning.

[2018-05-21 15:59] jugglinmike commented on #11046
I agree, though this would be kind of disruptive:

    $ git rev-parse HEAD
    11a87acba01204660f199976158c36bc9758c37c
    $ git grep -lE 'meta.*flags' . | grep -v '.manual' | wc -l
    16078

Consumers probably have many of the inaccurate file names in their test blacklists.

@gsnedders Am I right in thinking that the reason this hasn't been done is to limit churn? If so, would it  be any more

[2018-05-21 16:17] jugglinmike commented on #11046
Could it be that this query is actually what we want?

    $ git grep -lE 'meta.*flags.*\binteract\b' css | grep -v '.manual' | wc -l
    770

[2018-05-21 18:40] TalbotG commented on #5484
The assumptions in my list that are not in
https://github.com/w3c/web-platform-tests/tree/master/infrastructure/assumptions
are:

[code]

body margins are rarely a factor in any test.
h1, h2 and h3 are usually not part of any tests.
p margins, border-spacing of 2px and td padding will affect a lot of tests.

Another assumption that may (can?) affect the reference file of **a few tests** is that a

[2018-05-21 19:33] zcorpan commented on #10552
That may solve itself when we rename OWNERS to NOTIFY.

[2018-05-21 20:44] davidsgrogan commented on #10972
@foolip I interpret `priority:backlog` to indicate this won't be resolved soon. In the meantime, I suppose the guidance for us test authors is to include custom css to make the scrollbars visible when necessary?

[2018-05-21 23:13] cdumez commented on #10799
Ok, the tests are unskipped in WebKit and the file serialization bug is fixed. Thanks for updating the tests.

[2018-05-22 05:38] marcoscaceres commented on #8053
ok great! will wait for an update from @lukebjerring.

[2018-05-22 07:19] mikewest commented on #8581
@jgraham: I agree. The specific domains listed in the existing tests are completely unimportant. As I suggested in point 2 in the initial request, adding a subdomain of a subdomain (and another subdomain of the same subdomain) to the list of hosts is enough.

[2018-05-22 08:12] zcorpan commented on #10799
Thanks to @surma for fixing these tests. ☺

[2018-05-22 09:45] foolip commented on #10972
@davidsgrogan, that was me triaging all infra issues via https://foolip.github.io/ecosystem-infra-rotation/.

Right now it looks like there doesn't exist any standardized *and* implemented CSS that would solve the problem. Would support for `scrollbar-gutter: always` solve the problem, or would the scrollbar itself still not be visible on macOS?

Concretely, as long as the tests are passing in con

[2018-05-22 13:04] lukebjerring commented on #8053
I can basically try and sync all of the pending PRs up to current crawled spec's state, and we can go from there for updating `implements` offenders. Will post when I've taken some action.

[2018-05-22 13:20] marcoscaceres commented on #8053
Sounds great, @lukebjerring. let us know if we can help in some way.

[2018-05-22 14:02] gsnedders commented on #11046
@jugglinmike No, we want something more general.

Commenting out:

[code]

(i.e., both those that should be `-visual` and `-manual`)

and running the lint:

[code]

[2018-05-22 14:04] gsnedders commented on #11046
Also, FWIW, I believe there are some implementations that rely on the "print" flag to mark tests as print tests that can be automated, though we don't have anything for that currently in WPT.

[2018-05-22 14:12] gsnedders commented on #11046
Looking into `sourcefile.py`, to be manual you must have one of the following flags: "animated", "font", "history", "interact", "paged", "speech", "userstyle" (not quite sure why history is there, especially given that is essentially unused). To be a CSS visual test, you merely need to have a <link rel=help> and not be in an ignored/reference directory.

[2018-05-22 14:15] zcorpan commented on #11046
OK, so 1360 tests would need renaming to cover manual tests. I think that's worthwhile to do. @jgraham @foolip any opinion?

[2018-05-22 14:58] gsnedders commented on #11046
@foolip getting rid of the flags and renaming (I'm less convinced of the value of removing the metadata); I think we'd need to add something in way of support for finding print (i.e., paged media) tests before we do it because a lot of tests would get marked as manual just because we don't currently support print tests, given otherwise we'll remove the metadata that allows one to find print tests

[2018-05-22 17:16] anitawoodruff opened #11105 "Impossible to write .any.js test to be run by service workers with a secure origin"
My new test:

notifications/interfaces.https.any.js

https://pastebin.com/BG6Xu6Pd

Seems the '.https.' is stripped for service workers which leaves it unable to find the file:

[code]

@jgraham

[2018-05-22 17:19] jgraham commented on #11105
The problem is that the serviceworker test variant enforces a `https` flag on the resource, which it then removes when looking for the on-disk js file. This is obviously wrong if the js file itself happens to have the `.https.` flag already.

[2018-05-22 21:32] mrego opened #11106 "[css-text] css3-text-line-break-jazh- tests miss the lang attribute on references"
Several `css3-text-line-break-jazh-` tests miss the `lang` attribute on the reference files,
this is causing issues to run the tests on WebKit in the Mac platform, as the rendering is not exactly the same.

For example http://w3c-test.org/css/css-text/i18n/css3-text-line-break-jazh-027.html
vs http://w3c-test.org/css/css-text/i18n/reference/css3-text-line-break-jazh-027-ref.html

On the test we ha

[2018-05-23 00:09] marcoscaceres opened #11109 "More info on "GENERATED CONTENT - DO NOT EDIT""
imported IDL files currently say:

[code]

In addition to a link to the spec, what would be more helpful would be a link to the project that's actually doing the import.

cc @lukebjerring, @foolip

[2018-05-23 00:11] marcoscaceres commented on #11109
as an aside, the generated content updates should probably come form a "-bot", and not from @lukebjerring's account.

[2018-05-23 01:14] gsnedders opened #11112 "Replace HTML Import tests with historical test"
cc/ @foolip

[2018-05-23 07:37] foolip commented on #11109
So far the PRs actually have been prepared by @lukebjerring and not a bot, but yeah, when PRs are being auto-created it should be by a bot account.

[2018-05-23 08:27] foolip commented on #11112
Are you sure there aren't already historical tests? I feel like @annevk might have added them :)

[2018-05-23 08:30] annevk commented on #11112
If I did, I can't recall.

[2018-05-23 08:59] mrego commented on #11106
BTW, note that some of the tests called `css3-text-line-break-jazh-`
have the `lang='ja'` attribute in the four places (2 in the test and 2 in the reference file).
Example:
* https://github.com/w3c/web-platform-tests/blob/master/css/css-text/i18n/css3-text-line-break-jazh-001.html
* https://github.com/w3c/web-platform-tests/blob/master/css/css-text/i18n/reference/css3-text-line-break-jazh-001-ref.

[2018-05-23 09:15] foolip commented on #8615
Looking at https://wpt.fyi/interop/css/vendor-imports/mozilla/mozilla-central-reftests, at the 3/4 column for tests that are failing only in one engine and thus would be highly valuable, I see:
https://wpt.fyi/results/css/vendor-imports/mozilla/mozilla-central-reftests/shapes1 -- many Chrome-only failures
https://wpt.fyi/results/css/vendor-imports/mozilla/mozilla-central-reftests/images3 -- many E

[2018-05-23 09:18] kojiishi commented on #11106
Sounds good to me. Please note that @r12a is working on a new replacements of these tests. The new tests use JavaScript and reduces the number of test files. IIUC we'll remove these tests once the new one is done.

[2018-05-23 09:33] frivoal commented on #11106
@mrego
1. As a general rule, what you propose is fine
2. In a few cases, the spec expects some differences in line breaking between Japanese, Chinese, or non marked CJK text ([see here](https://drafts.csswg.org/css-text-3/#line-break-property) or [here](https://drafts.csswg.org/css-text-3/#line-break-transform)). I don't know if any of the tests in question depend on that, but as you update them,

[2018-05-23 09:51] r12a commented on #11106
@mrego please see the PR at https://github.com/w3c/web-platform-tests/pull/10860#event-1611279850 which has been waiting for further review for 2 weeks now.  That PR should fix the issues you mention here and more. I just added you as a potential reviewer.

[2018-05-23 11:13] mrego commented on #11106
@r12a ok that's really nice, I won't be fixing this then and wait for that PR to reimport things in WebKit.
I took a look and did several comments on the new tests, but @kojiishi or @frivoal or someone else
should be the person revieweing the PR as I don't know this stuff well enough.

I believe we can close this as that PR will address it.

[2018-05-23 11:13] #11106 closed

[2018-05-23 12:01] anitawoodruff commented on #11105
And for the record, if I remove '.https.' from the .js test file name, it runs but I get the following failure:

 0:17.77 TEST_START: /notifications/interfaces.https.any.serviceworker.html
 0:18.09 TEST_STATUS: Test OK. Subtests passed 0/1. Unexpected 1
Untitled
--------
Expected PASS, got FAIL
Only secure origins are allowed (see: https://goo.gl/Y0ZkNV).

Only if I duplicate the file both with &

[2018-05-23 12:06] foolip commented on #11007
@AmeliaBR is that the same kind of isolation as is tested in any of these?:
https://wpt.fyi/results/css/compositing/mix-blend-mode/mix-blend-mode-stacking-context-creates-isolation.html
https://wpt.fyi/results/css/vendor-imports/mozilla/mozilla-central-reftests/will-change/will-change-stacking-context-isolation-1.html

Those are already Edge-only failures. Trying to figure out if the ref here shou

[2018-05-23 12:18] foolip opened #11120 "Remove testharness.js test-level timeouts (often used for async_test)"
See discussion at https://github.com/w3c/web-platform-tests/issues/11029#issuecomment-389499369

https://chromium-review.googlesource.com/c/chromium/src/+/1061753 shows what tests currently use this timeout.

Steps to this issue:
 * Remove the use of `{ timeout: 1234 }` from all tests
 * Run https://chromium-review.googlesource.com/c/chromium/src/+/1061753 through Chromium's CQ again (or Gecko's)

[2018-05-23 12:20] foolip commented on #11120
What would remain of the `Test` constructors second argument `properties` is the "assert" member, AFAICT only used in the output. @jgraham, should we want to get rid of that as well?

[2018-05-23 12:36] jgraham commented on #11120
Yeah, I'm happy with all of that plan, including removing the `assert` support.

If you make a PR it should automatically run all those tests through the gecko CI.

[2018-05-23 12:44] foolip commented on #11120
I've sent https://chromium-review.googlesource.com/c/chromium/src/+/1070155 to see if anything uses that.

[2018-05-23 12:56] annevk opened #11121 ""Setting innerHTML for the log threw an exception""
I get this when running `url/a-element-origin-xhtml.xhtml`. It seems the log functionality is not XML-compatible?

[2018-05-23 13:09] annevk commented on #11121
The problem is this input from `urltestdata.json`: `\u0000\u001b\u0004\u0012 http://example.com/\u001f \u000d `.

Perhaps in XML mode we need to decide to strip or escape code points not allowed by https://www.w3.org/TR/xml/#dt-text somehow.

[2018-05-23 15:48] foolip commented on #11120
It looks like these strings show up in their own column in the report. Just having the information in the test name or assertion message would work. Needing to pick one means this will require some human judgement to do.

[2018-05-23 16:06] AmeliaBR commented on #11007
@foolip
Yes, those other tests already cover it. Nothing unusual is happening in this one that warrants its own test.

[2018-05-23 16:54] #10881 closed

[2018-05-23 18:29] gsnedders commented on #11121
Or we should just stop using `innerHTML`.

[2018-05-24 11:27] zcorpan commented on #9230
When https://github.com/w3c/web-platform-tests/issues/10552 is in place, I think @tobie's bot's comment will no longer be relevant, so it can be removed.

As for the import/export, I think renaming these will be an improvement since Chromium has its own OWNERS files; NOTIFY files could be synced as normal and the export script would skip OWNERS as it does now.

We may want to update the documentat

[2018-05-24 12:40] foolip commented on #9230
@zcorpan, it'll still be wpt-pr-bot that adds the reviewers.

[2018-05-24 13:36] wseltzer commented on #11009
@foolip yes, I believe we could switch to just the 3-clause BSD license instead of the current dual-license. (Anyone who was using tests under the W3C Test Suite License would be able to continue to do so.)

[2018-05-24 14:18] zcorpan commented on #9230
Ah yes. I was thinking about the "missing OWNERS for this PR" comment.

[2018-05-24 15:16] Ms2ger opened #11144 "Add test for onfoo attributes changing during dispatch"
[code]

Firefox, Chrome and (I believe) the spec say this should call `w` with 2 and 3.
Epiphany does only 2.

[2018-05-24 15:19] Ms2ger commented on #11105
CC @annevk

[2018-05-24 16:22] annevk commented on #11105
If the input file does not contain `.https.`, where does the error "only secure origins are allowed" come from? Is that a problem with Chrome's setup or is some of the infrastructure not aware of `any.js` enabling this? Or both?

Given that you could limit the global to service workers, that does seem like a viable path, but maybe we should disallow it somehow?

Now for the more general problem, w

[2018-05-24 16:29] annevk commented on #11105
Hmm, so if I create `test.https.any.js` that contains
[code]
I can load it from `test.https.https.any.serviceworker.html` and it "passes". This is perhaps a little less than ideal URL-wise, but it does work.

I can name the same resource `test.any.js` and load it from the same URL as before with one `.https` less and that also works fine.

We should maybe change it so that if the original URL cont

[2018-05-24 16:37] jgraham commented on #11105
What's wrong is that we strip out `https` when going from the serviceworker url to the js path at https://github.com/w3c/web-platform-tests/blob/master/tools/serve/serve.py#L232. We need to fix things so that the `.https.` isn't stripped in this case.

[2018-05-24 16:39] anitawoodruff commented on #11105
@annevk in your testing were you writing the .html files by hand? I was relying on the auto-generated html files that appear to get generated when running with the 'any.js' file as the target (and I guess that's where the serve.py bug breaks things..?)

[2018-05-24 16:47] annevk commented on #11105
All I created were the `test.https.any.js` and later `test.any.js` resources.

@jgraham I think that's only because you load it from `test.https.any.serviceworker.html` instead of `test.https.https.any.serviceworker.html`. With the latter it works. One bug with the former though is that it generates a 500 instead of a 404, so there's definitely some room for improvement here.

[2018-05-24 17:37] anitawoodruff commented on #11105
Ah I see. And how are you running the tests? (I am using `wpt run mytestname.any.js`, I don't really understand how to use `wpt serve`)

[2018-05-24 17:49] jgraham commented on #11105
https://github.com/w3c/web-platform-tests/pull/11151 is a not-great fix here.

Loading the test from `test.https.https.any.serviceworker.html` is wrong because that's not what's in the manifest and violates the assumption that `.https.` works like a flag. Also it's super ugly.

[2018-05-24 19:03] zcorpan commented on #5915
I think we have everything now. @gsnedders can you confirm?

[2018-05-25 06:13] annevk commented on #11105
@jgraham if it's wrong it shouldn't succeed.

@anitawoodruff I keep `./wpt serve` running usually and then browse to `https://web-platform.test:8443/...`.

[2018-05-25 10:22] kojiishi opened #11161 "Follow up issues in css-text/i18n/*/css-text-line-break-* tests"
Because the PR #10860 from @xfq and @r12a touches over 500 files and due to limited bandwidth, the discussion in PR went to land once and work continuously in following PRs. This issue is to track review feedback in the PR.

@gsnedders [comments](https://github.com/w3c/web-platform-tests/pull/10860#pullrequestreview-118092625):
- [ ] In the 3 loops it has, the 2nd one can be merged.

@mrego [comme

[2018-05-25 14:45] r12a commented on #11161
@frivoal for

help me understand why the extra tests are needed. Characters with the CJ property are only Japanese (see https://unicode.org/cldr/utility/list-unicodeset.jsp?a=[:Line_Break=Conditional_Japanese_Starter:]) and there's no language-specific behaviour mentioned text in the CSS spec (see https://drafts.csswg.org/css-text-3/#line-break-property) for these characters.

Are you asking for a

[2018-05-25 14:48] r12a commented on #11161
Perhaps an easy way to answer the above question is to provide an assertion for such a test.  The assertion for the current CJ tests read similar to:

[2018-05-25 14:50] frivoal commented on #11161
Yes. Since the spec was deliberate in tying some of the behaviors to the language being declared, but some other to occur regardless of the language declaration. My understanding is that for the characters that may have different line breaking behaviors in different languages, declaring the language is required so that they get processed right. For those that cannot, then it should work even if th

[2018-05-25 15:36] #5915 closed

[2018-05-25 18:19] zcorpan commented on #9230
@kereliuk we're currently in a state where everything has an OWNERS file, so now is a good time to fix this. Do you plan to do this soon?

[2018-05-25 18:33] tobie commented on #9230
Can we do this post migration, please?

[2018-05-25 18:37] zcorpan commented on #9230
Sure.

[2018-05-25 18:37] kereliuk commented on #9230
That seems reasonable to me since realistically a bunch of things will be already out of sync and we can change this while not worrying about breaking things more than they already probably will be. @foolip What is the tentative date for migration?

[2018-05-25 18:38] foolip commented on #9230
On Monday, May 28.

[2018-05-25 18:45] foolip commented on #11009
@wseltzer, that sounds great, do you want to prepare a PR to trim LICENSE.md so that we get it exactly right?

[2018-05-26 15:59] foolip commented on #4514
Is this about how to run tests that require HTTPS? @jakearchibald do you remember what you were trying to do? Seems like just `wpt run` like for all tests is the answer.

[2018-05-28 09:06] f3dm76 opened #11178 "Folder SVG/images does not contain all theimages required by tests"
For example test "struct-image-02-b.svg" requires  `xlink:href="../images/struct-image-02.jpg"`, but there is no image with this name.

[2018-05-28 09:27] annevk commented on #11009
I looked into providing the PR for this, taking https://opensource.org/licenses/BSD-3-Clause as inspiration. However, that suggests you need to start with

which is something that we currently lack. Would

work?

[2018-05-28 09:38] foolip commented on #11009
I think the idea is to trim LICENSE.md to just contain https://github.com/w3c/web-platform-tests/blob/master/LICENSE.md#w3c-3-clause-bsd-license verbatim, but waiting for PR from @wseltzer or @plehegar instead of trying it myself :)

[2018-05-28 09:41] annevk commented on #11009
Sure, but that wouldn't comply with the official license format as far as I can tell. It also seems strange to preserve the W3C prefix.

[2018-05-28 09:43] foolip commented on #11009
@annevk do you mean a format that GitHub expects?

[2018-05-28 09:45] annevk commented on #11009
That the license, as per https://opensource.org/licenses/BSD-3-Clause, should be in.

[2018-05-28 11:11] foolip commented on #11009
There are a bunch of other minor differences too, like "source code" vs. "works" and "COPYRIGHT OWNER" vs. "COPYRIGHT HOLDER".

The label of the license is presumably not part of the license and could be dropped, but this bit is part of the license itself: "Neither the name of the W3C nor the names of its contributors may be used to endorse or promote products derived from this work without specif

[2018-05-28 12:01] zcorpan opened #11179 "/html/browsers/history/the-history-interface/history_go_zero.html is disabled/flaky in mozilla webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/browsers/history/the-history-interface/history_go_zero.html | mozilla webkit |   disabled:     if debug and (os == "linux"): [ Pass Failure ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1217701 None

cc @gsnedders

@cdumez this test needs popup to w

[2018-05-28 12:09] zcorpan opened #11181 "/media-source/* are disabled/flaky in mozilla chromium (encoding-specific tests)"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/media-source/mediasource-config-change-mp4-a-bitrate.html | mozilla chromium |   disabled: [ Failure Pass ] | https://bugzilla.mozilla.org/show_bug.cgi?id=1130973 https://crbug.com/807110

cc @wolenetz @acolwell

The problem here seems to be with tests that

[2018-05-28 12:12] zcorpan commented on #10799
https://bugzilla.mozilla.org/show_bug.cgi?id=1464805

[2018-05-28 12:12] #10799 closed

[2018-05-28 12:17] zcorpan opened #11182 "/html/browsers/browsing-the-web/history-traversal/window-name-after-cross-origin-main-frame-navigation.sub.html is slow/disabled in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/browsers/browsing-the-web/history-traversal/window-name-after-cross-origin-main-frame-navigation.sub.html | chromium webkit | [ Skip ] [ Timeout ] | https://crbug.com/706350 None

cc @andypaicu

When running this test on w3c-test.org it seems like it n

[2018-05-28 12:26] zcorpan opened #11184 "/service-workers/service-worker/update-bytecheck.https.html is slow/disabled in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/service-workers/service-worker/update-bytecheck.https.html | chromium webkit | [ Timeout ] [ Skip ] | https://crbug.com/648295 None

cc @youennf @hopanghsu

The chromium bug seems to explain what is wrong and is on track for a fix.

Why is it skipped for We

[2018-05-28 12:49] zcorpan opened #11185 "/workers/name-property.html is flaky in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/workers/name-property.html | chromium webkit | [ Timeout Failure Pass ] [ Pass Failure ] | https://crbug.com/815116 https://webkit.org/b/184453

cc @domenic

Using `await` on each `fetch_tests_from_worker` at least ought to result in stable order of subtest

[2018-05-28 12:56] zcorpan opened #11187 "/html/semantics/tabular-data/processing-model-1/span-limits.html is disabled in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/html/semantics/tabular-data/processing-model-1/span-limits.html | chromium webkit | [ Skip ] [ Skip ] | https://crbug.com/626703 https://webkit.org/b/171322

cc @tkent-google @ayg @cdumez

Why is this disabled? Would it help to split up into 4 tests?

[2018-05-28 13:06] zcorpan opened #11188 "/workers/opaque-origin.html is disabled/flaky in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/workers/opaque-origin.html | chromium webkit | [ Failure Crash Timeout ] [ Skip ] | https://crbug.com/626703 None

cc @mkruisselbrink

I think the issue is that the test isn't enabling the port message queue, it needs `channel.port1.start();`

[2018-05-28 13:12] zcorpan commented on #11179
Yeah (or "author" per git history). OK.

[2018-05-28 14:28] foolip commented on #9230
In related news, I've added everyone in any OWNERS file after https://github.com/web-platform-tests/wpt/pull/11190 who is also a member of the new org to the reviewers team. Is there a better name for that, or would it be a good idea to name the files REVIEWERS to match?

[2018-05-28 14:40] kereliuk commented on #9230
Reviewers seems like a good name to me.

I'm not too opinionated about NOTIFY/REVIEWERS/WATCHLIST, but I echo that it probably makes sense to name these two things the same. So my revised vote is for REVIEWERS

[2018-05-28 14:52] fsoder opened #11194 "wpt lint only considers <script> elements in the HTML namespace"
When looking for `testharness.js` / `testharnessreport.js`, the linter only checks for `<script>` elements in the HTML namespace (which has a `src` attribute in the default namespace.) For SVG `<script>` elements, the element namespace will be the SVG namespace, and the attribute will be either `href` (in the default NS) or `href` in the XLink namespace.

[2018-05-28 14:54] zcorpan opened #11195 "/workers/nested_worker.worker.html is slow/disabled in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/workers/nested_worker.worker.html | chromium webkit | [ Timeout ] [ Skip ] | https://crbug.com/709227 None

This test should call `done()` after `async_test()` and should call `t.done()` where it's currently calling `done()`.

[2018-05-28 14:58] zcorpan commented on #9230
REVIEWERS SGTM

[2018-05-28 15:14] gsnedders commented on #11194
Note this just matches what the manifest does.

[2018-05-28 15:16] foolip commented on #5904
https://github.com/web-platform-tests/wpt/pull/9490 added support for `[Unscopable]`, so now only `[LenientSetter]` remains.

[2018-05-28 15:18] gsnedders commented on #11194
I don't know if we actually want to change this, given there's no clear alternative to `meta` or `link` (for testharness.js options and reftests respectively) so there's going to be plenty of tests that still need to use things in the HTML namespace anyway?

[2018-05-28 16:27] fsoder commented on #11194
Yes, it's usually not a problem to just use HTML `<script>` (maybe even less typing most of the time =P.) But since using SVG "containers" for these types of tests under `svg/` (rather than, say, HTML) seems to be preferred, I figured I should at least raise this...

[2018-05-28 17:06] zcorpan opened #11203 "/WebCryptoAPI/derive_bits_keys/* are flaky in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/WebCryptoAPI/derive_bits_keys/pbkdf2.https.worker.html | chromium webkit | [ Pass Timeout ] [ Pass Failure Slow ] | https://crbug.com/787971 None

These should be split up with `variant`.

[2018-05-28 17:07] gsnedders commented on #7660
I think there's a fair bit of complexity here, as even with `--stability` or `--verify`, ultimately the time is almost all spent within the wptrunner execution code (as ultimately wptrunner is just called with some instruction to "run these tests in this mode"), hence we'd need some way to pass some deadline relatively deep into wptrunner where it actually runs tests.

If we want to modify the num

[2018-05-29 01:28] domenic opened #11212 "Failing in all browsers test in dom/nodes/Element-matches.html"
`In-document Element.matches: Universal selector, matching all descendants of the specified reference element (with refNode Element): *` in https://wpt.fyi/results/dom/nodes/Element-matches.html seems suspicious.

[2018-05-29 01:33] domenic commented on #11212
Same problem with the sibling file, Element-webkitMatchesSelector.html

[2018-05-29 03:13] annevk commented on #11075
It should be fairly trivial to fix the certificate to not have this problem and not require dedicated VMs to run simple tests. I don't understand why we don't focus on that as it seems much more likely folks run tests that way.

[2018-05-29 07:58] annevk opened #11218 "Advanced Public Suffix List testing (registrable domain, same site)"
Today we have `not-web-platform.test` and `web-platform.test`.

As discussed in https://github.com/whatwg/url/pull/391 to test corner cases of the Public Suffix List that have manifested in differences between browsers, we need more.

In particular, we need something like `psl-web-platform.test`, browsers to recognize that as a public suffix (perhaps through some flag), we need that to be reachabl

[2018-05-29 08:00] annevk opened #11219 "Offer subdomains of more than one label"
It would be nice to test setting `document.domain` multiple times. E.g., on `www.www.web-platform.test` you first set it to `www.web-platform.test` and then `web-platform.test`.

Relates slightly to #11218.

[2018-05-29 08:54] tkent-google commented on #11187
As for Chromium, I remember the test is too slow and exceeded the limit of our test driver.
Split might help.

[2018-05-29 09:55] jakearchibald commented on #4514
The docs seem to have improved since I filed this. Seems pretty straight-forward now.

[2018-05-29 09:55] #4514 closed

[2018-05-29 10:51] zcorpan opened #11222 "/workers/semantics/multiple-workers/* are flaky/disabled in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/workers/semantics/multiple-workers/003.html | chromium webkit | [ Failure Timeout ] [ Skip ] | https://crbug.com/655458 None

These can detect if `Worker` or `SharedWorker` are not defined, and fail the test.

[2018-05-29 11:43] foolip commented on #11212
Source is here:
https://github.com/web-platform-tests/wpt/blob/91d7e29edf7e68ec7b0c1f17d1ea0ebbb1a29b7b/dom/nodes/selectors.js#L442

This was last touched by @Ms2ger in https://github.com/web-platform-tests/wpt/commit/6ceec439c15e6843d90ea9b4e9c3d0e8de907736, ages ago.

[2018-05-29 11:49] foolip commented on #11212
Actually, it's https://github.com/web-platform-tests/wpt/blob/ccd35804dbdc6e37763a4b980e048c5f5fdf7c39/dom/nodes/selectors.js#L451

Don't know how I ended up at that older commit through the GitHub UI...

[2018-05-29 11:49] Ms2ger commented on #11212
Possibly related: https://github.com/web-platform-tests/wpt/pull/1577

This is more of a Selectors test; cc @tabatkins @fantasai

[2018-05-29 12:16] foolip commented on #11212
A problem I noticed trying to debug this is that selectors.js is written as if `element.matches` can still take more than one argument, with this bit of comment:
[code]

And it's written to test `find()` and `findAll()`, which never came to be.

[2018-05-29 13:12] Zirro opened #11231 "/html/semantics/selectors/pseudo-classes/link.html is broken"
The test at [html/semantics/selectors/pseudo-classes/link.html](https://github.com/web-platform-tests/wpt/blob/master/html/semantics/selectors/pseudo-classes/link.html) matches elements against the `:link` pseudo-class.

Because it depends in part on elements which are shared across tests, it [was broken](https://wpt.fyi/results/html/semantics/selectors/pseudo-classes/link.html) by this mass-commi

[2018-05-29 13:14] sleevi commented on #11218
I am not clear what your objective is or how this would be used. I identified two sources of divergence - one in the application of wildcard rules, one in the shipping of versions.

Can you explain what value there is over integration tests, compared to unit tests as part of PSL, which already has a number of them (and designed to work with various test harnesses).

// @weppos @dnsguru

[2018-05-29 13:42] jgraham commented on #9230
`REVIEWERS` seems to have all the problems that motivated the issue in the first place, but moreso.

I think having a Reviewers team meaning "these are the people who have been added in order to be able to review tests" makes sense. I don't think that has to be consistent with the filename.

[2018-05-29 14:04] annevk commented on #11218
@sleevi I want to test `document.domain` and such do the right thing, since you mentioned it's possible for these to diverge depending on the consumer.

[2018-05-29 14:12] sleevi commented on #11218
I think it’s worth unpacking that goal. You are potentially testing a few things:

1. The implementation of the PSL algorithm
2. The interaction with the PSL of the various features (e.g. `document.domain` and whether or not it includes things like the PRIVATE section)
3. The version of the PSL being used

All three of those can cause differences. The first should be tested in the PSL, not WPT. Th

[2018-05-29 14:19] sleevi commented on #11218
I suppose put differently: Anything using the PSL is expected to diverge per-consumer. If this is not desired, then more support and effort is needed to migrate away from the PSL, or on the coordination and management of the PSL, by browsers. In my mind, this is no difference than divergence in the HSTS preload lists or in the trusted set of CA certificates - they are imperfect but necessarily sol

[2018-05-29 17:19] mkruisselbrink commented on #11188
As mentioned on the pull request it seems the issue is that fetch_tests_from_worker used to auto-start the port (because it assigned to onmessage), and that later was changed to addEventListener('message', ...) instead. So presumably that could effect more than just this test (unless there is special code already to make sure a shared worker's port is started for example)?

[2018-05-29 19:36] mfoltzgoogle opened #11233 "[Presentation API] Add test for starting presentations on two distinct displays"
This is to track adding a test case to the controlling-ua suite that alllows start() to succeed twice on the same controlling page, to start two distinct presentations on two presentation displays.

Note that implementation limitations in Chrome may prevent this from currently passing for all display types.

[2018-05-29 19:36] mfoltzgoogle commented on #11233
CC @tomoyukilabs

[2018-05-29 19:37] jugglinmike commented on #10990
I'm only now seeing this issue, though, and the wording makes me think that there is some fundamental reason why we can't support that. Care to fill me in, @kereliuk?

[2018-05-29 19:42] jugglinmike commented on #10990
Scratch that--I found https://github.com/web-platform-tests/wpt/pull/10882 and the awesome tutorial you wrote! Nothing there indicates that this restriction is fundamental to the framework, though. If that's true, then my patch should just remove the caveat from the tutorial.

[2018-05-29 19:48] kereliuk commented on #10990
@jugglinmike You're right, #11202 should fix this. Will review it now!

[2018-05-29 20:43] jugglinmike commented on #10330
In gh-11173, I'm proposing that we don't force the test to fail but instead allow authentic human input and react accordingly. As described in the patch, that would allow test authors and visitors to http://w3c-test.org to validate testdriver.js-powered tests.

[2018-05-29 21:11] fred-wang commented on #5381
Are all the manual tests supposed to use either "interact" flag or -manual filename convention?

I had to add -manual suffix for CSS animations tests ( https://github.com/web-platform-tests/wpt/pull/11215 ) ; these tests use the "animation" flag but not the "interact" one...

cc @youennf

[2018-05-29 22:05] foolip opened #11235 "No tests for presentational table attributes"
In https://crbug.com/703053 I looked for tests for `<table background>` but couldn't find any. https://software.hixie.ch/utilities/js/live-dom-viewer/saved/5974 is an ad-hoc test.

In https://html.spec.whatwg.org/multipage/rendering.html#tables-2, at least the `background`, `bgcolor` and `bordercolor` attributes on `table` and related elements appear to be untested. They could easily be tested usi

[2018-05-29 23:52] frivoal commented on #5381
as of today, there isn't a single flag for non-automatic tests. There are several ones, depending on why it cannot be automated:
* interact (the tester needs to do something)
* animated (the test is animated in final state)
* font (Requires a specific font to be installed at the OS level)
* userstyle (requires the tester to install a particular user stylesheet)

This situation is not good, but tha

[2018-05-30 06:47] annevk commented on #5381
Some thoughts:

1. It seems that outside `/css` we already decided upon `-manual`.
2. Renaming lots of files has been done quite a bit (at least outside `/css`). This mostly went fine (updating links can be a pain).
3. If you want to postpone renaming you could safelist all current usage and forbid further flag usage with the lint script.

[2018-05-30 12:51] gsnedders commented on #5381
FWIW, we currently have `css/*` whitelisted for the `CONTENT-MANUAL` (and the related `CONTENT-VISUAL`) lint.

The canonical list for what makes them manual is `content_is_css_manual` in sourcefile.py: https://github.com/web-platform-tests/wpt/blob/master/tools/manifest/sourcefile.py#L537

Currently, this is:

```{"animated", "font", "history", "interact", "paged", "speech", "userstyle"}```

[2018-05-30 13:09] gsnedders commented on #5381
As for each of those:

* **animated**: these I don't think anyone is going to have automation testing, especially in a cross-browser way, hence I don't think it's worthwhile distinguishing these
* **font**: these can be automated with a manual step (installing the font), but it's probably not worthwhile adding links to the fonts in some machine readable form so they can be run automatically; the v

[2018-05-30 14:06] annevk commented on #4751
Note that as I discovered in https://github.com/web-platform-tests/wpt/pull/11249 we have a two "bad port" tests. They only test for failure however, not that other ports do work.

[2018-05-30 16:48] gsnedders opened #11256 "Add CODEOWNERS for /common, /images, /resources, /tools, /lint.whitelist etc."
I wonder if we should require some sort of super-review for top-level shared directories, tooling, and the lint.whitelist? Changing these has a far higher risk of breaking large numbers of tests.

cc/ @web-platform-tests/admins (we should probably also have some better group to ping people for meta issues)

[2018-05-30 17:07] jdm commented on #11256
Are the people who review changes to these different from the people who would be super-reviewing changes?

[2018-05-30 17:10] gsnedders commented on #11256
@jdm In the typical case, no. I expect myself and @jgraham would own all of /tools, for example, and the majority of commits are already reviewed by one of us. The point is mostly just requiring someone in a strict subset of reviewers to sign off on changes in them.

[2018-05-30 17:13] jugglinmike commented on #10990
@kereliuk I think gh-11202 is an example of functional fixedness. I saw a technical problem and tried to solve it. I wasn't considering the more fundamental question: why would tests try to executing commands in parallel in the first place?

As far as I know, it's only because they are using the parallelized `async_test`. There's nothing about the testharness.js use case that necessitates it (if t

[2018-05-30 17:19] gsnedders commented on #11075
@annevk I think half the problem is those of us who largely own `/tools` don't have a good comprehension of the OpenSSL interface to generate a new cert (nor being entirely sure how the existing CA cert or pregenerated certs were generated), FWIW, and whether it's easier to try and get someone who does understand what's needed to get the right thing out than spend a while trying to figure it out o

[2018-05-30 17:38] jgraham commented on #11256
FWIW I would be inclined to add such rules for `tools/`, `resources/` and `*.py`, since the first two have real ownership requirements (and active owners) and the last is most of the security surface we expose. I'm less bothered about `common/` and `images/` and in particular don't want to discourage people from adding things there due to stricter review requirements.

All of that said, I don't kn

[2018-05-30 17:39] annevk commented on #11075
Yeah, I shouldn't have said fairly trivial, since I looked around a fair bit and there's not much advice on name constraining available. Sorry about that. I will ask around a bit and see if I can get some help.

[2018-05-30 17:41] gsnedders commented on #11075
To note: part of updating the certs should probably include writing something along the lines of "here's how you update these", with any openssl x509_config files or similar checked in.

[2018-05-30 17:44] jgraham commented on #11075
I tried a patch where the significant part was:
[code]

but afaict that didn't work (and multiple comma-separated san formatted hosts on the same line didn't seem to parse).

@gsnedders The way you are supposed to do it is set up the server config to use OpenSSL and have a duration of much longer than the default 30 days. It's true that that isn't documented (and also that your config changes brok

[2018-05-30 17:47] gsnedders commented on #11256
Yeah, it might not be worth adding to `common/` and `images/`. I guess really what I want is something that is roughly "these directories are append only". I'd definitely want it on `lint.whitelist`, though.

[2018-05-30 17:49] mozkeeler commented on #11075
@jgraham I think the format has to be `nameConstraints = permitted;DNS:some.domain,DNS:other.domain,...` (extrapolated from https://www.openssl.org/docs/man1.0.2/apps/x509v3_config.html )

[2018-05-30 18:23] jgraham commented on #11075
I set it up like

[code]

But if I do `openssl x509 -in /home/james/develop/web-platform-tests/_certs/cacert.pem -text` I don't see much of anything about nameConstraints:

[code]

[2018-05-30 18:31] #11034 closed

[2018-05-30 18:33] jgraham commented on #11075
Oh, oops, that was an old version of the file. Now I'm back to getting a syntax error:
[code]

[2018-05-31 08:02] foolip commented on #11256
Requiring extra review on lint.whitelist would be a problem, ` log -p --grep Cr-Commit-Position -- lint.whitelist` will show you a bunch of commits there, and at a glance the changes are good ones.

[2018-05-31 10:06] rniwa commented on #9230
It appears to me that what we want is the suggested list of reviewers & a watch list. The names such as reviewers and owners give me an impression that we need their consent to make any changes in that directory.

[2018-05-31 10:13] foolip commented on #9230
@zcorpan has a META.yaml suggestion in https://github.com/web-platform-tests/wpt/pull/11201#issuecomment-393140088.

[2018-05-31 12:01] zcorpan opened #11269 "Fix tests with harness status ERROR or TIMEOUT"
From https://github.com/web-platform-tests/results-collection/issues/478#issuecomment-384131457

5 tests reporting ERROR in all browsers

- [x] [`websockets/interfaces/WebSocket/events/018.html`](https://wpt.fyi/websockets/interfaces/WebSocket/events/018.html?sha=6736e3f46b)
- [x] [`websockets/interfaces/WebSocket/events/018.html?wss`](https://wpt.fyi/websockets/interfaces/WebSocket/events/018.htm

[2018-05-31 12:03] zcorpan commented on #11269
I couldn't reproduce ERROR for these.

[2018-05-31 12:35] zcorpan commented on #11269
I couldn't reproduce.

[2018-05-31 12:36] zcorpan commented on #11269
Should be fixed by #11016.

[2018-05-31 12:45] zcorpan commented on #10877
Also `TIMEOUT` may be good to prevent.

[2018-05-31 12:46] foolip commented on #10347
@lukebjerring, should we consider this resolved by https://github.com/web-platform-tests/wpt/pull/10381?

[2018-05-31 13:03] gsnedders commented on #9230
@rniwa Also we have the problem that there's no way to add people as watchers of an issue without mentioning them in a comment, and people get annoyed by the notification spam at such automated comments.

[2018-05-31 13:08] jgraham commented on #10877
`TIMEOUT` is fine in the case where you're waiting for an event that never happens. The alternative is that authors add some shorter timeout, making the test more prone to intermittent failures.

Even for`ERROR`, where a top-level error status might well indicate a bug, I'd be interested to see evidence for or against the theory that an `ERROR` in a subset of implemenatations is usually indcative

[2018-05-31 13:14] zcorpan commented on #11269
These pass in EdgeHTML 17 (tested with browserstack). I'll report bugs for the others.

[2018-05-31 13:14] foolip commented on #10877
@zcorpan @jugglinmike, in your triage of tests that produce harness errors, have you come across any that you don't believe are test bugs? Failing to find such hard cases is IMHO a reason to prevent them from being introduced as suggested in this issue, but I think we should still have an escape hatch in lint.whitelist for cases when browser bugs are the cause.

[2018-05-31 13:31] zcorpan commented on #10877
I found https://github.com/web-platform-tests/wpt/issues/11269#issuecomment-393525769 today.

Maybe we shouldn't block landing of TIMEOUT or even ERROR, but making it visible when it happens somehow could be useful; in most cases it's bug in the test.

[2018-05-31 13:50] zcorpan commented on #11269
Only times out in chromium for me, and there's a bug:
https://bugs.chromium.org/p/chromium/issues/detail?id=809935

[2018-05-31 13:54] jgraham commented on #10877
That was one of the things that I thought was planned for the PR dashboard before it got abandoned. I certainly think that requiring people to think before landing a PR that introduces `ERROR` everywhere is a good plan.

[2018-05-31 14:04] zcorpan commented on #11269
Fixed in https://github.com/web-platform-tests/wpt/pull/11057/files#diff-07c4bd3eddc86a245b2129fca185cffd

[2018-05-31 14:06] tobie opened #11275 "Ownership of @wpt-pr-bot, its heroku app, etc."
Hey folks,

Now that we migrated the wpt-pr-bot repo here, I'd like to transfer the @wpt-pr-bot github user and heroku app and stop maintaining the project altogether. There's a bunch of work coming up once consensus builds around what to do with OWNERS files, etc., and I don't have the time to do this work pro bono anymore.

Please figure out who is going to handle this going forward. You'll need

[2018-05-31 14:22] zcorpan commented on #11269
Fixed in #11189

[2018-05-31 14:28] zcorpan commented on #10655
https://bocoup.github.io/wpt-disabled-tests-report/#filter=edge shows just the Edge rows.

[2018-05-31 14:29] zcorpan commented on #10576
https://bocoup.github.io/wpt-disabled-tests-report/#filter=webkit shows just the WebKit rows.

[2018-05-31 14:30] zcorpan commented on #10573
https://bocoup.github.io/wpt-disabled-tests-report/#filter=mozilla shows just the Mozilla rows.

[2018-05-31 14:41] zcorpan commented on #11269
Fixed in #11091

[2018-05-31 14:47] devsnek opened #11277 "Separate tests into ones that need dom and ones that don't"
A lot of tests in the suite are for things that don't inherently require a DOM to test in all situations (like the URL constructor as an example) but still are wrapped in html.

As the number of runtimes that don't have a dom but implement these features increases it would seem in the interest of wpt to help support making sure everyone can run tests and stay spec compliant. Node.js as an example

[2018-05-31 14:54] zcorpan commented on #11269
This seems to fail only in Chromium, filed https://bugs.chromium.org/p/chromium/issues/detail?id=848275

[2018-05-31 15:01] Ms2ger commented on #11277
I've been working on supporting tests that run in JavaScript shells. There's also #7174 about node.

[2018-05-31 15:04] gsnedders commented on #11046
Let's keep the discussion about `-manual` in #5381, actually.

[2018-05-31 15:28] foolip commented on #10877
Indeed, there are patterns of changes that we want to make sure do not happen accidentally, but which are still *sometimes* correct. For things like that, I think the options are to either post a comment about it, which is possible to overlook, or to have a failing status check that leads to a page describing a problem, along with a "make the status green" checkbox for when it's actually appropria

[2018-05-31 15:39] foolip opened #11278 "Migrate Travis CI to GitHub Apps"
Like https://github.com/whatwg/meta/issues/96, and possible we can learn from that issue, or vice versa.

[2018-05-31 15:58] foolip commented on #7660
Does it not suffice to pass down a deadline in terms of the system clock, and consult that?

[2018-05-31 15:59] annevk commented on #11277
I'm supportive of this provided it does demonstrably benefit Node.js or any other such project. I can assist with reviews of this code.

[2018-05-31 16:19] jgraham commented on #7660
I think the point is that a lot of the looping happens at a fairly low level, so how you express the deadline isn't as important as the fact that you have to pass that down through the layers and work out if the next action you take will cause it to be exceeded.

It's probably (somewhat) simpler for the current setup on travis because we don't do any loops without restarts. But actually we probabl

[2018-05-31 16:43] inikulin commented on #10655
@zcorpan Hi Simon, is this data available in a machine-readable format somewhere?

[2018-05-31 16:54] csnardi opened #11280 "Unrecognized type with add_dependency_idls"
In #11252 I used `add_dependency_idls()` for the DOM IDL test. I must've not tested with both the new and old version of the test somehow, because contrary to what I said, the number of tests actually did change by using `add_dependency_idls()`.

First, 5 tests were no longer generated:

[code]

However, I checked, and these tests are already generated for the HTML IDL test, since each interface i

[2018-05-31 19:58] zcorpan commented on #10655
Yes, the report links to it: https://bocoup.github.io/wpt-disabled-tests-report/common.json

[2018-06-01 00:04] Hexcles commented on #11015
Sorry, it seems like 1000 (code points?) per test is still too many for some tests.

It takes about 30 seconds to run each split test using content_shell (which is faster than full Chrome) on my workstation (which is faster than Chromium bots). The following tests still [time out in Chromium](https://chromium-review.googlesource.com/c/chromium/src/+/1081123):

[code]

Also, there seems to be a bug

[2018-06-01 01:48] gsnedders commented on #11280
cc/ @lukebjerring

[2018-06-01 02:42] gsnedders opened #11285 "Move reftest pass conditions into the manifest"
At the moment, we provide the reftest digraph in the manifest, but don't explicitly list the pass condition there, and as such every runner has to implement it itself. I'm not entirely convinced that wptrunner currently does this correctly, and further detaching it from test execution is probably a good idea.

I suggest, instead, that we provide an array of possible pass conditions, each pass cond

[2018-06-01 03:01] lukebjerring commented on #11280
AFK until next week but hopefully a general comment helps:
So, sadly, the order in which you call it matters, so you might need to swap dom and html depending on the inheritance. Worst case is a chain where you'd have to re-call add_dependency_idls on the same file again (note that the method should handle that OK).

If it missed a type, could be that it's not picking up a nested member correctly.

[2018-06-01 03:41] tomoyukilabs commented on #11233
@mfoltzgoogle Okay, I'll submit a PR to address this issue. Thanks!

[2018-06-01 06:09] rmisev opened #11287 "[URL] Parsing `about:blank` against `base` can't give failure"
The PR #10955 changed testing requirements slightly. But I think the following pattern is incorrect::

The `base` is required to be valid, so this parsing should not return failure.

I guess there must be `input`, not `base`, i.e.:

The testing code uses `input` as well:
https://github.com/web-platform-tests/wpt/blob/f696c249c6d41c32bdc04d0bec688ee00228a0cf/url/failure.html#L20-L22

/cc @domenic @

[2018-06-01 06:39] annevk commented on #11287
Yeah, that's right. I can swap that.

[2018-06-01 07:14] #11287 closed

[2018-06-01 08:26] zcorpan commented on #11015
Thanks. Would 100 subtests be OK?

[2018-06-01 09:56] zcorpan commented on #11015
I managed to introduce a bug in some of the encoding tests (`../../ranges.js` should be `../../resources/ranges.js`). Fixing.

[2018-06-01 11:19] foolip opened #11293 "Remove OWNERS who have not joined the web-platform-tests org"
As reported in https://github.com/web-platform-tests/wpt/pull/11201#issuecomment-393226129, everyone who is currently in any OWNERS file has been invited to the web-platform-tests org.

Currently, 74 people have not accepted the invite, and cannot be added to reviews by wpt-pr-bot.

Plan:
1. Ping those 74 people on this issue and ask them to accept the invite
1. After 2 weeks, ping the remaining p

[2018-06-01 11:19] foolip commented on #11293
@jgraham @tobie, before I go ahead with the first pinging, do you think this makes sense?

[2018-06-01 11:40] foolip commented on #11293
Doing a preview of the ping, only the first 50 are highlighted, so probably that's the limit on the number of people who can be mentioned in a single comment. Need to take that into account.

[2018-06-01 11:59] jgraham commented on #11293
I think this is fine. I think in general I might be in favour of proactively removing inactive people from OWNERS files (e.g. in components with more than 10 PRs in the last 12 months, but where the owner has not done any reviews in that time), and this seems much more gentle than that.

[2018-06-01 12:31] foolip commented on #11293
Yep, I've considered something like that as well, and it's probably a fairly simple script to write. Maybe as the next round :) I'll go ahead and ping people on this issue now.

[2018-06-01 12:35] foolip commented on #11293
@alsemenov @aogilvie @atanassov @ayg @beidson @bethge @bradkemper @bsittler @cabanier @chaals @chenxix @chunywang @cptvitamin @danielweck @deepak-sa @dominiccooney @dumbmatter @edenchuang @engelke @eric-carlson @EvgenyAgafonchikov @fleizach @hakatashi @halindrome @hallvors @haoxli @hshiozawa @jdsmith3000 @jernoble @JianfengXu @jonathanKingston @Jxck, please see the issue description and visit http

[2018-06-01 12:36] foolip commented on #11293
@kangxu @khaledhosny @klausw @kristijanburnik @kwkbtr @LeonScroggins @louaybassbouss @luser @minxhuang @nattokirai @nikosandronikos @odinho @omo @pozdnyakov @ronkorving @rsolomakhin @rubys @scottlow @sgrekhov @shishimaru @shs96c @SimonSapin @snsk @spanicker @svillar @tagawa @tantek @tcole3 @therealglazou @timvolodine @toji @tyoshino @uysalere @Volker-E @web-flow @xiaojunwu @xinliux @yunxiaoxie @zh

[2018-06-01 12:52] jakearchibald opened #11298 "Allow JS to 'listen' for requests to a particular URL"
[code]

A lot of tests need to determine if a request was made to particular URLs, and whether that request contained expected headers & body.

Currently you can hand-roll this by making the endpoint write to the stash, then creating an endpoint that can read from the stash, but this is cumbersome and repetitive.

Something like `monitorURLs` would be backed by `EventSource` or a web socket and yi

[2018-06-01 13:04] jgraham commented on #11285
I don't like the proposed format; the use of positional information to distinguish between match and mismatch as well as between different options makes it very hard to read. Also its not clear how one represents `a == b != c == d` because it only seems to allow one sequences of matches and one sequence of mismatches per option.

I see the rationale for moving this stuff into the manifest, but I'd

[2018-06-01 13:33] zcorpan commented on #11269
This seems to pass for me...

[2018-06-01 14:03] zcorpan commented on #11269
I wrote these tests, I *think* they're correct per spec. I'll file bugs.

[2018-06-01 14:36] devsnek commented on #11277
@Ms2ger what's that work look like? are you screening new tests? modifying old ones? is what you're doing already enough or do we need to do more?

[2018-06-01 14:39] Ms2ger commented on #11277
I'm currently working on the infrastructure on the SpiderMonkey side; will then move on to writing new tests for wasm.

[2018-06-01 14:59] foolip commented on #11280
@csnardi can you try putting `add_dependency_idls` after `add_idls` and see if that makes any difference? I expect that it would, and can't quite understand why it works at all in the other order :)

[2018-06-01 15:15] csnardi commented on #11280
@foolip Yep, that does work in solving the failing test. The 5 tests are still missing, but as I mentioned above I think this is okay (and probably even more correct than the previous behavior). I'll upload a PR in a second.

[2018-06-01 15:20] zcorpan commented on #11269
@domenic @vmpstr why does this test time out?

[2018-06-01 15:22] zcorpan commented on #11269
In Chrome the console says

"The Content-Security-Policy directive 'prefetch-src' is implemented behind a flag which is currently disabled."

With experimental web platform features enabled, the test passes. I'll leave it as-is.

[2018-06-01 18:40] gsnedders commented on #11285
@jgraham Each pass condition is a disjoint set, partitioned into equivalent classes, so `a == b != c == d` becomes:

[code]

A more complex case would be `a == b != c != d`, which would become:

[code]
function check_pass_condition(pass_condition) {
  let unequal = Object.create(null);
  for (let equiv of pass_condition) {
    let hash = get_screenshot(equiv[0]);
    if (hash in unequal)
      ret

[2018-06-01 22:52] fred-wang commented on #9300
Hi, I just sent two PRs to make the the WPT source and the woff2-tests output closer:
https://github.com/web-platform-tests/wpt/pull/11311
https://github.com/w3c/woff2-tests/pull/10

[2018-06-02 02:31] jugglinmike commented on #11277
I believe we have the infrastructure necessary to support this. Are you familiar with WPT's ["multi-global" tests](https://web-platform-tests.org/writing-tests/testharness.html)? The WPT CLI interprets any JavaScript file with the suffix `.any.js` in a number of different contexts, including a generic HTML document. If the HTML-formatted tests in question shouldn't be run in those additional conte

[2018-06-02 02:35] devsnek commented on #11277
@jugglinmike loading fixtures could either be mocked or `import`ed or maybe another metadata comment could be added for fixture data.

i guess the condition i'm really looking for is "needs to run in html" or however that can be better said.

[2018-06-02 02:39] jugglinmike commented on #11277
I don't mean to mince words about the requirements, just wanted to make sure we didn't overlook other obstacles

[2018-06-02 06:31] foolip commented on #9300
Cool, thanks!

On Sat, Jun 2, 2018, 00:52 Frédéric Wang <notifications@github.com> wrote:

[2018-06-02 07:18] fred-wang commented on #9300
Two more PRs:
https://github.com/web-platform-tests/wpt/pull/11313
https://github.com/web-platform-tests/wpt/pull/11314

After that the only remaining differences with the output of https://github.com/w3c/woff2-tests will be:
* The available-00* files (I'm still not sure what to do with these tests, see also https://github.com/web-platform-tests/wpt/issues/8482 )
* Maybe some binary font files tha

[2018-06-03 00:31] Zirro opened #11316 "Element-closest.html `:has`-test fails in all browsers"
The last test in [/dom/nodes/Element-closest.html](https://github.com/web-platform-tests/wpt/blob/master/dom/nodes/Element-closest.html) makes use of the relational `:has()` pseudo-class which has not been added by any major implementation to date, causing it to [fail in all browsers](https://wpt.fyi/results/dom/nodes/Element-closest.html).

Until there are signs that it will see widespread suppor

[2018-06-04 01:29] GPHemsley commented on #1186
The link here is dead. What are the requirements here? Is this still necessary?

[2018-06-04 01:34] GPHemsley commented on #3018
@domenic The links here are dead. Is this something that we're still looking to have? (I'm guessing yes.) Does this issue serve that purpose?

[2018-06-04 01:35] GPHemsley commented on #2322
What's the current status of this issue?

[2018-06-04 01:39] domenic commented on #3018
I think we got to 100% coverage at some point. I'm no longer actively tracking this, but you can checkout jsdom/whatwg-url, run `npm install`, then `npm run coverage` to get a report. I'll close this now since this issue isn't too helpful.

[2018-06-04 01:39] #3018 closed

[2018-06-04 01:39] GPHemsley commented on #552
@zcorpan What's the current status of this?

[2018-06-04 04:49] annevk commented on #2322
It hasn't changed, I think. All those files still exist in https://searchfox.org/mozilla-central/source/dom/url/tests/.

[2018-06-04 06:09] zcorpan commented on #552
This still needs to be done. The test suite is in the process of being split up in #4934.

[2018-06-04 06:26] sideshowbarker commented on #1186
Yes, still necessary as far as I know. At least I know of nothing changed that would have made it any less necessary than it was when the issue was created as a result of review for the URL tests.

I guess the requirements are to have a driver that takes the data from https://github.com/web-platform-tests/wpt/blob/master/url/resources/urltestdata.json and uses it to test parsing of URLs in SVG and

[2018-06-04 06:29] annevk commented on #1186
@sideshowbarker so this isn't so much about conformance checkers as the label indicates?

[2018-06-04 06:32] sideshowbarker commented on #1186
ah yeah I misspoke it is that instead. So I just now retitled it to make that clear

[2018-06-04 06:49] frivoal opened #11320 "wpt lint broken?"
As of ee82278e15570e573d87fb80179ff8231b6db61a, `./wpt lint` fails t run on my machine. Not sure what's going on or how to debug it, but here's a stack trace:
[code]

[2018-06-04 07:09] mikewest commented on #11218
@sleevi: I think the second goal you've outlined is an important one. Regardless of the PSL's contents for a given version of a given client, `document.domain` should behave in a well-understood way. As should cookies. As should anything else that's web-visible and depends on the notion of a "site".

If the PSL won't accept test-only PRs (though both `test.ru` and `test.tj`made it in...), perhaps

[2018-06-04 08:37] frivoal commented on #11320
ee82278e15570e573d87fb80179ff8231b6db61a

I've cloned a fresh clean copy of the repo, and now I get this:
[code]

[2018-06-04 10:56] jgraham commented on #11285
I should have read your comment more closely I guess :)

Anyway, yes, this still doesn't quite work. There is also the problem that it blows up rather for the case where you have deeply nested OR conditions, since you need to fully expand the path to each point in the tree.

[2018-06-04 13:10] srirama179 commented on #11066
Modern media controls are enabled in https://chromium-review.googlesource.com/c/chromium/src/+/922917.
I disabled them in media_switches and the test case is passing. Ran the test locally with 1000 iterations and it is fine.
With modern media controls, there is an overlap play button displayed which rotates for around 2s before which the text behind it is greyed out.

[2018-06-04 14:02] foolip commented on #11275
@tobie, thanks for the heads up, I'll sort out ownership of this one way or the other. @jgraham do you have opinions on what the outcome is?

[2018-06-04 14:15] jgraham commented on #11275
Not specific opinions, but I would like this to have some shared ownership, rather than being only accessible to Mozilla or Google and/or Bocoup employees, or similar. Assuming we continue on Heroku, I don't know what the process should be for getting someone to foot the (presumably zero) bill.

[2018-06-04 14:21] foolip commented on #11275
I'd also prefer shared ownership, although having a main responsible person would still be good. Shared ownership kinda depends on https://github.com/web-platform-tests/wpt/issues/10668. @jugglinmike FYI.

[2018-06-04 15:29] gsnedders commented on #11285
My alternative suggestion now, and somewhat implemented:

An array of pass conditions, where each pass condition is an array of url_a, comp_type, url_b triples.

So, in a simply case with as a single OR:

[code]

And the craziest case I know in the repo:

[code]

[2018-06-04 17:03] zcorpan commented on #11269
WebSocket tests have since switched to `.any.js`.

I can't reproduce the TIMEOUTs in websocket tests locally, so skipping them for now.

[2018-06-04 17:05] zcorpan commented on #11269
Fixed by #11223

[2018-06-04 17:42] jgraham commented on #11320
Seems more likely that you called the remote something other than `origin`.

[2018-06-04 18:59] Hexcles commented on #11285
Sorry for my lack of context, but which part of the manifest are you talking about? I see `items.reftest`, which already has the passing conditions alongside with the references.

[2018-06-04 19:06] gsnedders commented on #11285
@Hexcles items.reftests currently contains the contents of the `<link rel=help>` elements from the file, which only forms the top-level ORs. Each of those references can then have links themselves. See https://web-platform-tests.org/writing-tests/reftests.html#complex-pass-conditions.

[2018-06-04 23:51] frivoal commented on #11320
yes.

I have two remotes:
origin: my fork
upstream: `web-platform-tests/wpt`

As that was a fresh clone from `upstream`, I had yet to push/pull to/from `origin/master`, and doing so fixed it.

So I guess this is fixed. I still don't quite understand what the original problem (before the fresh clone) was, nor why wpt lint needs to fiddle with git, but oh well.

[2018-06-05 08:17] zcorpan commented on #11269
Filed https://github.com/web-platform-tests/results-collection/issues/571

[2018-06-05 08:28] gsnedders commented on #11320
Essentially, to only lint files that have changed. It tries to do it from the nearest branch point, and ultimately falls back to `origin/master`.

That said, the AssertionError definitely shouldn't be hit, so something has gone wrong there.

[2018-06-05 08:30] gsnedders commented on #11320
(The real fix here is to have more intelligent caching so we can just run the lint on everything and not have to filter what we run it against, but that's a bigger project.)

[2018-06-05 09:01] zcorpan opened #11343 "POST to an .html resource results in a 404 response in wptserve"
This breaks this test

http://web-platform.test:8000/html/browsers/history/the-location-interface/reload_post_1.html

It seems a bit silly to create a .py resource to handle POST if a test doesn't need to.

@jgraham @gsnedders

[2018-06-05 09:01] zcorpan commented on #11269
Filed https://github.com/web-platform-tests/wpt/issues/11343

[2018-06-05 09:37] annevk opened #11346 "Centralize blocked port list"
`fetch/api/request/request-bad-port.html` and `websockets/Create-blocked-port.any.js` both include the list of ports at https://fetch.spec.whatwg.org/#port-blocking. Perhaps we should store this list separately so it can be shared. (The one problem here is that if we store it as JSON and later the blocking logic becomes more complex (e.g., either in a range or in the list), we'll have to revamp th

[2018-06-05 09:38] annevk commented on #11346
(Suggested in #11249 by @Ms2ger.)

[2018-06-05 09:47] foolip opened #11347 "Unhandled errors during promise test doesn't fail the test"
In https://chromium-review.googlesource.com/c/chromium/src/+/1082434#27 @henbos and @guidou discovered an issue with a test. Note the seemingly unnecessary try/catch in this test:

[code]

It seems unnecessary because usually with `promise_test` the `t.step_func` wrapping of `async_test` callbacks can be avoided. But not always. Here, `t.step_func` is still needed, as failed asserts will be a harn

[2018-06-05 09:49] foolip commented on #11347
Also, a simpler demo of the problem: https://jsbin.com/ruyudoz/1/edit?html,output. Code is:
[code]

[2018-06-05 09:53] henbos commented on #11347
I think not tying the event handler explicitly to the test is problematic. Even if promise_test() ensures only one test is executed at a time, there is no guarantee that a previous test has been properly cleaned up and that no previously assigned event handlers will not fire.

For example,
test1 listens for pc.ontrack and asserts some things, it gets the track as expected and finishes the test.
te

[2018-06-05 10:09] foolip commented on #11347
That will fix your problem, yes. But I think this kind of mistake will become more common the more common `promise_test` becomes, so some way of either not requiring it or leading people to this solution would be great.

[2018-06-05 10:17] zcorpan opened #11349 "html/editing/focus/focus-02.html relies on unimplemented test_driver.send_keys()"
Navigating to this test gives me

[code]

https://wpt.fyi/results/html/editing/focus/focus-02.html has ERROR/TIMEOUT

cc @kereliuk @Honry @gsnedders

[2018-06-05 10:19] zcorpan commented on #11269
Filed #11349

[2018-06-05 11:01] zcorpan commented on #11349
@gsnedders said in irc
[code]
cc @jugglinmike

[2018-06-05 11:02] gsnedders commented on #11349
#11173

[2018-06-05 11:44] zcorpan opened #11353 "/service-workers/service-worker/svg-target-reftest.https.html times out"
From #11269

@upsuper why does this test time out? Running it locally it seems the reftest-wait class is removed.

[2018-06-05 11:49] zcorpan commented on #11343
If we decide the current behavior is OK and we should fix the test, that would also resolve this issue.

[2018-06-05 11:52] zcorpan commented on #11269
I've now gone through all of the tests, so closing. When the PRs are merged we can do another round to see what's left to fix.

[2018-06-05 11:52] #11269 closed

[2018-06-05 12:10] upsuper commented on #11353
It seems if it times out, there is probably some issue around either the service worker registration or page loading? Maybe somehow the given scope has other service workers registered which leads to some conflicts?

I have no idea... Maybe @wanderview has some idea since he wrote this test.

[2018-06-05 12:39] foolip commented on #7444
Possibly related is that PRs aren't always mirrored as they should be, see https://github.com/web-platform-tests/wpt/pull/11355#issuecomment-394689193.

[2018-06-05 12:57] gsnedders commented on #7444
That isn't being slow, that's somehow requests failing to load its vendored packages if you look at the tracebacks. I'd call that unrelated.

[2018-06-05 12:59] gsnedders opened #11356 "./wpt run takes a long time waiting for the manifest to update"
`./wpt run firefox foo/` is suddenly much slower. This is seemingly because of the manifest update step getting much slower, seemingly because `chardet` is now installed in the venv.

[2018-06-05 13:01] foolip commented on #11343
What does apache or nginx do with the same kind of request? Matching that would make sense, fewer surprises.

[2018-06-05 13:02] foolip commented on #11356
@gsnedders, can you bisect your way to which commit made it slower, or do you already know?

[2018-06-05 13:02] gsnedders commented on #11356
Maybe caused by 0989f187820 updating requests which now depends on chardet instead of vendoring it?

[2018-06-05 13:09] gsnedders commented on #11356
This may have just been triggered by a release on PyPI and no change on our side?

[2018-06-05 13:20] zcorpan commented on #11343
In apache at least it just works.

[2018-06-05 13:35] foolip commented on #11343
What's the response code? 200?

[2018-06-05 13:36] wanderview commented on #11353
How are you running this test?  Firefox passes the test in mozilla's infrastructure and when run from our `./mach web-platform-tests` CLI tool.

[2018-06-05 13:37] gsnedders commented on #11356
Right, so it's caused by `venv.install("requests")` in `tools/wpt/run.py`.

And that's been there since 27434fabeee, and the `requests` unvendoring release happened a few days after that, so maybe we've just always been really slow at the manifest update in `wpt run` since then?

[2018-06-05 13:37] wanderview commented on #11353
I probably will need @jgraham's help here since I don't know how our mozilla setup will differs from other configs.

[2018-06-05 13:38] foolip commented on #11356
Why did updating the manifest get slower, though? Does the new version of `requests` or `chardet`have a performance regression, or something?

[2018-06-05 13:41] zcorpan commented on #11343
I think so, not sure where to check right now though.

[2018-06-05 14:04] gsnedders commented on #11356
@foolip `html5lib` defaults to falling back to running `chardet` if it can't determine the character encoding (and hasn't had one provided), per step seven of the spec. And this takes a lot of time.

[2018-06-05 14:05] gsnedders commented on #11356
(This isn't that problematic, it's a simple fix of passing `useChardet=False`, but it still seems to be slow locally, compared with `./wpt manifest`.)

[2018-06-05 14:40] #9874 closed

[2018-06-05 14:40] #10921 closed

[2018-06-05 14:43] gsnedders commented on #11356
I suspect much of the difference is running `./wpt manifest --work` instead of `./wpt manifest` and my not having the cleanest working copy. Except it's still vastly slower than `./wpt manifest --work` is. Um.

[2018-06-05 14:55] zcorpan commented on #11275
I'm happy to be the responsible person. Shared ownership SGTM, but also I can own this until we figure out how shared ownership should work.

[2018-06-05 15:03] jgraham commented on #11353
The test passes for me locally using `wpt run firefox service-workers/service-worker/svg-target-reftest.https.html`, with either `--reftest-internal` or `--reftest-external`.

[2018-06-05 16:34] jugglinmike commented on #11347
@foolip I'd like to make sure I understand. Could the problem also be stated as: "Unhandled errors cause harness errors instead of test failures"?

[2018-06-05 18:56] jugglinmike commented on #11277
A still simpler solution for metadata would be to reformat the existing JSON files into JavaScript files that assigned the data to a global variable. The two downsides to this are that it makes dependencies implicit and that it would be easier for folks to do scripting within the fixture data (which I think we'd generally want to discourage). Still, when compared to the complexity of a new rule fo

[2018-06-05 19:18] jugglinmike commented on #11353
[This test was timing out across four browsers when we ran it against revision 6736e3f46b of WPT back in mid-April.](https://wpt.fyi/service-workers/service-worker/svg-target-reftest.https.html?sha=6736e3f46b) In the latest test collection, this test only timed out in Safari:

https://wpt.fyi/results/service-workers/service-worker/svg-target-reftest.https.html?sha=2d0250896e

It may be an intermit

[2018-06-05 19:37] devsnek commented on #11277
@jugglinmike as node implements esm there is like a cascade of standards it might gain. if we want to support https imports as an example we'll need to add fetch and then response and blob and body and stream etc etc.

aside from that in the last year or so there has been more and more of a push for it to support standards in general, like with Encoding and URL

i'm also working on my own runtime

[2018-06-05 19:51] jugglinmike commented on #11277
Got it. It's hard for me (or any one person) to approve the adoption of this pattern across all of WPT. My recommendation is to file a separate issue for each specification whose tests you'd like to see generalized. This will help get your request in front of the people who can greenlight it.

I'm suggesting this because I may have some bandwidth to help out, but I'd like some indication that patc

[2018-06-05 20:09] zcorpan commented on #11353
OK. @cdumez do you want to take a look for Safari? Locally for me it removes the `reftest-wait` class in Safari 11.1 and TP.

[2018-06-05 20:47] domfarolino opened #11363 "Console manual tests should prompt testers to look for entries, not lines"
As per https://console.spec.whatwg.org/#printer-ux-innovation and some spec-issue discussion, the number of "lines" appearing in a console need not match the number of times `Printer()` is called because the UA is allowed to coalesce entries or otherwise innovate its UX. There's an expectation that you should at least be able to see the number of times an entry got printed, but there's no 1:1 rati

[2018-06-05 22:31] #11015 closed

[2018-06-05 22:38] jgraham commented on #10853
I don't think that adding extra syntax really helps people understand the feature or helps them use it correctly. On the other hand it does directly undermine the major reason for having the feature which is to reduce boilerplate in cases where that is possible.

I am much more inclined to proceed with the zero-boilerplate improvements to address the most serious issues than to take this approach.

[2018-06-05 22:50] domenic commented on #10853
I was asked for my opinion as a test author in IRC.

I am happy to use a small opt-in of this sort if I use single-page tests. However, I have been leaning away from single-page tests because it's already hard enough to remember to add `done()` for sync tests or set the `<title>` appropriately to get good error messages.

[2018-06-05 23:18] zcorpan commented on #10853
How do you prevent reviewers from being confused when reviewing single page tests, when the reviewer is not familiar with the feature? How do you prevent tests from accidentally invoking the feature (a failing assert outside test) and fail to report the intended tests?

I understand that the use case is to minimize boilerplate, but I think this is pretty minor overhead and there are several advant

[2018-06-06 04:30] annevk commented on #11277
@jugglinmike moving away from JSON to JavaScript doesn't work for non-JavaScript consumers. I don't think that's a good idea.

[2018-06-06 11:59] gsnedders commented on #11356
It's as if it's always rebuilding it? Hmm. That would explain the perf, but I don't understand how that happens in the code.

[2018-06-06 12:13] fred-wang commented on #9300
https://github.com/web-platform-tests/wpt/tree/master/css/WOFF2 and https://github.com/w3c/woff2-tests/blob/master/generators/UserAgentTestCaseGenerator.py are now in sync (except that OWNERS files is not generated). I did not modify binary fonts, maybe @khaledhosny can confirm they are up-to-date. Finally, I also added the DO NOT EDIT warning.

@foolip Do you think anything else should be done he

[2018-06-06 13:57] gsnedders commented on #7200
The above seems really confused, the original issue was about `tools/html5lib`, which is totally unrelated to what the CSS testsuite build system does.

[2018-06-06 15:28] jugglinmike commented on #11277
@annevk Supporting non-JavaScript consumers is a much more restrictive requirement than what we have discussed in this issue. We'll need to list out all the constraints before we can make progress.

As a start, can you give some examples of consumers and tests?

[2018-06-06 15:36] #7200 closed

[2018-06-06 15:36] #10922 closed

[2018-06-06 16:08] annevk commented on #11277
Consumers might be all kinds of software libraries for tests such as `url/resources/urltestdata.json` and `mimesniff/mime-types/resources/mime-types.json`. We provide a wrapper to run them in the browser.

[2018-06-06 17:14] gsnedders commented on #11356
So, in summary:

 * It's super slow for me locally currently because it uses `--work` and I have the built output of the CSS testsuite in my working copy, which don't exist in the cached (and uploaded) copies.
 * `./wpt run` causes it to run with with chardet installed, which is slow (fixed by https://github.com/web-platform-tests/wpt/pull/11385)
 * we always take the slow case for XML parsing wit

[2018-06-06 17:16] gsnedders commented on #11356
I'm going to close this in favour of some more specific issue about improving caching, to be opened in a moment.

[2018-06-06 17:16] #11356 closed

[2018-06-06 17:18] gsnedders commented on #11356
Also, to note, #11385 made it (in the CSS built testsuite case) 47% quicker!

[2018-06-06 17:40] gsnedders opened #11386 "./wpt manifest is slow on Windows"
Running under cProfile shows huge amounts of time being spent in {open}, which seems odd (one assumes opening files isn't generally massively slower than under other OSes!), though does mean the issue might unfortunately lie in CPython. We should do what we can, though.

[2018-06-06 17:50] gsnedders opened #11388 "Improve caching for manifest and lint"
Split out from https://github.com/web-platform-tests/wpt/issues/11356

One thing I've wanted to do for a long time is to massively improve caching for manifest and lint.

The status quo for manifest is we store a sha1 hash of the contents of each file and then compare it with a cached copy; this is expensive given it means we have to read every file to check if the cache is valid (this is especial

[2018-06-06 18:04] gsnedders commented on #11388
To add:

This might be a good opportunity to do a larger refactoring where we can make things like `--work` and similar be consistent (e.g., `--work` should generate a manifest for the working tree; `--head` should generate one for HEAD rather than the current default of "files in HEAD but the copies currently in the working tree"; `--index` should generate one for the index).

[2018-06-06 18:12] jugglinmike commented on #11277
That's great!

@devsnek: this means that for the URL tests, we don't need to worry about `fetch`. You/Node.js can rely on the JSON-formatted files in the "resources" sub-directory--instructions for interpreting them are available in [this README file](https://github.com/web-platform-tests/wpt/blob/master/url/README.md).  There are other tests for the specifics of the JavaScript API, but those don'

[2018-06-06 20:10] devsnek commented on #11277
@jugglinmike indeed, however the runner that wraps those includes more tests and is wrapped in html, so there is still some to be desired.

[2018-06-06 20:41] jgraham commented on #11388
I have thoughts about this, which I'll add in the future, but for now @Cactusmachete who is likely to work on at least the manifest part of this.

[2018-06-06 22:40] lukebjerring commented on #10338
So, taking a stab at this, using https://github.com/tidoust/reffy-reports/blob/master/whatwg/idl/webusb.idl as an example.

    [Exposed=(DedicatedWorker,SharedWorker), SecureContext]
    partial interface WorkerNavigator {
      [SameObject] readonly attribute USB usb;
    };

Produced

Sure enough, `DedicatedWorker` is not exposed on `WorkerNavigator`. I'm not convinced I'm solving anything, jus

[2018-06-07 01:19] davidsgrogan commented on #10972
Yep, `scrollbar-gutter: always` would solve the problem.

The issue is that tests are passing where they should fail, i.e. Safari and Chrome<=67 on mac. https://wpt.fyi/results/css/css-tables/height-distribution/percentage-sizing-of-table-cell-children-002.html should show everything as failing, but Safari shows as passing.

I suppose instead of using the -webkit-*scroll* properties in these tests

[2018-06-07 01:22] InstyleVII opened #11397 "Latest change broke wpt on Windows 10"
After [this](https://github.com/web-platform-tests/wpt/pull/11299) change the web platform tests no longer run on Windows 10 in Firefox or Edge.

[code]

[2018-06-07 08:31] annevk commented on #11218
In the second test of `html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_setter.html` Safari throws "Attempted to use a non-registrable domain." so PSL already seems to be leaking.

cc @cdumez

[2018-06-07 08:43] zcorpan commented on #10919
Would it help to split this test into multiple tests?

[2018-06-07 10:23] zcorpan opened #11406 "Make fetch_tests_from_worker et al non-racy"
See https://github.com/web-platform-tests/wpt/pull/11405

We could investigate making it non-racy to use more than one of these functions in a test.

Files with multiple `fetch_tests_*`:
[code]

[2018-06-07 10:31] jgraham commented on #10853
I think that the scope of #10877 is necessarily smaller; I don't think we can block tests on `ERROR`, just have a warning in that case. Even if we could it would only catch cases that happen to error in the browser configurations we run in CI.

In general I think the desire to get rid of all `ERROR`s is over-focussing on getting clean metrics and won't provide value proportional to the effort requ

[2018-06-07 10:38] zcorpan commented on #10853
Title is https://github.com/web-platform-tests/wpt/pull/11403 -- I'll also do another PR to get the title from `// META: title=` in the worker case.

[2018-06-07 10:41] zcorpan commented on #11406
@jgraham said in irc

So another fix is to normalize the order of the tests before comparing.

[2018-06-07 12:05] zcorpan commented on #11049
cc @dhdavvie

[2018-06-07 12:44] jgraham commented on #11179
Based on the logs e.g. https://treeherder.mozilla.org/logviewer.html#?job_id=179306286&repo=mozilla-inbound&lineNumber=11777 it doesn't look like the test is timing out; it looks like it sometimes just does the wrong thing. I don't remember the details of how these tests work, but the 500ms timeout in `start_test_wait` sure looks suspicious.

[2018-06-07 12:56] foolip commented on #11406
Right, the fact that subtest order isn't guaranteed means that wpt.fyi and anything else showing/comparing results needs to ignore order. @Hexcles, I think we've also discussed this problem in Chromium because it affects our -expected.txt files, but decided to just treat those tests as flaky because there weren't that many. I can't find the issue now, do you recall?

Closing since this has the inf

[2018-06-07 12:57] foolip commented on #11219
@gsnedders, somewhat related to https://github.com/web-platform-tests/wpt/issues/8581?

[2018-06-07 12:59] foolip commented on #11218
@annevk, if testing this requires infra changes, can you condense those out? I guess it'd require having domains like web-platform-test.co.uk, but that is at odds with https://github.com/web-platform-tests/wpt/issues/11075.

[2018-06-07 13:02] zcorpan opened #11413 "/dom/interfaces.html is disabled in webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate+what's+up+with+this+test:

Path | Products | Results | Bugs
-- | -- | -- | --
/dom/interfaces.html | webkit | [ Skip ] | https://webkit.org/b/148546

This and html/dom/interfaces.https.html could be split up using `subsetTest`.

[2018-06-07 13:03] foolip commented on #11121
Code is at https://github.com/web-platform-tests/wpt/blob/7d24703c720f08f472319a7af2ef5bc6dec25346/resources/testharness.js#L2564.

This fortunately does not affect wpt.fyi and probably not any browser engines' use of wpt, but all the same tests on w3c-test.org.

Fix might be to catch the exception, `document.implementation.createHTMLDocument`, set `innerHTML` there, and then move then resulting n

[2018-06-07 13:05] foolip commented on #11105
@anitawoodruff is this still creating trouble for you, or is there a workaround that makes it bearable?

@annevk @jgraham will you battle it out in https://github.com/web-platform-tests/wpt/pull/11151, or are there other options here?

[2018-06-07 13:06] annevk commented on #11218
I don't think that is at odds, necessarily. We'd need to update the certificates to include the added names, but otherwise I don't see a conflict.

As for infrastructure changes, that depends on how we want to go about this. If we cannot modify the PSL, we'd need to instruct browsers somehow that something is a public suffix. Either via an API or by having browsers agree to add something locally.

[2018-06-07 13:10] foolip commented on #11218
Can you point to some of the mentioned differences between browsers? Is it just that their PSLs are not in perfect sync, or are there differences around processing of it that also results in problems?

[2018-06-07 13:16] foolip commented on #10972
I guess that does present a bit of a problem, people are less likely to prioritize tests that are incorrectly passing than incorrectly failing, so if we use only `scrollbar-gutter` then it wouldn't be implement *just* in order to fail more tests, probably.

Would the same CSS in all tests involving scrollbars work? In that case perhaps we could have a shared CSS file like your scrollbars.css in ht

[2018-06-07 13:22] annevk commented on #11218
https://github.com/whatwg/url/pull/391#issuecomment-392474948 was the reason I filed this. The above comment about Safari is an example I spotted while working on something related, but can be manifested without additional infrastructure or domains it seems. (It's unclear if it could still be reproduced if "test" was added to the PSL however.)

[2018-06-07 14:19] foolip commented on #10338
OK, sounds like a bug in either WebUSB or HTML.

[2018-06-07 14:22] foolip commented on #10338
Hmm, nothing https://heycam.github.io/webidl/#Exposed in suggests that `Exposed=(DedicatedWorker,SharedWorker)` should work at all. @domenic, do you know if things have changed in the land of `Exposed`?

[2018-06-07 14:43] foolip commented on #11275
@zcorpan will set this up and Bocoup will maintain it.

[2018-06-07 14:52] domenic commented on #10338
Sorry, why wouldn't that work? Seems fine to me...

[2018-06-07 14:56] lukebjerring commented on #10338
`DedicatedWorker` isn't in the exposure set of the original `WorkerNavigator` interface.

[2018-06-07 15:17] domenic commented on #10338
I see. That seems like a bug in the definition of exposure set; if Worker is the exposure set, then all globals which inherit from WorkerGlobalScope should be there too. Right?

[2018-06-07 15:21] foolip commented on #10338
Where are the allowed keywords defined? The string "DedicatedWorker" only appears in an example in the Web IDL spec.

[2018-06-07 15:24] domenic commented on #10338
https://html.spec.whatwg.org/#dedicated-workers-and-the-dedicatedworkerglobalscope-interface

[2018-06-07 15:32] foolip commented on #10338
Aha, well then presumably the problem is that `Worker` isn't expanded correctly to the different kinds of workers. If it was, then `Exposed=(DedicatedWorker,SharedWorker)` would be a subset.

[2018-06-07 15:33] domenic commented on #10338
Yeah, that's what I was trying to get at in https://github.com/web-platform-tests/wpt/issues/10338#issuecomment-395458867. It seems like https://heycam.github.io/webidl/#dfn-exposure-set should be corrected to do that sort of expansion.

[2018-06-07 15:48] lukebjerring commented on #10338
Ah, thanks Dom. so, when "fixing" this, I'm going to make the resolution of each partial interface wrap itself in a test, so that failing one partial only _partially_ (hehe) breaks things.

At the same time, I'll assert a subset, and expand `Worker` into `ServiceWorker` and `DedicatedWorker`. Are there other expansions I should be aware of?

[2018-06-07 17:48] lukebjerring commented on #10338
chromium CL: https://chromium-review.googlesource.com/c/chromium/src/+/1091210

[2018-06-07 18:17] #11397 closed

[2018-06-07 19:13] joyeecheung commented on #11277
Just FYI, we already have ported most of the URL tests into our code base about a year ago. The current way of porting URL WPT into Node.js is:

1. Copy the resources into our fixtures directory. The JSON files are formatted like [this](https://github.com/nodejs/node/blob/a5aad24/test/fixtures/url-tests.js), with a `module.exports` wrapper around the JSON text and some license text on top. The fil

[2018-06-07 19:31] joyeecheung commented on #11277
AFAIK our timer implementation is pretty far from the web and it cannot be changed for compatibility reasons. e.g. you get a `Timer` object from `setTimeout` and `setInterval()` instead of an integer.

There have been resistance about implementing the WHATWG stream and there is also a new Stream API being proposed (https://github.com/nodejs/summit/issues/82) that's not WHATWG stream. But implement

[2018-06-07 19:43] joyeecheung commented on #11277
Node.js also implemented `performance-timeline` but we have not ported the tests. We also implemented `encoding` and some tests has been ported by replacing the harness in-place manually (in our `test/parallel/test-encoding-*` files).

[2018-06-07 23:42] davidsgrogan commented on #10972
That would for sure work for layout tests that depend on scrollbars to change the content box size. But are you suggesting to automatically inject that css into pages that wpt detects has scrollbars? That might obviate tests whose whole point is to check overlay scrollbars, but I'm at the frontier of my knowledge here and don't really know.

But if you're suggesting test authors manually use a com

[2018-06-08 07:36] zcorpan commented on #11406
This needs a fix for the tests under resources/ so reopening.

[2018-06-08 10:27] jgraham commented on #11388
So in general this sounds pretty sensible. I agree that reading all the file contents to generate a hash is slow and would be better as a fallback path.

My concern with using the version control bits is that it's harder to make the cache distributed in the face of multiple environments and multiple version control systems. For example a requirement we have for gecko is that we are able to downloa

[2018-06-08 14:35] gsnedders commented on #11219
Yes.

[2018-06-08 15:32] #10338 closed

[2018-06-08 16:30] gsnedders commented on #11388
Is it acceptable in the Gecko case that the manifest that is downloaded must be generated within a Mercurial tree? At least in general it's done on TC in a Mercurial tree, right? Because then we can easily generate a cache file with both Mercurial last-revision-to-modify-file cache keys and git blob object id cache keys (because the blob object id depends on the file contents, so we can always com

[2018-06-08 16:32] gsnedders commented on #11388
(Also mtimes mean that we even less often have to go and look at the VCS.)

[2018-06-08 17:07] jgraham commented on #11388
Yes. If we can put both kinds of data in the cache without having git installed that will work well (I previosuly didn't realise that git blob ids didn't have any environment-specific metadata).

Are you imagining the cache being in the manifest itself, or in a seperate file? Given the mtime discussion below, I assume a separate file.

I guess that makes sense (using pure metadata as keys always w

[2018-06-08 17:34] gsnedders commented on #11388
I'm imagining having an LRU cache probably in `$XDG_CACHE_HOME/web-platform-tests` (and equiv), and probably some option like `--shared` that adds an inline cache to MANFIEST.json giving shareable cache keys for which it is valid.

One option is that we distribute lint caches like we do for manifest, and use that as the seed data. (Of course, this *should* always just be "everything passes"!).

I'

[2018-06-11 08:30] foolip opened #11454 "check_stability.py is too verbose"
After https://github.com/web-platform-tests/wpt/pull/10988 it looks like the stability jobs are more verbose. https://travis-ci.org/web-platform-tests/wpt/jobs/389217237 (for https://github.com/web-platform-tests/wpt/pull/11301) is an example of this, where the raw log ends with "Log reached capacity (3145728 bytes); output disabled" during "Repetition 8 / 10".

The job failed, and it's not possib

[2018-06-11 08:51] foolip commented on #11454
This affected https://github.com/web-platform-tests/wpt/pull/11333 too. There the log ended like this:
[code]

And only in "Repetition 4 / 10", so the verbosity has to be at least halved to fix this.

[2018-06-11 08:58] kaixinjxq commented on #11235
@foolip, I am glade to create these tests.

[2018-06-11 08:59] foolip commented on #11235
@kaixinjxq, thanks, please enjoy! :)

[2018-06-11 10:04] foolip commented on #11075
@annevk, you added the urgent label to this, which will make it show up in https://foolip.github.io/ecosystem-infra-rotation/ every two days without activity. Who should the assignee be of this?

[2018-06-11 10:05] foolip commented on #5671
@kereliuk is this still on track for Q2?

[2018-06-11 10:05] foolip commented on #7435
@kereliuk, was this resolved already?

[2018-06-11 11:55] foolip commented on #9300
@fred-wang, nope, looks like you've very thoroughly fixed this issue, thank you!

Do you want to sync the binary fonts as well before closing this issue?

[2018-06-11 12:38] fred-wang commented on #9300
Probably we could carefully check the log history or the diff of ttx output but let's just blindly force an update of the binary fonts.

[2018-06-11 12:39] foolip commented on #11347
@jugglinmike, yes, that's another way to put it.

[2018-06-11 12:56] henbos commented on #11347
Yes the error is never surfaced and we get a timeout, the fact that an assertion failed being lost on us.

[2018-06-11 12:58] foolip commented on #11347
Ah, right, it's a timeout with harness error, and the way we deal with timeouts in Chromium (let them time out "externally") means that the harness error never shows up anywhere.

[2018-06-11 13:02] henbos commented on #11347
Yes, and Chromium-wise we end up having to expect the entire file to timeout, losing all other test coverage of that file, so it's pretty bad. I ended up wrapping the events in t.step_func() and it worked pretty neat.

[2018-06-11 13:54] zcorpan commented on #11049
Still timeout in chromium. @foolip any idea why?

https://test-results.appspot.com/dashboards/flakiness_dashboard.html#testType=webkit_layout_tests&tests=external/wpt/html/browsers/the-window-object/window-open-noopener.html?_parent

[2018-06-11 14:17] foolip commented on #11049
A consistent timeout would suggest that it's not because it's slow, but because the `done()` step is never reached however long one waits. Maybe the test is for something that's not implemented?

[2018-06-11 14:23] zcorpan commented on #11049
Yeah... but it is implemented. Is there a problem with `window.open()` in CI?

[2018-06-11 16:44] gsnedders commented on #7435
Doesn't appear to be anything in testdriver.js for it.

[2018-06-11 21:46] jugglinmike commented on #11347
I don't think we can confidently assign an unhandled error to an asynchronous test. Although in @foolip's example, it seems like we could simply find the currently-running Promise test, that would confuse @henbos' event handler example (the uncaught error would be assigned to the second test).

To me, a harness error seems preferable because it more clearly reflects the fact that something is wron

[2018-06-12 08:36] henbos commented on #11347
It's not obvious to me why the order would be different in the above example, in both cases "resolve promise (inside of event firing), resolve promise" happens. But I guess there are no guarantee which promise's then() is executed first, if at the beginning of a task execution cycle multiple events are resolved? Or are promises resolved at the end of the cycle?
In any case, the above example is fr

[2018-06-12 13:09] annevk commented on #11075
I don't know, someone who knows enough about OpenSSL to help make this happen.

[2018-06-12 14:20] zcorpan commented on #11048
cc @dholbert

[2018-06-12 14:26] gsnedders opened #11473 "Some sort of governance/process"
This is something that's mostly been discussed on IRC at various points.

There's a number of issues here:

 * Where do policy decisions get made? (The status quo appears to be all over the place.)
 * How do we ensure interested parties are aware of where the decisions are being made? (The status quo appears to be random subsets of people.)
 * Is there anyone to whom you can appeal the decision?

[2018-06-12 15:05] gsnedders opened #11476 "Reftests for font loading"
This has come up several times recently.

At the moment, we can't test font loading with reftests because they are defined to wait on fonts loading.

That said, as long as we want it to be possible to run tests over WebDriver this will always be difficult given WebDriver doesn't provide us with any timing guarantees. As I wrote in an email recently:

cc/ @foolip @fred-wang @Hexcles @youennf @jgrah

[2018-06-12 17:17] marcoscaceres opened #11479 "Documentation for lint rule CONTENT-VISUAL missing"
The docs are missing "CONTENT-VISUAL":
https://web-platform-tests.org/writing-tests/lint-tool.html

The linting message is not very helpful - it doesn't really say why a particular file was flagged as "CONTENT-VISUAL". The linting message just says to  get around the problem by adding it to `lint.whitelist`, but that feels kinda wrong and getting around the problem.

[2018-06-12 17:19] marcoscaceres commented on #11479
For reference:
https://travis-ci.org/web-platform-tests/wpt/jobs/391363836

[2018-06-12 17:36] Hexcles commented on #11476
Thanks for filing the issue @gsnedders !

Let me fill in more context. I had this discussion earlier with @foolip when trying to deflake reftests with webfonts on Blink's test runner. Since webfont loading don't necessarily block the load event (which is another issue of its own), we decided to implement the same hack in Blink as wptrunner: to wait for `fonts.ready` ([injected script](https://gith