[2016-08-09 21:21] rniwa commented on #3444
@ayg @Ms2ger @travisleithead @annevk

[2016-08-09 23:05] ddorwin commented on #3430
I agree that the size should be changed.

A size of 0 means this is the last box in the file and its contents extend to the end of the file. That might work for a single PSSH box, but it's definitely not good practice.

[2016-08-10 03:23] annevk commented on #3443
DOM changed regarding this and I forgot about tests.

[2016-08-10 03:34] cdumez commented on #3443
@annevk Is the DOM change you're referring to about getElementsByTagName() taking a qualifiedName instead of a localName? When looking at those tests I realized that Safari / Chrome match by localName but the latest DOM spec says qualifiedName.

[2016-08-10 05:41] annevk commented on #3443
Yeah: https://github.com/whatwg/dom/issues/143. https://github.com/w3c/web-platform-tests/pull/2808 supposedly updated the tests.

[2016-08-10 12:17] #3235 closed

[2016-08-10 16:01] cdumez commented on #3444
+1

[2016-08-10 16:02] cdumez commented on #3444
I am willing to prepare the pull request if people agree to this.

[2016-08-10 18:13] annevk commented on #3444
Seems fine to me, would be nice to hear from @ayg, but I suspect he's ok with it too.

[2016-08-10 20:15] ddorwin opened #3447 "[eme] video_512x288_h264-360k_enc_2keys_2sess.mp4 has non-compliant 'pssh' boxes"
[video_512x288_h264-360k_enc_2keys_2sess.mp4](https://github.com/w3c/web-platform-tests/blob/b267d1f728f1337ac8a6bfa2448f3ee28e826049/encrypted-media/content/video_512x288_h264-360k_enc_2keys_2sess.mp4) has four concatenated 'pssh' boxes in the 'moov' box. They appear to be:

I assume the first pair is for one key and the second pair is for another key.

<br/>The ["cenc" Initialization Data Format

[2016-08-11 15:17] #3443 closed

[2016-08-11 21:11] ddorwin commented on #3430
PR #3455

[2016-08-11 21:29] cdumez opened #3456 "dom/events/Event-dispatch-multiple-stopPropagation.html not spec-compliant?"
I was trying to investigate why dom/events/Event-dispatch-multiple-stopPropagation.html is failing in WebKit.

The test dispatches several times the same event. The event listener is calling evt.stopPropagation() we would set the stop propagation flag. As per the specification [1], I would expect that the later calls to dispatchEvent() do NOT execute the event listeners given that the stop propaga

[2016-08-11 21:30] cdumez commented on #3456
@Ms2ger @annevk

[2016-08-12 07:37] annevk commented on #3456
There's a long discussion here: https://github.com/whatwg/dom/issues/219. I don't think it matters much what we do, as long as we all agree to do the same thing...

[2016-08-12 14:08] cdumez commented on #3456
I do not mind either way either. However, I don't think we should test a behavior that is not specified.

[2016-08-12 19:23] NavidZ opened #3462 "Add pointerevent attribute test inside an iframe"
There is no test in pointer event test set to test the attributes of them inside an iframe.
Particularly, since issues like
https://bugs.chromium.org/p/chromium/issues/detail?id=605676
happened in Chrome, it might be worth adding them.

[2016-08-12 20:24] #3430 closed

[2016-08-15 07:15] #3436 closed

[2016-08-15 17:55] ayg commented on #3444
Sounds good to me as long as it doesn't cause unnecessary code duplication.

[2016-08-15 18:12] ayg commented on #3444
On second thought, looking at the actual test -- what's the point of this change?  Are we really ever going to want selections to behave differently from ranges here?  Unless I'm missing something, I think that we should split the test only if there's an actual spec change that makes them behave differently.  Otherwise we just create the opportunity for unwanted inconsistency.

Is the problem just

[2016-08-15 18:37] cdumez commented on #3444
Yes, my main issue with the test as it is is that WebKit is failing half of the checks due to a non DOM related bug. I would also be happy to update the test as @ayg suggests instead of splitting.

[2016-08-15 23:37] mwatson2 commented on #3423
- Reduce default test duration from 5 seconds

[2016-08-16 17:54] NavidZ opened #3470 "Ambiguous target for scrolling in touch-action tests for pointerevents"
In the tests from the description and the expectation it seems that user should scroll inside the inner div. But the test description doesn't precisely mention that. Also the inner div has the same color as outer div. So if user mistakenly does the scrolling action for the outer div test fails.

[2016-08-16 21:57] cdumez opened #3475 "dom/nodes/Document-URL.sub.html is failing when running on port 80"
dom/nodes/Document-URL.sub.html is failing when running on port 80. E.g.:
- http://w3c-test.org/dom/nodes/Document-URL.sub.html

Error is:

[2016-08-18 01:28] gsnedders commented on #3234
@zcorpan or someone else able to see if it exists internally at Opera still?

[2016-08-18 09:47] zcorpan commented on #3234
The content of that file is the same as that in the comment of the test:

[code]

[2016-08-18 11:06] sideshowbarker opened #3480 "Add a URL test for tel:1234567990"

[2016-08-18 14:00] #3234 closed

[2016-08-19 20:49] domenic commented on #3456
I guess this is a dupe of https://github.com/w3c/web-platform-tests/issues/3084. And they are both fixed after @cdumez's https://github.com/w3c/web-platform-tests/pull/3469.

[2016-08-19 20:49] #3456 closed

[2016-08-19 20:50] domenic commented on #3084
Fixed by https://github.com/w3c/web-platform-tests/pull/3469.

[2016-08-19 20:50] #3084 closed

[2016-08-19 20:51] domenic commented on #1190
I can't load that URL, but I think this can be closed since we successfully killed xml:base from the platform.

[2016-08-19 20:52] domenic commented on #584
Let's roll this into #2944.

[2016-08-19 20:52] #584 closed

[2016-08-20 06:08] sideshowbarker commented on #1190
Thanks, closing per https://github.com/w3c/web-platform-tests/issues/1190#issuecomment-241131866

[2016-08-20 06:08] #1190 closed

[2016-08-21 05:57] #3480 closed

[2016-08-22 12:12] Ms2ger opened #3519 "Test for the absence of Document.load"

[2016-08-22 13:09] tidoust opened #3521 "`PresentationRequest.start` returns a presentation in a `connecting` state"
@louaybassbouss, @mariuswsl, @mfoltzgoogle

While it seems to pass on Chromium, the basic Presentation API test that checks the call to `start` assumes that the `PresentationConnection` instance will be a `connected` state when the `Promise` is resolved, which I believe is incorrect:
https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/startNewPresentation_success-

[2016-08-22 13:38] tidoust opened #3522 "Test should wait for connected state before calling terminate"
@louaybassbouss, @yhe39,

The Presentation API [terminate test](https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/PresentationConnection_onterminated-manual.html) calls `terminate` as soon as the `start` promise is resolved.

However, the connection is not entirely established at this stage (see #3521), and the [termination algorithm](http://w3c.github.io/presen

[2016-08-22 13:54] tidoust commented on #3521
Note the same problem affects the defaultRequest test, since the `connectionavailable` gets fired while the connection is still connecting as well:
https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/defaultRequest_success-manual.html#L39

[2016-08-22 14:27] tidoust opened #3524 "Manual test on reconnection errors can be automated"
@louaybassbouss, @taff-franck,

Is there a reason why the Presentation API [reconnection test](https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/reconnectToPresentation_error-manual.html) that passes a wrong presentation identifier to `reconnect` is manual?

In particular, as opposed to calling `start`, calling `reconnect` can be done in the absence of user inte

[2016-08-22 14:43] tidoust opened #3527 "Test expects AbortError, but should rather get NotAllowedError"
@louaybassbouss, @mariuswsl,

Presentation API test that checks display selection abortion expects to receive an `AbortError`:
https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/startNewPresentation_error-manual.html#L33

That seems wrong to me. Aborting the selection of a display should match step 11 of the [starting a connection](http://w3c.github.io/presentati

[2016-08-23 22:38] mwatson2 opened #3534 "[eme] Migrate remaining Google tests"
The following tests remain to be migrated from the Google directory to new framework:
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-keystatuses-multiple-sessions.html
- encrypted-media-keystatuses-multiple-updates.html
- encrypted-media-onencrypted.html
- encrypted-media-playback-encrypted-and-clear-sources.html
- encrypted-media-playback-multiple-sessions.html
- encrypt

[2016-08-24 00:36] jdsmith3000 commented on #3534
It is reasonable to disable tests that are currently migrated.  We can leave others active and turn them off as new tests are migrated over.

I agree with the chrome specific list, and can do the edits to disable them and the migrated tests.

[2016-08-24 20:30] jdsmith3000 commented on #3534
I'm preparing a PR for this change.

[2016-08-24 20:50] mwatson2 commented on #3534
@jdsmith3000 Do you mean the change to disable some of the Google tests, or
something else ?

On Aug 24, 2016, at 4:30 PM, jdsmith3000 <notifications@github.com> wrote:

I'm preparing a PR for this change.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/w3c/web-platform-tests/issues/3534#issuecomment-242197753>,
or mute

[2016-08-24 20:52] jdsmith3000 commented on #3534
Disabling Google tests.  I intend to create sub folders and move the disabled tests so we know which remain to be migrated.  Okay?

I want to make this change and then re-run the test status report with dupes and Chromium specific tests removed from the reports.

[2016-08-24 20:54] mwatson2 commented on #3534
All sounds good.

On Aug 24, 2016, at 4:52 PM, jdsmith3000 <notifications@github.com> wrote:

Disabling Google tests. I intend to create sub folders and move the
disabled tests so we know which remain to be migrated. Okay?

I want to make this change and then re-run the test status report with
dupes and Chromium specific tests removed from the reports.

—
You are receiving this because you authore

[2016-08-24 21:10] ddorwin commented on #3534
SGTM

[2016-08-25 01:06] #3470 closed

[2016-08-25 17:30] #3534 closed

[2016-08-25 17:45] mwatson2 commented on #3534
Actually, I meant this issue to cover the entire job of migrating the remaining tests, but I will open a new issue for that.

[2016-08-25 17:46] mwatson2 opened #3583 "[eme] Migrate remaining Google tests to main framework"
The following are in need of migration. Please reply to this issue to claim some:
- encrypted-media-clear-key-invalid-license.html
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-keystatuses-multiple-sessions.html
- encrypted-media-keystatuses-multiple-updates.html
- encrypted-media-onencrypted.html
- encrypted-media-playback-encrypted-and-clear-sources.html
- encrypted-me

[2016-08-25 17:46] mwatson2 commented on #3534
#3583

[2016-08-25 20:22] domenic opened #3585 "Test that IDL methods are "built-in functions""

[2016-08-26 07:51] Ms2ger opened #3587 "Test that globals and things they inherit from have immutable prototypes"
CC @domenic

https://github.com/heycam/webidl/pull/133
https://github.com/whatwg/html/issues/1235

[2016-08-26 14:59] #2435 closed

[2016-08-29 13:59] RByers commented on #2161
staktrace@ I believe that's exactly the concerned I raised at https://github.com/jgraham/webdriver-actions/issues/1.  It seems like everyone agrees on what the semantics should be and the debate is just how to do the spec legalese to express those semantics in a way that's both interoperable and well defined.  My instinct is not to worry too much about the spec wording at this stage - if we design

[2016-08-29 14:09] #3462 closed

[2016-08-29 18:02] sukhmal commented on #3583
I will start off by migrating setmediakeys tests:

- encrypted-media-setmediakeys-again-after-playback.html
- encrypted-media-setmediakeys-again-after-resetting-src.html
- encrypted-media-setmediakeys-at-same-time.html
- encrypted-media-setmediakeys-multiple-times-with-different-mediakeys.html
- encrypted-media-setmediakeys-multiple-times-with-the-same-mediakeys.html
- encrypted-media-setmediakeys

[2016-08-30 10:25] andreastt commented on #2161
The concerns that @staktrace and @RByers have raised a entirely valid, and I think you are both describing exactly what we _mean_ for the browsers to implement.

The challenge, as I say in https://github.com/jgraham/webdriver-actions/issues/1#issuecomment-243394313, is to describe this in such a manner that it is sufficiently high-level to define the exact ordering and which DOM events to expect s

[2016-08-30 16:19] staktrace commented on #2161
Not quite - we actually have two sets of DOMWindowUtils APIs. There's one set with functions like sendTouchEvent, which will create the event and dispatch it into the DOM directly (and synchronously). There's another set with functions like sendNativeTouchEvent, which will inject the events asynchronously into the pipeline so that they're as indistinguishable from native OS events as possible. In

[2016-08-30 17:03] domenic opened #3611 "html/browsers/origin/cross-origin-objects/win-documentdomain.sub.html uses nonstandard Array.forEach"
This is a Firefox-only extension.

/cc @annevk who appears to have created this test and @cdumez who seems to be investigating it.

[2016-08-30 18:25] andreastt commented on #2161
OK.

We’re getting into Marionette specifics here, but for a lot of different reasons drivers have over a long period transitioned away from native events because they come with a lot of inherent problems.

I feel we should continue this discussion in an appropriate Mozilla forum, but I just want to say there’s nothing preventing us from exposing the set of native event functions from _DOMWindowUt

[2016-08-30 20:54] jdsmith3000 commented on #3583
These then are remaining for someone to migrate:

- encrypted-media-clear-key-invalid-license.html
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-keystatuses-multiple-sessions.html
- encrypted-media-keystatuses-multiple-updates.html
- encrypted-media-onencrypted.html
- encrypted-media-playback-encrypted-and-clear-sources.html
- encrypted-media-playback-multiple-sessions.h

[2016-08-31 09:58] Ms2ger opened #3614 "Test the definition of Document::location when navigated-away-from"
See https://github.com/whatwg/html/issues/928 https://github.com/whatwg/html/pull/1722

[2016-08-31 17:06] mwatson2 opened #3618 "[eme] Unexpected test timeouts"
clearkey-mp4-playback-temporary-waitingforkey.html times out on all three browsers.
drm-keystatuses.html fails or times out on all browsers.

[2016-08-31 17:19] mwatson2 commented on #3618
PR #3618 to fix a regression on `clearkey-mp4-playback-temporary-waitingforkey.html`

For `drm-keystatuses.html` it appears that all three browsers are non-compliant:
- Chrome does not generate a `keystatuseschange` event after `close()` is called (for the DRM case, it does for the ClearKey case)
- Firefox and Edge both have incorrect values in the `keystatuses` map (in different ways).

[2016-08-31 20:27] cdumez commented on #3611
html/browsers/origin/cross-origin-objects/cross-origin-objects.sub.html uses forEach too

[2016-08-31 20:29] cdumez commented on #3611
Although Array.forEach seems supported by Safari.

[2016-08-31 21:10] cdumez commented on #3611
Array.prototype.forEach seems to be part of EcmaScript?
-> http://www.ecma-international.org/ecma-262/5.1/#sec-15.4.4.18

If so, I think we can close. html/browsers/origin/cross-origin-objects/cross-origin-objects.sub.html is timing out in Safari / Chrome but I have not figured out why yet but this is almost certainly not because of Array.prototype.forEach.

[2016-08-31 21:12] domenic commented on #3611
I meant specifically `Array.forEach`, not `Array.prototype.forEach`.

[2016-08-31 21:15] cdumez commented on #3611
Oops, sorry. Please disregard my previous comments then. Safari indeed does not support Array.forEach() and will fail html/browsers/origin/cross-origin-objects/win-documentdomain.sub.html as a result.

[2016-08-31 21:18] cdumez commented on #3611
Oh, and you are also right that this is the reason why html/browsers/origin/cross-origin-objects/cross-origin-objects.sub.html is timing out in Safari and Chrome but not Firefox!

[2016-08-31 22:02] cdumez commented on #3611
Can be closed.

[2016-08-31 22:04] #3611 closed

[2016-09-01 11:29] Ms2ger opened #3622 "Test for cookieEnabled"
Doesn't seem like there are any.

[2016-09-01 15:29] mwatson2 opened #3624 "[eme] Migrate account on DRMToday servers"
We are still using the CableLabs account on the DRMToday servers. We should use the account that they provided for us.

[2016-09-01 15:31] mwatson2 opened #3625 "[eme] Test persistent-usage-record tests with DRMToday"
Persistent-usage-record tests require Microsoft servers. CastLabs have provided test infrastructure supporting this. We should test that.

[2016-09-01 15:36] mwatson2 opened #3626 "[eme] Use different servers for different tests"
Not all session types are supported by the DRMToday servers. For the moment we have alternative servers which should be automatically chosen for the particular session types.

[2016-09-02 00:38] #3618 closed

[2016-09-06 16:22] NavidZ opened #3647 "Add multi pointerType test and check to pointerevent tests"
Adding the capability to support doing the test with
multiple pointerTypes in sequence and check the type
for all of them.

[2016-09-08 05:58] jyavenard opened #3662 "media-source/mediasource-appendbuffer-quota-exceeded.html invalid and non spec compliant"
There are several assumptions taken by this test that are incorrect to start with:

1- The test must complete within 10s. The file being added is less than 200kB long. The eviction threshold could be hundreds of MB. Nothing states that it must complete within 10s when the loop could be so long

2- The test append the data in a loop and assert that the buffered range must be continuous. There are a

[2016-09-08 13:41] wolenetz commented on #3662
In Chrome we have at least two variants of this test depending on which
platform is being tested, due to timeouts and the limits embedded in the
heuristic. You're right that the spec doesn't prohibit an implementation
from being perhaps overly aggressive in its coded frame eviction algorithm
and allow essentially unbounded iterations of small continuous appends. In
Chrome, we found that tailoring

[2016-09-08 13:53] jyavenard commented on #3662
What we could do for a start, is change the timeout to be of type "long", or whatever it is to be more than 10s.

And change the file being used to instead use one of the video only file.
test-v-256k-320x240-30fps-10kf is the biggest available.

I'd be interested to know the full eviction logic in chrome.
In Firefox, we've just changed it so that we only ever evict content already played, or conte

[2016-09-08 17:57] wolenetz commented on #3662
Chrome takes into account:
* Current "read from demuxer, feeding decoder" position (per each track)
* Current media playback time
* last appended buffer (per each track)
* seek target (if any)

We've seen behavior where different apps:
1) append buffers first at seek target position, then seek there
2) seek immediately to seek target position, then append buffers there

We've also seen apps (espec

[2016-09-08 17:59] wolenetz commented on #3662
I'll try adjusting the test as suggested (for V1) in https://github.com/w3c/web-platform-tests/issues/3662#issuecomment-245604505. Barring that working interoperably, this is a big "quality of implementation" allowance in the spec, so suite coverage justifiably may not show interop (heuristics can vary).

[2016-09-08 18:15] #3647 closed

[2016-09-08 19:16] wolenetz commented on #3662
@jyavenard:

This is true (audio begins at PTS 0, video begins at DTS 0 but PTS 33ms). However, that is not the cause of the gap (nor should it be, given the allowance in the spec for "jagged-start" A/V to not stall. Non-normative spec note:
"NOTE
For the purposes of determining if HTMLMediaElement.buffered contains a TimeRange that includes the current playback position, implementations may choos

[2016-09-08 20:33] wolenetz commented on #3662
Using a single track SourceBuffer for this test does make sense because
sequence mode muxed appends don't really make sense in the first place.

On Sep 8, 2016 6:53 AM, "Jean-Yves Avenard" <notifications@github.com>
wrote:

[2016-09-08 22:32] wolenetz commented on #1939
The spec allows for a small amount of delay from presentation start time to the beginning of the first buffered range while not stalling playback / seek to the presentation start time. If the spec is unclear or the current tests are still incorrect (given merged PRs above which might have fixed them), please re-open this issue.

[2016-09-08 22:32] #1939 closed

[2016-09-08 22:53] jyavenard commented on #3662
@wolenetz

I read it entirely differently, and yes it does cause the gap as:

so the allowance for playback has no impact on what's actually reported. The gap is small here, it doesn't affect playback. But the buffered range reported will show the gaps.
The test asserts that buffered.length is 1, it won't be.

totally agree. And we should change the sequence mode test too.. but that's another topi

[2016-09-08 23:21] jdsmith3000 opened #3669 "Update interface.html to IDL from current Editor's Draft"
At risk features have been removed from the spec, and the IDL is stable.  It seems like a good time to snap the IDL to the interface.html file.

[2016-09-08 23:35] wolenetz commented on #3662
Yes, the buffered ranges (which are intersection of A & V in this case) should report correctly a gap *at the beginning* of the timeline. But still just 1 buffered range if sequence mode append is used throughout. Muxed A/V and sequence is less-tested and therefore less sane, so gaps later in the timeline might occur due to muxed A/V sequence mode implementation bugs, and those gaps would show up

[2016-09-08 23:38] wolenetz commented on #3669
SGTM - I assume due to your self-assignment that you'll prepare a PR soon for this.

[2016-09-08 23:48] jyavenard commented on #3662
The gaps in the buffered range is due to how the sequence mode is defined.
When adding in sequence mode,
https://w3c.github.io/media-source/index.html#sourcebuffer-coded-frame-processing, step 3.

[code]
 timestampOffset will be adjusted to the first timestamp seen from the 2nd appendBuffer (as it's the first discontinuity seen); which here would be from the audio track. It then continues to add s

[2016-09-09 00:12] wolenetz commented on #3662
Yeah, the spec leaves a little grey area there: since sequence mode's
"discontinuity detection" is triggered on one of the two tracks, all "last
decode timestamps" are reset, so discontinuity isn't detected on the first
frame in the *other* track even if it is > 2*last_frame_duration in the
future (or even into the past) vs the last "buffered" decode timestamp for
that other track. Hence, strict r

[2016-09-09 00:43] #3662 closed

[2016-09-09 01:03] #3669 closed

[2016-09-09 01:43] wolenetz opened #3673 "Add more test coverage around text tracks"
SourceBuffer.textTracks
TextTrack.sourceBuffer
removal/population of text track metadata (for at least one bytestream, webm might be simplest) by initialization segment received algorithm and mediasource detachment, respectively.

[2016-09-09 03:00] bzbarsky opened #3674 "page-visibility/unload.html is racy at best, bogus at worst"
The test window.opens a window, then sets a visibility state change listener in its load event, then closes the window.  It asserts that the visibility change it observers is going to the "hidden" state.

This is making all sorts of assumptions about how the visibility state of the opened window evolves in time.  For example, the following is a perfectly valid sequence of events per spec:
1. Brows

[2016-09-09 15:17] Ms2ger opened #3688 "Add a test for <img src=404-that's-really-an-image>"
See #3675

[2016-09-09 16:41] #3626 closed

[2016-09-12 08:58] Ms2ger opened #3695 "Test for the koi8-ru label"
In particular in `encoding/resources/encodings.js`.

Added in https://github.com/whatwg/encoding/commit/52f08a6259d331197685c6b417ee753b817c5a79

[2016-09-13 15:42] domenic opened #3703 "Test that <link as=""> reflection and behavior is case-sensitive"
See https://github.com/whatwg/html/issues/1665.

[2016-09-13 20:55] ddorwin commented on #3624
The current test server is reporting a 403, blocking progress.

Migration _may_ address this, but we can't be sure since we don't know the cause.

@mwatson2, who has the account information?

/cc @jdsmith3000 @paulbrucecotton @greg80303 @mavgit

[2016-09-13 22:39] ddorwin opened #3706 "[eme] Explicitly surface DRM test server errors"
Problems with the DRM test server caused many tests to fail in a non-obvious way ([example](https://lists.w3.org/Archives/Public/public-html-media/2016Sep/0065.html)).

We should try to make such failures obvious in some way, at least by including it in the test page, but preferably in some unmistakable way in the reporting.

[2016-09-13 23:10] ddorwin opened #3707 "[eme] Cleanup: remove unnecessary log div and video ID from Google tests"
See https://chromium.googlesource.com/chromium/src/+/5b261b31c00483ce80be18827caa1f3806bfab1e%5E%21/. Since the tests are in the process of being migrated, upstreaming will not work and we should just search and replace once all the tests have been migrated.

[2016-09-14 00:42] ddorwin commented on #3624
@mwatson2, what all is involved in this? Is it more than updating the account information in `drm-messagehandler.js`?

[2016-09-14 00:52] mwatson2 commented on #3624
IIUC:

- Ingest our content metadata (including keys) into the DRMToday system. There is admin web page for this and also a command line tool. Need to get right the cases where multiple keys are retrieved independently and the case where a request for any key associated with an asset returns all the keys associated with an asset.
- Either: (a) Set up a new "authentication proxy". CableLabs has a s

[2016-09-14 13:04] Ms2ger opened #3712 "Test getRootNode({composed:true})"

[2016-09-14 22:09] foolip commented on #2656
I'll just take this as an umbrella bug for upstreaming Blink tests, the first PR for which was https://github.com/w3c/web-platform-tests/pull/3692

@annevk, do you want to be in fullscreen/OWNERS so you see any test changes?

[2016-09-14 22:27] ddorwin opened #3718 "[eme] Three persistent-license tests fail due to missing acknowledgement in release message response"
On Chrome OS 53, three of the five `/encrypted-media/drm-.*persistent-license.*` tests fail due to bad responses from the DRMtoday server. I've included the failure for each below.

**1. [drm-mp4-playback-destroy-persistent-license.html](https://www.w3c-test.org/encrypted-media/drm-mp4-playback-destroy-persistent-license.html)**
[code]

**2. [drm-mp4-playback-persistent-license-events.html](https:

[2016-09-14 23:58] mwatson2 commented on #3718
These are the same problems I encountered. Apparently DRMToday are aware of the problem and working on a fix.

[2016-09-14 23:59] mwatson2 commented on #3718
Btw, if it is possible for the Widevine _Record of License Destruction Acknowledgement_ to be constructed by the client, then we could work around this problem (we are testing the client, not the server).

[2016-09-15 00:02] mwatson2 commented on #3706
We could cause tests to stop with NOTRUN when there are server errors if we refrain from testing any asserts before the server round trip is complete successfully, and call test.done() on server errors. There does not appear to be any other way to signal a problem with the test itself that is distinguishable from a test failure.

[2016-09-15 00:05] mwatson2 commented on #3624
A third option (probably the best) is to set the account to use the "Test Dummy" authentication server. This avoid a dependency on another server and does not require creation of a JWT.

To do this we would change a setting on the DRMToday account and include appropriate values in the `userId` and `sessionId` in each request to trigger the right license response as described [here](https://fe.stag

[2016-09-15 00:17] mwatson2 commented on #3447
This is fixed by PR #3629

[2016-09-15 05:13] nikosandronikos commented on #2885
As SVG 2 CR is in the process of being published. I've started to take a look at what we need to do to build the svg 2 test suite. Unfortunately most of the knowledge on W3C testing left the working group so I'm starting mostly from scratch here.

I wouldn't bother importing these tests. We need to rework the existing SVG 1.1 tests that are still relevant, we can look at bringing the tests here th

[2016-09-15 05:14] nikosandronikos commented on #2885
Feel free to assign this issue to me if you want to hold off on closing it until all tests are in web-platform-tests.

[2016-09-15 06:10] sandersaares opened #3721 "Add an EME test where "encrypted" event is never raised"
A few browsers (Edge, Firefox) are known to have a dependency on activating a CDM only if there is a PSSH box being in the media stream fead to MSE, triggering an "encrypted" event. There is no such requirement in EME  - it receives Initialization Data via `generateRequest()` and the data fed to this function does not need to come from the "encrypted" event. Indeed, nothing in EME even says the "e

[2016-09-15 07:09] jyavenard opened #3726 "media-source/mediasource-errors.html invalid check that mediasource readyState is "closed""
The first three tests:
Appending media segment before the first initialization segment.
Signaling 'decode' error via endOfStream() before initialization segment has been appended.
Signaling 'network' error via endOfStream() before initialization segment has been appended.

wait for the mediasource element to fire "sourceclose".

Source close is fired when the mediasource is detached from the media

[2016-09-15 07:37] jyavenard opened #3727 "media-source/mediasource-errors.html: Invalid test"
The test "Signaling 'decode' error via segment parser loop algorithm after initialization segment and partial media segment has been appended."

loads an init data, followed by half a media segment (which does contain invalid frames).

Why would that generate a media element error?
The track buffer does contain valid frames.
We are to fire "error" when "Fatal errors in decoding the media data that

[2016-09-15 07:52] annevk commented on #2656
Not really, but folks should feel free to ping me on IRC.

[2016-09-15 11:31] gsnedders commented on #2885
@nikosandronikos I presume they aren't simply duplicates of things in 1.1, therefore I'd assume the tests do have some value!

Unless you're going to actively work on it soon, I'd rather just leave it unassigned, then someone (possibly you!) can pick it up at some point in the future.

[2016-09-15 13:39] wisniewskit opened #3729 "Fix XHR tests to match progress event spec change in issue #72"
In [issue #72](https://github.com/whatwg/xhr/issues/72) it was effectively decided to fire all "progress" ProgressEvents before readyState=4, to match current browser behavior, as well as to not fire any final "progress" events in the case of an error.

At the very least, the test progress-events-response-data-gzip.htm will need to change; here is a candidate patch:
[code]

It may also be worthwhi

[2016-09-15 14:56] mwatson2 commented on #3721
This sounds like a good idea. Would you be able to make a PR with the new test ?

[2016-09-15 16:21] gsnedders opened #3730 "Add SVG 1.1 test wrapper files"
cc/ @heycam @nikosandronikos

The import that @heycam did imported files such as <https://github.com/w3c/web-platform-tests/blob/master/svg/import/animate-elem-37-t-manual.svg>, however this file is totally meaningless on its own. What I always remember seeing is <http://www.w3.org/Graphics/SVG/Test/20061213/htmlObjectHarness/full-animate-elem-37-t.html>, which embeds that SVG along with a referen

[2016-09-15 17:28] mwatson2 commented on #3624
I am working on this today.

[2016-09-15 17:48] mwatson2 commented on #3624
PR #3733

This migrates to the W3C EME Test DRM Today account and removes the dependency on an authentication server.

[2016-09-15 18:03] #3624 closed

[2016-09-15 19:04] mwatson2 opened #3735 "[eme] Return NOTRUN when failure is not due to implementation under test"
When a test cannot complete successfully for a reason that is not the fault of the implementation under test, the test should return NOTRUN. Such reasons include:
- optional features not supported by the implementation
- server failures
- others ?

A test returns NOTRUN if test.done() is called without any assertions being tested.

[2016-09-15 19:25] ddorwin commented on #3735
FYI, I believe the indication of NOTRUN is very subtle in the test report.

For example, while running the persistent-license tests, the test runner shows a blue NOTRUN in the results, but the JSON says there was a timeout. in http://w3c.github.io/test-results/encrypted-media/all.html, there appears to be a subtle difference. The NOTRUN test has a TIMEOUT in the test name row while regular timeout

[2016-09-15 20:01] mwatson2 commented on #3583
I will look at:

- encrypted-media-keystatuses-multiple-sessions.html
- encrypted-media-keystatuses-multiple-updates.html

[2016-09-15 20:02] #2125 closed

[2016-09-15 20:07] mwatson2 commented on #3583
Actually, encrypted-media-keystatuses-multiple-sessions.html has already been done.

[2016-09-15 20:12] mwatson2 commented on #3583
encrypted-media-keystatuses-multiple-updates.html tests that a single clearkey session can receive two `update()` calls each adding a single key, after only a single `license-request` message has been generated.

I don't believe any of the DRMs support this flow.

So, then I would propose that we do not need to migrate this test (see #3737)

[2016-09-15 20:46] mwatson2 commented on #3583
I will look at:
- encrypted-media-playback-encrypted-and-clear-sources.html
- encrypted-media-playback-multiple-sessions.html

[2016-09-15 22:17] ddorwin commented on #3721
While the EME APIs can be used without an "encrypted" event - or even attaching the `MediaKeys` to a media element - encrypted streams always have Initialization Data, which should result in an "encrypted" event when playback starts.

Can you be more specific about the test case you are requesting? Is it performing a license exchange before attaching to a media element (and perhaps another case af

[2016-09-15 22:47] wisniewskit opened #3738 "Update XHR data-uri.htm to match the resolution of Fetch issue 339."
Recently Fetch was changed in [issue 339](https://github.com/whatwg/fetch/issues/339) to allow all methods for data URLs. XMLHttpRequest/data-uri.htm should reflect that change. Here is a patch which makes it so:

[code]

[2016-09-15 22:59] ddorwin commented on #3583
Regarding https://github.com/w3c/web-platform-tests/issues/3583#issuecomment-247439997, `encrypted-media-keystatuses-multiple-updates.html` is probably testing that the keys in the session can change. The test cheats a little because it is easy to create a Clear Key license. However, DRMs might support this flow in a (non-continuous) key rotation scenario. Writing that test would require support f

[2016-09-15 23:38] mwatson2 commented on #3583
@ddorwin Do you mean the keys within a single session ? This is only possible to test if either:
(a) the DRM supports unsolicited provision of new keys (and our server supports creation of such messages), or
(b) the DRM fires new `license-request` messages itself, which our server can respond to.

I had imagined that one form of key rotation is supported by the DRM triggering a new `license-reques

[2016-09-15 23:43] ddorwin commented on #3583
Yes. I think (b) but with `"license-renewal"` is the likely scenario. Yes, I believe this is supported.

This isn't a high priority, and I'm fine with deferring this work (to a separate bug and marking the text as done for now). I just wanted to point out that the scenario this test is trying to cover is valid for Key Systems other than Clear Key.

[2016-09-15 23:47] mwatson2 opened #3740 "[eme] Add test for license-renewal and changing keys within a session"
At least one key system is expected to fire a `license-renewal` message when keys come close to expiration. This can be used to obtain a new key for the session from the server.

A test for this would demonstrate keys changing within a session.

[Note that the behaviour of firing a `license-renewal` message when keys come close to expiration is not described in the specification and so is keysyste

[2016-09-15 23:47] mwatson2 commented on #3583
Ok, I filed #3740

[2016-09-15 23:54] mwatson2 commented on #3583
encrypted-media-playback-encrypted-and-clear-sources.html is addressed by #3739.

I believe encrypted-media-playback-multiple-sessions.html may already be addresed by #3629

[2016-09-16 00:23] nikosandronikos commented on #2885
@gsnedders Sorry, I'm not saying never import them. I'm just proposing the working group take on the job of importing them while importing the SVG 1.1 tests - as likely both will need reworking into the correct format.

Happy to leave unassigned for now until we have a firm plan in place and have assigned people to pick up particular groups of tests.

[2016-09-16 03:28] ddorwin commented on #3740
For future reference, "keys changing" is referring to the keys in `keyStatuses`. See https://github.com/w3c/web-platform-tests/issues/3583#issuecomment-247478224. The Google test `encrypted-media-keystatuses-multiple-updates.html` _might_ be useful.

[2016-09-16 06:19] sandersaares commented on #3721
For example, DASH content often has the PSSH only in the manifest, never in any media segments themselves (this is the recommended style by DASH-IF Interoperability Points). Latest CMAF draft also recommends this method of passing the PSSH be used. The player will take it from the manifest and directly provide it to `generateRequest()`.

I fear I do not have the required knowledge of the test suit

[2016-09-16 20:23] mwatson2 commented on #3583
Indeed encrypted-media-playback-multiple-sessions.html is already addressed by #3629 (#3745 to move it).

[2016-09-16 20:32] mwatson2 commented on #3583
I will look at encrypted-media-requestmediakeysystemaccess.html next. The remaining tests to be migrated are:
- encrypted-media-clear-key-invalid-license.html
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-onencrypted.html
- encrypted-media-reset-src-after-setmediakeys.html
- encrypted-media-session-closed-event.html
- encrypted-media-syntax.html
- encrypted-media-unique-

[2016-09-16 23:01] ddorwin commented on #3706
While it doesn't help with the report aspect [`assert_unreached`](https://github.com/w3c/testharness.js/blob/master/docs/api.md#assert_unreacheddescription) would be an appropriate way to report server replies other than `200`.

[2016-09-18 17:09] mwatson2 commented on #3583
PR #3747 for encrypted-media-requestmediakeysystemaccess.html

[2016-09-19 20:03] ddorwin opened #3756 "[eme] Add tests for rejecting improper licenses for the session type"
The [`update()` algorithm](https://w3c.github.io/encrypted-media/#update) says the CDM should "Reject promise with a newly created TypeError" if a persistable license is provided to a session type other than `"persistent-license"` and vice versa.

The drmtoday server appears to request a different license based on a custom header (see `getCustomHeaders()` in `drm-messagehandler.js`), so we should

[2016-09-19 20:05] DLehenbauer opened #3757 "Onboarding W3C/WPT test suites into Edge mainline testing"
This tracking issue serves two purposes.  The first purpose to is invite discussion within the W3C/WPT community about the role web-platform-tests plays in automated testing for browser vendors.  The second purpose of this tracking issue is to test the waters regarding EdgeHTML developers contributing fixes for nitpicky issues in existing tests, and explain the motivation for doing so.

Historical

[2016-09-19 20:44] jdm commented on #3757
I (and others at Mozilla) welcome changes to the test suite that improve reliability and user-visible strings. I don't see any particular reason to push back against incorporating best practices, either.

[2016-09-19 23:23] ddorwin commented on #3721
The EME spec doesn't currently cover this scenario explicitly. I filed https://github.com/w3c/encrypted-media/issues/333.

Chrome follows something closer to the recommendation of that issue, so such a test should work there. Are Edge (@jdsmith3000) and Firefox (@cpearce) following the current algorithm or is there some other reason they require a 'pssh' box?

[2016-09-19 23:56] ddorwin opened #3760 "[eme] Add tests for readyState changes"
We need tests to ensure that the media element's `readyState` value is set as defined in the [Wait for Key](https://w3c.github.io/encrypted-media/#wait-for-key) and [Attempt to Resume Playback If Necessary](https://w3c.github.io/encrypted-media/#resume-playback) algorithms (and otherwise matches the HTML5 spec.

[2016-09-19 23:59] ddorwin commented on #3435
Agreed. This test has been migrated, so I will modify it manually. Other unmigrated Google tests also use InvalidAccessError. These are being changed as part of fixing Chrome's behavior (https://crbug.com/646902). We'll upload those when they are committed in Blink.

[2016-09-20 01:34] ddorwin opened #3763 "[eme] isInitDataTypeSupported() calls are not passing keysystem, causing false positives"
The following calls to `isInitDataTypeSupported()` do not pass the `keysystem` parameter, causing `requestMediaKeySystemAccess()` to fail for an `initDataType` value of `undefined` and thus report false.

In the case of `/generate-request-disallowed-input.js`, **no** tests are actually exercised on any browser.

[code]

[2016-09-20 01:43] ddorwin opened #3764 "[eme] Harden tests and utils against test bugs"
As demonstrated by #3763, it is easy for a simple bug or regression in the tests to cause tests to follow the wrong path and/or hide real failures. As it is, we cannot trust the results.

To help prevent this, we should be more careful to check inputs, `"use strict"`, and perhaps refactor some tests or utils.

As an example, in the case of #3763, `isInitDataTypeSupported()` should check that its p

[2016-09-20 01:50] ddorwin opened #3765 "[eme] Differentiate between unsupported features and successful test execution"
In some of the tests, especially negative tests, not supporting a feature may currently be considered a pass whereas that does not actually demonstrate correct implementation of the feature under test.

This is definitely true of the *-generate-request-disallowed-input.html tests and may be true for others. This contributed to the hiding of test bug #3763 where none of those tests were being run a

[2016-09-20 04:59] sandersaares commented on #3721
Re: Firefox and Edge - they have issues only with audio tracks. For Edge, I have filed Connect feedback ID 3101080 (private) and for Firefox https://bugzilla.mozilla.org/show_bug.cgi?id=1300069.

[2016-09-20 16:03] #3447 closed

[2016-09-20 16:31] mwatson2 commented on #3756
Pull Request #3774

This fails on Chrome, Firefox and Edge. I believe this is a known bug on Edge and that the license is indeed persistent. On Chrome and Firefox I don't know if the license gets persisted (and what the implications of this are) or whether it is treated just as a temporary license despite being marked as persistent.

Presently this is using a key also used for real content. This s

[2016-09-20 16:56] gsnedders opened #3775 "`./manifest` doesn't work without six installed"
https://github.com/w3c/wpt-tools/pull/112 fixes this. But until then the `manifest` script at the top of this repo needs `six` installed.

[2016-09-20 17:06] gsnedders opened #3776 "Improve Windows documentation"
Much of the current README doesn't work on Windows, partly because `#!/usr/bin/env python` is meaningless on Windows.

We could do with having better documentation as to how to run the scripts on Windows and how to install the dependencies.

[2016-09-20 17:07] gsnedders commented on #1537
WFM, at least. But I was using PowerShell, should check in `cmd.exe` too, which I think is pickier about separators, given that might affect `subprocess`. Will look later.

[2016-09-20 17:12] #3435 closed

[2016-09-21 03:34] appsforartists opened #3778 "PointerEvents should test pressure with valid values for event.buttons"
`pressure` should be 0 unless a button is down (https://github.com/w3c/pointerevents/issues/146).  The current tests try to [assert that pressure](https://github.com/w3c/web-platform-tests/blob/12125b3271a2458baa5fb137136410b4af086309/pointerevents/pointerevent_constructor.html#L52) can be set without also setting `event.button=0; event.buttons=1;`

Making this test more realistic will make it eas

[2016-09-21 07:38] ddorwin commented on #3765
Perhaps a result of `NOTRUN` would be appropriate for such cases.

There are currently problems with this results, though, as in #3735:
* `NOTRUN` can only be returned if `test.done()` is called without any assertions being tested.
  * Not asserting would be difficult to maintain and could prevent some hardening mechanisms (#3764).
* `NOTRUN` appears as a timeout in the test report.

[2016-09-21 07:40] ddorwin commented on #3735
`NOTRUN` might be ambiguous with unsupported features if we decide to use it for #3765.

[2016-09-21 08:01] mwatson2 commented on #3765
In #3763 I was not able to get NOTRUN to be returned for individual tests on the page. I think this leaves us with the option of simply not running the tests for unsupported parameter combinations, so no results for those test names will appear in the final test results.

[2016-09-21 09:04] mwatson2 commented on #3583
Stefan Pham is working on:

- encrypted-media-clear-key-invalid-license.html
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-onencrypted.html
- encrypted-media-session-closed-event.html
- encrypted-media-unique-origin.html

[2016-09-21 09:11] mwatson2 commented on #3763
PR #3779

[2016-09-21 09:16] mwatson2 opened #3781 "[eme] Add test for alternating clear and encrypted content within a file"
Test media should have alternative clear and encrypted movie fragments (with appropriate interleaved Initialization Segments). There should be two tests, one with the first fragment encrypted and one with the first fragment clear.

For extra credit, there are two versions of these tests, one where the clear fragments are normal clear media (with interleaved Initialization Segments as noted above)

[2016-09-21 11:26] #3775 closed

[2016-09-21 15:38] squapp commented on #3583
PR #3790 for

- encrypted-media-clear-key-invalid-license.html
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-onencrypted.html
- encrypted-media-unique-origin.html

Working on these next:
- encrypted-media-waiting-for-a-key.html
- encrypted-media-reset-src-after-setmediakeys.html
- encrypted-media-session-closed-event.html
- encrypted-media-waiting-for-a-key.html

[2016-09-22 01:49] sukhmal commented on #3583
PR #3795 for

- encrypted-media-setmediakeys-again-after-playback.html
- encrypted-media-setmediakeys-again-after-resetting-src.html
- encrypted-media-setmediakeys-at-same-time.html
- encrypted-media-setmediakeys-multiple-times-with-different-mediakeys.html
- encrypted-media-setmediakeys-multiple-times-with-the-same-mediakeys.html
- encrypted-media-setmediakeys-to-multiple-video-elements.html
- en

[2016-09-22 08:34] louaybassbouss commented on #3527
agree with @tidoust, @mariuswsl can you fix this issue?

[2016-09-22 08:36] louaybassbouss commented on #3524
agree with @tidoust, @taff-franck can you fix this issue?

[2016-09-22 08:36] louaybassbouss commented on #3522
@yhe39 can you check this?

[2016-09-22 08:40] louaybassbouss commented on #3521
agree with @tidoust, @mariuswsl can you fix this issue as @tidoust proposed?

[2016-09-22 08:44] louaybassbouss commented on #3294
We can close this issue since it is fixed in PR #3533

[2016-09-22 08:44] #3294 closed

[2016-09-22 15:35] squapp commented on #3583
PR #3799 for

- encrypted-media-waiting-for-a-key.html
- encrypted-media-reset-src-after-setmediakeys.html
- encrypted-media-session-closed-event.html
- encrypted-media-update-disallowed-input.html

Next (and last test):
- encrypted-media-syntax.html

[2016-09-23 01:22] Honry commented on #3522
@louaybassbouss, @yhe39 has moved to another domain, I will take care of this.

[2016-09-23 21:20] jdsmith3000 opened #3818 "Minor: DRM tests with Clear Key in title and message handler comment/src"
encrypted-media\drm-not-callable-after-createsession.html:
- Line 17:
- Line 18:     script src=/encrypted-media/util/clearkey-messagehandler.js></script>

encrypted-media\drm-keystatuses-multiple-sessions.html:
- Line 5:     <title>Encrypted Media Extensions: Successful Playback, Temporary session with Clear Key, mp4, multiple keys for audio/video</title>
- Line 21:

encrypted-media\drm-mp4-playb

[2016-09-26 17:05] mwatson2 opened #3825 "[eme] Add test for expired license"
Test that playback using an expired license fails (an expired license can be obtained using the code in PR #3798).

[2016-09-26 17:08] mwatson2 opened #3826 "[eme] Test failure during playback when a license expires"
When a license expires during playback, playback should fail. A license with a specific expiry time can be obtained with the code in PR #3798.

This test may be tricky to make reliable, since we only have 10 seconds of content and will need to set the expiration and start playback such that expiration occurs during playback. Likely the expiration will need to be set 10-15s in the future, to give t

[2016-09-26 17:27] gsnedders opened #3827 "Document assumptions and add tests for them"
It would be beneficial to have a proper list of what the tests assume about the browsing environment to ensure people are running the tests correctly and getting correct results.

See, for example, https://github.com/w3c/csswg-test/issues/1097 when it comes to issues related to this.

The CSS test suite home pages have a list of assumptions, for example at http://test.csswg.org/suites/css21_dev/ni

[2016-09-26 18:53] #3756 closed

[2016-09-26 22:37] mwatson2 commented on #3706
Presently, we are using `forceTestFailureFromPromise` for various kinds of unexpected failure. This forces a TIMEOUT. We could use the same thing here (In fact, I don't think we have much choice).

[2016-09-27 11:42] zcorpan opened #3829 "Test form data set with multiple submit buttons"
From https://github.com/whatwg/html/issues/1821

html/semantics/forms/form-submission-0/ is probably the right place to put/extend tests.

Something like http://software.hixie.ch/utilities/js/live-dom-viewer/saved/4517

Also file a bug against Edge.

cc @davidMuir

[2016-09-27 15:39] louaybassbouss commented on #3818
can this issue be closed?

[2016-09-27 17:52] #3818 closed

[2016-09-27 20:40] jdsmith3000 commented on #3583
Since the last file is in work to be migrated, I'd like to move the remaining Google tests into a disabled subfolder, and comment out the test harness lines so they don't run.  Okay?

These files are currently still in the Google folder:

- encrypted-media-clear-key-invalid-license.html
- encrypted-media-clearkey-update-non-ascii-input.html
- encrypted-media-onencrypted.html
- encrypted-media-rese

[2016-09-27 20:41] wisniewskit opened #3834 "XHR event-readystatechange-loaded.htm test needs a reality check."
Chrome is somehow passing the test XMLHttpRequest/event-readystatechange-loaded.htm despite actually firing multiple LOADING events, as is evidenced on sites like https://edupad.ch/ through careful debugging, or just by reading their [source code](https://chromium.googlesource.com/chromium/blink/+/master/Source/core/xmlhttprequest/XMLHttpRequest.cpp#478).

In addition, Firefox [recently found](htt

[2016-09-27 22:44] #3706 closed

[2016-09-28 08:04] louaybassbouss commented on #3765
I think it is important to ensure that all tests are displayed in the report. Example: let say you have 100 tests and Browser A runs 80 tests and Browser B runs 70 (subset of the 80) in the test report 20 tests will not be displayed.

[2016-09-28 08:16] louaybassbouss commented on #3765
@ddorwin `NOTRUN` background color in the same as for `TIMEOUT` (orange) in the test report but the content is still different.

[2016-09-28 08:55] hallvors commented on #3834
Ugh. Anyone knows how the test could capture what Blink is actually doing here?

[2016-09-28 10:12] louaybassbouss commented on #3735
unsupported mandatory features should fail

[2016-09-28 11:17] louaybassbouss commented on #3718
I think it makes sense in this case to use `NOTRUN` instead of `FAIL`. But if these are temporary errors, it is important to ensure that at the time of generating the report using the test runner http://w3c-test.org/tools/runner/index.html all involved 3rd party components are running and working correctly.

[2016-09-28 14:32] mwatson2 commented on #3718
I was not able to work out how to make an individual test return NOTRUN. Do you know how to do this ?

[2016-09-28 14:33] mwatson2 commented on #3735
What about unsupported option features ?

[2016-09-28 18:57] wisniewskit commented on #3834
I don't think the test should have to concern itself with Chrome; flipping the test's expectation around to match the spec (which just updated) should be enough to fix it. Firefox, WebKit, and Edge should all pass it in that case.

However, Chrome *will* fail the test if its expectation is simply flipped. They'll either have to just fix that and match other browsers and the spec, or chime in and e

[2016-09-28 20:54] mwatson2 opened #3843 "[eme] Refactor messagehandler"
The messagehandler class / method was implemented quickly under a previous deadline and has since been extended repeatedly to support new requirements, including:

- explicit assetIds and variantIds
- different session types
- expiration times

The resulting code is messy and difficult to understand. It would benefit from a fresh approach.

[2016-09-29 00:09] jdsmith3000 commented on #3583
@mwatson2 @sukhmal Any objections to pulling these now?  I believe they only pass on Chrome, and it would be best to focus on the migrated tests now.

[2016-09-29 00:12] mwatson2 commented on #3583
Fine by me to disable them now.

[2016-09-29 03:36] schien opened #3844 "Should skip presentation.defaultRequest test if not supported by browser"
According to the second note of section 6.2.1 [1], setting presentation.defaultRequest should take no effect if browser doesn't support it. We should run the test steps related to defaultRequest in controlling-ua/idlharness.html only if browser supports it.

[1] https://w3c.github.io/presentation-api/#controlling-user-agent

[2016-09-30 09:51] foolip opened #3850 "High-value interop tests in old-tests/submission/Opera/script_scheduling"
http://w3c-test.org/old-tests/submission/Opera/script_scheduling/035.html
http://w3c-test.org/old-tests/submission/Opera/script_scheduling/040.html
http://w3c-test.org/old-tests/submission/Opera/script_scheduling/080.html
http://w3c-test.org/old-tests/submission/Opera/script_scheduling/083.html
http://w3c-test.org/old-tests/submission/Opera/script_scheduling/084.html
http://w3c-test.org/old-tests/

[2016-10-03 17:42] jdsmith3000 commented on #3583
@squapp I see you are working:

- encrypted-media-syntax.html

https://github.com/w3c/web-platform-tests/pull/3846 moves all of the remaining Google tests into the disabled folder and comments out the test harness links so that they no longer run.  I plan to merge that change in later today.  FYI.

Do have an ETA for this last test?

[2016-10-03 18:09] mwatson2 commented on #3765
I'm not sure we have a good way to do this in the current test framework. I suggest for the moment that such tests simply return TIMEOUT (as for various other failures).

[2016-10-03 18:11] #3763 closed

[2016-10-03 18:13] mwatson2 commented on #3735
This duplicates #3765

[2016-10-03 18:13] #3735 closed

[2016-10-03 21:01] jdsmith3000 commented on #3583
The Google tests have now all been disabled, but migration work is not yet completed.  Re-opening this issue until that is done.

[2016-10-03 21:27] mwatson2 commented on #3781
PR #3862

[2016-10-03 22:47] mwatson2 commented on #3825
PR #3863

[2016-10-04 11:01] zcorpan opened #3867 "Add ability to test with popup blocker enabled"
See https://github.com/whatwg/html/pull/1854

It would be good to be able to somehow test the behavior of window.open with the popup blocker enabled (not just for the return value, but also to test *when* the popup is being blocked, for cases that don't need to be manual).

[2016-10-04 13:34] squapp commented on #3583
@jdsmith3000 encrypted-media-syntax.html will be completed by tomorrow, Wednesday

[2016-10-04 15:54] mwatson2 commented on #3760
PR #3868

[2016-10-04 18:55] mwatson2 commented on #3843
PR #3870

[2016-10-04 23:17] #3760 closed

[2016-10-05 00:00] #3781 closed

[2016-10-05 00:00] #3825 closed

[2016-10-05 16:42] squapp commented on #3583
PR #3874 for the last test: encrypted-media-syntax.html

[2016-10-05 18:30] jdsmith3000 commented on #3843
Please briefly comment on the usage of assetIds and especially variantIds in the test suite.

[2016-10-05 19:40] mwatson2 commented on #3843
assetId and varientId are configured against each key in the DRMToday database.

With proxy server or test dummy authentication, the DRMToday server identifies the required key(s) by key id (it returns all the keys with the same assetId and variantId as the requested one).

This model doesn't work with upfront token authentication (which we need to obtain licenses with expiration of our choice). I

[2016-10-06 00:56] ddorwin commented on #3718
These tests now fail for a different reason:

The problem is that the Key System wrapper for Widevine in drm-messagehandler.js assumes that the `response` object as a `license` member but this is not the case for the release acknowledgement response. Thus, `undefined` is passed to `atob`.

This logic appears to be specific to the DrmToday server. The JSON of the response does not contain the `lice

[2016-10-06 01:53] ddorwin opened #3877 "[eme] drm-keystatuses-multiple-sessions.html appears broken"
https://www.w3c-test.org/encrypted-media/drm-keystatuses-multiple-sessions.html times out in Chrome. In the console, I see a 403 followed by an exception:

utils.js:129 Uncaught (in promise) TypeError: test.force_timeout is not a function(…)

@mwatson2, any thoughts?

[2016-10-06 02:05] mwatson2 commented on #3877
This is probably a variantId thing. I'll look into it.

Btw, the keystatuses tests are failing on Chrome because of the lack of the keystatuseschange event after close().

[2016-10-06 02:12] mwatson2 commented on #3718
@ddorwin What does the Widevine CDM expect as an acknowledgement message ? Is it something that can only be created by the server ?

[2016-10-06 03:36] ddorwin opened #3878 "[eme] drm-mp4-playback-temporary-encrypted-clear-sources.html needs a longer timeout"
https://www.w3c-test.org/encrypted-media/drm-mp4-playback-temporary-encrypted-clear-sources.html is timing out on all three browsers. In Chrome, it plays three or four videos then reports TIMEOUT. When it played three, the fourth played after the TIMEOUT was reported. I'm guessing it needs more time.

The Clear Key version may just barely pass because it does not need to fetch licenses.

Another o

[2016-10-06 05:28] ddorwin commented on #3878
We should also/instead make the playbacks take less time. The current test is likely too long to be run as part of automated browser tests. This would eliminate the need to extend the timeout, thought it may still make sense to split the test up depending on the purpose of the four playbacks.

[2016-10-06 16:51] mwatson2 commented on #3878
PR #3882

The purpose of the test is to check that the same media element can be used to play, alternately, separate encrypted and clear sources. We can reduce the playback time needed to 0.5s and reduce the number of playbacks to 3 instead of 4 (So, we will test encrypted, clear, encrypted).

[2016-10-06 16:52] #3843 closed

[2016-10-06 17:02] mwatson2 commented on #3877
PR #3883

[2016-10-06 17:53] #3877 closed

[2016-10-06 18:51] #3878 closed

[2016-10-06 18:58] jdsmith3000 opened #3912 "Typo Corrections"
encrypted-media/scripts/syntax-mediakeysession.js
-	Line 204: Add “;” after “reject(error)”

encrypted-media/scripts/syntax-mediakeysession.js
-	Line 435: Add “;” after “resolve()”

encrypted-media/scripts/syntax-mediakeysystemaccess.js
-	Line 136: Add “;” after “reject(error”

[2016-10-06 19:33] mwatson2 opened #3913 "[eme] Regression for PlayReady tests"
Playback tests are failing on Edge

[2016-10-06 20:19] mwatson2 commented on #3913
PR #3914

[2016-10-06 21:27] jdsmith3000 commented on #3912
Fixed in https://github.com/w3c/web-platform-tests/pull/3874, so this issue is no longer needed.

[2016-10-06 21:27] #3912 closed

[2016-10-06 22:26] #3913 closed

[2016-10-06 23:01] ddorwin opened #3915 "[eme] drm-mp4-playback-temporary-multikey-sequential.html times out due to missing duration"
drm-mp4-playback-temporary-multikey-sequential.html is timing out on all three browsers.

We found that `config.duration` is `undefined` in `onTimeupdate()`. Two issues:
 1. drm-mp4-playback-temporary-multikey-sequential.html does not specify `duration` like its peer, clearkey-mp4-playback-temporary-multikey-sequential.html.
 1. playback-temporary-multikey-sequential.js does not have `|| 0.5` like

[2016-10-06 23:22] mwatson2 commented on #3915
There are three kinds of test where the duration needs to be longer than a second or so. These are where we need to ensure playback continues through some transition. In the case of the multikey-sequential tests, its a transition through different keys, in the clear-encrypted test from clear to encrypted and in the encrypted-clear test the opposite. All of these should have durations configured (a

[2016-10-06 23:24] mwatson2 commented on #3915
PR #3916

[2016-10-06 23:52] #3915 closed

[2016-10-07 00:06] mwatson2 opened #3917 "[eme] Multikey-sequential test is unstabled"
As noted in this comment the [multikey-sequential](https://github.com/w3c/web-platform-tests/issues/3915#issuecomment-252115479) test is unstable on Chrome. This may be due to race conditions between the processing of the media and the retrieval of the license.

[2016-10-07 00:06] mwatson2 commented on #3915
I filed #3917 for the instability of the test on Chrome.

[2016-10-07 00:12] ddorwin commented on #3915
Don't those tests also have different JS files to implement and/or check the transition? It seems that having the external (in .html files) duration could cause bugs.

Thanks for filing the other issue. We'll look into it.

[2016-10-07 00:27] mwatson2 commented on #3915
I think actually the other issue was a test issue and I've proposed an update to the test.

My guess is that there is a race between the media processing and the license acquisition. If the former is faster, you get a waitingforkey event right at the start. This is valid, but in the test it triggers the second license acquisition.

What I'm proposing is to move the attaching of the media source un

[2016-10-07 16:24] #3917 closed

[2016-10-07 16:25] mwatson2 commented on #3583
The last PR for this has been merged.

[2016-10-07 16:25] #3583 closed

[2016-10-07 17:47] mwatson2 commented on #3826
Ok, so I created PR #3936 anyway. This tests a license expiring using the playDuration control (the absolute expiration control on DRMToday is not accurate enough to have the license expire during our short playback).

All three browsers fail on this, because they all continue playback, with timeupdates, past the expiration. Chrome / Firefox at least stop rendering video (continuing with audio onl

[2016-10-07 22:31] ddorwin opened #3938 "[eme] Tests should FAIL rather than TIMEOUT when a feature is not supported"
We should only see `TIMEOUT` in the results if the test did not complete, such as an event never fired. Otherwise, the tests should be `FAIL`. This makes it clearer that the test ran to some completion and differentiates from, for example, test problems. Timeouts are also harder to investigate since there is not clear failing assert in the test output.

Currently, the tests for the optional persis

[2016-10-08 00:27] jdsmith3000 commented on #3721
I'm not aware of any reason Edge should require a pssh box in either audio or video.  I am confirming, but at this point believe that any behavior that seems to require this would be a bug.

@ddorwin It does make sense to me that this be clarified in the spec, and adding a test for it would be useful for compliance testing, though perhaps not required to support the spec moving to PR.

[2016-10-08 01:10] cpearce commented on #3721
I have a test for this case in Firefox's mochitest harness (I fixed it recently):

[https://dxr.mozilla.org/mozilla-central/source/dom/media/test/test_eme_missing_pssh.html](https://dxr.mozilla.org/mozilla-central/source/dom/media/test/test_eme_missing_pssh.html)

We can convert that to a Web Platform Test.

[2016-10-08 04:35] mwatson2 commented on #3938
A lot of the time, Promise rejections are passed to forceTestFailureFromPromise which causes a TIMEOUT. We could change some of these to assert_unreached to achieve what you suggest.

[2016-10-08 23:38] cvrebert opened #3939 "DOM Node.contains testcase has inaccurate assertion description"
The assertion descriptions (https://github.com/w3c/web-platform-tests/blob/a514a0e8b352fd91aca059d1e939762294b20fe8/dom/nodes/Node-contains.html#L30 ) say "compareDocumentPosition" instead of "contains".

[2016-10-09 09:45] louaybassbouss opened #3940 "Access Test Server from devices in same Network using local IP address or `web-platform-test.local`"
For some APIs (e.g. Presentation API) we need to access the Test Server e.g. running on a PC from other devices in the Network. This is not possible since the Test server only allows specific domains (defined in host file, see [README.md](https://github.com/w3c/web-platform-tests#running-the-tests)). A possible solution is to advertise the Test Server in local Network using MDNS/DNS-SD (user tools

[2016-10-10 16:42] ddorwin opened #3953 "[eme] *-mp4-setmediakeys-multiple-times-with-different-mediakeys.html have syntax error"
[code]

There appears to be an extra `)` after a `then(` without a `test.step_func(`. I tried fixing it but ran into a couple other problems, so someone familiar with this test should look at it.

Also, is there a reason that not all of the resolve functions use `test.step_func()`?

[2016-10-10 16:54] mwatson2 commented on #3953
`test.step_func()` is only needed if the function body contains assertions.

[2016-10-10 17:02] mwatson2 commented on #3953
PR #3955

[2016-10-10 17:30] ddorwin opened #3956 "[eme] Four tests failing on Chrome with MSE-related uncaught InvalidStateError:"
http://www.w3c-test.org/encrypted-media/clearkey-mp4-playback-temporary-clear-encrypted.html,
http://www.w3c-test.org/encrypted-media/clearkey-mp4-playback-temporary-encrypted-clear.html, and the `drm-` equivalents fail on Chrome 53 and 56 with:
`Uncaught InvalidStateError: Failed to execute 'endOfStream' on 'MediaSource': The MediaSource's readyState is not 'open'.`

There is another exception be

[2016-10-10 17:36] mwatson2 commented on #3956
I believe Chrome dislikes the media and the media element and media source transition into a failed state.

So, the question is whether the media is non-compliant to the bytestream specification (and Firefox is just forgiving) or whether Chrome is failing on a compliant bytestream.

[2016-10-10 18:15] ddorwin commented on #3956
Chrome fails with "Video encryption changes not allowed" in chrome://media-internals/. These tests cover some of the scenarios in https://crbug.com/597443.

Firefox passes http://www.w3c-test.org/encrypted-media/clearkey-mp4-playback-temporary-clear-encrypted.html but fails http://www.w3c-test.org/encrypted-media/clearkey-mp4-playback-temporary-encrypted-clear.html. (The `drm-` results are the sam

[2016-10-11 15:11] #3953 closed

[2016-10-11 15:17] mwatson2 commented on #3956
Both of these are important use-cases where I think we should be clear about whether they are required to be supported or not in the specification. If we don't already have two passing implementations for (some form of) these use-cases, we need to mark as "feature-at-risk" in the new CR.

- Clear lead-in is often used for speeding up playback start.
- Clear content in the middle of playback is use

[2016-10-11 15:53] jdsmith3000 opened #3960 "requestMediaKeySystemAccess tests should not include the keySystem in the subtest names"
14 tests show up in the "Less than 2" report because they have "playready" or "microsoft" in the subtest names.  The subtest names could add more descriptive text without including the keySystem, and that would eliminate these false "less than 2" results.

These subtests currently report as single implementations because of this:

drm, requestMediaKeySystemAccess: Key System ending in "." (com.mic

[2016-10-11 16:20] mwatson2 commented on #3960
PR #3962

[2016-10-11 16:25] mwatson2 commented on #3826
@jdsmith3000 I wonder if someone at MS could look at the license that is being returned for PlayReady in this test and check that it has the specified play duration limit ?

[2016-10-11 17:44] #3960 closed

[2016-10-11 23:47] jdsmith3000 commented on #3721
@cpearce: Are you preparing a PR for adding this test?

[2016-10-11 23:56] jdsmith3000 commented on #3740
Since this is keySystem specific, should it be formalized in one of our EME tests?  It would demonstrate that EME can accommodate the scenario, but my instinct would be to not include things like this in the test suite.

[2016-10-11 23:59] jdsmith3000 commented on #3764
I agree with making this VNext.

[2016-10-12 00:07] jdsmith3000 commented on #3826
I will confirm.

[2016-10-12 08:39] #3527 closed

[2016-10-12 09:25] #3120 closed

[2016-10-12 10:18] squapp opened #3970 "[eme] additional syntax tests"
in addition to #3874 it might be worthwhile adding additional syntax tests:
Right now syntax tests test the creation of MediaKeySystemAccess, MediaKeys and MediaKeySession objects with various valid (object is created) and invalid (exception thrown) arguments.
In case of valid arguments, the object is created and members of this object are checked. If only one of the members is missing for the obj

[2016-10-12 16:47] mwatson2 commented on #3718
@ddorwin CastLabs tell me that the response we are seeing now is everything they are given by the Widevine server. So, I am wondering if the Widevine CDM expects some kind of "default" acknowledgement, rather than something from the server ?

[2016-10-12 18:29] #3956 closed

[2016-10-13 16:43] ddorwin commented on #3956
Specifying this is tracked as https://github.com/w3c/encrypted-media/issues/251. Ad insertion is probably the most relevant use case.

Clear lead-in can be implemented by not encrypting those frames within an "encrypted" stream. Chrome supports that fine. (If we don't have a test for this, we might want to add one, though this is more validation of proper handling of the container than EME.)

This

[2016-10-14 04:13] tomoyukilabs commented on #3844
@schien Section 6.2.1 says "Controlling user agents must implement the following partial interface" (i.e. `defaultRequest` attribute). Therefore, I think controlling-ua/idlharness.html should check `navigator.presentation.defaultRequest`, whether browser supports it or not.

[2016-10-14 06:47] schien commented on #3844
However, in the second note it says "setting presentation.defaultRequest" should take no effect. I take this sentence as "assigning value to defaultRequest will be no-op", which means presentation.defaultRequest will still be null after the assignment. That's my interpretation.

[2016-10-14 08:11] tomoyukilabs commented on #3844
I'm afraid that the spec might look ambiguous. I regard it as "Although the `defaultRequest` property can be set to any instance of `PresentationRequest` or `null`, browsers which do not support `defaultRequest` will never refer to its value unless a script accesses it directly".

[2016-10-14 23:37] jdsmith3000 commented on #3970
Do I understand correctly that the main benefit of this change is completeness of what's failing?  As in, it saves fixing the first syntax fail today, only to discover another, and another...?

If so, this feels like a preferred test implementation; but timing for it is tight.  It might belong in VNext.

[2016-10-15 08:44] kilikkuo commented on #3970
Hi, I'm not sure if another issue should be created for my concern. So I'll just leave my question below, hope to get a response.  Please let me know if I'm asking in a wrong procedure or place.

Regarding the syntax check against **MediaKeySession.load**,  currently EME spec just mentioned that the **Session ID should be sanitized (at a minimum, to check that the length and value are reasonable)*

[2016-10-15 22:24] ddorwin commented on #3970
The `sessionId` (parameter](https://w3c.github.io/encrypted-media/#dom-mediakeysession-load) and [attribte](https://w3c.github.io/encrypted-media/#dom-mediakeysession-sessionid) are defined as a DOMString. There

[2016-10-15 22:34] ddorwin commented on #3970
The sessionId [parameter](https://w3c.github.io/encrypted-media/#dom-mediakeysession-load) and [attribute](https://w3c.github.io/encrypted-media/#dom-mediakeysession-sessionid) are defined as a `DOMString`. Other types should be a `TypeError`.

For the string parameters, the `TypeError` probably occurs because temporary sessions, which are the only ones supported by Clear Key implementations, do n

[2016-10-15 22:46] ddorwin opened #3982 "[eme] Syntax tests should expect remove() to work for all session types"
The `remove()` tests in `syntax-mediakeysession.js` expect that "remove() on a temporary session should fail." However, the behavior of [`remove()`](https://w3c.github.io/encrypted-media/#remove) was changed such that it works for all session types.

Chrome will fail the corrected test currently: https://bugs.chromium.org/p/chromium/issues/detail?id=616166

[2016-10-15 22:50] ddorwin opened #3983 "[eme] Need tests for MediaKeySession methods when session is closed"
The `MediaKeySession` methods share the following step:

This does not appear to be covered in the syntax tests (`syntax-mediakeysession.js`). Is it covered in other tests?

[2016-10-16 09:19] vitalets commented on #2161
Just for reference - in Chrome there is [chrome.debugger extensions API](https://developer.chrome.com/extensions/debugger) that exposes to Javascript the same API as used by Chromedriver via remote debugging protocol. It allows to dispatch native events from Javascript. Maybe Marionette will expose similar for unification?

Exactly that API I'm using in implementation of such "circular" Javascript

[2016-10-17 07:10] tidoust commented on #3522
Closing the issue. Addressed by #3821.

[2016-10-17 07:10] #3522 closed

[2016-10-17 18:51] mwatson2 commented on #3718
This was a server side issue which is now resolved.

[2016-10-17 18:51] #3718 closed

[2016-10-17 19:05] ddorwin commented on #3982
Note that the current spec algorithm would result in a `TypeError`, which is not what is intended: https://github.com/w3c/encrypted-media/issues/337.

[2016-10-17 22:19] ddorwin opened #3993 "[eme] Why does playback-temporary-multikey-multisession.js wait for pause, waiting, and stalled?"
`playback-temporary-multikey-multisession.js` currently has the following `playing` event handler:
[code]
`onStopped()` generates a new session if necessary.

Is this supposed to handle the case where playback is blocked waiting for a key? If so:
 * Of those three events, it appears that only `waiting` could possibly be fired as a result (see [Event Summary](https://html.spec.whatwg.org/multipage/

[2016-10-17 22:20] ddorwin commented on #3993
Note that the `onWaitingForKey()` event handler only logs to the console.

[2016-10-17 22:43] ddorwin opened #3995 "[eme] Test Attempt to Resume Playback If Necessary algorithm, including readyState"
While we have a test for `readyState` when waiting for a key, we do not have a test that covers resuming (or attempting to resume). Specifically, the steps [Attempt to Resume Playback If Necessary](https://w3c.github.io/encrypted-media/#resume-playback) algorithm.

The obvious test is to check that `readyState`  becomes `HAVE_CURRENT_DATA` or higher. It should also ensure the correct events are fi

[2016-10-17 22:49] ddorwin opened #3996 "[eme] Cover all paths to the Wait for Key algorithm"
There are at least four interesting paths to the Wait for Key algorithm:
 1. "If the media element's mediaKeys attribute is null and the implementation requires specification of a MediaKeys object before decoding potentially-encrypted media data"
  * (Note: The algorithm containing this step may change due to https://github.com/w3c/encrypted-media/issues/333.)
 1. Attempt to Decrypt at the beginni

[2016-10-17 23:35] mwatson2 commented on #3993
A better question is why this file is in the repo at all ;-)

This was a pre-cursor to the multikey-sequential test (which does indeed only way for `waitingforkey`). This script should have been removed when that was introduced. It is not used by any of the actual tests.

[2016-10-17 23:42] mwatson2 commented on #3993
PR #3997

[2016-10-17 23:46] mwatson2 commented on #3983
No, I don't think this is covered in any test at present.

[2016-10-18 01:40] ddorwin commented on #3982
The spec bug has been fixed, so we can move forward with correcting the test expectations.

[2016-10-18 08:34] sideshowbarker opened #4000 "Drop any html/semantics/embedded-content/media-elements/interfaces that duplicate html/dom/interfaces.html tests"
The preferred way to test WebIDL conformance for implementations of interfaces is using [idlharness.js](https://github.com/w3c/testharness.js/blob/master/idlharness.js)-based tests, but we have tests in [html/semantics/embedded-content/media-elements/interfaces](https://github.com/w3c/web-platform-tests/tree/master/html/semantics/embedded-content/media-elements/interfaces subtree) that possibly du

[2016-10-18 12:17] Ms2ger opened #4002 "Split up html/dom/interfaces.html"
See comments starting at https://github.com/w3c/web-platform-tests/pull/3999#issuecomment-254416097

[2016-10-18 12:20] Ms2ger commented on #4002
Right now, you can use the script from <https://github.com/w3c/testharness.js/blob/5ed9b8fec6ca35d1281117c4fab7fa55d25e847b/docs/idlharness.md> to update everything at once; that may not be as obvious in a split test

[2016-10-18 12:20] Ms2ger commented on #4002
CC @foolip @sideshowbarker @jgraham

[2016-10-18 12:31] foolip commented on #4002
I didn't know there was a script, and it would be a bad idea to make it harder to keep tests in sync with the spec.

@mdittmer is working on some tools to scrape IDL from specs in order to compare them with Blink. I wonder if that could be put to use for also keeping IDL in web-platform-tests in sync with their specs?

Any new interface would have to end up *somewhere*, but maybe its initial locat

[2016-10-18 12:33] smaug---- opened #4003 "PresentationRequest_error.html is buggy"
Per Presentation API 'new PresentationRequest(null);' should not throw. null converts to string "null", following the normal WebIDL rules.

https://github.com/w3c/web-platform-tests/pull/3063

[2016-10-18 15:54] #3993 closed

[2016-10-18 18:57] ddorwin opened #4011 "[eme] playback-persistent-license-events.js does not allow for a server certificate request"
https://w3c-test.org/encrypted-media/drm-mp4-playback-persistent-license-events.html uses `playback-persistent-license-events.js`, which currently expects the following actions and events:
[code]
Chrome OS 54.0.2840.51 has the following results:

**1: "license-request"**
**2: "license-request-response"**
**3: "updated"**
4: "license-request"
5: "license-request-response"
6: "updated"
7: "keystatus

[2016-10-18 19:01] ddorwin commented on #4011
I suspect this would be an issue with any test that records such actions/events on a client that requires a server certificate. We just haven't analyzed all other tests on such clients.

Ideally, we can find a generic pattern to handle this. or example, if "license-request" is received and the last entry is "updated", remove the last three events. For robustness, we could compare the three events

[2016-10-18 19:33] mwatson2 commented on #3982
PR #4012

[2016-10-18 19:56] mwatson2 commented on #4011
PR #4013

[2016-10-18 20:03] #3982 closed

[2016-10-18 20:34] #4011 closed

[2016-10-18 20:53] ddorwin commented on #4011
Note that while the fix in #4013 should correctly handle successes, it can be confusing in the case of failures where there are less "real" events than expected, as is the case in the Chrome OS example above.

In order to correctly skip the "duplicate" events, Chrome OS would need to produce 15 events to allow 15 - 8 = 7 events to be checked.

[2016-10-18 22:11] mwatson2 commented on #4011
@ddorwin Ok, so how about #4014 ?

[2016-10-19 16:00] mwatson2 commented on #3938
It appears that we could just replace the call to `forceTestFailureFromPromise` with an `assert_unreached` (wrapped in a `step-func`) and then we get `FAIL` rather than `TIMEOUT`.

I'm not sure now why the `forceTestFailureFromPromise` approach is used at all. It was inherited from the Google tests. Does anyone have any insight ?

[2016-10-19 16:37] mwatson2 commented on #3938
PR #4023 appears to work, but I do not fully understand the comment in `forceTestFailureFromPromise`, so I may be missing something.

[2016-10-19 20:23] jrummell-chromium opened #4026 "[eme] Expired license test fails with Widevine due to incorrect license"
The test https://www.w3c-test.org/encrypted-media/drm-mp4-playback-temporary-expired.html is failing on Chrome 56.0.2895.0 (latest canary build) with:
assert_approx_equals: expiration attribute should equal provided expiration time expected 1476901853505 +/- 2000 but got NaN

In investigating the reason for the failure, the license provided to update() contains a license that never expires, so ret

[2016-10-19 20:36] ddorwin opened #4027 "[eme] drm-temporary-license-type.html does not request correct license type"
https://www.w3c-test.org/encrypted-media/drm-temporary-license-type.html is a negative test that is supposed to provide a persistent license for a `"temporary"` session. For Widevine, the license that is obtained is not really persistent, so `update()` succeeds rather than failing as expected. It appears that the `storeLicense` property in the request (`drm-messagehandler.js`) is not resulting in

[2016-10-19 20:52] mwatson2 commented on #4027
License generated with `storeLicense` set to true are accepted by `persistent-license` sessions on ChromeOS, though, and are persisted at least long enough to be retrieved and used in a different window. So, in what sense are they not really persistent ?

[2016-10-19 21:01] mwatson2 commented on #4026
This is a regression. Plus the test is rather difficult to construct with the existing server support, where I often see clock skew and it rounds up the provided expiration time to (it's view of) the current time.

[2016-10-19 21:09] mwatson2 commented on #4026
I think PR #4028 should fix it but welcome your comments.

[2016-10-19 21:15] ddorwin commented on #4027
I don't know what the DrmToday server is doing, but I would guess that there is additional logic that is evaluating information in the license request that is different on Chrome OS. `storeLicense` probably needs to override that logic too.

[2016-10-19 21:24] jrummell-chromium commented on #3938
When we started the Chrome tests, there was no promise_test functionality in the test framework, so all the tests were async_tests. When an error was detected (e.g. an unexpected event) the test would simply waste time waiting for the test timeout to occur (which was 30 or 40 seconds). This was an attempt to make the test stop as soon as an error was detected.

From what I recall, calling test.don

[2016-10-19 21:28] mwatson2 commented on #3938
On Wed, Oct 19, 2016 at 2:24 PM, jrummell-chromium <notifications@github.com

(wrapped in a step_func) actually does is set the state of the test to FAIL
and then call test.done().

...Mark

[2016-10-19 21:31] #3938 closed

[2016-10-19 22:07] jrummell-chromium opened #4029 "[eme] createSession('persistent-license') failures not handled properly"
The test https://w3c-test.org/encrypted-media/clearkey-mp4-syntax-mediakeysession.html is failing on Chrome 56.0.2895.0 (latest canary build) with:
[code]
The problem appears to be function test_generateRequest() which calls:
[code]
where testCase.func is "return mk.createSession('persistent-license');" Since createSession() doesn't create a promise, it throws NotSupportedError on unsupported sess

[2016-10-19 22:20] jrummell-chromium opened #4030 "[eme] Expecting wrong error in update-disallowed-input.js"
The test https://w3c-test.org/encrypted-media/clearkey-mp4-update-disallowed-input.html is failing on Chrome 56.0.2895.0 (latest canary build) with:
[code]

The code in scripts/update-disallowed-input.js is checking for 'InvalidAccessError' when it fails, but according to the spec it should be 'TypeError' (http://w3c.github.io/encrypted-media/#dom-mediakeysession-update, step 6.2).

[2016-10-19 22:22] jrummell-chromium commented on #4030
Same issue with https://w3c-test.org/encrypted-media/clearkey-update-non-ascii-input.html.

[2016-10-20 02:52] SingingTree opened #4031 "[eme] Requests to DRMToday license servers are being rejected with 403"
I am seeing many test failures occurring due to 403 responses from requests to https://lic.staging.drmtoday.com/license-proxy-widevine/cenc/.

Examples for failing tests:
- http://www.w3c-test.org/encrypted-media/drm-mp4-playback-temporary.html
- http://www.w3c-test.org/encrypted-media/drm-mp4-playback-temporary-setMediaKeys-after-src.html

Has anything changed in how the test code or that endpoin

[2016-10-20 03:04] SingingTree commented on #4031
I've just tested this on another machine and it does not appear to be happening on that machine, though it is still taking place on the original machine.

[2016-10-20 03:14] gbrmachado commented on #3939
Hello. I've created a PR to fix it.

[2016-10-20 03:27] #3939 closed

[2016-10-20 09:25] #3521 closed

[2016-10-20 13:07] tidoust opened #4039 "Test on presentation.defaultRequest may crash without reporting results"
A couple of bugs on the [defaultRequest_success-manual.html](https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/defaultRequest_success-manual.html) test:
1. The test assumes that the `PresentationRequest` constructor exists and will crash with no way to report results if it is run on a user agent that does not support the Presentation API at all. Wrap the call to

[2016-10-20 13:27] tidoust opened #4040 "PresentationConnection_onxxx tests are incorrect"
The tests on the `close`, `connect` and `terminate` events are incorrect for different reasons:
1. All 3 tests assume that the events will fire. The test will never fail if they don't (harness timeout is disabled because it is a manual test). There needs to be a call to `step_timeout` somewhere to restart the timeout and ensure the test fails if events are not fired.
2. The test on `connect` calls

[2016-10-20 13:43] tidoust opened #4041 "reconnectToPresentation_success-manual test is incorrect"
The [reconnect to a presentation](https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/reconnectToPresentation_success-manual.html) test needs to be updated:
1. It should not use `localStorage`: it may not be supported and there does not seem to be any need for it (unless the goal is to test reconnection after a refresh of the page, which could be the purpose of an

[2016-10-20 15:10] mwatson2 commented on #4031
I think it's due to clock skew. We set our auth token creation time to Date.now() and the server rejects tokens it thinks we're created in the future.

I made a fix for this yesterday, but it may still be in a PR. I will check shortly.

[2016-10-20 18:58] SingingTree commented on #4031
I'll have a look at the timing information on both machines. I've been logging the network traffic for the request, and see nothing is jumping out at me as inconsistent between the working machine and the failing machine in the requests. Both machines were running against the live code, so it doesn't appear to be an all or nothing bug.

On of the things that I failed to mention and have edited int

[2016-10-20 21:03] mwatson2 commented on #4031
I think PR #4045 will fix it.

[2016-10-20 21:12] SingingTree commented on #4031
Cool, thanks for the update.

[2016-10-20 21:41] mwatson2 commented on #4031
I'll take your response as an "Approval" for the PR. Unfortunately, something seems broken with the WPT CI tool, so it will not let me merge ...

[2016-10-21 02:53] tomoyukilabs commented on #4039
Thanks for the review. I will fix these bugs after #4035 is merged.

[2016-10-21 07:43] schien opened #4048 "reconnectToPresentation_error-manual.html should catch the promise reject"
According to the spec reconnect to an unknown presentation Id should get a promise reject (NotFoundError), which we should add in https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/reconnectToPresentation_error-manual.html#L26

[2016-10-21 08:28] schien opened #4051 "[presentation-api] Provide a invalid URL that universally applies to all browsers"
In https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/PresentationRequest_error.html, ":invalid" can be interpreted as a relative URL. We can use "http://", which prevents browser to interpreted as a relative URL and is invalid to all browsers.

[2016-10-21 08:33] schien commented on #4051
pull request provided: https://github.com/w3c/web-platform-tests/pull/4052

[2016-10-21 15:00] domenic opened #4056 "wpt-stability-bot feedback"
wpt-stability-bot is amazing! Some minor things that would make it more amazing:

- Instead of a whole column for test, which is often empty, just use the test filename and overall results as a subheading; then you can do a two-column table and everything is less squished
- Translate the "OK: 10" "FAIL: 10" "PASS: 10" into something comprehensible. Maybe just removing the ": 10"?
- When writing th

[2016-10-21 15:10] jgraham commented on #4056
Hmm. We could probably manage with the filename as a subheading and the parent result in the table with an empty subtest name or similar. Putting the result in the heading sounds weird.

Just in the case where it matches the number of iterations? I suppose that might work. In general there's an issue that subtests might not even run sometimes so `PASS: 3` wouldn't count as stable.

Yeah, we discus

[2016-10-21 15:15] domenic commented on #4056
Ah, I had no idea the ": 10"s were number of successful/failed runs. I thought they were error codes or something. Yeah, omitting them when they're 10 makes sense. Otherwise, maybe "PASS (3/10 runs)" or "PASS (4/10 runs) FAIL (6/10)" would do the trick.

[2016-10-21 19:07] ddorwin commented on #4026
@mwatson2, per the second paragraph of the original report, the issue appeared to be that the license was configured incorrectly such that it had no expiration, not that the expiration was incorrect. Do you think this is caused by a timing issue with the request?

[2016-10-21 19:19] mwatson2 commented on #4026
@ddorwin No, that was caused by the third parameter to the message handler being `expiration` when it should have been `{expiration: expiration}`. I forgot to update this file when moving from positional parameters to an object. This is fixed in the PR.

[2016-10-21 19:53] ddorwin commented on #4026
Thanks for clarifying.

[2016-10-21 20:52] ddorwin opened #4058 "[eme] playback-temporary-events.js: Expected order of resolving close-related promises does not match the spec"
`playback-temporary-events.js`, which is used in `*-mp4-playback-temporary-events.html`, checks the order of resolution of the `closed` promise attribute and the promise returned by the `close()` call.

It currently expects the latter (logged as `'closed'`) to be resolved before the former (logged as `'closed-promise'`).

I believe the spec says the order should be the opposite. The [close()](http

[2016-10-21 21:44] ddorwin commented on #4029
PR #4059

[2016-10-21 22:07] ddorwin commented on #4029
@cpearce, it appears Firefox nightly was passing before this change. Using the test before this change, it appears Firefox incorrectly does not throw an exception for `createSession("persistent-license")` (see the first step of https://w3c.github.io/encrypted-media/#dom-mediakeys-createsession) then fails with an `InvalidAccessError` related to the initData. I think Firefox will fail with this PR

[2016-10-21 22:38] mwatson2 commented on #4027
The issue with this test seems to be that for some DRMs (at least Widevine), the type of the returned license is constrained by the server to match the type of the session (based on something in the license challenge). For these DRMs the server will never generate a persistent license for us to supply to a temporary session and there is no reason to make it do so just to test that it fails.

An al

[2016-10-22 01:18] ddorwin commented on #4027
This seems like a reasonable approach to covering the intent of the related spec text.

In the meantime, should we comment out inclusion of the testharness sources to prevent this test from appearing in the results?

[2016-10-22 01:31] ddorwin commented on #4030
@cpearce, I believe Firefox currently passes these tests and needs to be updated to use `TypeError`.

[2016-10-22 09:18] jgraham commented on #4056
Is the output at the bottom of https://github.com/w3c/web-platform-tests/pull/4055 an improvement?

[2016-10-24 18:15] domenic commented on #4056
The current output is great, thank you!

[2016-10-24 18:15] #4056 closed

[2016-10-24 18:41] #4031 closed

[2016-10-24 23:15] #4029 closed

[2016-10-24 23:43] #4030 closed

[2016-10-25 13:42] ayg commented on #4002
Two ways to have this still be easy to update:

1) Have the IDL in a separate include that's included by a few different files.  Each file somehow chops up the IDL, includes only one chunk as a tested IDL, and includes all other chunks as an untested IDL.

2) Write a different update script that does the chopping up and sticks the bits into the correct files.  This would have to be a command-line

[2016-10-25 15:06] #4026 closed

[2016-10-25 15:25] mwatson2 commented on #4058
I agree the test is currently incorrect. I will make a PR for this.

[2016-10-25 16:14] wisniewskit commented on #3729
These changes have since been made as part of the patch to fix the [related Firefox bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1303121).

[2016-10-25 16:14] #3729 closed

[2016-10-25 16:22] marado commented on #4027
From what I read of this comment, you're saying that the server seems to have a bug (according to the spec), as it will not generate a license. While you say that "there is no reason to make it do so", I have to disagree: the test seems to actually test something that is on the spec, the spec seems to define a behavior as it is wanted, and the way to test browser compliance is to actually test it.

[2016-10-25 16:30] mwatson2 commented on #4027
@marado In the Widevine case, the type of the session (indicated in the license challenge) overrides the request outside the challenge for a persistent license. The server *does* generate a license in this case and it is a temporary one, matching the session type.

If any change were to be made to the server, it would be to reject this request since the session types inside and outside the challen

[2016-10-25 17:22] marado commented on #4027
I'm sorry if my comments are off track, but I would like to understand this.

According to the spec, for generateRequest, a requested type is given (persistent-license, in this case), and, being a correctly formed request, the spec states:

Since the spec does not take the session type into account here, it seems to me that it is saying that, independently of whether the session is persistent or t

[2016-10-25 17:42] mwatson2 commented on #4027
There is no separate concept of license type in the specification, so what this means is the license type appropriate for the session type. Put another way, session type is all that is available at the client EME implementation to determine the license type.

and

We are not writing a specification for the server and the server is not the subject of our tests.

As written, the test is reliant on a

[2016-10-25 17:56] ddorwin commented on #4027
The purpose of the step this test covers is for the client to reject responses from the server that do not match the session type. If the server or protocol do not allow such invalid responses, it doesn't make sense to force them to support such responses just so that we can test that the client will reject them.

@mwatson2's proposal would check that either it is not possible to get such a respon

[2016-10-25 18:07] ddorwin opened #4075 "[eme] Clarify name and description of clear-encrypted and encrypted-clear tests"
It's not immediately clear from the filenames and descriptions of `*-mp4-playback-temporary-clear-encrypted.html` and `*-mp4-playback-temporary-encrypted-clear.html` what exactly they are testing. In some discussions, they have been grouped into the failing "temporary" tests.

These tests are testing the ability of an implementation to transition between encrypted and unencrypted segments (not jus

[2016-10-25 18:48] foolip commented on #4002
@tkent-google, did you ever investigate exactly how slow these tests are, and if putting them in SlowTests would suffice?

[2016-10-25 19:50] cdumez commented on #4002
To work around the issue, WebKit skips this test in debug builds.

[2016-10-25 20:54] jdsmith3000 commented on #4027
I agree with @ddorwin's stated purpose of the test (to confirm EME client behavior).  The license server behavior is perhaps unexpected, but seems an acceptable response to the conflict between license request and session type.

@mwatson2:  Is the suggestion to check the returned license before verifying whether it can be used or not workable?

[2016-10-25 21:54] mwatson2 commented on #4027
On Tue, Oct 25, 2016 at 1:54 PM, jdsmith3000 <notifications@github.com>
wrote:

​There's no way to check the returned license directly. The idea is to
check it by using it. If the server returns a temporary license the client
should accept it and then we should not be able to retrieve it with load()
in a later session. If the server returns a persistent license, the client
should not accept it.

S

[2016-10-25 23:49] tkent-google commented on #4002
@foolip
It seems I didn't try ```[Slow]``` specifier.
https://codereview.chromium.org/1149383002

[2016-10-26 02:17] gsnedders commented on #3827
@jgraham @Ms2ger @hrj (c.f. https://github.com/w3c/csswg-test/issues/1097) Do we want to use reftests for all of the CSS-related ones, given we probably want to make sure that UAs can run the tests even if their support for things like `getComputedStyle` isn't great? Obviously all device-specific things need to be manual, given many relate to the output device.

[2016-10-26 02:35] SingingTree opened #4079 "Expired license test's timeout too restrictive, races"
encrypted-media/drm-mp4-playback-temporary-expired.html uses the normal test time limit. However, the test has a number of waits in it, and when you get network latency on top of these waits it's possible to race on if the tests passes or times out.

I see fairly consistent failures when running against the live tests from NZ, and I'm able to reproduce this by serving locally, but introducing lag

[2016-10-26 03:21] ddorwin commented on #4079
Fixed by #4080.

[2016-10-26 03:21] #4079 closed

[2016-10-26 04:11] #4058 closed

[2016-10-26 07:59] tkent-google commented on #4002
Also, I tried enabling interfaces.html some weeks ago, and didn't enable it because its behavior wasn't stable.  The test creates a WebSocket object, and it shows a console error asynchronously.

As for splitting, how about adding filter argument to IdlArray.prototype.test?  For example, a file tests only interfaces starting with 'H', and another file tests anything else.
[code]

[code]

[2016-10-26 11:52] ayg commented on #4002
That sounds like a nice, stable way to split it up.  So have the IDL in a separate file that's included by a few different files (solution #1 above), and have a few test files that run various subsets based on patterns (just make sure that they collectively cover everything).

[2016-10-26 11:52] ayg commented on #4002
It creates a WebSocket object to test the WebSocket interface.  This should be harmless, right?

[2016-10-26 13:54] Ms2ger opened #4085 "Test for sniffing in @font-face"
In particular, sniffing with

* no `Content-Type`
* XML `Content-Type` (of various kinds)
* non-XML `Content-Type`

each of those

* without `XCTO: nosniff`
* with `XCTO: nosniff`
* with variants of `XCTO: nosniff` (various whitespace, case differences, comma-separated value)

[2016-10-27 03:31] ddorwin commented on #4027
The selected configuration currently used for this test doesn't allow `persistetState`, so an implementation would need to violate the spec in that way as well to store the license. (This is something we should cover in a separate test.)

Thus, we should request `persistentState` on clients that support it, falling back to not requiring it so the test runs (as Mark has proposed) on all clients. I

[2016-10-28 08:15] mozfreddyb opened #4099 "Update interfaces and reflection tests for integrity attributes on <link> and <script>"
Tests in https://github.com/w3c/web-platform-tests/blob/master/html/dom/interfaces.html and https://github.com/w3c/web-platform-tests/blob/master/html/dom/elements-metadata.js should be updated for Subresource Integrity.

See https://github.com/whatwg/html/pull/1984.

[2016-10-28 10:37] zcorpan opened #4103 "Test Location's members"
See https://github.com/whatwg/html/pull/1991#issuecomment-256883152

e.g. http://software.hixie.ch/utilities/js/live-dom-viewer/saved/4620 (this ends up with lots of nested `iframe`s in Gecko and WebKit; error page in Chromium)

[2016-10-28 17:24] jrummell-chromium opened #4106 "[eme] Unique-origin tests failing due to recent change in testharness.js"
A recent change to the testharness.js [1] requires that promise_tests actually return a promise. Test /encrypted-media/clearkey-mp4-unique-origin.html (and the drm- version) now fail as the test in scripts/unique-origin.js does not return a promise.

[1] https://github.com/w3c/testharness.js/commit/873f9680aff66553f84d38f21a038c4534cc2789

[2016-10-29 00:59] sideshowbarker opened #4108 "travis fails on all PR branches while trying to install wptrunner"
See, e.g., https://travis-ci.org/w3c/web-platform-tests/jobs/171460586#L440

[code]

[2016-10-29 07:03] sideshowbarker commented on #4108
cause:

[code]

https://s3.amazonaws.com/archive.travis-ci.org/jobs/171579264/log.txt

[2016-10-29 07:17] sideshowbarker commented on #4108
Maybe due to a `setuptools` version change? See http://stackoverflow.com/questions/18085571/pip-install-error-setup-script-specifies-an-absolute-path

[2016-10-29 14:26] sideshowbarker opened #4110 "markup chars in test/subtest names break rendering of stability-checker report table"
Some test/subtest names (e.g., many in http://w3c-test.org/html/infrastructure/urls/resolving-urls/query-encoding/windows-1251.html) have stuff like literal "`<table>`" in their names—that is, markup characters, and in particular "`<`".

When the stability checker output gets run through a markdown processor to render the report table it generates, those markup chars are treated as actual HTML mar

[2016-10-31 17:54] ddorwin commented on #4075
The names are even more confusing because of the "-mp4-playback-temporary-encrypted-clear**-sources**.html" tests, which test something different.

[2016-10-31 21:14] SingingTree opened #4135 "DRM related tests race on network latency"
The DRM tests have network dependencies that result in races. Independent of if the tests are access locally or at http://w3c-test.org/ they need to make requests to the license server, so there is always some variable lag due to this. However, even in relatively straight forward tests, such as [drm-events](https://github.com/w3c/web-platform-tests/blob/master/encrypted-media/drm-events.html) this

[2016-10-31 21:17] cpearce commented on #4135
I suggest all .\*drm.\* tests have their timeout extended across the board. Then we don't need to keep playing whack-a-mole and up the timeouts as we trip over intermittent failures caused by latency with the DRM license server.

[2016-10-31 21:23] cpearce opened #4136 "[EME] *mp4-unique-origin.html doesn't enforce anything in the EME spec"
[clearkey-mp4-unique-origin.html](https://w3c-test.org/encrypted-media/clearkey-mp4-unique-origin.html), and its DRM variant, test that EME can't be used on a "unique origin". I don't see anything in the current EME spec that says that a unique origin can't use EME.

Technically, there's no reason why EME can't work on a unique origin. It would seem this test is testing Chrome specific behaviour?

[2016-10-31 21:26] jdsmith3000 commented on #4027
Do we have folks making test changes still?  I'm wondering if this test case should be turned off since it's not supported on most CDMs, and by none in our currently active test population.

[2016-10-31 22:00] cpearce commented on #4136
@ddorwin: thoughts? Can we remove clearkey-mp4-unique-origin.html and drm-mp4-unique-origin.html?

[2016-10-31 22:36] jdsmith3000 commented on #4075
I have no objection to clarifying these names, but recognized them as special from their current names.  They are also fairly viewed as edge temporary cases, right?  At any rate, adding _transition_ to the name can't hurt...

[2016-10-31 22:55] ddorwin commented on #4135
@mwatson2, any thoughts?

[2016-10-31 22:55] jdsmith3000 commented on #3826
This issue hasn't moved for close to a month.  Do we view fixing it as V1.

The existing test has known issues with Edge, but in concept, we believe the requirement behind it is valid.

[2016-10-31 23:25] ddorwin commented on #4136
Yes, this was [added](https://crbug.com/357837) to Blink for a Chrome-specific reason. The issue was that we could not check permissions and maybe handle storage correctly for "unique origins," which could occur for things like `file://`. I'm not sure how much, if any, of that is spec'd.

Although it is a corner case, it would be nice to have consistency across implementations. Perhaps we should o

[2016-10-31 23:34] ddorwin commented on #3826
It sounds like Chrome and Firefox mostly do what they are supposed to. I wonder if Chrome actually stops audio after three seconds. If so, this would be related to https://crbug.com/658422.

@mwatson2, do you want to rebase, and we can review?

/sub @jrummell-chromium

[2016-10-31 23:39] ddorwin commented on #3721
https://github.com/w3c/encrypted-media/issues/333 has been fixed, so such a test would now correctly test behavior defined by the spec.

[2016-11-01 02:27] tkent-google opened #4137 "MANIFEST.json contains non-test files"
1. Checkout web-platform-tests
2. cd web-platform-tests
3. ./manifest

Expected:
MANIFEST.json doesn't contain the following entries because they are not tests.

      {
        "path": "uievents/keyboard/key-manual.css",
        "url": "/uievents/keyboard/key-manual.css"
      },
      {
        "path": "uievents/keyboard/key-manual.js",
        "url": "/uievents/keyboard/key-manual.js"
      },

[2016-11-01 18:43] jdsmith3000 commented on #4135
I guess the question is: Are they reasons to limit these tests to 10 second execution limits?  The only downside might be a bit longer execution time on valid timeout results.  @cpearce; Do you have an alternate time in mind (e.g. 20s)?

[2016-11-01 18:52] ddorwin commented on #4135
Yes, that would be my main concern. Looking at the latest results, we don't have many timeouts, so I think this should be rare and thus okay. (We want tests to fail rather than timeout if possible. See #3938. In some cases, such as depending on an event, it is not possible.)

@SingingTree or @cpearce, please prepare a PR.

[2016-11-01 19:45] mwatson2 commented on #4135
The test harness offers two choices of timeout: short (10s) or long (60s). We'll need to add the following to every HTML file:
[code]

[2016-11-02 08:28] zcorpan opened #4143 "Serializing outline-color:invert when invert is not supported"
Test https://w3c-test.org/cssom/serialize-values.html

From https://bugs.chromium.org/p/chromium/issues/detail?id=661174#c2

.

https://drafts.csswg.org/css2/ui.html#propdef-outline-color

cc @jdm

[2016-11-02 20:14] domenic opened #4161 "Empty aliases config breaks ./serve, possibly breaks w3c-test.org"
@tkent-google's commit 39b65f63fef7d58ef5fbde0ef5f9a64b23e86992 makes it impossible to run `./serve` on a fresh checkout. I get the error

[code]

This might also be why w3c-test.org is down.

[2016-11-02 21:59] jgraham commented on #4161
I just merged the fix for that, and updated wpt-tools in master. It works for me locally at least.

[2016-11-02 21:59] #4161 closed

[2016-11-03 02:39] #4110 closed

[2016-11-03 07:10] gsnedders opened #4165 "Refactor documentation into something more meaningful"
At the moment, many of us find the documentation very hard to navigate and find relevant information. We should refactor the documentation and the paths through it so that it is more beneficial for both new contributors and existing ones alike.

Ignoring the README and index pages, we currently have:

- [An introduction to GitHub, with instructions on how to clone, commit, and make your first PR.]

[2016-11-03 07:11] gsnedders commented on #4165
cc/ @RByers

[2016-11-03 07:44] annevk commented on #4165
These are the things I find I most commonly need (and indeed require some searching and a bunch of clicks each time):

* The command for updating submodules
* Documentation for JavaScript tests:
  * Boilerplate required
  * Basic setup for test/async_test/single-page
  * Available asserts
* Documentation for server-side tests

[2016-11-03 07:51] annevk commented on #4165
Another thing that does not help is that http://testthewebforward.org/ (not easy to remember since everyone always talks about WPT or web platform tests) is a marketing page but also hosts a bunch of project information. That should have links for writing tests (JavaScript, ref, manual, server-side) right on the front page as that's the main thing most visitors care about (I assume).

[2016-11-03 08:56] tobie commented on #4165
Agreed. You'd want to keep the blog and events pages up for historical reasons, but there's absolutely no reason to keep them in the main navigation bar.

Most of the content of the home page needs to be replaced to be less markety and more wpt-specific.

[2016-11-03 19:44] mfoltzgoogle opened #4168 "[presentation-api] Test coverage for start() event order"
The Presentation API controller tests have coverage for `onconnectionavailable`, `onconnect`, `PresentationConnection.state`, and resolution of the Promise from `start()` in isolation, but I don't see a test case that makes sure these event loops happen in a specific order.

This issue tracks the work to add a test case to check the order of the following:
1. Promise from `start()` resolves
2. `co

[2016-11-04 01:13] tomoyukilabs commented on #4168
According to [Establishing a presentation connection](https://w3c.github.io/presentation-api/#establishing-a-presentation-connection), should the steps 4. and 5. be invoked in reverse order?

1. Set the presentation connection state of presentationConnection to `connected`.
2. Fire a simple event named `connect` at presentationConnection.

Anyway, I will update startNewPresentation_success-manual.

[2016-11-04 01:51] tomoyukilabs commented on #4168
Sorry, I've understood now. We can check the step "state is `connected`" just after the step "`connect` fires" during the test.

[2016-11-04 12:34] sideshowbarker commented on #4108
This problem is no longer occurring.

[2016-11-04 12:34] #4108 closed

[2016-11-04 20:00] louaybassbouss commented on #4039
@tomoyukilabs PR #4035 is merged

[2016-11-04 20:12] louaybassbouss commented on #4168
@tomoyukilabs  PR #4035 is merged please feel free to work on this issue

[2016-11-04 20:14] louaybassbouss commented on #4048
Thx @schien feel free to submit a PR that fixes this issue

[2016-11-04 20:19] louaybassbouss commented on #4041
Thx @tidoust, @obstschale  can you please submit a PR that fixes this issue

[2016-11-04 20:21] louaybassbouss commented on #4040
thx @tidoust, @obstschale can you please submit a PR that fixes this issue

[2016-11-05 11:37] louaybassbouss commented on #3524
@tidoust this issue should be fixed by PR #4172. Feel free to close this issues after the PR is reviewed and merged.

[2016-11-05 11:41] louaybassbouss commented on #4048
@schien I just submitted PR #4172 that fixes this issue and another issue at same time. Feel free to close this issues after the PR is reviewed and merged.

[2016-11-05 14:47] louaybassbouss commented on #4041
@tidoust PR #4172 should fix this issue. Feel free to close after the PR is merged.
@obstschale please focus on other tests

[2016-11-05 14:56] #4048 closed

[2016-11-05 14:56] #3524 closed

[2016-11-07 02:17] tomoyukilabs commented on #4168
@louaybassbouss Thanks! I submitted PR for this issue.

[2016-11-08 06:38] jimsch commented on #1528
Fixed by PR #1940

[2016-11-08 06:38] #1528 closed

[2016-11-08 09:16] obstschale commented on #4040
I try to send a PR in few days. I will meet @louaybassbouss to discuss further problems :)

[2016-11-08 09:55] tomoyukilabs opened #4181 "[presentation-api] complement PresentationAvailability tests"
I am now considering adding several test cases to complement PresentationAvailability tests. So I would like to confirm if there is any person currently preparing PresentationAvailability tests or not.

If not, I would like to first add a test case for `change` event, and then I will try to find any other missing test cases in existing tests, e.g. getAvailability.html.

[2016-11-08 17:07] gsnedders commented on #4137
@jgraham?

[2016-11-08 20:57] inexorabletash opened #4183 "html/editing/dnd/cross-document/002.html has bad script src, unclosed script tag"
https://github.com/w3c/web-platform-tests/blob/master/html/editing/dnd/cross-document/002.html

Refers to `../resources/crossorigin.js` which doesn't resolve to anything:
[code]
Has a script tag that isn't closed:
[code]

[2016-11-08 22:56] nox commented on #3103
I'll write a test with a SVG element container and see what Chrome and Safari say, because I think the intent is that the input should be parsed as foreign content if the context element isn't not in the HTML namespace or an HTML integration point of some sort.

[2016-11-08 23:05] nox commented on #3103
The SVG test pass in Chrome so I guess I'm wrong and I think it is because of step 9 of https://html.spec.whatwg.org/multipage/syntax.html#parsing-html-fragments which ignores the namespace of the context element.

[2016-11-09 09:48] #4039 closed

[2016-11-09 13:16] #4168 closed

[2016-11-09 13:19] tidoust commented on #4168
@mfoltzgoogle New version of the `start` test prepared by @tomoyukilabs now checks the order of events. Please have a look and re-open this issue if needed:
https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/startNewPresentation_success-manual.html

[2016-11-09 13:39] tidoust commented on #3844
@schien Back to your initial point, I don't think that there is any way to mark tests that check optional features of a spec as "optional", and no way to skip them or to have them report a "not supported" status either.

The label of the [test on defaultRequest](https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/defaultRequest_success-manual.html) has been prefix

[2016-11-09 14:03] tidoust commented on #4003
Closing issue as this got fixed in https://github.com/w3c/web-platform-tests/commit/17e59f9772e57f3804555146f231ad101774b917

[2016-11-09 14:03] #4003 closed

[2016-11-09 22:03] ddorwin commented on #4106
Fixed by #4119.

[2016-11-09 22:03] #4106 closed

[2016-11-09 22:03] ddorwin commented on #4136
@cpearce, what do you think? Do you want to create a PR?

[2016-11-10 02:39] schien commented on #3844
As @mfoltzgoogle mentioned that we didn't override the set attribute algorithm in https://github.com/w3c/presentation-api/issues/359#issuecomment-253887460, I'm happy to follow the description @tomoyukilabs described in previous comment.

So, the automation test can keep as the way it is: try set the attribute and do WebIDL check on it.

[2016-11-10 02:39] #3844 closed

[2016-11-10 19:44] bzbarsky opened #4195 "img.complete test has bogus loop thing"
The test at html/semantics/embedded-content/the-img-element/img.complete.html does this:

    async_test(function(t) {
      assert_false(imageInstance.complete, "imageInstance.complete should be false");
      var startTime = Date.now();
      while (true) {
        if (Date.now() - startTime > 2000)
          assert_unreached('.complete didn\'t change to true');
        if (imageInstance.complet

[2016-11-10 19:47] bzbarsky commented on #4195
Looks like @deniak committed this as part of "move TTWF tests".   No useful info on where it was moved from and why the test is trying to do this... :(

[2016-11-10 19:54] jdm commented on #4195
The spec claims that `complete` should reflect whether a particular task has been queued, which is how this is intended to pass: https://html.spec.whatwg.org/multipage/embedded-content.html#dom-img-complete

[2016-11-10 20:00] bzbarsky commented on #4195
That's ... not OK.  That information is not generally available and shouldn't be.  Filed https://github.com/whatwg/html/issues/2038

[2016-11-11 16:44] smaug---- opened #4198 "endDelay.html is racy"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1316050#c4

Do other tests for web animations use similar bad patterns?

[2016-11-11 23:25] domenic opened #4201 "CI does not catch reftest filename mismatches"
In 1bc8bb2aa22302a945a22a32944de11e75bf443d I commited some reftests but I misnamed the ref file for one of them. (Being fixed in https://github.com/w3c/web-platform-tests/pull/4200.) Ideally the CI should catch this and prevent me from merging the PR.

[2016-11-14 21:33] bzbarsky opened #4207 "idlharness-based tests mishandle document.all"
I see a bunch of failures in html/dom/interfaces.html like so:

for the document.all tests.  The test is wrong, of course: typeof document.all _is_ supposed to be `"undefined"`, not `"function"`....

[2016-11-15 04:11] domenic opened #4210 "Make .any.js tests work for service/shared workers too"
Right now streams has its own hacky setup for running tests in three environments (window, dedicated worker, shared worker, service worker). Previously discussed in e.g. https://github.com/w3c/testharness.js/issues/168 (cc @youennf). It would be ideal if we could get rid of that and just use the .any.js setup. Right now we use https://github.com/w3c/web-platform-tests/blob/master/streams/resources

[2016-11-17 14:54] obstschale commented on #4040
@tidoust you mention in 1. that `step_timeout` should be used. But if I rewrite these test to `promise_test` I think ne `step_*` functions are need, aren't they? Cause in [w3c/testharnees.js](https://github.com/w3c/testharness.js/blob/master/docs/api.md#promise-tests) it states:

[2016-11-17 15:37] obstschale commented on #4040
@tidoust I just made a PR #4222. Please give me some feedback. The test passes now but I am unsure if it is correct and whether I missed something :)

I will provide fixes for the other tests if I received feedback

[2016-11-18 08:14] tidoust commented on #4040
@obstschale `step_timeout` is not a _wrapping_ function for the note you cite, and has nothing to do with the use of `promise_test` either.

By default the test harness times out after a few seconds. This is extremely important for automated tests, as some of them could otherwise just hang forever without reporting any result.

Our test is not automated though. A user action is required to start i

[2016-11-19 16:17] RByers opened #4228 "wpt-pr-bot text is confusing"
wpt-pr-bot adds text to PRs like: "Reviewers for this pull request are: @Rbyers".  People [tend to assume](https://github.com/w3c/web-platform-tests/pull/2163#issuecomment-260952922) this means the MUST wait for someone from that list to approve the PR, increasing the frustration at the difficulty of getting WPT PRs landed.  I've [tried to clarify this in the README](https://github.com/w3c/web-pla

[2016-11-19 16:18] RByers commented on #4228
I searched around for the code for wpt-pr-bot but can't seem to find it anywhere.

[2016-11-19 16:22] RByers commented on #4228
Found [the announcement](https://lists.w3.org/Archives/Public/public-test-infra/2016JanMar/0001.html).  @tobie WDYT?  Arguably even the file name "OWNERS" is misleading (could be "WATCHLIST" or something).

[2016-11-19 16:31] tobie commented on #4228
File is here: https://github.com/tobie/ganesh/blob/master/lib/reviewers.js

Yeah. Text sure needs fixing. Suggestion/PR welcome. If not I'll look at it once I get back home.

[2016-11-19 17:47] tobie commented on #4228
Quick PR. LMK what you think or if you have another suggestion.

[2016-11-19 17:49] tobie commented on #4228
Note I'm happy to change the OWNERS file name to something else if you prefer. That'll need a PR here first, though, and a bit of sync.

[2016-11-21 09:42] #4041 closed

[2016-11-21 16:38] RByers commented on #4228
That helps, thank you!  What about just adding a link to https://github.com/w3c/web-platform-tests/blob/master/README.md#test-review from the bot text - so it's obvious where to look for details / how to add yourself to the list of people to be notified?

IMHO it's probably not worth the hassle at this point to change the file name - maybe wait and see if there continues to be confusion?

[2016-11-22 00:20] RByers commented on #4165
Thanks @gsnedders, I'm glad you're doing this and thinking about it in terms of the difference audiences makes perfect sense to me!

From the perspective of the blink engineer the things I think they most need to know (separate from our own blink-specific engineering docs) are:
- What the different types of tests are and how to run them (especially across browsers)
- Style guidelines
- Review guid

[2016-11-22 09:19] foolip commented on #4165
FWIW, I have been to http://testthewebforward.org/ once or twice in search for documentation, but gave up. I think it'd be preferable merge as much of its useful documentation as possible into web-platform-tests, so that people don't need to go elsewhere.

In terms of a style guideline, there's some documentation being written in https://codereview.chromium.org/2492733003/ where I commented, so it

[2016-11-22 10:05] tobie commented on #4228
https://github.com/w3c/web-platform-tests/pull/4235#issuecomment-262081975

[2016-11-23 22:38] xfq commented on #2706
https://hg.mozilla.org/integration/mozilla-inbound/rev/fbb40278805ff5a8aac8b1a1dbd8b0a180f82296

@Ms2ger Did this commit fix this issue?

[2016-11-24 02:00] xfq commented on #2256
Did #2804 and #2806 fix this issue?

[2016-11-24 02:08] xfq commented on #1595
It was re-added according to w3c/FileAPI#44 .

[2016-11-24 05:07] jdm commented on #2256
Yep.

[2016-11-24 05:07] #2256 closed

[2016-11-24 12:48] #1595 closed

[2016-11-24 15:24] gsnedders commented on #2218
Fixed by #2732.

[2016-11-24 15:24] #2218 closed

[2016-11-25 10:11] obstschale commented on #4040
That makes sense. Thx for explaining. Although the whole topic is still confusing ^^ But I'm learning :)

[2016-11-29 09:47] tidoust opened #4258 "Add a cleanup step to terminate presentations"
Given that presentations may persist beyond the controlling browsing context, tests should always terminate presentations that they create (even when the test fails), typically using the [`add_cleanup` method](https://github.com/w3c/testharness.js/blob/master/docs/api.md#cleanup).

Examples of Presentation API tests that need this:
https://github.com/w3c/web-platform-tests/blob/master/presentation

[2016-11-30 13:52] Ms2ger opened #4267 "DOMContentLoaded-defer.html is likely wrong"
From <https://bugzilla.mozilla.org/show_bug.cgi?id=1242128>:

[2016-12-01 03:58] gsnedders commented on #4165
What @foolip mentioned is now [here](https://chromium.googlesource.com/chromium/src/+/master/docs/testing/writing_layout_tests.md#JavaScript-Tests) having landed in tree. There's also a Blink PSA on [How to write reliable layout tests](https://docs.google.com/document/d/1Yl4SnTLBWmY1O99_BTtQvuoffP8YM9HZx2YPkEsaduQ/edit?usp=sharing), which has some useful stuff in it.

Otherwise, there's a WebKit w

[2016-12-01 04:00] gsnedders commented on #4165
https://github.com/w3c/web-platform-tests/issues/3757 also contains some stuff about Edge testing policies which is likely relevant here.

[2016-12-01 05:31] gsnedders commented on #4165
So my basic suggestion is some rough hierarchal structure something along the lines of:

 * Introduction
   * Basic overview of the directory structure of the testsuite
   * Owners, GitHub labels, other administrata (public-test-infra, etc.)
   * Setup of testsuite locally (mostly what's in the README.md)
 * Writing tests
    * How to choose what type of test to write
    * Common test guidelines

[2016-12-01 06:36] annevk commented on #4165
I think someone earlier made a good point that all that information should either be put directly in or linked from the README. That way the repository becomes self-contained and addresses all questions.

[2016-12-01 06:40] gsnedders commented on #4165
Pretty much all the docs are already in the docs/ subdirectory of the repo; I think the plan is to move to publishing all the content using GitHub pages directly from the master docs/.

[2016-12-01 08:26] frivoal commented on #4165
One thing I'm not 100% sure: should all the git/github info go into `Appendices/Introduction to git`, or should some of it be spread around. For sure, the very basics of git should get their own section, but I'm more thinking about stuff like:
- When making changes based on a review, should I add more commits, or amend / rebase, and how is that done?
- When I want to locally checkout tests in a PR

[2016-12-01 16:58] gsnedders commented on #4165
@frivoal My basic thought was that actual introductory material for people who haven't used git goes into an appendix, information on how we want you to use git goes in the relevant places (most writing tests).

[2016-12-02 19:21] jrummell-chromium opened #4279 "[eme] requestmediakeysystemaccess tests expect empty configuration to be valid"
[clearkey-mp4-requestmediakeysystemaccess.html ](https://w3c-test.org/encrypted-media/clearkey-mp4-requestmediakeysystemaccess.html) (and the drm variant) currently expect that the empty configuration [{}] is valid (in tests "Empty configuration", "Two configurations, one supported", and "Two configurations, both supported"). Since the spec states that one of 'audioCapabilities' or 'videoCapabilit

[2016-12-06 01:08] jrummell-chromium opened #4285 "[eme] Media file video_512x288_h264-360k_multikey_key1_dashinit.mp4 is empty"
The media file [video_512x288_h264-360k_multikey_key1_dashinit.mp4](https://github.com/w3c/web-platform-tests/blob/master/encrypted-media/content/video_512x288_h264-360k_multikey_key1_dashinit.mp4) is 0 bytes, so not really useful as encrypted content. It is referred to in the content_metadata.js as 'mp4-basic-key1', but that tag doesn't appear to be used in any of the tests. (Same for 'mp4-basic-

[2016-12-07 19:53] cvrebert opened #4295 "LICENSE file should contain actual legalese instead of just pointing to a separate webpage"
Equivalent csswg-test issue with additional context: https://github.com/w3c/csswg-test/pull/1091

I've been told that the `LICENSE` file should contain actual copyright & license text before I can send additional PRs. Currently, [the file](https://github.com/w3c/web-platform-tests/blob/master/LICENSE) just contains a link to http://www.w3.org/Consortium/Legal/2008/04-testsuite-copyright.html

A li

[2016-12-07 21:23] gsnedders commented on #3850
I guess we probably want to give them more useful file names to follow the existing directory structure, that will get quickly time consuming.

[2016-12-07 23:09] sideshowbarker commented on #4295
Resolved by https://github.com/w3c/web-platform-tests/commit/e4860d02963ec4922de464b508eb1cf1c1aef27d

https://github.com/w3c/web-platform-tests/blob/master/LICENSE.md

[2016-12-07 23:09] #4295 closed

[2016-12-09 09:31] sideshowbarker commented on #4137
The manifest should be our accurate and complete record of just the actual test files. Otherwise what other record do we have? So if non-tests are ending up in the manifest, that should be considered a bug that we need to fix.

[2016-12-09 10:39] gsnedders commented on #4137
Yeah, the question is mostly whether we should be requiring nothing be called `*-manual.*` or changing the manifest generation.

[2016-12-09 20:24] jdm opened #4311 "Event Source non-same-origin tests don't match specification"
https://html.spec.whatwg.org/multipage/comms.html#sse-processing-model says:
[code]
The test contains:
[code]
The first three cases look like they should be DNS resolution errors and reestablish the connection. It's not clear to me that the remaining cases are worth encoding as `known to be futile` in browser engine logic, so this test doesn't seem to be doing much good.

[2016-12-09 20:26] Ms2ger commented on #4311
For my reference: https://github.com/servo/servo/tree/eventsource-fail-opaque

[2016-12-12 08:56] yoavweiss opened #4313 "Easier to find `.headers` and `.sub` files documentations"
I'm looking into writing wptserve based tests and the [easily findable documentation](https://github.com/w3c/web-platform-tests/blob/master/server-side.md) on that subject doesn't seem to mention `.headers` and `.sub` files which enable simpler conversion of existing Blink layout tests into wptserve tests.

Would be great if those were mentioned there, with links towards appropriate documentation

[2016-12-12 14:56] nt1m opened #4315 "commandDisabled should be removed/replaced in <dialog> tests"
https://github.com/w3c/web-platform-tests/blob/56ea52b8668ceee63ec196c59dd11ad7797e4f0d/html/semantics/interactive-elements/the-dialog-element/dialog-showModal.html#L58

The <dialog> spec just says the document should be inert, which means no interaction should be allowed. There's nothing mentioned about commandDisabled ?

[2016-12-12 14:59] nt1m commented on #4315
Looks like it's part of HTML4 (https://html-differences.whatwg.org/#htmlelement-extensions), but I see it no where in the HTML5 spec.

[2016-12-12 15:04] nt1m commented on #4315
Looks like `commandDisabled` was removed here from the HTML spec: https://github.com/whatwg/html/pull/244

What should the replacement within the test be ? `disabled` ?

[2016-12-12 15:04] nt1m commented on #4315
/cc @domenic

[2016-12-12 15:22] domenic commented on #4315
I would just remove that line.

[2016-12-12 15:24] nt1m commented on #4315
@domenic Thanks. Going to submit a PR

[2016-12-12 15:39] nt1m commented on #4315
@domenic Looks like it might not make sense to remove it here: https://github.com/w3c/web-platform-tests/blob/56ea52b8668ceee63ec196c59dd11ad7797e4f0d/html/semantics/interactive-elements/the-dialog-element/dialog-showModal.html#L100
Otherwise, that test is testing nothing useful.

[2016-12-12 15:52] domenic commented on #4315
I don't believe there is any such replacement.

[2016-12-12 15:52] nt1m commented on #4315
@domenic: should I remove the test: "when opening multiple dialogs, only the newest one is non-inert" altogether then ?

[2016-12-12 15:54] domenic commented on #4315
I guess so. I don't know of any way to test inertness directly. Maybe someone else does though...

[2016-12-12 20:52] ChiahungTai opened #4318 "Some question about pause-remove-from-document-networkState.html"
I have one question about pause-remove-from-document-networkState.html.
Per spec:

Is that means when the networkState is NETWORK_EMPTY, then the media element should not be paused?

If that is Yes, why this test still wait for the pause event?
`    v.onpause = t.step_func(function() { t.done(); });
`

This test case is fail on Chrome, Firefox and Edge. Is this test case correct?

[2016-12-12 21:10] obstschale commented on #4258
I have a question about `add_cleanup`: Is this function called after a test to reset everything? So e.g. in [`PresenentationConnection_onconnected-manuel`](https://github.com/w3c/web-platform-tests/blob/master/presentation-api/controlling-ua/PresentationConnection_onconnected-manual.html#L23) the button is disabled. Should `add_cleanup` enable it again so a new test can run without reloading the p

[2016-12-13 07:02] smaug---- commented on #4318
I don't see " If the media element's networkState attribute has the value NETWORK_EMPTY, abort these steps." in the HTML spec. Are you perhaps looking at W3C HTML5 spec, since that has the NETWORK_EMPTY? At least Gecko isn't trying to implement HTML5 but HTML spec https://html.spec.whatwg.org/

[2016-12-13 07:04] ChiahungTai commented on #4318
I am using this link.
https://www.w3.org/TR/html5/embedded-content-0.html#playing-the-media-resource

[2016-12-13 08:16] ChiahungTai commented on #4318
smaug, you are right. I can close this issue now.

[2016-12-13 08:16] #4318 closed

[2016-12-13 12:51] tidoust commented on #4258
It depends on what you mean by "reset". It is called after a test to free resources that could persist beyond the test itself. I don't think it is meant to reset a manual test so that it can be run again without reloading the page.

Actually, this would be hard to do in our case because our tests are not entirely manual: they still use the test harness and you cannot easily reset the test harness

[2016-12-13 15:02] obstschale commented on #4258
Ok, if I understand you correctly, that means a cleanup **will not** reset the test, so I can run the same test again without reloading the page (That includes: enable button, which is disabled; freeing bound resources, which are set during a test) but rather make sure that no resources, which are set during a test, persist and cause problems during a second test after a page reload.

[2016-12-13 16:17] tidoust commented on #4258
That looks correct.

[2016-12-13 17:24] obstschale commented on #4258
:+1: I try to find out how to do this.

[2016-12-13 17:26] obstschale commented on #4040
I guess with #4256 and #4319 this issue is complete, isn't it?

[2016-12-14 01:27] sideshowbarker opened #4323 "Redundant messages from logger calls in check_stability.py"
Every `logger` call in `check_stability.py`—e.g., `logger.debug(…)`, `logger.info(…)`—seems to cause *two* messages to be emitted instead of just one; for example:

[code]

[2016-12-14 16:52] gsnedders opened #4329 "Update the tools submodule"
To do this we need to fix:

- [x] https://github.com/w3c/wpt-tools/issues/144

[2016-12-14 21:35] obstschale commented on #4040
- [x] 1. Add `step_timeout` to tests (#4319)
- [x] 2. remove `close` call in `connect` test (#4256)
- [x] 3. Use `onconnect` instead of `onconnected` in `terminate` class
- [ ] 4. Rename Tests accordingly
- [ ] 5. Use `promise_test` instead of `async_test`

[2016-12-16 03:37] mingchou opened #4345 "XMLHttpRequest url encoding question"
XMLHttpRequest/open-url-encoding.htm specifies the document charset is windows-1252. The first test passes \u00DF as the query string and expect it's encoded as %C3%9F. Wondering why \u00DF isn't encoded with the document's charset 'windows-1252' as %DF?

Tested with Chrome Canary57.0.2950.0 and Edge38.14393.0.0, both of them encode it as %DF

[2016-12-17 06:41] bakulf opened #4361 "Improve tests for performance user-timing API in workers."
Currently there are 0 tests for workers.
I recently wrote one test about the use of navigationStart in mark/measure in workers, but this is not enough for the whole API coverage.

[2016-12-19 09:14] tobie commented on #4228
Closing. LMK if you end-up changing the file names so I can update the bot accordingly.

[2016-12-19 09:14] #4228 closed

[2016-12-19 14:49] #4099 closed

[2016-12-20 09:55] longgehaohaoha opened #4368 "gaierror: [Errno -2] Name or service not known"
after me download the codes, and run git submodule update --init --recursive, and run ./serve， some error occus,

Process ServerDictManager-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "

[2016-12-21 10:36] zcorpan opened #4376 "Fix racyness in resource selection algorithm tests"
[code]
cc @smaug----

[2016-12-21 11:06] Ms2ger opened #4377 "setrequestheader-content-type.htm should have more strict checks"
It ignores whitespace and case differences; the standard should be clear enough to allow testing those.

[2016-12-22 14:20] Ms2ger opened #4383 "2_tracks.html is too big for the viewport"
CC @zcorpan

Gecko uses 600x600 windows; I thought we agreed to standardize on that, but I can't find it in the docs anywhere.

[2016-12-29 02:45] sideshowbarker opened #4404 "Make stability checker check for duplicate test names"
For the context, see https://github.com/w3c/web-platform-tests/pull/4402#issuecomment-269554805.

[2016-12-29 08:58] #4181 closed

[2016-12-29 18:10] #4329 closed

[2016-12-29 23:38] #4315 closed

[2017-01-03 20:33] jdm opened #4501 "Lints are permafailing since latest Firefox test upstream"
cc @jgraham
[code]

[2017-01-03 20:34] jdm commented on #4501
@kevinwern Your changes in https://github.com/w3c/web-platform-tests/commit/b4531732160bdb77235c07c934c1f4428680e59e caused part of those.

[2017-01-03 20:35] jdm commented on #4501
@jmaher Your changes in https://github.com/w3c/web-platform-tests/commit/15e996dc087754b080b21579e9e4f66b921c6eae caused the other part.

[2017-01-03 20:47] jmaher commented on #4501
I can clean up my stuff- is there a tool I can run (ideally with cli options) to reproduce this?

[2017-01-03 21:09] jdm commented on #4501
https://dxr.mozilla.org/mozilla-central/source/testing/web-platform/tests/tools/lint/lint.py

[2017-01-03 21:41] jgraham commented on #4501
I can just fix all of this.

[2017-01-03 21:49] jgraham commented on #4501
Should be fixed now.

[2017-01-03 21:49] #4501 closed

[2017-01-04 00:12] tomoyukilabs commented on #4181
Many thanks, @tidoust !

[2017-01-04 19:43] jdm opened #4508 "2dcontext tests for drawing images don't guarantee that the image is loaded before finishing"
drawimage_html_image_1.html creates an image element, sets the src, and adds an onload handler, but the image is not in the document and the test doesn't use reftest-wait. There is no synchronization guaranteeing that the image's onload handler will run before the window load event in this case.

[2017-01-06 17:39] gsnedders commented on #4165
https://gsnedders.github.io/wpt-docs/ is around if anyone wants to have a look over it. I don't claim that it's done, but it is perhaps getting towards the point where we can consider replacing the live docs with it.

[2017-01-08 22:53] tobie commented on #4165
Looks great.

A couple suggestions if I may:

1. Don't make two links to the intro on the first page. Instead treat it like GitHub treats README on mobile: display the first paragraph at the top and the have a [continue reading overview] link.
2. Add a sitemap in the footer.

[2017-01-09 05:58] frivoal commented on #4165
@gsnedders Nice job. I've been through it, and submitted a bunch of issues and Pull Requests, but I agree this is already in a better shape than the live docs.

[2017-01-09 07:58] annevk commented on #4165
@gsnedders I think it's still an awful lot of clicks to get to actual documentation. One thing that could help is to flatten testharness.js. Link directly to the library, idl, and wptserve documentation. However, even then it seems that writing tests should be expanded directly on the front page. The other topics require far less frequent consultation and can be addressed by a sidebar or some such

[2017-01-09 12:43] jakearchibald commented on #2447
For others that might encounter this, deleting the manifest seems to fix it.

[code]

[2017-01-09 12:59] jakearchibald opened #4514 "Running SSL tests is undocumented"
It doesn't seem to be documented that an SSL server runs, or how it should/could be customised with `config.json`.

[2017-01-09 13:11] gsnedders commented on #4514
Yeah, huge amounts of "how to run these tests" is basically undocumented. :\

[2017-01-09 13:16] annevk opened #4515 "wpt-stability-bot: report results in test order rather than Python (unordered) dict order"
That would make it easier to scan the results. Especially for generated tests that have some kind of sequence.

[2017-01-09 14:49] gsnedders commented on #4165
@tobie That's incidental from how I'd refactored the docs a few days prior. But yeah, obviously silly.

@frivoal Right, the big goal here is to be strictly better and get the right high-level structure so we can then iterate on that.

@annevk There's the difficult balancing act between information overload for people new and writing their first test and ease-of-reference who know what they're look

[2017-01-09 14:50] gsnedders commented on #4165
(I also have a whole load of fixes to make having gone through the whole thing, on paper, with a red pen, on transatlantic flight.)

[2017-01-10 13:33] jakearchibald opened #4519 "force_timeout doesn't appear to work"
https://github.com/w3c/web-platform-tests/blob/master/notifications/constructor-basic.html doesn't seem to timeout instantly.

[2017-01-10 23:36] zcorpan opened #4522 "Add tests for DOMStringList and ancestorOrigins"
See https://github.com/whatwg/html/pull/2192

[2017-01-11 18:58] zcorpan opened #4526 "Add tests for allowing same-origin PaymentRequest in nested browsing contexts"
Need tests for https://github.com/whatwg/html/pull/2217

* [ ] same origin iframe, frame, object, embed (allow)
* [ ] cross-origin iframe with allowpaymentrequest (allow)
* [ ] cross-origin frame, object, embed with allowpaymentrequest (disallow)
* [ ] navigate iframe, frame, object, embed from same origin to cross origin (disallow)
* [ ] document.domain in parent before origin check, child after

[2017-01-12 16:56] travisleithead opened #4533 "Non-interoperable foreign-content parsing edge-case"
A crash in Edge recently uncovered an issue where Chrome/Firefox/Edge all had slightly divergent behavior, as seen here (older versions of Edge would crash):

The scenario where we're going wrong is that we have a tree like this:
[code]
where the `<foo>` element has a null namespaceURI. To expose the issue, perform an innerHTML operation on the foo element like `fooElement.innerHTML = "<span></spa

[2017-01-12 17:19] travisleithead commented on #4533
Hmm, wondering if http://w3c-test.org/html/syntax/parsing/html5lib_innerHTML_foreign-fragment.html covers this case...? 

[2017-01-12 18:39] travisleithead commented on #4533
Yep--it's covered. And looks like Edge is now passing those relevant tests (and not hanging!!)

[2017-01-12 18:39] #4533 closed

[2017-01-13 00:54] #4522 closed

[2017-01-16 07:03] EdgarChen commented on #4508
It seems #1882 fix this.

[2017-01-16 14:19] jdm commented on #4508
Nope - the images are still never added to the document, so there is no synchronization between when the img.onload code runs in relation to when the reftest is considered complete.

[2017-01-16 14:21] jdm commented on #4508
I am modifying the tests in https://github.com/servo/servo/pull/14962/commits/ec05015b389219b487e52879f09a26103088bdf4 to address this.

[2017-01-17 19:43] jugglinmike commented on #4404
Test files with duplicate test names may cause confusion for humans as well. Am I overlooking some use case? Or might we resolve this by making the harness more strict (and correcting any errors this uncovers)?

[2017-01-17 20:32] bzbarsky opened #4547 "XMLHttpRequest/send-authentication-cors-basic-setrequestheader.htm is a bogus test"
The test does a GET to corsenabled.py and expects `.responseText` to contain something interesting (like the things it put in the x-user and x-pass headers).

But corsenabled.py always returns "Test" as the response body, so there is no way this test can pass.

I have no idea whether the script (shared with other tests, note!) or the test is wrong.

[2017-01-17 20:52] jdm commented on #4547
I believe you are looking at the wrong corsenabled.py - the test requests auth2/corsenabled.py instead, but then hits #3429.

[2017-01-17 22:09] jugglinmike commented on #4404
[This condition is detected and reported by `testharnessreport.js`](https://github.com/w3c/testharness.js/blob/873f9680aff66553f84d38f21a038c4534cc2789/testharnessreport.js#L300-L302), so it's apparent to humans executing the test in a browser directly. It doesn't seem be be recognized by the web harness or the `wptrunner`, though. My plan is to investigate whether the current "harness-runner" pro

[2017-01-18 00:30] bzbarsky commented on #4547
Ah, good catch on the wrong corsenabled.py.  But good to know the test is in fact still broken... I could see nothing wrong on the Firefox end here, certainly.

[2017-01-18 01:42] tkent-google opened #4550 "travis-ci: Huge change can't pass stability check"
https://github.com/w3c/web-platform-tests/pull/4549

The PR affects 40,000+ sub-tests, and it exceeds the log size limitation.
https://s3.amazonaws.com/archive.travis-ci.org/jobs/192883235/log.txt

This termination is handled as an error in the PR.

@jgraham

[2017-01-18 06:21] cvrebert commented on #2214
The automated test (`html/semantics/forms/constraints/form-validation-validity-tooShort.html`) was updated accordingly in #3574.
However, manual positive tests are still missing.

[2017-01-18 09:25] sideshowbarker commented on #4404
No use case that I’m aware of.

[2017-01-18 09:36] jgraham commented on #4404
My suggestion is to extend the result protocol not to change pass/fail, but to package up warnings, which we can log as warnings (or even as lint errors) from the python side and pick up using the handler in the stability checker script. So we would fail the stability check job if we got unstable results or any warnings from the test harness (although not any warnings in general).

[2017-01-18 10:04] #2214 closed

[2017-01-18 23:06] brettz9 opened #4560 "IndexedDB tests not all auto-deleting"
After opening a large set of IndexedDB tests in the browser, I see these are not all deleting, leading to hundreds of megabytes of data (and apparently with this large amount of data, subsequent tests were locking up).

Although I see there are mechanisms available in `support.js` and such for clean-up, might clean-up be better enforced, and not just deleting any existing database *before* running

[2017-01-18 23:18] domenic commented on #4404
So, the stability checker already checks for this, just not in an intuitive way. At least, it checks for it when the tests are failing. It will tell you that the test is unstable because it failed 40/10 times (when there are 4 tests with the same name). You can see this in action in the Travis jobs for https://github.com/w3c/web-platform-tests/pull/4559.

[2017-01-18 23:53] jugglinmike commented on #4404
(Just saw @domenic's updated comment, but I'll post my response anyway in case it helps others understand the motivation for the solution I have in mind.)

Yup, [the `is_inconsistent` function](https://github.com/w3c/web-platform-tests/blob/aae3e1b6ffb8b24acb777450933ceeafd97e3655/check_stability.py#L465-L466) covers two separate conditions: when there are multiple distinct status values and when

[2017-01-19 09:31] #3323 closed

[2017-01-23 11:44] sideshowbarker opened #4602 "stability checker: investigate why it sometimes fails to identify affected test files"
https://github.com/w3c/web-platform-tests/pull/4590 did not cause any affected tests to run.

I thought at first that’s because the affected test has `<script src="resources/resolve-url.js?encoding=utf-8&pipe=sub"></script>` (with a query part) rather than just `<script src="resources/resolve-url.js"></script>`—but looking at https://github.com/w3c/web-platform-tests/blob/master/check_stability.py

[2017-01-24 08:29] #4258 closed

[2017-01-24 12:15] sideshowbarker commented on #4602
Fixed by https://github.com/w3c/web-platform-tests/commit/d1c5ff02c007a46ebcc2bf4a51c5cc4263a4222d

[2017-01-24 12:15] #4602 closed

[2017-01-25 02:08] gsnedders opened #4619 "Tests relying on larger viewports"
Currently, the docs say we use 800x600 screenshots for reftests, and wptrunner uses 600x600. We also have a `<meta name='viewport-size'>` that's totally undocumented and that only works for Servo per https://github.com/w3c/wptrunner/issues/166.

The following tests give different results at 800x600 v. 600x600 (the expected results are those at the larger size):

FAIL /html/semantics/text-level-sem

[2017-01-25 02:10] gsnedders commented on #4619
CC @zcorpan given you wrote most of the WebVTT tests.

[2017-01-25 08:11] annevk opened #4621 "Could we make ./serve update submodules"
Alternatively, I'm willing to provide a pull request to add a Makefile where when you run make it updates submodules. I can never remember the command.

[2017-01-25 09:19] brettz9 opened #4622 "IndexedDB test running issues"
I've reported an issue regarding some behaviors of the test runner at w3c/wpt-tools/issues/152 in regard to some IndexedDB tests (running on Chrome), but since it pertains to IndexedDB specifically, I'm not sure whether to mention it here (or on the IndexedDB repo for that matter).

@inexorabletash

[2017-01-25 12:48] jgraham commented on #4622
FWIW I couldn't reproduce your problems, although there is some arguably confusing output.

[2017-01-25 16:45] inexorabletash commented on #4622
@pwnall - can you take a look at the issue with the exceptions test?

[2017-01-25 17:31] zcorpan opened #4625 "Test <iframe allowusermedia>"
Should have tests for `<iframe allowusermedia>`, in particular the snapshot model and allowing same origin-domain without the attribute, defined in:

https://github.com/whatwg/html/pull/2217
https://github.com/whatwg/html/pull/2195

Tests for `allowpaymentrequest` that can be used as inspiration in https://github.com/w3c/web-platform-tests/tree/master/payment-request/allowpaymentrequest

cc @jan-i

[2017-01-25 22:46] scheib opened #4630 "pointerlock movementX/Y tests should use screenX/Y, not clientX/Y"
As pointed out in #4571, " use screenX/Y instead of clientX/Y ... That would also better match the spec, since movementX/Y is [defined in terms of screen co-ordinates](https://w3c.github.io/pointerlock/#dom-mouseevent-movementx)." by RByers.

This is probably a simple search/replace in these files:
https://github.com/w3c/web-platform-tests/blob/master/pointerlock/movementX_Y_basic-manual.html
http

[2017-01-25 22:48] scheib commented on #4630
I'll put this on my TODO list, but if anyone else is interested, by all means, do it. ;)

[2017-01-25 23:41] pwnall commented on #4622
@brettz9 Can you please tell me how you're running the tests?

Sorry for the cluelessness. I'm using `./serve` to bring up a WPT test server, and I got the following screens on Chrome 55 w/o the experimental web platform flag, and on Chrome 58 w/ the flag.

![cpk-fail](https://cloud.githubusercontent.com/assets/11460/22314081/9f24a7f0-e314-11e6-95b9-9117f0dc4159.png)

![cpk-pass](https://cloud.git

[2017-01-26 08:36] brettz9 commented on #4622
@pwnall : I also ran it on Chrome 55 without the experimental web platform flag and with `python serve` (on Windows). While the first screen looks the same as mine with `idbcursor-continueprimarykey-exceptions.htm` (and that is not a problem), I'm speaking of the aggregate results page (where mine has different results from your second screenshot).

![image](https://cloud.githubusercontent.com/ass

[2017-01-26 08:40] brettz9 commented on #4622
And not to jumble the issue, but as it is confusing, it also required some digging into the Manifest file for me to see of expectations of lower case paths, despite the fact that the file system indeed stores the files under `IndexedDB`:

![image](https://cloud.githubusercontent.com/assets/20234/22324757/f4c57abe-e3e5-11e6-9837-9e1435274a10.png)

[2017-01-26 09:48] brettz9 opened #4632 "Possible problem with `idbcursor-continuePrimaryKey-exceptions.htm` test"
Related to `IndexedDB/idbcursor-continuePrimaryKey-exceptions.htm`...

There are calls to `assert_class_string`, e.g.:

[code]

This function's definition in `testharness.js` is as follows:

[code]

While `{}.toString.call(object)` distinguishes between objects and arrays, it does not appear to work with custom objects as it just converts them to `[object Object]` (at least in Chrome--but since it

[2017-01-26 09:51] brettz9 commented on #4632
And sorry, not sure if you would like me flagging you as a matter of course on IndexedDB issues here, @inexorabletash .

[2017-01-26 10:59] zcorpan commented on #4619
See https://github.com/w3c/web-platform-tests/pull/4385

[2017-01-26 16:26] RByers opened #4635 "stability log sometimes swamped with commit messages"
Why can't I see the details of what tests passed vs. failed in [this log](https://travis-ci.org/w3c/web-platform-tests/jobs/193516170)?
/cc @bobholt

[2017-01-26 16:31] bobholt commented on #4635
@RByers: Travis only shows the first 10000 lines in the UI. There is a link to the [raw log](https://api.travis-ci.org/jobs/193516170/log) at the bottom of that page. It's worth noting that the comment bot I'm working on parses the full raw log, not the UI presentation

[2017-01-26 16:52] RByers commented on #4635
Yeah, I saw the raw log option.  But it seemed like there was a lot of log spam that could perhaps be silenced so that the useful log output occurred within the 10,000 limit?  But if your bot is going to replace / solve all this anyway then there's certainly no point worrying about the current behavior :-)

[2017-01-26 16:58] RByers opened #4636 "Auto-mirror "safe" tests"
It's a little annoying to have to add the 'w3c-test:mirror' label to all PRs to try them out, and it sounds like we might want to have our Edge/Safari validation tooling pull PRs via w3c-test.org also.

@jgraham mentioned that there's really no reason why we couldn't auto-mirror a PR when we know it changed only safe files (eg. HTML, CSS and JS).  The real risk here is changes to the python script

[2017-01-26 17:00] foolip commented on #4636
That would be awesome! I can never even remember the special incantation 'w3c-test:mirror' so when I see a PR without mirroring it's no fun. It would also be great to paste links to the modified tests, as finding the tests is a bit of work too.

[2017-01-26 17:05] tobie commented on #4636
I could easily add this to @wpt-pr-bot provided there's clear agreement as to what files may be touched to allow the 'w3c-test:mirror' incantation.

[2017-01-26 17:08] bobholt commented on #4635
Ah, I see. It looks like it would be an easy change to make in `check_stability.py` - remove the line outputting the commits in the PR to the log. The question is does anybody ever find that list valuable when it's shorter?

[2017-01-26 17:11] tobie commented on #4636
Additionally, it would be nice to:

1. allow it as part of the same comment @wpt-pr-bot already makes to ping reviewers, and
2. have an explainer URL it can reference.

[2017-01-26 17:12] foolip commented on #4636
I suppose a safelist of filename patterns is the most straightforward, although there are probably safe resources with no file extension.

[2017-01-26 17:24] tobie commented on #4636
@foolip: for each PR, I build a metadata object which contains an array of filenames (`metadata.filenames`) of the form:

[code]

which I also [convert](https://github.com/tobie/ganesh/blob/master/lib/metadata/paths.js) to an array of directories (for tagging purposes) available as `metadata.paths` like so:

[code]

Fill-in the following JS function and I'll handle the rest:

[code]

[code]

[2017-01-26 17:28] sideshowbarker commented on #4635
Hard to measure whether anybody does or not, but one way to find out is to remove them and see if anybody complains. So I reckon maybe we should just do that. It’s almost certainly at least not going to break anything for anybody.

[2017-01-26 17:35] tobie commented on #4636
I can certainly add the link to the URL while I'm at it provided I'm also told how to build it (and what data you need from me to construct that URL beyond the PR number).

[2017-01-26 18:37] sideshowbarker commented on #4636
Basically everything is safe except Python files and shell scripts, and doing a recursive find+sort+uniq through the repo for file extensions and eliminating those gives this list:

[code]

[2017-01-26 18:55] tobie commented on #4636
Thanks, @sideshowbarker.

What's the template string for the url on w3c-tests.org for a given PR?

[2017-01-26 19:01] inexorabletash commented on #4632
`{}.toString.call(x)` is effectively the same as invoking `Object.prototype.toString.call(x)` which returns what has historically been called the "class name" or "branding" of the target. In ES6 this is exposed as a hook via the @@toStringTag symbol:

[code]

If you invoke this on platform objects in any browser you get the appropriate branding:

[code]

It's not calling it on a generic object; it

[2017-01-26 19:27] RByers commented on #4636
`https://w3c-test.org/submissions/<prnumber>/path/to/test.html`

I don't know.  But if we could somehow hook it up so that the comment ONLY shows once the submission has been updated, that would be ideal.  I've been burned before by accidentally trying to understand the test results corresponding to a previous iteration of a pull request.

[2017-01-26 19:56] tobie commented on #4636
@sideshowbarker:

I guess .css is missing from this list by accident?

[2017-01-26 20:02] tobie commented on #4636
@RByers

So I imagine we need a link to each html file? Or each directory which contains html files?

That's out of scope of what I can do trivially, tbh.

I also hadn't thought about what happens when new files are pushed to the PR. How is that currently handled?

[2017-01-26 22:35] tobie commented on #4636
Pushed this as part of https://github.com/tobie/ganesh/commit/f45d07016dffbbab00d8d676a617f4a4f8f08c0f.

Should be active but not use the magic incantation for now (uses w3c-test:do-not-mirror instead).

Need answers to the following:

* `.css` extensions were omitted, please confirm that's accidental so I can add it to the whitelist.
* I assumed extensions are case insensitive, please confirm.
*

[2017-01-26 23:27] sideshowbarker commented on #4636
Yes, missing just by accident. .css files should be included in the list

[2017-01-26 23:30] sideshowbarker commented on #4636
The new files/changes get mirrored to `https://w3c-test.org/submissions/<prnumber>` (they get fetched and merged into the copy of the PR branch there)

[2017-01-26 23:31] sideshowbarker commented on #4636
yes, they should be handled case-insensitively (though I’m not sure we actually have any in the tree with uppercase extensions or mixed-case ones).

[2017-01-26 23:43] sideshowbarker commented on #4636
There’s actually a `w3c-test:unmirror` comment that causes the copy of the PR branch at `https://w3c-test.org/submissions/<prnumber>` to be deleted. So if @wpt-pr-bot sees that any files with extensions not on the safelist have been added or changed, it can use `w3c-test:unmirror` to delete `https://w3c-test.org/submissions/<prnumber>`.

[2017-01-26 23:59] tobie commented on #4636
Adding support to wipeout the mirror if unsafe files show-up in https://github.com/tobie/ganesh/commit/ee73891fdedc4684bf7298f2c5cb32e18547b1b6.

[2017-01-27 00:02] tobie commented on #4636
@sideshowbarker I can imagine this might be slightly racey, but I guess we're fine with it. On my side, this is OK, would love for someone to run a test PR, with safe stuff first and then push further non safe files. I'll move to using `w3c-test:mirror` after that.

[2017-01-27 00:05] brettz9 commented on #4632
Sorry, I had meant "calling a general object's `toString`"

Awesome info, thanks! And I see from the [WebIDL section on identifiers](https://heycam.github.io/webidl/#dfn-identifier) that the identifier can be found in `interface XYZ`

Looking to implement now...

[2017-01-27 00:05] #4632 closed

[2017-01-27 13:54] obstschale commented on #4040
@tidoust In #4256 there was a renaming issue mentioned by @tomoyukilabs

Should I rename the files in a new PR?

[2017-01-27 21:18] sakjur opened #4644 "urltestdata.json port segment uncertainty"
There's a discrepancy between this repository and WebKit's test suite for the port segment of `http://f:00000000000000000000080/c`.

In [url/urltestdata.json:223](https://github.com/w3c/web-platform-tests/blob/907a506/url/urltestdata.json#L223) the port segment is specified as empty whereas in the [segments.html:23](http://trac.webkit.org/browser/trunk/LayoutTests/fast/url/segments.html?rev=211299

[2017-01-27 22:30] RByers commented on #4636
This is awesome, thank you!

I thought you had to specify the magic string again to get it to mirror the latest version?  Otherwise the race condition here is a potentially serious (probably not too hard to exploit) hole, right?  Seems like the safest way to do this is in whatever code actually decides to do the mirroring - don't require any magic token when there's only safe files, right?

Having

[2017-01-27 22:54] tobie commented on #4636
Well that's currently an open hole, right? Get anyone to approve your perfectly legit PR, then push whatever you want to the server. You can even force push to clean-up. The server could very well already be compromised.

Yes, automation removes the need socially engineer access, but the bar is so low to do that right now (just do a basic PR that only touches files that look safe), I'm not sure it

[2017-01-28 14:32] tomoyukilabs commented on #4040
or, I can submit a PR to change appropriate file names after your PR.

[2017-01-29 21:42] zcorpan opened #4648 "2d.drawImage.incomplete.reload.html has wrong assumptions"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1076583#c26

I suspect that test was written against an earlier revision of the spec (before the spec had a concept of pending request etc). The test also seems wrong (maybe because it was moved?) here

img.src = '../images/red.png';

because that ends up being http://web-platform.test:8000/2dcontext/images/red.png which is a 404...

cc @jdm

[2017-01-30 02:32] tomoyukilabs commented on #4040
@obstschale After your PR #4330 is merged, shall I submit a PR to rename the files?

[2017-01-30 07:53] obstschale commented on #4040
Thx but I will do it after my PR is merged. But I wait for @tidoust :)

[2017-01-30 08:24] tomoyukilabs commented on #4040
Thanks, @obstschale!

[2017-01-30 15:26] #4635 closed

[2017-01-31 11:30] Ms2ger opened #4665 "More tests for HTMLTableElement::caption"
As suggested by @zcorpan in the critic review for #1314:

* [x] Set it to null.
* [x] Set it to a non-caption element.
* [x] Set it to a "caption" element in the wrong namespace.
* [ ] Set it when the table doesn't already have a caption.
* [ ] Set it when the table has a caption child but with other siblings before it.
* [ ] Set it when the table has a caption *descendant*.
* [ ] Set it when the

[2017-01-31 18:52] gsnedders commented on #4619
Also #4383

[2017-02-01 02:19] inexorabletash commented on #4560
cc: @pwnall

Adding the following to tests/helpers would do the trick:

[code]

That'd be a swell PR if anyone wants to take a stab at it.

[2017-02-01 07:35] bzbarsky opened #4688 "html/browsers/the-window-object/security-window/window-security.html requires showModalDialog to exist"
There is no such beastie in the spec, nor in most impls by now.

[2017-02-01 07:36] bzbarsky opened #4689 "html/browsers/the-window-object/security-window/window-security.html requires onmousewheel to exist"
I'm not aware of this being in any spec offhand....  Certainly not in HTML.

[2017-02-01 19:03] jugglinmike commented on #4323
This seems to be a problem with the way the `wpt-tools` project is configured. I've opened https://github.com/w3c/wpt-tools/pull/155 to address the issue.

[2017-02-01 23:23] #4323 closed

[2017-02-02 00:37] domenic commented on #4644
@annevk ?

[2017-02-02 00:42] domenic opened #4699 "Upstreaming script type=module tests"
WebKit and Edge have written a lot of web platform tests for script type=module. It'd be really great if we could get them upstreamed to web-platform-tests so that everyone benefits from everyone else's coverage.

- Edge tests: https://github.com/MicrosoftEdge/web-platform-tests/pull/18
- WebKit tests: https://github.com/WebKit/webkit/commit/750fa06b93b1abd2589a4cd28000f385e8595dcb

I think these

[2017-02-02 00:46] domenic commented on #4699
Also worth noting is this test plan I put together which links out to individual WebKit and Edge tests that cover cases I thought of, plus contains a few items which I couldn't find tests for. https://docs.google.com/document/d/1ZfYUJG7tLvpJm1vleNfc5RoyoNx30NUNAOtnx_jhgRA/edit

[2017-02-02 08:27] annevk commented on #4644
@sakjur it's a bug in WebKit, see https://url.spec.whatwg.org/#port-state. (There's no W3C standard for URLs.)

[2017-02-02 08:27] #4644 closed

[2017-02-02 18:29] ArkadiuszMichalski opened #4703 "Put basic test for DOMTokenList in dom/lists/"
When I'm looking tests for `DOMTokenList` then I intuitively look in the `dom/lists/` but it contains only a part of them, so once again I have spend some time to find others. Looks like most of them are placed in `dom/nodes/Element-classlist.html`, but `DOMTokenList` is used not only by the `classList`.

So maybe move this test to `dom/lists/`? Create separate files for all methods (plus addition

[2017-02-03 23:00] jrummell-chromium opened #4716 "[eme] Update tests so that automated test runners run them as https"
navigator.requestMediaKeySystemAccess() is supposed to only run on secure contexts [1]. w3c-test.org lets you run the tests as http or https, depending on how you connect to the server. However, automated test runners (e.g. the one in Chromium) by default run the tests as http.

It appears that one way to do this is to rename the tests to test.https.html.

[1] http://w3c.github.io/encrypted-media/

[2017-02-03 23:47] jgraham opened #4720 "/html/browsers/history/the-location-interface/location-protocol-setter-non-broken.html tries to navigate to random protocols which invokes helper apps"
This test seems to be a little broken (it causes reload cycles, which may be fixed by the changes in https://reviewboard.mozilla.org/r/109260/). But it also potentially invokes helper applications or a "do you want to navigate" popup. That makes it hard to run in automation, so per @bzbarsky's advice I have disabled the test in the gecko import.

cc @annevk

[2017-02-04 00:18] domenic commented on #4165
The things I most often need to look up but cannot find in the current documentation are server features, especially:

- What different domains are available
- Substitutions in general
- What behaviors are triggered by different file extensions (e.g. .sub.html, .any.js, .worker.js)

[2017-02-05 22:32] tobie commented on #4636
Updated the bot to just add the test URLs (with a different comment for PRs issued by collaborators and non-collaborators) and leave the mirroring issues to the test server script.

[2017-02-06 19:08] jugglinmike commented on #1022
@sideshowbarker I can take a look at this, but it's difficult to know the status
of the feature from the discussion history alone. Currently, the UI looks like
this:

![screenshot from 2017-02-06 13-36-21](https://cloud.githubusercontent.com/assets/677252/22661035/c821f5de-ec71-11e6-93e3-82eb90557230.png)

I'm thinking of the following improvements:

- Explicitly labeling the value, "Current test:

[2017-02-07 10:36] mikewest opened #4751 "Testing behavior for non-standard ports."
https://github.com/whatwg/fetch/pull/464 and https://github.com/whatwg/fetch/issues/482 are proposals to change Fetch's behavior to block a few non-standard ports. We don't have test servers running on these ports, which means that for most things, the failure case (network error because of a timeout) will be the same as the success case (network error due to blockage) in terms of its web-visible

[2017-02-07 10:40] annevk commented on #4720
If the implementation is conforming the test should be non-problematic. If we can flag tests unstable until implemented that might be good...

[2017-02-07 10:51] jakearchibald commented on #4751
Could we just add some servers to those ports? I'm not massively familiar with wpt so apologies if that's naive.

[2017-02-07 10:56] mikewest commented on #4751
Most of the ports are below 1024, which means we'd need root access to map them. I'm not thrilled about giving wptserve root access on my development box, but it's certainly something we could consider for the "real" server. I guess there's also potential for conflict, since many of these ports represent services that might actually be running on your machine (`ssh`, for instance, is something I'd

[2017-02-07 13:25] jgraham commented on #4720
So I don't understand what it would mean to do that; it seems like it's equivalent to disabling the test, which isn't ideal. I also don't understand why the test is supposed to work; if a navigation happens why would the timeout ever fire? And isn't removing the `load` handler the right thing in any case?

[2017-02-07 14:40] annevk commented on #4720
If a navigation happens the test would timeout, I think. Which is better than passing if it didn't actually pass.

Resetting onload seems okay.

[2017-02-07 16:56] asutherland commented on #4751
If documenting, perhaps use a JSON file for the canonical list so that browsers can specifically test using non-wpt tests?  For example, Gecko exposes [bool nsIIOService::allowPort(port, scheme)](http://searchfox.org/mozilla-central/source/netwerk/base/nsIIOService.idl#163) which would allow an automated test to help enforce consistency.

The other testable alternative would be to introduce a back

[2017-02-08 12:05] mikewest commented on #4751
@asutherland: I think that a JSON file makes sense for whatwg/fetch#482's changes to the list of bad ports, but makes less sense for whatwg/fetch#464's change to the behavior of subresources with a scheme of `ftp`. It's not really clear how we'd go about _really_ testing that without spinning up an FTP server, which I don't think anyone wants to do.

[2017-02-08 14:42] tobie commented on #4636
So I'm considering rolling back the changes to @wpt-pr-bot to expose test URLs. They're partially incorrect (not taking in account ref tests, resources, etc.), unable to know whether the tests have been mirrored, can't automatically mirror tests for security reasons.

Links are already available from the stability tests. I think that's enough.

[2017-02-08 15:13] RByers commented on #4636
Yeah having the links in the stability output perhaps good enough.  There are cases when the stability bot fails to run.  Maybe it's worth keeping the 'These tests will be available shortly on w3c-test.org.'?  Or you could use a single link to whatever path is common among all changed files?  Eg. cases like [this](https://github.com/w3c/web-platform-tests/pull/4755#issuecomment-278094024) it's sti

[2017-02-08 15:17] tobie commented on #4636
I think's it's suboptimal for @wpt-pr-bot to display these rather than have the mirroring system post a comment when it's done mirroring.

[2017-02-08 15:19] RByers commented on #4636
Sure, that would certainly be better if it's not too hard.  @sideshowbarker?

Also, we still need to change the mirroring bot to auto-mirror for non-contributors when all files are safe, right?  @sideshowbarker are you the one who knows that code best?

[2017-02-09 02:52] asutherland commented on #4751
@mikewest Agreed that the JSON approach doesn't work or particularly make sense for the http-fetching-ftp https://github.com/whatwg/fetch/pull/464 case because the decision is likely implemented deep enough inside fetch to be unreachable.  Maybe an optional mechanism to annotate the expected errors with the secret "why" can be added that browser test runners can consume and map to their own intern

[2017-02-09 03:44] foolip commented on #4751
There are woefully many things that are currently web exposed but not possible to write automated tests for using web-platform-tests, and in this case not even manual tests unless one asks the user to do certain things as root while the test is waiting, which would be silly.

@jgraham, is there already a label we can use to keep track of things that are untestable, as opposed to just lacking tests

[2017-02-09 16:15] foolip opened #4772 "Media element autoplay cannot be tested because supporting it is optional"
In https://html.spec.whatwg.org/multipage/embedded-content.html#ready-states the requirements around autoplay are all "may" and there is this note:

Still, when UAs *do* support autoplay, it is very much possible to test that it has the right timing and that e.g. calling `video.pause()` causes autoplay to never happen.

To test this, we would need to either strengthen the requirements in HTML, or

[2017-02-09 17:09] #4550 closed

[2017-02-11 12:31] sideshowbarker commented on #2520
https://github.com/w3c/web-platform-tests/blob/master/XMLHttpRequest/send-redirect-to-cors.htm#L54 is already setting a custom header, isn’t it? (At least one that will trigger a preflight…)

[code]

[2017-02-11 14:40] annevk opened #4802 "Missing <canvas> toDataURL / toBlob tests"
From @junov (more context at https://github.com/whatwg/html/pull/2343):

Calls to toDataURL and to toBlob may experience internal errors in the image encoders. Creating the necessary conditions for such failures to occur reliably in all browsers is an unsolved problem. Therefore, there are no tests covering the behavior of toDataURL and toBlob in cases where the encoding fails.

Missing tests:
* T

[2017-02-12 03:36] sideshowbarker commented on #4636
I’m not personally very familiar with the script that does the mirroring. I’ve made some minor hacks to it in the past but nothing more than that.

The source is at https://github.com/w3c/github_sync

I especially am not familiar with the mechanism which any of the existing bots use to post comments to github issues. I assume it’s some relatively simple thing that can be done with the github API b

[2017-02-13 19:18] gsnedders opened #4813 "reftest-wait support for visual tests?"
This is probably a good idea, and given we collectively don't maintain any runner is quite easy for us to implement! Opinions? @jgraham @Ms2ger

[2017-02-13 19:46] gsnedders commented on #4165
There's now a [menu in the top right](https://gsnedders.github.io/wpt-docs/) with links to every page. Perhaps this is a bit too many, but there's frequently people wanting one specific thing. Hopefully the titles are good enough!

[2017-02-13 19:47] gsnedders commented on #4165
FWIW, I'm going to move towards trying to get this all merged and live soon—should then probably move everything else into specific issues to fix later.

[2017-02-13 22:23] RByers commented on #4636
Ok, thanks!  @bobholt want to add this to your list?

[2017-02-14 01:43] frivoal commented on #4165
Can you add something like `.wpt-site-nav {  padding-right: 1rem; }` to limit the interference between the top-right menu's content and overlay scrollbars?

[2017-02-14 05:27] silviapfeiffer commented on #3222
patches have landed to webvtt repo - should this be closed?

[2017-02-14 05:46] brettz9 commented on #2888
As it has been a while and this looks like the only remaining IndexedDB test problem, could priority for fixing this be bumped up?

[2017-02-14 05:51] brettz9 opened #4817 "IndexedDB: ES bug in new test file"
Unless there has been a recent ES change, I believe the code at

https://github.com/w3c/web-platform-tests/blob/master/IndexedDB/idb-binary-key-roundtrip.htm#L73

...namely the second-to-last line at:

[code]

...is problematic for having a trailing comma in a function argument list (as opposed to an array or object).

[2017-02-14 10:03] zcorpan commented on #3222
Yep. Tests are upstreamed as well in https://github.com/w3c/web-platform-tests/issues/3387

Thanks

[2017-02-14 10:03] #3222 closed

[2017-02-14 12:26] bobholt commented on #4636
Sure thing, @RByers.

[2017-02-14 13:22] foolip opened #4822 "Test the FontFaceSetLoadEvent constructor"
See https://github.com/w3c/csswg-drafts/issues/810 for discussion and existing tests in Blink.

[2017-02-14 13:45] bobholt commented on #4636
A couple of questions:

The prbuildbot edits its existing comments on a new push or reopened PR. When this gets a new push, sync comment, or reopened PR, do you want to edit the existing comment or create a new one? I could probably even do something tricky like delete the original comment on sync start and create a new one on sync end, which could alleviate the condition of following a link to an

[2017-02-14 13:54] gsnedders commented on #4165
That makes it look very asymmetrical. And making it sufficiently large on all sides makes it overflow the header. Can we have a media query for this already? :)

[2017-02-14 14:22] tobie commented on #4636
I'd add the URLs at the bottom of the initial comment, similar to how I've added preview and diff links here: https://github.com/heycam/webidl/pull/304. Ideally inside a [`details` element](https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d).

[2017-02-14 14:33] bobholt commented on #4636
@tobie: Sorry, my explanation conflated the two different bots. The prbuildbot would not update this comment - the links its adding are in its own comments (the comments now coming from @w3c-bots in each PR), and actually come not from the bot, but from the log output of check_stability.py. I was using it as an example of a bot that updated its comment.

I'm not sure what user is represented by ht

[2017-02-14 14:42] tobie commented on #4636
I think discrete links to tests is precisely where the value resides. How does the prbuildbot know which tests to run? Can this be somehow exposed?

It's similar to what I was suggesting, except I used the issue itself rather than a comment.

[2017-02-14 15:09] RByers commented on #4636
The most important thing tracked by this issue IMHO is getting the mirroring occurring automatically in most cases (while remaining secure of course).  If it's easy to post a simple "Available at http://w3c-test.org/submissions/<pr>/" comment once mirroring is complete, that's great.

In addition we've been talking about the value of having links to the specific files that were changed (or a singl

[2017-02-14 15:22] bobholt commented on #4636
The check_stability script which runs on Travis figures this out: https://github.com/w3c/web-platform-tests/blob/master/check_stability.py#L401-L454. The build bot only gets that information because check_stability adds it to the Travis log and the bot parses it back out. The build bot is essentially a parrot - it reads the Travis log and comments to GitHub all of the lines that match `r'^([A-Z])+

[2017-02-14 16:30] frivoal commented on #4165
No, but we have this: https://drafts.csswg.org/css-overflow-4/#scollbar-gutter-property
It is not yet implemented though.

[2017-02-14 16:41] Ms2ger commented on #4813
No particular objection.

[2017-02-14 23:36] tobie commented on #4636
Removed the testing info from @wpt-pr-bot's comments which is now back to focusing on labelling and finding owners.

[2017-02-15 07:34] foolip commented on #2656
There are some tests in https://github.com/w3c/web-platform-tests/tree/master/fullscreen now and I think an umbrella issue isn't going to be useful any longer, so closing this. Issues for specific parts lacking coverage might be useful, but realistically what needs to happen is a concerted effort to convert and upstream engine-specific tests, which would be better tracked in those bug trackers.

[2017-02-15 07:34] #2656 closed

[2017-02-15 10:36] foolip commented on #3292
https://github.com/w3c/web-platform-tests/pull/4190 tested the DOM part of this, looks like removing it from svg/interfaces.html is all that remains.

[2017-02-15 14:45] gsnedders commented on #4165
#4833 contains the refactoring and what's been done so far of rewriting stuff; I'll split out the remaining issues mentioned in here into new issues.

[2017-02-15 14:59] #4165 closed

[2017-02-15 15:04] annevk commented on #499
@domenic @jasnell what do you think? Making `urltestdata.json` reflect URL records might be somewhat better than having it reflect the JavaScript API.

[2017-02-15 15:04] annevk commented on #499
(That might also make it easier to omit fields that have their default value?)

[2017-02-15 15:06] annevk commented on #1104
We've added several more IPv4 tests since (and the standard has changed quite a bit on that front). Closing this. If we need more a more specific issue would be great!

[2017-02-15 15:06] #1104 closed

[2017-02-15 15:08] annevk commented on #1408
This got fixed by #2830.

[2017-02-15 15:08] #1408 closed

[2017-02-15 15:10] annevk commented on #3018
Oh sweet, can you generate new reports? Would love to add more tests, in particular now with Safari actively implementing.

[2017-02-15 15:26] rune-opera commented on #2117
[1] states that the title must be non-empty. Reported https://crbug.com/692560

[1] https://html.spec.whatwg.org/multipage/semantics.html#link-type-stylesheet

[2017-02-15 15:50] frivoal opened #4835 "Update README.md to account for https://web-platform-tests.org/"
We now have nice and up to date documentation  living at https://w3c.github.io/web-platform-tests/, but there's also a good chunk information in the repo's README.

We should:
* Make the README point to https://w3c.github.io/web-platform-tests/ instead of http://testthewebforward.org/ (and make the link to  more prominent, probably by putting it at the top)

* Stop having too places to document th

[2017-02-15 15:50] jugglinmike commented on #2117
The quote that @xiaojunwu shared comes from https://dev.w3.org/html5/spec-preview/styling.html

This means the contents of the resource (or even its existence) are not a factor here. For this test, `style2` and `style3` are expected to have no `sheet` attribute because their "`title` content attribute is missing or empty", where "empty" is defined as follows:

(source: https://dev.w3.org/html5/spe

[2017-02-15 15:57] domenic commented on #499
Strong -1 from me. Being able to do simple assert_equals against the public API is what makes this a valuable way of testing the public API. If we start reconstructing the expected values from the JSON plus added test-specific logic, that'd be a big step backward to the old days where urltestdata just contained URL strings and the tests had to have their own mini-parser to reconstruct the expected

[2017-02-15 16:00] annevk commented on #499
Okay, not a hill I'm dying on.

[2017-02-15 16:00] #499 closed

[2017-02-15 16:03] domenic commented on #3018
Yeah, it's just `npm run coverage` from within the whatwg-url project. I've generated a new report at the same URL and updated the OP. Coverage went from 90 -> 95 and 85 -> 94 for those two files.

[2017-02-15 16:41] gsnedders commented on #4835
This should actually be http://web-platform-tests.org/

[2017-02-15 16:44] jasnell commented on #3018
Very nice.

[2017-02-15 17:04] inexorabletash commented on #2888
PRs welcome! :)

On Mon, Feb 13, 2017 at 9:47 PM, Brett Zamir <notifications@github.com>
wrote:

[2017-02-15 18:08] gsnedders commented on #4835
So the links from the README now all auto-redirect to the right URL.

As for duplication between the README and the documentation, this has been discussed on a number of occasions; we're far from the only project with such things (indeed, it's quite typical on GitHub to have basic setup info in your README, both how to build and how to run tests, anything needed for someone to jump in immediately

[2017-02-15 21:15] AtOMiCNebula commented on #4699
It seems our MicrosoftEdge/web-platform-tests repo isn't being kept up to date with w3c's.  Dang!  I'll try to figure out what's going on over there, this should have been merged into w3c's shortly after I merged in to MicrosoftEdge's.

[2017-02-15 22:12] AtOMiCNebula commented on #4699
It sounds like we have some housekeeping issues going on in our clone.  I rebased my change to get around a not-yet-upstreamed commit, see #4876.

[2017-02-15 22:52] #4383 closed

[2017-02-16 00:20] tkent-google commented on #2117
Thanks.
The behavior is clearly defined in the W3C HTML5, and I still couldn't find it in WHATWG HTML.

Closing this anyway.

[2017-02-16 00:20] #2117 closed

[2017-02-16 04:12] foolip commented on #4165
Yay! In https://codereview.chromium.org/2696323003/ I'm linking to some of these new docs.

[2017-02-16 05:19] mikewest opened #4880 "How to test origin-wide impacts of things like HSTS?"
I'd like to write some tests that verify the ordering of HSTS vs Mixed Content checks. To do so, I'd need to set a `Strict-Transport-Security` header on an origin, then try to load a resource from that origin to see what happens. In itself, trivial!

However, setting that header would effect every other file loaded from the origin (and would probably break things entirely due to the fact that we'r

[2017-02-16 13:19] zcorpan commented on #4619
Trimming webvtt from OP:

The following tests give different results at 800x600 v. 600x600 (the expected results are those at the larger size):

FAIL /html/semantics/text-level-semantics/the-bdi-element/bdi-neutral-wrapped.html

Comparing with 1600x1200 v. 600x600 (same again; 1600x1200 was the size used by Presto's CI system for the curious):

FAIL /html/dom/elements/global-attributes/dir_auto-co

[2017-02-16 13:27] zcorpan commented on #4619
/html/semantics/text-level-semantics/the-bdi-element/bdi-neutral-wrapped.html has different rendering because the instruction wraps. But it wraps in the same way in the test as in the ref if they're both the same viewport size, right? So this is not a problem?

[2017-02-16 13:30] zcorpan commented on #4619
/html/rendering/replaced-elements/embedded-content-rendering-rules/canvas-fallback.html

This gets a scrollbar in 600x600, but not the ref. That should be fixed.

[2017-02-16 15:12] foolip opened #4884 "workers/data-url-shared.html sometimes fails with harness error on Firefox"
See https://github.com/w3c/web-platform-tests/pull/4832#issuecomment-280350564

Also failed in the same manner on http://w3c-test.org/workers/data-url-shared.html before those changes.

It looks like whitespace is being stripped from the data: URL resulting in a syntax error. This could be a test issue or a Firefox problem, not yet investigated.

@jgraham

[2017-02-16 15:20] foolip commented on #4884
FWIW, just adding some `{` and `}` to the test would probably avoid the problem, but that'd probably just mask the real issue.

[2017-02-16 15:41] jgraham commented on #4884
I'm going to add the workaround now to get a stable test in Fx. If there's a real bug here (which instability suggests there must be), we should add a new test.

[2017-02-16 19:11] foolip commented on #4884
We'll probably have the same situation for Chromium sooner or later, how do you propose to handle it? Just make a copy of the test called -flaky.html or some such that we keep around until investigated?

[2017-02-16 20:24] domenic commented on #3018
Updated the OP after #4882. Very nice.

[2017-02-17 02:07] brettz9 commented on #4817
Nevermind, I see ES2017 has support for trailing commas... Would be nice to have avoided but I'll close.

[2017-02-17 02:07] #4817 closed

[2017-02-17 08:44] annevk commented on #3018
Can we also get coverage on IDNA, which is just a single method in this library?

[2017-02-17 14:05] annevk commented on #4103
#4911 adds some. I've also added others in the past to `html/browsers/history/the-location-interface/`. We could use a lot more setter tests, but they are rather tricky to do. Setters that need to fail are somewhat easier.

[2017-02-18 16:36] annevk opened #4922 "Documentation: how to require HTTPS"
Presumably this is a thing that we have now because of service workers and secure contexts. It's missing from http://web-platform-tests.org/writing-tests/server-features.html however.

[2017-02-18 16:37] annevk opened #4923 "Documentation: Writing Tests doesn't link to server documentation"
http://web-platform-tests.org/writing-tests/ should explain/link how to write the potential server-side component too.

[2017-02-18 16:41] annevk opened #4924 "Documentation: web-platform-tests.org lacks HTTPS and HSTS"
Our documentation should be hosted reliably.

[2017-02-19 15:52] agouaillard commented on #4368
I'm hitting the same problem. Did you find a solution?

[2017-02-20 00:47] agouaillard commented on #4368
Solved it in my case. The error message indicate that the requested address / host could not be found. By default it is looking at the address in config.json, which by default is "web-platform.test". I had introduced a typo in my /etc/hosts file, resulting in that address not being defined, which in turn triggered the (cryptic) error.

[2017-02-20 01:08] youennf commented on #4368
First-time WPT users usually expect the WPT server to run directly without doing anything than launching the serve script. For some users, it is annoying to change /etc/hosts.

If we were using localhost instead of web-platform.test, the server script would work directly in many configurations without any change. This would be more user friendly.

Changing /etc/hosts would only be required for a l

[2017-02-20 01:31] agouaillard commented on #4368
hi youenn. I'm not exactly first time user, I have been maintaining the media stream and webrtc tests for two years now. However, i did not have to touch the installation for a long time. I configured a new computer last night and an extra "i" was included (you know .... VI users ...).

I do agree with you though. The first time, I had a lot of very annoying, and confusing for a first timer, probl

[2017-02-20 15:35] annevk commented on #2709
Created a basic test for this.

[2017-02-20 15:47] annevk commented on #2042
Testing this in XMLHttpRequest should be good enough.

Filed:

* https://bugs.chromium.org/p/chromium/issues/detail?id=694279
* https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11010069/
* https://bugs.webkit.org/show_bug.cgi?id=168598

Changed in:

* https://github.com/whatwg/fetch/issues/37

[2017-02-20 15:47] #2042 closed

[2017-02-20 15:58] annevk commented on #3834
This got fixed in #4126.

[2017-02-20 15:58] #3834 closed

[2017-02-20 16:32] #1362 closed

[2017-02-20 17:32] annevk commented on #2668
We should first sort https://github.com/whatwg/dom/issues/221 before we can fix this.

[2017-02-20 17:51] annevk commented on #2801
I looked into this. If we wanted a proper simple test that doesn't fail, it'd require some refactoring. Should I go ahead and do that or do we think it's fine now?

[2017-02-20 17:56] youennf commented on #2801
I am all for a simple passing test if that is not too much work

[2017-02-21 09:15] annevk commented on #2618
It appears that specific bug has been fixed by https://github.com/w3c/web-platform-tests/commit/c8bb82a6a1495f264e394778c3e930de36c85673.

This test still has a problem however that it always expects a non-default port to be used, so http://w3c-test.org/fetch/api/policies/referrer-origin.html ends up failing for no reason (although the second test should fail since Firefox has apparently not yet r

[2017-02-21 10:07] #2709 closed

[2017-02-21 10:39] annevk commented on #2612
I made the change to wptserve you suggested in https://github.com/w3c/wptserve/issues/112 but it still doesn't seem to work.

[2017-02-21 10:58] annevk commented on #3738
I posted a PR, review appreciated.

[2017-02-21 11:02] annevk commented on #2612
headers-normalize-response.htm should maybe also be updated.

[2017-02-21 11:46] zcorpan opened #4934 "Clean up html/infrastructure/urls/resolving-urls/query-encoding/"
* Need to file browser bugs for failing tests.
* Probably should split tests into smaller chunks for each file.
* running query-encoding/windows-1251.html I get numerous Python errors
* Check if there are problems with stability in test results

cc @annevk

[2017-02-21 15:41] zcorpan opened #4940 "data: URLs in webvtt tests"
Some webvtt tests use data: URLs, like webvtt/api/VTTCue/align.html

[code]

I think this is not supposed to work (anymore), since data: URLs get an opaque origin, and do not have CORS headers, cannot be same-origin with the page. I did not manage to step through the spec's steps right now though... @annevk can you help?

Anyway, what we should do is replace the data: URLs with actual files, and s

[2017-02-21 16:14] annevk commented on #4940
No, this should still work. Step 12 (number likely to change over time) of https://fetch.spec.whatwg.org/#concept-main-fetch makes all data URLs same-origin, but also points out that we override that when the data URL contents end up creating an environment.

[2017-02-21 18:03] wisniewskit commented on #3738
Sure, for what it's worth that PR seems fine to me.

[2017-02-21 18:11] annevk commented on #3738
Good enough for me. Let me know if you want to be an owner of XMLHttpRequest tests.

[2017-02-21 18:11] #3738 closed

[2017-02-21 18:17] wisniewskit commented on #3738
Sure, if it would help then I don't mind. Just let me know if there's any reading material I should go through, and any services I should subscribe to or lurk on.

[2017-02-21 18:22] annevk commented on #3738
You can PR this repository and add your username to XMLHttpRequest/OWNERS as a first step. http://web-platform-tests.org/ has some documentation on reviewing.

[2017-02-21 21:04] zcorpan commented on #4940
Huh! Good thing I asked 😊 Thanks.

Since the cited test seems to get an `error` event in Chromium, I still think it could be good to change to use files, and test `data:` separately... but then expect to succeed.

[2017-02-21 21:12] #4515 closed

[2017-02-21 21:20] zcorpan opened #4948 "Test if alternative stylesheet is blocking scripts"
See https://github.com/w3c/web-platform-tests/pull/4828

https://html.spec.whatwg.org/#interactions-of-styling-and-scripting

Something like

[code]

[2017-02-21 21:24] zcorpan commented on #4948
Maybe there are good performance reasons to not do this though?

[2017-02-21 21:35] #3213 closed

[2017-02-22 06:14] annevk commented on #4940
Or Chrome could just fix its bug...

[2017-02-22 07:19] mnot opened #4951 "UnicodeDecodeError in environment mangling"
`/tools/sslutils/openssl.py`line 70 does:

This will cause a `UnicodeDecodeError` when `PS1` or `PS2` has certain escape sequences in them.

This deals with it:

(although you could also just set the value to `v`)

[2017-02-22 08:27] tkent-google commented on #2094
This was fixed.

[2017-02-22 08:27] #2094 closed

[2017-02-22 14:01] #2618 closed

[2017-02-22 14:30] #1064 closed

[2017-02-22 17:52] gsnedders opened #4985 "Stability checker doesn't handle TIMEOUT"
see, e.g., https://travis-ci.org/w3c/web-platform-tests/jobs/204278553

[code]

cc/ @bobholt @jgraham @sideshowbarker

[2017-02-22 18:01] inexorabletash opened #4986 "Add common lib for opaque origin tests"
As suggested in https://github.com/w3c/web-platform-tests/pull/4919

There's a common pattern using a sandboxed iframe, injected document body, and postMessage to exercise APIs that should fail (throw, reject, etc) in opaque origins. Mostly in storage-related APIs.

Thus far we've copy/pasted the code, but let's be real grown up engineers and factor it out.

* service-workers/cache-storage/window/

[2017-02-22 18:05] mkruisselbrink commented on #4986
Something like the fetch_tests_from_window in https://github.com/w3c/testharness.js/pull/239 would be one possible implementation? That's at least pretty much the way I implemented tests for workers in opaque origins in workers/opaque-origin.html

[2017-02-22 18:07] mkruisselbrink commented on #4986
Or maybe we could even have support at a higher level and add magic so just naming your test foo.opaque.html would auto-generate the wrapper to create a sandboxed iframe to load foo.opaque.html in, and then fetch_tests_from_window to get the results in the outer window....

[2017-02-22 18:21] lyzadanger commented on #4951
See also: https://github.com/w3c/wpt-tools/issues/163

[2017-02-22 18:33] inexorabletash commented on #4986
I was just planning to move the existing functions into a library, but if you're feeling ambitious... :)

[2017-02-22 18:47] mkruisselbrink commented on #4986
Well, I'm definitely not feeling ambitious enough to implement any such magic in wptserve. But fetch_tests_from_window from that pull request does seem like it could be most of what you need in shared functionality, especially combined with something like load_iframe, which I agree does make sense in common/ as well. Service worker tests have a very similar with_iframe method already as well, with

[2017-02-22 18:50] jugglinmike commented on #4985
I'm pretty sure this is a result of a bug in my work introduced via gh-4916. I'll fix it presently

[2017-02-22 22:36] #4985 closed

[2017-02-22 23:56] domenic opened #4990 "Add a "don't ping reviewers" sigil"
Us poor URL reviewers get a lot of pings from bots asking us to review cases when the WPT infra folks are actually just using URL files as a testing ground for infra changes.

It would be ideal if this didn't happen. One way of doing that would be, e.g., for the bots to not ping if the PR title contains "[infra]" or similar.