[2018-11-22 23:38] foolip commented on #13800
Looks like the problem is resolved with STP 70: https://github.com/web-platform-tests/wpt/pull/14198

Thanks @burg for the debugging tips, although I didn't end up debugging. Sometimes waiting works too :/

[2018-11-23 02:38] Hexcles commented on #14199
Thanks for filing the issue! We are aware of this problem and have filed a Chromium issue to track this: https://crbug.com/852014

@KyleJu already made a tool to close stale PRs whose original CLs are abandoned. However, we missed an edge case: PRs whose original CLs have been submitted but no longer with exportable changes. The tool should be modified to clean up these as well. Besides, we need t

[2018-11-23 09:16] foolip opened #14207 "Taskcluster failured due to memory "Cannot allocate memory""
The [7 most recent commits to master](https://github.com/web-platform-tests/wpt/commits/bf2bef64b0056d8641ba1caf65315fa28221add9) at the time of writing all have failed Taskcluster runs:
https://tools.taskcluster.net/groups/f9h2rnpNSGSZtf8XqKsI7g
https://tools.taskcluster.net/groups/PEZ79dY9R2GhxheZKTXC3Q
https://tools.taskcluster.net/groups/MEBnx5kARYKxgH42Ot3zsQ
https://tools.taskcluster.net/gro

[2018-11-23 09:17] foolip commented on #14207
It started happening when https://github.com/web-platform-tests/wpt/pull/14025 was merged. That seems like a somewhat unlikely cause, but I'll try reverting it anyway to see.

[2018-11-23 09:29] foolip commented on #14207
Ah... We don't even fetch the tags in the Taskcluster setup:
https://github.com/web-platform-tests/wpt/blob/1ede22e333195e47e13260a58ce89ef3220c19c7/tools/docker/start.sh#L27-L36

[2018-11-23 09:49] foolip commented on #14186
@gsnedders funny that you should mention this possibility yesterday, and then it immediately happened :)

In https://github.com/web-platform-tests/wpt/pull/14156 I'm working on `./wpt run --affected` which I'll probably break out into its own PR. I think Taskcluster could then use the same setup.

cc @jugglinmike who wrote taskcluster-run.py.

[2018-11-23 09:59] foolip opened #14210 "Monitor Taskcluster PR and master runs"
Our Taskcluster setup is amazing, but not so reliable that we never have to worry about it, and also it's possible to break it with our own code changes. Issues so far:
- [Taskcluster master runs fail very often](https://github.com/web-platform-tests/wpt/issues/10653)
- [Taskcluster tasks sometimes hang at the end](https://github.com/web-platform-tests/wpt/issues/10842)
- [Tasks going OOM on Taskc

[2018-11-23 10:00] foolip commented on #13818
https://github.com/web-platform-tests/wpt/issues/14210 is an issue about monitoring Taskcluster on an ongoing basis. Possibly we can share some monitoring code/process across our CI systems.

[2018-11-23 10:01] foolip commented on #14210
In https://github.com/web-platform-tests/wpt/issues/13818 I've done some work to monitor Azure Pipelines in an ad-hoc manner. Turning that into something real and sharing it across CI systems might be one path.

Relevant technical detail: Taskcluster uses the Statuses API and Azure Pipelines the Checks API.

[2018-11-23 11:10] foolip commented on #14207
All right, it was my fault, Taskcluster is now passing again.

[2018-11-23 11:10] #14207 closed

[2018-11-23 12:43] lukebjerring commented on #14210
Eventually, wpt.fyi is intending to respond to Taskcluster having kicked off and become pending until it hears further. If we set up some kind of timeout, this will cover the last item in your monitoring list.

[2018-11-23 15:20] mdittmer commented on #13989
Friendly ecosystem infra rotation nudge for @Hexcles

[2018-11-23 15:21] mdittmer commented on #7435
Friendly ecosystem infra rotation nudge to @NavidZ. Any updates on adding documentation?

[2018-11-23 15:34] NavidZ commented on #7435
@jgraham I was planning to only explain the builder API directly to make sure people hopefully use that instead of directly calling in action_sequence. Are you okay with that?

[2018-11-23 15:47] jgraham commented on #7435
Yes, for sure.

[2018-11-23 18:04] jugglinmike commented on #13013
Yeah, that's what I was thinking, too (though I kind of hid it at the end of the initial report above).

[2018-11-23 18:45] foolip commented on #14186
It never would be, but we also can't use the same approach on Windows when we get to that.

@qiuzhong did you run into this on one of your PRs touching many files?

[2018-11-23 18:48] foolip commented on #13013
That seems reasonable, certainly if the time saving from making the switch more than makes up for the cost of an extra run per week, which seems likely.

The hard part in practice I guess would be to actually keep caring about discrepancies, since diagnosing/fixing them will be laborious, and sometimes shards cross directory boundaries so nobody will want to take the issue until it's probably thei

[2018-11-23 18:50] foolip commented on #14210
Sounds good. If we also have a custom status check that's triggered for the same things as any of our runs (including master) perhaps that could implicitly monitor the other CIs in a way that avoids building a separate monitoring dashboard for this? Kind of a stretch?

[2018-11-23 22:41] foolip commented on #11120
@qiuzhong looks like there aren't too many left now, yay :)

Some of the directories marked as done in https://github.com/web-platform-tests/wpt/issues/11120#issuecomment-438511094 still have tests using timeouts on master though, so best to grep again.

[2018-11-24 03:49] jugglinmike commented on #14003
I'm on the case!

[2018-11-26 03:02] qiuzhong commented on #14186
@foolip, yes.

I failed to run `tools/ci/taskcluster-run.py` on Windows as it always said `Quitting because no tests were affected` even there're obviously between two commits.

I did run `python tools/ci/taskcluster-run.py --commit-range HEAD~ chrome` to check results on Linux after I committed. But I almost got this error like this every time:
[code]

I feel like the command line is too long whe

[2018-11-26 05:51] qiuzhong commented on #11120
@foolip , thanks for reminding the missing async_test. I should double check after commit. See new PR #14227 for removing the rest `timeout` in async_test.

[2018-11-26 06:01] qiuzhong commented on #11120
Grepping the `timeout` in the root directory, there'are still many matches. But they're mainly in `setup` and `promise_test`. I have no idea about the impact of removing `timeout` in these statements.

[2018-11-26 06:07] qiuzhong commented on #14118
In the async_test of this html, the timeout was set 20000 ms, which exceeds the default value (10000 ms). Try to add `<meta name=timeout content=long>` in the html head.

[2018-11-26 06:36] qiuzhong commented on #13937
@foolip , I got this error when running `./wpt affected-tests`:
[code]

I thought you mean `./wpt tests-affected` but typed the wrong order for this argument.

[2018-11-26 09:05] foolip commented on #13937
@qiuzhong, thank, I've updated the title and description.

[2018-11-26 09:51] foolip commented on #11120
The `promise_test` ones should be removed, the ones in `setup` should not.

[2018-11-26 09:51] foolip commented on #11120
(At least not to resolve this issue, perhaps they should separately, later.)

[2018-11-26 10:05] foolip commented on #14186
Ah, I guess you were trying to reproduce the problem from Taskcluster on Windows? That it doesn't work is probably no suprise to @jgraham or @jugglinmike,  but I wonder if the Taskcluster logs could give instructions for how to reproduce locally, including the required Docker bits?

[2018-11-26 10:17] #3225 closed

[2018-11-26 10:32] foolip commented on #11120
I've sent https://chromium-review.googlesource.com/c/chromium/src/+/1061753 to see what tests still need updating.

[2018-11-26 11:07] foolip commented on #14165
@jgraham can you help us poke for progress on this?

[2018-11-26 17:57] jgraham commented on #14179
I think those patches should mostly only affect things if you update the manifest from the worktree rather than using the git data, which I don't think these tests do, although there are some changes in the shared code that could make a difference. So far I haven't seen any problems with the patches on gecko infra where they definitely are used, but that doesn't mean they can't break in a more res

[2018-11-27 00:05] jugglinmike commented on #14003
This is the result of a deficiency in Edge/Edgedriver: string literals transmitted via the "Execute Script" and "Execute Async Scripts" commands are truncated at the first null byte.

[I've submitted a WebDriver conformance test to alert the Edge maintainers](https://github.com/web-platform-tests/wpt/pull/13880#issuecomment-441341286), and I've suggested a more immediate solution for WPT via gh-14

[2018-11-27 08:57] qiuzhong commented on #14186
I didn't run the script from Taskcluster CI on Windows. I simply ran it locally.

[2018-11-27 09:50] Ms2ger commented on #4002
Fixed in #11414

[2018-11-27 09:50] #4002 closed

[2018-11-27 09:50] Ms2ger opened #14254 "Intermittent "Unrecognized type EventHandlerNonNull" in html/dom/interfaces.https.html"
I've seen this in https://github.com/web-platform-tests/wpt/pull/14252, but also before that. I tried to reproduce at the time, but failed.

[2018-11-27 09:51] foolip commented on #13274
I happened to look at recent commits, and https://github.com/web-platform-tests/wpt/commits/75b92bf3d1791dc0e47cd8a716a135e98d2d2937 has a similar failure (https://tools.taskcluster.net/groups/ZklAzb_fTueVrBAWR0kGBA): "requests.exceptions.ConnectionError: HTTPSConnectionPool(host='hg.mozilla.org', port=443): Max retries exceeded with url: /mozilla-central/archive/tip.zip/testing/profiles/ (Caused

[2018-11-27 09:53] foolip commented on #14210
In https://github.com/web-platform-tests/wpt/issues/13274#issuecomment-441995833 I reported a failure (https://tools.taskcluster.net/groups/ZklAzb_fTueVrBAWR0kGBA) that should have come up in monitoring. Had that been the daily commit (and we were no longer running Buildbot) we would have no aligned runs for that day.

@lukebjerring, is that a case that would be caught by the time of wpt.fyi monit

[2018-11-27 10:00] foolip commented on #11120
That job has finished and these are the tests that still need updating:
[code]

@qiuzhong do you have PRs out for all of those?

[2018-11-27 10:01] foolip commented on #11120
Looks like https://github.com/web-platform-tests/wpt/pull/14253 covers some, yay :)

[2018-11-27 10:02] foolip commented on #14118
Fixed by https://github.com/web-platform-tests/wpt/pull/14227.

[2018-11-27 10:02] #14118 closed

[2018-11-27 10:13] foolip commented on #11120
@qiuzhong with your two most recent PRs merged, I think the tests in css/css-transitions/ are all that remain.

[2018-11-27 10:41] annevk opened #14256 "Explicitly test browsing contexts named "_parent", "_self", and such"
This came up in https://github.com/whatwg/html/pull/4197 and as far as I can tell we don't have tests for this yet.

[2018-11-27 17:26] domenic opened #14262 "Add test coverage that javascript: URLs do not cause "override URLs""
https://github.com/whatwg/html/commit/6440ccae7340ea41d3eb5bf8ff0b3b27363eda85 removed the "override URL" concept entirely from the HTML Standard, but the tests that landed along with it only took care of the document.open() case, not the javascript: URL case. We should write tests for how the javascript: URL case works, to confirm that there's no override-URL-like business going on.

My vague rec

[2018-11-28 06:02] qiuzhong commented on #11120
Besides the css/css-transitions/, there are other tests in css/css-regions/ that need to remove the `timeout`. The `timeout` is passed as an argument so they escaped from grepping `timeout:\s*\d+`.

[2018-11-28 06:09] Honry opened #14274 "[web-nfc] Update tests to use AbortSignal instead of cancelWatch"
Reflects to latest spec change at https://github.com/w3c/web-nfc/pull/162

[2018-11-28 06:12] qiuzhong commented on #11120
@foolip , the tests you listed above should be all covered now.

[2018-11-28 13:21] foolip commented on #14179
Calling it backlog until we learn how often this happens.

[2018-11-28 15:18] mdittmer commented on #12907
This work was completed by https://github.com/web-platform-tests/wpt-pr-bot/pull/44

[2018-11-28 15:18] #12907 closed

[2018-11-28 17:51] gsnedders commented on #7598
@foolip https://bugzilla.mozilla.org/show_bug.cgi?id=1510696 is the bug on the Firefox side to avoid hardcoding the reftest size in Marionette for the internal reftest runner, which now has a patch which on the face of it works.

Apart from that, we have two choices: disable the internal reftest runner for older versions of Firefox (prior to whenever that lands), or wait until that reaches stable

[2018-11-28 17:55] jgraham commented on #7598
I am working on android reftests and vertical overflow is a huge problem :( Any test that overflows the viewport is unstable because the scrollbars sometimes appear in the screenshots.

[2018-11-28 23:15] Hexcles commented on #13989
We are using the ["m5.large"](https://github.com/taskcluster/docker-worker/blob/01425ffc2ea87b7418dbded9a355ee2cd3babf00/deploy/packer/app.json#L72) instance type on AWS which has 8GB of memory. It is possible that under certain circumstances browsers may use a significant portion of that. Considering the Python runner itself also needs a couple of GB (for manifest), running into OOM is plausible.

[2018-11-28 23:45] Hexcles commented on #13989
Hmm, according to the log, we are using "m3.xlarge" which has 12GB of memory. https://taskcluster-artifacts.net/Fif-hWo-SH6FK3tR07dIcA/0/public/logs/live_backing.log

[2018-11-28 23:48] Hexcles commented on #13989
Sorry, clicked the wrong button...

[2018-11-29 14:01] foolip commented on #7598
Those aren't great options :( After verifying that it will work, I guess I'd have to vote for waiting until the changes reaches stable.

[2018-11-29 22:00] Hexcles commented on #13989
I misunderstood the resource model of Taskcluster. Apparently each worker type can assign a capacity N to a certain EC2 instance type, which will allow N of that workload to execute on the same instance.

I talked to @bstack . Turns out we had "c3.xlarge" (8GB memory) with capacity = 2, which means on average (more on this later) each container gets 4GB. That's a real risk for OOM and can well exp

[2018-11-30 06:41] qiuzhong commented on #11120
@foolip, you listed the steps to remove testharness.js test-level timeouts:

I think the first step was done. But I don't know the status of step 2 so I'm not sure if it's time to start step 3.

[2018-11-30 06:55] foolip commented on #11120
I've started another run of https://chromium-review.googlesource.com/c/chromium/src/+/1061753, but please go ahead with step 3 in parallel, we can check the status of that before merging the final PR.

[2018-11-30 11:59] foolip commented on #11120
https://chromium-review.googlesource.com/c/chromium/src/+/1061753 is all green now, so good to go.

[2018-12-02 14:32] chauser123 commented on #13299
Whatvdo you suggest i do? Should we try removing safari?

[2018-12-02 20:44] foolip commented on #13299
@chauser123 no action is required on your part unless you want to work on the Azure Pipelines setup.

[2018-12-03 02:14] Honry opened #14327 "[web-nfc] Update tests to replace cancelPush with AbortSignal"
Reflects to latest spec change at https://github.com/w3c/web-nfc/pull/165

[2018-12-03 07:47] qiuzhong commented on #12452
Since PR #14004 landed, can we close this issue?

[2018-12-03 14:32] #12452 closed

[2018-12-03 17:05] foolip commented on #13299
Edge: explored in https://github.com/web-platform-tests/wpt/pull/14300

Safari: https://github.com/web-platform-tests/wpt/pull/14156

[2018-12-03 19:44] SummerLW opened #14343 "Actions.perform function should only accept a list"
In Actions.perform function, it says that ":param actions: List of input source action sequences." But in ActionSequenceAction class, self.protocol.action_sequence.send_actions({"actions": actions}), it sends the actions as a dictionary, which should be self.protocol.action_sequence.send_actions(actions), "actions" is a list.

https://github.com/web-platform-tests/wpt/blob/e94a910ee358c57dc18cbae4

[2018-12-03 20:56] lukebjerring commented on #14165
Ping @jgraham any updates on this?

[2018-12-03 20:57] lukebjerring commented on #13989
Ping @Hexcles any updates on this?

[2018-12-03 21:16] Hexcles commented on #13989
Let me actually close this issue. I'm pretty confident that at least OOM shouldn't happen anymore. Though, again, because of the lack of logging originally, we don't know for sure whether the failures were because of OOM. And if OOM were to happen again, the logging I added should help us to investigate.

Please feel free to reopen if anyone suspects this happens again.

P.S. Monitoring Taskcluste

[2018-12-03 21:16] #13989 closed

[2018-12-04 11:43] jgraham commented on #8114
This should work if you use the testdriver sendKeys endpoint to an `input type=file` element, because that's how WebDriver works.

[2018-12-04 11:45] jgraham commented on #12725
There is kind of support for setting the device pixel ratio in reftests, but it's only implemented in Servo. So we could also extend that support to more implementations if you don't need to test dynamic changes (but being able to set the zoom using an API seems obviously like a thing WebDriver should expose and that we should add to testdriver).

[2018-12-04 15:54] gsnedders commented on #8114
@jgraham though you don't have any control over what's on the filesystem or what can be uploaded, yet, which is probably as big of an issue

[2018-12-04 18:19] ddorwin opened #14357 "GamepadEvent interface object length test fails on all browsers"
This may be a spec issue. All browsers appear to implement the GamepadEventInit parameter as optional.

See the discussion starting at https://github.com/w3c/gamepad/issues/35#issuecomment-331529874.

[2018-12-04 20:54] jgraham opened #14360 "Allow taking (element) screenshots in testharness tests"
Apparently mochitest has some facility for taking screenshots of elements (including iframes) which is used for some tests that want to implment something like a reftest but with more complex tests on the rendered pixel values (this was stated as a reason for not porting some tests to wpt). It seems like this should be fairly easy to implement in testdriver by exposing the screenshot primitives in

[2018-12-04 20:56] jgraham commented on #14360
The existing API is https://searchfox.org/mozilla-central/source/testing/mochitest/tests/SimpleTest/WindowSnapshot.js

[2018-12-04 22:38] foolip commented on #12725
What does that support look like in Servo? Dynamic changes to the device pixel ratio (as opposed to zoom level) isn't something that actually happens in real browsers, so being unable to test that seems fine.

[2018-12-05 10:49] jgraham commented on #12725
Servo has a command line flg to set dpppx and servo is restarted for each test, so a test with the relevent `<meta>` element sets that flag on startup.

For other browsers which expose this via a pref or whatever we would presumably have to arrange for a restart before a test with a change in pixel ratio compared to the previous test; wptrunner already has support for such things. For the marionet

[2018-12-06 08:36] Honry opened #14389 "[web-nfc] Update tests to use new NFCReader and NFCWriter object"
Reflects to latest spec change at https://github.com/w3c/web-nfc/pull/177 and https://github.com/w3c/web-nfc/pull/179

[2018-12-06 11:08] foolip commented on #11473
@jgraham has announced the provisional membership of the initial core team and there is now a 1 month period in which objections to these members may be raised:
https://lists.w3.org/Archives/Public/public-test-infra/2018OctDec/0017.html

[2018-12-06 11:18] tobie commented on #11473
This team looks amazing. Congrats to all involved!

[2018-12-06 12:52] foolip commented on #11120
Resolved by https://github.com/web-platform-tests/wpt/pull/14309. Thanks @qiuzhong!

[2018-12-06 12:53] #11120 closed

[2018-12-06 13:12] foolip opened #14394 "Remove testharness.js test-level asserts"
After https://github.com/web-platform-tests/wpt/issues/11120, test-level asserts is the only remaining use of is for test-level assert metadata. Example:
https://github.com/web-platform-tests/wpt/blob/8bb0b769af8d7a6d245db31c0b6029eb3b7da861/hr-time/monotonic-clock.any.js#L1-L3

https://chromium-review.googlesource.com/c/chromium/src/+/1070155 identified tests that use this and will need updating

[2018-12-06 13:13] foolip commented on #14394
Most of the asserts probably should not just be removed, but rather kept as comments in the tests.

[2018-12-06 15:11] henbos opened #14396 "Add setCodecPreferences tests"
Add test coverage for https://github.com/w3c/webrtc-pc/pull/2030

[2018-12-06 15:14] henbos opened #14397 "Make sure we have good connectionState test coverage"
Do we need new tests for https://github.com/w3c/webrtc-pc/pull/2036 ?

[2018-12-06 15:15] henbos commented on #14397
@jonasesolsson Do we need to do this?

[2018-12-06 15:16] henbos opened #14398 "Add tests to check that codecPayloadType is read-only"
See https://github.com/w3c/webrtc-pc/pull/2037

@Orphis can you do this as part of the simulcast work?

[2018-12-06 15:19] henbos opened #14399 "Make sure we have test coverage for getRemoteCertificates()"
See https://github.com/w3c/webrtc-pc/pull/2038.

[2018-12-07 00:32] Orphis commented on #14398
Sure!

[2018-12-07 03:52] qiuzhong commented on #14394
I'll take this.

[2018-12-07 08:32] qiuzhong commented on #13713
Moreover, if there is only 1 test in `run()`, the test results will be showed up correctly. But if there're 2 or even more tests in `run()`, then this issue happened.

[2018-12-07 11:06] jonasesolsson commented on #14397
When we get js transports we might want to flesh the tests out by ensuring that things stay consistent. Until then I think we should stick to the current minimal tests + more thorough tests in the webrtc library.

[2018-12-07 20:18] jgraham opened #14421 "Make it possible to thread the manifest through the code when it's used multiple times"
We have some cases where we end up reloading the manifest multiple times during a single wpt command because each part needs the data and there isn't any way to pass it between the different subsystems. We should arrange it so that anything that needs to load the manifest can also have an existing Manifest object passed in, and avoid all the duplicate work.

[2018-12-10 06:05] jdm opened #14429 "matchMedia.xht should not check that the event argument is a MediaQueryList"
The specification was changed to say that the event listener argument is a MediaQueryListEvent instead: https://drafts.csswg.org/cssom-view/#evaluate-media-queries-and-report-changes

The assertions should use `assert_class_string` to verify that the object is a MediaQueryListEvent instead.

[2018-12-10 08:01] alvestrand opened #14431 "Need test for reassignment of media section to transports"
In a WebRTC PeerConnection, the assignment of a media section to a DTLSTransport can in theory change over the lifetime of a connection.
This can't be achieved with WebRTC controls (I think), but could in theory happen due to rules in Bundle and remote endpoints that do things outside the WebRTC envelope.
Tests needed, but not high priority.

[2018-12-10 08:03] alvestrand opened #14432 "Need tests for multiple tracks of the same type in DTLSTransport assignment"
In max-compat mode (many sessions possible), we need to test the scenarios where different transports are assigned because the remote end doesn't want to bundle, or wants to bundle differently from what the originator wants.

This can be achieved with SDP munging, but not with WebRTC controls.

[2018-12-10 09:50] foolip opened #14433 "Many Resource Timing tests are flaky"
https://github.com/web-platform-tests/wpt/pull/14409#issuecomment-445753408 lists a number of tests in resource-timing/ that were flaky and not plausibly caused by the test changes.

Suggested method to investigate:
1. Add a trailing whitespace or other no-op to all tests in resource-timing/ in a test PR
1. Check which were flaky on Taskcluster
1. Fix them :)

[2018-12-10 09:51] foolip opened #14434 "Some User Timing tests are flaky"
https://github.com/web-platform-tests/wpt/pull/14409#issuecomment-445753408 lists a number of tests in user-timing/ that were flaky in Firefox:

|                              Test                             |                                                         Subtest                                                         |            Results            |

[2018-12-10 09:52] foolip commented on #14434
Notifying suggested reviewers for user-timing: @plehegar @igrigorik @toddreifsteck

[2018-12-10 09:52] foolip commented on #14433
Notifying suggested reviewers for resource-timing: @haoxli @plehegar @zqzhang @igrigorik @toddreifsteck @yoavweiss

[2018-12-10 09:56] foolip commented on #14394
When merging https://github.com/web-platform-tests/wpt/pull/14409 I tweaked the commit message to close this issue. That was a mistake, because actually there's remaining work to do here. Once the changes have been imported into Chromium I'll restart https://chromium-review.googlesource.com/c/chromium/src/+/1070155 and if that looks good we can remove the test-level properties from testharness.js

[2018-12-10 10:10] #14343 closed

[2018-12-11 01:36] qiuzhong commented on #10512
Seems this issue had not been updated for quite a while. I'm interested in working on this.

[2018-12-11 03:09] Hexcles opened #14448 "flake8 complains about executorservo.py using bare 'except'"
Example: https://travis-ci.org/web-platform-tests/wpt/jobs/466313586#L776

[code]

The regression was probably introduced by #14242. @jgraham @georgeroman we can fix the code, change revert #14242, or skip this check (in that line or globally). This is currently blocking all changes modifying `tools/` from landing.

[2018-12-11 07:54] qiuzhong opened #14453 "Failed to run wpt with --log-mach-level option"
From #10512, running `./wpt run --log-mach-level debug firefox websockets/binary/001.html`, we got this error:

[code]

[2018-12-11 07:55] qiuzhong commented on #10512
Running `./wpt run --log-mach-level debug firefox websockets/binary/001.html` leading a failure. See #14453

[2018-12-11 09:19] foolip commented on #14448
https://github.com/web-platform-tests/wpt/pull/14242 did have this failure originally: https://travis-ci.org/web-platform-tests/wpt/builds/460151731

@jdm, I think that because @servo-wpt-sync has admin rights, it was able to do this. Can we reduce it to write access only?

[2018-12-11 09:40] #14448 closed

[2018-12-11 09:41] foolip commented on #13274
https://github.com/web-platform-tests/wpt/pull/14450#issuecomment-446135917 shows this happening when running unit tests in Travis too.

@jgraham, is there nothing we can do to make this more reliable?

[2018-12-11 12:50] foolip commented on #14165
https://bugzilla.mozilla.org/show_bug.cgi?id=1507254 has been resolved now. @jugglinmike can you get stats for the past week, to see if we can make stability blocking again?

[2018-12-11 13:21] mdittmer commented on #13349
_Friendly ecosystem infra rotation ping_

If this is priority:roadmap should it have an assignee?

[2018-12-11 13:23] mdittmer commented on #11278
_Friendly ecosystem infra rotation ping_

This issue has gotten stale. Any updates @foolip?

[2018-12-11 13:36] foolip commented on #13379
@LukeZielinski do you have a prioritized list of missing capabilities? Does this make the cut for what we should fix soon?

[2018-12-11 13:43] foolip commented on #11278
We are now able to do this, and we've already migrated the wpt.fyi repo. @web-platform-tests/admins does anyone have concerns about completing the transition for all other repos? The process is described in  https://docs.travis-ci.com/user/open-source-repository-migration/ and the only thing to keep in mind is cron jobs. If there are cron jobs, they have to be deleted and recreated, *and* there ha

[2018-12-11 14:07] jdm commented on #14448
I'm pretty sure we established that admin access was required, but I can't remember why.

[2018-12-11 14:09] jgraham commented on #14448
It was required when the strategy was to merge all the PRs in a sequence without waiting for travis &c. to run. But that isn't the strategy now, so it may not be required any more.

[2018-12-11 14:14] gsnedders commented on #14448
@jgraham It seems to be the strategy, given  #14242 landed despite CI failures?

[2018-12-11 14:21] gsnedders commented on #14453
If you pass `--log-mach -` (so the mach logger is used for `stdout`) this should work, I think?

[2018-12-11 15:12] jdm commented on #14448
I've downgraded the bot's access to write; I think that should be fine.

[2018-12-11 16:06] lukebjerring opened #14465 "Safari Tech Preview version string inconsistent with other products"
Noticed in https://github.com/lukebjerring/wpt/pull/8/checks?check_run_id=39929938

[2018-12-11 16:07] lukebjerring commented on #14465
cc @Hexcles @jugglinmike as this is likely to impact infra other that the WPT checks.

[2018-12-11 16:09] foolip commented on #14465
This is the string that SafariDriver reports, minus a leading "Included with Safari ". I think we should parse/normalize it in code that processes the reports, as opposed to changing wpt, as any transform might lose information.

For "safari-Technology Preview (Release 70, 13607.1.13)-mac-10.13" I'd suggest turning it into "safari-preview-70-mac-10.13".

[2018-12-11 17:21] gsnedders opened #14467 "Get rid of product.__wptrunner__"
This is something that I've mentioned in various PRs when we've been refactoring code around this; #13966 changed the loading side to create an object, but really this object should be created within the browser module.

[2018-12-11 20:47] foolip commented on #14448
@jdm, excellent, thank you!

[2018-12-11 21:26] lukebjerring opened #14471 "wpt run produces an empty file for a report when no tests are executed"
Relates to https://github.com/web-platform-tests/wpt/pull/14156

#14354 collapsed `tests-affected` into a flag for `wpt run`, which in the case of no affected tests is causing Taskcluster to produce an empty report file. In turn, we create a check for wpt.fyi that never resolves (since a run never gets created).

e.g. https://github.com/web-platform-tests/wpt/pull/14454

[2018-12-11 22:44] Hexcles commented on #14465
Chatted a bit about this with Luke. One issue with the proposal above is that "preview-70" still can't be parsed by the dashboard (which expects something like a semvar). We were thinking "safari-70-preview" but it immediately sounds weird.

Safari Tech Preview really has its own versioning system, independent from the stable Safari shipped with macOS/iOS. If we move "preview" to the end, it sound

[2018-12-11 22:47] foolip commented on #14471
Whatever the solution is, the should be possible to tell the difference between no tests being affected, and no results being produced due to an infra error.

[2018-12-11 22:53] Hexcles commented on #14421
One example this happens is the newly added `--affected` flag (the PR linked above). We have one manifest loaded by the testfiles module, and another one loaded by wptrunner.

This code-health issue surfaced itself recently as OOM:
https://tools.taskcluster.net/groups/fEY7R_7dQJapW1e7YSL8lA/tasks/Fkqpnvs-TQikL1ZbgQU_3w/runs/0/logs/public%2Flogs%2Flive.log#L538

The instance had 8GB of total memory

[2018-12-11 22:55] foolip commented on #14465
Can't we just extract product=safari, channel=preview and version=70, and create labels and directory names based on that? The directory names presumably don't really matter at all, so as long as they will be different for stable and preview it's fine?

https://storage.googleapis.com/wptd-results/7750d1636f8ca88a35b1008f12097adf69f46adb/chrome-72.0.3626.14_dev-linux-18.04-ccdbe5c339/report.json ha

[2018-12-11 22:58] Hexcles commented on #14465
@foolip yeah we can do that. Although we don't in fact have a field for "channel", it is just a label. If written as product "specs" (wpt.fyi terms), we will then have:
* `safari-13[stable]`
* `safari-70[preview]`

I guess my question is: would this seem confusing? That the two version numbers for stable & preview are totally unrelated to each other?

[2018-12-11 23:11] jugglinmike commented on #14465
My vote is for a distinct "Safari Technology Preview" product. That seems like the most accurate (and transparent!) way to describe the release history of that browser. To the extent that it appears inconsistent, that's something we should attribute to Apple's release process--not a wpt.fyi implementation detail we need to abstract away.

[2018-12-12 00:51] jugglinmike commented on #14165
To give us a little more confidence, I'll verify all commits over the past 2 weeks (the bug was reported as "fixed" on 2018-11-28):

    $ node . --between 2018-11-28:2018-12-11 --discrepancies --format markdown

Good news! In that period, Taskcluster has reported results for every commit that TravisCI has reported results.

<details>
  <summary>All results</summary>

pull request URL | pull reque

[2018-12-12 03:42] jugglinmike commented on #13349
I can't speak to the policy around that label, but difficulty designating an owner is part of the problem. I'm still optimistic that the new project governance (which is [currently under review](https://lists.w3.org/Archives/Public/public-test-infra/2018OctDec/0017.html)) will be able to help out.

[2018-12-12 05:49] qiuzhong commented on #14453
Yes, `wpt run` with option `--log-mach -` does work.

[2018-12-12 06:03] foolip commented on #14165
Excellent! I've made Taskcluster a required check for master again and so closing this issue.

[2018-12-12 06:03] #14165 closed

[2018-12-12 06:08] foolip commented on #14465
I don't really see why it matters that the version tracks are different matter, it's the 3-tuple (browser, channel, version) + perhaps OS that identified a release, so isn't it fine that things can be ambiguous or confusing when you omit some information?

[2018-12-12 09:10] foolip commented on #13936
The research has been done, and I've used my own recommendation in https://github.com/web-platform-tests/wpt/pull/14156 and https://github.com/web-platform-tests/wpt/pull/14459, closing.

[2018-12-12 09:10] #13936 closed

[2018-12-12 12:15] foolip commented on #14394
https://chromium-review.googlesource.com/c/chromium/src/+/1070155 has revealed a bunch of tests that use the properties dictionary and that should be inspected and probably changed before we remove support for it:

[code]

[2018-12-12 21:09] mdittmer commented on #13052
_Ping from your friendly neighbourhood ecosystem infra rotation_

If this is `priority:roadmap` should it have an assignee?

[2018-12-12 21:09] mdittmer commented on #13406
_Ping from your friendly neighbourhood ecosystem infra rotation_

If this is `priority:roadmap` should it have an assignee?

[2018-12-12 21:10] mdittmer commented on #9007
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this issue, @gsnedders?

[2018-12-12 21:10] mdittmer commented on #10398
_Ping from your friendly neighbourhood ecosystem infra rotation_

If this is `priority:roadmap` should it have an assignee?

[2018-12-12 21:11] mdittmer commented on #12374
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this issue, @gsnedders?

[2018-12-12 21:12] mdittmer commented on #10877
_Ping from your friendly neighbourhood ecosystem infra rotation_

If this is `priority:roadmap` should it have an assignee?

[2018-12-12 21:13] mdittmer commented on #9546
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this, @gsnedders?

[2018-12-12 21:14] mdittmer commented on #7928
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this, @gsnedders?

[2018-12-12 21:15] mdittmer commented on #10021
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this, @gsnedders?

[2018-12-12 21:16] mdittmer commented on #10330
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this, @gsnedders?

[2018-12-12 21:18] mdittmer commented on #10355
_Ping from your friendly neighbourhood ecosystem infra rotation_

Any updates on this, @gsnedders?

[2018-12-12 21:19] mdittmer commented on #14465
@lukebjerring @foolip per discussion in sand up today. Do we want to mark this "closed, won't fix"?

[2018-12-12 21:36] lukebjerring commented on #14465
@Hexcles is going to normalize it to `safari-70 (13706.1.13)`, which I'll end up treating as
- BrowserName: `safari`
- BrowserVersion: `70`

Special-casing overlapping product names, or other weird stuff, is worse than having version mismatching between `experimental` and `stable`

[2018-12-12 21:44] lukebjerring commented on #10877
So, in theory a harness error will be picked up as a regression by the wpt.fyi status check.
That check is currently `neutral` when it detects a regression, but we do have a feature for making it fail (and an `Ignore` action built into the check), which I think satisfies this issues' current title:

So, currently blocked on launch of https://github.com/web-platform-tests/wpt.fyi/projects/6 ?

[2018-12-12 22:03] jugglinmike opened #14485 "Firefox: false negatives Docker container"
False negatives in Firefox/Docker container

Some tests fail in Firefox only when executed within a Docker container. For example

    $ xvfb-run --auto-servernum \
        ./wpt run --no-headless --yes --channel nightly --install-browser --log-mach - --log-mach-level DEBUG firefox css/selectors/focus-within-0*

Reports:

    web-platform-test
[code]
    Ran 22 checks (10 tests, 12 subtests)
    E

[2018-12-12 22:38] foolip commented on #14465
I do still think we should fix this in code that handles the reports. We presumably already have the previous form of the string in reports, and won't be able to forever avoid any product-specific parsing of versions in wpt.fyi.

[2018-12-12 22:46] Hexcles commented on #14465
@lukebjerring if we want to keep the version string intact, we have to loosen the assumptions made on the wpt.fyi side, most importantly drop all the heuristics for semvar (e.g. in `shared.VersionPrefix`) and opt for a simple prefix match. The tradeoff is that specs like `chrome-6` will match Chrome 60~69 again. Let me post a PR on wpt.fyi to show what it'd look like.

[2018-12-12 22:48] foolip commented on #13052
@jgraham do you reckon this is an easy fix?

[2018-12-12 22:58] foolip commented on #14465
Can we not extract a part of the version string that we take to be the main component, which is parts separated by periods? 1.2.3 or 34.7a or 19r4 all fit that. Then prefix match but require matching whole parts and not partial parts?

(The extra info (WebKit version) in the Safari strings would just be for humans to look at.)

[2018-12-12 23:01] foolip commented on #10877
@lukebjerring can this be assigned to you, or is harness errors further down the line than regressions? I guess harness error regressions are already prevented? I actually don't know that we need to do more than that...

[2018-12-12 23:02] foolip commented on #10398
This was fixed by https://github.com/web-platform-tests/wpt/pull/13419

[2018-12-12 23:02] #10398 closed

[2018-12-12 23:03] foolip commented on #13406
I'll downgrade the priority. Once we've gotten rid of stability jobs from Travis entirely we can do this.

[2018-12-12 23:10] Hexcles commented on #14465
We currently store verbatim version strings from wptreport in Datastore. We can extract the "main component" of the version string and store it as a separate field for querying, or we can use drastically different Datastore queries for different browsers to filter by versions at query time.

@lukebjerring you initially wrote the heuristics for browser versions. I vaguely remember it was to avoid m

[2018-12-13 00:46] lukebjerring commented on #14465
I'm confused why we think we need to preserve the original string. It's not meaningful to us in its raw form.
The channel doesn't need to be kept; we just did that so that the original string could be kept. If we ditch the original string anyway, then there's no reason to try not to stray further.
Let's just extract the semantic information and store it to serve the query use-cases we need it for.

[2018-12-13 02:42] Hexcles commented on #14465
Hold on a sec: my tentative #14484 would change the version string in the raw report. If we want to preserve it in the report, then wpt isn't the right place to normalize it; we need to do it on the wpt.fyi side.

[2018-12-13 04:37] Hexcles commented on #14453
Closing as it seems to be working as intended. (The default logger is no longer mach.)

[2018-12-13 04:37] #14453 closed

[2018-12-13 04:58] Honry commented on #14274
Close it since `watch()` has been replaced with `start()/stop()` at https://github.com/w3c/web-nfc/pull/183

[2018-12-13 04:58] #14274 closed

[2018-12-13 07:03] Honry commented on #14389
Four more spec changes that require updating tests:
- Now that we use event listeners for watches, remove AbortSignal https://github.com/w3c/web-nfc/pull/181
- Move watch options to NFCReader ctor https://github.com/w3c/web-nfc/pull/180
- As event listeners cannot have side-effects, intro start/stop https://github.com/w3c/web-nfc/pull/183
- Introduce error event handler and make start not return a

[2018-12-13 08:18] qiuzhong commented on #14394
@foolip , so the goal is to remove all the properties support from testharness.js?

For the tests that use the properties dictionary, there're 2 cases:
* Set the property in `setup({key: value})` before testing. This will add properties to the `Test` object, like `explicit_done`.
* Passing the properties dictionary to the test directly, like `help, .

Both cases will make the `properties` argument

[2018-12-13 09:21] foolip opened #14495 "Regressions from "Make testharness tests run in a top-level browsing context""
https://github.com/web-platform-tests/wpt/pull/13966 caused regressions in many tests, and @beaufortfrancois reported regressions in https://wpt.fyi/results/picture-in-picture?label=experimental.

Exact diff for Chome+Firefox experimental:
- Chrome: https://wpt.fyi/results/?label=experimental&product=chrome%5Btaskcluster%5D%405dd605cdfa&product=chrome%5Btaskcluster%5D%40c522b884f7&diff
- Firefox:

[2018-12-13 09:34] foolip commented on #13263
This would have come very much in handy to avoid https://github.com/web-platform-tests/wpt/issues/14495, if it were easy to do a full run we would do it.

@jgraham does this still depend on moving to a decision task? How much work would that be?

We should also give some consideration to how the feature would work on Azure Pipelines, if we want to also get full runs of Edge or Safari for PRs down

[2018-12-13 09:40] foolip opened #14499 "Migrate from travis-ci.org to travis-ci.com"
We now have the ability to migrate individual repos in the web-platform-tests org from travis-ci.org to travis-ci.com, and we have already migrated wpt.fyi as a trial. Old links and build history are preserved.

There isn't a strong reason to migrate *now*, but we eventually have to. One upside is that we get the new [Checks API](https://developer.github.com/v3/checks/) integration which is also w

[2018-12-13 09:46] #14495 closed

[2018-12-13 09:47] foolip commented on #13418
Reopening as https://github.com/web-platform-tests/wpt/pull/14496 was merged.

[2018-12-13 11:55] domenic commented on #14495
It seems like in some cases it may have helped though, e.g. https://wpt.fyi/results/keyboard-lock?label=experimental&product=chrome%5Btaskcluster%5D%405dd605cdfa&product=chrome%5Btaskcluster%5D%40c522b884f7&diff . This indicates many other tests may have been suffering from the same problems as the ones that prompted the original issue.

[2018-12-13 11:57] jgraham commented on #14495
I think I would have preferred not to revert this since it looks like it's probably a net win. However issues for regressions should certainly be top priority (I'm looking at the PiP tests now but I'm not sure what's going wrong).

[2018-12-13 11:57] foolip commented on #14210
I've written a script that lists non-success statuses in the past week.

<details>
<summary>NodeJS script</summary>

[code]
</details>

The current output is:
[code]

3 of them have a single failed task that might pass on rerun. https://tools.taskcluster.net/groups/cBwRwlUfQy-lpIr4lRMN_g failed all the firefox tasks, but also in a way that might pass on rerun.

[2018-12-13 15:49] #14465 closed

[2018-12-13 17:16] Hexcles commented on #14485
There are some discrepencies between the two examples other than Docker: the first one used `xvfb-run` without specifying the screen spec (resolution & color depth). Also, the second one used a slightly older version of the image.

Although these differences don't seem crucial, Mike, could you try to eliminate the other variables as much as possible?

[2018-12-13 17:21] Hexcles commented on #14499
Just a reminder that you'd need to change the "required checks" for protected branches after migration.

[2018-12-13 17:52] Hexcles commented on #14210
Here's one weird example of flaky tests reported by Taskcluster:

https://github.com/web-platform-tests/wpt/pull/14469
https://tools.taskcluster.net/groups/V7chQRdcQ6iqnYZI-Q0MLw/tasks/YtWQy41TT6SraDjsPmbFtg/runs/0/logs/public%2Flogs%2Flive.log#L261

I retried the test a couple times by force pushing to the branch, and I observe the same result: the first run of the second affected test always fai

[2018-12-13 18:33] jugglinmike commented on #14485
Couldn't hurt, @Hexcles. Here's a more authentic version of the "bare metal" command:

    export SCREEN_WIDTH=1280
    export SCREEN_HEIGHT=1024
    export SCREEN_DEPTH=24
    export DISPLAY=:99.0
    sudo Xvfb $DISPLAY -screen 0 ${SCREEN_WIDTH}x${SCREEN_HEIGHT}x${SCREEN_DEPTH} &
    xvfb-run --auto-servernum \
      ./wpt run --no-headless --yes --channel nightly --install-browser --log-mach - -

[2018-12-13 19:19] jgraham commented on #14210
Did you run it locally in the taskcluster docker image, using broadly the same command in in automation?

[2018-12-13 20:12] foolip commented on #14499
Yep. There are also details about cron jobs that I'll take care of.

[2018-12-13 22:34] foolip commented on #14394
When I looked through some of the list I saw some cases that aren't so obvious what to do about. I think we'll just have to remove the uses that aren't doing anything useful, and then look at what remains and say if we should keep the properties dictionary or not.

[2018-12-14 07:14] qiuzhong commented on #14394
New PR filed for removing the these useless properties, including:
* Incorrect type of the properties parameter for `promise_test()`: the properties should
be an object while `true/false` are passed.
* `flags` properties passed to `test()` while it's never used in testharness.js
* Incorrect type of properties parameter for `generate_test()`: strings look like test
information were passed and moved

[2018-12-14 14:58] mdittmer opened #14526 "There should be a single source of truth for all test + subtest status values"
I can't seem to find source code/data that acts as the single source of truth for potential test and subtest status values that may appear in a test run report. (I can't find human readable documentation that includes all such values either, but that's a somewhat separate issue).

IMHO, there should be a piece of code or data file that acts as the single source of truth for what is essentially an

[2018-12-14 14:58] mdittmer commented on #14526
//CC @LukeZielinski

[2018-12-14 16:10] jgraham commented on #14526
That exists in mozlog:

https://searchfox.org/mozilla-central/source/testing/mozbase/mozlog/mozlog/logtypes.py#184-196

[2018-12-14 17:39] mdittmer commented on #14526
@jgraham do you think there should be consensus on these types that their values and documentation should live in `web-platform-tests/wpt`?

[2018-12-14 18:14] jgraham commented on #14526
I mean the principled way to do that is probably by reference to mozlog i.e. have documentation stating that we support the statuses that are supported by mozlog, since that's the lowest-level component here. I don't think it makes sense to make a normative claim on the values, but we can certainly document the meanings of the ones that are actually used.

[2018-12-14 18:48] mdittmer commented on #14526
I see. `wpt` consumes the `mozlog` Python package. Yes, I think it would be good to document: in `wpt`, "we support `mozlog` status values docmented at <link>"; in `mozlog`, precise semantics of each status.

[2018-12-14 20:16] mdittmer opened #14533 "Multiple same-name subtests not always triggering a harness error"
E.g., http://w3c-test.org/css/css-values/calc-unit-analysis.html

[2018-12-14 20:34] mdittmer commented on #14533
Further context:

The link claims 18 tests, but only 9 results inside the results script tag. When these tests are run and the results are sent to a JSON report, 18 subtest entries (not 9) appear, along with test status of `OK`. [Example run report](https://storage.googleapis.com/wptd-results-staging/48d5d5033d2f634125d0ae2dd494d68f8d01de79/chrome-72.0.3626.14_dev-linux-18.04-f7742a2216/report.jso

[2018-12-15 00:46] jugglinmike commented on #14533
Taking a look now!

[2018-12-17 04:42] frivoal opened #14549 "overflow-wrap-break-word-fit-content-001.html"
There are three problems with [css/css-text/overflow-wrap/overflow-wrap-break-word-fit-content-001.html](https://github.com/web-platform-tests/wpt/blob/master/css/css-text/overflow-wrap/overflow-wrap-break-word-fit-content-001.html), and as I am not 100% sure what it is meant to be testing, I'd rather ask first before attempting to fix it. @kojiishi, you're listed as the author of this test, so ma

[2018-12-17 11:08] kojiishi commented on #14549
The test and title seems to match to me, `inline-block` is `fit-content` in the current our terminology, no? If we add `width: 1px`, that'd be a test for `min-content` IIUC, but if this seems wrong, please go ahead and fix.

Did we lose all the git history? I can't see any from github, but from Blink repo, I found this is a test for [crbug.com/574577](https://crbug.com/574577). It looks like test

[2018-12-17 11:49] jgraham opened #14560 "Don't store affected tests ignore list in command line arguments"
The idea was to separate out the logic in the code from configuration about which files should and should not be included. But in practice this led to the regression addressed in #14559 where the code changed but the configuration was not wired into the new code. Additionally, we've never needed to change this configuration, and generally found that it's more maintainable to put things directly in

[2018-12-17 12:01] foolip commented on #14083
This affected https://github.com/web-platform-tests/wpt/pull/14479.

[2018-12-17 12:54] foolip commented on #14210
Filed https://github.com/octokit/rest.js/issues/1161 for an issue I've run into with the monitoring.

[2018-12-17 13:52] gsnedders commented on #12374
* Edge is blocked on wpt.fyi moving to Windows 10 RS5 (and potentially on it being rolled out more generally to users)
 * Opera is blocked on OperaDriver working in W3C mode (webdriver/tests/new_session/ totally fails)
 * Chrome on Android is blocked on someone actually having something set up to test it

[2018-12-17 14:10] gsnedders commented on #9546
Not been worked on.

[2018-12-17 14:11] gsnedders commented on #7928
Not been worked on.

[2018-12-17 14:11] gsnedders commented on #10021
Not been worked on.

[2018-12-17 14:12] gsnedders commented on #10355
Not been worked on.

[2018-12-17 14:14] gsnedders commented on #10330
@jugglinmike worked on this a while ago in #11173, and that's had some more activity recently.

[2018-12-17 14:18] #13418 closed

[2018-12-17 14:23] foolip opened #14564 "Many PRs blocked due to failing Taskcluster stability checks"
With https://github.com/web-platform-tests/wpt/issues/14165 resolved, Taskcluster was made a required check again on Dec 12. Since then, many PRs have become blocked on a Taskcluster failure:

wpt-chrome-dev-stability failures:
- https://github.com/web-platform-tests/wpt/pull/14400
- https://github.com/web-platform-tests/wpt/pull/14531

wpt-firefox-nightly-stability failures:
- https://github.com/

[2018-12-17 14:35] foolip opened #14566 "Flaky reftests in Taskcluster stability jobs are not possible to debug"
When reftests are found to be flaky in Taskcluster's stability jobs, the only information one can get from the logs is the number of passes and failures. If the problem doesn't reproduce locally there are no clues about how to proceed.

This affected https://github.com/web-platform-tests/wpt/pull/14469 and https://github.com/web-platform-tests/wpt/pull/14551 and. See also https://github.com/web-pl

[2018-12-17 14:37] foolip commented on #14566
@jgraham how do you think we should fix this? Even with TBPL logs, is reftest analyzer be able to extract multiple screenshots for the same test and show them?

[2018-12-17 14:44] jgraham commented on #14564
All but one seems to be an actual stability check failure, so if there's a problem here it isn't with Taskcluster as such, but with the stability checking.

[2018-12-17 14:54] jgraham commented on #14566
The reftest analyzer is not very clever, so probably? If we can get the data into the logs and it doesn't work I can modify it so it does.

[2018-12-17 15:10] foolip commented on #14564
The trouble would be if we have so much pre-existing flakiness that an unreasonable number of PRs would be blocked on pre-existing flakiness. I don't know where to draw the line, filed this issue to start collecting cases of it happening.

If it's too bad, I think we'd have to get our hands on data about which tests are most frequently affected and which of those are most flaky, and fix those.

[2018-12-17 15:16] jgraham commented on #14564
Fixing flaky tests seems like a good idea for many reasons.

[2018-12-17 16:32] lukebjerring opened #14568 "Deleted tests are ERROR instead of MISSING for Taskcluster results"
From https://github.com/web-platform-tests/wpt/commit/79001b1d0d4a111b7f44608404d7b5504d755a1c

[Chrome diff](https://staging.wpt.fyi/results/resource-timing?diff&run_id=6508819563675648&run_id=6003242655809536)
[Firefox diff](https://fyi-dot-wptdashboard-staging.appspot.com/results/resource-timing?diff&run_id=5481842887098368&run_id=5893510804799488)

Both [results for 79001b1d0d4a111b7f44608404d

[2018-12-17 16:33] lukebjerring commented on #14568
@Hexcles @foolip I think this relates to the `--affected` flag changes, but digging further to prove it.

[2018-12-17 16:35] jgraham commented on #14568
Even if we pass a deleted path to wptrunner it should just ignore it, so I think something strange must be happening at a different layer.

[2018-12-17 19:53] jeremyroman opened #14572 "wptserve sub filter: cannot substitute headers which were not sent"
e.g. writing this: `{{headers[Referer]}}`

works if there is a Referer header, but raises an exception if the header was not sent. In my use case I'd like to still be able to proceed in this case.

The simplest solution would seem to be to modify the way the templates treat indexing with square brackets to catch KeyError and produce a blank value such as `''` instead (and I have a commit that woul

[2018-12-17 22:03] jan-ivar commented on #12028
@henbos @soareschen Dunno why we're seeing races, but I don't think this analysis is right.

This shouldn't be racy because, as I mention in https://github.com/web-platform-tests/wpt/pull/14417#discussion_r240668244, *addIceCandidate* uses the peer connection queue specifically to avoid races. That is: *addIceCandidate* gets queued behind any pending *setRemoteDescription*.

*doSignalingHandshake*

[2018-12-17 23:08] frivoal commented on #14564
For #14551, I've restarted it a couple of times by pushing a rebased commit, and I believe that it was once reported as firefox flakiness, and twice as Chrome's. But I've never been able to reproduce locally, and while instability in a basic non animated layout reftest isn't totally impossible if the browser engine happens to have some kind of non deterministic bug, it is pretty unlikely. So I don

[2018-12-17 23:12] frivoal commented on #14549
You're right, I somehow missed this. Sorry. Closing.

Good suggestion, thanks.

[2018-12-17 23:12] #14549 closed

[2018-12-18 01:49] jugglinmike commented on #14572
I've been trying to think of a way to support your use case without making the infrastructure less capable of catching mistakes, but I've got nothing so far. I do have a few ideas to mitigate the risk, though:

- limit the fallback behavior to the `headers` object (similar to [what we already do for `GET`](https://github.com/web-platform-tests/wpt/blob/4984b190341b535c645729b8f99247aace0022fe/tool

[2018-12-18 14:02] yoavweiss opened #14586 "Custom DNS replies and connection failures"
In order to test https://github.com/w3c/resource-timing/issues/123 we would need 2 things:
* Ability to create custom DNS replies so that a single host will get multiple possible responses
* The first of the possible responses will result in a connection failure

Asking around on #testing, this is not possible today. Would be great if it would be.

[2018-12-18 19:07] #14572 closed

[2018-12-19 09:55] frivoal opened #14601 "[css-contain] Doubts about 2 tests"
Hi @mrego,

The following two tests don't look right to me. Are you sure the spec calls for that?

https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-layout-baseline-004.html
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-layout-baseline-005.html

cc: @tabatkins

[2018-12-19 11:00] foolip opened #14602 "Document how to write crash tests"
@progers was wondering if/how to write crash tests in web-platform-tests. I wrote:

If others agree with this, we should document it.

[2018-12-19 11:08] jgraham commented on #14602
If you structure things as a single-page test then you possibly just need to call done() at some point before the timeout. One can also imagine making `.crash.` tests that work like testharness tests except that they can't time out only pass (but maybe it should be a different type altogether that doesn't require having a testharness script).

[2018-12-19 12:54] foolip commented on #14499
I will do this now, one day earlier than planned, to give a few more days to clean up the mess if I break stuff.

[2018-12-19 12:56] foolip commented on #14499
The most recent PR is now https://github.com/web-platform-tests/wpt/pull/14600, any PRs created after then but before the transition is complete need to be inspected so they're not blocked on checks that will never run.

[2018-12-19 12:58] foolip commented on #14499
The app is now installed org-wide instead of just for wpt.fyi. Following the documentation in https://docs.travis-ci.com/user/open-source-repository-migration/ to migrate each individual repo.

[2018-12-19 13:22] foolip commented on #14499
https://github.com/web-platform-tests/wpt/pull/13352 has finished running on travis-ci.com, and I sent https://github.com/web-platform-tests/wpt/pull/14603 to test the full set of tests.

I've changed the required check from "continuous-integration/travis-ci" to "Travis CI - Pull Request", but unfortunately that makes it show up as required on all existing PRs as well. https://github.com/web-platf

[2018-12-19 13:30] foolip commented on #14499
For master, https://github.com/web-platform-tests/wpt/runs/42781561 was the first job to run after the change, followed by https://github.com/web-platform-tests/wpt/runs/42784876. The worked as intended:
https://github.com/web-platform-tests/wpt/releases/tag/merge_pr_14570
https://github.com/web-platform-tests/wpt/releases/tag/merge_pr_13352

[2018-12-19 13:34] foolip commented on #14499
https://github.com/web-platform-tests/wpt/pull/14603/checks?check_run_id=42779464 shows what the new checks will look like. Closing that test PR now.

[2018-12-19 13:54] foolip commented on #14499
There doesn't appear to be anything in https://octokit.github.io/rest.js/#api-Checks to trigger just Travis checks for a PR. Still looking for a way to resolve https://github.com/web-platform-tests/wpt/issues/14499#issuecomment-448594887.

[2018-12-19 13:59] gsnedders commented on #13342
Mostly been waiting on #14300 getting something running on Windows. That's mostly working now, so I guess we should try basing the work here off of that, and just running things we can on Windows Server on the MS hosted agents.

[2018-12-19 14:01] foolip commented on #14499
Per https://travis-ci.community/t/trigger-build-on-pr-via-api/825/2 it doesn't look like there's a way with the Travis API either.

[2018-12-19 14:10] emilio commented on #14601
/cc @dholbert

[2018-12-19 15:48] foolip commented on #14564
Self-assigning so that at least I'll check in later to see how many PRs are blocked on stability.

[2018-12-19 15:52] foolip commented on #14566
@jgraham, the command is already something like `./wpt run --channel=nightly --verify --affected HEAD^ --log-tbpl-level=info --log-tbpl=- -y --no-pause --no-restart-on-unexpected --install-fonts --no-headless --install-browser firefox`, with `--log-tbpl=-` coming from taskcluster-run.py, but it doesn't seem to have any effect. I guess that `--verify` overrides the output format?

[2018-12-19 15:53] foolip commented on #14566
@Hexcles OK if I assign this to you for the proximity to getting screenshots out of regular runs?

[2018-12-19 15:54] foolip commented on #14586
I guess that a custom DNS reply would require a custom DNS server? Would it also require control over the browser caching of DNS replies?

[2018-12-19 15:55] foolip commented on #14586
@LukeZielinski I'm marking this priority:backlog, but can you go over the various requests and make a ranking, so that we could say how this fares in our priorities?

[2018-12-19 16:17] yoavweiss commented on #14586
Probably

I think you'd want all DNS replies to have short TTLs, so that these tests with custom replies can run right after ones with different expected DNS results. At the same time, custom DNS tests could use different (and unique) host names, making the TTL values a non-issue.

[2018-12-19 17:11] gsnedders commented on #7928
With Chrome we get:

[code]

With Firefox we get:

[code]

and it just keeps going (failing in the `testharness.js` case given we don't have the wptrunner `testharnessreport.js` loaded).

[2018-12-19 18:14] dholbert commented on #14601
I think the tests are referring to https://drafts.csswg.org/css-contain-1/#containment-layout :

I agree that contain-layout-baseline-004.html looks wrong. Its testcase has a single table with two table-cells, and it's asserting that the two cells should be misaligned. That doesn't make sense; the cells end up in a single table row, independent of whether they have baselines or not.

Perhaps @mreg

[2018-12-19 18:18] dholbert commented on #14601
(Note that https://bugzilla.mozilla.org/show_bug.cgi?id=1508441#c2 is filed on some known issues where Firefox isn't suppressing baseline alignment correctly for some `contain:layout` elements. I suspect that we'll pass contain-layout-baseline-005.html when that bug is fixed, and probably a fixed-up version of contain-layout-baseline-004.html (with separate tables rather than a single table).

[2018-12-19 20:45] mrego commented on #14601
About `contain-layout-baseline-004.html` I was actually trying to test what I'm testing there, but maybe I understood something wrong.
Let's use a different example with texts that might be easier to follow:
[code]

![Output with texts baseline aligned](https://user-images.githubusercontent.com/11602/50246865-bcfb9600-03d6-11e9-8c29-5c462b28f736.png)

Here both texts "foo" and "bar" are baseline a

[2018-12-19 22:07] domenic commented on #14262
https://github.com/web-platform-tests/wpt/commit/ed74c4f67f0529a7439f7b656ef0a35049873b9e should cover this.

[2018-12-19 22:07] #14262 closed

[2018-12-19 23:36] foolip commented on #14499
The migration is now complete for all repos in the org, but the remaining work is to make sure that nobody is confused by their PRs being blocked.

[2018-12-20 01:36] qiuzhong commented on #7846
If you don't mind, I'll take this issue.

[2018-12-20 01:59] qiuzhong commented on #7846
If `--verbose` as an alias of `--log-mach-level debug`,  here are my thoughts to handle the options:
* If the command line contains `--verbose` option only, then according to the  alias rule, `log_mach_level` property is set to be `debug`.
* If the command line contains both `--verbose` and `--log-mach-level <whatever level>` options (not recommended), then I guess the attention is to set `log_mac

[2018-12-20 08:34] jgraham commented on #7846
This won't work if implemented naively. If the logging is set to something other than mach then implying the `--mach-log-level` argument will just cause an error about mach logging not being enabled.

[2018-12-20 12:19] foolip opened #14617 "Taskcluster checkout step can fail due to "The remote end hung up unexpectedly""
In https://tools.taskcluster.net/groups/XDEY8H3YSBSfN2-rUbft8g (for https://github.com/web-platform-tests/wpt/pull/13886) the wpt-firefox-nightly-results-without-changes task failed like this:

[code]

This is the first time I've seen this, but we may need retry logic around the checkout.

@Hexcles @lukebjerring FYI.

[2018-12-20 12:23] foolip opened #14618 "Taskcluster checkout step can fail due to "Couldn't find remote ref""
In https://tools.taskcluster.net/groups/bMtY44xAQSaHHLG9YfXPvA (for https://github.com/web-platform-tests/wpt/pull/13886) all the tasks failed like this:

[code]

Feching refs/pull/13886/merge works for me and there are no merge conflicts, so it's not clear why this happened. I had just closed and reopened the PR, probably there's a race here. @jgraham is this race familiar to you?

Some retry log

[2018-12-20 13:06] foolip commented on #14499
<details>
<summary>Script that I wrote to find PRs that are blocked on a missing "Travis CI - Pull Request" check</summary>

[code]
</summary>

It only lists PRs that have *both* an old travis-ci.org status and a Taskcluster status, since PRs predating Taskcluster were already blocked. I went through the list until I got to PRs that haven't been updated in the past two weeks.

[2018-12-20 13:34] foolip opened #14621 "Deal with known flakiness due to browser bugs"
In https://github.com/web-platform-tests/wpt/pull/14616 @yoavweiss has narrowed down some flakiness to what appears to be a Firefox bug. When this happens, we should file browser bugs, but those bugs won't be immediately fixed.

If PRs are not to be blocked on pre-existing flakiness and require admin merge, we will require a way to link tests with known flakiness to bugs, and make use of that info

[2018-12-20 13:35] foolip commented on #14621
@lukebjerring you've been running into other trouble with flakiness, is this something that could fit into other plans of yours? If so could you self-assign?

[2018-12-20 13:36] foolip commented on #14499
I am not going to poke more PRs manually, but I'll list the output of the script now, so that they all get backlinks here to help understand the problem:

Found 468 open PRs
Failing on travis-ci.org: https://github.com/web-platform-tests/wpt/pull/14468
Merge conflicts: https://github.com/web-platform-tests/wpt/pull/13906
Too many commits: https://github.com/web-platform-tests/wpt/pull/14300
Merge

[2018-12-20 13:40] foolip commented on #14499
Alright, with that I declare the migration complete!

[2018-12-20 13:40] #14499 closed

[2018-12-20 13:41] foolip commented on #14499
Everyone, if you find your way here trying to find out why your PR is blocked on Travis, either make some change (e.g. rebase) to your branch and push it again, or just close and reopen the PR. If you still can't get Travis to run+pass, please let me know.

[2018-12-20 13:56] lukebjerring commented on #14621
It ties into the checks, since we can't really make the regressions blocking with the current rate of flakiness. However, I've built the "Ignore" action to handle this from the perspective of checks, so while I have suggestions, this wasn't something I'd be tackling anytime soon.
It also ties into the triaging work we'd like to do (adding metadata to wpt.fyi to point to Issues in other systems for

[2018-12-20 14:19] #11075 closed

[2018-12-20 14:36] lukebjerring commented on #14471
@Hexcles and I were discussing this. It seems to me that it would be highly preferable to still produce a valid JSON blob in the report file, for which the results field is empty, rather than a fully empty file.

@jgraham - I'm under the impression this isn't as trivial as described. One suggestion I made was that we execute a canonical "strawman" placeholder test that produces a "no tests found"

[2018-12-20 15:05] gsnedders commented on #14621
Do we have any idea about how much flakiness is down to the test and how much is down to the browser?

If we take all the suspected flaky tests from the flakiness data we have from wpt.fyi and run the stability check with some high number of iterations we can see how many of those display flake in more than one browser, which we  can probably start using as a first approximation?

[2018-12-20 15:13] jgraham commented on #14621
I think it's generally assumed that most but not all flakiness is test bugs rather than browser bugs. Tests that are flaky in multiple implementations seem like good cases to investigate and fix, but there are many cases where tests will only be flaky in one browser but are actually written in a way that's non-deterministic.

@zcorpan already had data about tests that are considered intermittent i

[2018-12-20 17:42] lukebjerring commented on #14471
On further inspection, we don't need to have any tests actually run; we just need to coax the command line into thinking it should still try when `--affected` is passed.

[2018-12-20 18:15] dholbert commented on #13563
This seems to be implicated in these intermittent failures, FWIW:
https://bugzilla.mozilla.org/show_bug.cgi?id=1503249
https://bugzilla.mozilla.org/show_bug.cgi?id=1513825

[2018-12-20 18:18] jgraham commented on #13563
We try to focus the window, but I think we need to check if we actually got focus before continuing. I think @whimboo was working on this in a different context so I was hoping to reuse his approach.

[2018-12-20 18:22] foolip commented on #13052
This issue is just about "get the date into the file", then we can start least know when we're getting a mix of browser versions.

[2018-12-20 21:30] youennf opened #14633 "WebRTC doSignalingHandshake helper routine should be split in two methods"
We could have doSignalingHandshake  for regular exchanges and doSignalingHandshake ModifyOfferAnswer when we need to update SDP.

[2018-12-20 23:03] yoavweiss commented on #14621
To be clear, the tests in question were flaky at first (in more than one browser), and the Firefox bug was revealed only after fixing that other flakiness. But, it is possible that tests reveal implementation flakiness. And when they do, it'd be great if there was a recourse other than bugging the admin folks each time these tests are touched.

[2018-12-21 08:39] qiuzhong commented on #7846
@gsnedders , do you mean `--verbose` should support all kinds of log formats (`raw, unnitest, xunit, html, tbpl, grouped, errorsummy` from the `mozlog` module code)? My understanding is that besides the `mach` format, it should also support all these formats. In other word, `--verbose` option should be the alias of other `--log_*_level debug` options automatically, not so specific.

Did I misunder

[2018-12-21 08:42] qiuzhong commented on #7846
@jgraham, please also make a clarification if I misunderstood you.

[2018-12-21 09:21] whimboo commented on #13563
Early next year we should have a proper wait for `focus` and `activate` when switching windows and focus. See https://bugzilla.mozilla.org/show_bug.cgi?id=1335085.

[2018-12-21 13:47] whimboo commented on #14485
Sorry but I don't know the reftest part of Marionette. @jgraham and @gsnedders might be the best persons to talk to at the moment.

[2018-12-21 13:57] jgraham commented on #14485
https://searchfox.org/mozilla-central/source/testing/marionette/listener.js#1641 is waiting for the reftest-wait to be removed, and after that we check if there are pending paints before returning. So the bug is at least not trivial.

I strongly suspect that the problem here is actually related to focus. https://hg.mozilla.org/try/raw-rev/91724447c60cefbf672e607ecb91fe4070a4de52 is an attempt to e

[2018-12-21 15:03] gsnedders commented on #14485
Can you use the `tpbl` logger so we get screenshots logged? Like @jgraham I suspect this is just the racy focus bug again.

[2018-12-21 16:55] foolip opened #14645 "`./wpt run --verify` claims flakiness where there are duplicate test names"
https://wpt.fyi/results/css/geometry/interfaces.worker.html?label=stable&aligned shows that the test has a duplicate test name "Test default toJSON operation of toJSON object" in Edge and Firefox. That it is implementation-dependent is surprising and wrong, but all that matters for this issue is that there are duplicate test names.

https://taskcluster-artifacts.net/BX_K1_06R7OU-LiJjKyYmQ/0/public

[2018-12-21 17:10] jgraham commented on #14645
Having duplicate test names isn't allowed, so in the absence of anything else catching this, the flakiness check is the best place (it's a form of flakiness because infrastructure will confuse the results of multiple tests, so even if it's not flaky now it's likely to become so in the future and wrong in any case).

[2018-12-21 17:15] foolip commented on #14645
Alright, let's make this issue about two things:
- some else blocking PRs on harness errors, probably after first taking an inventory of harness errors
- requiring more than one unique result to consider something flaky in `./wpt run --verify`

Letting the first block the second seems fine.

[2018-12-21 18:13] Hexcles opened #14648 "Move wptserve docs into web-platform-tests.org"
web-platform-tests.org currently covers some features of wptserve, e.g. https://web-platform-tests.org/writing-tests/server-features.html , but there is still a large chunk missing (notably pipes, custom handlers, etc.) and can only be found in https://wptserve.readthedocs.io/en/latest/

@jgraham @gsnedders do you think we should move the documentation into GitHub Pages? If not, we should at least

[2018-12-21 18:17] Hexcles commented on #14648
Never mind there is already links to wptserve's doc in server-features.html, so my question is just: shall we combine the docs? If not, why?

[2018-12-21 18:18] jgraham commented on #14648
I'm happy for them to be combined, the current split is mostly historical accident.

[2018-12-21 19:09] jgraham commented on #7846
Yeah, I think you need to find a way to figure out which is going to be the stdout logger and set whatever option is required to make that verbose if it exists. This is probably better done in mozlog itself in https://searchfox.org/mozilla-central/source/testing/mozbase/mozlog/mozlog/commandline.py Note that file has an existing concept of verbose, which I think is different.

[2018-12-21 21:48] Hexcles commented on #14471
The approach above (as implemented in either #14630 or #14649) solves the common case of this issue: `wpt run --affected` with no tests affected. We still don't have easy ways to solve an edge (but not extremely rare) case (I think originally reported by @jugglinmike ): if something goes wrong before the suite starts (like uncaught exceptions or errors during setup), we would still produce an empt

[2018-12-21 22:03] Hexcles commented on #14618
This is most likely a race.

GitHub never promises the timing of the merge commit (the whole `refs/pull/*/merge` thing is undocumented). It might be temporarily unavailable or out-of-date when the PR branch is updated. I've seen this a few times, usually when a PR is updated in quick concession and the check for an earlier commit starts right when a new commit is pushed. It's not a big issue other

[2018-12-21 23:15] foolip commented on #14618
Must we use the merge ref at all? Why not just check out the PR and merge in master? In the case of merge conflicts, it'd fail in an obvious way.

Retrying with exponential back off until the job times out seems fine?

[2018-12-21 23:30] upsuper opened #14654 "Better reftest reviewing tool?"
For reviewining reftests, I think it would be very helpful if there can be a tool which shows the rendering result directly like what we have on [test.csswg.org](https://test.csswg.org/), see for example [this page](https://test.csswg.org/harness/test/css-grid-1_dev/alpha/contain-layout-baseline-003/). Probably for reviewing, we may want to show the source code in addition at the same time.

[2018-12-21 23:32] upsuper commented on #14654
This can probably be done with an additional tool integrated with GitHub's CI system to provide the view.

[2018-12-24 10:31] dick12345678 opened #14661 "jssha2"

[2018-12-24 10:31] #14661 closed

[2018-12-24 13:14] #3688 closed

[2018-12-26 07:46] frivoal commented on #13019
Solved by https://github.com/web-platform-tests/wpt/pull/13333

[2018-12-26 07:46] #13019 closed

[2018-12-28 14:13] frivoal commented on #13329
fixed in https://github.com/web-platform-tests/wpt/commit/81f23a9e43fc5ae0a06b59609c88959a7363c66a

[2018-12-28 14:13] #13329 closed

[2019-01-01 21:20] erhantelyakar opened #14690 "[WebIDL]"

[2019-01-01 22:17] #14690 closed

[2019-01-02 17:03] jgraham commented on #7760
@emilio had to write gecko-specific reftests for overflow media queries because we don't have this c.f. https://bugzilla.mozilla.org/show_bug.cgi?id=1422235

[2019-01-03 18:36] Hexcles commented on #14654
One thing we are working on is the screenshot support in wpt.fyi: https://github.com/web-platform-tests/wpt.fyi/projects/9

We are building a wpt.fyi custom check to surface regressions in this repo ([example](https://github.com/web-platform-tests/wpt/pull/14696/checks?check_run_id=45756182)), which will be launched fairly soon. And once we add the screenshot support to it, you'll be able to see a

[2019-01-03 20:42] csharrison opened #14707 "Add .htaccess like routing support"
Some URLs the browser requests (like those pointing to .well-known addresses) are fixed and cannot be modified by the web platform (without adding test only hooks).

It would be good if those URLs could return dynamically generated content without pointing to a .py file. This could be easily done via some sort of URL routing mechanism like htaccess.

[2019-01-04 10:32] sideshowbarker opened #14714 "TypeError: object of type 'NoneType' has no len() exception from webdriver client Session.close()"
Trying `./wpt run` from a fresh clone results in many tests not being run at all due to an internal wpt failure in the webdriver client `Session.close()` code.

Here’s the full error message/trace:

[code]

[2019-01-04 14:13] #14714 closed

[2019-01-04 16:15] Hexcles commented on #14707
`wptserve` has a router interface: https://wptserve.readthedocs.io/en/latest/router.html But it seems like this is not intended to be used by individual custom handlers?

[2019-01-04 16:35] csharrison commented on #14707
For special cases, is it OK practice to just add one-offs to RoutesBuilder.add_mount_point? It seems like there are a few special routes there for service workers, etc.

[2019-01-04 20:10] Hexcles commented on #14568
I think this is a manifest issue.

To reproduce a similar problem locally:

1. `./wpt manifest` to make sure you have an up-to-date manifest. `grep html/semantics/interfaces.html MANIFEST.json` shows three matches (a testharness test entry and a file checksum).
2. `rm html/semantics/interfaces.html && git commit -am 'test'`
3. `./wpt manifest` again. `grep html/semantics/interfaces.html MANIFEST.j

[2019-01-07 13:30] gsnedders commented on #13180
This seems to be working again?

[2019-01-07 13:30] #13180 closed

[2019-01-07 13:38] gsnedders commented on #14654
@upsuper http://w3c-test.org/submissions/ has many PRs (not everything, given ultimately it's running arbitrary code on the server); see also https://github.com/bocoup/web-platform-tests.live/issues/2.

We used to have a comment linking to the relevant directory, but this got a number of complaints about GitHub notification spam; we could potentially now do something as a "check" that builds the m

[2019-01-07 14:31] gsnedders commented on #14707
How many things do we have where we need things like `.well-known` addresses returning different responses on a per test file granularity? That's very hard to achieve when we might have multiple tests being run at once from a single server.

[2019-01-07 14:35] jgraham commented on #14707
Yeah, generally stuff that adds global state is bad, and the url routing table is global state. So if one test wants to do something funky with .well-known, all the tests accessing it have to know what that thing is to allow for it. So having an easy mechanism to do this is probably bad, but maybe for cases where it's really necessary adding to the routes is probably fine.

[2019-01-07 15:02] Hexcles commented on #14654
@jugglinmike are you working on resurrecting w3c-test.org?

[2019-01-07 18:04] #14471 closed

[2019-01-08 06:54] upsuper commented on #14654
Maybe we can put such links into the place for CI check?

[2019-01-08 10:45] foolip commented on #14621
@jgraham, do you agree that "bugging the admin folks each time these tests are touched" is a problem? Is there any way we could deal with this other than having in-repo flakiness metadata?

[2019-01-08 10:54] jgraham commented on #14621
I mean I don't think it's a huge problem, but I also agree that it's not ideal.

Having in-repo flakiness metadata does seem like the most obvious solution if the idea is that we avoid flagging tests as unstable when they are already unstable. Otherwise we'd probably just need a blanket rule that says unstable tests don't block merging, and that seems much worse.

[2019-01-08 12:00] #14568 closed

[2019-01-08 14:14] foolip commented on #13005
@jgraham can you help @whimboo find log files? Maybe we're not logging enough, or linking them clearly enough?

@gsnedders do you know the screen resolution and browser size we use in all cases? Is it only 600x600 as the browser size which we set or reftests, and everything else is haphazard?

[2019-01-08 14:19] jgraham commented on #13005
The logs are https://tools.taskcluster.net/groups/Zr_bW3aPRDKtdc48BidQ7Q

[2019-01-08 14:59] #11235 closed

[2019-01-08 15:16] csharrison commented on #14707
An existing .well-known address that might plausibly want this is the existing origin-policy files in .well-known/origin-policy, if they wanted to point to different origins rather than "self" like web-platform-test:<port>.

If the port can be hardcoded, or templated in (without adding .sub), that would also work.

[2019-01-08 17:01] jgraham commented on #13818
Should this issue be closed?

[2019-01-08 17:07] championshuttler commented on #14648
I would like to work on it, can i take this up?

Thanks

[2019-01-08 17:36] #8581 closed

[2019-01-08 17:38] foolip commented on #13818
The monitoring part isn't done. I could rename https://github.com/web-platform-tests/wpt/issues/14210 to cover it too, but then that might also end up in a half-done state :)

[2019-01-08 20:07] jgraham commented on #13818
I think this should be closed and a bespoke issue opened for whatever monitioring you are planning.

[2019-01-09 09:26] foolip opened #14763 "Monitor Azure Pipelines runs"
Azure Pipelines was enabled in https://github.com/web-platform-tests/wpt/issues/13818. We should monitor runs to notice if it stops working for some reason, like https://github.com/web-platform-tests/wpt/issues/14210 for Taskcluster.

[2019-01-09 11:00] zcorpan commented on #11278
No concerns from me 🙂

[2019-01-09 15:10] foolip commented on #11278
Done in https://github.com/web-platform-tests/wpt/issues/14499, I forgot I had opened this issue.

[2019-01-09 15:12] foolip commented on #14499
For lack of a better place, I'll explain an oddity that's happened here. After I discussed the trouble we had with the changed check name with Travis support, they enabled an internal setting on our repo to send *both* statuses and checks. That caused PRs to have two Travis entries, one "Travis CI - Pull Request" (check) and one "continuous-integration/travis-ci/pr" (status).

This was the case ov

[2019-01-09 20:46] zcorpan commented on #11278
OK. So this can be closed? Reopen if I misunderstood.

[2019-01-09 20:46] #11278 closed

[2019-01-09 20:55] jdm commented on #3158
Fixed in #14665.

[2019-01-09 20:55] #3158 closed

[2019-01-09 23:43] Hexcles commented on #14186
This should no longer be an issue with #14354 (we no longer pass the list of tests via CLI args).

[2019-01-09 23:43] #14186 closed

[2019-01-10 00:50] foolip commented on #11278
Yes, I just pressed the wrong button :)

[2019-01-10 17:04] Hexcles commented on #14648
@championshuttler feel free to send PR(s) :)

[2019-01-10 17:31] gsnedders commented on #7598
After spending way too long chasing down Win7-only failures (which turned out to be leaking memory, and the lower memory limit of Win7 32-bit causing only that platform to hit OOM), it should now land shortly. Then all we need to do is wait for the it to ride the release train…

[2019-01-10 17:40] gsnedders commented on #9647
@jugglinmike did the prototype; we should link it from here.

[2019-01-10 18:22] Hexcles commented on #9647
https://github.com/bocoup/wpt/tree/wptrunner-cdp/tools/pyppeteer

[2019-01-11 03:16] qiuzhong commented on #10512
By running `./wpt run --log-mach - --log-mach-level debug firefox websockets/binary/001.html`, it seems
[code]
was never called. At least I didn't found this in the log output.

However, if I host the wpt by `./wpt serve` and request the `websockets/binary/001.html` in the browser or by Python code, this log debug statement is called and log is printed:

[code]

[2019-01-11 06:43] qiuzhong commented on #10512
I think I got some a clue, during setup the test environments, before we launch the test server, we have a step to `setup_server_logging()`:

https://github.com/web-platform-tests/wpt/blob/b7abb917e65cd1d5b8cb362fa83eb2dd5138e015/tools/wptrunner/wptrunner/environment.py#L149-L152

In such configuration, the server logging is set to `info` by hard code, so `--log-mach-level debug` option  will be i

[2019-01-11 08:43] qiuzhong commented on #7847
@gsnedders , do you mean we should add `logger.debug()` statements so the logger can records the detailed message and traceback when there're errors happened in test runner?

[2019-01-11 08:44] qiuzhong commented on #10512
PS: I tried to remove the logger filter above as a comparison, it turned out that the debug logs showed up as expected when the HTTP requests are made. I don't think it's reasonable to add this log filter there, especially when we use `--log-mach-level` option in the `./wpt run` command line.

[2019-01-14 09:57] foolip opened #14836 "Daily runs of Safari Technology Preview on Azure Pipelines"
In https://github.com/web-platform-tests/wpt/pull/14752 I attempted to enable full runs of Safari Technology Preview on Azure Pipelines, triggered by the epochs/daily branch.

As described in https://github.com/web-platform-tests/wpt/pull/14752#issuecomment-452928106 it didn't work, so this issue is to continue investigating until fixed.

[2019-01-14 10:06] foolip commented on #14836
On my own fork (foolip/wpt) I tried pushing the current epochs/daily branch (commit 9d21b523b4959f402769d58248e4587fda7f39ff) and that did correctly trigger a build:
https://dev.azure.com/foolip/wpt/_build/results?buildId=343

I then pushed the same commit to the master branch. That *doesn't* cause another Azure Pipelines "CI build" to start, which is consistent with https://github.com/web-platfor

[2019-01-14 10:17] foolip commented on #14836
I found it: https://github.com/organizations/web-platform-tests/settings/apps/wpt-fyi-status-check/advanced

But I don't think I can see the same for the Azure Pipelines app, since it isn't our own. I can't tell from the webhook delivery logs if two checks are created when one branch follow another, because there are too many. @lukebjerring do you know, or can you tell from logs?

[2019-01-14 13:01] henbos opened #14837 "Test which m= section is offerer tagged"
Add test coverage for https://github.com/w3c/webrtc-pc/pull/2048

[2019-01-14 13:08] henbos opened #14838 "Test that bundled transceivers are stopped when the offerer tagged is stopped"
Add test coverage for https://github.com/w3c/webrtc-pc/pull/2050.

[2019-01-14 13:17] #11231 closed

[2019-01-14 14:20] stephenmcgruer opened #14839 "Support for testing CSS prefers-reduced-motion media query"
I'm currently working on supporting [prefers-reduced-motion](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) in Chrome, and the [intent to ship](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/NZ3c9d4ivA8) revealed the need for WPT test support.

Unfortunately testing prefers-reduced-motion is hard. The value of the media query depends on internal s

[2019-01-14 14:52] stephenmcgruer commented on #14839
@foolip Yes, I think we could do that. Using window.matchMedia I get:

[code]

So it seems that parsing the 'media' element might be sufficient to tell if a feature is supported.

[2019-01-14 16:26] foolip opened #14843 "Searching docs is very hard"
In https://web-platform-tests.org/ there is no way to search all docs. What I always end up doing is grepping inside the docs/ folder in a local checkout, and then finding the corresponding page. An in-page search would be much better.

[2019-01-14 16:55] foolip opened #14846 "Adapt to Taskcluster Checks API integration"
In https://github.com/web-platform-tests/wpt.fyi/issues/1020 @lukebjerring and I discovered that with the Checks API no new check suite is created when two branches are pushed with the same sha. That means that an epochs/daily branch trailing master doesn't work. The same problem will probably affect Taskcluster.

@jgraham do you have a contact for the Checks API work for Taskcluster? Will our use

[2019-01-14 17:06] lukebjerring commented on #14836
So, as discuss offline: exactly one check suite gets created _when the commit is pushed_. Updating a ref (or a branch, or anything else) to include/set HEAD to the commit doesn't trigger a new check suite.

I think we need to move this pipeline into a daily-triggered pipeline, and tweak it to sync to the SHA provided by the announcer (https://wpt.fyi/api/revisions/epochs).

[2019-01-14 17:21] foolip commented on #14836
Azure Pipelines does support cron jobs, I could try that.

[2019-01-14 17:23] gsnedders commented on #13183
Myself and @jgraham have separately on various occasions remembered that this is going to be somewhat awkward for Firefox the internal Marionette reftest runner, given we'll need to reimplement the testdriver.js implementation within Marionette for that.

Perhaps the right solution here is to just put some "testdriver" flag in the manifest and then use the external reftest runner for those tests.

[2019-01-14 17:24] jgraham commented on #13183
Yeah, that seems acceptable for a v1 implemenation; we would probably want to fix this to work inside the harness later, but that could be a seperate project.

[2019-01-14 17:45] gsnedders commented on #13183
I'm concerned about the ongoing maintenance cost of having yet another implementation, especially one that wptrunner relies on (and which exists in an external repo). I'm not convinced the benefits of having the internal reftest runner support testdriver.js are actually big enough to outweigh that cost.

[2019-01-14 23:35] gsnedders commented on #7598
This appears to have finally landed and stayed landed. Presumably will reach stable with Firefox 66, on 2019-03-19.

[2019-01-15 07:59] kaixinjxq commented on #11231
The new bug link: https://bugs.chromium.org/p/chromium/issues/detail?id=921880

[2019-01-15 10:19] foolip commented on #7598
Can the changes in wpt be developed against Firefox Nightly / Dev / Beta so that we can land them on 2019-03-19?

[2019-01-15 10:23] jgraham commented on #14846
@owlishDeveloper implmenented the support so might be able to help. Looking at the tc repo it seems like the change to enable it at all is very straightforward: https://github.com/taskcluster/taskcluster/commit/14b731786be8f4befeeea136a238bf5dea3e2e06

[2019-01-15 10:35] gsnedders commented on #7598
@foolip yes

[2019-01-15 10:48] zcorpan opened #14860 "Azure Pipelines affected tests jobs are being canceled"
In https://github.com/web-platform-tests/wpt/pull/14824 I made a [commit](https://github.com/web-platform-tests/wpt/pull/14824/commits/af40482c9f2c1f6105658a3001bc523f8a05bc87) that failed [the Azure Pipelines build](https://github.com/web-platform-tests/wpt/runs/50120087).

I asked @foolip for advice on irc:

@thejohnjansen can you take a look? I suppose restarting the job could work but I wanted

[2019-01-15 10:54] jgraham commented on #7598
You can land them earlier, it just means that Firefox stable will have incorrect results for a while (we *could* uplift the patch, but I don't think that it's worthwhile).

[2019-01-15 11:04] foolip commented on #7598
Would that look like a lot of regressions on Firefox stable, or that it's precisely the current results modulo flakiness?

BTW, what does the code look like for ensuring that the content size is 800x600 as opposed to the window size? That was pretty unsightly in some WebDriver code I wrote as a test.

[2019-01-15 11:14] jgraham commented on #7598
It looks like the current results, although it would look like a lot of fixes (and maybe some regressions) in nightly if more tests work at the larger size.

It seems we didn't fix things to set the right viewport size yet [1]? Which is surprising to me because I remember seeing a fix here. @gsnedders will know what's going on.

[1] https://github.com/web-platform-tests/wpt/blob/f6c42824add97dac84

[2019-01-15 13:24] foolip opened #14862 "/css/css-font-loading/idlharness.https.html is flaky in Chrome"
Discovered in https://github.com/web-platform-tests/wpt/pull/14629 and https://github.com/web-platform-tests/wpt/pull/14657, /css/css-font-loading/idlharness.https.html is flaky in Chrome:

|                                                            Subtest                                                             |         Results         |                                                   Mes

[2019-01-15 14:12] foolip commented on #14860
I've found this is happening more widely and wasn't just an infra restart or similar. https://github.com/web-platform-tests/wpt/pull/14850 is the earliest PR (in creation order) that I can see is affected, but not every PR since then is affected. https://github.com/web-platform-tests/wpt/pull/14863 is the most recent.

When it fails, it's in the "Update manifest" step. https://gist.github.com/fool

[2019-01-15 14:13] foolip commented on #14763
https://github.com/web-platform-tests/wpt/issues/14860 is one bit of breakage that monitoring should capture.

[2019-01-15 14:16] foolip commented on #14860
@jgraham have you ever observed a GitHub API quota issues with this code on Taskcluster, either for upstream wpt or Mozilla's CI?

[2019-01-15 14:33] EdgarChen commented on #12947
whatwg/html#4025 is filed, so close this issue.

[2019-01-15 14:33] #12947 closed

[2019-01-15 14:47] foolip commented on #14860
I've sent https://github.com/web-platform-tests/wpt/pull/14865 which should avoid the issue at the cost of making jobs slower.

[2019-01-15 14:50] foolip commented on #14836
I added a cron job for 14:45 UTC which was triggered:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=3626

Unfortunately it didn't work because of https://github.com/web-platform-tests/wpt/issues/14860.

@mdittmer if we trigger using a cron job, at what time is it safe to assume epochs/daily has been updated? 00:05 UTC?

[2019-01-15 14:51] foolip commented on #14860
A problem here is that if https://github.com/web-platform-tests/wpt/pull/14865 is merged and it takes a certain amount of jobs to exceed the quota, then it would be very hard to know when it's safe to revert it.

[2019-01-15 17:07] gsnedders commented on #7598
@jgraham we didn't land #12695.

[2019-01-15 17:38] jgraham commented on #7598
I think we should land this asap. Although Firefox stable runs won't pick up the change for a couple of months it will make the results more correct on every other configuration, and developers almost universally care about the results in nightly rather than stable, so I'm confident that the discrepancy between Firefox stable and other browsers won't be a substantial problem.

[2019-01-15 17:44] dholbert commented on #14360
Right. Some other patterns that I recall for our dependency on WindowSnapshot.js:
 - Tests for features that have a "short but unobservable" delay before the final rendering (e.g. waiting for an animated GIF to reach its final frame, to test that we do in fact play the animation).  We can't use a reftest because we don't know how long to wait, since there's no DOM event that fires when the test re

[2019-01-15 18:11] jgraham commented on #14360
Reftest variants would look like

[code]

Which would end up in the URL so you would get `/path/to/test?option=1` and `path/to/test?option=2` as separate tests. So this would possibly help with the third case above since you could write one base test and use the variant to switch the DOM however you want, but not with the other use cases. Also supporting different refs in variants would be non-tri

[2019-01-15 21:04] foolip commented on #14860
That https://github.com/web-platform-tests/wpt/pull/14865 didn't fix the issue suggests that the problem is while generating the manifest from scratch. That's probably an OOM issue, and it would be fixed by fixing the manifest download. @Hexcles we had a similar problem on Taskcluster, right? Can Taskcluster now survive the manifest download failing, or would it also OOM?

[2019-01-16 07:59] whimboo commented on #13005
Ok, sorry for the noise here. This will clearly be the last comment to close out the discussion. Given that xvfb is used to run the wdspec tests, I finally know why we are failing. Currently I'm reworking all the window manipulation commands, which should hopefully make us be green for the upcoming Firefox 65 release.

[2019-01-16 08:24] marcoscaceres opened #14883 "Add test that dynamically adds/removes shipping options"
See:
https://github.com/w3c/payment-request/issues/791

[2019-01-16 12:21] foolip opened #14889 "manifest/tests/test_manifest.py is failing on master"
See https://github.com/web-platform-tests/wpt/pull/14887, it happens both in Travis and Azure Pipelines.

This is probably due to an update of the hypothesis library, which we do not lock down using a requirements.txt file.

[2019-01-16 12:21] foolip commented on #14889
The version of hypothesis I currently get locally is 4.0.1. https://github.com/HypothesisWorks/hypothesis is the GitHub repo for the package, looking at history now.

[2019-01-16 13:35] #14889 closed

[2019-01-16 13:39] foolip opened #14891 "Pin the versions of Python packages needed for tox tests"
https://github.com/web-platform-tests/wpt/issues/14889 appears to have been possible because the version of hypothesis used changed without human oversight. Dependencies that are tracked without any version are in all of our tox.ini files, here excluding third party ones:

resources/test/tox.ini
tools/wpt/tox.ini
tools/wptrunner/tox.ini
tools/tox.ini

Extracting out the deps into requirements_tox.

[2019-01-16 13:39] foolip commented on #14891
@web-platform-tests/wpt-core-team, do you know of reasons why this might be a bad idea?

[2019-01-16 14:15] foolip opened #14893 "Split out flake8 jobs from pytest jobs"
https://github.com/web-platform-tests/wpt/pull/14852#issuecomment-454789830 suggests that finding the flake8 results is hard, which I have also found. They are now run as part of "tools/ unittests (Python 2)" and "tools/ unittests (Python 3)" on Travis.

[2019-01-16 14:54] foolip opened #14894 "test_manifest_idempotent is failing"
https://github.com/web-platform-tests/wpt/pull/14887 shows that test_manifest_idempotent in test_manifest.py is failing:
https://github.com/web-platform-tests/wpt/blob/de71007a5f31bcaf7ec4651584a851edd6bdbc8f/tools/manifest/tests/test_manifest.py#L84-L97

The failure log:
[code]

This might have been introduced by https://github.com/web-platform-tests/wpt/pull/14890, or the problem was already the

[2019-01-16 15:11] foolip commented on #14894
https://hypothesis.readthedocs.io/en/latest/data.html#hypothesis.strategies.lists says "Returns a list containing values drawn from elements with length in the interval [min_size, max_size] (no bounds in that direction if these are None). If max_size is 0 then elements may be None and only the empty list will be drawn."

That there is no `max_size` is probably a problem, although not necessarily t

[2019-01-16 15:42] foolip commented on #14894
Actually, no, it just "failed" with DidNotReproduce.

[2019-01-16 15:51] foolip commented on #14179
This test was also failing in https://travis-ci.com/web-platform-tests/wpt/jobs/170830906 for https://github.com/web-platform-tests/wpt/pull/14852, but possibly in a different manner:
<details>
<summary>logs</summary>

[code]
</details>

The "AttributeError: 'MarionetteTestharnessProtocolPart' object has no attribute 'marionette'" bit is new and looks like it could be a simple typo. But I'm not su

[2019-01-16 16:26] foolip commented on #14894
I've stopped investigating, over to @gsnedders.

[2019-01-16 17:18] gsnedders commented on #14894
So there's two things here: there's the actual failure (it believes the example flaky) and the deadline being exceeded.

On the whole, I'd assume the deadline being exceeded is caused by the VM being pre-empted (so we should probably turn deadlines off on CI), and the flakiness I think is the fact that it is sometimes the deadline is exceeded.

[2019-01-16 17:31] gsnedders commented on #14894
On that assumption, let's just disable deadlines, which #14898 does.

[2019-01-16 17:40] foolip commented on #14894
Huh, it didn't occur to me that the deadline being exceeded could itself be the cause of the failure. Hope that was it!

[2019-01-16 23:47] bzbarsky opened #14909 "html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-ignore-opens-during-unload.window.html looks buggy"
The test says does a load in an iframe and during the beforeunload event sets up a Promise to run the actual test bits that involve calling `document.open`.

The test has a comment that claims that this should happen before the ignore-opens-during-unload counter is decremented, because microtasks run during "clean up after running script".

But microtasks only run during "clean up after running sc

[2019-01-16 23:49] Hexcles commented on #14860
Regarding memory, we changed the memory settings on Taskcluster and it now guarantees at least 8GB of memory which should be enough even if the manifest needs to be regenerated (but not necessarily so if there are bugs in the code that loads multiple copies of the manifest like #14537 that I just fixed). Realistically I think we need 4GB *available* memory, so perhaps 8GB total memory given that m

[2019-01-17 02:18] bzbarsky commented on #14909
The right way to test this if we really need the entry global to be the subframe is probably to enter script inside the subframe (e.g. via a string setTimeout call on it) and then do the src set from that script.

[2019-01-17 09:59] #14894 closed

[2019-01-17 10:38] jgraham commented on #7598
I stil lthink we shouldn't consider this blocked on marionette changes reaching stable. That is I'm happy with the ordering, but should land this as soon as we are sure that the other change will stick.

[2019-01-17 16:58] #14179 closed

[2019-01-17 17:47] #12578 closed

[2019-01-17 17:58] gsnedders commented on #14891
No. We should do this. Dunno if we want separate requirements lists for `tox` file? Probably we don't need to?

[2019-01-17 18:44] TimothyGu commented on #14909
By this logic https://github.com/web-platform-tests/wpt/blob/master/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-synchronous-script.window.js would need to be changed as well, as it  uses `Promise.resolve` to a similar end.

[2019-01-17 19:02] TimothyGu commented on #14909
I might be mistaken but it seems like we want the entry realm of the test to _not_ be the subframe, which is the whole point of calling `Promise.resolve` in the top frame. Indeed, what we want to test here is that the URL doesn’t change, _despite_ the fact that the entry document is different from the document itself and `document.open()` would ordinarily be effective.

[2019-01-17 19:32] bzbarsky commented on #14909
It is.

[2019-01-17 23:21] dholbert opened #14933 "available-size-006.html (and 7, 8, 15, 19) fail pretty much everywhere due to being too tall"
These tests fail in all browsers (except Safari, probably due to invisible/overlay scrollbars):

https://wpt.fyi/results/css/css-writing-modes/available-size-006.html
https://wpt.fyi/results/css/css-writing-modes/available-size-007.html
https://wpt.fyi/results/css/css-writing-modes/available-size-008.html
https://wpt.fyi/results/css/css-writing-modes/available-size-015.html
https://wpt.fyi/results

[2019-01-17 23:31] dholbert commented on #14933
They fail in Safari, too, on a system configured to always show scrollbars.  So, they fail everywhere-that-has-scrollbars.

@frivoal, perhaps you could take a look at these in Chrome, Firefox, or Edge (or Safari-with-scrollbars) and investigate why they're failing? Presumably they're not quite testing what they intended to test.

[2019-01-17 23:36] dholbert commented on #14933
(BTW: these came to my attention because we just landed a Firefox patch that changes how we handle viewports and scrollbars on Android, and it [ended up causing these testcases to be flagged as "unexpected pass"](https://bugzilla.mozilla.org/show_bug.cgi?id=1520708) due to them suddenly not showing scrollbars anymore on that platform, which meant they no longer disagreed with the reference case.

[2019-01-18 14:42] whimboo opened #14938 "Use a window manager when running test jobs via xvfb"
I investigated some WebDriver test failures for Firefox as shown on [wpt.fyi](https://wpt.fyi/results/webdriver/tests?label=master&label=experimental) the last days, and noticed that the window manipulation tests (fullscreen, maximize, minimize, set window rect) mostly fail for me also locally when I use `xvfb` and having no window manager installed. By that config at least Firefox cannot correctl

[2019-01-18 15:01] jgraham commented on #14938
I think there are two parts here

1) Check what's installed in the docker image. If there isn't a WM installed we will need to install one, and rebuild the docker file, so hopefully there is?
2) Write the code in `tools/ci/start.sh` to actually start the WM. https://stackoverflow.com/questions/41298489/xvfb-start-or-attach-a-window-manager-to-xvfb might be useful for the latter.

[2019-01-18 19:17] bzbarsky opened #14942 "The abort-refresh-immediate.window.js test seems to be depending on non-spec behavior"
As far as I can tell, the test has the following structure (focusing on the HTTP header part for now, and just the fetch case):

1. Load a URL that sends back a `Refresh: 0` header.
2. When the load event fires, start a fetch, then call `document.open`.

The test then asserts that the fetch is canceled before it completes, presumably by the `document.open` call seeing a navigation in progress (fro

[2019-01-18 23:33] foolip commented on #9113
In https://github.com/web-platform-tests/wpt/compare/master...foolip:cssharness?expand=1 I have an experiment I did back in August around this. It boils down to <code>CSS.supports(\`${propertyName}:initial\`)</code> for every known `propertyName`.

@Elchi3 @samthor FYI, this the experiment I mentioned.

[2019-01-19 00:39] foolip commented on #14891
What do you mean by separating requirements? Having one per tox.ini as opposed to one with the union of deps?

[2019-01-20 16:40] TimothyGu commented on #14942
This test came out of when I was implementing the aborting behavior in Chrome. In Chrome, when the document.open call happens the refresh has already been queued, which does not seem to be the case in Firefox. I then decided to cancel all those refreshes queued that have a timeout of more than 0, as a 0 timeout is basically “going to navigate now.”

Now the question is whether the assumption that

[2019-01-21 03:51] bzbarsky commented on #14942
Sort of.  Again, what's queued in there is waiting until some number of seconds (possibly 0) until after the document is "completely loaded", which happens _after_ the load event is fired.  That's certainly what Firefox does; I haven't dug into the code in other browsers yet.

[2019-01-21 14:10] MatheshShan commented on #14883
Hello @marcoscaceres  I'm interested in this.
Will you give more information what to be done.

[2019-01-21 15:06] lukebjerring commented on #14564
cc @Hexcles

[2019-01-21 17:16] #13713 closed

[2019-01-21 23:15] foolip commented on #14836
@lukebjerring I have another potential fix for this which is simple but confusing if not documented. The only reason Azure Pipelines is currently reacting to all push events is because that is the default. The azure-pipelines.yml is then read to figure out what to really do, if anything. I've overridden this in dev.azure.com to only consider pushes for epochs/daily.

Now, if GitHub still creates t

[2019-01-22 06:39] foolip commented on #14836
This doesn't seem to have worked, it seems that no build was triggered for Azure Pipelines, suggesting that GitHub did nothing because it had already processed this commit.

[2019-01-22 12:51] foolip commented on #13379
I'll go ahead and decrease the priority of this until there are more people asking for it.

[2019-01-22 14:11] foolip commented on #14836
I've posted https://github.community/t5/GitHub-API-Development-and/Can-the-Checks-API-be-used-to-trigger-two-runs-when-two-pushed/m-p/17777#M688 about the problem at hand. I'll give up on something that integrates with the Checks API for now and look for workarounds. I'll revert the config changes done in https://github.com/web-platform-tests/wpt/issues/14836#issuecomment-456222296 so that there a

[2019-01-22 14:18] foolip commented on #14836
@lukebjerring looking at https://developer.github.com/v3/activity/events/types/#checkrunevent and https://developer.github.com/v3/checks/suites/#rerequest-check-suite, it appears that as a normal user of the GitHub API, only a whole check suite can be restarted. There's an event for when a check run is restarted, but that seems tied to the pull request UI and trying to send this event directly to

[2019-01-23 10:45] foolip commented on #14938
@mcatanzaro this seems like it could be relevant for your work on Epiphany. Will you need a real window manager there as well?

[2019-01-23 10:46] foolip commented on #14938
@whimboo since you've started work on this I marked it as priority:roadmap and assigned to you. Hope that's OK. It means that it someone will ask about progress if it's inactive for 60 days.

[2019-01-23 10:47] foolip commented on #14860
This is no longer happening.

[2019-01-23 10:47] #14860 closed

[2019-01-23 10:48] whimboo commented on #14938
Sure, once we agreed on a window manager we can continue here. I only would need someone to build and upload the docker image because I don't have permissions.

[2019-01-23 11:22] foolip opened #15013 "Document how to use `./wpt run --verify` locally"
I'm finding that when running `./wpt run --verify --channel dev --binary `which google-chrome-unstable` chrome /web-locks/signal.tentative.https.any.serviceworker.html` locally (for https://github.com/web-platform-tests/wpt/pull/15012) all I get is "::: Test verification FAIL".

I couldn't guess if this meant the test is flaky or that something went wrong internally.

Looking at taskcluster-run.py

[2019-01-23 11:45] foolip commented on #13274
This happened in https://github.com/web-platform-tests/wpt/pull/15012 now:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=4488

The failure was in test_install_firefox because of a network error in mozdownload:
https://gist.github.com/foolip/62ec6e42108ff93f22408340a84ac083#file-74-txt-L106

@jgraham should we mark the test as xfail?

[2019-01-23 11:57] foolip opened #15015 "web-locks/signal.tentative.https.any.serviceworker.html is flaky"
https://github.com/web-platform-tests/wpt/pull/14420 revealed that web-locks/signal.tentative.https.any.serviceworker.html is flaky. This can be seen by running `./wpt run --verify --channel dev --binary `which google-chrome-unstable` --log-tbpl - chrome /web-locks/signal.tentative.https.any.serviceworker.html` locally, producing this table:

|                  Subtest                   |

[2019-01-23 12:02] foolip commented on #15015
With https://github.com/web-platform-tests/wpt/pull/15016 applied one can tell that it is the second `assert_equals` in each subtest that fails, the one for `state.pending.filter(lock => lock.name === res).length`.

That it's so consistently 5/10 failing and a `length` 2 instead of 1 suggests that this isn't the random variety of flakiness, but an interaction or state dependency that consistently

[2019-01-23 14:12] gsnedders commented on #13274
@foolip that test shouldn't be any more flaky than any of the test run jobs where we start off by downloading the nightly browser

[2019-01-23 14:45] foolip commented on #13274
Perhaps it is one of few pytest tests that do this, because I've seen it fail a few times and I don't think I've seen it for other tests. But it happens for `./wpt run` of course, that was the beginning of this issue.

@jgraham is there an infra bug filed in some Mozilla repo for improving the reliability of this setup? Or could it be a mozdownload bug?

[2019-01-23 15:23] foolip commented on #14566
For bookkeeping, https://github.com/web-platform-tests/wpt/pull/14469 was merged while possibly still having a flaky reftest in Firefox.

[2019-01-23 16:17] MatheshShan commented on #14883
Thank you  for your information @marcoscaceres
 I will work on it and I need your mentoring.

[2019-01-23 18:34] mcatanzaro commented on #14938
I just haven't gotten around to trying to make the tests work headless yet. It's high on my TODO. I'm just always a little swamped.

I would expect that using a real window manager might lead to more accurate test results in all browsers, so it seems desirable, but when running tests locally I'd want them to run headless to avoid disruption. Both ways seem valuable.

[2019-01-23 19:59] foolip commented on #14836
Some good news is that the scheduled builds are kicking off and completing, here's the one for the current epochs/daily commit: https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=4441

[2019-01-23 20:01] foolip commented on #14836
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/http-rest-api?view=vsts is what we should use to poke https://github.com/web-platform-tests/wpt.fyi/pull/1054.

[2019-01-23 20:05] whimboo commented on #14938
Please note that this issue is not about getting it working for headless, but as web-platform-tests are currently run via xvfb in CI automation. Maybe that doesn't affect you given that Epiphany isn't tested in this configuration.

[2019-01-23 20:14] foolip commented on #14938
We're trying to work out how to test Epiphany in CI, that's the background here :)

[2019-01-24 01:19] lukebjerring commented on #14836
OK, https://github.com/web-platform-tests/wpt.fyi/pull/1054 has now landed, so I think a cron job (daily pipeline) that has a final job of POSTing to https://staging.wpt.fyi/api/checks/azure/{build ID} is our best bet.

[2019-01-24 02:41] TalbotG commented on #14160
https://github.com/web-platform-tests/wpt/pull/15030

[2019-01-24 09:45] foolip opened #15036 "storage/estimate-usage-details-application-cache.https.tentative.html is "flaky" (fails `./wpt run --verify`)"
https://github.com/web-platform-tests/wpt/pull/14531 adds the test /storage/estimate-usage-details-application-cache.https.tentative.html which was failing the Taskcluster stability check using `./wpt run --verify`):

|                        Subtest                        |          Results           |                                 Messages                                |
|--------------------

[2019-01-24 09:48] foolip commented on #15036
@jgraham have you seen cases like this with Firefox as well? Will tests that have this problem ever run into trouble in Mozilla's CI setup? What I'm wondering is whether it's too high a bar to require tests to involve no global state. I don't know the details of the `./wpt run --verify` scheduling, but I guess the tests are run in sequence at least, never in parallel? (Parallel would make it very

[2019-01-24 10:00] foolip commented on #14836
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=4589 is the latest, `curl -v -X POST https://staging.wpt.fyi/api/checks/azure/4589` printed "Azure build artifacts retrieved successfully". Let's hope that also works when done immediately after the PublishBuildArtifacts@1 task, I'll prepare a PR to see.

[2019-01-24 10:17] foolip commented on #14836
YEEEEEEEESSSS! https://staging.wpt.fyi/results/?sha=66355d4d7f&label=experimental

That was from manual poking, PR to do it from pipeline in the works.

[2019-01-24 11:04] foolip commented on #14617
I saw this again today in https://github.com/web-platform-tests/wpt/pull/15037:
https://tools.taskcluster.net/groups/ABGw-yAPRoSjl9QnlFfpJw/tasks/AeBEG3OjTP-onyDsQFkD0w/runs/0/logs/public%2Flogs%2Flive.log
https://tools.taskcluster.net/groups/ABGw-yAPRoSjl9QnlFfpJw/tasks/JLS7D2aJQDK_cHxj5LNkDg/runs/0/logs/public%2Flogs%2Flive.log

@jgraham should I report this to the Taskcluster bug tracker, or sh

[2019-01-24 11:08] jgraham commented on #14617
This is in our code, not in the TaskCluster code, and it's a git clone, not an API access, so tokens don't seem relevant.

I think the only thing we can do is add retries.

[2019-01-24 13:07] foolip commented on #14617
It happened in https://tools.taskcluster.net/groups/ND6VrV-QRHeu9jeBJ7RUHw/tasks/EMRPZhU7QnS9pcoukCdzuQ/runs/0/logs/public%2Flogs%2Flive.log too, also for https://github.com/web-platform-tests/wpt/pull/15037.

@jgraham is there an existing retry script we can use? I imagine there must be one in Mozilla CI if that also depends on mozdownload?

[2019-01-24 13:13] jgraham commented on #14617
That doesn't rely on mozdownload, and the errors we are seeing here aren't related to mozdownload. That said I'm sure that someone will have a library for retrying a command with exponential backoff e.g. https://pypi.org/project/backoff/ for Python (of course this is not Python, but shell).

[2019-01-24 13:15] whimboo opened #15039 "Consider re-enabling logging for test names for --verify jobs"
While checking for logs of my work on #14981, I noticed that no test names are reported. That makes it actually hard to identify a test which failed.

I asked @jgraham and I he thinks that we might want to reconsider adding those log lines now that the tests run on TaskCluster and not Travis CI anymore. As such we don't run into the log limits.

[2019-01-24 15:33] foolip commented on #14836
This should work next UTC midnight, but leaving the issue open until confirmed. I'll trigger a build on master now to see if it's likely to work.

[2019-01-24 16:24] foolip commented on #14836
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=4722 is looking promising.

[2019-01-24 19:21] aboba opened #15050 "WebRTC In Offer, "a=simulcast" line should only contain send RIDs"
Need test for functionality required by https://github.com/w3c/webrtc-pc/pull/2075

[2019-01-24 19:34] aboba opened #15051 "Webrtc Test for mis-use of RTX / RED / FEC in setCodecPreferences()"
Need test for functionality specified in PR https://github.com/w3c/webrtc-pc/pull/2069

[2019-01-24 19:56] foolip commented on #10451
Quoting from @JohnChen0 and https://github.com/web-platform-tests/wpt.fyi/issues/406#issuecomment-457333971, there's a way to do this for ChromeDriver now:

[2019-01-24 20:54] whimboo commented on #14938
PR #14981 got merged, so we make use of `fluxbox` as window manager for now. If there is something which is not supported and needed later, we can always switch to a different one later.

With the next job on master we should see way more green tests for wdspec in regards of fullscreen/maximized/minimized/set window rect commands.

[2019-01-24 20:54] #14938 closed

[2019-01-24 22:48] foolip commented on #14617
Yes, it's in our code. Other CI systems do the checkout before control reaches "user code" and I suspect they do something to be more resilient, or we'd see a lot of these errors on Travis and Azure too.

[2019-01-25 10:07] foolip commented on #14254
This happened in https://github.com/web-platform-tests/wpt/pull/14954. From [the logs](https://taskcluster-artifacts.net/Nr8maQq6QIKpx_Au_ImTdQ/0/public/logs/live_backing.log):

|                             Test                             |                                     Subtest                                      |          Results           |                 Messages                |
|--

[2019-01-25 10:57] foolip commented on #15039
@whimboo which logs are these? The test names are included in the default logger at least, has it disappeared from some other logger?

[2019-01-25 11:46] jgraham commented on #15039
This is for `--verify`

[2019-01-25 11:50] jgraham commented on #15039
https://github.com/web-platform-tests/wpt/pull/15074 might be enough here

[2019-01-25 12:12] foolip commented on #14210
In https://github.com/web-platform-tests/wpt/pull/15040 Taskcluster didn't start, which I haven't seen since https://github.com/web-platform-tests/wpt/issues/14165. That's another failure mode that monitoring should flag.

[2019-01-25 13:19] foolip commented on #14836
Calling this done, we have two runs now, the last of which was entirely automated:
https://wpt.fyi/results/?sha=66355d4d7f
https://wpt.fyi/results/?sha=388ba3a049

@thejohnjansen @mustjab please pass along a THANK YOU and maybe some cake to the Azure Pipelines team for making this possible.

[2019-01-25 13:19] #14836 closed

[2019-01-25 13:19] foolip commented on #14836
Note also how the version changed from 73 to 74, that's https://github.com/foolip/safari-technology-preview-updater actually working :)

[2019-01-25 15:12] mdittmer commented on #10990
_friendly ping_. @gsnedders @jugglinmike is there still a lack of consensus between landing https://github.com/web-platform-tests/wpt/pull/11202 and landing https://github.com/web-platform-tests/wpt/issues/10990 ? If so, how do you propose we make progress on the decision?

[2019-01-25 15:13] mdittmer commented on #7444
_friendly ping_. Has this improved but the issue not updated, or did it end up falling off the radar last quarter?

[2019-01-25 15:14] mdittmer commented on #9180
_friendly ping_. @foolip it looks like this is `priority:roadmap` but has no owner. Any volunteers?

[2019-01-25 15:15] mdittmer commented on #13073
_friendly ping_. @gsnedders looks like there are requested changes on the proposed fix. Is driving forward #14604 still on your radar?

[2019-01-25 15:19] mdittmer commented on #12696
_friendly ping_. Glad to see this has a workaround, but should the issue be re-prioritized or receive an owner?

[2019-01-25 15:21] mdittmer commented on #7475
_Ping_ from your friendly neighbourhood ecosystem infra rotation. @lukebjerring can you comment on this issue with a short update on what's done and still to-be-done for this? I know following the link to the project achieves that, but if we're not going to close this issue and say "look at the project instead" maybe posting a quick snapshot of the work here is in order.

[2019-01-25 15:23] mdittmer commented on #12699
@gsnedders you still seeing this or should it be closed?

[2019-01-25 15:24] mdittmer commented on #13686
https://github.com/web-platform-tests/wpt-pr-bot/pull/51 now merged. @lukebjerring @foolip should this issue be closed?

[2019-01-25 15:34] lukebjerring commented on #7475
Closing this as fixed. Details of future work/improvements can be found in the project linked above.

[2019-01-25 15:34] #7475 closed

[2019-01-25 15:35] lukebjerring commented on #13686
Yes, closing as fixed.

[2019-01-25 15:35] #13686 closed

[2019-01-25 15:58] jgraham opened #15080 "flake8 failing on PRs"
It seems to be missing the configuration rules e.g. https://travis-ci.com/web-platform-tests/wpt/jobs/172992129

[2019-01-25 16:46] foolip commented on #10572
Yep, until this is fixed we won't be able to depend on having a manifest for wpt.fyi, which would be useful. @lukebjerring do you want to own this, or what's the priority of having the manifest available reliably?

[2019-01-25 16:47] foolip commented on #13710
I'm going to downgrade the priority of this one. It'll keep being confusing from time to time, but easy to fix in every individual case it happens.

[2019-01-25 16:51] foolip commented on #12935
@gsnedders and I discussed this week. Conclusion was to mark current failures as expected and only proactively fix the ones we know result in differences in the actual test results.

@gsnedders should we just close this, or does an umbrella bug serve a purpose?

[2019-01-25 16:56] foolip commented on #14621
https://github.com/web-platform-tests/wpt/pull/14845 may be another case of this.

@lukebjerring do you think there's any synergy (heh) to be had by solving this together with https://github.com/web-platform-tests/wpt.fyi/issues/64, or are we better off with different solutions for each case?

[2019-01-25 16:57] foolip commented on #9180
Downgrading. https://github.com/web-platform-tests/rfcs/issues/1 is in progress and then that might be the forum to hammer this out, and then it'll need a champion who isn't me :)

[2019-01-25 16:58] foolip commented on #7444
Closing. Maybe we'll get new reports, but they might not be for the same reason. Also, web-platform-tests.live will probably be ready for action soon.

[2019-01-25 16:58] #7444 closed

[2019-01-25 17:08] lukebjerring commented on #10572
No, I don't want to own this.
wpt.fyi falls back to the `latest` manifest when it 404's for a particular SHA, so it's not blocked on having this be reliable, it's just a lower-quality feature (since there can be manifest mismatch in some cases).

[2019-01-25 17:14] lukebjerring commented on #14621
wpt.fyi's project for metadata (https://github.com/web-platform-tests/wpt.fyi/projects/10) will quite independently flag things as flaky in some daily-pipeline style, but apart from helping to highlight things as flaky automatically (and the ability to search for flaky tests), it won't offer any solution to the problem of triaging them - apart from the ability to attach links to already-opened bug

[2019-01-25 20:35] bzbarsky opened #15089 "MouseEvent-prototype-offsetX-offsetY.html seems to depend on non-spec-defined behavior"
The test is testing things like the offsetTop of an inline, but this is not actually defined in the CSS specification.  Specifically, the relevant text in CSS 2.1, last I checked, is:

and I'm not aware of any later CSS specs that define the behavior.

Since the offsetTop depends on the interaction of the line-height and the heights of the inlines, it's not specified either.

The test should proba

[2019-01-25 20:49] bzbarsky commented on #15089
Actually, we could probably stay with an inline if we set `line-height: 1; font-family: Ahem` on the `my-host` element.  That should eliminate the browser rendering differences in terms of inline layout.

[2019-01-25 21:04] rniwa commented on #15089
Yeah, setting `line-height` and `font-family` sounds great to me. I wanted to add testing for inline elements but didn't realize it wasn't specified at all. I guess we could use `display:block` if we wanted to avoid depending on any unspec'ed behavior.

[2019-01-25 21:20] Hexcles commented on #15080
Supposedly fixed by #15079

[2019-01-25 21:20] #15080 closed

[2019-01-26 20:41] owlishDeveloper commented on #14846
We were discussing this on IRC. I am not quite imagining/understanding your use case, therefore cannot tell with certainty whether your use of use of epochs/* branches will break. You can either try (you can always go back) or I could test it for you, but then I need to understand how to reproduce your situation.

All I can say, we don't do anything about check suites. GitHub creates them automati

[2019-01-28 14:46] gsnedders commented on #13073
@mdittmer Yes. Fundamentally the wrong approach, probably, but a reasonable starting point at exploring the space here.

[2019-01-28 14:46] gsnedders commented on #12696
We should just land some workaround, at least, before de-prioritizing.

[2019-01-28 14:53] gsnedders commented on #12699
WFM.

[2019-01-28 14:53] #12699 closed

[2019-01-28 14:55] gsnedders commented on #12935
@foolip I'd rather have something open to track the XFAILs and to point at from them.

[2019-01-28 14:55] gsnedders commented on #12949
Essentially see https://github.com/web-platform-tests/wpt/issues/12935#issuecomment-457638421

[2019-01-28 19:46] Hexcles commented on #12934
I think #14924 should largely alleviate this issue? Tentatively closing this, but feel free to reopen.

[2019-01-28 19:46] #12934 closed

[2019-01-28 20:01] TalbotG commented on #5500
Hello,

I created pull request
https://github.com/web-platform-tests/wpt/pull/15063
which was reviewed and merged recently and it had that
vh_not_refreshing_on_chrome.htm
test. So, I am puzzled here.

1- There is a reftest-wait in the test file (lines 3 and 12).

2- The iframed page
css/css-values/support/vh_not_refreshing_on_chrome_iframe.html
does not have a <link rel=match>

I do not see anythi

[2019-01-28 20:08] TalbotG commented on #5500
There is a problem in the test in the built test suite with

http://test.csswg.org/suites/css-values-3_dev/nightly-unstable/html/reference/vh_not_refreshing_on_chrome-ref.htm

and that is issue 5499 . But I do not see a rendering problem with

http://w3c-test.org/css/css-values/vh_not_refreshing_on_chrome.html

[2019-01-29 09:19] Ms2ger commented on #7165
Ref: #11726

[2019-01-29 09:19] Ms2ger commented on #7153
Ref: #11726

[2019-01-29 15:58] gsnedders opened #15137 "Make ./wpt run [single test] quicker"
The goal here is to make `time ./wpt run --headless --no-pause chrome infrastructure/assumptions/html-elements.html` take under 4s on my local laptop (MacBook Pro (Retina, 15-inch, Mid 2014), i7-4870HQ, 16GB RAM, macOS 10.14).

[2019-01-29 16:35] gsnedders commented on #15137
To give some rough ideas about perf:

cProfile claims that `testrunner.run` is only 28% of a `--no-manifest` run. Other significant things are setting up the venv (12%) and requirements (15%), `wptrunner.get_loader` (34%).

Also looking at VMProf (which seems not to cope with threading locally?! so percentages are in no way comparable), it appears that the more expensive part of `wptrunner.get_loa

[2019-01-29 19:02] jugglinmike commented on #9647
At the end of 2018, we created [a proof-of-concept WPT "executor" which uses the Chrome DevTools protocol to automate the browser under test](https://github.com/bocoup/wpt/tree/wptrunner-cdp/tools/pyppeteer). You can read about the process in [this presentation from 2018-12-11](https://bocoup.github.io/presentation-wpt-on-cdp/).

We'd like to bring this prototype to a production-ready state and ma

[2019-01-29 22:13] jgraham commented on #15137
There exists a (some what fragile) optimistation to only construct instances on demand, but we are presumably not using it in this case.

[2019-01-30 09:02] jgraham commented on #15137
Right, if we insist on iterating all tests then obviously we don't use the optimisation. But the <code>[TypeData](https://searchfox.org/mozilla-central/source/testing/web-platform/tests/tools/manifest/manifest.py#46)</code> class has the ability to only convert from the JSON representation to the object representation on demand. I imagine in this case we aren't using it because the test matching a

[2019-01-30 09:48] foolip commented on #13274
This happened for @annevk on https://github.com/web-platform-tests/wpt/pull/15122.

[2019-01-30 10:05] jgraham commented on #13274
It's a mozdownload bug. The way it works is that it looks for a directory containing builds, stores that, and then later uses the stored directory to look for the actual build. But the operation of creating a directory full of builds isn't (even nearly) atomic; the directory is created when the first artifacts are available not when the last build is complete. So the "solution" here is either a) s

[2019-01-30 12:04] foolip opened #15156 "version and os_version in JSON report.json are wrong/imprecise for Edge"
With the help of @mustjab and @thejohnjansen I have been experimenting with Edge runs on Windows 10 in Azure Pipelines on a branch in this repo. Here is the first successful full run, which excluded WebDriver (wdspec) tests:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5330

https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5267 was an earlier partial run w

[2019-01-30 12:59] foolip opened #15159 "infrastructure/reftest/size-ref.html flaky on Azure/Edge"
In https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5357 (before https://github.com/web-platform-tests/wpt/pull/14300 was landed) /infrastructure/reftest/size-ref.html failed.

https://gist.github.com/foolip/d4b8dc5e236ebcf0cf10b28bf50684da is the edge.tbpl.log.

Pasting that into https://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml rev

[2019-01-30 13:08] gsnedders commented on #13274
https://github.com/mozilla/mozdownload/issues/524 is the mozdownload bug, as appears above.

[2019-01-30 17:03] foolip commented on #15156
@gsnedders has the answer in https://stackoverflow.com/a/52056711

[2019-01-30 18:36] KyleJu commented on #7660
#15133  chatted with the author and test failures are unrelated to the changes in the PR. Maybe Admin merged ?

[2019-01-30 20:39] foolip commented on #15156
On the Windows 10 VMs now in the agent pool, that commands returns 44.17763.1.0.

In https://storage.googleapis.com/wptd-results/9d21b523b4959f402769d58248e4587fda7f39ff/edge-17-windows-10-1a6165dd70/report.json, the latest Edge run from Buildbot, the version is simply "17". The UA string for  Edge 44.17763.1.0 ends with "Edge/18.17763". That's actually the EdgeHTML version, but for continuity wit

[2019-01-30 20:52] domenic opened #15167 "HTMLButtonElement CEReactions tests are incorrect for boolean attributes"
@kaixinjxq can you take a look? They have the same problem as was noticed and fixed in the review of https://github.com/web-platform-tests/wpt/pull/14711.

[2019-01-30 21:57] foolip commented on #14862
With https://github.com/web-platform-tests/wpt/pull/15074 the logs are a lot more verbose. This failed in https://github.com/web-platform-tests/wpt/pull/15123, and in the logs I see "TEST-UNEXPECTED-ERROR | /css/css-font-loading/idlharness.https.html | The source provided ('src') could not be parsed as a value list."

That must mean these two bits of code working together:
https://github.com/web-p

[2019-01-30 22:14] foolip opened #15171 "Taskcluster logs too verbose to find the import part (the end)"
With https://github.com/web-platform-tests/wpt/pull/15074 fixed it's possible to diagnose more failures `./wpt run --verify` as in https://github.com/web-platform-tests/wpt/issues/14862#issuecomment-459125799, but https://github.com/web-platform-tests/wpt/pull/15123 also had a failed wpt-firefox-nightly-stability job:
https://tools.taskcluster.net/groups/I0dpLuNmS8OGEj60JhOyPw/tasks/YhSVoGCVTdCzfz

[2019-01-30 22:15] foolip commented on #14254
This happened in https://github.com/web-platform-tests/wpt/pull/15123 too.

[2019-01-30 23:14] foolip commented on #15156
Sent https://github.com/web-platform-tests/wpt/pull/15172 to get the `browser_version` field. When done inside of wpt I'll make no attempt to fix the version to be 18.

[2019-01-30 23:23] foolip opened #15174 "Daily runs of Edge on Azure Pipelines"
This is like https://github.com/web-platform-tests/wpt/issues/14836, but for Edge on Windows 10.

@mustjab and @thejohnjansen have provided a self-hosted agent pool with 5 Window 10 VMs to make this possible.

[2019-01-30 23:33] #14862 closed

[2019-01-30 23:37] foolip commented on #15174
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5330 was the first full build, but it failed to get into wpt.fyi, seemingly because of `browser_version` missing from the JSON reports.

https://github.com/web-platform-tests/wpt/pull/15172 fixes that and https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5461 is in progress with that fix. We'll see what the next

[2019-01-30 23:56] skeets1967 commented on #15174
Thanks for your time and help in the way you have

[2019-01-30 23:59] skeets1967 commented on #15174
I'm New to all of this

[2019-01-31 00:07] foolip commented on #14846
https://github.community/t5/GitHub-API-Development-and/Can-the-Checks-API-be-used-to-trigger-two-runs-when-two-pushed/m-p/18175/highlight/true#M758 shows what GitHub Actions does in this case. Having Taskcluster do the same and create two check suites would be great. I believe that will require manually creating checks suites, though.

[2019-01-31 00:20] foolip commented on #15174
https://staging.wpt.fyi/results/?sha=d11be4eae8 is the first sign of this maybe working. I uploaded wpt_report_10.json.gz from https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5461 at https://staging.wpt.fyi/api/results/upload and changed the browser name to "edge" to get anything to show up.

@lukebjerring @Hexcles what to do about "edge_webdriver" as the product name?

[2019-01-31 00:41] foolip commented on #7660
@KyleJu did you comment on the wrong issue, or did this come up in rotation?

[2019-01-31 00:51] KyleJu opened #15176 "Deflake RTCPeerConnection-track-stats.https.html."

[2019-01-31 00:54] KyleJu commented on #7660
@foolip oops this came up in rotation but I filed a bug separately #15176

[2019-01-31 02:42] kaixinjxq commented on #15167
@domenic, actually I've fixed this in https://github.com/web-platform-tests/wpt/pull/14491/commits/54b38c385768f24934f0cb7e70581897f996d05d, could you help review it?

[2019-01-31 03:03] skeets1967 commented on #15174
Sound like heaven. Man I can not enoughThank you
Sent from Yahoo Mail on Android

  On Wed, Jan 30, 2019 at 6:20 PM, Philip Jägenstedt<notifications@github.com> wrote:
https://staging.wpt.fyi/results/?sha=d11be4eae8 is the first sign of this maybe working. I uploaded wpt_report_10.json.gz from https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5461 at https://staging.wpt.fyi/api/r

[2019-01-31 10:59] foolip commented on #14645
https://github.com/web-platform-tests/wpt/pull/14841 was affected by this.

[2019-01-31 11:54] jonco3 opened #15182 "Some dynamic import test code doesn't agree with the test description"
See this code and its equivalent in string-compilation-nonce-module.html:

https://github.com/web-platform-tests/wpt/blob/09c7c724f76a6512d829c20a5b84d0fabba661eb/html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html#L37-L43

The description says that this use of setTimeout to execute the import should work but the code passes window.unreached as

[2019-01-31 12:00] jonco3 opened #15183 "Tests for dynamic import in HTML event handlers are not consistent with latest spec"
The HTML spec is changing so that HTML event handler functions are given a null [[ScriptOrModule]] and this changes the behaviour of import():

https://github.com/whatwg/html/pull/4302

The tests need to be updated to follow this change.

[2019-01-31 13:00] lukebjerring commented on #15174
I'm not sure why the distinction propagates into the product name, but is this something that we should be handling in general? Do we have an exhaustive list of these cases?

`edge_webdriver` can be cleanly mapped to an `edge` run with a `webdriver` label.

[2019-01-31 13:08] foolip commented on #15174
If memory serves, @gsnedders found that two products names was easier, and also in favor of it could be said that it doesn't leave behind an argument for switching the executor when the transition is done.

The only two current products with underscores are chrome_android and edge_webdriver. With the ExecutorCDP work expect we'll have chrome_cdp for a time, unless we use another method.

Funny eno

[2019-01-31 13:22] foolip commented on #15174
Job 3 in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5461 failed:
https://gist.github.com/foolip/55644c814477946b946e43e87ea20299#file-258-txt-L7208-L7218

[code]

I'm not sure where "Entering debug mode. Use h or ? for help." came from, but https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/powershell/VstsTaskSdk/ToolFunctions.ps1 appears to be the code that

[2019-01-31 13:31] foolip commented on #15174
https://github.com/Microsoft/azure-pipelines-task-lib/issues/410 looks like it could be related.

[2019-01-31 14:16] foolip commented on #14254
@Ms2ger will https://github.com/web-platform-tests/wpt/pull/14866 fix this, or only partly?

[2019-01-31 14:17] foolip commented on #14254
Oh, disregard, you were saying this was the remaining Taskcluster issue. I wanted to poke at https://github.com/web-platform-tests/wpt/issues/14645.

[2019-01-31 14:19] foolip commented on #14645
@Ms2ger I guess https://github.com/web-platform-tests/wpt/pull/14866 resolved this in the only case we knew it happened, or do you know of others?

[2019-01-31 14:37] foolip commented on #15174
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5536 is the next candidate for a full run.

[2019-01-31 15:48] Ms2ger commented on #14645
I think this issue isn't about fixing the existing duplicated test names, per https://github.com/web-platform-tests/wpt/issues/14645#issuecomment-449445728?

[2019-01-31 16:22] gsnedders commented on #15156
Fixed by #15172.

[2019-01-31 16:22] #15156 closed

[2019-01-31 17:09] foolip commented on #15174
https://staging.wpt.fyi/results/?sha=d5883c064d is wpt_report_13.json.gz from that build manually uploaded. As long as the build completes, it looks like this might work.

[2019-01-31 19:21] foolip commented on #15174
https://wpt.fyi/results/?run_id=4849781323071488 /
https://staging.wpt.fyi/results/?run_id=5313109661057024 is the full run, it was uploaded without any manual step.

Looks like it's time to commit the config and get a run from master.

[2019-01-31 23:35] foolip commented on #15174
PR up at https://github.com/web-platform-tests/wpt/pull/15196.

@gsnedders for the "edge_webdriver" problem I had this fix:
[code]

But I'm not sure if `run_info` is used anywhere internally? What do you think make sense, in this case and for a future ExecutorCDP?

[2019-02-01 09:39] foolip commented on #13532
That should be OpenSSL, and is tracked by https://github.com/web-platform-tests/wpt/issues/12256.

[2019-02-01 11:18] foolip commented on #15159
Interesting, this might be flaky.

In https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5605 for https://github.com/web-platform-tests/wpt/pull/15196 the test unexpectedly passed.

[2019-02-01 12:43] foolip commented on #15174
https://gist.github.com/foolip/3be27fa5b8c57ec1121eff4c32fdefb3 is a script for modifying the reports after the fact which I'll use to try uploading the next run.

[2019-02-02 09:34] foolip commented on #15174
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5754 is the first manually triggered daily run after the config landed in the repo. The edge_webdriver problem hasn't been resolved, but it should be possible to upload the results manually.

[2019-02-02 10:18] foolip commented on #15174
As it turns out, runs have been getting into wpt.fyi and staging.wpt.fyi just fine, just as product edge_webdriver instead of edge. Here's one: https://wpt.fyi/results/?run_id=5693649719394304

[2019-02-02 11:31] gsnedders commented on #15159
It's not that surprising, resizing is a bit weird and complicated and OS dependent to start with, especially if we're dealing with anything where there isn't an integral scaling factor (though I'd be surprised if this were the case for what we're running on Azure?).

[2019-02-02 11:32] gsnedders commented on #15159
One thing that might be worth trying is moving the window to some constant location before we start trying to resize it?

[2019-02-02 14:03] lukebjerring commented on #15174
I'd say we handle it in the /api/results/create, by mapping edge_* to edge and labelling it with the original name (e.g. edge_webdriver). That way we're not being as lossy with the info?

[2019-02-02 21:31] foolip commented on #15174
Yeah, that would work.

[2019-02-02 21:34] foolip commented on #15174
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5754 didn't complete and is still "running" but will presumably time out. For some reason only 4 jobs were started and completed, then all remaining claim to be "Waiting for an available agent". But I triggered https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5765 which which uses the same agent pool and it fini

[2019-02-04 11:09] foolip commented on #14645
@tabatkins ran into this as well and asked me about it.

@jgraham if we write some code that explicitly looks for duplicate test names from a single run, do you think it makes sense together with `--verify`? Another alternative would be to do it in the wpt.fyi checks. @lukebjerring WDYT?

[2019-02-04 13:04] foolip commented on #15174
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5799 finished and `curl -v -X POST https://staging.wpt.fyi/api/checks/azure/5799` got it up here:
https://staging.wpt.fyi/results/?run_id=5193840969383936

I'll try changing the product to see if it then shows up by default.

[2019-02-04 13:10] foolip commented on #15174
That worked, and Edge 44 now shows up on the frontpage of staging.wpt.fyi as it was an aligned run. I'll hold off doing the same for prod though, it's best to have https://github.com/web-platform-tests/results-collection/pull/647 merged and comparing the results.

[2019-02-04 13:29] gsnedders opened #15232 "infrastructure tests getting unexpected results in Chrome in many PRs"
This is seen both on Travis CI (Linux) and Azure Pipelines (macOS):

[code]

The logs don't give much clue. Need to go through PRs, check whether it's just all jobs on which the infrastructure tests run that fail.

[2019-02-04 13:36] jgraham commented on #15232
The most likely thing is that a ChromeDriver release fixed the actions endpoints. The results from master seem to confifm this [1] [2]

[1] https://wpt.fyi/results/infrastructure/testdriver/actions?label=master&product=chrome%5Bexperimental%5D&product=edge&product=firefox%5Bexperimental%5D&product=safari%5Bexperimental%5D&aligned
[2] https://wpt.fyi/results/webdriver/tests/perform_actions?label=ma

[2019-02-04 13:39] gsnedders commented on #15232
Yeah, it would seem so. So just need to update expectations.

[2019-02-04 13:41] lukebjerring commented on #14645
wpt.fyi discovers these things too late, IMHO. Because of problems we have with noise of the checks, we'd end up ignoring it. Special-casing duplication is a better approach.

[2019-02-04 13:56] #15232 closed

[2019-02-04 15:09] tabatkins commented on #14645
Yeah, when I ran into this it confused the heck out of me. I thought the `20/10` I saw was a display bug and meant to say `2/10`, and spent a while very confused about how that particular test could possibly have flaked.

There *is* an error message about the duplicate test name in the output, but it's so buried among the massive amount of other logging that I didn't discover it until after I'd al

[2019-02-04 18:27] cclauss opened #15240 "Fix Python 3 syntax errors by syncing with upstream w3c/csswg-apiclient"
See: https://github.com/w3c/csswg-apiclient/pull/2 as discussed  at https://github.com/web-platform-tests/wpt/pull/15141#discussion_r253420265

[2019-02-04 23:10] foolip commented on #13194
Closing this, we've already switched to Taskcluster. A number of issues have already been found, many fixed, and we should file more if we see things being missed.

[2019-02-04 23:10] #13194 closed

[2019-02-04 23:12] foolip commented on #6565
Reassigning since Bocoup will be doing a documentation overhaul and this is one of the things that are hard for newcomers to the project.

[2019-02-05 01:21] frivoal commented on #14160
Fixed by #15030

[2019-02-05 01:21] #14160 closed

[2019-02-05 03:33] irori commented on #8375
I saw this still happening in #15075, where Taskcluster ran each test 10 times and all but the first run failed because trickled resources are loaded from cache with no delay.

[2019-02-05 10:04] foolip commented on #10572
@lukebjerring glad to hear it's not a blocker for wpt.fyi :)

This is continuing to fail intermittently on Travis CI, https://github.com/web-platform-tests/wpt/runs/50028082 being a recent case.

I've played around with GitHub Actions enough to be confident we can do this using GitHub actions when it exits beta, but until then let's leave it alone.

[2019-02-05 12:15] foolip commented on #12515
Fixing this in the import step now: https://github.com/tidoust/reffy-reports/pull/29

[2019-02-05 15:21] lukebjerring commented on #14199
Ping @KyleJu - any progress on this?

[2019-02-05 15:22] #15240 closed

[2019-02-05 15:22] lukebjerring commented on #7435
@NavidZ - any updates?

[2019-02-05 15:40] NavidZ commented on #7435
I did update the documentation. I guess I did it inline and forgot to mention it in this bug.

[2019-02-05 15:40] #7435 closed

[2019-02-05 15:43] jgraham commented on #15171
Yeah, that log seems to be 200Mb uncompressed, so I imagine it doesn't work well in a browser. The size was why we didn't have the full logging on in the first place, although we were more concerned with Travis limitations than anything else. In the long term it would be good to get the summary into the status check directly. However it's not clear what to do to solve the general case; most of the

[2019-02-05 15:45] KyleJu commented on #14199
@lukebjerring Mistaken it as a slight separate issue. I will file a bug against me internally and send out a CL by the end of the day

[2019-02-05 16:09] gsnedders opened #15250 "ServoDriver should be replaced by WebDriver executor alone"
This is blocked on at least https://github.com/servo/servo/issues/13997.

We'll also need to implement some way to pass through WebDriver extensions, as we do here for setting prefs.

cc/ @jdm @jgraham

[2019-02-05 16:19] jdm commented on #15250
This might be complicated by some Android-specific setup that we have added to ServoDriver. Also that Servo's webdriver setup seems to be different from every other browser, where we start a browser process that has the webdriver server inside it, rather than an external server that starts browser instances.

[2019-02-05 17:31] KyleJu commented on #14199
Tweaked my PR Cleanup script to close all the stale PR and delete corresponding branch.

The reason why these branches were not able to close by my script is due to the fact that the limit of PR that can be retrieved through API is 1000, and most of these stale PR is more than a year old. Scrolled through most of these PRs and the reasons for them being stale are

1. the original CL is chromium is

[2019-02-06 10:16] gsnedders commented on #15250
This shouldn't be that difficult to handle similarly to Firefox/Chrome on Android, no?

The generic code should probably just handle that.

[2019-02-06 11:21] gsnedders commented on #15137
Vague to-do from the various things I've looked into in the past week:

 * Make sure the lazy item object creation optimisation applies in the jsshell test where it should already apply (cc/ @Ms2ger)
 * Apply the lazy item object creation optimisation when we know what tests we're running (e.g., the single test case)
 * Ensure we don't create objects if we don't need to for a no-op manifest update

[2019-02-06 11:56] Ms2ger commented on #15137
Relevant: https://bugzilla.mozilla.org/show_bug.cgi?id=1519347

[2019-02-06 12:03] jgraham commented on #15137
It could be worth trying doing the serialization on a seperate thread.

[2019-02-06 13:21] gsnedders commented on #15159
@foolip is there any way to just trigger a large number of runs now and see if it's at all stable?

[2019-02-06 17:16] foolip commented on #15159
Sure, you can push a branch that uses parallel jobs like all_edge but each does the same steps.

[2019-02-07 10:56] foolip commented on #15174
With more logs and a failed run https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=5991 there are more clues about what might be happening:
[code]

"WebDriver was not accessible within the timeout" suggests a problem with EdgeDriver. @thejohnjansen @mustjab do you know if it's possible to enable more logging for EdgeDriver to diagnose the problem?

[2019-02-07 14:10] gsnedders commented on #7139
Dupe of #8613.

[2019-02-08 09:31] tzik opened #15290 "Failing Fullscreen API tests on detached frames"
I have a question around [element-request-fullscreen-active-document.html](https://github.com/web-platform-tests/wpt/blob/master/fullscreen/api/element-request-fullscreen-active-document.html) and [document-exit-fullscreen-active-document.html](https://github.com/web-platform-tests/wpt/blob/master/fullscreen/api/document-exit-fullscreen-active-document.html).

IIUC, they call [requestFullscreen](h

[2019-02-08 10:17] foolip commented on #14254
https://github.com/web-platform-tests/wpt/pull/12804 was affected by this.

[2019-02-08 10:33] tzik commented on #15290
https://github.com/whatwg/fullscreen/issues/67 is a previous discussion.
@annevk @foolip @zcorpan: do you guys have any insight on this?

[2019-02-08 12:59] annevk commented on #15290
The tests seem relevant, but they might have the wrong pass condition.

I also did not realize we have "check if we can run script" as that seems to solve https://github.com/whatwg/html/issues/2621?

[2019-02-08 14:50] tzik commented on #15290
Hmm, but, there's no way to extract the result from the promise to verify it.

@domenic: Can we clarify [the step 2 of EnqueueJob](https://html.spec.whatwg.org/multipage/webappapis.html#enqueuejob(queuename,-job,-arguments))?
On [V8 implementation](https://chromium.googlesource.com/v8/v8.git/+/c4411b0be8d81af1bbbe4f9c546cdbc0a521ccfa/src/builtins/builtins-promise-gen.cc#982) of [EnqueueJob](https:

[2019-02-08 15:02] zcorpan commented on #15290
If something should not happen, you can use `assert_unreached('it happened')` if it does, and maybe wait for some other event that is guaranteed to come afterwards to end the test.

[2019-02-08 15:57] calvaris opened #15299 "PlayReady tests do not seem to be parsing the message XML format properly"
As you can see in

https://github.com/web-platform-tests/wpt/blob/45b6a5be22e5ea7596c55f5d1e65bae5e62e1656/encrypted-media/util/drm-messagehandler.js#L68

tests expect to parse PlayReady message answer to the generateRequest call by reading the text of the <Challenge> tag, which is not a text node but a complex subtree reading the nodeValue of that is null.

Am I missing anything or are the tests

[2019-02-08 16:01] calvaris commented on #15299
I'm following this message example of https://docs.microsoft.com/en-us/playready/overview/license-server, which follows the same format as my PlayReady backend.

[2019-02-08 16:40] domenic commented on #15290
The plan of record is at https://github.com/whatwg/html/issues/1426#issuecomment-340071080

[2019-02-08 18:54] lesves opened #15303 "Avast detects a font from web-platform-tests as a threat"
I cloned servo with `git clone https://github.com/servo/servo`

While cloning, avast antivirus reported that it found a threat in:
`servo/tests/wpt/web-platform-tests/css/css-fonts/support/fonts/FontWithFancyFeatures.otf`
It says that it is an exploit TTF:CVE-2012-0159 [Expl].

Originally I have submitted this issue here: https://github.com/servo/servo/issues/22857 but it is related with this repo

[2019-02-08 21:47] #15183 closed

[2019-02-08 21:49] domenic commented on #15182
Yeah, I think your diagnosis is correct. I will send a PR to fix.

[2019-02-08 22:02] domenic commented on #15182
Oh, you fixed this in https://github.com/web-platform-tests/wpt/commit/8ecb503bc748ded75e7f5c224b95344a2966eeb9, I see! OK, I'll close this then, and thanks again.

[2019-02-08 22:02] #15182 closed

[2019-02-08 22:36] foolip commented on #8375
Thanks for reopening this @irori!

I see `Cache-Control: max-age=1000` among the headers sent, so that's clearly no good.

[2019-02-08 22:53] faceless2 commented on #13581
wpt/css/CSS2/text/text-indent-011.xht
wpt/css/CSS2/text/text-indent-103.xht
wpt/css/CSS2/text/text-indent-104.xht
wpt/css/CSS2/css1/c547-indent-001.xht

Also use the old definition for percentages and need updating.

[2019-02-11 12:11] foolip commented on #13274
This happened on https://github.com/web-platform-tests/wpt/pull/15280.

@jgraham have you seen many Gecko exports blocked because of this? It seems from the stack that there's already retry involved, so I guess a fix for https://github.com/mozilla/mozdownload/issues/524 is the only hope?

[2019-02-11 13:50] gsnedders commented on #15303
https://www.virustotal.com/#/file/0f7e550009d5d7348fdbaf79365e9cdbe010feb04e3af00bacc49f825e1f93f2/detection shows Avast isn't the only anti-virus tool to pick it up; AegisLab, AVG, Qihoo-360, and Tencent also do), variously believing it to be exploiting CVE-2012-0159 or CVE-2010-2862.

Looking at the font, it likely would trigger CVE-2010-2862 (given among other things it tests upper bounds there

[2019-02-11 14:18] whimboo commented on #13274
The latest stable nightly build could be found like this for linux64:
https://download.mozilla.org/?product=firefox-nightly-latest-ssl&os=linux64&lang=en-US

Which other kind of builds are required?

[2019-02-11 14:20] foolip commented on #13274
Those are the ones that have been failing, but we also download stable and beta for other runs. Not sure if those use mozdownload, @jgraham would know though.

[2019-02-11 14:23] whimboo commented on #13274
Well, beta will be https://download.mozilla.org/?product=firefox-beta-latest-ssl&os=linux64&lang=en-US.

[2019-02-11 14:41] jgraham commented on #13274
We can definitely experiment with not using mozdownload.

[2019-02-11 14:41] annevk opened #15327 "Making not passing a proper variant more apparent (or require not passing one to work)"
Sometimes it's hard to figure out why a test with variants is failing and this could be because it doesn't have a useful default.

[2019-02-12 07:18] tzik commented on #15290
Thanks for the pointer.

So, the handler's [FunctionRealm](https://www.ecma-international.org/ecma-262/9.0/index.html#sec-getfunctionrealm) or its constructor's FunctionRealm seem relevant here.
Let me try updating V8 impl instead of modifying the test or fullscreen spec.

[2019-02-12 10:04] foolip opened #15349 "Payment Request API requires mock payments to automate tests"
[Consider specifying a testing IDL for a mock payment UI](https://github.com/w3c/payment-request/issues/799) is the issue on the spec side, this is a mirror issue to keep track of missing capabilities in wpt. Please discuss on the spec issue.

https://github.com/web-platform-tests/wpt/tree/master/payment-request has many manual tests, and final goal here would be to run those automatically in all

[2019-02-12 10:05] foolip commented on #15349
@LukeZielinski FYI

[2019-02-12 12:09] zcorpan opened #15354 "[css-text][quirks] quirks/vertical-align-in-quirks.html is misplaced"
@kojiishi it looks like you authored this test:

/quirks/vertical-align-in-quirks.html

It should not be in the /quirks/ directory since it is not testing the quirks mode standard.

If there's a standards-mode version of the test somewhere, it should be moved to that location.

Also the title of the test should be fixed.

[2019-02-12 12:42] annevk opened #15355 "Document why there is a path length limit or lift it"
It's very easy to hit in `html/`.

[2019-02-12 12:48] gsnedders commented on #15355
@jgraham can you remember if we actually hit this in mozilla-central at some point? do you know if it's still the case that it's a problem?

[2019-02-12 13:00] jgraham commented on #15355
In the past it was the case that third party tools like mercurial and zip didn't support >255 characters, so even if we prefix everything with `\\?\` then other parts of the infrastructure would break. So I don't think there's much we can do here unless the Windows situation in all the environments we intend to support has markedly improved in the last 4 years.

[2019-02-12 13:45] jgraham commented on #15355
Oh and for clarity, yes this was a real problem that blocked running wpt in m-c until it was fixed.

[2019-02-12 15:51] jgraham commented on #13274
Fixed via #15329

[2019-02-12 15:51] #13274 closed

[2019-02-12 17:25] foolip commented on #13274
Thanks James!

[2019-02-13 07:48] zcorpan commented on #10572
https://travis-ci.com/web-platform-tests/wpt/jobs/177122640 might be another case of this issue.
[code]
I restarted the job but it errored again. I don't know how to access the log of the first attempt. The [PR](https://github.com/web-platform-tests/wpt/pull/15357) was green.

[2019-02-13 08:48] kojiishi commented on #15354
It is testing quirks renders the same way as the standard mode for `vertical-align`. I don't know where such tests should go. If you have suggestions, happy to take.

[2019-02-13 09:02] zcorpan commented on #15354
The same place a test for vertical-align in standards mode should go. I'm not sure where that is. Maybe CSS2/linebox/ ? cc @gsnedders

[2019-02-13 09:17] kojiishi commented on #15354
It's not testing `vertical-align` at all, because the test and the ref are the same.

[2019-02-13 09:24] zcorpan commented on #15354
It's testing that vertical-align is implemented correctly in quirks mode, yes?

[2019-02-13 10:34] kojiishi commented on #15354
Not really. It uses `vertical-align`, but compares with the same document in standard mode, so the test passes as long as UA renders the same way in both modes. UA that doesn't support `vertical-align` will pass.

It's a test for a bug where Blink rendered `vertical-align` differently only in quirks mode.

[2019-02-13 10:45] foolip commented on #7598
Landing the change before it works in Firefox stable seems fine to me, especially that @jgraham supports it.

[2019-02-13 10:55] gsnedders commented on #7598
It's also on beta now, so we should probably just go ahead and land it.

[2019-02-13 10:55] gsnedders commented on #7598
Especially now wpt.fyi shows experimental by default.

[2019-02-13 11:04] zcorpan commented on #15354
Sure but it would then fail a lot of other tests that test `vertical-align` (in standards mode). The point of the test, surely, is to test `vertical-align`, it's not just accidentally using `vertical-align` while actually testing something else.

It's not testing any requirement in the Quirks standard, so it shouldn't be in `quirks/`.

[2019-02-13 13:21] gsnedders commented on #15354
@zcorpan we've had historical tests added for things that were never in any spec for implementation-specific features, and this doesn't seem any different to that (this is a historical behaviour that was never specified for quirks), so I don't have a strong preference between `quirks/` and `css/CSS2/linebox/`.

[2019-02-13 13:27] zcorpan commented on #15354
Hmm. Yeah, I think you're right. How about putting it in `quirks/historical/` and we can put more such tests in there? Then the spec could have a non-normative section on historical quirks, and point to the tests.

I didn't realize this was an actual quirk that was dropped from Chromium.

[2019-02-13 13:33] gsnedders commented on #15354
I'm just going by what @kojiishi said above: "It's a test for a bug where Blink rendered `vertical-align` differently only in quirks mode." :)

[2019-02-13 15:19] Ms2ger commented on #15299
It looks like @mwatson2 added this code, but they don't seem particularly active anymore. Maybe @ddorwin has thoughts.

[2019-02-13 15:40] mwatson2 commented on #15299
@calvaris @Ms2ger I'm not sure about the nodeValue being null, but I can say that these tests did work at one point. This code is to manipulate the license request into the format that the DRMToday back-end was expecting. Ideally, I think one would want a back-end that did this part itself, rather than having to do it on the client.

[2019-02-13 15:41] mwatson2 commented on #15299
So, that is to say, if you wanted this test to work with a different back-end you would need new code in the test that converts the license request into the form that back-end expects.

[2019-02-13 16:32] zcorpan commented on #15354
Hmm, looking at https://chromium-review.googlesource.com/c/chromium/src/+/1320529 - it looks like there was an incorrect assumption in the code. So this would be more like a normal regression test for a bug than a "historical.html" test.

The reason I filed this is that the Quirks standard links to the tests using Bikeshed `wpt` feature, and Bikeshed gives an error if there exists a test that is n

[2019-02-13 16:35] zcorpan commented on #15354
I'll put this in `historical/` anyway, seems OK.

[2019-02-13 16:43] zcorpan commented on #15354
https://github.com/web-platform-tests/wpt/pull/15381

[2019-02-13 16:49] Ms2ger commented on #7164
Seems to be fixed.

[2019-02-13 16:49] #7164 closed

[2019-02-13 22:01] foolip commented on #10572
After a restart the logs of previous runs are gone I think.

I've seen Error 422 before when working on this, but I don't remember when it happens.

[2019-02-14 09:38] calvaris commented on #15299
@mwatson2 , when I read you, I think we might be having a misunderstanding of what back-end means.

Just to be clear, what I mean is that my PlayReady code generates a request that looks like the one at https://docs.microsoft.com/en-us/playready/overview/license-server . This request fails when it is being parsed with the code in the test. Considering this request format the test can't work becaus

[2019-02-14 19:06] rsolomakhin opened #15396 "Proposal to remove a Payment Request test case"
Hi @marcoscaceres ,

I don't think Chrome can ever pass this test, because it's impossible to change the state of a promise after the iframe that created it has navigated away.

https://github.com/web-platform-tests/wpt/blob/85614961e6ee65fe339a7a8e770499c80cccae28/payment-request/rejects_if_not_active.https.html#L69

Would it be OK to remove this test case?

--Rouslan

[2019-02-14 20:36] jugglinmike commented on #8820
See gh-10128 for wptrunner

[2019-02-15 05:14] marcoscaceres commented on #15396
We should probably talk with @domenic, as it feels like something browsers need to support. It doesn’t seem too crazy to imagine the tested situation happening in real life.

[2019-02-15 10:04] drott commented on #13203
Especially in `css/css-fonts` it is useful and important to have certain properties in the installed system fonts. In a first iteration, the following ideas come to mind:

- CSS Fonts Level 4 defines additional generic font family types such as `emoji`, `math`, `fangsong`. In that sense it would be useful to have a distinct font for each of the defined generic font families in order to be able to

[2019-02-15 10:10] foolip commented on #15174
I've been triggering runs manually for a while now, and the success rate is so-so:
![image](https://user-images.githubusercontent.com/498917/52849789-287d8d80-3112-11e9-98c4-3ae68d8b8e3b.png)

If something like 50% of attempts succeed that would still be workable though, if we schedule runs every 6 hours.

This must be fixable, but might be a time-consuming debugging process.

[2019-02-15 10:18] foolip commented on #13203
@web-platform-tests/wpt-core-team would you have concerns with adding a bunch of fonts to be installed in the same way as Ahem?

I think we'd have to look at the licensing and whether we can put the fonts in this repo, but are there other concerns?

[2019-02-15 10:34] foolip opened #15412 "Cause of Taskcluster failures are too hard to figure out"
In https://github.com/web-platform-tests/wpt/pull/15401 and many other issues, people have asked about why Taskcluster is failing. It is currently too much work to understand failures.

For ease of reference, here's how I figure it out:
- follow the "Details" link to a page, e.g. https://tools.taskcluster.net/groups/DrNoOZW5TQmw4pK53xNBIg
- click on a failing task, e.g. https://tools.taskcluster.n

[2019-02-15 10:37] sideshowbarker commented on #13203
OK by me, given the needs expressed in https://github.com/web-platform-tests/wpt/issues/13203#issuecomment-463979709

That’s a question @wseltzer may be able to answer

[2019-02-15 11:48] jgraham commented on #15412
@owlishDeveloper might be better able to answer this, but I'd certainly like some way to produce a markdown artifact that ends up being the content of the checks API.

We could also consider adding the wpt repo to treeherder, which has features for extracting errors from a log, and would also allow us to use the classification facilities to track different causes of failure. But we'd still need a

[2019-02-15 12:55] foolip commented on #7598
Let's do it!

[2019-02-15 21:55] #15167 closed

[2019-02-16 09:44] foolip commented on #15039
@whimboo is this resolved for you now?

[2019-02-17 20:42] progers commented on #7140
Is this issue for adding support for changing DPI in web platform tests?

I just ran into this when trying to write a WPT test for a chromium bug. Our rendering is different with different DPI values and we had a bug that was only present at non-1.0 DPIs (https://crbug.com/925676). I wanted to add a WPT test for this but was not able to because we don't have an API for that yet. Blink's test runne

[2019-02-18 05:41] marcoscaceres opened #15434 "Bless more PaymentRequest tests"
Based on https://github.com/web-platform-tests/wpt/pull/15386#issuecomment-463841819 the following can be "bless"'ed

- https://github.com/web-platform-tests/wpt/tree/master/payment-request/payment-request-show-method-manual.https.html
- https://github.com/web-platform-tests/wpt/tree/master/payment-request/payment-request-multiple-show-manual.https.html
- https://github.com/web-platform-tests/wpt/

[2019-02-18 05:43] marcoscaceres commented on #15349
CC'ed a few more people

[2019-02-18 11:33] qiuzhong opened #15436 "--ignore-rules option doesn't work as expected for ./wpt tests-affected"
Originated from #14560, it said we should not store affected tests ignore list in command line arguments.

Actually, `--ignore-rules` option will not work at all when the rule list follows it in command line. Consider the following command line:
`./wpt tests-affected --ignore-rules resources/testharness*`

After calling `args = parser_args()`, `args["ignore_rules"]` becomes

[code]

`--ignore-rule

[2019-02-18 12:12] whimboo commented on #15039
Do you have a link to a verify log? I haven't had the need to push a PR since I reported this issue.

[2019-02-18 13:51] #15354 closed

[2019-02-18 14:24] gsnedders commented on #15174
Can we see if we have any other `MicrosoftWebDriver.exe` processes running? Or anything listening on that port?

[2019-02-18 14:33] gsnedders commented on #13203
We historically have had some issues with installing Ahem everywhere; we need to be confident in our ability to install fonts before we start installing more!

Note that arguably we actually want to know *exactly* what set of fonts is installed, but I don't think that's doable on Windows or macOS; on Linux we can guarantee it (assuming all browsers use `fontconfig`, which should be true) if we set

[2019-02-18 14:47] gsnedders commented on #7140
Yes. Essentially we have undocumented support in `wptrunner` for this for Servo only, and given it's something that is generally useful it's been a low-priority to-do item for the long time.

The current support we have relies on `<meta name=device-pixel-ratio contents=[double]>`. Given some browsers need restarted to actually pay attention to that changing, we need something statically readable,

[2019-02-18 14:56] foolip commented on #15174
@gsnedders if that could be a cause of this, we could move the cleanup which kills those processes to before running the tests.

[2019-02-18 15:18] jgraham commented on #13203
Process-wise the feedback for this issue should go through the RFC process, since "can you install more system fonts" is the archtypal change that requires cross-project feedback.

Early feedback prior to that: Installing fonts is a pain, but we seem to have a mostly functional solution for Ahem (there are still known issues with Windows and Android requires support from the browser under test). S

[2019-02-18 15:52] #7598 closed

[2019-02-18 19:49] whimboo commented on #15039
Just had a upstream PR today: https://tools.taskcluster.net/groups/UmbvZ82hQDKoueqE3OMDPQ/tasks/CVDp03uVQVyMnpRUdPXHdw/runs/0/logs/public%2Flogs%2Flive.log

So this looks fine. Thanks!

[2019-02-18 19:49] #15039 closed

[2019-02-18 20:25] foolip commented on #13203
@drott is the interaction with other system fonts a problem you've had to deal with?

[2019-02-18 21:52] wseltzer commented on #13203
@sideshowbarker and @drott re licensing, the [SIL Open Font License](https://opensource.org/licenses/OFL-1.1) permits redistribution with attribution, so including fonts and their license in a testing repo would be permissible.

[2019-02-19 08:50] frivoal opened #15456 "Incorrect test of computed value on user-select"
https://github.com/web-platform-tests/wpt/blob/master/css/css-ui/parsing/user-select-computed.html, as introduced by #15313 , is incorrect and incomplete:

1. it claims that the computed value of `auto` is `auto`, while [the spec says](https://drafts.csswg.org/css-ui-4/#valdef-user-select-auto):

2. It does not tests this part:

[2019-02-19 11:05] drott commented on #13203
Yes, agree with https://github.com/web-platform-tests/wpt/issues/13203#issuecomment-464752509 that having a defined set of fonts would be the best, as otherwise there can be crosstalk between added/side-loaded fonts from the testing harness vs. fonts that are already installed as part of the system.

[2019-02-19 14:20] gsnedders commented on #13203
Note we also have a bunch test fonts in [/fonts](https://github.com/web-platform-tests/wpt/tree/master/fonts), primarily in `CSSTest` and `ahem-extra`.

Note that `ahem-extra` is fun because it tests behaviour with fonts whose names match the generics, so they can't be generally installed because stuff gets weird fast. And we currently have no way to specify a test needs to be installed for a spec

[2019-02-19 15:40] danyao commented on #15434
The first two tests are fixed in https://github.com/web-platform-tests/wpt/pull/15424.

[2019-02-19 15:48] progers commented on #7140
In the review of my chromium bug fix, a reviewer pointed out that chromium has two ways to write DPI web tests: the [testRunner.SetBackingScaleFactor](https://cs.chromium.org/chromium/src/content/shell/test_runner/test_runner.cc?type=cs&l=222) API and a chromium test feature called "virtual test suites".  Virtual test suites are where certain test directories re-run with different flags such as gp

[2019-02-19 22:42] foolip commented on #13073
This caused incorrect passes on https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=7289.

[2019-02-20 15:09] LukeZielinski commented on #15355
Triage: so it sounds like lifting the limit is unlikely, but documenting the reasons still makes sense. Adding backlog priority.

[2019-02-20 16:28] LukeZielinski commented on #15436
Triage: adding roadmap label.
At a glance, seems like we should be able to create a custom Callable to use as the "type" for this arg, which can parse the string from the cmd-line into a set.

[2019-02-20 17:03] egirard opened #15483 "easing-tests.js is out of date"
Looking at easing-tests.js in [wpt](https://github.com/web-platform-tests/wpt/blob/master/web-animations/resources/easing-tests.js), [moz](https://dxr.mozilla.org/mozilla-central/source/testing/web-platform/tests/web-animations/resources/easing-tests.js), and [chromium](https://cs.chromium.org/chromium/src/third_party/blink/web_tests/external/wpt/web-animations/resources/easing-tests.js?q=easing-t

[2019-02-20 17:07] egirard commented on #15483
More specifically, there's a section starting at line 44 that includes:
[code]

[2019-02-20 17:53] Hexcles opened #15485 "Special case testdriver.js when detecting affected tests"
IIRC, `testharness.js` is treated specially in the heuristics for detecting affected tests (whenever it's modified almost all tests are affected). I think we need to do the same for `testdriver.js` as its use increases.

[2019-02-20 18:02] BorisChiou commented on #15483
It seems the wpt bot didn't upstream the update of `easing-tests.js`. I can create a PR to update it.

[2019-02-20 18:09] BorisChiou commented on #15483
@jgraham do you have any idea to re-trigger the wpt bot for the patch (https://phabricator.services.mozilla.com/D9309)?

[2019-02-20 19:43] Hexcles opened #15486 "Some pointerevents tests are flaky"
On Chrome we have:

`/pointerevents/pointerevent_pointerout_pen.html`	`pointerout event received`	**PASS: 9/10, MISSING: 1/10**

And on Firefox:

`/pointerevents/pointerevent_setpointercapture_inactive_button_mouse.html`	`setPointerCapture + inactive button state`	**FAIL: 8/10, MISSING: 2/10**	`InvalidPointerId: Invalid pointer id.`

[2019-02-20 23:15] Hexcles commented on #12874
This should no longer happen at least in this repo after #14290 .

However, unfortunately, OOM is still possible on forks. We do have special (larger) memory guarantees on wpt-docker-worker (https://github.com/web-platform-tests/wpt/issues/13989#issuecomment-443009560). Unless we drastically reduce the memory footprint of WPT (especially manifest), it will continue to be possible to run OOM on the

[2019-02-20 23:15] #12874 closed

[2019-02-20 23:19] Hexcles commented on #10451
This is kind of blocked by the lack of ChromeDriver releases for the unstable (dev) channel: https://crbug.com/chromedriver/2656

[2019-02-21 00:43] birtles commented on #15483
Yeah, it looks like the sync bot picked up the changes in parts 2 and 8 of that patch series but not part 1:

  https://github.com/web-platform-tests/wpt/pull/13868/commits

There may have been a merge conflict apparently:

  https://bugzilla.mozilla.org/show_bug.cgi?id=1502788#c1

[2019-02-21 05:41] marcoscaceres commented on #15434
Awesome, updated tests look great. Thanks for the update!

[2019-02-21 07:20] qiuzhong commented on #14560
@jgraham , If we should not store affected tests ignore list in command line arguments, then can we update the `--ignore-rules` option or remove it if possible?
https://github.com/web-platform-tests/wpt/blob/b6d9f766aaea899da6b1c6d585f2e68f996a3c39/tools/wpt/testfiles.py#L303-L308

I don't think it's fine to keep this option to let users enter the ignore rules in command line. It might cause some

[2019-02-21 07:26] qiuzhong commented on #15436
There is another problem to use  this option in the command line.
The `--ignore-rules` option is defined as
https://github.com/web-platform-tests/wpt/blob/b6d9f766aaea899da6b1c6d585f2e68f996a3c39/tools/wpt/testfiles.py#L303-L308

Here `nargs` is set to `*`, which means all the arguments after it are gathered into a list. So for the command line `./wpt tests-affected --ignore-rules resources/testha

[2019-02-21 10:58] gsnedders commented on #10330
#11173 landed, so this is fixed.

[2019-02-21 10:58] #10330 closed

[2019-02-21 12:56] gsnedders commented on #12874
@Hexcles if I'm not mistaken, once #15308 lands manifest memory consumption should be much improved, as each item doesn't keep alive the SourceFile object

[2019-02-21 14:24] foolip opened #15500 "Azure Pipelines scheduled builds for Safari Technology Preview have stopped"
https://wpt.fyi/runs shows that the latest run for Safari Technology Preview on Azure Pipelines was 7266a42. epochs/six_hourly has advanced since then, so that's not the problem.

Commit 7266a42 is the latest "Scheduled build" in https://dev.azure.com/web-platform-tests/wpt/_build?definitionId=1, so the problem seems to be on the Azure Pipelines side.

@thejohnjansen @mustjab can either of you hel

[2019-02-21 19:22] M-ZubairAhmed commented on #14429
Hi @jdm , would you please tell me what needs to be done in this issue

[2019-02-21 20:13] jdm commented on #14429
@M-ZubairAhmed https://github.com/web-platform-tests/wpt/blob/master/css/cssom-view/matchMedia.xht is a test for the behaviour of [this specification](https://drafts.csswg.org/cssom-view/#evaluate-media-queries-and-report-changes). The test [here](https://github.com/web-platform-tests/wpt/blob/36baff5e6981e5a235ed1c5f13b45ffed241770b/css/cssom-view/matchMedia.xht#L151-L155) should verify that `x`

[2019-02-22 10:47] foolip commented on #15500
@mustjab and I edited and saved the pipeline yesterday, a workaround suggested by someone on the Azure Pipelines team. That kicked off one run (https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=7555) but none since, so this is still not working.

[2019-02-22 13:49] gsnedders commented on #6873
Loading it from https://hg.mozilla.org/ no longer works, as CSP prohibits script execution there.

Googling for "Reftest analyzer" doesn't find anything useful, so I guess the only way to use the analyzer now is "checkout mozilla-central"? Surely something must exist somewhere for Treeherder at least?

[2019-02-22 14:03] gsnedders commented on #6873
OK, so the status is the structured reftest logger doesn't work due to CSP prohibiting script execution on hg.mo. The unstructured reftest logger doesn't work because it can't parse the current `mozlog` output.

[2019-02-22 14:20] gsnedders commented on #6873
@jgraham if you want to fix the unstructured logger case, here's a test case:

[code]

this fails because we don't have REFTEST or INFO or ERROR in the line.

[2019-02-22 16:11] annevk opened #15525 "Create historical filesystem API test"
The API at https://developer.mozilla.org/en-US/docs/Web/API/FileSystem should not be supported. Furthermore, if it nonetheless is, the "filesystem" scheme should not work inside `fetch()` or other APIs that can do network requests.

See https://github.com/whatwg/fetch/issues/846 for context.

[2019-02-22 20:25] gsnedders commented on #6873
https://bugzilla.mozilla.org/show_bug.cgi?id=1530002 and https://bugzilla.mozilla.org/show_bug.cgi?id=1530008 filed for the two issues, FWIW.

[2019-02-25 08:58] foolip commented on #6866
It sounds from off-issue discussions like it would be possible to define a WebDriver endpoint that takes a `scopeURL` argument to identify which service workers to terminate, and that this is globally unique.

Perhaps it could be as simple as `DELETE /session/{session id}/serviceworker/{scopeURL}` with a testdriver.js wrapper `test_driver.terminate_service_worker(scopeURL)`?

cc @LukeZielinski

[2019-02-25 12:18] foolip commented on #15500
The schedules runs are now triggering again after I edited and saved them again. Leaving this open to see if it works for a whole 24 hours before closing.

[2019-02-25 15:47] #5492 closed

[2019-02-25 19:52] jugglinmike commented on #12397
Sounds like a job for the `--setpref` flag:

    $ ./wpt run --help

    [omitted]

    Gecko-specific:

    [omitted]

      --setpref PREF=VALUE  Defines an extra user preference (overrides those in
                            prefs_root)

Leaving the support request open as we may want to resolve with an enhancement to the documentation.

[2019-02-25 20:57] jugglinmike commented on #13890
@alvestrand I'm reading your report as a summary of some information in the documentation followed by a request that those details be documented. Would you mind rephrasing the change that you'd like to see?

[2019-02-25 21:23] marcoscaceres commented on #12397
I’ve been working around it by modifying Firefox’s User.js file, but with Nighty... well... it gets trashed Nightly 😂

Is the setpref already supported? Totally missed that.

[2019-02-26 00:02] birtles commented on #15483
I followed up with @jgraham on this. He suspects a misresolved merge conflict and is going to look into it.

[2019-02-26 02:04] jugglinmike commented on #12397
I stripped out some of the surrounding documentation, but if you check the output of `./wpt run --help`, you'll find that there's also a `--prefs-root` argument. That might be more appropriate if you have a lot of preferences to set (though I don't think I've ever used it myself).

[2019-02-26 02:07] marcoscaceres commented on #12397
Yeah, I actually have quite a few. Right now, I keep them in text file that I copy/paste from so it would actually be really nice to just be able to point to them.

[2019-02-26 08:02] foolip commented on #15500
Things are back on track!

[2019-02-26 14:41] eric-carlson opened #15560 "'mediacapture-streams/MediaStream-idl.https.html' requires event that was removed from the spec"
mediacapture-streams/MediaStream-idl.https.html ends when the 'inactive' event is fired:

[code]

but the 'active' and 'inactive' were [removed from the spec](https://github.com/w3c/mediacapture-main/pull/291) to fix issue [#283](https://github.com/w3c/mediacapture-main/issues/283).

[2019-02-27 05:46] ewilligers commented on #15456
Apologies for messing up the test.

Based on day's resolution in https://github.com/w3c/csswg-drafts/issues/3344, the `auto` test no longer needs to change.

What was the decision regarding editable elements? Does being editable affect computed value or only used value?

[2019-02-27 06:10] tzik commented on #15290
V8 starts using the handler's realm for promise reactions if it's available.
That should match the plan of the spec update.

[2019-02-27 06:10] #15290 closed

[2019-02-27 09:26] foolip commented on #15500
Scheduled builds have stopped again.

[2019-02-27 13:14] foolip commented on #10853
This was a problem in https://github.com/web-platform-tests/wpt/pull/15577, where an error in setup script caused a test to be treated as a single page test, clearly unintentionally. With an opt in to single page tests, that would instead have been treated as a harness error.

Deleting these lines would also solve the problem, however:
https://github.com/web-platform-tests/wpt/blob/a9f087c1dc0bec1

[2019-02-27 23:22] foolip commented on #15500
That was a false alarm. As it turns out, the builds were started, but failed:
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=8139
https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=8159

Among https://wpt.fyi/api/revisions/list?epochs=six_hourly&num_revisions=10, the two commits behind those two builds (07bf2514cc201d4e37c6bd4a6741c16c1b1c0250 and 9f49616e7fa9

[2019-02-27 23:22] #15500 closed

[2019-02-28 16:36] gsnedders opened #15596 "Firefox stability jobs failing when running reftests"
appears to be regression from https://github.com/web-platform-tests/wpt/pull/15488 (cc @jugglinmike); @jgraham suspects Marionette's `reftest:teardown` doesn't actually work.

[2019-02-28 16:43] gsnedders commented on #15596
For those wondering if a Firefox stability job is affected by this, you'll have "MISSING: 9/10", and a sequence of tracebacks at the end of the log like:

[code]

[2019-02-28 17:38] gsnedders commented on #15596
A lot of jobs seem to be showing PASS/FAIL flakiness now? That's… even worse, given it's not at all obvious what's causing it. :/

[2019-02-28 18:12] gsnedders commented on #15596
OK, so the status here is of the seven previous failures https://github.com/web-platform-tests/wpt/pull/15581 and https://github.com/web-platform-tests/wpt/pull/15591 have failed again. The former is weird (the rightmost 200px of the ref screenshot when failing are translucent white?!), the latter I suspect might be a genuine Firefox bug?

[2019-02-28 18:25] gsnedders opened #15604 "Drop Marionette reftest runner cache"
#15488 added such a thing to all runners, but #15603 reverted this in the Marionette case due to #15596.

We should either make sure this works with the reftest:teardown/reftest:setup combo (it should, but there might be bugs in the Marionette implementation that need changes in m-c) or adding a reftest:drop-cache command (which obviously needs changes in m-c).

[2019-02-28 18:41] dholbert commented on #15596
We ran into something similar in https://github.com/web-platform-tests/wpt/pull/15534#issuecomment-467659525 2 days ago, too, for what it's worth.

[2019-02-28 19:08] Juanmihd commented on #13393
Hey nox,

That's right, the type expected in that function is of type long, and the test is testing precisely that when receiving not a long value (such as inifinity) it should raise a TypeError.

https://html.spec.whatwg.org/multipage/canvas.html#2dcontext This is where the spec talks about the type being long, as you said.

So it is actually correct that this is being tested to ensure it fails w

[2019-02-28 19:12] jdm commented on #13393
Agreed, step 6 of https://heycam.github.io/webidl/#abstract-opdef-converttoint says this should in fact throw a TypeError.

[2019-02-28 19:12] nox commented on #13393
AFAIU, WebIDL will happily convert `Infinity` to `0` for `long` arguments. See for example how `document.childNodes.item(Infinity)` returns the first child of the document.

[2019-02-28 19:13] jdm commented on #13393
You're right; I was looking at the wrong branch. This should be hitting step 8 instead.

[2019-02-28 19:23] Juanmihd commented on #13393
Yes, it will happily convert Infinity to 0 for `long` arguments, but not for `[EnforceRange] long` arguments. There is probably a missmatch between the [WPT test](http://w3c-test.org/2dcontext/pixel-manipulation/2d.imageData.put.nonfinite.html) and the [2dCanvas interface](https://html.spec.whatwg.org/multipage/canvas.html#2dcontext), that can be fixed either by changing the WPT test to accept inf

[2019-02-28 19:24] fserb commented on #13393
Either we change the signatures to be `[EnforceRange]` or we remove those tests.
Either way, I guess this bug is gone. We can continue the conversation on the issue @Juanmihd created.

[2019-02-28 19:39] jdm commented on #13393
I don't think closing the issue before we actually resolve it makes sense.

[2019-03-01 01:35] Honry opened #15613 "[wake-lock] Update tests to reflect new change in spec"
PR: https://github.com/w3c/wake-lock/pull/150
Notably the use of AbortSignal and AbortController for cancellation.

[2019-03-01 11:41] gsnedders commented on #15596
@dholbert well the former seems to have been fixed by the revert, so I guess this works again…

[2019-03-01 11:41] #15596 closed

[2019-03-01 14:07] lukebjerring commented on #14533
@jugglinmike - did you end up looking into this?

[2019-03-01 14:18] lukebjerring commented on #13052
IIRC, https://github.com/web-platform-tests/wpt.fyi/pull/1068 covered being more lenient with inconsistent version (build).

[2019-03-01 14:30] lukebjerring commented on #13342
@gsnedders - any progress on this?

[2019-03-01 17:03] foolip commented on #15174
https://wpt.fyi/results/?label=azure&max-count=100&product=edge now has 3 runs. They're all bad, so here's a permalink that will keep working after I rename them:
https://wpt.fyi/results/?run_id=5560211460849664&run_id=5858280379252736&run_id=5305492519780352

The runs didn't really succeed, for example job 11 in https://dev.azure.com/web-platform-tests/wpt/_build/results?buildId=8478 had only the

[2019-03-01 18:17] jugglinmike opened #15625 "Unable to run reftests in stable release of Safari"
[A recent change to the WebDriver reftest runner](https://github.com/web-platform-tests/wpt/pull/15222) introduced an invocation of the "set window rect" method with arguments "x" and "y" both set to the integer value `0`.

This command is rejected by the WebDriver implementation for the stable release of Safari ("safaridriver"), so all reftests are now failing for that browser. Here's an example

[2019-03-01 18:29] gsnedders commented on #15137
Ergh, profiling multiprocessing and multithreaded code is a pain.

Doing some stupid wall clock profiling by just deleting code:

 * 2.4s are spent updating the manifest
 * 2.2s are spent installing pip requirements (when that's a no-op and all requirements are already met)

Those two things account for more than half the runtime currently…

For the latter, we could probably try and do something s

[2019-03-01 18:48] gsnedders commented on #15625
INTERESTING.

Safari stable doesn't seem to accept 0 or 1 as a value here, though STP works fine, so I presume it's therefore fixed. (Sidenote: we don't seem to have boundary condition tests in the `webdriver` suite for this.) Ergh.

[2019-03-01 18:50] gsnedders commented on #15159
@foolip do you know if this flakiness went away after the above PR?

[2019-03-01 20:26] jugglinmike commented on #14533
I did! I'll follow up with a few patches shortly

[2019-03-01 21:12] jugglinmike commented on #14533
This is a result of tests which erroneously declare sub-tests following harness-level completion. In the interest of speed and stability, I think the best we can do (beyond being more careful when writing tests) is silently ignore those sub-tests. That's what I'm proposing in gh-15634, anyway.

[2019-03-01 21:28] burg commented on #15625
It is indeed fixed and on its way to stable builds. This caused a lot of fallout for most client libraries. Alas, there was no WPT test for those inputs. Sorry!

Sent from my Apple IIc

[2019-03-04 06:03] birtles commented on #15483
Fixed by a4bfa25bfc35e6dd8aabf9bc5af714bf3d70d712.

[2019-03-04 06:03] #15483 closed

[2019-03-04 11:02] #3587 closed

[2019-03-04 19:23] Hexcles opened #15660 "Taskcluster workers ran out of memory when installing Chrome"
Converting my messages on IRC into a real issue:

2:09:50 PM	Hexcles  Weird OOM issue: https://tools.taskcluster.net/groups/MSv-O1xKTEm6uQwSEKcBlQ/tasks/UjYVhjduTUCT63_f-hM1DA/runs/0/logs/public%2Flogs%2Flive.log#L521
2:10:31 PM	Hexcles  What can possibly use almost 7GB of memory BEFORE the tests even start?
2:12:59 PM	Hexcles  The worker ran out of the 7GB memory at this line https://github.com/w

[2019-03-05 10:35] gsnedders commented on #13203
That's https://github.com/web-platform-tests/wpt/issues/13803 for reference, and there were separate, similar issues in mozilla-central from memory.

[2019-03-05 16:18] gsnedders opened #15675 "How to deal with flakiness in WPT"
The discussion in https://github.com/web-platform-tests/wpt/pull/15587#issuecomment-468695293 makes me realise we don't have any guidelines about this.

We have https://github.com/web-platform-tests/wpt/issues/14621 filed about flakiness caused by browser bugs, but we don't have anything that covers test flakiness (beyond some standing advise to "plz fix").

What do we want to recommend happens wh

[2019-03-05 16:19] whimboo opened #15676 "Run each webdriver test in its own top-browsing context (tab or window)"
Currently we run nearly all the WebDriver tests in a single top-browsing context. Exception here are only the navigation and alert tests. For the latter I recently found an issue (see https://bugzilla.mozilla.org/show_bug.cgi?id=1528463) when running them via the `verify` job multiple times in a row inside the same tab.

To prevent unexpected behavior between tests, I would suggest that we do some

[2019-03-05 16:46] gsnedders commented on #8479
wpt.fyi still has Acid3 fail everywhere, but it passes in Chrome locally now. (Still fails in Firefox for the reason given above.)

[2019-03-05 17:26] thejohnjansen commented on #15676
I think that sounds good to me; very useful design.

[2019-03-05 17:29] thejohnjansen commented on #15675
I was thinking that we should probably comment out any flaky tests with a common keyword (disabled:flaky) or whatever when it truly is the test's fault. I agree that keeping running them is unproductive (actually: counter-productive, because I end up investigating or explaining to others what's going on).

[2019-03-05 17:32] jugglinmike opened #15680 "Removing `?pipe=sub` opt-in pattern"
The wptserve project provides text substitution functionality under two conditions:

- the request specifies the "pipe" query string parameter which includes the string "sub"
- the string `.sub.` appears somewhere in the name of the requested resource

I'd like to remove the former for two reasons.

First, it's difficult to verify statically. [Errors of omission have been made](https://github.com/

[2019-03-05 17:40] jugglinmike commented on #15675
@thejohnjansen's suggestion seems solid to me. Alternatives include:

- removing the test outright (worse than metadata because it obscures the problem)
- denoting via file name, e.g. `.flaky.` (worse than in-band metadata because it makes tracking changes harder, and that's particularly important to understand this situation)

[2019-03-05 17:48] jgraham commented on #15675
We have a way to do this. We can create metadata in `ini` files that wptrunner can use to skip tests that are known to be flaky in a particular browser.

In practice we probably want some integration with the forthcoming wpt.fyi annotations, which might change the solution space here. Once we can mark tests as flaky and filter the results to not include them, it makes much more sense to continue r

[2019-03-05 18:01] jugglinmike commented on #15675
@jgraham your idea sounds even better for browser-specific flakiness, but as @gsnedders notes, that problem is being discussed in gh-14621. @thejohnjansen's suggestion seems to be meaningfully simpler yet still complete for addressing test bugs.

[2019-03-05 18:07] jgraham commented on #15675
I don't think I agree with that. Usually it's unclear until there's some investigation whether there's a browser bug or a test bug (that's also true if it's just flaky in a single browser), so the strategy for both kinds of thing needs to be the same right up to the point at which there's a serious investigation. Once there's a serious investigation hopefully test bugs just get fixed. Of course th