[2017-11-24 12:43] #8414 closed

[2017-11-24 12:46] foolip commented on #8286
Yep, that's a thing I'd like to document, that if you push a PR with a "test" directory, a test label will be created. People probably don't expect that :)

[2017-11-24 13:51] gsnedders opened #8420 "Get rid of web-platform.test references"
From #6868:

- [ ] clear-site-data/support/test_utils.sub.js
- [ ] content-security-policy/base-uri/report-uri-does-not-respect-base-uri.sub.html
- [ ] content-security-policy/generic/generic-0_8.sub.html
- [ ] content-security-policy/generic/generic-0_8_1.sub.html
- [ ] content-security-policy/nonce-hiding/script-nonces-hidden-meta.tentative.html
- [ ] content-security-policy/nonce-hiding/svgscri

[2017-11-24 14:12] foolip commented on #7857
@guest271314 I'm not sure actually if that's per spec, but did you try the same code in different browsers to see if it's interoperable, or does only Firefox have it so far?

[2017-11-24 15:09] gsnedders commented on #7598
I'd like to see this resolved because it makes upstreaming tests from everywhere difficult. WebKit/Blink's LayoutTests use 800x600 viewports and Mozilla's reftests use 800x1000, and as such we can't safely upstream reftests from anywhere without checking their viewport size. (#8150 is an example of a PR partly blocked on having to modify tests to fix in our viewport size.)

[2017-11-24 15:14] foolip commented on #7598
Should we make all tests fail if the viewport size is something unexpected, or how do we do this well?

[2017-11-24 15:21] gsnedders opened #8423 "Acid2 fails everywhere"
http://w3c-test.org/acid/acid2/test.html#top v. http://w3c-test.org/acid/acid2/reference.html

The test has the nose 1px higher than the reference in all browsers. Note the reference is a PNG provided with the test, and I haven't investigated to figure out where the difference comes from.

[2017-11-24 15:55] foolip commented on #8423
The anti-aliasing is different in Chrome as well.

[2017-11-24 16:21] gsnedders commented on #7598
@foolip IIRC, there was some desire to be able to use reftests to test things involving scrollbars, but I don't think that actually works with WebDriver today. @jgraham?

[2017-11-24 16:27] gsnedders opened #8425 "Add infrastructure/assumptions test for 96dpi"
Loads and loads of reftests rely on 96dpi rendering (specifically, the references include an image and if you apply any kind of scaling to that image it will no longer match). We should have a test in infrastructure/assumptions for this.

[2017-11-24 16:28] gsnedders commented on #8425
I guess the requirement is really that 1 CSS pixel must be 1 pixel on the output device, not really anything about the density per-se. Hmm.

[2017-11-24 17:20] foolip commented on #7598
Ignore me, here I was thinking this was the similar issue about testharness.js, for reftests there's not really a problem.

Except, perhaps... will this work at all for mobile testing, where the screen might not be 800 of wide?

[2017-11-25 11:20] annevk opened #8434 "chromium-wpt-export-bot needs to give GitHub handles of those involved in the patch"
I don't need them pinged, but I do want the ability to ping them without lots of work on my part. E.g., https://github.com/w3c/web-platform-tests/pull/8431 is wrong and I've said as much in https://chromium-review.googlesource.com/c/chromium/src/+/784653, but it'd be nice if I could convey that in GitHub instead.

It would be good if we made it easier to appeal upstreamed changes somehow.

[2017-11-25 11:21] annevk commented on #8434
(Perhaps not pinging those specific people, but a "this needs to be reverted" command that does the appropriate thing would also work. Not sure what works best for people.)

[2017-11-25 12:55] jgraham commented on #8434
Does reverting the patch in GH not have the right effect? I think they will pick up the revert next time they do a landing. Of course that doesn't solve the communication problem.

[2017-11-25 17:08] annevk commented on #8434
Yeah, it doesn't matter where it's done, but I do think it would be good for those who made the mistake to correct it and so being able to notify the people responsible (both author(s) and reviewer(s)) seems useful.

[2017-11-25 21:17] jgraham commented on #8434
From a Mozilla pov, trying to work out GitHub handles for an unbounded number of developers doesn't seem likely to work. Of course it's possible to have some kind of map so that common cases are well handled, but commenting on the original bug might be more effective than assuming people pay a lot of attention to their GH email (in particular I think that the world is approximately divided into pe

[2017-11-25 23:03] foolip opened #8439 "css/css-color/currentcolor-001.html and currentcolor-002.html have the wrong ref"
https://github.com/w3c/web-platform-tests/blob/master/css/css-color/currentcolor-001.html
https://github.com/w3c/web-platform-tests/blob/master/css/css-color/currentcolor-002.html

These two tests use https://github.com/w3c/web-platform-tests/blob/master/css/css-color/greentext-ref.html as their reference, but don't look like that. As a result, they're failing on all browsers in https://wpt.fyi/cs

[2017-11-25 23:06] foolip commented on #8434
There's no guarantee that the original authors and reviewers are on GitHub, but I agree it should be possible to give feedback without a lot of manual effort, so I'm calling this roadmap to either figure something out, or come back here and explain why we didn't.

[2017-11-25 23:06] foolip commented on #8434
@Hexcles, WDYT?

[2017-11-26 05:51] Hexcles commented on #8434
Actually, there is a perhaps easy solution to this: encourage people to add their work emails (mozilla or chromium) to GitHub, and GitHub will automatically figure out the user from the email of the author of a patch. A random example like #8404. Then if you reply in that PR, the person will get be notified by GitHub (provided that they did not mute all the notifications).

[2017-11-26 12:50] fred-wang opened #8440 "css/WOFF2: Consider providing fonts in FontToInstall/ via @font-face rules"
The tests in http://www.w3c-test.org/css/WOFF2/ fail if one does not install the support fonts in https://github.com/w3c/web-platform-tests/tree/master/css/WOFF2/support/FontsToInstall ; Would it make sense to serve them via @font-face rules like what is done for acid/acid3/test.html ? Maybe as woff1 fonts for better interoperability ? (Maybe move them to https://github.com/w3c/web-platform-tests/

[2017-11-26 13:04] khaledhosny commented on #8440
I think they are used as local fonts to rule-out any web font loading issues.

[2017-11-26 21:15] foolip opened #8445 "Lint errors are printed twice, interleaved with a "INFO:lint:" prefix"
As part of fixing https://github.com/w3c/web-platform-tests/pull/8443, running `./wpt lint content-security-policy/svg/including.sub.svg` before fixing the problem, I saw this on the console:
[code]

This is very strange. Each line is repeated twice, the second time with a "INFO:lint:" prefix, and then some lines with just "INFO:lint:".

The very last line is the most problematic, because if not c

[2017-11-26 23:00] foolip opened #8446 "Allow using only tabs for indentation"
We have many exclusions in lint.whitelist for the INDENT TABS lint defined here:
https://github.com/w3c/web-platform-tests/blob/495043fd6ed481eaea37ae3a20a43074fcf959eb/tools/lint/lint.py#L314

(Any line starting with a tab fails the lint.)

When fixing lint problems in [css-color](https://github.com/w3c/web-platform-tests/pull/8442) and [css-flexbox](https://github.com/w3c/web-platform-tests/pull

[2017-11-26 23:04] foolip commented on #8446
More numbers:
* Files where some lines start with tab and others with space: 3144
* Files where some lines start with tab and some tab is followed by space: 783

Some of these might be intentionally so, but unfortunately it's impossible to write a lint for without being able to re-indent files and knowing what the tab width should be. Possibly one could assume that the minimum tab with is 4 and al

[2017-11-26 23:06] foolip commented on #2162
@jgraham, OK to close this now that https://wpt.fyi/ exists?

[2017-11-27 01:57] tung12222326 opened #8447 "Hi"
Anh biet chu o dau roi nhe

[2017-11-27 03:43] makotoshimazu commented on #6866
I see, testdriver.js looks good place to do that:)

Restarting workers would reveal issues around headers attached to the response of the installed service worker. For example, we can test if CSP header or referrer header is working well even after the script is loaded from a storage.
Also, we can test the most important path - launching installed service workers from events. It should work on all

[2017-11-27 05:07] youennf commented on #6866
I would prefer keeping it separate.
WebKit will probably try to fully support testdriver.js for both Safari and test runner.
This terminate worker API might be supported in WebKit test runner but I am unsure it will ever get exposed in Safari even behind a command line flag.

That would mean these tests will probably always fail for Safari in https://wpt.fyi.
Dashboard should make it clear that te

[2017-11-27 09:41] fred-wang commented on #8440
cc'ing @jfkthame for advice on how it is done in mozilla-central.

I think one can assume that at least basic WOFF1 support is available and working before implementing WOFF2. So if WOFF1 fonts fail to load, it seems likely that the same issue will happen for the WOFF2 fonts used in the tests, right?

Would there be any concerns to add a WOFF1 fallback in addition to the local fonts (e.g. slowing

[2017-11-27 09:42] foolip commented on #8447
Chú đang ở đây.

[2017-11-27 09:42] #8447 closed

[2017-11-27 09:57] foolip commented on #6866
@youennf, sounds like regardless of the shape of the testing mechanism, the tests would be failing in Safari, right? Given that, wouldn't it be OK to put it in testdriver.js if at least on WebDriver implementation has some API for this?

[2017-11-27 10:32] jgraham commented on #8446
I think there's some confusion above. With spaces there is one correct and one possible way to indent code. With tabs there are multiple possible ways to indent code but exactly one of them is correct (tabs for logical depth followed by spaces for alignment). That's the only possible way to get the single desirable feature of tabs (you can adjust the width without breaking layout). The fact that p

[2017-11-27 10:43] foolip commented on #8446
I also prefer spaces, but I don't want to have lint exceptions that we keep forever because it means that we're not actually catching problems in a bunch of css directories. And trying to fix those problems, I don't think it's actually a good idea to fix the ones that are using only tabs for indentation.

As you say, there'll also be some that are tab+spaces that are also correct, but that's harde

[2017-11-27 10:44] #7652 closed

[2017-11-27 14:23] #8148 closed

[2017-11-27 18:54] jgraham commented on #8446
I think a rule to allow tabs or spaces everywhere would be worse than some CSS directories not getting linted for this specific thing.

[2017-11-27 20:58] foolip commented on #8446
Here are a few such tests:

https://github.com/w3c/web-platform-tests/blob/master/css/css-color/t421-rgb-hex3-a.xht
https://github.com/w3c/web-platform-tests/blob/master/css/css-flexbox/flexbox_block.html
https://github.com/w3c/web-platform-tests/blob/master/css/css-text/text-transform/text-transform-capitalize-001.html
https://github.com/w3c/web-platform-tests/blob/master/css/css-variables/vars-f

[2017-11-27 21:23] jgraham commented on #8446
Why not? You can already see in https://github.com/w3c/web-platform-tests/blob/master/css/css-flexbox/flexbox_block.html that they didn't manage to use tabs in a sensible way (witness the broken alignment in GitHub).

What, practically, is the problem with leaving the whitelist rules in place?

[2017-11-27 22:02] litherum commented on #8440
What web font loading issues are you referring to? The domcontentloaded event isn't fired until web fonts have been downloaded.

[2017-11-27 23:23] foolip commented on #8446
Because a lot of them are fine the way they are. To convert them requires confidence that the whitespace isn't significant, which in some rare cases it is, and picking a tab width based on what's used elsewhere in the same directory. flexbox_block.html would remain silly after such a conversion if nobody's reviewing each file carefully.

It amounts to not having the lint at all for most of css/. S

[2017-11-28 08:48] jfkthame commented on #8440
I don't think that's necessarily true, is it? Webfont loading may not even be triggered until reflow happens (at which point styles are resolved and the font-matching algorithm determines what fonts are needed for the actual character content of the elements).

[2017-11-28 08:56] jfkthame commented on #8440
In mozilla-central, tests that depend on specific fonts generally load them using `@font-face` from local files that are checked in to the tree alongside the testcases. In some cases, I think this requires some added machinery to ensure we wait until everything has fully loaded -- especially for tests that are dealing with dynamic changes to styles, etc. (Look for uses of `class="reftest-wait"` on

[2017-11-28 10:14] fred-wang commented on #8440
I've created a branch with my proposal in https://github.com/w3c/web-platform-tests/tree/woff2-fonts-to-install-as-web-fonts. It looks like available-001.xht is not strictly speaking a reftest and should be adjusted a bit if we want to automate the execution.

So do you mean it make sense to add @font-face rules directly to the test files, as I do in the woff2-fonts-to-install-as-web-fonts?

refte

[2017-11-28 16:03] gsnedders commented on #7598
@foolip The screen might not be 600 pixels wide on mobile, too, though (e.g., the Galaxy J2 and Moto C both from 2017, with 540x960 and 480x854 screens respectively). Maybe that's paranoia, but mobile testing is hard (unless we allow for different layout and visual viewports, in which case we can render almost any size of layout viewport fine).

[2017-11-28 16:17] jgraham commented on #7598
I don't think that scrollbars will necessarily be included in the screenshot, but I think the screenshot is supposed to be the visual viewport, not the full document, so it should in theory work. I don't know if chromedriver actually does that right or not.

I seem to remember saying somewhere else that if we think that >600x600 is acceptable we should choose 800x1000 because most tests that work

[2017-11-28 16:24] jgraham commented on #7598
On a high-end phone, it's unclear to me if it's possible to set things up so that one device pixel equals one physical pixel, without which a) the screens are often too small anyway and b) the tests will have many spurious failures because hidpi isn't well supported by existing reftests.

Honestly the best way of testing mobile browsers might be via emulators, which mean that the available resolut

[2017-11-28 16:40] gsnedders commented on #8440
We should use `@font-face` for all of these unless we're actually testing something specific to font loading from the system; anything else leads to the tests not being run as they have a manual prerequisite.

AFAICT, every browser has the behaviour such that the `load` event only fires after all web fonts have loaded, and reftests don't have their screenshot taken until after the first paint afte

[2017-11-28 16:47] gsnedders opened #8479 "Acid3 fails everywhere"
We seem to have Acid 3 failing everywhere; I'm not entirely sure why the reference isn't matching, maybe the screenshot is getting taken too soon.

[2017-11-28 17:17] litherum commented on #8440
@gsnedders is exactly correct.

[2017-11-28 18:04] fred-wang opened #8482 "Rewrite css/WOFF2/available-001.xht as a reftest"
http://www.w3c-test.org/css/WOFF2/available-001.xht compares two frames in the same page. In order to be automatically executed in web engines, it should rather be converted into a reftest with a page and its -ref.

Note: it seems to be the only WOFF2 test lacking a reference:

    web-platform-tests/css/WOFF2$ ls -I*-ref* > ~/tests.txt
    web-platform-tests/css/WOFF2$ ls *-ref* | sed 's/-ref//'

[2017-11-28 18:05] fred-wang commented on #8440
For the record, I opened #8482

[2017-11-28 18:38] dpino commented on #8308
@foolip Running all test262 in my laptop takes around 4 min. Not a very useful information. I suppose you were asking for the time spent running the all tests as part of a CI infrastructure or similar.

[code]

I gave a try at your suggestion (a wrapper that relies on `wpt run` to launch a test262 in the browser). I pushed the changes to a remote branch at: https://github.com/dpino/web-platform-te

[2017-11-28 19:14] gsnedders commented on #8440
@fred-wang I suggest you open a PR for your `woff2-fonts-to-install-as-web-fonts` branch. As one pre-review comment, you should get rid of `<meta name=flags content=font>` elements from tests that no longer need fonts to be installed.

[2017-11-28 20:13] loonybear opened #8485 "http headers do not support cross origin definition"
I want to use a cross origin src in *https.sub.html.headers for feature policy, but then I realized that the origin is unrecognized:

*https.sub.html.headers:
Feature-Policy: camera https://www.example.com https://{{domains[www]}}:{{ports[https][0]}}/feature-policy/resources/feature-policy-subframe-policy.htm

Error:
ERR: CONSOLE ERROR: Error with Feature-Policy header: Unrecognized origin: 'https

[2017-11-28 21:16] jrummell-chromium opened #8486 "[eme] Tests fail on Chrome if extension EME Logger is installed"
The tests that open a second window to test persistent-license (e.g. https://w3c-test.org/encrypted-media/drm-mp4-playback-retrieve-persistent-license.https.html) fail if EME Logger is installed:

[code]

This is due to both EME logger and the second window posting message events. The code expects the message data to be an array of results:

[code]

while EME Logger posts events of the form:

[cod

[2017-11-28 22:29] jgraham commented on #8308
web-platform-tests generally work with one instance of the browser running multiple tests.

The most obvious way to do this integration would be to generate testharness.js wrappers for the test262 tests and check in the generated files. These would then run like any other testharness.js test. It looks like that's more or less what's on your branch, but you don't add all the files at once, and call

[2017-11-28 22:41] gsnedders commented on #8485
You need `*https.sub.html.sub.headers`, i.e., `sub` following the filename but before the `.headers`. This, AFAICT, does work. Reopen if I'm being silly and it doesn't.

[2017-11-28 22:41] #8485 closed

[2017-11-29 09:44] fred-wang commented on #8440
@gsnedders OK, I opened #8494 and I've done a more extreme change by removing all the "install local fonts" stuff. Tests seem to work as expected when I run them on WebKitGTK.

[2017-11-29 16:39] gsnedders commented on #7676
Under `visual`.

[2017-11-29 17:11] gsnedders commented on #7486
Pretty sure `runner` is meant to be `tools/runner` and `wptrunner` is `tools/wptrunner`. So, no, they shouldn't be merged.

[2017-11-29 17:11] #7486 closed

[2017-11-29 17:24] gsnedders commented on #8479
One option here is to have two tests: one which is a hacked up `testharness.js` thing that gives per-test results (which means an implementation would notice going from 99 to 98 tests passing, rather the reftest only solution we have now which means the only thing that will ever be noticed is going from all passing and rendered correctly to not) and one which is what we have now.

[2017-11-29 17:49] gsnedders commented on #2669
@mattl are you currently working on this? if not, I'll take it over.

[2017-11-29 19:13] #8439 closed

[2017-11-29 19:13] mattl commented on #2669
All yours! Sorry for hogging it and then not doing it.

[2017-11-29 20:52] JKereliuk commented on #5319
@lukebjerring have you had a chance to look at this yet?

[2017-11-29 20:52] JKereliuk commented on #5407
@mattl Do you have any update on this issue?

[2017-11-29 20:54] JKereliuk commented on #5671
I poked the PR thread

[2017-11-29 20:55] JKereliuk commented on #5714
Is there someone who can own this issue? @gsnedders, @soareschen

[2017-11-29 20:57] mattl commented on #5407
@JKereliuk Afraid not. I wound up getting put onto other things.

[2017-11-29 21:36] lukebjerring commented on #5319
Not as yet.

On Wed, Nov 29, 2017, 3:52 PM Jonathon Kereliuk <notifications@github.com>
wrote:

[2017-11-30 01:35] #8417 closed

[2017-11-30 14:33] gsnedders opened #8516 "Fail if ssl is pregenerated but using non-standard hosts/ports"
The certs aren't valid in this case, so we shouldn't let them be used. (We might need to do some more to pass along `--ssl-type` from `./wpt run`.)

[2017-11-30 17:49] foolip commented on #2669
For context, Geoffrey and I thought this would make sense since the other Google OKRs involving him are either done or blocked right now.

[2017-11-30 20:21] gsnedders opened #8525 "`before_install.sh` throwing Python error didn't mark build as ERROR"
In https://travis-ci.org/w3c/web-platform-tests/jobs/309588422#L503 we see the script throwing a Python exception, however the build PASSED.

Per the Travis documentation:

We should have `before_install.sh` distinguish between the test job not matching and Python throwing an exception.

[2017-11-30 20:29] gsnedders commented on #8525
So the big problem here is `./wpt` exits with 1 if the test-job doesn't match and also exits with 1 if Python throws an exception. @jgraham ideas to fix this? I guess we need to not let the interpreter deal with the exception but instead deal with it ourselves so we can exit with 254 or something when an exception is thrown.

[2017-11-30 20:34] gsnedders commented on #8525
(I think we can get the same output as the interpreter gives from https://docs.python.org/2.7/library/traceback.html#traceback.print_exception)

[2017-11-30 23:24] gsnedders commented on #2631
They've always worked as normal `testharness.js` tests (there's a JSON log dumped to the DOM, and testharnessreport.js's callbacks get called like normal), they just didn't produce any HTML table, but I changed/fixed that in #8137 while sitting in SVG WG F2F at TPAC. So, uh, this is fixed now. (Well, sort of; it's somewhat limited by `viewBox` size!)

[2017-11-30 23:24] #2631 closed

[2017-11-30 23:38] youennf commented on #6866
WebKit is starting to implement a terminateServiceWorker testRunner API.
Ideally it should be aligned with Chrome implementation.
Apparently Chrome implementation is synchronous, while webkit would prefer it to be promise-based.
Any chance Chrome might be able to change API and related tests?

I am unsure whether a WebDriver "terminate service worker" API makes sense.
Some users may clear their hi

[2017-12-01 02:24] EdgarChen opened #8528 "Upgrade an custom element after document.write()/writeln() call?"
See the following tests in custom-elements/reactions/Document.html,
https://github.com/w3c/web-platform-tests/blob/fc70df1f7570f5aa03efd5fd3d79763498162b9c/custom-elements/reactions/Document.html#L132-L134
https://github.com/w3c/web-platform-tests/blob/fc70df1f7570f5aa03efd5fd3d79763498162b9c/custom-elements/reactions/Document.html#L147-L149

From the step 4.2 of https://html.spec.whatwg.org/multi

[2017-12-01 02:40] domenic commented on #8528
Hmm, yes, I think you're right, and those tests are wrong. We'll want to fix those tests, and also add some tests that use document.write() with a defined insertion point (so that step 4 isn't triggered).

[2017-12-01 02:41] domenic commented on #8528
Alternately, given the lack of passes on https://wpt.fyi/custom-elements/custom-element-registry/per-global.html, maybe we should reconsider https://github.com/whatwg/html/issues/1698#issuecomment-298748641 ?

[2017-12-01 02:45] EdgarChen commented on #8528
FF can pass https://wpt.fyi/custom-elements/custom-element-registry/per-global.html, we do replace the custom element registry after document.open().

[2017-12-01 02:59] EdgarChen commented on #8528
Correction:
FF can pass the "document.open() must replace window.customElements" test in http://w3c-test.org/custom-elements/custom-element-registry/per-global.html.

[2017-12-01 03:22] mattto commented on #6866
The current Chrome implementation is just wrong: it doesn't wait for the worker to terminate. So the tests are probably not always testing what's intended.

We should probably change it to be Promise-based.

I'm familiar with WebDriver and testdriver.js. Chrome's tests in question are not manual tests, just tests that want to terminate a service worker and test something after starting it up again

[2017-12-01 03:33] #8411 closed

[2017-12-01 06:15] EdgarChen opened #8530 "Data document tests in custom-elements/parser/parser-uses-registry-of-owner-document.html doesn't match the spec"
See following test in custom-elements/parser/parser-uses-registry-of-owner-document.html,
https://github.com/w3c/web-platform-tests/blob/0b5de1b8bb072bd38896cde82dff0b201904d5ed/custom-elements/parser/parser-uses-registry-of-owner-document.html#L75-L82

From the step 3 of https://html.spec.whatwg.org/#document-write-steps:

so the `write()` call on `windowlessDocument` would do nothing. And the `i

[2017-12-01 07:53] #8128 closed

[2017-12-01 10:34] annevk commented on #8530
That sounds good. We should also have a test with a custom element appearing in an XMLHttpRequest response body.

[2017-12-01 10:46] foolip commented on #6866
Is it the case that this API would make no sense from the outside (WebDriver) because there's no handle for the thing to terminate, or would it be weird even given such a handle?

[2017-12-02 00:25] youennf commented on #6866
This API is currently given a ServiceWorker object, a web page can get access to all its related service workers through getRegistrations. I guess web driver could get access to this list and request termination of any of these.
The question is whether there are enough use cases to justify this feature in Web Driver.

[2017-12-02 00:40] Hexcles commented on #8285
For reference, this Chromium infra issue https://crbug.com/787531#c10 has some very useful Unicode strings that we can use as a smoke test.

[code]

[2017-12-04 02:27] #8530 closed

[2017-12-04 10:26] foolip opened #8547 "device-aspect-ratio-001.html and -005.html assumes device aspect ratio of 1280/1024"
These tests are failing everywhere:
https://wpt.fyi/css/mediaqueries/device-aspect-ratio-001.html
https://wpt.fyi/css/mediaqueries/device-aspect-ratio-005.html

(They also fail if imported into Chromium and run against content_shell.)

The tests are from https://github.com/w3c/web-platform-tests/commit/b8f3492dabeca1d7eb239c680f6cf549390d3c54.

@xinliux, can you investigate?

[2017-12-04 13:08] pozdnyakov opened #8550 "`cross_origin_src` in generic-sensor-feature-policy-test.js"
The `cross_origin_src` variable which is defined as `"https://{{domains[www]}}:{{ports[https][0]}}" + same_origin_src;` is not actually substituted with environment information about the server.

The probable reason is that this variable is defined in a .js file (not in a .html).

[2017-12-04 13:35] foolip opened #8551 "Most css-pseudo tests are failing on all browsers"
https://wpt.fyi/css/css-pseudo

4/7 tests are failing everywhere. first-letter-001.html fails in different ways, but marker-color.html is a red square in all browsers (manually tested) which suggests that the test is wrong.

@dbates-wk, can you take a look?

[2017-12-04 13:40] foolip commented on #8551
For future reference, these were the 4 tests:
https://wpt.fyi/css/css-pseudo/first-letter-001.html
https://wpt.fyi/css/css-pseudo/marker-and-other-pseudo-elements.html
https://wpt.fyi/css/css-pseudo/marker-color.html
https://wpt.fyi/css/css-pseudo/marker-font-properties.html

[2017-12-04 16:24] Hexcles commented on #8366
Duplicate of #7693

[2017-12-04 16:24] #8366 closed

[2017-12-04 17:39] dbates-wk commented on #8551
marker-color.html is a green square in Safari Technology Preview Release 44 (Safari 11.1, WebKit 13605.1.13.2).

[2017-12-04 17:43] dbates-wk commented on #8551
From visual inspection all the tests pass in Safari Technology Preview Release 44.

[2017-12-04 17:47] dbates-wk commented on #8551
Are we able to update the bots to use Safari Technology Preview Release 44? What is the preferred way to handle tests that depend on a future browser version to pass?

[2017-12-04 17:49] gsnedders commented on #8551
@dbates-wk See the red box at the top, pointing at <https://github.com/w3c/wptdashboard/issues/112>.

[2017-12-04 18:34] #8182 closed

[2017-12-04 21:15] jimmywarting commented on #7857
@guest271314 Oh so long i have been waiting for input.files to be settable finally there is a way to do it.

[2017-12-04 21:41] gsnedders commented on #6556
OK, let's reopen this issue and use this for the tools side of www1/etc. subdomains being hardcoded everywhere, and have #8420 for everywhere we have web-platform.test hardcoded in the test.

[2017-12-05 07:09] Honry commented on #8550
@pozdnyakov, thanks for reporting this issue, I will fix it soon.

[2017-12-05 15:35] #8528 closed

[2017-12-05 19:23] gsnedders opened #8571 "Test resizing window in WebDriver"
https://w3c.github.io/webdriver/webdriver-spec.html#set-window-rect

On the face of it this is all quite difficult, given most of the actual resizing is done to "a value that is as close as possible". However, there's a bunch of things we can test:

- [ ] [Get Window Rect](https://w3c.github.io/webdriver/webdriver-spec.html#get-window-rect), and then set the window to that rect. (We know that rect

[2017-12-05 19:35] gsnedders opened #8572 "Test WebDriver screenshots"
Many of these need increasingly complex support for PNGs, but hey:

- [ ] Check dimensions of Take Screenshot are right (note https://github.com/w3c/webdriver/pull/1169 changes the behaviour here); we probably want a number of tests here (no scrollbars, scrollbars, canvas larger than viewport, root element's bounding box smaller than the viewport).
- [ ] Check Take Screenshot takes the screenshot

[2017-12-06 00:16] #8486 closed

[2017-12-06 01:29] #8550 closed

[2017-12-06 08:12] mikewest opened #8581 "Isolated domain for cookie tests?"
We're looking into porting the IETF's cookie test suite (https://github.com/abarth/http-state/tree/master/tests) to WPT, which would be simplified if we could replicate its domain structure (https://github.com/abarth/http-state/blob/master/tests/data/hosts):

[code]

This basically boils down to two requests:

1.  Since y'all are looking into adding a new registrable domain in https://github.com/w

[2017-12-06 08:17] mikewest commented on #8581
/cc @FHorschig

[2017-12-06 11:06] TimvdLippe commented on #2548
I wanted to write my first WPT test, but I think this is already fixed by @domenic in https://github.com/w3c/web-platform-tests/commit/05679040ae1160cc30511160d3ffd123df70799d per https://github.com/whatwg/html/pull/2766

@domenic Could you confirm/deny? Would like to contribute my first test, but don't want to do double work :smile:

[2017-12-06 13:43] foolip commented on #8516
I think this is backlog because it's not clear who or what it impacts, and it's not the default configuration.

[2017-12-06 15:50] Ms2ger opened #8591 "send-network-error-sync-events.sub.htm may be invalid"
The test expects that fetching

[code]

fails. Given that there isn't much of a spec for data URLs, I don't know what that expectation is based on.

CC @hallvors @annevk @SimonSapin

[2017-12-06 16:12] annevk commented on #8591
https://github.com/whatwg/fetch/pull/579 is my WIP. I suspect the reason it fails is because the remainder of dividing the length by 4 is 1 (see https://infra.spec.whatwg.org/#forgiving-base64). So I think that's correct, but could maybe use a comment.

[2017-12-06 21:44] domenic commented on #2548
Hmm, yep, sorry I didn't see this earlier, and I'm glad you checked. Best of luck finding more good first contributions!

[2017-12-06 21:44] #2548 closed

[2017-12-07 11:59] Ms2ger opened #8610 "Review / document html/semantics/document-metadata/styling/LinkStyle.html"
CC @jugglinmike, who touched the test earlier this year and @xiaojunwu who submitted it.

In particular, I couldn't find the spec defining that `style2.sheet` and `style3.sheet` are necessarily null. (I believe WebKit and Chrome both fail those assertions.)

[2017-12-07 16:09] gsnedders opened #8613 "Get codecov for tools/ working again"
We used to have code coverage reports for tools/. We should get these working again.

[2017-12-07 17:09] gsnedders opened #8615 "Merge tests from css/vendor-imports into appropriate directories in css/"
cc/ @jgraham @dbaron

At the moment, the tests in `css/vendor-imports/mozilla/mozilla-central-reftests/` cause a certain amount of confusion: they often get omitted when people are trying to run all tests for a certain module, and they often don't get noticed when people are looking to see if tests for a certain feature exists.

[2017-12-07 17:12] inexorabletash opened #8616 "idlharness: add iterable members if implicitly iterable"
Interfaces with an indexed property getter and an integer-typed length attribute gets @@iterator related methods.

https://heycam.github.io/webidl/#es-iterator

There's a TODO at https://github.com/w3c/web-platform-tests/blob/master/resources/idlharness.js#L2014 for setlike/maplike but the getter/length combo should be supported as well.

[2017-12-07 17:12] gsnedders commented on #8615
https://bugzilla.mozilla.org/show_bug.cgi?id=1423971 is a Mozilla bug for this.

[2017-12-08 13:33] snuggs commented on #8301
@soareschen reviewed #8542. Also please see comment above.

[2017-12-08 14:01] foolip opened #8633 "style-attr-braces-002-quirks.htm has the wrong ref (due to quirks mode)"
https://wpt.fyi/css/css-style-attr/style-attr-braces-002-quirks.htm is failing everywhere because of, I think, https://quirks.spec.whatwg.org/#the-body-element-fills-the-html-element-quirk or something related, which means that the actual and reference are offset a bit vertically.

@zcorpan FYI.

[2017-12-08 15:38] zcorpan commented on #8633
The quirk here is https://html.spec.whatwg.org/multipage/rendering.html#margin-collapsing-quirks I think. Ought to be fixable by explicitly setting `p { margin-top: 1em }` in the test.

[2017-12-09 15:17] gsnedders commented on #3703
(Not sure the behaviour tests are a good first issue, but the reflection side at least is.)

[2017-12-11 11:34] mikkorantalainen opened #8650 "Imported SVG test requires features not specified in the spec"
https://github.com/w3c/web-platform-tests/blob/baf7127af310a560a40f2fbaba56dbc39b5f8ffd/svg/import/filters-felem-01-b-manual.svg#L26

The test case which requires "non-existent filter" to render as invisible element has no corresponding requirement in the referenced spec.

The test case references to https://www.w3.org/TR/SVG11/filters.html#FilterElement which does not specify how the rendering sh

[2017-12-11 14:05] JKereliuk opened #8652 "Need a way to test BatteryManager events"
For example: [battery-status/battery-charging-manual.https.html](battery-status/battery-charging-manual.https.html)

@Honry

WYT?

[2017-12-11 14:09] JKereliuk opened #8653 "Need a way to run tests that require access to the clipboard asynchronously"
For example: [http://web-platform.test:8000/clipboard-apis/async-write-dttext-read-dttext-manual.https.html](http://web-platform.test:8000/clipboard-apis/async-write-dttext-read-dttext-manual.https.html)

@garykac WYT?

[2017-12-11 14:14] JKereliuk opened #8654 "Need a way to retrieve console output automatically"
Maybe we could wrap console.log with a hook?

for example: [https://github.com/w3c/web-platform-tests/blob/master/console/console-count-logging-manual.html](https://github.com/w3c/web-platform-tests/blob/master/console/console-count-logging-manual.html)

@domfarolino WYT?

[2017-12-11 14:40] JKereliuk opened #8655 "Need a way to mock gamepad for automation"
For example [https://github.com/w3c/web-platform-tests/blob/a24dde9c8969dab3dd422b25902198faf4963823/gamepad/idlharness-manual.html](https://github.com/w3c/web-platform-tests/blob/a24dde9c8969dab3dd422b25902198faf4963823/gamepad/idlharness-manual.html)

[2017-12-11 15:29] JKereliuk opened #8657 "No way to test device vibration"
For example: [https://github.com/w3c/web-platform-tests/blob/master/vibration/cancel-when-hidden-manual.html](https://github.com/w3c/web-platform-tests/blob/master/vibration/cancel-when-hidden-manual.html)

[2017-12-11 15:34] JKereliuk opened #8658 "No way to test locking and unlocking events"
For example: [No way to test device vibration](No way to test device vibration)

[2017-12-11 15:37] JKereliuk opened #8659 "No way to test locking and NFC"
For example: [https://github.com/w3c/web-platform-tests/blob/master/web-nfc/nfc_push_ArrayBuffer-manual.https.html](https://github.com/w3c/web-platform-tests/blob/master/web-nfc/nfc_push_ArrayBuffer-manual.https.html)

[2017-12-11 18:35] Hexcles commented on #8658
@JKereliuk did you forget the example?

[2017-12-11 18:39] JKereliuk commented on #8658
Whoops, edited :)

[2017-12-12 02:24] Honry commented on #8652
@JKereliuk, did you mean test automation?

[2017-12-12 16:02] matthewp opened #8668 "Module execution timing"
I've found a different between how browsers execute inline module scripts. The below example demonstrates the difference:

[code]

Initially I expected to see this logged as:

[code]

In Firefox with modules enabled this is what you see. In Chrome and Safari you get:

[code]

After reading the spec for [prepare a script](https://html.spec.whatwg.org/multipage/scripting.html#prepare-a-script) I thi

[2017-12-12 18:15] gsnedders opened #8670 "Automate visual/manual CSS tests that pass somewhere but not everywhere"
The following table is derived from data from the CSS Test Harness, showing tests that are visual or manual tests and pass in at least one browser and fail in at least one. These are, therefore, the visual/manual CSS tests that are probably the highest priority to automate given they reveal interoperability issues.

|path|Blink|EdgeHTML|Gecko|WebKit|
|----|-----|--------|-----|------|
|css/CSS2/ba

[2017-12-12 18:51] gsnedders commented on #8670
Per spec, FWIW:

compositing: 1
css-color: 1
css-images: 1
css-transforms: 1
selectors: 1
vendor-imports: 1
css-values: 2
css-animations: 4
css-text-decor: 4
css-transitions: 6
css-flexbox: 8
css-display: 11
css-page: 14
css-fonts: 18
css-gcpm: 19
css-backgrounds: 22
css-counter-styles: 24
css-regions: 31
css-writing-modes: 36
css-ui: 165
CSS2: 517

[2017-12-12 21:27] domenic commented on #6876
https://github.com/w3c/web-platform-tests/commit/ef68c32c4958fbac1a63db249db23d7b6e5c6ca6 fixed the remaining documentation issue.

[2017-12-12 21:27] #6876 closed

[2017-12-12 22:19] kereliuk commented on #8652
Yep.
Edited, thanks :)

[2017-12-13 09:44] dpino commented on #8308
Thanks @jgraham for the clarification. Initially I thought web-platforms-test launched a new browser per test, but I was wrong.

I've updated the script quite a bit. Now I just use the script to generate the WPT wrappers from test262 test files and run them external as normal WPT tests.

OTOH, some of the tests were failing or timeout. The issue was that some 262 tests modify builtin objects such

[2017-12-13 12:15] annevk commented on #8308
Perhaps an alternative approach is to load the 262 test in an `<iframe>` and then use `onload` to inspect the result? Might not be as nice though and come to think of it would not work in a worker and such. Seems those kind of tests would be rather hard to do properly with a harness.

[2017-12-13 13:02] gsnedders commented on #8653
Generalising this issue, because we have a bunch of places where this is true: we have WebSockets and WebRTC that fail when run in parallel (I haven't investigated as to whether we should be considering these test bugs or whether they're unsolveable and hence need handled like this), and the cookies tests that @mikewest has been working on upstreaming will run into this too.

[2017-12-13 13:10] cbentzel opened #8675 "WebSocketDaemon attempted spawn even when ws_doc_root is null"
If ws_doc_root is null (default in config.default.json), server.py still attempts to spawn WebSocketDaemons, which then fail due to lack of config.

I'm pretty new to wpt so not sure if desired behavior in this case is to

a) Require that ws_doc_root be set
b) If ws_doc_root is not set, skip spawning WebSocketDaemon
c) Make WebSocketDaemon handle null and default config better

For now, I assuming

[2017-12-13 13:22] dpino commented on #8308
@annevk I can give a try to run the test in an iframe, at least for same-origin window, and see if I got more tests passing. Right now launching test262/builtins directory, which is the largest 262 directory, I got 1000 tests failing and 35 timeouts. Maybe some tests fail due to a missing JS shell feature in the browser (not all of them are implemented yet) or so. I would need to look more into th

[2017-12-13 13:30] annevk commented on #8308
I'm not sure, I'm not familiar enough with all the harnesses. I'm curious if @bakkot has looked into running test262 in a worker environment.

[2017-12-13 20:28] Hexcles commented on #6998
Pasting the workaround from Python bugtracker to make it easier to find:

`env no_proxy='*' python wpt ...`

to run `wpt` with system proxy disabled.

[2017-12-14 02:54] jugglinmike commented on #6075
I'm hoping to have a patch for this ready for review some time next week. @Ms2ger will you be available to review that for me?

[2017-12-14 04:34] csnardi opened #8684 "css/css-color/t451-system-colors-a.xht should be updated or removed"
[CSS Color 4](https://drafts.csswg.org/css-color/#system-colors) states that:

css/css-color/t451-system-colors-a.xht tests this behavior, so it should either be updated or removed. Since the spec doesn't specify exact mappings from system colors, it should probably be removed as this appears to be up to the implementation.

[2017-12-14 05:22] domfarolino commented on #8654
Hey, sorry could you give me some more context here? Not sure I quite understand!

[2017-12-14 09:15] Ms2ger commented on #6075
Possibly. Do you need it done by the end of the year?

[2017-12-14 11:55] zcorpan opened #8687 "add_cleanup() as global function should work for single page tests"
Marginally related to #6075.

As far as I can tell add_cleanup is not available for single-page tests (http://web-platform-tests.org/writing-tests/testharness-api.html#single-page-tests ), but having it would be useful. I can define a global `completion_callback` function which gets called by testharness.js when tests are completed, but it's not intended for cleanup so it's a hack.

It would possi

[2017-12-14 16:45] svgeesus commented on #8482
I may be wrong, but I don't think you have understood the purpose of the test. Converting it as you describe would fail to test what is actually being tested. This is not a 'test and reference, which happen to be displayed side by side using iframe'.

The assertion is https://dev.w3.org/webfonts/WOFF2/spec/#conform-css3font-available

So one of the documents displayed in the iframe has an @font-fa

[2017-12-14 16:45] svgeesus commented on #8482
Also, @fred-wang I wuld like to hold off on modifying the WOFF2 tests for the next week or two. This is because we requested W3C Proposed Recommendation for WOFF2 and the test results will be examined as part of that. I don't want to risk:

- some test results changing, or
- test results (in the CSS WG harness) being lost because the test has changed and all previous results are assumed invalid

T

[2017-12-14 16:52] svgeesus commented on #8440
They were done that way when we did the WOFF 1.0 test suite, because webfont loading was a lot less interoperable then.

As you know, the WOFF 2.0 tests were derived from the WOFF 1.0 tests (for the record @khaledhosny did most of that conversion work) but meanwhile the state of webfont loading has improved a lot and we no longer need to worry that some browser doesn't load any webfonts at all.

A

[2017-12-14 16:53] svgeesus commented on #8440
See also https://github.com/w3c/web-platform-tests/issues/8482#issuecomment-351767363

[2017-12-14 18:26] fred-wang commented on #8482
Yes, that's probably true, I did not spend too much time trying to understand it. I thought the goal was to test that the @font-face in the main page is not inherited in the inner iframe.

[2017-12-14 18:27] fred-wang commented on #8440
OK, it's fine by me if we wait that WOFF2 is moved to Proposed Recommendation.

[2017-12-14 20:41] svgeesus commented on #8684
I agree that the test is now out of sync with the specification, and also that the specification is not testable on that point (it is merely guidance) and thus that the test should be removed.

[2017-12-14 20:44] svgeesus commented on #8482
no, it is from iframe one to another.

[2017-12-15 02:45] frivoal opened #8694 "Missing tests for propagation of the overflow property"
This paragraph from CSS21 is under-tested (source https://www.w3.org/TR/CSS21/visufx.html#overflow) :

|  | does not apply to the body element | does propagate to the viewport instead| Doesn't do all that if overflow on the root isn't `visible`|
|--|--|--|--|
|single body in markup|http://w3c-test.org/css/CSS2/visufx/overflow-propagation-001a.html | **NOT AUTOMATED** http://w3c-test.org/css/CSS2/u

[2017-12-15 06:19] bzbarsky commented on #8694
@frivoal If you're willing to write the tests, I'd be happy to review.

[2017-12-15 09:35] frivoal commented on #8694
Let's first get the CSSWG confirm that this is still what we want for css-overflow in https://github.com/w3c/csswg-drafts/issues/1905, and then I'll give it a shot. I don't see why we'd change, but I also don't want to write a bunch of tests and then discard them if we change the spec.

[2017-12-15 12:26] foolip commented on #8581
@gsnedders, can you see where this fits on your list of roadmap bugs? Seems like this could be solved together with https://github.com/w3c/web-platform-tests/issues/2669?

[2017-12-15 12:28] foolip commented on #8616
Seems like an easy fix, but also just a nice-to-have? Or did this come up in some real situation, such that having this would have unveiled an interop problem earlier? That'd bump it to roadmap in my view.

[2017-12-15 18:16] domenic opened #8706 "set-from-ws.https.sub.html should probably not be .https"
See https://wpt.fyi/cookies/secure/set-from-ws.https.sub.html . In the browsers with good error, it explains that you can't construct a WebSocket with the ws: protocol from a HTTPS page.

/cc @mikewest who introduced this test

[2017-12-15 18:19] domenic opened #8707 "Some a-element.html URL tests seem wrong"
Scroll to the bottom of https://wpt.fyi/url/a-element.html and look at the "assert_unreached" instances that fail in all browsers. It appears the test is trying to say that parsing `test-a.html` against `a` should fail, but I believe that given how the a-element.html test runner is set up, that won't be the case; it'll just use the actual page URL as the base URL.

[2017-12-15 21:15] annevk commented on #8707
Ah yeah, because those are not valid base URLs to begin with. I'm not sure we should be having invalid base URLs in the test data.

[2017-12-17 05:27] guest271314 opened #8712 "Include test for setting an SSML document at SpeechSynthesisUtterance .text property within speech-api"
According to the [Web Speech API Specification](https://w3c.github.io/speech-api/speechapi.html)

For example, an SSML document could contain one or more [`<voice>`](https://www.w3.org/TR/2010/REC-speech-synthesis11-20100907/#S3.2.1) elements where the expected result is rendering of different audio output for each `<voice>` element; the single SSML document could also contain one or more[ `<audio

[2017-12-17 23:51] guest271314 commented on #7857
@foolip `new ClipboardEvent("").clipboardData` returns `null` at Chromium/Chrome. `new DataTransfer()` is not yet supported at Chromium/Chrome.

[2017-12-17 23:54] guest271314 commented on #7857
@jimmywarting Does  https://github.com/whatwg/html/issues/3269#issuecomment-350598222 help?

[2017-12-18 00:04] jimmywarting commented on #7857
Well, i don't need it now but i will remember this

[2017-12-18 13:34] gsnedders commented on #8581
@foolip Yes, easy to do alongside #2669.

I'd be curious as to what @jgraham thinks of adding such a domain?

[2017-12-18 17:49] inexorabletash commented on #8616
No interop problem noted. Discovered after teaching someone about implicit iterables and noticed we lacked coverage for this case.

Nice to have (like everything else) but not high priority.

[2017-12-19 10:13] foolip commented on #3757
@thejohnjansen @patrickkettner, what is the status of this? Are the most important blocking issues for EdgeHTML upstreaming of test changes already tracked as separate issues?

[2017-12-19 10:28] foolip commented on #6565
I ran into this today as well when doing `wpt run edge` on Windows, and it was the only thing where the documentation is totally silent.

@gsnedders, trying to fix this myself, I ran into the duplication between README.md and introduction.md. Which one should be decommissioned?

[2017-12-19 10:30] foolip commented on #3776
I got Edge Insider Preview running today, and the only thing that's really missing is https://github.com/w3c/web-platform-tests/issues/6565.

When EdgeDriver is missing the error message is pretty good, but pointing to it in the documentation and saying to put it on the path would be good.

[2017-12-19 10:31] foolip commented on #6485
@jgraham, given that you self-assigned this, do you know what's wrong?

[2017-12-19 11:18] jgraham commented on #6485
I have no memory of self-assigning this :) Is it still reproducable?

[2017-12-19 11:25] jgraham commented on #6565
They are in different places. One is on the website and the other is displayed in GitHub. It would be nice if we could avoid this duplication, but  it's not clear how to do that.

[2017-12-19 11:25] jgraham commented on #6565
(I think installing this if it's missing is a better solution).

[2017-12-19 13:55] foolip commented on #6565
Can't README.md point to the installation instructions on web-platform-tests.org?

[2017-12-19 13:58] foolip commented on #6485
tools/wptrun.py no longer exists as of commit e3d2c7b3326a854e6fca0a0811ff0d057aacdc64, so the original repro steps don't work. `wpt run chrome` hangs and does nothing for me on Windows 10.

[2017-12-19 21:27] jugglinmike commented on #6075
Hey folks! I'm almost done with a patch for this (you can review [my work-in-progress here](https://github.com/w3c/web-platform-tests/compare/master...bocoup:testharness-cleanup-async-december)). It's been a bit trickier than we expected, though. I'm working on a few related improvements:

- [ ] Extend `testharness.js` suite with explicit distinction between "unit tests" and "integration tests" (s

[2017-12-20 01:03] xfq commented on #6565
Perhaps this can be discussed in #5289?

[2017-12-20 01:42] jugglinmike commented on #6075
Alrighty, a patch is now available for review: https://github.com/w3c/web-platform-tests/pull/8748

[2017-12-20 15:01] foolip commented on #5289
@gsnedders, what do you think should be the 1 place where /etc/hosts other installation instructions are? Now they're forked and presumably slightly diverged.

[2017-12-20 16:54] gsnedders commented on #5289
@foolip Last we spoke about it, @jgraham was opposed to removing them from the README and I was opposed to removing them from the documentation.

[2017-12-20 18:40] Hexcles opened #8754 "css/css-fonts/font-variant-alternates-*.html do not match their references"
Many of these tests have 20 check marks or crosses per line, but their references only have one per line. There's no way these ref tests can pass (and they are indeed failing everywhere).

[2017-12-20 22:55] toddreifsteck commented on #8052
@mattl ping! Saw Edge failing on tests I know we fixed in Edge 15 on a PR today.

[2017-12-20 22:57] mattl commented on #8052
Edge is actually doing pretty well today. https://wpt.fyi -- it takes a while to run, but we got a successful run of 15 last night.

[2017-12-21 05:47] Honry opened #8769 "assert_array_equals should recurse into nested arrays"
When comparing arrays with nested arrays, `assert_array_equals` should recurse into the nested arrays.

[2017-12-21 10:40] kenchris commented on #8769
I totally agree

[2017-12-22 20:50] cbentzel opened #8790 "Web initiated downloads not possible to test for"
Downloads initiated from web content are not possible to detect or test for in WebPlatformTests.

These could be downloads triggered in a variety of ways:
  * Click event on an <a download> element
  * Navigation of a frame to a non-web-renderable MIME type resource
  * Navigation of a frame to a resource with a Content-Disposition header

There are not APIs for this available on the web platform.

[2017-12-24 17:30] guest271314 opened #8795 "Web Speech API SpeechSynthesisUtterance pitch, rate, volume attribute tests verification"
Setting [`SpeechSynthesisUtterance.volume`](https://w3c.github.io/speech-api/speechapi.html#utterance-attributes) does not appear to change volume of audio output of `window.speechSynthesis.speak()` at [Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=797512) or [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1426978) at *nix

[code]
We could utilize a uniform procedure to ve

[2017-12-24 17:37] guest271314 commented on #8790
One approach would be to create a unique identifier to set as the filename of the file offered for download. Following download of offered file prompt user to upload file which was downloaded to verify that the downloaded filename matches the unique identifier set as filename.

[2017-12-25 04:56] Honry commented on #8769
Won't fixed, pls. refer to the reason at #8781. @kenchris, I am going to create a private function for generic sensor.

[2017-12-25 04:56] #8769 closed

[2017-12-26 07:36] TimothyGu commented on #6940
Fixed in 50da72aad66a06cde2367170ea1caf3885a34d0b.

[2017-12-26 07:36] #6940 closed

[2017-12-26 21:02] gsnedders commented on #8670
` css/vendor-imports/mozilla/mozilla-central-reftests/text3/text-align-match-parent-01.html` is fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1427114

[2017-12-26 21:17] gsnedders opened #8803 "text-decoration-visiblity-* assert wrong thing and are manual"
These are `css/css-text-decor/text-decoration-visibility-*`.

These tests assert that: "Inline element with 'visibility:hidden' must not prevent a text-decoration value being applied to the line box".

The spec says: "The visibility property, text-shadow, filters, and other graphical transformations likewise affect text decorations as part of the text they’re drawn on".

As such, they seem to be w

[2017-12-26 22:34] gsnedders opened #8806 "Allow about:blank as a ref"
cc/ @jgraham @Ms2ger @foolip

At the moment, the lint disallows any absolute URL as a ref. We should probably allow `about:blank`, given plenty of Mozilla reftests use it as a ref.

This was hit by #8804, and fixed there by just using the pre-existing `flexbox_empty-ref.html` (which is no fix at all…).

[2017-12-26 23:28] gsnedders commented on #8790
We don't have any way to automate the file upload prompt either, though. :)

[2017-12-26 23:32] gsnedders commented on #8795
I'm tentatively labelling this as untestable, because I'm not sure we can test it yet.

We can't use `MediaRecorder` because we can't rely on having a microphone (given most vendor's CI systems run on VMs that won't have any, and certainly couldn't rely on being on being otherwise quiet).

[2017-12-27 00:59] guest271314 commented on #8795
@gsnedders

A microphone is not necessary to record output of `speechSynthesis.speak()` https://github.com/guest271314/SpeechSynthesisRecorder/commit/87be7b9d39b034137fd79876e84050449887880f. The issue with using `MediaRecorder` is that the resulting `audio/webm` would be different from the original audio output.

From perspective here "untestable" means that the implementation is not capable of b

[2017-12-27 01:03] guest271314 commented on #8790
@gsnedders We do not need to automate the file upload prompt. There would need to be user complicity within the testing process. This is the closest have achieved so far to meet requirement of uniqiue file download verification https://stackoverflow.com/a/41336449

[2017-12-27 01:12] gsnedders commented on #8795
FWIW, "untestable" means we can't do it with an automated test with no human in the loop.

But yeah, if `MediaRecorder` can get the audio output (which I didn't realise it could), then we can almost certainly do this well enough.

[2017-12-27 01:13] guest271314 commented on #8790
@gsnedders

We do not need to automate the file upload prompt. There would need to be user complicity within the testing process.

Given that user is, or should be aware that file should be downloaded before next step in process, user should expect some form of confirmation that file has been downloaded to occur.

You can create a unique identifier or timestamp to include within downloaded file na

[2017-12-27 01:20] guest271314 commented on #8795
@gsnedders  The priority from vantage here would be verifying that setting  `.volume` does not change the audio output volume at Chromium or Firefox.  We should be able to use `AudioContext.AnalyzerNode` to evaluate the generated audio result of `.speak()`, see [this answer](https://stackoverflow.com/a/46781986) by @Kaiido at [How can I extract the preceding audio (from microphone) as a buffer whe

[2017-12-27 17:12] yoavweiss opened #8810 "Test values of `Request.destination`"
There are multiple tests that check if `Request.destination` is exposed, but none I could find that check if the returned value is the right one (other than https://github.com/w3c/web-platform-tests/blob/master/preload/fetch-destination.https.html which tests the destination value for `<link rel=preload as=fetch>`.

We need more tests to make sure the values returned by the different engines are c

[2017-12-30 00:49] gsnedders opened #8820 "Get all infra working on Python 3"
We probably want to split these out into individual issues, but given I don't think we're doing this any time soon I'll leave that for when someone starts on this:

- [ ] ci
- [ ] gitignore
- [ ] lint
- [ ] manifest
- [ ] runner
- [ ] serve
- [ ] sslutils
- [ ] webdriver
- [ ] wpt
- [ ] wptrunner
- [ ] wptserve

Note that even after updating all of this we'll still rely on Python 2 as we have hund

[2017-12-30 01:33] gsnedders opened #8821 "Import CSS2 magic-body tests"
@zcorpan wrote a bunch of tests at http://simon.html5.org/test/css/magic-body/

We have some similar tests for some of these, though we probably nowadays only have XHTML tests and not HTML tests. I'd expect @zcorpan's to be more complete than what we have today, as well as introducing both formats.

[2017-12-30 01:37] gsnedders commented on #8670
https://bugzilla.mozilla.org/show_bug.cgi?id=605520 is another potential source of failing CSS2 tests (though whether they pass in other browsers is another question!).

[2018-01-01 22:32] csnardi opened #8828 "css/CSS2/colors/color-030.xht is wrong per Color 4"
Color 4 added 4-digit and 8-digit hex colors, but css/CSS2/colors/color-030.xht tests a 4-digit hex color as an invalid value. As a result, it is failing on platforms that have added 4-digit hex colors.

Since this test is part of the CSS2 test suite, it is valid per CSS2. However, since it should fail after Color 4 has been implemented, I think removal of the test case is probably appropriate.

[2018-01-02 08:43] Ms2ger commented on #8806
This seems fine by me.

[2018-01-02 13:37] foolip commented on #8806
@gsnedders, what would it take to actually implement this? Should we actually load and take a screenshot of about:blank once, or make some assumptions?

[2018-01-02 13:42] foolip commented on #8790
@cbentzel, do we have any tests for this in Chromium? Are they LayoutTests using `internals.*`, browser tests, unit tests, or something else?

What would a suitable API be? I think that files won't always be downloaded without user interaction, so perhaps an API to check if any downloads are "pending", and a way to allow the download and get some kind of handle to the result? Or would just the fir

[2018-01-02 13:48] foolip commented on #8687
What would this require beyond `expose(add_cleanup, 'add_cleanup')`? I think the tricky bit is what to do if it's called when `tests.file_is_test` is false, given that it can later become true. Implicitly call `tests.set_file_is_test()`, in the same way as `assert` does?

[2018-01-02 13:50] foolip commented on #8675
@cbentzel, what setup and command did you use to run into this? Did you later work around it? Tentatively calling it roadmap (regularly revisited) in case it's something that many might be running into.

[2018-01-02 13:55] foolip commented on #8790
Hmm, I see that we have LayoutTests/http/tests/security/anchor-download-allow-blob.html that does `testRunner.waitUntilExternalURLLoad()`, which is also used by the `<video controls>` download button tests.

I've tentatively called this the backlog priority since it look like a small number of tests and a fair bit of work to get it done. But if it is blocking important interop testing, especially

[2018-01-02 18:04] gsnedders commented on #8806
@foolip Literally it's just the linter that disallows it; everything else works.

[2018-01-02 19:04] gregwhitworth commented on #8670
@gsnedders what engine builds did you test against for the above table?

[2018-01-02 20:45] gsnedders commented on #8670
@gregwhitworth It's simply done by counting results the CSS Test Harness has, and taking the majority result.

[2018-01-02 20:59] foolip commented on #8806
Oh, that makes it a very easy fix, and it affected some real tests, so calling it roadmap.

[2018-01-03 09:00] zcorpan commented on #8687
Yes, I think so.

[2018-01-03 11:04] foolip commented on #5770
@gsnedders are you planning to work on this? (Came up in triage of roadmap issues older than 60 days.)

[2018-01-03 11:05] foolip commented on #7452
@gsnedders, are you planning to work on this? (Came up in triage of roadmap issues older than 60 days.)

[2018-01-03 11:09] foolip commented on #7444
@mdittmer has been monitoring w3c-test.org for a while now: https://bit.ly/ecosystem-infra-status

The uptime is really very bad, and I notice it once every few days myself.

@sideshowbarker, is there any easy fix for this situation, like throwing more hardware at it? Or would it take something more elaborate like 2+ machines take turns restarting the server frequently and a load balancer in front

[2018-01-03 11:12] foolip commented on #6193
All, is anyone using this as part of their daily workflow and having trouble because of the slowness?

Right now it actually works for me, without any waiting at all. @jgraham, was this impacted by the manifest-download command perhaps?

[2018-01-03 11:14] foolip commented on #7475
Adding @mattl as assignee as this work will be owned by Bocoup going forward.

[2018-01-03 11:16] foolip commented on #6800
Closing this in favor of https://github.com/w3c/web-platform-tests/issues/7475, which won't expose all results in comments directly, but is all about making the results clear and actionable.

[2018-01-03 11:16] #6800 closed

[2018-01-03 11:29] sideshowbarker commented on #7444
No. The fix is to make wptserve work correctly when it’s run persistently for long periods of time, and responding to webhooks for every PR that gets created or change.

As far as I know, w3c-test.org is the only environment where wptserve is run that way currently. I strongly suspect that anybody would have the same problems with it if they ran wptserve in the same way in some other environment.

[2018-01-03 11:54] foolip commented on #5956
I think this name comes from `JOB=stability SCRIPT=tools/ci/ci_stability.sh PRODUCT=chrome:unstable` because I couldn't find the string "Chrome Unstable" anywhere in this repo or https://github.com/w3c/wpt-pullresults.

The stability job will install https://dl.google.com/linux/direct/google-chrome-unstable_current_amd64.deb, so I installed that locally to confirm it's branded as "Dev" on the icon

[2018-01-03 12:09] foolip commented on #8687
@zcorpan, care to send a PR? I expect most of the work would be in writing tests under resources/test/

[2018-01-03 12:11] foolip commented on #7444
Oh, so we can't really look deeply into what's going wrong with w3c-test.org, then, because we're not totally in control of the machine?

Setting up another instance would presumably be pretty straightforward, do you have all of the config saved somewhere? But to get the same kind of load to see if the problem is the same wouldn't be trivial, although I guess one could just hammer it and see.

[2018-01-03 13:10] #5956 closed

[2018-01-03 13:24] gsnedders commented on #7452
Probably only if anyone else complains (or if it starts breaking other wpt scripts).

[2018-01-03 14:12] foolip commented on #7452
Thanks, downgraded the priority accordingly.

[2018-01-03 14:45] zcorpan commented on #8687
I think it makes sense to wait for #8748 before doing this, but yeah :)

[2018-01-03 22:56] sideshowbarker commented on #7444
Sure we can

I am totally in control of the machine and we can do whatever we want with it. If we have anybody who’s serious about taking time to investigate the problems, I can give them shell access to the server environment, and root, so they can go in and look at it all directly.

[2018-01-03 23:38] frivoal commented on #8694
w3c/csswg-drafts#1905 is now closed, so this is unblocked. I'll try to get to this not too far from now.

[2018-01-04 04:24] csnardi opened #8888 "Some CSS2/lists/counter-increment-* tests are not required by spec"
Many CSS2/lists/counter-increment-* tests check the behavior of large numbers in counters. See, e.g. [counter-increment-025.xht](https://github.com/w3c/web-platform-tests/blob/master/css/CSS2/lists/counter-increment-025.xht), which tests numbers larger than 2^31 - 1. However, neither the [CSS2 spec](https://www.w3.org/TR/CSS21/generate.html#counters) nor the [current CSS Lists spec](https://drafts

[2018-01-04 09:49] foolip commented on #7444
@gsnedders, can you summarize what you were saying yesterday about this?

In any event, this is now blocked on somewhat spending time on it.

[2018-01-04 10:38] dpino commented on #8308
I have first version of the tests running. I reworked the script to run the tests inside an IFrame. Then I added support for other agents: child Window, DedicatedWorker and SharedWorker. ServiceWorker is not supported yet, more on that later.

I used the results of Test262-Web-Runner as a baseline to compare the results I got. I run the tests on Firefox Nightly 59.a1. First of all, here are the re

[2018-01-04 17:08] yoavweiss commented on #8810
Some of the tests landed in of #8812
As @wanderview pointed out during the review, we're still missing a good chunk of tests for:
* report
* document
   - iframe
   - navigation
* font
* sharedworker
* worker
* track
* image
   - CSS background image
   - srcset
   - `<picture>`
   - SVG `<image>`
   - favicon
   - CSS cursor
* manifest
* xslt
* ""
   - XHR
   - `sendBeacon()`
   - EventSource

[2018-01-04 17:11] wanderview commented on #8810
Maybe also for modules?  Not sure the fetch table has been updated for those yet.

[2018-01-04 22:53] yoavweiss commented on #8810
A lot of the tests that are not covered by #8926 (e.g. BG images, `sendBeacon()`, ping, `@import`) are for resources which have no load event or error event, making it very hard to know if they were actually loaded or not, so hard to communicate their destination value from SW. It also hard to read any reflected values for these types of resources in a generic way.

Thoughts on how to test them wo

[2018-01-04 23:54] frivoal commented on #8888
They are already flagged with "may" (at least the example you showed is, I didn't check all of them).

That indicates that passing them is optional.

I am not convinced these are terribly useful tests, but they're not wrong, and if they detect some differences in implementation, that sounds worth knowing, even if it isn't a very high priority difference.

[2018-01-05 01:43] wanderview commented on #8810
You can use `Client.postMessage()` to send a success or failure back to the test window.  You need to use `Clients.matchAll()` or `Clients.get(FetchEvent.clientId)` to get the Client handle.

[2018-01-05 04:04] csnardi commented on #8888
Yeah, you're correct -- all of these tests were flagged with may. I didn't realize that was signified within the tests.

[2018-01-05 04:04] #8888 closed

[2018-01-05 11:00] yoavweiss commented on #8810
Not covered by #8926:
* report
* document
    - iframe
    - navigation
* sharedworker
* worker
* track
* image
  - favicon
  - CSS cursor
* manifest
* xslt
* ""
  - ping

For most of them I'm having troubling dynamically triggering a download :/ For others, testing is a bit complex (e.g. `document`, `worker` and `sharedworker`)

[2018-01-05 16:49] wanderview commented on #8810
I agree we can probably get away without initially testing things like xslt, track, etc.

I do think we should test very mainstream features like document and worker, though.  Can you describe the difficulty you are running into testing these?  Can't you use your current test approach with stuff lile:

[code]

[2018-01-05 21:53] #8810 closed

[2018-01-06 03:49] gsnedders commented on #8828
The test isn't valid per CSS2, because CSS2 states: "A user agent conforming to a future CSS specification may accept one or more of the other rules as well."

And given we have an existence proof of a future CSS specification defining this syntax, we can conclude CSS 2.1 allows two behaviours:

 * ignoring the rule
 * handling it per later levels of CSS

(The actual language in the spec is a bit

[2018-01-06 18:39] annevk commented on #1851
Note that I've since landed tests for MIME type parsing. Sniffing algorithm is not yet covered though.

[2018-01-07 03:16] liamquin commented on #7543
@gsnedders, i think i mentioned using a gaussian blur e.g. for gradient dithering comparisons.  But i didn't mean it had been done (to my knowledge) for SVG or in WPT.

Also for testing PostScript rendering, where the exact pixels set for arcs wasn't well-defined for thick lines, converting the strokes to outlines and then to straight-line segments with a given tolerance, but CSS border arcs aren'

[2018-01-07 06:54] gsnedders commented on #8271
My hypothesis is that [wpt lint](https://bugzilla.mozilla.org/show_bug.cgi?id=1428582) has been asserting in mozilla-central for a long time and hence not running to completion, and [nobody noticed it was failing with an uncaught exception](https://bugzilla.mozilla.org/show_bug.cgi?id=1428585).

[2018-01-07 07:59] #8828 closed

[2018-01-08 08:41] dpino commented on #8308
I fixed the issue that affected the results of the 'language' block test. The values are updated now.

[2018-01-08 12:11] #4665 closed

[2018-01-08 21:04] kereliuk opened #8954 "Outdated virtualenv causes obscure errors"
When I run

`./wpt run firefox webrtc --install-browser --yes --certutil-binary=certutil --setpref media.navigator.streams.fake=true --log-mach=- --log-wptreport /home/ubuntu/wptdbuild/wptd-6c663c53af-firefox-57.0-linux-report.log --install-fonts`

I get a TypeError when it tries to do some logging set up.
[code]

[2018-01-08 21:49] jgraham commented on #8954
You need to update mozlog. Either delete the `_venv` directory or activate the virtualenv and run `pip install -U mozlog`. There must be some way to make this better.

[2018-01-09 19:26] jfkthame opened #8961 "[css-text] white-space-collapsing-* tests refer to a property that isn't spec'd"
There are three test files css/css-text/white-space/white-space-collapsing-*.xht that appear to be testing a property `white-space-collapsing`, and point to http://www.w3.org/TR/css-text-3/#white-space-collapsing as the definition of the property.

However, there doesn't appear to be any such property in that spec (nor could I find it in older drafts that I checked, though perhaps it was there at

[2018-01-10 16:46] dpino commented on #8308
I have pushed a PR with the script to generate the WPT wrappers as well as the harnessing code to run the tests. The PR is not ready to be merged yet, but I think it can be a starting point to get feedback and discuss what's pending to be done. PTAL https://github.com/w3c/web-platform-tests/pull/8980

[2018-01-10 17:44] gsnedders opened #8981 "CSS 2.1 @charset tests invalidated by Level 3"
https://lists.w3.org/Archives/Public/public-css-testsuite/2012Dec/0000.html from @hsivonen

[2018-01-10 20:12] gsnedders commented on #8954
@foolip I wonder if this should be higher priority (roadmap?), as it's potentially an issue more generally when dependencies get updated?

[2018-01-11 08:36] kaixinjxq commented on #1505
Add tests at #8993 except "Document#commands" and "Document#getItems" since they have been removed from latest spec.

[2018-01-11 16:05] foolip commented on #3867
@jstenback ran into this with https://wpt.fyi/html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-width.html, which fails on Edge and Safari because of the popup blocker, at least it seems like that in my manual testing.

@kereliuk, do you know if ChromeDriver implicitly disables the popup blocker, or why this passes in Chrome?

[2018-01-11 18:26] annevk commented on #3867
You need to disable the popup blocker to use web-platform-tests. That's why this issue is asking for the opposite.

[2018-01-12 01:03] gsnedders opened #9005 "Disable font-specific kerning in tests?"
https://github.com/w3c/web-platform-tests/pull/8943/commits/7aab8a5579faea3a76027a3e0c67d4025dc35b3a (by @kojiishi) disabled kerning because of differences in kerning in Blink between those tests and references.

As far as I'm aware, the fact that kerning behaviour is undefined [citation needed] means that this is probably justified far more generally (and we have loads of tests where kerning diff

[2018-01-12 03:45] sideshowbarker opened #9007 "wpt crash when running `./wpt run chrome` on macOS High Sierra"
When I try to run `./wpt run chrome …` in my MacOS High Sierra environment, it fails:

[code]
Apparently the cause is some change that was made in High Sierra in Objective-C `fork()` handling:

* http://sealiesoftware.com/blog/archive/2017/6/5/Objective-C_and_fork_in_macOS_1013.html
* https://blog.phusion.nl/2017/10/13/why-ruby-app-servers-break-on-macos-high-sierra-and-what-can-be-done-about-it/

[2018-01-12 07:19] domfarolino commented on #8954
Just ran into the same thing with `./wpt run chrome console/...`, fixed by deleting _venv and running `./wpt run chrome console/...` which prompted me to redownload/install the appropriate webdriver

[2018-01-12 10:38] henbos opened #9010 "RTCStats-helper.js's validateStatsReport assumes video track"
I used validateStatsReport() with a report containing a "track" stats for video, and got expect failure because the track - which was an audio track - did not contain frameWidth (a video track stat) as an unsigned long.

We need to expect different entries depending if kind == "audio" or "video".

Also, I would like a helper function for validating a single stats object, basically doing this:
[cod

[2018-01-12 13:21] Ms2ger opened #9012 "Add pattern.mp4 video"
See <https://github.com/w3c/web-platform-tests/pull/8950>.

[2018-01-12 19:30] #8754 closed

[2018-01-12 20:28] foolip opened #9018 "/html/browsers/browsing-the-web/history-traversal/browsing_context_name_cross_origin* have been failing for years"
These tests are failing now:
https://wpt.fyi/html/browsers/browsing-the-web/history-traversal/

And they were failing in a run that @jgraham did a few years ago:
https://bugs.chromium.org/p/chromium/issues/detail?id=651572#c56

I tried fixing the first error in browsing_context_name_cross_origin_3.html but that revealed that led to another failures, namely that the cross-origin navigation back and

[2018-01-12 21:55] foolip commented on #9018
Trying to fix browsing_context_name_cross_origin_2.html a bit it's clear that navigation is still not very interoperable, without trying I got different behavior in Chrome, Firefox and Safari. So there's some value to be found in these tests still probably.

[2018-01-13 18:25] foolip opened #9026 "Put IDL files in specname/interfaces.idl instead of interfaces/specname.idl"
https://github.com/w3c/web-platform-tests/issues/5339 started splitting out standalone IDL files, and we have quite a few now in https://github.com/w3c/web-platform-tests/tree/master/interfaces. Yay!

I've come to think that we should have these in the spec directories instead, which I think would have these benefits:
 * When changing just the IDL files, the people in specname/OWNERS will notice

[2018-01-13 19:26] mikewest commented on #2669
Ping! @marumari tells me that Mozilla is actively working on `SameSite` cookies, and I can't upstream tests until this bug is taken care of.

[2018-01-13 20:20] foolip commented on #9026
@zcorpan @annevk @domenic @ayg @Honry @soareschen, you are the people who have done the most poking in interfaces/, WDYT?

One downside that's come to mind is that there's some variety in how the idlharness.js tests are named, and idlharness.html is actually more common than interfaces.html. And the combination idlharness.html+interfaces.idl is less pleasing than interfaces.html+interfaces.idl. Bu

[2018-01-13 20:23] foolip commented on #2669
This is high on the [Resolve known important infra issues for wpt](https://docs.google.com/document/d/1ojlLDiRruI4e95Z7JQ10JQPRMiQHd_40rBkYCL6IJqw/edit#heading=h.khrf1xe3i7e5) list. @gsnedders, do you have an estimate?

[2018-01-15 02:00] Honry commented on #9026
I'm happy on this improvement.

[2018-01-15 07:49] annevk commented on #9026
I'm not a big fan of the continued churn as each time you move files around you make `git log` harder to use. If we're sure this is the setup we're gonna use it might work though. Another thing that would be nice is that WPT generates the .html (and .worker, and .https. variants) automatically based on a .idl file. I guess that's going to be a bit further away though.

[2018-01-15 09:56] foolip commented on #9026
If you mean following the files that have been renamed, `git log --follow` does the trick, and `git blame` by default sees right past renames, including in the GitHub UI. As for the resulting changes in the interfaces.html files, well those won't be possible to skip.

To be honest, I'm actually not confident that this move would be the final state of things. It is the most obvious way to fix the O

[2018-01-15 10:28] annevk commented on #9026
If I browse to https://github.com/w3c/web-platform-tests/blob/master/xhr/FormData-append.html and click on "History" I don't see history past renames. "Blame" does though, interestingly enough. Maybe I should ask GitHub if they want to fix it for "History" too.

[2018-01-15 13:29] tobie commented on #9026
Yeh, the other option would be allowing per file owners. This is a non-trivial piece of work, but might be interesting to tackle if there are other use cases around.

[2018-01-15 21:22] foolip opened #9042 "Add support for [SecureContext] to idlharness.js"
As pointed out by @annevk in https://github.com/w3c/web-platform-tests/pull/8995#issuecomment-357145464, it would be good if idlharness.js understands [SecureContext].

In fact, without such support, attempting to test both secure and non-secure contexts will do the wrong thing, failing the tests in non-secure contexts if the API surface isn't there even though it should be. One can see this in ac

[2018-01-15 21:27] foolip commented on #9042
How this could work:
* minimally: if testing in a non-secure context and [SecureContext] is used, assert the absence of the interface object, method, attribute, etc., rather than testing its other properties.
* nicer: if testing in a secure context and [SecureContext] is encountered, create a non-secure context and test the absence of those things.

[2018-01-16 00:12] gsnedders commented on #6873
@jgraham Can we at least document how to do this today somewhere?

[2018-01-16 00:12] gsnedders commented on #6873
(Like, I've just spent about ten minutes trying to figure this out. Can you just write down how to do ti today somewhere?)

[2018-01-16 00:55] gsnedders commented on #8479
So in Firefox:

 * The "YOU SHOULD NOT SEE THIS AT ALL" of `#linktest` is visible while it doesn't have the `pending` class, implying it isn't being rendered with the `#linktest:visited` style. I can't see any related pref being set, but might there be some pref stopping that from applying, @jgraham?
 * With the internal reftest runner, we get different sizes of scrollbars because Acid3 is larger

[2018-01-16 01:01] gsnedders commented on #8479
The viewport issue makes this part of #5403, and another case where it would be resolved if we decided in #7598 to use 800x600 or larger, or alternatively could easily be fixed by #7135.

[2018-01-16 01:07] gsnedders commented on #2669
I'll get this done before reviewing more PRs from the holidays, then! Let's aim for end of next week, with an open, working PR this week.

[2018-01-16 07:25] marcoscaceres commented on #8070
@zcorpan, any chance you could recheck these?

[2018-01-16 07:27] marcoscaceres commented on #8070
Moved @miketaylr's links to the top, and removed his comment.

[2018-01-16 10:46] murillo128 opened #9048 "[WebRTC] Update IDL for RTCIceCandidate and RTCIceCandidateInit : ufrag->usernameFragment"
On both RTCIceCandidateInit  and RTCIceCandidate  there is not a `ufrag` attribute but a usernameFragment` one this needs to be changed in

https://github.com/w3c/web-platform-tests/blob/master/webrtc/RTCPeerConnection-addIceCandidate.html

[code]

cc/ @soareschen

[2018-01-16 13:17] foolip commented on #5671
@kereliuk, I assigned this to you, does the scope look right for what you're planning to implement?

[2018-01-16 14:14] gsnedders commented on #9007
Calling this a dupe of #9007.

[2018-01-16 14:15] gsnedders commented on #9007
Uh, this is #9007. Calling this a dupe of #6998.

[2018-01-16 14:31] Ms2ger opened #9050 "Add tests for createImageBitmap in workers"

[2018-01-16 15:24] #9012 closed

[2018-01-16 15:50] gsnedders commented on #8981
717bce5972d0a4f3287bc09c54237abbd72d339e already fixed some of this.

[2018-01-16 17:25] foolip commented on #2669
Sounds good, thanks Geoffrey!

[2018-01-16 22:09] gsnedders opened #9056 "Get rid of infra tests marked "system_dependent""
In https://github.com/w3c/web-platform-tests/commit/b4b9ec466d8f719da9876c00afcf709529f1e4a6 I added a bunch of markers to a number of tests, including "system_dependent". We should aim to get rid of these markers, either by getting rid of the system dependence or by marking them as skipped unless whatever condition they require is met.

[2018-01-16 22:11] gsnedders opened #9057 "Reduce dependence of infra tests on external servers"
In https://github.com/w3c/web-platform-tests/commit/b4b9ec466d8f719da9876c00afcf709529f1e4a6 I added a bunch of markers to a number of tests, including "remote_network".

While we might want integration tests to check our "install x" support works properly, we can test the majority of this code without relying on external servers.

[2018-01-16 22:15] gsnedders opened #9058 "./wpt run broken on Windows"
From [email](https://lists.w3.org/Archives/Public/public-test-infra/2018JanMar/0001.html) from @thejohnjansen:

@AutomatedTester suggested:

On the whole, I agree with that quick look.

[2018-01-17 05:51] shanmuga-m opened #9062 "Unable to test Keyboard event on Checkbox"
Unable to test/check the toggling the state of a checkbox with they keyboard.

[2018-01-17 09:18] sideshowbarker commented on #6998
In the interest of also having an explanation of the cause here — and to make clear what the workaround does, here’s the full relevant comment from https://bugs.python.org/issue30385#msg293958:

[2018-01-17 12:49] foolip commented on #9062
@kereliuk, is there already a tracking issue for keyboard input, or is this it now?

[2018-01-17 13:25] gsnedders commented on #9058
Downprioritising as seemingly not generally broken.

[2018-01-17 13:26] gsnedders commented on #8398
Duplicate of #7434.

[2018-01-17 13:26] gsnedders commented on #9062
Duplicate of #7434.

[2018-01-17 13:26] #9062 closed

[2018-01-17 13:26] #8398 closed

[2018-01-17 18:17] thejohnjansen commented on #9058
It looks to me like an issue with Windows itself. I was updated to build 17071 and this was broken, but in 17063 and 17074 this works. This should be OK to close.

[2018-01-17 18:17] #9058 closed

[2018-01-18 15:54] gsnedders opened #9090 "wpt install firefox browser fails on macOS"
[code]

There indeed appear to be no macOS builds packaged as `.tar.bz2` on https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/

[2018-01-18 17:07] csnardi opened #9092 "css/CSS2/zorder/z-index-020.xht fails in all browsers"
https://w3c-test.org/css/CSS2/zorder/z-index-020.xht is failing in all browsers. The test shows that two reference images could be matched, but there is only one reference with the bottom image. All browsers would match the top image.

I'm not familiar enough with `zorder` to know if both of these reference pictures would be valid per the spec.

[2018-01-18 21:28] gsnedders commented on #9092
@csnardi We support alternate references through multiple `<link rel=match>`; we just need a second `<link rel=match>` with a reference with the top image.

[2018-01-18 21:30] csnardi commented on #9092
@gsnedders Are both reference images valid though? Since all major browsers fail that test, it made me wonder if they're both still correct per the spec.

[2018-01-18 21:44] gsnedders commented on #9092
@csnardi I have no idea. :)

[2018-01-19 10:53] svgeesus opened #9103 "font family parsing test relies on insecure behavior"
I noticed that the CSS test `test_font_family_parsing` used to pass (Firefox 57) and no longer does (Firefox Nightly 59.0a1). Running the test:
https://test.csswg.org/harness/test/css-fonts-3_dev/single/test_font_family_parsing/
gives failure on some subtests due to insecure operations

[code]
I wonder whether these insecure operations are also causing other browsers (Chrome, Safari) to fail.

[2018-01-19 15:00] gsnedders opened #9105 "Test-suite, Ahem font"
_From @tobireif on January 18, 2018 11:1_

I just was going through the test-suite, in three browsers, submitting results automatically and manually. Then I noticed ~"This test requires the Ahem font to be installed" - thus probably many test results were false.

Would it be possible to @font-face the Ahem font? (Everywhere, or for each test that requires it).

Then testing won't go wrong as it ju

[2018-01-19 15:00] gsnedders commented on #9105
FWIW, this would be better discussed on the w3c/web-platform-tests repository.

This has been discussed on several occasions before [citation needed], but I think we've always decided that it's simply too much effort to go through and add `@font-face` to every test case that uses it.

[2018-01-19 15:00] gsnedders commented on #9105
_From @frivoal on January 19, 2018 2:7_

@gsnedders That's understating it: the current policy is actually not to add `@font-face` for Ahem in new tests. I'd be happy to change that, but that's what it is for now, IIUC.

[2018-01-19 15:00] gsnedders commented on #9105
_From @liamquin on January 19, 2018 2:50_

On Fri, 2018-01-19 at 01:00 +0000, Geoffrey Sneddon wrote:

Isn't there a move for browsers to ignore installed fonts and use only
embedded plus serif/sans/mono/fantasai/cursive or whatever the list is?

What if the test harness JavaScript code injected @font-face for Ahem
to every test??

CSS never did have a way to distinguish two fonts of the same name

[2018-01-19 15:00] gsnedders commented on #9105
_From @tobireif on January 19, 2018 9:38_

Thanks for the info, next I'll try to remember to submit any issues there.

I'd prefer it if no test would require any specific font. But when a test writer has good reasons to require a specific font, then that font should be right there, without requiring the test-suite user to do anything regarding any required assets (fonts, images etc). @font-face is

[2018-01-19 15:09] foolip opened #9106 "idlharness.js: test dictionary types (conversion to/from ES values)"
[idlharness.js](https://github.com/w3c/web-platform-tests/blob/f686b082547eeb52960150fc8bc1a60b41b358ef/resources/idlharness.js#L297) doesn't test anything about dictionaries, but could.

Given a method that takes a single value and passes that along to some context that expects a dictionary of a certain type, one could test which properties are accessed, and if TypeError is thrown when required m

[2018-01-19 15:16] gsnedders commented on #9103
@svgeesus I have no idea what's up with that; https://w3c-test.org/css/css-fonts/test_font_family_parsing.html passes fine in current Firefox nightly/ (Also, as an aside, given it isn't noted as being an HTTPS test, it should almost certainly be run over HTTP. I don't think we guarantee that all tests are valid over HTTPS.)

[2018-01-19 15:17] gsnedders commented on #9103
https://test.csswg.org/suites/css-fonts-3_dev/nightly-unstable/html/test_font_family_parsing.htm works fine for me as well.

(This is with Firefox 59.0a1 (2018-01-19) (64-bit) on Linux64)

[2018-01-19 16:31] csnardi commented on #9105
Leaving this just as an offhand comment: using Ahem but forcing users to install it results in failures even on wpt.fyi; see https://github.com/w3c/wptdashboard/issues/218.

[2018-01-19 16:38] foolip opened #9108 "RTCRtpContributingSource's audioLevel member should be double (asserted to be byte)"
These bits are out of sync with the spec:
https://github.com/w3c/web-platform-tests/blob/524bea1dd8d0ad58733072bd4e8b8044042f589e/webrtc/RTCRtpReceiver-getSynchronizationSources.https.html#L64
https://github.com/w3c/web-platform-tests/blob/524bea1dd8d0ad58733072bd4e8b8044042f589e/webrtc/RTCRtpReceiver-getContributingSources.https.html#L77

Changed to double here:
https://github.com/w3c/webrtc-pc/p

[2018-01-19 17:09] jgraham commented on #9105
`--install-fonts` is supposed to work with wptrunner (i.e. `wpt run`) to avoid having to install it. I know there are some issues on Windows and maybe OSX because it didn't trivially fix the problem on Mozilla's CI, but it's something we're working towards solving.

[2018-01-19 17:12] csnardi commented on #9105
The failures I was referring to are on Sauce; wptrunner installs the fonts on the local machine but not on the Sauce VM. As I mentioned in the above issue, this should be a fairly simple fix with Sauce prerun scripts, but I just wanted to bring that up as point.

[2018-01-19 17:12] tobireif commented on #9105
Just to be clear: This is the test suite I was running (in three browsers):

http://test.csswg.org/harness/suite/css-grid-1_dev

And this report here is about the issue where tests in the above suite require the Ahem font but don't @font-face it.

[2018-01-19 17:19] foolip opened #9109 "po-navigation.html has been failing everywhere for a long time"
See https://wpt.fyi/performance-timeline/po-navigation.html for the current state. Determined to also be failing a few years ago using [this list](https://docs.google.com/spreadsheets/u/1/d/1u6fBSy3SXJBRG57NKyu0f2M8PTitZdetbZzDiw57eFE/edit?usp=sharing).

I can't quite make sense of this test of why it should pass.

https://w3c.github.io/performance-timeline/ says that the "navigation" entryType is

[2018-01-19 18:33] aboba opened #9110 "[WebRTC] RTCDtlsTransport-getRemoteCertificates.html : dependency on SctpTransport"
The purpose of https://github.com/w3c/web-platform-tests/blob/master/webrtc/RTCDtlsTransport-getRemoteCertificates.html  is to test the RTCDtlsTransport interface. However, because it depends upon support for the RTCSctpTransport interface, on a browser that does not support RTCSctpTransport, but does support RTCDtlsTransport, the tests will fail, regardless of how the RTCDtlsTransport interface i

[2018-01-19 18:35] aboba opened #9111 "[WebRTC] RTCIceTransport.html : dependency on SctpTransport"
The purpose of https://github.com/w3c/web-platform-tests/blob/master/webrtc/RTCIceTransport.html is to test the RTCIceTransport interface.  However, because it depends upon support for the RTCSctpTransport interface, on a browser that does not support RTCSctpTransport, but does support RTCIceTransport, the tests will fail, regardless of how the RTCIceTransport interface is implemented.

A better d

[2018-01-19 19:29] tabatkins commented on #9105
This is an important sub-point - in an attempt to reduce fingerprinting surface, Firefox at least is considering turning off the ability to reference installed fonts at all - all you have access to are the generic fonts and @font-face.  Relying on Ahem being locally installed would obviously be incompatible with this.

[2018-01-19 22:45] jgraham commented on #9105
Yes, obviously if browsers stop supporting system fonts we'll need to update all the tests to supply Ahem as a webfont. But I doubt that such a sweeping change will happen until that actually ships, given the difficulties of landing any changes to CSS tests. In the meantime it makes sense to improve the infra so that Ahem is available where possible.

[2018-01-20 03:28] gsnedders opened #9113 "Write a cssharness.js"
We should have something that can take a CSS property definition (in some format, probably JSON?) and generate a lot of tests based upon it, similar to what we have with idlharness.js.

We have a lot of tests that could be auto-generated from the property definition, especially in the CSS2 testsuite (and these are mostly reftests, which probably costs us a fair bit of time when we could test behav

[2018-01-20 03:36] emilio commented on #9113
FWIW Gecko has a `property_database.js` doing something of the sort:

  https://searchfox.org/mozilla-central/source/layout/style/test/property_database.js

Not perfect of course, but maybe a good starting point?

[2018-01-20 03:38] emilio commented on #9113
Automatic syntax tests from Bikeshed would be awesome, btw.

[2018-01-20 03:57] gsnedders commented on #9113
@emilio Yeah, I was looking over `property_database.js`, because for some reason I thought it generated the values, rather than having its long explicit lists.

[2018-01-20 04:05] gsnedders commented on #9113
FWIW: given the number of CSS2 tests we have that essentially test property parsing, I think the MVP here is something that can replace those, and that avoids some of the complexity from more recent specs.

[2018-01-20 08:13] foolip commented on #9113
I've wanted this too, if it's not too hard we should just do it. Like IDL, probably split per spec. @tabatkins, if one wants to extract all CSS syntax stuff (properties, values, pseudo-things, etc.) would one start from the Bikeshed source, or get it from shepherd?

[2018-01-20 09:29] tobireif commented on #9105
Making sure that any required assets (fonts, images, etc) are present is already necessary, for the reasons I described above. I had submitted tens or hundreds of potentially incorrect test results because the required font was not supplied.

Requiring the test-suite user to install a font is not necessary since @font-face is widely supported.

If every existing and future browser-based test (in e

[2018-01-20 18:50] csnardi opened #9114 "Travis builds not running"
There have been both new commits and PRs, but https://travis-ci.org/w3c/web-platform-tests/requests shows the last request for a build being https://travis-ci.org/w3c/web-platform-tests/builds/330750735. The [new commits](https://github.com/w3c/web-platform-tests/commits/master) only have GitHub pages builds and no Travis builds.

[2018-01-21 01:04] gsnedders commented on #9114
Somehow Travis CI had had the repo deactivated? o_O

Should be working now, and manually triggered a run of master.

[2018-01-21 01:04] #9114 closed

[2018-01-21 01:05] gsnedders commented on #9005
#9093 adds a load more.

[2018-01-21 17:51] guest271314 commented on #9113
Interestingly just encountered a bug (unless misinterpreting the specification) for CSS `url()` function implementation at both Chromium and Firefox. According to the specification

where  at HTML

`<div id="test-empty-string-at-css-url-function" style="background-image:url('')">div</div>`

results in `location.href` being set as the argument to the function

[code]

[2018-01-22 01:42] frivoal commented on #9105
Legacy tests are one thing. But new tests are another. I still do not understand why we discourage (as it: ask for it to be removed during code review) loading Ahem with `@font-face` in code reviews.

[2018-01-22 05:11] marcoscaceres opened #9119 "PaymentRequestUpdateEvent.updateWith() insufficiently tested"
The tests currently lack checks for incremental data updates, without trashing the data the `request` holds. Missing:

- [x] if only the total is passed.
- [x] If the displayItems member of details is present
- [x] If the shippingOptions member of details is present
- [x] If the modifiers member of details is present

And combinations of the above.

[2018-01-22 08:18] tobireif commented on #9105
It would be great if both categories could get fixed 😁

I'd gladly run the Grid test-suite again, and it would work out-of-the-box for every other new tester as well.

Seems strange to me as well. It's a great option for making sure that the required asset gets loaded . Adding @font-face lines is as normal and easy and OK as referencing an image using img src.

[2018-01-22 10:51] jgraham commented on #9105
So I certainly agree that getting people to use `@font-face` for new tests is a good idea.

For legacy tests I don't have any objection,  but I think what's requried is someone to do the work of updating all the tests and getting the change through code review. If you want to see this happen, I encourage you to be that person :) In the meantime we should also fix up the infrastructure to support i

[2018-01-22 11:08] tobireif commented on #9105
Sounds good to me!

Unfortunately, time doesn't allow me to fix the existing W3C web platform tests where the test author hadn't referenced required assets.

By the way, I don't think it would need to be done manually: a script could go through the files and add the lines for each test (or ideally just for each test that requires a font).

[2018-01-22 12:36] murillo128 opened #9121 "[WebRTC] missing EventTarget from webrtc.idl on idl interface test"
EventTarget is not defined on webrtc.idl, so some tests interface checks fails due to that.

`/interfaces/dom.idl` should be fetched for its definition.

[2018-01-22 14:58] gentlejack opened #9123 "labels"
is:open is:issue author:gentlejack no:milestone assignee:gentlejack

[2018-01-22 16:02] #9123 closed

[2018-01-23 03:43] csnardi commented on #9114
@gsnedders I think the first 5 PRs on https://github.com/w3c/web-platform-tests/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+label%3Achromium-export+-label%3A%22do+not+merge+yet%22 also need runs triggered if possible, or just manual merging.

[2018-01-23 04:07] gsnedders commented on #9114
@csnardi I've kicked them as well as I can; let's see if they get automerged after the builds run.

[2018-01-23 04:10] gsnedders commented on #9105
Do we want to require people using `@font-face` to include `local`? IIRC, someone had perf concerns about loading Ahem over the network for thousands of tests (though surely it's not really much worse than testharness.js, esp. with caching). If so, how do we lint for that? (I doubt we can do it well enough without parsing CSS…)

Do we want to lint that tests using Ahem include `@font-face`?

[2018-01-23 08:15] tobireif commented on #9105
If you mean that the @font-face would ref the font in a local dir - I think that nobody should be required to have anything locally. All the Ahem @font-face rules should point to the same location on the server.

Yep, I think that caching solves that issue.

[2018-01-23 10:34] foolip commented on #7899
As an input for prioritization, GC came up in both replies to my [Blockers to using web-platform-tests?](https://groups.google.com/a/chromium.org/d/msg/blink-dev/mVxq1zLYvYg/qcGjULW4CQAJ) thread. I didn't look at the WebRTC tests, but @atotic confirms that the ResizeObserver case could be serves by a GC helper, sync or async.

[2018-01-23 10:49] jgraham commented on #7899
@bzbarsky You seem like a good person to comment from a gecko point of view :)

[2018-01-23 10:52] alvestrand commented on #9106
The current hand-generated alternative by @soareschen is seen in https://github.com/w3c/web-platform-tests/blob/master/webrtc/RTCStats-helper.js - I think we can make this more maintainable by using IDL parsers.

[2018-01-23 13:12] bzbarsky commented on #7899
In gecko, there is no deterministic way to force "all of GC" to run.  In particular, the JS GC and cycle collector can both free up stuff that then causes the other to find more garbage.  In theory, this can go arbitrarily deep, depending on the cycle collection implementations.

In practice, Gecko tests that try to test GC stuff make certain assumptions about the structure of the graph and either

[2018-01-23 16:26] gsnedders commented on #9105
I meant requiring something like

[code]

which doesn't require it locally at all, but also avoids having to load it over the network if it exists locally, given whomever's concern about performance.

[2018-01-23 16:31] tobireif commented on #9105
Sure, as long as the font loads on machines where it's not installed locally it's fine 😁

[2018-01-23 17:24] liamquin commented on #9105
On Tue, 2018-01-23 at 16:26 +0000, Geoffrey Sneddon wrote:

Unfortunately there's no way to know you're getting the right Ahem font
- there's no support for something like
   font-vendor: "CSS WG";
   font-version-min: 1.03;
so someone who downloaded the Ahem font a decade ago will get their
version, and if anyone else makes, say, a Google font called Ahem, all
Ahem will break loose.

The font is

[2018-01-23 21:26] atotic commented on #7899
There are 2 assertions tests might be interested in after the gc() call:
1) assert that the object is still alive
2) that the object has been garbage collected

ResizeObserver asserts (1), object is still alive. It asserts that ResizeObserver continues broadcasting after JS reference to the observer has been dropped.

According to Boris, gc() with full collection guarantees cannot be implemented i

[2018-01-23 22:12] jgraham commented on #9105
I don't think we shoud worry about unattributed performance concerns at all, or attributed ones that aren't backed up with data.

The problem here — and I think it is the only problem — is simply figuring out how to land such a change given the general change-adverse culture of CSSWG.

[2018-01-23 22:16] gsnedders commented on #9105
@jgraham In this case I'm pretty sure the answer is ask for forgiveness and not permission. There are very few ways in which it is potentially worse (most notably I think dealing with implementations that don't support TTF fonts).

[2018-01-23 22:30] bzbarsky commented on #7899
It's not just Firefox, fwiw.  WebKit's GC, according to the recent post at <https://webkit.org/blog/7122/introducing-riptide-webkits-retreating-wavefront-concurrent-garbage-collector/>, includes a conservative stack-and-register scanner.  That means that it can never _guarantee_ that something gets collected; it's possible that some random integer on the stack looks like a pointer to your object a

[2018-01-23 22:36] atotic commented on #7899
Correct. The test is whether ResizeObserver keeps broadcasting. The reason for this test is that some Chrome GC changes caused RO to be collected and stop broadcasting when JS reference count went to 0. I created a test to make sure it does not happen again.

[2018-01-23 23:43] gsnedders opened #9169 "test_main_with_args in tools/lint failing"
This got broken by 19c79185c1d4978aeb7191494541711ca4f3a582. And myself and @jgraham forgot that I said I'd fix it before it got merged here.

[2018-01-24 00:31] gsnedders opened #9171 "Lint can regress on master because CSS-COLLIDING-* lints don't get all paths"
[code]

This seems to have started failing with 1f69b4225e6c424b85b7a90b3851a72bf8915b60 from https://github.com/w3c/web-platform-tests/pull/9089 (where CI passed, including lint).

The underlying cause of this is that in CI we call lint with only the changed paths, and the CSS-COLLIDING-* lints need to know all filenames to consider whether they collide or not.

cc/ @jgraham

[2018-01-24 05:51] frivoal commented on #9105
The change-adverse culture of the CSSWG is mostly about dislikeing removal of previously available information.

This does no such thing, and I don't see why anybody would complain.

As far as my memory goes (and it may be failing), @gsnedders is the one who was telling me not to include `@font-face` rules for Ahem.

Are there any such things outside of historical implementations?

Even if that's

[2018-01-24 09:54] tobireif commented on #9105
(re TTF: WOFF might be the most-widely supported web font format) (plus WOFF2 for perf)

[2018-01-24 10:57] foolip commented on #9169
PR for this is up at https://github.com/w3c/web-platform-tests/pull/9170.

[2018-01-24 11:13] jonleighton opened #9178 "wptrunner's TestEnvironment.test_servers seems to work incorrectly"
[This method](https://github.com/w3c/web-platform-tests/blob/master/tools/wptrunner/wptrunner/environment.py#L221-L235) is supposed to ensure that the HTTP servers have finished booting before testing proceeds.

However, when running refspecs against Servo on my machine, I get failures because one of the screenshots contains a "connection refused" error page.

Adding `time.sleep(5)` to the top of

[2018-01-24 11:23] foolip commented on #6293
@kereliuk, this is still assigned to you, is this fixed now, or not possible to reproduce?

[2018-01-24 11:25] foolip commented on #6329
@gsnedders, do we have any use for this tracking issue, or should we just close it and keep https://github.com/w3c/web-platform-tests/issues/6327? The priorities aren't the same, which is weird given the connection :)

[2018-01-24 11:28] foolip commented on #5947
@mattl, do we have enough data in https://pulls.web-platform-tests.org/ to be able to work out how often there's a problem with any kind of run? At some point we want flakiness in all browsers to not go unnoticed, but it's scary to make failures blocking in Travis without knowing how often it happens.

Given that we actually don't have any work planned for this soon, I think it's more honest to ca

[2018-01-24 11:33] foolip commented on #7570
@Hexcles, in terms of Blink infra work, this sounds a bit similar to the assumptions made in https://crbug.com/800570 about variants. Is this a similar case, that we can/should fix in Blink, or would it be better to just have a lint as suggested?

[2018-01-24 11:35] foolip commented on #7784
This came up in bit.ly/ecosystem-infra-rotation today. This work is planned for this quarter so the priority label is actually correct, see details in [Changes to Web IDL in specs automatically propagate to wpt PRs](https://docs.google.com/document/d/1ojlLDiRruI4e95Z7JQ10JQPRMiQHd_40rBkYCL6IJqw/edit#heading=h.4tiwxmm3syiq).

[2018-01-24 11:35] henbos commented on #5760
I've added plenty of tests for this during the last quarter, if we need more tests for a particular use case we can file separate bugs or just add them. Closing this issue.

[2018-01-24 11:35] #5760 closed

[2018-01-24 11:35] jgraham commented on #9105
FWIW, I think if there's support for doing this, someone will review the change, and we aren't going to get bogged down in edge cases, or told that the WG have to have a F2F discussion that blocks landing the change, it might be worth upping the priority here. It would solve a real problem in that the current code we have to install the fonts is somewhat invasive (since it changes system configura

[2018-01-24 11:53] foolip commented on #8112
These test names come from two places:
https://github.com/w3c/web-platform-tests/blame/f686b082547eeb52960150fc8bc1a60b41b358ef/resources/idlharness.js#L1151
https://github.com/w3c/web-platform-tests/blame/f686b082547eeb52960150fc8bc1a60b41b358ef/resources/idlharness.js#L1282

Looks like @Ms2ger added these bits, and it's the second one that was failing here. @Ms2ger, is it deliberate that the nam

[2018-01-24 11:57] foolip commented on #6565
Ran into it again on a Mac. @gsnedders, it's the duplication of documentation that makes this non-trivial to fix, so assigning to you :)

[2018-01-24 12:04] henbos opened #9180 "Add "expects" (not just "asserts") to testharness"
In WPT it would be useful to expect something - resulting in a PASS or FAIL line in the -expected.txt - without necessarily aborting the test if it FAILs like "asserts" do.

For example, in WebRTC, features are often shipped with partial support. In particular, WebRTC has gone through three stages for how to handle media - "addStream & getLocalStreams" (deprecated), "addTrack & getSenders" (curren

[2018-01-24 12:04] henbos commented on #9180
FYI @foolip @alvestrand we talked about this, I filed this bug.

[2018-01-24 12:08] foolip commented on #8112
Sent https://github.com/w3c/web-platform-tests/pull/9181 to fix the specific problem, resulting in 8 fewer failures in both Chrome and Safari.

[2018-01-24 12:10] foolip commented on #5998
@Hexcles, should this also be backlog like https://github.com/w3c/web-platform-tests/issues/8285? Are they dupes?

[2018-01-24 12:15] foolip commented on #5563
I think this issue is a dupe of these two together:
 * [Tests involving "permissions" API/UI](https://github.com/w3c/web-platform-tests/issues/5671)
 * [Need mock MediaStream data for some WebRTC tests](https://github.com/w3c/web-platform-tests/issues/7424)

Both assigned to kereliuk@, but the second is still blocked on having a WebDriver proposal. Will comment there instead.

[2018-01-24 12:15] #5563 closed

[2018-01-24 12:16] foolip commented on #7424
@agouaillard, can you poke this issue when you have an update on https://github.com/w3c/web-platform-tests/issues/5563#issuecomment-297281843?

[2018-01-24 13:13] frivoal commented on #9105
I suggest agreeing on a standard way to embed Ahem first, then making a lint and an update to the documentation, to make sure the problem stops getting worse, then sending one (or more) PR per spec. 1 PR for the whole of CSS is unlikely to get anyone to review it.

[2018-01-24 16:00] Ms2ger commented on #8112
I think so, for symmetry, but I don't feel strongly.

I think adding a check would make most sense here. I don't think we have a good way to deal with things that are definitely bugs in the test, so `assert_own_property` would be best, I guess.

[2018-01-24 16:01] Hexcles commented on #5998
@foolip I am not exactly what this issue originally was. It could be something different, as no one mentioned exceptions.

[2018-01-24 16:10] #6329 closed

[2018-01-24 16:10] Hexcles commented on #7570
@foolip after the refactor done in https://crbug.com/800570, it's indeed a bit easier to change the code to include extensions in test names. However, changing the naming scheme as such would require renaming all existing baselines. And someone still needs to fix WebKit infra, too.

[2018-01-24 16:13] gsnedders commented on #9105
@frivoal I suspect nobody will review such a huge change even if split up; realistically I think the sane way to land it is just to check it doesn't change results (or even writing custom code and checking it doesn't change any screenshot).

[2018-01-24 17:15] #9169 closed

[2018-01-24 17:34] foolip commented on #7570
@youennf, any thoughts on what we should do here?

@thejohnjansen is this creating trouble for EdgeHTML's use of WPT?

[2018-01-24 17:46] foolip commented on #6327
@thejohnjansen, do you have any update on https://github.com/w3c/web-platform-tests/issues/6327#issuecomment-312008545, something we could use both for the Travis CI runs and for wpt.fyi?

And does anyone know how widespread this issue? https://wpt.fyi/css/css-overflow/input-scrollable-region-001.html is one reftests that's passing in Edge and it's easy to find more, so at least not all reftests a

[2018-01-25 01:52] frivoal commented on #9105
I will review it for the specs I edit. That's not enough, for every spec, but "nobody will do it" is not true :)

As for checking that it doesn't change results or doesn't change screenshots, that's great of automated tests, but we (unfortunately) also have quite a few tests which are not.

Maybe we can automatically validate that all the reftests and visual tests and testsharness tests are update

[2018-01-25 07:15] annevk commented on #5998
If you follow the link in OP and then expand the results from the bot you'll find "Loading dataâ�¦" and various other errors meaning the bot did not decode using UTF-8.

[2018-01-25 08:24] fred-wang commented on #8482
@svgeesus So it looks like WOFF2 is now proposed recommendation. So I guess we can consider these changes again now?

[2018-01-25 10:39] gsnedders commented on #9171
One obvious solution could just be to make `css/` all get linted any time a thing in `css/` changes.

[2018-01-25 11:24] foolip opened #9195 "wpt-pr-bot is down"
The last PR where @wpt-pr-bot did anything appears to be https://github.com/w3c/web-platform-tests/pull/9182, starting with https://github.com/w3c/web-platform-tests/pull/9183 no reviewers are added, and https://github.com/w3c/web-platform-tests/pull/9184 is a Chromium export which wasn't auto-approved and so cannot be merged.

Assigning @tobie since this is part of https://github.com/tobie/ganesh

[2018-01-25 11:31] tobie commented on #9195
Unexpected API changes: https://developer.github.com/changes/2018-01-24-end-thor-preview/

[2018-01-25 11:54] tobie commented on #9195
So this fixed it. the error logging worked as planned and allowed me to find the root cause in seconds, only problem is it wasn't alerting me. This has now been fixed, so long outages like this shouldn't ever happen again.

[2018-01-25 11:55] tobie commented on #9195
Commenting on the issues that were missed by the bot should trigger it. I don't have an automated way of doing this for now. Apologies.

[2018-01-25 12:00] foolip commented on #2211
These tests were added in https://github.com/w3c/web-platform-tests/pull/4084 by @zcorpan. Yay!

[2018-01-25 12:00] #2211 closed

[2018-01-25 12:20] foolip commented on #9195
Apology not accepted, not needed, thank you for fixing this so quickly! I guess I can close the issue, or is there something more to do?

[2018-01-25 12:41] foolip commented on #4519
OK, so https://github.com/w3c/web-platform-tests/pull/6143 was superseded by https://github.com/w3c/web-platform-tests/pull/8504 and is merged. And now http://w3c-test.org/notifications/constructor-basic.html does fail immediately with NOT RUN "You must allow notifications for this origin before running this test". Awesome, last I tried there was no way to achieve this, I didn't even know this is

[2018-01-25 12:41] #4519 closed

[2018-01-25 13:19] foolip commented on #8434
@Hexcles I'm not sure that actually works, because @chromium-wpt-export-bot is the one creating the PR and the committer. Can you try commenting a bit on https://github.com/w3c/web-platform-tests/pull/9107 so I can see what kind of email I get? The reason I think it doesn't work is that I haven't been getting any spam from @w3c-bots, which would have greatly annoyed me :)

Because of @w3c-bots, I'

[2018-01-25 13:23] foolip commented on #7598
This is in the list of issues for [Resolve known important infra issues for wpt](https://docs.google.com/document/d/1ojlLDiRruI4e95Z7JQ10JQPRMiQHd_40rBkYCL6IJqw/edit#heading=h.khrf1xe3i7e5).

@gsnedders, maybe we can limit this issue to just cases where https://w3c.github.io/webdriver/webdriver-spec.html#set-window-rect actually works, and punt on the mobile browser problem? I basically don't thin

[2018-01-25 13:30] annevk commented on #8434
Ideally I could just complain in a merged/open PR and not have to track it myself afterwards to make sure something actually gets done. I'd be open to opening a new issue, but I'm not sure we do good enough triage on those.

[2018-01-25 14:10] foolip commented on #8434
My experience is that most people miss GitHub email very easily for a variety of reasons, so anything that just notifies people using the normal way probably won't have a high success rate.

This sounds like overkill, but maybe we could automatically add a label to all issues that get comments by humans, and have a triage for that label? @Hexcles, other ideas?

[2018-01-25 14:56] tobie commented on #9195
No, I think we're good.

[2018-01-25 14:56] #9195 closed

[2018-01-25 15:48] Hexcles commented on #8434
@foolip Just commented. Did you get any email?

The reason I think it works is that the author is also listed as a participant of the PR on the right, along with the bots. And I do get emails from @w3c-bots (once per PR, as the bot updates the comment instead of creating new comments).

One point I forgot is that even if a Chromium engineer adds their email to their GitHub account, they may not ro

[2018-01-25 17:09] foolip commented on #8434
Nope, I didn't get any email, as expected. And I do redirected GitHub email so that repos in the w3c org end up with my work email.

[2018-01-25 20:32] gsnedders commented on #2669
So, status update:

https://github.com/w3c/web-platform-tests/pull/8614 is taking more time than I expected, but I think is now basically done. I've spent today writing some tests for it, and found one or two other issues around wptrunner. I'll start on this, on top of that branch, tomorrow or Monday; I don't think this will take more than a day or two, so hopefully we get it all landed in January

[2018-01-26 04:22] foolip commented on #9180
@henbos, would this pattern work for you?
[code]

[2018-01-26 08:44] henbos commented on #9180
Oh that's interesting! That would probably do it, yes.

[2018-01-26 08:54] foolip commented on #9180
@henbos, can you try it and see if it's good enough? Trouble with adding "expects" is that we'd have to figure out how to report at least failures separately, and this does achieve that.

I'm going to label this is roadmap, and if when it's revisited in 60 days it seems good enough, we'll close it.

[2018-01-26 10:48] jonleighton commented on #9178
Well, I've tried to repro this morning and don't seem to be having the problem any more. After I reported this I did end up trying to upgrade my operating system, which went wrong and I had to do a fresh install. So I'm now running on a substantially different system.

Anyway, I'll close this for now and reopen if I run into the issue again.

[2018-01-26 10:48] #9178 closed

[2018-01-27 12:24] foolip opened #9213 "Parts of WebRTC require generating RTP to test"
See discussion starting at https://github.com/w3c/webrtc-pc/issues/1734#issuecomment-359023684.

And MCU is a Multipoint Conferencing Unit.

In that issue, the underlying problem is that https://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource-audiolevel depends on https://tools.ietf.org/html/rfc6465 and a particular header in RTP being used.

To test this would require something similar in c

[2018-01-27 12:25] foolip commented on #9213
For why this matters, in https://github.com/w3c/webrtc-pc/issues/1734 some changes were made that weren't really possible to test well, and as a result the tests that *did* exist were also not updated.

[2018-01-27 17:48] foolip commented on #9213
What is the list of stuff that happens on the network before media data is being sent over RTP, at minimum? My guesses from afar:
 * Not TURN, in case the clients can make a direct connection
 * STUN? If not trying to test STUN itself, could one construct a RTCIceCandidateInit by some other, simpler means?
 * DTLS handshakery
 * SDP goes over some protocol presumably? RTP?
 * RTP media data flows

[2018-01-28 03:04] alvestrand commented on #9213
STUN in peer to peer mode (getting your own and each other's addresses) is exercised as part of the peer-to-peer connection, so it's not a problem.
Testing STUN in simple NAT mode requires a NAT (so that external and internal addresses are different) and a STUN server. You can generate 127.0.0.1 candidates "by hand", but have to know your own port number - that would require looking at stats to fi

[2018-01-28 06:08] gsnedders commented on #9092
https://wpt.fyi/css/CSS2/zorder?sha=a9ed3553eb — Safari seems to pass this now, oddly.

[2018-01-28 12:46] frivoal commented on #5460
I believe the text is correct. The implementation bug seems to be that browsers ignore this requirement from [CSS2](https://www.w3.org/TR/CSS2/text.html#white-space-model) (which is also in [CSS-TEXT-3](https://drafts.csswg.org/css-text-3/#white-space-phase-1)):

Check this example: http://jsbin.com/locakid/edit?html,output
Browsers do bidi white space collapsing correctly when markup / css is cre

[2018-01-28 13:22] frivoal commented on #5461
Interesting. Edge might actually be correct here. Going by CSS-Text-3, I believe the following should happen:

Therefore, the spaces at the beginning of line 37 (before LLL) are removed

These rules are there: https://drafts.csswg.org/css-text-3/#line-break-transform
and following them, the segment break at the end of line 36 is converted to a space (U+0020).

That space ends up in the middle of t

[2018-01-28 13:25] frivoal commented on #5461
Note: either way, regardless of whether the bug is in Edge/other browsers/the spec, it's a CSS2 / CSS-Text-3 bug, What's in scope for CSS-Writing-modes (bidi reordering itself) is working as intended.

[2018-01-28 13:25] frivoal commented on #5460
Note: either way, reglardless of whether the bug is in browsers or the spec, it's a CSS2 / CSS-Text-3 bug, What's in scope for CSS-Writing-modes (bidi reordering itself) is working as intended.

[2018-01-28 16:04] csnardi commented on #9092
I think there's something wrong with that Safari run, see e.g. https://wpt.fyi/css/css-color?sha=a9ed3553eb where Safari passes tests with lab/lch that no browser has implemented yet.

[2018-01-28 23:20] gsnedders commented on #9113
The other thing that strikes me here is that a lot of what we want to test would be much easier with CSS Typed OM, but obviously we can't rely on that any time soon. :(

[2018-01-29 14:04] fred-wang commented on #6289
@pyfisch I submitted #9228 , but I used document.scrollingElement so that the test works in WebKit too.

[2018-01-29 14:18] #9056 closed

[2018-01-29 14:51] Ms2ger opened #9230 "Rename OWNERS files"
CC @foolip @tobie

I've been getting comments from people who interpret them as "only people in this file can review tests". Unless there's a good reason to keep using the name, let's change it.

[2018-01-29 14:52] Ms2ger commented on #9230
https://github.com/tobie/ganesh/search?utf8=%E2%9C%93&q=OWNERS&type=

[2018-01-29 15:02] foolip commented on #9230
Renaming would be fine with me. REVIEWERS would have some of the same liabilities.

WATCHERS? Trouble there is you wouldn't really expect anyone who's just watching to do anything. But maybe that's a problem of reliable triage of outstanding reviews, it's certainly a problem now too.

[2018-01-29 15:33] gsnedders commented on #9230
But per our docs we don't expect people in OWNERS to do anything today, so that doesn't seem like a change?

[2018-01-29 15:58] gsnedders opened #9232 "{{domains[non-existent]}} doesn't work"
[code]

Fundamentally, this is because `config.domains` is a dict that only includes domains that actually exist. It means non-existent can only be referred to as `non-existent.{{host}}`.

[2018-01-29 17:45] foolip commented on #9230
I mean that the people sending PRs wouldn't expect anything, but maybe it's good that they expect nothing when that's often what they get. Although, if they don't know where the list of reviewers came from, they'll probably still be pleasantly surprised for a day or two until they notice no reactions :)

So, yes, I'm fine with renaming to something else. In Chromium we have [WATCHLISTS](https://de

[2018-01-29 23:01] fantasai commented on #5461
Test seems to be passing on Firefox 58 for Linux. Maybe there's some kind of font kerning issue?

[2018-01-30 01:58] fantasai commented on #5461
I guess the key question is: if we set the test to use Ahem (which should not be pushed to WPT since it can't represent bidi reordering) or the Last Resort font, does it still fail? If so, it's a layout bug. If not, it's probably some complication of font rendering across bidi boundaries.

[2018-01-30 02:09] fantasai commented on #5460
Florian filed the spec issue at https://github.com/w3c/csswg-drafts/issues/2233 fwiw.

[2018-01-30 13:23] yoavweiss opened #9256 "ResourceTiming secureConnectionStart tests don't work on https"
https://bugs.chromium.org/p/chromium/issues/detail?id=799843

Need to fix those tests to make sure they pass on (and test) both protocol schemes.

[2018-01-30 19:37] Fu22yWu22y opened #9287 "Div Tag not allowed in LI"
From what i get from this
http://w3c.github.io/html/single-page.html#elementdef-dl
"The dl element represents a description list of zero or more term-description groups. Each term-description group consists of one or more terms (represented by dt elements) possibly as children of a div element child, and one or more descriptions (represented by dd elements possibly as children of a div element chi

[2018-01-31 02:35] frivoal commented on #5461
The test does pass in Firefox (and Chrome, and Safari). It doesn't pass in Edge, but I'm thinking Edge may be correct, while the test (and other browsers that pass it) are wrong.

It is not a kerning issue, Edge clearly preserves a space where other browsers do not: at the end (i.e. left after bidi reordering) of the logical `FFFEEEDDD` / visual `DDDEEEFFF` run.

As far as I can tell (see details

[2018-01-31 07:36] foolip opened #9300 "css/WOFF2 tests overlap with woff2-compiled-tests repo"
These are very similar:
https://github.com/w3c/web-platform-tests/tree/master/css/WOFF2
https://github.com/w3c/woff2-compiled-tests/tree/master/UserAgent/Tests/xhtml1

Someone built from https://github.com/w3c/woff2-tests/blob/master/generators/UserAgentTestCaseGenerator.py

People who have poked at the woff2-compiled-tests repo are @rsheeter and @khaledhosny.

Looks like @svgeesus imported the te

[2018-01-31 07:40] foolip commented on #9300
Hmm, the times of these commits give a clue:
https://github.com/w3c/web-platform-tests/commit/5e10afdc69111c73be880f2048093aeb3fb48187
https://github.com/w3c/woff2-tests/commit/64c51c131040de1bf098c93723f57c2861a1bfde

Seems like the tests must have existed in a third place that both were sourced from?

[2018-01-31 08:45] foolip opened #9304 "Lint is failing on css/css-fonts/cascading-font-sizes.html"
Added in https://github.com/w3c/web-platform-tests/commit/8e05b1114fe6510415a6de81ac9689e1f492e6e9 and somehow got past Travis.

[2018-01-31 08:46] foolip commented on #9304
Noticed because https://ci.chromium.org/buildbot/chromium.infra.cron/wpt-importer/ is failing. (It runs the lint before uploading the changes to Chromium code review.)

[2018-01-31 08:49] foolip commented on #9304
It looks like there is no recent PR which brought in these changes, which would explain why Travis has not run. Trying to figure out how they ended up on master...

[2018-01-31 08:55] foolip commented on #9304
Hmm, so a02f1bcf2d3c7ccc4ca9d51a5da7c508c243d69d is the topmost commit on master, and as a self-contained commit that seems to make sense. But its parent commit was a merge commit, a backwards one which would have results from `git pull`. So probably this was an attempt to push a branch to create a PR, that went wrong because of the tracking branch being origin/master, so something like that.

But

[2018-01-31 09:01] foolip commented on #9304
Anyway, a02f1bcf2d3c7ccc4ca9d51a5da7c508c243d69d and the commits merged by 63c87e573197ae817389c7dcbf765c2979570e10 together account for the changes. The merge commit appears to have been accidental, so I'll revert that while leaving a02f1bcf2d3c7ccc4ca9d51a5da7c508c243d69d alone, let's say I've reviewed it.

[2018-01-31 09:20] #9304 closed

[2018-01-31 13:04] foolip commented on #9287
This is a question about HTML document conformance. https://github.com/whatwg/html is the place to file such issues, or https://github.com/validator/validator for the validator.

[2018-01-31 13:04] #9287 closed

[2018-01-31 16:18] Hexcles commented on #9304
Thanks for fixing this!

[2018-01-31 16:44] gsnedders commented on #9304
I've asked @svgeesus not to push directly to master before, as it isn't the first time he's caused lint failures that couldn't have landed had they gone through CI. :(

[2018-01-31 17:31] svgeesus commented on #9304
Apologies for causing trouble.

Yes, that is the one I was trying to commit. I didn't ask for review because the substance of the tests had not changed (just the spec link was bumped from Fonts 3 to Fonts 4, as that section of the spec was deferred to level 4).

I will do PR from now on, so that Travis CI can run.

[2018-02-01 06:58] #3374 closed

[2018-02-01 18:49] loonybear opened #9345 "pipes sub and headers do not work in a desired way"
In my top-level document, I created an `iframe` with src with pipes:
`https://{domains[www]}}:{{ports[https][0]}}/path.https.sub.html?pipe=header(Header, value)`

Then inside of the iframe's document, I was trying to create other iframes with sub srcs (i.e., `https://{domains[www]}}:{{ports[https][0]}}/...`). I realized that those srcs are not being substituted by the server variables.

It turned

[2018-02-01 18:49] loonybear commented on #9345
@Hexcles

[2018-02-01 18:54] Hexcles commented on #9345
cc @gsnedders @jgraham

As @gsnedders pointed out earlier on IRC, there might be one or two bugs here. The combination of the `.sub` filename extension and the `?pipe=header` query parameter *might* be equivalent  to `?pipe=header()|sub`, both of which don't work as intended.

[2018-02-01 19:41] foolip opened #9346 "Test :user-error after input and focus change"
https://github.com/w3c/web-platform-tests/pull/8899 introduced a basic test for `:user-error`, but in https://github.com/w3c/csswg-drafts/issues/1329#issuecomment-360940438 @fantasai also agreed that testing against this condition would be in line with the spec:

typing at least one character and then moving the focus to another input element

This is blocked on https://github.com/w3c/web-platform

[2018-02-02 01:29] youennf opened #9354 "Write video codec agnostic tests"
Several tests are ogg specific at the moment, like the newly video service worker tests.
It would be good if there was a way to ensure that tests are made video codec agnostic.
There is already some tooling in /common (media.js and media files) to create video codec agnostic tests.

[2018-02-02 01:30] youennf commented on #9354
ccing @matto, @foolip

[2018-02-02 01:31] agouaillard commented on #9354
ccing @soareschen

[2018-02-02 04:43] khaledhosny commented on #9300
https://github.com/w3c/woff2-tests contain the scripts that generates the tests, https://github.com/w3c/woff2-compiled-tests contains the output of running these scripts.

[2018-02-02 05:11] foolip commented on #9300
@khaledhosny what was the source of the templates in UserAgentTestCaseGenerator.py in https://github.com/w3c/woff2-tests/commit/64c51c131040de1bf098c93723f57c2861a1bfde?

[2018-02-02 06:24] khaledhosny commented on #9300
The WOFF test suite https://dev.w3.org/webfonts/WOFF/tests/.

[2018-02-02 11:34] mattto commented on #9354
Thanks for filing this (though my username is mattto with three t's (sorry)). To be honest I know very little about codecs and found that file already in the repo with other tests using it in. Are any of the other files in https://github.com/w3c/web-platform-tests/tree/master/media "codec agnostic".

I also see I used the wrong Content-Type, it's saying webm for the ogv file: https://github.com/w3

[2018-02-02 20:05] inexorabletash opened #9367 "payment-request/interfaces.https.html redundantly tests DOM"
`payment-request/interfaces.https.html` pulls in the dependent `/interfaces/dom.idl`, but uses `add_idls()` instead of `add_untested_idls()`, so assertions (may) fail for unrelated issues over in DOM.

(should be an easy fix)

[2018-02-03 06:11] fantasai commented on #9346
Would it be possible to try writing a test with regular keypress events (and maybe .focus() to shift the focus)? I'd expect that will pass: although an UA could in theory decide not to allow scripts to trigger `:user-invalid`, it seems easier from an implementation perspective (and not really harmful in a practical sense) to not screen them out.

If you make it a self-describing reftest, then the

[2018-02-03 18:19] jonleighton opened #9374 "Tests with a "font" meta flag are marked as manual"
Per http://web-platform-tests.org/writing-tests/css-metadata.html, the "font" meta flag means this:

Such tests are marked as manual, which was implemented in 321e622e6cdb2690292dcabef2db1e9d98710d5a.

This seems strange to me - there's no particular reason these tests cannot be run in an automated fashion, they just have a certain prerequisite for the environment. See e.g. [this test](https://git

[2018-02-03 18:30] jonleighton commented on #9374
Note: those tests which have the "font" meta flag, but that aren't written as refspecs, would need to be renamed to include the "-manual" suffix.

[2018-02-03 21:01] jonleighton opened #9375 "Ahem Extra fonts match generic font names under fontconfig"
This is more of a developer annoyance than a problem with the test suite, but when I install the Ahem Extra fonts, my system gets messed up:

[code]

This causes the Ahem fonts to show up in unrelated applications and so on.

It does also mean that when running the tests, sections of text which have a generic `font-family` will get rendered using Ahem (though that's implementation-dependent, but i

[2018-02-03 21:12] gsnedders commented on #9374
@jonleighton to change this, we'd need a way to declaratively state what the preconditions are (which the existing CSS test metadata didn't have), and put that in the manifest, to be able to install the fonts automatically when running them.

[2018-02-03 21:12] gsnedders commented on #9374
And, realistically, I think it's probably a better use of time and effort to move them over to use `@font-face` (where possible) than it is to add such metadata.

[2018-02-03 21:22] jonleighton commented on #9374
Why would we need that? IMO it seems reasonable to say that some tests will fail unless the necessary fonts are installed, but maybe I am missing something.

I agree that making more use of `@font-face` seems like a good direction. Presumably there will always need to be some tests that rely on system fonts though. But maybe none of those tests need to rely on the custom fonts used by WPT...

[2018-02-04 00:01] igrigorik commented on #9109
The navigation is the test page itself. Per spec, NT calls "queue entry" (step 28) after load event finishes execution, which should queue a PerformanceNavigationEntry into the observer. In theory, the PO registration should happen before load event fires and we'd expect the NT entry to be observed via PO. Except, it looks like that's not the case here.

We probably need to rework the test to make

[2018-02-05 11:44] gsnedders commented on #9375
This is inevitable, given they're used for testing font names that collide with the CSS generic font-family keywords. Notably, per CSS, `font-family: "serif"` and `font-family: serif` have different semantics: only the latter matches the generic CSS serif, and the former matches a font-family whose name is "serif".

Obviously with font-config's behaviour this makes them pretty much impossible to i

[2018-02-05 11:47] gsnedders commented on #9354
Note we have /common/media.js which is used by various tests to get a support media type.

[2018-02-05 15:24] jonleighton commented on #9375
Right, thanks for explaining. I'll close this one then.

[2018-02-05 16:03] Orphis opened #9395 "RTCRtpSender.get/setParameters() test coverage"
We currently have no coverage for RTCRtpSender.getParameters() and little for setParameters(). We should have better coverage.

[2018-02-05 16:54] jgraham commented on #8525
Or use something other than the status to determine which jobs to run. But maybe it's fine to just catch all exceptions and change the exit status to be not 1 in that case.

[2018-02-05 16:58] gsnedders commented on #9375
Let's reopen, we should probably add a readme saying what they're for…

[2018-02-05 17:29] #9367 closed

[2018-02-05 19:56] vedantc98 commented on #8806
I'd like to work on this issue, can I take it up?

[2018-02-05 20:46] kereliuk commented on #9346
@foolip Sounds good!

[2018-02-06 14:21] foolip commented on #8806
@vedantc98, absolutely, just send pull requests when you have something work, and request review from someone who might know some background. Given https://github.com/w3c/web-platform-tests/issues/8806#issuecomment-354833481 maybe @gsnedders?

[2018-02-06 23:24] thejohnjansen opened #9415 "In the HTML/DOM tests (html/dom/reflection-tabular.html for example) encoding is messing up test names"
There are a bunch of strings being used to set attribute values including different forms of white-space. Good tests! However, in addition to the actual test content containing those white-space characters, the test NAMES include them as well. This make wpt.fyi a bit confusing and it completely breaks my internal analyzer because I don't deal with identical test names.

I was going to fix it quick

[2018-02-07 02:14] vedantc98 commented on #8806
@gsnedders Should it be enough to test the string href for `about:blank` on this line:
[https://github.com/w3c/web-platform-tests/blob/master/tools/lint/lint.py#L433](url)?

[2018-02-07 02:54] vedantc98 commented on #8806
Please review the above, thanks 😄

[2018-02-08 15:31] alvestrand opened #9438 "Need to modify test to deal with setDirection being removed"
https://github.com/w3c/webrtc-pc/pull/1647 modified the API, but didn't update the test.

[2018-02-08 20:04] thejohnjansen opened #9443 "Need to extend the timeout for some tests"
I was running the media-source/interfaces.html (for example) and notice we passed about 92 of the 98 tests, and all of those results were written to the page, but after it finished, the harness said "Harness Status: TIMEOUT". As I said, all the tests seem to have run correctly, so I'm not sure why we get the TIMEOUT message. This messes up reporting, like on https://wpt.fyi/media-source/interfaces

[2018-02-08 20:07] thejohnjansen commented on #8154
Yes, the scope of this issue is accurate. I'm sorry for the initial confusion (and for not responding, I'm apparently not getting GitHub notifications). I was looking at a test file in the WebDriver directory and clicked to file a new issue, so I thought the issue would include the context of what I was looking at. It did not :-)

[2018-02-09 04:59] darrnshn commented on #9113
+1 css-typed-om tests would benefit a lot from something like this.

[2018-02-09 10:43] Orphis commented on #9395
I don't find the coverage satisfactory. We should have more tests, for example that calling getParameters() after a setParameters() call return a similar struct.

[2018-02-09 15:01] #6556 closed

[2018-02-09 19:07] jugglinmike commented on #6852
I've been trying to recreate this problem locally, but I haven't had any luck.
It's my understanding that the WPT CLI uses the built-in `argparse` module in a
pretty standard way and that the `argparse` module handles this case without
issue.

@jeffcarp and/or @jgraham: could you weigh in on this? I would like to remove
some code in the WPT dashboard project that modifies the WPT CLI.

Here's my a

[2018-02-09 20:20] jeffcarp commented on #6852
@jugglinmike thank you for looking into this, interaction between Python & the shell (and ignorance thereof on my part) sounds like it could very well be the cause for this. One idea is that the wpt.fyi test runner uses [suprocess.call](https://github.com/w3c/wptdashboard/blob/master/run/run.py#L193), maybe the arguments are formatted incorrectly there.

Fyi closing this issue also closes part of

[2018-02-09 20:26] jgraham commented on #6852
Try writing it as `["--sauce-platform", "windows 10"]` in the `call`. Certainly spaces are expected to work (and quoting in that case is not).

[2018-02-09 21:07] jugglinmike commented on #6852
Thanks Jeff and James! That's a good point about `subprocess.Poopn` versus `subprocess.call`, Jeff. To avoid doubt, I've modified that script to use the latter:

[code]

...and I see the same results. So I think this issue is safe to close!

[2018-02-09 23:57] jugglinmike commented on #9180
I advise against authoring tests in such a way where the number of sub-tests is dependent on the implementation status. Doing so makes results very hard to interpret:

- Within implementations: someone vetting implementation progress over time will be in for a surprise when their pass/fail rate *decreases* following the completion of some feature.
- Between implementations: web developers trying t

[2018-02-12 16:15] jugglinmike opened #9481 "WPT CLI: Errors raised during environment initialization cause invalid output"
If the WPT CLI encounters an error when initializing an "environment," an empty file is created for the `--log-wptreport` option. Because the empty string is not valid JSON, users must take special care when interpreting the contents of that file.

This is observable when using the Sauce Labs service to run WPT, and the Sauce Connect tunnel fails to open. These conditions can be consistently repro

[2018-02-12 20:45] thejohnjansen commented on #9443
Found it as a param to wpt: --timeout-multiplier N

[2018-02-12 20:45] #9443 closed

[2018-02-13 00:47] jeffcarp commented on #6852
Thanks @jugglinmike, will close now and when I get the chance I'll try removing this patch from wpt.fyi. I'll reopen if I run into anything.

[2018-02-13 00:47] #6852 closed

[2018-02-13 02:16] jugglinmike commented on #6852
Great! I've opened a pull request to remove the patching logic: https://github.com/w3c/wptdashboard/pull/457

[2018-02-13 02:42] jeffcarp commented on #6852
Fantastic, thanks so much!

[2018-02-13 05:30] foolip commented on #9438
@adam-be, can you take a look?

[2018-02-13 12:44] foolip commented on #9395
Yeah, that makes sense. setParameters() returns a promise, so there should be test verifying *when* the new parameters are returned from getParameters(). The way the spec is written, they shouldn't take effect immediately, at least.

[2018-02-13 17:43] foolip commented on #8806
@vedantc98 that looks good to me, can you submit it as a PR against this repo?

[2018-02-13 18:32] gsnedders commented on #8806
The PR already exists as #9421.

[2018-02-13 20:03] alijuma commented on #7959
This has priority:roadmap. Is there any work planned for this quarter?

[2018-02-13 20:04] alijuma commented on #8425
This has priority:roadmap. Is there any work planned for this quarter?

[2018-02-13 20:05] alijuma commented on #5714
This has priority:roadmap but no owner. Who's a good owner for this?

[2018-02-13 20:07] alijuma commented on #5407
Re-ping about an update since this has priority:roadmap.

[2018-02-13 20:08] alijuma commented on #5319
Re-ping about an update since this has prioirty:roadmap.

[2018-02-13 20:12] alijuma commented on #6866
It's been a while since there was last updated. Is there still interest in adding this feature to WebDriver, and should this still be priority:roadmap?

[2018-02-13 20:13] alijuma commented on #8613
This has priority:roadmap. Is there any work planned for this quarter?

[2018-02-13 20:27] lukebjerring commented on #5319
Dropping that label; this is a side-issue barely related to a P2 OKR.

[2018-02-14 01:26] markandrus opened #9510 "Why are JavaScript tests inlined in <script> tags inside of HTML?"
Hi,

It would be amazing if libraries that implement browser APIs could treat this project as a library of tests. I'm imagining, for example, a JavaScript implementation of some browser API—say URL—could import the `url/` tests and validate their implementation as part of their CI.

The problem, I see, is that most of the tests are JavaScript inlined in HTML files. Take a look at [url/urlsearchpar

[2018-02-14 13:40] jgraham commented on #9374
Tests with requirements that could be automated but are not in practice are manual. These tests fall into that category at present, and I tend to agree that `@font-face` is the solutioin in a large fraction of cases.

[2018-02-14 13:43] jgraham commented on #9481
I think ensuring that at least an empty json object is written to the file would be reasonable. I don't think it's worthwhile to add extra logging data to the file; it isn't useful for diagnosing errors.

[2018-02-14 13:59] yashhere commented on #9481
Hi, I would like to look into this bug. Can you assign it to me?

[2018-02-14 14:19] jgraham commented on #9481
I don't think that GH allows that, but feel free to work on it anyway.

[2018-02-14 14:38] jgraham commented on #9230
`NOTIFY`?

[2018-02-14 18:46] kereliuk commented on #8152
Yep, I am working on something that this is part of currently and plan to be finished before the end of the quarter.

[2018-02-14 19:25] npm1 opened #9520 "Travis CI is failing on Chrome, Safari, and Edge"
Most Pull Request builds are failing on 3 of the 4 Allowed-Failures and they have been failing for a long time: https://travis-ci.org/w3c/web-platform-tests/pull_requests

The builds fail due to incorrect runner script, not due to the tests themselves. This is bad because we cannot check results for browsers different from Firefox, nor detect flaky results.

Sample error message:

[code]

[2018-02-14 19:35] foolip commented on #9520
@gsnedders, I'm going away until Tuesday, could you see if you know what this is, and what should be done about it?

[2018-02-14 22:27] MattiasBuelens opened #9526 "Pipe completes before all writes are finished with preventClose = true"
I believe there's a bug in the reference implementation for piping with `preventClose = true`. The implementation does not correctly wait for all writes to finish before completing the pipe operation.

## Test
The following web platform test is derived from the existing test _"Closing must be propagated forward: shutdown must not occur until the final write completes; preventClose = true"_ ([`stre

[2018-02-14 22:29] MattiasBuelens commented on #9526
If you want, I can make a pull request that adds the above test and implements the proposed fix. Don't worry, all other tests are still passing! 😄

[2018-02-14 22:54] MattiasBuelens commented on #9526
Oops, this was supposed to go to [whatwg/streams](https://github.com/whatwg/streams/). Sorry for the inconvenience!

[2018-02-14 22:54] #9526 closed

[2018-02-15 00:22] gsnedders commented on #9520
(This is a regression from #8614, which landed on the 9th, five days ago.)

[2018-02-15 00:23] gsnedders commented on #9232
Fixed by #8614.

[2018-02-15 00:23] #9232 closed

[2018-02-15 01:56] markandrus commented on #7174
I think one of the first steps here should be splitting up testharness.js into a few different modules. Currently, it's ~3,000 lines, with sections that introduce

* **TestEnvironment** — with WindowTestEnvironment, WorkerTestEnvironment, DedicatedWorkerTestEnvironment, and ServiceWorkerTestEnvironment implementations
* **`test`-related API functions** — `test`, `async_test`, `promise_test`, etc.

[2018-02-15 09:51] Ms2ger commented on #9230
`NOTIFY` wfm.

[2018-02-15 10:06] Ms2ger commented on #7174
Adding a build step would not be great... Maybe we can put that logic in the server, though. Would need to make sure we don't slow down the tests that way, though.

[2018-02-15 12:06] #8806 closed

[2018-02-15 12:13] gsnedders commented on #7124
The PR for this is now in <https://github.com/w3c/web-platform-tests/pull/8979>.

As for enabling automation, this was fixed generally in Safari 11, not just High Sierra.

[2018-02-15 17:38] smaug---- opened #9542 "DocumentOrShadowRoot-prototype-elementFromPoint.html relies on undefined behavior or is just buggy"
See for example
https://github.com/w3c/webcomponents/issues/735
https://github.com/w3c/webcomponents/issues/736

https://wpt.fyi/shadow-dom

as  far as I see, per current spec at least all the
'document.elementFromPoint and shadow.ElementFromPoint must return the shadow host of the hit-tested text node when the hit-tested text node is a direct child of the root and the host has display...'
and als

[2018-02-15 17:42] jgraham opened #9543 "Run infrastructure/ tests as smoketests"
Changes to wptrunner frequently cause regressions. Running the whole testsuite isn't practical for a number of reasons, but the tests in `infrastructure/` generally have well understood expectations and should be run whenever wptrunner changes (maybe when anything in `tools` changes).

We can check in expectation data for these tests in a per-browser fashion (the format doesn't already support mul

[2018-02-15 17:53] jgraham opened #9544 "Add the ability to download latest Servo for `wpt run`"
Latest servo builds are available from e.g. `https://download.servo.org/nightly/linux/servo-latest.tar.gz`. We would like these to be downloaded when running e.g. `wpt run --install-browser servo dom/historical.html`.

The patch here involves updating `tools/wpt/run.py` and `tools/wpt/browser.py` to implement the `install` methods for the `Servo` classes. The `Firefox` classes in the same files pr

[2018-02-15 18:10] gsnedders opened #9546 "Make `test_run_chrome` actually catch Chrome breakage"
From https://github.com/w3c/web-platform-tests/pull/9480#issuecomment-365787562.

The master branch, in commit `040654c78f3f021512a1f22b9b3b99925bd52d37` (from #8614), has `./wpt run chrome` totally broken (it always throws KeyError). This shouldn't have managed to land, because we have a test, `test_run_chrome` in `tools/wpt/tests/test_wpt.py` that should've caught this.

This issue has two sides

[2018-02-15 18:12] gsnedders commented on #9542
cc/ @rakina

[2018-02-15 18:31] jgraham commented on #5843
Is the expected solution here to move the existing files? Scanning all files in support directories  in case they happen to be reftests seems like it could be a performance issue.

[2018-02-15 21:02] kereliuk commented on #9230
NOTIFY +1, I'll send a PR unless anyone has any objections.

[2018-02-15 23:21] thejohnjansen opened #9550 "recent changes to browsers/*.py broke running tests on Windows"
https://github.com/w3c/web-platform-tests/commit/1b4f253cc9fd6f63c7bb74d176969a15868c6af6#diff-50efe7e042563f68301dc8f747767f99

was merged and removed the "host" value from the browser configurations. I cannot tell where that "host" is consumed, but now when I try to run the tests on Windows, they fail with an error in environment.py

  File "C:\Users\johnjan\Documents\GitHub\web-platform-tests\t

[2018-02-15 23:57] jugglinmike opened #9551 "Support request: understanding why `wpt run` spawns multiple sub-process"
I recently noticed that when running `./wpt run`, a number of identical sub-processes are created (generally between 5 and 10). I've included relevant output from the `ps` and `pstree` processes below. I see this whether using Firefox or Chrome, and if I specify any additional command-line arguments, those are also present in the sub-processes. I've confirmed on two different machines running Ubun

[2018-02-16 00:21] jugglinmike commented on #9550
Hi John! We identified this regression earlier this week, and @gsnedders and I have been working to resolve it over at gh-9480. We're hoping to have the fix merged some time tomorrow.

[2018-02-16 05:49] rakina commented on #9542
Hi, that test is based on [this test from webkit ](https://git.webkit.org/?p=WebKit-https.git;a=blob;f=LayoutTests/fast/shadow-dom/DocumentOrShadowRoot-prototype-elementFromPoint.html;h=a8dc4da2430713521b9ba77c742db10397a8e638;hb=HEAD) and W3C editor's draft on https://w3c.github.io/webcomponents/spec/shadow/#extensions-to-the-documentorshadowroot-mixin. Should it not be in WPT?

[2018-02-16 10:10] smaug---- commented on #9542
Sure it should be tested, but the spec is vague, and the tests don't even follow the spec.
(well, the spec is vague enough, that it is hard to know what the expected test results should be)

[2018-02-16 10:11] smaug---- commented on #9542
FWIW, Nightly Gecko will get the same test results as Blink

[2018-02-16 14:45] plehegar commented on #9109
https://github.com/w3c/navigation-timing/commit/307faa5ac92b24e90537e7a1e15516090c8f6515 changed the returned value of PerformanceNavigationTiming.name and the test was not updated. PR is on the way.

[2018-02-16 16:03] jugglinmike commented on #9551
Got it. Thanks for the explanation, James!

[2018-02-16 16:33] thejohnjansen commented on #9550
Sweet. I'll close this issue then since we don't need to track this in two places. Just please don't forget to fix Edge as well as Chrome :-). Locally, I'm just going to add back the host value for now. Thanks @jugglinmike

[2018-02-16 16:33] #9550 closed

[2018-02-16 17:41] smaug---- commented on #9542
ahaa, there is https://github.com/w3c/csswg-drafts/issues/556

[2018-02-16 19:09] gsnedders commented on #9550
@thejohnjansen can you check that it works on Edge now? it should…

[2018-02-16 19:13] gsnedders commented on #9520
With those fixed this should be working.

[2018-02-16 19:13] #9520 closed

[2018-02-19 07:14] GloverDonovan commented on #9544
I made the changes to `tools/wpt/browser.py`, but I'm not sure what I should do for `tools/wpt/run.py`. I tried looking for an `install` method to base my changes on but couldn't find one (besides `BrowserSetup`).

Also: Should the `Servo` class in `browser.py` use platform conditionals like `Firefox`?

[2018-02-20 02:53] kereliuk opened #9578 "./wpt run appears to be broken on mac"
Seems to be some issue with the logger

Traceback (most recent call last):
  File "./wpt", line 5, in <module>
    wpt.main()
  File "/Users/kereliuk/web-platform-tests/tools/wpt/wpt.py", line 132, in main
    rv = script(*args, **kwargs)
  File "/Users/kereliuk/web-platform-tests/tools/wpt/run.py", line 419, in run
    rv = run_single(venv, **kwargs) > 0
  File "/Users/kereliuk/web-platform-tests

[2018-02-20 02:54] kereliuk commented on #9578
another instance of #9546 ?

[2018-02-20 14:44] gsnedders commented on #8122
@upsuper has done this all in https://bugzilla.mozilla.org/show_bug.cgi?id=1134099

[2018-02-20 14:45] gsnedders commented on #9578
No, another instance of #8954

[2018-02-20 14:45] #9578 closed

[2018-02-20 14:54] gsnedders commented on #5843
@jgraham I think that's probably the right option. Some might need duplicated as a result.

[2018-02-20 15:07] gsnedders commented on #8954
I don't understand how this is failing, we always install the requirements file, so it should work. Unless the requirements file hasn't got updated when we've moved to requiring more up-to-date versions?

[2018-02-20 16:06] #8954 closed

[2018-02-20 16:30] gsnedders commented on #9415
They're different test names! :) (Pretty sure the definition of a test name is literally "a sequence of UTF-16 code units"; i.e., a JS string, with no limitations.)

I'm pretty sure we do this in various places (especially where we just generate tests in a loop), and it's not entirely clear how to fix it (we could add Unicode code point to the test name string, but JS has no easy way to find out t

[2018-02-20 16:31] gsnedders commented on #9374
It makes it impossible to know whether a failure is a test execution environment issue or the test actually failing, which is annoying if you want to do any automated processing of the results.

[2018-02-21 08:50] foolip commented on #8391
@Hexcles, do you have an update on "Measure overhead of wpt serve in Chromium and WebKit"? I believe work on this hasn't been started yet, but this came up in issue triage today.

[2018-02-21 08:54] foolip commented on #8581
@gsnedders, this came up in issue triage today. With https://github.com/w3c/web-platform-tests/pull/8614 now landed, I guess a fix for this is pretty simple?

Also ping @jgraham for the requested opinions.

[2018-02-21 08:55] foolip commented on #6075
This came up in issue triage today. @jugglinmike, do you intend to keep going with https://github.com/w3c/web-platform-tests/pull/8748?

[2018-02-21 08:59] foolip commented on #8052
https://github.com/w3c/web-platform-tests/pull/8882 and https://github.com/w3c/web-platform-tests/pull/9338 together have fixed this, kind of.

Safari 11.1 was just released, but I don't know how to check if it's available on Sauce. I think the issue to fix now is rather "notice when new versions become available on Sauce and update in a timely manner". @mattl, do you know how to check what the la

[2018-02-21 09:02] foolip commented on #8271
https://bugzilla.mozilla.org/show_bug.cgi?id=1428582 is now resolved.

@gsnedders, do you think that this issue itself is now then also solved?

[2018-02-21 09:05] foolip commented on #4210
What's up for review in https://github.com/w3c/web-platform-tests/pull/6792 doesn't match the comment https://github.com/w3c/web-platform-tests/issues/4210#issuecomment-320973949, is that no longer an idea to pursue, or is https://github.com/w3c/web-platform-tests/pull/6792 just the first step?

[2018-02-21 09:13] foolip commented on #7200
All open PRs now have a failing check called pyup.io/safety-ci that says "html5lib 0.9999999 has known security vulnerabilities."

How would we actually go about upgrading it?

[2018-02-21 09:13] foolip commented on #7200
@jgraham, did you enable this check?

[2018-02-21 09:17] foolip commented on #7200
Per https://github.com/html5lib/html5lib-python/blob/master/CHANGES.rst it looks like the latest release, the only one we could upgrade to, drops support for Python 2.6. Now what?

[2018-02-21 09:48] annevk commented on #4210
@foolip no, the PR pursues that proposal, roughly. `multi` is now `any` and `variants` is `global` but otherwise it's basically that.

[2018-02-21 11:11] foolip commented on #7200
Oh, there's Python 2.7, ignore me.

[2018-02-21 11:47] jgraham commented on #7200
I (think I have) disabled this check now

[2018-02-21 11:48] jgraham commented on #7200
Oh and re:  this specific issue; it's the copy used by the css build system and @gsnedders claims we can't just update it because there's a bug in build system that means it's relying on a specific release.

I'm basically always happy to break the CSS build system, but maybe that's not the best way forward :)

[2018-02-21 11:53] foolip commented on #7200
@gsnedders, can you elaborate a bit on what it'd take, and if there would be any benefit from doing so?

[2018-02-21 12:45] foolip commented on #4210
I see, just the names are different, and tools/manifest/sourcefile.py has the stuff around //META.

[2018-02-21 13:48] gsnedders commented on #8271
I would assume so.

[2018-02-21 13:48] #8271 closed

[2018-02-21 14:00] gsnedders commented on #7200
Honestly I'd rather just avoid touching the CSS build system and leave it with its own, specific, outdated dependencies and not bother trying to update it. If it's broken as is, it's all the more reason for people to not depend on it, but making it more broken is unlikely to make us popular with people around CSS land.

[2018-02-21 14:08] gsnedders opened #9599 "Get rid of tools/third_party"
Now we have everything running through `./wpt` which has the ability to manage virtual environments, we have no need to bundle all of our dependencies. We should get rid of tools/third_party and tools/html5lib (see also #7200) and tools/six; note that tools/pywebsocket is a fork of the upstream project and as such we need to keep that.

[2018-02-21 14:58] gsnedders commented on #7200
https://lists.w3.org/Archives/Public/public-css-testsuite/2018Feb/0001.html fixes the w3ctestlib side; we can update it here once that lands.

[2018-02-21 15:21] jgraham commented on #9599
Pretty sure that doing this naively will break gecko. We *can* install stuff from PyPI in CI, but only from a local mirror that doesn't have everything. That doesn't mean it's a bad idea (it isn't), but it does mean that some coordination is required to ensure that all the required packages are either in that mirror or otherwise vendored into mozilla-central, and that the `mach` and `mozharness` c

[2018-02-21 15:42] gsnedders commented on #9599
How do you cope with the existing virtualenv requirements?

[2018-02-21 17:23] mattl commented on #8052
Safari 11.1 is available in beta. 11.2 (Release 49, Safari 11.2, WebKit 13606.1.3.3) is available as Technology Preview. Sauce doesn't have dev/beta builds of Safari at all.

[2018-02-21 18:04] foolip commented on #8052
Is there an API or status page where one can find this information? (When I upgraded Edge I had to guess the exact version string based on what I could find in BrowserStack, since I don't have a Sauce account myself.)

[2018-02-21 18:05] mattl commented on #8052
https://saucelabs.com/platforms

[2018-02-21 18:15] mattl commented on #8052
Here's a more interactive thing, https://wiki.saucelabs.com/display/DOCS/Platform+Configurator?src=sidebar#/

[2018-02-21 18:36] inexorabletash commented on #4884
Was this fixed by https://github.com/w3c/web-platform-tests/commit/0ef80e19a40a3b1101e6f0d38185997389b64c93 ?

[2018-02-21 18:38] inexorabletash commented on #4884
Oh, I see, the braces were the hack referred to above, we still need to find the root cause.

[2018-02-21 20:00] UlisesTJ opened #9610 "Hello, I would like to collaborate as a translator in Spanish which is my native language, I could translate the readme, license and contributing document since the translation should be a thousand words or more"

[2018-02-22 06:42] foolip commented on #7597
Most of this has been done. And it will need to be re-done once in a while. Building the thing to notice when it's happened would be good :)

[2018-02-22 14:13] #9109 closed

[2018-02-22 14:15] plehegar commented on #9109
@foolip feel free to reopen this one if your report don't report proper fix.

[2018-02-22 16:35] LuigiBaute opened #9636 "Translating in to Spanish"
HI! I would like to contribute with this project by offering a translation in to Spanish (my native language) I can translate any PR you want. I work for Utopian-io as translator. Let me know if interested!

[2018-02-22 17:48] jgraham commented on #9544
Sorry for the delayed response.

I think you are right and `run.py` might be fine as-is.

Based on [https://download.servo.org/](https://download.servo.org/) I think the servo code can use platform conditionals to get the right version for the current platform.

[2018-02-22 17:54] foolip commented on #6866
@makotoshimazu, what ended up happening with the tests in questions? Are they simply Blink-specific for now?

[2018-02-23 00:36] vinicius0197 commented on #9546
Hello! This is going to be my first bug on web-platform-tests. I tried following the steps you mentioned, but I'm getting problems running `test_run_chrome`. Am I supposed to run this test using pytest? Because I tried the following command with the mentioned commit checked out via `git checkout <hash>`

`python -m pytest tools/wpt/tests/test_wpt.py`

Which returned me the following error message:

[2018-02-23 10:14] foolip commented on #6866
I wonder what shape of a solution would be most preferable to all implementers here? Can this API be sensibly be expressed as a WebDriver API? How would the `ServiceWorker` instance be represented? @kereliuk, what do you think?

[2018-02-23 10:48] foolip commented on #9300
@sideshowbarker, would you happen to know if https://dev.w3.org/webfonts/WOFF/tests/ is still maintained, or what we should now currently consider the canonical source of these tests?

[2018-02-23 10:57] foolip commented on #9354
@youennf, can you list some of the problematic tests? Might be an easy fix.

[2018-02-23 11:16] foolip commented on #9180
https://github.com/w3c/web-platform-tests/pull/8894 is an example of this being done in practice, which I had no hand in encouraging, FWIW. In this case, the number of subtests doesn't depend on implementation status.

However, I also think the ship has pretty much sailed on achieving a consistent number of subtests irrespective of implementation status, it is just too easy to write tests that fai

[2018-02-23 11:27] foolip commented on #5407
@mattl, is the pulls.web-platform-tests.org database possible to extract? I'd like to interrogate it a bit to see how frequently Chrome, Edge and Safari fail. That's to figure out if any of them could be blocking, but it would also tell us if this is still an issue.

[2018-02-23 13:09] foolip commented on #9636
The tests in this project are all written in English, and I don't think translations would be worth the time.

[2018-02-23 13:09] #9636 closed

[2018-02-23 13:10] foolip commented on #9610
I don't know what's going on here, but closing for the same reason as https://github.com/w3c/web-platform-tests/issues/9636.

[2018-02-23 13:10] #9610 closed

[2018-02-23 13:12] foolip commented on #9007
Reopening because I'm seeing the same problem when trying out https://github.com/w3c/web-platform-tests/pull/8979, i.e. it'll affect Safari too. And it's not a crash for me, it just seems to hang. Seems like not necessarily a dupe of https://github.com/w3c/web-platform-tests/issues/6998.

[2018-02-23 14:28] henbos commented on #9180
It should be easy to make subtests fail if not supported rather than skipping them entirely, it's just a matter of where to place the prerequisite condition - in the subtest or outside of it.
This is worth discussing but this worry is not an argument against subtests in principle.

[2018-02-23 14:30] henbos commented on #9180
Sorry the event might not fire, so it is a concern. But can this be solved with a helper utility function maybe? Hmm

[2018-02-23 14:33] henbos commented on #9180
Is there anything preventing the design of something like?
[code]
As long as you don't have subtests inside of subtests...

[2018-02-23 14:38] henbos commented on #9180
Thinking out loud - how about something like this?
[code]

[2018-02-23 16:40] gsnedders commented on #8122
Ah, @upsuper only did those from /layout/reftests/counter-style/ and not /layout/reftests/counters/.

@upsuper are you still planning on submitting those from /layout/reftests/counters/ too? (At least those that aren't from some old version of the CSS testsuite and those that aren't UA-dependent.)

[2018-02-23 17:49] gsnedders opened #9647 "Implement test executor for Chrome using CDP (ExecutorCDP)"
cc/ @jgraham @foolip @kereliuk

ChromeDriver is maintained out of the main Chromium tree, and doesn't always work with ToT (or even Canary, and occasionally Beta).

If we want to make it possible to always run against latest Chromium, we could use the [Chrome DevTools Protocol](https://chromedevtools.github.io/devtools-protocol/), whose stable versions should work in ToT. 1.3 (from Chromium 64) sh

[2018-02-23 17:52] jgraham commented on #9647
So one question I have is why the stability properties of wptrunner built on CDP are different to the stability properties of Chromdriver built on CDP.

That said, I think this may be an interesting idea that's worth pursuing.

[2018-02-23 17:54] gsnedders commented on #9647
In short, ChromeDriver uses much more than the guaranteed stable subset of CDP, and that can and does change.

[2018-02-23 17:55] gsnedders commented on #9647
Also, to note, we'd still need the WebDriver (or, as is, Selenium) backend for testharness.js and reftests for Sauce, Edge, and in the future Safari.

[2018-02-23 17:56] jgraham commented on #9647
I guess the more detailed question was "is the stable subset of CDP enough to implement  all the testdriver features, or only enough for non-testdriver uses?"

[2018-02-23 18:02] jgraham opened #9648 "Rename host_ip and document server configuration"
`host_ip` should probably have a clearer name like `server_host` or something similar indicating that it's the hostname/address that the server binds to as opposed to the  browser-visible hostname. In addition, since this will never be very clear we should write some documentation.

[2018-02-23 18:12] kereliuk commented on #9647
There was discussion about this before but no action as far as I know. But I am optimistic that at least some of they key things we would need for testdriver are basically stable, or will be maintained if they become unstable.

I'm finishing up the anti-selenium webdriver executor stuff right now, but in terms of difficulty I'm guessing it shouldn't be too much different than that.

[2018-02-23 18:26] kereliuk commented on #6866
I probably lack some context, but I would image it wouldn't be too difficult to specify this as an extension in the Service Worker spec.

Maybe something like this with the details filled in.

This could look like :sessionId/serviceworker/register and return an ID for the worker

2. Terminate the worker
:sessionId/serviceworker/:id/terminate, terminate the worker with the ID returned from register

[2018-02-23 20:53] khaledhosny commented on #9300
No idea.

[2018-02-23 22:35] vinicius0197 commented on #9546
I've tried running `test_run_chrome` with `pytest -k chrome wpt/tests/test_wpt.py`, first with the commit `040654c78f3f021512a1f22b9b3b99925bd52d37` checked out. That gave me the following error:

[code]
Tried again with another commit `28ceecaaa6f0ff2cae0c586c54a923a1246393c3` checked out and received no error messages.

Running the test with `pytest wpt/tests/test_wpt.py` I received no error mes

[2018-02-24 03:56] sideshowbarker commented on #9300
I reckon @svgeesus would know

[2018-02-24 06:38] foolip commented on #9180
@henbos, those patterns already work, except it's not called subtest but just test, async_test or promise_test. You can do `test2 = async_test('bla')` upfront, or create a test from within another, nesting works. It's not very obvious that it should work though, so documenting such uses would be a good idea.

[2018-02-24 06:40] foolip commented on #9180
That's what I was thinking about with "set up all test up front". Again, the downside is that you have to explicitly cause then to fail later if they can't be run, or it'll be a timeout. I tend to think just creating the tests at the end of another is better overall.

[2018-02-24 10:47] foolip commented on #9415
Sounds like a bug if the different test names in JS still ultimately end up being treated as the same name in downstream tooling. Maybe a bug in that tooling, but what do we do with test names that can't be encoded as UTF-8, with lone surrogate pairs? How could we serialize them to JSON?

It might be nice if these tests make the test names more readable though. Maybe we could provide a utility fun

[2018-02-24 19:55] guest271314 opened #9656 "How to test if webkitSpeechRecognition sends recorded audio to a remote web service by default at Chromium browser?"
How to test if `webkitSpeechRecognition()` sends recorded audio to a remote web service by default at Chromium browser implementation of Web Speech API [`SpeechRecognition`](https://w3c.github.io/speech-api/webspeechapi.html#speechreco-section)?

Is this behaviour expected and documented?

`webkitSpeechRecognitionInstance.serviceURI` returns `undefined` at Chromium 64.

See

- [How does webkitSpee

[2018-02-24 23:12] #9656 closed

[2018-02-25 02:47] vinicius0197 commented on #9546
Adding a loop with a sleep between checks didn't work. `test_run_chrome` keeps being skipped. I've put this test into a separate file inside `tools/wpt/tests` and this way it did catch chrome breakage. Maybe the other tests inside `tools/wpt/tests/test_wpt.py` are interfering with it?

[2018-02-25 04:53] foolip commented on #9007
See https://github.com/w3c/web-platform-tests/pull/8979#issuecomment-368283288 for some findings. The best I can come up with here is to detect the version of python used, and exit with an error if `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` isn't set.

[2018-02-25 17:58] foolip opened #9657 "GLib-GObject-CRITICAL in Firefox Travis logs makes them very verbose and harder to understand"
https://api.travis-ci.org/v3/job/345549233/log.txt is a raw log (from https://github.com/w3c/web-platform-tests/pull/9641) and it has *lots* of this stuff:
[code]

It drowns out the rest of the content.

@jgraham, do you know where this is coming from? If it can't be fixed in Firefox, do you think we can just filter them out in the Travis runs to make these logs smaller? One has to download the ra

[2018-02-25 18:21] foolip commented on #7660
Changed the title a bit because in https://github.com/w3c/web-platform-tests/pull/9641 not that many files were changed, but many included the changed file, and that's what matters. Also, not *all* browsers necessarily fail.

[2018-02-25 18:27] foolip commented on #9647
@gsnedders, can you file specific issues for "doesn't always work with ToT (or even Canary, and occasionally Beta)" and "raciness that we currently have".

The fix isn't necessarily to abandon ChromeDriver, but could just as well be to fix these problem with ChromeDriver.

@kereliuk, unless you have concrete plans to add an ExecutorCDP or similar, or think we definitely should, I think we should c

[2018-02-26 06:21] marcoscaceres opened #9664 "Get rid of reviewable?"
Can we get rid of the `reviewable` integration? I don't think anyone is using it, and it's definitely not working (it just adds empty comments).

Every time I want to update a pull request description, it trashes what I write... which equals 😾.

[2018-02-26 06:30] foolip commented on #9664
I've had that edit conflict too. Who can turn it off? @jgraham?

[2018-02-26 06:39] foolip commented on #9648
I can't find `host_ip` on master, was this already fixed?

[2018-02-26 06:40] foolip commented on #9648
Hmm, seems related to https://github.com/w3c/web-platform-tests/pull/9258 and its revert. Addings labels accordingly.

[2018-02-26 06:49] sideshowbarker commented on #9664
It’s @jgraham’s call. We’ve had this discussion before, and the last time it came up, I recall that he indicated he wanted to keep it on for reviews of some infrastructure resources other than test cases — I think the testharness.js sources at least, and maybe the `wpt` sources and such.

[2018-02-26 11:59] #4923 closed

[2018-02-26 13:09] kritisingh1 commented on #3226
@gsnedders can you elaborate this issue a bit more? Thanks a lot!

[2018-02-26 13:19] gsnedders opened #9671 "Updating reftest graph broken when node changes to support"
See https://github.com/w3c/web-platform-tests/pull/9598#pullrequestreview-98198304

If we have:

a.html: `<link rel=match href=b.html>`
b.html: `<link rel=match href=c.html>`
c.html: `hello world`

Then:

a.html is a reftest (it's a test we want to run)
b.html is a reftest_node (it's in the reftest graph and can itself be run)
c.html is a support (because we can't tell anything about it statically

[2018-02-26 13:38] #8633 closed

[2018-02-26 13:46] gsnedders commented on #9546
If it's getting skipped because port 8000 is already in use then presumably something has gone wrong elsewhere, given it should be free. Maybe we should also add a check that if the TRAVIS environment variable is set then we should never skip…

[2018-02-26 14:16] gsnedders commented on #9647
@foolip https://github.com/w3c/web-platform-tests/issues/6986 is the most prominent case I can think of; the raciness I think I was thinking of the issues we have in run-webkit-tests.

[2018-02-26 14:23] foolip commented on #9230
This will require at least the status:needs-owners label to be renamed, and probably other changes in tooling maintained by @tobie.

[2018-02-26 14:26] gsnedders commented on #7660
Does it make sense to run with `--no-restart-on-unexpected` in CI?

[2018-02-26 14:38] foolip commented on #7660
@jgraham, what kinds of things would you expect to blow up if we do that? And would that still restart between each of the 10 runs?

[2018-02-26 14:40] foolip commented on #9647
Is the idea that we could potentially control content_shell using a CDP runner? That sounds like it might be possible, but if CDP works then ChromeDriver itself might also work. I'll leave it to @kereliuk to react to that :)

[2018-02-26 14:43] tobie commented on #9230
Yeah. Let's touch-base before you push the PR or you'll get all owners pinged about it.

[2018-02-26 14:46] gsnedders commented on #9647
@foolip Yeah, that was the other bit of thinking about whether it'd be possible to use wptrunner from `run-webkit-tests`.

[2018-02-26 14:51] jgraham commented on #7660
Nothing should blow up; the default assumes that if you have one failing test then you don't want it to infect subsequent tests if it happens to set some bad state. In this case what you might see is that one unstable test would be more likely to make subsequent tests on the run look unstable. It won't affect restarting between runs at all.

An alternate apporach would be to set the expectation da

[2018-02-26 16:23] Ms2ger commented on #3226
Some background is in https://bugzilla.mozilla.org/show_bug.cgi?id=1281604

[2018-02-26 16:45] Hexcles commented on #8391
@foolip You're right. I plan to do the benchmark in March.

[2018-02-27 10:47] foolip opened #9686 "No way to test sensor APIs"
https://w3c.github.io/sensors/
https://w3c.github.io/accelerometer/
https://w3c.github.io/gyroscope/
https://w3c.github.io/orientation-sensor/

These specs and any additional sensor specs cannot be tested in any depth without additional APIs. This was recently discussed in https://github.com/w3c/sensors/issues/257#issuecomment-365662554.

In Chromium there are tests for some of this that need *som

[2018-02-27 10:47] foolip commented on #9686
https://crbug.com/816462 is a Chromium tracking issue.

[2018-02-27 11:52] kriti21 commented on #9544
@jgraham Please review my PR above. This is the first time I am trying to contribute to web-platform-tests. :)

[2018-02-27 11:54] fiennyangeln commented on #9671
i want to take this issue.

[2018-02-27 13:28] Honry commented on #9686
@foolip, many thanks for getting this started. Indeed, many depth tests for sensor are blocked by this, e.g. use mock data to verify sensor readings, disable/disallow sensor to track `onerror` event, etc.

[2018-02-27 14:28] foolip commented on #4884
Huh, https://github.com/w3c/web-platform-tests/pull/9690 is still flaky in Firefox, I was totally expecting it not reproduce, shrug, and close this issue :)

Will try to minimize instead.

[2018-02-27 14:42] foolip commented on #4884
Hmm, looks like this isn't really flaky, the stability jobs just seems to treat it as such because there was a harness error. Will file a separate bug.

[2018-02-27 14:44] foolip commented on #4884
Actually, before I do that, @jgraham, can you help me interpret https://github.com/w3c/web-platform-tests/pull/9690#issuecomment-368894684? Does it mean that one time there was no harness error? I guess there might be some raciness in delivering the script compile failure back to the main thread.

[2018-02-27 14:57] mattto commented on #6866
Update: @bashi changed Chrome's internals.terminateServiceWorker() to return a promise now: https://bugs.chromium.org/p/chromium/issues/detail?id=816328#c2.

I'm probably also missing context... but ideally these tests could register() and run fetch as normal instead of going through a special API just in order to get the ability to do terminateServiceWorker().

[2018-02-27 15:21] foolip commented on #4884
As I minimized this, I got all the way down to a test that already exists, which is the "data:unknown/unknown,X X" test in https://wpt.fyi/fetch/data-urls/processing.any.html. But there's something mime-type-dependent going on as well, so I sent https://github.com/w3c/web-platform-tests/pull/9693 to add some more similar tests. Anyway, the original whitespace problem does have failing tests.

But

[2018-02-27 16:00] foolip commented on #4884
OK, turns out there's a test for that as well:
https://wpt.fyi/workers/interfaces/WorkerGlobalScope/onerror/propagate-to-window-onerror.html

And it's a bit broken spec-side:
https://github.com/whatwg/html/issues/1607

[2018-02-27 16:33] foolip opened #9694 "Get click-cancel.html running in Firefox"
I can't find a run on wpt.fyi where the test was run for Firefox:
https://wpt.fyi/uievents/order-of-events/mouse-events/click-cancel.html?sha=9659a35d81
https://wpt.fyi/uievents/order-of-events/mouse-events/click-cancel.html?sha=fcf46c6ea5
https://wpt.fyi/uievents/order-of-events/mouse-events/click-cancel.html?sha=a5f6b5fa03

All are SKIP. This is bad because we can't be confident that the testdri

[2018-02-27 16:33] foolip commented on #9694
I'm assuming here that the reason is that it's really skipped by wpt run. If that's not the case, then this issue belongs on wptdashboard instead.

[2018-02-27 16:47] GloverDonovan commented on #9544
Apologies for not making it clear that I was working on this issue. I should've replied when given the chance.

One problem I faced though was that Git commands like `git status` took several minutes to execute on my machine. I was trying to decrease this wait time before attempting to create the pull request.

Feel free to use the submitted work, although I wish I had the chance to reply to @krit

[2018-02-27 17:59] jgraham commented on #9694
That's https://github.com/w3c/web-platform-tests/pull/9391 which is waiting for (re)review.

[2018-02-27 18:03] jgraham commented on #9510
I'm pretty sure that requiring script to be external resources in general isn't going to fly since it adds requirements on test authors that don't help most implemenations. If there are specific tests that you want to run that make sense out of the HTML file context then I suggest talking to the authors of those specific tests about your requirements.

[2018-02-27 18:03] #9510 closed

[2018-02-27 18:10] jgraham commented on #9007
So the low-effort solution here is presumably to set that environment variable in a wrapper (e.g. `wpt run` could set it and then launch the actual harness as a child process; I assume that would be enough and merely setting it before forking would not).

The high effort (i.e. good) solution is to avoid using multiprocessing since it fundamentally violates the expected semantics here by calling `f

[2018-02-27 18:19] jgraham commented on #8675
I think not spawning the ws servers in this case with an error logged to the console is a reasonable idea. It isn't a situation that should be easy to get into, but printing an error but continuing anyway would be helpful for people who can't run the ws server for any reason.

[2018-02-27 18:23] jgraham commented on #7996
So it looks like the right solution here is to have the `wpt run` command depend on `mozdownload` and `mozinstall`. That requirement can be added in the `tools/wpt/commands.json` file. Then the `install_browser` method for Firefox should replace it's existing custom implementation with something that calls into those tools, placing the binary in the same location as we do currently (i.e. under `_v

[2018-02-27 19:54] vinicius0197 commented on #9546
@gsnedders Hm, so we should only skip the test if either TRAVIS environment variable is not set OR port 8000 is already in use?

[2018-02-27 20:25] vinicius0197 commented on #9546
@gsnedders hm, so the test will only be skipped if both TRAVIS environment variable is not set and port 8000 is in use?

[2018-02-27 21:15] markandrus commented on #9510
Thanks for the context and suggestion, @jgraham. I did some research on my second question, and it looks like at least one project, `jsdom`, is successfully using web-platform-tests as a library of tests.

[2018-02-27 21:18] gsnedders commented on #9671
@fiennyangeln: Feel free to just start working on it!

[2018-02-28 01:56] jugglinmike commented on #6075
I would love to, but at the moment my hands are quite full with https://wpt.fyi. I'll bring this up when we speak next Monday.

[2018-02-28 12:19] manikishan commented on #8616
Can I work on this issue?

[2018-02-28 13:05] foolip commented on #8616
@manikishan, yes, please go ahead, and thank you!

[2018-02-28 14:25] gsnedders commented on #9546
@vinicius0197 yeah, something like that. (well, maybe more like `os.environ.get("TRAVIS", "false") == "false"` so it actually works when it's not set. :))

[2018-02-28 14:40] fred-wang commented on #9300
It would probably be nice to move both the source and output into the web-platform-tests repository (see https://github.com/w3c/web-platform-tests#adding-command-line-scripts-tools-subdirs for tools/ directories).

I think we should also consider using only web fonts as discussed in #8440 and https://github.com/w3c/web-platform-tests/pull/8494 otherwise the tests don't work in browsers without man

[2018-02-28 16:27] kritisingh1 commented on #8675
@jgraham I want to take this up.
Just wanted to confirm : The expected behavior is to prevent `start_ws_server` from returning `WebSocketDaemon` in case when `ws_doc_root` is null, right?

[2018-02-28 18:02] gsnedders commented on #5403
@mrego a script that I thought I had on gist.github.com somewhere but seemingly not; essentially going through all reftests and reading something like the `offsetHeight` of the root element.

[2018-02-28 19:24] Hexcles commented on #9647
What are the benefits of using wptrunner in `run-webkit-tests`?

For maintainability, there aren't many special cases to handle WPT in `run-webkit-tests`. Blink needs a finder (to find tests to run given path patterns) and a runner for layout tests anyway. And if we switch to wptrunner, we may remove some special cases but still need some other glue code (e.g. to process the output).

As for racin

[2018-02-28 19:52] Hexcles commented on #9230
Please also ping me when a PR is sent to rename these files. Blink's import/export might need some small adjustment. Thanks.

[2018-02-28 21:55] vinicius0197 commented on #9546
@gsnedders Ok. I've noticed that `test_serve` is also being skipped with the same message (port 8000 already in use). So we should probably fix that as well with the same check, I guess?

As for why port 8000 is causing problems, should a new issue be opened for that matter (since it looks like it's affecting not only `test_run_chrome`)? If so, I can submit a PR to this one with the changes I've m

[2018-02-28 22:20] gsnedders commented on #9546
@vinicius0197 We should generalise this issue. :)

[2018-02-28 23:11] gsnedders commented on #7959
fixed by #9676.

[2018-02-28 23:11] #7959 closed

[2018-02-28 23:11] gsnedders commented on #9543
fixed by #9676

[2018-02-28 23:11] #9543 closed

[2018-03-01 01:25] gsnedders opened #9724 "wptrunner Sauce tests fail"
After https://github.com/w3c/web-platform-tests/pull/9484, `cd tools/wptrunner && tox -e py27-sauce` fails with a bunch of errors like:

[code]

This was hidden because of the issue fixed in #9496: we don't actually run these tests in CI because they get skipped because we don't run `py27-sauce` there.

cc/ @jugglinmike

[2018-03-01 02:38] gsnedders commented on #9647
I was mostly thinking avoiding ending up with subtly different test execution semantics.

[2018-03-01 02:39] #9103 closed

[2018-03-01 11:47] #9724 closed

[2018-03-01 13:35] foolip commented on #9657
I think the Firefox failure in https://github.com/w3c/web-platform-tests/pull/9680 was probably caused by this:
[code]

Hypothesis being that the output is disabled at layer above the "output has been received" logic, so that producing too large a log will lead to this result.

@jgraham, any ideas?

[2018-03-01 14:01] #9671 closed

[2018-03-01 14:11] jgraham commented on #9657
I don't know how to fix it in Firefox, certainly.

We could add some filtering in the logger to remove these lines from the formatted output. The hacky way to do this would be in the `on_output` method in `tools/wptrunner/wptruner/browsers/firefox.py`

[2018-03-01 18:56] kritisingh1 commented on #6301
I'm taking this up. Thanks!

[2018-03-01 19:03] kritisingh1 commented on #6301
However, @zcorpan since the PR you referenced is still open, won't solving this issue require that PR to be merged first so that additional tests can be added to the same?

[2018-03-01 19:51] Hexcles commented on #9599
This will break Blink as well. And it'd require more work than what's needed for Gecko described above. We don't install _anything_ from PyPI, but use a Chromium-only packaging system (cipd & vpython) instead. It's not too complicated to set up, but does require coordination and planning.

[2018-03-01 21:37] Hexcles opened #9736 "PR #9564 breaks manifest update on Windows"
PR #9564 (which is a fix for #7142) breaks manifest update on Windows because the change violates Windows' restrictions on parallel file access.

There are two issues in this line https://github.com/w3c/web-platform-tests/pull/9564/files#diff-2a239eec150d25cf7486394513fb1e63R242:
1. The temp file is moved before it's closed, which can be easily fixed.
2. The much harder problem is the manifest its

[2018-03-01 21:51] #9736 closed

[2018-03-01 21:52] Hexcles commented on #7142
Reopening the issue because the fix caused a bug and was reverted.

[2018-03-01 23:41] #2634 closed

[2018-03-02 05:01] liamquin commented on #7757
In addition, it's not possible to test (for example) that browsers position custom list markers correctly (clearly!), nor i think to write a reliable cross-browser replacement in JavaScript that interoperates with default list styles.

[2018-03-02 05:08] liamquin opened #9741 "[css-counter-styles-3] armenian/css3-counter-styles-008.html out of scope"
This test has values 10,000 and 10,001 for the list counter but the spec says the range limit is 9999.

The test assumes the numbers "work", but presumably it should be an error, or the result is possibly undefined. Either the spec should allow higher numbers or the test should be removed (or moved to level 4 perhaps).

[2018-03-02 05:14] liamquin commented on #9741
Actually looks like it's trying to test fallback in the presence of @range. So the problem is that the spec should say more clearly why Armenian numbers are limited to 9999 in the normative default stylesheet.

[2018-03-02 05:27] liamquin opened #9742 "japanese-formal/css3-counter-styles-049.html test out of range"
This test expects a list counter value of 10,000 and 10,001 to be formatted in Japanese, but the normative stylesheet has range -9999 9999;, so the result should be decimal-formatted (or the spec should be changed to allow CJK numbers bigger than 10,000).

The same applies to
japanese-informal/css3-counter-styles-044.html
korean-hangul-formal/css3-counter-styles-054.html
korean-hanja-formal/css3-c

[2018-03-02 05:31] liamquin opened #9743 "simp-chinese-formal/css3-counter-styles-078.html test out of range"
The following Chinese numbering tests expect numbers of 10,000 or more to be formatted in Chiense characters, but the spec gives (in the normative default stylesheet and the prose) a max value of 9999.

simp-chinese-formal/css3-counter-styles-078.html
simp-chinese-informal/css3-counter-styles-073.html
trad-chinese-formal/css3-counter-styles-088.html
trad-chinese-informal/css3-counter-styles-083.ht

[2018-03-02 07:15] makotoshimazu commented on #6866
If I understand the context correctly, the difficulty of adding service workers to the WebDriver API may be how to identify a service worker.
For example, suppose that there is a page which registers a service worker, now we can get a handle to the window. However, we need to get a handle for the service worker somehow to manipulate it through WebDriver API (e.g. getting id for the service worker

[2018-03-02 15:22] #3826 closed

[2018-03-02 19:26] gsnedders opened #9750 "bind_hostname is always True (should be False in Firefox)"
See db55c167d484d0e34fd618960887161522280d47 by @jdm which fixed this in the Servo case

This is a regression from #9480 (cc/ @jugglinmike).

Note the only file that sets it to "false" now is `wptrunner/browsers/firefox.py`.

[2018-03-02 19:28] gsnedders commented on #9750
Note the tests in #9726 catch this.

[2018-03-02 19:46] gsnedders commented on #9750
Note the fix is now part of #9726.

[2018-03-02 20:36] foolip commented on #9026
Turns out that we already have a mix of styles. Here are the IDL files outside of interfaces/:
* IndexedDB/interfaces.idl
* background-fetch/interfaces.idl
* cookie-store/cookie-store.idl
* encrypted-media/EncryptedMediaExtensions.idl
* entries-api/interfaces.idl
* html/infrastructure/common-dom-interfaces/collections/domstringlist.idl
* storage/interfaces.idl
* webauthn/interfaces.idl

Since @luk

[2018-03-03 07:57] Cactusmachete commented on #9090
Similar to this issue https://github.com/w3c/web-platform-tests/issues/7996
Fixed this in https://github.com/w3c/web-platform-tests/pull/9748

[2018-03-04 08:49] omkar-dsd commented on #8525
@jgraham I'll take up this issue. Need to do some manual handling of exceptions and return status.

[2018-03-04 09:55] manikishan commented on #8616
Hi,
I understood how to write the declaration for maplike, but I am facing difficulty in finding out what should be the arguments to maplike. Can I please get any assistance on this?

[2018-03-04 22:36] marimeireles commented on #2519
Hi @gsnedders, I'd like to take this bug.
I saw that testharness.js is no longer a submodule and I assume I can just fix the test, so I'm going to give it a shot.

[2018-03-05 02:01] reuben commented on #7844
Don't know if this changes the priority, but this still happens for me without certutil installed.

[2018-03-05 02:06] reuben commented on #7844
FWIW, `./wpt serve` and then manually browsing to the test works.

[2018-03-05 16:54] jdm opened #9819 "Servo metadata update is broken since #9676"
6f1181fc76188700cabed568c7110753bf4895b1 introduced an exception when Servo attempts to update its existing metadata:

[code]

This is caused by the addition in of `**kwargs` in https://github.com/w3c/web-platform-tests/pull/9676/commits/6f1181fc76188700cabed568c7110753bf4895b1#diff-16619df6b81c7acb83b4d5b03bcc94b4R434 .

[2018-03-05 18:42] jdm commented on #9819
[code]

[2018-03-05 21:33] #7996 closed

[2018-03-05 22:33] #9750 closed

[2018-03-05 23:50] belaeifert commented on #9171
Hello, I could not replicate this error.
Could you tell how to replicate?

Thank you

[2018-03-06 11:52] gsnedders commented on #2519
@marimeireles yeah, it should just be fixing the test

[2018-03-06 14:12] gsnedders commented on #9546
@vinicius0197 did you find anything about the cause of port 8000 being in use?

[2018-03-06 14:12] jgraham opened #9874 "Move stability checking to `wpt run --verify`"
Since we developed the stability checker, wptrunner got a `--verify` flag for checking test stability. Ideally instead of having separate codepaths here we could keep all the travis handling logic from the check_stability script but do the actual run using the `--verify` option to wpt run, so that we are confident that the same CI checks apply to both.

[2018-03-06 14:58] jgraham opened #9877 "Allow passing in stability options via wptrunner command line"
wptrunner (and therefore `wpt run`) has a `--verify` option. This runs the tests multiple times in various configurations in order to check that they're stable. At present this has to be configured using Python code. It would be helpful to be able to set the configuration options (i.e.   the keyword parameters in `tools/wptrunner/wptrunner/stability.py::check_stability`) via the command line. At t

[2018-03-06 15:05] yashhere commented on #9481
I am working on this issue.

[2018-03-06 15:07] teh-f00l commented on #9481
k ;)

[2018-03-06 16:05] jgraham commented on #8675
Yes, that's correct.

[2018-03-06 16:13] jgraham commented on #7570
So the change here would be to add a lint to the `all_paths_lints` set in `tools/lint/lint.py` that checks if there are any paths  in which `os.path.splitext(path)[0]` has multiple identical values.

[2018-03-06 16:13] jgraham commented on #7570
It's possible that the lint will initially fail; if it does we may need to rename some things to make it pass.

[2018-03-06 16:23] jgraham opened #9879 "Lint should work when directories are passed in"
`wpt lint` takes a command line option for paths. But it doesn't expand directories, so  e.g. `wpt lint dom` is basically a no-op. To fix this the `lint_paths` function in `tools/lint/lint.py` should check if passed in paths are directories and if so expand the list of paths to include all files rooted on that subtree.

[2018-03-06 16:55] marimeireles commented on #9877
Hi @jgraham!
I'd like to take this bug.

[2018-03-06 16:56] jgraham commented on #9877
Please go for it!

[2018-03-06 17:16] #2519 closed

[2018-03-06 18:20] teh-f00l commented on #9879
I am interested in working on this!

[2018-03-06 20:33] lukebjerring commented on #9026
IMHO, having a large number of `interfaces.idl` spattered everywhere drops a lot of implicit information about what the spec is, and makes it non-trivial to enumerate all of the spec/interface files.

The folder structure of  `interfaces/[spec-id].idl`, and each IDL file beginning with a comment as to the canonical source URL would mean that we have a single place that attempts to exhaustively lis

[2018-03-06 22:04] mrego commented on #5403
It'd be really nice to have it around, I realized that I was using 800x600 (that's what Chromium and WebKit use) instead of 600x600 in #9716.

[2018-03-06 22:41] #9819 closed

[2018-03-07 01:21] vinicius0197 commented on #9546
@gsnedders sorry for the late reply! Didn't had time this last week to look into this, but I will be doing this tomorrow and will update this thread.

[2018-03-07 04:36] foolip commented on #9026
Yep, one directory will be easier for automation, which we've started now, so let's go with that. I'll move the outliers in https://github.com/w3c/web-platform-tests/issues/9026#issuecomment-370045276 into interfaces/ to close this issue.

[2018-03-07 05:58] akshitac8 commented on #9874
Hey @jgraham . I would like to work on this issue. Can I get a little insight on how to proceed.

[2018-03-07 16:01] jgraham commented on #9879
Please go ahead!

[2018-03-07 16:03] jgraham commented on #9657
So let's try the simplest possible solution here. I think a regexp in `tools/wptrunner/wptruner/browsers/firefox.py::on_output` discarding input that matches the `GLib-GObject-CRITICAL` lines above would be sufficient. Ideally we would have some infrastructure to allow multiple regex to run, since I have a few other use cases that might need this in the future.

[2018-03-07 16:13] jgraham commented on #8375
I'm pretty sure this got fixed at some point since there's now code that adds a cache-control  header.