[2017-09-27 13:27] foolip commented on #7475
I think that we want to easily see the old and new status of any test that has been touched, including if the old or new status is "doesn't exist".

Probably we will run into the GitHub comment size limit, and the full view will have to be on pulls.web-platform-tests.org. That should always be linked in a comment like https://github.com/w3c/web-platform-tests/pull/7506#issuecomment-332517463

Then

[2017-09-27 15:58] JKereliuk commented on #6986
Hopefully this week there should be a release fixing this. Will keep plans updated :)

[2017-09-27 22:14] asankah commented on #7374
Are you saying that the XHR tests are where you are also testing spec compliancy of data URI parsing?

Please consider being consistent about what is being tested where. It's fine to test spec behavior WRT invalid inputs where such behavior is specified (where is invalid URL for data URIs specified?), but having that as the only test case is a bit absurd.

[2017-09-28 03:28] marcoscaceres opened #7516 "Payment Request algorithms tests wrong wrt stop immediate propagation"
The spec says:

But the following tests assume that flag is not set:
https://w3c-test.org/payment-request/algorithms-manual.https.html

[2017-09-28 05:49] annevk commented on #7374
@asankah you cannot test this all in isolation. How would you observe a data URL response body without something like XMLHttpRequest?

[2017-09-28 17:36] JKereliuk commented on #7452
Set this to roadmap and not urgent priority since it still works on Travis.

[2017-09-29 01:30] wisniewskit opened #7525 "window.screen.pixelDepth and colorDepth should be tested to be 24, according to spec."
According to [the spec](https://www.w3.org/TR/cssom-view-1/#dom-screen-colordepth):

Whereas the test itself checks that both values match and are either 0, 16, 24 or 32 (rather curiously omitting 8, which is the value that Firefox gives when it detects an 8-bit screen, like it does for [the WPT dashboard](https://wptdashboard.appspot.com/cssom-view/cssom-view-window-screen-interface.html)).

Shou

[2017-09-29 14:29] Hexcles commented on #5998
Chromium developers reported another case yesterday: https://travis-ci.org/w3c/web-platform-tests/jobs/281056652#L2086

I took a quick look and `check_stability.py` is the culprit, in particular this line: https://github.com/w3c/web-platform-tests/blob/4efe9f5bfe0eb84e3f131e7bb1d9bd91ad24c288/tools/ci/check_stability.py#L76

The root cause is this line essentially assumes the provided `msg` is an

[2017-09-29 15:01] Hexcles commented on #5998
@bobholt see my comment above. By the way, I just realized this might be a separate issue from the OP, but I'm not exactly sure about the context. Could you kindly help moving my report above into a new issue if you think they are two separate issues?

[2017-09-29 19:20] JKereliuk commented on #7202
Where should this documentation live?

[2017-09-29 22:20] miketaylr commented on #6998
Here's the stack of the crash I get when trying to `./wpt run chrome path/to/test`:

https://gist.github.com/miketaylr/749fb790af7283c78cf55014d3bae107

I'm on 10.13, this (closed) Python bug looks related: https://bugs.python.org/issue30837, with a suggested workaround here: https://bugs.python.org/issue30385#msg293958

[2017-09-30 08:35] nox commented on #7130
We have `CRASH` results in Servo so that probably can be closed.

[2017-09-30 21:28] #7130 closed

[2017-10-01 12:39] foolip commented on #7475
I'm preparing a presentation for https://webengineshackfest.org/ and made this mockup:
<img width="788" alt="screen shot 2017-10-01 at 2 36 43 pm" src="https://user-images.githubusercontent.com/498917/31054602-480e417c-a6b6-11e7-814f-15cb4597d347.png">

[2017-10-02 04:16] #7516 closed

[2017-10-02 06:11] #7300 closed

[2017-10-02 06:14] #7377 closed

[2017-10-02 06:37] marcoscaceres opened #7535 "Error running `wpt run`"
when I run `wpt run`, it aborts with:

[code]

And indeed that file is actually at "_venv_Darwin/bin/activate_this.py" instead?

`wpt serve` works fine tho.

[2017-10-02 07:02] marcoscaceres commented on #7535
Same error message. Is there some way to get it to rebuild?

[2017-10-02 07:03] marcoscaceres commented on #7535
Actually, if I delete both it seems to work :)

[2017-10-02 07:03] #7535 closed

[2017-10-02 07:05] sideshowbarker commented on #7535
Super :smile: (The docs really should be updated with a prominent note about this…)

[2017-10-02 10:28] fred-wang opened #7536 "Do not use window.testRunner for web platform tests"
It seems that window.testRunner is used in some places. This is specific to WebKit/Chromium and should probably not be used in the web-platform tests:

    find -type f -name '*.html' | xargs grep 'testRunner\.'
    ./service-workers/service-worker/fetch-frame-resource.https.html:  testRunner.setCanOpenWindows();
    ./css-paint-api/valid-image-before-load.html:  testRunner.waitUntilDone();
    ./

[2017-10-02 12:10] gsnedders commented on #2669
So, AIUI, we need a further hostname, which needs changes in the config file (as the hostname is configurable) and in wptserve to listen on those, and add it to the list (lists?) of known host names in wptrunner.

[2017-10-02 12:11] gsnedders commented on #2669
The wptrunner changes should probably try and avoid making #6556 worse.

[2017-10-02 12:36] dd8 opened #7539 "Wrong messages for table integrity checks in messages.josn"
The conformance-checkers/messages.json file seems to have incorrect messages for some of the the table integrity checks:

Previously the messages.json file contained messages about table integrity:

-    "html/elements/table/integrity/Alexis_of_Russia-novalid.html": "The \u201calign\u201d attribute on the \u201ctable\u201d element is obsolete. Use CSS instead.",
-    "html/elements/table/integrity

[2017-10-02 15:03] foolip opened #7541 "Add a lint for use of eventSender, internals, and any Gecko equivalents"
When tests are moved from engines to wpt, these things can be accidentally left behind, and should be easy to lint for.

@jdm, can you point to some cases where this has happened?

@gsnedders @jgraham

[2017-10-02 15:07] mrego commented on #7541
Some examples:
* css-paint-api/valid-image-after-load.html
* css/css-regions-1/interactivity/hit-testing/mouse-events-002.html
* css/css-ruby-1/line-break-around-ruby-001.html

[2017-10-02 15:22] gsnedders commented on #7541
cc/ @AutomatedTester any idea what to lint for, if anything, from Gecko?

[2017-10-02 15:22] foolip commented on #3850
@jdm reminder me of this again today. @domenic, do you know where under html/ these would belong? http://wpt.fyi/old-tests/submission/Opera/script_scheduling is pretty green!

[2017-10-02 15:23] gsnedders commented on #7202
In `docs/_running-tests/`, I'd guess.

[2017-10-02 15:26] foolip commented on #6462
@littledan FYI, these tests exist because adding them here was easier than contributing to test262. Right, @Ms2ger?

[2017-10-02 15:47] foolip opened #7543 "Suport fuzzy matching for reftests"
At https://webengineshackfest.org/ talking to @jdm, @emilio and others.

There are a lot of tests in http://searchfox.org/mozilla-central/search?q=fuzzy&case=false&regexp=false&path=*.list that could be shared if only wpt supported fuzzy matching.

We have heard the same from Chromium teams, see [web-platform-tests pain points](https://docs.google.com/spreadsheets/d/18TLTLoJCSWFuIANrTVF1VicOQyCveh

[2017-10-02 15:50] domenic commented on #3850
https://github.com/w3c/web-platform-tests/tree/master/html/semantics/scripting-1/the-script-element seems about right.

[2017-10-02 16:08] fred-wang commented on #7541
See also issue #7536

[2017-10-02 16:08] emilio commented on #7543
Big problem is that fuzziness usually depends on the platform, so I suppose this should be integrated at the test expectation level, rather than at the test level itself?

[2017-10-02 16:11] emilio commented on #7541
In Gecko the key one is `nsIDOMWindowUtils`, I think. There's only one occurrence of it, and it's in a place that handles different browsers.

In Servo, it'd be `TestBinding`.

[2017-10-02 16:19] Ms2ger commented on #6462
Yeah. Things might be better now, but at least when I wrote them contributing to test262 was painful enough that I gave up.

[2017-10-02 16:21] foolip commented on #7541
@Ms2ger pointed me to https://github.com/w3c/web-platform-tests/commit/50d72316c4ecb79492bb03c18f39612951b44dda https://github.com/w3c/web-platform-tests/pull/7341 as well.

[2017-10-02 16:34] foolip commented on #3850
Any preferences for the naming? All in a directory, scheduling-000.html, or something else?

I'm thinking we should at least move all of the tests that pass in some browser, those need action one way or another even if they don't match what the spec says. And then vet the <10 tests that fail everywhere. Seem OK?

[2017-10-02 16:47] foolip commented on #7543
Do you mean out-of-band metadata, or what is the test expectation level?

[2017-10-02 16:49] domenic commented on #3850
Ideally they'd have names that reflect what they're testing, but that's presumably too much work.

A subdirectory seems good. Maybe execution-timing.

[2017-10-02 17:05] jdm commented on #7543
I was imagining the test expectation level.

[2017-10-02 17:23] foolip commented on #7543
So would that just be a matter of tweaking the fuzziness factor, or would the actual algorithm to check fuzzy equality also have to be different?

[2017-10-02 17:26] jdm commented on #7543
The reftest equality algorithm right now is to hash two images and compare the hashes. Adding support for fuzziness will require comparing pixels and keeping track of how many differ.

[2017-10-02 17:29] jdm commented on #7543
https://github.com/w3c/web-platform-tests/blob/217f45791a19ea87d11473681bb8b26cb57bd189/tools/wptrunner/wptrunner/executors/base.py#L261-L265

[2017-10-02 17:29] foolip commented on #7543
Right, but can we just have a `<meta name="fuzzy" content="how-fuzzy">` or does the `how-much` need to be configurable on a per-test-per-engine basis?

[2017-10-02 17:31] jdm commented on #7543
`<meta name="fuzzy" content="how-fuzzy">` would work; it would likely end up having to be increased as each engine discovers that its results are slightly more fuzzy than the previous engine that investigated that failing test.

[2017-10-02 18:46] gsnedders commented on #3850
I think we should just move them all; keeping them in old-tests seems too likely that they'll just stay there forever.

Once Mozilla's infrastructure changes and we can rename tests more easily we can always rename again later.

[2017-10-02 19:52] jdm opened #7546 "no-transfer.html loads a nonexistent worker"
The second test in `/html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/no-transfer.html` loads `resources/incrementer.js` as a worker script, but that file does not exist. Perhaps `incrementer-worker.js` was intended instead?

cc @domenic

[2017-10-02 20:00] gsnedders commented on #7543
See also https://lists.w3.org/Archives/Public/www-svg/2016Nov/0020.html and https://lists.w3.org/Archives/Public/public-test-infra/2016OctDec/0041.html for some earlier discussion about this. Even https://lists.w3.org/Archives/Public/public-test-infra/2014JulSep/0000.html too, really.

There two different issues here:

 * One is things that are impossible to write tests for in pixel-for-pixel iden

[2017-10-02 20:04] gsnedders commented on #7543
(Also I remember someone around Mozilla at some point pointing out that you really only want to allow fuzziness in specific places.)

(Also looking through the tests with annotations in mozilla-central, a lot of them are things like gradients where you don't actually want unlimited fuzziness, you just want to allow for roughly different values across the gradient.)

[2017-10-03 09:49] foolip commented on #7543
@chrishtr, @eaenet, is there anything like this in Blink, and is there a body of tests you could contribute to wpt if only this were supported? I suppose for such tests we might still want to save exact -exepected.png baselines in the imported tests to catch regressions, but that seems doable.

[2017-10-03 12:21] foolip opened #7553 "Travis Sauce builds (Edge/Safari) are failing"
See https://travis-ci.org/w3c/web-platform-tests/jobs/282693136 for an example

"404 Client Error: Not Found for url: https://saucelabs.com/downloads/sc-latest-linux.tar.gz"

[2017-10-03 12:34] #7491 closed

[2017-10-03 12:43] bobholt commented on #7553
I haven't seen any word from them on not using that URL. If it's a hosting
error on their side, I'm reluctant to peg this to a specific SC version
which we'll have to go back in and update periodically, but I can do that
if this outage continues. I'll send a support request and give it until
noon EDT.

On Tue, Oct 3, 2017 at 8:21 AM, Philip Jägenstedt <notifications@github.com>
wrote:

[2017-10-03 12:43] foolip opened #7556 "Consolidate webdriver/ and old-tests/webdriver/"
[webdriver/](https://github.com/w3c/web-platform-tests/tree/master/webdriver) and [old-tests/webdriver/](https://github.com/w3c/web-platform-tests/tree/master/old-tests/webdriver) both look like good test suites. Should they be merged?

@AutomatedTester @JKereliuk @andreastt @lukeis @mjzffr @shs96c

[2017-10-03 12:46] #3850 closed

[2017-10-03 12:48] plehegar commented on #7491
http://w3c-test.org/resource-timing/idlharness.html rightfully fails on Firefox58 (missing workerStart) and rightfully passes on Chrome 63 (extra serverTiming). Yoohoo!
 Thanks @tobie

[2017-10-03 13:25] #7357 closed

[2017-10-03 14:24] andreastt commented on #7556
They should not. /old-tests/webdriver is scheduled for removal, but we will want to keep it around for inspiration until the tests under /webdriver reaches some maturity.

[2017-10-03 15:05] foolip commented on #7556
OK, so I won't be able to delete all of old-tests today :)

[2017-10-03 16:09] andreastt commented on #7556
I imagine we will be able to delete them pretty soon. I will do a review of /old-tests/webdriver soon to see what we have/haven’t covered, so assigning myself to this.

[2017-10-03 16:11] #7553 closed

[2017-10-03 16:20] foolip commented on #7556
If it's the last thing remaining, then we could move into /webdriver/old-tests/ to make the top-level listing prettier.

[2017-10-03 17:36] chrishtr commented on #7543
Blink doesn't have any fuzzy matching tests. Instead we have platform-specific baselines.
The idea has been discussed in the Blink community many times, and each time we concluded
that we don't want fuzzy checkers because they can mask important off-by-one or subpixel
errors.

[2017-10-03 17:56] foolip commented on #7543
Hmm, so for that kind of test, I guess what we'd need is per-browser/platform baselines in web-platform-tests and a way of updating them, much like in LayoutTests.

@emilio @jdm, how much of your use case would be covered by that? Do you have cases of non-deterministic rasterization?

[2017-10-03 18:10] gsnedders commented on #7543
Blink doesn't have platform-specific baselines which are references (i.e., `-expected.html`), does it?

[2017-10-03 18:57] bzbarsky opened #7562 "domxpath/interfaces.html has no spec to back it up"
This file has IDL that is not backed by any actual spec; it was just checked in on someone's say-so as far as I can tell.

In addition to that, the IDL it uses is about to become invalid (assuming it's valid already, which is not clear to me) when https://github.com/heycam/webidl/pull/433 lands.

[2017-10-03 22:36] foolip commented on #7543
It would probably work if you put files in the right place, but -expected.html can't be generated automatically, so in practice no that's not a thing.

[2017-10-03 22:44] youennf commented on #7543
This should really be a last resort kind of test.
I remember some WebKit members not liking that idea as it could be quickly abused by making any ref test as fuzzy. Having a mask/script to define where errors happen might help.

[2017-10-03 22:58] glennw commented on #7543
If some form of fuzziness is introduced, I think it needs to be specified per-engine.

Some engine implementations may know that they expect pixel perfect (or near) results for a test, and wouldn't want to have fuzziness added due to implementation details of a different engine.

In terms of specifying fuzziness, even just per-engine isn't enough. For example, Gecko can specify that fuzziness only

[2017-10-03 23:00] jdm commented on #7543
The wptrunner metadata that exists outside of tests already supports per-platform and other configuration variables; the only downside there is that those metadata values aren't available to wpt.fyi.

[2017-10-03 23:17] emilio commented on #7543
Pixel tests with images has been frowned upon before too... I guess per-platform baselines should work for CI purposes, but there may be fuzziness in the developer machine due to different drivers or what not, how does Blink deal with that?

Does the test just not pass on the dev's machine but pass on CI? How do you update per-platform expectations if you don't have access to a machine on that pla

[2017-10-04 03:40] wisniewskit opened #7567 "setrequestheader-content-type.htm is erroneously sending back an extra blank space back to the browser for empty headers."
This web platform test is checking that an empty Content-Type header is being sent by the UA, which both Firefox and Edge are actually doing. However, the test fails because it's returning a responseText with an extra space.

That is, when I have the test's python script `XMLHttpRequest/resources/inspect-headers.py` print out the `raw_headers.headers` it actually receives, the results are what the

[2017-10-04 07:16] soareschen commented on #7424
In many of the tests, the only reason `getUserMedia()` is called is because we need to pass on an instance of `MediaStreamTrack`. Ideally I'd like to be able to create mock instances of `MediaStreamTrack` for testing without having to depend on `getUserMedia()`.

There is an alternative hackish way of creating instance of `MediaStreamTrack`, via `new RTCPeerConnection().addTransceiver().receiver.t

[2017-10-04 07:30] foolip commented on #7424
@soareschen, doesn't any data need to pass through the `MediaStreamTrack` for the tests to work? Certainly *some* tests should exercise that code path.

[2017-10-04 07:35] foolip commented on #7543
We all frown upon pixel tests, but it sounds like we also all think they're so useful that we have them in our non-shared tests. @chrishtr, do you see any path to get rid of pixel tests for paint features in Blink entirely?

If we did this (with or without fuzziness), then I think the baselines would have to be stored out of band. wpt.fyi would generate them for all configurations it runs, and wou

[2017-10-04 07:42] Ms2ger opened #7570 "Consider adding a lint for files with the same basename in the same directory"
This causes issues for Blink/WebKit at this time; see https://github.com/w3c/web-platform-tests/pull/7569. I'd argue it's not a very good idea in general anyway.

[2017-10-04 07:47] Ms2ger commented on #7562
That would be my say-so :)

The closest we have to a spec for DOM XPath is https://wiki.whatwg.org/wiki/DOM_XPath; having something better would be great, but priorities... I think it's useful to have this test as a regression test, though. If I'm not mistaken, Gecko currently uses the exact same syntax; perhaps whoever fixes Gecko could just update the test as well? I can update the wiki if you c

[2017-10-04 09:01] foolip commented on #1537
Given the WFM in https://github.com/w3c/web-platform-tests/issues/1537#issuecomment-248366389 I'll close this.

[2017-10-04 09:01] #1537 closed

[2017-10-04 09:03] foolip commented on #2206
@domenic, is this still relevant? Putting on the backlog, but please close if you no longer need this.

[2017-10-04 09:05] foolip commented on #2669
Given that this seems to be blocking @mikewest from sharing tests for features in Chromium, I'll call this priority:roadmap so that we don't lose track of it. @gsnedders, is this a 1-day effort? If so, could you treat it as a P3 for this quarter?

[2017-10-04 09:07] foolip commented on #3165
Based on the commit history of @engelke I think the original issue was about something in WebCryptoAPI/. Changing labels to reflect that. Please add the infra label back if there's something missing in testharness.js.

[2017-10-04 09:09] foolip commented on #3867
I'm labeling this as backlog (the lowest priority) because it seems like this will not affect any whole features, but rather a handful of cases spread around the platform. @JKereliuk, this might require some WebDriver APIs. If you're tracking feature requests somewhere, can you add this there?

[2017-10-04 09:11] foolip commented on #3940
@louaybassbouss, @filmaj, is this blocking Presentation API tests from being put into web-platform-tests? Do you know roughly how "much" of the Presentation API is blocked on this? Labeling as backlog for now, but if it affects many parts of the platform we should eventually increase the priority.

@mfoltzgoogle FYI

[2017-10-04 09:13] foolip commented on #4210
Since a PR exists for this, I'm adding the roadmap prio label. To whoever comes along next: if there's no action on the review, randomly assign someone on the ecosystem infra team to review it.

[2017-10-04 09:15] foolip commented on #4519
Adding the priority:roadmap label since a PR exists and needs review. If there is no traction, please randomly assign someone working on ecosystem infra.

[2017-10-04 09:17] foolip commented on #5153
This is fixed, @agouaillard has write access and is in mediacapture-streams/OWNERS and webrtc/OWNERS.

[2017-10-04 09:17] #5153 closed

[2017-10-04 09:18] foolip commented on #4751
@mikewest @jakearchibald are there tests in Chromium which aren't shared because of this? Adding the priority:roadmap label on the assumption that there is, so that we don't lose track of this. I have no ETA for when someone would work on this though. @gsnedders, is it as simple has having wptserve listen to some more ports?

[2017-10-04 09:20] foolip commented on #4813
@gsnedders, can you expand on what this means? Aren't visual tests and reftests the same thing?

[2017-10-04 09:36] foolip commented on #7424
@youennf @burg @eric-carlson, any thoughts on how to do this? I think we're leaning heavily towards some kind of WebDriver mocking API, see the second bullet of https://github.com/w3c/wptdashboard/issues/125.

[2017-10-04 09:42] soareschen commented on #7424
@foolip It depends on what is being tested. We haven't done much interoperability tests in WPT to make sure the media content is streamed properly to the other peer. You are right that _some_ tests still need real `MediaStreamTrack` to work, so having mock MediaStream is essential for testing WebRTC.

[2017-10-04 09:42] youennf commented on #7424
For WebKit, captureStream would be an option but ICE candidate filtering would probably make the test fail. Using getUserMedia seems the best option and is closer to what most web developers will do anyway.

[2017-10-04 09:49] mikewest commented on #4751
I don't think we have any layout tests we could share through WPT. Tests like https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/http/tests/security/deprecated-subresource-requests-expected.txt?type=cs&q=http/tests/security/deprecated-subresource-requests-expected.txt&l=1 rely on console messages to verify behavior, as for pretty much all of these ports, the success case is identi

[2017-10-04 09:52] foolip commented on #4751
Thanks @mikewest, demoting this to backlog based on that. Let's fix things that are blocking shared interop tests first :)

[2017-10-04 10:02] foolip commented on #4880
@mikewest is this blocking upstreaming of any tests? How is it tested in Chromium? Calling it backlog, but depending on impact and effort to implement could bump priority.

[2017-10-04 10:03] mikewest commented on #4880
We have some tests, yes, but upstreaming them isn't exactly on my priority list. Happy to backlog this.

[2017-10-04 10:03] foolip commented on #4986
@inexorabletash @mkruisselbrink do you have any sense for how widespread this pattern is, how much more productive would you be if this existed? I've seen @clelland write similar kinds of tests for Feature Policy and @mikewest for all manner of things, so it's certainly not isolated to one area.

(Not adding a prio label yet.)

[2017-10-04 10:04] foolip commented on #7503
This should include updating the documentation, see https://github.com/w3c/web-platform-tests/issues/5264.

[2017-10-04 10:04] foolip commented on #5264
Closing this in favor of updating the documentation for https://github.com/w3c/web-platform-tests/issues/7503, since that change is imminent.

[2017-10-04 10:04] #5264 closed

[2017-10-04 10:07] foolip commented on #5291
I'm calling this backlog since https://github.com/w3c/web-platform-tests/issues/7503 is the immediate thing we'll do, and that doesn't include making the links optional. Let's revisit in 3-6 months to see if spec links are then the top burden for contributors.

[2017-10-04 10:09] foolip commented on #5319
@lukebjerring is this something you could look into as part of your work on https://github.com/w3c/web-platform-tests/issues/7475? I'm calling this roadmap on the assumption that will make sense.

[2017-10-04 10:14] foolip commented on #5395
Closing this since it hasn't come up since April, perhaps because Chrome failures aren't blocking. @JKereliuk has fixed lots of things in ChromeDriver and there's a new release soon, so any future failures might not be the same anyway.

@lukebjerring at some point we should probably make Chrome failures blocking again, any thoughts on how to track issues like this to be able to enable it with conf

[2017-10-04 10:14] #5395 closed

[2017-10-04 10:17] foolip commented on #5485
I don't quite understand what this issue is about. Is there a set of issues somewhere outside of wpt that now should be filed as individual issues here? Leaving this without a priority, but we should close this if there's nothing actionable.

[2017-10-04 10:18] foolip commented on #5467
Renaming this to clean up the existing .htaccess files, which presumably aren't doing anything.

[2017-10-04 10:20] foolip commented on #5472
@gsnedders, is this supported in some way already, or is this a feature request?

[2017-10-04 10:21] foolip commented on #5481
The manifest does include all files, closing this.

[2017-10-04 10:21] #5481 closed

[2017-10-04 10:22] foolip commented on #5504
Since csswg-test is now merged, I assume this is no longer relevant.

[2017-10-04 11:05] Ms2ger commented on #5608
I think the full path is kinda terrible, and it also means we'd have to change all the files once more if the upstream directory structure changes again. I'd rather stick with the simple path.

[2017-10-04 11:16] bobholt commented on #5611
This has been resolved.

[2017-10-04 11:16] #5611 closed

[2017-10-04 11:17] foolip commented on #5608
What would be the nicest path? Could we have idlharness.js itself load webidl2.js?

[2017-10-04 11:20] bobholt commented on #5646
Is this something we ever foresee doing? If not, we should close this issue.

[2017-10-04 11:27] bobholt commented on #5916
We moved to a single bot comment for build status. Closing.

[2017-10-04 11:27] #5916 closed

[2017-10-04 11:31] bobholt commented on #5910
This sounds like a will not fix. If that's incorrect, please reopen with new comments.

[2017-10-04 11:31] #5910 closed

[2017-10-04 11:34] bobholt commented on #5843
Marking as backlog until @gsnedders can get back to #5844.

[2017-10-04 11:37] bobholt commented on #5945
This sounds like a will-not-fix for the foreseeable future. Please reopen and comment if this should be readdressed.

[2017-10-04 11:37] #5945 closed

[2017-10-04 11:39] bobholt commented on #5947
Edge is still an issue. We need to fix it in Sauce, see if Browserstack offers a more reliable solution, or set up our own Windows VM for the CI flakiness.

[2017-10-04 11:42] foolip commented on #6075
@jugglinmike you did some work in https://github.com/w3c/web-platform-tests/pull/6151 but I guess there's more to be done here?

[2017-10-04 11:47] bobholt commented on #5970
Closing because a user-code solution to the issue was provided. Please reopen and comment if this needs to be looked at further.

[2017-10-04 11:47] #5970 closed

[2017-10-04 11:47] foolip commented on #6788
@shs96c, did you work around this, is it still a problem?

[2017-10-04 11:48] foolip commented on #6269
@jdm, is this a problem for working with wpt in some context, or just something you happened to notice?

[2017-10-04 11:48] bobholt commented on #5997
The list from jugglinmike seems to have been sufficient to end discussion. Closing. Please reopen if this remains an issue.

[2017-10-04 11:48] #5997 closed

[2017-10-04 11:49] foolip commented on #7125
@youennf maybe you know how one would go about this?

[2017-10-04 11:59] bobholt commented on #6293
We're crossing our fingers and waiting for a chromedriver release. Will update this issue then.

[2017-10-04 12:04] bobholt commented on #6193
This is something we need to either fix or completely remove support for. Marking it as roadmap so we look at it sooner than later.

[2017-10-04 12:08] bobholt commented on #6327
Looks like @gsnedders fixed the font issue for wpt, but the other still pending resolution of https://github.com/w3c/webdriver/issues/893

[2017-10-04 12:09] bobholt commented on #6329
@gsnedders It's unclear if you're checking off ones that are still flaky or good. Can you add some clarifying comments?

[2017-10-04 12:11] bobholt commented on #6876
@domenic Did @Hexcles note resolve this for you, or is it still an issue?

[2017-10-04 12:17] bobholt commented on #6136
We merged this fix.

[2017-10-04 12:17] #6136 closed

[2017-10-04 12:22] bobholt commented on #4986
@foolip I'll add an initial priority of "backlog" to this since there hasn't been any movement since February. Feel free to bump it up.

[2017-10-04 12:37] jdm commented on #6269
It's something that I happened to notice.

[2017-10-04 12:37] plehegar commented on #5947
@bobholt sorry, didn't see your question before. do you still need access to the sauce account?

[2017-10-04 13:07] bobholt commented on #5947
@plehegar I believe @lukebjerring is going to be taking on some of my infra responsibilities after next week. Once he's ramped up, I'll ask him to reach out to you to figure this out.

[2017-10-04 13:26] bobholt commented on #7138
Per the comments, this appears to have been resolved upstream.

[2017-10-04 13:26] #7138 closed

[2017-10-04 13:28] bobholt commented on #7141
@gsnedders: Was this resolved by https://github.com/w3c/web-platform-tests/pull/6558?

[2017-10-04 13:34] bobholt commented on #7155
Duplicates #5714

[2017-10-04 13:34] #7155 closed

[2017-10-04 13:36] JKereliuk commented on #6293
Whoops this one fell through the cracks, I'll put it on my radar for this week.

[2017-10-04 13:37] JKereliuk commented on #3867
@foolip +1 :)

[2017-10-04 13:39] bobholt commented on #7157
This appears to be resolvable with user code. Closing.

[2017-10-04 13:39] #7157 closed

[2017-10-04 13:50] frivoal commented on #5485
In days long gone, the CSS WG did not use a pull-request->review->fix->review->merge workflow, but a commit->review->fix->approve workflow. But people did not always follow up on the reviews. So there are lots of test which have reviews and are known to be problematic, or lots of test marked as "not reviewed yet, someone should look at this" (by the way, I am not convinced the system was smart eno

[2017-10-04 13:54] bzbarsky commented on #7562
We could use our "tentative" or whatever it is naming convention...

I don't have a timeframe for Gecko updating to the new mixin syntax, and more importantly that timeframe may not match idlharness's.

[2017-10-04 13:57] bobholt commented on #7197
This appears to have been resolved.

[2017-10-04 13:57] #7197 closed

[2017-10-04 14:08] Ms2ger commented on #7562
CC @tobie @darobin

[2017-10-04 14:54] domenic commented on #2206
Yes, this would still be nice.

[2017-10-04 15:09] domenic commented on #6876
I believe this was fixed separately; @Hexcles's note did not help, but these days it mostly works.

The remaining issue before this can be considered closed, I think, is fixing https://github.com/w3c/web-platform-tests#running-tests-manually to include the Windows version of the command. Currently a later section has an "On Windows" note, but if you're only reading that section, you're in trouble.

[2017-10-04 15:27] foolip commented on #5485
Do all of these have some kind of metadata in the file, or does only Shepherd know about them? If the former, then that might be valuable when investigating tests that fail everywhere. If the latter, then dumping a list of the affected files (before the names change more) would be useful.

[2017-10-04 15:43] foolip commented on #2206
Leaving on backlog then :) What have you already tried and what breaks when you try to lint files outside the repo?

[2017-10-04 15:54] domenic commented on #2206
Well, as far as I can tell, the lint tool is hard-coded to operate recursively from the directory it lives in. At least, that seemed true last time I tried it.

[2017-10-04 16:40] chrishtr commented on #7543
We only record baselines on canonical machines per platform, and use software rendering of GL for composited content. An automated bot can update the baselines on behalf of a developer by running
the test on the canonical machine in a datacenter, and add the changed pixel output to a patch. Code reviewers can then review the changed images and verify whether they look correct.

There is quite a bi

[2017-10-04 16:49] foolip commented on #2206
I guess that you just want to point it to a directory or files and have it recurse there?

FWIW, I've found it odd that I can't point it to a directory even with wpt, I have to enumerate all the files I want to check.

[2017-10-04 16:50] inexorabletash commented on #4986
Not urgent, and not a big productivity drain (copy/paste is easy).

(Reminds me that I should add such a test for a feature I have in progress, though.)

[2017-10-04 16:58] foolip commented on #7543
machine for a new version of Windows or Mac), due to changes in the platform implementation.

Yeah, that makes sense. I suppose that for wpt.fyi, as long as we're using Sauce (or BrowserStack) to run tests, we might have the issue that we're not always getting the same machine, or that a minor OS upgrade happens which breaks everything.

In an area like SVG, how much of the testing can we reasonab

[2017-10-04 17:03] JKereliuk commented on #6986
This should be fixed in the new release which is now available.

[2017-10-04 17:07] foolip commented on #7570
This is creating trouble in https://bugs.chromium.org/p/chromium/issues/detail?id=764662, so giving this the roadmap label, so that it doesn't stay unfixed forever. (A weak promise, yes.)

[2017-10-04 17:09] foolip commented on #7570
@Hexcles, can you take a peek at the Chromium-side issue to see if fixing that is at all feasible? I think a lint here should be pretty easy to do, since `check_css_globally_unique` already does something more complicated.

[2017-10-04 17:16] chrishtr commented on #7543
Not sure. What is the current percent? @fsoder

[2017-10-04 17:21] domenic commented on #2206
Yes, that would be ideal!

[2017-10-04 17:25] mkruisselbrink commented on #4986
Given that fetch_tests_from_window actually landed by now, there shouldn't be much copy-pasting anymore (except of course that existing tests don't use fetch_tests_from_window, so there still is copy pasting of the slightly more complicated code than what would be possible by using that method). So yeah, not urgent at all.

[2017-10-04 17:29] Hexcles commented on #7570
@foolip Thanks for the pointer. The Chromium-side issue seems rather complicated. Dir + basename are used as the names of tests in **many** places, including but not limited to run-webkit-tests, result merger/viewer, rebaseline tools, bots, etc. To fix it, we need to have a major refactor over the whole Layout Test infra, which is likely a multi-quarter effort. WebKit is on the same boat.

[2017-10-04 17:40] foolip commented on #7570
OK, so adding a lint for it in wpt seems like the right choice, then.

[2017-10-04 18:06] fsoder commented on #7543
I think our currently shared percent is is roughly zero. There are some (I think) fairly obvious problem areas, but a there's also a lot of overlap with what FXTF specs would need to test. It's hard to comment on what it would take to achieve a certain percentage, but my gut feeling would be that 90% would be very difficult to reach.

[2017-10-04 18:23] eaenet commented on #7543
@foolip Like @chrishtr said we have nothing like this in Blink and I'm not sure we would want to add it either. A single pixel difference can be very significant, especially when it comes to borders, paint invalidation, and text rasterisation.

We have talked about adding support for only matching a specific region in a test however, ignoring differences outside of the designated region. It's noth

[2017-10-04 19:37] tobie opened #7583 "Add support for namespaces in idlharness"
See: #7551.

[2017-10-05 06:55] foolip commented on #5915
@gsnedders, which are still missing? I feel like I've added rather many in the past months.

[2017-10-05 10:13] farre opened #7589 "requestidlecallback/callback-timeout-with-raf.html assumes an idle period won't start if there are pending rAF callbacks"
The idea of the test is that when a rAF callback takes longer than 40 ms, which is assumed to be longer than the time until the next time that rendering will be updated, and makes a daisy chain call to requestAnimationFrame, then an idle period will never be initiated.

As far as I can tell from the spec, there is no reason for there not being an idle period in this case, given that the next updat

[2017-10-05 10:59] gsnedders commented on #5504
Nah, we still have the build system here, and we probably want this for the sake of people who care about the CSS test harness.

[2017-10-05 10:59] gsnedders commented on #5504
(It's also a few lines if someone sits down and fixes it!)

[2017-10-05 11:29] gsnedders commented on #5915
@foolip updated

[2017-10-05 11:33] bobholt commented on #6986
I've found one reftest in the pulls so far, and it looks like it's working in Chrome: https://travis-ci.org/w3c/web-platform-tests/jobs/283285046. That's promising. If we see others successfully complete, I think we can consider this done.

[2017-10-05 11:49] gsnedders commented on #5485
AIUI, the plan is to keep it as is, forever readonly.

The original CSS WG resolution was to convert all of these, but it seemed when I looked into it before like there was pretty terrible signal:noise and then I massively deprioritised it. Loads of the issues there are minor nits.

[2017-10-05 12:06] gsnedders commented on #7543
cc/ @thejohnjansen who I know has thoughts on this

[2017-10-05 12:13] gsnedders commented on #7543
There's also the issue of tests where the spec doesn't define enough to actually have reftests. How do you test `border-style: dashed`? The spec requires you draw a "dashed" border (that's… it), which you obviously can't test without a human in any general way (though obviously each implementation could have pixel or other references to make sure they draw the dashing as they expect).

IIRC, the b

[2017-10-05 12:18] gsnedders commented on #6329
@bobholt done

[2017-10-05 12:19] gsnedders commented on #7141
Realistically part of #6329 at this point; should just close this and deal with it there.

[2017-10-05 12:19] #7141 closed

[2017-10-05 12:20] gsnedders commented on #5947
https://github.com/w3c/web-platform-tests/issues/6327 is part of this when it comes to reftests (and that's blocked on MS).

[2017-10-05 12:23] gsnedders commented on #6327
@bobholt Uh, that commit message seems totally wrong. That commit shouldn't have changed anything in Edge, given Edge doesn't support the Font Loading API (currently "Under Consideration" on the Edge platform status page).

[2017-10-05 12:29] foolip commented on #7589
@rmcilroy, is this a test you added? Can you take a look?

[2017-10-05 12:32] gsnedders commented on #7125
I think we just need a list of paths to check in `/Applications` and `$HOME/Applications`? I'm pretty sure there isn't a better way of doing this than hardcoding those paths and hardcoding a list of Application bundle names (like we already do for `firefox`, etc., on Linux), though that probably mean parsing the `Info.plist` to get the actual binary path which is a bit of a pain (Python 2's `plist

[2017-10-05 12:49] gsnedders commented on #5646
Maybe, but only maybe? I expect it'll happen if any WG actually wants to get someone to do it, and not otherwise.

[2017-10-05 12:57] gsnedders commented on #5481
Hmm, we should probably rephrase this to mean the indices produced by the CSS build system (e.g., `css/CSS2/other-formats/xml/background-19.xml` doesn't appear in the CSS2 testsuite). We should probably have some meta-issue listing all the ways the CSS build system output differs from running the tests directly so we have something to point people at when they run into the various limitations. Tho

[2017-10-05 12:59] gsnedders commented on #5472
@foolip This is supported and appears in everywhere except the CSS build system's HTML/XHTML indices.

[2017-10-05 13:00] gsnedders commented on #5467
@foolip They're still relied upon in the CSS build system output.

[2017-10-05 13:03] gsnedders commented on #4813
@foolip visual tests are the ones that are done by pixel-comparison to some per-platform pre-rendered screenshots (i.e., Chromium's pixel tests)

[2017-10-05 13:09] gsnedders commented on #2669
@foolip doing it properly is probably a couple of days work, given the technical debt we already have around the hostname stuff.

[2017-10-05 13:17] gsnedders commented on #7570
See also: https://github.com/w3c/wpt-tools/pull/40

[2017-10-05 13:18] gsnedders commented on #7543
When it comes to SVG, see discussion in #4015 too.

[2017-10-05 13:42] gsnedders opened #7594 "Make CSS build system find tests using manifest"
This should just be replacing the start and end of `gatherTests` (in `css/tools/build.py`) to loop through test files in the manifest, within a certain root directory, and then act as it currently does (i.e., getting metadata and adding to test suites).

[2017-10-05 19:40] jan-ivar commented on #7424
FWIW it should be simple to whip up fake audio tracks using web audio. See my old [blog](https://blog.mozilla.org/webrtc/warm-up-with-replacetrack/).

[2017-10-05 20:32] #7339 closed

[2017-10-05 22:25] gsnedders commented on #5499
It needs to be in a support directory adjacent to the reference to be found.

[2017-10-05 22:44] gsnedders opened #7597 "Relabel issues where the directory has moved"
The following grey labels don't have directories either at the top level or in `css`; they should have any open issues/PRs relabelled for where they should now be (or recoloured to not be the generic spec colour):

- [] app-uri
- [] assets
- [] async_cookies
- [] auxclick
- [] clipboard
- [] CODEOWNERS
- [] CSP
- [] css-font-display
- [] css-logical-properties-1
- [] css-paint-api-1
- [] css-sizin

[2017-10-05 22:57] gsnedders opened #7598 "Consistently use one viewport size for reftests"
We in various places use 800x600 and 600x600 for the reftest screenshot size. We should stop being inconsistent and use one of them everywhere. I think we had agreement to go back to 800x600 after the WPT change to 600x600 for B2G, @jgraham?

https://lists.w3.org/Archives/Public/public-test-infra/2014JanMar/0014.html was the previous discussion about this in 2014.

[2017-10-06 06:56] johndai1984 opened #7600 "There are some tests don't run for Document-createElement.html"
I got a ReferenceError: "document_types is not defined", it seems like we have a wrong resource name for "resources/custom-elements-helper.js".

[2017-10-06 08:42] gsnedders commented on #7600
fixed by #7601, seemingly

[2017-10-06 08:42] #7600 closed

[2017-10-06 19:46] jdm opened #7621 "Treat servo-export label like chromium-export"
The wpt-pr-bot automatically marks the chromium-export PRs as reviewed. Servo needs the same functionality added for our own exported PRs.

[2017-10-06 20:04] bobholt commented on #6986
Finally got a good run out of wpt.fyi. It looks like reftests are working for sure.

Next week, we should take a look at the PRs and determine whether or not to move Chrome back to a CI required-pass.

[2017-10-06 20:04] #6986 closed

[2017-10-06 20:38] domenic commented on #7546
Yep, sorry about that, PR incoming. I'll switch it to echo-worker too since it doesn't matter what worker it is.

[2017-10-07 02:16] #7546 closed

[2017-10-09 09:14] andypaicu opened #7638 "Build errors after no-op file change."
Hello,

It seems that adding a simple comment to content-security-policy/support/checkReport.sub.js causes the build to fail on all browsers.

Here's a PR where I've tested this: https://github.com/w3c/web-platform-tests/pull/7636

This blocks this PR: https://github.com/w3c/web-platform-tests/pull/6985 as well as (I suspect) an older PR (https://github.com/w3c/web-platform-tests/pull/6467) of min

[2017-10-09 11:38] foolip commented on #5915
Thanks! Lots of those have OWNERS files in Chromium, so probably >50% of them could be fixed by copying those, converting to GitHub user names and sending out lots of reviews for people to find additional co-owners.

[2017-10-09 11:44] foolip commented on #5467
OK, sorry for the noise.

[2017-10-09 11:44] foolip commented on #4813
Do these tests exist inside css/? Do any of them actually run anywhere?

[2017-10-09 11:46] foolip commented on #2669
Hmm, OK. I guess I'll leave the roadmap label for now, but if someone tries to work on this and fails, maybe we should downgrade to backlog in favor of cleaning up that technical debt.

[2017-10-09 12:01] foolip commented on #6986
Wow, this is cause for celebration. Thanks @JKereliuk!

[2017-10-09 13:25] gsnedders commented on #4813
@foolip There's thousands inside `css/`; Edge runs them AIUI.

[2017-10-09 16:00] #7562 closed

[2017-10-09 17:41] gsnedders opened #7642 "Use a consistent size for testharness.js"
See https://bugs.webkit.org/show_bug.cgi?id=178053

We guarantee a given size for reftests (well, modulo #7598), and not doing so appears to be causing problems for some testharness.js tests, so we should probably just guarantee a size for them too.

cc/ @youennf @cdumez [I can't find any GitHub account for Darin?] @jgraham @Ms2ger @foolip

[2017-10-09 21:21] foolip commented on #7642
Makes sense. What should the size be?

[2017-10-09 21:22] gsnedders commented on #7642
I suggest we go for the same as we decide in #7598 to be consistent everywhere.

[2017-10-09 21:22] foolip commented on #4813
@patrickkettner @thejohnjansen, how does that work for Edge? Do you store the baselines out of band, and how do you know when to regenerate them?

[2017-10-09 21:23] foolip commented on #7598
Do you have counts for how many tests expect each size currently?

[2017-10-09 21:49] gsnedders commented on #7598
See #5403. Based on that old data set, we have 343 tests that rely on 800x600, and 261 that rely on larger than that. Of those 261, 226 fit in 1600x1200 (the old SPARTAN visual and reftest size), but AFAIK that's not considered overly practical given it makes it hard to run them on plenty of developer's local machines.

[2017-10-09 22:11] gsnedders commented on #7638
That seemed to fail because of the build running for longer than the maximum time. We don't seem to output the list of tests to run anywhere any more (?!) which doesn't help.

We do have, among other things in the log:

[code]

[2017-10-10 00:42] frivoal commented on #5485
Not surprised. It would seem the best course of action is to do nothing :)

@astearns or @atanassov , can you put this on the csswg's agenda, to attempt to get a firm and consensual WONTFIX?

[2017-10-10 03:06] cdumez opened #7647 "Potentially wrong check in entries-api/filesystemdirectoryentry-getDirectory-manual.html"
I may have found a bad check in entries-api/filesystemdirectoryentry-getDirectory-manual.html.

The subtest "FileSystemDirectoryEntry.getDirectory() - {create:true}: //upload/subdir" expects a "SecurityError" because the 'create' flag is set.

However, as per the spec [1], we check if the path is valid *before* checking the create flag.

In my opinion, the path "//upload/subdir" is not valid, give

[2017-10-10 03:07] cdumez commented on #7647
@inexorabletash thoughts?

[2017-10-10 03:10] cdumez commented on #7647
Several other tests are likely impacted:

filesystemdirectoryentry-getDirectory-manual.html | FileSystemDirectoryEntry.getDirectory() - directory: //upload/subdir
filesystemdirectoryentry-getFile-manual.html | FileSystemDirectoryEntry.getFile() - {create:true}: //upload/file.txt
filesystemdirectoryentry-getFile-manual.html | FileSystemDirectoryEntry.getFile() - file: //upload/file.txt

[2017-10-10 07:31] leonhsl commented on #7597
Hi, would you please help to explain more to me about this task :)
How did you get this list of obsoleted labels? Via some scripts?
And for relabeling those open issues/PRs do you have any ideas to do it efficiently? Manually relabeling them one by one would be a tough work.

[2017-10-10 11:51] bobholt commented on #7638
There are also a few like this:

[code]

Most of the errors are as gsnedders notes above, so it appears that however `/content-security-policy/support/report.py` was working before no longer works. Whether this was due to a change in wptrunner and whether that should be fixed (due to a regression) or the CSP test support files need to be changed (due to a regression there or a well-reasoned change

[2017-10-10 16:46] gsnedders opened #7650 "quirks-mode/active-and-hover-manual.html completes prior to all boxes being clicked on Chrome 63"
After clicking 17 boxes, the 18th box causes the test to complete (despite being less than half way through).

cc/ @zcorpan

[2017-10-10 16:52] inexorabletash commented on #7647
Chrome passes the tests with `//upload/subdir` so I'd call this a spec flaw, given the goal was to help implementations converge on Chrome's behavior without guessing. Chrome treats `//a/b` as an absolute path, my definition of absolute/relative paths in the spec prose was just not precise enough to cover this case.

I think changing the definition of absolute path as follows would address this:

[2017-10-10 16:59] cdumez commented on #7647
The algorithm at https://wicg.github.io/entries-api/#resolve-a-relative-path does skip empty segments, which is probably why WebKit does it.

Note that I am fine updating the spec to match Chrome. If you do so, then I'll update WebKit accordingly.

[2017-10-10 17:00] inexorabletash commented on #7647
But step 1 of the algorithm early-exits if it's absolute, so `/a//b` should be passed unchanged to "evaluate" and then fail.

[2017-10-10 17:01] inexorabletash commented on #7647
Anyway, filed spec bugs, I'll fix soon. Thanks!

[2017-10-10 17:11] cdumez commented on #7647
Oh, that's right, if the path is absolute, then WebKit, WebKit calls resolveRelativeVirtualPath("/", relativeVirtualPath.substring(1)). This is to resolve absolute path like "/testFolder/../../../../hello.txt"

Closing then since the fix will be on spec-side.

[2017-10-10 17:11] #7647 closed

[2017-10-10 18:32] foolip opened #7652 "Merge css/css-block into css-display"
These tests were for https://drafts.csswg.org/css-box-3/, which isn't actively maintained.

@tabatkins says that "these can be moved to Display, mostly".

[2017-10-10 18:33] foolip commented on #7503
As part of fixing this, it may be necessary to handle https://github.com/w3c/web-platform-tests/issues/7652 as well. That's the only directory that seems to not correspond to any currently maintained spec.

[2017-10-10 21:13] xiaochengh opened #7657 "testharness doesn't work with uncatchable exceptions"
We are trying to add a test case of the following, asserting there is no crash. However, the `click()` will run JS with syntax error asynchronously, and there is no way to catch the error.

If the error is not caught, testharness ends up in an error state. Is it good to leave the error state as-is, or should testharness consider expected-but-uncaught exceptions?

[code]

[2017-10-10 21:43] foolip opened #7660 "When many tests are affected, CI stability jobs will time out"
In https://github.com/w3c/web-platform-tests/pull/7654 I changed 778 files, and as a result all of the stability jobs failed, with messages like "No output has been received in the last 10m0s".

This is similar to https://github.com/w3c/web-platform-tests/issues/7073.

[2017-10-11 00:46] jdm commented on #7657
Tests can use `setup({ allow_uncaught_exceptions: true })` to accommodate expected exceptions.

[2017-10-11 01:28] xiaochengh commented on #7657
Whoops. Should have read the doc more carefully...

[2017-10-11 01:28] #7657 closed

[2017-10-11 07:11] jgraham commented on #7660
There are two issues here. One is that we should have a periodic keepalive message when the tests are still running but not producing output. The other is that if we get no output for 10 minutes we're pretty much guaranteed to hit the hard timout (since that implies a minimum runtime of 100 minutes which is about twice the threshold).

[2017-10-11 16:11] gsnedders opened #7676 "border-style: dotted | dashed | double | groove | ridge | inset | outset untestable"
It's impossible to write any automated test for these values of border-style as the specification doesn't define their behaviour sufficiently (i.e., all values except none, hidden, and solid).

[2017-10-11 17:52] foolip commented on #5485
Closing per https://github.com/w3c/web-platform-tests/issues/5485#issuecomment-335870469, thanks all!

[2017-10-11 17:52] #5485 closed

[2017-10-11 23:17] littledan commented on #6462
I dunno, contributing to test262 isn't perfect, but there are some things that are just inherently slightly different when you want to write a test against a JS shell vs a browser. These tests require a browser so they will be more annoying to use for JS engine authors.

@ms2ger what kind of pain did you run into? We are actually discussing potential improvements [here](https://github.com/tc39/tes

[2017-10-12 08:33] foolip commented on #7073
@lukebjerring, FYI, I had some ideas in https://github.com/w3c/web-platform-tests/issues/7073#issuecomment-326257910 and see also https://github.com/w3c/web-platform-tests/issues/7660 for a similar problem with changing many tests.

[2017-10-12 11:54] annevk opened #7693 "Full-duplex streaming"
HTTP, both 1 and 2, supports full-duplex in principle whereby the response arrives before the request is fully transmitted, as discussed in https://github.com/whatwg/fetch/issues/229 and "implemented" in the Fetch Standard.

However, the testing infrastructure does not allow for testing this setup. This is problematic as it means browser support may be/remain spotty.

In that issue @Lukasa suggest

[2017-10-12 12:25] jakearchibald commented on #7693
The latest Node.js seems to support duplex.

Here's a little echo server: https://gist.github.com/jakearchibald/d21b5b070d265efa3b16c6a566ae33fa

[2017-10-12 13:33] jakearchibald opened #7744 "Async add_cleanup"
When `promise_test`s, I've found myself [having to create additional tests](https://github.com/w3c/web-platform-tests/pull/7674) just to do cleanup, such as unregistering service workers, or clearing storage.

Ideally, if `add_cleanup`'s callback returns a promise, it should wait for that promise to settle.

[2017-10-12 13:35] jdm commented on #7744
This sounds like a duplicate of https://github.com/w3c/web-platform-tests/issues/7188.

[2017-10-12 13:45] #6518 closed

[2017-10-12 13:46] jakearchibald commented on #7744
It is, sorry!

[2017-10-12 13:46] #7744 closed

[2017-10-13 00:52] domenic opened #7747 "Some JS module error test cases are outdated"
https://github.com/whatwg/html/pull/2991 fixes module script error handling, again. We will be revising the test cases for the affected error cases via Chromium's two-way sync, over the next few weeks. I believe all of the changes will have to do with error identity, i.e. the tests which currently test that the exact same error is thrown each time.

But I wanted to file this tracking issue so as t

[2017-10-13 01:01] nyaxt commented on #7747
@whatwg/modules

[2017-10-13 08:41] foolip opened #7749 "Add viewport/OWNERS and viewport/README.md"
@bokand, can add OWNERS to this directory, and a README that points to what the spec for this is? Usually it's obvious by the name, but not here.

If possible, renaming either https://wicg.github.io/ViewportAPI/spec.html or this directory so that they match would be nice.

[2017-10-13 09:18] gsnedders opened #7750 "Unable to test which cursor is used"
At the moment, we have no way to test the CSS `cursor` property. We probably need some ability to take a screenshot of the cursor at a specific place.

cc/ @frivoal

[2017-10-13 09:27] gsnedders opened #7752 "Fonts for font matching need to be installed"
We can't entirely test [font matching](https://drafts.csswg.org/css-fonts/#font-matching-algorithm) without actually installing some fonts. (Some things can be partially tested with web fonts, but not entirely.)

[2017-10-13 09:32] gsnedders opened #7753 "Unable to test ARIA/AAM bindings"
@halindrome wrote some automation tool here (ATTA); we should have these automated out of the box running under `wptrunner`.

cc/ @joanmarie

[2017-10-13 10:03] gsnedders opened #7757 "Unable to test anything reliant on list markers"
* Until List Level 3 is done, marker positioning is undefined in CSS2 (and it's currently marked as not-ready-for-implementation, and unimplemented)
* disc, circle, square, disclosure-open, disclosure-closed list style types are not precisely defined, even in CSS Counter Styles Level 3

We have large number of tests for the various counter styles from the all of which are currently manual, and mos

[2017-10-13 10:34] gsnedders opened #7759 "No way to test animated content"
Realistically, we're never going to do frame-by-frame testing of animation. From memory, most browsers have APIs to pause animations at a certain time offset and then screenshot that.

[2017-10-13 10:37] gsnedders opened #7760 "No way to test paged media"
CSS has quite a lot of properties to control paged media (most obviously `page-break-before`/`-after`, etc.), and we currently have no way of testing these. We should probably have some sort of reftests that test print behaviour, probably by printing to PDF and then comparing. We may want to just reuse the Mozilla `reftest-print` class for this.

[2017-10-13 11:14] foolip commented on #6986
The cause for celebration is larger than I though. The pass rates in css/ are totally different now, Chrome is at 86% now, which means that the CSS tests aren't in as bad shape as it previously seemed. @tabatkins FYI.

My takeaway is that it's possible that a few small fixes can totally change the results, so getting wpt into good shape overall might not be as herculean a task as it seemed.

[2017-10-13 11:57] halindrome commented on #7753
There are a number of factors that make it complicated...  but yes, it is possible.  @joanmarie has done most of the recent work on the ATTA end.   Obviously the ATTA itself is platform specific.  I think all of the current ones are written in Python.

[2017-10-13 14:50] foolip opened #7765 "Rename scroll-anchoring to css-scroll-anchoring"
https://github.com/w3c/web-platform-tests/tree/master/scroll-anchoring

The spec is now at https://drafts.csswg.org/css-scroll-anchoring/. It would be good to update the README and rename the whole directory.

@skobes, does this make sense?

[2017-10-13 15:24] skobes commented on #7765
Sounds good.  I'll send a patch.

[2017-10-13 15:57] foolip commented on #7598
So, if we pick any smaller size, what do we do with tests that don't fit? Rewrite (and accidentally break) those tests?

[2017-10-13 16:05] gsnedders commented on #7598
https://github.com/w3c/web-platform-tests/issues/7135 is one option that was have some limited support for.

[2017-10-13 16:15] #7453 closed

[2017-10-13 19:59] bokand commented on #7749
Weird, I thought I had added an OWNERS file...ok I'll go ahead and do that. I'll rename to visual-viewport.

When you say to rename https://wicg.github.io/ViewportAPI/spec.html you mean the header in the spec?
 the WICG repo? the spec.html file name?

[2017-10-13 20:47] jeffcarp opened #7771 "--install-browser broken for Firefox"
Running in a Debian Jessie Docker container.

The root cause is that we use `platform.uname()[-1]` [to access the word size / architecture](https://github.com/w3c/web-platform-tests/blob/master/tools/wpt/browser.py#L73). This breaks because in the container the tuple has an extra element at the end:

[code]

The order of values in `uname` is defined, so we should just use the index we want (4):
ht

[2017-10-13 21:37] foolip commented on #7749
The convention is that wpt for names match the "shortname", the foo in https://www.w3.org/TR/foo/.

Now /TR/ is almost never the URL used, so it's some other part of the URL. So, if you have a "shortname" that you like, using it everywhere is nice.

But it's not a big deal, in case of mismatch it's still possible to figure out what things belong together from README.

[2017-10-13 22:02] #7771 closed

[2017-10-13 23:29] musgravejw commented on #6998
I'm experiencing a similar issue on Python 2.7.11 and Sierra 10.12.6.

Unexpected error message with the following output in the console:

[code]

[2017-10-14 09:26] foolip opened #7773 "http://w3c-test.org/ has a bunch of text-emphasis tests in the root"
Current listing of http://w3c-test.org/:
[code]

text-emphasis-* don't belong there.

[2017-10-14 09:34] sideshowbarker commented on #7773
Yeah this happens sometimes for some reason — not always with the same set of tests but instead seemingly with a random set — and I have no idea why.

Anyway, removed all the stray `text-emphasis-*` files that were there

[2017-10-14 09:34] #7773 closed

[2017-10-14 09:36] foolip commented on #7773
Thanks @sideshowbarker! If it happens again maybe we need to look into how the deploy works, like always preparing a new root directory and the switching, or something.

[2017-10-14 13:02] gsnedders commented on #6998
@musgravejw That's almost certainly unrelated; can you file a new bug for that, along with the command you ran, preferably with `--log-mach-level debug`, and include the full output?

[2017-10-14 14:05] frivoal commented on #7750
Right. Currently all cursor tests are manual, and that's lousy.

[2017-10-16 09:42] foolip opened #7781 "idlharness.js is cumbersome for testing instances of Sensor"
See discussion at https://github.com/w3c/web-platform-tests/pull/7763#pullrequestreview-69447993

The problem is that Sensor is abstract, only inheriting interfaces like AmbientLightSensor can be created. This means that in order to test instances, all of the idlharness.js tests need to have `interface Sensor` as part of the tested IDL. This leads to a lot of duplication (tests for hasReading woul

[2017-10-16 09:45] tobie commented on #7781
`sensor.hasReading` is just `!!sensor.timestamp`. I'm really not sure why it's at all necessary.

Is that the only attribute that's causing issues?

[2017-10-16 09:46] foolip commented on #7781
No, that's just a thing that would be annoying, the problem is that we'd have duplicate test coverage and need to split the IDL of this spec into two files.

[2017-10-16 09:49] foolip commented on #7781
How naughty would it be to to `idl_array.members.Sensor.untested = false` in all of the tests that add the generic sensors IDL as untested, to duplicate only Sensor coverage but not SensorErrorEvent?

[2017-10-16 10:00] tobie commented on #7781
Frankly, I sort of imagine the way forward as having one file per interface construct and letting idlharness require the ones it needs.

In the meantime, I tend to think that duplicating the `SensorErrorEvent` tests or splitting the file in two (if I understand the options well), aren't as bad as `idl_array.members.Sensor.untested = false`.

[2017-10-16 10:26] foolip commented on #7781
I would like to keep one IDL file per spec to make it easier for @mdittmer auto-update them, so given the choices I guess I'll just go for the duplicate coverage. Would `idl_array.members.Sensor.untested = false` be bad even given a leading `assert_true('untested' in idl_array.members.Sensor)` to guard against internal changes?

[2017-10-16 10:31] tobie commented on #7781
Maybe we should just expose an API (if one doesn't already exist) to do just that.

[2017-10-16 10:59] foolip commented on #7781
I could do that, there's something called `prevent_multiple_testing` which is in the same category. (I think, it claims to be documented earlier in the file but isn't AFAICT.)

The most scoped API shape might be `idl_array.set_tested('Sensor')`, would that be OK? That's assuming that it usually makes sense to opt in to duplicate testing for only a few things.

[2017-10-16 11:05] tobie commented on #7781
It's a sketchy space, I *think* `prevent_multiple_testing` does something completely different.

wrt to the API, I'm not sure what you suggest conveys well what we're trying to achieve (which tbh, isn't super clear either). Is this the case that we're only bumping into this issue for abstract classes? In that case, we probably want to see what's being done for other similar cases (as you noted abo

[2017-10-16 13:25] mdittmer opened #7784 "Source IDL for idlharness.js tests should be auto-synced from latest draft specs"
This should be relatively straightforward, given that https://github.com/GoogleChrome/webidl-diff already contains code for locating specs, extracting IDL, and verifying it (by parsing it).

[2017-10-16 14:11] jgraham commented on #7556
FWIW I would approve this and rely on people's ability to use git to check out the old tests.

[2017-10-16 14:17] foolip commented on #7556
@andreastt, between deleting them now, moving to /webdriver/old-tests/ and just waiting, which would you prefer?

[2017-10-16 14:31] soareschen opened #7786 "Incorrect test for setRemoteDescription accepting offer from different connections"
As discussed in https://webrtc-review.googlesource.com/9621, the test case [Setting remote description multiple times with different offer should succeed](https://github.com/w3c/web-platform-tests/blob/fc9fca188e32d2382578b74e4164c4ba4b65d9df/webrtc/RTCPeerConnection-setRemoteDescription-offer.html#L69-L87) is probably incorrect as it does not take into constraints in JSEP which disallow such assi

[2017-10-16 15:39] gsnedders opened #7844 "wpt run doesn't work with latest Firefox and certutil on macOS"
See:

[code]

As far as I can tell, these are the latest Firefox and NSS releases?

[2017-10-16 15:40] gsnedders commented on #7844
Note the same happens with current FirefoxNightly.

[2017-10-16 15:45] andreastt commented on #7556
Sorry for the delay on this. I made a cursory pass of the tests under /old-tests/webdriver and I deem them a combination of incomplete, untried, and outdated to the degree that it would both be wasteful and hard to resurrect them.

The new wdspec-backed tests under /webdriver are considerably more up to date and tested across existing implementations, and although they don’t cover some of the thin

[2017-10-16 17:52] gsnedders opened #7846 "Add ./wpt run --verbose as an alias of --log-mach-level debug"
It's a pain that we use something non-standard here and not that memorable.

[2017-10-16 18:00] gsnedders opened #7847 "./wpt run --log-mach-level debug should output ERROR messages"
Given ERROR represents a test runner error, when debugging we probably want the message that comes with it.

[2017-10-16 20:47] gsnedders opened #7853 "wpt lint fails on most Python files on Windows"
[code]

Yet under Windows Subsystem for Linux:

[code]

This is just one of many Python files that fail with PARSE-FAILED under Windows but not under Linux.

[2017-10-17 01:01] musgravejw opened #7854 "wpt run for Chrome throws Python Attribute Error exception"
Hi there, trying to get the test suite to run on macOS Sierra v10.12.6 with Python 2.7.11.

Running `./wpt run chrome` on something like the example `dom/historical.html` throws the exception "Python quit unexpectedly", with the following output to the console:

[code]

with `--log-mach-level debug`:

[code]

Issue referenced here:  https://github.com/w3c/web-platform-tests/issues/6998

[2017-10-17 08:42] foolip opened #7857 "Test the ClipboardEvent constructor"
See https://github.com/w3c/clipboard-apis/issues/33 for context.

[2017-10-17 10:31] foolip commented on #7781
How about a second argument to `add_idls` that's an array of the members (interfaces etc.) to include, ignoring all others? For concrete sensors, it'd be `idl_array.add_idls(generic_sensor, ['Sensor'])`.

[2017-10-17 10:37] tobie commented on #7781
LGTM. Would favor: `idl_array.add_idls(generic_sensor, { except: ['Sensor'] })` or similar, though.

[2017-10-17 11:16] foolip commented on #7781
OK, I was actually going for an opt-in list, but we could have both. How about `idl_array.add_idls(generic_sensor, { include: ['Sensor'] })` and exclude?

[2017-10-17 11:41] andypaicu commented on #7638
The timeout seems to be the problem, the errors are more of a red herring and easily fixed, I've updated the PR https://github.com/w3c/web-platform-tests/pull/7636 with a fix for them. The build still times out unfortunately.

I'm more curious to know what tests are triggered that cause the build to timeout when we modify these files.

[2017-10-17 11:47] tobie commented on #7781
I went for `except` (or `exclude`), because we want the API to consistent with the default, imho. `include` feels weird in that regard. What about `except`/`only` or `blocklist`/`allowlist`?

[2017-10-17 11:51] andypaicu commented on #7638
...or is it just the fact that it runs all csp tests and that just simply takes too long?

[2017-10-17 12:02] jgraham commented on #7638
From the log:

[code]

This is just failing because it affects too many tests to run them all 10x in the allowed time.

[2017-10-17 12:04] foolip commented on #7781
@tobie, can you review the idlharness.js changes in https://github.com/w3c/web-platform-tests/pull/7861? I didn't read your reply before sending it, so let's repeat the naming discussion there :)

[2017-10-17 12:19] andypaicu commented on #7638
Ok, I'll have a look at them, I suspect most of those tests don't need to use checkreport at all and could just make do with violation event checks.

[2017-10-17 14:42] jgraham commented on #7475
I have some concerns about this.

The easiest solution would just be to run all the tests twice on travis. But we already have capacity issues and I don't fancy adding an extra job, or additional work to the existing jobs. I'm also not sure that this actually helps in most cases. In particular who will see these results? For gecko developers we want something like this, but on the bug we generate

[2017-10-17 19:25] jdm opened #7868 "Lint for presence of SpecialPowers"
Like the testRunner property, SpecialPowers is a Gecko-specific test extension. It is present in two tests right now; we should ensure that no more uses slip in.

[2017-10-17 19:25] jdm opened #7870 "Remove uses of SpecialPowers"
css/css-fonts-3/test_font_feature_values_parsing.html and css/css-fonts-3/test_font_family_parsing.html contain uses of this property, which makes the tests less useful in other browsers.

[2017-10-17 20:25] jgraham commented on #7870
That shouldn't even work in Gecko…

[2017-10-17 20:31] jgraham commented on #7870
https://github.com/w3c/web-platform-tests/pull/7871

[2017-10-17 22:55] sideshowbarker opened #7873 "Testing if UA sends TLS client certs in CORS preflight OPTIONS request?"
I’m wondering if with wptserve it’s possible to test whether a UA sends TLS client certs in CORS preflight `OPTIONS` requests.

The context is https://bugs.chromium.org/p/chromium/issues/detail?id=775438 and https://bugzilla.mozilla.org/show_bug.cgi?id=1019603

[2017-10-18 10:17] #7868 closed

[2017-10-18 10:18] #7870 closed

[2017-10-18 13:59] foolip commented on #7475
In the first instance, on any PR on GitHub. Then, if people don't rebel, we'd try reflecting that same information into Chromium code review, so that if an in-flight Chromium change is going to regress the test for Firefox, we'd know about it, and fix it if it's not intentional.

As for presentation, I think it'd be nice if we could have the results more in the shape of wpt.fyi both before and aft

[2017-10-18 14:05] foolip commented on #7475
This will usually work, and I think we might be able to end up there with https://github.com/w3c/wptdashboard/issues/164, but in the short term I wonder how noisy it would be, with wpt.fyi being slightly out of date, and not run in exactly the same way.

Elsewhere we talked about teaching the stability checker about the timeout so that it would run fewer times if needed, and I think that might be

[2017-10-18 14:20] jgraham commented on #7475
I think I would like to try this and see how often it fails before trying a different approach.

10 is already pretty low and we are still getting some unstable tests on import, so I'm reluctant to reduce this further (FWIW there is work at mozilla to add a "verify" mode to harnesses that runs each test 10x without a browser restart and then 5x with a restart and then the same again in "chaos mode

[2017-10-18 19:44] stephenmcgruer opened #7885 "Should web-animations/interfaces/AnimationEffectTiming/iterationStart.html use assert_approx_equals?"
@birtles

Chrome currently fails this test with:

FAIL Test that changing the iterationStart affects computed timing when backwards-filling assert_equals: expected 0.5 but got 0.4999999999999999
FAIL Test that changing the iterationStart affects computed timing during the active phase assert_equals: expected 0.5 but got 0.4999999999999999
FAIL Test that changing the iterationStart affects computed

[2017-10-18 19:59] stephenmcgruer commented on #7885
See also web-animations/timing-model/animation-effects/simple-iteration-progress.html:

FAIL Test zero iterations: iterations:0 iterationStart:2.5 duration:100 delay:1 fill:both assert_equals: Value of progress in the before phase expected 0.5 but got 0.4999999999999999
FAIL Test zero iterations: iterations:0 iterationStart:3 duration:100 delay:1 fill:both assert_equals: Value of progress in the b

[2017-10-18 23:13] birtles commented on #7885
@stephenmcgruer Yes, that would be great. Thanks!

For `assert_computed_timing_for_each_phase` could you add some local definition `assert_property_equals` that switches between `assert_equals` and `assert_approx_equals` (or, better, `assert_times_equals` since I notice we use that for progress values in at least `web-animations/timing-model/animation-effects/active-time.html`) based on the proper

[2017-10-19 12:42] jdm opened #7899 "Support some sort of cross-browser GC trigger"
#7887 adds a mechanism that is Blink-only for some tests, and https://github.com/w3c/web-platform-tests/blame/master/streams/resources/test-utils.js contains one for Blink and Webkit. It's clear there is a desire to write tests that rely on GC behaviour; it would be useful to find ways to support that.

[2017-10-19 13:21] mdittmer commented on #7475
IMHO wpt.fyi should host a service that can produce a report like this. We
may need the service to be authenticated; an attacker shouldn't be able to
overwhelm bots with requests to diff two arbitrary (but legitimate)
web-platform-tests revisions.

On Wed, Oct 18, 2017 at 10:20 AM, jgraham <notifications@github.com> wrote:

[2017-10-19 13:44] foolip commented on #7475
I think that's the right long term trajectory: to share the running infrastructure and to make the data available in a way that can be used to produce both GitHub comments, Gerrit comments, and a web UI that they'd link to.

But, while tests are run on Travis, what we need is just the current results, and we'll have to filter+process them to produce the GitHub comment.

[2017-10-19 17:00] mdittmer commented on #7475
Don't we also need previous results--i.e., without change applied?

On Thu, Oct 19, 2017, 9:45 AM Philip Jägenstedt, <notifications@github.com>
wrote:

[2017-10-19 17:20] jgraham commented on #7475
I think you might each using "current" and "previous" to mean the same thing.

[2017-10-19 17:34] mkruisselbrink commented on #7899
Related to this would of course be to actually run the browser such that triggering GC works.

[2017-10-19 18:42] tabatkins commented on #7202
I'm trying to do some work involving the manifest file right now too, so yeah, having the structure actually documented would be wonderful. I'm just kinda flailing at it and hoping that the assumptions I'm making won't be violated by something weird.

[2017-10-19 18:50] tabatkins opened #7908 "Generate and check-in the most current manifest?"
I'm doing some Bikeshed work that needs wpt information, particularly the stuff stored in the manifest. Currently, this means I have to pull down the entire wpt tree and run `wpt manifest`. But this file isn't based on any local information for me (I'm not adding any *new* tests to the project). Could it just be pregenerated and kept current in the repo, so that I could instead just pull down that

[2017-10-19 19:06] jgraham commented on #7908
I'm planning to upload the generated manifest to GitHub releases.

[2017-10-19 19:11] foolip commented on #7475
@mdittmer, yes, we do need the results without the changes, the question is whether we get them by running the tests without the changes once on Travis or if we get them from wpt.fyi. The former will be correct and the latter will have some amount of hard-to-understand noise, but the setup will be more like how we want it to eventually be.

I think that if we do compare with results from wpt.fyi,

[2017-10-19 21:59] emilio commented on #7543
This came up again on IRC on #servo (cc @glennw):

[2017-10-20 02:33] Honry opened #7912 "Create a test suite for Web App Mainfest Spec"
@marcoscaceres has some tests from Moz and his personal repo. We could look into them as inspiration to create a test suite for [Web App Manifest](https://www.w3.org/TR/appmanifest/).

Post @marcoscaceres's comments from https://github.com/w3c/manifest/issues/623#issuecomment-337839559:

https://github.com/mozilla/gecko-dev/tree/master/dom/manifest/test

https://github.com/marcoscaceres/web-manife

[2017-10-20 03:48] marcoscaceres commented on #7912
Thanks for getting this started. @Honry, will you be at TPAC? We should make a test plan for how we want to approach this.

[2017-10-20 06:50] birtles commented on #7759
Yeah, we do that either using the Web Animations API, or using various combinations of step timing functions and negative delays to seek the animation to different points. More commonly, though, we just do script-based tests and call `getComputedStyle`.

[2017-10-20 06:53] birtles commented on #7885
Closed by #7903 / c2d0053

[2017-10-20 06:53] #7885 closed

[2017-10-20 08:30] alvestrand opened #7913 "Test metadata should be in test file, not in filename"
The "must be tested using HTTPS" flag is currently encoded by naming the files with .https.html.
It's been suggested to mark provisional tests by naming them as .provisional.html.
Putting information about the test into the test identifier (name) is bad information management practice, and having multiple orthogonal pieces of metadata inside it makes it even worse.
Can we put this information insi

[2017-10-20 09:10] jgraham commented on #7543
I think this is something we should discuss at TPAC since it seems like different vendors have different concerns here. It would be useful to get a clear list of use cases in the next couple of weeks to guide that discussion.

[2017-10-20 10:17] foolip commented on #7913
Aside: provisional tests are called tentative and now documented in http://web-platform-tests.org/writing-tests/file-names.html

@alvestrand, to spell out the concern, is it that renaming files when the metadata changes is annoying?

There is *some* metadata that's in the file itself, like [`<link rel=match>`](http://web-platform-tests.org/writing-tests/reftests.html) or the inclusion of `/resourc

[2017-10-20 10:21] foolip commented on #7899
Strawperson: move what's in test-utils.js into /common/gc.js and see what happens.

@jgraham, are there any bad things you'd expect to happen?

[2017-10-20 10:56] jgraham commented on #7913
I'm not sure why this is "bad information management practice". Putting metadata (in the form of a file extension) inside a file is extremely common and, as @foolip points out the filename is the only place we can put this information in a format-independent way. In general putting too much information inside the file is problematic because:
* It's slower to read (we need to parse the whole file r

[2017-10-20 11:14] stephenmcgruer commented on #7885
@birtles There is still https://github.com/w3c/web-platform-tests/pull/7902 which fixes iterationStart.html :)

[2017-10-20 11:59] foolip commented on #7543
@eaenet, I was mainly thinking about a definition of fuzzy that allows each pixel's RGB values to be off by a tiny amount, where shifting a border by 1px would fail.

I suppose that [SSIM](https://en.wikipedia.org/wiki/Structural_similarity) (or similar) over the whole image might also be useful in *some* scenario, but it isn't what I created the issue for.

[2017-10-20 12:00] foolip commented on #7543
@gsnedders, can you add this to the TPAC agenda? Is there a doc somewhere for it already?

[2017-10-20 12:10] Honry commented on #7912
@marcoscaceres, regrettably, I won't be at TPAC.

Actually I am newbie on Web App Manifest, I browsed through the spec and your tests, seems the big problem is that how to automate the tests.

Manifest has many members(including sub-members) and most of them require user interaction to validate expected results, moreover, app installation across different UAs/platforms are quite different. Which m

[2017-10-20 12:21] foolip commented on #7913
For tentative tests, I would be fine with switching that to in-band metadata to avoid renaming back and forth. It would have to be something that works at least HTML and JavaScript files, maybe as simple as the string "tentative" appearing somewhere in the file, although that might be too subtle.

@alvestrand, I assume the piece of metadata you're most interested in is HTTPS, because a bunch of te

[2017-10-20 13:04] jgraham commented on #7913
I would be quite opposed to changing the system for encoding https. I think the fact that it appears in the path is very useful to users trying to load tests, and I think it's uncommon for https tests to suddenly become non-https, so renaming once the tests work should be rare. I assume something external changed here e.g. the feature was made https-only?

[2017-10-20 13:09] foolip commented on #7913
No, the tests originally just didn't work in any automated running environment, it was after they were imported into Chromium and @alvestrand tried to get more of them passing that the problem became obvious.

[2017-10-20 17:00] lukebjerring opened #7928 "Failure to bind port increments the port opened, but not the port requested by tests"
This causes all ref-tests to pass (since the test/ref 404 pages are the same!)

Steps to reproduce:
- Run something on port 8000 (e.g. wptdashboard's `dev_appserver.py .`)
- Run a tests with `wpt run`

Expected: Bumps to 8001 for both binding and request
Actual: Bumps to 8001 for binding server, still requests 8000
e.g. `Loading http://web-platform.test:8000/testharness_runner.html`

[2017-10-20 19:56] wisniewskit opened #7933 "XHR open-during-abort-processing.htm test is incorrect per the current spec-text."
In its `onloadstart` handler, the test calls `abort`. This triggers abort step 2, running the `request error steps`. Step 5 of those steps fires a `readystatechange`, which triggers the test's `readystatechange` handler, which calls `open` and `send`. By the time that's done and the `request error steps` resume at step 6, the `upload complete` flag will have been reset to false, and step 6 will no

[2017-10-20 21:07] gregwhitworth commented on #7271
So I reviewed all of the percentage tests within this and they all skirt around that line so that is how this interop issue got through. I'll add a few new tests testing specifically this change.

[2017-10-22 08:28] annevk commented on #7854
@jgraham who can help with this?

@musgravejw can you run tests yourself with `./wpt serve`?

[2017-10-22 08:28] annevk commented on #7854
(This blocks https://github.com/whatwg/html/pull/3084.)

[2017-10-22 17:16] jeffcarp commented on #7854
I believe #5774 would fix this.

[2017-10-22 18:36] jgraham commented on #7854
Merged #5774, but if you keep getting this something else is wrong since it only happens when the browser failed to start.

[2017-10-22 18:36] #7854 closed

[2017-10-23 12:35] #7589 closed

[2017-10-23 16:22] #7271 closed

[2017-10-23 17:12] gregwhitworth opened #7950 "[css-flexbox][spec-rec] Rename files to be more clear of what they're testing"
Rename the following files to match what they're testing more accurately rather than their current numeric system.

- [ ] align-content-001.htm
- [ ] align-content-002.htm
- [ ] align-content-003.htm
- [ ] align-content-004.htm
- [ ] align-content-005.htm
- [ ] align-content-006.htm
- [ ] align-items-001.html
- [ ] align-items-002.html
- [ ] align-items-003.html
- [ ] align-items-004.html
- [ ] al

[2017-10-23 17:15] gregwhitworth opened #7951 "[css-flexbox][spec-rec] Delete the following files"
The following files through review, were either redundant or weren't good testcases and as such should be deleted. I have more specific statements regarding each of the below so please allow me to make these changes as some may be slight modifications to make them better, but in most cases they'll be deletions.

- [ ] getcomputedstyle\flexbox_computedstyle_flex-shorthand-0-auto.html
- [ ] interact

[2017-10-23 17:24] gregwhitworth opened #7952 "[css-flexbox][spec-rec] Need more complex nesting"
We should have testcases that are nested flex containers in many combinations.

[2017-10-23 17:26] gregwhitworth opened #7953 "[css-flex][spec-rec] Complete flex values that are missing"
There is a pretty good list of flexbox_flex-Y-Y-Y.html but a few are missing, as such they should have tests:

- [ ] Missing: flexbox_flex-1-N-0-unitless-shrink.html
- [ ] Missing:   flexbox_flex-1-N-0-shrink.html
- [ ] Missing:   flexbox_flex-1-N-shrink.html
- [ ] Missing:   flexbox_flex-N-0-0-shrink.html
- [ ] Missing:   flexbox_flex-N-1-0-unitless-shrink.html
- [ ] Missing:   flexbox_flex-N-1-0

[2017-10-23 17:29] gregwhitworth opened #7954 "[css-flex][spec-rec] Transition order should cover row wrap, row revers wrap, column wrap"
Currently there are tests for ensuring the order of transitions but it currently is missing tests for:

- [ ] row wrap
- [ ] row reverse wrap
- [ ] column wrap

[2017-10-23 17:30] gregwhitworth opened #7955 "[css-flex][spec-rec] Test for first-letter"
We have a test for first-line but the same spec statement stands for first-letter, we should add a test for this.

[2017-10-23 17:32] gregwhitworth opened #7956 "[css-flex][spec-rec] Mix writing modes and flex alignment"
Ensure that any of the flex only alignment modes (eg: flex-start/end) work as expected in different writing modes.

[2017-10-23 17:36] gregwhitworth opened #7957 "[css-flex][spec-rec] Write more tests containing images"
We need more testing around images in particular as this is one of the primary reasons the section of https://drafts.csswg.org/css-flexbox-1/#min-size-auto

[2017-10-23 17:49] gregwhitworth opened #7958 "[css-flex][spec-rec] Add test for fragmentation propogates to container"
We didn't see any tests covering this part of the spec so we should add one:

[2017-10-23 18:00] lukebjerring opened #7959 "Make manifest path and expectation root independent"
Currently, the MANIFEST.json is assumed to share a root with metadata (.inf) files. We should add support for passing in a different expectation root than the manifest path (--metadata-root).

This would allow us to build + utilize a root which pulls from the latest wpt.fyi results (re-using the expectation behaviour to detect regressions), for https://github.com/w3c/web-platform-tests/issues/7475

[2017-10-23 18:13] jgraham commented on #7959
Probably the right way to do this is to change `metadata_root` to `expectation_root` and `manifest_path` everywhere and for compat set `manifest_path=os.path.join(metadata_root, "MANIFEST.json")` and `expectation_root=metadata_root` if the manifest root is explicitly passed in in a command line argument (we can make the argument hidden so it's only legacy scripts that do this).

[2017-10-23 19:10] JKereliuk commented on #7638
@andypaicu Is there an update on this?

[2017-10-23 19:15] JKereliuk commented on #2669
@gsnedders @foolip Any update on this? Should we keep it as roadmap or downgrade to backlog?

[2017-10-23 19:34] JKereliuk commented on #5319
@lukebjerring any update on this?

[2017-10-23 19:34] JKereliuk commented on #5407
@lukebjerring any update on this?

[2017-10-23 19:57] lukebjerring commented on #5319
No, I haven't looked at it yet, will assign to self though (it's in the pile)

[2017-10-23 19:58] lukebjerring commented on #5407
@foolip might have more info on this - think it's something bocoup will tackle

[2017-10-23 20:01] foolip commented on #5407
Assigning @mattl. This is not urgent, but something we should try to understand. Matt, can you take a look at this some time over the coming month to see what the cause might be?

[2017-10-23 20:03] mattl commented on #5407
Absolutely.

[2017-10-24 06:31] andypaicu commented on #7638
Yes, I have made a bunch of changes that refactored blink-contrib and blink-contrib-2. I'll be looking at this today to see if it's fixed now.

[2017-10-25 02:12] marcoscaceres commented on #7912
Boo!

Yeah... apart from IDL tests of the `BeforeInstallPromptEvent`, nothing can really be automated 😢

Yeah, that's exactly what I was thinking too.

[2017-10-25 02:56] jdm commented on #7621
This is done.

[2017-10-25 02:56] #7621 closed

[2017-10-25 08:34] frivoal opened #7969 "grid-box-sizing-001 fails due to missing file"
The grid-box-sizing-001 file added by commit https://github.com/w3c/web-platform-tests/commit/d8f789878b359c58ebad395442ec4eb42050cbd9 fails on a 404 in all browsers due to a missing file.
`<script src="../support/check-layout-th.js"></script>`
does refer to a valid file that is in the source tree, but somehow once you load the test case from testharness, it fails: http://test.csswg.org/suites/css

[2017-10-25 08:57] mrego commented on #7969
Mmmm, ok I should have used `/support/check-layout-th.js` instead (like Flexbox does).
We've the same problem in all the grid tests:
http://test.csswg.org/suites/css-grid-1_dev/nightly-unstable/html/grid-positioned-items-implicit-grid-001.htm
I'll fix that, thanks @frivoal for reporting.

[2017-10-25 09:07] mrego commented on #7969
Sorry for the wrong comment, for Flexbox test they use `support/check-layout-th.js` as relative path that seems to be working fine:
* http://w3c-test.org/css/css-flexbox-1/percentage-heights-001.html
* http://w3c-test.org/css/css-flexbox-1/position-absolute-001.html
* http://w3c-test.org/css/css-flexbox-1/position-absolute-002.html
* http://w3c-test.org/css/css-flexbox-1/position-absolute-003.html

[2017-10-25 09:54] rakuco commented on #7912
Perhaps @foolip has some insights or can poke some people who do.

[2017-10-25 10:09] marcoscaceres commented on #7912
Not sure... it's really the Editors who understand how the spec works and what is testable (unless I'm misunderstanding what you are asking from poor @foolip :)).

[2017-10-25 10:14] rakuco commented on #7912
Heh, it was a ping in a more general sense -- we've been discussing manual tests and automation strategies for w-p-t so he might at least have a few ideas that can apply to the manifest tests.

[2017-10-25 10:16] marcoscaceres commented on #7912
@rakuco go it. Any suggestions welcome, @foolip 😸

[2017-10-25 10:31] gsnedders commented on #7969
Yup, the build system doesn't deal with relative paths. It copies the contents of the support directory adjacent to the test, and nothing else.

We have two options: change the build system to find all support files a test includes and move them around (note this has been proven impossible for tests that use JavaScript [HALTINGPROBLEM]), or get rid of the build system (and when I looked at it befo

[2017-10-25 11:12] mrego commented on #7969
Any suggestion about how to fix this specific case?
Do we need N `check-layout-th.js` in each Grid Layout subfolder (like `css/css-grid-1/abspos/support/check-layout-th.js`? Or flatten (remove subfolders) the Grid Layout test suite (which doesn't sound like a great idea either).

[2017-10-25 13:22] foolip commented on #7912
A generic and not very helpful answer is that WebDriver may be part of the solution. That automates some things that users do, after all, like clicking things and dismissing modal dialogs.

[2017-10-25 13:29] gsnedders commented on #7969
I'd say we should do this in the short term. 😞

[2017-10-25 14:39] mrego commented on #7969
I'll wait for more feedback before doing something like that, as we're not going to be able to maintain all these copies synchronised in the long run.

CC @foolip as he asked about the duplicated `check-layout-th.js` files in a Blink review.

[2017-10-25 22:22] plinss commented on #7969
The build system currently moves all the files in a test suite into a single folder and copies the contents of the support folders into a single support folder. It's not currently smart enough to update the relative paths for support files when it does this (because in addition to having to deal with the src and href attributes it would also need to parse all the css and update relative paths ther

[2017-10-25 22:24] plinss commented on #7969
(FWIW, the build _does_ update the relative paths of reference files, since it only has to look at link tags, so reference files can be anywhere in the source repo and don't need to be duplicated. There's just a lot more places and ways support files get referenced.)

[2017-10-26 07:09] mrego commented on #7969
Thanks @plinss for the detailed explanation.

I'm wondering if it could be possible to move `check-layout-th.js` into `web-platform-tests/resources/` folder. That way we could use it like we do with `testharness.js`, just with:
[code]

That way we'd avoid to have that file duplicated in several CSS Test Suites (currently 3 but probably more in the future if more Blink suites are exported into WPT)

[2017-10-26 12:01] AutomatedTester opened #7979 "wptrunner is counting failures and errors from the same test"
if a test has an error AND a failure it is counted as two errors when a run has completed. this is obvious when you view https://wpt.fyi/webdriver/tests/actions.

 chrome is erroring and failing so we get twice the failure numbers

[2017-10-26 12:05] jgraham commented on #7979
I'm not sure what's going on here, but I expect it's something specific to the wdspec tests. Generally each test should give one result for the overall file, and one for the subtests (if any).

[2017-10-26 12:27] #7765 closed

[2017-10-26 13:25] jgraham commented on #7979
I can't reproduce this with `wpt run` so I think it's maybe an error with the `wpt.fyi` data processing or an error with the way it invokes the tests. We'd need to see the logs to get a better idea.

@jeffcarp @lukebjerring

[2017-10-26 19:39] plehegar opened #7986 "TCP Fast Open support"
Resource Timing would need to test TFO:
  https://datatracker.ietf.org/doc/rfc7413/

From
  https://github.com/w3c/resource-timing/issues/120

[2017-10-27 00:56] plinss commented on #7969
I'm not the maintainer/gatekeeper for the resources folder, not sure who is these days, @gsnedders may know. If it's a file commonly used in different test suites (and is generic functionality), then that seems like a reasonable solution to me.

[2017-10-27 01:53] marcoscaceres opened #7990 "Add "Access-Control-Allow-Origin" to w3c-test.org"
@sideshowbarker, would it be possible to enable CORS on https://w3c-test.org/?

I'd like to be able to make HEAD requests to check if certain tests exist.

[2017-10-27 08:29] andypaicu commented on #7638
The issue should now be fixed

[2017-10-27 08:29] #7638 closed

[2017-10-27 14:36] mrego commented on #7969
Ok, so this should be fixed now by #7993.

[2017-10-27 14:37] foolip commented on #2669
Roadmap sounds right, I'd default to that for any request from any implementer who's already doing a lot of wpt work.

[2017-10-27 15:50] kereliuk opened #7996 ""wpt run firefox --install-browser --yes" fails on OSX"
Running on OSX, this is the stacktrace:
[code]

We are matching with the wrong regex pattern in browser.py
[code]
So it will search the for a nightly download with "firefox-\d+\.\d(?:\w\d)?.en-US.%s\.tar\.bz2"
This will find nothing, I think instead we need to search for "firefox-\d+\.\d(?:\w\d)?.en-US.%s.web-platform.tests\.tar\.bz2

In fact, should we be using these web.platform-test downloads f

[2017-10-27 15:50] JKereliuk commented on #7996
It looks like web-platform-test downloads exist for all platforms.

[2017-10-27 15:56] jgraham commented on #7996
Nope, we shouldn't be using those since they're test files. But it's possible that this regexp is wrong on non-linux platforms.

[2017-10-27 15:57] JKereliuk commented on #7996
Do you know what the correct download is for mac nightly? I'm not sure which one it is.

[2017-10-27 15:59] jgraham commented on #7996
It's the `dmg` file, but I don't know how to install that. You might need to do something like https://stackoverflow.com/questions/6357914/how-do-i-install-a-dmg-file-from-the-command-line

[2017-10-27 16:22] bokand commented on #7749
Do you still want me to add a README or is the fact that the name now matches the directory enough?

[2017-10-27 16:26] JKereliuk commented on #7844
I was able to reproduce this on both FirefoxNightly and current Firefox.

Do you know what is happening @jgraham ?

[2017-10-27 18:29] foolip commented on #7749
This is fine now, add a README only if you want to :)

[2017-10-27 18:29] #7749 closed

[2017-10-27 18:32] RByers commented on #7374
@annevk, I see this test [is failing](https://wpt.fyi/XMLHttpRequest/data-uri.htm) with spaces being stripped on all browsers except Edge.  Thank you for [working to specify the behavior here](https://github.com/w3c/web-platform-tests/pull/6890), but prior to that landing is this unescaped space behavior actually specified anywhere?

If not, then perhaps it's better to change this test to not rely

[2017-10-30 03:40] wisniewskit opened #8000 "XHR event-timeout-order.htm should be flaky given the current spec-test."
Is there anything in the spec text actually backing up the final assertion in `event-timeout-order.htm`? (which I believe is checking that a `setTimeout` task queued after a `send()` will not run before a short-timeout XHR's `onloadend` fires:

[code]

Based on the spec-text, it should be easily possible that the `setTimeout` could run before `handle response end-of-body` task for the timed-out XH

[2017-10-30 03:41] wisniewskit commented on #7933
@annevk, please let me know if you agree with the assessment here, or if you believe I'm misinterpreting something.

[2017-10-30 04:30] wisniewskit opened #8001 "loadstart-and-state.html "open() during loadstart" reveals likely race condition in spec text."
This is the test in question:
[code]

The outer `send()` call will first get to step 11.1, with the XHR's state being "opened with the send flag set". The `onloadstart` handler will then be run. After that completes its inner `send()` call (which will initiate a fetch), the XHR's state will again be "opened with the send flag set", so step 11.3 will be skipped and a *second* fetch will begin for t

[2017-10-30 19:42] gsnedders commented on #7503
Trying to move tests that currently are in the root into css/ leads to 133 lint errors (MISSING-LINK: 127, SUPPORT-WRONG-DIR: 4, CSS-COLLIDING-TEST-NAME: 2), given they're now subject to the css lints.

[2017-10-30 19:47] astearns commented on #7503
We agreed that we would not require links when bulk-upstreaming. Perhaps we should apply that rule here? Then you'd only have to fix 6 lint errors.

[2017-10-30 19:49] gsnedders commented on #7503
I'm more inclined to just whitelist all these lint failures, and leave it up to anyone who actually wants to use these tests through the build system to fix them.

[2017-10-30 20:16] jgraham commented on #7503
We don't have any code that would allow us to implement such a policy. How would you expect it to act? I can imagine turning off this lint entirely unless an extra flag is passed to the linter, but I doubt I will have time to implement anything more involved than that. In particular it's not clear how one would tell what a bulk upstreaming is.

[2017-10-30 21:17] gregwhitworth commented on #7957
Reference: https://drafts.csswg.org/css-flexbox-1/#min-size-auto

[2017-10-31 07:18] frivoal commented on #7503
The permission to fail lints on bulk upstreaming was meant as a one time forgiveness, allowing browser vendors who were previously writing tests in isolation to switch to continuous integration, mass importing their existing stuff before switching to respecting the lints on every new thing.

With that in mind, I think that just whitelisting failing tests is fine, and we may not need anything more

[2017-10-31 10:27] annevk commented on #8000
I'm not sure. It does seem somewhat nice if we could guarantee that a timeout of 5 runs before one of 10.

[2017-10-31 10:31] annevk commented on #7933
Sounds about right. @yutakahirano might be interested.

[2017-10-31 16:16] jdm commented on #5927
Fixed by https://github.com/w3c/web-platform-tests/pull/8017.

[2017-10-31 16:16] #5927 closed

[2017-10-31 20:43] foolip commented on #5927
Yay, thanks @jdm!

[2017-11-01 08:04] adambet3 opened #8030 "developer"
hi

[2017-11-01 09:06] adambet3 opened #8031 "ADAMBET3"
HI

[2017-11-01 09:16] #8031 closed

[2017-11-01 09:17] #8030 closed

[2017-11-01 13:43] jdm opened #8032 "Why does Cache-Control: only-if-cached test expect a 504 response?"
https://github.com/w3c/web-platform-tests/blob/master/fetch/http-cache/cc-request.html#L198-L204 shows that this specific test expects a 504 response, but it's not clear to me what part of the specification leads to that conclusion: https://fetch.spec.whatwg.org/#http-network-or-cache-fetch step 4.1 only says to [return a network error](https://fetch.spec.whatwg.org/#concept-network-error), which

[2017-11-01 13:43] jdm commented on #8032
@mnot You wrote these tests; any comment?

[2017-11-01 18:56] Ezra-Siton-UIX opened #8034 "Add new semantic HTML5 element "container""
**I dont know where to put thie Req.**

In **99.9999%** of the times you use `container` to wrap content (one or more in a page) - center + Add right & left space. Why thier is no wrapper element (same as div and section - block element)? Without semantic meaning (like div or span)!! **but** when you code its more easy to read code looks like this (more semantic, clean code):
[code]

Instead of th

[2017-11-01 22:36] mnot commented on #8032
http://httpwg.org/specs/rfc7234.html#cache-request-directive.only-if-cached

[2017-11-01 22:37] jdm commented on #8032
Should we modify the Fetch specification to point to that, since they appear to conflict?

[2017-11-01 22:51] jeffcarp commented on #7979
wpt.fyi uses the `--log-wptreport` format and then generates a summary using this function:
https://github.com/w3c/wptdashboard/blob/master/run/run.py#L307

If both the test file and the only subtest returned anything other than `PASS`, it would be counted as `0/2` on the dashboard. You can see how this plays out where the denominator in a good majority of tests on wpt.fyi bottoms out at 2, not 1

[2017-11-02 07:55] annevk commented on #7374
@RByers I don't think it's a good idea to remove tests that demonstrate interoperability issues.

Given that browsers accept spaces in URLs and https://tools.ietf.org/html/rfc2397 doesn't say that MIME type specific processing is appropriate, it seems most logical to me that if you don't strip spaces for text/plain you also shouldn't strip them for image/png.

I'd much rather have a discussion abo

[2017-11-02 07:58] annevk commented on #7374
FWIW, I guess I won't object if you want to mark this test tentative for a while, but it feels a lot like busywork especially given that it's been quite hard thus far to get feedback on how to fix the relevant standards themselves. It seems to me we should all be primarily concerned with that.

[2017-11-02 08:49] snuggs commented on #8034
@Ezra-Siton-UIX I believe all your needs would be covered with `<div>` yes?  `<container>` feels a little bit of CSS _(conventions)_ encroaching into HTML tag ontology. And `<div>`'s main intent and purposes are for just the reason you use. Perhaps your reasoning is because many authors still suffer from "divitus" thus making the intended purpose of the `<div>` more vague.

Secondly the `<section>

[2017-11-02 08:54] snuggs opened #8042 "Stale Branches"
Migrated from https://github.com/tmpvar/jsdom/issues/2033

### Basic info:
_Apologize in advance as did not know where to place this_. Upon updating a repo on an old laptop that had an outdated master I received the following branch updates. What is our strategy for dealing with this because the number of branches is much larger than the last time the machine pulled within the same time frame. Fee

[2017-11-02 11:46] foolip opened #8044 "Move webgl/ into the Khronos test suite"
The tests in https://github.com/w3c/web-platform-tests/tree/master/webgl should be contributed to https://github.com/KhronosGroup/WebGL/tree/master/conformance-suites.

See https://github.com/w3c/web-platform-tests/issues/5927 for some history and https://github.com/w3c/web-platform-tests/issues/6462 for a similar issue with js/.

[2017-11-02 12:25] jdm commented on #8032
Also, the more I think about it, the weirder it seems to synthesize a valid HTTP response with a specific status code, rather than the behaviour of the Fetch specification which treats it as an opaque error.

[2017-11-02 13:21] asankah commented on #7374
@annevk : It would go a long way if you explain why this demonstrates an interop issue.

[2017-11-02 13:36] annevk commented on #7374
@asankah if there's an observable difference between implementations there's an interop issue.

[2017-11-02 15:26] foolip commented on #7847
I'll call this backlog, any objections?

[2017-11-02 15:57] foolip commented on #7503
Reopening to fix the documentation at https://github.com/w3c/web-platform-tests/blob/master/css/README.md. @gsnedders, can you take care of that? Pointed out to me by @ericwilligers.

[2017-11-02 15:57] Ezra-Siton-UIX commented on #8034
OK. Where is the best place to put this issue. I like your answer - you add nice points.

[2017-11-02 17:30] foolip commented on #7503
@gsnedders, there's also the selectors directory in the root that needs to be merged.

[2017-11-02 17:58] #2161 closed

[2017-11-02 22:44] mnot commented on #8032
This test is for the HTTP cache *behind* fetch -- if it's there -- not fetch's `only-if-cached` mode. Yes, that's a bit confusing.

It needs to be a 504 because OIC is also handled by intermediary caches, where they don't have the option to generate a Fetch() error, and even when it's handled by the browser cache, there isn't necessarily such tight integration between the browser cache and fetch.

[2017-11-03 03:16] wisniewskit opened #8049 "XMLHttpRequest/event-error-order.sub.html is incorrect per spec (and browser-compat)."
The test expects a "headers received" event, but I see no way for that to be fired given the spec-text.
The only place it would be fired is in the "process response" steps of the `send()` method, and because the response is an error we will never reach that step.

According to the [wpt.fyi](https://wpt.fyi/results/xhr/event-error-order.sub.html?label=stable&aligned=true), Firefox is currently firi

[2017-11-03 07:06] #7786 closed

[2017-11-03 07:06] soareschen commented on #7786
Fixed by #7965.

[2017-11-03 13:43] RByers opened #8052 "Use latest Edge and Safari versions available on Sauce"
It [looks like](https://pulls.web-platform-tests.org/build/20099) we're still running against Edge 14 and Safari 10 when Sauce [claims to have](https://saucelabs.com/platforms) support for Edge 15 and Safari 11.

Do we have these versions hard-coded?

/cc @lukebjerring @mattl

[2017-11-03 13:54] RByers commented on #8052
Luke says this is just hard-coded and it's easy to update.  Let's just update these two (might also require updating the MacOS version).

[2017-11-03 14:05] RByers commented on #7979
Moved to https://github.com/w3c/wptdashboard/issues/191

[2017-11-03 14:05] #7979 closed

[2017-11-03 14:11] RByers commented on #7969
Confirmed it [appears to be running fine now](https://wpt.fyi/css/css-grid/grid-model).

[2017-11-03 14:11] #7969 closed

[2017-11-03 14:18] mattl commented on #8052
I’m going to look into this today.

[2017-11-03 14:22] RByers commented on #7928
Yikes, false positives isn't good.  Tentatively marking as priority:roadmap.

[2017-11-03 14:25] tobie opened #8053 "Test new WebIDL mixin syntax"
WebIDL recently introduced [dedicated syntax for mixins][0].

This syntax replaces the `[NoInterfaceObject]` extended attribute and `implements statement` which have been deprecated (except for a few [legacy uses cases][1] explicitely mentioned in the spec).

You can read more about it [here][2].

Todo:

- [ ] Remove any tests for `implements` statements.
- [ ] Remove any tests for non-legacy usag

[2017-11-03 14:25] tobie opened #8054 "Support mixin syntax in idlharness"
WebIDL recently introduced [dedicated syntax for mixins][0].

This syntax replaces the `[NoInterfaceObject]` extended attribute and `implements statement` which have been deprecated (except for a few [legacy uses cases][1] explicitely mentioned in the spec).

You can read more about it [here][2].

As there are syntactical changes, we also filed an issue against WebIDL2: w3c/webidl2.js#112.

[0]: h

[2017-11-03 14:30] RByers commented on #7750
FWIW, years ago I added a mechanism in chromium to read back the cursor state (including custom bitmaps).  I think that's probably more practical than doing screenshot diffing - at least for the OS defined cursors.

[2017-11-03 14:33] jakearchibald commented on #7188
This would be really useful for the service worker tests. In some cases we're meaningless promise_tests to do this.

[2017-11-03 14:38] gsnedders commented on #7750
@RByers There are tests for things like colour space and size of image cursors, which means you need more than just state.

[2017-11-03 14:41] jdm commented on #7188
Hmm, I guess this is the same as https://github.com/w3c/web-platform-tests/issues/6075 too. I thought I had seen someone actually do the work necessary, but it appears not.

[2017-11-03 14:42] jgraham commented on #7908
This now happens. `wpt manifest-download` will grab the most relevant one for the current head.

[2017-11-03 14:42] #7908 closed

[2017-11-03 14:45] jgraham commented on #7844
There is some exciting hacking to try and get the right nss library version for the firefox release. Unless your firefox install has the `libnss` libraries in the same path as the binary it probably won't work.

However these days Firefox should work without certutil in the common case, so readjusting the priority here.

[2017-11-03 16:53] gsnedders commented on #8034
See <https://whatwg.org/faq#adding-new-features>.

[2017-11-03 16:53] #8034 closed

[2017-11-03 17:12] RByers commented on #8052
Great, thanks - assigned to you.

[2017-11-03 17:24] adambet3 opened #8056 "vu minh chien"
hi

[2017-11-04 03:37] foolip commented on #7188
Closing in favor of https://github.com/w3c/web-platform-tests/issues/6075. I too thought that this was already done.

[2017-11-04 03:37] #7188 closed

[2017-11-04 03:37] foolip commented on #6075
In https://github.com/w3c/web-platform-tests/issues/7188#issuecomment-341720370 @jakearchibald said

Can you link to some such cases? That would be a reason to bump the priority of this I think.

[2017-11-04 13:24] snuggs commented on #8034
Thanks @gsnedders. I didn't have an answer nor who to ping. 🙏

[2017-11-04 14:08] foolip opened #8067 "Run all idlharness tests when webidl2.js changes"
Per https://github.com/w3c/wptdashboard/issues/164#issuecomment-341899369

[2017-11-04 14:45] foolip commented on #7160
This has been resolved by https://github.com/w3c/web-platform-tests/pull/6897.

[2017-11-04 14:45] #7160 closed

[2017-11-04 18:43] zcorpan commented on #7650
A way to fix this without having to investigate why it happens is to split it into 3 tests. But it would of course be good to understand what's going on to know if there's a browser bug that causes it...

[2017-11-05 05:03] jgraham commented on #8067
https://github.com/w3c/web-platform-tests/pull/8069

Although it doesn't know about files other than index.js, which would probably require custom code like we have for webdriver.

[2017-11-05 07:49] foolip commented on #8042
That chromium-export branches are left around is a known problem, https://bugs.chromium.org/p/chromium/issues/detail?id=750942 and maybe other bugs.

@Hexcles, for chromium-export-* PRs in general, maybe we should close the PRs if they've been inactive for some amount of time? A new one should be auto-created as soon as the exporter needs it, right? Although, I guess without further tweaks it'd be

[2017-11-05 09:00] marcoscaceres opened #8070 "allowpaymentrequest-attribute-same-origin-bc-containers.https.html needs review"
I think allowpaymentrequest-attribute-same-origin-bc-containers.https.html might need to be checked... seems to halt on multiple browsers, so I suspect there might be a bug in the test itself.

links:

* [ ] https://github.com/w3c/web-platform-tests/blob/master/payment-request/allowpaymentrequest/allowpaymentrequest-attribute-same-origin-bc-containers.https.html
* [ ] https://github.com/w3c/web-pl

[2017-11-05 09:01] marcoscaceres commented on #8070
I think it might be the same with allowpaymentrequest-attribute-cross-origin-bc-containers.https.html

[2017-11-05 11:05] jgraham commented on #8042
The untagged-* tags are auto-created by GitHub because we upload the manifest and GitHub associates a tag with every download. I created a PR to at least make the tag name more meaningful although other solutions are possible like not using GitHub for storing the manifests.

[2017-11-05 12:50] snuggs commented on #8042
@jgraham @foolip thanks for addressing! Not a blocker for me of course. But they tell us on the train in NYC "If you see something, say something!" so I did. :-) I noticed the label `priority:backlog` What is the next step? Don't want to be the "what's the status" guy 6 months from now. Pardon, as I am new to the process.

Happy Sunday

[2017-11-05 13:18] jgraham commented on #7847
FWIW I don't understand this issue. It works like that. It's possible we are catching specific errors that ought to be surfaced, but I'd need a demonstration that there's a general problem.

[2017-11-05 15:38] foolip commented on #8042
@jgraham could we have a separate repo for manifests where we just have folders for each wpt sha and put the manifests inside?

@snuggs, the priority labels are used by the [ecoystem infra rotation](https://docs.google.com/document/d/10och6DoxEe6AhQX7MiQR8AhtjDheKIlf-GpF0impeJQ/edit#heading=h.6r65a779yu7l) for wpt issues with the infra label. Backlog means "This is out of scope for the time-being.

[2017-11-05 17:24] Hexcles commented on #8042
@snuggs Thanks for being proactive!

@foolip 's pointer is correct. That is the only bug remaining now that produces stale branches. (The implication: there used to be some other bugs, which should be all fixed and I've done some housekeeping to manually remove stale branches left from the bugs.) In a normal export process, the branch is immediately deleted after it is merged into master.

For the

[2017-11-06 06:47] snuggs commented on #8042
@Hexcles  no worries that's what i'm here for.

FWIW may not be so much of a fire for WPT but the users of JSDOM are experiencing this as well merely from WPT being a bonafied submodule of JSDOM. This is where I experienced this in the first place and was a red herring until I realized the culprit was wpt. A simple `git fetch` and 💥 .

https://github.com/tmpvar/jsdom/issues/2033

[2017-11-06 18:14] Hexcles commented on #8042
BTW, just wanted to add that a lot of the branches in the screenshot are not "stale" -- Chromium exporter creates PRs when a CL is still under review ("in-flight"), and we do have that many active in-flight CLs/PRs.

And regarding the "💥", I think the keypoint is to use `git fetch -p`. Due to our extensive use of branches, even if there were no stale branches, without `-p` the number of `remote/`

[2017-11-06 18:16] gsnedders commented on #7847
@jgraham make `run_screenshot` in the executor just be `raise Exception('foobar')`. How do I get the message and traceback for that exception?

[2017-11-06 18:46] mkruisselbrink commented on #6075
https://github.com/w3c/web-platform-tests/blob/master/service-workers/service-worker/indexeddb.https.html is one such case (see the two nested "clean up" promise_tests inside the last test in that file).

[2017-11-06 19:56] foolip commented on #6075
OK, I'll call it roadmap, the goal being to change https://github.com/w3c/web-platform-tests/blob/master/service-workers/service-worker/indexeddb.https.html to use `add_cleanup` instead. That should drive whatever else needs to change.

[2017-11-07 17:10] foolip opened #8095 "click-cancel.html is failing on msElementsFromPoint on Safari"
https://wpt.fyi/uievents/order-of-events/mouse-events/click-cancel.html is now failing with "document.msElementsFromPoint is not a function. (In 'document.msElementsFromPoint(centerPoint[0], centerPoint[1])', 'document.msElementsFromPoint' is undefined)"

That seems quite wrong.

[2017-11-07 17:32] snuggs commented on #8042
¯\_(ツ)_/¯ @Hexcles  you don't know what you don't know...But I learn fast!

#updated

A few points:
1. What's a "CL" and where can i get information on the process? I currently watch chromium builds for web components/link loading but not familiar with build process.
2. Thanks for the update on `git-fetch -p`.
3. Have done the research on `git submodule`. Alls I can say is I see the words...having

[2017-11-07 17:34] snuggs commented on #8042
@Hexcles Here's our answer. I don't believe this effects user land. Only maintainers. Which perhaps is still a concern. You would know better than me sir.
![capture d ecran 2017-11-07 a 18 31 47](https://user-images.githubusercontent.com/38223/32508339-47c97a3c-c3ea-11e7-8c55-dd22cb61d6eb.png)

[2017-11-07 17:52] gsnedders commented on #8095
The issue here seems to be that Safari doesn't support `document.elementsFromPoint`, which is relied on by https://w3c.github.io/webdriver/webdriver-spec.html#dfn-pointer-interactable-paint-tree.

[2017-11-07 19:08] foolip commented on #8095
Maybe just add an assert with a more clear message, so it doesn't look like our setup is messed up?

[2017-11-07 19:21] gsnedders commented on #7950
We should probably also add more in the way of directory structure to the testsuite rather than continuing to have hundreds of tests in one directory.

[2017-11-07 19:23] gregwhitworth commented on #7950
We should discuss this a bit, as I am trying to understand the implications of massive changes on other UAs, maybe looping in @foolip will help as well. Is there any problem with changing the structure of the suites as long as the pass/fail rate is the same?

[2017-11-07 19:36] gsnedders commented on #7950
@gregwhitworth On the Chrome side there's absolutely no problem (especially when there's no changes within the files); I think there's still some pain on the Firefox side on their current import code, and @jgraham is probably the person to ask about that as to how much issue it causes. I think we really need to do something with many of the CSS test suites that have hundreds of tests per directory

[2017-11-07 21:49] #8095 closed

[2017-11-07 22:11] gsnedders commented on #5482
Per https://github.com/servo/servo/issues/12326 this has been resolved.

[2017-11-07 22:11] #5482 closed

[2017-11-07 22:18] gsnedders commented on #6507
related: https://github.com/tabatkins/bikeshed/issues/1116

[2017-11-07 23:25] Hexcles commented on #8042
You can think CL == commit. Essentially, Chromium exports every commit that contains WPT changes as a PR, which means a branch. We do delete that branch once it's merged, but that still means we are constantly creating and removing branches. Hence, `git fetch -p` is almost a must. Unfortunately, it seems submodule doesn't have that pruning feature.

I'm curious what the '💥' actually is, aside from

[2017-11-08 01:04] gsnedders commented on #8095
@RByers just pointed out that WebKit recently added support for it: https://bugs.webkit.org/show_bug.cgi?id=153137

[2017-11-08 01:09] RByers commented on #8095
coincidentally, the chromium team (@alijuma) added it to WebKit ;-)

[2017-11-08 17:24] getsetbro commented on #6471
Is this why IE11 is shown to FAIL when it actually followed all 5 redirects?

[2017-11-08 17:56] annevk commented on #6471
@jugglinmike hey look a similar issue to that other one.

[2017-11-08 18:34] foolip opened #8112 "Some idlharness.js test names are unhelpfully broad"
https://wpt.fyi/mediacapture-streams/MediaDevices-IDL-enumerateDevices.html has:

"MediaStreamTrackEvent interface: existence and properties of interface object"

It fails in Safari with "Failure message: undefined is not an object (evaluating 'this.array .members[this.base] .has_extended_attribute')"

This isn't very actionable, need to dig in to the idlharness.js code to understand where the pro

[2017-11-08 19:07] inexorabletash commented on #5613
Forgot about this... those tests have since been added at https://github.com/w3c/web-platform-tests/tree/master/entries-api but as noted here they are mostly `.manual`

Test results summary at:

https://docs.google.com/spreadsheets/u/1/d/1ngolBRLU_p8qzBSRpLFv0AvukTlE3WuCdA3xRzvUEDY/edit?usp=sheets_home&ths=true

The bulk of the failures are (1) Edge and Chrome don't have the correct interface name

[2017-11-08 19:14] gsnedders opened #8114 "Make it possible to test <input type=file>"
This has quite a lot of complexity because you need:

 * Files on the local filesystem,
 * Some way of dealing with the locale and OS dependence of the set of valid filenames

cc/ @bsittler @annevk

[2017-11-08 19:18] bsittler commented on #8114
Another option useful for testing at least a subset of the behavior would be to allow attaching a fake file, for instance from a Blob, with the associated "filename" under developer control. Would there be any compatibility or security risk in simply allowing FileList construction from blobs and filenames?

[2017-11-08 19:20] bsittler commented on #8114
(this would also allow e.g. uploading drawings from canvas as if they were local files)

[2017-11-08 19:22] bsittler commented on #8114
cc/ @inexorabletash @pwnall

[2017-11-08 21:37] miketaylr commented on #8070
links:

* [ ] https://github.com/w3c/web-platform-tests/blob/master/payment-request/allowpaymentrequest/allowpaymentrequest-attribute-same-origin-bc-containers.https.html
* [ ] https://github.com/w3c/web-platform-tests/blob/master/payment-request/allowpaymentrequest/allowpaymentrequest-attribute-cross-origin-bc-containers.https.html

[2017-11-08 21:56] miketaylr commented on #7996
`mozdownload` and `mozinstall` would be useful, i.e.,

https://github.com/mozilla-services/fxa-testing-e2e/blob/3a58eb4067d01de480319d651f70232389a44e91/setup.sh#L19-L22

[2017-11-08 22:46] foolip commented on #7950
For Chromium's importer it's totally fine to rename files, except if it's 1000+ at the same time. I'd like to see this merged soonish, the sooner flexbox is well organized the better!

[2017-11-08 22:48] foolip commented on #7950
Oh, this isn't a PR. Giant PR welcome. @tabatkins @fantasai FYI.

[2017-11-08 22:58] jgraham commented on #7996
Oh, look at that. Thanks!

[2017-11-09 01:33] jugglinmike commented on #6471
Well would you look at that. [This comment](https://github.com/w3c/web-platform-tests/pull/5227#issuecomment-292201147) from @ericlaw1979] may be of particular interest:

[2017-11-09 02:57] gsnedders opened #8122 "Move CSS Counter Styles reftests over from mozilla-central"
See tests not beginning with t1202 in http://searchfox.org/mozilla-central/source/layout/reftests/counters

Note these don't cover all Counter Styles but they are reftests unlike the current visual tests.

[2017-11-09 04:36] foolip commented on #8067
Fixed by https://github.com/w3c/web-platform-tests/pull/8069

[2017-11-09 04:36] #8067 closed

[2017-11-09 04:39] foolip commented on #7913
OK, so I think the only concrete here that we might do is to move tentative from filename to the file, but we don't know how for .any.js. @mikewest, as the pioneer in tentative tests, have you found this to be a nuisance, and would you prefer the information to be in the files?

[2017-11-09 04:41] foolip commented on #7913
One thing that'd be tricky with putting it in the file is surfacing this special status in wpt.fyi. Nothing about the test results would suggest that it's tentative, so we'd have to style it differently presumably.

This has the roadmap label now. When this comes up in triage next time, if there's nothing concrete we can agree on, then we should close the issue.

[2017-11-09 04:46] foolip commented on #7753
Maybe @alice or @robdodson have ideas about how to test this?

I suspect there's a confusion of acronyms here, since https://wicg.github.io/aom/spec/ and the AAM specs aren't about different layers, so the title should maybe say ARIA/AAM? If so, a separate issue for any difficulties testing AOM would be nice.

[2017-11-09 04:48] foolip commented on #7750
It seems like in order to automate this, you'd need to take a screenshot of the whole desktop environment. A handful of manual tests for this might be an OK tradeoff :)

[2017-11-09 04:49] foolip commented on #7503
Selectors have been merged, only documentation remains.

[2017-11-09 06:41] mikewest commented on #7913
*shrug* I don't have any problem with `tentative` showing up in the filename. I had a slight preference for putting `tentative` into the path instead (via a top-level `tentative` directory, or a `tentative` subdirectory in an existing directory), but I think the filename mechanism makes it fairly straightforward for vendors to decide whether or not it's safe to ignore a test failure. I would not b

[2017-11-09 08:28] soareschen opened #8128 "Add lint tools for WebRTC tests"
The lint tool in WPT do not catch common programming errors such as using undefined or misspelled variables. On the other hand using default lint tools often report usage global variables defined in webrtc-pc as errors. In the past this has caused some slack in linting the tests before merging PRs, result in unnecessary fixes later on.

With [test as you commit](https://github.com/w3c/webrtc-pc/pu

[2017-11-09 13:13] #6471 closed

[2017-11-09 13:38] pwnall commented on #6075
More test case data, to help prioritize:

1) This would help all the tests for the Async Cookies API.
2) IndexedDB tests currently call `IDBFactory.delete` in an `add_cleanup` handler and complete before the database is technically removed. While technically correct, this can result in flakiness as bots may run out of space while database deletion requests pile up. `add_cleanup` is so convenient t

[2017-11-09 13:41] foolip commented on #7913
Thanks Mike, I'll go ahead and close this. If we have feedback from others using tentative tests that the current setup is frustrating we can revisit. @alvestrand, are you OK with this outcome?

[2017-11-09 14:49] getsetbro commented on #6471
When does this change get published to w3c-test.org?

[2017-11-09 14:51] annevk commented on #6471
http://w3c-test.org/fetch/api/cors/cors-filtering.js already says "3" instead of "0" here.

[2017-11-09 16:32] youennf commented on #7913
From WebKit infrastructure perspective, https suffix is very convenient and we would prefer to keep it like that.
This is actually in use in all WebKit LayoutTests, not only imported WPT ones.

[2017-11-09 17:11] frivoal commented on #7750
Indeed. Image cursors would be quite a pain to test, but even worse are the various predefined cursors, that don't even have a set shape, and need human judgement to decide if the cursor is indeed a cursor that "Indicates something is to be copied. Often rendered as an arrow with a small plus sign next to it."

If someone has a bright idea, that'd be great, but otherwise, we can certainly focus ou

[2017-11-09 22:41] getsetbro commented on #6471
Sorry I've been talking about this test http://w3c-test.org/cors/redirect-preflight.htm. Should I make a separate issue?

[2017-11-10 06:08] annevk commented on #6471
@getsetbro yes, feel free to copy me.

[2017-11-10 08:02] snuggs opened #8144 "🐛 No `./serve` binary as instructed by documentation"
Am attempting to get WPT setup locally and the following documentation states `./serve`.

I noticed there is a `serve.py` (which I can't seem to get working. Complains of a no nodename error in main). And a `wpt.py`. Assuming these are the two servers that need starting to run tests.

I have ran the `wpt` server fine and files are showing up. In the mean time i've created a `./serve` binary which

[2017-11-10 09:18] snuggs commented on #8144
Ah I see. Should be `./wpt serve` as instructed in README.md

https://github.com/w3c/web-platform-tests#running-tests-manually

[2017-11-10 14:46] getsetbro opened #8148 "IE11 doesn't completely fail "redirect after preflight" tests"
This page shows 5 FAILed tests when run with IE11: http://w3c-test.org/cors/redirect-preflight.htm
However in the devtools it shows that the browser was able to make it to the redirected URLs.

<img width="1209" alt="screen shot 2017-11-10 at 9 36 09 am" src="https://user-images.githubusercontent.com/442793/32663266-58185ab2-c5fb-11e7-866e-7c979a4f397d.png">

And this fits with what I have seen wh

[2017-11-10 20:31] JKereliuk opened #8151 "Add more test automation APIs"
Opening this issue to discuss and track adding more test automation APIs.

We can also track here what class of things we can now test that were previously untestable and link existing manual tests.

[2017-11-10 20:36] kereliuk opened #8152 "Add automation API for WebDriver actions"
Ref: #8151

[2017-11-10 22:46] thejohnjansen opened #8154 "The Web Platform Tests repo should have a linter for the tests and wptrunner"
I'm doing line by line comparisons to try to figure out why Edge is not able to run the WebDriver tests and see subtle differences in formatting that make it difficult to see differences. @andreastt

[2017-11-10 22:47] andreastt commented on #8154
I would expect wptrunner has some linting infrastructure already set up, and could piggyback on this.

[2017-11-11 00:41] alice commented on #7753
Yes, I suspect this was meant to be AAM rather than AOM. Not the first time I've seen them collide.

[2017-11-11 07:38] Hexcles commented on #7986
FWIW, on Linux we'd need root to ensure the availability of server-side TCP fastopen (either turn on the off-by-default server bit of [`/proc/sys/net/ipv4/tcp_fastopen`](https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt) or use raw socket, both requiring root).

[2017-11-12 14:14] foolip commented on #7753
I've changed the title. @gsnedders, can you confirm that's what you intended?

[2017-11-12 19:15] domenic commented on #8154
A linter already exists, but it doesn't enforce formatting preferences on the test writer (which is IMO a good thing).

In the past when Edge has tried to contribute changes they have come along with a large variety of stylistic changes. See e.g. https://github.com/w3c/web-platform-tests/pull/6499. Perhaps the issue is that Edge has some reformatter that they apply, which they should be turning of

[2017-11-13 10:04] foolip commented on #8042
Absent complaints about serious side effects of this, I'm going to demote this from roadmap to backlog.

[2017-11-13 12:26] foolip commented on #8154
@thejohnjansen, can you elaborate on the original problem, what is the the things going through "line by line comparison"?

Is the request that all of web-platform-tests have a consistent style to make it easier to read tests, that we have an optional reformatter to reduce the number of choices one has to make when writing tests, or something else?

[2017-11-13 12:36] foolip commented on #2669
This came up again in https://www.w3.org/2017/11/06-webappsec-minutes.html#item16.

I think this is technically very straightforward now. We have not-w3c-test.org, and for local testing we'd use not-web-platform.test. @gsnedders @mattl, would either of you like to spend a bit of time seeing if this is in fact trivial, or if there are more blockers?

[2017-11-13 17:02] guest271314 commented on #7857
@foolip One interesting aspect of `new ClipboardEvent()` that found at Firefox 57 is that when the `.files` property is set at the `.dataTransfer` object using `.items` `.add()` method, then that `.files` object is set at an `<input type="file">` `.files` property https://github.com/whatwg/html/pull/2866, if the `<input type="file">` element `.value` is set to `null` the `File` objects at both the

[2017-11-13 18:17] bsittler commented on #6075
This additionally would make cleanup more reliable for tests that need to clean up or reset resources managed by Python handlers, e.g. HttpOnly cookies and temporary files, by making a cleanup fetch() possible (I realize blocking XHR can likely already do this in document contexts, but I'm optimistic it soon won't be able to.)

[2017-11-13 20:57] JKereliuk commented on #8154
@thejohnjansen By line by line, are you talking about when you do wpt run and there is an error thrown but the output from WPT doesn't say where or give you enough of a stack trace to figure it out? (Even if its a syntax error, this happens)

[2017-11-13 21:09] JKereliuk commented on #8114
There was talk at TPAC about adding File Upload to the WebDriver spec.

We have an action item to write a proposal for Element Send Keys to take new "file" field which should make this easier.

FYI/ @shs96c

[2017-11-13 21:54] andreastt commented on #8154
To shed some more light on the matter, @thejohnjansen was complaining about stylistic differences in the _Python wdspec tests_ (under /webdriver), and not generally for every other test type. I don’t think it makes sense to enforce a particular style for other test types.

It is true that there is a lot of stylistic inconsistency under /webdriver that a linter would help prevent. I think however t

[2017-11-13 22:50] inexorabletash commented on #8114
Cool - we need to ensure `webkitdirectory` is handled too. See [File and Directory Entries](https://wicg.github.io/entries-api/)

(Note that Chrome exposes different behavior for drag/drop vs. activating the input control, which is just bad and perhaps this will help motivate us to fix it.)

[2017-11-13 23:04] jrummell-chromium commented on #4136
Section 10.4.2 in "iframe Attacks" (https://w3c.github.io/encrypted-media/#mitigations-0) notes:

So should the test be updated to verify that requestMediaKeySystemAccess is not available in the iframe rather than checking that mediaKeys fails to create? This is what the similar test in Chromium now does (https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/media/encrypted-media/enc

[2017-11-13 23:50] ddorwin commented on #4136
The quoted recommendation is for authors of applications and is not something enforceable by implementations.

[2017-11-14 02:07] snuggs commented on #8042
No worries @foolip. As long as is documented that's the minimum we can do yes?

[2017-11-14 10:50] foolip commented on #8154
Renaming and adding some labels based on https://github.com/w3c/web-platform-tests/issues/8154#issuecomment-344071606. @thejohnjansen, if the issue is now narrower than you hoped for, please shout :)

[2017-11-14 12:39] foolip commented on #7642
https://chromium-review.googlesource.com/c/chromium/src/+/768430 is a review where this is a problem. What is the size we'd guarantee, is it 800x600?

[2017-11-14 13:04] foolip commented on #8042
Now documented by https://github.com/w3c/web-platform-tests/pull/8173. I also found https://stackoverflow.com/questions/18308535/automatic-prune-with-git-fetch-or-pull but am not sure we should recommend it, too much information isn't necessarily helpful.

[2017-11-14 14:25] Ms2ger commented on #7642
I think 600×600, but I thought that was a minimum, not a guaranteed size. I'm definitely not using that when running tests in the browser manually. Can that dialog test compute the expected result dynamically?

[2017-11-14 15:22] foolip commented on #7642
Yes, the dialog test could be written to work with any viewport size above some minimum size. But that would amount to saying that this issue is WontFix, and tests having to deal with it.

[2017-11-14 15:55] mattl commented on #7124
I am starting to look into this

[2017-11-14 16:59] mattl commented on #7124
@foolip I can't self assign this

[2017-11-14 17:02] jgraham commented on #7124
There shouldn't be much to do here. The previous patch worked, although these days some integration into `wpt run` will be necessary. The main problem before was the no one reviewed it, although I guess if you do the work I can review and we can sidestep that problem.

There are also problems unique to Safari as I believe it takes manual work to enable automation. Maybe that's improved  now?

[2017-11-14 22:10] kereliuk opened #8181 "Changing the port in config.json does not change the port in wpt run"
To reproduce:

Modify config.json so that the http port is set to something that isn't 8000.
[code]

The executor should open a browser on port 8000 and not 8001.

[2017-11-14 23:07] tabatkins commented on #8144
I just ran into this as well.

[2017-11-14 23:08] #8056 closed

[2017-11-14 23:11] tabatkins opened #8182 "`wpt serve` immediately dies with error"
I get the following error when I run `wpt serve`:

[code]

I'm on Python 2.7.6.

[2017-11-15 04:07] snuggs commented on #8144
@tabatkins good (kinda) now how do we update? That's 4 people now I know this happened to (this week). /cc @Hexcles

[2017-11-15 04:08] snuggs commented on #8182
@tabatkins funny seeing you here....lol I Got the same.

[2017-11-15 09:59] Ms2ger opened #8191 "send-redirect-post-upload.htm fails intermittently"
Both in Gecko and WebKit I've seen the following failure for subtest "XMLHttpRequest: The send() method: POSTing to URL that redirects (307)":

[code]

In each case, the issue is that the array contains "xhr onreadystatechange 3" twice. I don't think the spec actually backs the test here.

CC @annevk @hallvors

[2017-11-15 10:07] Ms2ger commented on #8191
Ref: https://bugs.webkit.org/show_bug.cgi?id=159724

[2017-11-15 10:50] zcorpan commented on #8144
Seems this was fixed in https://github.com/w3c/web-platform-tests/pull/8183 , thanks @jgraham!

[2017-11-15 10:50] #8144 closed

[2017-11-16 01:32] Hexcles opened #8271 "Gecko exported tests sometimes contain lint errors"
Gecko export #8261 introduced a few tests that have lint errors, especially the multiple uses of `setTimeout`.

This is currently blocking chromium import.

By the way, @jgraham `wpt lint` should have been run against the change somewhere in the process, either before committing to mozilla-central, or before merging (Chromium actually does both). And for this change, it seems neither happened. Is

[2017-11-16 01:51] Hexcles commented on #8271
cc @rakuco , who's on ecosystem-infra rotation.

[2017-11-16 03:33] jdm commented on #8271
The lint does run in Gecko as far as I know; the problem is that the upstream process happens in batches, so newer lints that have not reached mozilla-central can miss tests that were written in the interval.

[2017-11-16 09:37] foolip opened #8278 "Web Share requires mocking UI to test"
See https://bugs.chromium.org/p/chromium/issues/detail?id=785621

@mgiuca @JKereliuk

[2017-11-16 13:10] rakuco commented on #8271
Thanks for the fix, I can confirm lint has stopped blocking our imports.

[2017-11-16 13:37] JKereliuk commented on #8278
Not exactly sure what is meant by mocking UI, @mgiuca can you give more detail or a specific manual test for example?

[2017-11-16 13:43] foolip commented on #8278
I mean taking the place that UI would have, i.e. taking the same input and producing the same kind of output.

[2017-11-16 14:29] jgraham commented on #8278
I can't see any interest from non-Google vendors in this API; it shouldn't be a high priority for shared testing.

[2017-11-16 15:58] #7913 closed

[2017-11-16 16:00] foolip commented on #7434
Assigning to @JKereliuk as he's begun work on this.

[2017-11-16 17:55] Hexcles commented on #8271
Thank you, @jdm.

So supposedly the timeline is:
1. The change was submitted to Gecko and passed the lint Gecko had at that time (which didn't have rules for `setTimeout`, `testRunner`, etc.).
2. New rules were introduced to lint.
3. The changes were exported to GitHub, and failed the new lint rules.

If we don't want to change the current Gecko export workflow too much, one thing we can do for su

[2017-11-16 18:24] Hexcles commented on #8271
The immediate problem has been fixed by #8272.

As @jgraham points out on IRC, Travis checks are currently skipped during Gecko exports because they are too slow for the current Gecko export workflow. (A bunch of commits are exported one time, and each has a PR, which would create a long queue on Travis.) Besides, we can always miss things because of racing conditions regardless: new lints can be

[2017-11-16 21:50] Hexcles opened #8285 "Travis check_stability crashes when log contains Unicode characters"
This was originally a comment in #5998, but I realized it's actually a separate issue.

Chromium developer @bsittler reported the case: https://travis-ci.org/w3c/web-platform-tests/jobs/281056652#L2086

I took a quick look and `check_stability.py` is the culprit, in particular this line: https://github.com/w3c/web-platform-tests/blob/b45fe4ae15ce4b7c2b28d41fd7a01fd258d9b8b1/tools/ci/check_stabilit

[2017-11-16 22:05] foolip commented on #8182
Looks odd, but *maybe* it's the hosts file bits in https://github.com/w3c/web-platform-tests/blob/master/README.md#running-the-tests?

[2017-11-16 22:05] foolip commented on #8182
@jgraham have you seen this error before?

[2017-11-16 22:29] jgraham commented on #8182
No. It looks like it's dying trying to start the `multiprocessing.Manager` used to make the stash cross-process (so that websockets and http requests can share the same data). But I'm not sure exactly why. Maybe it's unable to access the required port? Is there some weird firewall configuration involved?

[2017-11-16 22:29] foolip commented on #8182
@snuggs, are you saying you've seen this very same error? What OS are you using? (Tab saw this on Goobuntu.)

[2017-11-16 22:31] foolip commented on #8182
@snuggs, did you have the hosts file set up when you saw this error?

[2017-11-16 22:35] jgraham commented on #8182
Looking at the code, I wonder if people changed any configuration? In particular I'm not sure if this works if you unset `bind_hostname` in the `config.json` file. Otherwise it looks like it tries to get a free port on the current host.

[2017-11-16 22:46] foolip opened #8286 "Document the use of labels"
I can't find any documentation of the labels in use in this repo. I'd like to write that documentation, and based on that work out some triage process for groups of labels.

@tobie, where is the code that automatically creates labels for each directory?

[2017-11-16 22:57] foolip commented on #8286
FWIW, these are the directory names in / and /css/ that don't have a label:
* CSS1
* XMLHttpRequest
* cors
* css
* css-block
* css-exclusions
* css-gcpm
* css-speech
* fonts
* images
* media
* tools

Seems about right, but suggests there's some special handling for XHR.

And these are the labels that don't correspond to a directory:
* DOM-parsing
* DOMEvents
* ElementTraversal
* WARNING
* animatio

[2017-11-16 23:12] tobie commented on #8286
https://github.com/tobie/ganesh/blob/master/lib/metadata/raw-labels.js

and

https://github.com/tobie/ganesh/blob/master/lib/metadata/labels.js

[2017-11-16 23:14] tabatkins commented on #8182
It's the lack of HOSTS file setup - I figured I didn't need to do that if I wasn't doing anything fancy, but once I *did* set them up as specified in the docs, everything worked fine.

Do you want me to edit the OP to reflect the real bug, then (`wpt serve` should catch this error and give an informative error message), or close this and open a fresh one?

[2017-11-16 23:22] foolip commented on #8182
@tabatkins that is very curious. Leaving this bug alone is fine, I'd like to remove my own /etc/hosts changes tomorrow and see if I can get the same error, and make it more informative.

[2017-11-16 23:48] jgraham commented on #8182
Oh so we have code to check that the hosts are configured correctly. But at some point that code got wrapped in the stash server context object, so now that check doesn't happen until later.

[code]

Should fix it. Going to sleep now, so if anyone else wants to make a PR I will be happy. Otherwise I might remember tomorrow.

[2017-11-17 09:02] foolip commented on #8182
I've confirmed that I get the same error as @tabatkins with the hosts removed. I'll try to make a PR following @jgraham's clues.

[2017-11-17 10:12] foolip commented on #8182
A mitigation in https://github.com/w3c/web-platform-tests/pull/8291.

[2017-11-17 10:31] foolip commented on #8182
Finding some more odd things trying to fix this. It's easy enough to just move stuff up to before the stash server is started, but I'm thinking that if the error messages are good, it doesn't matter.

And for the odd thing, @jgraham, it looks like the stash server will just use `config["host"]` before `normalise_config` is applied, so actually using `external_host` in config.json would lead to som

[2017-11-17 10:50] foolip commented on #7541
Since there aren't any instances of `nsIDOMWindowUtils` or `TestBinding`, I'll close this and we can revisit if such things actually are upstreamed.

[2017-11-17 10:50] #7541 closed

[2017-11-17 11:08] jgraham commented on #8182
I think making the check a precondition is the right solution rather than trying to fix all the places that might depend on the ports.

I agree we might need to move the config processing earlier in the file too.

[2017-11-17 11:52] annevk opened #8292 "Migrate remainder of w3c/wptserve"
And once all issues are moved here we should maybe use the GitHub utility to archive that repository so it's clear it's no longer being developed.

[2017-11-17 12:27] foolip commented on #8271
I'm fixing more cases in https://github.com/w3c/web-platform-tests/pull/8294, those were in Python code. @andreastt FYI.

[2017-11-17 12:28] foolip commented on #8271
@jgraham, what would it take to make this much less likely to happen? Is it blocked on the new Gecko 2-way sync?

[2017-11-17 13:34] snuggs commented on #8182
@jgraham @foolip sorry for the long delay. Speaking at a conference. Here's my setup.
![capture d ecran 2017-11-17 a 07 33 30](https://user-images.githubusercontent.com/38223/32949799-b7611d24-cb69-11e7-8bab-a6de6c7126b1.png)

[2017-11-17 13:37] foolip commented on #8182
@snuggs, is that what you put into your /etc/hosts or equivalent? The inclusion of the ports is suspicious, have you tried copy-pasting from https://github.com/w3c/web-platform-tests/blob/master/README.md#running-the-tests?

[2017-11-17 13:39] snuggs commented on #8144
YASSS! @jgraham what @zcorpan said... 🙏

[2017-11-17 20:10] jdm commented on #7543
Concrete test example from servo's suite right now: https://github.com/servo/servo/issues/19271

[2017-11-17 20:55] jgraham commented on #7543
There was some discussion of this at TPAC and I didn't get any strong objections to implementing something gecko-like with N pixels allowed different and maximum difference per channel of M. I guess I will implement this  next year sometime if no one does it first.

[2017-11-18 10:43] snuggs commented on #8182
@foolip i sure have! I just cannot get the hosts to work. Explicitly used loopback address. Docs seemed a tad vague. But you are clearly helping me along the way and it's greatly appreciated 🙏

[2017-11-18 14:04] nils-ohlmeier opened #8301 "WebRTC tests should close RTCPeerConnection's at end of test"
It looks like the current WPT tests for WebRTC do not call close() at the end of each test.

[2017-11-18 14:05] nils-ohlmeier commented on #8301
cc @docfaraday

@soareschen what do you think? Could look into calling close() at end of each test?

[2017-11-18 15:08] jan-ivar commented on #8301
I think we should close peer connections after every test. Peer connections allocate resources, and without `pc.close()` we introduce nondeterminism (dependence on GC) in the tests. Implementations are going to have practical limits, but if we wish to stress-test them, we should do so in a controlled test, not implicitly by running countless of independent tests in a row.

For context, we ran into

[2017-11-19 13:38] andreastt commented on #8271
Is it the slowness of `wpt lint` that prevents us from hooking it up to [mozlint](https://firefox-source-docs.mozilla.org/tools/lint/index.html#indices-and-tables)? AIUI m-c’s default linter runs on touched files, so if it supported that maybe not every file had to be linted every time.

flake8, using the configuration already available in WPT, seems easier to hook up becuase there is already plum

[2017-11-19 15:39] jgraham commented on #8271
`wpt lint` is hooked up. Since the rules can change it doesn't always catch everything. The python lint isn't hooked up, but I think we are already running flake8 for some other things, so that's probably possible to set up; I don't know if we can ensure we are using the right rules.

[2017-11-20 02:29] Hexcles commented on #8271
Yeah, the underlying root cause is a race condition that's hard to be fixed: changes can be made on the vendor side while new lint rules are being added to this GitHub repo. (There's a more extreme scenario in [my comment above](https://github.com/w3c/web-platform-tests/issues/8271#issuecomment-345013222), but that's quite rare and is not the direct cause of the issue we are discussing.)

However,

[2017-11-20 09:28] soareschen commented on #8301
@nils-ohlmeier I have submitted #8303 to add clean up handler to each `addTransceiver` test. Can you review and verify that the clean up helps fix the problem? If it works we can use the same approach and fix the other tests.

Agree that it make sense to have limits on resource allocation, though 16~64 seems a bit low. `addTransceiver` is synchronous and doesn't give users the impression that it r

[2017-11-20 09:52] foolip commented on #8182
@snuggs, what OS are you on?

[2017-11-20 10:20] foolip commented on #8271
Was there really a race in this case? Sounds like there's just some missing lint that's been missing for some time?

[2017-11-20 11:25] #7503 closed

[2017-11-20 11:55] foolip commented on #7503
The (hopefully) final directory rename is in https://chromium-review.googlesource.com/c/chromium/src/+/778884

[2017-11-20 11:56] annevk opened #8308 "Testing test262 in different (web platform) agents"
Over in https://github.com/dpino/gecko-dev @dpino is working on ensuring that various `SharedArrayBuffer` tests from test262 run across the various agents defined by the web platform. A follow-up goal is to run all test262 tests across the various agents to ensure there's no weird bugs in the various JavaScript engines.

The idea is to host this "wrapper test suite" in web-platform-tests so all us

[2017-11-20 12:05] foolip commented on #7453
What actually happened was that they were removed. Is that OK, @FremyCompany?

[2017-11-20 12:09] foolip opened #8310 "Get rid of traces of css/work-in-progress/"
There's some left in https://github.com/w3c/web-platform-tests/blob/495043fd6ed481eaea37ae3a20a43074fcf959eb/tools/manifest/sourcefile.py#L57 and also lint+tests, grep for "work-in-progress".

[2017-11-20 12:12] foolip commented on #8308
Is it important that everyone that uses web-platform-tests also gets test262 as part of it, or would it suffice if the tests are run on the same setup as for wpt.fyi and published either on wpt.fyi or a test262 results dashboard?

[2017-11-20 12:16] annevk commented on #8308
As I understand it test262 attempts to be host-agnostic, just like ECMAScript itself. So while the web platform has many agents, other hosts might just have one. So if we want to run those tests in a window, a worker, a shared worker, or a combination thereof (in case of `SharedArrayBuffer`), etc. I think that has to happen on the web-platform-tests side.

Various JavaScript engines can also run t

[2017-11-20 12:16] snuggs commented on #8182
@foolip a (intentionally) fairly dated AIR.
![capture d ecran 2017-11-20 a 07 15 59](https://user-images.githubusercontent.com/38223/33018040-c1e1c27a-cdc2-11e7-80a5-5bc448a66f21.png)

[2017-11-20 12:17] foolip commented on #8308
Oh, so you're saying we'd run the tests at least in a window and worker context?

[2017-11-20 12:19] foolip commented on #8182
@snuggs were you able to update your /etc/hosts and have `ping web-platform.test` work in the terminal? If you've gotten that far, then any failure is probably due to something other than what @tabatkins ran into here.

[2017-11-20 12:20] annevk commented on #8308
@foolip ideally all agents, including worklets (though only possible for audio worklets I think), service workers, and shared workers. That's the long term goal.

The short term goal is making sure `SharedArrayBuffer` tests are tested across all agent combinations, which similarly requires this kind of wrapper setup.

[2017-11-20 12:22] annevk commented on #8308
Perhaps reading https://gist.github.com/annevk/b15a0a9522d65c98b28fb8c6da9f0ae5 helps.

[2017-11-20 12:24] snuggs commented on #8301
@soareschen great conventions and a nice cowpath to follow.

[2017-11-20 12:29] foolip commented on #8308
Thanks, that does help. Seems like a good start would be to pick a browser, write a wrapper for wpt, and run the test against the similar-origin window agent using wpt run. See if there are any differences to the results from the same tests run against the engine JS directly. Then also run against the other agents and see what other differences show up.

Most likely, new bugs will be revealed. Dep

[2017-11-20 12:49] dpino commented on #8308
Hi @foolip . I coded an attempt to do what you suggested at https://github.com/dpino/gecko-dev/pull/2/commits/9641de06bae7bab0039223d2fd010e42c24ccb30

Basically it's a Perl script that prints out a WPT test with a customized list of test262's tests to run. In that commit I'm only supporting a DedicatedWorker, although it could be extended for other types of workers. The main issue with this appro

[2017-11-20 13:03] jgraham commented on #8308
I think this makes sense. I think WASM might do something similar. The details of how the integration should work are unclear to me; how will web-platform-tests be kept in sync with the test262 tests?

[2017-11-20 15:48] gsnedders commented on #7753
Uh, yeah, we should probably have a separate issue for AOM.

[2017-11-20 15:49] gsnedders opened #8355 "Unable to test AOM (accessibility object model)"
This needs some way to touch the accessibility layer, which in a sense is related to #7753.

[2017-11-20 16:11] gsnedders commented on #7124
@jgraham Enabling automation is fixed with High Sierra.

[2017-11-20 16:13] gsnedders commented on #8292
(note that we didn't move over PRs from old repos before before that's a lot of manual work and time consuming when so many of those had sat around for years already and it seems unlikely anything will happen if I spend my time moving them over)

[2017-11-20 16:17] wpt-issue-mover opened #8356 "Broken pipe error"
Originally posted as https://github.com/w3c/wptserve/issues/12 by @darobin on 21 Mar 2014, 13:16 UTC:

[2017-11-20 16:17] wpt-issue-mover opened #8357 "Support different escaping for substitution pipe"
Originally posted as https://github.com/w3c/wptserve/issues/28 by @zcorpan on 04 Jun 2014, 11:57 UTC:

[2017-11-20 16:17] wpt-issue-mover commented on #8357
Originally posted as https://github.com/w3c/wptserve/issues/28#issuecomment-45081795 by @zcorpan on 04 Jun 2014, 12:00 UTC:

[2017-11-20 16:17] wpt-issue-mover opened #8358 "Endorse as a feature the possibility to change the document root while the server is running"
Originally posted as https://github.com/w3c/wptserve/issues/32 by @andreieftimie on 26 Jun 2014, 13:28 UTC:

[2017-11-20 16:17] wpt-issue-mover opened #8359 "Log spew reporting "An existing connection was forcibly closed...""
Originally posted as https://github.com/w3c/wptserve/issues/38 by @dminor on 17 Jul 2014, 14:56 UTC:

[2017-11-20 16:17] wpt-issue-mover opened #8361 "Lack of output encoding creates unavoidable security issues for .sub files"
Originally posted as https://github.com/w3c/wptserve/issues/41 by @hillbrad on 21 Jul 2014, 19:54 UTC:

[2017-11-20 16:17] wpt-issue-mover commented on #8361
Originally posted as https://github.com/w3c/wptserve/issues/41#issuecomment-49664951 by @hillbrad on 21 Jul 2014, 21:01 UTC:

[2017-11-20 16:17] wpt-issue-mover commented on #8361
Originally posted as https://github.com/w3c/wptserve/issues/41#issuecomment-49668290 by @odinho on 21 Jul 2014, 21:27 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8361
Originally posted as https://github.com/w3c/wptserve/issues/41#issuecomment-49668978 by @odinho on 21 Jul 2014, 21:33 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8361
Originally posted as https://github.com/w3c/wptserve/issues/41#issuecomment-49670542 by @jgraham on 21 Jul 2014, 21:46 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8361
Originally posted as https://github.com/w3c/wptserve/issues/41#issuecomment-49674071 by @hillbrad on 21 Jul 2014, 22:19 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8361
Originally posted as https://github.com/w3c/wptserve/issues/41#issuecomment-49712372 by @odinho on 22 Jul 2014, 08:39 UTC:

[2017-11-20 16:18] wpt-issue-mover opened #8362 "missing referrer causes exception"
Originally posted as https://github.com/w3c/wptserve/issues/67 by @hrj on 18 Sep 2015, 09:25 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8362
Originally posted as https://github.com/w3c/wptserve/issues/67#issuecomment-141405162 by @jgraham on 18 Sep 2015, 09:43 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8362
Originally posted as https://github.com/w3c/wptserve/issues/67#issuecomment-141412712 by @hrj on 18 Sep 2015, 10:23 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8362
Originally posted as https://github.com/w3c/wptserve/issues/67#issuecomment-141418381 by @jgraham on 18 Sep 2015, 11:00 UTC:

[2017-11-20 16:18] wpt-issue-mover opened #8363 "Add feature to unregister existing handlers"
Originally posted as https://github.com/w3c/wptserve/issues/75 by @whimboo on 10 Feb 2016, 12:10 UTC:

[2017-11-20 16:18] wpt-issue-mover opened #8364 "Class members for the WebTestHttpd class should be properties which access values via inner httpd instance"
Originally posted as https://github.com/w3c/wptserve/issues/76 by @whimboo on 10 Feb 2016, 12:36 UTC:

[2017-11-20 16:18] wpt-issue-mover opened #8365 "Support IPv6"
Originally posted as https://github.com/w3c/wptserve/issues/77 by @gsnedders on 03 Mar 2016, 16:11 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8365
Originally posted as https://github.com/w3c/wptserve/issues/77#issuecomment-191830905 by @gsnedders on 03 Mar 2016, 16:12 UTC:

[2017-11-20 16:18] wpt-issue-mover opened #8366 "Add support for full-duplex streaming"
Originally posted as https://github.com/w3c/wptserve/issues/80 by @louiscryan on 25 Mar 2016, 19:49 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8366
Originally posted as https://github.com/w3c/wptserve/issues/80#issuecomment-201485530 by @Lukasa on 25 Mar 2016, 20:36 UTC:

[2017-11-20 16:18] wpt-issue-mover opened #8367 "Multiple request.headers handling"
Originally posted as https://github.com/w3c/wptserve/issues/84 by @BigBlueHat on 14 Jul 2016, 21:03 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-232982469 by @halindrome on 15 Jul 2016, 15:22 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-232984140 by @BigBlueHat on 15 Jul 2016, 15:27 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-233002741 by @halindrome on 15 Jul 2016, 16:38 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-233020195 by @BigBlueHat on 15 Jul 2016, 17:48 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-233027500 by @BigBlueHat on 15 Jul 2016, 18:16 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-234092002 by @BigBlueHat on 20 Jul 2016, 21:40 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-234128656 by @gsnedders on 21 Jul 2016, 01:03 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-234262021 by @halindrome on 21 Jul 2016, 14:00 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-234706658 by @Ms2ger on 23 Jul 2016, 08:19 UTC:

[2017-11-20 16:18] wpt-issue-mover commented on #8367
Originally posted as https://github.com/w3c/wptserve/issues/84#issuecomment-236216310 by @BigBlueHat on 29 Jul 2016, 15:45 UTC:

[2017-11-20 16:19] wpt-issue-mover opened #8368 "Creation of a handler which doesn't set a string as response content hangs the server"
Originally posted as https://github.com/w3c/wptserve/issues/105 by @whimboo on 28 Oct 2016, 12:22 UTC:

[2017-11-20 16:19] wpt-issue-mover opened #8369 "WebKit bots having too many TIME_WAIT sockets"
Originally posted as https://github.com/w3c/wptserve/issues/108 by @youennf on 16 Nov 2016, 03:12 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-260989316 by @youennf on 16 Nov 2016, 16:13 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-260999668 by @youennf on 16 Nov 2016, 16:43 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-261011143 by @gsnedders on 16 Nov 2016, 17:22 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-261015498 by @youennf on 16 Nov 2016, 17:37 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-261018428 by @gsnedders on 16 Nov 2016, 17:48 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-261018775 by @gsnedders on 16 Nov 2016, 17:49 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8369
Originally posted as https://github.com/w3c/wptserve/issues/108#issuecomment-276206567 by @gsnedders on 30 Jan 2017, 22:04 UTC:

[2017-11-20 16:19] wpt-issue-mover opened #8370 "Add support to include files as data URLs"
Originally posted as https://github.com/w3c/wptserve/issues/109 by @gsnedders on 22 Dec 2016, 00:02 UTC:

[2017-11-20 16:19] wpt-issue-mover opened #8371 "Support HTTP/2"
Originally posted as https://github.com/w3c/wptserve/issues/110 by @annevk on 09 Jan 2017, 10:25 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8371
Originally posted as https://github.com/w3c/wptserve/issues/110#issuecomment-271281757 by @gsnedders on 09 Jan 2017, 13:16 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8371
Originally posted as https://github.com/w3c/wptserve/issues/110#issuecomment-271282983 by @annevk on 09 Jan 2017, 13:23 UTC:

[2017-11-20 16:19] wpt-issue-mover opened #8372 "0x0B and 0x0C stripped from header values"
Originally posted as https://github.com/w3c/wptserve/issues/111 by @annevk on 11 Jan 2017, 14:05 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271884076 by @Ms2ger on 11 Jan 2017, 14:36 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271896723 by @jgraham on 11 Jan 2017, 15:22 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271898274 by @annevk on 11 Jan 2017, 15:28 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271932153 by @gsnedders on 11 Jan 2017, 17:21 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271940447 by @annevk on 11 Jan 2017, 17:51 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271941608 by @gsnedders on 11 Jan 2017, 17:54 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-271982568 by @gsnedders on 11 Jan 2017, 20:20 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-272087459 by @annevk on 12 Jan 2017, 06:31 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8372
Originally posted as https://github.com/w3c/wptserve/issues/111#issuecomment-272096301 by @gsnedders on 12 Jan 2017, 07:34 UTC:

[2017-11-20 16:19] wpt-issue-mover opened #8373 "Feature request: handler for invalid HTTP responses"
Originally posted as https://github.com/w3c/wptserve/issues/116 by @jugglinmike on 14 Mar 2017, 19:16 UTC:

[2017-11-20 16:19] wpt-issue-mover commented on #8373
Originally posted as https://github.com/w3c/wptserve/issues/116#issuecomment-287007454 by @Ms2ger on 16 Mar 2017, 09:50 UTC:

[2017-11-20 16:20] wpt-issue-mover opened #8374 "Handling of multiple responses"
Originally posted as https://github.com/w3c/wptserve/issues/117 by @annevk on 05 Apr 2017, 08:11 UTC:

[2017-11-20 16:20] wpt-issue-mover opened #8375 "Trickled responses are cacheable"
Originally posted as https://github.com/w3c/wptserve/issues/118 by @gsnedders on 07 Apr 2017, 16:33 UTC:

[2017-11-20 16:23] gsnedders commented on #8292
all the issues are now moved

[2017-11-20 16:23] #8292 closed

[2017-11-20 16:34] gsnedders commented on #7543
ping @liamquin, who mentioned some stuff that had been done previously while at TPAC, when I was talking to him about testing SVG.

[2017-11-20 16:40] gsnedders commented on #7453
@foolip No, the table tests were moved out, which is what I'm pretty certain @FremyCompany was referring to given prior discussions. And then everything else was removed.

[2017-11-20 16:53] gsnedders commented on #8310
fixed in #8310

[2017-11-20 18:47] Hexcles commented on #8271
@foolip Well, from what we've heard from moz folks, m-c is running wpt lint (there might be some discrepancies in Python files, but lints for tests should be the same). When the changes in question were committed, they passed all the lints in m-c at the time. Either the lints in m-c at the time were already out-of-date, or new lints were added between the changes landed in m-c and exported to GitH

[2017-11-20 20:22] JKereliuk commented on #7281
Whoops I missed this, I am going to take closer look at these tests

[2017-11-20 20:42] JKereliuk commented on #8114
Does anyone know if there are existing manual tests that need this? Or are we missing coverage?

[2017-11-20 20:43] JKereliuk commented on #7986
Are there existing manual tests that need this? Or are we missing coverage?

[2017-11-20 20:49] JKereliuk commented on #7899
Are there any current manual tests that need this?

[2017-11-20 20:50] JKereliuk commented on #7760
@gsnedders Do you know any manual tests for these?

[2017-11-20 20:51] JKereliuk commented on #7759
@birtles Do you know of any existing manual tests that require this?

[2017-11-20 21:34] JKereliuk commented on #7753
Are there existing manual tests that need this?

[2017-11-20 21:34] JKereliuk commented on #7752
Are there any manual tests that need this? Or is it missing coverage?

[2017-11-20 21:51] JKereliuk commented on #7693
Are there existing manual tests that need this?

[2017-11-20 21:51] JKereliuk commented on #7676
Are there existing manual tests for this?

[2017-11-20 21:52] JKereliuk commented on #7434
Are there any existing manual tests that need this?

[2017-11-20 21:57] JKereliuk commented on #6866
@makotoshimazu Are there existing manual tests that require this?

[2017-11-20 21:58] JKereliuk commented on #5667
Are there existing manual tests that require this? @jugglinmike

[2017-11-20 21:59] JKereliuk commented on #5630
Are there existing manual tests that need this?

[2017-11-20 21:59] JKereliuk commented on #5340
Are there existing manual tests that need this?

[2017-11-20 22:06] JKereliuk commented on #3867
Are there any existing manual tests that need this?

[2017-11-20 22:07] JKereliuk commented on #2669
Are there existing manual tests that need this?

[2017-11-20 22:08] inexorabletash commented on #8114
`html/semantics/forms/the-input-element/` has a handful of tests, with `file-manual.html` testing the events.

(and nearly everything in `entries-api` is manual, of course)

[2017-11-20 22:15] plehegar commented on #7986
we're missing coverage. No tests have been rewritten since the server doesn't support this.

[2017-11-20 22:17] foolip commented on #7434
@kojiishi, do you have some manual tests that need a tab key to move focus?

[2017-11-20 22:18] foolip commented on #7899
The existing tests won't be manual test for the most part, they're just tests that define a `gc()` method and try different kinds of things to trigger a GC.

[2017-11-20 22:27] jgraham commented on #7899
I'm pretty worried about exposing gc behaviour in particular. We have successfully made the precise gc semantics an implementation detail, and I don't want tests to be the blocker to people improving their js engines in the future. In particular I don't know that all browsers are currently able to force a complete synchronous gc at a specific time, so I imagine it wouldn't be possible to implement

[2017-11-20 22:36] foolip commented on #7899
Right, in Blink it's not possible to force a precise GC from scripts, that has to happen at the top of the event loop. So such an API would have to be async, I suppose, or not exist at all.

[2017-11-20 23:41] birtles commented on #7759
I don't know for sure but there may be some in css-animations/css-transitions.

Ultimately, though, I don't think there is any need for manual tests of animations. If there are manual tests in css-animations/css-transitions we should double-check the same functionality is covered by automated tests and then remove them. I am very gradually rewriting all the tests in css-animations / css-transition

[2017-11-21 01:17] snuggs commented on #8182
If you can give me the most up to date directions I can test it out for you. Last I remember was about removing ports. Much appreciated @foolip.

[2017-11-21 01:39] makotoshimazu commented on #6866
Sorry, can I ask you what's the manual tests?

In chromium, we have tests which requires vendor specific APIs in a separated directory, and it runs on chrome specific test runner.
For example, some of service worker tests requires terminateServiceWorker API (which isn't in spec) as I mentioned in previous comment, and we have these tests in [here](https://cs.chromium.org/chromium/src/third_party/W

[2017-11-21 01:40] TakayoshiKochi commented on #7434
I guess you meant @TakayoshiKochi :)
I haven't started yet, but testing tab focus order is what I would like to
do.

2017/11/21 7:17 "Philip Jägenstedt" <notifications@github.com>:

[2017-11-21 03:45] youennf commented on #6866
Test runner APIs are being used in Chrome (and probably WebKit in the future) to directly implement what is done otherwise with WebDriver. This is used for manual tests in cases like triggering a user click on a button.

WebKit is close in terms of model to Chrome, so it would be probably fine (and useful) to share such test runner based tests. I am not sure how well that would apply to Gecko and

[2017-11-21 04:09] makotoshimazu commented on #6866
Chromium has --expose-internals-for-testing flag to expose the terminateServiceWorker API.
So, I'm not quite familiar with other browsers and test runner implementation, but I originally imagined something adding additional flag when launching the browser, and using it in a interface function.
For example, we could have these vendor specific non-spec'ed APIs in one place:
[code]
and implement them

[2017-11-21 04:22] mgiuca commented on #8278
The API would look something like this example @foolip posted on the Chrome bug:

[code]

So the test can add a handler that prevents the UI of the share picker showing up, and is able to a) inspect the data that would be sent to the share target, and b) opt to cancel the share instead of simulate choosing a target.

It should basically make it possible to convert all the `-manual` tests in [web-p

[2017-11-21 08:23] annevk commented on #2669
@JKereliuk manual tests have the same limitation with this missing...

[2017-11-21 08:24] annevk commented on #7693
@JKereliuk manual tests have the same limitation with this missing...

[2017-11-21 08:25] annevk commented on #3867
There's examples linked in the issues above that could easily be turned into tests.

[2017-11-21 10:38] gsnedders commented on #7760
@JKereliuk see every test with the CSS metadata flag of "paged", so currently:

[code]

[2017-11-21 11:17] gsnedders commented on #7757
@JKereliuk was asking what this affected; the answer is basically everything using any CSS list property (so `list-style`, or `list-style-*`), most of which live under `css/CSS2/lists/`, and some of which are under `css/css-lists/`.

Per discussion with Tab at TPAC, it's probably reasonable to just rely on `list-style-position: inline` doing the only sane thing (creating an inline box), though [Ch

[2017-11-21 11:32] gsnedders commented on #7753
@JKereliuk everything in wai-aria, core-aam, dpub-aam, and dpub-aria

[2017-11-21 11:34] gsnedders commented on #7752
@JKereliuk quite a lot of CSS fonts tests; things that currently rely on fonts being installed are:

[code]

(note many of these tests should probably just have their fonts replaced with web fonts)

[2017-11-21 11:36] gsnedders commented on #7676
Loads. Plenty in `css/CSS2/borders/`, for example.

[2017-11-21 11:39] gsnedders commented on #7759
Certainly there are SVG manual tests which test animation, somewhere in `svg/`.

[2017-11-21 12:07] joanmarie commented on #7753
I'm hoping that once AOM gives us a means to examine the shared/platform-independent accessibility trees of user agents, that will solve ARIA, DPub ARIA, and any other ARIA that's not an AAM spec.

Testing the AAM specs requires an additional tool (the client-side, platform-specific ATTAs). And some of them have dependencies (e.g. in Linux, it turns out that if you don't have the latest versions o

[2017-11-21 13:42] andypaicu opened #8390 "nonexistent-origin.web-platform.test does not have a corresponding domains entry"
In the hosts files there is a "nonexistent-origin.web-platform.test" entry that corresponds to "0.0.0.0"
All the other domains can be used in tests using the "domains" template but from what I can tell this one does not have an entry.

For example: "{{domains[www1]}}" will expand to www1.web-platform.test.

Has this been skipped on purpose or just missed? I was just writing a test that uses the no

[2017-11-21 14:33] foolip commented on #7434
Yes I did, my apologies @TakayoshiKochi!

[2017-11-21 14:46] foolip commented on #8390
@jgraham, do you know if this is intentional?

[2017-11-21 14:51] jgraham commented on #8390
I think this is just an oversight.

[2017-11-21 14:58] andypaicu commented on #8390
Cool, for now I've just used the full domain name in the test.

[2017-11-21 15:06] gsnedders commented on #8390
This is arguably related to #6556.

[2017-11-21 15:07] foolip commented on #8355
Not yet known to involve infra changes, so changing labels.

[2017-11-21 15:09] foolip commented on #8362
This was over two years ago, and not enough information was provided then about how to reproduce, so closing.

[2017-11-21 15:09] #8362 closed

[2017-11-21 15:10] foolip commented on #8390
@jgraham, can you point to where this could be fixed? @andypaicu, could you then try a fix?

[2017-11-21 15:13] foolip commented on #8375
I think this invalid, these are the headers sent with http://web-platform.test:8000/images/blue.png?pipe=trickle(d5) now:

[2017-11-21 15:14] foolip commented on #8374
@annevk, can you elaborate on what's needed here? Which tests can't be written because this is missing?

[2017-11-21 15:18] foolip commented on #8370
How about just a JS helper, any reason this needs to be a server feature?

[2017-11-21 15:19] foolip commented on #8369
@youennf, is this still a problem for WebKit?

[2017-11-21 15:20] annevk commented on #8374
Basically ensuring that everything that does a fetch does not do bad things if the scenario in OP happens. But also testing https://tools.ietf.org/html/draft-ietf-httpbis-early-hints I suppose if browsers implement that (Chrome might).

[2017-11-21 15:20] foolip commented on #8367
What's the status of this, @BigBlueHat? https://github.com/w3c/wptserve/pull/87 was never finished, is it still relevant?

[2017-11-21 15:21] gsnedders commented on #8370
@foolip that gets a bit awkward with CSS, though, given the CSSOM is rather horrible to work with

[2017-11-21 15:23] foolip commented on #8356
This was long ago and hard to reproduce then, closing as not very actionable.

[2017-11-21 15:23] #8356 closed

[2017-11-21 15:23] gsnedders commented on #8375
With no `Cache-Control` header specifying otherwise, a resource is cacheable. So this still stands.

[2017-11-21 15:24] foolip commented on #7274
Removing infra label until there's a suggestion for how to fix it that involves infra.

[2017-11-21 15:24] foolip commented on #8375
OK, then.

[2017-11-21 15:25] foolip commented on #8285
@Hexcles, do you know what the fix would be for this?

[2017-11-21 15:26] foolip commented on #8151
@JKereliuk, can you file issues for the specific cases? Since issues can't really be linked well in GitHub, an umbrella issue like this will at most end up as a long list of links.

[2017-11-21 15:26] #8151 closed

[2017-11-21 15:27] foolip commented on #5669
Removing infra label as this does not yet describe any concrete work.

[2017-11-21 15:28] Hexcles commented on #8285
Supposedly the right fix is to dig through the code base and ensure encode
only happens once. If that proves to be infeasible (because of the size of
code base, third party libraries, whatever), there's also a hacky monkey
patching "fix"...

I haven't got time to look into it.

On Tue, Nov 21, 2017, 10:25 Philip Jägenstedt <notifications@github.com>
wrote:

[2017-11-21 15:29] foolip commented on #8285
@bsittler, is this affecting you still? Not sure if I should call it roadmap or backlog...

[2017-11-21 15:32] Hexcles commented on #8285
It doesn't seem to be a blocker, at this in this example. As you can see, the Travis job was green despite the crash in the middle.

[2017-11-21 15:36] annevk commented on #7274
We need a HTTP/2 backend for this. Basically a new use case for #8371. I guess we can dupe against that.

[2017-11-21 15:36] annevk commented on #7274
Actually reopening as it's useful to track this against fetch/xhr.

[2017-11-21 16:06] foolip commented on #8285
Backlog then, maybe Python 3 will come around sooner than we get to this :)

[2017-11-21 16:12] foolip commented on #8374
Would that require some changes to wptserve? I think there's already a way to send a raw response and to save state across requests.

[2017-11-21 16:16] foolip commented on #8278
Thanks for all the extra detail, @mgiuca! Based on that, I'm calling this backlog, but when your teams does want to prioritize this and you need some support for @JKereliuk, me, or someone else on ecosystem infra, please let us know!

[2017-11-21 16:18] foolip commented on #8182
@snuggs, the current directions are to paste the block in https://github.com/w3c/web-platform-tests/blob/master/README.md#running-the-tests into your /etc/hosts. If it doesn't work then, try `ping web-platform.test` to see if the DNS is working, maybe also restart the browser you're trying it in.

[2017-11-21 16:19] foolip commented on #8182
Calling this roadmap since I intend to finish it.

[2017-11-21 16:27] youennf opened #8391 "WPT server is slow"
Following on https://bugs.webkit.org/show_bug.cgi?id=178277 and https://lists.webkit.org/pipermail/webkit-dev/2017-November/029768.html, the WPT server is noticeably slower than Apache, something like 3 to 10 times slower than Apache for a single file download.
It also seems that serving WPT tests through Apache may be 25% or more faster than using WPT server (for those tests not relying on WPT se

[2017-11-21 16:28] youennf commented on #8369
Not really, it can probably be closed and reopened if needed.

[2017-11-21 16:33] foolip commented on #8369
OK, I will close it. If you happen to have a list of WebKit pain points, that would be interesting to see.

[2017-11-21 16:33] #8369 closed

[2017-11-21 16:34] youennf commented on #8369
I filed https://github.com/w3c/web-platform-tests/issues/8391 related to WPT server being slow.

[2017-11-21 17:06] annevk commented on #8374
@foolip I'm not sure why you'd need to save state here? I think I tried raw responses, but it's been ages.

[2017-11-21 17:06] foolip commented on #8391
Is the appropriate benchmark to focus on here the time to run the entire test suite in WebKit?

Do you have any numbers for the difference in serving single small and large files that aren't cached? That should tell us something about where to look, i.e. is it a constant overhead to handle a request, inefficient I/O, or something else...

[2017-11-21 17:35] foolip commented on #8374
If raw responses are all that's needed, then probably this already works then. Can you change the labels to the specs that need this, and send back to infra if it doesn't work?

[2017-11-21 18:48] jgraham commented on #8391
I can ressurrect the wptserve patch to apply the content-length in more cases; I hadn't seen it before but it looks entirely reasonable. But I will note that the last patch I made (to cache `testharness.js`) had no observable impact on the end-to-end time on Gecko infrastructure. So I can only implement things  blind here; I can't tell what will have an impact on WebKit infrastructure. Progress is

[2017-11-21 19:15] jgraham commented on #8391
FTR with /FileAPI/url/url_xmlhttprequest.html I can't reproduce a timing difference between Apache and wptserve. I might be doing something wrong ofc.

[2017-11-21 19:25] jgraham commented on #8391
I applied the `Content-Length` patch to https://treeherder.mozilla.org/#/jobs?repo=try&revision=3616d4e0aa004d8d472fa6b0b68804bd21d9102c Unsurprisingly it breaks some tests (and fixes some too, it  seems), but I can't see any discernable performance difference in a sample of Windows jobs that pass before and after. I would expect Windows to have the worst IO speed and so be most affected by the se

[2017-11-21 21:13] kereliuk opened #8398 "Add automation API for WebDriver keyboard input"

[2017-11-21 22:30] jrummell-chromium commented on #4716
Looks like this was done (by JamesWCCheng) as https://github.com/w3c/web-platform-tests/commit/85f088f444f64584722c2c584023651e7dac81cd.

[2017-11-21 22:30] #4716 closed

[2017-11-21 22:38] youennf commented on #8391
@jgraham,  can you point me to the Content-Length patch you used.
I can give it a try on my WebKit setup (using run-webkit-tests) to see the impact.
I think this patch will be an improvement anyway, for instance when running some fetch tests doing 20 redirections through HTTPS on w3c-test.org server.

I also tried the testharness.js patch locally and did not observe any noticeable difference on th

[2017-11-21 22:41] jgraham commented on #8391
The try push above has the patch (applied to mozilla-central) https://hg.mozilla.org/try/rev/966a2c27dccba8b4f37a7b8257d94ddf41365b14. You can grab the diff and edit the paths as required.

[2017-11-21 23:10] mgiuca commented on #8278
OK, thanks, will do!

[2017-11-21 23:15] youennf commented on #8391
Just tried the patch on the same IDB test suite.
Tests now run as fast as Apache.

[2017-11-21 23:22] youennf commented on #8391
Right, I don't think the goal is to have WPT server be as fast as Apache.
The goal is more that the entire test suite should run at about the same time.
A 25% difference seems worth investigating and fixing if not too complex.

[2017-11-21 23:26] foolip commented on #8271
Right, some race conditions are inevitable, but if most of the cases could be avoided by just being more in sync, then I wouldn't be very concerned about the fact that a race remains.

[2017-11-21 23:27] foolip commented on #8271
To clarify: it's inevitable with 2-way sync because we don't have cross-repo atomic commits, so however hard we try we can get into situations that require a human to resolve. Until superhuman AI.

[2017-11-21 23:28] foolip commented on #8391
I agree, if it's really 25% then that could be very low hanging fruit. Do you have a set of tests that you've done this experiment with that we might try in Chromium as well? If we see similar differences, then maybe we should prioritize this on our end as well.

[2017-11-21 23:38] youennf commented on #8391
I tried the following test suite: https://bug-178277-attachments.webkit.org/attachment.cgi?id=327431
I only checked that test results were the same when served by Apache and WPT.

I would think ref tests should also be good candidates to show any potential difference since they might take less time to execute.

[2017-11-22 03:44] Hexcles commented on #8391
On #testing IRC today a few other potential performance issues were discussed:

* IPC is slower on XNU than on Linux, which wptserve uses quite a lot.
* Exhaustion of ephemeral ports (as described in this [article](http://danielmendel.github.io/blog/2013/04/07/benchmarkers-beware-the-ephemeral-port-limit/)), and perhaps max open files. @youennf , @gsnedders said you ran into this issue before, can

[2017-11-22 13:04] gsnedders commented on #8391
that's https://github.com/w3c/web-platform-tests/issues/8369

[2017-11-22 13:11] Ms2ger opened #8407 "replaced-intrinsic-{001,002} fail across browsers"
http://w3c-test.org/css/CSS2/normal-flow/replaced-intrinsic-001.xht
http://w3c-test.org/css/CSS2/normal-flow/replaced-intrinsic-002.xht

fail in Edge (per gsnedders), WebKit, Blink, and Gecko.

CC @fantasai

[2017-11-22 13:24] plehegar opened #8408 "Need additional test cases for ResourceTiming.initiatorType"
See
  https://github.com/w3c/resource-timing/issues/130

[2017-11-22 17:10] FremyCompany commented on #7453
@foolip @gsnedders we are all good, the tests were moved as part of https://github.com/w3c/web-platform-tests/pull/7454

[2017-11-22 17:13] foolip commented on #7453
Do the tests that we're removed still exist somewhere for future re-upstreaming, or were they really just not valuable enough to worry about that?

[2017-11-22 17:20] foolip commented on #8370
In CSS, doesn't one data: URL test per context that accepts URLs suffice? Seems like it should not be a large enough number to warrant its own server feature.

[2017-11-22 17:29] gsnedders commented on #7453
@foolip They'd been in the repo for years without anyone caring about them, most of them manual, and many of them nowhere near up-to-date with the spec. They still exist in the git history if anyone wants to pull them out, and I assume the ones from browser vendors exist in some form in their repos.

[2017-11-22 17:37] dbaron commented on #8122
There are also the tests in [layout/reftests/counter-style/](https://searchfox.org/mozilla-central/source/layout/reftests/counter-style), which are more relevant to the spec for `@counter-style`.  This was discussed in the CSS meeting today.  /cc @upsuper @fantasai

[2017-11-22 17:47] upsuper commented on #8122
I had some patches locally for [Gecko bug 1134099](https://bugzilla.mozilla.org/show_bug.cgi?id=1134099) to upstream the counter style tests.

Had a look at patches considered done in my local repo, I think the main thing needs to be split off from upstreaming in `layout/reftests/counter-style/` would be length limitation of generated string. The spec says

Gecko implements a larger limitation tha

[2017-11-22 17:50] jgraham commented on #8122
FWIW I would always favour upstreaming things sooner over blocking on work that may never happen, unless the tests actually don't work without that work. If you want to change the tests later that's always possible after they are upstream.

[2017-11-22 17:52] upsuper commented on #8122
One possible problem of not splitting them is the canvas area. Some of the tests may be long vertically, which may fit into Gecko's reftest canvas but not wpt's. That is something we may need to take care.

[2017-11-22 18:41] foolip commented on #7453
The assumed part there is what I'm wondering about. Nobody will resurrect these from git history, I'm fairly certain.

[2017-11-22 20:04] rwaldron commented on #8391
cc @mattl

[2017-11-22 20:50] jrummell-chromium opened #8410 "[eme] Some Widevine tests fail if first "license-request" message is for a certificate"
Widevine now requests a certificate as the first message if setServerCertificate() has not been called. In some of the tests the code has expectations on the first "license-request" message request and fail when handling the certificate response.

Example: Test "drm, cannot load persistent license into temporary session" expects the first "license-request" message event to request a license, and s

[2017-11-22 22:53] foolip commented on #5608
Looks like I did https://github.com/w3c/web-platform-tests/pull/7572 as a fix for this on the same day as my last comment, but never did anything with it.

@tobie, what do you think we should do. Simply putting the file in /resources/WebIDLParser.js and not importing anything else from webidl2.js would do the job I think.

This continues to create confusion, https://chromium-review.googlesource.co

[2017-11-22 22:59] tobie commented on #5608
Isn't @gsnedders doing some sync work around webidl2? Think that's the most tricky part.

[2017-11-22 23:01] Hexcles commented on #5608
@tobie are you talking about #8063? I think that's already done.

[2017-11-22 23:05] tobie commented on #5608
Cool. Still needs to be done regularly.

[2017-11-22 23:07] Hexcles commented on #5608
So looks like there is no longer any copy of `WebIDLParser.js` in the repo. There is actually no confusion here in WPT: all references to `WebIDLParser.js` are historical and are redirected to `webidl2.js` by wptserve.

I think we should batch replace them and remove this redirection logic.

The question then is: what is the best path? As always, naming is one of the hardest things in CS. :)

[2017-11-22 23:09] tobie commented on #5608
+1

Be consistent and either put all assets in one directory or have them all sit in their src dir.

[2017-11-22 23:32] foolip commented on #5608
I'd say either we keep /resources/WebIDLParser.js or we rename it to /resources/webidl2.js, in both cases removing the logic in wptserve.

But, either approach means not importing the webidl2.js repo in it's original shape, maybe just copying it over and forgetting about history. Any preferences?

[2017-11-22 23:34] foolip commented on #8310
This is #8310 :)

[2017-11-22 23:39] Hexcles commented on #5608
(I was about to say "symlink!", but immediately regretted...)

@gsnedders do you have a doc/script for rolling WebIDL? What do you think of adding a step at the end to copy `webidl2.js` over to `resources/`?

[2017-11-23 09:29] andrey-logvinov opened #8411 "wakelock-object-is-independent.https.html does not reflect the spec intent"
https://github.com/w3c/web-platform-tests/blob/master/wake-lock/wakelock-object-is-independent.https.html

https://w3c.github.io/wake-lock/#extensions-to-the-navigator-interface

The spec intent is:

1. Once there is a wake lock resolution for a `Document` which is a `WakeLock` object, `Navigator.getWakeLock()` for the same Document must always return a promise resolved with the same object.

2. `

[2017-11-23 09:55] foolip commented on #5608
There's no script, it's just using git subtree on the command line. If we want the path to be anything that doesn't end in lib/webidl2.js, then just using git subtree won't fly. The most straightforward thing would be to just copy the file and lose the history, and otherwise we'd have to use git subtree but rename after and remove everything else, making the history still not very useful.

[2017-11-23 10:01] foolip commented on #6075
Good news, @jugglinmike will be coming along to try to finish this soonish.

[2017-11-23 10:04] #8310 closed

[2017-11-23 14:06] soareschen commented on #8301
#8303 is merged. I will modify other test files to close `pc` as well.

[2017-11-23 16:29] Hexcles commented on #5608
The easy and not so elegant solution is to keep doing git subtree in `resources/webidl2`, and copy `webidl2.js` out every time after we roll in a new version. We can add a README as a reminder. And we can also tell people to look at `resources/webidl2/lib/webidl2.js` for history in README.

It's not urgent and probably won't happen until someone has the time to take care of the batch sed work. Mea

[2017-11-23 23:11] foolip commented on #5608
If `git log --follow -- resources/webidl2.js` (and blame) isn't going to work because of a copy, then I think we should just have a script to make a copy and delete the current directory.

[2017-11-23 23:29] foolip commented on #8411
Added in https://github.com/w3c/web-platform-tests/pull/8186. @Honry, can you update the tests if needed?

[2017-11-24 01:11] Hexcles commented on #5608
I guess I lack some context here: why did we check in the whole https://github.com/w3c/webidl2.js in the first place? Instead of just checking in webidl2.js and keeping a note of its revision.

Do we need the full history? Or its test suite?

[2017-11-24 01:20] Honry commented on #8411
@foolip, sure.

[2017-11-24 01:40] Hexcles opened #8414 "mediacapture-fromelement tests still use the already removed vendor-prefix.js"
The couple tests under `mediacapture-fromelement/` still use `vendor-prefix.js`. In fact, the change was quite new: https://github.com/w3c/web-platform-tests/commit/cf876359e469cb67664f8a5dfd06056ec3a07650 (by @Ms2ger )

Yet, `vendor-prefix.js` had already been removed at https://github.com/w3c/web-platform-tests/pull/7509 by @foolip . So the tests now have 404 resources.

Besides, @foolip did you

[2017-11-24 05:35] snuggs commented on #8301
Great @soareschen. Quick question (2 parts). What's the `wg-webrtc` flag used for (more specifically the wg). and what is `wg-dap`. Noticed you added tag and want to know our conventions without assuming too much.

Thanks in advance.

[2017-11-24 07:14] Honry opened #8417 "Add Feature Policy tests for Generic Sensor"
Reflect to https://github.com/w3c/sensors/issues/133

[2017-11-24 08:45] foolip commented on #5608
It started out as a submodule, back when there were lots of submodules. It's just nicer to preserve the history by default, but no, we don't really need the history, or the test suite.

[2017-11-24 09:19] foolip commented on #8391
I added the roadmap label to this, not because we should work on it this quarter, but because we should at least investigate in Q1 how slow it is and if there are any easy improvements to be made. I've dropped a link in [Ecosystem Infra 2018 Q1 OKRs](https://docs.google.com/document/d/1ojlLDiRruI4e95Z7JQ10JQPRMiQHd_40rBkYCL6IJqw/edit?usp=sharing) for now.

[2017-11-24 09:22] foolip commented on #8181
@JKereliuk, calling this backlog since it's not clear if this is blocking anything, please bump prio if needed.

[2017-11-24 09:27] foolip commented on #6866
@makotoshimazu, I see that there are 9 tests in Chromium that use terminateServiceWorker. How valuable do you think these tests would be to other implementers, how likely are they to reveal interop problems for example? (Trying to decide on what priority label to give this.)

We now have a mechanism on which testing API like this can be built:
http://web-platform-tests.org/writing-tests/testdriver

[2017-11-24 09:28] foolip commented on #6866
Tentatively calling it roadmap, but if this issue comes up in the infra issue triage and there doesn't seem to be that much value in sharing these tests, we should downgrade to backlog.

[2017-11-24 11:12] leonhsl commented on #4519
As @jugglinmike created the fix PR, set as owner of this issue :-)

[2017-11-24 11:16] leonhsl commented on #4210
Set the PR's creator @annevk as owner of this issue for now, to make it be owned :) If not proper, please help to reassign. Thanks.

[2017-11-24 11:29] leonhsl commented on #5563
It may be not proper, but anyway we need to make this issue be owned, so, set @jgraham as owner for the relationship with WebDriver extension.

[2017-11-24 11:49] gsnedders commented on #8286
@foolip note if someone creates a PR with a new directory a label gets created for it, so it's quite likely we'll have labels that don't correspond to a directory