[2018-06-12 18:07] gsnedders commented on #11476
This is https://github.com/w3c/csswg-drafts/issues/1088.

Gecko does, Chrome seems to too? (see discussion in above CSS WG issue)

I mean, we can if we can somehow pause the browser at the point of `reftest-wait` being removed and we can guarantee that the callback that removes it happens at exactly the right time?

[2018-06-12 18:15] #11454 closed

[2018-06-12 21:02] #11275 closed

[2018-06-12 22:42] #11406 closed

[2018-06-13 08:17] foolip commented on #9230
@zcorpan, can you check if there are any other PRs like https://github.com/web-platform-tests/wpt/pull/11478 with status:needs-owners that need attention after the META.yaml changes?

[2018-06-13 09:00] foolip commented on #7660
@kereliuk @gsnedders now that https://github.com/w3c/web-platform-tests/issues/9874 is done, what's left to resolve this issue?

[2018-06-13 09:13] #11413 closed

[2018-06-13 09:16] gsnedders commented on #7660
@foolip Implement, all the way down to the test execution loop, some way of giving a target time or something similar.

[2018-06-13 09:17] gsnedders opened #11484 "SUPPORT-WRONG-DIR lint regressed on master"
From https://github.com/web-platform-tests/wpt/pull/11201#issuecomment-396837014, regressed in #11201.

cc/ @zcorpan @jdm

[2018-06-13 14:00] zcorpan commented on #9230
There was a problem with @wpt-pr-bot that caused it to add status:needs-owners to everything. That has been fixed in https://github.com/web-platform-tests/wpt-pr-bot/pull/26

[2018-06-13 14:05] foolip commented on #9230
Sweet, closing this issue, thanks all!

[2018-06-13 14:05] #9230 closed

[2018-06-13 15:34] #11484 closed

[2018-06-13 15:36] gsnedders opened #11487 "Update references to OWNERS"
[code]

At least `README.md` and the `docs` are pretty important, I'd say!

[2018-06-13 16:32] jgraham commented on #8525
Fixed by #11139

[2018-06-13 16:32] #8525 closed

[2018-06-13 17:30] zcorpan commented on #6565
@nomadtechie is working on a fix here FYI.

[2018-06-13 17:40] #10026 closed

[2018-06-13 20:12] TalbotG commented on #5403
1- So the definitive standard for tests is (should be?) 600px wide by 600px tall?

[Test assumptions](https://web-platform-tests.org/writing-tests/assumptions.html) now state:

2- A lot of tests could be retrofitted to comply with 600x600.
In some tests, that could be more difficult or a lot more difficult ...

3- Tests that occupy more than 1000 (1 thousand) in width or height should be examined

[2018-06-13 21:21] boazsender opened #11493 "selectionchange testing TODOs"
Over in PR #11491 I introduced a preliminary test for the [`selectionchange` event](https://w3c.github.io/selection-api/#selectionchange-event).

 Here is an initial pass at a TODO for more tests we should write for selectionchange:
  * test for invoking selectionchange without changing the selection
  * test that selection change does not fire in a document without a browsing context (i.e. docume

[2018-06-14 12:34] foolip commented on #11476
It's not necessary to be able to synchronously force a screenshot for the timing control to be useful. All that is needed is that when the screenshot is requested, the rendering doesn't change in the following milliseconds or hundreds of milliseconds at most. This isn't very hard to achieve by trickling the font resource.

Tests like this already exist, and without this control it's not clear how

[2018-06-14 12:37] foolip commented on #11347
The order in which event and promise callbacks are invoked is very well defined, if not entirely easy to understand. Testing the order of those things is very reasonable, to tell the difference between 'resolve *promise* and queue a task to fire a simple event named "foo"' and 'queue a task to: resolve *promise* and fire a simple event named "foo"'.

[2018-06-14 13:10] foolip commented on #10026
Oh yay, @gsnedders for president! @jugglinmike @Hexcles, have you seen this show up in runs yet? How much does it change the wptreport size?

[2018-06-14 15:23] gsnedders commented on #11075
@foolip pretty sure that a) he set up it originally; b) none of us really know enough

[2018-06-14 16:20] jdm opened #11510 "Add a assert_replaceable API to testharness"
The `assert_readonly` tests in https://github.com/web-platform-tests/wpt/blob/master/css/cssom-view/window-interface.xht#L63-L78 are incorrect because the properties are marked as `[Replaceable]` in [the spec](https://drafts.csswg.org/cssom-view/#extensions-to-the-window-interface). It would be nice to have tests that verify this property, rather than just removing this test code.

[2018-06-14 17:05] jugglinmike commented on #10026
Yup, the data is being collected!

    $ ssh bocoup-wptd-build-master 'sudo -u wptdmaster cat /mnt/buildmaster-data/chunk-results/f556cda8f3ab2c14851a63ecd3def3c03de8182d/edge-17-windows-10-sauce/10_of_100.json | python -m json.tool | head -n 10'
    {
        "results": [
            {
                "duration": 3385,
                "message": null,
                "status": "PASS",

[2018-06-14 17:06] Hexcles commented on #10026
I will have the numbers soon (fixing a bug in receiver now).

[2018-06-14 17:09] jgraham commented on #10026
wptreport is not optimized for size, if we are concerned about non-compressed size there's definitely changes we could make. What's the motivation there?

[2018-06-14 17:51] foolip commented on #10026
There's a request size limit in the wpt.fyi receiver, and we're not miles away from it. Hopefully this doesn't push it over the limit.

[2018-06-14 18:07] Hexcles commented on #10026
@foolip we only transport the compressed form

Adding a field like this wouldn't blow the compressed size up too much due to the nature of dictionary-based compression algorithms.

[2018-06-14 18:21] foolip commented on #10026
Well, with enough precision the numbers will be increasingly random, and not compress as well.

[2018-06-14 19:35] zcorpan opened #11514 "web-platform-tests.org site structure: remove appendices"
"Appendices" and "A load of other useful resources." is mystery meat and doesn't invite clicking it.

Maybe "New to GitHub? Check out this introduction." at top-level and maybe put test templates under "Writing tests".

cc @gsnedders

[2018-06-14 21:20] #11487 closed

[2018-06-15 05:19] zcorpan opened #11521 "META.yml: Replace ayg in suggested_reviewers"
@ayg has not accepted the invite, but appears in a number of META.yml files. Consider removing and adding someone else.

[code]
files that include only ayg
[code]
Since html/META.yml exists, the html ones could be removed. That leaves `editing` and `selection`.

[2018-06-15 09:15] fippo commented on #8301
this is largely done by now (via chrome export). There are some helpers which create a throw-away peerconnection but I assume those will be eliminated over time.

[2018-06-15 13:34] zcorpan commented on #11521
@rniwa can you take `selection`?

@johanneswilm can you take `editing`?

[2018-06-15 16:08] zcorpan opened #11529 "Merge .window.js/.worker.js/.any.js"
I think it's a bit confusing how the three kinds of tests are subtly different, and I imagine that new contributors can be similarly confused.

I have two ideas for possible improvement:

* Use only .any.js and update the tests accordingly.
* Still use the 3 filename conventions, but make it more consistent how to write each kind of test (e.g. include `GLOBAL` in .window.js and .worker.js).

The f

[2018-06-15 18:25] josephshum opened #11531 "Encoding tests not being run across all browser after test split"
A number of tests are now not running after change [d6c29be](https://github.com/web-platform-tests/wpt/commit/d6c29bef8d4bcdfe4f689defca73360b07647d71). This affects all browsers, as reported in
[encoding/legacy-mb-korean/euc-kr](https://wpt.fyi/results/encoding/legacy-mb-korean/euc-kr). Here is an example:
[http://w3c-test.org/encoding/legacy-mb-korean/euc-kr/euckr-decode-iso-ir-149.html](http://

[2018-06-15 19:27] #11531 closed

[2018-06-15 21:20] jgraham opened #11538 "Fix getting Chrome version on Windows"
Running `chrome --version` doesn't work on Windows, so we need to do something different like read the registry to get the version number there, or get the executable properties (c.f. https://stackoverflow.com/questions/30686/get-file-version-in-powershell)

[2018-06-15 21:21] jgraham commented on #11538
https://stackoverflow.com/questions/580924/python-windows-file-version-attribute

[2018-06-15 22:49] josephshum commented on #11531
@zcorpan Thank you for the quick turn around!

[2018-06-16 00:55] snuggs commented on #8301
@fippo would you mind leaving a breadcrumb to some examples/tests you speak of? Would be helpful. Especially for myself. :-)

Thanks in advance!

[2018-06-16 09:43] zcorpan commented on #9972
#10026 is now addressed.

What do we want here? Reject tests that take more than 5s to run (or 30s for `timeout=long`)?

[2018-06-16 09:47] zcorpan commented on #5289
I think the README has too much information, and it would be easier to follow if things moved to docs.

[2018-06-16 18:38] zcorpan commented on #5381
@plinss has fixed this, so this should unblock the renaming.

I suggest that we keep the metadata when doing the renaming, however when authoring new tests it would be good if it was sufficient to use only the file name convention. I'm not sure if the CSS test harness or something needs further changes to support that.

[2018-06-16 18:41] zcorpan commented on #5381
Moreover, we should update the linter/whitelist to complain about any new test that is manual according to `flags` but doesn't have `-manual`.

[2018-06-16 18:41] plinss commented on #5381
Yes, please keep the rest of the existing metadata for now. I can have the test harness extract the additional flags it needs from the filenames at some point, but it's not doing that yet.

[2018-06-16 22:13] gsnedders commented on #5381
@zcorpan FWIW, still in favour of splitting out paged reftests into a new test type before we do the rename, rather than ending up renaming twice. (#7760)

Adding the existing flags-based manual tests to the whitelist might regress performance of the lint (given it's a huge number of extra files to whitelist), unless we change how we do the whitelisting.

@plinss Does it just use `testinfo.data` f

[2018-06-17 02:02] plinss commented on #5381
No changes were made to the testinfo.data for this so far, the only change was in the harness test import to filter off the -manual and -visual suffixes from the test names.

The harness generally presumes all tests are manual regardless of flags set in the testinfo.data, the only one it really cares about IIRC is 'reference' but it auto-sets that one based on the presence of references (or the bu

[2018-06-17 19:16] foolip commented on #11009
Ping @plehegar @wseltzer, any progress on this?

[2018-06-17 19:32] foolip commented on #11473
For both of these I would suggest a new repo, called "policy", "governance" or "meta", which is low-volume enough that it's possible to subscribe to it.

@zcorpan and I discussed this a bit today. A steering group in the style of https://github.com/whatwg/sg might work, with the same expectation that the mechanism will always never be used, because people generally prefer to resolve their issues w

[2018-06-17 20:28] foolip commented on #11521
I can take html/obsolete, just my kind of thing.

[2018-06-17 20:29] foolip commented on #11521
html/semantics is very broad, is there really anyone who would be a good reviewer for all of it?

[2018-06-18 01:44] TalbotG commented on #10806
Those 4 tests have been entirely modified by Xu Xing and they no longer have the linkage to script problem. The script is now
`<script src="/resources/check-layout-th.js">`

Therefore, I am closing this issue.

[2018-06-18 01:44] #10806 closed

[2018-06-18 07:29] zcorpan commented on #11521
If nobody steps up, we could split html/semantics in some manner between you, me, @annevk and @domenic. WDYT?

[2018-06-18 08:59] foolip commented on #11521
Yeah, I'd be fine with with most of html/semantics/embedded-content/. Here are the numbers of files in the directories:
[code]

[2018-06-18 09:50] foolip commented on #9972
A histogram of current test times would be helpful. We don't want a limit that would prevent 10% of currently existing tests from being landed, unless perhaps that 10% is actually flaky. (Probably not.)

[2018-06-18 10:32] zcorpan commented on #11521
Here are the 5 most recent commit authors for each dir under semantics:
[code]

@foolip can you look into translating these to GitHub usernames?

[2018-06-18 10:50] ricea commented on #9972
I did a quick run on my workstation (which is unrealistically fast). My guess is that Travis will be 2 or 3 times slower. My graphing skills are regrettable:

https://docs.google.com/spreadsheets/d/e/2PACX-1vQAPeDKvbe9VRVs5NLKpDsp-x_Q4oN1_9uadUt5YzcjZ8la3ietqNzSO6YgOmDCUa8wwOAuHbabFL9j/pubchart?oid=579431732&format=interactive

90th percentile is 0.53s
95th percentile is 0.85s
99th percentile is 2

[2018-06-18 11:00] zcorpan commented on #9972
Do

[2018-06-18 12:34] foolip opened #11548 "Document who the org admins are"
@annevk asked on IRC, "can we host a list of admins somewhere?"

Currently @web-platform-tests/admins contains: @foolip @gsnedders @Hexcles @jdm @jgraham @plehegar @sideshowbarker @thejohnjansen @tobie @youennf @zcorpan

This is somewhat related to https://github.com/web-platform-tests/wpt/issues/11473.

I suggest that we check in the list of both this team and the reviewers team somewhere in the

[2018-06-18 12:47] zcorpan commented on #11548
That would work for me, but I think we should put it in the "meta" repo (when we create it).

[2018-06-18 12:54] #11212 closed

[2018-06-18 12:58] foolip commented on #11548
Yes, I agree.

[2018-06-18 13:02] foolip commented on #11521
I don't have any special tricks apart from people who work at Google, what I'd do is to look at a commit for each name I don't already recognize, and see what username GitHub attributes it to. Rune is lilles, for example.

[2018-06-18 13:02] foolip commented on #11521
(Actually a bad example, since I used the Googler lookup tool for that one.)

[2018-06-18 13:34] ricea commented on #9972
Here's a slightly better histogram that does at least contain some details:
https://docs.google.com/spreadsheets/d/e/2PACX-1vRVR9RSA3TA4oCydk5v1_x5qPmrYeW9J_Jf7SsLstAanOww2HAC4VEZ3KXlCcHIAB-l_2EBK1IlKTLL/pubchart?oid=340694928&format=interactive

[2018-06-18 13:39] zcorpan commented on #11521
Using https://github.com/sindresorhus/github-username-cli
[code]
(Got rate-limited here, will post the rest later.)

[2018-06-18 13:42] ricea commented on #9972
@zcorpan Sure: https://gist.github.com/ricea/fe717612c3579400cd2055c94b52c0bf

Disclaimer: This is from one run on one machine and not necessarily representative of typical behaviour.

[2018-06-18 13:55] zcorpan commented on #9972
Thanks! I can check the tests in that list and fix low-hanging fruit. We can also revisit when there's a way to filter by slow tests in wpt.fyi or so.

[2018-06-18 14:10] gsnedders commented on #11548
Anyone who is a member of the org can load https://github.com/orgs/web-platform-tests/teams/admins/members and see the list there, FWIW

[2018-06-18 14:10] foolip commented on #9972
Filed https://github.com/web-platform-tests/wpt.fyi/issues/282 about exposing the information on wpt.fyi.

[2018-06-18 14:11] foolip commented on #11548
Oh... I thought you had to be an admin. In that case, we just need to link to that URL from somewhere :)

[2018-06-18 14:13] zcorpan commented on #11510
The test should be removed in favor of css/cssom-view/interfaces.html , possibly we could add something to resources/idlharness.js to test more aspects of [Replaceable].

[2018-06-18 14:14] Hexcles commented on #11548
Yes. Something like "if you run into problems (e.g. need to force merge a PR), contact an admin: ..."

[2018-06-18 14:35] gsnedders commented on #11548
@foolip there's a setting for the team that controls that, it was already set to "visible", *shrugs*

[2018-06-18 14:43] johanneswilm commented on #11521
Yes, I can take editing.

[2018-06-18 14:47] ricea commented on #9972
@zcorpan I should have mentioned that the list of slow tests doesn't contain the tests marked TIMEOUT in Blink's test expectations. I can get you that list if you don't have it.

[2018-06-18 14:59] Hexcles commented on #9972
@ricea it sounds like you got the data using Blink run_web_tests?

[2018-06-18 15:06] ricea commented on #9972
@Hexcles Yes. Specifically:
[code]

[2018-06-18 15:11] zcorpan commented on #9972
@ricea I have that list in https://bocoup.github.io/wpt-disabled-tests-report/#filter=%5C%5B%20timeout

[2018-06-18 15:28] jdm opened #11554 "Support multiple document roots in wpt serve"
Servo uses a [config](https://github.com/servo/servo/blob/master/tests/wpt/config.ini) that has multiple document roots. I have not figured out a way to replicate this setup when using the `./wpt serve` tool, which only supports using a single document root.

[2018-06-18 16:09] Hexcles commented on #11538
Oops... let me also research if there's some easier Chrome-specific way to get the version string

[2018-06-18 16:24] domenic commented on #11521
I can take scripting-1 and probably other stuff. I nominate @tkent-google as reviewer for forms, if he's interested.

[2018-06-18 17:02] gsnedders commented on #11538
#11537 sorta fixed it by making it return `None` instead of a version number.

[2018-06-18 17:04] gsnedders opened #11556 "assert_throws doesn't allow arbitrary JS objects"
See https://github.com/web-platform-tests/wpt/pull/11496#discussion_r195466654

cc/ @saschanaz

[2018-06-18 17:37] zcorpan commented on #11521
Suggestion based on the above:

Path | Suggested reviewers
---|---
./the-root-element | @darobin
./text-level-semantics | @jeisinger
./disabled-elements | @Ms2ger
./sections | @darobin
./forms | @tkent-google
./common-idioms | @darobin
./scripting-1 | @domenic
./tabular-data | @tkent-google
./links | @annevk
./embedded-content | @foolip @zcorpan
./grouping-content | @domenic
./edits | @Ms2ger
./in

[2018-06-18 17:41] foolip commented on #11521
Those are OK for me.

[2018-06-18 17:49] jugglinmike commented on #11548
Documenting this information is one part of gh-10832. Even now, before it has been merged, that patch demonstrates the trouble with documentation of externally-managed configuration: it goes out of date.

I was not aware that GitHub provided a listing. That seems preferable to an out-of-date text file. The drawbacks are that it is not publicly accessible and cannot be version controlled. [There ar

[2018-06-18 18:54] zcorpan commented on #9972
So to continue https://github.com/web-platform-tests/wpt/issues/9972#issuecomment-397801068 here's a proposal:

In `wpt run --verify` (which the stability checker uses), in half of the runs we change the harness timeout to 5s, or 30s for `timeout=long`. This way it will appear as unstable if it takes 5-10s (or 30-60s).

[2018-06-18 19:38] zcorpan commented on #6296
-> https://github.com/web-platform-tests/wpt-pr-bot/issues/33

[2018-06-18 19:38] #6296 closed

[2018-06-18 21:03] wseltzer commented on #11009
I'm sorry, but PSIG (the Patents and Standards Interest Group, which gathers IP lawyers) wants to discuss further, and proposes to do so at their July 9 meeting. I have recommended that we use the second of the dual licenses -- the W3C 3-clause BSD, because we're not aware of any continuing (or past) need for the protection against claims of conformance, but I think we owe them the opportunity to

[2018-06-18 21:21] foolip commented on #11009
Thanks @wseltzer, please keep us posted! The question in https://github.com/web-platform-tests/wpt/issues/11009#issuecomment-392473208 and whether "W3C nor the names of its contributors" can be replaced by "web-platform-tests project nor the names of its contributors" are also questions that I'd like to see addressed.

[2018-06-18 21:21] spectranaut opened #11562 "Run all css/ tests against parse-css with code coverage"
There are a great deal of css tests, but it's not easy to tell how complete the coverage is. It might help to run all css/* tests against and up-to-date parser, like https://github.com/tabatkins/parse-css, to see where the holes are.

This issue was inspired by looking for tests to write in response to this issue: #10498

[2018-06-18 23:46] saschanaz commented on #5034
It seems the PRs are merged. Is this issue fixed now?

[2018-06-19 03:18] tkent-google commented on #11521
I'm fine with forms and tabular-data.

[2018-06-19 06:42] zcorpan commented on #5034
Yes

[2018-06-19 06:42] #5034 closed

[2018-06-19 06:46] annevk commented on #11009
@wseltzer see https://github.com/web-platform-tests/wpt/pull/11191#issuecomment-394059712. In particular:

The lack of a copyright line seems pretty problematic, not sure about wording differences.

[2018-06-19 06:58] foolip commented on #9972
I was thinking we'd just look at the average run time and if it's above some threshold, fail the job with a message saying just that.

[2018-06-19 07:15] ricea commented on #9972
The trouble with forcing slow tests to be flaky is that it makes it harder to track down the problem. A clear message "I rejected this test because it was slow" will help people resolve the problem faster.

[2018-06-19 08:47] foolip opened #11568 "Final reminder for reviewers to join the web-platform-tests org"
As reported in https://github.com/web-platform-tests/wpt/pull/11201#issuecomment-393226129, everyone who is currently in any OWNERS file (now META.yml) has been invited to the web-platform-tests org.

There are now 62 people who have not accepted the invite. First 50:

@alsemenov @atanassov @ayg @beidson @bethge @bsittler @cabanier @chenxix @chunywang @danielweck @deepak-sa @dominiccooney @dumbmat

[2018-06-19 08:47] foolip commented on #11568
Final 12:

@timvolodine @toji @tyoshino @uysalere @Volker-E @web-flow @xiaojunwu @xinliux @yunxiaoxie @zhaozihao @zhorvath @zolkis

Please see the issue description and visit https://github.com/orgs/web-platform-tests/invitation to accept the invitation, to be able to perform reviews in web-platform-tests.

[2018-06-19 09:20] Ms2ger commented on #11521
Please drop me (unless someone wants to pay me to review those tests).

[2018-06-19 09:27] foolip commented on #11521
There's only 1 test in disabled-elements and 2 in edits, so maybe we can just leave those without reviewers and let it fall back to html/META.yml.

[2018-06-19 11:18] lilles commented on #11521
OK.

[2018-06-19 13:16] zcorpan commented on #9972
OK I have implemented a check as part of the stability checker that will reject if the longest duration is >5s. I don't know how to check if `timeout=long` is specified.

[2018-06-19 13:36] zcorpan opened #11571 "Fix slow tests"
From https://github.com/web-platform-tests/wpt/issues/9972#issuecomment-398058137

 - [ ] 23.2075 xhr/xmlhttprequest-timeout-worker-synconworker.html
 - [ ] 23.0962 xhr/xmlhttprequest-timeout-worker-overrides.html
 - [ ] 23.0917 xhr/xmlhttprequest-timeout-worker-simple.html
 - [ ] 23.0835 xhr/xmlhttprequest-timeout-worker-twice.html
 - [ ] 23.0772 xhr/xmlhttprequest-timeout-simple.html
 - [ ] 23.0

[2018-06-19 14:00] zcorpan commented on #11571
This takes 20s by design; the only fix would be to remove the test.

It doesn't show up in https://bocoup.github.io/wpt-disabled-tests-report/#filter=websockets%2Fkeeping-connection-open%2F001.html so I'm assuming test results are stable.

[2018-06-19 15:31] zcorpan commented on #11562
cc @tabatkins

[2018-06-19 17:58] tabatkins commented on #11562
Interesting. parse-css was mostly written to do one-off tests by hand, to confirm that the spec was doing what I wanted.  But I'm happy to expose more APIs to hit whatever you need.

[2018-06-20 00:28] #11363 closed

[2018-06-20 09:19] zcorpan opened #11588 "Use .any.js for xhr tests"
Tests in xhr/ seem like good candidates for [.any.js](https://web-platform-tests.org/writing-tests/testharness.html#multi-global-tests). (Noticed while working on #11571.)

[2018-06-21 03:33] frivoal opened #11598 "Parsing tests for CSS UI Level 3 fail in testharness"
The tests introduced by #10700 all fail in https://test.csswg.org/harness/results/css-ui-3_dev/grouped/, because the `resources/parsing-testcommon.js` file cannot be found.

I don't fully understand the rules for finding these files, but we must be running afoul of them.

@plinss @mrego

[2018-06-21 05:36] plinss commented on #11598
All resources need to use an absolute path, so `/resources/parsing-testcommon.js` instead

[2018-06-21 07:34] frivoal commented on #11598
@plinss but in this case, parsing-testcommon.js is not in the top level resource folder, it is only shared between a few tests in this test suite, and is in a resource sub-folder next to the test. Is it impossible to share a JS file without making it global and shared accross the entire test suite?

[2018-06-21 09:03] zcorpan commented on #11571
I think this needs to take this long for what it's testing (a bit unclear why it takes 12 seconds when the timeout is 6 seconds, though).

[2018-06-21 11:30] foolip commented on #11571
I'll be OOO until July 5, but I'll check back in here (some time) after I'm back.

[2018-06-21 11:42] zcorpan opened #11608 "Fix CSS tests that are disabled/flaky/slow in browsers"
Context: https://github.com/web-platform-tests/wpt/issues/10656

https://bocoup.github.io/wpt-disabled-tests-report/#filter=%5E%2Fcss%2F

Figure out what's up with the tests and if applicable, fix them. The tests could be split up (by spec?) and assigned to implementors or spec editors. (I can come back and work on this list, but not in the next 7 weeks at least.)

[2018-06-21 11:46] zcorpan commented on #11048
@cbiesinger assigning this to you for now since you're the owner of https://bugs.chromium.org/p/chromium/issues/detail?id=467127

[2018-06-21 11:49] zcorpan commented on #10919
@tidoust assigning this to you since you added this test per git log.

[2018-06-21 11:52] zcorpan commented on #10798
@toddreifsteck ping :)

[2018-06-21 11:54] zcorpan commented on #5381
@gsnedders I won't have time to follow through with the renaming, and I'll be away the next 7 weeks. Can you take this?

[2018-06-21 11:56] zcorpan commented on #11179
@jgraham assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 11:57] zcorpan commented on #11049
@foolip assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 11:59] zcorpan commented on #10795
@jgraham assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 11:59] zcorpan commented on #10796
@cdumez assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 12:01] zcorpan commented on #10797
@nyaxt assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 12:03] zcorpan commented on #11181
@jyavenard, can you look into this?

[2018-06-21 12:05] zcorpan commented on #10799
https://bugs.chromium.org/p/chromium/issues/detail?id=855009

[2018-06-21 12:08] zcorpan commented on #11182
This was fixed in 2c4b6f9df0b187e0d4c1762d175e9f736492cf91.

@andypaicu can you update TestExpectations in chromium?

@cdumez can you update TestExpectations in webkit?

[2018-06-21 12:10] zcorpan commented on #11184
@youennf assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 12:14] zcorpan commented on #11185
@domenic can you update TestExpectations for chromium?

Don't know Ryan's github handle; commented in https://bugs.webkit.org/show_bug.cgi?id=184453

[2018-06-21 12:15] zcorpan commented on #11187
@tkent-google assigning this to you for now. I can come back to this later this year if it hasn't been fixed.

[2018-06-21 12:20] zcorpan commented on #11188
@foolip can you update TestExpectations for chromium?

@cdumez can you update TestExpectations for webkit?

[2018-06-21 12:21] zcorpan commented on #11222
@nhiroki can you update TestExpectations for chromium?

@cdumez can you update TestExpectations for webkit?

[2018-06-21 12:35] zcorpan commented on #10794
@Hexcles can you update TestExpectations for chromium?

@cdumez can you update TestExpectations for webkit?

Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1470130 for gecko.

[2018-06-21 12:59] zcorpan opened #11609 "/css/cssom-view/scroll-behavior-smooth.html is disabled/slow in chromium webkit"
http://bocoup.github.io/wpt-disabled-tests-report/

Investigate what's up with this test:

Path | Products | Results | Bugs
-- | -- | -- | --
/css/cssom-view/scroll-behavior-smooth.html | chromium webkit | [ Timeout ] [ Skip ] | https://crbug.com/626703 None

Test result history for: <a href='https://test-results.appspot.com/dashboards/flakiness_dashboard.html#testType=webkit_layout_tests&amp;test

[2018-06-21 13:34] wanderview commented on #11571
I don't think splitting would help here.  It only has a handful of cases and they all run in parallel.

The reason it can be slow is that it uses a 10 second setTimeout() to detect failed cross-origin window loads.  AFAIK there is no cross-browser way to handle this case and the timeout was the best attempt to deal with it.  If we want this test to be faster then we need another solution for detec

[2018-06-21 13:39] wanderview commented on #11571
Also, it feels wrong to have some kind of arbitrary point where we require splitting tests.  What is really driving this?  It may be slower in some browsers than others, but these are not performance tests, etc.

Also, there seems to be a trend towards more new tests being written as promise_test() which serializes execution.  In contrast, we could encourage folks to write async_test() instead tha

[2018-06-21 13:49] zcorpan commented on #11571
If the test needs to take a long time, tick the checkbox and document rationale in a comment (as you did).

In #9972 @ricea said:

I'm trying to address this by investigating the slowest tests (this issue) and [tests that are timing out or are flaky](https://bocoup.github.io/wpt-disabled-tests-report/), as well as implementing a [check to reject tests that are near their timeout](https://github.co

[2018-06-21 13:53] zcorpan commented on #11571
encoding tests have already been split up.

[2018-06-21 13:56] wanderview commented on #11571
Sure, but I also saw tests being split in chromium issues where the `<meta name="timeout" content="long">` could have been added.  I also feel like they've added a lot of serialized promise tests instead of parallel async tests.  Both of those are strategies that could be pursued before test splitting.

Also, I would note test splitting creates a lot of churn in history, test expectations, and gre

[2018-06-21 14:17] wanderview commented on #9972
I have concerns about this.  These are not performance tests, yet this issue is attempting to enforce a performance requirement.

For example, what if a browser implementation makes a change that causes a large number of tests to run slower and exceed this threshold.  No changes to the tests could then be made without triggering this blocking mode.

Or if it runs fast enough in 3 browsers, but is

[2018-06-21 14:19] wanderview commented on #9972
Also, I would note that as a framework we should probably be encouraging folks to be writing more parallel async_tests instead of serialized promise_tests.  Or provide a parallel promise_test method.  It seems a lot of serialized tests have been added lately (at least to the components I work on).

[2018-06-21 14:45] ricea commented on #9972
I have a strong preference for promise_tests precisely because they _are_ serialized. It's very hard to write tests that don't have unexpected interactions when interleaved. It's very hard to debug async_tests when they **do** have unexpected interactions.

If a set of tests would be faster when run interleaved that implies they are not CPU bound on the main thread. In some cases a test is capable

[2018-06-21 15:01] wanderview commented on #9972
Hmm.  The desire for serialized tests and the desire for short tests seem at odds with one another.  I have some frustration when this leads to a lot of churn splitting tests that could have easily been written to run with async_test in parallel or use the meta tag to annotate long test.

As far as debugging goes I typically comment out all unrelated test cases, promise or async, to reduce clutter

[2018-06-21 15:12] zcorpan commented on #9972
The goal is detecting tests that are near their timeout, since they are likely to produce unstable results (sometimes time out) in CI. When the check fails, a reasonable fix is to specify timeout=long.

[2018-06-21 15:51] plinss commented on #11598
See my edited comment above, locally shared files need to be in a `support/` folder relative to the test so the build system can copy them into the proper place.

[2018-06-21 17:09] inexorabletash commented on #10792
I'll try and take a look.

(Best guess from code inspection is that the browsers are not following the spec to the letter and so the work done in the setTimeout() races with the abort() call actually aborting the transaction, rather than the abort being processed immediately.)

[2018-06-21 17:57] wolenetz commented on #11181
For the upcoming changeType tests (full prototype of Chromium code + new wpt tests: https://chromium-review.googlesource.com/c/chromium/src/+/1093719), I auto-generate tests depending on what subset of test media is supported by the user agent running the test; I also include a test case that fails if a minimum bar isn't met. This approach, IMHO, is better than these mediasoure-config-change-*, be

[2018-06-21 19:14] inexorabletash commented on #10792
Hrm, in FF52 at least the failure is due to the error bubbling up to window.onerror. Fixed by either

[code]
or:
[code]

[2018-06-21 19:15] inexorabletash commented on #10792
I had thought that FF was removing the event bubbling for IDB since the other browsers hadn't implemented it yet (although we plan to in Chrome)

[2018-06-21 19:32] inexorabletash commented on #10793
In FF52 I get 3 pass / 3 fail, harness OK.

I'm not sure what's actionable on the test - should it just be enabled with failures in Moz?

[2018-06-21 20:13] Hexcles commented on #10794
@zcorpan done https://chromium-review.googlesource.com/c/chromium/src/+/1110738

[2018-06-21 21:01] #10792 closed

[2018-06-22 00:49] frivoal commented on #11598
@plinss thanks. Submitted https://github.com/web-platform-tests/wpt/pull/11619 to fix that.

[2018-06-22 02:31] #11598 closed

[2018-06-22 05:16] ricea commented on #9972
It's worth noting that there's already a hard performance requirement on tests, in that they have to complete in some finite amount of time. There's no way to get away from that. However, tests that run too close to the timeout end up being flaky in practice. Flaky tests kill productivity. I've seen many tests that were slow simply by accident, and if it had been caught when those tests were added

[2018-06-22 17:32] davidsgrogan commented on #10972
I ended up submitting https://chromium-review.googlesource.com/c/chromium/src/+/1054770 as-is with its ad hoc solution to this problem. I'm not sure what the long-term solution should be. Ideally we would run all the tests in multiple configurations -- default scrollbars, overlay scrollbars, mock scrollbars -- because tests should pass in each, but that's obviously too expensive. So perhaps we wan

[2018-06-23 20:50] zcorpan commented on #11347
If you want uncaught errors or promise rejections to fail the test, you can use single page tests (but then you're limited to one test per file).

e.g. test.any.js
[code]

[2018-06-25 10:38] rakuco commented on #10906
I believe this one's been fixed by #11625 and we're no longer blocked on `add_cleanup` + promises.

This one is being tracked in https://bugs.chromium.org/p/chromium/issues/detail?id=853132, but the tests relying on `Sensor.reading` should fail consistently instead of being flaky.

Can we close this bug?

[2018-06-25 16:03] dholbert commented on #11048
Just saw this ping, sorry. (I filtered w3c-related github email into a infrequently-checked folder a month or so ago when I was added to a list that subscribed me to a mountain of w3c-related github mail)

Summing up the four Mozilla test-disablings here:
* **flexbox-basic-textarea-horiz-001.xhtml, flexbox-basic-textarea-vert-001.xhtml**: these are *only* disabled for test runs that have WebRender

[2018-06-25 16:44] #10262 closed

[2018-06-25 18:15] domenic commented on #11571
I don't have the time to devote to this at the moment, but will be happy to review any such changes someone else is able to make.

[2018-06-25 18:16] domenic commented on #11185
I don't have time to update the TestExpectations myself, but I'd suggest filing a bug on crbug.com to get it into the worker teams' triage queue.

[2018-06-25 20:17] rniwa commented on #11521
You can add me as a suggested reviewer for selection tests for sure.

[2018-06-25 21:21] nhiroki commented on #11222
@zcorpan Thank you for letting me know. I updated the test expectations for Chromium ([commit](https://github.com/chromium/chromium/commit/3c916a5e84db524eadcec06d32b6e2a884f6c4c7))

[2018-06-26 02:12] Honry commented on #10906
Cheers, let's close it.

[2018-06-26 02:12] #10906 closed

[2018-06-26 02:19] bzbarsky commented on #11521
I can do document-metadata, I guess.  Availability may be somewhat limited, though...

[2018-06-26 23:51] jugglinmike opened #11679 "Firefox 61 fails due to unexpected network requests"
Firefox 61, released as "stable" today, makes unexpected network requests on startup and fails WPT tests. Here is an example of such a failure:

    pid:16300 FATAL ERROR: Non-local network connections are disabled and a connection attempt to location.services.mozilla.com (52.17.111.251) was made.

Requests like these are expected to be prevented through the use of a custom "preferences" file [whi

[2018-06-26 23:58] jugglinmike commented on #11679
I've filed a corresponding BugZilla bug in case it's helpful to track it in that system:

https://bugzilla.mozilla.org/show_bug.cgi?id=1471419

[2018-06-27 18:03] #11679 closed

[2018-06-27 20:00] gsnedders commented on #5498
https://diff-dot-wptdashboard-staging.appspot.com/results/?labels=gsnedders&before=eyJpZCI6NTE0MTE4NzY5MDIzMzg1NiwiYnJvd3Nlcl9uYW1lIjoic2FmYXJpIiwiYnJvd3Nlcl92ZXJzaW9uIjoiVGVjaG5vbG9neSBQcmV2aWV3IFJlbGVhc2UgNTkiLCJvc19uYW1lIjoibWFjIiwib3NfdmVyc2lvbiI6IjEwLjEzIiwicmV2aXNpb24iOiJjZWE2MjAzZWQxIiwiZnVsbF9yZXZpc2lvbl9oYXNoIjoiY2VhNjIwM2VkMTQ0ZmQwZGQ0YWJkZmQyODQzNWRkZmM1NDA0YzhlMCIsInJlc3VsdHNfdXJsIjoia

[2018-06-27 20:07] jugglinmike opened #11695 "WebRTC test is flaky in Chromium"
Running the following command shows that the WebRTC test named `RTCPeerConnection-setLocalDescription.html` is flaky in Chromium (version 66.0.3359.181):

    ./wpt run --verify chrome webrtc/RTCPeerConnection-setLocalDescription.html

Here's the relevant output:

@henbos I don't know if this indicates a bug in Chromium or an issue with the test. Since we recently discussed a very similar test in

[2018-06-27 20:17] fippo commented on #11695
is that still an issue in canary? this looks like https://bugs.chromium.org/p/chromium/issues/detail?id=848768

[2018-06-28 18:17] gsnedders commented on #11046
From @birtles in the Mozilla bug:

On the whole, I agree that the problem with the automated test is basically the entire test harness.

I don't know if there are Gecko or Blink tests that could be upstreamed to replace them?

[2018-06-28 18:30] gsnedders commented on #11562
I'm somewhat skeptical of the gains here: bits of the parser that deal with error handling need to not only have the error handling hit in some test but also to be able to distinguish what error handling is applied.

[2018-06-28 19:11] RByers opened #11717 "Mechanism to enable mobile-specific features?"
A few web platform features (like the meta viewport tag behavior) are sadly limited to mobile devices only today. It's probably not going to be worth the costs to do full WPT runs on mobile devices at scale. In Chrome we often rely on enabling mobile-specific features on desktop for testing. Perhaps there should be some mechanism for a test to indicate it depends on mobile-specific behavior?  Poss

[2018-06-28 19:17] RByers opened #11718 "Add mechanism to simulate display cut-out"
[Display cut-out](https://groups.google.com/a/chromium.org/forum/#!searchin/blink-dev/cut-out%7Csort:date/blink-dev/Fim-KmT08PE/lUOHMZvaBgAJ) behavior (like the iPhone X knotch) can't currently be tested in WPT today. Ideally we'd add a WebDriver command to simulate it. Related to #11717.

Since this is a pretty niche and straight-forward feature, this doesn't seem like anywhere near the biggest b

[2018-06-28 22:05] Hexcles opened #11722 "`wpt lint` complains about missing `META.yml` even though the file exists"
In #11720 , `wpt lint` complained: https://travis-ci.org/web-platform-tests/wpt/jobs/397980951

[code]

But `interfaces/META.yml` does exist. @gsnedders can you take a look?

[2018-06-28 22:08] gsnedders commented on #11722
INTERESTING.

[2018-06-29 00:33] birtles commented on #11046
I did fix a bunch of tests here last year some time, and was working on fixing the rest in this branch:

  https://github.com/birtles/web-platform-tests/commits/update-more-transition-event-tests

I've yet to finish, however.

[2018-06-29 01:06] jugglinmike commented on #11695
I can't say because I'm unable to run Canary locally

[2018-06-29 06:31] bzbarsky opened #11726 "assert_throws is too loose, misses browser bugs"
I discovered today that some browsers throw a `DOMException` with `name == "TypeError"` in some cases when specs say to throw a `TypeError`.

Unfortunately, wpt's `assert_throws(new TypeError(), stuff)` doesn't catch this, because it just compares `.name` values.

I was going to suggest comparing `.constructor.name` values as well, but then I discovered https://github.com/web-platform-tests/wpt/pu

[2018-06-29 06:36] saschanaz commented on #11726
`assert_throws` currently looks too long, how about `assert_throws_domexception` for DOMException cases?

[2018-06-29 12:15] gsnedders commented on #11046
@birtles if some have been fixed, should some get re-enabled in Gecko?

[2018-06-29 14:14] gsnedders commented on #11046
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1472172 on the Gecko side for all the tests using the old harness:

before-DOMContentLoaded-001.html
before-load-001.html
changing-while-transition.html
detached-container-001.html
hidden-container-001.html
properties-value-001.html
properties-value-002.html
properties-value-003.html
properties-value-auto-001.html
properties-value-implicit-001.ht

[2018-06-29 15:19] domenic commented on #11726
It may be a good idea to test if .constructor is ===, to catch wrong-realm issues. That may be harder to mass-convert though

Here is my ideal world:

- `assert_throws(TypeError, stuff)`: checks `ex.constructor === TypeError`
- `assert_throws_domexception("StringName", stuff)`: checks `ex.constructor.name === "DOMException"`, and `ex.name === "StringName"`
  - Get rid of the integer variant; it ju

[2018-06-29 15:38] bzbarsky commented on #11726
I did consider that.  If we're willing to make people deal with this in writing tests, seems like a good idea to me.

Should check ex.code too.

One plausible path to making this happen is to rename `assert_throws` to `assert_throws_legacy` in a single behavior-preserving mass-rename.  Then introduce the new APIs.  Then we can parallelize the work of eliminating `assert_throws_legacy`, starting wi

[2018-06-29 15:59] gsnedders commented on #11726
If someone wants to write a PR that does that, that LGTM. We should just leave the mass-rename to `assert_throws_legacy` until the very last moment before landing it.

[2018-06-29 16:20] gsnedders commented on #11722
Closed by reverting. Relanding will be tracked in the original bug (#10552).

[2018-06-29 16:20] #11722 closed

[2018-06-29 19:53] bzbarsky commented on #11726
How do people feel about `assert_domexception` instead of `assert_throws_domexception`, to reduce typing and line length?

Or even `assert_domexc` to preserve the current length, but that's a bit cryptic.  ;)

[2018-07-01 23:59] birtles commented on #11046
Thanks Geoffrey!

[2018-07-02 22:04] jugglinmike commented on #10503
In TravisCI today, we script unnecessary jobs to exit early. This avoids unnecessary work, but it also makes task reports a little noisy (since they include meaningless results for those no-op jobs).

A nice-to-have improvement would be to use TaskCluster's "decision tasks" feature to avoid scheduling unnecessary tasks. @jgraham found an example of a GitHub project using a TaskCluster decision tas

[2018-07-03 10:40] jgraham commented on #10503
https://github.com/lissyx/taskcluster-github-decision/blob/master/tc-decision.py is another example to crib from.

[2018-07-03 12:16] agouaillard-cosmo commented on #11695
@soareschen can you take a look?

[2018-07-03 12:32] Ms2ger opened #11764 "Should response.writer.write_content implicitly write status, headers?"
Right now, a handler like
[code]

will write the exact four bytes for "PASS", no status, no headers. The quoted handler came from a unit test that's broken in python3 because its urllib is stricter about responses like that.

[2018-07-03 13:49] lukebjerring opened #11766 "idlharness.js does not support namespaces"
Some IDL, such as [console](https://console.spec.whatwg.org/), is leveraging [namespaces](https://heycam.github.io/webidl/#idl-namespaces), but it is not supported by `idlharness.js`

e.g. output:

[2018-07-03 14:56] jgraham commented on #7543
I'm going to work on this.

The tentative plan is to make this work with a pair of properties on each reference link statement, one that defines the maximum difference per channel, and one that defines the maximum total pixels difference. Ranges will also be supported (this is in the gecko featureset). It will be possible to define these in the test for cases where we think that the reftest is int

[2018-07-03 16:02] lukebjerring commented on #11766
Duplicate of https://github.com/web-platform-tests/wpt/issues/7583

[2018-07-03 16:02] #11766 closed

[2018-07-03 16:03] lukebjerring commented on #7583
Blocking https://github.com/web-platform-tests/wpt/pull/11768

[2018-07-03 16:03] lukebjerring commented on #7583
FYI, I'm taking a stab at this.

[2018-07-04 01:06] Hexcles commented on #11764
From an API design perspective (and my experience of using various HTTP libraries/web frameworks), I'd say it should, and we could have a separate `write_raw_content` API to write raw responses, but I'm not familiar with the use case of this particular API.

[2018-07-05 01:35] birtles commented on #11046
Sorry, wrong branch (the one above has already been merged). This is the one where I'm updating these tests:

  https://github.com/birtles/web-platform-tests/commits/fix-transition-tests

[2018-07-05 02:15] rachelandrew commented on #7470
Working through tidying these up at the moment, also checking that they relate to current spec text etc. as I'll be linking them in using the new bikeshed functionality. Came across: https://github.com/web-platform-tests/wpt/blob/master/css/css-multicol/multicol-width-003.xht which has no description or assert meta etc.

I can see _what_ it's doing, but I'm wondering what the motivation for this t

[2018-07-05 03:50] TalbotG commented on #7470
Rachel, my guess is that this
http://test.csswg.org/suites/css-multicol-1_dev/nightly-unstable/html4/multicol-width-003.htm
test is testing whether column box or multicolumn element acts as containing block for absolute positioned elements. In particular, it seems to me to be putting to the test, I suppose, this [statement from section 2 of the spec](https://www.w3.org/TR/css-multicol-1/#the-multi

[2018-07-05 03:55] rachelandrew commented on #7470
Yes - I made that example image - but it doesn't seem related to column width (which is the only hint this test has as to what it is is, the filename).

[2018-07-05 03:59] rachelandrew commented on #7470
I think I'll update it as a test for the containing block as I agree that seems to be what is being tested. I assume it's not a good idea to rename files?

[2018-07-05 04:01] TalbotG commented on #7470
I think that
http://test.csswg.org/suites/css-multicol-1_dev/nightly-unstable/html4/multicol-width-003.htm
test could be **improved by using right offset instead of left offset**. Then you would be checking in a more reliable and trustworthy manner that a column box can not be acting as a containing block for abs.pos. elements.
Also, in that test, I would remove `orphans: 1` and `widows: 1`

-  -

[2018-07-09 08:57] wanghongjuan commented on #2831
Quote [spec](https://html.spec.whatwg.org/multipage/semantics-other.html#case-sensitivity-of-the-css-'attr()'-function) here:

I find there are 4 tests in web-platform-tests, and I think the test coverage is enough, please take a look:

Test Purpose | Case link
------- | -------
If attribute (x) does not exist then an empty string is returned for the attr(x) value | [content-attr-001.htm](https://

[2018-07-09 13:49] anitawoodruff commented on #11105
@foolip My only workaround atm is to have two copies of the test - `interfaces.https.any.js`& `interfaces.any.js`, with an explanatory comment in both, see https://github.com/web-platform-tests/wpt/pull/11122 . I don't know whether this counts as 'bearable'; I guess it's up to the reviewers..

(btw how do wpt reviews work? If I'm making spec changes will the spec change reviewer(s) review the test

[2018-07-09 16:53] jdm opened #11864 "New CSS-COLLIDING-REF-NAME lint error since #11845"
Servo's sync is broken by https://github.com/web-platform-tests/wpt/pull/11845, which causes this new lint error to appear when we run the lint from this repository:
[code]
Why isn't this triggering in this repository?

[2018-07-09 19:10] marcoscaceres opened #11870 "./wpt install | run not working in MacOS 10.13.5?"
It was working... and now getting the following for install (and similar for ./wpt run)...

[code]

[2018-07-09 19:13] marcoscaceres commented on #11870
Maybe related? https://github.com/web-platform-tests/wpt/issues/9007

[2018-07-10 08:40] #11521 closed

[2018-07-10 10:45] #11864 closed

[2018-07-10 14:01] foolip commented on #10503
This issue could be split into a bunch of smaller ones, basically one for each Travis job we have. The one that I was thinking about when filing this issue was test running itself. A decision task that looks at the affected tests and picks some number of tasks to get the job done, perhaps up to as many as are used for master builds if testharness.js itself is changed.

[2018-07-10 15:29] Hexcles commented on #11870
Doesn't seem to be related to #9007 at the first glance.

What's your Python version? Are you using the stock macOS Python or something from Homebrew? Could you also `rm -r _venv` and try again?

[2018-07-10 15:33] marcoscaceres commented on #11870
Python 2.7.15

Using:
/usr/local/bin/python

Deleted _venv, now get:
[code]

[2018-07-10 15:39] Hexcles commented on #11870
`/usr/local/Cellar`, so Homebrew it is.

Looks like you don't have `virtualenv` (and perhaps `pip` is also missing). They should be installed by Homebrew automatically. Perhaps try `brew update && brew reinstall python@2`.

[2018-07-10 17:04] jugglinmike opened #11895 "[testharness.js] Removing `fetch_tests_from_window`"
Currently, only one test in WPT uses the testharness.js feature, `fetch_tests_from_worker`: [`FileAPI/url/sandboxed-iframe.html`](https://github.com/web-platform-tests/wpt/blob/98848dff9fe765e3719484392fa27458f5a21c54/FileAPI/url/sandboxed-iframe.html). Removing it could be a good way to reduce the API surface area, which practically translates to less code to maintain and document. We'd need to r

[2018-07-11 09:04] #11293 closed

[2018-07-11 09:09] foolip opened #11915 "Check on PRs that suggested reviewers in META.yml are org members"
After https://github.com/web-platform-tests/wpt/issues/11293 and some follow-up, everyone listed as a suggested reviewer in META.yml will also be a member of the web-platform-tests org, which is necessary in order for @wpt-pr-bot to be able to assign reviewers.

To keep this in good shape, we should check on PRs (using Travis) that everyone in a touched META.yml file is a member of the web-platfor

[2018-07-11 09:14] foolip commented on #11293
Now done with a few exceptions. Final bits will be done in https://github.com/web-platform-tests/wpt/issues/11915 to avoid any more spam here. Thanks everyone!

[2018-07-11 13:38] foolip commented on #11510
@lukebjerring FYI, it's possible that some other specs using `[Replaceable]` have failing tests because of this.

[2018-07-11 13:39] foolip commented on #11554
@jdm, can you say more about what this is used for? Are there kinds of tests that can't be written because of this?

[2018-07-11 13:48] foolip commented on #11717
@RByers are you thinking of this on a per-test basis, something like a WebDriver API? Given that Chrome DevTools is able to emulate different phones it clearly would be possible to do something along those lines. However, to have the page be loaded initially as if on mobile, I think we'd need to extract some metadata into the manifest and change how the browser is launched.

Rick, is it meta viewp

[2018-07-11 15:34] foolip commented on #10511
@Hexcles, is this issue finished now, given that https://github.com/web-platform-tests/wpt/pull/10971 is merged?

[2018-07-11 16:03] lukebjerring commented on #11105
I also hit this issue authoring https://github.com/web-platform-tests/wpt/issues/11925, and had to drop the .https. from the test.

[2018-07-11 16:45] jdm commented on #11554
Servo has non-upstreamed tests in a separate document root. There was some reason I was using `./wpt serve` to run the server rather than our usual test harness when I filed this issue, but I can't remember why at this time.

[2018-07-11 17:34] lukebjerring opened #11928 "Support distinguishing service/shared/dedicated workers in .any.js tests"
An example use-case for this feature would be any IDL that spans several combinations of subsets of window/sharedworker/serviceworker/dedicatedworker, e.g. [push-api](https://github.com/web-platform-tests/wpt/blob/master/interfaces/push-api.idl) has `PushManager` (Window, Worker) and `PushEvent` (ServiceWorker).

Currently, distinction is only possible with something like

    location.path.includ

[2018-07-11 20:29] foolip commented on #11718
Is it sufficient to be able to test https://drafts.csswg.org/css-env/#safe-area-insets by defining arbitrary environment variables, or is there more to it?

[2018-07-11 22:26] muhammedyusuf-sermet opened #11934 "[css-contain] Clarifying how contain:style subtree scoping affects ::before and ::after"
As established in the spec (https://github.com/w3c/csswg-drafts/issues/2483), Style Containment suggests that content property is scoped to the subtree.

https://github.com/web-platform-tests/wpt/blob/828cbf6461e1b36ff5ff02310cb7d6749125b57c/css/css-contain/quote-scoping-001.html#L13-L28

Above test applies style containment to div element, and expects the quotes in the span element to be containe

[2018-07-11 22:39] Hexcles commented on #10511
Yeah I think we've covered the basics. If there's anything else we'd like to add we can open new issues.

[2018-07-11 22:39] #10511 closed

[2018-07-12 02:43] #993 closed

[2018-07-12 07:34] kaixinjxq commented on #3519
@Ms2ger, there is no `load` attribute in `Document` element ([spec](https://html.spec.whatwg.org/#the-document-object)), can we close the issue now?

[2018-07-12 07:37] Ms2ger commented on #3519
Exactly, that's why we test for its absence. According to this code, Gecko should fail that test: https://searchfox.org/mozilla-central/rev/a80651653faa78fa4dfbd238d099c2aad1cec304/dom/webidl/XMLDocument.webidl

[2018-07-12 08:05] kaixinjxq commented on #3519
`Document.load` is no longer existing in spec, so why not fix the issue in Gecko rather to add test to prove it is wrong?

[2018-07-12 08:14] Ms2ger commented on #3519
![Why not both?](https://user-images.githubusercontent.com/111161/42620819-54e11844-85bc-11e8-968c-2a722fa8ce82.jpg)

[2018-07-12 08:45] kaixinjxq commented on #3519
As we don't need test for those deprecated features, right?
![image](https://user-images.githubusercontent.com/3191205/42622361-cf81577c-85f2-11e8-90c5-e2ddbd0f88bf.png)

[2018-07-12 08:48] Ms2ger commented on #3519
I have no time to discuss this further, but yes, we do have a lot of tests that historical features are no longer supported, usually in files called `historical.html`.

[2018-07-12 09:21] kaixinjxq commented on #3519
Ooh, I didn't realize there is a `historical.html` file, many thanks for your clarification, I will add the tests.

[2018-07-12 21:43] youennf commented on #9354
Doing a grep on ogv, I got:
service-workers/service-worker/resources/fetch-access-control.py
picture-in-picture/shadow-dom.html
picture-in-picture/resources/picture-in-picture-helpers.js
mixed-content/generic/expect.py
Several files in content-security-policy/media-src
feature-policy/experimental-features/unsized-image.tentative.https.sub.html
feature-policy/resources/picture-in-picture.js

[2018-07-12 21:59] foolip commented on #7928
This came up in triage again today. I tried to repro myself, with `./wpt run --no-manifest-update firefox css/css-color/color-00*.html`, which does pass normally. (It hangs after the tests have run, but that's a different matter.) Running `./wpt serve` at the same time, which uses port 8000, I see this in the output:

[code]

And then "Testing http://web-platform.test:8000/css/css-color/color-001.

[2018-07-12 22:00] foolip commented on #10398
@kereliuk, should this be priority:roadmap, and has the state of things changed in the intervening months? Seems like this is the same window switching that's the reason that fullscreen can't be automated still?

[2018-07-12 22:02] foolip commented on #10097
This came up in triage today because of priority:roadmap. @gsnedders, has it ever happened that we wanted to rename something that a test depended on that still doesn't make sense to reference? That'll break the test, isn't that OK if it didn't make sense?

[2018-07-12 22:04] foolip commented on #10021
@gsnedders, this came up in priority:roadmap triage. I guess the next step would be to see if the same change would be caught if done today, by making a lint fail and see if the PR passes Travis? Or is it only some kinds of failing lints that are problematic?

[2018-07-12 22:04] foolip commented on #8152
@kereliuk, this came up in priority:roadmap triage again today. Is this what you mentioned this week you've begun to work on?

[2018-07-12 22:06] foolip commented on #11870
If the problem is missing `virtualenv`, then https://github.com/web-platform-tests/wpt/issues/6565 is related, filed by none other than @marcoscaceres. Sounds like in addition to documenting it, we should make it fail in some much more obvious way. @Hexcles, do you have a good grasp on what needs to be done here, can I assign you?

[2018-07-12 22:09] foolip commented on #9007
@gsnedders, what do you think we should do here? You mentioned `no_proxy='*'`, and I see it's mentioned in https://bugs.python.org/issue30837#msg297630. I guess that disabling proxy servers kind of makes sense anyway when trying to run wpt, so that seems fine.

I think the next step is just trying to see if it works?

[2018-07-12 22:11] foolip commented on #9546
This reminds me of https://github.com/web-platform-tests/wpt/issues/7928, where port 8000 being used also resulting in misery. @gsnedders, do these two bottom out in the same code so that it's a dupe, you think?

[2018-07-13 00:04] Hexcles commented on #11870
First, @marcoscaceres can you confirm reinstalling `python@2` or explicitly installing `virtualenv` (using `pip`) solves the problem?

If so, let's close this issue and continue the discussion in #6565 .

[2018-07-13 00:04] Hexcles commented on #6565
@nomadtechie any progress here?

[2018-07-13 05:42] makotoshimazu opened #11962 "Handle any.js or variants in a window global scope which is controlled by a service worker"
We run *.any.js on window, dedicatedworker, serviceworker, sharedworker scopes, but we don't have a way to specify those global scopes hosted by a service worker.
It changes the behavior of network requests, so it will exercise more codes.

For example, [wpt/fetch/api](https://github.com/web-platform-tests/wpt/tree/master/fetch/api) are written by *.any.js but all network requests in those tests w

[2018-07-13 19:23] marcoscaceres commented on #11870
Not much joy....

[code]

[2018-07-13 19:36] marcoscaceres commented on #11870
So, Firefox is running now... but trying to run Chrome crashes python... but at least it's kinda working. So, closing for now. At least we have a potential fix (uninstall/reinstall virtualenv)

[2018-07-13 19:36] #11870 closed

[2018-07-13 19:42] Hexcles commented on #11870
@marcoscaceres regarding the crash, you're probably running into #9007 which has a reportedly working solution.

[2018-07-13 20:46] marcoscaceres commented on #11870
Heh, indeed!! It's that one!

[2018-07-16 11:51] #11347 closed

[2018-07-16 13:10] kereliuk commented on #8152
#11931 is a PR for the non-protocol specific portions (will unblock testdriver-vendor workflows).

[2018-07-16 13:11] kereliuk commented on #10398
Will put on the list for this week, I think the priority should stay the same for now.

[2018-07-16 13:31] foolip commented on #7475
@lukebjerring, this came up in priority:roadmap triage, and detecting regressions is an important current focus for us. Can you outline the issues standing in the way of resolving this at this point?

[2018-07-16 13:55] youennf commented on #9354
https://github.com/web-platform-tests/wpt/blob/master/webrtc/RTCPeerConnection-addIceCandidate.html is VP8 only as well

[2018-07-16 16:53] jgraham commented on #11388
So I was talking to @Cactusmachete and I think a summary of the design would help us both. @gsnedders do you think the following makes sense / represents the ideas we discussed:

* In the manifest store git blob hashes rather than direct file hashes.
* For git, when files are updated, use `git ls-tree` to get the current blob hashes of each file, and use that to select the files to update.
* For h

[2018-07-16 19:45] jugglinmike commented on #10842
I reviewed TaskCluster's behavior for all the builds between July 6 and July 12:

- July 12 - 18 commites executed
  - https://tools.taskcluster.net/groups/ISbN6zidQLOm_TlZ9WdY9w
    - wpt-firefox-nightly-testharness-11: `wpt run` interrupted
    - wpt-firefox-nightly-testharness-4: `wpt run` interrupted
  - https://tools.taskcluster.net/groups/MPwEVXu-RVihB6jL3ajAUA
    - wpt-firefox-nightly-test

[2018-07-16 19:50] jugglinmike commented on #10842
Here's some discussion about the issue on the TaskCluster bug tracker: https://bugzilla.mozilla.org/show_bug.cgi?id=1457694

[2018-07-16 21:44] lukebjerring commented on #10330
Even if Mike's tweak lands (👍 by the way, Mike), we should have some docs @ https://web-platform-tests.org/writing-tests/testdriver.html which explain that there are differences between `run` and `serve` for this case.

[2018-07-17 12:34] #4183 closed

[2018-07-17 13:24] henbos opened #12028 "Unsafe addIceCandidate() usage"
Several tests, including the following...
[code]
... exchange ice candidates without first ensuring that setRemoteDescription() has been performed in all cases. According to [spec](https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-addicecandidate), addIceCandidate() should:

So there is a race between the two PCs performing setRemoteDescription() on one end, createAnswer(), setLocalDescriptio

[2018-07-17 13:31] henbos commented on #12028
@soareschen Can you take a look?

Making this safe requires some setup, so if SRD() has not been performed yet add the candidates to a list to be added when SRD() resolves. Or if SRD() already has resolved do addIceCandidate() directly.

[2018-07-17 13:35] henbos commented on #12028
Also addIceCandidate() is a promise-based operation. We might want to consider awaiting all promises before terminating the test for good practice, though I don't think it matters much in this case.

In any case async/await is good practice nowadays when updating tests ([example](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/external/wpt/webrtc/RTCPeerConnection-setRemoteDesc

[2018-07-17 13:41] henbos commented on #12028
FYI this change has not landed and I intend not to change its behavior but it may have highlighted an existing problem with the wpt test setup previously not hit.

[2018-07-17 13:45] lukebjerring commented on #7475
Trivializing the work efforts, it's essentially:

- Upload results summaries from Travis to wpt.fyi, with labels etc
- Comment on the PR linking to a view of said upload
- Compute a diff and alert when there's any non-OK harness state, or any increase in failure count.

[2018-07-17 15:30] foolip commented on #11188
Test enabled in https://chromium-review.googlesource.com/1140053.

[2018-07-18 08:35] gsnedders commented on #11915
Hmm, I'm still weary of introducing any lint (regardless of whether or not we're doing this as part of the lint tool) that does this, because it seems liable to be noisy especially when it's ultimately gated on admins. I'd rather this wasn't part of CI, though doing this some other way would be nice.

[2018-07-18 09:00] foolip commented on #7598
This issue came up in triage today, and I think it still is fairly high priority, so included it explicitly in ecosystem infra's Q3 [known important infra issues](https://docs.google.com/document/d/1uh7A24pT6P70Lb9CeFCKga3RrrdzLK7tSAR7o8C7No0/edit#heading=h.3sszqdrf0hk7).

[2018-07-18 09:04] foolip commented on #7424
With https://github.com/web-platform-tests/wpt/pull/10746 this is arguably resolved, but testing of getUserMedia() itself is still a problem. I'll file another issue.

[2018-07-18 09:04] #7424 closed

[2018-07-18 09:11] foolip commented on #10716
@kereliuk, is this still needed for some API? Is it blocking https://github.com/web-platform-tests/wpt/pull/10749 and https://github.com/web-platform-tests/wpt/pull/10747?

[2018-07-18 09:46] liuguanyu commented on #9007
I got this error when I try to run with chrome using this command the second time . I try to rerun it by remove chromedriver. Mac OS version is 10.13.4 and Python version is 2.7.10

[2018-07-18 09:47] gsnedders opened #12047 "Test for non-support of the unitless quirk in other properties"
See quirks/unitless-length and https://github.com/w3c/csswg-drafts/issues/2928

[2018-07-18 10:01] foolip commented on #11962
Hmm, interesting. Could the same service worker be used for all such tests, just to see that it is "transparent"?

@annevk, do you think this would be technically straightforward to implement?

[2018-07-18 10:11] foolip commented on #11928
Example of the four different global scopes currently supported:
http://w3c-test.org/IndexedDB/idlharness.any.html (window)
http://w3c-test.org/IndexedDB/idlharness.any.sharedworker.html
http://w3c-test.org/IndexedDB/idlharness.any.worker.html
https://w3c-test.org/IndexedDB/idlharness.https.any.serviceworker.html

The worker ones are backed by http://w3c-test.org/IndexedDB/idlharness.any.worker.js

[2018-07-18 10:12] foolip commented on #11928
@lukebjerring, would this be used to make the correct assertions about what interface objects etc. are exposed in each global scope? Does idlharness.js currently just get it wrong?

[2018-07-18 12:04] lukebjerring commented on #11928
idlharness already uses self instanceof checks, so it's not farfetched that we continue that pattern. However, it seems inconsistent to have an isWorker function prepended in one case and a computation function elsewhere. Why do we have the isWorker function at all? We could compute that too.

[2018-07-18 13:03] #7583 closed

[2018-07-18 16:09] foolip commented on #9354
At least some of those look like they could be fixed using /common/media.js.

service-workers/service-worker/resources/fetch-access-control.py is funny in that it sends an Ogg file as video/webm.

[2018-07-18 17:36] staktrace commented on #7543
In the Gecko reftest syntax, the "maximum difference per channel" is the maximum difference allowed in the channel value for any given pixel. It's not the sum. And the "maximum total pixels difference" refers to the number of pixels, yes.

For a 100x100 box with a gradient where all the pixels are slightly off, you'd use something like (2, 10000). So each RGB component of each of the 10000 pixels

[2018-07-19 10:36] foolip commented on #11962
Right, so the point of this is to discover bugs in the service worker implementation, cases where the behavior has changed even though the service worker isn't set up to do anything?

Are any tests like this written manually right now?

[2018-07-19 12:03] foolip commented on #11928
It was added in https://github.com/w3c/wpt-tools/pull/88, maybe @Ms2ger or @jgraham know why?

[2018-07-19 20:16] marcoscaceres opened #12082 "Refactor PaymentRequest button tests to use `test_driver.bless()`"
We could refactor a bunch of payment-request tests:

- [x] payment-request/payment-request-abort-method.https.html
- [x] payment-request/payment-request-show-method.https.html

[2018-07-20 01:11] jugglinmike opened #12083 "Firefox failing due to disallowed network requests"
At around 21:45 UTC today (according to results reported by TaskCluster), tasks involving Firefox Nightly began to fail consistently. Each reported errors describing disallowed network requests during startup, e.g.:

I've also observed this problem in tasks triggered from a fork of WPT.

Previously, this type of failure has been explained by changes to the custom "preferences" file installed durin

[2018-07-20 08:19] foolip commented on #12083
I see it in https://tools.taskcluster.net/groups/RXr-LSSdTjanQwtClz9A9g/tasks/ETfGHaS4TYGYUASvaBrn8g/runs/0/logs/public%2Flogs%2Flive.log

There's "Installing browser" in the logs, but seemingly no way to tell what version was installed, so if this was caused by an update of Firefox Nightly, it seems we can't get a bisect range.

Will give this priority:roadmap on the assumption that it'll be bloc

[2018-07-20 12:42] foolip commented on #7543
That makes sense, thanks @staktrace!

Is there tooling that suggests what the minimum values would be to pass based on a failure, or how do people pick the numbers? Also, I presume that they are CSS pixels, so that on hidpi screens you multiply these numbers by 4 or whatever the ratio is for the screen?

[2018-07-20 12:47] jgraham commented on #7543
In general reftests don't work on HiDPI screens, so I wouldn't worry too much about getting this right for HiDPI.

The gecko reftest harness spits out the relevant values for failing tests, so presumably one picks something based on that.

[2018-07-20 12:56] foolip commented on #11915
@gsnedders, once we are in a good state, and if the lint works, then the only source of lint breakage would be people leaving the org, which of course they can do at any time. So, yeah, a lint isn't perfect. But how about if we only check it when META.yml is modified, and never on master?

[2018-07-20 13:10] foolip commented on #7475
In our current planning, at least plan A, this step has turned into:
* Get Taskcluster runs on stable reliable (@jugglinmike)
* Get Taskcluster results from master builds into wpt.fyi (@Hexcles)
* Run stability tests for affected tests on Taskcluster instead of Travis (@jugglinmike)
* Get Taskcluster results from PRs into wpt.fyi (@Hexcles)

If that doesn't work out, then perhaps we'll return to e

[2018-07-20 13:42] foolip commented on #10330
@kereliuk, can you look into adding such documentation?

[2018-07-20 13:51] foolip commented on #11554
@jdm, should we close this issue, then? :)

[2018-07-20 13:54] foolip commented on #11105
This isn't entirely uniform and depends on the spec and people involved. For specs listed in https://github.com/foolip/testing-in-standards/blob/master/policy.md and hopefully more, editors won't merge the spec change until there are corresponding tests, and will probably review your tests as well.

I'll ping https://github.com/web-platform-tests/wpt/pull/11151, duplicating tests doesn't sound fun

[2018-07-20 13:55] gsnedders commented on #7543
[This](https://diff-dot-wptdashboard-staging.appspot.com/results/?labels=gsnedders&before=eyJpZCI6NTE0MTE4NzY5MDIzMzg1NiwiYnJvd3Nlcl9uYW1lIjoic2FmYXJpIiwiYnJvd3Nlcl92ZXJzaW9uIjoiVGVjaG5vbG9neSBQcmV2aWV3IFJlbGVhc2UgNTkiLCJvc19uYW1lIjoibWFjIiwib3NfdmVyc2lvbiI6IjEwLjEzIiwicmV2aXNpb24iOiJjZWE2MjAzZWQxIiwiZnVsbF9yZXZpc2lvbl9oYXNoIjoiY2VhNjIwM2VkMTQ0ZmQwZGQ0YWJkZmQyODQzNWRkZmM1NDA0YzhlMCIsInJlc3VsdHNfdX

[2018-07-20 13:59] jgraham commented on #11554
I think this issue is reasonable to keep open.

[2018-07-20 14:00] jdm commented on #11554
What I needed was the ability to run non-upstreamed tests in other browsers to verify compatibility. It would be nice if the wpt server supported this

[2018-07-20 14:52] jugglinmike commented on #10330
Since gh-11173 introduces the new behavior for `wpt serve` contexts, and since that hasn't been merged yet, it's probably best for me to add the documentation that @lukebjerring has requested to that patch. I'll do that later today.

[2018-07-20 15:01] jugglinmike commented on #12083
Another source of variation is the preferences file. From those logs:

This problem could be a result of changes to those files rather than (or in addition to) a new release of Nightly

[2018-07-20 15:07] foolip commented on #11554
Ah, to graft some directory into what `wpt serve` runs, to fix stuff before really moving them into wpt? FWIW, we've had a somewhat related request in Chromium, which is to enable wptserve in directories outside of our wpt import directory. @Hexcles FYI.

[2018-07-20 15:33] jugglinmike commented on #10330
Actually, it looks like that patch already updates the documentation:

[code]

I'll follow up about potential improvements on the pull request.

[2018-07-20 15:36] ahal commented on #12083
It's not necessarily even a change to testing/profiles. Someone just has to add a new Firefox feature that pings the external network and then forget to disable said feature in CI. Though if anyone did this, they would cause wpt to fail in Mozilla's CI as well and get backed out. So I'm not sure why this is failing here :/

[2018-07-20 15:41] jgraham commented on #12083
This seems to be passing now, so I wonder if there's just a window where the downloaded prefs don't match the build.

[2018-07-20 16:00] jugglinmike commented on #12083
Yup: 105 Firefox TaskCluster tasks have completed since last night (EDT), and not one of them has reported a disallowed network access attempt.

If that's correct, then we may see this on any given release of Nightly. How about we keep this issue open for a bit, in case it is a recurrent problem?

Thanks for the quick response, @foolip, @ahal, and @jgraham!

[2018-07-20 16:03] ewilligers commented on #12047
This is being resolved by
https://github.com/web-platform-tests/wpt/pull/12088

[2018-07-20 16:03] #12047 closed

[2018-07-20 16:13] muhammedyusuf-sermet commented on #11934
Thank you for your response!

I agree that the change you suggested should solve this issue for all cases. Additionally, I think, we might need to update the expected result for below case;

quote-scoping-002: Expected value should be AZZ, I believe. Because the span element will read the past and continue from there, meaning it should complement A with Z.

[2018-07-20 22:42] jugglinmike opened #12116 "Selectively testing commits to `master`"
Today, we are running all of WPT in experimental releases of Chrome and Firefox for every commit to `master` via [the TaskCluster service](https://taskcluster.net). (We hope to gather up the results from these tasks for publication on https://wpt.fyi).

Moving forward, we would like to *also* run all of WPT in stable releases of those two browsers. This does not need to occur for every commit to `

[2018-07-20 22:45] jugglinmike commented on #12116
From [the TaskCluster documentation](https://docs.taskcluster.net/docs/reference/integrations/taskcluster-github/docs/taskcluster-yml-v1#tags)

In order to trigger TaskCluster, we will need to perform some git operation in the GitHub-hosted repository. Tagging the desired commit seems like the most appropriate operation. Which part of the system ought to be responsible for that?

- The revision an

[2018-07-21 01:36] jugglinmike commented on #12116
It ought to, in theory. [The GitHub docs on the "push" event state that it is fired for tags](https://developer.github.com/webhooks/#events), and [TaskCluster's GitHub integration has code for that case](https://github.com/taskcluster/taskcluster-github/blob/017b9e0a98d72a5527a35ca4cd3dc3d9caf16583/src/api.js#L67).

[I've filed an issue to see if this use case is supported](https://github.com/task

[2018-07-21 21:08] foolip opened #12123 "Check for incorrect mixing of interface and namespace"
While investigating a surprising lack of regression in https://github.com/web-platform-tests/wpt/pull/11819, it turns out that mixing `interface CSS` + `partial namespace CSS` and `namespace CSS` + `partial interface CSS` work fine, and don't result in the extra failed tests.

Note that trying to define a partial namespace of some random name results in "Original namespace should be defined" so th

[2018-07-21 21:09] foolip commented on #12123
Somewhat related: using `[Exposed]` on a namespace declaration is mandatory, but it's optional on a partial namespace. This means that we need the original namespace in order to figure out the expose set. Given the above oddity, this is possibly broken also.

[2018-07-23 13:31] foolip commented on #11928
I wouldn't be surprised if someone forgot to expose the WorkerGlobalScope interface object somewhere at some point, so that makes sense.

What we could do instead is to add tests under /infrastructure/, with one global per test, that asserts that the `self instanceof Something` checks work, and then just use that pattern and remove `self.GLOBAL`. Option is to add non-generated helpers on `self.GLO

[2018-07-23 13:43] lukebjerring commented on #8053
Update: It looks like the `add_dependency_idls` function isn't detecting `mixin` items correctly.
When `Foo` implements `Bar` and we're defining or extending `Bar`, `Foo` should be added as untested.

e.g.
    partial interface mixin WindowOrWorkerGlobalScope {
        [Replaceable] readonly attribute Performance performance;
    };

Should be adding `Window` and `WorkerGlobalScope` which include

[2018-07-23 14:06] Ms2ger commented on #11928
One other thing to note is that you always need to check `"FooScope" in self && self instanceof self.FooScope`; it'd be somewhat nice to have a shorthand. Maybe that would be better put in th.js directly, though.

Anyway, I'm fine whichever way, as long as the tests keep working :)

[2018-07-23 14:18] foolip commented on #8581
@gsnedders, is https://github.com/web-platform-tests/wpt/pull/10953 a full fix for what remains here (https://github.com/web-platform-tests/wpt/issues/8581#issuecomment-390888241), since there's both foo.bar and a.foo.bar in there?

[2018-07-23 14:52] lukebjerring commented on #12123
The tests for a partial namespace do cover `Exposed`, but only in so much that, if specified, it must be a subset of the original interface's `Exposed`.

There's a TODO in idlharness for the mandatory trait:
https://github.com/web-platform-tests/wpt/blob/master/resources/idlharness.js#L3133

     * TODO(lukebjerring): Assert:
     * - "Note that unlike interfaces or dictionaries, namespaces do not

[2018-07-23 15:37] annevk commented on #11962
How does this make sense for the serviceworker "scope" of an any.js test? Adding more "scopes" is somewhat straightforward, but it would be good to make the proposal a bit more concrete.

[2018-07-24 09:51] jgraham commented on #12116
Yeah, I think a tag or a branch would both work. If the revision announcer can just create an approproate ref of some sort, that seems like a perfect system; it will integrate with the current taskcluster scheduling with few changes.

If we wanted to do this earlier than that is ready, we could create an explicit decision task (this will eventually be requried for PRs anyway) and just have it chec

[2018-07-24 10:30] foolip commented on #11962
@makotoshimazu can you point to some tests that do this kind of thing manually, presumably duplicating some code, to illustrate the problem?

[2018-07-24 10:41] jgraham commented on #11764
Yes, this is just a bug, I think. Maybe @dhdavvie will get a chance to have a look?

[2018-07-24 10:58] jgraham commented on #2206
This was fixed in #6207

[2018-07-24 10:58] #2206 closed

[2018-07-24 11:02] jgraham commented on #5998
AFAICT this issue was a prbuildbot issue and that's no longer running, so closing by default.

[2018-07-24 11:02] #5998 closed

[2018-07-24 12:17] dhdavvie commented on #11764
Sure I can take a crack at it. @Ms2ger so are you saying the expected functionality should be that if you call `write_content` before having sent headers/status, it should send some default headers and status?

I'm slightly worried about changing the nature of `write_content` as other tests/handlers may already be using it in the way that @Hexcles described, but will do some digging.

[2018-07-24 12:48] dhdavvie commented on #11764
So it seems like you can just add a check for `content_written`, like so:

    def write_content(self, data):
        """Write the body of the response."""
        if not self.content_written:
            self.write_status(200)
            self.write_default_headers()
            self.end_headers()

        #continue

I'll setup this fix in a branch and write some tests for it

[2018-07-24 17:46] Hexcles opened #12166 "Suppress Marionette debug/trace messages for wdspec tests"
Recently Firefox jobs on Travis started to print a *lot* of Marionette debug messages (for every single DOM event and script loading, etc.), presumably due to some recent changes in Marionette itself. I've seen many cases where the log exceeds 32MB and gets truncated as a result. We should probably suppress these messages. cc @jgraham

[2018-07-24 19:21] Hexcles commented on #12166
The problem seems to be worse than I thought. It can easily block PRs from landing in the following failure mode:

Affected tests use a lot of DOM events and/or script loading. Although the tests don't take too long to run, they produce a huge amount of log because of this issue. Once the log reaches 32MB, the output is disabled; and if the job cannot finish within the next 10 minutes, the job wil

[2018-07-25 14:09] makotoshimazu commented on #11962
Thanks for digging into this!

Scope seems depending on the performance of the test. Tests should work regardless of its scopes if we only registers "transparent" service workers which I mentioned in the bottom. More registrations would improve concurrency of test execution.

As an exmample of manual registration, [fetch-event.https.html](https://cs.chromium.org/chromium/src/third_party/WebKit/Lay

[2018-07-25 15:42] jugglinmike opened #12184 "[infra] Testing Sauce Labs "browser""
wptrunner maintains a Browser class for integration with Sauce Labs. However, [since disabling Sauce Labs support in the project's CI system](https://github.com/web-platform-tests/wpt/pull/9954), we lost visibility into its correctness. This allows us to silently regress (e.g. gh-12170) which can cause issues in the projects that depend on the functionality (e.g https://github.com/web-platform-tes

[2018-07-25 16:50] jgraham commented on #7543
I just opened https://github.com/web-platform-tests/wpt/pull/12187 which implements gecko-like reftest fuzziness in a wpt-friendly way. It isn't ready to land, but is ready for feedback.

[2018-07-25 21:31] jugglinmike commented on #10842
[The bug fix has been published in Docker version 18.06](https://github.com/moby/moby/issues/35865#issuecomment-407641385), and [the folks at TaskCluster have updated to that release](https://github.com/taskcluster/docker-worker/pull/408). With that change live in TaskCluster, we just need to wait and see if stability improves on [WPT's `master` branch](https://github.com/web-platform-tests/wpt/co

[2018-07-26 16:02] kereliuk opened #12199 "Document META.yml"
The structure of these files is currently undocumented and probably should be.

cc/ @foolip

[2018-07-26 16:29] foolip commented on #12199
@paezagon was asking me about META.yml today, this is where the two existing fields, `spec` and `suggested_reviewers`, will be documented.

[2018-07-26 18:52] mustaqahmed commented on #3867
This is blocking tests for [User Activation v2](https://github.com/whatwg/html/issues/1903) consumption behavior: disabled popup blocker means activation consumption is invisible to the page.

[2018-07-27 14:21] Hexcles commented on #12166
Another example today: #12179

[2018-07-27 20:56] Hexcles commented on #12166
This looks like a regression of Marionette.

Geckodriver doc says the default logging level is info (https://github.com/mozilla/geckodriver#log-object). And I also tried explicitly setting `moz:firefoxOptions.log.level`, but I still see a lot of "Marionette      DEBUG" messages from Firefox processes, which wasn't the case before.

cc @jgraham @whimboo

[2018-07-28 03:10] jdm opened #12219 "Manifest update for Servo is busted"
67010d9392b66ffa97a86e7ba2a9c18baa6bdf48 has regressed updating our WPT results:
[code]
cc @jgraham

[2018-07-28 03:21] jdm commented on #12219
The file in question that's breaking it is `.codecov.yml` from the root directory.

[2018-07-28 03:32] jdm commented on #12219
This seems like a preexisting problem that was aggravated by df7e6cdf297c06a05b5a116f51fb203cda295809 calling load_or_create_expected instead of load_expected, since create_expected calls the new rsplit code that has the index error.

[2018-07-28 03:55] jdm commented on #12219
[code]
This turns out to be problematic; in python 3 the `type(item) == type` should be correct, but in python 2 we could end up with two different results (based on https://stackoverflow.com/a/4479843/3830 and the following answer).

[2018-07-28 04:07] jdm commented on #12219
This is the only change I've found that seems to do what we want:
[code]
Without the changes from Python 3, it seems difficult to check for class objects of the right type.

[2018-07-29 16:31] dd8 commented on #7539
I think was fixed in this commit
https://github.com/validator/tests/commit/5a844ada90f534e950383d5b632c1f1c9ca2f61d

[2018-07-29 21:12] sideshowbarker commented on #7539
Closing per https://github.com/web-platform-tests/wpt/issues/7539#issuecomment-408689282

[2018-07-29 21:12] #7539 closed

[2018-07-30 05:38] kaixinjxq commented on #6652
@GPHemsley, I'd glade to take this one.

[2018-07-30 08:04] whimboo commented on #12166
I assume the invocation of wpt runner somehow sets the `--webdriver-arg` argument to `-v` or even `-vv`? Nothing has been changed for logging recently.

Maybe it's a result of upgrading geckodriver from about a week ago? But even in the last releases which all were part this upgrade we didn't change anything related to this.

[2018-07-30 09:44] foolip commented on #7191
This affects http://web-platform-tests.live/tools/ as well. @bmac @jugglinmike FYI.

[2018-07-30 09:47] foolip opened #12224 "Use the manifest for directory listing in wptserve"
Looking at a directory like http://web-platform-tests.live/fetch/api/basic/, it's frustratingly difficult to get to the actual tests because of the `.any.js` files. Same for `.window.js` and http://web-platform-tests.live/dom/interfaces.html, which per the manifest should actually be two tests, see https://wpt.fyi/results/dom.

The fix for this could be a customized directory listing in wptserve,

[2018-07-30 09:49] jgraham commented on #12224
This is a duplicate of #7191 afaict except that it proposes a particular solution (which has various tradeoffs). I don't think we need two issues for this problem.

[2018-07-30 09:49] #12224 closed

[2018-07-30 15:51] Hexcles commented on #12166
A quick grep doesn't find any place that sets `--webdriver-arg` in stability checks. Maybe @jgraham would know more.

[2018-07-30 18:10] dhdavvie opened #12236 "[HTTP/2.0] Server's API design feedback"
Hi all, for the past few weeks I have been working on developing an HTTP/2.0 server for wptserve(#11806 & #12193). I have started reaching a stage where a lot of the infrastructure is starting to be in place, and am looking to properly design and implement the API that test writers will be using in their tests.

I would love to hear your feedback regarding this, including possible use cases and in

[2018-07-30 18:36] whimboo commented on #12166
Do we store those logs somewhere? I would like to have at least a look at those. If not, maybe you can upload an excerpt?

[2018-07-30 18:50] Hexcles commented on #12166
@whimboo there's a link to an example at the top.

[2018-07-30 23:48] tkent-google commented on #11187
Splitting the test didn't help.  The third test and the fourth test sill exceeded our hard limit for a single test.

[2018-07-31 18:01] jgraham commented on #12166
@andreastt This is the issue with marionette having too-verbose logging.

[2018-07-31 18:07] andreastt commented on #12166
This is not a regression, since it was a conscious decision to enable finer output from Marionette specifically for the wdspec tests. This is useful to developers when diagnosing why wdspec tests fail at Mozilla.

Since Travis does not support artifacts, a reasonable compromise here might be to decrease the log details on there. This is possible by setting the `marionette.log.level` pref (or, in t

[2018-08-01 08:40] whimboo commented on #12166
Also I want to add that we still have `info` logging as default for Marionette. `trace` level logging for wdspec jobs was only added AFAIR to our CI system (https://bugzilla.mozilla.org/show_bug.cgi?id=1443446).

Whereby I can also see it when running the wdspec jobs locally with `mach`. So there must be something else too.

[2018-08-01 08:42] whimboo commented on #12166
Well, please scratch the second half of my last comment. The alias I have actually uses `--webdriver-arg=-vv`.

[2018-08-01 08:44] kaixinjxq commented on #1066
@foolip, seems these two files [redirect-to-url-with-credentials.https.html](https://github.com/web-platform-tests/wpt/blob/master/fetch/security/redirect-to-url-with-credentials.https.html) and [image-loads.html](https://github.com/web-platform-tests/wpt/blob/master/fetch/cross-origin-resource-policy/image-loads.html) have tested it.

[2018-08-01 15:53] dhdavvie opened #12256 "[HTTP/2.0] H2 Server tests can't be run on Travis"
HTTP/2.0 requires the ALPN TLS extension, which in turn requires OpenSSL 1.0.2+. Unfortunately, Travis [does not currently support](https://docs.travis-ci.com/user/languages/python/) OpenSSL 1.0.2+ (under the 'Development releases support' heading), which means that the HTTP/2.0 server functional tests cannot be run on Travis currently. I don't really know what can be done about this, suggestions?

[2018-08-01 16:02] jugglinmike commented on #10842
It's been a week since the folks at TaskCluster deployed the fix, and of the 56 TaskCluster builds which have run, zero have failed. Although this evidence is not as conclusive as, say, a passing unit test, the nature of the problem makes it difficult to be more precise.

@jgraham are you satisfied by these results? Do you think it's fair to call this issue resolved?

[2018-08-01 17:58] jgraham commented on #12236
So the model I had in mind was something like:

[code]

So as a user writing a `.py` test, instead of implementing a function called when the request is complete you would have the option to implement a class with one (option) method per frame type per incoming frame (after h2 normalisation). Access the Request object would give you access to all the frames recieved in this stream so far (although

[2018-08-01 22:51] Hexcles opened #12265 "Compress the JSON output in Taskcluster tasks"
For unknown reasons, Taskcluster disabled the [server-side auto compression](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html#compressed-content-S3-origin) for the task artifacts (hosted on taskcluster-artifacts.net).

For each run we have tens of large JSON files; each of them is about tens of MB. Based on my observations in the results receiver, alth

[2018-08-02 07:57] jgraham commented on #12265
@djmitche Do we know why taskcluster isn't compressing these files? I thought (inaccurately) that certail file types were automatically compressed (maybe I'm thinking of the older blobber infrastructure).

[2018-08-02 07:59] jgraham commented on #12256
So one obvious option is to gate running these tests on moving CI to TaskCluster where we get to choose our own environment.

[2018-08-02 11:49] annevk commented on #12236
To restate some use cases for H/2 support on web-platform-tests from elsewhere:

* See how JavaScript APIs and various other client-side networking endpoints (e.g., `<img>`) behave with H/2. A concrete example here is testing `xhr.statusText` across implementations, which isn't interoperable at the moment.
* Test error handling in the client by sending bogus frames / bytes from the server. Ideally

[2018-08-02 12:29] annevk commented on #12236
@wanderview and @jakearchibald you might have ideas too!

[2018-08-02 14:12] LPardue commented on #12236
Extension frame support is pretty important.

Using things like ALTSVC or ORIGIN leads on to an ability to test connection-oriented H2 features like connection coalescing.

Testing of extension points also provides a way to try greasing.

[2018-08-02 14:14] LPardue commented on #12236
Plus is this restricted the H2 or is HTTP/QUIC worth considering due to its similarities (many of the test cases can be reused even if syntax is a little different).

[2018-08-02 17:47] dhdavvie commented on #12236
@jgraham I really like that idea, I've implemented something like that which I will be pushing to the latest PR shortly.

@annevk I will take a look at the xhr stuff and see what can be done to create tests for that. I definitely agree with the bogus frames, and next on the agenda is working on that ability.

@LPardue That definitely looks very interesting, it might be useful at some point to have

[2018-08-02 18:44] qdot opened #12282 "Make object-in-svg-foreignobject test not rely on flash being present"
The object-in-svg-foreignobject test relies on a browser processing the embed tag far enough to hit a CSP error. Some browsers may drop processing due to lack of support for the MIME type specified. This test should use a different built-in type for testing, since the actual test is for CSP not plugins.

[2018-08-02 22:44] wisniewskit opened #12289 "xhr/overridemimetype-unsent-state-force-shiftjis is now at odds with the XHR spec."
With the recent overrideMimeType changes, the WPT xhr/overridemimetype-unsent-state-force-shiftjis is now invalid (since the mimetype override is cleared as the XHR is opened in step 12).

I'm not sure if this means that the spec is now no longer web-compatible, however.

[2018-08-03 09:03] jgraham commented on #12265
Looks like we are automatically compressing logs bug not .json files.

[2018-08-03 09:26] #12265 closed

[2018-08-03 09:47] foolip commented on #12256
@jugglinmike will be experimenting a bit with running the equivalent of ci_stability on Taskcluster. Mike, is there an issue for that?

[2018-08-03 09:51] foolip commented on #7899
@jgraham, ping on the notion of having testdriver.js APIs not backed by WebDriver. This idea has also come up in the discussion around https://github.com/web-platform-tests/wpt/pull/10746, where we could have a `test_driver.get_noise_stream` with a default implementation like this:
https://github.com/web-platform-tests/wpt/blob/36c9fdd4ef36c289f416a16707074157d818ea7c/webrtc/RTCPeerConnection-help

[2018-08-03 09:56] foolip commented on #10355
I've put this in the list for [Resolve known important infra issues](https://docs.google.com/document/d/1uh7A24pT6P70Lb9CeFCKga3RrrdzLK7tSAR7o8C7No0/edit#heading=h.3sszqdrf0hk7).

[2018-08-03 10:08] jgraham commented on #7899
I think if we start to do this, particuarly in the gc case where we can't offer a meaningful default implementation, we actually need to write a spec on what the API guarantees. For testdriver-backed-by-WebDriver that spec is implicitly the WebDriver spec so a custom implementation can figure out if it's compatible by looking at that spec and ensuring it has the same behaviour. For other things I

[2018-08-03 10:43] foolip commented on #7899
This sounds like a similar bar as what we've asked for with test-only APIs, and I agree that we need clarity on what these APIs do. But, I think that documenting it as part of the wpt project should suffice for some cases. As an example, if we have a `get_media_stream` which only guarantees that there's *some* non-static video and non-silent audio tracks, then just put that in the `testdriver.js`

[2018-08-03 10:50] Cactusmachete commented on #12219
Wasn't this fixed in https://github.com/web-platform-tests/wpt/pull/12229?

[2018-08-03 10:53] foolip commented on #9345
https://web-platform-tests.org/writing-tests/server-features.html is the documentation we'll need to update.

I've found that both `?pipe=header(ABC,abc)|sub` and `?pipe=sub|header(ABC,abc)` work, so the hypothesis in https://github.com/web-platform-tests/wpt/issues/9345#issuecomment-362365474 doesn't seem right.

I believe the problem is that `pipe=` takes precedence over the pipe created implici

[2018-08-03 10:54] foolip commented on #10476
This is still happening, but @bmac has now set up http://web-platform-tests.live/ which I think we'll soon begin using, and it's deployed in a different way which makes it very unlikely this problem will be relevant to fix. Closing.

[2018-08-03 10:54] #10476 closed

[2018-08-03 10:55] #12219 closed

[2018-08-03 11:10] foolip commented on #10790
I tried copying fetch/range/general.window.js to general-manual.window.js and running `./wpt manifest`. Seems like it doesn't show up in the manifest at all. @jgraham, perhaps you know why at a glance?

[2018-08-03 11:49] foolip commented on #10981
The results are now at https://wpt.fyi/results/webrtc/protocol/video-codecs.https.html (and https://wpt.fyi/results/webrtc/protocol/video-codecs.https.html?label=experimental) but are unchanged. @jgraham, do you do anything special in Gecko CI to download the codecs before running tests? I can't spot anything in  https://hg.mozilla.org/mozilla-central/archive/tip.zip/testing/profiles/ so I guess n

[2018-08-03 11:59] foolip commented on #10990
It looks like https://github.com/web-platform-tests/wpt/pull/11202 ended by pointing back to this issue. @jugglinmike, can you summarize why queuing up the request isn't the right move here?

[2018-08-03 12:01] foolip commented on #11278
This is blocked on us transitioning from travis-ci.org to travis-ci.com, which is blocked on Travis making that possible while preserving build history. I forwarded some Travis support replies in https://groups.google.com/a/chromium.org/d/msg/ecosystem-infra/fb2H4CMlqN0/I8gjvD2wCQAJ. Leaving as priority:roadmap as it was "coming months".

[2018-08-03 12:05] foolip commented on #10877
As a first step towards this, when implementing https://github.com/web-platform-tests/wpt/issues/7475, we can treat new harness errors as more serious and a different category of problem than new failing tests.

@jugglinmike, do you have a somewhat up-to-date link to the report of harness errors, so we can see just how long the path to eliminating harness errors might be?

[2018-08-03 12:10] foolip commented on #11109
@marcoscaceres I've submitted https://github.com/tidoust/reffy-reports/issues/16, would that and an interfaces/README.md explaining the setup resolve this?

[2018-08-03 12:22] jgraham commented on #7899
In that case the documentation becomes a de-facto spec. I think there's a real concern here that if you make the definitions too loose (e.g. just guarantee that there's *something* in the audio track) a test written against one implementation may  not do anything meangful in a different implemenation. If as a result the test happens to FAIL then someone will likely notice and do something about it

[2018-08-03 12:32] foolip commented on #11109
Added README in https://github.com/web-platform-tests/wpt/pull/12295.

[2018-08-03 12:36] foolip commented on #11109
Linking to that README from https://github.com/tidoust/reffy-reports/pull/17.

[2018-08-03 13:29] foolip commented on #7899
Yes, certainly we need to document the timing of a gc method. I'd suggest that it returns a promise, which is resolved after an effort has been made to trigger GC. We'd have to talk JS engine people about what a good default implementation would be, but maybe something like setTimeout+generate garbage+setTimeout+resolve promise.

[2018-08-03 15:49] jgraham commented on #10842
I am very please to do so.

[2018-08-03 15:49] #10842 closed

[2018-08-03 18:31] Hexcles opened #12301 "wptserve raises exceptions when serving serviceworker tests generated from `.https.any.js`"
Example: [`payment-handler/idlharness.https.any.js`](https://github.com/web-platform-tests/wpt/blob/master/payment-handler/idlharness.https.any.js) (in particular, the automatically generated variant `/payment-handler/idlharness.https.any.serviceworker.html`).

[code]

Looks like something wrong in `wpt serve` (namely `path_replace`):
https://github.com/web-platform-tests/wpt/blob/e2ecba285ca6a9e7

[2018-08-03 18:32] Hexcles commented on #12301
cc @Ms2ger who recently touched the related code.

[2018-08-03 19:07] jugglinmike commented on #10877
Not off hand, but it's quick to generate one. Here are the failures for WPT revision 4a15e98c1339681493dff207de2c69ea29efa602, dated Thu Aug 2 11:45:23 2018 +0200:

<details>
<summary>
  357 tests failing in 1 browser(s)
</summary>

- [/2dcontext/imagebitmap/createImageBitmap-transfer.html](https://wpt.fyi/results/2dcontext/imagebitmap/createImageBitmap-transfer.html?sha=4a15e98c1339681493dff207de

[2018-08-03 19:08] jugglinmike commented on #10877
Uhg, by "failing" I really mean "producing errors"

[2018-08-03 21:00] foolip commented on #10877
Alright, that isn't a huge number, 591 in total. I know that @zcorpan has already fixed a bunch. @jgraham, if we're able to fix >80% of these as test bugs, do you think that'd be a strong enough case and not many remain because of implementation bugs, would that be a strong enough case to turn harness errors into something that by default fails PRs unless the test is whitelisted?

[2018-08-03 21:10] foolip commented on #10877
@jugglinmike, the list in https://github.com/web-platform-tests/wpt/issues/10877#issuecomment-410348344 is great! I sent PRs to fix the "producing errors in 5 browser(s)" tests, and I imagine many of the rest are similar oversights. Preventing this with tooling would be fabufantastic.

[2018-08-03 23:13] jyavenard opened #12306 "Typo in test"
https://github.com/web-platform-tests/wpt/blob/5f63e2363db5f444e92171d53455b645769c7e15/media-capabilities/idlharness.any.js#L39

I doubt this is the name that was intended to be used:
"MediaCapabilities: ['navigatior.mediaCapabilities'],"

navigatior vs navigator

[2018-08-04 07:28] foolip commented on #12289
@annevk

[2018-08-04 16:52] #12306 closed

[2018-08-04 18:39] foolip commented on #7784
This is in progress, see the linked project.

[2018-08-04 18:39] jgraham commented on #10877
I certainly agree that some mechanism to require manual approval if there are errors in multiple browsers seems reasonable, independent of how hard it is to fix. For tests that only error in a single browser, I guess it depends what the fix looks like; in general I guess these tests aren't going to get run on the Chrome/Gecko side, so it seems like triggering this failure too often might be proble

[2018-08-04 21:00] foolip commented on #12301
`find . -name *.https.any.js | wc -l` says that 40 tests are affected.

[2018-08-04 21:06] foolip commented on #12301
@jgraham, is this the same problem as https://github.com/web-platform-tests/wpt/pull/11151 is fixing?

I was going to bisect, but going back I couldn't any .https.any.js test with global=worker where problem wasn't present.

[2018-08-04 21:16] foolip commented on #10877
I'm unable to guess what this is a type of...

Sure, harness errors aren't the worst kind of problem a test can have, but it is one that's pretty easy to create tooling around, which would help catch some smallish mistakes. (See my 3 PRs above.)

With https://developer.github.com/v3/checks/ we'd be able to have a button that says "this harness error isn't a bug", see the "Ignore this" in https://g

[2018-08-06 17:24] mdittmer commented on #12166
Ping @whimboo and @Hexcles. Is this issue ongoing in Travis land?

[2018-08-06 17:28] mdittmer commented on #7444
Ping @sideshowbarker and @foolip. This is labeled roadmap, and been open since January. Is it approaching the top of anyone's stack?

[2018-08-06 17:31] mdittmer commented on #10572
Ping @foolip. This is labeled priority:roadmap but has no owner. Does it align with any infra folks' core objectives this quarter?

[2018-08-06 17:55] lukebjerring commented on #7444
Yes; @jugglinmike is working on this (indirectly).

[2018-08-06 21:36] jgraham commented on #10877
**f**lagging.

I don't see such a button, are you sure you don't have to be an admin of the repo to use it? That would be equivalent to the situation today, but we certainly want the PR author or reviewers to be able to override the checks.

[2018-08-06 23:26] foolip commented on #7444
The replacement is http://web-platform-tests.live, @jugglinmike is working out how to transition. Everyone can test it, but don't direct a lot of traffic at it.

[2018-08-07 01:37] jugglinmike commented on #7444
@mdittmer would you mind extending [the Status Cake service](https://uptime.statuscake.com/?TestID=kbUT7hiAxw) to also monitor the new domain? (I believe you set that up--let me know if I'm mistaken.) Although [we've configured some health checks through AWS directly](https://github.com/bocoup/infrastructure-web-platform/blob/42765778a1f16dc1bb9731c16ba244b5c695bbe2/terraform/projects/web-platform

[2018-08-07 02:07] jugglinmike commented on #10990
@foolip Our thinking was that rejecting attempts at parallel execution would encourage authors to write serial tests, and that this would reduce potential for flakiness.

To be honest, though, I am having second (actually third) thoughts. It's not that I am warming up to parallel testing; it's that moving away from parallel testing will take a much more concerted effort. Trying to "encourage" seri

[2018-08-07 08:05] foolip commented on #7444
The "Directory listing: web-platform-tests" in https://uptime.statuscake.com/?TestID=kbUT7hiAxw is actually web-platform-tests.live. @mdittmer, can you rename it?

[2018-08-07 08:40] foolip commented on #10990
I would argue that not all uses of parallel `async_test` are prone to being flaky, although I'll concede that in practice it's easier to make mistakes with many things happening at once.

On a "much more concerted effort", I do find it frustrating that `async_test` and `promise_test` have different behavior, and would like the capability to make `async_test` execute in sequence, perhaps even makin

[2018-08-07 09:25] foolip commented on #10877
Yeah, I guess you need write access to the repo. Here's a screenshot:
![image](https://user-images.githubusercontent.com/498917/43767132-8d58eb84-9a34-11e8-924c-9a694bdea9c8.png)

[2018-08-07 10:01] jyavenard opened #12336 "Incorrect mimetype used"
https://github.com/web-platform-tests/wpt/blob/0de692bce7f4c1834ae3f3c86229caa16372a771/media-source/mediasource-changetype-util.js#L22

While not 100% incorrect, the mimetype for audio files should be using audio/webm or audio/mp4

so:
 type: 'video/webm; codecs="vorbis"', becomes  type: 'audio/webm; codecs="vorbis"',
and
type: 'video/mp4; codecs="mp4a.40.2"', becomes type: 'audio/mp4; codecs="mp

[2018-08-07 10:56] annevk commented on #12289
Sigh, I guess that's why we never cleared `overrideMimeType` state? Does any implementation follow the specification? I thought at least Edge did.

[2018-08-07 11:10] foolip commented on #12289
https://wpt.fyi/results/xhr/overridemimetype-unsent-state-force-shiftjis.htm?labels=experimental isn't too illuminating, but does suggest *some* difference between Edge and the others.

[2018-08-07 11:52] annevk commented on #11529
I kinda like `window.js`. It seems silly that `worker.js` currently requires `importScripts("/resources/testharness.js");` at the top though.

[2018-08-07 15:02] foolip commented on #12282
This is about. https://github.com/web-platform-tests/wpt/blob/master/content-security-policy/svg/object-in-svg-foreignobject.sub.html.

cc @andypaicu

[2018-08-07 15:48] jugglinmike commented on #7444
I have another request (there's a pun there somewhere, but I don't have it in me right now): to more closely match the data for w3c-test.org, could the rate be set to 5 minutes instead of 15?

[2018-08-07 16:02] jugglinmike commented on #10990
See also gh-5970 and gh-6002. I don't know if an opt-in has been discussed,
though. On the one hand, that would facilitate a long-term roll out. On the
other hand, the intermediate state might be a little confusing. This is
fundamental behavior, so just seeing `async_test` wouldn't tell you everything
you need to know about the framework's behavior.

Agreed. I'll make your preference known when I

[2018-08-07 18:10] wolenetz commented on #12336
In this initial version, I chose to use specific codecs since the spec allows:  though the spec recommends user agents not require such specificity in non-normative note, it similarly recommends apps request using codecs. Chromium MSE currently doesn't follow the former (it still requires specific codecs).

As I relax Chromium's MSE codec strictness, I'll add/update tests, since there are other pl

[2018-08-07 20:28] wolenetz commented on #12336
Oh! I see. Type mime type, not the codec parameter itself, is ok, but not perfect :)
I'll land a Chromium CL that will auto-export to WPT with s/video/audio/ for the audio codec mimetype+codec strings in those tests.

[2018-08-07 20:34] wolenetz commented on #12336
Tracking fixing this in Chromium in https://bugs.chromium.org/p/chromium/issues/detail?id=871929

[2018-08-07 20:58] wolenetz commented on #12336
Chromium CL to fix this is in code-review currently: https://chromium-review.googlesource.com/c/chromium/src/+/1166030

[2018-08-08 08:30] whimboo commented on #12166
I think so. But to further help you I would need some links to see how the tests are started, including which arguments are used.

[2018-08-08 09:09] #3712 closed

[2018-08-08 09:30] #3519 closed

[2018-08-08 12:33] foolip commented on #7784
I have something in progress in https://github.com/foolip/wpt-idl-importer.

[2018-08-08 13:17] foolip commented on #11109
@marcoscaceres README changes have landed now:
https://github.com/web-platform-tests/wpt/blob/master/interfaces/README.md
https://github.com/tidoust/reffy-reports/blob/master/README.md

Do you think that is sufficient, or should the boilerplate itself link to something, as suggested in https://github.com/tidoust/reffy-reports/issues/16?

[2018-08-08 13:39] foolip commented on #3867
Thanks for reporting @mustaqahmed. Multiple teams are now using https://web-platform-tests.org/writing-tests/testdriver-tutorial.html to add their own testing APIs end-to-end, with help from @kereliuk. As you're implementing User Activation v2, is this an issue you'd consider owning? I believe the WebDriver extension API, if that makes sense, would have to go in either HTML or a standalone extensi

[2018-08-08 15:26] gsnedders commented on #8581
The question is whether we want to fix the first item above.

[2018-08-08 15:26] foolip commented on #9113
I've asked in https://github.com/tidoust/reffy/issues/113 if this information is possible to extract from specs and put into a machine-readable form.

[2018-08-08 15:30] gsnedders commented on #9546
No, because here we have in principle shut the previous server down.

[2018-08-08 15:31] gsnedders commented on #10097
I don't think so?

[2018-08-08 15:33] foolip commented on #8581
Do you mean the "just for cookie tests" domain? I take it that would be a separate domain entirely, so that we'd require 3 domains for a setup like web-platform-tests.live? not-web-platform-tests.live already exists. cc @jugglinmike

[2018-08-08 15:33] gsnedders commented on #7928
It's just silently ignored IIRC. I think we get a WARNING in the log, when it really should be a fatal error.

[2018-08-08 15:34] foolip commented on #10097
I probably don't quite understand the issue, but switching to priority:backlog to signal my ignorance :)

[2018-08-08 15:35] foolip commented on #7928
Alright, turning that into a fatal errors makes sense.

[2018-08-08 15:40] gsnedders commented on #11864
This landed on master because of #9171

[2018-08-08 15:43] gsnedders commented on #10021
@foolip It may only be lints that rely on multiple files, and it may only be new lints.

[2018-08-08 15:44] gsnedders commented on #10021
There's also the vaguely similar #9171 where existing lints can start failing on master without failing Travis.

[2018-08-08 15:48] gsnedders commented on #11388
@jgraham yes

[2018-08-08 16:12] gsnedders commented on #10097
Basically it's avoiding the risk, and it's a small amount of work.

[2018-08-08 16:13] gsnedders commented on #8581
That's my understanding of @mikewest's request.

We had a discussion about this before and I think the conclusion was that it wasn't necessary, and I don't think it makes much practical difference.

[2018-08-08 18:39] wolenetz commented on #12336
@jyavenard I believe https://github.com/web-platform-tests/wpt/commit/531bf4a9a5fd6e7812a40a8df1a6c32b4ba748e3 fixes this issue. Thank you for reporting it.

[2018-08-08 18:39] #12336 closed

[2018-08-08 20:34] jugglinmike opened #12361 "Specifying desired version of WebDriver binary"
Currently, `wpt run {product}` and `wpt install {product} webdriver` install
the latest version of the WebDriver server for the specified `product`. This
seems like good default behavior, but it is insufficient for two use cases:

- Reproducing results - whether verifying data published online or re-trying a
  failed trial
- Distributing execution over time - the CLI's "chunking" feature allows fo

[2018-08-08 20:43] dholbert opened #12362 "contain-size-012.html legitimately fails if antialiased serifs are clipped by its `overflow:hidden`"
The test [contain-size-012.html](https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-012.html) fails on Firefox for Windows, with the only difference being on the left fringes of serifs on the "P" of "Pass", as reported here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1474848

I think this is a test bug -- the testcase has the word "Pass" wrapped in `overflow:hidde

[2018-08-08 20:48] dholbert commented on #12362
Here's a screenshot with the 2 mismatching pixels highlighted in red boxes (showing that they're on the left edge of the "P" serifs):
![screenshot of failure in Firefox's reftest-analyzer](https://user-images.githubusercontent.com/426803/43863310-2c4bbd3e-9b11-11e8-9563-c65919549447.png)

And here's a screenshot of the zoomed-in pixel grid (from reftest analyzer), focusing on the upper mismatching

[2018-08-09 04:51] mrego commented on #12362
I guess the simplest solution is to use a new reference that has `overflow: hidden`.
However I'm wondering if this don't affect other tests that has `overflow: hidden` too: contain-size-001.html, contain-size-002.html, contain-size-003.html, contain-size-004.html, contain-size-005.html, contain-size-006.html, contain-size-007.html, contain-size-008.html, contain-size-009.html, contain-size-010.htm

[2018-08-09 04:55] marcoscaceres opened #12370 "InsecureCertificateException error trying to run wpt"
Getting the following, but I've disabled my firewall on MacOS:

Any ideas?

[code]

[2018-08-09 06:07] sideshowbarker commented on #12370
You checked to make sure there’s nothing else listening on port 8443?

[code]
or
[code]

[2018-08-09 06:10] marcoscaceres commented on #11109
I'm not sure tbh. I think we might just ride this out and see if people complain or get confused.

[2018-08-09 06:11] marcoscaceres commented on #12370
Yep, checked. Nothing :(

[2018-08-09 06:29] #2167 closed

[2018-08-09 06:30] #12082 closed

[2018-08-09 07:29] mrego opened #12371 "Image not found in CSS built test suite"
Hi @plinss, we have a css-containt test that fails to load the image in the built test suite:
http://test.csswg.org/harness/test/css-contain-1_dev/single/contain-size-013/format/html5/

It uses an image with the following absoulte path: `/css/support/60x60-red.png`.

Could we serve that folder `/css/support/` so we don't need to duplicate the image once more in a subfolder under `/css/css-contain/

[2018-08-09 08:27] #3475 closed

[2018-08-09 08:37] foolip commented on #11109
It's being fixed in https://github.com/tidoust/reffy/commit/cadc77757bf510519ef1bcb2cea213aae4181731 and https://github.com/tidoust/reffy/pull/114

[2018-08-09 09:00] Honry commented on #1042
Close it as the file has been removed in https://github.com/web-platform-tests/wpt/pull/1684.

[2018-08-09 09:00] #1042 closed

[2018-08-09 09:58] foolip commented on #10355
@gsnedders, this might have been fixed by @Hexcles already, can you take a look at the original problem?

[2018-08-09 09:59] foolip opened #12374 "ExecutorWebDriver"
We should stop relying on Selenium for Chrome/Edge/Safari support, and instead use WebDriver directly.

Relying on Selenium adds further levels of indirection (and the potential to abstract away bugs) and makes it harder to use custom WebDriver extensions for testing.

- [x] Support WebDriver as an option (#12380)
- [x] Enable WebDriver by default for Chrome (#13200, #13225)
- [ ] Enable WebDriver

[2018-08-09 09:59] foolip commented on #12374
Previous PR at https://github.com/web-platform-tests/wpt/pull/10197.

[2018-08-09 09:59] sideshowbarker commented on #12370
OK I was able to reproduce this by uninstalling certutil so that wpt claims *“Can't find certutil, certificates will not be checked”*.

So now I get essentially the same stack trace as reported in the issue description—
[code]

[2018-08-09 10:29] #12370 closed

[2018-08-09 11:32] foolip commented on #1066
Thanks @kaixinjxq, you're right. Those tests came from https://github.com/web-platform-tests/wpt/pull/8976 and https://github.com/web-platform-tests/wpt/pull/11171, so thanks @youennf!

[2018-08-09 11:32] #1066 closed

[2018-08-09 13:03] gsnedders commented on #12301
@foolip looks like it, yes

[2018-08-09 13:09] gsnedders commented on #10355
@Hexcles fixed the original problem, probably well enough?

I think my intention here was some discussion about more generally fixing the issue where we skip tests as irrelevant but silently break them.

[2018-08-09 13:31] gsnedders commented on #12361
I'm not opposed, though I'm dubious how useful it is (i.e., I think the benefit is marginal).

[2018-08-09 13:38] jgraham commented on #10355
So I don't know that there's an easy way of running the right set of tests without either running everything, which is hugely inefficient particuarly given how capacity-limited travis is, or having some map of changes to tests. We currently do the latter manually and it's possible to imagine doing it automatically with sufficient coverage data (you compute the coverage per test(job) and then rever

[2018-08-09 13:43] jgraham commented on #12361
I think all of these concerns apply equally to the browser itself, but are more relvant there (it seems much more likely that there is a new browser nightly during the interval between starting tests than that there is a new webdriver frontend).

For TC at least I would probably attack this by having a single task that downloaded the binaries to artifacts, and then have the other tasks grab those

[2018-08-09 14:27] gsnedders commented on #10355
The sensible thing is to probably run all the unit tests on every commit on master, given we want to know ASAP that they're broken so we can revert. I mean, arguably even we want to run the unit tests on every PR. That said, we definitely don't have the capacity to do either reasonably.

Running all the unit tests once a day on master is potentially a good compromise (how often do unit tests get r

[2018-08-09 14:39] gsnedders commented on #12361
And we have even bigger reproducibility problems with Safari and pre-release Edge builds (given AFAIK at least for Edge you can in theory manually install all the patches from the base Win10 install to get an equivalent setup).

[2018-08-09 14:48] bzbarsky opened #12378 "secure-contexts idlharness test is incorrect for Window scope"
The test fails in every single implementation in the same way; see https://wpt.fyi/results/secure-contexts/idlharness.any.html

That's because the test is actually wrong for the Window scope: it's claiming the property should be on some prototype, but it should be on the object itself.

@lukebjerring @foolip

[2018-08-09 14:52] gsnedders commented on #12378
(I'm assuming this is an idlharness.js bug?)

[2018-08-09 14:59] jgraham commented on #11105
This is causing surprising test timeouts in gecko infra (and probably everywhere else too).

The fundamental issue is that we assume a 1:1 mapping between `.any.js` inputs and generated test paths. But, by generating an implicit `https` test from a non-https URL we break that assumption.

One possible solution is just to make `.serviceworker.` imply that the test is loaded over https directly with

[2018-08-09 15:04] bzbarsky commented on #12378
Unclear.  I'm not sure what the

    WindowOrWorkerGlobalScope: ["self"],

bit in `add_objects` is supposed to mean.  The test also never defines that `Window` implements `WindowOrWorkerGlobalScope`, which seems like crucial information if all the idlharness bits were correct.  That's clearly a test  bug.

[2018-08-09 15:11] foolip commented on #8152
This is a dupe of https://github.com/web-platform-tests/wpt/issues/7435.

[2018-08-09 15:11] foolip commented on #7435
There's some WIP in https://github.com/web-platform-tests/wpt/pull/11931

[2018-08-09 15:12] #8152 closed

[2018-08-09 15:21] gsnedders commented on #12301
Dupe of #11105.

[2018-08-09 15:21] #12301 closed

[2018-08-09 15:24] gsnedders opened #12379 "https status of tests computed by runner and not in manifest"
For the same reason as #11285, we should move this into the manifest to avoid having logic in every runner.

[2018-08-09 16:53] wisniewskit commented on #7933
@yutakahirano, ping?

[2018-08-09 17:46] foolip commented on #10355
Looking at https://travis-ci.org/web-platform-tests/wpt/builds/414118543 it seems like running the unit tests only takes 3 minutes. Isn't that acceptable to do on every PR?

[2018-08-09 18:05] jugglinmike opened #12384 "[wptrunner] Internal TestLoader class lacks documentation"
The TestLoader class is an important part of the implementation of wptrunner, but its expected behavior and usage are undocumented.

[2018-08-09 18:14] gsnedders commented on #10355
That took the failure shortcut; I think https://travis-ci.org/web-platform-tests/wpt/jobs/414181137 is all, double the time at six minutes.

[2018-08-09 18:26] #6075 closed

[2018-08-09 19:18] jugglinmike commented on #12361
Agreed, though Chrome/Chromium doesn't commit to a stable URL for experimental builds, so we can't offer this functionality for all browsers. That's why I'm limiting this to WebDriver binaries.

[That's exactly what we're doing in the BuildBot system today](https://github.com/web-platform-tests/results-collection/blob/a2d6731ffa1cb69bb584a479425ae0f30846b3ff/src/scripts/get-browser-url.py) :) Come

[2018-08-09 19:48] foolip commented on #12378
There is definitely something broken here, I've discussed it with @lukebjerring on a few PRs and https://github.com/web-platform-tests/wpt/pull/11862 works around something like this, with reference to https://github.com/web-platform-tests/wpt/issues/8053.

In this test, changing to `Window: ["self"]` just makes the failing test go away, so it appears that idlharness.js in this context just isn't

[2018-08-09 20:37] dholbert commented on #12362
You're right - I do get the failure for other tests, though not quite for the exact set you noted.  But I think there are good reasons that the other ones are unaffected, as noted in the bottom half of this post.

I see the same failure (with only those two antialiased pixels mismatching) on these tests:
* contain-size-001.html
* contain-size-002.html
* contain-size-003.html
* contain-size-004.htm

[2018-08-09 20:39] dholbert commented on #12362
(BTW, the test contain-size-011.html also fails in Firefox, but for [unrelated reasons, which is a real Firefox bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1482173 ).)

[2018-08-09 21:29] lukebjerring commented on #12378
So, @foolip you're mis-matching a couple of separate issues here; in #11862 I had [originally](https://github.com/web-platform-tests/wpt/pull/11862/commits/8a117ad29869b01682d2486dfb1c4ec29b9b33c2) manually handled the imports when #8053 hadn't been addressed (as a workaround that `Window` wasn't being picked up as a dependency of `WindowOrWorkerGlobalScope`.) It's still needed to check window vs

[2018-08-09 22:01] #12378 closed

[2018-08-09 22:17] dholbert commented on #12362
So I guess I should be tagging @frivoal for thoughts here, since he wrote most of the tests that are failing here -- the first three being:
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-001.html
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-002.html
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contai

[2018-08-09 22:21] dholbert opened #12388 "contain-size-007.html through 010.html use "overflow:hidden" on a box that doesn't support it"
The tests `contain-size-007.html` through `contain-size-010.html` have `overflow:hidden` in a context where it has no effect, which is somewhat problematic. Test links:
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-007.html
https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/contain-size-008.html
https://github.com/web-platform-tests/wpt/blob/

[2018-08-10 05:41] marcoscaceres opened #12397 "Instructions on how to override browser flags"
As new web features are usually behind flags (e.g., `dom.payments.request.enabled`), it would be nice to give instructions on how to "pref on" features when running tests.

The problem I'm having is that, for instance, I do the following:

[code]

But the test fails because the `dom.payments.request.enabled` is not on by default. When I try to set it manually in the the Firefox instance that pops

[2018-08-10 05:44] marcoscaceres commented on #12370
Thanks for fixing this, btw. Confirming it's working now :)

[2018-08-10 09:25] annevk commented on #12289
I verified that Edge indeed behaves this way, but in retrospect it seems better to align with the other browsers, especially given the situation on mobile. I'll create some PRs to fix the tests and specification.

[2018-08-10 10:00] annevk commented on #12289
PRs created.

[2018-08-10 11:05] foolip commented on #12166
@jgraham, could provide @whimboo with the Marionette arguments?

[2018-08-10 11:32] mrego commented on #12362
Ok, thank you very much for all the info I'm afraid I won't have the time to fix this soon as I'm going on holidays. But if once I'm back it's not fixed I'll take care of it.

[2018-08-10 12:36] ArnaudBienner opened #12408 "wptrunner doesn't support conditionals for prefs key"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1481676

Something like this
    prefs:
        if not release_or_beta: [dom.audioworklet.enabled:true, dom.worklet.enabled:true]
doesn't work, while this works for `expected` keyword.

Seems like in this case, the string isn't parsed, and interpreted as a string in manifestexpected.py::65

I started to discuss this issue with @jgraham but couldn't

[2018-08-10 12:37] ArnaudBienner commented on #12408
I've started to add a new test to test conditional (in test_wpttest.py).
I can submit a pull request for this at least, if that could help (commenting the failing case with a `#FIXME`).

[2018-08-10 16:39] gsnedders commented on #12397
https://github.com/web-platform-tests/wpt/issues/10452 is related to this

[2018-08-10 20:04] ArnaudBienner commented on #12408
@jgraham is working on a fix for this on https://bugzilla.mozilla.org/show_bug.cgi?id=1482496

[2018-08-10 20:25] foolip commented on #12397
@jgraham, is there an equivalent for Firefox, or is a prefs file needed?

[2018-08-10 22:39] muhammedyusuf-sermet commented on #11934
@frivoal Sorry about my late response. Of course, I'd be happy to. I just created a pull request for the changes we discussed here.

Thank you!

[2018-08-11 23:55] TalbotG opened #12419 "parsing-testcommon.js not fetched"
Many writing-modes tests fail just because functions being called are not fetched. Examples given:
http://test.csswg.org/harness/test/css-writing-modes-3_dev/direction-invalid/
http://test.csswg.org/harness/test/css-writing-modes-3_dev/direction-valid/
http://test.csswg.org/harness/test/css-writing-modes-3_dev/text-combine-upright-invalid/
http://test.csswg.org/harness/test/css-writing-modes-3_dev

[2018-08-12 07:28] TalbotG opened #12420 "[css-writing-modes] <img> in some 'vertical-lr' tests may actually be missing 'vertical-align: bottom'"
http://test.csswg.org/harness/test/css-writing-modes-3_dev/spec/css-writing-modes-3/section/7/abs-pos-non-replaced-vlr-227/

Some browsers (like Epiphany Technological Preview version 605.1.15; using WebKitGTK+ 2.21.5) will show a **4px horizontal difference** between test and reference file. It seems that such difference is due to the fact that the "support/pass-cdts-abs-pos-non-replaced.png" `<i

[2018-08-12 16:36] Hexcles commented on #11105
I assume this is fixed by #12381?

[2018-08-12 19:48] TalbotG commented on #12388
Manuel Rego (test author) is on vacation (holidays) until September 3rd.

I agree that the use of `overflow: hidden` in those tests is inadequate.

Setting `overflow: hidden` on an ancestor may work. My preference would be to search for a test design that would instead avoid using, resorting to `overflow: hidden` in tests like `contain: size`. I am convinced this should be doable. The test does no

[2018-08-12 19:50] TalbotG commented on #12371
+1

[2018-08-12 20:13] TalbotG commented on #7676
In some precise contexts, 'inset' and 'outset' are testable in an automated manner.

https://www.w3.org/TR/CSS22/tables.html#table-border-styles

Regarding 'double':

https://www.w3.org/TR/CSS22/box.html#border-style-properties
https://www.w3.org/TR/css-backgrounds-3/#valdef-line-style-double

Chances are (just a hunch; have not verified this) that when 'border-width' is dividable by 3 without a r

[2018-08-12 23:41] TalbotG opened #12421 "[css-contain] contain-layout-015 should be improved"
Manuel Rego and I agree that the current test
http://test.csswg.org/suites/css-contain-1_dev/nightly-unstable/html/contain-layout-015.htm
has problems.

(...) [The test should also] mention that scrollbars shouldn't be present if the test works as expected.

I have proposed

http://www.gtalbot.org/BrowserBugsSection/CSS3Contain/contain-layout-015.1-Rego.html

http://www.gtalbot.org/BrowserBugsSect

[2018-08-13 04:58] TalbotG commented on #12420
I have double-checked a list of 26 writing-mode tests where Epiphany Technological Preview (version 605.1.15; using WebKitGTK+ 2.21.5) shows an horizontal or vertical difference between the 26 tests and their associated reference files. The thing is: I saw no horizontal or vertical difference when trying those 26 tests with Firefox 63.0a1 buildID=20180812220618 (latest nightly build for today) and

[2018-08-13 07:14] Honry commented on #2104
Close it as the issue can not reproduce now.

[2018-08-13 07:14] #2104 closed

[2018-08-13 07:47] Ms2ger opened #12425 "Unclear lint error TESTHARNESS-PATH / TESTHARNESSREPORT-PATH"
You can't really figure out the necessary fix for the following errors if you don't know it yet:

[code]

[2018-08-13 08:28] Ms2ger commented on #11105
Same.

[2018-08-13 08:28] #11105 closed

[2018-08-13 09:25] annevk commented on #11105
There was a question by @foolip on IRC whether we wanted to make any.js imply HTTPS, but maybe that's tracked separately or less important now. (I'm happy with the (new) status quo.)

[2018-08-13 09:49] Ms2ger commented on #11105
I don't think we want to, but someone could file a separate issue to discuss that.

[2018-08-13 10:27] foolip commented on #12419
@ewilligers can you take a look?

[2018-08-13 10:32] foolip opened #12428 "idl_test uses Promise.finally, which isn't available in Edge 17"
In https://github.com/web-platform-tests/wpt/pull/12272 a dependency on Promise.finally was added to `idl_test`:
https://github.com/web-platform-tests/wpt/blame/e9f3244421c353a63142dd9742e0ed6edc509cc8/resources/idlharness.js#L3224

Unfortunately, that's causing tests to fail in Edge 17:
https://wpt.fyi/results/encoding/idlharness.any.html?sha=eea0b54014&labels=stable

We need to achieve the same

[2018-08-13 11:25] mikewest commented on #8581
I don't think we need another registrable domain. At least, not for cookies.

[2018-08-13 12:15] #12428 closed

[2018-08-13 12:18] foolip commented on #11105
What I suggested on IRC was requiring .http.any.js for global=serviceworker so that the problem in this issue would go away. But that would make it impossible to have the same test run in both a secure and non-secure context, and would get in the way of adding some syntax for having a single test run in secure and non-secure contexts, like maybe `context=http,https`. I'm happy enough with the new

[2018-08-13 12:25] jgraham commented on #12379
Yes, this is a good idea (honestly, I thought it already worked like this and was surprised when it didn't) and isn't very hard to do; just add a `is_https` flag on the `SourceFile` object, add a `https` parameter to `ManifestItem` and arrange for that to be stored/serialized in the manifest in the extra properties dictionary (I suggest defaulting to `False`).

[2018-08-13 14:02] foolip commented on #5493
Recent results are at https://wpt.fyi/results/css/cssom-view/matchMedia.xht and this is still a problem.

The failing subtest and probably more are already tested in https://wpt.fyi/results/css/cssom-view/interfaces.html, as "Window interface: operation matchMedia(CSSOMString)"

[2018-08-13 14:11] foolip opened #12443 "Support worklets in .any.js and idlharness.js"
Writing idlharness.js tests for https://wicg.github.io/animation-worklet/ (https://github.com/web-platform-tests/wpt/pull/12439) is not possible because we don't support `global=animationworklet` in .any.js tests. That support would have to be added to wptserve.

In addition, idlharness.js would need to know about this new global scope, or alternatively the handling of global scopes be generalized

[2018-08-13 14:42] foolip opened #12445 "Remove tests for XRStageBoundsPoint (optionally add historical tests)"
https://github.com/immersive-web/webxr/commit/f18249b3d34281d8c816d436099aa0a4c5b3501e removed XRStageBoundsPoint from the spec and https://github.com/web-platform-tests/wpt/pull/12442 removed the idlharness tests.

But there's still a test here:
https://github.com/web-platform-tests/wpt/blob/db532d16883ceb1909285b263948ffffc968f1fd/webxr/resources/webxr_util.js#L47

In addition to removing this,

[2018-08-13 16:25] gsnedders commented on #8581
Then closing this now #10953 has landed.

[2018-08-13 17:34] gsnedders commented on #12419
This is due to them being in `resources` which the build system doesn't know about; they'd need to be in `support` for the build system to copy them around.

[2018-08-13 18:21] gsnedders opened #12452 "write unit tests for handlers in tools/serve"
#12450 was caused by a very simple bug in tools/serve which would've trivially been catched by a simple unit test. We should have unit tests for all the handlers in tools/serve.

[2018-08-13 19:01] jdm opened #12455 "Run infrastructure tests in Servo as part of CI"
[code]

[2018-08-13 19:02] jdm commented on #12455
[code]

[2018-08-13 19:07] kereliuk opened #12456 "Update Selenium Version"
The current selenium version installed by the virtualenv is not up to date.
With a newer version we can use excecute_cdp_cmd in executor selenium, which can be used with testdriver.

[2018-08-13 19:37] TalbotG commented on #12419
Philip,
How do you add a label to an issue? Do you have to be on a privilege list? As the reporter of this issue, I can not do this.

[2018-08-13 21:02] foolip commented on #12456
https://pypi.org/project/selenium/ says that the latest version is 3.14.0, and that's what tools/wptrunner/requirements_chrome.txt says too. Is there another place that's used for running Chrome?

[2018-08-13 21:04] foolip commented on #12456
Hmm, that package is Python bindings, maybe Selenium itself is elsewhere?

[2018-08-13 21:04] gsnedders commented on #12419
@TalbotG You have to have write access to the repo, IIRC.

[2018-08-13 21:04] foolip commented on #12374
New PR at https://github.com/web-platform-tests/wpt/pull/12380.

[2018-08-13 21:27] kereliuk commented on #12456
The Selenium version is indeed the most recent. I was mistaken by the RemoteWebdriver object being instantiated and I compared it to the Chrome Webdriver object :)

[2018-08-13 21:27] #12456 closed

[2018-08-13 21:28] foolip commented on #12419
@gsnedders I checked before and that's not the case, and probably wasn't the case at the time of the repo move either, since I pinged a lot of people who had write access then in issue 11568.

[2018-08-13 21:38] gsnedders commented on #12419
@foolip I mean to add labels to issues, which per https://help.github.com/articles/repository-permission-levels-for-an-organization/ needs write access.

[2018-08-13 21:47] gsnedders opened #12461 "Trying to run any WebDriver test fails in Edge"
Everything fails like:

[code]

bisect points at ff4e72e977d0776510aea28ddfb497c7fc12e848 from #10953

[2018-08-13 21:49] gsnedders commented on #12461
cc/ @InstyleVII

[2018-08-13 21:57] gsnedders commented on #8581
Reopening with https://github.com/web-platform-tests/wpt/pull/12462.

[2018-08-13 22:30] TalbotG commented on #12419
Philip,

I received your invitation to join @web-platform-tests . Thank you. I should now be able to add label to issues that I report.

[2018-08-13 22:33] foolip commented on #12419
I'm not sure if org membership is enough, let me know if it doesn't work.

[2018-08-13 22:49] #12461 closed

[2018-08-14 00:52] jugglinmike commented on #8581
Commit 4f0b8fb reverted the fix, so this issue should remain open.

[2018-08-14 01:03] TalbotG commented on #7676
Firefox 52.9.0 ESR (buildID=20180626223325), Chromium 68.0.3440.75 and Epiphany Technological Preview (version 605.1.15; AppleWebKit/605.1.15; WebKitGTK+ 2.21.5) allocate an equal amount of border-width to outer line, space-in-between and inner line as demonstrated in this test:

http://www.gtalbot.org/BrowserBugsSection/css21testsuite/border-style-double-untestable.html

Please, can anyone report

[2018-08-14 01:33] TalbotG commented on #7676
IE11 also allocates an equal amount of border-width to outer line, space-in-between and inner line in the border-style-double-untestable.html test. So, chances are very high that Edge 17 does that too. We would then have the **4 mainstream browsers (Firefox, Chrome, Safari, Edge) implementing 'border-style: double' in the same way, in the same manner**.

[2018-08-14 01:35] gsnedders commented on #8581
FFS GitHub, closing it in the revert commit.

[2018-08-14 07:58] #2945 closed

[2018-08-14 08:30] Honry commented on #2213
Linking the fixed PR https://github.com/web-platform-tests/wpt/pull/3881 here, which have already addressed most changes, except whatwg/html#215 which it is still open.

[2018-08-14 08:54] Honry commented on #2383
Already fixed in https://github.com/web-platform-tests/wpt/pull/3770 and https://github.com/web-platform-tests/wpt/pull/3684, close it.

[2018-08-14 08:54] #2383 closed

[2018-08-14 12:53] foolip commented on #2213
Yep, that covers the spec changes I filed this issue for. I don't think I added anything for https://github.com/whatwg/html/issues/215, such tests would have to be added if we decide to add requirements.

[2018-08-14 12:53] #2213 closed

[2018-08-14 17:48] domenic opened #12480 "Add a module variant for .any.js"
Some tests, notably those in https://github.com/web-platform-tests/wpt/tree/master/async-local-storage (more incoming in #12416) would benefit from running as a module in window, worker, and service worker contexts. Using .any.js today uses classic scripts, not modules, so it's not suitable for that.

This is not super-urgent as nobody is shipping module workers yet. Chrome has a flagged implement

[2018-08-14 20:06] jugglinmike commented on #12083
I'm going to close this issue since there is nothing more to be done. It will serve the purpose of documentation just as well when closed, and we can re-open if the problem recurs.

[2018-08-14 20:06] #12083 closed

[2018-08-14 21:13] frivoal opened #12484 "How to name reference files"
There is existing documentation that says that refs files should be named after the first test that they match. That documentation is old, and in the csswg wiki. It's unclear if it is supposed to apply to wpt, but at the same time, wpt does not document any other practice, so presumably it still applies, at least for css. But in some PRs (see #11323 for instance), there are proposals to give descr

[2018-08-14 21:35] frivoal commented on #12362
@dholbert Sorry for the slow follow up. I agree with your conclusions, so I've filed the https://github.com/web-platform-tests/wpt/pull/12485 PR to fix this. Review welcome.

[2018-08-14 21:55] frivoal commented on #12388
My assumption when writing this was that in order to apply, (if a browser accidentally did so in violation of the spec), contain:size would certainly have to turn the elements into something to which overflow would happen.

Thinking back, there is nothing certain about this, so I agree with the suggestion of putting overflow:hidden on an ancestor.

I'm open to the suggestion by @TalbotG that this

[2018-08-14 22:43] dholbert commented on #12362
@frivoal Thank you! The changes look good to me, so I marked it as "accepted". (Not sure what the precise protocol is RE merging/etc -- I'll leave that to you or others.)

[2018-08-14 23:30] #12362 closed

[2018-08-15 00:59] TalbotG commented on #12484
And this is also what I do or try to do all the times. "first" meaning first in lexicographical order.
I would prefer we keep this practice (reference named after the first test that they match) and make it the normal standard one. A reference file is just a reference; it often can be just a simple image.

I agree we should keep documentation and practice synchronized.

My biggest problem and my s

[2018-08-15 07:50] Honry commented on #1506
@Ms2ger, this was already fixed by https://github.com/web-platform-tests/wpt/pull/7574, right? Can we close it?

[2018-08-15 08:00] #12388 closed

[2018-08-15 08:04] Ms2ger commented on #1506
Looks like it.

[2018-08-15 08:04] #1506 closed

[2018-08-15 08:09] Honry commented on #2461
This was fixed by https://github.com/web-platform-tests/wpt/pull/7587, close it.

[2018-08-15 08:09] #2461 closed

[2018-08-15 08:53] foolip commented on #9953
Ping @plinss on CSS build system requirements in https://github.com/web-platform-tests/wpt/issues/9953#issuecomment-373213338.

(I'm reminded of this issue by https://github.com/web-platform-tests/wpt/pull/12482.)

[2018-08-15 09:30] foolip commented on #9953
I've sent https://github.com/web-platform-tests/wpt/pull/12493 to document what I think are reasonable guidelines. Everyone in this issue, please review!

[2018-08-15 09:48] foolip commented on #12480
A bit similar to https://github.com/web-platform-tests/wpt/issues/12443, but unlike that isn't a new global scope but a new... script type? (Terminology from https://html.spec.whatwg.org/#classic-script)

@domenic, what would you suggest as the syntax for this? If we support .module.js and combinations like .module.window.js (or .window.module.js), then maybe this?
[code]

[2018-08-15 12:38] foolip commented on #12455
@jdm, can I assign this to you? I'll call it priority:roadmap to get it off https://foolip.github.io/ecosystem-infra-rotation/ on the assumption that it's important work that will happen, but please switch to priority:backlog if you don't ever want to be nagged about progress :)

[2018-08-15 12:44] jdm commented on #12455
Sure.

[2018-08-15 13:40] foolip commented on #9042
Dupe of https://github.com/web-platform-tests/wpt/issues/7186.

[2018-08-15 13:40] #9042 closed

[2018-08-15 13:41] foolip commented on #7186
From https://github.com/web-platform-tests/wpt/issues/9042#issuecomment-357792876:

[2018-08-15 18:59] domenic commented on #12480
Hmm, would the comment syntax be in addition to the filename stuff? Indeed, there are some things I'd want to test only in module scripts, and some I'd want to test in both module scripts and classic scripts. I'd use `.module.js` for the former, and the comments for the latter.

[2018-08-15 19:43] domenic commented on #12480
Right, in theory there's no reason not to test all four combinations ((window + worker) x (classic + module)). But in practice maybe you only need to test a few.

I think the higher priority feature right now though is module x (window + worker). For that my initial thought was just filenames, with no comment syntax.

[2018-08-15 19:52] foolip commented on #12480
OK, I think .module. as part of the <s>file</s>testname would be the underpinnings for a comment syntax anyway. How about, then, if `foo.module.{any,window,worker,etc}.js` does the same stuff as .any.js and friends, except for the bit of the generated code that does `import(something)` instead of `<script>` or `importScripts`?

@gsnedders can you see complications arising with that? The only thing

[2018-08-15 20:08] domenic commented on #12480
Hmm I'd do `<script type="module" src="something">` + `new Worker("something", { type: "module" })` instead of `import("something")` myself, to be more analogous to the existing infrastructure.

[2018-08-15 20:20] TalbotG opened #12509 "[css-contain] contain-style-counters-003-ref: "digit" to be replaced with "number""
@frivoal

https://github.com/web-platform-tests/wpt/blob/master/css/css-contain/reference/contain-style-counters-003-ref.html

at line 16:

(...) is the digit 20.

to replace with

(...) is the number 20.

[2018-08-15 20:37] foolip commented on #12480
OK, that makes sense for window. Inside workers, I take it `import("something")` is still necessary?

[2018-08-15 20:48] foolip commented on #9953
https://github.com/web-platform-tests/wpt/pull/12493 has a bunch of approvals. To allow for more comments/objections, I'll leave the PR up until Friday afternoon (~ 15:00 UTC) before merging.

[2018-08-15 21:14] domenic commented on #12480
No, you can do `new Worker("something", { type: "module" })`, once browsers implement that.

I didn't even think of using `import()` to test things today; that's an interesting point.

[2018-08-16 00:18] TalbotG commented on #12484
There is also another not-so-well-known protocol for naming references.

**Frequently re-used reference files are PREfixed with ref-** .
Eg.
ref-black-96px-square-no-red
ref-filled-black-96px-square
ref-filled-green-100px-square : referenced by 319 tests in August 2015 (5 changesets!; 8.5% in CSS3Writing-Modes or 14.1% of 526 tests authored by me);
~= 40 more if at-supports-001-ref.html would be m

[2018-08-16 07:40] foolip commented on #7784
Suggesting in https://github.com/tidoust/reffy-reports/issues/20 to trigger the updates from reffy-reports directly instead.

[2018-08-16 07:42] TalbotG opened #12514 "[css-text] css3-text-line-break-baspglwj-096 does not fetch csstest-ascii-webfont.woff"
http://test.csswg.org/suites/css-text-3_dev/nightly-unstable/html/css3-text-line-break-baspglwj-096.htm

Firefox 52.9.0 ESR and Chromium 68.0.3440.75 report respectively in their javascript console that
http://test.csswg.org/suites/css-text-3_dev/nightly-unstable/html/support/csstest-ascii-webfont.woff
is "404 Not Found (...) downloadable font: download failed" or "Failed to load resource: the ser

[2018-08-16 07:51] foolip opened #12515 "CSSOMString needs to be defined but is gone from cssom.idl in reffy-reports"
In https://github.com/w3c/csswg-drafts/commit/08860d449be888547017dcd88531fc68f6faf882 @tabatkins changed CSSOM so that both of the `CSSOMString` definitions in https://drafts.csswg.org/cssom/#cssomstring-type are on equal footing, and as a result neither of them gets treated by Reffy as an IDL block. This caused `typedef USVString CSSOMString` to disappear from cssom.idl in https://github.com/tid

[2018-08-16 07:59] saschanaz commented on #12515
The string type list in webidl2.js is [to process relavant Web IDL syntax](https://heycam.github.io/webidl/#prod-StringType), so probably it shouldn't be there.

[code]

[2018-08-16 08:07] foolip commented on #12515
Unfortunately I'll have to agree that makes sense, so we can't push the problem down to webidl2.js.

I think what we should do is include `typedef DOMString CSSOMString` in cssom.idl manually somehow, because a separate cssom-CSSOMString.idl for just that would be annoying. I think we'll do it as part of https://github.com/foolip/wpt-idl-importer then.

[2018-08-16 09:45] #3829 closed

[2018-08-16 09:54] zcorpan commented on #3829
@kaixinjxq can you also file a bug against Edge?

[2018-08-16 11:27] foolip commented on #2281
Closing this issue until someone shows up and wants to drive it, which I suspect will not happen.

[2018-08-16 11:27] #2281 closed

[2018-08-16 12:42] foolip commented on #11473
@jgraham recommended that I watch [How Rust Does Open Development](https://youtu.be/rdmpOktHLmM). It's a long talk, but [2m12s](https://youtu.be/rdmpOktHLmM?t=2m12s) is a brief history, [6m8s](https://youtu.be/rdmpOktHLmM?t=6m8s) has the talk outline, and [46m1s](https://youtu.be/rdmpOktHLmM?t=46m1s) has the main lessons.

The answer to [WWIC?](http://www.ftrain.com/wwic.html) was an RFC process f

[2018-08-16 13:10] svgeesus commented on #12484
There are basically three styles for doing references:

1. Name each ref after the test it is for, so `foo-073.html` is tested by `foo-073-ref.html`. If that happens to mean that `foo-073-ref.html` currently looks identical to `foo-076-ref.html` then so what; tests get revised so this might not always be the case, and disk space is fairly cheap. When updating a test, the impact of updating a ref i

[2018-08-16 15:54] gsnedders commented on #7598
https://treeherder.mozilla.org/#/jobs?repo=try&revision=7beaecd8c9c3e14b0531bfb4d57abb05cd1f83b7 is a try job with Gecko using 800x600 for WPT.

[2018-08-16 16:01] plehegar commented on #11473
I like the direction. Some comments below:

I would to make the "core team" to be at least 6 if we're keeping a requirement to have at least 3 browser engines. With only 5 and the requirement to have 3 browser engines, you're preventing the project to be independent from browser engines, which was always important in my mind to have on the paper, even if the reality is different (due to current ma

[2018-08-16 16:03] plehegar commented on #11473
btw, for the core team, what type of agreement did you have in mind?

[2018-08-16 16:10] gsnedders commented on #7598
@foolip:

Making reftests *smaller* is a much harder problem than making them larger (very few break when you expand the size of the viewport).

My gut is there's plenty of them and it's probably not worth the time to triage all of them.

I still suspect the easiest thing to do is to add support for `<meta name=viewport>` to configure the viewport size so those that rely on larger viewports can ju

[2018-08-16 19:45] foolip commented on #11109
This has now been fixed and changes have propagated to wpt.

[2018-08-16 19:45] #11109 closed

[2018-08-16 20:56] foolip commented on #7598
Yeah, let's not go looking for more trouble than we already have.

Using `<meta name=viewport>` specifically is probably a bad idea since it'll also influence the browser behavior, not just the size set by the runner. Anyhow, can we separate this from changing the default, right, or do you think this change will break some tests that have to be fixed by such a mechanism?

That might work, at least

[2018-08-17 08:50] kaixinjxq commented on #3829
The new bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18707189/

[2018-08-17 12:27] Zirro opened #12549 "/html/semantics/scripting-1/the-script-element/script-charset-02.html fails in all browsers"
The [`script-charset-02.html`](https://github.com/web-platform-tests/wpt/blob/master/html/semantics/scripting-1/the-script-element/script-charset-02.html) test fails the same way [in all browsers](https://wpt.fyi/results/html/semantics/scripting-1/the-script-element/script-charset-02.html) and is likely incorrect.

[2018-08-17 20:32] foolip commented on #12549
@njskalski who added the test

[2018-08-17 22:35] #9953 closed

[2018-08-17 22:58] njskalski commented on #12549
Hi. I recall adding it, but I was not (and am not right now) a specialist in this area, it was just marked as "easy" in Servo project if I remember correctly. I am not able to contribute in any reasonable time because I would have to make sure it does not collide with other agreements I signed and that takes time. Sorry :(

[2018-08-18 06:47] foolip commented on #12549
Looks from the test like it should be pretty easy to debug and make it pass instead. Marking as good first bug.

[2018-08-18 11:01] gsnedders commented on #7598
True. 🙂 We can certainly use some other name!

If we're just changing it to 800x600, I think we should just do it. Need to triage all the differences from the above run though.

[2018-08-18 11:08] #12419 closed

[2018-08-18 11:31] gsnedders commented on #12484
My understanding was that the TTWF docs replaced the CSS WG wiki (given the CSS WG wiki just referred to TTWF), which were themselves replaced by the docs in this repo.

The intention was certainly that https://web-platform-tests.org/writing-tests/general-guidelines.html#file-paths-and-names would apply to all files in the repo, though that isn't really obvious.

All the projects downstream from W

[2018-08-18 22:54] foolip opened #12559 "Broken .https.any.serviceworker. for non-https .any.js remain in MANIFEST.json"
After https://github.com/web-platform-tests/wpt/pull/12381, the MANIFEST.json from `./wpt manifest-download` has not been correctly updated.

This was in fact anticipated by @jgraham in https://github.com/web-platform-tests/wpt/issues/11105#issuecomment-411788257:

Diff of MANIFEST.json from `./wpt manifest-download` and `./wpt manifest --no-download` at 6aef6676d2f95c29de17666cc70d61b517939fbf:
<

[2018-08-18 23:05] foolip commented on #12559
I sent https://github.com/web-platform-tests/wpt/pull/12560, but it's not too satisfactory. I think what we need is something that causes `./wpt manifest` to not download, which we'd use when we know an incremental update won't work. A manifest format version would kinda do that, but in this case it the format didn't change at all, the code to create the manifest did.

[2018-08-19 09:33] foolip commented on #12559
Ah, there already is a manifest version, currently 4. It shows up as `"version": 4` in MANIFEST.json and comes from here:
https://github.com/web-platform-tests/wpt/blob/a65ac1967489f9519e4e58190c45df529da3f2b5/tools/manifest/manifest.py#L12

@jgraham, do you think it'd be appropriate to bump this number whenever wptserve logic changes require a full regen?

[2018-08-19 09:37] foolip commented on #12559
Here's where `ManifestVersionMismatch` is handled:
https://github.com/web-platform-tests/wpt/blob/a65ac1967489f9519e4e58190c45df529da3f2b5/tools/runner/update_manifest.py#L18
https://github.com/web-platform-tests/wpt/blob/a65ac1967489f9519e4e58190c45df529da3f2b5/tools/manifest/update.py#L40

[2018-08-19 16:47] jorydotcom opened #12564 "[docs] Add video tutorial/intro to wpt.org?"
PLH mentioned this may be something @marcoscaceres was looking into as well, but do we think we'd want some video content like:
* intro to WPT/friendly overview/explainer
* How to get started/running WPT
* How to contribute
* testharness.js tests
* Webdriver tests
* Ref tests
* Good to knows (stuff like .any.js etc)

I can help organize this effort if it's something the group is interested in.

Bo

[2018-08-19 19:56] TalbotG commented on #12484
You have to find, implement and inforce a system that will work for hundreds of thousands of tests.

A wide majority of test authors just do not know where are the frequently used and reused reference files.
Eg
There is basically **no difference** between
css/reference/pass_if_square_96px_black.html
and
css/CSS2/reference/ref-filled-black-96px-square.xht
Eg
css/reference/ref-filled-green-100px-squ

[2018-08-19 20:30] foolip commented on #7598
Yep, just change the default for now. Once the Firefox differences are triaged it might be interesting to also see if there are differences in Chrome, but ultimately it doesn't matter as much since we're already using 800x600 in content_shell.

[2018-08-20 02:46] marcoscaceres commented on #12564
hi @jorydotcom! This was my original proposal: https://github.com/w3c/wg-effectiveness/issues/21

I think it closely aligns with what you are proposing. I still think the videos would be quite helpful.

Can we just make @plehegar the WPT logo? 😂

[2018-08-20 08:03] TalbotG commented on #12421
@mrego

[2018-08-20 08:13] foolip commented on #12549
Fixed in https://github.com/web-platform-tests/wpt/pull/12562, yay!

[2018-08-20 08:13] #12549 closed

[2018-08-20 09:39] foolip commented on #12559
Excellent, the MANIFEST.json uploaded for merge_pr_12565 looks right now.

[2018-08-20 15:34] gsnedders commented on #12484
@frivoal:

In WebKit refs are name-of-test followed by `-expected.html` (similar in behaviour to the now mostly historic `-expected.png`). In Gecko they mostly use either `-ref` as a suffix or are descriptive of the ref, depending on generality.

That quickly adds a lot of complexity (relative paths, presence of any scripting, etc.), though.

@TalbotG:

Though enforcing anything in a project with

[2018-08-20 16:03] jorydotcom commented on #12564
Yes, with the caption "Where are your tests?" 😂

Thanks for the wg-effectiveness link. That's probably exactly what he was referring to, and I didn't quite understand that he meant videos to assist with the spec development process. There seems to be quite a lot of related conversation happening on those threads and it *kind of* looks like @tobie may have already started some vids?

[2018-08-20 16:11] tobie commented on #12564
Nope. 😅

[2018-08-20 18:40] plinss commented on #12371
Done.

Sorry for the delay, I’ve been swamped with work.

[2018-08-20 18:40] #12371 closed

[2018-08-20 21:06] gsnedders opened #12578 "Selenium executor uses wrong viewport size for reftests"
From executorselenium.py:

[code]

This is the selenium.webdriver method, which sets the outer size of the browser window, and not the size of the viewport (including any scrollbars).

[2018-08-20 21:07] gsnedders commented on #7598
Related: #12578. We should probably fix that at the same time.

[2018-08-20 21:47] timdream opened #12580 "[innerText] <source> inside <audio> should always return textContent because it is never being rendered"
I am looking at `getter-tests.js` at [here](https://github.com/web-platform-tests/wpt/blob/87329a1500b1aea8f9cf28b40afb08491e25a5c7/html/dom/elements/the-innertext-idl-attribute/getter-tests.js#L135). According to the DOM spec [here](https://html.spec.whatwg.org/multipage/dom.html#the-innertext-idl-attribute) it asks `innerText` to return the same value as the textContent IDL attribute on this ele

[2018-08-20 21:49] timdream commented on #12580
(Context: I was trying to enable https://bugzilla.mozilla.org/show_bug.cgi?id=1484048 which changes the behavior of Gecko. It would happen to align with Chromium and fail on these two tests.)

[2018-08-20 22:07] emilio commented on #12580
I filed https://github.com/whatwg/html/issues/3947 for display: contents, but I think this is just a Gecko bug in the innerText implementation. The spec uses `being rendered`, but gecko uses "is or has any ancestor with display: none", which is not the same for fallback content for `<canvas>`, for example.

I think all the tests here should output the same:

[code]

@annevk do you agree?

[2018-08-20 22:09] emilio commented on #12580
TL;DR: I think that the test and Gecko should be fixed.

[2018-08-20 22:15] emilio commented on #12580
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1484855 for that.

[2018-08-21 09:43] foolip commented on #12379
FWIW, I'm now having to fix Blink's runner when importing the recent changes, so this would be nice :)

[2018-08-21 12:04] jdm opened #12589 "Can't update existing manifest due to version change"
Since https://github.com/web-platform-tests/wpt/pull/12563 Servo is unable to update its manifest when syncing:
[code]
I've tried deleting the manifest to see if it is recreated but that yields:
[code]
What's the right way to deal with this?

[2018-08-21 15:32] gsnedders commented on #10990
My concern is mostly the fact that dispatching events through WebDriver is inherently sequential, so we'd have to queue them somewhere. This isn't per se a blocker, but it could end up in rather weird situations where the document repeatedly gets scrolled up and down to run different actions on different elements as it jumps between tests.

[2018-08-21 18:17] aaqaishtyaq opened #12600 "/html/semantics/scripting-1/the-script-element/script-charset-01.html test #4 fails"
[script-charset-01.html](https://github.com/web-platform-tests/wpt/blob/master/html/semantics/scripting-1/the-script-element/script-charset-01.html) test 4 fails in [chrome and edge browsers](https://wpt.fyi/results/html/semantics/scripting-1/the-script-element/script-charset-01.html)

[2018-08-21 20:33] foolip opened #12603 "tools/third_party/h2+hpack+hyperframe are duplicated in tools/third_party/hyper/"
https://github.com/web-platform-tests/wpt/pull/11806 added tools/third_party/h2, tools/third_party/hpack and tools/third_party/hyperframe. (Also enum and certifi, which aren't part of the duplicated code.)

https://github.com/web-platform-tests/wpt/pull/12193 added tools/third_party/hyper/, which internally has copies of h2, hpack and hyperframe.

Pairs of duplicated directories:
* [tools/third_pa

[2018-08-21 20:44] dhdavvie commented on #12603
Ahh yes. Hyper uses an older version of the h2 library. To avoid issues and avoiding downgrading the server's version of h2, I decided to include the downgraded h2 dependency within hyper's own folder. The only real way to avoid this would be to downgrade the entire server's version of h2, which I feel would not be in the best interest of the implementation, what do you think?

[2018-08-21 20:47] dhdavvie commented on #12603
Actually I lie, I took a look at Hyper's use of h2 and managed to create a version that uses the new h2. I can look into shipping this customised version of Hyper to remove the confusion, although this may cause some complications later with CI when having custom libraries

[2018-08-21 21:43] foolip commented on #12603
@dhdavvie, I don't understand how these libraries fit together so I have nothing useful to say about how the dependencies *ought* to be untangled, just that what we have seems like a mistake, especially if both bits of code really are used.

Are wptserve/tests/functional/base.py and wptserve/tests/functional/test_response.py the only place that use hyper? They are the only real matches outside of

[2018-08-21 22:33] foolip commented on #10990
If the order in which the commands are queued isn't deterministic that could indeed get a bit funny, but a quite typical case will be that a bunch of `async_test` call `test_driver.bless` the first thing they do, and thus are effectively made to run sequentially by having the commands queue up. Seems OK?

[2018-08-22 02:38] jugglinmike commented on #10990
I think the effect is even less severe for that case. Sub-tests declared via
`async_test` typically start off running in series (since they're commonly
declared sequentially in one or more `<script>` tags). If the very first thing
they do is execute a function which forces serial execution, the overall
schedule hasn't changed. They will go on to make asynchronous calls, and that's
where the parall

[2018-08-22 09:51] dhdavvie commented on #12603
I agree that it is definitely not ideal. I will look into how stable the implementation is when I manually change the Hyper library to use the newer version of h2, and this way we can hopefully remove the almost redundant library duplications.

Yes, and wptserve/tests/functional/test_handler.py

[2018-08-22 10:29] foolip commented on #12589
@jdm, sorry that I created trouble for you! I see the PR at https://github.com/servo/servo/pull/21473, so assigning this to you.

The code you have there is very similar to this:
https://github.com/web-platform-tests/wpt/blob/a65ac1967489f9519e4e58190c45df529da3f2b5/tools/manifest/update.py#L40

Perhaps it would make sense to update this code path:
https://github.com/web-platform-tests/wpt/blob/05

[2018-08-22 10:31] jgraham commented on #12589
I think that manifest.py clearly needs an update-or-create codepath that will trasparently handle version mismatches.

[2018-08-22 10:56] dhdavvie opened #12614 "[HTTP/2.0] Functional tests cannot detect server failure"
Currently, if the server comes across an exception when handling a stream it will log the exception, the thread of that stream will exit but the server will continue as normal and handle other streams/requests. This is good for the general purpose of the server, for example, a faulty PythonHandler script shouldn't crash the entire server. The issue arises when it comes to unit testing the server,

[2018-08-22 11:45] dhdavvie opened #12618 "[HTTP/2.0] Expose priority of streams"
As mentioned in whatwg/fetch#785, being able to check the stream priority would be very useful. Unfortunately, the H2 library does not expose this easily. It looks like there would need to be some editing to the [`receive_data()`](https://python-hyper.org/projects/h2/en/stable/api.html#h2.connection.H2Connection.receive_data) function so that it also returns the frames associated to events as the

[2018-08-22 12:58] andreastt commented on #12166
Yes. You shouldn’t see debug-level output from Marionette by default anymore. You can surface it by passing `--webdriver-arg=-vv` to wptunner, however.

[2018-08-22 13:16] foolip commented on #12166
@Hexcles, can you check a recent run to see if what you originally saw is gone?

[2018-08-22 14:02] Hexcles commented on #12166
Verified (https://travis-ci.org/web-platform-tests/wpt/jobs/419186171#L622). Thanks, @andreastt .

[2018-08-22 14:03] foolip commented on #12166
OK, can't blame https://github.com/web-platform-tests/wpt/pull/11436#issuecomment-415014243 on this issue then :)

[2018-08-22 14:07] foolip commented on #7444
https://uptime.statuscake.com/?TestID=kbUT7hiAxw now has 5m updates for all the things. (15m is the default, as you might guess.)

[2018-08-22 14:08] gsnedders opened #12621 "Safari failing infrastructure tests"
With Safari TP 63:

[code]

- [ ] /infrastructure/assumptions/html-elements.html — https://bugs.webkit.org/show_bug.cgi?id=187052
- [ ] /infrastructure/server/context.any.sharedworker.html, /infrastructure/server/order-of-metas.any.sharedworker.html, /infrastructure/server/secure-context.https.any.sharedworker.html, /infrastructure/server/title.any.sharedworker.html — SharedWorker unsupported
- [

[2018-08-22 14:17] jugglinmike commented on #7444
Excellent. Thank you!

[2018-08-22 15:00] andreastt commented on #12166
FWIW we also have a future plan to suppress Firefox output, but it’s a bit into the future: https://bugzilla.mozilla.org/show_bug.cgi?id=1399441

[2018-08-22 21:19] Hexcles opened #12632 "Teardown errors are counted as separate subtests in webdriver/ tests"
I'm not sure where exactly the bug is (wptrunner or WebDriver tests themselves?), so let me describe the symptom:

In https://wpt.fyi/results/webdriver/tests/actions?label=experimental , you can see the total numbers of tests of some files on Chrome are higher than those on the other browsers. Upon inspecting the raw results, I find some subtests appear twice, once with the actual failure and once

[2018-08-22 22:15] foolip opened #12635 "./wpt check-stability fails with ManifestVersionMismatch if older MANIFEST.json is present"
After https://github.com/web-platform-tests/wpt/pull/12563 some PRs have been failing like this when running check-stability:

[code]

(From https://travis-ci.org/web-platform-tests/wpt/jobs/419337736#L600)

The PRs are running code where `CURRENT_VERSION` is 5, so this must mean there's a MANIFEST.json on disk with version 4. Exactly how it got there I don't know, but it's a situation that should

[2018-08-22 22:15] foolip commented on #12635
@gsnedders I'll be OOO for the rest of the week, might you have time to look at this?

[2018-08-22 22:18] foolip commented on #12635
Known affected PRs:
https://github.com/web-platform-tests/wpt/pull/12530
https://github.com/web-platform-tests/wpt/pull/12542
https://github.com/web-platform-tests/wpt/pull/12555
https://github.com/web-platform-tests/wpt/pull/12556

I will try to get those merged without blocking on a fix for this.

[2018-08-22 22:40] TimothyGu commented on #12635
As I noted on IRC, purging the cache worked for the two PRs I tried it on.

[2018-08-22 22:42] Hexcles commented on #12635
I'm not sure if it's safe to purge all cache.

[2018-08-22 22:43] foolip commented on #12635
Can someone paste how to purge the cache, for others that need it? (This issue has repro steps so don't need to experiment on Travis.)

[2018-08-22 22:44] Hexcles commented on #12635
One can purge cache for an individual build, or drop all cache: https://travis-ci.org/web-platform-tests/wpt/caches

[2018-08-22 22:46] TimothyGu commented on #12635
What possible harm could it do other than longer build time?

[2018-08-22 22:58] TimothyGu commented on #12635
The Travis CI cache page doesn't display all PR branches however. If you need to get it working _now_, here's the equivalent `curl` command:

[code]

I'm still pretty convinced that purging all cache is the right thing to do here.

[2018-08-23 02:15] djmitche commented on #12265
Sorry for the late answer!  I think the different workers work differently.  It looks like docker-worker doesn't compress anything but the logs, as you've noticed.  So this isn't a change.  I don't think we changed anything in the cloudfront configuration, but I'm less confident about that one.  From that link, it doesn't look like there's actually anything to configure in CloudFront -- it just do

[2018-08-23 11:31] zcorpan commented on #10576
https://bugs.webkit.org/show_bug.cgi?id=188884

[2018-08-23 11:39] zcorpan commented on #10655
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18774235/

[2018-08-23 11:40] zcorpan commented on #10573
https://bugzilla.mozilla.org/show_bug.cgi?id=1485627

[2018-08-23 12:14] whimboo commented on #12166
I still see TRACE output from Marionette in the latest Travis builds:
https://travis-ci.org/web-platform-tests/wpt/jobs/419595739

So is this really fixed?

[2018-08-23 15:01] Hexcles commented on #12166
Sorry, you're right. The job I was looking at somehow just didn't have trace output.

Travis is currently running geckodriver 0.21.0 & Firefox Nightly. Has the patch not released yet?

[2018-08-23 15:06] jgraham commented on #12166
It looks like the patch still sets `logging::max_level()` as the default level. Am I missing something?

[2018-08-23 17:59] jdm opened #12656 "Responsive images' environment changes check for broken images is broken"
https://github.com/web-platform-tests/wpt/blob/8158699f81fb068af4fb8f70661388b1fdb88813/html/semantics/embedded-content/the-img-element/environment-changes/viewport-change.html#L42 currently reads:
`var expect_change = expected[next].indexOf('broken.png') !== 0 && !('noChange' in img.dataset);`
However, the actual value of expected[next] from https://github.com/web-platform-tests/wpt/blob/bbb7a379

[2018-08-23 19:06] whimboo commented on #12166
Oh, so that was a geckodriver change! So as long as we don't release a new version of geckodriver, nothing might change here, right?

[2018-08-23 20:15] Hexcles commented on #12166
If it's a geckodriver change, then yes. We use the latest released geckodriver, not nightly.

[2018-08-24 11:48] Ms2ger commented on #12600
I'm guessing this is
[code]

I'm not sure why you filed this issue, though. Are you suggesting the test is wrong?

[2018-08-24 13:10] #12656 closed

[2018-08-24 15:02] gsnedders commented on #12635
Did someone purge all caches? The master cache is much smaller than it was a few days ago when we first started discussing this.

[2018-08-24 15:14] Hexcles commented on #12635
Yes. We did yesterday.

[2018-08-24 15:15] gsnedders commented on #12635
Is this therefore fixed and can be closed?

[2018-08-24 15:47] gsnedders commented on #12621
Do we want to workaround these bugs, because they aren't per-se Safari running tests incorrectly? Except maybe the bless.html one?

[2018-08-24 16:42] gsnedders commented on #12632
Almost certainly wptrunner's wrapper around pytest, unless that's how pytest outputs it?

[2018-08-24 20:25] TimothyGu commented on #12635
Probably. Can always reopen if there are remaining issues.

[2018-08-24 22:08] foolip commented on #12635
The same will happen next time we bump the manifest version, so fixing this is still important, but not urgent.

[2018-08-27 07:39] whimboo commented on #12632
Hm, hard to tell without being able to see the log output from those other browsers test jobs.

[2018-08-27 10:30] foolip commented on #12589
@jdm has this been resolved as far as servo is concerned? To prevent the same thing from happening next time, will https://github.com/web-platform-tests/wpt/issues/12635 suffice? (I suspect not, you also have to switch to using an update-or-create variant.)

[2018-08-27 14:34] gsnedders commented on #7598
So having looked through the Firefox changes, I think that moving to 800x600 doesn't break anything?

[2018-08-27 14:37] Ms2ger opened #12693 "WindowsError does not exist on non-Windows"
https://github.com/web-platform-tests/wpt/pull/9652 added an `except WindowsError` clause, but if there's an error raised in the `try` block on non-Windows, you get

[code]

CC @csnardi

[2018-08-27 14:58] gsnedders commented on #12693
Oh I thought I'd fixed this. Obviously not. :(

[2018-08-27 16:02] foolip commented on #7598
Are there no changes at all, not even tests that began passing as a result? It's suspicious if no differences at all can be spotted.

[2018-08-27 16:03] gsnedders commented on #7598
There are changes (quite a lot), but almost all are unexpected passes, all of which seem correct. The single unexpected failure is caused by the test not correctly failing on a narrow viewport.

[2018-08-27 16:27] gsnedders commented on #7598
We should also make sure everyone is on-board with changing the reftest size before we land any change here.

[2018-08-27 16:34] gsnedders commented on #5403
@TalbotG

See #7598; we're not consistent here, though the upstream maintained runners use 600x600. It seems likely that we'll change that to be larger, however.

In some tests, that could be more difficult or a lot more difficult ...

That's definitely true. That said, there's definitely an argument as to whether it's a worthwhile use of resources to fix these tests versus other things people cou

[2018-08-27 17:43] gsnedders opened #12696 "Unable to update expectations"
[code]

Hacking that line to be `state.property_order = (property_order or []) + (state.extra_properties or [])` causes it to change the expectations of several tests unconditionally, instead of adding exceptions for safari, which is what I'd expect given I didn't pass in `--ignore-existing`.

[2018-08-27 17:46] gsnedders opened #12697 "Document how to update infrastructure/metadata"
Having hacked around #12696, running `./wpt update-expectations --product safari --metadata infrastructure/metadata/ --manifest MANIFEST.json safari.log` I get:

[code]

This isn't what I expect. How do I update expectations for Safari only, without overwriting existing expectations (note I didn't pass in `--ignore-existing`)?

If I instead run it without `--product`, which is apparently optional,

[2018-08-27 17:48] gsnedders commented on #12697
See https://gist.github.com/gsnedders/fadcc35d961b9958a2a4805fc194d03d for the logs I was using.

[2018-08-27 17:50] gsnedders opened #12698 "Document how to view reftest results"
Currently when a reftest fails, we get output like:

[code]

This is much less useful than the output we get with any other test type. We should make it far clearer how to actually debug such a failure, and how to view the taken screenshots. AFAIK we have no documentation for this currently.

[2018-08-27 17:50] gsnedders commented on #12696
(I have no idea whether the above is the correct fix because I don't understand the code at all.)

[2018-08-27 18:00] gsnedders opened #12699 "/infrastructure reftests fail in Firefox on macOS"
/infrastructure/reftest/reftest_match.html
/infrastructure/reftest/reftest_or_0.html
/infrastructure/reftest/reftest_wait_0.html

all fail on macOS locally, due to /infrastructure/reftest/green.html being rendered with a rounded corner in the bottom right (due to the OS window styling? why wouldn't it affect the other pages then, though?)

[2018-08-27 18:00] gsnedders commented on #12699
https://gist.githubusercontent.com/gsnedders/fadcc35d961b9958a2a4805fc194d03d/raw/a34283b2cc30f9d3cc1f83012678df704fcc3752/firefox.log is a log from running `/intrastructure`

[2018-08-27 20:41] jugglinmike commented on #7598
The only problems I can imagine would come if this change were somehow incompatible with `xvfb` or if they necessitated a change to the invocation of `wpt run`. I don't think either of these are true, though, so we should be good.

[2018-08-28 03:03] TalbotG commented on #12419
@ewilligers
Eric, has this issue really been fixed? I ask because I still get a reference error:
**ReferenceError: test_invalid_value is not defined**
when I try the following 10 tests:

http://test.csswg.org/harness/test/css-writing-modes-3_dev/direction-valid/
http://test.csswg.org/harness/test/css-writing-modes-3_dev/direction-invalid/
http://test.csswg.org/harness/test/css-writing-modes-3_dev/

[2018-08-28 13:51] gsnedders opened #12719 "Move browser discovery into wptrunner"
At the moment, we have a mixture of logic in tools/wpt/browser.py and tools/wptrunner/wptrunner/webdriver_server.py and tools/wptrunner/wptrunner/browser/*.py; we should simplify all this.

We have:

 * ways to find a binary in multiple places (I'm not sure what wptrunner itself even does in some cases, and I can't figure out how to run it in isolation)
 * `browser_version` passed in as a `kwarg`

[2018-08-28 16:02] inexorabletash commented on #11529
`worker.js` also requires a `done();` at the end.

(Came here to file a bug proposing that we fix worker.js and update the tests.)

[2018-08-28 17:14] jugglinmike commented on #7598
The [results-collection project uses `xvfb-run`](https://github.com/web-platform-tests/results-collection/blob/a239e9a12c662b27ca8d89d4df21e103df0608d6/src/master/wpt_run_step.py#L77), and  [`xvfb-run`](http://manpages.ubuntu.com/manpages/xenial/man1/xvfb-run.1.html) wraps [`xvfb`](https://linux.die.net/man/1/xvfb). We don't specify any arguments via `--server-args`, so the `-screen` option takes

[2018-08-28 17:15] loonybear opened #12725 "Unable to test with page zoom in / zoom out or different device pixel ratio"
I would like to test that a image's width / height scales with device pixel ratio but its natural width and natural height remains.

In Blink layout test, we could do things like eventSender.zoomPage{In,Out}(), I am wondering if we could do something similar here.

Thanks

[2018-08-30 12:07] jgraham commented on #12697
It doesn't know what the total space of all configurations is, so if you pass it one set of logs it assumes they represent all possible results for those tests. It is possible to do the opposite and assume that the output should be as specific as possible given the input, but that's not implemented.

I think `--product` defaults to `firefox` so if you don't supply one that's what you get. It could

[2018-08-30 15:33] wanderview opened #12763 "storage size limitations?"
I'd like to write some WPT tests for Cache API that stress large resource and cache sizes.  For example, individual resources 256MB+ and total cache size 2GB+.  Do the various folks running WPT infra think these sizes would exceed bot limitations?  Can we define a guaranteed supported storage size for test writers to target?

[2018-08-30 15:43] Hexcles commented on #12763
I think Chromium CI probably has enough temporary storage to handle this, but I'll have to double check.

Meanwhile, @jgraham for Taskcluster , @jugglinmike for Buildbot, and @thejohnjansen too.

[2018-08-30 15:51] jgraham commented on #12763
I don't know this won't work, but I won't be surprised to see it causing problems either. For example the server is likley to be slow generating a 256Mb response so generating several of them at once is liable to cause problems for `w3c-test.org` or `web-platform-tests.live`.

We arleady have `/resources/large.py` for generating huge responses fwiw.

[2018-08-30 15:56] Hexcles commented on #12763
You mean `/common/large.py`?

There's only one test using it, and it looks like a manual test: https://github.com/web-platform-tests/wpt/blob/ce2196e7a345f209ce095ec6c7356f3a6cf168d4/html/editing/dnd/file/007.html#L98
(And the response is only 32Mb big.)

2GB+ might be challenging. It could exceed in-memory tmpfs on average machines, or cause trouble on legacy filesystems.

[2018-08-30 16:03] jgraham commented on #12763
Total cache size > 2Gb isn't a single response > 2Gb though. But yeah, if you're running entirely on a ramfs then it could be a problem. I *expect* TaskCluster to be OK, but it's hard to predict all the failure modes without trying it.

[2018-08-30 19:23] jugglinmike opened #12766 "Annotating tests for optional features"
It's currently difficult to contribute tests for functionality that is specified as optional. (See gh-12732 for a recent example.)

In some cases, test authors can wrap their sub-tests tests in feature-detection logic so that they are only executed in browsers that advertise support. This results in "empty" tests for non-supporting browsers, and that's not ideal because it complicates the meaning

[2018-08-30 20:16] foolip commented on #12766
Another feature which has been frustrating testing-wise is [`<video preload>`](https://html.spec.whatwg.org/multipage/media.html#attr-media-preload). It is merely a hint, even for `preload=none`, see "Optionally, run the following substeps" in the [resource fetch algorithm](https://html.spec.whatwg.org/multipage/media.html#concept-media-load-resource).

@jugglinmike, I think you're right that mere

[2018-08-31 00:34] jugglinmike commented on #7598
Sauce Labs support got back to me, and we now have docs!

So if we go with @jgraham's [suggestion to use 800x1000](https://github.com/web-platform-tests/wpt/issues/7598#issuecomment-347576216), then we'll need to update wptrunner. Otherwise, no change is necessary.

[2018-08-31 06:56] zcorpan commented on #12766
If we mark optionalness on a per-file basis, I think a filename convention could be better than in-file metadata, since it's more visible (if you look at a list of tests being imported, for example).

[2018-08-31 07:57] foolip commented on #7598
https://github.com/web-platform-tests/wpt/pull/12695 is going with 800x600, in which case no impact for Sauce.

[2018-08-31 08:12] henbos commented on #10126
Hey so I haven't read all of the discussion here but I think the spec is fine and Chrome has an implementation bug.

JavaScript pretends to be single threaded and is not allowed to expose the fact that the buffer is being reduced concurrently. So the spec says "When the underlying data transport sends data from its queue, the user agent MUST queue a task that reduces [[BufferedAmount]] with the nu

[2018-08-31 08:13] henbos commented on #10126
I am confident the spec will not change on this point. Can we close this issue and await browser bug fixes?

[2018-08-31 08:31] lgrahl commented on #10126
Yes, this can be closed. My comment earlier was before I understood that reducing the value immediately would create race conditions between the underlying stack running in parallel to a JS task. We have improved the description in https://github.com/w3c/webrtc-pc/pull/1850 to (hopefully) ensure people are more likely to grasp it. (And just FYI, Firefox is also affected.)

[2018-08-31 09:51] jgraham commented on #12719
I don't think wptrunner is doing anything complex; it just takes the binary you pass it through command line options and uses that. The only change is can make is wrapping it in a debugger if you are trying to run under gdb or similar. Is that not the case?

I changed the `browser_version` thing as part of #12679

That said I agree with the conceptual separation that `wpt run` should deal with set

[2018-08-31 10:06] jgraham commented on #7598
@dbaron Do you have any objection to making wpt reftets 800x600 rather than 600x600? Based on the gecko run mentioned about it looks like authors are writing tests incorrectly assuming a larger viewport so there are a bunch of spurious failures from running at 600x600 (it's unclear where this converges i.e. we might get even more passes running at a larger size).

[2018-08-31 11:30] gsnedders commented on #7598
@jgraham @dbaron IIRC, it converges near Presto's old 1600x1200, which I think is too large to be practical.

[2018-08-31 14:27] Ms2ger opened #12781 "What is webaudio/resources/audit.js?"
https://github.com/web-platform-tests/wpt/blob/8aa4853c2a65dd73c30fbe9f156771abfb8669e2/webaudio/resources/audit.js

It seems like it unnecessarily re-invents parts of testharness.js. Why was it introduced? What makes plain testharness.js insufficient? Can we solve its use cases without introducing a completely different harness?

CC @hoch @padenot @foolip @jgraham @gsnedders

[2018-08-31 14:34] foolip commented on #12589
Ping @jdm

[2018-08-31 14:35] foolip commented on #12166
@whimboo do you know when the next geckodriver release will be?

[2018-08-31 14:55] foolip commented on #12781
I plead ignorance. https://github.com/web-platform-tests/wpt/pull/12606 is the first time I came across it and just to unblock a Chromium export.

[2018-08-31 15:25] jdm commented on #12589
Yes, it has been resolved.

[2018-08-31 15:25] #12589 closed

[2018-08-31 15:42] jgraham commented on #12766
The problem is that there are at least three classes of optionality:

* Things that are flagged as optional in specs, but in practice all browsers have to pick the same behaviour (some other class of UA might pick another behaviour, but we don't really care about that).

* Things that are truely optional and each UA picks exactly one behaviour and always implements it.

* Things that are opttional

[2018-08-31 15:45] gsnedders commented on #12766
CSS also has a "should" flag, as well as "may" (corresponding to the RFC2119 states). It's been brought up before that having this metadata is a requirement for CSS WG implementation reports previously.

[2018-08-31 16:27] gsnedders commented on #12763
Technically this is all going to be undefined, given browsers can evict caches whenever.

[2018-08-31 16:28] gsnedders commented on #12763
Uh, I meant to mention there that this vaguely overlaps with #12766.

[2018-08-31 17:02] gsnedders commented on #11476
Until w3c/csswg-drafts#1088 is resolved, I think to do this we'd need a flag meaning "take the screenshot as soon as this is removed, regardless of whether the load event has fired".

I don't know if we can change the semantics of "reftest-wait" to avoid waiting for the load event; a quick grep through usage tends to show it statically exists and is removed dynamically (almost?) everywhere, so it

[2018-08-31 17:10] jugglinmike commented on #12766
I'm in favor of the "do not test in WPT" answer; I just initially assumed this was a case of my being too conservative. It's what I recommended in gh-10840, but I lacked the confidence to insist on it. If we can get agreement from more maintainers, then we should document it as a formal policy.

@gnsedders @annevk @domenic @foolip you folks give a lot of reviews. What do you think about rejecting

[2018-08-31 17:11] jugglinmike commented on #12766
My mistake: I meant "@gsnedders"

[2018-08-31 17:17] domenic commented on #12766
I'd prefer UAs being able to share tests, at least in cases where there might conceivably be shared behavior. In several cases I think we've committed "should" tests where most or all browsers passed them.

[2018-08-31 18:01] hoch commented on #12781
First, `audit.js` predates the adoption of testharness.js in Chromium project. Chrome WebAudio team has been using it for last 4 years.

It offers various utilities for testing/verifying audio data plus managing asynchronous tasks nicely. The majority of WebAudio test in Chrome uses OfflineAudioContext and we really needed a nice way of dealing multiple asynchronous tests. Most importantly, we do

[2018-08-31 18:34] wanderview commented on #12763
I've decided to write my test as a browser-specific test for now.  It would be interesting to have better support for testing the behavior of large resources in the future, though.

[2018-08-31 19:46] foolip commented on #12781
I'm confident that won't be necessary. If there is something about audit.js that is problematic, then fixing that would also involve fixing the tests. Not to say that there *is* something problematic, but if you search for [generate_tests](https://github.com/web-platform-tests/wpt/issues?utf8=%E2%9C%93&q=generate_tests) you'll find a bunch of PRs to get rid of that method in various contexts, but

[2018-08-31 20:05] rtoy commented on #12781
That's really good to hear.  I don't have a lot of experience with plain test_harness, but the best part about audit.js are the messages printed out for each test.  With a bit of care, you can easily see what is being tested and whether the it makes sense.  And in particular when a test fails, we've tried to make the output really verbose to make it easy to see why the test failed.  Nothing sucks

[2018-08-31 20:36] foolip commented on #12781
Having a look at https://wpt.fyi/results/webaudio/the-audio-api/the-audiobuffer-interface/audiobuffer.html, it looks like the generated subtest names includes a lot of detail about the pass conditions. I can certainly see how that would come in handy in debugging.

The usual approach with testharness.js is to have more human readable test names, and to make the failure messages contain the require

[2018-09-01 13:30] zcorpan opened #12791 "Automated accessibility tests"
See https://github.com/web-platform-tests/wpt/pull/12691#issuecomment-416990698

Other approaches could be having something in WebDriver to ask about the accessibility tree, or having a "screen reader" that you can query via some API from the test itself.

cc @halindrome @joanmarie @foolip @jugglinmike

[2018-09-03 08:32] whimboo commented on #12166
Not shortly. We converted the code from `rustc_serialize` to `serde` which was a big refactoring. So we need a bit more baking time. But would it somehow be possible to run the tests here with a pre-release of geckodriver? It would be great to know that all tests pass too.

[2018-09-03 08:44] foolip commented on #12166
@jgraham? https://github.com/mozilla/geckodriver/releases doesn't have any pre-releases, so I don't know where we'd get them.

[2018-09-03 11:15] gsnedders commented on #11476
Presumably DOMContentLoaded?

[2018-09-03 14:52] Ms2ger commented on #5381
Can whoever changed the CSS thing also change the lint?

[2018-09-03 17:55] gsnedders commented on #7475
There's the case with infra changes (esp. to the runner, but also with things like testharness.js) where we want to run *all* the tests and compare results; we should at least make that possible somehow.

[2018-09-03 19:04] jgraham commented on #12166
I mean it's possible, but I don't think it's particularly easy. You get it (iirc) from the `target.common.tests.tar.gz` package, which you an find on `archive.mozilla.org`. Maybe it's possible to convince mozdownload to grab that package and then extract the relevant binary? Otherwise one could probably hardcode the URL.

[2018-09-04 12:41] jgraham commented on #12166
OK, so this was easier than I expected. https://github.com/web-platform-tests/wpt/pull/12824 fixes this, but it depends on https://github.com/web-platform-tests/wpt/pull/12679

[2018-09-04 13:03] whimboo commented on #12166
Do we really want to depend on geckodriver nightly builds? Note that we are not done yet with verification if all the Serde work is fine.

On the other side it would be great to see the real current state of the work I do, and that I don't have to wait until the next geckodriver release to see the changes.

[2018-09-04 13:44] jgraham commented on #12166
geckodriver is only used for wdspec tests and I think that when testing the latest nightly firefox it makes sense to also use the latest nightly geckodriver.

[2018-09-04 13:52] whimboo commented on #12166
Ok, so as long as it is hidden behind the `experimental` filter, it's fine. Thanks.

[2018-09-05 01:44] jugglinmike commented on #12766
@domenic I could be convinced that the benefit of shared tests outweighs the drawbacks of irrelevant failures. I'm most interested in consistency. If we want to accept "most" tests, do you think there's an objective heuristic we could use?

[2018-09-05 02:00] domenic commented on #12766
Perhaps if a test is useful by 2+ engines

[2018-09-05 15:55] Ms2ger opened #12850 "Add support to ArrayBuffer in idlharness"
[code]

needs

[code]

to avoid an "Unrecognized type ArrayBuffer" `IdlHarnessError` from `IdlArray.prototype.assert_type_is`, which seems unhelpful.

[2018-09-05 16:42] gsnedders commented on #12850
Should we not just make sure we have all the JS built-ins?

[2018-09-05 23:04] #9972 closed

[2018-09-06 09:06] frivoal commented on #12509
fixed by 99c4f1dd3b4

[2018-09-06 09:06] #12509 closed

[2018-09-06 09:07] frivoal commented on #11934
fixed by https://github.com/web-platform-tests/wpt/pull/12417

[2018-09-06 09:07] #11934 closed

[2018-09-06 17:23] gsnedders opened #12874 "Tasks going OOM on Taskcluster"
e.g., https://tools.taskcluster.net/groups/f7409aGOTa6OJLwvyw7igw/tasks/N0HriXt3TH62lxQhwftRlg/details went OOM (in the job for https://github.com/web-platform-tests/wpt/pull/12380)

The suite ends with:

[code]

If we're having this happen several times on one commit, then it seems likely this will happen semi-regularly, which makes it hard to rely on for PRs or anything else.

[2018-09-06 17:43] gsnedders opened #12876 "TC runs can be successful when throwing Python exceptions"
e.g. see https://tools.taskcluster.net/groups/JWdij6zCR4mWmw2V4ogQXA/tasks/Ll6F-MrBSOyvAtEG7viEgg/runs/0/logs/public%2Flogs%2Flive.log

[code]

This shouldn't be a success.

[2018-09-06 18:10] gsnedders commented on #12874
Where does the memory limit come from?

[2018-09-06 18:16] jgraham commented on #12874
Presumably from the AWS instance type.

[2018-09-06 19:08] Hexcles opened #12880 "`foo-manual.html.headers` is considered as a test by manifest"
It should be a support file.

https://github.com/web-platform-tests/wpt/blob/2c6612a9b0f67c95fc8cc772cfecc2c1d435d75d/tools/manifest/sourcefile.py#L184

https://github.com/web-platform-tests/wpt/blob/2c6612a9b0f67c95fc8cc772cfecc2c1d435d75d/tools/manifest/sourcefile.py#L604

This logic above essentially treats anything "-manual" as a manual test.

[2018-09-06 19:31] TimothyGu commented on #10795
The test in question was removed in https://github.com/web-platform-tests/wpt/pull/12634.

[2018-09-06 19:31] #10795 closed

[2018-09-07 04:09] foolip commented on #11476
Sure, that makes sense. So first wait for DOMContentLoaded, and check for the reftest-wait attribute in that callback. If it's present use MutationObserver to wait until it's removed, and if not wait for load + document.fonts.ready.

[2018-09-07 07:39] #12876 closed

[2018-09-07 13:04] ewilligers commented on #12419
Links like the following show success:
http://test.csswg.org/harness/test/css-ui-3_dev/cursor-invalid/

My best guess for why the links show success for css-ui but not css-writing-modes:
The css-ui tests were initially checked in using support/ where the css-writing-modes tests were initially checked in using resources/

Now all the tests use /css/support so all the tests should be consistently pa

[2018-09-07 16:28] gsnedders commented on #12419
Looking at a random writing-modes tests linked above, it uses `<script src="resources/parsing-testcommon.js"></script>` which isn't what https://github.com/web-platform-tests/wpt/blob/master/css/css-writing-modes/parsing/text-orientation-valid.html uses. I presume the testsuite hasn't been rebuilt on the server?

[2018-09-07 16:57] TalbotG commented on #12419
That is also what I thought.

I do not know when the testsuite is supposed to be rebuilt or under which conditions.

[2018-09-07 18:02] gsnedders commented on #12880
Hahahahahaha, this is fantastic. A++ us.

[2018-09-07 18:06] gsnedders commented on #12419
@plinss ^^

[2018-09-07 21:09] foolip commented on #12880
@Hexcles how did you discover this? priority:backlog or roadmap?